[2019-08-19 06:00] sara-tagger commented on #4274
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-19 06:00] #4274 closed

[2019-08-19 06:00] sara-tagger commented on #4270
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-19 06:00] sara-tagger commented on #4268
Thanks for submitting this feature request 🚀@erohmensing will get back to you about it soon!✨

[2019-08-19 06:40] Indranil-hue opened #4276 "how do I stop the training of RASA"

[2019-08-19 06:55] richie312 commented on #4263
@sara-tagger : This error is initiating from the below command from train_init.py, (you can find the file in the repo; provided above.)

<code>agent = Agent('weather_domain.yml', policies = [MemoizationPolicy(), KerasPolicy()])</code>

[2019-08-19 07:05] msamogh commented on #4130
Sorry for the late reply. I tried using pretty long sequences, but couldn't reproduce it. Could you paste your input here?

[2019-08-19 07:50] hungph-dev-ict commented on #4276
No description in here but I think you can press Ctrl + C from ur command line

[2019-08-19 08:09] dakshvar22 commented on #4266
Based on user tests and feedback received, allowing multiple responses for similar utterances is a good to have capability and we should try to include it. Although the current training data format is not the most flexible format for it. For e.g. -
[code]
The above format includes a single response cleanly. To allow multiple responses we would need to add a delimiter in between all candidate respo

[2019-08-19 08:23] federicotdn opened #4278 "Heroku configuration is outdated"
**Rasa version**: `master`

**Rasa X version** (if used & relevant): -

**Python version**: 3.7

**Operating system** (windows, osx, ...): -

**Issue**:
The configuration files in `heroku/` are outdated and still use `rasa_nlu.server`. They should be updated or removed altogether.

[2019-08-19 08:25] tabergma commented on #4263
Hi @richie312! Did you consider updating to Rasa 1.0 and use the updated code here: https://github.com/JustinaPetr/Weatherbot_Tutorial/tree/master/Full_Code_Latest?

We are not maintaining the older Rasa versions anymore. So, we will not fix the issue. Feel free to fix it yourself. Otherwise, I would highly recommend to switch to Rasa 1.0.

[2019-08-19 08:53] richie312 commented on #4263
@tabergma : <h4>Thank you for the update.</h4>
<p>I was doing something wrong with the yml template and stories.md. As i corrected the yml format and used the appropriate stories.md. The issue resolved and now it is working.</p>

[2019-08-19 08:54] #4263 closed

[2019-08-19 09:40] Ghostvv commented on #4211
yes, you can pass a folder with trained models, but not configs.

[2019-08-19 10:21] ccsv opened #4279 "Windows installation from pip not working"
The documentation is not clear on the needs for window prerequisites it says that you need to install "Microsoft VC++ Compiler"

I created a virtualenv and pip installed rasa as the directions instructed

The issue comes up when you pip install httptools.

"Error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools:" https://visualstudio.microsoft.com/downloads/"

[2019-08-19 11:05] gausie commented on #3879
Still being worked on!

[2019-08-19 11:29] #3010 closed

[2019-08-19 11:45] federicotdn opened #4280 "Improve Rasa CLI start-up time"
**Rasa version**: `master`

**Python version**: `3.5`, `3.6`, `3.7`

**Operating system** (windows, osx, ...): GNU/Linux, macOS, Windows

**Issue**:

After a fresh `rasa` install, the `rasa` CLI can take up to 1.5 seconds (on my system) to show any output, even when no action has been specified (e.g. `rasa --help`). For workflows that involve running the `rasa` command various times, this can be a

[2019-08-19 12:00] sara-tagger commented on #4279
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-19 12:00] #4279 closed

[2019-08-19 13:07] Ghostvv opened #4281 "graph visualization lacks colors and different shapes for story blocks and checkpoints"
**Rasa version**: `master`

**Rasa X version** (if used & relevant): `n/a`

**Python version**: `3.7`

**Operating system** (windows, osx, ...): `osx`

**Issue**:
story connection graph that can be created by `generator.py` lacks coloring and different shapes between checkpoints and story steps

[2019-08-19 14:01] wochinge commented on #3606
@laxmikantG Could you please create a new issue including
- the versions you are running
- detailed steps to reproduce

and maybe link to this one? Then we can properly deal with it :-)

[2019-08-20 03:09] Indranil-hue commented on #4276
thanks @hungph-dev-ict  , can the same procedure be applied for disconnecting the ngrok server ,i am not able to disconnect the ngorok server

[2019-08-20 03:13] ngoctnq-1957 commented on #2371
I stumbled onto this link having the same problem, and assuming you were on the same boat as I am, the culprit is PyCharm -- it suggests that decorator change.

[2019-08-20 03:32] felaray commented on #4116
same here.

![圖片](https://user-images.githubusercontent.com/5403865/63315040-44b9eb80-c33c-11e9-88fc-fd74e3afae2b.png)

[2019-08-20 05:40] #4265 closed

[2019-08-20 06:20] hungph-dev-ict commented on #4276
I think when you press Ctrl C, your model has not been trained and old models wil still be reused

[2019-08-20 06:57] shahad-bit opened #4284 "Issue in mysql connection"
Rasa version: master
Rasa X version (if used & relevant): n/a
Python version: 3.6
Operating system (windows, osx, ...): centos

Hi, I am using MySQL tracker store. The chatbot is running in a docker container. it works fine at the beginning, but after a couple of hours,  sqlalchmey throws "lost connection error" when interacting with the chatbot, which causes "Can't reconnect until invalid transac

[2019-08-20 08:07] akelad commented on #4255
forms are designed for slot filling, so if you're asking a user for a bunch of information.

Can you give an example of your use case? Because wildcard intents are not something that's easy to add, and we'd need to see a clear use case for it

[2019-08-20 11:44] dakshvar22 opened #4285 "Make Domain accessible in NLU Pipeline"
**Description of Problem**:
Currently the `domain.yml` file is read and made accessible only in the Core pipeline. As we include more features into the complete stack, there may be some which do not follow the clear boundary between NLU and Core. One such example feature is [Supervised Response Selector](https://github.com/RasaHQ/rasa/issues/4266). The particular part where the domain file is need

[2019-08-20 12:00] sara-tagger commented on #4284
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-20 12:00] #4284 closed

[2019-08-20 12:08] msamogh commented on #4285
You'd also need to ensure the fingerprints don't step on each other, because right now, the whole domain just gets one single fingerprint.

[2019-08-20 12:27] tmbo commented on #4185
I agree the domain and corresponding endpoints aren't very well thought through. I think the underlying issue is, that templates shouldn't be part of the domain in the first place as their configuration influences different parts of the pipeline (domain -> training, templates -> nlg, so prediction).

For the endpoints I think we should make sure:
- there is a `/templates` resource supporting CRUD

[2019-08-20 12:31] tmbo commented on #4153
I think we can remove the discussion label and move this to unplan.

I think it is a good idea, but I think the need isn't strong enough at the moment

[2019-08-20 12:32] #4153 closed

[2019-08-20 12:39] tmbo commented on #2689
I still don't think there is an easy win here and we should not add more authentication:
- the API can be secured using a token (at some point in the near future we should do this properly and use e.g. a JWT - in this case we could use different scopes for API and webhook, so you could issue JWTs which would only be valid for the chat webhook but not for API calls. I think this is the most flexibl

[2019-08-20 12:52] tmbo commented on #3765
I think next step is to better evaluate @amn41's proposal. @BeWe11 / @BrianYing do you have any data we could use to test this approach? (if you do not want to share it publicly but could share it under NDA, please write me a mail)

[2019-08-20 13:10] nikhilcss97 commented on #2418
Hey any progress here? Trying to do the same thing.

[2019-08-20 13:31] ggdupont commented on #4231
Same issue here.
It would be great to have access to the training logs in a specific page. It could give details on the current status (when training) and clues it the training fail.

[2019-08-20 14:15] ggdupont opened #4286 "Compare stories button not accessible for long story names"
**Rasa version**:
rasa==1.2.3
rasa-sdk==1.1.1

**Rasa X version** (if used & relevant):
rasa-x==0.20.1

**Python version**:
Python 3.7.4

**Operating system** (windows, osx, ...):
ubuntu 16.04

**Browser**
Firefox 68.0.2

**Issue**:
In the Training>Stories panel, in the stories list, the width of the panel cannot be adjusted. If the stories titles are too long, we can't access the button for "Comp

[2019-08-20 14:26] evgeniiaraz commented on #3865
Hi, I am really sorry! I’ll finish it within the next week. Is there a deadline by which you would like it done? When I make the changes, which brunch should I push the changes to?

[2019-08-20 14:46] ggdupont opened #4287 "Rasa x uploading train data doesn't provide any feedback"
**Rasa version**:
rasa==1.2.3
rasa-sdk==1.1.1

**Rasa X version** (if used & relevant):
rasa-x==0.20.1

**Python version**:
Python 3.7.4

**Operating system** (windows, osx, ...):
ubuntu 16.04

**Browser**
Firefox 68.0.2

**Issue**:
When uploading large training set (few thousands samples), it takes time to upload and then to update the samples list. In the meantime, there is no feedback on the st

[2019-08-20 14:50] ggdupont opened #4288 "Rasa x - NLU train data upload should allow to augment current dataset"
**Description of Problem**:
When one uploads a dataset to the NLU train panel, it replaces the whole current dataset. It would be interesting to add an option  to "augment" the current dataset with the newly upladed data instead.

**Overview of the Solution**:
Either 2 different buttons or a simple confirmation box when the data is uploaded, like "would you like to replace the current data?"

**Ex

[2019-08-20 15:03] BrunoRoth95 opened #4289 "Problem training NLU"
**Rasa version**: 1.2.3

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): ubuntu 18.04

**Issue**:

I'm having a weird problem when training my core and NLU. The `rasa train` don't train my current NLU file, instead it trains an old one. I know that because when I open the `models/20190820-114838.tar.gz/nlu/training_data.json` the data there is from an old NLU that I used to ha

[2019-08-20 15:38] #4164 closed

[2019-08-20 15:43] Ghostvv commented on #4217
Most probably this `action_listen` is put there by `FormPolicy` based on your stories. What happens if you correct this action in interactive learning?

[2019-08-20 15:43] Ghostvv commented on #4247
it looks like we should simply invert priorities between memo and mapping policies

[2019-08-20 15:59] rgstephens opened #4290 "Rasa X Configuration API Calls"
**Description of Problem**:
There is no API call to get the Rasa X model configuration like there is for environments.

**Overview of the Solution**:
Add GET and PUT calls for configuration similar to environments.

**Definition of Done**:

[2019-08-20 16:18] cuongnda commented on #4047
@erohmensing Hi, my question maybe stupid, but can you explain why do we use "async" and "await" here? What is the reason, benefit from it? Some explanation of how you guys design this function could give us some clues to think about, or a work-around solution maybe?

[2019-08-20 18:58] richachoudhary commented on #2472
@Akelad the link is not working

[2019-08-20 20:46] shahad-bit commented on #4284
Thanks for the prompt reply.
I fixed it by extending session wait_timeout, though i think that it could be fixed from rasa.
It seems that rasa creates only one connection with the database -for tracker stores-, which means that when it loses the connection, it will lose it forever -which causes this error-. (please correct me if i'm wrong). If this is the case, then reconnecting to the db from ras

[2019-08-20 20:58] shahad-bit commented on #2938
Thanks, it was fixed by adding init file as mentioned, and then coping actions.py and all related files to app using a dockerfile.

[code]

[2019-08-21 01:28] jianjunchang commented on #4217
It seems have no side effect in interactive learning, you can please see the interactive.log which i have uploaded, so i have no chance to correct it. The side effect i am really affraid of is the extra action_listen in the story will influence the training(so i always delete the extra action_listen manually before training).

[2019-08-21 01:54] jianjunchang commented on #4130
'''
------------------------------------------------------------------------------------
 10                                                                            是的
                                                                intent: affirm 0.98
------------------------------------------------------------------------------------
 11   action_restaurant_form 1.00
      还有哪些特别的要求吗？
      sl

[2019-08-21 02:59] z-t-y commented on #3636
with open("somefile.py", encoding="utf-8") as f:
    #code `here`

[2019-08-21 02:59] z-t-y commented on #3636
I hope this can help you

[2019-08-21 05:46] Indranil-hue commented on #4276
thaanks @hungph-dev-ict

[2019-08-21 06:00] sara-tagger commented on #4290
Thanks for submitting this feature request 🚀@akelad will get back to you about it soon!✨

[2019-08-21 06:00] sara-tagger commented on #4289
Thanks for raising this issue, @Ghostvv will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-21 06:00] sara-tagger commented on #4288
Thanks for submitting this feature request 🚀@Saladdin will get back to you about it soon!✨

[2019-08-21 06:00] sara-tagger commented on #4286
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-21 06:00] sara-tagger commented on #4287
Thanks for raising this issue, @gausie will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-21 06:42] erohmensing commented on #3865
It's not too urgent, next week is fine. I just wanted to check in to make sure that you were still committed to it, otherwise I would open it up for someone else to work on.

As it's a bug fix, it would be great if you could push it to our patch branch, which at the moment is `1.2.x`. It's possible by the time you are ready to open the PR that we will have released `1.3.0`, in which case the new p

[2019-08-21 07:48] msamogh commented on #4130
Thanks for pasting it here. I've formatted it so that it appears as code and not raw Markdown. Will look into it.

[2019-08-21 08:15] #4254 closed

[2019-08-21 08:15] akelad opened #4294 "Make metadata of user messages more accessible"
Right now, in a custom action you have to loop through the events in the tracker to access it like this:

 for e in tracker.events<span class="error">[::-1]</span>:
 if e<span class="error">["event"]</span> == "user":
 message_metadata = e<span class="error">["metadata"]</span>
 break

Ideally, we should be able to access it with `tracker.latest_message.metadata` or similar

[2019-08-21 08:18] akelad opened #4295 "Metadata field should be passed through the input channel"
To use metadata with the input channel, you currently have to overwrite several functions in the `RestInputChannel` (e.g. `receive`, `stream_response`, `on_message_wrapper`).

Potential Solution:
- Would be cool if we implement a function `get_metadata(request)` which returns `None` by default, and can be overwritten to return a `dict` of metadata
- `stream_response`, `on_message_wrapper` should p

[2019-08-21 08:18] akelad commented on #4295
@wochinge is that description good enough?

[2019-08-21 08:33] wochinge commented on #4295
@akelad Changed it a bit

[2019-08-21 09:34] jianjunchang commented on #4217
Hi @Ghostvv, i found it's very easy to reconstruct, even i run the origin formbot demo, the extra action_listen still appear.

`
## interactive_story_1
* greet
    - utter_greet
* request_restaurant
    - restaurant_form
    - form{"name": "restaurant_form"}
    - slot{"requested_slot": "cuisine"}
* chitchat
    - utter_chitchat
    - action_listen
    - restaurant_form
    - slot{"requested_slot"

[2019-08-21 09:40] Ghostvv commented on #4289
what do you mean if you delete an old data, it still uses it? Where does it come from?

[2019-08-21 09:54] wochinge commented on #4250
suggested solutions are in here https://github.com/RasaHQ/rasa/pull/4256#issuecomment-522496554

[2019-08-21 10:51] akelad commented on #4290
@wochinge do you think something like this would make sense to add?

[2019-08-21 11:49] ferozewaris opened #4298 "Config and NLU pipeline in RasaX"
Hello,
I am using RasaX 0.19.5 with Rasa 1.1.4 running on docker. On GUI of RasaX i can not see config tab. What to do if i want to change the Rasa NLU pipeline or change the language. I even cant see nlu config file on server side mounted to some docker volume. What to do if i want to change the pipelne.

Regards
Feroze

[2019-08-21 12:00] sara-tagger commented on #4298
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-21 12:00] #4298 closed

[2019-08-21 12:01] ferozewaris commented on #4298
I have asked this question on forum as well. Its been more than 24 hours passed since i asked and no one cared to response there that is why i am asking there.
FYI
https://forum.rasa.com/t/config-and-nlu-pipeline-in-rasax/14556

[2019-08-21 12:23] BrunoRoth95 commented on #4289
I have no idea @Ghostvv. The training was using some old data... I don't if this was a rasa bug or just my computer, because It was training even though I deleted the nlu.md file (maybe it was an nlu.md hidden file??).

What I did I just replaced the whole data folder with an backup that I had.

Thank you for the attention!

[2019-08-21 12:29] Ghostvv commented on #4217
thank you for spotting it, it seems like there is a bug during printing the story, I'm trying to figure it where it comes from

[2019-08-21 12:31] guilherme1guy commented on #4204
Just updated to Rasa 1.2.3 and this started to happen to me too. Downgrading `python-engineio` to 3.8.1 worked for me.

[2019-08-21 12:56] ngochuyenluu commented on #4129
Hello, I just reinstalled update version of Rasa and Rasa X few days ago. I have same problem when run rasa run -m models --enable-api --log-file out.log -m my model, it raises:

2019-08-21 14:51:58 INFO     root  - Generating grammar tables from /usr/lib/python3.6/lib2to3/Grammar.txt
2019-08-21 14:51:58 INFO     root  - Generating grammar tables from /usr/lib/python3.6/lib2to3/PatternGrammar.txt

[2019-08-21 13:20] #4289 closed

[2019-08-21 15:24] kristiankolthoff commented on #4151
I saved it as `utf-8` explcitly and the error still remains.

[2019-08-21 21:48] #4247 closed

[2019-08-22 01:38] jianjunchang commented on #4217
It's my pleasure :), and thanks for your work.

[2019-08-22 01:43] jianjunchang commented on #4130
Hi, thanks for your edit. I have try to format it yesterday using the "<>" button above, but failed.

[2019-08-22 05:56] VikasSinghaiAndroid opened #4301 "Rasa trained model does not work with AWS multiple replicas."
**Rasa version**: 1.1.3

**Rasa X version** (if used & relevant):

**Python version**: Python 3.6.8

**Operating system** (windows, osx, ...): Windows 10

**Issue**:
I have already Started my Rasa model in AWS container with 2 replicas after that i am retraining the rasa model with new utterance it is tarining the rasa model but it is training only in 1 replica it is not training in another replic

[2019-08-22 06:00] sara-tagger commented on #4301
Thanks for the issue, @tabergma will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-22 06:43] tonysinghmss commented on #4107
I am also facing this bug during Two-stage fallback. After the user denies the second time, the fallback action pauses the conversation and asks for restart by showing the restart button. But rasa doesn't restart and then no message passes through.

[code]

[2019-08-22 07:48] tabergma commented on #4301
What error message do you get?

[2019-08-22 08:11] VikasSinghaiAndroid commented on #4301
We are not getting any errors with with 1 replica newly added utterance is working but in another replica utterance is not detecting we are getting intent null, basically when we train rasa it is only training in replica 1, but ideally it should train in both the replicas.

Please suggest.

[2019-08-22 08:18] akasha1618 commented on #4207
The callback URL on the messenger app is https://8d78102e.ngrok.io/webhooks/facebook/webhook
Still not working. What should be to problem?

[2019-08-22 08:22] tabergma commented on #4301
@VikasSinghaiAndroid As this is not really a bug but more a question on how to train Rasa on AWS replicas, can you please open a thread in the https://forum.rasa.com/ and close this issue. We will be happy to help you there. Thanks.

[2019-08-22 08:40] VikasSinghaiAndroid commented on #4301
Thank you!

[2019-08-22 08:40] #4301 closed

[2019-08-22 08:55] tmbo commented on #3870
the benefit of using the entrypoint is that the run commands using docker are very similar to the ones on the commandlien
`docker run rasa/rasa train`

given that there is a way to change the entrypoint using `--entrypoint=bash` I don't think this is something we need to change.

[2019-08-22 09:12] nbeuchat opened #4302 "Stories with only a start checkpoint and an end checkpoint are ignored during training"
**Rasa version**: 1.1.8

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu (using WSL)

**Issue**:
Stories with only a start checkpoint and an end checkpoint are ignored during training. The story looks like this:

[code]

**Context**:
To give you some context. In order to deal with different questions that could happen during a form without having to create the full story

[2019-08-22 09:30] tmbo commented on #4270
Yes that is def a bug. We haven't tested mysql in depth (but I don't see why it wouldn't work).

Can you provide a PR with a fix for this?

[2019-08-22 10:13] nbeuchat opened #4304 "Empty synonym list affects entity defined below it"
**Rasa version**: 1.1.8

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu (with WSL)

**Issue**:
When a synonym section is defined in the NLU training file without any synonyms in the list, the entity belows it gets modified by the synonym.

In `nlu.md`:
[code]

When I extract the `animal` entity, it always takes the value `alone`.

It's obviously an easy fix for us but I

[2019-08-22 10:13] nbeuchat opened #4305 "Empty synonym list affects entity defined below it"
**Rasa version**: 1.1.8

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu (with WSL)

**Issue**:
When a synonym section is defined in the NLU training file without any synonyms in the list, the entity belows it gets modified by the synonym.

In `nlu.md`:
[code]

When I extract the `animal` entity, it always takes the value `alone`.

It's obviously an easy fix for us but I

[2019-08-22 10:49] dakshvar22 commented on #4262
@vonSchweetz The training process runs in a single process as of now. That shouldn't be a problem. What part are you facing issues on?

[2019-08-22 12:00] sara-tagger commented on #4305
Thanks for the issue, @amn41 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-22 12:00] sara-tagger commented on #4304
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-22 12:00] sara-tagger commented on #4302
Thanks for raising this issue, @akelad will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-22 12:33] akelad commented on #4302
@Ghostvv is that a bug with the generator code?

[2019-08-22 13:29] Ghostvv commented on #4302
As far as I remember this is intended behavior. @tmbo do you remember why?

[2019-08-22 14:13] wochinge commented on #4025
@akelad

[2019-08-22 14:34] #4217 closed

[2019-08-22 15:30] tabergma commented on #4304
What do you mean by `file being generated from the database`? What kind of database?

We don't have a key called `entity` in the markdown nlu data format. So, our parser assumes you are still in section `synonyms` when it gets to the list of entity examples.

I guess we should ignore unknown sections and print a warning. Thanks for pointing this out!

[2019-08-22 15:50] erohmensing commented on #4207
Are you still getting the "string indices must be integers" problem or a new one? What versions of `rasa` and `fbmessenger` are installed?

[2019-08-22 16:19] GraphGrailAi opened #4308 "Action default fallback - respond nothing"
According to https://forum.rasa.com/t/action-default-fallback-already-defined/629/7

In action server i see action_default_fallback is triggered
[code]

But, in cmd test bot answer nothing, nevertheless i have utter_default in domain.yml and copied class ActionDefaultFallback(Action):  class to actions.py

[code]

What is wrong?

policies.yml:
[code]

[2019-08-22 16:24] akelad commented on #4025
@wochinge it's fixed with the PR now right?

[2019-08-22 16:25] wochinge commented on #4025
Yes!

[2019-08-22 16:30] GraphGrailAi commented on #4308
Solved. seems i need retrain and better threshold

[2019-08-22 16:30] #4308 closed

[2019-08-22 17:34] nbeuchat commented on #4304
Thanks for your prompt answer @tabergma!

It's just our own system where we keep intents, entities list, etc. We basically generate the `nlu.md` file ourselves from there. It's especially useful to have our nlg server and the rest of the data in one place.

Oh right! My bad, I was suppose to use a `lookup` here, not `entity`.

That's a good idea, that would have help identify the wrong format by o

[2019-08-22 17:40] erohmensing commented on #4305
duplicate of https://github.com/RasaHQ/rasa/issues/4304

[2019-08-22 17:40] #4305 closed

[2019-08-23 01:11] BigDuck commented on #4146
I think it's caused by rasa_sdk version .when my rasa_sdk is 1.2 and rasax is 0.20,it can't work ,but when changed the version to rasa_sdk 1.1.0 it can work well (rasa 1.2.3)

[2019-08-23 07:25] bambootran89 commented on #4041
@erohmensing we can check at this link "https://core.telegram.org/bots/api". InlineKeyboardButton
![image](https://user-images.githubusercontent.com/7693460/63574360-cb2b3300-c5b1-11e9-99a6-dadf46110bd1.png)

[2019-08-23 08:08] tmbo commented on #4302
I don't remember a specific reason why that is the case. the issue might be the following: The checkpoints in a case like this:
[code]
Are probably interpreted as start checkpoints. So the resulting block will have two start checkpoints and no end checkpoints (technically it will have an end checkpoint, the default one END).

This would mean that the `back_from_within_form_apartment_interest` chec

[2019-08-23 08:14] tmbo commented on #4286
Yes that's a bug, we should fix that - thanks a lot for reporting :rocket:

[2019-08-23 08:53] wochinge commented on #4290
@rgstephens Great idea! Thanks for helping us to progress with the API. To my knowledge @ricwo has already been working on that.

[2019-08-23 09:14] tmbo commented on #4260
Very good point, it might really just be adapting the jsonschema. Would be great if you can create a PR for that - let me know if you need any help

[2019-08-23 10:34] TatianaParshina commented on #4120
@msamogh , I was able to avoid the issue by removing all files, restarting computer and etc. But definitely, it is not the correct way.
I did a lot of different steps in Rasa X UI and in the local filesystem.
To reproduce the issue, I think steps should be as following:
1. Open Rasa X UI.
2. In UI add new template 'utter_zoo' in the domain, add new intent and story. Save it.
3. Train model from Ra

[2019-08-23 10:51] TatianaParshina opened #4312 "Error after e2e test 'Feature could not be found in feature map`"
**Rasa version**:
Rasa 1.1.4
**Rasa X version** (if used & relevant):
Rasa X 0.19.5
**Python version**:
Python 3.6.8
**Operating system** (windows, osx, ...):
Windows 8.1
**Issue**:
I have the file `e2e_stories.md` for e2e test. I run the command `rasa test --stories data/e2e_stories.md --e2e` .
After the test, I run the training command 'rasa train'.
As a result, I had a lot of messages in logs w

[2019-08-23 11:05] wochinge commented on #4204
We will release a new version `1.2.4` which should fix this. Could you please check if that resolves your issue?
The PR for that is https://github.com/RasaHQ/rasa/pulls?q=is%3Apr+is%3Aclosed

[2019-08-23 11:11] tabergma opened #4313 "Evaluation of NER: Don't include 'no-entity'"
Currently, we take the weighted precision and f1 score as performance metric for our named entity recognition. Weighted means

In most cases, ~90% of all words have the label 'no-entity'. If we include 'no-entity' as a label in the evaluation, this will influence the result a lot. The overall metrics are therefore always quite high. If you want to get a feeling on how good your NER is actually doi

[2019-08-23 11:31] ShakyaWork opened #4314 "Failed to load model metadata"
After training my rasa nlu model, I wanted to test it against an utterance which was not present in my training dataset. Following was the code.

	interpreter = Interpreter.load('.\model\nlu\default\weathernlu', config.load('config_spacy.json'))
	print(interpreter.parse(u"I am planning my holiday to Barcelona. I wonder what is the weather out there."))

However, I am getting the following error me

[2019-08-23 11:32] whiteyhat commented on #4204
Wonderful news! Any estimation about when this new release is coming out?

[2019-08-23 12:00] sara-tagger commented on #4314
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-23 12:00] #4314 closed

[2019-08-23 12:00] sara-tagger commented on #4312
Thanks for the issue, @dakshvar22 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-23 12:08] wochinge commented on #4204
Already released https://pypi.org/project/rasa/1.2.4/ 🎉

[2019-08-23 12:34] nbeuchat commented on #4302
Thanks, that's very helpful to understand. So, if I get it correctly, the following story is valid?

[code]

where any story ending with `> start_checkpoint_1`, `> start_checkpoint_2`, or  `> start_checkpoint_3` would lead to this story block?

If that's the case, then it makes sense that a story block with only checkpoints not have any end checkpoints. Although maybe the last checkpoint should al

[2019-08-23 12:43] tmbo commented on #4302
Yes the one you just posted will work as you think it would.

yes prob makes more sense than the interpretation we currently have for a story like the one you posted.

[2019-08-23 12:56] Ghostvv commented on #4302
I'm not sure about that. What if there're three checkpoints? Which one are starting, which are ending?

[2019-08-23 12:57] psds01 opened #4315 "What is this weird error?"
What is this weird error?

When I run `rasa x`, I get this error printed on terminal:

`[2019-08-23 xx:xx:xx +0000] [2693] [ERROR] Exception occurred while handling uri: unknown
NoneType: None`

No more, no less

[2019-08-23 13:07] discreterandomvariable commented on #3852
I am facing the same issue where I am getting the error 'rasa' is not recognized as an internal or external command,operable program or batch file.
I have tried 'rasa init', 'rasa init --no-prompt', 'rasa init --from-remote url' on Anaconda prompt with the same error mentioned above.
I am on Windows 7 and working on Anaconda Prompt with python 3.6.5. I was facing an issue with installation of http

[2019-08-23 13:15] discreterandomvariable commented on #3852
![image](https://user-images.githubusercontent.com/12828468/63595178-ea3bbc00-c5d5-11e9-8e8a-ffa6b5509e37.png)

This is what I get when I execute pip install rasa. And when I do pip list I don't find rasa-nlu or rasa-core installed.

[2019-08-23 13:17] ezequielpaura commented on #3826
Hello @akelad @tmbo, do you have any updates on this issue?
Sorry for the insistence!  We want to use Rasa in Amazon Sagemaker, but because of this incompatibility, we are forced to use Docker + Fargate as workaround. Is there something else we need to do to install Rasa in Sagemaker?
Thanks in advance!

[2019-08-23 13:23] nbeuchat commented on #4302
Maybe having an explicit way of setting which ones are start or end?

[2019-08-23 13:34] tmbo commented on #3826
I don't think there should be an issue with requests 2.20 or 2.21.

do you mind creating a PR changing setup py to contain something like `requests >= 2.20`?

[2019-08-23 13:36] Ghostvv commented on #4302
I like the simplicity of current version though. It seems to me that it's not too difficult to factor out some action between these checkpoints.

[2019-08-23 13:50] tmbo commented on #4302
ok, I guess the question is more: do we actually need these checkpoint only stories. I mean you could very well, instead of having this "glue story" just use the checkpoint directly.

so instead of
[code]

it would just be

[code]

or is there any reason why this wouldn't work?

[2019-08-23 13:52] iainelder commented on #3826
Hi @tmbo , thanks for the response.

Before we prepare a PR, how can we test the change?

I'm imagining the following process:

* Activate conda's Python 3 environment in a new Sagemaker notebook
* Clone the master branch of this repo
* Change requirements.txt as you suggested
* Install rasa using `pip install -e`

Please let us know if there's something else we should do.

[2019-08-23 13:55] tmbo commented on #3826
Sounds about right, although if you run `pip install -e .` you need to change `setup.py` instead of the requirements file (that one should actually stay the same, you only need to change `setup.py`)

[2019-08-23 14:22] ngochuyenluu opened #4317 "PermissionError: [Errno 1] Operation not permitted when run rasa shell in docker"
**Rasa version**: 1.2.3

**Rasa X version** (if used & relevant): 0.20.1

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Linux

**Issue**: PermissionError: [Errno 1] Operation not permitted when run rasa shell in docker

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):

[2019-08-23 14:38] wochinge commented on #4146
Mhm, sounds weird. The sdk shouldn't be an issue here.  @msamogh Can you have a look at this when I am on vacation?

[2019-08-23 14:39] wochinge commented on #4151
@erohmensing Can you please check whether you can reproduce that when I'm gone? Thanks!

[2019-08-23 14:39] wochinge commented on #4209
@federicotdn Can you please look into this when I'm gone?

[2019-08-23 15:03] federicotdn commented on #4209
Sure, no problem.

[2019-08-23 15:08] #4107 closed

[2019-08-23 16:49] erohmensing commented on #3852
It looks like it is not able to install rasa because of the greenlet error. Installing rasa doesn't install rasa-nlu and rasa-core, just rasa. Looks like you're trying to install into your base environment, which isn't recommended (because it will e.g. try to change versions of disutils projects). Can you create a new anaconda env and try to install it there?

[2019-08-23 17:29] erohmensing commented on #4151
Hm, I added ö to my domain.yml, nlu.md and stories.md and it loaded up with no problem. I can see the umlauts in all 3 of these places on the UI too. Of course I am also running the latest version, so you might want to try updating. Can you run this in the console for me?
[code]

[2019-08-23 19:15] #4089 closed

[2019-08-23 20:18] miliaxy opened #4319 "Rasa Visualize stories command png gives a "file damaged, corrupted, too large" error on windows"
Rasa NLU Version : 0.15.0
Rasa Core Version : 0.14.4
Python Version : 3.5.2
OS : Windows 32

When I run the following command to visualize my stories :
`python -m rasa_core.visualize -s data/core/ -d domain.yml -o story_graph.png`

It runs successfully :
[code]

But when I try to open the png, it gives me the error :  "Windows Photo Viewer cant open this picture because the file appears to be dama

[2019-08-23 20:39] Cristianasp opened #4320 "DialogFlow import doesn't read language from given data"
**Rasa version**: Rasa 1.2.3

**Rasa X version** (if used & relevant):

**Python version**: Python 3.7.3

**Operating system** (windows, osx, ...):
Distributor ID: Debian
Description:    Debian GNU/Linux 9.9 (stretch)
Release:        9.9
Codename:       stretch

**Issue**:
I am following the tutorial below:
https://rasa.com/docs/rasa/migrate-from/google-dialogflow-to-rasa/
That instructs the user

[2019-08-23 20:43] Cristianasp commented on #4320
Ops.. even with the json with the trainning phrases included I still get the same error message...

[2019-08-23 22:23] msamogh commented on #4120
@TatianaParshina Thanks for the clear description.

Changes made from within Rasa X are saved to the filesystem the moment you hit the save button. However, the changes you make directly in the filesystem are not reflected in Rasa X until the next restart.

This is because, during startup, Rasa X loads the contents of the files onto the database and from there, the UI.

[2019-08-24 22:23] sibbsnb commented on #414
Any solutions planned for this?

[2019-08-25 10:19] #3509 closed

[2019-08-25 12:05] TatianaParshina commented on #4183
@akelad , it is still not working. What I did:
- Updated Rasa X stable version using https://storage.googleapis.com/rasa-x-releases/stable/install.sh
- Mounted `components` folder with custom py script to my image in `docker-compose.override.yml` file:
[code]
- I tried to copy `components` folder with custom py script to image as well in Dockerfile:
[code]

[2019-08-25 12:50] VickySrinivas commented on #1563
Getting the below error after i downgraded the msgpack version to 0.5.6

Rasa NLU version: 0.12.3
msgpack-python==0.5.6

Operating system : Macos

Content of model configuration file:
language: "en"
pipeline: spacy_sklearn

Full stacktrace below:

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/rasa_nlu/training_data/training_data.py:194: UserWarning: Entity 'people'

[2019-08-25 12:56] TatianaParshina commented on #4120
@msamogh thank you for the explanation!
1. What do you mean by `until the next restart`? I closed Rasa X, run train command and then it failed.  Should I close Rasa X, run Rasa X, close Rasa X and then run train command?
2. I understand that Rasa X saves information in DB files. I removed `rasa.db` and `tracker.db` files but I still had the error. Do you use some other place (cache) to save this i

[2019-08-25 13:21] TatianaParshina commented on #3936
I have updated the latest version of Rasa X on Google Cloud using install.sh [script](https://storage.googleapis.com/rasa-x-releases/latest/install.sh). The issue is resolved there. I don't need to refresh the page after every bot reply now.
Thank you!

[2019-08-25 13:21] #3936 closed

[2019-08-25 19:44] dakshvar22 commented on #414
Hi @sibbsnb We are actually very close to releasing a new component which aims at simplifying this. Check out this PR - https://github.com/RasaHQ/rasa/pull/4233

[2019-08-25 20:13] ricwo commented on #4290
hi @rgstephens, do you mean the NLU / Core model config?

That endpoint exists at `GET/PUT /api/projects/<project_id>/settings`. I'm not sure why it isn't documented at the moment - we'll be sure to add it again. In the meantime, the schema is the following:

[code]

[2019-08-26 05:41] Indranil-hue opened #4321 "fallback policy is not working as explained ,can more elaborations be given on nlu_threshold and nlu_core ?"

[2019-08-26 06:00] sara-tagger commented on #4321
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-26 06:00] #4321 closed

[2019-08-26 06:00] sara-tagger commented on #4319
Thanks for raising this issue, @msamogh will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-26 06:00] sara-tagger commented on #4320
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-26 06:00] sara-tagger commented on #4317
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-26 06:00] sara-tagger commented on #4315
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-26 06:00] #4315 closed

[2019-08-26 06:12] avinash10xds commented on #4204
This is what I got when i installed the latest rasa = 1.2.4 , please help me

![engine](https://user-images.githubusercontent.com/50192566/63668888-12096a80-c7f6-11e9-9fdc-f406af5b38e4.jpg)

[2019-08-26 07:35] akelad commented on #4183
how do you refer to the custom component in your config? and also, was there any extra python packages you use in your custom code?

[2019-08-26 07:44] erohmensing commented on #4320
Do you mean that even if only the training data (the first file you mentioned) is put in the data directory, you still get the error?

[2019-08-26 08:02] #4146 closed

[2019-08-26 09:23] TatianaParshina commented on #4183
@akelad  Config is working on the local environment:
`- name: "components.spell_checker.SpellCheckerTokenizer"`

Yes, I have extra python packages, for example, `pandas`. I install them by using `RUN` command in Dockerfile:

`RUN pip install pandas`

Do you have any example of `Dockerfile` and `docker-compose.override.yml` with the custom component? I saw only examples of custom actions. Custom ac

[2019-08-26 09:58] tmbo opened #4322 "Allow running rasa server using HTTPS"
**Description of Problem**:

To secure the communication, it should be possible to start the Rasa server using SSL

**Overview of the Solution**:

Certificates should be provided by the user and the server should load these on startup and switch to HTTPS instead of HTTP.

[2019-08-26 10:02] #4070 closed

[2019-08-26 10:18] nikhilcss97 opened #4324 "Multiple Choice buttons in rasa"
Hi,

I wanted to know if there is any functionality for selecting multiple choices using buttons. The user can select multiple buttons and we get all the selected options in a list.

Thank You.

[2019-08-26 11:36] erohmensing commented on #4324
Hi there @nikhilcss97, this would have to be something that your UI handles, as rasa wouldn't know when to stop waiting for input (as well as the channel would have to have UI for multiple choices in any case!). Check out [this thread](https://forum.rasa.com/t/using-list-with-buttons-or-doing-multiple-selects/13684) for more info.

[2019-08-26 12:01] #4204 closed

[2019-08-26 12:14] tabergma opened #4329 "Report errors and successes of NER"
**Description of Problem**:
Currently, you cannot look at the successes or errors the NER made. You just get a report containing evaluation metrics per entity.

**Overview of the Solution**:
Write all successes and errors of the NER to a separate file when evaluating similar as it is done for intent evaluation.

**Definition of Done**:
- [ ] Tests are added
- [ ] Add cmd line arguments
- [ ] Files

[2019-08-26 12:16] ezequielpaura commented on #3826
Hi @tmbo

We did try to modify `setup.py` but other issues arose. There is still a conflict with `requests`. Is there something else that we have to do?
The error with `requests` is:

```rasa-sdk 1.3.0a1 has requirement requests~=2.22, but you'll have requests 2.20.0 which is incompatible.```

The whole test:

[code]

[2019-08-26 13:08] dhwanils95 opened #4330 "No agent loaded. To continue processing, a model of a trained agent needs to be loaded."
**Rasa version**: 1.2.2
**Rasa X version** (if used & relevant): 0.20.1
**Python version**: 3.6
**Operating system** (windows, osx, ...): Ubuntu 18.04 and CentOS 7.6

**Issue**:
I tried a automated script install (the one from Rasa X - Deploy on Server Docs) on Ubuntu and a full manual deployment with custom rasa Action Server app. In both the case, whenever I try to use the interactive learning t

[2019-08-26 13:12] #4313 closed

[2019-08-26 13:15] dhwanils95 opened #4331 "Permission denied error on model upload"
**Rasa version**: 1.2.2
**Rasa X version** (if used & relevant): 0.20.1
**Python version**: 3.6
**Operating system** (windows, osx, ...): Ubuntu 18.04 and CentOS 7.6

**Issue**:
I am trying to upload a model via Rasa-x on two different installations, one on Ubuntu and the other on CentOS, both are throwing the same error of permission denied.

**Error**:
[code]

**Command or request that led to er

[2019-08-26 13:38] Cristianasp commented on #4320
Hi Erohmensing ! Exactly ! I have attached the examples in the issue.

[2019-08-26 14:55] tmbo commented on #3826
Ah right, needs to be changed in rasahq/rasa-sdk as well. Just did that as well as here in rasa.

Will be part of the next patch release.

[2019-08-26 14:55] #3826 closed

[2019-08-26 15:04] #4219 closed

[2019-08-26 16:03] erohmensing commented on #4320
I dion't see any attached files -- I think the upload got pulled into the code formatting. Would you mind re-attaching?

[2019-08-26 16:16] tmbo commented on #4331
@erohmensing I think you have been looking into this right?

[2019-08-26 16:36] tmbo commented on #4317
Are you running in docker-compose or directly in docker? This sounds a lot like you are not in an interactive shell. How do you run the container?

[2019-08-26 16:49] ricwo commented on #4330
Hi @dhwanils95, did you train a model and tag it as `production`?

[2019-08-26 19:29] erohmensing commented on #4331
I've seen someone run into it. @dhwanils95 what does your deployment setup look like?

[2019-08-26 19:48] #3237 closed

[2019-08-27 02:23] dhwanils95 commented on #4330
Yes @ricwo, we have a trained model on the action server in .../action_server/models/models.tar.gz

The thing is I have dockerized our previous Rasa project and then replaced it in the docker-compose file as the "app" service. I'm guessing it should load the models and data/nlu.md, data/stories.md and all those files automatically right?

Please correct me if I'm wrong, since I'm just deploying I'

[2019-08-27 02:51] dhwanils95 commented on #4331
The rasa_x container already has a /tmp/ directory in it with some files. Would mounting a directory explicitly help? If you want I will try and check as soon as possible.

Thanks!

[2019-08-27 04:31] vonSchweetz commented on #4262
@dakshvar22 You are right. I messed up and was working with the wrong (older) virtual environment. I checked with the new version and it seems to work fine. Thanks a lot ! (and sorry for the mistake)

[2019-08-27 05:28] dhwanils95 commented on #4330
Hey @ricwo I found the issue. I had the model in place but it was not mounting onto the rasa-x container. I was refraining from default docker-compose you guys ship out but then I realized since I am using my own action server and the model lies in that directory which is not the root for this rasa-x project. I changed the following:

[code]
**to**
[code]

So it was an issue on my part. Sorry for

[2019-08-27 06:23] nikhilcss97 commented on #4324
Could you please give a code example for implementing this on Slack?

[2019-08-27 06:59] erohmensing commented on #4324
Slack doesn't currently support multiple choice input as far as I know. No channel that I know off the top of my head does. You would have to look into their messaging APIs to see what is possible.

In any case, our GitHub is for bug reports and feature requests (as we can't support this, it's not a feature request), so I'll close this. Feel free to do some research and let us know on the [forum](

[2019-08-27 06:59] #4324 closed

[2019-08-27 07:04] erohmensing commented on #4331
Hm I'm not quite sure, we're trying to debug the problem currently. How did you go about installing (manual, script, openshift instructions, etc.) and what is your deployment setup? I haven't reproduced it yet, that information could help.

[2019-08-27 07:20] dhwanils95 commented on #4331
I used both the script and manual installation. Since there is not automated script for CentOS, I did a manual installation using my custom action server which was replaced in the app service. I am using docker containers (Following are the versions I am using right now):

[code]

I did mount an empty directory to /tmp/ but there is no change. The issue is still there and I am not able to upload m

[2019-08-27 07:25] erohmensing commented on #4331
Great, thank you for the info! As for the image size, there's already a PR about reducing the `rasa` size via multi-stage docker images. Feel free to give your input here: https://github.com/RasaHQ/rasa/pull/3332

The duckling dockerfile can be found here: https://github.com/RasaHQ/duckling/blob/master/Dockerfile

[2019-08-27 07:32] dhwanils95 commented on #4331
Great, I will look into it and see how I can help out.

[2019-08-27 07:38] ngochuyenluu commented on #4317
Hi, I runned directly in docker, just followed your user guide (running rasa with docker). After training my chatbot, I run the command:
[code]
And I had the problem above. Is there any suggestion? Thank you a lot.

[2019-08-27 07:44] dakshvar22 commented on #4262
@vonSchweetz No problem. Good luck :)

[2019-08-27 07:44] #4262 closed

[2019-08-27 08:00] seenucbit opened #4334 "No matching distribution found for tensorflow~=1.13.0"
Rasa Core version: pip install rasa-x
Python version: 3.6.9
Operating system : windows 10(64bit)

I created a new environment using Anaconda 3 and while installing rasa-x on it I am getting error as follows.

 ERROR: Could not find a version that satisfies the requirement tensorflow~=1.13.0 (from rasa~=1.2.0->rasa-x) (from versions: none)
ERROR: No matching distribution found for tensorflow~=1.13.

[2019-08-27 09:19] gongshaojie12 opened #4336 "How to use multiple intent classifier in Rasa nlu pipeline?"
Hello everyone:
I want to use multiple intent classfier in rasa nlu pipeline,but not work,The following is my configuration file:

[code]

I added two intent classifiers ，KeywordIntentClassifier and SklearnIntentClassifier,
but KeywordIntentClassifier  not work,where is the problem？

I want to use both keyword and machine learning to identify the intent at the same time. First, the intent is ident

[2019-08-27 09:38] GaoQ1 commented on #3011
@wochinge so how to solve this problem? i try to set max_event_history=100, but it will loss slot info when events length is higher 100. so i think we can save slot info in other store and meanwhile set max_event_history can reduce the huge of tracker.

[2019-08-27 11:19] liujie19880815 commented on #4116
出现同样的问题了

[2019-08-27 11:31] tmbo commented on #4278
let's remove them for the time being.

[2019-08-27 12:26] dakshvar22 commented on #4312
Hi,
Can you post a snippet of your data as well please?

[2019-08-27 19:41] ricwo commented on #4330
Hi @dhwanils95, files aren't loaded from local directories when you run rasa X in docker (this only happens when running from the command line). Simply paste the contents of your domain under the `Domain` tab, and upload your NLU file in the `Training data` tab. I hope that helps!

[2019-08-28 01:32] MaulishShah commented on #1721
Check your Rasa version support python version..and list both python and
rasa version.

On Tue, Aug 13, 2019, 2:13 AM Mangesh Shinde <notifications@github.com>
wrote:

[2019-08-28 06:00] #4334 closed, assigned to nobody

[2019-08-28 09:06] cristianmtr commented on #2971
Hey.

My company is trying to use reminders and we need them to persist across restarting / deploying of the bot itself.

Did I understand it correctly that this is currently not supported? Any updates? Any way we could achieve this? (It could also be a temporary solution/hack ;) )

[2019-08-28 09:18] stefandi94 commented on #4174
I removed it, but still is working the same. Maybe have something because it uses FormPolicy and order of activation of polices cause this problem?

[2019-08-28 09:23] akelad commented on #4183
oh wait, actually are you just loading this in the custom actions docker image? It should be the `rasa` image you're extending, since that's where the model will be loaded. So basically extending the dockerfile to install that, and mounting the custom component to it

[2019-08-28 09:26] Lambik commented on #3741
I have this same issue.

My command line is this: `rasa train --data /mnt/hgfs/backend/storage/app/rasa/nlu_test --out /mnt/hgfs/backend/storage/app/rasa --fixed-model-name nlu_test_model nlu`

My nlu file ("nlu_test") is simple:

[code]

And I get the error `No NLU data given. Please provide NLU data in order to train a Rasa NLU model using the '--nlu' argument.`

There is no such thing as an `--

[2019-08-28 09:56] erohmensing commented on #4260
@tmbo here's the spec for rasa-x, which i just now realized although i added support for `custom:` also needs support for `channel:`
[code]

@jasonkuhrt would be great if you could test out a spec like this with your NLG server. adding `channel:` for channel-specific should just be adding` "text": {"channel": "string"},` to the properties, I believe

[2019-08-28 09:58] tmbo commented on #4260
@erohmensing can you create a PR on Rasa X to fix the schema?

[2019-08-28 10:01] erohmensing commented on #4260
of course @tmbo

[2019-08-28 12:57] #3634 closed

[2019-08-28 13:12] ngochuyenluu opened #4339 "Docker-compose up [Errno 2] No such file or directory: '/tmp/tmpw67o33_3/nlu/component_6_EmbeddingIntentClassifier.tf_config.pkl'"
**Rasa version**:1.2.3

**Rasa X version** (if used & relevant):0.20.1

**Python version**:3.6.8

**Operating system** (windows, osx, ...): Linux

**Issue**: rasa.core.agent  - Could not load model due to [Errno 2] No such file or directory: '/tmp/tmpw67o33_3/nlu/component_6_EmbeddingIntentClassifier.tf_config.pkl'.

**Error (including full traceback)**:
[code]

**Command or request that led to er

[2019-08-28 13:16] ngochuyenluu commented on #4317
Hello @tmbo, as you suggested, I have tried to run with docker-compose, but I got another error from #4339. Just can figure out where is the problem. If you have any advice, it will be cool. Thank you.

[2019-08-28 14:00] zfallahnejad opened #4340 "Document that ReminderScheduled doesn't work for certain channels"
rasa                     1.2.4
rasa-sdk               1.2.0
Python                  3.6.5
Operating system: Ubuntu
I defined an action to reset the value of a couple of slots. These slots were filled by a form action (like restaurant_form). I want to reset these slots, two minutes after someone filled the form. I used ReminderScheduled to call my action. But nothing happened. Is there something wr

[2019-08-28 14:33] Batalex opened #4341 "Accept pathlib model path"
**Description of Problem**:
I am fond of pathlib and of this particular snippet to load the newest model I have:
[code]

The only friction here is `str(latest_model)`. Adding support for pathlib paths would be quite convenient.

**Overview of the Solution**:

 Since `os.path` functions are compatible with `pathlib`, the only change we would need to do is right there https://github.com/RasaHQ/rasa/

[2019-08-28 15:00] Lambik commented on #3741
Oh, through digging through the source code... I got it working, so this is a post for future google searchers:

There is indeed an --nlu option, that is not in the manual.
The other thing that is important, is that my model filename **has to end with .md**

The final train command is: `rasa train nlu --nlu /mnt/hgfs/backend/storage/app/rasa/nlu_test.md --out /mnt/hgfs/backend/storage/app/rasa --f

[2019-08-28 16:29] alessandrarequena opened #4343 "Problem in SQLTrackerStore"
**Rasa version**: 1.2.2

**Rasa X version** (if used & relevant): not used

**Python version**: 3.6

**Operating system** (windows, osx, ...): Windows 10 Pro

**Issue**:
When using SQLTrackerStore, the actions predictions seens crazy. I think it is because that when the events are retrieved from the database, no ordering is imposed. So, depending on the RDBMS used, the actions that are selected by

[2019-08-28 20:10] jeanveau opened #4344 "is_binary_training in featurizer"
**Rasa version**: 1.2

**Rasa X version** (if used & relevant):

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu

**Issue**:
I found in the trained MemoizationPolicy model, in lookup table all tracker states are using reel intent confidence predicted by interpreter, although  in method `training_states_and_actions`, when calling `_create_states`, we do set `is_binary_trai

[2019-08-28 20:24] dakshvar22 commented on #4266
Document regarding nuances of different training formats -
https://docs.google.com/document/d/1eblzWgtxWKy5-ClBL3elrs-zch2ai_R8lPd0RgbBctM/edit?usp=sharing
Discussion regarding where bot utterances for open domain intents should go -
https://github.com/RasaHQ/rasa/pull/4233#discussion_r318188058

[2019-08-29 06:00] sara-tagger commented on #4344
Thanks for the issue, @federicotdn will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-29 06:00] sara-tagger commented on #4343
Thanks for the issue, @amn41 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-29 06:00] sara-tagger commented on #4341
Thanks for submitting this feature request 🚀@JustinaPetr will get back to you about it soon!✨

[2019-08-29 06:00] sara-tagger commented on #4340
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-29 06:00] sara-tagger commented on #4339
Thanks for the issue, @akelad will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-29 07:14] #4329 closed

[2019-08-29 08:43] erohmensing commented on #4295
would be good if all the supported channels did this by default also

[2019-08-29 08:52] #4276 closed

[2019-08-29 09:49] ronancummins opened #4347 "Option of not including nlu training data in models"
**Description of Problem**:
Given that training data is often very sensitive, it would be nice to have an option to not include it in the trained models that rasa produces. Anyone with access to the model files (tar.gz) can view the training data using zcat model.tar.gz | grep -a "text" which could be problematic if shipping/storing models on certain servers.

**Overview of the Solution**:
Add a (

[2019-08-29 12:00] sara-tagger commented on #4347
Thanks for submitting this feature request 🚀@akelad will get back to you about it soon!✨

[2019-08-29 12:03] akelad commented on #4339
@ngochuyenluu with which version was that model trained? It sounds to me like it's a version pre 1.x, meaning it's not supported. You can try deleting the models from that folder.

[2019-08-29 12:10] akelad commented on #4347
Hey @ronancummins that's a good point. We actually have something like this for the stories already, I don't see why we wouldn't include something like that for the NLU training data. Would you be up for making this contribution?

[2019-08-29 13:04] ngochuyenluu commented on #4339
Hello @akelad, thank you for your answer. I trained the model for 6months ago, and as you suggested, I removed all the files in folder models, retrained data with newest rasa version. After run ````docker-compose up````, it gave me the error:
[code]
I know there is relevant with #2132 but I didn't found the answer because as I know, rasa_core and rasa_nlu are combined to become rasa. So why the mo

[2019-08-29 13:04] #4339 closed

[2019-08-29 13:18] #4237 closed

[2019-08-29 13:38] amnesia15 commented on #4041
@bambootran89 has provided answer to your question @erohmensing

[2019-08-29 14:47] ronancummins commented on #4347
Yes I would... I'll have a look at the way it works for stories, work on getting it to a PR, and review then...

[2019-08-29 15:12] cristianmtr commented on #2927
My company would be very interested in this being supported. We have one Facebook app that we want to connect to multiple pages.

We then want to use the `conversations/{{sender_id}}/execute` API to send custom messages to specific senders. However, in the handler we do not have access to the `sender_id` anymore. We need this in order to obtain the `page id` from our storage.

Having a list of sub

[2019-08-29 15:18] erohmensing commented on #4041
I apologize, I did take a look at that, but couldn't find anywhere information about the maximum length. Could you find that @bambootran89 ?

[2019-08-29 15:30] erohmensing commented on #4119
Hi @RanaMostafaAbdElMohsen , sorry for the late response. I checked in with my team, and we don't want to pass the domain to the NLU interpreter.

I think the best place to do this would be in the processor where the received message is:
https://github.com/RasaHQ/rasa/blob/ab010785f5b5b7b11025a845c1135b8c3b0b4d43/rasa/core/processor.py#L302

Since we're in the processor, you can access the domain

[2019-08-29 16:47] nbeuchat commented on #4302
I love that approach @tmbo, that would definitely work for our use case. I was actually not aware before this thread that we could have multiple in and out checkpoints.

[2019-08-29 19:02] bhargavat opened #4351 "ModuleNotFoundError: No module named 'rasa.nlu' error occurs in remote server but not locally"
[requirements.txt](https://github.com/RasaHQ/rasa/files/3556983/requirements.txt)

I was running my rasa model fine under my local environment (macOS 10.14.5 using PyCharm, Python 3.7.3). I exported the requirements.txt file under the venv used for executing my python script and installed packages through that in the remote server (centOS 7 with Python 2.7.5 at system level). I had the exact same

[2019-08-29 20:56] Bots4You-Heimel commented on #3922
Had the same Issue with Rasa 1.2.5. Formaction behaved differently when using Postgesql Tracker Store compared to InMemory Store.

[2019-08-29 21:43] msamogh commented on #4319
Could you please update to the latest Rasa version and try again?

[2019-08-30 06:00] sara-tagger commented on #4351
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-30 06:00] #4351 closed

[2019-08-30 07:26] Ghostvv commented on #4302
I'll close the issue for now

[2019-08-30 07:26] #4302 closed

[2019-08-30 07:31] 123v commented on #3708
create a virtual environment - **pip/pip3 install virtualenv**
go to the folder where you want to create venv, and create project - **virtualenv -p python_path project_name**
activate the env - **source project_name/bin/activate**
install rasa - **pip install rasa**
train model - **rasa train**
deactivate venv - **deactivate**
That's it.

[2019-08-30 07:40] chidauri commented on #3410
@erohmensing Hi, i would like to work on this.

[2019-08-30 08:34] akelad commented on #4347
awesome!

[2019-08-30 09:20] #4129 closed

[2019-08-30 09:41] erohmensing commented on #3410
Awesome, @chidauri! Let me know if you need any help. I think [this function](https://github.com/RasaHQ/rasa/blob/0354dcf1dc46689f048d3f7dbfca51b6d27e638d/rasa/core/events/__init__.py#L289) will be super useful!

[2019-08-30 10:09] cajoek opened #4353 "Rasa train should detect changes is external dataset used by custom NLU component"
**Description of Problem**: I have created a custom RASA NLU component that loads additional training data from a file. Both for debugging and in production it would be nice if the command "rasa train" could detect changes in the NLU component code or the data file and retain it. Similar to how it detects changes in config, domain etc. Most important is to detect changes in the external training d

[2019-08-30 12:00] sara-tagger commented on #4353
Thanks for submitting this feature request 🚀@Ghostvv will get back to you about it soon!✨

[2019-08-30 12:10] imLew opened #4356 "failing tests for expected warnings"
Some tests are supposed to check for the printing of warning or error messages, therefore if such a message is printed during testing the tests do currently not fail. However this effectively hides warnings and error that are not supposed to be occur.

Testing should be changed such that
1) when a warning or error message is expected during tests it is not printed to the test log
2) if a warning o

[2019-08-30 12:17] imLew commented on #4356
We have a util function `rasa.utils.common.set_log_level` which sets the log level for all the different loggers in rasa and sets a log level env var.
Because of this, during some tests the `log_level` changes.
Specifically `tests.test_server.py::test_load_model_from_model_server` and `tests.core.test_agent.py::test_agent_with_model_server_in_thread`/`test_wait_time_between_pulls_without_interval`

[2019-08-30 12:17] federicotdn commented on #4356
From what was discussed by chat, one way we could implement this would be:
- Add the [`@pytest.mark.filterwarnings()`](https://docs.pytest.org/en/latest/warnings.html?highlight=warnings#pytest-mark-filterwarnings) annotation to current tests that print warnings. After running the test suite, no warnings should have been printed.
- Add [`-W`](https://docs.pytest.org/en/latest/warnings.html) to the

[2019-08-30 12:21] imLew commented on #4356
One this about this though: it only filters warnings raised by `warnings.warn` right? We also have a couple `logger.warning`s. Should we replace them?

[2019-08-30 12:29] federicotdn commented on #4356
Yes, I think it's only for `warnings.warn`. Not sure what to do about the `logger.warnings`, it would be nice to treat them exactly the same (mute existing ones, fail on new ones).

[2019-08-30 12:35] #4322 closed

[2019-08-30 12:54] imLew opened #4358 "consistent signature across core and nlu `persist` methods"
Both core policies and nlu components are persisted with a method called `persist`, however their signatures are inconsistent, i.e. core `persist`s usually take only a single string that is the path where the component should be saved (i.e. including the filename), while in nlu `persist`s it is mixed between path and path+filename.
(Also the path variable sometimes called something else)

[2019-08-30 13:08] dtsonov opened #4359 "Simple story misbehave or does not work."
I have the following simple story:

## predefined_path_1
*greet
  - utter_greet
  - utter_ask_name
* inform{"pname":""}
  - utter_ask_age
* inform{"page":""}
  - utter_ask_weight
* inform{"pweight":""}
  - utter_how_you_feel

## say goodbye
* goodbye
  - utter_goodbye

When train and start the model it displays only the greet utter after I typed "hi" which is defined under greet intent in nlu.md a

[2019-08-30 13:35] imLew commented on #4356
So the plan of attack on this issue is:
1) Fail on warnings (this is the `-W`)
2) Ignore the warnings that we currently have (by adding the `filterwarnings` decorator)
3) Fix the warnings

[2019-08-30 13:37] selphe commented on #3922
@akelad @MetcalfeTom looks like it was fixed some time ago: https://github.com/RasaHQ/rasa/issues/4254
I'll try to reproduce this problem again.

[2019-08-30 14:38] akelad commented on #3922
ah ok, let me close this then and you can reopen if it persists

[2019-08-30 14:38] #3922 closed

[2019-08-30 14:39] imLew commented on #4356
Based on the fact that `filterwarnings` only filters `warnings.warn` the question was raised what we should be using in our code.
According to official [documentation](https://docs.python.org/3.7/howto/logging.html)
"""warnings.warn() in library code if the issue is avoidable and the client application should be modified to eliminate the warning

logging.warning() if there is nothing the client ap

[2019-08-30 14:42] JEM-Mosig opened #4361 "Make all demo bots self-identify as bots"
**Description of Problem**:
When building bots, It should be standard practice to make the bot self-identify as a bot when asked. To promote this attitude, we should add a "I am a bot, powered by Rasa" response to a bot challenge, like "Are you a bot?".

**Overview of the Solution**:
Add a `bot_challenge` intent and a `utter_iamabot` action to all example projects and the `rasa init` bot.

**Defin

[2019-08-30 14:55] chidauri commented on #3410
@erohmensing how do i test the changes and how should the output look?

[2019-08-30 14:56] ngochuyenluu opened #4362 "rasa.nlu.model.UnsupportedModelError: The model version is to old to be loaded by this Rasa NLU instance. Either retrain the model, or run withan older version. Model version: 1.2.3 Instance version: 1.3.0a1"
**Rasa version**:1.2.5

**Rasa X version** (if used & relevant):0.20.1

**Python version**:3.6.8

**Operating system** (windows, osx, ...): Linux

**Issue**: rasa.nlu.model.UnsupportedModelError: The model version is to old to be loaded by this Rasa NLU instance. Either retrain the model, or run withan older version. Model version: 1.2.3 Instance version: 1.3.0a1

**Error (including full traceback

[2019-08-30 16:43] federicotdn commented on #4356
I feel like if we are already using `logger.info`, `logger.debug`, `logger.error` in our code, then it also makes a lot of sense to use `logger.warning` as well. The only problem with this is that the `filterwarnings` tool won't help us there (like you mentioned).

[2019-08-31 13:27] chidauri commented on #4141
@amn41 I would like to work on this.

[2019-09-01 01:13] nike47 commented on #3998
I am new to open source would really like to work on an issue, and I think this is a good one. So can I work on this?

[2019-09-01 09:32] nike47 commented on #3985
Can I work on this?

[2019-09-01 09:37] amn41 commented on #4141
awesome!

[2019-09-01 15:28] kunci115 opened #4365 "twilio return text "success" in whatsapp after send message in bot"
**Error (including full traceback)**:
https://github.com/RasaHQ/rasa/pull/4364/files#diff-041947069f3348b1e47348e3a3e90f3b
[code]
it suppose to be just response without text, because text would be appear when you chat to the bot from whatsapp twilio

[2019-09-01 16:27] msamogh opened #4366 "UI Improvements for the installation page"
- [ ] Convert bullet points into a horizontal row of blocks for each link (in this PR at the time of writing this https://github.com/RasaHQ/rasa/pull/4357)

[2019-09-01 16:31] msamogh commented on #3998
@nike47 Absolutely! Please let us know if you need any help along the way.

[2019-09-01 16:33] msamogh commented on #4174
Could you post the full contents of your domain, config and stories file(s)?

[2019-09-01 16:35] TarunKumar50 commented on #4236
I am also facing same issue .actually if there is any issue in domain file it exactly didn't show the problem, it just use empty domain file and due to that all entries in domain are thrown as errors.

i have seen your update to rasa.py file but still after that where is the actual problem in domain file is not visible
@tabergma can you please help me here.

[2019-09-01 16:42] TarunKumar50 commented on #4236
@tabergma can you please help me here.
Attached files which i am using .please let me know what else i can share.

[domaincontent.txt](https://github.com/RasaHQ/rasa/files/3563725/domaincontent.txt)
[error_output.txt](https://github.com/RasaHQ/rasa/files/3563726/error_output.txt)

[2019-09-01 19:25] chidauri commented on #4141
@amn41 I am thinking of implementing it in the same way as kwargs is passed in `train_core` using this line https://github.com/RasaHQ/rasa/blob/82142fe7c18faca792c1f09c9fd398cc3b3e160a/rasa/cli/train.py#L94
We can store the `num_threads` in kwargs and then pass in `train_nlu`?
Is this the correct way?

[2019-09-01 21:04] lmaczulajtys commented on #3419
Hi @erohmensing, I'll submit PR in two days. Sorry it took so long. Hard time at work.

[2019-09-02 06:00] sara-tagger commented on #4365
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-09-02 06:00] sara-tagger commented on #4362
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-02 06:00] sara-tagger commented on #4359
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-09-02 06:00] #4359 closed

[2019-09-02 06:42] kunci115 commented on #4365
but sanic to get out returning something, how to solve this? if we erase "success"there, its work, but in backend there would be an error from sanic Invalid response object for url b'/webhooks/twilio/webhook', Expected Type: HTTPResponse, Actual Type: <class 'NoneType'>
Exception occurred while handling uri: 'http://ea92ff87.ngrok.io/webhooks/twilio/webhook'
Traceback (most recent call last):
  Fi

[2019-09-02 08:22] imLew commented on #4356
Yes, it would not be good to use `warnings.warn` just because we can easily filter it during testing.
However I do think there a merit to distinction made in the docs and we should consider following this convention unless we have a reason not to do so.
Either way it seems we will not stop using `logger.warning` so we have to figure out how to filter these during testing.

[2019-09-02 11:02] #1740 closed

[2019-09-02 12:05] srajan-jha commented on #3638
This same thing happened with me, so wanted to know if this was fixed in the previous issue?

[2019-09-02 12:11] gausie commented on #4287
Thanks for making the issue. You're right, we should get some feedback going, certainly in the case of success/failure.

[2019-09-02 12:16] erohmensing commented on #4331
@dhwanils95 are you sure that you ran the permission commands in step 10 (also 11?)

So for e.g. the models folder, you would run
[code]

[2019-09-02 12:50] erohmensing commented on #3419
No worries. Looking forward to your contribution!

[2019-09-02 13:16] amnesia15 commented on #4041
I think that @bambootran89  pointed to **callback_data** and to the information that it shouldn't be larger than 64 bytes.
We can see that on the following link (master branch of the Rasa, not the version that I have used for testing) we're providing callback_data with the payload that we have specified for each button.
https://github.com/RasaHQ/rasa/blob/13461d6d55ed70f4d941a533858cfe9baf5889f9/r

[2019-09-02 13:19] nvlong198 opened #4371 "Actions do not work properly"
**Rasa version**:
rasa-core (0.14.4)
rasa-core-sdk (0.14.0)
rasa-nlu (0.15.1)
rasa-sdk (1.2.0)

**Python version**: Python 3.6.8

**Operating system** Ubuntu 18.04

**Issue**: My rasa bot understands the action, but It does not respond to the message ‘Hello world’ in the console output. I saw many struggling with this, hope you guys consider.
Here is my actions.py & whole project
https://github.co

[2019-09-02 13:25] amnesia15 commented on #4041
There is the possibility that when payload was constructed some of the entity names were too long.

[2019-09-02 13:26] nbeuchat opened #4372 "Rasa end-to-end test does not evaluate the NLU model on the provided end-to-end stories"
**Rasa version**: 1.2.5

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu (through WSL)

**Issue**:
When testing an end-to-end story with `rasa test` and the `--e2e` flag, the NLU evaluation is done on the normal training data instead of on the data in my end-to-end story files. The Core evaluation works as expected on my end-to-end stories.

The [documentation](https://ra

[2019-09-02 13:34] erohmensing commented on #4041
Ah, can't believe I missed that. Thanks for the explanation. How do you think this should be handled? In my opinion, I would have it return the first 64 chars, and then log a warning so that the user can see why the bot most likely behaved incorrectly (e.g. if all of the entities did not make it in)

are you already testing to make sure this is the case? If so, we'd love to approve a PR from you f

[2019-09-02 14:25] #1513 closed

[2019-09-02 16:26] #4278 closed

[2019-09-02 16:59] DiegoProtec commented on #3975
I need to pass ```sender_id``` to cmdline channel. It would be possible to adapt the param 'sender_id' on method 'record_messages' in 'console.py' as optional to receive the sender from credentials?

[2019-09-02 17:16] DiegoProtec opened #4375 "Sender for cmdline channel"
**sender default**:
We need the cmdline channel sender id parameter to be entered.

**Overview of the Solution**:
file: ```rasa.core.channels.consolep.py```
version: 1.2.6
[code]
suggest: include **'sender_id = sender_id or UserMessage.DEFAULT_SENDER_ID'**
[code]

[2019-09-02 17:25] erohmensing commented on #4362
@ngochuyenluu what `rasa` image are you using in the docker-compose? Is it set to `latest`? Instance version `1.3.0a1` isn't released. If so, setting it to `stable` should do the trick.

[2019-09-02 17:30] erohmensing commented on #4132
@true1337 this should be fixed in 0.20.2. Can you upgrade and check whether your stories now render?

[2019-09-02 18:07] hsm207 commented on #1446
I want to work on this

[2019-09-03 05:53] sara-tagger commented on #4372
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-03 05:53] sara-tagger commented on #4375
Thanks for submitting this feature request 🚀@dakshvar22 will get back to you about it soon!✨

[2019-09-03 05:53] sara-tagger commented on #4371
Thanks for the issue, @akelad will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-09-03 06:06] kunci115 commented on #4365
refer to this https://github.com/RasaHQ/rasa/pull/4364/commits

[2019-09-03 06:46] 123v commented on #4129
hi, I'm facing same issue. is there any update?
![powershell](https://user-images.githubusercontent.com/18350670/64149853-b027b100-ce44-11e9-98d4-1bc6b8e64e59.PNG)

[2019-09-03 07:22] true1337 commented on #4132
No, it doesn't work.

![image](https://user-images.githubusercontent.com/26603018/64152123-9aaa8b00-ce34-11e9-9940-46071d44bcf0.png)
![image](https://user-images.githubusercontent.com/26603018/64152174-b9a91d00-ce34-11e9-98d4-7b2309826e21.png)

[2019-09-03 07:48] akelad commented on #1446
awesome! let us know if we can help with anything

[2019-09-03 07:49] akelad commented on #4371
@nvlong198 this sounds more like a usage issue to me - please ask those kinds of questions in our [forum](https://forum.rasa.com)
One thing I can think of though: make sure your action server is running

[2019-09-03 07:49] #4371 closed

[2019-09-03 08:25] erohmensing commented on #4375
Hi @DiegoProtec, why do you need the command line channel sender id to be entered?

[2019-09-03 09:43] tmbo commented on #4365
fixed as part of https://github.com/RasaHQ/rasa/pull/4364

[2019-09-03 09:43] #4365 closed

[2019-09-03 11:08] tmbo commented on #4047
We've just replaced the lock implementation with a new solution from @ricwo in https://github.com/RasaHQ/rasa/pull/3933 . I am not sure if this issue is fixed by this (not released yet, only on master) but the error message should at least be different.

[2019-09-03 11:13] erohmensing commented on #4132
Hm this is strange. I've tested locally and it seems to work fine. Just to be sure, if you were to remove the `{"topic": "domain"}` from `* choose {"topic":"domain"}` does it then visualize?

[2019-09-03 12:03] erohmensing commented on #4320
Hi @Cristianasp! Thanks for your patience. I've figured out the issue. First of all, you only want the FROMZIP files, pulled from the configuration as described here: https://rasa.com/docs/rasa/migrate-from/google-dialogflow-to-rasa/, and for what it's worth, you won't be able to train a rasa NLU model with only one intent.

That being said, it seems like the error is happening [here](https://gith

[2019-09-03 12:14] erohmensing commented on #4320
I have a mockup of a potential solution, but I don't know that much about the DialogFlow format. Is it always the case that the `lang` param inside the `responses > messages` in `intent.json` matches up with the `intent_usersays_lang.json`? What does it mean to have multiple responses and/or messages in this case?

[2019-09-03 12:22] samzer commented on #4163
If no one is working on this currently, can I pick this one up?

[2019-09-03 12:33] erohmensing commented on #4163
Sure thing @samzer! I don't think anyone is working on it. Will assign to you.

[2019-09-03 12:34] samzer commented on #4163
@erohmensing Thanks!

[2019-09-03 12:41] true1337 commented on #4132
@erohmensing Yes, in that way it works.

[2019-09-03 12:43] dasxx179 opened #4378 "CORS Issue After Rasa 1.2.4"
**Rasa version**:
rasa                               1.2.7
rasa-core                          0.14.5
rasa-core-sdk                      0.14.0
rasa-nlu                           0.15.1
rasa-sdk                           1.2.0
**Rasa X version** (if used & relevant):
rasa-x                             0.20.2
**Python version**:
Python 3.7.3
python-engineio                    3.8.2.post1
python-sock

[2019-09-03 12:43] dakshvar22 commented on #4266
Fixed in https://github.com/RasaHQ/rasa/pull/4233

[2019-09-03 12:43] #4266 closed

[2019-09-03 12:44] dakshvar22 commented on #4285
Not pursuing this for now, as the primary use case was solved in a different way https://github.com/RasaHQ/rasa/pull/4233

[2019-09-03 12:44] #4285 closed

[2019-09-03 12:48] #414 closed

[2019-09-03 12:50] ngochuyenluu commented on #4362
Hello @erohmensing, thank for responding. I added in the ````docker-compose.yml``` like this:
[code]
So I suppose the rasa image is set to latest. If I understand well your recommendation, we will change rasa/rasa:latest-full to rasa/rasa:stable? I have tried, but it doesn't work. Did I misunderstanding or anything? Thank you in advance.

[2019-09-03 13:31] tmbo opened #4379 "Secure API using a JWT instead of token auth"
**Description of Problem**: Currently, the webserver is either unsecured or secured using token authentication. The token authentication is non-standard. Rather than using our own token-based authentication, it would be good to switch to a standard method for securing these endpoints.

**Overview of the Solution**: Instead of using tokens to authenticate a request, we can use JWT tokens. To make t

[2019-09-03 13:32] #2689 closed

[2019-09-03 13:36] tmbo commented on #4080
@ricwo can you take another look at this? feel free to close if we can not reproduce

[2019-09-03 13:37] tmbo commented on #4047
I am going to close this for the moment. Until confirmed that this is still an issue.

[2019-09-03 13:41] tmbo commented on #4231
@abhilasharoy do we already have this as part of any design?

[2019-09-03 14:01] abhilasharoy commented on #4231
@tmbo In the past, we designed toast options for each of the stages of training.

A lot of this was moved out of priority, and we have only implemented toasts for the "training in progress" and "training complete" scenarios. cc @Saladdin

Here are some of the options:

![training_toasts](https://user-images.githubusercontent.com/44964694/64179515-947fd300-ce63-11e9-84d3-ed8bfa99ffaf.png)

[2019-09-03 14:25] tmbo commented on #4086
I think the `--no-plot` flag is separate but related.

This issue should be fixed as stated in the SO post using
[code]

[2019-09-03 14:26] cuongnda commented on #4047
When do you plan to release this bug fix?

[2019-09-03 14:26] tmbo commented on #4086
Even better would be to check if a backend is set and only set one if none is set.

[2019-09-03 14:55] tmbo commented on #4047
we are planning to cut the next minor later this week

[2019-09-03 16:26] rgstephens commented on #4080
I think this can be closed. The remaining issues in this thread are covered in #4185.

[2019-09-03 16:26] #4080 closed

[2019-09-03 17:15] azharameen commented on #3996
hi, i too get the same issue. did anyone fix this iisue

[2019-09-03 17:17] azharameen commented on #4006
Hi, Is this issue fixed,

[2019-09-03 17:45] erohmensing commented on #4006
It isn't, the warning still shows. However, it doesn't seem to stop duckling from parsing dates at all, though it might be defaulting to UTC instead of time zone, i'm not sure.

[2019-09-03 17:53] nbeuchat opened #4380 "Filling a slot in a form using the `from_entity` does not work if an overlapping entity is extracted"
**Rasa version**: 1.2.5

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu (WSL)

**Issue**:
Filling a slot in a form using the `from_entity` does not work if another entity type is extracted before it. I have a contact form where I ask the email of a user. When I enter `Nico@dmx.de`, Spacy detects it as a `PERSON` while duckling correctly identifies it as an `email`. The p

[2019-09-03 19:33] tocosastalo opened #4381 "Multiple sequential actions cause asyncio TimeoutError"
**Rasa version**: 1.2.4
**Rasa SDK version**: 1.2.0
**Python version**: Python 3.6.9 (Anaconda 4.5.13)
**Operating system** : Win10, 64bit

**Issue**:
Multiple sequential actions (I would say 4 and more)  in row in one story lead to `Task exception was never retrieved` error (see traceback).

**Story**:
[code]

**Action**:
[code]

**Command or request that led to error**:
[code]

**Error (includin

[2019-09-03 19:47] tocosastalo commented on #4381
When I change story to:
[code]

and don't use custom actions, it works properly:
[code]

[2019-09-03 19:58] tocosastalo commented on #4381
Original story and using `run` command (which starts socket channel):
[code]
it also works properly.

There is probably problem between rasa sdk and shell.

[2019-09-03 22:29] hsm207 commented on #1446
@akelad what would the unit test using @MetcalfeTom example look like? Should I create a markdown file containing the given examples or can each intent be represented as an instance of `TrainingData`?

[2019-09-04 03:32] #4361 closed

[2019-09-04 05:06] azharameen commented on #4006
Thanks @erohmensing.
In my app I want date of birth, the intent goes below threshold and default fallback action is executed. I thought this might be the reason. Thanks for the reply, i'll check my training data.

[2019-09-04 06:00] sara-tagger commented on #4381
Thanks for raising this issue, @msamogh will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-04 06:00] sara-tagger commented on #4378
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-04 06:00] sara-tagger commented on #4380
Thanks for raising this issue, @tmbo will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-04 06:56] thepurpleowl commented on #3011
Can we also look into this issue? This will happen even with max_history = 0, if there are a lot of checkpoints.

https://github.com/RasaHQ/rasa/issues/2765

[2019-09-04 07:46] tmbo commented on #4380
Mhm don't directly know what is going wrong here. @Ghostvv do you have an idea why this might fail?

[2019-09-04 08:21] tormath1 commented on #4047
Hi @tmbo , I tested with the current master branch.
I still have the same error message:

[code]

:disappointed_relieved:

[2019-09-04 08:48] erohmensing commented on #4006
@azharameen you can use `rasa shell nlu` to see how your bot parses messages, to see if it's picking up the entities correctly.

[2019-09-04 10:57] tmbo commented on #4047
For what it is worth: although similar, it is a different error (happens during custom action execution). can you please create a new issue with this stacktrace and some more detail on when exactly this happens?

[2019-09-04 11:15] quest4next commented on #3027
Just in case if any one still faces this issue,  make sure there are no other files in your data folder except the ones which you're used for training. This should fix your issue.

[2019-09-04 11:15] quest4next commented on #2180
Just in case if any one still faces this issue, make sure there are no other files in your data folder except the ones which you're used for training. This should fix your issue.

[2019-09-04 11:31] mlcode-jeevan opened #4384 "i don't know how to load train model through api and i want to load data through api"

[2019-09-04 12:00] sara-tagger commented on #4384
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-04 12:41] erohmensing commented on #4384
@mlcode-jeevan this is a usage question, not a bug or feature request -- you can ask questions on our [forum](http://forum.rasa.com), and please don't ignore the issue template when it tells you to do so. The rasa API is also documented [here](https://rasa.com/docs/rasa/api/http-api/).

[2019-09-04 12:41] #4384 closed

[2019-09-04 12:44] erohmensing commented on #4362
Sorry, I misspoke, there isn't a stable tag for rasa it seems. Just set it to the most recent released version, in this case 1.2.7 -- so `rasa/rasa:1.2.7-full`

[2019-09-04 12:44] #4011 closed

[2019-09-04 13:30] akelad commented on #1446
@hsm207 you can take a look at the tests written here: https://github.com/RasaHQ/rasa/blob/master/tests/nlu/base/test_training_data.py

[2019-09-04 14:29] DiegoProtec commented on #4375
I don't need anymore, thanks!
________________________________
De: Ella Rohm-Ensing <notifications@github.com>
Enviado: terça-feira, 3 de setembro de 2019 06:26
Para: RasaHQ/rasa <rasa@noreply.github.com>
Cc: Diego de Santana Fernandes <diegoprotec@hotmail.com>; Mention <mention@noreply.github.com>
Assunto: Re: [RasaHQ/rasa] Sender for cmdline channel (#4375)

Hi @DiegoProtec<https://github.com/Di

[2019-09-04 14:30] #4375 closed

[2019-09-04 14:42] #3863 closed

[2019-09-04 14:44] LakshiAthapaththu commented on #3106
Hi,
I have trained rasa NLU and core separately and passed an NLU interpreter to Agent.load function and used it into handle_message function. But it always gives an empty response. Here is my code.

nlu_interpreter = RasaNLUInterpreter(nlu_model_path)
agent = Agent.load(core_model_path, interpreter = nlu_interpreter)
while True:
        user_input = input()
        if user_input == 'stop':

[2019-09-04 15:10] gausie commented on #4202
@akelad I'm not sure, we'll need to try to set up a similar set of data on our end

[2019-09-04 16:23] furqan-shakoor opened #4390 "Silent failure when the number of intents is less than 2"
**Rasa version**: '0.15.1'

**Rasa X version** (if used & relevant):

**Python version**: 3.7

**Operating system** (windows, osx, ...): MacOS

**Issue**:
If the number of intents in an application is less than 2, the application does not correctly classify any inputs to an intent.

The endpoints `/train` and `/parse` both return 200 in such a case, indicating no errors. But the server logs show t

[2019-09-04 16:28] ngochuyenluu commented on #4362
Hello, it worked. Thank you a lot :)

[2019-09-04 16:28] #4362 closed

[2019-09-04 17:37] tmbo commented on #4378
I think this should be fixed by #4389 now

[2019-09-04 17:37] #4378 closed

[2019-09-04 17:38] tmbo commented on #4025
I will close this as it should be fixed now.

[2019-09-04 17:38] #4025 closed

[2019-09-04 17:38] #3973 closed

[2019-09-04 17:39] tmbo commented on #3659
This error does not seem to be Rasa related anymore.

[2019-09-04 17:39] #3659 closed

[2019-09-04 23:21] #3410 closed

[2019-09-05 02:45] baudzhou opened #4395 "rasa-x 0.20"
**Rasa version**: 1.2.7

**Rasa X version** (if used & relevant): 0.20.2

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): ubuntu 1604

**Issue**:
When using rasa-x interactive learning mode, itents can be recognized but next action never be proposed. When I click the "enter" button, rasa-x performes nothing.
But the normal conversation mode works fine.

![image](https://user-i

[2019-09-05 03:21] baudzhou commented on #4395
I found that this problem caused by intents with no entities which reconized by customized extractor.  When rasa-x tried to save nlu data, "start" and "end" keys could not be found.

[2019-09-05 04:57] amn41 commented on #4395
hi @baudzhou - are you on the latest 0.20.2?

[2019-09-05 05:00] amn41 commented on #4395
thanks @baudzhou - can you confirm what the output of your custom component is? if there are no entiities, rasa shouldn't be looking for a `"start"` or `"end"` key

[2019-09-05 06:00] sara-tagger commented on #4390
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-09-05 06:16] baudzhou commented on #4395
@amn41
We created a component to solve single word.
The output of custom component looks like this
[code]
"None" value caused the error. It should not be a bug. But if you fix this, rasa x will be more robust.
Thanks!

[2019-09-05 06:16] #4395 closed

[2019-09-05 07:25] erohmensing commented on #3557
If @1tupac is able to use it fine, I will close this. @ice2tricky if you try again and update to the latest vesion and still run into problems, let us know

[2019-09-05 07:25] #3557 closed

[2019-09-05 07:34] erohmensing commented on #3410
Thanks for your contribution @chidauri 🎉

[2019-09-05 08:53] ronancummins commented on #4347
This has been successfully merged into master by tmbo in PR #4394

[2019-09-05 08:53] #4347 closed

[2019-09-05 09:11] JulianGerhard21 opened #4396 "TypeError: utter_template() got multiple values for argument 'silent_fail'"
**Rasa version**: 1.3.0

**Rasa X version** (if used & relevant): nr

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Windows 10

**Issue**:

When a custom form action is triggered, the mentioned error is thrown. Most likely this happens due to the following implementation:

**utter_template in executor.py:**
[code]

**forms.py in rasa_sdk**:
[code]
I think this is a classic c

[2019-09-05 10:06] Bots4You-Heimel commented on #4343
This is fixed in 1.3.0 but not in 1.2.x. Please apply the fix also to the pip releases, as 1.3.0x doesn't work for us yet.

[2019-09-05 10:19] #4287 closed

[2019-09-05 10:19] gausie commented on #4287
This will be shipped in the next release!

[2019-09-05 10:24] solhd commented on #2654
could you please suggest how to access the `additional_info` in the `set_currency` custom action ?

[2019-09-05 10:25] agrawal-mohit commented on #2654
Could you please suggest how to access the `additional_info` in the custom action `set_currency`?
Many thanks.

[2019-09-05 11:32] chidauri commented on #3411
Hi @erohmensing i would like to work on this.

[2019-09-05 11:39] TatianaParshina commented on #4183
@akelad yes, I load it in the custom actions docker image. Do you have any example of how to do it for the custom component (rasa demo code or tutorials)?

[2019-09-05 12:00] sara-tagger commented on #4396
Thanks for the issue, @akelad will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-09-05 12:06] erohmensing commented on #3411
Sounds good @chidauri! Let me know if you need any help.

[2019-09-05 12:08] erohmensing commented on #1472
merged in https://github.com/RasaHQ/rasa/pull/4335

[2019-09-05 12:08] #1472 closed

[2019-09-05 13:05] Jasperty opened #4397 "where is the code for bert pruning?"
https://blog.rasa.com/pruning-bert-to-accelerate-inference/

[2019-09-05 13:33] JulianGerhard21 commented on #4397
Hi @Jasperty ,

after investigating the branch mentioned in the blog post, you could take a look at:

* folder **bert**
* folder **fake_neuron_pruning**
* file **compression_utils.py**

[here](https://github.com/RasaHQ/rasa/tree/compressing-bert/rasa/nlu/classifiers).

Regards
Julian

[2019-09-05 13:37] erohmensing commented on #4390
This makes sense. Would you be interested in contributing a fix @furqan-shakoor ?

[2019-09-05 14:00] jwheat commented on #4129
I have this as well - [kind of fixed it]

Running Windows 10, fwiw.

When I initially execute `rasa run` there are no errors in the console.

Simply hitting the url : http://localhost:5005/ correctly show this in the browser:
`Hello from Rasa: 1.2.5`

However hitting that url in the browser displays the following error dump in the console and in out.log

[code]

I don't think it's a big deal, it's

[2019-09-05 14:11] tmbo commented on #4396
@JulianGerhard21 thanks a lot for the issue report. I just pushed a fix to Rasa SDK to fix this. We removed an unused argument that resulted in some unintended incompatibilities.

I have readded the argument and released 1.3.1 for Rasa SDK, if you run `pip install -U rasa-sdk` all should be good.

[2019-09-05 14:11] #4396 closed

[2019-09-05 15:55] smar10 opened #4398 "Intent as optional field in nlu.json"
Hey guys,
I'm trying to create an nlu.json file without define the "intent" field, only entities.

The documentation https://rasa.com/docs/nlu/dataformat/ says that intent is an optional field:

so it should work - however , i've tried that in multiple ways (with empty field, none, null) but none of them work.

Any ideas how to solve that ?
Many thanks

[2019-09-05 16:30] nbeuchat commented on #4372
@JustinaPetr do you have an idea of what can be happening? Thanks for your help

[2019-09-05 17:55] rgstephens opened #4400 "Rasa X /api/domain?store_templates=true fails"
**Rasa X version**: 0.20.2

**Issue**:

I just upgraded Rasa X to 0.20.2 and the endpoint for `PUT /api/domain?store_templates=true` returns a status 500.

If I call `PUT /api/domain` the call succeeds.

Has the `store_templates` option been dropped?  If so, there's no mention of this in the changelog or latest API docs.

[2019-09-05 18:59] icaropires opened #4401 "Missing dependency for running tests"
**Rasa version**: 1.3.0a2

**Python version**: 3.7.4

**Operating system** (windows, osx, ...): Fedora 30 Thirty

**Issue**: I followed the steps at [Development Internals](https://github.com/RasaHQ/rasa#development-internals) and unfortunately the Makefile doesn't have a `prepare-tests-fedora` so I installed the `graphviz`, `graphviz-devel` and runned manually the lines at `prepare-tests-files` o

[2019-09-05 19:54] icaropires opened #4402 "Run tests in parallel"
**Description of Problem**:

I noticed that the tests are run on a single core which can be much slower on a multi-core machine. I've run the tests with `make tests` on my machine which has a `Intel Core i5-4210U` and it took 1769.57 seconds and running in parallel took 1054.12 which is a great improvement ! It spent 59% of the original time. This gain can improve the development time for all the

[2019-09-05 20:05] rgstephens commented on #4185
I've upgraded to the latest Rasa X (0.20.2) and just noted a new issue with this endpoint, #4400.

This got me looking more closely at the `/templates` endpoints. These endpoints all work in `json` Rasa is setup for the user to specify the templates in `markdown`. Unlike the intents and stories, there's no convert method between markdown and json.

Will the `/templates` endpoints be supporting mar

[2019-09-06 00:00] intranetchris opened #4404 "Rasa X Interactive Learning writes conversation in reverse order"
**Rasa version**: 1.2.5

**Rasa X version** (if used & relevant): 0.20.2

**Operating system** (windows, osx, ...): OSX 10.14.5, Chrome 76

**Issue**: When I use Interactive Learning, the chat appears in reverse order, and the stories are generated in reverse order. See screencast: https://www.dropbox.com/s/jgbx2t2brlg1bz8/RasaX-Error-Reverse-Story.mov?dl=0

**Content of domain file (domain.yml)**

[2019-09-06 02:06] Jasperty commented on #4397
i change to compress-bert branch, but i cannot find the folder you mentioned.

[2019-09-06 02:07] Jasperty commented on #4397
Thanks a lot, i get it

[2019-09-06 02:07] #4397 closed

[2019-09-06 02:41] Jasperty opened #4405 "how can we speed up weight pruning for bert?"
on your blog https://blog.rasa.com/pruning-bert-to-accelerate-inference/,
weight pruning will not speed up BERT, because we can not remove the pruned weights, so what about applying spared-matrix speed methods to it? do you have a try?

[2019-09-06 06:00] sara-tagger commented on #4405
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-09-06 06:00] #4405 closed

[2019-09-06 06:00] sara-tagger commented on #4404
Thanks for the issue, @ricwo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-09-06 06:00] sara-tagger commented on #4401
Thanks for raising this issue, @akelad will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-06 06:00] sara-tagger commented on #4402
Thanks for submitting this feature request 🚀@msamogh will get back to you about it soon!✨

[2019-09-06 06:00] sara-tagger commented on #4398
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-09-06 06:00] sara-tagger commented on #4400
Thanks for the issue, @gausie will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-09-06 06:00] #4398 closed

[2019-09-06 06:05] akelad commented on #4401
@federicotdn i think you recently updated the requirements for running tests - thoughts on this?

[2019-09-06 06:07] akelad commented on #4183
It's pretty much the exact same procedure as with the actions image, but you do it with the rasa image instead. So e.g. build a docker image with this Dockerfile:

[code]

And then in the docker-compose.override.yml:
[code]

[2019-09-06 06:08] akelad commented on #4183
i'm gonna close this issue now as it's more of a usage question. If you need further help, please post on the [forum](https://forum.rasa.com) and we'll get back to you there

[2019-09-06 06:08] #4183 closed

[2019-09-06 08:18] federicotdn commented on #4401
I think it depends on whether we want to support testing on various GNU/Linux distributions or not. Fedora is one of the most popular ones so I guess it'd makes sense to add some setup instructions.

We should also add the `python3-tk` package for the Ubuntu installation, I forgot about that one.

[2019-09-06 10:08] dhwanils95 commented on #4331
Hey @erohmensing ,

So, I had changed the permission of the directory but the docker user which ran the containers was different and was not in the group with the same permissions and hence it was throwing that error. Your solution pointed me to the right direction to check out that and I was able to solve it.

Closing the issue.
Thanks.

[2019-09-06 10:08] #4331 closed

[2019-09-06 11:33] ihtisham0331 commented on #1721
I ma using rasa_core==0.8.2 and rasa_nlu =0.11.4
Python==3.7.4

[2019-09-06 11:36] ihtisham0331 opened #4406 "I am installing rasa nlu but showing error during building wheel for spacy"

[2019-09-06 11:47] JustinaPetr commented on #4372
Hi @nbeuchat . Seems like you are doing everything right. Do you see some misclassified intents in the /results/failed_stories.md? I think what is happening is that rasa runs end-to-end evaluation and writes out the results in failed_stories.md for both NLU and Core, however, the results that are printed in your console are only for your Core model. I'll open an issue for this so we can have it fi

[2019-09-06 11:55] ice2tricky opened #4407 "webchat is not working"
Webchat is not working anymore with the 1.3 release

[2019-09-06 12:00] sara-tagger commented on #4407
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-06 12:00] sara-tagger commented on #4406
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-09-06 12:00] #4406 closed

[2019-09-06 12:36] erohmensing commented on #4407
@ice2tricky you'll have to be a little more descriptive if you want help -- what is going wrong? What is different between 1.2.7 and 1.3.0?

[2019-09-06 12:37] erohmensing commented on #4407
As described in the issue template

please fill out the issue template so we can help you.

[2019-09-06 12:37] #4407 closed

[2019-09-06 12:46] ice2tricky opened #4408 "webchat not working"
**Rasa version**: 1.2.5 - 1.2.7 - 1.3.0

**Rasa X version** (if used & relevant):

**Python version**: 3.7

**Operating system** (windows, osx, ...): windows

**Issue**:
webchat interface stopped working when I updated to 1.3.0. I tried rolling back, but still not working. I can't test if it is the api itself from the webchat that stopped working.

**Error (including full traceback)**:
[code]

**C

[2019-09-06 12:49] ice2tricky opened #4409 ""Mapping policy not included" warning appears when mapping policy in config"
**Rasa version**: 1.3

**Rasa X version** (if used & relevant):

**Python version**: 3.7

**Operating system** (windows, osx, ...): windows

**Issue**:
following message started appearing after upgrading to 1.3

rasa.core.policies.ensemble  - MappingPolicy not included in policy ensemble.

[link ](https://forum.rasa.com/t/mapping-policy-not-included-in-policy-ensemble-but-is-defined-in-the-config-

[2019-09-06 12:50] MaulishShah commented on #1721
Rasa modules are updated or not?

On Fri, Sep 6, 2019, 5:03 PM ihtisham0331 <notifications@github.com> wrote:

[2019-09-06 13:17] ihtisham0331 commented on #1721
yES THESE ARE UPDATED

[2019-09-06 13:30] nbeuchat commented on #4372
Thanks for your answer @JustinaPetr. I have tried to intentionally put wrong intents in the test stories but nothing is shown in the `failed_stories.md`

[2019-09-06 13:36] nbeuchat commented on #4372
Thanks for your answer @JustinaPetr. I have tried to intentionally put wrong intents in the test stories but nothing is shown in the `failed_stories.md`

Example:

[code]

In the `failed_stories`, I indeed see the wrong prediction:
[code]

In the classification report in the console, I get:
[code]

However, I do not have a NLU-specific report as I would have without specifying the `--nlu data_test

[2019-09-06 13:57] akelad commented on #4401
i would say it's not a priority to test on various GNU/Linux distributions. but yeah let's add the `python3-tk` package for sure

[2019-09-06 14:21] federicotdn commented on #4401
@icaropires would you mind creating a PR to add `python3-tk` to the Ubuntu packages?

[2019-09-06 15:03] erohmensing commented on #4409
Thanks for creating an issue for this. I've confirmed that it shows up even if you have mapping policy in the ensemble.

I think the issue occurs because in this line:
https://github.com/RasaHQ/rasa/blob/7d211d2e3c5bce595b71ee31170216b5ebeff941/rasa/core/policies/ensemble.py#L56

`self.policies` is probably a list of e.g. `policy_2_MappingPolicy`, leading to the same bug that led to the edit here

[2019-09-06 15:05] erohmensing commented on #4408
Can you post your `python-engineio` and `python-socketio` versions?

Also, what command do you use to run your server?

[2019-09-06 15:19] icaropires commented on #4401
@federicotdn, I can do it! Just add the package or I can create the `prepare-tests-fedora`? I could add a `prepare-tests-arch` as well. @akelad, even that it's not a priority to test on another distributions, it could help developers that use them.

[2019-09-06 17:03] rgstephens opened #4412 "Rasa X Logger Exit"
**Rasa X version**: 0.20.2

For the docker CE deployment, I've found that the logger has not been working the past few releases. I just updated to the current release this morning and it continues to fail.  With the docker container setting to `always` Docker is constantly re-starting the logging container.

[code]

The output file from this container is created but always zero. Because of the res

[2019-09-07 03:53] collinsonyemaobi commented on #4207
Hello, Any Solution To this not working https://8d78102e.ngrok.io/webhooks/facebook/webhook - I am having a similar issue infact i have also tried with  ngrok http 5005 -bind-tls=true
 and still did not work

[2019-09-07 03:54] collinsonyemaobi commented on #4207
This hasn't worked for me

[2019-09-07 09:48] akasha1618 commented on #4207
Try to  do this:
Rasa run
Rasa run actions
Open ngrok http 5005
Go to developers facebook and verifiy if the token is the same as in your credentials, copy from facebook and paste it again in uour crrdentials.yml (this is important, because the token will change on developers.facebook.com and you have to change it to your credentials again) I think this is the problem

When you close your Visual s

[2019-09-07 09:50] akasha1618 commented on #4207
http://8d78102e.ngrok.io/webhooks/facebook/webhook Is not working you need the https version.

[2019-09-07 10:28] TatianaParshina commented on #4120
We still face the issue. Is there any way to avoid it?

[2019-09-07 10:37] collinsonyemaobi commented on #4207
Thanks but even
By testing the below locally still didn't work.

http://localhost:5005/webhooks/facebook/webhook

[2019-09-07 14:44] collinsonyemaobi commented on #4207
Thanks for your response,

I Have repeated all the steps again and it is still unable to validate the url

I am not sure it is an issue with ngrok because the local link is also not working well
http://localhost:5005/webhooks/facebook/webhook

I also suspect I might not be doing things right on endpoints.yml

action_endpoint:
  url: http://localhost:5005/webhook

Please is the action_endpoint corr

[2019-09-07 17:10] hsm207 commented on #1446
@akelad I've made PR #4414 for your review.

[2019-09-08 13:53] nicola1M opened #4415 "Multiple responses are not working with buttons"
Hello,
when trying to use multiple responses with buttons, the buttons are not shown.
Don't know if this a bug or should be an feature request.

**Rasa version**: 1.2.3

**Python version**: 3.6.2

**Content of domain file (domain.yml)** (if relevant):
[code]

[2019-09-08 15:24] TatianaParshina commented on #4312
Hi @dakshvar22 ,
I have reproduced the error with default content that was created by `rasa init`.
Then I run
`rasa test --stories data/e2e_stories.md --e2e`
Then I run `rasa train`.
Errors in the log during training:
`2019-09-08 23:18:26 DEBUG    rasa.core.featurizers  - Feature 'intent_goodbye: bye' (value: '1.0') could not be found in feature map. Make sure you added all intents and entities to

[2019-09-08 17:33] ricwo commented on #4404
Hi @intranetchris, thanks for raising this issue. This should have been fixed with release 1.3.0. Would you mind upgrading to that version and reporting if the problem persists?

If this still happens, it would be helpful if you could let me know if this happens when you run rasa X from the command line or using `docker-compose`. Thanks!

[2019-09-09 06:00] sara-tagger commented on #4412
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-09-09 06:00] sara-tagger commented on #4415
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-09 06:50] erohmensing commented on #4415
Do the buttons show when `Soll ich noch etwas für dich tun` is the chosen response?

If you were to turn this YAML into a json, it would be more obvious that those buttons only belong to the fourth response:
[code]

[2019-09-09 08:10] nicola1M commented on #4415
Yeah the buttons are shown, so the way to use buttons with multitext would be like:

[code]

[2019-09-09 08:49] msamogh commented on #4120
Are you sure you removed the correct `rasa.db` (`tracker.db` shouldn't cause an issue here)? Because there's no other place where it stores this data (no cache either).

[2019-09-09 08:56] msamogh commented on #4120
Ok I tried following your steps, and it seems like `utter_zoo` gets populated onto the filesystem when Rasa X loads.

[2019-09-09 08:58] fakekphan commented on #2059
how to get time lastest message ?

[2019-09-09 09:37] msamogh commented on #4120
@TatianaParshina The issue went away once I removed the stories that contained `utter_zoo`. So I think Rasa X automatically adds those templates to the domain if it's part of the stories. I'm yet to confirm that in the code, but it looks like that's what's happening.

[2019-09-09 11:12] erohmensing commented on #4415
yes, that's the intended way :) as you could e.g. have different titles on the buttons to mix things up if you liked too

[2019-09-09 11:12] #4415 closed

[2019-09-09 11:16] erohmensing commented on #4207
So to be clear @akasha1618 you were able to get it running right?

[2019-09-09 11:23] Ghostvv commented on #4380
That is very strange. It seems that on the first call the form doesn't try to extract email, because there is no `Trying to extract requested slot 'user_email' ...` logger statement

[2019-09-09 13:06] ruiconti opened #4417 "Domain validation fails to look for duplicate entries"
**Rasa version**: 1.2.3

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): macOS

**Issue**: The cause to this issue was that there were duplicate definitions under `actions` section. Validator should accurately point out that this was the case, which it didn't. Method [verify_all()](https://github.com/RasaHQ/rasa/blob/master/rasa/core/validator.py#L165) fails to verify if an ac

[2019-09-09 13:15] ruiconti commented on #4417
Another thing (kinda related): When validating utterances, Validator doesn't exclude Form-related utterances that almost always aren't used in stories:

[code]

[2019-09-09 14:15] erohmensing opened #4418 "improve slack sanitization"
we already do some sanitization of slack input [here](https://github.com/RasaHQ/rasa/blob/master/rasa/core/channels/slack.py#L181) where we clear out some mentions.

Entity extraction can be sometimes influenced by the way slack processes user input, for example links or emails provided by the user. There should be regex sanitization that cleans these and brings them back to what the user original

[2019-09-09 17:26] nicholasbulka opened #4423 "rasa/rasa:latest-full and rasa/rasa-sdk:latest raise compatibility warning"
**Rasa version**: 1.4.0a1

**Rasa X version** (if used & relevant):

**Python version**: 3.6

**Operating system** (windows, osx, ...): osx

**Issue**: rasa/rasa:latest-full and rasa/rasa-sdk:latest don't match compatibility

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Conten

[2019-09-09 20:04] dasxx179 commented on #4378
I do not believe this is fixed.  I have updated to the versions that were specified by #4389 that you referenced, and I am getting a similar CORS issue.
![image](https://user-images.githubusercontent.com/54422044/64562687-1f087c80-d313-11e9-9427-47b693e815c8.png)

[2019-09-10 00:56] mdimercurio opened #4424 "Add template id to bot event"
**Description of Problem**:

Right now, [bot events](https://rasa.com/docs/rasa/api/events/#bot-responded-message) only include the message text. It would be useful to also include the template id (eg: `utter_[action]` ) to make it easier to get all events for a single utterance. We are using events for analysis purposes with multi-language bots so having a common ID across languages would make it

[2019-09-10 01:10] rgstephens opened #4425 "Rasa X UI to show version info"
**Description of Problem**: An end user (non developer) can't easily determine which version of Rasa X and Rasa they are using from the UI. The current Support option opens a link to a forum issue. This assumes we have a live connection to forum. It also only shows the Rasa X version and in my 0.20.2 install of Rasa X it reports the version as `dev-CC` instead of `0.20.2`

**Overview of the Soluti

[2019-09-10 02:06] intranetchris commented on #4404
@ricwo We upgraded to 1.3.0 and the behavior is unchanged.

We don't run it from the command line. We're deploying to AWS ECS using your docker image as a starting point.

[2019-09-10 06:00] sara-tagger commented on #4425
Thanks for submitting this feature request 🚀@erohmensing will get back to you about it soon!✨
###### Caw! 🐧

[2019-09-10 06:00] sara-tagger commented on #4424
Thanks for submitting this feature request 🚀@tabergma will get back to you about it soon!✨

[2019-09-10 06:00] sara-tagger commented on #4423
Thanks for raising this issue, @Ghostvv will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-10 06:00] sara-tagger commented on #4417
Thanks for raising this issue, @tmbo will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-10 06:29] tabergma commented on #4340
I could reproduce the issue with the formbot example.

The `_schedule_reminders` function (https://github.com/RasaHQ/rasa/blob/master/rasa/core/processor.py#L413) seems to correctly schedule the event, however, `handle_reminder` (https://github.com/RasaHQ/rasa/blob/master/rasa/core/processor.py#L241) is not called.

[2019-09-10 06:41] tabergma commented on #4424
I guess, we could add the template name to the metadata of the bot utterance (https://github.com/RasaHQ/rasa/blob/master/rasa/core/events/__init__.py#L325). That way we do not influence existing behaviour.

Are you up adding the template name to the metadata yourself?

[2019-09-10 06:50] tmbo commented on #4417
Very good point we should def add some rules to fix these two issues. Do you mind creating a PR?

[2019-09-10 07:10] ice2tricky commented on #4408
python-engineio==3.9.3
python-socketio==4.3.1

rasa run
rasa run actions

They both updated to the latest version when installing the new version of rasa.
I tried rolling them back to an older version but it didn't help.
But when I rolled rasa back to 1.0.9 version it started working again

[2019-09-10 07:41] ice2tricky opened #4426 "slack integration through bot frame work not working and buttons through facebook also not working using the botframework"
Rasa version: 1.2.5 - 1.3.0

Rasa X version (if used & relevant):

Python version: 3.7

Operating system (windows, osx, ...): windows

Issue:
slack still not working if you go through the bot framework and buttons are not working on facebook through the botframework

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (con

[2019-09-10 08:07] erohmensing commented on #4417
For what it is worth regarding the second point, there's no way for the validator to know which utterances are associated with forms and which aren't -- it's also quite possible that someone, after creating a form with `utter_ask_{}` methods, also creates other similar ones (e.g. `utter_ask_continue_newsletter` and `utter_ask_feedback` in our [demo bot stories](https://github.com/RasaHQ/rasa-demo/

[2019-09-10 08:48] tmbo commented on #4402
I think this is a good idea. Prob won't make a huge difference on travis due to vm limitations but I agree that locally its a good idea.

[2019-09-10 08:57] erohmensing commented on #4425
Thanks for the suggestion! I agree that it would be nice to have in the UI. For now, you can find the rasa x and rasa versions at http://host/api/version (I assume you know this because of your first sentence, but just for anyone else looking for this info...) I'll add it to the inbox.

You see `dev-CC` when hitting the version endpoint?

[2019-09-10 12:00] sara-tagger commented on #4426
Thanks for raising this issue, @gausie will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-10 12:48] imLew commented on #4409
Oh man 😅, yes in 1.3 we added a check for that because MappingPolicy is required for default intents `/restart` and `/back` to work. But I think you're right @erohmensing, I'll try to have PR for this today or tomorrow.

[2019-09-10 13:03] dasxx179 opened #4430 "CORS Issue after 1.2.7"
Rasa version:
rasa                               1.2.7
rasa-core                          0.14.5
rasa-core-sdk                      0.14.0
rasa-nlu                           0.15.1
rasa-sdk                           1.2.0
Rasa X version (if used & relevant):
rasa-x 0.20.2
Python version:
Python 3.7.3
python-engineio                    3.9.3
python-socketio                    4.3.1
Operating system

[2019-09-10 13:54] alistefano commented on #4284
I have some issue.
After some time I need to kill and restart my docker container with rasa/rasa-x. I don’t think it depends on the database: I tried both postgresql and sqlite. I think that it depends on how the connection is managed by rasa/sqlalchemy orm when rasa is deployed on docker.
If the connection is lost rasa can't recover it automatically and the chatbot stops to working.

other users

[2019-09-10 14:16] icaropires commented on #4402
Indeed, on travis the benefit will be reduced because the VMs only have 2 cores according to [this](https://docs.travis-ci.com/user/reference/overview/#virtualisation-environment-vs-operating-system). But there will be some gain, the travis itself give [some tips](https://docs.travis-ci.com/user/speeding-up-the-build/#makefile-parallelization-example).

Those flags added means that I can work on t

[2019-09-10 14:22] tmbo commented on #4402
yes sounds good :+1:

[2019-09-10 15:20] ruiconti commented on #4417
@tmbo absolutely. Will do in a few days

@erohmensing That's a good point. In my view, there are two possible ways:
1. Include the option to reference `actions.py` in `rasa validate`. Then if it finds Forms declarations in that file, calls `slot_mapping` (that doesn't asks for any parameter) and removes `utter_ask_{slot_name}`, specifically.
Although I'm not sure if it's worth adding this complexi

[2019-09-10 17:00] amn41 commented on #4404
@intranetchris can you please check the latest release (1.3.2) does in fact fix this?

[2019-09-10 18:42] ricwo opened #4437 "Drop python 3.5 support"
Version 19.6 of Sanic [drops](https://sanic.readthedocs.io/en/latest/sanic/changelog.html#deprecations-and-removals) support for Python 3.5. Does anyone depend on python 3.5 or have any objections?

[2019-09-10 21:54] smn-snkl commented on #216
is there any update on this? I know you can query the model via HTTP, but what if I want to have some offline chat capability for my app? Has there been any work on this subject yet?

[2019-09-10 21:59] rgstephens commented on #4200
I just updated to `0.20.2` and am having more problems with importing response templates. I have about 300 response templates in a `domain.yml`. Of those **10** are used as a template in an action.

If I remove the 290 that are not used as templates in actions, I get 290 errors stating that the template is missing from the domain. If I click on the `Copy to the domain` option next to the warning,

[2019-09-10 22:03] rgstephens commented on #4185
I just noticed that @tmbo's comment about the `/domain` endpoint.  I believe that should support the full CRUD calls not just RU. I want to be able to completely remove and reload a Rasa X configuration so I'd like to be able to Create and Delete the domain.

[2019-09-11 06:00] sara-tagger commented on #4430
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-09-11 08:00] taotsetung commented on #4151
This error still reproduces for me on the latest version, using Windows in German locale. The stdin and stdout streams show UTF-8, but they are not the root cause here.

The underlying issue is that python by default writes to files with the system code page, unless an override is provided when opening the file, and rasa does not specificy UTF8. Additionally, when loading the domain.yml file rasa

[2019-09-11 08:17] erohmensing commented on #4151
Thanks for the very descriptive into @taotsetung. I've tracked down the part where the domain gets written in Rasa X and you're right, the encoding isn't specified:
[code]
I assume that `with open(filename, "w", encoding="utf-8") as f:`should do the job, but we'll check it out.

[2019-09-11 08:37] erohmensing commented on #3464
come back to this when https://github.com/RasaHQ/rasa/issues/4437 is implemented

[2019-09-11 10:07] felaray commented on #4116
nobody care this bug. no any response.

[2019-09-11 10:09] nbeuchat opened #4440 "NLU model does not recognize anything after upgrade to 1.3.2 from 1.2.5 for intent with underscore in name"
**Rasa version**: 1.3.2

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu

**Issue**:
After updating to Rasa 1.3.2 and retraining using `rasa train`, the NLU model does not recognize anything. Intents all have the same confidence of 0.024. Nothing has changed in the training data, domain, or config. I also tried to train only the NLU model and it worked fine.

During train

[2019-09-11 10:20] nbeuchat commented on #4440
The confusion matrix looks strange as well. A few intents are actually correctly detected.

![image](https://user-images.githubusercontent.com/8236283/64689235-3e77e480-d48e-11e9-9151-38d9c5b39c89.png)

The `intent_report.json` gives:

[code]

[2019-09-11 11:03] msamogh opened #4441 "ambiguity_threshold not documented in "Fallback actions" page"
It's currently only documented in the "Policies" page.

[2019-09-11 12:52] shayanghosh49 commented on #1754
Hi,
My purpose is to run an intent classification exercise on a set of user responses by using RASA NLU. I had earlier used pretrained_embeddings_spacy but now want to try out with BERT embeddings given its obvious advantages. After installing the requirements, I used the following configuration as mentioned here
https://github.com/Revmaker/innatis
I encounter the following errors when I try to tr

[2019-09-11 13:31] nbeuchat commented on #4440
@federicotdn @sara-tagger we found the pattern. All of the intents that *have an underscore in their names* cannot be distinguished.

The following intents were correctly classified:

- affirm
- deny
- explain
- goodbye
- greeting
- inform
- interested
- joke
- reset
- thanks
- useful

The following were *wrongly* classified:

- dont_know
- i_love_you
- i_hate_you
- ask_pictures
- ask_identity
- e

[2019-09-11 14:20] amn41 commented on #216
hi @smn-snkl - thanks for checking in! this isn't something we've been working on actively, unfortunately

[2019-09-11 14:51] msamogh opened #4442 "Responses page should talk about images/attachments"

[2019-09-11 14:57] Ghostvv commented on #4440
Could you please try to exclude spacy from pipeline and retrain? I think there is a bug

[2019-09-11 15:07] Saladdin commented on #4116
We are working on a fix for the issue. Will let you know once a patch is released 👍

[2019-09-11 16:02] dakshvar22 opened #4443 "Intent Featurization when using SpacyNLP components"
**Rasa version**: 1.3.2

**Python version**: 3.6

**Operating system** (windows, osx, ...): osx

**Issue**: We currently rely on spacy doc of the intent - `intent_spacy_doc` for featurization of intent by extracting `vector` attribute from the spacy doc. This is not ideal because intent labels can have gibberish text for which lemmas won't exist and hence result in a zero vector.

[2019-09-11 16:05] gausie commented on #4400
It hasn't been dropped - this is a bug. I'll get this sorted.

[2019-09-11 17:06] nbeuchat commented on #4440
@Ghostvv I used the following pipeline and it works for intents with underscores:

[code]

Please note that I tried to change underscores by dots with the original pipeline and it didn't work either.

[2019-09-11 18:02] felaray commented on #4116
thanks for help!

[2019-09-11 18:26] dakshvar22 commented on #4443
After discussing internally a possible solution:

Completely do away with `intent_spacy_doc` and handle intent featurization and tokenization inside `EmbeddingIntentClassifier`. That mandates people to use a `CountVectorizer` and `WhitespaceTokenizer`(if handling multiple intents) always for intent classification.

This brings up an edge case:

Let’s say the developer's configuration was like this

[2019-09-11 18:28] dakshvar22 commented on #4443
We can avoid the ambiguity by still keeping `intent_spacy_doc`, let `SpacyTokenizer` do the intent tokenization for all three attributes as it does now and featurization of intent skipped inside `SpacyFeaturizer` and done by CountVectorFeaturizer if it exists(as in the above case) and if not then by EmbeddingIntentClassifier(default fallback to one hot representation). We don’t need `WhitespaceTok

[2019-09-11 18:47] dakshvar22 commented on #4443
There are two valid requirements driving the above configuration -
1. Handling multiple intents
2. Augmenting Spacy features with BOW features.

[2019-09-11 20:00] alebeta90 commented on #4284
Hi,

I have the same issue, with my docker deployment using pgsql. Maybe I could try @shahad-bit work around, but it should be fixed inside of Rasa code.

[2019-09-11 20:13] Ghostvv commented on #4443
1. tokenizers override themselves
2. if `SpacyNLP` is there, `CountVectorizer` will use `spacy_doc.lemma_` regardless of the tokenizer, so the presence of whitespace and/or spacy tokenizer will not influence text features.
3. I'm not sure `SpacyTokenizer` correctly tokenizes gibberish words like intent labels could be
4. Using `spacy` for tokenization without using `spacy` features is counterintui

[2019-09-11 20:13] Ghostvv commented on #4443
Related to https://github.com/RasaHQ/rasa/issues/4440

[2019-09-11 20:15] Ghostvv commented on #4440
it is the problem with featurization of intents that we introduce in `1.3`, we're working on the solution

[2019-09-11 21:14] scMarth opened #4444 "Installation error"
**Rasa version**: N/A

**Rasa X version** (if used & relevant): N/A

**Python version**: 3.7.4

**Operating system** (windows, osx, ...): Fedora 30

**Issue**: Running install command gives error:

`pip install rasa-x --extra-index-url https://pypi.rasa.com/simple`

I have read from a previous issue that sometimes newer versions of pip will cause this install command to fail. If I try to upgrade p

[2019-09-12 03:19] intranetchris commented on #4404
@amn41 Our dev team has determined that Rasa X 0.20.2 isn't compatible with Rasa 1.3.x. At least in our environment. We reverted to 1.2.8 and the issue is no longer occurring.

[2019-09-12 04:26] becerrag commented on #3650
@erohmensing I am using Rasa 1.2.5    I am trying to use the visualize command, but it always generates an html file that renders an empty canvas.   I have tried pointing it to my stories file without any luck.   Any suggestions?

[2019-09-12 06:00] sara-tagger commented on #4444
Thanks for the issue, @federicotdn will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-09-12 13:12] JulianGerhard21 opened #4445 "Flexible handling of non-existent message_attribute for given training sample"
**Description of Problem**:

Currently, the `SpacyNLP` component provides the following:

`provides = ["spacy_doc", "spacy_nlp", "intent_spacy_doc", "response_spacy_doc"]`

which caused the necessity to handle non-existent / `None`-valued attributes for a given training sample. Currently this is realized by converting `None` values to empty strings since spaCy can't handle `None` values while crea

[2019-09-12 13:33] dptelecom opened #4447 "Update to rasa-1.3.2 give me the ERROR: rasa-x 0.20.2 has requirement rasa~=1.2.5, but you'll have rasa 1.3.2 which is incompatible."
**rasa-1.3.2**:

**Rasa X version 0.20.2** (if used & relevant):

**Python version3.7**:

**Osx** (windows, osx, ...):

**Update to rasa-1.3.2
give me the
ERROR: rasa-x 0.20.2 has requirement rasa~=1.2.5, but you'll have rasa 1.3.2 which is incompatible.**:

**Error (including full traceback)**:
[code]

**Command or request that led to error: sudo -H pip3 install -U rasa
![Screen Shot 2019-09-12 a

[2019-09-13 07:50] imLew commented on #1790
@LucasPenido of course! We'd love it if you made a PR fixing this :D

[2019-09-13 08:21] #4401 closed

[2019-09-13 09:06] JulianGerhard21 commented on #4445
Hi @dakshvar22 ,

I broke my head about a solution at this point. I tried several scenarios and I am now able to comprehend your problems with the architectural decision in this situation.

At least for now I'd say that it is more or less impossible to change things on the `spaCy-pytorch-transformers` side without the help of `spaCy`. There are several problems with the `pipe`-method of that libra

[2019-09-13 09:28] dakshvar22 commented on #4445
Hey @JulianGerhard21 , thanks for giving this a detailed look. I think, going by your observations, we can't rely on spacy or spacy-pytorch-transformers to help us out here.
So, as you said maybe we should just find an elegant solution to filter the None/"" entries, pass other entries to `pipe` and merge the empty documents back in the correct order. I think it isn't extremely nasty, so we could d

[2019-09-13 09:56] JulianGerhard21 commented on #4445
Hi @dakshvar22,

allright - I agree with you and I am going to start to work on this this afternoon. I will get back to you with a code proposal as soon as it is ready.

Thanks for your help!

Regards
Julian

[2019-09-13 10:56] wochinge commented on #3638
@srajan-jha We had to revert this change (see https://github.com/RasaHQ/rasa/pull/3824 for details) and added a debug message for it. Is that ok for you?

[2019-09-13 10:59] wochinge commented on #4295
Can you clarify that?

[2019-09-13 11:13] wochinge commented on #4204
@akelad Not entirely sure from the message of you and Tom in the PR, but did we have time to test it with `4.3.1`?

[2019-09-13 11:15] erohmensing commented on #4295
e.g. here
https://github.com/RasaHQ/rasa/blob/master/rasa/core/channels/facebook.py#L104

it should pass along metadata -- I think maybe by default just the entire payload that comes in with the response, or something like that. So that any information facebook sends to the endpoint gets through to actions and people can do what they want with it

[2019-09-13 11:20] akelad commented on #4288
@ggdupont definitely a great suggestion - we're looking into adding this :)

[2019-09-13 11:22] akelad commented on #4430
@dasxx179 this should work fine with `--cors "*"`. Can you show me the config of the webchat widget you're using?

[2019-09-13 11:32] wochinge commented on #3975
@DiegoProtec Sorry, for the late response. I was on vacation.

Yes, that we would definitely be possible, but as I discussed with the team, the preferred solution would be to pass this information via the command line. Hence, I would suggest to add a parameter `sender_id` to `configure_app` and `serve_application` and then use this one in `record_messages`. Do you have any more thoughts on that @t

[2019-09-13 11:37] rjtmehta99 opened #4453 "Fallback Threshold Based on Entity Confidence"
Hi !
While implementing FallbackPolicy, we have the option to trigger fallback when intent confidence is below the threshold. How can we trigger fallback when the entity confidence is below a threshold ?

The brute force way would be:
1. Add a custom action for every intent.
2. Retrieve entity confidence.
3. Respond based on the value from previous step.

But if the intents are higher in value, it

[2019-09-13 11:37] wochinge commented on #4295
Thanks!

In my opinion that's too much guessing. It would add a lot of overhead for certain channels to the tracker which is only required by a small subset of people. Hence, I'd prefer if we rather clarify how to quickly extend an input channel to get the required information.

[2019-09-13 11:42] DiegoProtec commented on #3975
Thank you, I solved this, passed this attribute in my tracker_store in my endpoints.yml, by the environment variable.
________________________________
De: Tobias Wochinger <notifications@github.com>
Enviado: sexta-feira, 13 de setembro de 2019 09:32
Para: RasaHQ/rasa <rasa@noreply.github.com>
Cc: Diego de Santana Fernandes <diegoprotec@hotmail.com>; Mention <mention@noreply.github.com>
Assunto: Re

[2019-09-13 11:58] tabergma commented on #3975
Adding a new parameter to the command line sound good 👍 However, I would name it `--sender-id` instead of `--sender_id` due to naming convention. Seems like a straight forward solution.

[2019-09-13 12:00] sara-tagger commented on #4453
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-09-13 12:00] #4453 closed

[2019-09-13 12:06] rjtmehta99 opened #4454 "Fallback Threshold Based on Entity Confidence"
Hi !
While implementing FallbackPolicy, we have the option to trigger fallback when intent confidence is below the threshold. How can we trigger fallback when the entity confidence is below a threshold ? If there no such feature available can it be added in future releases?

The brute force way would be:

    Add a custom action for every intent.
    Retrieve entity confidence.
    Respond based o

[2019-09-13 12:14] mexophantes opened #4455 "Implement buttons for Mattermost channel"
**Description of Problem**:

Buttons in Mattermost appear currently only as text message, not as clickable buttons. See also
this thread in the [forum](https://forum.rasa.com/t/rasa-buttons-not-appearing-in-mattermost/12984/3).

**Overview of the Solution**:

Changes are necessary in
* rasa\core\channels\mattermost.py
    * Implement `send_text_with_buttons()` in `MattermostBot `class according to

[2019-09-13 13:25] erohmensing commented on #3411
Doable, but not necessary and probably adds more code and input from the user than it's worth, see #4399

[2019-09-13 13:25] #3411 closed

[2019-09-13 13:30] imLew opened #4458 "unfortunate use of kwarg 'kwargs' results in some arguments not having effect"
In a couple of places (e.g. `rasa.train` and `rasa.core.train`) we have a keyword argument called `kwargs`.
This is a confusing name as `**kwargs` is conventionally used to capture 0 or more additional, optional keyword arguments.
These function signatures should be changed, either by using a different name for this variable (`additional_arguments`) or by adapting them to use `**kwargs`.

This als

[2019-09-13 13:31] tmbo commented on #4343
I think @ricwo backported that fix to 1.2.x - did you also create a release?

[2019-09-13 13:44] ricwo commented on #4343
yes, this was released as 1.2.8

[2019-09-13 13:51] #4343 closed

[2019-09-13 13:52] dasxx179 commented on #4430
Hi,

Gladly.  My react_component.jsx is attached below:

![image](https://user-images.githubusercontent.com/54422044/64867594-4c02ab00-d603-11e9-8620-d346c9bb68ad.png)

Then, the code for my index.html is as follows:
![image](https://user-images.githubusercontent.com/54422044/64867842-ca5f4d00-d603-11e9-86d3-fbb6b87dc34e.png)

Please let me know if you need any additional files/info.  Thank you!

[2019-09-13 14:30] wochinge commented on #4209
@IgNoRaNt23 I just tried it out and it worked for me.
Could you please try updating to `0.20.2` and check whether it works there? Very weird bug / problem imho 🤔
<img width="905" alt="Screenshot 2019-09-13 at 16 29 20" src="https://user-images.githubusercontent.com/7667273/64870510-b63b4000-d643-11e9-91aa-2affd434c302.png">

[2019-09-13 14:34] wochinge commented on #3975
@DiegoProtec Could you please clarify your solution a bit or share your pr? I think that would make it easier to discuss your changes :-)

[2019-09-13 15:14] akelad commented on #4426
@ice2tricky can I ask why you're using the bot framework channel instead of the facebook channel if you're trying to connect to facebook?

[2019-09-13 15:34] gausie commented on #4231
This is meant to be tackled by our websockets implementation but we've deprioritised it for other things at the moment. But we do have firm plans for this

[2019-09-13 15:48] ice2tricky commented on #4426
I have all channels setup on botframework and if i tunnel with ngrok I only have to change one address. Instead of going to each of them seperately.

Outlook voor Android downloaden<https://aka.ms/ghei36>

________________________________
From: Akela Drissner-Schmid <notifications@github.com>
Sent: Friday, September 13, 2019 5:14:56 PM
To: RasaHQ/rasa <rasa@noreply.github.com>
Cc: ice2tricky <fair

[2019-09-13 16:10] piyush29programmer opened #4459 "blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource"
**Rasa version**: 1.3.2

**Rasa X version** (if used & relevant):

**Python version**:3.6

**Operating system** (windows, osx, ...): Windows 10

**Issue**:

We are not able to connect MR.bot widget with rasa using socketio.

I had faced the same issue in rasa = 1.2.0 but after downgrading the python-engineio==3.8.1 .

After seeing a lot of articles that this issue is fixed in the new version. I tr

[2019-09-13 16:22] jeanfrancois8512 commented on #4390
I have reproduced the behavior in 0.15.1. If failing early is the good behavior when training a component, one way to do it is:

[code]
This will make the server return a 500 status code with the message as content. I haven't tested this in master. The server has changed since 0.15.1 and more test will be needed.

[2019-09-14 04:58] srajan-jha commented on #3638
Thanks lot for the response and helping me out here! @wochinge
(I will keep that in mind and sure will work for me :) )

[2019-09-14 06:08] HackyRoot commented on #1114
Hey @akelad , @JustinaPetr
I would like to pick this up if no one is working on this issue.

[2019-09-14 16:32] jeanfrancois8512 commented on #3999
You can train with JSON data using the API. The server will save your data as 'nlu.md' but the loader doesn't rely on the file extension for the content type so it will work.

[2019-09-15 00:22] visopsys commented on #4047
rasa-x is still pointing to rasa 1.2.8. This rasa version does not have the fix mentioned above. We have to wait till new version of rasa-x to be release to use it.

[2019-09-15 05:05] Archish27 commented on #3999
I would like to work on this

[2019-09-15 15:06] r-m-n opened #4461 "Text from telegram custom json not saved to the tracker store"
**Rasa version**: 1.3.3

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:
I send a markdown message in telegram with `utter_custom_json`:
[code]
But only `parse_mode` field is saved in tracker store:
[code]

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration f

[2019-09-15 16:23] akelad commented on #4204
Yes I tested it with that and the python-engineio method that’s pinned and it worked fine

[2019-09-15 16:26] akelad commented on #4430
@wochinge can you look into testing this? I tested it on my machine before making this upgrade and it worked, so not sure what’s going on here

[2019-09-15 16:28] akelad commented on #4426
I assume you mean Microsoft botframework right? Can you show me your credentials file?
But in general this won’t work, because sending messages looks different for each end channel

[2019-09-15 16:29] akelad commented on #1114
Go for it, I don’t think anyone is working on it yet

[2019-09-15 16:32] akelad commented on #3999
Please go ahead! Looking forward to seeing your contribution

[2019-09-16 04:31] HackyRoot commented on #1114
Thank you, @akelad. Very excited for my first contribution at Rasa.
Whom should I ask my queries (if any) regarding this issue?

[2019-09-16 07:01] Manthan1394 commented on #2858
Hi @bikashkumars

I got error in these line and i am stucked here, Can you help me out in this.

 " **RedirectPermanent /rasa**"

Regards
Manthan Tanna

[2019-09-16 07:32] wochinge commented on #4430
@akelad Will do. Put it on my last for today

[2019-09-16 07:51] SaikiranMitta16 commented on #2700
This is done when the blueprint is registered for an input channel. The function of agent.handle_message() is given as an argument to channel.blueprint().

It would have been great if the agent object would have been used rather than just the function. It would have given a lot more flexibility in the custom channel.

[2019-09-16 08:27] sara-tagger commented on #4461
Thanks for the issue, @imLew will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-09-16 08:27] sara-tagger commented on #4455
Thanks for submitting this feature request 🚀@tabergma will get back to you about it soon!✨

[2019-09-16 08:27] sara-tagger commented on #4459
Thanks for raising this issue, @TyDunn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-16 08:27] sara-tagger commented on #4454
Thanks for submitting this feature request 🚀@federicotdn will get back to you about it soon!✨

[2019-09-16 08:37] tabergma commented on #4455
Sounds like a good addition! Do you want to add this yourself and open a PR for it?

[2019-09-16 09:02] erohmensing commented on #3650
ok @becerrag i tested it out and was able to visualize your data, here's the generated file:
[graph.html.zip](https://github.com/RasaHQ/rasa/files/3615400/graph.html.zip)

Can you try opening it and seeing if you have any luck? (that can tell us if the issue is happening in the writing or reading of the HTML file)

What browser do you use to open HTML files?

[2019-09-16 09:16] imLew commented on #4461
Hi @r-m-n, thanks for raising this issue and creating a PR for it. We'll get back to you about the PR asap.

[2019-09-16 09:34] wochinge commented on #4430
Okay, there are actually multiple problems here.

- `no module SourcefileLoader`: can you please try the approach from https://stackoverflow.com/a/47278208/3429596 ?
- `react_component.jsx`: I think there is a error with the brackets, isn't it?
- cors error: I tried it on my machine, and it works (except that you need to pass in `--enable-api` which shouldn't be the case). Not sure whether it's a

[2019-09-16 09:36] wochinge opened #4463 "Socketio channel should work without `--enable-api`"
Problem:
The socketio channel currently only works when running with `--enable-api`. This should not be the case. The function `_create_app_without_api` is missing the configuration which `create_app` is doing

[code]

[2019-09-16 09:49] #4126 closed

[2019-09-16 10:25] mexophantes commented on #4455
The PR is already created: https://github.com/RasaHQ/rasa/pull/4456

[2019-09-16 10:57] JEM-Mosig opened #4464 "External events and reminders should trigger intents instead of actions"
**Description of Problem**:
Reminders and external events always trigger _actions_, which contradicts the logic that actions should be unambiguously predictable from the dialog history and present intent. For example, in the use case where a reminder is used to have the bot initiate chitchat, this makes stories unlearnable.

**Overview of the Solution**:
External events and reminders should trigge

[2019-09-16 11:04] #4440 closed

[2019-09-16 11:04] Ghostvv commented on #4440
should be fixed by PR above

[2019-09-16 11:05] #4443 closed

[2019-09-16 11:23] Ghostvv commented on #4240
https://forum.rasa.com/t/object-of-type-maxhistorytrackerfeaturizer-is-not-json-serializable/14424/8

[2019-09-16 11:27] nbeuchat commented on #4440
Yes, works fine now in 1.3.3. Thanks for the quick fix!

[2019-09-16 12:11] lahsuk opened #4465 "Verbose message when domain.yml parsing fails."
When there is a mistake in the format in the domain file, training for core fails silently. All it prints is a single message saying: `DEBUG    rasa.importers.rasa  - Loading domain from 'domain.yml' failed. Using empty domain.` It doesn't provide any information on where the parsing failed.

[code]

Rather than failing silently, it could at least give the line number where the parsing fails.

[2019-09-16 13:32] gausie commented on #3879
This was fixed in the latest release

[2019-09-16 13:32] #3879 closed

[2019-09-16 15:25] erohmensing commented on #4459
Can you try adding `--enable-api` to the command? You shouldn't need to, but right now it is part of a workaround: https://github.com/RasaHQ/rasa/issues/4463

[2019-09-16 16:07] piyush29programmer commented on #4459
@erohmensing  thank you for the workaround and its working now.
We are planning to upgrade the rasa in production to 1.3.2 but is this workaround is good enough to upgrade or should we wait for the bug fix.

[2019-09-16 16:32] dasxx179 commented on #4430
Hi,

I have already fixed the Sourcefileloader error with a different solution similar to what you linked.  I do not believe there is an error with the brackets because then it should not work on 1.2.2, and the command that you asked me to re-run is what I have already tried in my original post.  It is a github formatting thing, I think.  Thank you!

[2019-09-16 16:57] erohmensing commented on #4459
It shouldn't be an issue in production, you can also secure the API with a token so that there aren't any erroneous requests coming in. Are you using Rasa x at all? If so, there currently isn't a version that runs on Rasa>=1.3

[2019-09-16 16:59] piyush29programmer commented on #4459
No we are using rasa only .

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ella Rohm-Ensing <notifications@github.com>
Sent: Monday, September 16, 2019 10:27:57 PM
To: RasaHQ/rasa <rasa@noreply.github.com>
Cc: Piyush Kumar <piyush29kumar@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [RasaHQ/rasa] blocked by CORS policy: No 'Access-Control-Al

[2019-09-16 20:56] akelad commented on #1114
you can just post on this issue and we'll get back to you

[2019-09-16 20:56] akelad commented on #3618
@gausie is this still being worked on?

[2019-09-16 21:31] gausie commented on #3618
This is fixed! Sorry there were so many dupes of this bug I keep thinking I've closed them all!

[2019-09-16 21:31] #3618 closed

[2019-09-17 06:00] sara-tagger commented on #4465
Thanks for submitting this feature request 🚀@akelad will get back to you about it soon!✨

[2019-09-17 09:04] #3322 closed

[2019-09-17 10:20] kbirkbr opened #4472 "RASA - Cross-Origin Request Blocked: (Reason: CORS header ‘Access-Control-Allow-Origin’ missing)"
When i trying to access action_endpoint i getting the above error. I am using rasa 1.0.6

this is the command i used to run
    rasa run --cors ["*"] --endpoints endpoints.yml  --debug --enable-api
and for the action:
    python3 -m rasa_core_sdk.endpoint --actions actions

In the browser console, i get the error:

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote r

[2019-09-17 12:00] sara-tagger commented on #4472
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-09-17 12:00] #4472 closed

[2019-09-17 12:06] kbirkbr commented on #4472
@sara-tagger I already asked couple of questions in the forum. But I haven't received any response yet. That's why i asked here.

[2019-09-17 12:35] indranil180 opened #4474 "Rasa data.json doesn't support any format other than ANSI"
I found a bug in RASA it is an unusual behaviour RASA data.json throws error when the data format is other than ANSI.
I am using RASA 1.0.6 and i tried the same in older versions as well the issue persist. It would be great if RASA handles this behaviour.

[2019-09-17 15:04] #3394 closed

[2019-09-17 15:47] vigneshp826 commented on #4418
https://github.com/RasaHQ/rasa/pull/4475 submitted. Please review and let me know for any changes

[2019-09-17 15:49] erohmensing commented on #4418
Awesome @vigneshp826, thanks!

[2019-09-17 15:51] #4461 closed

[2019-09-17 16:17] erohmensing commented on #4132
@true1337 what browser are you using?

[2019-09-17 17:14] msamogh commented on #4132
I haven't confirmed it myself, but I was told by a Windows user that it works fine on Windows and the issue only appears on Linux.

[2019-09-17 21:31] becerrag commented on #3650
@erohmensing well... the file you shared works.  I use Chrome but have also tried on Firefox and Brave (even safari... just in case).   What command did you try?

Thank you for your help, btw.

[2019-09-17 23:40] tangochris opened #4479 "Web chat unresponsive; API fine, other channels fine"
**Rasa version**: 1.3.2
**Rasa X version**: 0.21.0
**Operating system**: OSX. Tested in Chrome, Safari, and Firefox; same result.

**Issue**: "Talk to your bot" doesn't respond to anything; not even "Restart". Just a pulsing ellipsis appears. ("Interactive Learning" works just fine, but it uses different API calls). The API seems to be returning a result, but that result doesn't render to webchat.

[2019-09-18 06:00] sara-tagger commented on #4479
Thanks for raising this issue, @Ghostvv will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-18 06:00] sara-tagger commented on #4474
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-18 07:35] erohmensing commented on #3650
Super weird, i just used `rasa visualize` -- normally if I run into an issue like this then it's an OS problem, but i'm also on macOS and use chrome 😅 Can you attach the file that yours creates? Can check out the diff to see if there is anything weird.

I used the latest version of rasa, which is the one thing i can think is different, but I don't think the viz script has changed since 1.2.5 🤔

[2019-09-18 07:58] tabergma commented on #4474
@indranil180 Please, share some more information:
- Does `data.json` refer to the NLU data file? Or what do you store in that file?
- Can you paste the error message here?
- What command did you execute? (In order to reproduce the problem.)
Thanks.

[2019-09-18 08:23] true1337 commented on #4132
OS: Ubuntu, Centos
Browser: Mozilla Firefox

[2019-09-18 08:29] erohmensing commented on #4132
Sorry do you mean that the same issue happens on CentOS and Ubuntu? Can't be both at once -- also what versions?

[2019-09-18 08:35] true1337 commented on #4132
I have DEV (Ubuntu) and STAGE (CentOS) environments.
[code]

[2019-09-18 08:38] erohmensing commented on #4132
Got it, thanks for the clarification. I rather meant what versions of CentOS and Ubuntu (e.g. 16.04, 18.04)

[2019-09-18 08:40] true1337 commented on #4132
Ok :)
Ubuntu - 16.04.5
CentOS - centos-release-7-5.1804.el7.centos.2.x86_64

[2019-09-18 12:00] Ghostvv opened #4481 "let's add debug statement of what data files are recognized as what"
**Rasa version**: `master`

**Rasa X version** (if used & relevant):

**Python version**: `3.7`

**Operating system** (windows, osx, ...): `osx`

**Issue**:

let's add debug statement of what data files are recognized as what

[2019-09-18 12:06] Sarvin92 opened #4482 "embedding_response_selector has not installed with the installation procedures mentioned in the documentation"
I have used the below command line to install new version of rasa,

    $ pip install rasa-x --extra-index-url https://pypi.rasa.com/simple

The embedding_response_selector has not installed in rasa.nlu.selectors. To be specific no folders for selectors has been found after installation.

[2019-09-18 12:38] dakshvar22 commented on #4482
@Sarvin92 `rasa.nlu.selectors` was added in `Rasa 1.3.0`. Since `Rasa-X` is currently not compatible with `Rasa 1.3.0`, pip install fetches `Rasa 1.2.5`.
We are working on getting `Rasa-X` compatible with `Rasa 1.3.0` and releasing it.

[2019-09-18 13:25] msamogh commented on #4381
It looks like it could be a bug.

[2019-09-18 14:46] Sarvin92 commented on #4482
Thanks for the clarification @dakshvar22

The installation has achieved by building from source, using the following command,

    $ git clone https://github.com/RasaHQ/rasa.git
    $ cd rasa
    $ pip install -r requirements.txt
    $ pip install -e .

[2019-09-18 14:47] #4482 closed

[2019-09-18 15:23] wochinge commented on #3011
Sorry guys, we are currently discussing how to best solve this.

@thepurpleowl We highly recommend to not overuse checkpoints (https://rasa.com/docs/rasa/core/stories/#checkpoints). How many steps do your stories have that you run into this problem?

@GaoQ1
Changing the `max_event_history` currently has no effect on the stored number of events in the tracker store, but only on the prediction itsel

[2019-09-18 15:53] santteegt commented on #4479
I'm experiencing the same issue when deploying RasaX on a remote server and attempting to use the UI using SSH port forwarding

[2019-09-18 17:03] reliefs commented on #3973
https://github.com/tensorflow/tensorflow/issues/32315

[2019-09-18 17:55] erohmensing commented on #3973
@reliefs looks like tensorflow isn't planning on supportin 32-bit architecture. I'd recommend not spamming them, as it won't solve your problem and will likely get you blocked from their forum.

[2019-09-18 20:58] akelad commented on #4465
That's a good point, thanks for the suggestion! Is this something you'd be willing to work on?

[2019-09-18 21:10] RajaAsimFayyaz opened #4484 "AttributeError: type object 'FormPolicy' has no attribute 'priority'"
**Rasa version**: 1.0.7

**Rasa X version** (if used & relevant):

**Python version**: 3.7.4

**Operating system** (windows, osx, ...): Ubuntu 18.04

**Issue**: **AttributeError: type object 'FormPolicy' has no attribute 'priority'**
I am using FormPolicy in my actions file and getting this error when executing the dialogue model. My form policy is simple, that asks for email and responds with "Go

[2019-09-18 21:20] RajaAsimFayyaz commented on #4484
I can't delete this issue lol, I just had to use "FormPolicy()" instead of "FormPolicy" in the dialogue_model.py file.

[2019-09-18 23:08] dsmackie commented on #4444
Ensure that you have the python development package installed.

`sudo apt-get install python-dev`

[2019-09-18 23:44] LucasPenido commented on #1790
Hi @imLew, I have a doubt. It is important to Rasa accept both versions 2 and 3, or it has to just accept the latest version?

[2019-09-19 01:38] GaoQ1 commented on #3011
yes, the max_event_history has no effect on the events in the tracker store. but when events number exceeds the max_event_history, it will loss the previous events. that's a question.

[2019-09-19 02:58] hungph-dev-ict opened #4485 "Waiting for messages to come from users when integrated with the slack"
Hello everyone, currently after integrating rasa into slack, I realize a problem like the following.
When the bot replies to the user, 'What did you do yesterday?'
Users reply to many actions, but in the form of many messages.
For example, the user replies as follows:
I played football -> then press enter
And then I went fishing. -> press enter
But when the user first presses the message has been

[2019-09-19 03:36] chrisbangun commented on #4119
Hi guys,
newbie is here. May I help with something? I have been wanting to start contributing to open source and contribute to RASA would be Awesome.

Best

[2019-09-19 04:49] #4484 closed

[2019-09-19 05:49] indranil180 commented on #4474
Yes from `data.json` i meant NLU data file.
I have created the data.json file in below format.

[code]
When i run `rasa train` to train i am getting below error.

When i changed my data.json encoding to ANSI it started working. I checked in the community a lot of people are facing this same issue. I have guided them in solving the issue. Below is the link from rasa forum where someone solved it us

[2019-09-19 06:00] sara-tagger commented on #4485
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-09-19 06:00] #4485 closed

[2019-09-19 07:16] aravindan84 opened #4486 "Rasa-core and Rasa-nlu has requirement of jsonschema 2.6, but jupyterlab-server has requirement of jsonschema 3.0.1"
I am setting up a chatbot application using the attached Installation.txt file. While installing, I get error
ERROR: jupyterlab-server 1.0.0 has requirement jsonschema>=3.0.1, but you'll have jsonschema 2.6.0 which is incompatible.

If I change the version of jsonschema in installation.txt to 3.0.1, I get the below error, while installing:
ERROR: rasa-nlu 0.15.0 has requirement jsonschema~=2.6, bu

[2019-09-19 07:30] aravindan84 commented on #4486
I added the jupyterlab-server 0.3.4 version for testing purpose. Still it keeps failing.

[2019-09-19 07:36] imLew commented on #1790
Hi @LucasPenido, yes, even thought rasa would ideally be compatible with all version, if it's up to version 4 now then version 4 compatibility is more important than version 3 compatibility.
It is however important that we maintain version 2 compatibility, since it's already there.

[2019-09-19 07:55] erohmensing commented on #4119
@RanaMostafaAbdElMohsen do you still want to contribute a fix here? @chrisbangun let's give her a few days to respond, and then if not, you can take it over :) Sounds like you're on the right track!

[2019-09-19 07:55] tabergma commented on #4474
Thanks for the details!

Do you want to fix the issue yourself and open a PR for it?

[2019-09-19 08:25] erohmensing opened #4487 "Running socket client throws errors during Interactive Learning"
The socket client points to the rasa server, and if you don't change the defaults, `rasa interactive` runs on the same port as `rasa run` – therefore, socket is listening for events during `rasa interactive`. However, since the socket endpoint is not available during this, it leads to an error:

 <span class="error">[2019-08-01 11:45:37 +0200]</span> <span class="error">[23200]</span> <span class=

[2019-09-19 08:59] jamespaultg commented on #1503
I too faced this issue and finally fixed it. Just in case it might help someone, I am sharing it here.

The issue arises because the format of the file from dialogflow is slightly different to what RASA expects. So before training, we need to convert to the correct format using:
rasa data convert nlu --data data/place_finder --out data/nlu.md --format md

This is mentioned in this [blog post](http

[2019-09-19 09:15] chrisbangun commented on #4119
sure @erohmensing, sounds good to me

[2019-09-19 09:46] gausie commented on #4479
Thanks for the bug report. We're looking into it!

@santteegt Sorry, that isn't possible at the moment.

[2019-09-19 10:33] indranil180 commented on #4474
Please open a PR for it.

[2019-09-19 11:27] felaray commented on #4116
change setting in requirements.txt maybe solve it.
keras==2.2.4, numpy==1.16.5

[2019-09-19 12:00] sara-tagger commented on #4486
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-09-19 12:00] #4486 closed

[2019-09-19 12:21] tabergma commented on #4358
I would argue that the signature is a bit different: For core the `path` is actually a directory. The file name is not provided. All files are stored inside that directory with custom names. For nlu you have the `model_dir` and `file_name` (without ending). The files are stored inside the `model_dir` with `file_name` as the basename of the file. So, the main difference is that core creates sub-dir

[2019-09-19 12:33] #4481 closed

[2019-09-19 12:33] tmbo commented on #4116
this should be fixed in 0.20.3

[2019-09-19 12:33] #4116 closed

[2019-09-19 12:34] erohmensing commented on #4151
fixed in #1195

[2019-09-19 12:34] #4151 closed

[2019-09-19 12:34] tmbo commented on #4151
fix is part of Rasa X 0.20.3

[2019-09-19 12:40] psi43 commented on #4132
I have the same issue. Whenever slots are involved, it won't render.
I'm using Ubuntu - 16.04.6 LTS

For some reason I just assumed this was normal, whenever slots were involved.

[2019-09-19 13:12] wochinge commented on #2962
@akelad Why is it removed from the user success board? Where should it go or should it be closed?

[2019-09-19 13:26] tabergma commented on #4250
fixed in https://github.com/RasaHQ/rasa/pull/4383

[2019-09-19 13:26] #4250 closed

[2019-09-19 13:40] msamogh opened #4495 "Refactor tests to use `rasa.utils.io` functions while loading training and config files"
Instead of using `open(...)` in the tests we should use our utility functions from the `rasa.utils.io` package to write and read files.

[2019-09-19 14:17] tabergma commented on #4474
I added the issue to our backlog. We will have a look in the near feature.

[2019-09-19 14:51] tangochris opened #4496 "Rasa X removes blank lines from domain.yaml and replaces with 2 newline characters, preventing multiple speech bubbles"
**Rasa version**: 1.2.8

**Rasa X version**: 0.20.2

**Target channel**: Facebook Messenger

**Issue**: Rasa X strips blank lines from domain.yaml on load and replaces them with 2 newlines. This prevents us from specifying multiple messages / multiple speech bubbles in a template.

_(Aside: The workaround is to specify multiple utterances in response to an intent, but this is not satisfactory beca

[2019-09-19 15:32] wochinge commented on #4216
@msamogh this should be `in progress`, shouldn't it?

[2019-09-19 15:34] wochinge commented on #4086
@JEM-Mosig Are you working on this?

[2019-09-19 15:49] wochinge commented on #4437
@erohmensing What did our customers say?
@tmbo Any objections?

When dropping the support, we can also clean up / remove stuff which we we did for Python 3.5 compatibility:
- manual ordering of dicts (e.g. in Domain, TrainingData
- casting Path

From Ella:

[2019-09-19 15:49] wochinge commented on #4381
@msamogh Did you manage to reproduce it? Could you please label the issue accordingly?

[2019-09-19 15:56] tabergma commented on #4340
Setting the log level to debug for all libraries gives you the following output:
[code]
This is after the `ReminderScheduled` should have been executed. The log indicates that the job execution was missed. The warning `WARNING  asyncio  - Executing <Handle <TaskWakeupMethWrapper object at 0x150f9c6d8> created at /Users/tabergma/.virtualenv/rasa/lib/python3.6/site-packages/aiohttp/helpers.py:656> t

[2019-09-19 15:57] wochinge commented on #4474
@tabergma Just to clarify: currently we are only supporting `utf-8` and we should also support other encodings?

[2019-09-19 16:00] indranil180 commented on #4474
@wochinge it is working with `ANSI` only it is throwing error `ValueError: Unknown data format for file “data\data.json”` with other encodings.

[2019-09-19 16:18] erohmensing commented on #4437
No qualms from the customers yet!

[2019-09-19 16:28] #3845 closed

[2019-09-19 16:58] gausie commented on #3845
This is fixed in the upcoming release!

[2019-09-19 18:14] #4304 closed

[2019-09-19 18:19] msamogh commented on #4216
Yes. Thanks for noticing!

[2019-09-19 18:33] JEM-Mosig commented on #4086
Argh... its on my ToDo list, but has low priority.

[2019-09-19 19:48] lucianaribeiro commented on #4390
I would like to work on that

[2019-09-20 01:04] akelad commented on #2962
i don't know what happened there haha

[2019-09-20 04:23] ajinkyah opened #4498 "I'm getting too many warnigs but my project is getting started"
![111](https://user-images.githubusercontent.com/32433638/65299254-651fd480-db8c-11e9-9b39-e95489f7f7e5.png)
![222](https://user-images.githubusercontent.com/32433638/65299258-694bf200-db8c-11e9-8b3d-2b6d274514a9.png)

Just want to know is it okay to ignore this ?

[2019-09-20 06:00] sara-tagger commented on #4498
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-09-20 06:00] sara-tagger commented on #4496
Thanks for the issue, @akelad will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-09-20 06:00] #4498 closed

[2019-09-20 08:04] erohmensing commented on #4390
awesome @lucianaribeiro 🎉would be great if you could look into this issue on master. Let us know if you need any help! Maybe @jeanfrancois8512 can also help!

[2019-09-20 08:07] wochinge commented on #4437
Okay, please give a go in here as soon as you have all the feedback.

[2019-09-20 08:17] wochinge commented on #4400
@rgstephens Could you please retry with `0.20.3` (there will be also another release late today, early next week)? I believe this was caused by a wrong database type, which didn't allow template names longer than 255 chars.

@tangochris If you install Rasa X the compatible Rasa version is automatically installed with it. However, you are right, it's currently not really transparent which `rasa` ve

[2019-09-20 08:27] wochinge commented on #3854
@tabergma Will you tackle this as part of https://github.com/RasaHQ/research/issues/51 cause you need if for testing anyway?

[2019-09-20 08:37] wochinge commented on #3910
@tabergma But isn't the issue that you can't use the old model while a new one is training? Makes also sense cause the training is blocking all processing.

[2019-09-20 08:45] wochinge commented on #3975
@DiegoProtec How is it going? Is there anything I can help you with?

[2019-09-20 09:00] tabergma commented on #3854
@wochinge Yes. We will discuss it and decide if it makes sense or not. If we decide to implement it, I'll do it along the other improvements of the NER.

[2019-09-20 09:11] federicotdn commented on #4447
Hi @dptelecom, we recommend you install Rasa X and Rasa on separate virtual environments, as Rasa X has a dependency on a specific Rasa version. If you install both globally, then you might accidentally install an incompatible Rasa version for Rasa X.

[2019-09-20 09:11] #4447 closed

[2019-09-20 10:09] #4455 closed

[2019-09-20 10:23] tabergma commented on #3910
@wochinge I can't remember anymore. We should test it again.

[2019-09-20 11:29] erohmensing commented on #4437
@wochinge I'll collect and make sure we hear from everyone on our customer board -- can you check in with Ergo and Helvitia

[2019-09-20 12:09] Ghostvv commented on #4344
`is_binary_training` is used during training of core model, when the input anyhow is binary so there is no need to binarize it

[2019-09-20 12:33] wochinge commented on #3910
Could you please do that? (no rush)

[2019-09-20 13:12] wochinge commented on #4437
Scalable + Ergo are fine

[2019-09-20 15:17] math77 commented on #1756
Hello, after I compile a version of TF without avx how can I make my rasa installation use that version and not the one by default?

[2019-09-20 18:18] rjtmehta99 opened #4503 "TypeError :CIMultiDict keys error when integrating Rasa with Slack"
**Rasa version**: 1.2.2.

**Rasa X version** (if used & relevant): Not Used

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Ubuntu 18.04

**Issue**:
I have integrated Slack with Rasa. It shows verified in the Events Subscription page on Slack. But on sending a message to the channel/app on Slack, the following error is encountered.

**Error (including full traceback)**:
[code

[2019-09-20 18:19] #4454 closed

[2019-09-20 21:51] akelad commented on #4496
hm, that sounds like a bug indeed - @federicotdn any ideas what's going on there?

[2019-09-20 22:18] tangochris commented on #4400
@wochinge Upgrade to 0.20.3 solved our issue. Thanks!

On the topic of compatible versions, we deploy a custom docker image to an ECS cluster on AWS, so we're not able to benefit from any automatic installation.

[2019-09-21 10:25] Talhamian opened #4505 "How to use URDU (Non supported) language with rasa?"
Urdu is not officially supported language by Rasa stack and I cannot find any documentation that present usage of unsupported languages.

[2019-09-22 07:53] RanaMostafaAbdElMohsen commented on #4119
Hello  @erohmensing
I am busy these days so it can take time for me to implement it. So sure @chrisbangun it is okay if u want to work on this issue. Sorry it took me long to reply.

[2019-09-22 11:17] erohmensing commented on #4119
That's okay! Thanks for the response. Go for it @chrisbangun 🚀

[2019-09-22 11:22] Archish27 commented on #3999
Hi can someone provide more details regarding this issue? as per I know --enable-api will spawn a server once the bot is trained & ready to run. How is it related to JSON formatted data ? Is it during training it requires json formatted data if so how will it relate to --enable-api ? Can someone elaborate ?
Thanks :)

[2019-09-22 11:48] gopinathankm commented on #3667
**While installing rasa using  `pip intsall rasa`, I do get the above mentioned error. Then as suggested I did run the command `sudo apt-get install build-essential `and rerun the command `pip intsall rasa`. Still I am getting error as follows:
[code]
We did the installation of rasa_core & rasa_nlu with lower versions. Can anybody assisting this installation?

[2019-09-22 12:57] chrisbangun commented on #4119
thanks @RanaMostafaAbdElMohsen @erohmensing

Btw, I am new to RASA, so could you give me more context @erohmensing ? I have a couple of questions:
1. should the function `log_unseen_features` be a private function?
2. who should call this function
3. what are the parameters?

Thanks and I look forward to this.

[2019-09-22 17:51] vishnuvrpriya commented on #1695
Hi @akelad ,
I have fixed this bug through the PR: #4507
I request you to review the PR and let me know if you have any feedback and help in merging the changes, if they look good.
This is my first contribution so I would be glad to receive any feedback on my work 😃

Thanks,
Vishnu Priya VR.

[2019-09-22 22:56] mbzebra opened #4508 "Integration of Rasa with Couchbase"
**Description of Problem**:

Couchbase is widely getting popular as an enterprise No-SQL solution. It would be great to provide out of the box integration for users who would like to leverage Couchbase for Rasa to store users conversation history.

**Overview of the Solution**:

- Need to introduce a new Tracker Store named CouchTrackerStore.
- Need to implement the CouchTrackerStore
- Add test ca

[2019-09-23 06:00] sara-tagger commented on #4508
Thanks for submitting this feature request 🚀@TyDunn will get back to you about it soon!✨
###### Caw! 🐧

[2019-09-23 06:00] sara-tagger commented on #4505
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-09-23 06:00] #4505 closed

[2019-09-23 06:00] sara-tagger commented on #4503
Thanks for raising this issue, @imLew will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-23 08:15] msamogh opened #4509 "Add a new Travis job that tests Rasa commands with just the bare-bones requirements"
The current Travis jobs are run after installing all the packages in `requirements_full.txt`, but it needs to be ensured that no commands fail even if the extra spaCy and MITIE dependencies are not installed.

One way of going about it could be (as @federicotdn suggested):
- Create a virtual environment
- Install only `requirements.txt` in it
- Test out various Rasa commands in it

[2019-09-23 08:28] JEM-Mosig commented on #4425
It might also come in handy to have a "Copy debug information to clipboard" button somewhere, where it copies rasa version, rasa x version, browser, OS, etc. all at once in a standard format, so people can directly paste this in the forum, GitHub, or wherever they need it.

[2019-09-23 08:29] erohmensing commented on #4119
Yep that sounds like the right track. I'd say after the debug statement and before the return statement, a `log_unseen_features(parse_data)` and then you can extract the entities and intents from within. Because you'll pass `self` to the function, you can access `self.domain`, in which you'll find the intents at `self.domain.intent_properties` (will need a little more parsing to get the intent nam

[2019-09-23 08:29] imLew commented on #4503
Hi @rjtmehta99, I'm not sure this is a bug.
Based on your post you seem to have the credentials in `config.yml`, while they should be in `credentials.yml` https://rasa.com/docs/rasa/user-guide/connectors/slack/.

[2019-09-23 08:31] JEM-Mosig commented on #4132
I've got the same issue, but _only_ when Rasa X runs on the server.
The story
[code]
renders fine on my MacBook with
[code]
But on Google Cloud Platform with
[code]
the same story only appears as "This visualization cannot be rendered".

[2019-09-23 08:32] rjtmehta99 commented on #4503
Sorry, copied it by mistake. I have updated it above. Please have a look now.

[2019-09-23 09:01] chrisbangun commented on #4119
cool, thanks @erohmensing

[2019-09-23 09:09] imLew commented on #4503
Too bad it's not that easy 😅
It is weird, looking at your credentials and the code it looks like it should be a string. Can you find out what type it thinks it is?

[2019-09-23 09:24] rjtmehta99 commented on #4503
@imLew
Actually I am new to this. How do I check it ? Also, it is running fine when I use rasa shell.

[2019-09-23 09:27] imLew commented on #4503
The simplest way would be to insert a print statement to check the variable above https://github.com/RasaHQ/rasa/blob/da370f4eb5be871d33ae42840e9bc7cf4b55b67d/rasa/core/channels/slack.py#L267
Also try running rasa with `--debug`, that won't tell us the type of the variable but might show other useful information.
When running `rasa shell` the slack channel is not used so there should be no problem

[2019-09-23 09:54] imLew commented on #4358
Yes, my bad, path is in deed a dir.
It would definitely be breaking but I think it's worth considering for 2.0 as a having similar components of an api work in similar ways makes it more useable imo.

[2019-09-23 12:42] HESHN commented on #3024
Please share the solution :)

[2019-09-23 14:00] jeanfrancois8512 commented on #3999
Hi @Archish27, Once the server is up you have access to an Http API. One of the endpoints is [/model/train](https://rasa.com/docs/rasa/api/http-api/#operation/trainModel) where you can include training data and configs in the payload of your POST request. The documentation asks for the nlu and stories data to be in markdown format. This is in line with the [server code](https://github.com/RasaHQ/r

[2019-09-23 15:59] wochinge opened #4512 "update jsonschema dependency"
- https://forum.rasa.com/t/rasa-core-and-rasa-nlu-has-requirement-of-jsonschema-2-6-but-jupyterlab-server-has-requirement-of-jsonschema-3-0-1/15905
- optional: also check other dependencies if they are outdated / can be updated

maybe worth doing https://github.com/RasaHQ/roadmap/issues/695 before doing this one

[2019-09-23 16:02] wochinge commented on #4509
@msamogh Which commands should be covered? I assume `rasa init`, but besides?

[2019-09-23 17:06] wochinge commented on #4508
@mbzebra
Thanks for for your feature request! It sounds like a great idea and a great addition to rasa. However, I suggest to ship this as an additional library (not including it in rasa by default ) because
keeping a small core makes it easier to maintain `rasa` and lets us iterate faster. If you wanna do the change yourself, this could also be great chance for you to create your own opensource p

[2019-09-23 17:06] #4508 closed

[2019-09-23 17:29] mbzebra commented on #4508
Thank You @wochinge I have forked the project and in the process of creating a PR for this change. Love to collaborate to understand the process of shipping additional library.

[2019-09-23 17:34] wochinge commented on #4508
@mbzebra You don't need to fork the project for that. All you should need is
- a new module for the `CouchTrackerStore`
- a setup.py with `rasa` as dependency (and potential rasa
- some short readme on how to put your tracker store in the `endpoints.yml`
- publish your project on Pypi
(https://rasa.com/docs/rasa/api/tracker-stores/#custom-tracker-store)

[2019-09-23 17:48] mbzebra commented on #4508
Thank You @wochinge , will follow the suggested steps.

[2019-09-23 17:51] wochinge commented on #4400
Great!

thanks for your feedback! It's already an item on our todo list, but I added your feedback to push it a bit 🙂

[2019-09-23 17:51] #4400 closed

[2019-09-23 18:15] tmbo commented on #4474
I don't think we should use different formats, it should always be utf-8. I don't see a benefit in supporting different encodings beyond utf-8 - which means we should check why this one is ANSI in the first place.

[2019-09-23 21:15] akelad commented on #3667
Please create a new issue

[2019-09-24 04:33] rjtmehta99 commented on #4503
@imLew  Here are the logs:
The 'None' being printed at the top is the type(retry_reason).
As you can see it is showing - Action 'utter_ask_course' ended with events
But no response is seen on Slack.
[code]

[2019-09-24 04:54] rjtmehta99 commented on #4503
@imLew
Got it working.
Thank you for your help !
Cheers !

[2019-09-24 04:54] #4503 closed

[2019-09-24 06:45] msamogh commented on #4509
Why not all of them - `{init,run,shell,train,interactive,test,visualize,data,x}`?

[2019-09-24 07:52] imLew commented on #4503
What was the fix?

[2019-09-24 08:29] IgNoRaNt23 commented on #4209
No, bug is still present with 0.20.2

This is my fallback-action btw

    class ActionDefaultAskAffirmation(Action):
    """Asks for an affirmation of the intent if NLU threshold is not met."""

    def name(self):
        return "action_default_ask_affirmation"

    def run(self, dispatcher, tracker, domain):
        # get the latest intent
        if 'intent' in tracker.latest_message.keys():

[2019-09-24 09:56] #3753 closed

[2019-09-24 10:49] IgNoRaNt23 opened #4514 "Timeout with long lookup tables"
**Rasa version**:
Rasa 1.1.8

**Rasa X version** (if used & relevant):

**Python version**:
Python 3.6.8

**Operating system** (windows, osx, ...):
Ubuntu

**Issue**:
After extending my lookup tables (table_1: 270k table:55k examples) it takes significantly longer to process the very first text messages. In 90% of the cases I get a timeout error, however, when the message gets processed correctly

[2019-09-24 11:10] IgNoRaNt23 commented on #4514
There should be probably no/way longer timeout limit, when the NLU model loads for the first time. Or this should happen at another point.

[2019-09-24 12:00] sara-tagger commented on #4514
Thanks for the issue, @dakshvar22 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-09-24 18:17] neumann-d opened #4516 "Rasa X is not updating stories.md after story is removed in UI"
**Rasa version**: 1.2.8

**Rasa X version**:  0.20.2

**Operating system** (windows, osx, ...): Linux/Docker

**Issue**:
When editing stories in Rasa X, it also updates the `stories.md` file after clicking the "Save" button. But when removing a story via "Trash" icon button, the `stories.md` file is not updated.

[2019-09-24 18:41] neumann-d opened #4517 "Rasa X Model upload from file via button"
**Description of Problem**:
For uploading NLU,Stories and Domain Rasa X allows direct file upload when clicking on respective upload button. But for model it only shows a terminal command to upload the model via api.

**Overview of the Solution**:
Add direct file upload in UI for models too, to allow an easier workflow.

**Examples**:
For example when different users work either with Rasa X or Ras

[2019-09-24 18:50] neumann-d opened #4518 "Rasa X Renaming models"
**Description of Problem**: When uploading a model file via `curl` command to Rasa X, it checks that the model name not already exists. To upload an external updated model it needs to be renamed before on the client side. When training a model with Rasa X, it creates an autogenerated name `timestampXYZ.tar.gz`.

**Overview of the Solution**: Add functionality to rename a model in the UI and maybe

[2019-09-25 03:01] anubhavpnp commented on #1754
I have used this repo and it works fine
https://github.com/winstarwang/rasa_nlu_bert

[2019-09-25 07:40] erohmensing commented on #3852
Please create new posts on our [forum](forum.rasa.com) if you have trouble installing or executing Rasa

[2019-09-25 07:41] erohmensing commented on #3370
Closing, this was brought up again in 4426

[2019-09-25 07:41] #3370 closed

[2019-09-25 10:37] Archish27 commented on #3999
I tried with the sample payload hitting endpoint api [http://localhost:5005/model/train](http://localhost:5005/model/train)

[code]
NLU  got successfully trained.

Is it that instead of md file being generated in temp instead JSON should be generated ?

[2019-09-25 12:00] sara-tagger commented on #4518
Thanks for submitting this feature request 🚀@federicotdn will get back to you about it soon!✨

[2019-09-25 12:00] sara-tagger commented on #4517
Thanks for submitting this feature request 🚀@gausie will get back to you about it soon!✨

[2019-09-25 12:00] sara-tagger commented on #4516
Thanks for raising this issue, @Saladdin will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-09-25 13:33] ricwo opened #4520 "e2e evaluation raises ZeroDivisionError"
**Rasa version**: 1.3.6

**Python version**: 3.6

**Operating system** (windows, osx, ...): osx

**Issue**:

e2e story evaluation always raises `ZeroDivisionError`

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2019-09-25 13:39] jeanfrancois8512 commented on #3999
I think the main issue is that the documentation say that the format must be in markdown. I have made a version with type checking [here](https://github.com/RasaHQ/rasa/compare/master...jeanfrancois8512:issue-3999). This may be a solution. Tell me what you think.

[2019-09-25 14:49] #4174 closed

[2019-09-25 15:31] bijiaxing commented on #3534
I also meet this problem today, I don't konw why.  I can use it 2 hours earlier,but now I can't use it

[2019-09-25 15:57] erohmensing commented on #4418
closed in #4475

[2019-09-25 15:57] #4418 closed

[2019-09-25 16:09] wochinge commented on #4514
@IgNoRaNt23 You are using `rasa shell`, aren't you? Are you having the same issue if you `rasa shell` and then wait for a while before sending the first message?

[2019-09-25 16:16] wochinge commented on #4509
depending on the config / trained model the additional dependencies are required (which applies to `run`, `shell`, `train`, `interactive`, `test`). I'm not sure about `visualize` and `x`. `data` definitely could also be tested

[2019-09-25 16:51] #2914 closed

[2019-09-25 17:18] msamogh commented on #4509
So we could run these on the default config that requires no additional dependencies.

[2019-09-25 19:38] tangochris commented on #4479
I updated the version numbers in the issue description. Issue is unchanged with Rasa X 0.21.0 and Rasa 1.3.2. API continues to respond but response does not output to Rasa X webchat. Works fine on Messenger channel.

[2019-09-25 22:46] neumann-d opened #4522 "Rasa X NLU Download returns data.json instead of nlu.md"
**Rasa version**: 1.2.8

**Rasa X version**: 0.20.2

**Operating system** (windows, osx, ...): Linux/Docker

**Issue**:
When hovering over the download button in "NLU Training" view, there is the info "Download the file nlu.md...". But when you click on it, you get the nlu data in JSON format.

[2019-09-25 22:50] firewater334 commented on #4430
Hi,

So it is still not working even when pulling from the latest rasa and rasa-sdk images.  However, I can get it to work by running two separate commands in two separate terminals e.g:
rasa run actions --actions demo.actions -p 5055
and
rasa run -m models --enable-api --cors "*" --debug

It is interesting how this does not work when I use these equivalent commands in docker-compose format.

In s

[2019-09-25 22:51] firewater334 commented on #4430
@wochinge @akelad

[2019-09-25 23:22] neumann-d commented on #4522
Updated to latest version `0.21.0` and there you get the nlu.md. Solved!

[2019-09-25 23:22] #4522 closed

[2019-09-26 01:13] akelad commented on #4430
can you send us your docker compose config?

[2019-09-26 01:15] firewater334 commented on #4430
![image](https://user-images.githubusercontent.com/47159809/65650605-3ca33a80-dfd1-11e9-8b2e-e6695d0b6666.png)
@akelad

[2019-09-26 06:46] IgNoRaNt23 commented on #4514
Yes, Im using `rasa shell`. I tried waiting, but that has no effect. I may even communicate with the bot, by sending pure intent message like `\greet` and it works fine. The error occurs whenever I sent the first standard text message.

[2019-09-26 06:55] chrisbangun commented on #4119
hi @erohmensing
can you give me some guidance on how to run the test suite? Specifically the `test.core.test_processor` one. Thanks!

[2019-09-26 07:17] wibimaster opened #4523 "Upgrade Sanic dependency"
**Description of Problem**:
Sanic dependency is lock to 19.3.1, which use websockets <7
Sanic is now at 19.6.3 and supports websockets <8 (not the last, but at least more recent)

**Overview of the Solution**:
Could you update setup.py with new minor version of Sanic ?

[2019-09-26 07:34] tabergma commented on #3910
@wochinge Yes. Training is blocking everything and the server is not responding to any other requests.

[2019-09-26 07:49] erohmensing commented on #4119
You can try with these instructions: https://github.com/RasaHQ/rasa#running-the-tests

Although I'm partial to just running the tests specifically (you'll still need the requirements and the preparation), e.g.
[code]

[2019-09-26 09:02] tdzienniak commented on #4409
In version 1.3.6 I get this bug when trying to predict actions:
[code]

[2019-09-26 09:12] ricwo opened #4524 "Make Rasa X model pull interval configurable in local mode"
The model pull interval should be configurable. We overwrite `endpoints.yml` in local mode, meaning the `models` section in that file supporting `wait_time_between_pulls` is not respected.

[2019-09-26 09:39] Asma-droid opened #4525 "How to let bot start the conversation"
Hello,

i use  slack as a channel and i'd like to know if there is a way to let bot send the first message?

[2019-09-26 09:46] arni5na commented on #4465
@akelad Is there a workaround for this issue? It's crazy that you'll give this error and not point where. I got more than a thousand lines in my domain file. How am I supposed to find which line went wrong?

[2019-09-26 12:00] sara-tagger commented on #4525
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-09-26 12:00] #4525 closed

[2019-09-26 12:00] sara-tagger commented on #4523
Thanks for submitting this feature request 🚀@federicotdn will get back to you about it soon!✨

[2019-09-26 13:46] akshay2000 opened #4526 "Reduce Channel Dependencies"
**Description of Problem**: Please refer to [this](https://forum.rasa.com/t/using-rasa-without-transitive-dependencies/15996) forum thread. Currently, Rasa has a bunch of dependencies for various chat integrations. This is the list from `setup.py` from `master` branch.

 slackclient~=1.3
 python-telegram-bot~=11.0
 twilio~=6.0
 webexteamssdk~=1.1
 mattermostwrapper~=2.0
 rocketchat_API~=0.6.0

The

[2019-09-26 16:41] akelad commented on #4430
@wochinge any ideas?

[2019-09-26 16:42] akelad commented on #4465
You can use a yaml validator for now - we're open to community members working on this issue, otherwise we will get around to fixing it eventually.

[2019-09-26 16:49] firewater334 commented on #4430
I am not sure if this will help you, but on rasa version 1.2.2 with rasa sdk 1.2.0, it works as expected.  I do not know what modifications you guys made after those versions.

[2019-09-26 20:37] arni5na commented on #4465
Yes, but it's not only happening for syntax errors. It's throwing the same error if there are any duplicates in the domain file. I was able to get around it after a couple of hours of tinkering. Now, when I tried to train, it couldn't find the stories file. It's just right there in the data folder. I suspect this is the same issue. Another couple hours of my life wasted on this. Such a nuisance.