[2020-12-16 14:03] wochinge opened #7566 "Refactor `TrackerStore` persistence"
**Current State**

The `TrackerStore` is an attribute of the `Agent`. When we do model predictions we pass the `TrackerStore` to the processor which then eventually saves the updated `DialogueStateTracker` to the `TrackerStore`. Sometimes we also call `tracker_store.save(...)` in the `server` module.

**Issues**

*   When we persist the `DialogueStateTracker` then we have to find out which events

[2020-12-16 14:05] Ghostvv commented on #7552
this is the intention of rules, I'd recommend figuring out the conditions (e.g. in terms of slots) when this short snippets should happen and add them to the rules

[2020-12-16 14:19] nbeuchat commented on #7552
That makes sense (although I feel it's removing a bit of flexibility).

However, I still have issues with the `conversation_start: true` check even across rules:

*Rule 1: start*
[code]

*Rule 2: anywhere else*
[code]
I also tried to optimistically add `conversation_start: false` but that doesn't help.

I see that they are conflicting at the start of the conversation but I'd like the first rule to

[2020-12-16 14:43] m-vdb commented on #7559
Thanks a lot @ripperdoc for raising this issue. From a first look at the file, it seems that you're right and we're missing NLU examples for at least the following intents `activate_q_form`, `ask_possibilities`, `explain`, `faq`. I'll notify the team in charge.

In the mean time, you can add NLU examples for all of those intent in the `nlu.yml` file. For instance:
[code]
I realise it's not ideal,

[2020-12-16 14:45] wochinge opened #7567 "Refactor shared ML / User facing usage of objects"
**Issue**

Certain objects currently have too many responsibilities. This is somewhat related to [https://github.com/RasaHQ/rasa/issues/5257](https://github.com/RasaHQ/rasa/issues/5257) but with a different focus:

*   `Domain`
      *   represents the model domain from the perspective of the user (or simplified: training data provided by the user)
    *   represent the model domain internally (e.

[2020-12-16 14:45] wochinge opened #7568 "Refactoring structure of dialogue `Events`"
**Background**:

Historically, Rasa NLU and Rasa Core predictions were strictly split:

1.  A user would send a message
2.  Rasa NLU would classify the intent and extract entities
3.  Rasa Core would use the conversation history + the intent / entity information from NLU and predict an action

This strict split is represented in our most important `Event` types: `UserUttered` and `ActionExecuted`:

[2020-12-16 15:00] Ghostvv commented on #7552
hm, I'd say, you rather want `conversation_start: false` to be active, namely if it is explicitly false, the rule shouldn't be applied at the start. I think it makes sense. Could you please create a feature request for it?

[2020-12-16 15:08] nbeuchat commented on #7552
Good point. I'll open a feature request now.

Thanks for all your advice by the way, it's very helpful :-)

[2020-12-16 15:14] nbeuchat opened #7569 "Allow rules to be explicitely not applied at the start of a conversation with conversation_start: false"
**Description of Problem**: When a rule with `conversation_start: true` is set, it can be conflicting with rules that are intended to be applied anywhere except at the beginning of a conversation. The issue is that the second rule cannot be explicitly set to not be applied at the beginning of a conversation and hence results in a conflict when checked for conflicts.

**Overview of the Solution**:

[2020-12-16 15:14] nbeuchat commented on #7552
Here you go, just created the feature request: https://github.com/RasaHQ/rasa/issues/7569

[2020-12-16 16:10] Ghostvv commented on #7569
we need to distinguish between `conversation_start: false` and nothing (`conversation_start: null`) when reading rules, before it can be implemented in the `RulePolicy`

[2020-12-16 16:25] #7507 closed

[2020-12-16 17:45] wochinge commented on #7557
Thanks for bringing this up @kaustuk . Both issues seem to be the same thing 👍🏻

[2020-12-16 19:17] nbeuchat commented on #7467
Hi @joejuzl, thanks for your answer and apologies for my late reply.

That's right!

I tested again today and I still have this issue. I am asking about the `lease_length` for which I answer with the message: _12_

This message is parsed as:

[code]

The `validate_lease_length` is correctly called but the `validate_target_price` is also called. I need to look into it more as it only happens for th

[2020-12-17 08:55] joejuzl opened #7572 "CI failing for Windows 3.8 tests"
**Python version**: 3.8

**Operating system** (windows, osx, ...): Windows

**Issue**:

The CI is failing more often than not when running the Windows 3.8 tests.
We are seeing pytest workers crash e.g. `worker 'gw0' crashed while running 'tests/...`
But also an assertion error for the test `tests\nlu\classifiers\test_diet_classifier.py::test_set_random_seed`. (Potentially unrelated).

Example run:

[2020-12-17 08:57] m-vdb commented on #7572
isn't `worker 'gw0' crashed while running` the result of the timeout threshold getting hit?

[2020-12-17 09:08] joejuzl commented on #7572
Yes probably.

[2020-12-17 09:16] tczekajlo opened #7574 "Docker builds - refactor"
Proposed changes:
- Switch to Python 3.8 and Ubuntu 20.04 as a base image
- Refactor Dockerfiles in order to manage cache better
- Build a base image with MITIE
- Tag the latest stable version as `latest`
- Tag Docker images build against the master branch as `master`
- Add options for building Docker images locally to the Makefile

[2020-12-17 11:57] #7360 closed

[2020-12-17 12:08] Ghostvv opened #7578 "Enable rasa test usage for e2e"
Users need `rasa test` to validate and inform their decisions to update their training data. Without it, they cannot have a functioning live project using e2e, which in turns means that we wouldn't be able to get valuable feedback on e2e.

With `e2e` TED can extract entities using data in stories. Currently `rasa test` only runs NLU to compare entities.
We need to update the `rasa test` command so

[2020-12-17 12:09] Ghostvv opened #7579 "implement BILOU tags in core featurizers"
with e2e TED can extract entities using data in stories.
BILOU tags help extract multi-token entities, it is implemented in DIET, port BILOU tags to TED

[2020-12-17 12:11] Ghostvv opened #7580 "predict entity roles/groups in TED"
with e2e TED can extract entities using data in stories. entity roles/groups is implemented in DIET, port them to TED

[2020-12-17 12:14] Ghostvv opened #7581 "change the logic of retraining models"
currently if smth changed, we most likely retrain both NLU and core models (see https://github.com/RasaHQ/rasa/issues/7129 for details). However in majority of the cases this retraining is unnecessary. Instead of comparing data, we should compare featurizer outputs and retrain only if they changed, not the data

[2020-12-17 14:16] tczekajlo commented on #7501
Poetry, since >= 1.1.0b switch to `virtualenv`  that's why there was an issue with the discovery of the rasa executable.

[2020-12-17 14:16] #7501 closed

[2020-12-17 16:30] melindaloubser1 opened #7588 "Move HTTP API spec files so that they are versioned with the docs"
**Description of Problem**: Currently the HTTP API spec on the docs always reflects latest, no matter which Rasa version is selected on the docs. This is confusing when e.g. endpoints are deprecated on the latest version, but not on the version you are on.

**Overview of the Solution**: The files in _static/spec should move to under the docs directory so that they are versioned & references to the

[2020-12-17 19:29] b-quachtran opened #7590 "Multiple Sanic Workers Doesn't Work in Windows"
**Description of Problem**:

Multiple Sanic Workers doesn't work in Windows because of a known issue with Sanic here:

[https://github.com/huge-success/sanic/issues/1517](https://github.com/huge-success/sanic/issues/1517)

**Overview of the Solution**:

The documentation should be updated with a note or warning to reflect this

**Definition of Done**:

*   [ ] Feature described the docs

[2020-12-17 19:45] mvielkind commented on #7534
Hi @madhav-nividata this looks similar to #7194 can workaround this by using double curly braces in your payload defining the intents.

`- payload: /chat_bot{{"chatbot_type":"artificial_intelligence"}}`

[2020-12-18 05:43] wochinge commented on #4612
related other issue: https://github.com/RasaHQ/rasa/issues/7581

[2020-12-18 07:17] LoveMeWithoutAll opened #7592 "After upgrade rasa from v2.1.3 to v2.2.1, local rasa x server doesn't work"
**Rasa version**: 2.2.1

**Rasa SDK version** (if used & relevant): 2.2.0

**Rasa X version** (if used & relevant): 0.34.0

**Python version**: 3.8.6

**Operating system** (windows, osx, ...): macOS Big Sur version 11.1

**Issue**:
After upgrade rasa from v2.1.3 to v2.2.1, local rasa x server doesn't work.
Only after I edited `rasa cli` source code, it did work.
[code]

**Error (including full tra

[2020-12-18 11:10] humcasma commented on #7592
I can confirm both the issue and the workaround.

[2020-12-18 12:09] samsucik commented on #7533
@slesinger could you describe your setup in more detail? I see you use also Rasa X, was that used to train the model or for something else? Additionally, what does your NLU training data for the intent `zhasnout` look like?  We can try to reproduce the error because it looks like it could be a bug...

[2020-12-18 12:10] Ghostvv commented on #7481
I don't think its is the research issue, I moved it to `Production` board

[2020-12-18 12:22] slesinger commented on #7533
Hello @samsucik, I have used RasaX initially, but then I switched to edit plain files. To give you full picture I published my bot here: https://github.com/slesinger/assistant.git . NLU data are in czech language. I am sorry, that was original intent. Anyway, my gut feeling is that this issues is not related to language used. Thanks.

[2020-12-18 12:45] akelad opened #7597 "Rasa X doesn't load all stories or rules"
Raising issue here for visibility, because a forum user brought this to my attention.

**Rasa version**: 2.1.2

**Rasa X version** (if used & relevant): 0.34.0

**Issue**:

Rasa X 0.34.0 only loads 20 of your stories when going to the stories screen. This definitely wasn't an issue in 0.33.0 (I tested it out on the killer-demo instance beforehand). Sara has 200+ stories, and only 20 of them are th

[2020-12-18 13:00] sara-tagger commented on #7592
Thanks for raising this issue, @Tawakalt will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-18 13:07] kalkbrennerei commented on #7462
Hi @aleronupe! Thanks for bringing this up and also for the details! ✨

[2020-12-18 13:08] shreeraj04 opened #7598 "No response for the consecutive user utterance"
RASA Version: 2.3.1

Python version: 3.7.2

**Operating system** (windows, osx, ...): Windows Server 2012 R2 Standard

**Issue**:
Below is the training data in yaml format:
nlu:
  - intent: greet
    examples: |-
      - hey
      - hello
      - hi
      - hello there
      - good morning
      - hey there
      - let's go
      - hey dude
      - goodmorning
      - goodevening
      - good afte

[2020-12-18 13:14] degiz commented on #7592
Hey @humcasma

Thanks for checking the latest `2.2.1`! 🚀

The issue with `rasa x` is addressed in the upcoming release of `rasa x` `0.35`, should happen very soon.
Then you'll have to pull the latest package and things will work!

[2020-12-18 13:35] samsucik commented on #7533
I'll take look. By the way, I understand Czech, so that shouldn't be a huge issue 🙂

[2020-12-18 13:40] shreeraj04 commented on #7598
When i parse the same data I get the intent ranking
![image](https://user-images.githubusercontent.com/15680777/102620838-aecae680-4164-11eb-8ced-170a308baf19.png)

But the response template is null
![image](https://user-images.githubusercontent.com/15680777/102620864-b8ece500-4164-11eb-8123-8820abb19120.png)

[2020-12-18 14:12] samsucik commented on #7533
Alright, @slesinger so the reason for this weird behaviour is that you included in your config file two CRF entity extractors. One as the `CRFEntityExtractor` pipeline component and other instance is `DIETClassifier` (the component which, by default, does both intent classification and entity extraction using CRF).

If you remove `CRFEntityExtractor` from the config, entities get picked only once.

[2020-12-18 15:13] #7557 closed

[2020-12-18 16:13] loomsen opened #7600 "Visualization does not render User Input"
**Rasa version**:
2.1.2

**Python version**:
Python 3.7.9

**Operating system** (windows, osx, ...):
rasa Docker image

**Issue**:
When using `rasa visualize` the rendered graphs don't have any user input from the stories.

![Selection_639](https://user-images.githubusercontent.com/302524/102635194-48899800-4153-11eb-9264-4b06ee02aab0.png)

Obviously, without the user input, the graph is pretty us

[2020-12-18 19:39] sujee opened #7602 "Rasa X v0.34 not loading"
**Rasa version**: 2.2.1

**Rasa SDK version** (if used & relevant): 2.2.0

**Rasa X version** (if used & relevant):  0.34.0

**Python version**: 3.8.5

**Operating system** (windows, osx, ...):Linux-5.4.0-58-generic-x86_64-with-glibc2.10

**Issue**: Rasa X v0.34 not loading

I have been using rasaX 0.32.2 and just tried updating no 0.34. I got the following error

**Error (including full traceback

[2020-12-18 21:00] gdeluc1 opened #7603 "rasa validate KeyError during story conflict testing"
**Rasa version**: 2.2.1

**Rasa SDK version**: 2.2.0

**Rasa X version**: 0.34.0

**Python version**: 3.7.9

**Operating system**: Windows-7-6.1.7601-SP1

**Issue**: rasa data validate throws error when using retrieval intents - also ResponsesSeclector responses need to be out of ``domain.ym`` unlike indicated by the online documentation on [chitchat and faq](https://rasa.com/docs/rasa/chitchat-fa

[2020-12-18 22:39] slesinger commented on #7533
Thanks so much. It works as expected after I have removed ```CRFEntityExtractor```.
I am providing my ```config.yml``` for reference in case somebody has the same issue. At least, it will be documented.

[code]

[2020-12-18 22:39] #7533 closed

[2020-12-19 00:48] github-actions[bot] opened #7604 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-12-19 06:08] rgstephens opened #7605 "button_type not working with 2.0 yaml response schema validation"
**Issue**:

The Telegram channel `button_type` option is not working with Rasa 2.x because the new [schema validation](https://github.com/RasaHQ/rasa/blob/6dcf34ea185d6feca5b09a49dccaafc568705add/rasa/shared/nlu/training_data/schemas/responses.yml#L22) for responses is missing the definition.

**Rasa version**: 2.2.0

**Error (including full traceback)**:
[code]

**Command or request that led to e

[2020-12-19 07:36] #6382 closed

[2020-12-19 07:36] #6448 closed

[2020-12-19 07:36] #5826 closed

[2020-12-19 07:36] #6424 closed

[2020-12-19 07:36] #6454 closed

[2020-12-19 07:36] #6049 closed

[2020-12-19 07:36] #6479 closed

[2020-12-19 07:36] #6462 closed

[2020-12-19 07:36] #6491 closed

[2020-12-19 07:36] #6495 closed

[2020-12-19 07:36] #6496 closed

[2020-12-19 07:36] #6502 closed

[2020-12-19 07:36] #5725 closed

[2020-12-19 07:36] #6545 closed

[2020-12-19 07:36] #6342 closed

[2020-12-19 07:36] #6432 closed

[2020-12-19 07:36] #6522 closed

[2020-12-19 07:36] #6548 closed

[2020-12-19 07:37] dakshvar22 commented on #6232
Closing this since there hasn't been any activity.

[2020-12-19 07:37] #6232 closed

[2020-12-19 09:48] woelfle2004 commented on #5722
If you still experience problems try this guide
https://www.youtube.com/watch?v=4ewIABo0OkU

[2020-12-19 10:30] martinbe1io commented on #7109
@akelad do you need any further info ?

[2020-12-19 23:38] shdw2x commented on #2180
I got a similar error `Cannot access action 'affirm', as that name is not a registered action for this domain.` and then noticed that, while I was editing the stories.md file, I put a dash before `affirm`.

[code]

However, it should have been a star. So, changing from the dash to star worked for me. So, be aware of spaces, dashes, etc. The correct one is below.

[code]

[2020-12-20 00:50] github-actions[bot] opened #7607 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-12-20 10:34] vishnupriyavr opened #7608 "Req payload - Attribute type for training a model using HTTP API"
**Description of Problem**:
Some feedback for training a model using the HTTP API, it would be really helpful if the attribute-type for each of the key attributes ( nlu ,domain ,config, stories )can be exposed as JSON types instead of strings. @TyDunn, tagging you as discussed on the #feedback-for-rasa slack channel.

**Overview of the Solution**:
It would be helpful if the request payload attribu

[2020-12-20 17:15] Avi777 opened #7609 "Getstream custom connector"
**Description of Problem**:
Custom connector for [getstream](https://getstream.io/) channel

**Overview of the Solution**:
Make a custom connector similar to rocket-chat but using getstream-chatapi.

**Definition of Done**:
<!-- What needs to be there to consider this feature as done?
- [ ] Feature mentioned in the changelog

[2020-12-20 21:36] robotmentor88 commented on #7101
@nbeuchat can you give an example of follow up actions?

[2020-12-21 07:00] sara-tagger commented on #7608
Thanks for submitting this feature request 🚀 @desmarchris will get back to you about it soon! ✨

[2020-12-21 07:00] sara-tagger commented on #7609
Thanks for submitting this feature request 🚀 @melindaloubser1 will get back to you about it soon! ✨

[2020-12-21 07:00] sara-tagger commented on #7603
Thanks for raising this issue, @koaning will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-21 07:00] sara-tagger commented on #7602
Thanks for the issue, @rctatman will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-21 07:00] sara-tagger commented on #7598
Thanks for the issue, @mvielkind will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-21 07:00] sara-tagger commented on #7600
Thanks for the issue, @amn41 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-21 09:42] amn41 commented on #7592
just a quick update here - we had hoped to get 0.35 out last week but it wasn't possible. It will be released in early January instead. Until then, there isn't an officially supported Rasa X version for Rasa Open Source 2.2.x, so I would recommend you stick with 2.1 or if it suits you use the workaround above. Thanks for raising the issue and finding a workaround!

[2020-12-21 09:43] amn41 commented on #7602
closing, looks like a duplicate of https://github.com/RasaHQ/rasa/issues/7592

[2020-12-21 09:43] #7602 closed

[2020-12-21 10:10] sujee commented on #7602
Thanks for responding.
Hope to see a fix soon.  Because installing rasax 0.34 is actually pulling down rasa 2.2.1 as a dependency and installing it... only they seem not be compatible :-)

[2020-12-21 15:05] fandy commented on #7592
Spent my morning debugging this and it was driving me crazy.

Is there a way to ensure the version incompatibility between Rasa and Rasa X doesn't happen again in the future? I believe this happened with the previous version as well, and as a newcomer, it was very frustrating to debug.

[2020-12-21 15:12] desmarchris commented on #7608
thanks for the post @vishnupriyavr - Ty is out of office for the end of the year. I'll set a reminder to review this with him when he's back!

[2020-12-21 15:53] UsamaNadeemKhan commented on #7592
Can you share rasa-x , rasa-sdk and python versions too.
I'm having the same issue from yesterday

[2020-12-21 16:19] #7393 closed

[2020-12-21 17:13] tczekajlo opened #7618 "Run all time-absorbing unit tests in a separate job"
All unit tests that require more time (e.g. train model) should be run as a separate job in order to short time that we need to pass all tests. All unit tests that require more time (e.g. they train a model) should be run in a separate job in order to short waiting time to pass tests.

@mprazz Can we identify all unit tests that are time-absorbing?

[2020-12-21 17:19] dakshvar22 opened #7619 "Upgrade to TF 2.6"
TF `2.4` is out and hence we should update the dependency inside Rasa OS to use it.
Introduces some breaking changes as mentioned in the [changelog](https://github.com/tensorflow/tensorflow/releases)

Update: we are now targeting 2.6 see [here](https://rasa-hq.slack.com/archives/C8LEHMTAM/p1631797167445400?thread_ts=1631788033.438000&cid=C8LEHMTAM)

Note that there's a draft PR [here](https://gith

[2020-12-21 17:26] koernerfelicia opened #7620 "Figure out whether Hugging Face transformers models can be restored from cache on CI runners"
**Description of Problem**:
Downloading models from the Hugging Face transformers repository can take more than the 120s allotted for a pytest to run, resulting in a failed test due to timeout. This is especially problematic for CI, as the cached models are deleted after the runner is shut down.

We can download all the models in a fixture like [so](https://github.com/RasaHQ/rasa/pull/7365/commits

[2020-12-21 17:33] koernerfelicia commented on #7620
[Example](https://github.com/RasaHQ/rasa/runs/1453373729?) of run where tests crashed. Note you can also reproduce the timeout locally by deleting the Hugging Face crash (something like `rm -rf ~/.cache/huggingface/transformers/*`).
I think the warning in the logs about 10% of memory being allocated can be ignored (source: Tanja) or at least isn't the reason why the runners are crashing. I did som

[2020-12-22 06:56] madanmeena commented on #7603
I am also facing similar issue both on 2.2.1 and 2.2.2
[code]

[2020-12-22 08:00] Nriver commented on #7603
Downgrade rasa to 2.1.3 and retrain the model solves the problem for me.

[2020-12-22 11:49] #7572 closed

[2020-12-22 12:36] s0288 commented on #4887
Hi @tangochris , I'm running into the exact same issue that you were describing here:

I'm trying to understand whether I'm doing something wrong or whether this has not been fixed. Did you figure out how to deal with users that have slots in their conversation history that are not part of the model/domain anymore?

My logs are clogged with these errors :(

wochinge suggested here (https://github.

[2020-12-22 13:35] BShaq commented on #7592
Hi all,
How can you downgrade rasa to version 2.1?

[2020-12-22 13:42] amn41 commented on #7592
can you please try UPgrading to rasa open source 2.2.2? that should fix the issue.

 https://github.com/RasaHQ/rasa/releases/tag/2.2.2

[2020-12-22 14:12] BShaq commented on #7592
Thanks, that has indeed solved the issue!

[2020-12-22 14:55] UsamaNadeemKhan commented on #7592
**Need help here.**
![error](https://user-images.githubusercontent.com/24437875/102901613-a7bb1580-448f-11eb-8a63-9220fff3a5d0.jpg)
![version](https://user-images.githubusercontent.com/24437875/102901621-ae498d00-448f-11eb-8610-092eb6021107.jpg)

[2020-12-22 15:04] HamzaNKhan commented on #7592
Need some help here. Stuck here for past 2-3 days
![version](https://user-images.githubusercontent.com/65402104/102902442-d2f23480-4490-11eb-8298-747b44fa587e.jpg)

![error](https://user-images.githubusercontent.com/65402104/102902404-c7067280-4490-11eb-9545-b98e685bd14f.jpg)

[2020-12-22 15:04] gdeluc1 commented on #7603
Thanks Nriver. 2.1.3 is indeed a (temporary) solution but there are still issues, see this post from [Rasa blog](https://forum.rasa.com/t/problem-with-retrieval-intents-and-responseselector-in-with-rasa-2-x/38210).
Would be good if the problem of syntax could be clarified.

[2020-12-22 15:23] TheresaSchmidt commented on #1872
The problem still exists. I tried with Python 3.8.3 and pip 20.3.3
With Python 3.7.9 an pip 19, the isntall worked.

[2020-12-22 17:58] XiaoLiuAI opened #7623 "tokenization failed in rasa 2.0"
**Rasa version**:
2.2.6

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:
3.7

**Operating system** (windows, osx, ...):
osx, ubuntu

**Issue**:
Currently, rasa hf_transformer implementation use whitespace tokenizer to make tokenization then use transformers tokenizer to make subtokens. This will lead to the failure of languages like Chinese

[2020-12-22 18:25] amn41 commented on #7600
thanks for filing this bug. Will add it to the contributor board in case someone wants to pick it up, I think it might be a good one for a new contributor.

[2020-12-22 20:58] kearnsw opened #7624 "Auto-fill not respected by FormAction"
**Rasa version**: 2.2.2

**Python version**: 3.6

**OS**: Mac

**Issue**:

*   The form action `extract_other_slots` is not respecting the `auto_fill` property of the slots in the domain file. So they are being overwritten.

There is a bug report on the forum here and also here: [https://forum.rasa.com/t/slots-overwritten-in-forms-with-duckling-entities/38197/5](https://forum.rasa.com/t/slots-over

[2020-12-22 23:09] santteegt commented on #7603
This bug was introduced in this commit https://github.com/RasaHQ/rasa/commit/954e4734d479924df7211cd3bc5503285d54a66b#diff-b9a6da0b97982d86712af2c20891570d9fa8d662a4d4fbf0e018b085eaaaf8e9 See `rasa/core/training/story_conflict.py` file. Seems that there are some compatibility issues with the experimental end-to-end training feature while running the `rasa data validate`

[2020-12-23 00:54] github-actions[bot] opened #7626 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-12-23 04:27] alexyuwen opened #7627 "Typos in documentation"
I don't know if this is the right place to raise this issue, but I noticed two errors in the Rasa docs where it explains the `buttons` parameter of the dispatcher's `utter_message` method (link below).  For one, `message` is misspelled as `messsage`.  Also, the code block is missing a close parentheses at the very end.  So, the corrected example would be:
[code]

https://rasa.com/docs/action-serve

[2020-12-23 04:47] pratz-sridhar commented on #7592
Did you change the x.py file in the cli folder as was shown above?

[2020-12-23 07:00] sara-tagger commented on #7627
Thanks for raising this issue, @alopez will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-23 07:00] sara-tagger commented on #7624
Thanks for raising this issue, @m-vdb will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-23 07:00] sara-tagger commented on #7623
Thanks for the issue, @rgstephens will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-23 07:12] Dobatymo opened #7628 "Prefillings slots doesn't work correctly in forms with multiple from_entity types and form validation"
**Rasa version**: 2.2.2
**Rasa SDK version** (if used & relevant): 2.2.0
**Rasa X version** (if used & relevant): None
**Python version**: 3.7.4
**Operating system** (windows, osx, ...): Windows-10-10.0.18362-SP0

**Issue**:

When a form is activated, it tries to prefill the slots using existing information. However if there are multiple `from_entity` types in the domain file (see below), bad enti

[2020-12-23 07:42] eikooc commented on #7619
Rasa does not work on the new M1 chip before upgrading this dependency. Just thought I would leave that as a note here.

[2020-12-23 08:20] laopisai opened #7629 "Rasa X - forever no response when chatting"
**Rasa version**: 2.1.2

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant): 0.34.0

**Python version**: 3.8.5

**Operating system** (windows, osx, ...): Ubuntu 20.04

**Issue**: When chatting to bot via Rasa X, the interface forever showing three dots.

I tried to deploy Rasa X manually using docker-compose and also using the provided install.sh. Both ends with th

[2020-12-23 13:00] sara-tagger commented on #7628
Thanks for raising this issue, @samsucik will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-23 13:00] sara-tagger commented on #7629
Thanks for the issue, @alopez will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-23 17:15] zyberg2091 commented on #7627
can i solve this issue?

[2020-12-23 17:17] rgstephens opened #7630 "Action server failure handling"
**Description of Problem**:
Would like a way for the bot to handle action server failures. Could be the action server isn’t running or the response is exceeding a timeout period. Could there be an action fallback policy or custom policy around this so that rules/stories could take this into account.

**Overview of the Solution**:
Possibly define an action_fallback_intent and threshold. If there is

[2020-12-23 18:44] desmarchris opened #7631 "e2e learning story syntax error"
**Rasa version**: 2.2.2

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.8.6

**Operating system** (windows, osx, ...): osx

**Issue**: I'm trying to capture a name using an e2e story. When I start the user statement in the training data with an entity, the model fails to train citing a yaml error. Here's the story:

*   story: capture na

[2020-12-23 21:43] HamzaNKhan commented on #7592
I upgraded rasa to 2.2.2 and now getting error shown in picture

[2020-12-23 22:57] rgstephens opened #7632 "rasa data validate error, schema issue"
`rasa data validate` fails on the Sara/rasa-demo `config.yml` with the error: `You have provided an invalid key `token_pattern` for component 'CountVectorsFeaturizer' in your pipeline. Valid options for 'CountVectorsFeaturizer' are:`

Sara uses `token_pattern` [here](https://github.com/RasaHQ/rasa-demo/blob/338aafeb1c54dc6d1b431fcc5022f466941acaee/config.yml#L8).

The [docs](https://rasa.com/docs/

[2020-12-24 04:38] xettrisomeman opened #7633 "Having trouble creating a new project"
**Rasa version**:2.2.2

**Rasa SDK version** : 2.2.0

**Python version**: 3.8.0

**Operating system** :windows

**Issue**: ```AttributeError: module 'tensorflow.python.keras.utils.tf_utils' has no attribute 'smart_cond' ```

[2020-12-24 07:00] sara-tagger commented on #7633
Thanks for the issue, @yennycheung will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-24 08:11] Mathias-Godwin opened #7634 "AttributeError: module 'tensorflow._api.v1.config' has no attribute 'list_physical_devices' after running rasa init"
Rasa version:2.2.2

Rasa SDK version : 2.2.0

Python version: 3.7.9

Operating system :windows

**error**:
c:\users\gwinivac\.conda\envs\chatboty\lib\importlib\_bootstrap.py:219: RuntimeWarning: greenlet.greenlet size changed, may indicate binary incompatibility. Expected 144 from C header, got 152 from PyObject
  return f(*args, **kwds)
c:\users\gwinivac\.conda\envs\chatboty\lib\importlib\_bootst

[2020-12-24 10:35] koaning commented on #7191
I am also seeing this with these versions;

[code]

[2020-12-24 13:00] sara-tagger commented on #7634
Thanks for the issue, @b-quachtran will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-24 17:30] Goxiaoy commented on #5263
This issue is not fixed, sources:
https://github.com/RasaHQ/rasa/blob/b555a5d49bb4d5787fa9e18aa8bc1783cb62a1a2/rasa/shared/nlu/training_data/formats/readerwriter.py#L89

[2020-12-24 18:22] rakib06 commented on #4068
I'm facing the same issue

[2020-12-25 03:02] #7324 closed

[2020-12-25 06:51] umohangopikrishna commented on #3102
The above issue can be sort out by following the below steps

 step 1 :- write the logic of the model
 step 2 :- save the model using the method modelobj.save('model.h5')
 step3 :-  import tensorflow as tf  , graph = tf.get_default_graph()
step4 :-
       with graph.as_default():
            modelloadedObj = load_model('model.h5')
            img = Image.load("image url")

            predict = mo

[2020-12-25 08:42] XiaoLiuAI commented on #7189
@solyarisoftware Hello, I am also looking for a better explanation for http api. I would like to use customized nlu and rasa core, but I haven't found a way to create session using rasa core endpoints directly. And all the tracker api need session ids. Do you have any idea?

[2020-12-25 09:36] solyarisoftware commented on #7189
Hi @XiaoLiuAI

Yes, the `session id` doesn't related RASA engines. It's just a unique identifier of the conversation with a user. It's the `user id`.   It's maybe related to your application logic or frontend hub of your choice. By example, in for a Telegram bot, you can use the telegram `chat_id`.

- see my old comment:
   https://forum.rasa.com/t/how-can-i-get-a-conversation-id-so-i-run-an-actio

[2020-12-25 11:16] Mathias-Godwin commented on #7634
I've got a wrap around that, what I did was:
1. i figured out that the attribute has been moved to "tensorflow._api.v1.config.experiment"
2. I edit the "__init__.py" by :
      from tensorflow._api.v1.config import experiment
      list_physical_devices = experiment.list_physical_devices
3. then I saved it and Viola! it worked (for Tesorflow version==1.15.0)

[2020-12-26 00:54] github-actions[bot] opened #7635 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-12-26 08:07] ysubbarao commented on #5961
I am also facing this issue.Can you please help me to sort out this issue.

[2020-12-27 00:57] github-actions[bot] opened #7636 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-12-27 02:54] vulcantheterrible opened #7637 "Rasa Telegram Webhook doesnt accept command line certificate"
**Rasa version**:
2.2.2

**Rasa SDK version** (if used & relevant):
2.2.0

**Rasa X version** (if used & relevant):

**Python version**:
3.7.3

**Operating system** (windows, osx, ...):
Linux-4.19.0-13-cloud-amd64-x86_64-with-debian-10.7

**Issue**:

The telegram webhook doesnt seem to have an ssl option in the credentials.yml configuration and doesn't accept ssl cert parameters on the command lin

[2020-12-28 07:00] sara-tagger commented on #7637
Thanks for raising this issue, @b-quachtran will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-28 10:01] madanmeena commented on #6486
@Ghostvv  I was using rules for feedback which in our case is a fixed turn of event as follows
`- rule: user positive_feedback
  steps:
  - action: utter_feedback_1_options
  - intent: positive_feedback
    entities:
    - feedback: true
  - slot_was_set:
    - feedback: true
  - action: action_feedback
  - action: utter_feedback_2_thanks
- rule: user negative_feedback
  steps:
  - action: utter_f

[2020-12-28 12:18] melindaloubser1 commented on #7633
what version of tensorflow do you have installed?

[2020-12-28 12:25] melindaloubser1 commented on #7634
I think the underlying issue here is your tensorflow version - you should have tensorflow 2 since https://github.com/RasaHQ/rasa/pull/5266

[2020-12-28 12:25] #7634 closed

[2020-12-28 12:37] melindaloubser1 commented on #7627
thanks for reporting! It's fixed in this PR on rasa SDK (there's also a linked issue there, which is why I'm closing this one): https://github.com/RasaHQ/rasa-sdk/issues/379

[2020-12-28 12:37] #7627 closed

[2020-12-28 12:39] shubhvachher commented on #7303
Adding that this happens for more complex rule based systems as well. Just, without any stories to train upon.

**Quick Fix** is to comment out TEDPolicy from your config.yml before training and memoization and rule policy trains on nlu, domain and rules. Further stack trace:

During training:
[code]

Running `rasa shell` to test the model.
[code]

[2020-12-28 15:38] melindaloubser1 commented on #7633
In that case it might be too high a version - the required version is listed here https://github.com/RasaHQ/rasa/blob/b555a5d49bb4d5787fa9e18aa8bc1783cb62a1a2/pyproject.toml#L114
so up to 2.3. It  might be something else, but worth trying.

[2020-12-28 15:48] melindaloubser1 commented on #7609
Hi @Avi777 have you started an implementation somewhere for this?  It looks like `getstream` doesn't have an open API spec. For connectors Rasa supports only the most common ones directly, while many others can be supported with some adaption of the `rest` channel.

[2020-12-28 16:31] Avi777 commented on #7609
Yes, I've created a PR.
Link: https://github.com/RasaHQ/rasa/pull/7610

On Mon, Dec 28, 2020 at 9:33 PM Melinda Loubser <notifications@github.com>
wrote:

--
*Avishekh Shrestha*
*Associate ML Engineer*
*Technology*

 +977-1-4168530, +977-1-4168744
<ambre@fusemachines.com> avishekh@fusemachines.com

<http://blog.fusemachines.com/>   [image: www.facebook.com/fusemachines]
<http://www.facebook.com/fu

[2020-12-28 21:28] shubhvachher opened #7639 "Slot Validation fails for long unhappy paths"
**Rasa version**: 2.0.0

**Rasa SDK version** (if used & relevant): Not used

**Rasa X version** (if used & relevant): Not used

**Python version**: 3.6.8 (anaconda)

**Operating system** (windows, osx, ...): windows

**Issue**:

Situation :
- a form `my_form` with split up rules for activation and submitting as shown [here](https://rasa.com/docs/rasa/business-logic#3-creating-rules) that fills a

[2020-12-28 21:29] shubhvachher commented on #7639
Its just a bit late where I'm from. I'll get to posting a minimal working example with my config etc if not reproducable...

[2020-12-28 22:04] shubhvachher commented on #7639
Adding : That `Should 'my_form' validate user input to fill the slot 'my_slot'?  Yes` isn't usually asked during interactive learning...

[2020-12-29 01:12] shubhvachher opened #7640 "During rasa test, YamlValidationException shows temp path"
**Rasa version**: 2.0.0

**Rasa SDK version** (if used & relevant): Not Used

**Rasa X version** (if used & relevant): Not Used

**Python version**: 3.6.8 (anaconda)

**Operating system** (windows, osx, ...): windows

**Issue**:

During `rasa test` if there is a `YamlValidationException` then the path for the file shown points to the temp directory.

**Error (including full traceback)**:
[code]

*

[2020-12-29 01:15] shubhvachher commented on #7640
I could submit a PR for this if reproducible! Seems straight forward on the face of it.

[2020-12-29 01:23] shubhvachher opened #7641 "quick jump from rasa shell to rasa interactive"
**Description of Problem**:

During testing with `rasa shell` when you encounter a problem it would be easy to have a quick `\interactive` command (like `\stop` is) to jump into the `rasa interactive` mode with the actions taken by the bot after the last user input being re-run but in interactive mode.

**Blockers** (if relevant):

Well, `rasa interactive` generally retrains the model. So, that ne

[2020-12-29 04:44] shubhvachher opened #7642 "Making `rasa interactive` command line tool more user friendly in 3 simple steps"
**Description of Problem**:

*   **Ask users if they wish to save each file**; for example, not everyone wants to override their hand created YAML `domain.yml` file while still wanting to save the NLU and story files.
*   **Always show user input text in summary table** (right hand side of screen) in the `interactive` mode. Right now it is sometimes shown and sometimes just the user `intent` is sh

[2020-12-29 04:51] shubhvachher commented on #7641
Starting up `rasa interactive` and going through the intital stages of setup till the main problem area is a huge obstruction to using the tool. Being able to `rasa shell` and jump into `interactive` could help with that case as well.

*An important design condition (imo) is* : When going from shell to interactive, we need to clarify from which user input we should start the "debugging process". T

[2020-12-29 04:53] shubhvachher commented on #7639
Seems I'm unable to reproduce a minimum working example. I'll try to make a new issue with my own specific project to get some help.

[2020-12-29 04:53] #7639 closed

[2020-12-29 06:45] sara-tagger commented on #7641
Thanks for submitting this feature request 🚀 @kalkbrennerei will get back to you about it soon! ✨

[2020-12-29 06:45] sara-tagger commented on #7642
Thanks for submitting this feature request 🚀 @samsucik will get back to you about it soon! ✨

[2020-12-29 06:45] sara-tagger commented on #7640
Thanks for raising this issue, @rgstephens will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-29 06:55] LEAGUEDORA opened #7643 "How to extract extra slots in rasa 2.2 other than those asked in domain"
**Rasa version**:  2.2

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:3.7.9

**Operating system** (windows, osx, ...): win 10

**Issue**:

Not asking other slots other than those asked in domain

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (i

[2020-12-29 07:00] sara-tagger commented on #7643
Thanks for the issue, @dakshvar22 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-29 08:04] shubhvachher opened #7644 "[Documentation] Default action server wrongly mentioned in `rasa run -h`"
**Rasa version**: 2.0.0

**Rasa SDK version** (if used & relevant): Not Used

**Rasa X version** (if used & relevant): Not Used

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): windows

**Issue**:

Default action server wrongly mentioned when running `rasa run -h` as

[code]

Should be 5055 as is shown correctly when running `rasa run actions -h`.
[code]

[2020-12-29 09:52] boryslawskamaria opened #7645 "Incorrect warning: Action 'utter_chitchat' is listed as a response action in the domain file, but there is no matching response defined."
**Rasa version**: 2.2.0

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: Python 3.6.9

**Operating system** (windows, osx, ...): ubuntu

**Issue**:
I keep getting the above error even though I've included responses in my domain file.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content o

[2020-12-29 16:47] rgstephens commented on #7640
@shubhvachher Thanks for reporting. Yes, a PR would be appreciated!

[2020-12-29 17:35] melindaloubser1 commented on #4988
@erohmensing just seeing this again - can you reproduce it still?

[2020-12-29 21:05] shubhvachher commented on #7640
Sure, I'm out travelling till Jan 3rd. I'll get to this Jan 4.

[2020-12-29 21:11] intech opened #7648 "feat: CockroachDB support"
Add cockroachdb compatibility (postgres dialect) for rasa and rasa-x. This will enable the creation of high-performance and easily scalable solutions. I was able to proxify rasa (tracker and lock stores) to cockroachdb and am very pleased with the preliminary results. But rasa-x is still on postgresql and receives data via rabbitmq (hopefully see an alternative to nats/stan).

[2020-12-29 21:49] shubhvachher commented on #7644
My mistake ! `rasa run actions -h` works just fine!

[2020-12-29 21:49] #7644 closed

[2020-12-29 21:53] b-quachtran opened #7649 "Add SSL cert options for Telegram channel"
**Description of Problem**:

Add SSL cert options for Telegram channel so that requests can be signed.

**Overview of the Solution**:

`setWebhook` function calls in [telegram.py](https://github.com/RasaHQ/rasa/blob/master/rasa/core/channels/telegram.py#L266) will need to be updated to pass in a certificate (documented [here](https://python-telegram-bot.readthedocs.io/en/stable/telegram.bot.html#t

[2020-12-29 21:54] b-quachtran commented on #7637
Hi @vulcantheterrible, thanks for bringing this up! The Telegram channel connector doesn't have certificate support at the moment but I've created a feature enhancement request for this in the meantime: https://github.com/RasaHQ/rasa/issues/7649.

[2020-12-29 21:54] #7637 closed

[2020-12-30 00:59] github-actions[bot] opened #7650 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-12-30 01:11] syw2014 commented on #7633
Have the same error,
Rasa Version     : 2.2.2
Rasa SDK Version : 2.2.0
Rasa X Version   : None
Python Version   : 3.6.5
Operating System : Linux-5.8.0-34-generic-x86_64-with-debian-bullseye-sid
Tensorflow-GPU:2.4.0
---------
Why I install tf2.4 because tf2.3 can not run with cuda on my 3060ti, so i have to install the latest version

[2020-12-30 01:51] LEAGUEDORA commented on #7643
@sara-tagger  why is no one responding to this issue

[2020-12-30 09:44] amn41 commented on #7641
hi @shubham3582  - you can already do this in Rasa X, btw. Go to the ['Talk to your bot' screen](https://rasa.com/docs/rasa-x/user-guide/share-assistant#talk-to-your-bot) and use the pencil icon to switch between chatting and interactive learning.

I think this is much easier in a UI, hence why Rasa X is probably the better place for this.

[2020-12-30 09:51] metal3d commented on #7464
Python 3.8, always the same problem:
[code]

[2020-12-30 10:45] #7534 closed

[2020-12-30 19:21] giladpn commented on #7592
I can confirm that the above problem does indeed continue to occur. I can also confirm that I am working in a virtual environment and that I reinstalled the entire venv from scratch to check this issue.

To sum it up there seems to be an issue with an **invalid handle** that occurs even if the `domain_path` issue is dealt with correctly.

Rasa Version     : 2.2.2
Rasa SDK Version : 2.2.0
Rasa X Ve

[2020-12-31 02:30] rahul-art opened #7652 "error install specific versions of rasa x"
![rasa_errror](https://user-images.githubusercontent.com/56379013/103391212-35f16480-4b3e-11eb-8b48-7700401393c1.png)

**Rasa version**:

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Co

[2020-12-31 03:08] rgstephens commented on #7645
The [docs](https://rasa.com/docs/rasa/chitchat-faqs/#5-defining-the-responses) show that these responses should be in `domain.yml`. As a [workaround discussed here](https://forum.rasa.com/t/retrieval-intents-throws-errors-in-rasa-data-validate/37186/8), if you move the FAQ responses to the `nlu.yml` it will work.

[2020-12-31 07:03] shprintuzt commented on #7251
The following code worked for me.
`intent_ranking = tracker.events[-1].parse_data.get(INTENT_RANKING_KEY, [])
`

[2020-12-31 09:16] boryslawskamaria commented on #7645
Hi, thanks for your reply. I have already tried and I keep getting the same error.

UserWarning: Action 'utter_chitchat' is listed as a response action in the domain file, but there is no matching response defined. Please check your domain.
  More info at https://rasa.com/docs/rasa/responses

[2020-12-31 13:06] rahul-art commented on #7652
pip install rasa-x==0.32.2 --extra-index-url https://pypi.rasa.com/simple
solved using this

[2020-12-31 13:07] #7652 closed

[2020-12-31 17:26] iszainab opened #7657 "training takes too long on Rasa 2.2.2"
Training a model on RASA 2.2.2 takes way too long, it takes (a little more than ) 20 minutes to only initialise the training. This is a huge downside, could someone please look into this.
It did not take this long on RASA 1.10 with the exact same training data.

[2020-12-31 17:40] iszainab opened #7658 "Rasa 2.2.2 core model predictions off"
**Rasa version**: 2.2.2

**Rasa SDK version** (if used & relevant): 2.2.0

**Rasa X version** (if used & relevant): None

**Python version**: 3.6.9

**Operating system** (windows, osx, ...): Ubuntu 18.04

**Issue**:
1. Rasa core model predictions seem off. Everything was fine with RASA 1.10 however I migrated to RASA 2.2.2 following the docs and everything and I made sure not to change any hyper p

[2020-12-31 17:46] iszainab opened #7659 "Remove warning for missing training for nlu_fallback"
**Rasa version**: 2.2.2

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:
The following warning is redundant and should be removed for this particular intent.
"UserWarning: Intent 'nlu_fallback' has only 1 training examples! Minimum is 2, training may fail."

[2020-12-31 17:48] iszainab opened #7660 "Warning message for arbitrary slot set in custom action needs to be updated"
**Rasa version**: 2.2.2

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:
The following message needs to be updated according to the new story file format:
"..Remember: you need to set the slots manually in the stories by adding '- slot{"xxx": yyy}' after the action."

[2020-12-31 18:03] iszainab opened #7661 "Allow per policy training division instead of just core and nlu division"
**Description of Problem**:
Training is a cumbersome process especially when you just need to experiment with one of your current working large scale bots.

**Overview of the Solution**:
Say I changed the max history parameter for memoization policy, just let me retrain that policy while retaining the rest of the model as is.

**Definition of Done**:
<!-- What needs to be there to consider this fe

[2020-12-31 18:05] iszainab opened #7662 "Rasa train does not recognize change in nlu if only the lookup (lookup file) for one of the entities is updated even though retraining is required for the model to be able to extract new entities"
**Rasa version**: 2.2.2

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:
Rasa train does not recognize change in nlu if only the lookup (lookup file) for one of the entities is updated even though retraining is required for the model to be able to extract new entities

[2021-01-02 01:00] github-actions[bot] opened #7673 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.2|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2021-01-02 15:50] mj2selina commented on #7216
do you find solutions?I have a same problem.

[2021-01-03 14:11] #5980 closed

[2021-01-03 14:12] #5249 closed

[2021-01-03 14:12] #6673 closed

[2021-01-03 14:12] #6726 closed

[2021-01-03 14:12] #6686 closed

[2021-01-03 14:12] #6696 closed

[2021-01-03 14:12] #6774 closed

[2021-01-03 14:12] #6787 closed

[2021-01-03 14:12] #6786 closed

[2021-01-03 14:12] #6788 closed

[2021-01-03 14:12] #6228 closed

[2021-01-03 14:12] #6710 closed

[2021-01-03 14:12] #6609 closed

[2021-01-03 14:12] #6141 closed

[2021-01-03 14:12] #4781 closed

[2021-01-03 14:12] #6651 closed

[2021-01-03 14:12] #6665 closed

[2021-01-03 14:12] #6398 closed

[2021-01-03 14:12] #6681 closed

[2021-01-03 14:12] #6652 closed

[2021-01-03 14:48] mishra011 commented on #4988
I am having same issue. **Failed to send message to Rasa Chat webhook. Error: 401, message='Unauthorized', url=URL('http://rasa-production:5005/webhooks/rasa/webhook')**

[2021-01-03 14:55] mishra011 opened #7675 "Failed to send message to Rasa Chat webhook. Error: 401, message='Unauthorized', url=URL('http://rasa-production:5005/webhooks/rasa/webhook')"
**Rasa version**: 2.1.3

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant): 0.34.0

**Python version**: 3.7

**Operating system** (windows, osx, ...): linux

**Issue**: I deployed rasa x using docker, I followed all the step , but when i use custom image for rasa, rasa x interactive mode is not responing

**Error (including full traceback)**:

 rasa-production_1 |

[2021-01-03 20:51] diegodorgam commented on #7592
Tried to do the opposite, instead of removing the `domain_path` kwarg from the x.py L501, I added the kwarg in the file local.py L181, like this:
[code]
still rasa x can't start as a process. Not sure why:
[code]

[2021-01-04 05:18] sciguy14 opened #7676 "Training from wit.ai data causes exception in extractor.py"
**Rasa version**: 2.2.2

**Rasa SDK version** (if used & relevant): 2.2.0

**Rasa X version** (if used & relevant): None

**Python version**: 3.8.5

**Operating system** (windows, osx, ...): WSL (Linux-4.4.0-19041-Microsoft-x86_64-with-glibc2.29)

**Issue**:
Following the instructions to convert my wit.ai data to Rasa training data results in a Python exception. I followed these instructions: http

[2021-01-04 10:59] mprazz commented on #7618
I'm not sure I fully understand the logic of what we want to do here 🤔  Even if we isolate the longer tests in their own job, we still need to wait for them to complete in order to merge PRs. Or are we considering re-runs as time-consuming (same argument as we made for separating jobs in `rasa-x`)?

[2021-01-04 11:33] koernerfelicia commented on #7623
Hi @XiaoLiuAI, you're correct that this setup is limiting and not ideal for languages that aren't whitespace-tokenized: this is one of the reasons that the `HFTransformersNLP` component has been deprecated.
We recommend you use the `LanguageModelFeaturizer` component instead, it will behave the same way, and you can specify the desired Hugging Face model with the same syntax as the `HFTransformers

[2021-01-04 13:44] TyDunn commented on #7608
@degiz Can you help me understand why they are exposed as strings and not JSON types today?

[2021-01-04 15:51] b-quachtran commented on #7216
Hi @mj2selina, `action_summarize_information` is missing from your domain file under `actions:` so adding that will resolve the issue.

[2021-01-04 15:51] #7216 closed

[2021-01-04 15:53] b-quachtran commented on #7464
Rasa 1.10 is only compatible with Python <3.8, have you been able to try with 3.7?

[2021-01-04 16:30] rgstephens commented on #7645
I tested [this workaround](https://forum.rasa.com/t/retrieval-intents-throws-errors-in-rasa-data-validate/37186/9?u=stephens) and it also worked for me. You need to make sure all of the `utter_chitchat/` responses are no longer in your `domain.yml`.

[2021-01-04 17:50] kosniaz commented on #7043
This has troubled our team a lot too. In rasax 0.31, previously annotated sentences reappear after pushing to the git repo.

[2021-01-04 17:57] rgstephens commented on #7623
Closing this issue, if there are any follow-up questions, please post on the [forum](https://forum.rasa.com/).

[2021-01-04 17:57] #7623 closed

[2021-01-05 10:22] Ghostvv commented on #6486
also, we need to make sure, that it doesn't clash with https://github.com/RasaHQ/rasa/issues/7226

[2021-01-05 10:37] tczekajlo commented on #7618
The problem that I'm trying to address by the issue is "what to do with all tests that take time". One of the ideas is to run them separately as a scheduled workflow, but first, we'd have to identify all time-absorbing tests and be sure that we can run them separately.

It's also a raw idea, I'm open to other suggestions/ideas.

[2021-01-05 10:44] koernerfelicia opened #7677 "`rasa test` skips stories that `rasa test core` does not skip"
**Rasa version**: 2.2.0

**Python version**: 3.7.2

**Operating system** (windows, osx, ...): OSX

**Issue**: `rasa test` ignores stories which `rasa test core` does not ignore.

**Steps to reproduce** Run `rasa test` in `examples/e2ebot`. `0` stories are evaluated. Run `rasa test core` in `examples/e2ebot`. `4` stories are evaluated. Expected: `rasa test` evaluated `4` stories.

Same thing happen

[2021-01-05 12:15] tczekajlo commented on #7620
@koernerfelicia Do you know how much storage space takes files in the `~/.cache/huggingface/transformers/*`?

[2021-01-05 13:00] sara-tagger commented on #7675
Thanks for the issue, @rctatman will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-05 13:00] sara-tagger commented on #7676
Thanks for raising this issue, @degiz will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-01-05 13:34] koernerfelicia commented on #7620
Double-checking atm, but I'm afraid it's something like ~6G. If that's too large I can split up into tests with large models to be run locally and tests with smaller models to be run on CI. Do you have a rough limit for the size?

[2021-01-05 14:04] vkrntgtm commented on #400
Need to know, whether multiple agents or multiple projects running on single rasa server instance feature is enabled in rasa v2.1.2+ or v2.2.x?

[2021-01-05 14:58] dakshvar22 opened #7678 "Show git commit id of dataset branch in model regression tests"
**Description of Problem**:
Now that we have added the ability to run model regression tests from any custom branch of the training data repo, it would be really great if the results in the comment also show the exact git commit of the dataset branch from which configs and datasets were loaded. This will ensure complete reproducibility

**Overview of the Solution**:
Results in the comment displays

[2021-01-05 15:02] samsucik commented on #7628
Hey @Dobatymo, thanks for reporting this! I tried to reproduce the issue but I failed. I'll describe my setup and maybe you can point out some differences compared to yours 🙂

I used the newest version of Rasa (2.2.2 from `master`). I created 2 entities (`day` and `colour`), and a `daycolour` slot that can be filled from either of them. Additionally, this slot is validated within my form validatio

[2021-01-05 15:48] ftarlaci opened #7679 "Rasa X "share your bot" link generation fails when a description for the bot is provided."
**Rasa version**: 2.1.2

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant): 0.34

**Python version**: 3.8

**Operating system** (windows, osx, ...): Mac OS

**Issue**: I have deployed a bot on AWS using docker. It works properly when I use it myself. However, when I try to generate a link to share with testers on the Rasa X UI, the link generation nondeterministic

[2021-01-05 16:08] wochinge opened #7680 "Add integration tests for Postgres, Rabbit, Redis"
## Proposal

Rasa Open Source has multiple integrations with external services, such as databases or event brokers. While it's very hard to test against all of them (e.g. integration tests for all input channels), we should add least have integration tests for the most important ones (e.g. the ones which are used by Rasa X), namely:
* `SQLTrackerStore` with Postgres
* `RedisLockStore`
* `PikaEvent

[2021-01-05 16:23] samsucik commented on #7642
Hi @shubhvachher, thanks for the interesting points!
1. **Ask users if they wish to save each file**: I totally agree with you on this one, especially for the domain file. On the other hand, we need to ensure that users don't accidentally introduce inconsistencies into their data by not saving some important changes. From this point of view, I think we should leave it as "opt-out", but maybe Rasa

[2021-01-05 17:56] bamwani commented on #3259
@j-a-h-i-r Have you found a solution to this?/ @tabergma  Pls answer this query

[2021-01-05 18:05] j-a-h-i-r commented on #3259
@bamwani I didn't investigate much on this. I was evaluating RASA when I made the comment. Sadly, I went back to Dialogflow. It was difficult to completely switch to RASA from Dialogflow and our team decided not to look into it further

[2021-01-05 19:16] ArjaanBuijk commented on #7675
@mishra011 ,
These versions of Rasa X & Rasa are not compatible.

Please check out the  [compatibility matrix](https://rasa.com/docs/rasa-x/changelog/compatibility-matrix)

Right now, this is a good combination:
- Rasa x: 0.34.0
- Rasa: 2.1.3
- Rasa SDK: 2.1.2

[2021-01-05 19:19] mishra011 commented on #7675
@ArjaanBuijk pardon my typo, but I uses the same versions as you have mentioned. Then I got these errors.

[2021-01-06 03:25] Vishal422 commented on #5052
Downloading alabaster-0.7.12-py2.py3-none-any.whl (14 kB)
       ERROR: Could not find a version that satisfies the requirement anaconda-client==1.7.2 (from -r /tmp/build_d3d39a48_/requirements.txt (line 3)) (from versions: 1.1.1, 1.2.2)
       ERROR: No matching distribution found for anaconda-client==1.7.2 (from -r /tmp/build_d3d39a48_/requirements.txt (line 3))
 !     Push rejected, failed to c

[2021-01-06 03:56] stefanvantchev opened #7681 "Python: ImportError: cannot import name 'Interpreter' from 'rasa.nlu'"
**Rasa version**:
2.0.6

**Rasa SDK version** (if used & relevant):
2.0

**Rasa X version** (if used & relevant):
N/A

**Python version**:
3.8

**Operating system** (windows, osx, ...):
Debian

**Issue**:
Basic python file simply cannot be run on a brand new Rasa installation on a brand new server...

YET...

calling RASA RUN works

Here is the python code:
------------------------------------
fro

[2021-01-06 05:44] stefanvantchev commented on #7320
Same here... how come installing rasa from scratch on brand new machine doesn't work??

[2021-01-06 06:14] vkrntgtm commented on #3259
Have anyone found any way of handling multiple projects / models in single running rasa instance on port as this is great functionality required. It seems better management, and hardware resource requirements to run & serve.
Suggest the way to work around!

[2021-01-06 06:29] #7681 closed

[2021-01-06 07:00] sara-tagger commented on #7679
Thanks for the issue, @samsucik will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-06 07:22] Dobatymo commented on #7628
@samsucik Thank you so much for trying to replicate it. I think I found a bug in my setup, I was using `""` (empty string) instead of `None` for one of the entity values in a button which sets this entity. Using `None` (or rather `null` in the json) shows the expected behavior where the first valid value is used for the slot.

In case it was caused by another issue, I will open the issue again.

[2021-01-06 07:22] #7628 closed

[2021-01-06 07:53] sajjjadayobi opened #7682 "I need a Albert in LanguageModelFeature"
the Bert Model is very heavy for my project, I have to use Albert instead of Bert
have you any suggestions for me?
or how can I create a custom component for this?
           extend from LanguageModelFeature or HFTransfromers?

[2021-01-06 08:40] MiaLinlinLu commented on #297
How did you solve that? I installed mitie. With 'rasa train', I have a cannot find nlp_mitie error. I know that mitie is with a lower version rasa_nlu. How could I use mitie in high version rasa?

[2021-01-06 09:58] samsucik commented on #7628
Perfect, I'm glad to see this solved 🙂

[2021-01-06 10:50] TyDunn commented on #7320
@stefanvantchev Did you install it in a new virtual environment? Can you please create a new issue for your problem, where you detail the versions you are using, operating system, what error you are running into, etc?

[2021-01-06 11:34] ganeshviyer opened #7683 "The format for exporting "any" type slots (in JSON or list) through migration or interactive learning blocks any subsequent training"
**Rasa version**: 2.2.2

**Rasa SDK version** (if used & relevant): 2.2

**Rasa X version** (if used & relevant): not relevant here

**Python version**: 3.7.9

**Operating system** (windows, osx, ...): Mac OS Big Sur 11.1

**Issue**: If any of the slots of type "any" are in JSON or in list format, the format in YAML through which the slot values are exported through the automated migration (from 1

[2021-01-06 11:49] melindaloubser1 commented on #4988
@mishra011 what do your credentials look like?

[2021-01-06 13:00] sara-tagger commented on #7683
Thanks for raising this issue, @desmarchris will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-01-06 13:00] sara-tagger commented on #7682
Thanks for submitting this feature request 🚀 @m-vdb will get back to you about it soon! ✨

[2021-01-06 13:22] dakshvar22 commented on #7682
@sajjjadayobi Thanks for the request. What's the memory requirement that you are working with?
`LanguageModelFeaturizer` does support `DistilBert`. You can try that as well.
Otherwise the custom component should extend `LanguageModelFeaturizer`.

[2021-01-06 13:48] stefanvantchev commented on #7320
Everything is brand new using GCP VMs.

What I have learned about Rasa during the last 3 months of struggles is that I cannot rely on it executing the same way between my tests, so I decide to always use a new VM for each new test... so yes... new install, new everything.

[2021-01-06 13:48] tczekajlo commented on #7620
Thanks a lot for checking.

There are some issues with using the GH cache.

- Cache limits

It means that other caches couldn't be used (the size of files in `~/.cache/huggingface/transformers/` is too big anyway)

- The tests have to pass without cache. The GH cache is uploaded in a post-task when the job finished with success thus the tests have to pass even if there is no cache for them

[2021-01-06 13:52] samsucik opened #7685 "Improve handling of multiple entity extractors in config"
**Description of Problem**:
Currently, having multiple entity extractors in the NLU pipeline in the config file can lead to surprising behaviour: an entity being extracted multiple times, e.g. user message `I'll travel to Edinburgh` can appear in interactive learning as `I'll travel to [Edinburgh](city)[Edinburgh](city)` (see also #7533 for an example).

**Overview of the Solution**:
Using multipl

[2021-01-06 14:23] koernerfelicia commented on #7620
Thank you for looking into this! So if I am understanding correctly, cache won't work either way because of point two (so even reducing the total size of the files in `~/.cache/huggingface/transformers/` won't help).

In that case, how would you feel about the other option with a fixture that downloads the models before the tests happen? Is there a rough time limit you wouldn't want to exceed for

[2021-01-06 15:17] tranchitella opened #7686 "Edited message on telegram raises an exception"
**Rasa version**: 2.0.0

**Python version**: 3.8

**Operating system**: Ubuntu 20.04.1 LTS

**Issue**: If a user edits a message over Telegram, the Rasa server raises an exception and returns an error in response to the Telegram webhook. From that point, the chatbot stops to work.

Already reported here, but closed because of missing activity: [https://github.com/RasaHQ/rasa/issues/5654](https://g

[2021-01-06 15:19] tranchitella commented on #7686
PR: https://github.com/RasaHQ/rasa/pull/7687

[2021-01-06 15:24] sajjjadayobi commented on #7682
thanks @dakshvar22 I know that LanguageModelFeaturizer does support DistilBert,
my language is Persian(Farsi) and I have to use distilbert-base-multilingual-cased that its size is about 900 MB
I have an Albert model that trained in my language with about 80 MB of size, I want to use it

is this ok? for using in the pipeline instead of `LanguageModelFeaturizer`

[code]

[2021-01-06 15:30] tczekajlo commented on #7620
Yes, this time GH cache won't help.

Is there a way to download the models without using a fixture? e.g. execute some command?
The other question, do you know how much time the tests last themselves without including the time that is needed to download the models?

[2021-01-06 15:45] koernerfelicia commented on #7620
Yes, we should be able to do with some lines of python, or a shell script, or whatever really. If we download the files, name them the right thing (some sort of hash of the model name IIRC), move them to the expected place, we're good.

Once the models are downloaded the tests are well under the timeout. I ran that whole module for `lm_featurizer` just now (35 tests total), and it took 2m2s

[2021-01-06 16:51] Slyne opened #7689 "UnsupportedLanguageError: component 'LanguageModelTokenizer' does not support language 'zh'."
**Rasa version**: 2.2.2

**Rasa SDK version** (if used & relevant):
no
**Rasa X version** (if used & relevant):
no
**Python version**:
3.6.8
**Operating system** (windows, osx, ...):
ubuntu
**Issue**:
I'm trying to use the transformer based featurizer on Chinese.
It's ok to use jiebaTokenizer. However I think the pretrained language model uses a character based tokenizer so I want to use the langu

[2021-01-06 17:16] tczekajlo commented on #7620
If it's something easy to do I would prefer to have a separate script that we can use to download the models and execute the script before tests run.

Something like we do with MITIE:

e.g. https://github.com/RasaHQ/rasa/blob/957de844129011b9a346fb9d0154e1414dedba26/Makefile#L124

[2021-01-06 18:16] morganmattr commented on #7109
@martinbe1io if you add `--debug` as an argument in the docker-compose.yml file you can get more verbosity in the `rasa-worker` to expose what is happening. Run `docker logs containerId1234` after the training fails and you should see more logging with this argument flag added. I've had to do this a few times to troubleshoot training problems.

[2021-01-07 04:59] #7682 closed

[2021-01-07 07:00] sara-tagger commented on #7689
Thanks for raising this issue, @rctatman will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-01-07 07:00] sara-tagger commented on #7686
Thanks for raising this issue, @desmarchris will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-01-07 12:56] OmarFarag95 opened #7690 "Rasa 1.10.14 Memory Leakage"
**Rasa version**: 1.10.14

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.6.9

**Operating system** (windows, osx, ...): linux

**Issue**:

- I was training `CRF` model on about 120K sentences for entity recognition on `Rasa 1.3.5` and things were going just fine. However, upon upgrading to `Rasa 1.10.14`; I am always getting a **memory

[2021-01-07 13:00] sara-tagger commented on #7690
Thanks for the issue, @m-vdb will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-07 13:02] koernerfelicia commented on #7620
Okay! I'll write a script for that. Should I just create a PR with changes to the Makefile?

[2021-01-07 16:03] humcasma opened #7691 "Raise "conflicting rules/stories" error message before training the TEDPolicy model"
**Description of Problem**:
If there are conflicting rules and/or stories, an error message "InvalidRule: Contradicting rules or stories found" is raised. But this only happens after the core models, including the TEDPolicy model, are trained, which can take long.
I would suggest moving the check for invalid rules/stories before the TEDPolicy model is trained.

**Definition of done**:
- [ ] Change

[2021-01-07 16:09] tczekajlo commented on #7620
Yes, please create a new PR 😄  Thanks a lot 🙌🏻

[2021-01-07 16:58] mishra011 commented on #4988
@melindaloubser1  my credentials.yml looks like following?

rasa:
  url: ${RASA_X_HOST}/api

[2021-01-07 17:01] mishra011 commented on #7675
@ArjaanBuijk the things is when I use docker image of rasa2.1.3 it works but I ran it with my own image that is almost similar to rasa 2.1.3. For any version of rasa-x , if I try to run it with my custom rasa image there is some issue.

[2021-01-07 19:23] desmarchris opened #7694 "Add proxy support to Twilio connector"
**Description of Problem**: Twilio connector doesn't currently support a proxy option, request was raised in [our forum](https://forum.rasa.com/t/twilio-has-to-use-proxy-for-outgoing-request-rasa-whatsapp-integration/38733)

**Overview of the Solution**: Add proxy support to [Twilio connector](https://github.com/RasaHQ/rasa/blob/4830308fcc21ba3c82f296e510ba7544fb5166d4/rasa/core/channels/twilio.py

[2021-01-07 19:40] rgstephens commented on #7603
Renamed issue since this issue is not specific to retrieval intents. Duplicated this issue with story:

[code]

states:

[code]

state[USER]:

[code]

[2021-01-07 19:46] rgstephens opened #7695 "validate fails on e2e stories"
**Rasa version**: 2.2.3

**Rasa SDK version** (if used & relevant): 2.2.0

**Python version**: 3.8.5

**Operating system** (windows, osx, ...): osx

**Issue**:
`rasa data validate` fails on e2e story test with the following error:

**Error (including full traceback)**:
[code]

stories.yml:

[code]

[2021-01-07 20:19] martinbe1io commented on #7109
@morganmattr thanks for the feedback

one issue I solved on my own, when sending the training data with curl I have to use data-binary as parameter otherwise curl removes the line breaks in the json file which seems to be a problem when rasa converts the json to yaml.

[code]

result of the training here:
[code]

after further research I found this issue which looks pretty the same - so it looks l

[2021-01-08 02:57] ipeaking commented on #7689
I have the same question

[2021-01-08 04:44] Ooiyenchun opened #7696 "Cannot initiate model with GPU support, RASA 2.2.3, CUDA 10.1"
**Rasa version**: 2.2.3

**Rasa SDK version**: 2.2.0

**Python version**: 3.8.5

**Tensorflow version**: 2.3.0

**Operating system**: Windows Server 2019

**Issue**: Cannot initiate model with GPU support, RASA 2.2.3, CUDA 10.1

**Error (including full traceback)**:

 Traceback (most recent call last):
 File "c:\programdata\anaconda3\envs\newenv\lib\runpy.py", line 194, in _run_module_as_main
 ret

[2021-01-08 04:56] Ooiyenchun commented on #7696
Seems like downgrading to Tensorflow 2.2 will solve the "InvalidArgumentError: assertion failed: [0] [Op:Assert] name: EagerVariableNameReuse" error, but RASA require version between 2.4 and 2.3 so it will not work.
Related github post:
https://github.com/tensorflow/tensorflow/issues/38518

[2021-01-08 07:00] sara-tagger commented on #7691
Thanks for submitting this feature request 🚀 @amn41 will get back to you about it soon! ✨

[2021-01-08 07:00] sara-tagger commented on #7696
Thanks for the issue, @wochinge will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-08 07:18] KaitCrawford commented on #2971
Hi, has there been any movement on this or is there an updated workaround?
We're investigating using Rasa for a project that requires daily and monthly reminders so we really need them to be persistent.

[2021-01-08 09:22] dakshvar22 opened #7698 "Deeper investigation into DotProduct loss"
The `DotProduct` loss used by all the ML components can be summarized to be doing the following currently -

1. Obtain embedding for batch of input(message / tracker state) and labels(intent / response / action): `i` and `l`.
2. Randomly sample a set of negative embeddings for both input and labels - `neg_i`, and `neg_l`
3. Compute five terms - `sim_i_pos_l`, `sim_i_neg_l`, `sim_l_neg_i`, `sim_i_n

[2021-01-08 10:08] leixiaofeng-astar commented on #3046
I have the same issue, the cause seems the rasa.core confidence is very low, rasa.core policy changed the prediction(different from nlu intent).
Anyone has the solution for the issue?

My log is as below('action_listen' is not my expectation here)
rasa.core.processor  - Received user message 'what is glaucoma' with intent '{'id': 1460664494514502901, 'name': 'find_condition_definitions', 'confiden

[2021-01-08 15:37] wochinge commented on #5986
@Imod7 I'll re-open this as the Core part is still missing.

[2021-01-09 06:07] Ooiyenchun commented on #7696
w

Sure! no problem Ms. Sara

[2021-01-09 12:38] gunjanraval commented on #5066
The error is because the model is not able to find any responses for the intent, to solve in the domain.yml file add 'responses' something like this:

`responses:
  utter_greet:
  - text: Hey there! How may I help you
  - text: Hello there! How can I help you
  - text: Hi, How may I help you today`

Do the same for each utter intent you have

[2021-01-09 17:28] anushkaparadkar commented on #5066
@RaminParker Thanks! That worked for me

[2021-01-10 22:31] hobson opened #7705 "`rasa init` misinterprets project path if it contains aliases such as '~'"
Rasa Version : 2.2.2 Rasa SDK Version : 2.2.0 Rasa X Version : None Python Version : 3.8.5 Operating System : Linux-5.4.0-60-generic-x86_64-with-glibc2.10 Python Path : /home/hobs/anaconda3/envs/rasaenv/bin/python

**Issue**: User in POSIX environment cannot use `~` shortcut (home directory) to create a `rasa` project in their home directory.

**Error (including full traceback)**: There is no erro

[2021-01-11 07:00] sara-tagger commented on #7705
Thanks for raising this issue, @m-vdb will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-01-11 08:44] m-vdb commented on #7705
Hi @hobson, thanks a lot for your bug report. It looks like a valid bug, since [here](https://github.com/RasaHQ/rasa/blob/771cc4b4644f6b2f785c353304521ad69d68d8ae/rasa/cli/scaffold.py#L201-L220) we do not [expand](https://docs.python.org/3/library/pathlib.html#pathlib.Path.expanduser) the user home directory.

You mentioned that @billy-horn was fixing it in a fork. In case you have some capacity,

[2021-01-11 09:03] Ghostvv commented on #7580
should be done after https://github.com/RasaHQ/rasa/issues/7173

[2021-01-11 12:21] koernerfelicia commented on #7689
Hi @ipeaking and @Slyne ! The `LanguageModelTokenizer` component has been deprecated, in part because it failed to handle languages like Chinese that are not whitespace-tokenized. If you're training a model in Chinese, [`JiebaTokenizer`](https://rasa.com/docs/rasa/components#jiebatokenizer) might be a good bet. Feel free to head on over to the [forum ](https://forum.rasa.com/) if you have further

[2021-01-11 12:21] #7689 closed

[2021-01-11 14:55] m-vdb commented on #7624
👋🏻 hey @kearnsw thanks for your bug report. I see that you've created a branch on your fork a few weeks back. Do you still plan on opening a PR?

[2021-01-11 16:13] koernerfelicia opened #7707 "Add `split_entities_config` to `TEDPolicy` for e2e"
**Rasa version**:
2.2.2
**Python version**:
3.7.2
**Operating system** (windows, osx, ...):
OSX

**Issue**:

`TEDPolicy` needs a `split_entities_config` value, to mirror `CRFEntityExtractor` and `DIET`

When we call `convert_predictions_into_entities`, the value of split_entities_config is `None`, which is only a problem if we then call `EntityExtractor._check_is_single_entity`. I think this is so

[2021-01-11 17:08] kaustuk commented on #7680
@wochinge is this open for community? If yes can you give me some pointer on what exactly is being expected and what needs to be done. I would like to contribute if possible.

[2021-01-11 23:50] rgstephens opened #7708 "Support Default Slot Mappings"
**Description of Problem**: The slot mapping section for a form can get very long and it's not unusually for many forms to use the same slots with identical mapping rules. A single slot can require 10 or more lines of yml which need to be duplicated for several forms resulting in a lot of duplication.

<pre>forms:
 restaurant_form:
 cuisine:

*   type: from_intent
     entity: like_greek
*   type:

[2021-01-12 00:23] domsammut commented on #7708
This would be a great enhancement and consolidate business logic.

[2021-01-12 07:07] dakshvar22 commented on #7133
Related to IL and retrieval intents, the exported story should not contain the response key along with the retrieval intent. This [forum post](https://forum.rasa.com/t/interactive-learning-new-story-containing-retrieval-intents/38740) shows that it does so right now.

[2021-01-12 07:42] Ooiyenchun opened #7709 "rasa data validation error"
**Rasa version**: 2.2.4

**Python version**: 3.7.9

**Operating system** (windows, osx, ...): Windows Server 2019

**Issue**:
1. The file generated by "rasa init" contains error
"c:\programdata\anaconda3\envs\rasa\lib\site-packages\rasa\shared\utils\io.py:93: UserWarning: The example 'good afternoon' was found labeled with multiple different intents in the training data. Each annotated message sho

[2021-01-12 08:14] m-vdb commented on #7690
👋🏻 hey @OmarFarag95 thanks a lot for your bug report. Would it be a possibility for you to upgrade to:
- either 1.10.20, which is the latest micro we currently have on the 1.10.x branch
- or even better 2.2.4, which is backwards-compatible with 1.x
?

That would help us diagnose the issue and make it easier to come up with a fix (especially if you upgrade to 2.2.4). LMK if it's not on the table 😄

[2021-01-12 08:28] #7603 closed

[2021-01-12 08:36] wochinge commented on #7680
Hey @kaustuk , thanks for the initiative! I'll pull in @tczekajlo and @mprazz from our infrastructure team who'd usually implement / coordinate this within our team.

[2021-01-12 08:44] m-vdb commented on #7680
I have a use case that I want to test on Postgres: the `SQLTrackerStore` used with the [`login_db` parameter](https://github.com/RasaHQ/rasa/blob/c1b5df37b19380540706fe061a85277e9a3d9bc0/rasa/core/tracker_store.py#L837-L838). I'm happy to start the setup of Postgres integration tests. @mprazz @tczekajlo WDYT? I can come up with a short implementation proposal for this.

[2021-01-12 08:45] wochinge commented on #7680
@m-vdb We also have a call today related Rasa Open Source testing where we could also discuss this item (it's not only about test performance / fragility but also new tests)

[2021-01-12 09:50] samsucik commented on #7133
@dakshvar22 shouldn't it be that training stories don't contain response keys but test stories can (and should, if you wanna test response selectors)?

[2021-01-12 12:24] Ghostvv commented on #7556
we hope that RasaHQ/rasa#7438 will enable us to do that

[2021-01-12 12:25] Ghostvv commented on #7556
DIET also needs to be profiled

[2021-01-12 12:53] wochinge commented on #7680
@kaustuk Thanks again for your initiative, but we decided to do this ourselves as it's a large effort which requires setting up the CI and adding a lot of missing tests for these components. I highly appreciate your initiative - have you checked out the issue in the [contributor board](https://github.com/orgs/RasaHQ/projects/23)?

[2021-01-12 12:53] tczekajlo commented on #7680
Sure, go ahead with it. Thanks a lot 🙌🏻

[2021-01-12 13:00] sara-tagger commented on #7709
Thanks for the issue, @yennycheung will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-12 13:22] OmarFarag95 commented on #7690
Hi @m-vdb , Thank you for reply.

I have tried to upgrade to 2.2.4. However, the bug is still persisting.

[2021-01-12 13:23] tttthomasssss commented on #1872
Sb on Stackoverflow appears to have the same problem: https://stackoverflow.com/questions/65679912/im-trying-to-install-rasa-and-came-up-with-this-error-can-anyone-please-help-m

[2021-01-12 13:43] m-vdb commented on #7690
OK, (sadly) good to know. I'll circle back with the team and find out the best way forward. Sorry about the inconvenience 😓

[2021-01-12 13:48] OmarFarag95 commented on #7690
Never mind!

I will be looking forward to your response :smile_cat:

[2021-01-12 14:19] wochinge commented on #2971
Mhm, I'd suggest to use an external component which then calls the Rasa Open Source to inform the user as described [here](https://rasa.com/docs/rasa/reaching-out-to-user#external-events). Also closing this issue as I think the thing which I just described is the preferred way to do so.

[2021-01-12 14:19] #2971 closed

[2021-01-12 14:59] desmarchris opened #7710 "Form switching fails when requested_slot is the same in both forms"
https://rasa-hq.slack.com/archives/C7FCS16SD/p1608240711266000

**Rasa version**: 2.1.2

**Rasa SDK version** (if used & relevant): 2.1.2

**Python version**: 3.8.6

**Operating system** (windows, osx, ...): osx

**Issue**:
When switching between two forms, if the `requested_slot` is the same in the new and old form, the bot returns an empty response rather than switching to the new form

The issu

[2021-01-12 16:09] redunau commented on #7645
If I move all of the utter_chitchat/ responses from domain.yml to the nlu.yml will then Rasa recognize them during model training?
In all cases, I tried to do so and still keep receiving the same error message.

[2021-01-12 17:56] wochinge commented on #7109
@martinbe1io That's an issue in our API spec 🤦🏻

* only `application/x-yaml` is compatible with the new 2.0 format
* the JSON request only works with MD

While I think this originated in an issue of the API spec it would probably be even better if your way (JSON + YAML values) would also work in my opinion.

[2021-01-12 17:57] wochinge commented on #7350
@cr33dx How does your request look like? I think this might the same issue as here https://github.com/RasaHQ/rasa/issues/7109#issuecomment-758833041

[2021-01-12 18:03] anushka17agarwal commented on #35
Can we find these updates and how to use them in the documentation?

[2021-01-12 18:23] cr33dx commented on #7350
@wochinge this is the json data i POST to the api
[code]

[2021-01-12 18:59] wochinge commented on #7350
@cr33dx Thanks for sharing. Problem and solution / workaround is in the comment I posted above then. Sorry for the inconvenience caused by the wrong API spec!

[2021-01-12 20:57] desmarchris opened #7712 "Last utterance is filling slot in new form"
**Rasa version**: 2.1.2

**Rasa SDK version** (if used & relevant): 2.1.2

**Python version**: 3.8.6

**Operating system** (windows, osx, ...): osx

**Issue**:
I have a form that finishes by asking for a size of shoe, filled with a number entity extracted using Duckling. After I submit this form, I kick off another form that asks a survey. The survey asks for a 1-5 rating and for open text feedbac

[2021-01-13 03:20] adithyaan-creator opened #7713 "Faceing issues installing rasa due to package cryptography"
OS = windows
python3
pip == 19.2.3

Error : failed building wheel for cryptography

Any workarounds?

[2021-01-13 07:00] sara-tagger commented on #7713
Thanks for raising this issue, @TyDunn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-01-13 07:29] TyDunn commented on #7713
@adithyaan-creator I believe this was fixed with the release of [Rasa Open Source 2.2.5](https://github.com/RasaHQ/rasa/actions/runs/481246779) last night

[2021-01-13 07:41] melindaloubser1 opened #7715 "Make it possible to `OR` slot values"
**Description of Problem**:
Currently only one slot **value** can be given  per `slot_was_set` step or condition. It would be useful to be able to "OR" slot values, i.e. list multiple options that all qualify for that step, especially with many-valued categorical slots.

Currently the only way around is either to create "meta slots" which reflect a certain grouping of slot values, or to create ind

[2021-01-13 09:18] adithyaan-creator commented on #7713
@TyDunn I am still facing the same issue.
Could the OS be the issue? I am using windows.

[2021-01-13 09:40] tczekajlo opened #7718 "Documentation checks - retry if a link is not reachable"
One of the checks in the Publish Documentation workflow checks if links in the docs are still reachable, but sometimes it happens that one of the links didn't respond on time, in such a scenario the workflow will finish with failure.

Things to improve:
- increase the timeout for connection
- retry if a connection failed

[2021-01-13 10:46] Prostar12 commented on #6956
@askushwah hi, I had the same problem. How did you deal with it?

[2021-01-13 10:52] TyDunn commented on #7713
@adithyaan-creator Hmm. Can you provide the full error message? Are you installing in a brand new virtual environment?

[2021-01-13 11:24] Prostar12 opened #7719 "concurrent.futures._base.CancelledError"
**Rasa version**:1.7.4

**Rasa SDK version** (if used & relevant):1.7.0

**Rasa X version** (if used & relevant):

**Python version**:3.6

**Operating system** (windows, osx, ...):

**Issue**: I use it occasionally concurrent.futures . base.CancelledError Problem, it appears randomly. I use restchannel and custom action. I can't locate the cause of the problem.

**Error (including full traceback)*

[2021-01-13 11:44] adithyaan-creator commented on #7713
@TyDunn It works well now. Thanks for that.
But when doing rasa train, getting the following error.

AttributeError: module 'sip' has no attribute 'setapi'

[2021-01-13 11:46] TyDunn commented on #7713
@adithyaan-creator It looks like you need to install `matplotlib`. This should have already happened though 🤔

[2021-01-13 11:48] TyDunn commented on #7713
@adithyaan-creator Maybe it has [something to do with matplotlib](https://stackoverflow.com/questions/64291087/matplotlib-module-sip-has-no-attribute-setapi)? `rasa train` should just work after you install though 🤔

[2021-01-13 12:46] chandhana2910 commented on #7163
Any update on this? I am facing same issue

[2021-01-13 13:00] sara-tagger commented on #7719
Thanks for the issue, @koaning will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-13 13:55] koaning commented on #4212
I sort of wrote an idea for this while working on a [demo bot](https://github.com/RasaHQ/stroopbot). The goal of the custom action is to behave like a fallback. It show buttons representing intents that it is considering.

[code]

I wanted to test this, so I hashed this together.

[code]

This allowed me to write a test like;

[code]

It's nowhere near general, but it suits my purposes for now. Ju

[2021-01-13 14:43] stefanvantchev opened #7720 "Train finetune flag throws tensorflow error"
**Rasa version**:
2.2.3

**Rasa SDK version** (if used & relevant):
2.2.0

**Rasa X version** (if used & relevant):
none

**Python version**:
3.7.3

**Operating system** (windows, osx, ...):
Linux-4.19.0-13-cloud-amd64-x86_64-with-debian-10.7

**Issue**:
[code]
**Error (including full traceback)**:
[code]
**Command or request that led to error**:
`python3 -m rasa train nlu --out small/spacy2 --nlu

[2021-01-13 18:07] dakshvar22 opened #7721 "Interrupting the training procedure of an ML component with a keyboard shortcut"
**Description of Problem**: When training a Rasa pipeline on a large dataset, you don't know how many epochs you need to train the ML component for. However, as the training proceeds, monitoring training loss and training accuracy gives an indication of how "saturated" the training is. At that point, I would like to interrupt the training and just save the model checkpoint at the current stage of

[2021-01-13 19:32] gamersalpha commented on #5822
I can't install it on ubuntu 20.04 ?????
Tensorflow 2.2 is not supported ?

wHy  ???

[2021-01-13 20:03] TyDunn commented on #7043
@kosniaz Thank you for bringing this to my attention. I was able to reproduce this in `Rasa X 0.35`. We will get bug fix in for it

[2021-01-13 20:22] martinbe1io commented on #7109
@wochinge thanks a lot that clarifys a lot; only to ensure to get your right
- i create one yaml file
- containing sections for domain, config, stories
- sending it as one file with app/x-yaml to the train endpoint /model/train?save_to_default_model_directory=true&force_training=true&token=rasaToken"

right?

thxMartin

[2021-01-13 20:44] rgstephens commented on #7163
The 1.x version did not validate the domain file.

@akshay-gupta11 The issue with your domain is the `text: null`. Change that to `text: ""` and you should have no problem.

@chandhana2910 There is a syntax issue with your domain file. Could be similar to the above or [the user in this forum post](https://forum.rasa.com/t/yamlvalidationexception-while-migrating-domain-from-rasa-1-x-to-rasa-2-0-0/3

[2021-01-13 20:44] #7163 closed

[2021-01-13 20:51] rgstephens commented on #7645
@redunau Moving them to the nlu has been confirmed to work by multiple people. If your project is available in a git repo please post and I will take a look.

[2021-01-13 21:37] melindaloubser1 commented on #5822
The place to check dependencies is [here](https://github.com/RasaHQ/rasa/blob/c71c18c7b41694c5b0d1af3a9e71a8001be84371/pyproject.toml#L115) - for current latest (rasa==2.2.5), that means tensorflow >=2.3.0 < 1.4.0. (see https://python-poetry.org/docs/dependency-specification/) You may still be able to use rasa with other versions of tensorflow installed, but don't be surprised if you run into issu

[2021-01-13 21:40] melindaloubser1 commented on #5822
Keep in mind tensorflow has CPU and GPU versions, and if you have a GPU version, it needs to be compatible with your CUDA version, which is separate from  Rasa (see the last part of  [joselpart's comment above](https://github.com/RasaHQ/rasa/issues/5822#issuecomment-665902432).

[2021-01-14 02:16] Aspirinkb opened #7724 "support spaCy 2.3.0+"
**Description of Problem**:

The latest rasa(2.2.5) needs spacy < 2.3.0, but there only Chinese models after 2.3.0 in spacy.
**Overview of the Solution**:

Upgrading rasa to support spacy 2.3.0+, so that one can use spacy official Chinese language model.
**Examples** (if relevant):

spaCy official Chinese language model: https://spacy.io/models/zh
**Blockers** (if relevant):

Chinese language.
**D

[2021-01-14 07:00] sara-tagger commented on #7720
Thanks for raising this issue, @melindaloubser1 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-01-14 07:00] sara-tagger commented on #7724
Thanks for submitting this feature request 🚀 @tttthomasssss will get back to you about it soon! ✨

[2021-01-14 08:39] wochinge commented on #2808
`KerasPolicy` was removed in 2.0

[2021-01-14 08:39] #2808 closed

[2021-01-14 08:51] wochinge commented on #6028
I'd go with GitHub's default `main` + start with the SDK before moving on to Rasa Open Source. Ideally we'd get also a list of our important public repositories
* Helm chart
* repos for GitHub Actions
* our training data repos

[2021-01-14 10:51] Ghostvv commented on #7619
blocked until a new version is released with this fix: https://github.com/tensorflow/tensorflow/pull/45534/files#diff-39eadfc771b57ef11bff67b85cc38a47b9c13ec203b145e3feaf556a43bdccb1R4762

[2021-01-14 10:56] Ghostvv commented on #7619
pushed the necessary code updates to `tf-2.4` branch

[2021-01-14 12:09] koaning commented on #3710
@lomarceau and anybody looking at this issue. You have a clean syntax nowadays.

[code]

[2021-01-14 15:07] koernerfelicia opened #7727 "md to yaml conversion crashes if there's a `\t` character inside the sentence"
**Rasa version**:
2.2.4
**Python version**:
3.7.2
**Operating system** (windows, osx, ...):
OSX

**Issue**:
md to yaml conversion crashes if there's a `\t` character inside the sentence like so:

this will`\t`crash

Trailing or leading `\t` characters seem fine.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2021-01-14 15:53] mjaycub commented on #7597
Firstly, this also **appears to affect the rules view also** so I've updated the issue.

@federicotdn I've been looking into this and I think this may be because the backend is not returning the correct `total` value, however, I'm not sure when this changed. I noticed the `total` value returned for a call to the `/stories` or `/rules` endpoints only return the total fetched (so with a `limit` of 2

[2021-01-14 16:20] rgstephens opened #7728 "rasa init should create domain.yml in data directory and rasa command should automatically search root and data"
**Description of Problem**: With the support for the ability to split the domain file into separate files and put it in the data directory, this can cause confusion about where to look for domain specifications. It requires use of the `--domain` option if the data directory is used.

**Overview of the Solution**:

*   `rasa init` should create the `domain.yml` in the `data` directory
*   By defaul

[2021-01-14 16:37] DDA209 commented on #3534
The error comes from the use of `localhost` which is forbidden.

To launch your code locally, use your fixed IPv4 address.

For Windows users: open a command prompt (cmd) and run the `ipconfig` command, retrieve the @IP which is at` IPv4 address. . . . . . . . . . . . . .: `it is generally of type` 192.168.x.x`

[2021-01-14 16:55] m-vdb commented on #6028
I went ahead and submitted a [PR for `rasa-sdk`](https://github.com/RasaHQ/rasa-sdk/pull/391), with a plan for this particular repo in the description.

[2021-01-14 17:18] DDA209 commented on #3534
I just posted the solution

[2021-01-14 17:42] mprazz commented on #7618
According to the meeting we had this week, it seems the tests that take long are the ones that train models. Leaving this issue on hold for now while we figure out more details on the training times like we spoke about during the meeting.

[2021-01-15 05:02] rgstephens commented on #7420
![image](https://user-images.githubusercontent.com/846052/104683449-c8037c00-56ab-11eb-9e86-1ca3c9c2315a.png)

[2021-01-15 08:12] sfahad1414 opened #7729 "How to pass slots to Custom Action"
Story
* intent5
    - slot{"http_action_config": "get_intent5"}
    - http_action

I need to get the slot value from story to custom action based on value certain API will be invoked but when I try to access slot in custom i get None

[2021-01-15 09:14] chdorner opened #7731 "Support for writing back NLU intent/example metadata to YAML"
**Description of Problem**:
Rasa 2.0 introduced support for metadata on NLU intents and examples ([reference](https://github.com/RasaHQ/rasa/pull/5989)), but so far only the `RasaYAMLReader` supports parsing this, the `RasaYAMLWriter` is not able to write it back to YAML files.

This came out of https://github.com/RasaHQ/rasa-x/issues/4180.

**Overview of the Solution**:
Support for intent and exa

[2021-01-15 09:53] dakshvar22 commented on #7720
Hi @stefanvantchev, I am unable to reproduce the error. I think there might be some problem with the data. To help diagnose it could you tell me a bit more about your setup -
1. How many intents did you have when training the base model?
2. Did you add/remove any intents after training the base model and before running the finetuning command?
3. Did you change the configuration after training the

[2021-01-15 10:11] koernerfelicia opened #7732 "Rasa test should error out early if no test stories are found"
**Description of Problem**: When no stories are found, `rasa test` prints logs and writes to `failed_test_stories` anyways. This is confusing to the user, and looks like the testing gets "stuck" at entity evaluation.

**Overview of the Solution**: When no stories are found, `rasa test` should finish early, rather than printing confusing (and empty) logs.

**Examples** (if relevant):

 2021-01-15 1

[2021-01-15 10:12] koernerfelicia commented on #7732
https://forum.rasa.com/t/tests-not-finishing/38977

[2021-01-15 11:09] m-vdb commented on #6028
@wochinge what about doing the change on Rasa X before doing it on Rasa Open Source?

[2021-01-15 11:38] ghost opened #7733 "Rasa Actions Quick Restart Bug"
**Rasa version**: Rasa Version : 2.2.2

**Rasa SDK version** (if used & relevant): Rasa SDK Version : 2.2.0

**Rasa X version** (if used & relevant): Rasa X Version : None

**Python version**: Python Version : 3.7.3 Python Path : /home/admin/.venv/bin/python3.7

**Operating system** (windows, osx, ...): Operating System : Linux-4.19.0-13-cloud-amd64-x86_64-with-debian-10.7

**Issue**:

If Rasa act

[2021-01-15 13:00] sara-tagger commented on #7733
Thanks for raising this issue, @rctatman will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-01-15 13:10] wochinge opened #7734 "Add full integration tests to CI"
**Description of Problem**: We currently don't have full end-to-end tests for Rasa Open Source which tests the whole setup of

*   receiving a message
*   respond to the message
*   integration with action server
*   forwarding messages via the `EventBroker`
*   storing any conversation events in the `TrackerStore`

**Overview of the Solution**: The integration tests should ideally be as close as

[2021-01-15 13:12] adai183 opened #7735 "Wrong default config comments"
https://github.com/RasaHQ/rasa/blob/395f768d91d3fc8a63f68fb4e4c3dd159b0904d6/rasa/cli/initial_project/config.yml#L13

Shouldn't there be a `ConveRTFeaturizer` instead of a duplicated `CountVectorsFeaturizer`.
As far as I understood DIET uses both sparse and dense vector features.

[2021-01-15 13:15] wochinge opened #7736 "Add integration tests for third-party channels"
**Description of Problem**:
There are currently only few integration tests for the channels (e.g. for `REST`), but no integration tests for third party channels (e.g. `Telegram`, `Facebook`, `Slack`, etc.).

**Overview of the Solution**:
We have automated tests which test these integration.
We test that we can
* send a message to the third party
* Rasa Open Source receives this messages and proces

[2021-01-15 13:20] wochinge opened #7737 "Replace Markdown training data in tests with YAML training data"
**Description of Problem**:
Support for Markdown is gonna be removed in Rasa Open Source 3.0. A lot of our unit tests are currently relying on training data format in Markdown format.

**Definition of Done**:
- [ ] All Markdown training data files are replaced with their equivalents in YAML (except if they are needed to test the Markdown readers / writers)
- [ ] Unused Markdown files are deleted f

[2021-01-15 13:30] wochinge opened #7738 "Reduce warnings output in CI"
**Description of Problem**:
When running our CI builds there are currently a lot of warnings in the output in the CI. This makes it harder to detect errors / problems in the builds and also makes us blind to new warnings caused by our changes (broken window theory).

**Overview of the Solution**:
* I think there is a feature in `pytest` which will mark a test as failed if it emits an unhandled war

[2021-01-15 13:36] wochinge opened #7739 "Set up process for managing Sentry reports"
**Description of Problem**:
There is currently no scalable and structured process to monitor Rasa Open Source crashes which are reported through sentry. We need some process which automates as much as possible and makes sure that important things obtain visibility by an engineer as soon as possible.

**Overview of the Solution**:
TBD

**Definition of Done**:
- [ ] Process is set up and documented

[2021-01-15 13:52] joejuzl opened #7740 "Annotate model training in unit tests"
**Description of Problem**:
Currently our unit tests take a very long time to run. Part of the cause of this is superfluous or inefficient model training.

**Overview of the Solution**:
We would also like to annotate all tests that train a model.
Training can occur via many different paths. e.g. importing a certain fixture, or calling a training method. This will help us with future improvements a

[2021-01-15 13:56] joejuzl opened #7741 "Enforce annotating unit tests that train a model"
**Description of Problem**:
Following on from #7740 we would like to enforce that in the future tests that train a model are annotated using a pytest mark.

**Overview of the Solution**:
Determine if there is a way to enforce annotating unit tests that train. This might be a mix of looking at usage of fixtures and calling of certain methods.

**Definition of Done**:
Either:
- Implement the solutio

[2021-01-15 14:00] erohmensing commented on #7735
No, the default pipeline has two CountVectorsFeaturizers, one for word-level embeddings and one for character-level embeddings. The ConvertFeaturizer was originally in the pipeline, but became unavailable when the model was pulled by its hosts, so we moved to a more stable default config that does not depend on other pretrained models.

[2021-01-15 14:01] erohmensing commented on #7719
@Prostar12 does this happen when your custom action takes more than 60 seconds to respond?

[2021-01-15 14:08] adai183 commented on #7735
Thanks a lot for the super-fast response. Although I am having a hard time understanding a version of the DIET Architecture without pretrained embedding,

[2021-01-15 14:12] erohmensing commented on #7735
That unfortunately I can't help you with 😅 we keep github for bugs and enhancements, but I encourage you to ask your question on the forum and maybe tag Vincent to help you out!

[2021-01-15 14:12] #7735 closed

[2021-01-15 15:18] wochinge commented on #6028
what's the reasoning behind this? Fine for me as well - but the public repo has the higher risk of hurting others with the term than the Rasa X repo.

[2021-01-15 15:36] wochinge commented on #6028
@m-vdb This might be something which should also go in the community newsletter? (cc @EmmaWightman )

[2021-01-15 15:41] m-vdb commented on #6028
@wochinge I've already asked her on Slack :)

[2021-01-15 15:43] m-vdb commented on #6028
briefly:
- foresee eventual issues with Rasa Open Source
- Rasa X is one of our most active repositories
- go one step further: we're not only changing what's public, we're also changing internal repos, because it can impact our own team too

[2021-01-15 15:51] wochinge commented on #6028
I agree with 3) and see 2) as neutral. Re 1) I _think_ it makes sense. To be honest the only things I'm worried about is the publishing of the docs. Up to you where we continue 👍🏻

[2021-01-15 17:59] desmarchris commented on #7729
Hey @sfahad1414 thanks for the post! We typically reserve GitHub issues for bug reports and feature requests. Do you mind reposting in our forum? Here's the link: https://forum.rasa.com/

[2021-01-15 17:59] #7729 closed

[2021-01-15 18:34] stefanvantchev commented on #7720
I have 3 intents in both the training set, each with about 15-20.
No changes are made between training and finetuning command.
Running the test command works just fine.

I'd be happy to share the model.

I am sure it is some sort of prerequisite version mismatch - but what strikes me is that every other command and flag works.

[2021-01-15 19:39] dakshvar22 commented on #7720
Finetuning a model has certain [restrictions](https://rasa.com/docs/rasa/command-line-interface#incremental-training). Does your setup follow those restrictions? We do have checks which would detect if you aren't following those restrictions so I'd be curious to see what's happening. If you are okay to do so, you could send me the training data(a small reproducible set is also fine) and trained mo

[2021-01-16 18:39] wochinge commented on #6237
closed with https://github.com/RasaHQ/rasa/pull/6266

[2021-01-16 18:39] #6237 closed

[2021-01-16 19:49] stephanrb3 commented on #7327
I'm getting this same error with 2.2.5, it won't let me specify anything above 2.0 in my training data or it skips them

[2021-01-17 01:25] github-actions[bot] opened #7743 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.2|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2021-01-17 06:34] kaustuk commented on #7715
@melindaloubser1 is this issue open for community? I would like to contribute.

[2021-01-17 09:35] Mazyod opened #7744 "Tensorboard command fails in Docker"
**Rasa version**: Docker image, rasa/rasa:2.2.5-full

**Issue**:

Very similar to #5336, trying to run tensorboard command seems to fail due to missing packages.

[code]

[2021-01-17 10:32] melindaloubser1 commented on #7715
It's still under discussion, so I'm not sure (@TyDunn )

[2021-01-17 16:45] alwx opened #7745 "Profile all Rasa tests"
**Description of Problem**:
Some of the tests take a while to complete. It might be because of multiple reasons, and the first step would be to investigate what's going on and if there is a way to make tests run faster.

**Overview of the Solution**:
At this stage we want:
- Create report (test times per test)
- Depending on the results in this report split the work up to dig into report details

[2021-01-17 16:45] alwx opened #7746 "Set up integration tests and identify problems with integrations"
**Description of Problem**:
We currently don't have integration tests in Rasa, and that means some of the very important components of Rasa that are used by customers (like brokers or channels) are not covered by tests at all.

**Overview of the Solution**:
1. Talk to `Infrastructure` what their timeline is for setting up the job to run integration tests
2. Go through our issues & Sentry to identi

[2021-01-17 18:22] mrcartier commented on #6705
just for the bot. No reply since 9/30/20....

[2021-01-17 20:01] JessiBrix commented on #7629
I have the same problem on Ubuntu 18.04 with Rasa X 0.35.0 and Rasa 2.2.5, I used the quick-install script. I can't use my chatbot..

[2021-01-17 20:56] martinbe1io commented on #7109
finally (after 4 month) the rasa is up and running in my system (with version 2.0)

- i combined all the yaml files to one
- used the swagger generated java stubs
- and place the content of the yaml file in the field "domain" which is the only one parsed as yaml

[code]

@wochinge  thanks for your help, but please change the documentation and the error messages in the rasa nlu trainings (see above

[2021-01-18 01:32] Prostar12 commented on #7719
@erohmensing No, my custom action just searches value by giving key from Redis, and it won't takes more than 60 seconds.

[2021-01-18 07:00] sara-tagger commented on #7744
Thanks for the issue, @rctatman will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-18 10:15] Ghostvv commented on #7619
blocked by: https://github.com/tensorflow/tensorflow/issues/46511

[2021-01-18 12:52] tczekajlo commented on #7620
@koernerfelicia 👋🏻  I'll close the issue, please mention me in a PR with the script if it's ready 😄

[2021-01-18 12:52] #7620 closed

[2021-01-18 16:11] chdorner commented on #7731
# Open Questions

## Rendering intent metadata

We don't have a Python-object representation for the intent itself when parsing an NLU file, thus we put the metadata on the intent level in each example of that intent:

[code]

This opens up a question on how the `RasaYAMLWriter` should collect all the intent metadata from each example and render it in YAML.

We can:
a) trust that the training exam

[2021-01-18 19:07] degiz commented on #7420
I've checked, and found that:

- This line removed in the screenshot was causing a bug, and we’ve fixed it, so it shouldn't be there indeed
- Metadata is passed to the action_session_start [here](https://github.com/RasaHQ/rasa/blob/954e4734d479924df7211cd3bc5503285d54a66b/rasa/core/processor.py#L744)

So it's the `action` that will have a property `metadata`, that contains the metadata.
Check defa

[2021-01-18 19:08] degiz commented on #7420
Probably it makes sense to include the snippet from above to the mainline 🤔

[2021-01-19 08:59] m-vdb commented on #7731
As I followed the initial implementation by @degiz , let me share a few thoughts:
- **Rendering intent metadata**: since Rasa Open Source is responsible for loading + manipulating intent metadata + dumping, I think that a) is more sensible. I'd be a bit more defensive and include a warning in case the intent metadata is different on one or more examples (which maybe would be a bug in our code?). I

[2021-01-19 09:26] theresazobel commented on #7420
Thanks for debugging this. Where do you add the implementation of `get_metadata` / which file?

[2021-01-19 10:10] HotThoughts commented on #7718
I looked [publish documentation workflow](https://github.com/RasaHQ/rasa/blob/master/.github/workflows/documentation.yml). Not sure about which check is reaching links. Do you have an idea?

[2021-01-19 12:46] humcasma opened #7751 "Core re-asks for slot upon form interruption"
**Rasa version**: 2.2.5

**Rasa SDK version** (if used & relevant): 2.2.0

**Python version**: 3.6.9

**Operating system** (windows, osx, ...): Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic

**Issue**:
When a form is (temporarily) interrupted as part of handling an unhappy path, rasa core prints the `utter_ask_<form_name>_<slot_name>` message just before executing the actions specified to handle

[2021-01-19 13:00] sara-tagger commented on #7751
Thanks for the issue, @JustinaPetr will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-19 14:17] tczekajlo commented on #7718
Everything is in the Makefile, the `test-docs` section.

[2021-01-19 15:43] TyDunn commented on #7715
Hi @kaustuk. If you are interested in contributing this, could please sketch out a plan for how you would go about doing it?

[2021-01-19 16:40] m-vdb commented on #7680
@tczekajlo @mprazz @RasaHQ/enable-squad I wrote down a short implementation proposal in this issue description (yes I hijacked Tobias' issue). Can you give me some feedback on it? Anything I'm missing?

[2021-01-19 16:54] chdorner opened #7753 "RasaYAMLWriter renders multiline NLU examples incorrectly"
**Rasa version**: 2.2.5 (`master` at 5549b07d70a39819bf793017de3badd7ea903bc6)

**Rasa SDK version** (if used & relevant): –

**Rasa X version** (if used & relevant): –

**Python version**: 3.8.6

**Operating system** (windows, osx, ...): Mac OS 11

**Issue**:
YAML output of `RasaYAMLWriter` for multiline examples is not identical to the original YAML input.

**Error (including full traceback)**:

[2021-01-19 17:00] chdorner commented on #7731
Summary from a call w/ @degiz today:

* **Rendering intent metadata**: The `RasaYAMLWriter` can assume that all intent metadata from the examples belonging to the same intent are identical, thus it's fine just to take the first one.
* **Metadata** can be any data type that is supported by YAML including maps, lists, strings, numbers, etc.
* **Preserving the YAML structure for examples without meta

[2021-01-19 17:09] HotThoughts commented on #7718
The test-docs workflow from CI uses the command `remark --frail docs/*.mdx docs/*/*.mdx` (see [here](https://github.com/RasaHQ/rasa/blob/5549b07d70a39819bf793017de3badd7ea903bc6/docs/package.json#L24)) We can look at the [remark cli ](https://github.com/remarkjs/remark/tree/main/packages/remark-cli)for timeout or retry option. If remark does not have the option, we can certainly separate the test-

[2021-01-19 17:09] kaustuk commented on #7715
@TyDunn thanks for the reply. Sure I will come up with plan by this weekends.

[2021-01-19 17:40] TyDunn commented on #7715
@kaustuk Thanks! This will help us figure out if we feel this can be handled by the community 🚀

[2021-01-19 17:49] humcasma commented on #7751
The bug was introduced as part of the solution for this issue [#6977](https://github.com/rasahq/rasa/issues/6977)
Up to v2.0.8, the `validate()` method in _forms.py_ raised an `ActionExecutionRejection` exception if a slot extraction failed, and the form execution was immediately interrupted. As it is now, if the user manually interrupts the form, triggering an `ActionExecutionRejected` event, the

[2021-01-19 20:04] stefanvantchev commented on #7720
I decided to test it on a completely brand new VPS from GCP and clean installation of rasa.
I followed the steps in the Installing Rasa documentation.
I initialized the example setup from rasa.
I trained the model.
I then added one phrase to the first intent: I added the phrase "yo yo yo" to the first intent from your example
I trained the model again with the finetune flag turned on.
I received t

[2021-01-19 20:11] dakshvar22 commented on #7720
Can you post what version of tensorflow you have installed?

[2021-01-19 21:25] stefanvantchev commented on #7720
tensorflow              2.3.2
tensorflow-addons       0.12.0
tensorflow-estimator    2.3.0
tensorflow-hub          0.9.0
tensorflow-probability  0.11.1
tensorflow-text         2.3.0

Whatever the rasa install required - I did not run any additional installation commands.

[2021-01-19 22:06] NareshDen commented on #7420
`            if action.name() == ACTION_SESSION_START_NAME:
                action.metadata = metadata
`
If you do this, this metadata is only passed default action_session_start ( which is inside rasa OSS ), but we do custom implementation of action ( which is remote ) then this metadata is not available.  As call to remote action does not have that parameter and attribute you set on "action.meta

[2021-01-20 00:22] stephanrb3 commented on #7327
Is anyone working on fixing this? I was able to reproduce this issue on a fresh vm, and I cannot seem to find a workaround other than not using >2.0 and not using any of the features added in 2.1.

[2021-01-20 01:27] github-actions[bot] opened #7756 "Security Alert"
_(image scanned: `rasa/rasa:latest-scanned`)_

## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.2|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a

[2021-01-20 06:16] kaustuk commented on #7420
@degiz what ever you mentions doesn't work if we are overwriting `action_session_start` in actions server to set some custom slot value using metadata for example bot name, customer name, language, etc. So we can solve this issue by two approaches

**First approach**

**Producer part**:
[Here](https://github.com/RasaHQ/rasa/blob/5549b07d70a39819bf793017de3badd7ea903bc6/rasa/core/actions/action.py#

[2021-01-20 08:43] wochinge commented on #7680
Sounds good to me! 👍🏻

[2021-01-20 08:57] joejuzl commented on #7680
Some thoughts:
- It would be great if there was an easy way to run this locally e.g. with docker-compose.
- Should we think about naming (cc @mprazz) we will now have a lot of things called "integration tests"
- Does this have any overlap with our current oracle tests? Currently we run a subset of our unit tests with Oracle. It would be great if we could run all our tests with any supported databa

[2021-01-20 10:01] m-vdb commented on #7680
- sounds good; can we do that separately?
- I'll let Mariana weigh in
- Aren't Oracle tests for Rasa X?

[2021-01-20 10:33] joejuzl commented on #7680
Aha yes, my mistake - which means we only run the unit tests for sqlite! (arguably the most different dbs). As we support oracle and postgres too,  I think we should test with them.

[2021-01-20 10:45] m-vdb commented on #7680
Maybe this can be treated as the next iteration?

[2021-01-20 11:05] tczekajlo commented on #7680
I think we can use docker-compose to run a container with DB, it'll be possible to run it locally as well

[2021-01-20 11:05] mprazz commented on #7680
Thank you for the work so far everybody! 🔥
Some thoughts on my side:
- Re local runs : I'd definitely like to see these tests being ran locally as well, but I agree it can be done after the CI implementation
- Re naming : I'd usually name these `intergration tests` as they do test our integration, and as far as I know we don't really have integration tests on `rasa`'s side? Please do correct me if

[2021-01-20 11:51] samsucik opened #7760 "Improve merging of small community contributions into minor branches"
Our contributors can create small fixes that should go right into the next micro release. However, the contributor will often open a PR targeting the main branch (`main/master`), not a minor branch like `2.2.x`. What's more, the PR will want to merge changes from a fork of our repo. (See #7755 for a recent example.)

If we want to get that contribution quickly into the next micro release, there sh

[2021-01-20 12:52] dakshvar22 commented on #7720
Thanks! I was able to reproduce the error and it seems like the problem is when `entity_recognition` is set to `True` inside `DIETClassifier`. If it's set to `False` then it works.

On more investigation - It looks like the `sequence` features of `label` attribute have `indices` of type `float32` inside the batch which is unusual.

[2021-01-20 13:15] degiz commented on #7420
This will cause a session restart each time you attach metadata, so that's unlikely an option.

This sounds quite ok! I'm not sure if the `metadata` was implemented with custom actions in mind, but this approach (extending the `_action_call_format`) seems very reasonable. Feel free to open PR!

[2021-01-20 13:19] degiz commented on #7420
Hey @theresazobel

I meant `InputChannel::get_metadata()` (`channel.py`).
So in case of `rest` channel it's `RestInput::get_metadata()` (`rest.py`)

[2021-01-20 13:24] boryslawskamaria commented on #7645
Hi,
I've created a mini version of the bot with only one retrieval intent and moved said responses to the nlu file.
It looks as follow:

nly.yml:

version: "2.0"

nlu:

- intent: chitchat/ask_howold
  examples: |
    - whats your age
    - how old
    - what's your age
    - when were you born
    - what is your birthday
    - when is your birthday
    - how many years old are you
    - do you kno

[2021-01-20 13:39] kaustuk commented on #7420
Hi @degiz thanks for the reply.

What do you think about consumer part in first approach? Is it good enough? or should do something else?

will create PR to 2.2.x branch? is that fine?

[2021-01-20 14:19] stefanvantchev commented on #7720
Great, I am not losing my mind.

[2021-01-20 15:36] koernerfelicia opened #7762 "Suppress noisy tensorflow logs on linux and Windows"
**Rasa version**:
2.2.4
**Python version**:
3.7.2
**Operating system** (windows, osx, ...):
Windows, Linux

**Issue**:

It seems that the hack to suppress noisy tensorflow logs is no longer working for Windows or Linux. This confuses users unnecessarily.

**Error (including full traceback)**:
example:
[code]

**Definition of Done**:

- [ ] determine the cause of Tensorflow warnings when using `ras

[2021-01-20 15:38] koernerfelicia commented on #7732
Also, we shouldn't output `Entity evaluation results:` if no entities were found. Instead, maybe something like `No entities found in test files` and/or `Testing complete` would be clearer to the user.

[2021-01-20 15:52] koernerfelicia opened #7763 "`rasa test` should search for test files recursively in all sub-directories, not just under `tests/`"
**Rasa version**:
2.2.4
**Python version**:
3.7.2
**Operating system** (windows, osx, ...):
OSX

**Issue**:
`rasa test` looks recursively for files prefixed with `test_`, but only in subdirectories of `tests/`. It should look recursively in all subdirectories.
`rasa test core` seems to look for these files in any subdirectory.

**Command or request that led to error**:
[code]

[2021-01-20 15:53] koernerfelicia commented on #7763
@kalkbrennerei finally got around to making this. Could you add some comments if you have any? Thank you!

from our Slack discussion:
Lu:"I think rasa test and rasa test core are both using test.py::run_core_test internally but with different args"

[2021-01-20 16:06] #7119 closed

[2021-01-20 16:06] #7281 closed

[2021-01-20 16:06] #7282 closed

[2021-01-20 16:06] #7305 closed

[2021-01-20 16:06] #7333 closed

[2021-01-20 16:06] #7359 closed

[2021-01-20 16:06] #7405 closed

[2021-01-20 16:06] #7428 closed

[2021-01-20 16:06] #7461 closed

[2021-01-20 16:06] #7463 closed

[2021-01-20 16:06] #7604 closed

[2021-01-20 16:06] #7607 closed

[2021-01-20 16:06] #7626 closed

[2021-01-20 16:06] #7635 closed

[2021-01-20 16:06] #7636 closed

[2021-01-20 16:06] #7650 closed

[2021-01-20 16:06] #7673 closed

[2021-01-20 16:06] #7743 closed

[2021-01-21 08:20] RumRaisins opened #7765 "RasaX write a file with nothing encoding，but rasa read the file with utf-8 encoding , BOOM!"
**Rasa version**:
2.2.2
**Rasa SDK version** (if used & relevant):
2.2.0
**Rasa X version** (if used & relevant):
0.34.0
**Python version**:
 3.7.9
**Operating system** (windows, osx, ...):
Windows-10-10.0.18362-SP0
**Issue**:
The error occurred when using Chinese stories.
rasaX write a file with nothing encoding， but rasa read the file with utf-8 ，
source code of rasaX at rasax/community/services

[2021-01-21 09:47] degiz commented on #7420
cc @RasaHQ/enable-squad

[2021-01-21 09:50] joejuzl commented on #7740
Split into annotate, and report tickets.

[2021-01-21 09:53] georgebrianb opened #7766 "Rasa X, NLU is provided in markdown instead of yaml"
**Rasa version**: 2.2.5

**Rasa SDK version** (if used & relevant): 2.2.0

**Rasa X version** (if used & relevant): 0.35.0

**Python version**: 3.7.9

**Operating system** (windows, osx, ...): Linux-5.8.0-38-generic-x86_64-with-Ubuntu-20.04-focal

**Issue**:  The NLU that Rasa X generates is in nlu.md instead of nlu.yml

![image](https://user-images.githubusercontent.com/32679117/105334092-2914dd8

[2021-01-21 10:30] boryslawskamaria commented on #7076
Hi, I have the exact same problem, is there any way to resolve this?

[2021-01-21 13:00] sara-tagger commented on #7766
Thanks for the issue, @b-quachtran will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-21 13:00] sara-tagger commented on #7765
Thanks for the issue, @yennycheung will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-21 15:28] kalkbrennerei commented on #7763
thanks @koernerfelicia! I think I have nothing to add  😃
but maybe I can mention [this PR](https://github.com/RasaHQ/rasa/pull/7483) here. I think we decided to only accept test story files with `test_` prefix, so with the fix of your issue the linked PR will become irrelevant if I'm not mistaken

[2021-01-21 15:36] georgebrianb commented on #7766
Awesome, I wasn't using the feature, but if someone needs it, would be cool to get fixed, thanks for the help guys!
Have a great one!

[2021-01-21 16:46] wochinge commented on #7680
I think we can have a huge effect on product quality by at least testing the basic uses case. From my intuition Pareto applies and 80% of issues are care caused by 20% of the use cases.

[2021-01-21 17:14] ArjaanBuijk commented on #7207
Hi @colinsongf ,

Somehow a 'str' is passed instead of a 'dict'.

Can you turn on DEBUG mode, and re-post the log?

That might show where it is coming from.

[2021-01-21 17:56] ftarlaci commented on #400
I have the same question above by @vkrntgtm

[2021-01-21 22:15] b-quachtran opened #7772 "Pika Broker Causing Multiprocessing Error"
**Rasa version**:
1.10.18

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):
0.32.2

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:
Multiprocessing library is throwing an error with the Pika connector

**Error (including full traceback)**:
![image (3)](https://user-images.githubusercontent.com/65514514/105419028-e957f100-5bf2-11eb-8df4

[2021-01-22 00:51] kearnsw commented on #7624
@m-vdb , yes the pull request is #7625.

[2021-01-22 01:00] reprabhala commented on #7310
@Ghostvv can I pick this up?

[2021-01-22 02:07] LeaFish commented on #7629
I had the same problem. I've tried to switch over many versions, but there's still no change. Local mode works. In addition, I try to use the webhooks interface, but the conversation content still can't be saved, but the local mode can. We hope to announce the solution as soon as possible.RASA_X_VERSION=0.35.0，RASA_VERSION=2.2.4，RASA_SDK_VERSION=2.2.0

[2021-01-22 07:43] koernerfelicia commented on #7619
Once this is done should check this: https://github.com/RasaHQ/rasa/issues/7762

[2021-01-22 09:23] wochinge commented on #7696
@dakshvar22 Do you think we could safely open up the range of supported `TensorFlow` versions?
Maybe also updating to 2.4 could help as some users reported that this problem doesn't appear in nightlies 🙈

[This comment](https://github.com/tensorflow/tensorflow/issues/38518#issuecomment-619538236) seems interesting as well 🤔 Anything which comes to mind?

[2021-01-22 09:36] Ghostvv commented on #7619
most probably we have to wait till 2.5

[2021-01-22 10:37] Ghostvv commented on #6406
@alopez what is the status of this issue?

[2021-01-22 11:46] degiz commented on #7676
cc @RasaHQ/enable-squad

[2021-01-22 11:51] wochinge commented on #7738
this issue is only supposed to handle warnings emitted by `rasa` directly. Warnings by used third-party packages should be handled separately.

[2021-01-22 12:01] Ghostvv commented on #7310
@reprabhala thank you for the interest, but this issue requires updates to the tensorflow source code of the DIET classifier. I'd recommend you to pick another issue. We have a board where these issues are collected: https://github.com/orgs/RasaHQ/projects/23

[2021-01-22 12:09] wochinge commented on #7739
Let's do a quick solution first (no over engineering) and then iterate on it over the weeks.

[2021-01-22 12:19] reprabhala commented on #7310
Thank you @Ghostvv! Will look into it.

[2021-01-22 12:58] wochinge commented on #5088
This is causing issues as Rasa X `async` tests fail due to `pytest-asyncio`. We should consolidate that immediately as related issues come up in Slack regularly.

[2021-01-22 13:03] wochinge commented on #7676
@degiz Can you please add it our inbox in the future?

@sciguy14 Seems there is some issue with converting the entities correctly. Do you want to have a go solving it (I'd be happy to support you with the PR) or should we handle it?

[2021-01-22 16:46] b-quachtran commented on #7772
@alwx FYI, this appears to only be happening when SANIC_WORKERS is set to >1.

[2021-01-22 16:46] m-vdb commented on #7760
Thinking about it, since contributors open pull requests from their own repo to our repo, like you mentioned, we would need write access to their repo, and this seems unrealistic.

One solution I see is a `git rebase --onto 2.2.x main the-branch` when the changes are ready to be merged. We could have some sort of tooling to do it (a label or a command in a comment), but we'd need to create a new b

[2021-01-22 17:12] koernerfelicia commented on #7411
Hi @dakshvar22 what's the status on this? Is it blocked by anything?

[2021-01-22 17:14] koernerfelicia commented on #6909
@dakshvar22 have you looked into this? Should it be moved to in progress, or is it good where it is on the board?

[2021-01-22 18:24] taimoorkhokhar commented on #400
If anybody still stuck on getting this to work then I found a solution which seems to be working with multiple bots for a single server using a flask application.

https://medium.com/@b.pradeep.p/multi-agent-system-in-rasa-1c36c1a9c54

cheers!

[2021-01-22 18:27] dakshvar22 commented on #7411
This would be moved to enable squad's box once they start working on `IntentTED`

[2021-01-22 18:30] dakshvar22 commented on #6909
Haven't made progress on it. Wanted to start on it once we complete the transition to Keras API.

[2021-01-23 01:18] alexyuwen opened #7787 "Rasa X: Correcting actions triggers “action_session_start” in the middle of conversation"
Rasa X is incorrectly predicting `action_default_fallback`, and when I try to correct the action, `action_session_start` is automatically called.  It seems to start a new conversation which is inconsistent with my understanding of `action_session_start` that it should be called only at the beginning of conversations or following periods of inactivity.  I was able to successfully run `rasa data val

[2021-01-23 01:25] github-actions[bot] opened #7788 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.2|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2021-01-23 01:38] veigaribo opened #7789 "Support user messages from transports other than HTTP(S)"
First of all I'd like to say that this is my first kind of contribution to the project, so it's quite possible for me to have not understood something.

**Description of Problem**:

I would like for my Rasa bot to be able to receive user messages from AMQP, through a messaging system, and not from HTTP(S) with webhooks. But, currently, from what I've checked, that is basically impossible.

My sugg

[2021-01-23 01:59] reprabhala commented on #5845
@amn41, can I pick this up if it's still available?

[2021-01-23 10:42] amn41 commented on #5845
It is!

[2021-01-23 16:03] Ishan100 commented on #4858
Did anybody got the solution for this issue, I am also facing the same issue ?

[2021-01-24 01:26] github-actions[bot] opened #7791 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.2|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2021-01-24 20:50] lightmagic1 opened #7792 "Failing to start rasa-docs server"
**Rasa version**: Main

**Rasa SDK version** (if used & relevant): -

**Rasa X version** (if used & relevant): -

**Python version**: 3.8.3

**Operating system** (windows, osx, ...): Ubuntu 20.04

**Issue**:

I forked rasa repo (at main branch), cloned the project into my computer, cd to docs folder and run:

yarn
yarn start

It returned me the following exception:

**Error (including full traceba

[2021-01-25 02:24] vietinfo opened #7793 "Make Rasa support GPU Nvidia RTX 30 series"
Rasa version: 2.2.6
Rasa SDK version: 2.2.0
Rasa X version: 0.35.0
Python version: 3.8.5
Operating system: Ubuntu Server 20.04
CPU: AMD Ryzen 9 5900x
GPU: Nvidia RTX 3070 8GB
**Issue**:
Tensorflow in this GPU not support cuda 10.1( support cuda 11.0 ), but rasa only run in cuda 10.1. i'm try to install cuda 11.0 but no thing work

[2021-01-25 07:00] sara-tagger commented on #7793
Thanks for raising this issue, @rctatman will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-01-25 07:00] sara-tagger commented on #7792
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-25 07:00] sara-tagger commented on #7787
Thanks for the issue, @degiz will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-25 07:00] sara-tagger commented on #7789
Thanks for submitting this feature request 🚀 @samsucik will get back to you about it soon! ✨

[2021-01-25 08:48] WuMianRen opened #7794 "Please provide stories and NLU data in order to train a Rasa model using the '--data' argument."
**Rasa version**: 2.2.5

**Rasa SDK version** (if used & relevant):

**Python version**:3.8

**Operating system** (windows, osx, ...):win

**Issue**:
I use the official document rasa http model/train The above method has this error
Can't understand
The official document example did not update the content to v2.0
I try to use 2.0 yaml and this error occurs

**Error (including full traceback)**:
[co

[2021-01-25 08:59] samsucik commented on #7760
@m-vdb your solution sounds good to me. It's complicated but I don't see a better way around it if we want to have contributions appear quickly in releases. Just making sure, the commits would still be shown with the contributor as their author, right? (So we don't take credit away from our contributors.)

Having thought about this, I also think we could change our contributor guidelines to mentio

[2021-01-25 09:10] m-vdb commented on #7760
I think that's a requirement yes.

[2021-01-25 09:20] boryslawskamaria commented on #7645
hi, one more thing: I created a repo in which I set up a mini bot that exhibits the aforementioned problem. Feel free to download it and have a look https://github.com/boryslawskamaria/chatbots/tree/main/minibot

[2021-01-25 09:21] boryslawskamaria commented on #7076
hi, one more thing: I created a repo in which I set up a mini bot that exhibits the aforementioned problem. Feel free to download it and have a look https://github.com/boryslawskamaria/chatbots/tree/main/minibot_fallback_test

The error I keep getting is always github/chatbots/.env/lib/python3.6/site-packages/rasa/shared/utils/io.py:93: UserWarning: Intent 'nlu_fallback' has only 1 training exampl

[2021-01-25 09:52] #7707 closed

[2021-01-25 11:51] koernerfelicia commented on #7698
@dakshvar22 is this in progress? Are the TODOs dependent on each other? Are they both TODOs that can be picked up by other people or are these notes for you?

[2021-01-25 12:14] dakshvar22 commented on #7698
@koernerfelicia This is in progress and both me and @Ghostvv are working together on 1st and 3rd TODO. The 2nd TODO will follow once the 1st and 3rd are finished.

[2021-01-25 13:00] sara-tagger commented on #7794
Thanks for raising this issue, @akelad will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-01-25 13:01] m-vdb commented on #6028
@wochinge @tczekajlo do any of you wants to do the changes in the [RasaHQ/rasa-x-helm](https://github.com/RasaHQ/rasa-x-helm) repo ?

[2021-01-25 13:25] wochinge opened #7798 "Add `trivy` issues to project board"
**Description of Problem**:
Trivy automatically creates issues for security vulnerabilities (see [here](https://github.com/RasaHQ/rasa/issues?q=is%3Aopen+is%3Aissue+label%3Atool%3Atrivy)). These are currently not added to a squad board and hence tend to get lost.

**Definition of Done**:
- [ ] New trivy issues are automatically added to a project board
- [ ] Trivy doesn't create duplicate issues (

[2021-01-25 13:35] wochinge commented on #6028
yes, on it

[2021-01-25 15:05] koaning opened #7799 "Does Rasa Data Validate not check Rules.yml/Stories.yml?"
**Rasa version**:

[code]

**Issue**:

It seems that not everything is caught with `rasa data validate`. In particular, are we sure it is checking `rules.yml` files? I took a `rasa init` project and added this rule.

[code]

Running `rasa data validate` does not give an error if `"action_clear_name_slot"` and `"action_check_name_spelling"` are missing from `domain.yml`. But `rasa train` does!

[co

[2021-01-25 15:30] m-vdb commented on #6028
and same for GitHub action repos: do you want to take care of the renaming of the branch @wochinge?

[2021-01-25 15:50] samsucik commented on #7411
@dakshvar22 @alopez how about moving it over to Enable right now, as there's no good place to it in our research issues board?

[2021-01-25 15:54] wochinge commented on #7763
I'll close my PR as well. @kalkbrennerei Do you know any specific reasons for the decisions or where we could find that?

[2021-01-25 16:03] samsucik commented on #6647
@Ghostvv you might have more context on this one: This is basically a research enabler, right? Did we at any point discuss/consider trying different heuristics (which could be compared once this issue is done)? I'm trying to understand what the potential of this issue is, especially given that we're not currently focusing much on improving entities (beyond bringing them to TED).

[2021-01-25 16:07] samsucik commented on #3854
@Ghostvv  @alopez if we deprio this issue, is there some way for us to still keep in mind that we want to introduce entity ranking once our algorithm allows for it? (Given that currently our CRF doesn't really allow this.) We all certainly agree that entity ranking as such is a good thing and, if possible, should be introduced in the future.

[2021-01-25 16:21] samsucik commented on #7721
@joejuzl would you say this can be implemented easily? In case it isn't so straightforward cc @TyDunn because I'm curious to see what you think about this feature.

Also @dakshvar22 I think we could remove this from the research issues board if it's something likely to be owned by engineers, what do you think?

[2021-01-25 16:33] samsucik commented on #5350
@dakshvar22 sorry, I'm struggling to find the context for this one, could you perhaps briefly summarise? And what kind of users does this affect?

[2021-01-25 16:34] dakshvar22 commented on #7411
I don't mind moving it over to Enable right now as long as they know that we will be moving some issues to their board and they are not surprised :D

[2021-01-25 16:42] joejuzl commented on #7721
Are we not already saving the model checkpoint when iterating through the epochs?

If there is anything else we need to do it should not be too hard anyway. In python you can catch `KeyboardInterrupt` which is triggered when the user presses `ctrl-c`, and then run any code you like.
And if it needs to be a specific key press, I doubt it would be more complicated.

[2021-01-25 17:35] dakshvar22 commented on #7721
We are but not by default and the use case for that is slightly different. I would use that when I am trying to analyze the model performance across a range of epochs. Whereas, this could be useful when I am training for the first time on a new dataset or training for the first time after making a lot of changes to the dataset and hence do not know what's a good starting number of epochs. Arguably

[2021-01-25 17:42] dakshvar22 commented on #5350
@samsucik `tf_env.setup_tf_environment()` is used to initialize CPU/GPU related environment variables of TF. We currently call this inside `rasa/__main_.py`. Hence, it works well when rasa open source is being invoked as a framework through the CLI or HTTP API. If a user tries to use it as a library where they try to write custom python code and pick bits and pieces of Rasa in their custom code, e

[2021-01-25 18:01] NareshDen commented on #7420
For first approach don't you have to change rasa sdk also?

[2021-01-25 18:32] kaustuk commented on #7420
@NareshDen Yeah correct we need to change it into Rasa SDK as well. The producer part of the approach would be part of rasa open source and consumer part is for Rasa SDK.

[2021-01-25 18:49] kaustuk commented on #7420
Hey @amn41 did you got chance to look into this? what do you think about the approach I mentioned above? Should I create both the PRs(for producer and consumer)?

**PS**: We need this feature to set some slots before conversation start. it would be helpful if you could look into this ASAP or point to someone who can help us out here.

[2021-01-25 19:47] Ghostvv commented on #3854
I don't think that needs to be an issue, but it'd be good to keep it somewhere

[2021-01-25 19:49] Ghostvv commented on #6647
this issue describes that current output of rasa test is "fake" in some sense, and hides the truth of what ML algorithms actually classify. I wouldn't call it enabler, rather things that should be done the correct way

[2021-01-26 03:18] WuMianRen commented on #7794
I try to debug the source code
step1:
this is error 1
[code]
Try to copy and paste the path below to access the picture, there is my comment
[https://image.blog.wumianren.cn/img/1611630514(1).jpg](url)

step2:
this is error 2
The path has been correct and came to the place of analysis
Try to copy and paste the path below to access the picture, there is my comment
[https://image.blog.wumianren.cn/i

[2021-01-26 03:26] WuMianRen commented on #7794
I tried to debug again and it was not a text parsing problem
It is a problem with the generated .md rasa 2.xx uses yaml but the .md is generated when the document is generated, causing the program to fail to parse correctly
I can only provide so much information for the time being
Hope to reply me soon

[2021-01-26 08:46] #7574 closed

[2021-01-26 09:05] joejuzl opened #7802 "Analyse model training in unit tests"
**Description of Problem:**
Currently our unit tests take a very long time to run. Part of the cause of this is superfluous or inefficient model training.

**Overview of the Solution:**
Building on #7740 we would like to  analyse all the training that occurs in unit tests to identify potential improvements.

Examples:
- Where we could use session level fixtures to avoid re-training.
- Where we cou

[2021-01-26 09:48] mprazz commented on #7760
Adding this to the Infra board so I can adjust the README asap 😊

[2021-01-26 09:57] wochinge commented on #7736
I propose a split in:
* Setting up CI job with job which
  - takes a `credentials.yml` and does the roundtrip
  - let's you specify how a message is sent / asserted that it's there
* Rasa Chat (partially covered and technically not third part, but I think it's worth having a full integration test)
* ~rest~ (covered by unit tests)
* ~Console~ (not really third party, but we should add tests neverth

[2021-01-26 10:05] wochinge opened #7804 "Setup integration tests for third-party channels"
**Description of Problem:** There are currently only few integration tests for the channels (e.g. for REST), but no integration tests for third party channels (e.g. Telegram, Facebook, Slack, etc.).

**Overview of the Solution:**

*   As we have to use APIs I could imagine that the tests are a bit flakey by nature. Hence, it might be a good idea to not run them as part of pull requests but e.g. on

[2021-01-26 10:08] wochinge opened #7805 "Add integration tests for Facebook Messenger"
**Description of Problem**: We should add integration tests for our `Facebook` channel which test the entire roundtrip of sending a message, processing it via Rasa Open Source and receiving the bot's response.

**Overview of the Solution**: TBD

**Blockers** This task is dependent on [https://github.com/RasaHQ/rasa/issues/7804](https://github.com/RasaHQ/rasa/issues/7804).

**Definition of Done**:

[2021-01-26 10:09] wochinge opened #7806 "Add integration tests for Slack Channel"
**Description of Problem**: We should add integration tests for our `Slack` channel which test the entire roundtrip of sending a message, processing it via Rasa Open Source and receiving the bot's response.

**Overview of the Solution**: TBD

**Blockers** This task is dependent on [https://github.com/RasaHQ/rasa/issues/7804](https://github.com/RasaHQ/rasa/issues/7804).

**Definition of Done**:

*

[2021-01-26 10:11] wochinge opened #7807 "Setup integration tests for Hangout Channel / Google Meet"
**Description of Problem**:
We should add integration tests for our `Hangout` channel which test the entire roundtrip of sending a message, processing it via Rasa Open Source and receiving the bot's response.

**Overview of the Solution**:
* Consider renaming the channel as the service is now called Google meet

**Blockers**
This task is dependent on https://github.com/RasaHQ/rasa/issues/7804.

**

[2021-01-26 10:12] wochinge opened #7808 "Add integration tests for Microsoft BotFramework Channel"
**Description of Problem**:
We should add integration tests for our `BotFramework` channel which test the entire roundtrip of sending a message, processing it via Rasa Open Source and receiving the bot's response.

**Overview of the Solution**:
TBD

**Blockers**
This task is dependent on https://github.com/RasaHQ/rasa/issues/7804.

**Definition of Done**:
- [ ] Tests are added

[2021-01-26 10:13] wochinge opened #7809 "Add integration tests for Mattermost Channel"
**Description of Problem**: We should add integration tests for our `Mattermost` channel which test the entire roundtrip of sending a message, processing it via Rasa Open Source and receiving the bot's response.

**Overview of the Solution**: TBD

**Blockers** This task is dependent on [https://github.com/RasaHQ/rasa/issues/7804](https://github.com/RasaHQ/rasa/issues/7804).

**Definition of Done**

[2021-01-26 10:14] wochinge opened #7810 "Add integration tests for RocketChat Channel"
**Description of Problem**:
We should add integration tests for the `RocketChat` channel which test the entire roundtrip of sending a message, processing it via Rasa Open Source and receiving the bot's response.

**Overview of the Solution**:
TBD

**Blockers**
This task is dependent on https://github.com/RasaHQ/rasa/issues/7804.

**Definition of Done**:
- [ ] Tests are added

[2021-01-26 10:15] wochinge opened #7811 "Add integration tests for Telegram Channel"
**Description of Problem**: We should add integration tests for the `Telegram` channel which test the entire roundtrip of sending a message, processing it via Rasa Open Source and receiving the bot's response.

**Overview of the Solution**: TBD

**Blockers** This task is dependent on [https://github.com/RasaHQ/rasa/issues/7804](https://github.com/RasaHQ/rasa/issues/7804).

**Definition of Done**:

[2021-01-26 10:16] wochinge opened #7812 "Add integration tests for Twilio Channel"
**Description of Problem**:
We should add integration tests for the `Twilio` channel which test the entire roundtrip of sending a message, processing it via Rasa Open Source and receiving the bot's response.

**Overview of the Solution**:
TBD

**Blockers**
This task is dependent on https://github.com/RasaHQ/rasa/issues/7804.

**Definition of Done**:
- [ ] Tests are added

[2021-01-26 10:19] wochinge opened #7813 "Add integration tests for Webex Channel"
**Description of Problem**: We should add integration tests for the `Webex` channel which test the entire roundtrip of sending a message, processing it via Rasa Open Source and receiving the bot's response.

**Overview of the Solution**: TBD

**Blockers** This task is dependent on [https://github.com/RasaHQ/rasa/issues/7804](https://github.com/RasaHQ/rasa/issues/7804).

**Definition of Done**:

*

[2021-01-26 10:20] wochinge opened #7814 "Add integration test for Rasa Chat Channel (Rasa X)"
**Description of Problem**: We should add integration tests for the `Rasa Chat` channel which test the entire roundtrip of sending a message, processing it via Rasa Open Source and receiving the bot's response.

**Overview of the Solution**: TBD

**Blockers**

*   This task is dependent on [https://github.com/RasaHQ/rasa/issues/7804](https://github.com/RasaHQ/rasa/issues/7804).
*   we need some Ra

[2021-01-26 10:24] wochinge opened #7815 "Add tests for `rasa shell`"
**Description of Problem**: We should add integration tests for the `console` channel (used by `rasa shell`) which test the entire roundtrip of sending a message, processing it via Rasa Open Source and receiving the bot's response.

**Overview of the Solution**: TBD

**Blockers**

*   This task is potentially dependent on [https://github.com/RasaHQ/rasa/issues/7804](https://github.com/RasaHQ/rasa/

[2021-01-26 10:24] wochinge commented on #7736
Closing this in favor of the split issues.

[2021-01-26 10:24] #7736 closed

[2021-01-26 10:25] wochinge commented on #7804
@RasaHQ/infrastructure I think this is a good task to collaborate on, what do you think? (cc @RasaHQ/enable-squad )

[2021-01-26 10:45] samsucik commented on #7411
I hope they won't be surprised; moving it now 🙂

[2021-01-26 11:21] samsucik commented on #7721
Alright, from what @joejuzl you're saying it sounds like this should be doable by a researcher (at least as a prototype), so I think it makes sense to only keep in the research board. Enable folks can be reached out to by the driving research person when actually needed.

[2021-01-26 11:38] samsucik commented on #5350
@TyDunn what's your take on this? Do we wanna support use cases like those described by Daksh? cc @koaning because when I hear "training an NLU model in a jupyter code" I think of you 🧇

[2021-01-26 12:19] jameshenderson12 opened #7818 "Automatically update to the latest trained model when running Rasa X"
**Description of Problem**:
I find that, particularly, when I make amendments to a chatbot through the CLI the latest trained model is not automatically selected when I subsequently run `rasa x`. Consequently, I need to manually go to the Models tab and select the latest model. I understand that it is important to be able to select different models to use, but it would be more efficient in terms o

[2021-01-26 12:59] #7376 closed

[2021-01-26 13:00] sara-tagger commented on #7818
Thanks for submitting this feature request 🚀 @rctatman will get back to you about it soon! ✨

[2021-01-26 13:44] samsucik commented on #7683
Just note that IL should be changed so as not to export slots of type `any` in stories. The migration scripts can be fixed in two ways: Either they preserve those slots in stories (but in a way that doesn't break training), or we go more intrusive and delete those slots while converting markdown to YAML (personally, I would avoid the 2nd option as I think users can have such slots in their stories

[2021-01-26 13:53] koaning commented on #7799
I also just confirmed that there is a similar situation when working with custom actions. You can have custom actions in your NLU file with them appearing in the `domain.yml` file. Running `rasa data validate` won't trigger an error but running `rasa train` will prompt one at the end of the training procedure.

[2021-01-26 14:01] iamtofr commented on #7109
can you provide an example yaml sting? i am expecting the same issue and i have no clue how the yaml must be look alike.

[2021-01-26 14:45] mprazz commented on #7804
Possibly correlated with [this issue](https://github.com/RasaHQ/rasa-x/issues/3547)? (could make sense to tackle both at the same time at the very least)

[2021-01-26 15:21] tczekajlo commented on #7804
@wochinge @mprazz anyone else :D  Cool, do we wanna have a document or a call where we can discuss what is needed and determine the first steps?

[2021-01-26 15:40] wochinge opened #7820 "Document tracker events and their schema"
**Description of Problem**:

Tracker events are one of the most essential parts of the Rasa Open Source API:

*   Tracker events are stored in `Tracker Stores`
*   Tracker events are returned by the Rasa Open Source HTTP API
*   Tracker events are part of the request payload which is sent to the action server and key part of the action server's response back to Rasa Open Source
*   Tracker events

[2021-01-26 16:09] wochinge commented on #6028
Helm is done - I'll do the actions as well

[2021-01-26 16:49] #7731 closed

[2021-01-26 18:02] wochinge commented on #6028
https://github.com/RasaHQ/rasa-action-server-gha is done
https://github.com/RasaHQ/rasa-train-test-gha was already renamed but still updating some vocabulary + some old errors in the CI workflows

[2021-01-26 20:15] HotThoughts commented on #7804
🙋🏻‍♀️

[2021-01-26 21:11] meghaggarwal commented on #5582
Same issue...

[2021-01-27 00:50] github-actions[bot] opened #7824 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.2|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2021-01-27 08:35] m-vdb opened #7826 "GitHub Actions: Deprecated short SHA"

[2021-01-27 08:36] m-vdb commented on #7826
@tczekajlo @HotThoughts I don't know if it's already on your radar, but I thought I'd create the ticket for you! I've added it to your squad's inbox

[2021-01-27 08:48] tczekajlo commented on #7826
@m-vdb it's already on our radar :D https://github.com/RasaHQ/rasa-x/issues/4333 :D

[2021-01-27 08:54] m-vdb commented on #7826
arf my bad, closing this one then 💯

[2021-01-27 08:54] #7826 closed

[2021-01-27 10:24] joejuzl opened #7827 "Create CI check to detect training memory leaks"
**Description of Problem**:
We recently identified a memory leak in the training of Rasa models.
This leak was on the main branch, but only detected when it got so bad due to a new [change](https://github.com/RasaHQ/rasa/pull/7438) that it was crashing CI test workers.
After much investigation the leak was narrowed to down to a bit of tensorflow code and [fixed](https://github.com/RasaHQ/rasa/pull

[2021-01-27 10:37] joejuzl commented on #7740
Should we annotate methods that call a `Policy`/`Component`'s `train` method directly? Or only tests that call `nlu.train` or `core.train`?

WDYT @wochinge ?

[2021-01-27 11:06] wochinge commented on #6028
@m-vdb How should we go about the other repos? I think [Sara](https://github.com/RasaHQ/rasa-demo) is probably the most important left + all our demo bots

[2021-01-27 11:34] m-vdb commented on #6028
@wochinge I think @erohmensing is already taking care of it (or will be soon). I think we can close this ticket now!

[2021-01-27 11:42] alwx opened #7828 "asyncio - Task exception was never retrieved when using `rasa shell`"
**Rasa version**: 2.x (tried to reproduce it with 2.2.7)

**Rasa SDK version** (if used & relevant): irrelevant

**Rasa X version** (if used & relevant): irrelevant

**Python version**: 3.6, 3.8

**Operating system** (windows, osx, ...): Ubuntu was used in this particular case. There are also reports that it's the same on Windows.

**Issue**: After training a model and running `rasa shell` some pe

[2021-01-27 12:15] akelad commented on #7794
Hi @WuMianRen , could you send the full command you used to train the model?

[2021-01-27 12:16] akelad commented on #7076
@boryslawskamaria you can ignore the warning, it's a warning that shouldn't come up. We will work on removing it at some point

[2021-01-27 13:44] joejuzl opened #7829 "Finetuning does not work when passing a model with the `--finetune` argument."
**Rasa version**: 2.2.7

**Issue**:
When we pass a model path using `--finetune` we parse it incorrectly and return `None`. This means it won't finetune anything.

**Command or request that led to error**:
[code]

The problem is we don't correct handle an `else` in `rasa/cli/train.py._model_for_finetuning`.

[2021-01-27 13:46] wochinge commented on #7739
I created a [proposal here](https://www.notion.so/rasa/Sentry-Workflow-ba5a8601395f4f0d8a0688a6112d3ea4). Will move it to the official Notion page once it's finalized.

[2021-01-27 13:50] #6028 closed

[2021-01-27 13:54] koaning commented on #7799
It also seems that `rasa data validate` is completely fine with the following contents in `domain.yml`.

[code]

Note that `last_nam` at the end there is misspelled. So a form can refer to a slot that does not exist.

[2021-01-27 14:10] #5986 closed

[2021-01-27 14:18] wochinge commented on #6334
We introduced [session configurations](https://rasa.com/docs/rasa/2.0.x/domain#session-configuration) a while ago which solve this problem. While the `InmemoryTrackerStore` still retrieves the entire history, you can use external tracker stores such as the `SQLTrackerStore` or `MongoDbStore` which only retrieve the history from the latest session.

[2021-01-27 14:18] #6334 closed

[2021-01-27 14:24] wochinge commented on #7598
Please ask questions in the [forum](https://forum.rasa.com). It seems as you didn't provide a valid configuration for the NLU pipeline.

[2021-01-27 14:24] #7598 closed

[2021-01-27 14:28] wochinge commented on #7414
@ArjaanBuijk Can you please have a look?

[2021-01-27 14:33] TyDunn commented on #6371
@dakshvar22 @ClaudioVictorSpinelli We are closing this because of the lack of response

[2021-01-27 14:33] #6371 closed

[2021-01-27 14:33] wochinge commented on #7063
@kalkbrennerei What's the state of this issue? can it be closed?

[2021-01-27 14:34] joejuzl commented on #7762
Relates to: https://github.com/RasaHQ/rasa/issues/7738

[2021-01-27 14:35] ArjaanBuijk commented on #7414
@konandavy ,
What is the command you use to update your password, and does it seem to finish correctly?

Can you turn on debug mode, and check the logs of the Rasa X container?

[2021-01-27 14:36] TyDunn commented on #6155
@rgstephens We are closing this because it is fixed in the latest version of the Rasa Open Source docs

[2021-01-27 14:36] #6155 closed

[2021-01-27 14:38] TyDunn commented on #7403
@gaushh Please reopen this if you are still running into this issue in the latest version of Rasa X

[2021-01-27 14:38] #7403 closed

[2021-01-27 14:42] wochinge commented on #7794
related to https://github.com/RasaHQ/rasa/issues/7109 ?

[2021-01-27 15:02] alwx commented on #7015
Closing because the PR was merged. Thanks!

[2021-01-27 15:02] #7015 closed

[2021-01-27 15:03] wochinge commented on #7552
closing in favor of https://github.com/RasaHQ/rasa/issues/7569

[2021-01-27 15:03] #7552 closed

[2021-01-27 15:08] wochinge commented on #6450
Closing this as accessing arbitrary locations on the server file system would be security risk. Please consider opening a new issue for providing paths to training data / config to remote via query param or something similar.

[2021-01-27 15:08] #6450 closed

[2021-01-27 15:10] wochinge commented on #6926
fixed by https://github.com/RasaHQ/rasa/pull/7023

[2021-01-27 15:10] #6926 closed

[2021-01-27 15:13] wochinge commented on #7460
fixed in Rasa X 0.35

[2021-01-27 15:13] TyDunn commented on #5235
@mhmohona Let us know on the Rasa forum if you are still having trouble integrating Rasa with voice :)

[2021-01-27 15:13] #5235 closed

[2021-01-27 15:15] #5884 closed

[2021-01-27 15:18] wochinge commented on #7000
@degiz What's the state of this issue?

[2021-01-27 15:18] alwx commented on #6927
Closing it due to inactivity. Please, reopen if you're still facing this problem.

[2021-01-27 15:18] #6927 closed

[2021-01-27 15:20] alwx commented on #7350
Closing because we already have an issue for this: #7109

[2021-01-27 15:20] #7350 closed

[2021-01-27 15:20] wochinge commented on #7657
@iszainab Can you please add more details about used environment (CPUs, GPUs, RAM, etc.) and the amount of training data you're using + the used model configuration?

[2021-01-27 15:23] wochinge commented on #6153
Closing this due to inactivity

[2021-01-27 15:23] #6153 closed

[2021-01-27 15:25] TyDunn commented on #7069
@koaning @alwx and I discussed that this makes sense, so I think you can go ahead 👍

[2021-01-27 15:26] wochinge commented on #7744
@Mazyod Closing this as this is currently not supported out of the box by the Rasa CLI. Please consider opening up an enhancement request for out-of-the-box tensorboard support (cc @koaning ).

[2021-01-27 15:26] #7744 closed

[2021-01-27 15:27] wochinge commented on #3259
@TyDunn What's the current state of this?

[2021-01-27 15:28] alwx commented on #5689
Closing it because #3335 is merged already.

[2021-01-27 15:28] #5689 closed

[2021-01-27 15:29] wochinge commented on #3259
Closing the issue as project support was removed. @TyDunn Please consider opening a new enhancement request in case we want to add this back.

[2021-01-27 15:29] #3259 closed

[2021-01-27 15:30] alwx commented on #7046
Closing it because #7057 is merged already.

[2021-01-27 15:30] #7046 closed

[2021-01-27 15:33] Mazyod opened #7830 "out-of-the-box tensorboard support"
**Rasa version**: Docker image, rasa/rasa:2.2.5-full

**Feature request**:

Support tensorboard out of the box. Currently running tensorboard fails due to missing packages. See #5336\. See #7744

 docker run --rm -it --entrypoint "tensorboard" rasa/rasa:2.2.5-full
 2021-01-17 09:31:52.353959: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'libcudart.

[2021-01-27 15:38] joejuzl commented on #7531
Closing as this is not a bug.

[2021-01-27 15:38] #7531 closed

[2021-01-27 15:40] wochinge commented on #6487
@m-vdb I remember you did some changes for this - can this issue be closed?

[2021-01-27 15:41] Mazyod commented on #7744
Probably less trouble if the tags were simply changed, but sure :) unless I misunderstood something

[2021-01-27 15:41] wochinge commented on #5573
@akelad Can this be closed?

[2021-01-27 15:43] wochinge commented on #5838
If there are further questions please move the discussion to the [forum](https://forum.rasa.com)

[2021-01-27 15:43] #5838 closed

[2021-01-27 15:44] wochinge commented on #732
closing this after @dakshvar22 's comment

[2021-01-27 15:44] #732 closed

[2021-01-27 15:46] wochinge commented on #6814
closed by https://github.com/RasaHQ/rasa/pull/6889/files

[2021-01-27 15:46] #6814 closed

[2021-01-27 15:46] amn41 commented on #5573
Some version of this needs to exist in the backlog bc we should absolutely aim to get rid of all of those things.

[2021-01-27 15:47] wochinge commented on #5553
@Archish27 Are you still working on this?

[2021-01-27 15:48] wochinge commented on #7196
cc @TyDunn

[2021-01-27 15:48] joejuzl commented on #7691
@JEM-Mosig any idea whether this is possible? Or is it required to have a trained policy before checking for conflicts with rules?

[2021-01-27 15:49] joejuzl commented on #5359
I think we can close this as many of these checks have been added, and there are existing issues for further checks.

[2021-01-27 15:49] #5359 closed

[2021-01-27 15:50] wochinge commented on #6970
If this is still a problem, please re-open.

[2021-01-27 15:50] #6970 closed

[2021-01-27 15:53] #6861 closed

[2021-01-27 15:53] joejuzl commented on #5871
Closing as this is a question rather than an issue. Please post in the forum if you need any further help.

[2021-01-27 15:53] #5871 closed

[2021-01-27 15:56] wochinge commented on #7318
@Ghostvv Can this issue be closed?

[2021-01-27 16:32] m-vdb commented on #6028
Thank you @wochinge for driving this change! 🙌🏻

[2021-01-27 16:46] Ghostvv commented on #7318
I don't think so. In order to solve it, we need to implement @akelad's suggestion about any active_loop:

[2021-01-27 17:24] m-vdb commented on #6487
no I haven't done anything for this. If you search "compatibility" in all the python files, you'll see examples of code that is backwards compatible, but it's not clear if some of these should actually be deprecated. My reasoning is that we can only keep backward compatibility for so long, so we might as well tell users things are deprecated as soon as we can? What do you think?

[2021-01-27 17:26] m-vdb commented on #5573
@amn41 should it be somewhere other than Rasa Open Source backlog? (e.g. Product ice box)

[2021-01-27 17:35] amn41 commented on #5573
yes that sounds good

[2021-01-27 17:42] m-vdb commented on #5573
Done

[2021-01-27 17:42] #5573 closed

[2021-01-28 04:24] kearnsw opened #7832 "Unable to update config.yml in Rasa X"
**Rasa version**:
2.2.7-full

**Rasa SDK version** (if used & relevant):
2.2.0

**Rasa X version** (if used & relevant):
0.35.0

**Python version**:
3.8

**Operating system** (windows, osx, ...):
Amazon Linux

**Issue**:
I am not able to update the configuration file. Each time I attempt to do so, I receive a 422 error. In addition, syncing with Github also does not appear to modify the config fil

[2021-01-28 04:28] Archish27 commented on #5553
@wochinge Yes working on it. Previously added examples in the older format. Currently adding with YAML format will be rolling out PR soon. You can assign this task

[2021-01-28 07:00] sara-tagger commented on #7832
Thanks for the issue, @samsucik will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2021-01-28 07:00] sara-tagger commented on #7830
Thanks for submitting this feature request 🚀 @rgstephens will get back to you about it soon! ✨

[2021-01-28 08:44] wochinge commented on #5553
Awesome - let me know if you need help 👍🏻

[2021-01-28 10:34] koernerfelicia commented on #5580
Hi @tomgun132, this issue was actually corrected in version 2.2.0 by [this PR](https://github.com/RasaHQ/rasa/pull/7422).

[2021-01-28 10:34] #5580 closed

[2021-01-28 10:36] koernerfelicia commented on #4069
Hi, this issue was actually corrected in version 2.2.0 by [this PR](https://github.com/RasaHQ/rasa/pull/7422). You can now use the flag `use_word_boundaries` for `RegexFeaturizer` and `RegexEntityExtractor`.

[2021-01-28 10:36] #4069 closed

[2021-01-28 10:38] koernerfelicia commented on #7721
Related: https://github.com/RasaHQ/rasa/issues/6693

[2021-01-28 10:40] dakshvar22 opened #7834 "Notify team when scheduled model regression test fails"
**Description of Problem**:
Currently, when the scheduled model regression tests, any one of the configuration can silently fail on a dataset. Model training can fail because of various reasons like OOM, invalid configuration, etc. We need to manually go to the metabase dashboard and check if all configurations reported back a result for the last run.

**Overview of the Solution**:
It would be gre

[2021-01-28 10:40] koernerfelicia commented on #6693
Closing this as it's a duplicate of https://github.com/RasaHQ/rasa/issues/7721

[2021-01-28 10:45] joejuzl commented on #6693
#7721 is about manually stopping the training process, whereas this is about automatically determining that the process can be stopped. It seems like a different issue to me.

[2021-01-28 10:47] koernerfelicia commented on #6693
@joejuzl good catch, yes you're right

[2021-01-28 10:48] Polarisation commented on #7326
This is how it used to work in Rasa NLU v0.x. Now I'm upgrading to Rasa Open Source, I noticed this is missing.

Saving to disk isn't a good open when deploying a Docker container.

[2021-01-28 10:58] dakshvar22 opened #7835 "Extend model regression tests for action prediction policies"
Currently, the model regression tests can only run tests for the NLU components.
These should be extended to benchmark action prediction policies in Core as well.
We can use the datasets for Carbon bot, Sara, Financial demo as a starting point.
Note: This has to be done in collaboration with Infrastructure squad.
The current setup for model regression tests is described in this [notion document](h

[2021-01-28 12:05] wochinge commented on #7605
closed by https://github.com/RasaHQ/rasa/pull/7594/files

[2021-01-28 12:05] #7605 closed

[2021-01-28 12:06] TyDunn commented on #6544
@NavinAsokan Are you still working on this?

[2021-01-28 12:08] wochinge commented on #6932
depriotized

[2021-01-28 12:08] #6932 closed

[2021-01-28 12:08] TyDunn commented on #7695
@JEM-Mosig Are you working on this is?

[2021-01-28 12:09] TyDunn commented on #7454
Please reopen if this is still an issue

[2021-01-28 12:09] #7454 closed

[2021-01-28 12:10] wochinge commented on #7301
closed by https://github.com/RasaHQ/rasa/issues/7360

[2021-01-28 12:10] #7301 closed

[2021-01-28 12:14] wochinge commented on #7696
@dakshvar22 What do you think of my above comment?

[2021-01-28 12:15] TyDunn commented on #6836
@Ghostvv This is still assigned to Tanja. Is someone else picking this up now?

[2021-01-28 12:16] wochinge commented on #7166
@b-quachtran Could you please follow-up with the user?

[2021-01-28 12:18] TyDunn commented on #5658
@kiranbeethoju This does not seem to be a bug. If you are still having problems, please post on the [Rasa forum](http://forum.rasa.com/) 👍

[2021-01-28 12:18] #5658 closed

[2021-01-28 12:20] TyDunn commented on #4988
@melindaloubser1 @erohmensing were you able to reproduce?

[2021-01-28 12:20] Ghostvv commented on #6836
@TyDunn yes - me

[2021-01-28 12:21] #3468 closed

[2021-01-28 12:24] wochinge commented on #1114
Closing due to inactivity.

[2021-01-28 12:24] #1114 closed

[2021-01-28 12:28] wochinge commented on #7344
@joejuzl Were you able to validate it?

[2021-01-28 12:30] joejuzl commented on #7537
@LEAGUEDORA are you sure this is a bug? The warning is stating you must have stories that fill the slot.

[2021-01-28 12:30] #7537 closed

[2021-01-28 12:30] wochinge commented on #7464
closing as this is a won't fix and Ben answered it.

[2021-01-28 12:30] #7464 closed

[2021-01-28 12:38] alwx commented on #7409
Closing it because the PR was merged.

[2021-01-28 12:38] #7409 closed

[2021-01-28 12:40] TyDunn commented on #6090
@wochinge Can we close this after 2.0?

[2021-01-28 12:40] #632 closed

[2021-01-28 12:43] TyDunn commented on #7433
@Yattus Can you share some more details on what the problem is?

[2021-01-28 12:50] wochinge commented on #7492
I came back to you in the forum @jnoelvictorino

[2021-01-28 12:50] #7492 closed

[2021-01-28 12:51] wochinge commented on #6461
@Ghostvv Can this issue be closed?

[2021-01-28 12:51] alwx commented on #7437
Closing this one because there is a similar one: https://github.com/RasaHQ/rasa/issues/7828

[2021-01-28 12:51] #7437 closed

[2021-01-28 12:52] koernerfelicia commented on #7619
Related: https://github.com/RasaHQ/rasa/issues/7793

[2021-01-28 12:54] TyDunn commented on #4487
@shadow-blade-X Are you still working on this?

[2021-01-28 12:57] koernerfelicia commented on #7793
Hi @vietinfo, this is because TensorFlow 2.3 does not support CUDA 11. We are looking into updating our TensorFlow dependency to >2.3 (see the issue linked above).

[2021-01-28 12:57] #7793 closed

[2021-01-28 12:59] wochinge commented on #5800
@dakshvar22 This is fixed with Rasa Open Source 2.0

[2021-01-28 12:59] #5800 closed

[2021-01-28 12:59] alwx commented on #5814
Closing it because our forum is the better place for questions.

[2021-01-28 12:59] #5814 closed

[2021-01-28 13:00] koernerfelicia commented on #6625
@tmbo not sure if you got back to Tanja on another channel, could you clarify this for me as well, please?

[2021-01-28 13:01] alwx commented on #1750
Closing it due to inactivity.

[2021-01-28 13:01] #1750 closed

[2021-01-28 13:03] TyDunn commented on #4261
@rgstephens @tczekajlo Is this issue still relevant?

[2021-01-28 13:04] wochinge commented on #5316
Closing to issues with ConvertModel license

[2021-01-28 13:04] #5316 closed

[2021-01-28 13:05] wochinge commented on #7525
@samsucik Could you validate this problem?

[2021-01-28 13:06] TyDunn commented on #4691
Has this been re-validated?

[2021-01-28 13:07] wochinge commented on #7516
@TyDunn What do you think of this?

[2021-01-28 13:08] alwx commented on #4811
@kearnsw are you still working on this one?

[2021-01-28 13:08] #6921 closed

[2021-01-28 13:09] #6407 closed

[2021-01-28 13:11] alwx commented on #7592
@degiz can this one be closed?

[2021-01-28 13:15] alwx commented on #5303
@tmbo is it still relevant?

[2021-01-28 13:15] wochinge commented on #7633
Closing as TensorFlow 2.4 is currently not supported.

[2021-01-28 13:15] #7633 closed

[2021-01-28 13:18] wochinge commented on #7476
@metal3d Closing this for now. Please consider re-opening this if this is still an issue.

[2021-01-28 13:18] #7476 closed

[2021-01-28 13:20] #6678 closed

[2021-01-28 13:21] Ghostvv commented on #6461
I don't know. Partial dataset loading for large data is not implemented yet

[2021-01-28 13:23] wochinge commented on #1891
@amn41 Still relevant?

[2021-01-28 13:26] samsucik commented on #7525
@wochinge in all honesty I'm quite busy and want to close some existing issues & projects first... Do you think that someone else could have a look?

[2021-01-28 13:28] joejuzl commented on #6583
Closing as this doesn't seem to be a bug. If you are still having problems you can post in https://forum.rasa.com/

[2021-01-28 13:28] #6583 closed

[2021-01-28 13:29] wochinge commented on #7709
duplicate of #7603

[2021-01-28 13:29] #7709 closed

[2021-01-28 13:32] wochinge commented on #7441
What about the labels the readme @amn41 plus also the pypi page?

[2021-01-28 13:35] joejuzl commented on #4829
Closing as there doesn't seem to be any further action.

[2021-01-28 13:35] #4829 closed

[2021-01-28 13:35] wochinge commented on #6571
closed by https://github.com/RasaHQ/rasa/pull/6840

[2021-01-28 13:35] #6571 closed

[2021-01-28 13:38] wochinge commented on #3226
closed by #7408

[2021-01-28 13:38] #3226 closed

[2021-01-28 13:40] #5295 closed

[2021-01-28 13:42] koernerfelicia commented on #3854
Related: https://github.com/RasaHQ/rasa/issues/7299

[2021-01-28 13:45] wochinge commented on #4514
duplicate of https://github.com/RasaHQ/rasa/issues/5909

[2021-01-28 13:45] #4514 closed

[2021-01-28 13:46] joejuzl commented on #4445
Closing as this is in a minor release around 1.3.x.

[2021-01-28 13:46] #4445 closed

[2021-01-28 13:46] amn41 commented on #7441
works!

[2021-01-28 13:46] #7441 closed

[2021-01-28 13:46] joejuzl commented on #5192
Closing as per @amn41's comment.

[2021-01-28 13:46] #5192 closed

[2021-01-28 13:47] #7363 closed

[2021-01-28 13:48] joejuzl commented on #7609
Closing as this will not be part of Rasa OSS. See: https://github.com/RasaHQ/rasa/pull/7610#issuecomment-753999378

[2021-01-28 13:48] #7609 closed

[2021-01-28 13:49] joejuzl commented on #6988
Closing as whitespace_tokenizer dosen't support Chinese and a custom component is preferrable.

[2021-01-28 13:49] #6988 closed

[2021-01-28 13:50] wochinge commented on #6051
fixed by https://github.com/RasaHQ/rasa/pull/6052

[2021-01-28 13:50] #6051 closed

[2021-01-28 13:51] wochinge commented on #7720
fixed by https://github.com/RasaHQ/rasa/pull/7769

[2021-01-28 13:51] #7720 closed

[2021-01-28 13:51] joejuzl commented on #5668
@ortsaCniveK any update on this?

[2021-01-28 13:55] wochinge commented on #7009
closed because negligible

[2021-01-28 13:55] #7009 closed

[2021-01-28 13:56] #1580 closed

[2021-01-28 14:04] tczekajlo commented on #4261
@TyDunn AFAIK nothing's changed (nothing that resolves described issue) in the ansible/install.sh script since @rgstephens created this issue.

[2021-01-28 14:08] TyDunn commented on #7516
@wochinge This makes sense to me. I'm guessing there is a library out there that we could use for this?

[2021-01-28 14:39] tmbo commented on #5303
yes I'd say so. using pickle to store objects permanently isn't the suggested use case for multiple reasons (e.g. dependence on python version).

[2021-01-28 14:42] tmbo commented on #6625
I don't think Tanja and I talked about this. Not sure if @dakshvar22 already started working on the data pipeline

[2021-01-28 14:44] Ghostvv commented on #6625
@tmbo I think the question is what do you think about maintaining multiprocessing for `RegexFeaturizer`?

[2021-01-28 14:58] kearnsw commented on #4811
@alwx , I am not currently working on this issue. I think everything listed in this issue is now resolved, as I have a bot currently handling sessions with multiple slack users which appears to be the only remaining concern of this issue last time I checked. Did you run into any problem with the slack connector related to this issue? If not, I can go ahead and close it.

[2021-01-28 17:47] wochinge commented on #7420
As @rgstephens share in above image we can add back the deleted line.

I think we should do this (for now). That's the quickest solution and qualifies as a bug fix. Note that this leads to the issue that we have two `SessionStarted` events in the tracker (one before the `action_session_start` and one after) which I don't think is ideal.

It doesn't as this code only get's applied in `_update_track

[2021-01-28 17:50] kalkbrennerei commented on #7763
@wochinge I think for 2.0 we wanted to enable the users to structure their projects the way they want to, so without restricting them to have a/only one `tests` folder. And therefore the tests must have the `tests_` prefix. But it also doesn't seem ideal to me that this is causing friction to the users... This [Thread](https://rasa-hq.slack.com/archives/C7B08Q5FX/p1597403645425900) seems to have a

[2021-01-28 17:51] wochinge commented on #7420
@degiz Which bug are you referring to?

[2021-01-28 18:08] wochinge commented on #7420
Ok, @degiz is referring to this [PR](https://github.com/RasaHQ/rasa/pull/5767/files). I still don't see how this could actually happen, did we ever verify this issue?

[2021-01-28 18:09] kalkbrennerei commented on #7063
Ohhhh, I think the description is still up to date... But I also didn't work on it 😬 I just tried to run it again with rasa 2.2.7 and it's the same. It's not scale squad related so I will unassign...

[2021-01-28 18:19] wochinge commented on #7420
The only reason I can imagine which speaks against this solution is if you have an `action_session_start` implementation which is deciding dynamically if the session should be restarted.

[2021-01-28 18:22] kaustuk commented on #7420
@wochinge you can create PR and fix it

[2021-01-28 18:33] wochinge commented on #7420
@kaustuk The issue I'm having is that I don't know the motivation of the PR which removed this. Would it be okay to come up with a proper solution (avoiding duplicate `SessionStarted` events) until the next minor (planned for February 11). I can imagine something along the lines of your current solution or something like a new event.

[2021-01-28 20:01] kaustuk commented on #7420
@wochinge Just thinking out loud. In second approach, we can modify the if condition to `action.name() == ACTION_SESSION_START_NAME` then only add the `sessionStarted` event in tracker. And in `action_session_start` implementation remove this line. https://github.com/RasaHQ/rasa/blob/c6e32f6b0ab49eb24f2100d6da3348fc6a3db9a1/rasa/core/actions/action.py#L507

So by this only 1 `SessionStarted` event

[2021-01-29 01:28] onejae opened #7840 "action_session_start happens while filling form(happens only when mysql is used for tracker store)"
**Rasa version**: 2.2.7

**Rasa SDK version** (if used & relevant): 2.2.0

**Python version**: 3.6.9

**Operating system** (windows, osx, ...): wsl2 on windows10

**Issue**: action_session_start occurs while conversation is still going on. Even when I set session_expiration_time=0 in domain.yml it still happens.

This happens only with mysql as trakcer store. I tested postgres and inmemory , there

[2021-01-29 07:00] sara-tagger commented on #7840
Thanks for raising this issue, @joejuzl will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2021-01-29 08:20] wochinge commented on #7420
The first `SessionStarted` event unfortunately would have side effects. I was thinking about it a bit more and I think a nice solution would be to append a `SlotSet` event for an unfeaturized slot instead of using a second `SessionStarted`. We could e.g. use the convention that there is a slot `action_session_start_metadata`  which stores the metadata. We could either add this slots to the default

[2021-01-29 09:05] alexberman commented on #3854
Here's some input regarding the prioritization of this issue. Entity ranking (with confidence estimates) is needed for identifying genuine ambiguities relating to entities. In a domain that we are currently working with, an entity such as "Paris" can either refer to a city or a person name. Ideally, disambiguition in such cases should be done by the dialog manager, e.g. by using dialog context or

[2021-01-29 09:05] wochinge commented on #7766
@b-quachtran Can you please come back to @georgebrianb ?

[2021-01-29 09:06] TyDunn commented on #7643
Hi @LEAGUEDORA. Can you please try asking this on the [Rasa forum](http://forum.rasa.com/)? It would help if you could provide more of a description of your problem and maybe even an example when you do :)

[2021-01-29 09:06] #7643 closed

[2021-01-29 09:14] wochinge commented on #6133
closed by https://github.com/RasaHQ/rasa/pull/7026

[2021-01-29 09:14] #6133 closed

[2021-01-29 09:16] TyDunn commented on #7713
Closing this issue. Please reopen if you are still facing this problem

[2021-01-29 09:16] #7713 closed

[2021-01-29 09:19] wochinge commented on #1980
Closed in Rasa Open Source 2.2 with the introduction of [end-to-end](https://rasa.com/docs/rasa/stories#end-to-end-training)

[2021-01-29 09:19] #1980 closed

[2021-01-29 09:21] TyDunn commented on #6893
Closing this issue, since I believe it was fixed. Please reopen if this is still an issue

[2021-01-29 09:21] #6893 closed

[2021-01-29 09:25] TyDunn commented on #5588
@tmbo Is this still an issue?

[2021-01-29 09:26] wochinge commented on #5365
@dakshvar22 Could you please come back to this? Can it be closed as well?

[2021-01-29 09:28] TyDunn commented on #3326
This was a problem in markdown. Please reopen if it's still an issue with the yaml format

[2021-01-29 09:28] #3326 closed

[2021-01-29 09:28] wochinge commented on #7481
@koaning Could you please elaborate on Tanja's questions? Would be very helpful for addressing this.

[2021-01-29 09:30] #7228 closed

[2021-01-29 09:31] wochinge commented on #7101
Thanks @nbeuchat for helping out here 🙌🏻

[2021-01-29 09:31] #7101 closed

[2021-01-29 09:35] wochinge commented on #6178
This can now. be achieved with the `RulePolicy`

[2021-01-29 09:35] #6178 closed

[2021-01-29 09:39] #6131 closed

[2021-01-29 09:40] MatthewRaza commented on #5365
Hi @dakshvar22 indeed you can closed the subject and it work well with our
use case. Thank you for your help.

Regards.
Le ven. 29 janv. 2021 à 10:27, Tobias Wochinger <notifications@github.com>
a écrit :

Cordialement,

                       *RAZANAMPARANY Matthew*

[2021-01-29 09:42] tczekajlo commented on #7431
I'll close the issue. Due to the dependencies, the rasa-nlu doesn't work on Ubuntu 20.04.

@tmbo is it something that we wanna change?

[2021-01-29 09:46] wochinge commented on #6692
closed by https://github.com/RasaHQ/rasa/pull/7646

[2021-01-29 09:46] #6692 closed

[2021-01-29 09:46] wochinge commented on #7406
closed. by https://github.com/RasaHQ/rasa/pull/7407

[2021-01-29 09:46] #7406 closed

[2021-01-29 09:48] wochinge commented on #7221
@Ghostvv Do you have an idea?

[2021-01-29 09:49] Ghostvv commented on #3854
@alexberman `crf` (the loss that we use to tag entities) doesn't allow to calculate entity ranking, because second best sequence is not a well defined concept

[2021-01-29 09:51] jackabouaad opened #7841 "Chatapi (Whatsapp) Custom Connector"
**Description of Problem**:
According to their website, "Chat API is a multifunctional API for Whatsapp. It is the most stable tool for business and programmers today, which can be integrated into any customer accounting system, send messages, notify users, and much more. Today Chat API works with more than 3 000 companies and programmers around the world and handles more than one billion user req

[2021-01-29 09:54] tczekajlo commented on #6003
@joejuzl @TyDunn How is the issue related to the infrastructure? (that something contains Docker in the name doesn't mean that it's an infrastructure issue automatically :))

[2021-01-29 09:57] alwx commented on #5956
@saravananselvamohan are you still working on this?

[2021-01-29 09:58] wochinge commented on #5307
Fixed with 2.0 training data.

[2021-01-29 09:58] #5307 closed

[2021-01-29 09:58] alwx commented on #6684
Closing it because it is already be fixed. Feel free to reopen if you see it happening again.

[2021-01-29 09:58] #6684 closed

[2021-01-29 10:00] alwx commented on #7658
@Ghostvv could you please check this?

[2021-01-29 10:00] wochinge commented on #7640
@shubham3582 Any news on this?

[2021-01-29 10:02] wochinge commented on #6011
Can't you use the `/health` or `/status` endpoint?

[2021-01-29 10:02] #6011 closed

[2021-01-29 10:03] #5225 closed

[2021-01-29 10:06] #4893 closed

[2021-01-29 10:07] wochinge commented on #7608
duplicate of https://github.com/RasaHQ/rasa/issues/3999

[2021-01-29 10:07] #7608 closed

[2021-01-29 10:08] alwx commented on #7096
@TyDunn

[2021-01-29 10:08] wochinge commented on #6950
Please re-open if this is still an issue.

[2021-01-29 10:08] #6950 closed

[2021-01-29 10:12] wochinge commented on #7144
Closing this as it's a usage question. If this is still an issue, please ask this in the [forum](https://forum.rasa.com)

[2021-01-29 10:13] jackabouaad opened #7842 "Add cosine similarity to Rasa X"
**Description of Problem**: At this stage, Rasa X helps you load training data and tag them using the Graphical User Interface. The problem is that such a way of loading data can prove to be challenging at a later stage if, while training the model, the developer notices that some intents are actually really close to each other which might increase the confusion rate between the two.

**Overview o

[2021-01-29 10:16] wochinge commented on #7043
This will be fixed in 0.36

[2021-01-29 10:16] #7043 closed

[2021-01-29 10:19] alwx commented on #6752
Closing it because the PR was merged.

[2021-01-29 10:19] #6752 closed

[2021-01-29 10:19] wochinge commented on #5766
fixed by https://github.com/RasaHQ/rasa/pull/5899

[2021-01-29 10:19] #5766 closed

[2021-01-29 10:24] joejuzl commented on #7312
`rasa_core` is no longer a supported package, it is now part of `rasa` so you can access all required modules from there.

[2021-01-29 10:24] #7312 closed

[2021-01-29 10:30] wochinge commented on #7432
@akelad anything you know of which we still have to do?

[2021-01-29 10:31] wochinge commented on #6264
Markdown is deprecated and will be removed in Rasa Open Source 3.0. We'll only handle bug fixes until then for Markdown.

[2021-01-29 10:31] #6264 closed

[2021-01-29 10:33] wochinge commented on #4768
We are currently addressing this. Related to https://github.com/RasaHQ/rasa-x/issues/3921

[2021-01-29 10:36] joejuzl commented on #6695
Hi @ortsaCniveK, any progress with this?

[2021-01-29 10:38] tczekajlo commented on #5924
I think I don't understand the issue here.

You mention the `ACTION_SERVER_TAG`, so I'm guessing you're using the `get-rasa-x.sh` script? (the script uses the rasa-x helm chart)

If you use a Kubernetes cluster and you apply changes to your current deployment you should use helm directly, that gives you all options to update your deployment.

[2021-01-29 10:38] wochinge commented on #7659
closing as duplicate of https://github.com/RasaHQ/rasa/issues/7076

[2021-01-29 10:38] #7659 closed

[2021-01-29 10:40] wochinge commented on #7091
fixed by https://github.com/RasaHQ/rasa/pull/7422

[2021-01-29 10:40] #7091 closed

[2021-01-29 10:41] alwx commented on #7133
@dakshvar22 could you come back to this one?

[2021-01-29 10:42] wochinge commented on #7168
Thanks for bringing this up @akshayrkg . Would you mind opening up a PR for this? 🙌🏻

[2021-01-29 10:44] wochinge commented on #1300
closed by https://github.com/RasaHQ/rasa/pull/1410

[2021-01-29 10:44] #1300 closed

[2021-01-29 10:45] joejuzl commented on #3362
Hi @MetcalfeTom - is this still an issue?

[2021-01-29 10:47] wochinge commented on #6023
closing in favor of https://github.com/RasaHQ/rasa-x/issues/3052

[2021-01-29 10:47] #6023 closed

[2021-01-29 10:47] alwx commented on #6543
@JustinaPetr @tatianafrank what's the status of this issue?

[2021-01-29 10:48] alwx commented on #6498
Closing because the PR is merged.

[2021-01-29 10:48] #6498 closed

[2021-01-29 10:51] alwx commented on #3946
Closing it due to inactivity and lack of feedback.

[2021-01-29 10:51] #3946 closed

[2021-01-29 10:52] alwx commented on #7331
Closing it because it was fixed.

[2021-01-29 10:52] #7331 closed

[2021-01-29 10:53] wochinge commented on #3419
closed by https://github.com/RasaHQ/rasa/pull/5496

[2021-01-29 10:53] #3419 closed

[2021-01-29 10:54] wochinge commented on #5628
This will be fixed by training in steps.

[2021-01-29 10:56] wochinge commented on #5628
Closing this as duplicate of https://github.com/RasaHQ/rasa/issues/6836

[2021-01-29 10:56] #5628 closed

[2021-01-29 11:38] Ghostvv commented on #7658
seems to be related to https://github.com/RasaHQ/rasa/issues/7221

[2021-01-29 11:39] Ghostvv commented on #7658
it is expected, it is needed for end-to-end. If your custom components operate only on `text` attribute, they will not affect core featurization

[2021-01-29 11:47] Ghostvv commented on #7221
The only difference to 1.10 that come to mind is that we changed the padding logic from padding from the beginning to padding from the end. The fact that TED cannot learn to predict `create_shipment_form` is not surprising. The surprising part is that 1.10 ted can learn that

[2021-01-29 12:41] wochinge commented on #7772
We agreed upon that back porting the new 2.x implementation as done in [this PR](https://github.com/RasaHQ/rasa/pull/7754) is a stretch of semantic versioning, but valid in this case as the new implementation is battle tested with 2.0

[2021-01-29 13:00] sara-tagger commented on #7842
Thanks for submitting this feature request 🚀 @TyDunn will get back to you about it soon! ✨

[2021-01-29 13:00] sara-tagger commented on #7841
Thanks for submitting this feature request 🚀 @melindaloubser1 will get back to you about it soon! ✨

[2021-01-29 14:02] joejuzl commented on #6003
Ooops sorry @tczekajlo. We miss-read and assumed there were docker-compose changes to be made. (We've been going through *a lot* of issues 😅 ).

[2021-01-29 15:36] TyDunn commented on #7842
Hi @jackabouaad. Thanks for sharing this idea! We are actually working on something quite *similar* to this right now. Would you be willing to give us feedback on it once it is ready? cc @abhilasharoy @koernerfelicia

[2021-01-29 16:13] jackabouaad commented on #7842
Of course @TyDunn!
I'd even love to help out with the development of such a feature!

[2021-01-29 18:39] alexyuwen opened #7845 "Mislabeling of "sentence features" as "dense features" in documentation"
You can see in the `_get_sentence_features` method in the `rasa/nlu/classifiers/sklearn_intent_classifier.py` file that the error message reads "No sentence features present. Not able to train sklearn policy."  This is misleading because sentence features are referred to as "dense features" in the documentation.

I have attached a zip folder containing test component code as well as my `config.yml

[2021-01-29 21:18] b-quachtran commented on #7766
@georgebrianb Thanks for bringing this issue to our attention, the Rasa team is taking a look at this bug and you can track the status here as it gets fixed.

[2021-01-30 00:50] github-actions[bot] opened #7846 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.2|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2021-01-30 07:05] srikanth9444 commented on #3803
Hi, I'm getting the same error ERROR    rasa.shared.core.trackers  - Tried to set non existent slot 'gender'. Make sure you added all your slots to your domain file. Actually I double checked no issue with the slots and indentation. it was working fine, after added some small talk content and tried to retrain the model, then this issue started.
Any suggestions to fix this issue would be greatly ap