[2020-08-25 15:08] Ghostvv opened #6486 "Create shortcuts for the whole rules in stories"
in order to successfully train TED on the full stories, the rules should be present in the stories. We can use rule snippets names (in the same spirit as checkpoints) where instead writing all events inside the rule in the story, users could just add a rule name and in `generator.py` they will be substituted with actual events from rules

[2020-08-25 15:50] chkoss commented on #6483
It only needs to be adjusted when the training data format changes and the training data of an example is adjusted, too. If the Rasa Open Source versions progress (e.g. 2.0.1 etc.) and the examples still say `version = 2.0.0` that's no problem and won't even raise a warning.

[2020-08-25 16:04] bofengh commented on #6245
Hi, I got the same problem. Anyone gets a solution pls ?

Here is my *config.yml* :

[code]

I’m using rasa 1.10.11 and scikit-learn 0.22 with python 3.6.

Thanks in advance.

[2020-08-25 16:23] koaning commented on #6245
I'm wondering if there's NaN generated by the spaCy features. That does seem to be what it is complaining about.

[2020-08-25 16:34] bofengh commented on #6245
@koaning thanks for your response.

It works for me when I change `fr_core_news_sm` to `fr_core_news_md` or `fr_core_news_lg` or bert-based model `bert-base-multilingual-cased` :)

[2020-08-25 16:54] koaning commented on #6245
@cicciob95 would you upgrade to an  `md` model?

[2020-08-25 17:27] sushilr007 commented on #5838
@degiz It's working now. thanks!

[2020-08-25 17:30] sushilr007 commented on #5838
@ShwethaMGitHub  do you still have an issue?

[2020-08-25 20:38] SuzanaK commented on #6228
I have the same with entities containing non-ascii characters. After saving the results from `rasa interactive`, it should be

    [küche](room)

in the `nlu.md` file but it's

    küche[]{"entity": "room", "value": "k\u00fcche"}

[2020-08-26 06:00] sara-tagger commented on #6484
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-08-26 06:00] sara-tagger commented on #6473
Thanks for the issue, @melindaloubser1 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-08-26 06:00] sara-tagger commented on #6482
Thanks for submitting this feature request 🚀 @JustinaPetr will get back to you about it soon! ✨

[2020-08-26 07:51] chkoss commented on #6482
Can't prevent Sara from tagging people... 😭 @JustinaPetr please ignore, it's a Production Team issue for the future.

[2020-08-26 08:35] lunelson commented on #6167
@m-vdb I'm encountering something I didn't realize before: `rasa` and `rasa-x` _each_ have their own API documentation, so the solution we were thinking of, with linking just "API" in the header nav doesn't make sense because there isn't one single global API but two product-specific ones...is this right?

[2020-08-26 08:49] akelad commented on #6480
I thought that was already the case in the new yaml format?

Yeah that probably makes sense

Also yes

Adding the utter_chitchat to the actions list isn't actually necessary btw
[code]

Overall I think these changes make sense.

[2020-08-26 08:57] dakshvar22 commented on #6480
@akelad

I thought so too, but it isn't implemented that way yet. The response templates in the domain file are not present in the NLU training data and vice-versa.

Thanks for the other comments! 👍

[2020-08-26 09:07] m-vdb commented on #6167
Yes this is right, these are 2 different APIs. There are also other APIs (that are not HTTP ones). Here are the current items under the "API" left menu on Rasa:
<img width="285" alt="Screenshot 2020-08-26 at 11 05 16" src="https://user-images.githubusercontent.com/1931615/91284370-1a3f1180-e78c-11ea-91ad-735eb3eb1173.png">

[2020-08-26 09:30] melindaloubser1 commented on #6473
@chkoss I'ma leave sara's tag up for now just so she doesn't tag again =)

[2020-08-26 09:46] akelad commented on #6480
this is how it's designed here: https://www.notion.so/rasa/Training-data-format-80c786f1996f491dbda0e095debc85fe
so I guess it's currently actually not intended to go into the domain, but be it's own thing. cc @degiz

[2020-08-26 09:48] akelad commented on #6483
ok sounds good, we can do that

[2020-08-26 09:48] akelad commented on #6483
@RasaHQ/cseteam any volunteers? should be a quick one

[2020-08-26 09:49] lunelson commented on #6167
@m-vdb OK how many of these need to use ReDoc to document them? Just the HTTP ones right?

[2020-08-26 09:53] akelad commented on #6293
Could you not just use the `metadata` field?

I mean the reason we did that is only because there's no other way at the moment :D

Do we have any other use cases apart from the sentiment one btw? Feel like we're getting too deep into the details of this one

[2020-08-26 10:03] bofengh commented on #6245
Hi @koaning , could I ask you some more questions about rasa pls ?

I'm fairly new to rasa and my understanding of this powerful framework is probably limited :)

I saw there is a advantage for `DIETClassifier`, that the transformer part can learn knowledge of certain corpus for both intent classification and ner. But if we use it only for intent classification, is this a good choice ? I suppose w

[2020-08-26 10:12] m-vdb commented on #6167
none, only the HTTP ones

[2020-08-26 11:16] m-vdb opened #6487 "Raise proper user warnings for backwards compatibility code"
([Original slack thread](https://rasa-hq.slack.com/archives/C36SS4N8M/p1598437115179100))

Looking for "compatibility" in the codebase shows several examples of code that are still here for backwards compatibility purposes (until when?) but the users are not warned about them. If possible, we should introduced warnings for each of these communicate that they'll be removed in Rasa 3.0

List of thin

[2020-08-26 11:49] govindegowda opened #6490 "rasa concurrency requests per second"
Hi Team,

We were running performance test on chat bot, which make use of rasa as nlp. when we ran with 10 request per second error rate is 0% and gradually it increases when requests per seconds increases. Could you please let us know solution for below list of queries.
Queries:
1. What is the min and max concurrent request per second rasa nlp can process.
2. Any solution to increase performance

[2020-08-26 12:00] sara-tagger commented on #6490
Thanks for raising this issue, @akelad will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-08-26 12:23] lunelson commented on #6167
@m-vdb OK @eliseboyd and I are working on the assumption there is _one HTTP API documentation per site_ (rasa, rasa-x), that will be using the ReDoc component 👍

[2020-08-26 12:36] iszainab commented on #4247
Hi, has this issue been resolved? I have ver 1.10.1 and I'm still facing the issue where mapping policy predicts action_listen every time after executing a mapped action.

[2020-08-26 12:38] koaning commented on #6245
In the future, it might be better to ask this question on our [forum](https://forum.rasa.com) (you can still tag me there @koaning too). I'll try to answer your question here for now though.

A transformer can still benefit you even if you're only interested in classifying intents. The transformer can be seen as a filter that adds context. The idea is that the context of the entire sentence might

[2020-08-26 12:40] koaning commented on #6245
Now, on the topic of improving intent scores. I'd be somewhat surprised if switching to another classifier will help you. This is in part because emperically I keep seeing that DIET performs well but also practically because of the nature of the problem that you might have.

You can help the classifier by giving it extra features. Are you building something in English (if so, add ConveRT) or Spani

[2020-08-26 12:42] koaning commented on #6245
I'd be careful with text generation tools if they are based on rules. The synthetic datasets might become too artificial and there's a risk that DIET will overfit on the artificial patterns rather than the linguistic meaning.

[2020-08-26 12:57] m-vdb commented on #6167
and there is also the Action Server HTTP API: https://rasa.com/docs/rasa/next/running-action-server#action-server-http-api which is currently in Rasa docs, but should be moved to the Rasa SDK docs, if I'm not mistaken (cc @erohmensing to double check)

[2020-08-26 12:57] Ghostvv commented on #4247
yes, it still does it. In Rasa 2.0, we substituted `MappingPolicy` with `RulePolicy` where prediction of `action_listen` can be configured

[2020-08-26 13:07] bofengh commented on #6245
@koaning really appreciate your help.

In fact, I'm building the system in French. As for the feauturizer, I'm currently trying :
- spaCy (sm / md / lg)
- multilingual bert
- camembert (according to https://forum.rasa.com/t/rasa-and-camembert/31882)

I'm also using a `CountVectorsFeaturizer` after the pre-trained models to capture words specific to my corpus cause the pre-trained models are frozen

[2020-08-26 13:12] koaning commented on #6245
I also have another project called [Rasa NLU examples](https://github.com/RasaHQ/rasa-nlu-examples). If you're really looking to try out all the options out there you can also try out FastText and BytePair embeddings. We also feature `gensim` as a method of training your own word embeddings.

[2020-08-26 13:24] eliseboyd commented on #6167
Does something like this make sense then?

![Screenshot 2020-08-26 at 15 18 10](https://user-images.githubusercontent.com/1610102/91308292-5d5eac00-e7af-11ea-9dd8-bf03a1e57c79.png)

I agree we should keep the redoc full width, without our sidebar - but it still needs the top navbar to show you where you currently are in the context of the docs, and that you're away from the regular docs. It seems

[2020-08-26 13:47] m-vdb commented on #6167
yeah I was thinking about something like this. I don't think I should be the one deciding though :) WDYT @erohmensing @akelad @tmbo ?

[2020-08-26 14:01] eliseboyd commented on #6167
Just for more context, the issue I'm trying to solve is that currently when you go into the api docs, e.g. [here](https://rasa.com/docs/rasa/api/action-server/), it's unclear what page you're on and how to get back to the docs / how this page relates to any other page. At _minimum_, these pages should have a title and "Rasa Open Source" or "Rasa X" should be selected in the top nav as the active l

[2020-08-26 14:17] Asma-droid opened #6491 "different models for the same data"
Hi,

I would like to highlight a big difference between nlu models when the the first one tis rained with image dockers and rasa HTTP API (i.e. same data, same config, same domain) and the second one trained using command line.

When evaluation data the first model gives high performance
![image](https://user-images.githubusercontent.com/55100050/91314845-4754e980-e7b7-11ea-9e93-7456eb583068.png)

[2020-08-26 15:00] Ghostvv opened #6492 "rasa test seems to be broken in master"
when I call `rasa test` I got the following error:
[code]

[2020-08-26 15:16] chkoss commented on #6473
@melindaloubser1 This issue should be in the Production Inbox. For me it says "Projects: None", but that might just be because of missing board viewing permissions? If it's not in the board, can you please move it there?

[2020-08-26 17:02] b-quachtran commented on #6483
✋ I got it

[2020-08-26 17:03] gioppoluca commented on #6450
Even if the simple train command could do since the main use case should at least be able to work in a configuration with default settings it could be useful to send (still optionally) --data, -c, -d, --out to give the option of managing locations that differ from the default.
Personally never user any of the various options but in this use case probably --augmentation could have some use; --fixed

[2020-08-26 17:46] rgstephens commented on #6480
Then let's not recommend it

When I first started using Rasa, I found the domain.yml frustrating because if felt like I have to duplicate a lot of information that I've already provided in the training data.

Isn't it the case the I can put everything in a single file under 2.0 if that's my preference.

chitchat.yml:

[code]

[2020-08-26 19:26] martinavalogia commented on #5909
Hi all,
Has this been fixed ! cos I am also facing the same issue
https://share.getcloudapp.com/nOukRr9R

Thanks

[2020-08-26 21:06] NetBKarine opened #6494 "Forms do not provide action endpoint to call custom ask slot actions"
**Rasa version**: 2.0.0a2

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Ubuntu 18.04

**Issue**:
When providing a custom action to ask for a slot in a 2.0 form, the call fails because it the action endpoint is not passed to the custom action. I reproduced this case easily with the formbot

[2020-08-26 21:17] melindaloubser1 commented on #6473
No worries, it's in the right board =)

[2020-08-27 06:00] sara-tagger commented on #6494
Thanks for the issue, @tabergma will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-08-27 06:00] sara-tagger commented on #6491
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-08-27 06:51] lunelson commented on #6167
@erohmensing would the Rasa SDK docs be using a [ReDoc](https://redocly.github.io/redoc/) style documentation then, or a Docusaurus style like the main docs? I had understood you were considering deploying another Docusaurus instance to handle this

[2020-08-27 07:53] AljoschaN opened #6495 "Categorical Slots cause "InvalidDomain" error if only the NLG Section changed."
**Rasa version**:
First seen on 1.10.3 then updated rasa and reproduced the error on version 1.10.11

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:
3.7.6

**Operating system** (windows, osx, ...):
osx

**Issue**:
Rasa could not be started if ONLY the NLG Section (Templates) changed and if the domain contains categorical slots.

To reprodu

[2020-08-27 09:53] erohmensing commented on #6167
The docs themselves would be docusaurus style, as there's lots of typical docs info about what actions are, how they should be used etc, that needs to go in there. Though I don't think a redoc would hurt, as we're currently trying to figure out the easiest way to keep the user up to date with all of the tracker methods without using an autoclass like we did before(https://rasa.com/docs/rasa/api/ra

[2020-08-27 09:54] erohmensing commented on #6167
I totally agree with @eliseboyd, i've griped about this many times. I think the simplest way to handle this would just be for API specs to open in a new tab, if they don't have a sidebar to help you get back to where you came from, but definitely think @eliseboyd 's "at minimum" is very valid to knowing which API you're looking at

[2020-08-27 09:58] koaning opened #6496 "Rasa --version now breaks on Windows"
This issue was originally mentioned [here](https://forum.rasa.com/t/issues-in-installing-rasa-alpha-version-2-0-0-a2-in-windows-setup-with-python-version-3-7-9/33041).

**Rasa version**:
1.10 onward

**Rasa SDK version** (if used & relevant):
1.10 onward

**Rasa X version** (if used & relevant):

**Python version**:
3.7

**Operating system** (windows, osx, ...):
Windows

**Issue**:

A few months a

[2020-08-27 10:28] lunelson commented on #6167
OK @eliseboyd it sounds like this might be more complex than what you've pictured above; we'll have to try out some different solutions

[2020-08-27 10:29] akelad commented on #6490
Hi @govindegowda please ask these types of questions in our community [forum](https://forum.rasa.com) and someone will get back to you there.

[2020-08-27 10:29] #6490 closed

[2020-08-27 10:31] Ghostvv commented on #6492
it happens in `examples/rules` bot

[2020-08-27 10:32] Ghostvv commented on #6492
should be fixed in e2e

[2020-08-27 11:43] erohmensing commented on #6167
Happy to workshop stuff together as well, we're still also not sure where the SDK/action server stuff really fits in, which makes it difficult

[2020-08-27 12:00] sara-tagger commented on #6495
Thanks for raising this issue, @dakshvar22 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-08-27 12:00] eliseboyd commented on #6167
Sounds good! If we think this might take a bit of time to figure out, @erohmensing's suggestion to open in a new tab sounds like a good first step too. In that case, I'd suggest these immediate small fixes:

1. Open any redoc links in new tab, add an 'external link' icon next to any of those links in the sidebar
2. Add a page title/description on any redoc page
3. Set Rasa / Rasa X as the active l

[2020-08-27 13:19] martinavalogia commented on #6496
The version of Windows I use is Microsoft Windows build 1809 and this Value error I get that after installation of Rasa2.0.0a2 and after checking to see if the installation has been done for the corresponding version.Instead of getting the version number Rasa2.0.0.a2 I get this value error ! The other thing I faced was incompatility issues for tensor flow. I ve got the below results after giving r

[2020-08-27 13:38] m-vdb commented on #6473
@federicotdn it looks like your were the one who created [this test](https://github.com/RasaHQ/rasa/blob/master/tests/import_time.py). Would it make sense for you to take this task over? It shouldn't be too hard to adapt the constant to make it work on GitHub VMs?

[2020-08-27 15:46] degiz commented on #6293
Ok let's leave Sentiments out 😃

`metadata` is a property of a training example in the `YAML` format.
Do you mean to pull it all the way to the custom actions? Or just use the name `metadata` as a key that users should use when providing some extra attributes from the NLU component?

[2020-08-27 15:52] degiz commented on #6464
@tmbo since you've just worked on that, do we have yaml e2e stories that test the forms?

[2020-08-27 15:55] degiz commented on #6365
Ok, as discussed in Slack, we're un-deprecating this syntax.
@melindaloubser1 can I use this issue to add unit tests instead?

[2020-08-27 20:54] bjbredis opened #6498 "Add configurable prefixes to Redis Tracker and Lock stores"
**Description of Problem**:
Currently Rasa does not allow using the same Redis instance for the TrackerStore and the LockStore because they use the same keys which overwrite each other or Rasa requires separate logical Redis DBs which most Redis services do not support multiple logical DBs (only `select 0` supported).
Related issues:
- [#5813 Adding support for Redis Cluster mode to store both loc

[2020-08-27 21:09] melindaloubser1 commented on #6365
Go for it!

[2020-08-28 02:30] ajyl commented on #6342
Hi - I am having the same issue - all I ran after installation was `rasa init --no-prompt` as the tutorial indicates and I got the same error.

[2020-08-28 06:00] sara-tagger commented on #6498
Thanks for submitting this feature request 🚀 @koaning will get back to you about it soon! ✨

[2020-08-28 07:07] saurabhchandrapatel commented on #4602
I am also getting the same issue

[2020-08-28 08:17] degiz commented on #6365
Changed my mind - I'll close this issue and just open a PR 😸

[2020-08-28 08:17] #6365 closed

[2020-08-28 08:29] ThWoywod commented on #4602
@saurabhchandrapatel in my case it was Tensorflow that returns this error code.
The default Tensorflow build was not been able to run on old CPUs that does not support AVX instructions. https://www.tensorflow.org/install/pip#hardware-requirements

I solved this issue by build my own Tensorflow Wheel without AVX instructions and create my own Rasa Image.

[2020-08-28 12:25] degiz opened #6501 "Convert forms with `rasa convert`"
Part of #6475

**Description of Problem**:
`rasa convert` should also convert forms, but warn users that the `FormPolicy` is deprecated.

[2020-08-28 13:50] dakshvar22 opened #6502 "CI tests for windows failing"
**Rasa version**: [PR](https://github.com/RasaHQ/rasa/pull/6466)

**Operating system** (windows, osx, ...): Windows(CI)

**Issue**: The tests for windows environment are failing randomly on repeated runs. The [problem seems to be that of memory allocation ](https://github.com/RasaHQ/rasa/runs/1037845229?check_suite_focus=true#step:9:50)on the machines where the tests are being run. This started ha

[2020-08-28 13:56] dakshvar22 opened #6503 "Model regression tests fail because of a dependency issue"
**Rasa version**: [PR](https://github.com/RasaHQ/rasa/pull/6466)

**Operating system** (windows, osx, ...): Ubuntu

**Issue**: Model regression tests for some configurations start failing because of a [dependency issue](https://github.com/RasaHQ/rasa/runs/1040276701?check_suite_focus=true). This is weird because it's not consistent across configurations of the regression tests which means it has n

[2020-08-28 14:04] m-vdb commented on #6503
I've introduced the new `pydoc-markdown` dependency, and I didn't take a look at the setup for model regression tests. My bad. Let me take a quick look to see if I can fix it

[2020-08-28 14:37] m-vdb commented on #6503
it actually seems to me that it's not linked to `pydoc-markdown` (sure, there is an internal error from pip, but that's not stopping the script). The real error is:
[code]

Which happens at various stages of the installation process on various builds. There are [this issue](https://github.com/python-poetry/poetry/issues/2027) and [this one](https://github.com/python-poetry/poetry/issues/1953) that

[2020-08-28 14:41] dakshvar22 commented on #6503
Hmm, so would the recommendation be to try re-running the jobs in that case?

[2020-08-28 14:43] m-vdb commented on #6503
maybe, but it doesn't seem like a suitable solution. Will retry the one you mentioned in the desc of this PR

[2020-08-28 14:48] m-vdb commented on #6503
but apparently the "retry" didn't work @dakshvar22 . How can we retry those runs?

[2020-08-28 14:49] dakshvar22 commented on #6503
I just re-ran them by adding the appropriate labels on the PR. :)

[2020-08-28 14:53] junbohuang commented on #6494
same issue here.

[2020-08-28 14:53] m-vdb commented on #6503
it looks like dependencies got installed [this time](https://github.com/RasaHQ/rasa/pull/6466/checks?check_run_id=1041994650) 🤷 😕

[2020-08-28 14:55] dakshvar22 commented on #6503
They do get installed for the [first configuration](https://github.com/RasaHQ/rasa/runs/1040276670?check_suite_focus=true) always and then the next one fails. 😕

[2020-08-28 14:58] m-vdb commented on #6503
how different are the configurations in terms of OS?

[2020-08-28 14:59] dakshvar22 commented on #6503
They all run on the same OS configuration.

[2020-08-28 15:05] dakshvar22 commented on #6503
And it failed for the second  configuration :) - https://github.com/RasaHQ/rasa/pull/6466/checks?check_run_id=1041994673

[2020-08-28 15:14] m-vdb commented on #6503
yeah, just saw that. Comparing the log and they are identical. It really looks like an internal issue of pip or virtualenv. I cannot reproduce locally with Python 3.7 (but the tests run Python 3.8, will try that)

[2020-08-28 15:16] degiz opened #6505 "Bugs with `rasa data convert`"
Part of #6475

Fix bugs discovered during testing of `rasa data convert -f yaml`:

- [x] rasa data convert nlu:
    1. [x] required args listed under optional args
    2. [x] Doesn’t recursively find files in the directory you provide (my data was in data/nlu/nlu.md)
    3. [x] Says it wants an output file, but requires an output directory
- [x] NLU converter doesn't support external lookup tables

[2020-08-28 15:16] forwitai opened #6506 "Rasa X won't start (stories problem)"
Hello everyone,

I have a problem running Rasa X, I’m using it in locally. It won’t run and I get the following error :

f"Invalid story format. Failed to parse ‘{story}’" rasa.core.exceptions.StoryParseError: Invalid story format. Failed to parse ‘## second path’

I’ve deleted the story that caused the problem but rasa x still mentions it (is it cashed somewhere?), I’ve even uninstalled rasa x an

[2020-08-28 15:25] hotzenklotz commented on #6222
We are facing the same issue. Our response selector has some rather long answers, so we run into the BERT token limit as well. When I shorten my answers, the model trains fine again. It is hard to find a good cut off length for the answers though with the different tokenizer and libs involved.

I am looking forward to fix for this :-)

[2020-08-28 15:31] #6506 closed

[2020-08-28 15:33] m-vdb commented on #6503
by following the code inside `pip` module, the error really comes from the fact that it doesn't find a METADATA file:
[code]

which is really here when you install the package on python 3.7 or 3.8 🤔

[2020-08-28 15:37] m-vdb commented on #6503
so since the METADATA is really present in the files hosted on pypi.rasa.com, could it be an issue that is happening when loading the cache (using `@actions/cache`)?

[2020-08-28 15:45] m-vdb commented on #6503
I've pushed a small commit to your branch to see if it has an impact, re-running the tests ⌛

[2020-08-28 16:59] dakshvar22 commented on #6503
Looks like that didn't help, as the test still failed.

[2020-08-28 16:59] dakshvar22 commented on #6503
Looks like that didn't help, as the test still failed.

[2020-08-29 08:50] #5842 closed

[2020-08-29 19:53] dakshvar22 commented on #5147
Should be checked if the issue still exists with the latest versions of Rasa.

[2020-08-30 23:37] #5284 closed

[2020-08-31 07:05] m-vdb commented on #6503
yes, saw that :/ that's really weird. Let's see if @tczekajlo can take a closer look at this as he is here this week. He is more familiar with the model regression tests setup than me, for sure.

[2020-08-31 07:06] Arpit12gupta commented on #5722
I have same issue, Please help me out...

[2020-08-31 07:32] wochinge commented on #6463
@alwx Did you continue working on this? @akelad Do you have some new name suggestions? 👀

[2020-08-31 07:33] wochinge commented on #6409
re-opening this. Doesn't make sense to close it at this stage 👍

[2020-08-31 08:03] #6456 closed

[2020-08-31 08:12] wochinge opened #6509 "exclude `rules` from `rasa test`"
**Problem**:
* When reading in test data, we should only read in full stories and not rule snippets which don't represent full conversations.

[2020-08-31 08:25] Ghostvv commented on #6509
`rasa test core` for rules is fixed here: https://github.com/RasaHQ/rasa/pull/6296

[2020-08-31 09:21] federicotdn commented on #6473
Given all the changes to Rasa OSS and our CI since October last year, this test is probably not relevant anymore. We could delete it even, or raise the max time to a much larger number.

[2020-08-31 09:32] m-vdb commented on #6473
do you know why we created the test in the first place?

[2020-08-31 09:37] tczekajlo commented on #6503
I'll try to take a look at it as soon as possible :)

[2020-08-31 09:43] Ghostvv commented on #6463
if you look at `loops` they don't have validation idea inside them. so technically, Akela's suggestion `LoopExecutionAfterUnhappyPath` is correct 😅😇

[2020-08-31 10:20] federicotdn commented on #6473
It was around when we started looking into optimizing imports. If I remember we looked into that again recently (not me), but I am not sure what the output of that was.

[2020-08-31 11:37] #6430 closed

[2020-08-31 11:59] tmbo commented on #6464
we don't have them yet, but I think adding an attribute that can be used instead of the `form` prefix is the way to go for now

[2020-08-31 12:19] #6501 closed

[2020-08-31 13:51] wochinge commented on #6464
Do we want this for the alpha 3 @tmbo @degiz ?

[2020-08-31 13:54] tmbo commented on #6464
the implications of this issue are that you cant use story tests when you are using any loops right?

[2020-08-31 13:58] Ghostvv commented on #6464
`form_prefix` is deprecated, do we need to rename it?

[2020-08-31 13:58] Ghostvv commented on #6464
the new `RulePolicy` doesn't use it

[2020-08-31 13:59] wochinge commented on #6464
Ah, we don't need it because of the new tracker featurization, correct?

[2020-08-31 13:59] Ghostvv commented on #6464
rather, the new `applied_events`

[2020-08-31 14:01] wochinge commented on #6464
Yes, that's what I mean. Then we can leave this as it is for old markdown.

[2020-08-31 14:01] #6464 closed

[2020-08-31 14:41] #6492 closed

[2020-08-31 14:41] #6509 closed

[2020-08-31 14:49] NetBKarine opened #6516 "RulePolicy core fallback config not loaded from model"
**Rasa version**: 2.0.0a2

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Ubuntu 18.04

**Issue**:
RulePolicy fallback configuration does not seem to be loaded from model. It predicts `action_default_fallback` even though I configured another action.
I added logging to check and when running

[2020-08-31 15:32] wochinge commented on #6430
Is there a PR for this?

[2020-08-31 15:46] wochinge commented on #6463
It was mine :-D Akela was `unhappy`. How about shortening it to `LoopUnhappyPath`? We might be able to drop this event anyway once we figured out the end-to-end problems for policy predictions.

[2020-08-31 17:45] Ghostvv commented on #6463
`LoopUnhappyPath` hm... smth about it is not intuitive, but cannot formulate what

[2020-08-31 17:46] tatianafrank opened #6519 "Channel-specific responses not working"
**Rasa version**: 1.10.9

**Rasa SDK version** (if used & relevant): 1.10.2

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): testing locally on osx, production is linux

**Issue**:
I have a custom channel setup but when I make a request to that channel I get the default response instead. The custom channel code:

[code]

Here is an example response yaml:

[code]

Im making the

[2020-08-31 22:50] ortsaCniveK commented on #6389
This is also superset of #5986

[2020-09-01 06:00] sara-tagger commented on #6519
Thanks for the issue, @rctatman will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-01 06:00] sara-tagger commented on #6516
Thanks for raising this issue, @melindaloubser1 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-01 06:35] Dustyposa commented on #6519
Default channel can get any thing?

[2020-09-01 07:18] tabergma commented on #6494
@Ghostvv @wochinge Can you please verify that this can happen?

[2020-09-01 07:30] MajaRolevski opened #6522 "Server crashes when using pipeline with BERT and CRFEntityExtractor"
**Rasa version**: 1.10.7

**Python version**: 3.7

**Operating system**: Ubuntu 18

**Issue**:  I am using the pipeline given below for training the model on the server. After the DIET component finishes with training, CRFEntityExtractor training starts, but it crashes after a while and the server gives the error shown below. To continue working with the server, it has to be rebooted. I have notic

[2020-09-01 07:44] wochinge commented on #6494
Just verified that this is a bug! Thanks for trying out the new forms 🙏 Do you want to the PR or should I @NetBKarine ? The solution is as you pointed out to pass the `self.action_endpoint` instead of `None`.

[2020-09-01 08:37] akelad commented on #6463
yeah `LoopUnhappyPath` doesn't sound right. What's the reason for not calling it `LoopValidation` again? From what I understand the event gets added to the tracker as `FormValidation(False)` when the user "breaks out" of a form/loop right? `LoopUnhappyPath(False)` seems like that would be wrong 😅

[2020-09-01 08:39] Ghostvv commented on #6463
`FormValidation(False)` is added when a form is predicted after a user input that is the answer to a previous question:
[code]
but not here:
[code]

[2020-09-01 08:43] Ghostvv commented on #6463
the problem that currently the implementation of the `Loop` doesn't have the notion of `validation`

[2020-09-01 08:47] akelad commented on #6463
yeah that part I know.

as in, Loop doesn't, but Forms do right?

[2020-09-01 08:55] Ghostvv commented on #6463
yes

[2020-09-01 09:00] akelad commented on #6463
so why is the event needed for the Loop at all?

[2020-09-01 09:07] Ghostvv commented on #6463
because there is no form in tracker, rule policy, etc anymore. and this event will be added for loops as well, which a custom loop could use, however it wants

[2020-09-01 09:13] akelad commented on #6293
So what I meant in this situation is that `UserMessage` (from the channel definition, which is the one that gets put in the tracker) actually has a `metadata` field at the moment. But the `tracker.latest_message` method doesn't even let you access that right now, only the parse data. That's actually a separate issue as well, that to access any metadata you assign there you have to iterate through

[2020-09-01 09:15] tmbo commented on #5368
I'd agree, let's change the default project (`rasa init`) as well as the examples to use an actions folder instead of a file. so the resulting structure should be:
[code]
I think there might be a `__init__.py` at a rasa bots root directory by default (so in `moodbot`), I am not sure we need that one

[2020-09-01 09:16] akelad commented on #6293
i'm trying to think of other use cases for this apart from the `SentimentAnalyzer` though 🤔

[2020-09-01 09:20] akelad commented on #6463
yeah but it does nothing for the Loop right now right? Kind of makes it hard to name it anything at all 😂

[2020-09-01 09:26] wochinge commented on #5368
@erohmensing Imo this needs to go in before the RC next week. Do you have this on your radar or should our squad take this over?

[2020-09-01 09:30] wochinge commented on #6463
Love the discussion 🎉

I suggest to do that. There are more important things to do the for the RC at the moment and the event name is not user facing which means we can still do this down the road.

[2020-09-01 09:52] akelad commented on #6463
haha yeah for sure, but doesn't hurt to keep the discussion going if someone has a genius idea

[2020-09-01 09:53] akelad commented on #5368
i'm gonna speak for our team and say that we are slammed with customers + 2.0 docs at the moment, so it'd be nice if your squad takes it :)

[2020-09-01 09:55] wochinge commented on #5368
@alwx @tczekajlo is it ok for you if we take on this time critical task? Rick is also back onboard then, so I think we do this despite our decoupling commitment

[2020-09-01 11:45] dihiaselma commented on #1196
Though I have a voluminous dataset with more that 30 intents,  I got the same issue. someone to help me pliz.

[2020-09-01 11:50] dihiaselma commented on #256
Though I have a voluminous dataset with more that 30 intents, I got the same issue. someone to help me pliz.
PS: I'm using the .md format not json.
and French language.

this is the config file:

`language: fr
#pipeline: supervised_embeddings
pipeline:
  - name: SpacyNLP
    model: fr_core_news_md
    case_sensitive: False
  - name: SpacyTokenizer
  - name: SpacyFeaturizer
  - name: RegexFeaturize

[2020-09-01 12:00] sara-tagger commented on #6522
Thanks for raising this issue, @b-quachtran will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-01 12:52] NetBKarine commented on #6494
@wochinge I just submitted the PR since I already had it ready. It's my first one on this repo, so tell me if I forgot something in the process.

[2020-09-01 13:31] federicotdn opened #6535 "Docs for 2.0.0a3 and implementation disagree on how forms are described in domain"
Tested on Rasa 2.0.0a3.

There might be a problem with how forms are defined in the domain in Rasa 2.0.0. The [documentation](https://rasa.com/docs/rasa/next/forms#defining-a-form) shows the following example:
[code]

But if I try using that, it fails with:
[code]

However changing forms from a map to a list of objects works:
[code]

It is not clear if the implementation is correct, or the docs. T

[2020-09-01 13:34] tatianafrank commented on #6519
I don't understand what you're asking. The default channel responds with `This is the default response` as you can see in the example above. Right now the custom channel webhook is return ing the default channel response instead of the custom channel response. Im pretty sure this is because `collector.messages` returns an empty array but it's supposed to store the channel responses to return.

[2020-09-01 14:17] koaning opened #6536 "Lemmatization and CountVectorFeaturizers"
**Rasa version**:

1.8 onwards

**Python version**:

3.6 or 3.7

**Operating system** (windows, osx, ...):

All

**Issue**:

Currently if you use spaCy components in your pipeline then the behaviour of the CountVectorFeaturizer changes.  Currently we use the `lemma` that spaCy provides as an alternative for the text when we use the "word" analyser. There's potentially merit to this idea but curren

[2020-09-01 14:21] koaning commented on #6536
A related discussion needs to take place here too. Is this how we want to deal with lemmatisation in Rasa?

Perhaps we've never really had a conversation about this. The reason I want to bring it up is related to a [feature request](https://github.com/RasaHQ/rasa-nlu-examples/issues/23) in [rasa-nlu-examples](https://github.com/RasaHQ/rasa-nlu-examples). There are other tools for lemmatization/tok

[2020-09-01 15:09] b-quachtran commented on #6522
Hi @MajaRolevski can you share the full traceback?

[2020-09-01 15:31] HariTeneti opened #6539 "Update RasaX Kafka event broker consumer code to support SSAL_PLAINTEXT protocol"
**Rasa version**: 1.9.6-full

**Rasa SDK version** (if used & relevant): 1.9.0

**Rasa X version** (if used & relevant): 0.27.7

**Python version**: Python3.6

**Operating system** (windows, osx, ...): CentOS Linux 7

**Issue**: RasaX Kafka event broker-consumer code is missing support for SASL_PLAINTEXT protocol whereas Rasa Core supports SASL_PLAINTEXT. Please update RasaX Kafka consumer code.

[2020-09-01 15:36] #6494 closed

[2020-09-01 18:05] tatianafrank opened #6543 "Only changing response in domain breaks model"
**Rasa version**: 1.10.9

**Rasa SDK version** (if used & relevant): 1.10.2

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): osx

**Issue**:

If I make a small change to a response in the domain.yml and then run `rasa train` then `rasa start` then I get the error below. I can usually fix it by deleting the old model and the one I just trained and running rasa train again. So b

[2020-09-01 19:04] MajaRolevski commented on #6522
Hey, @b-quachtran , thank you for the answer. This is my log file:
[code]
After it, I just get the error posted above:

[code]

[2020-09-01 21:07] NavinAsokan opened #6544 "Change Context Path"
**Description of Problem**: Short overview of the current situation. Rasa uses context path :- webhooks/slack/webhook We need to use a different context path altogether considering the above path cannot be used due to technical issues. We may need to use this like :- webhooks/XYZ/webhook and customize according to our request. Pls add this feature. IF there is any workaround , then please update o

[2020-09-01 22:13] b-quachtran commented on #6522
@MajaRolevski It looks like `-` is missing in that last line in the config file `name: "CRFEntityExtractor"`. Can you try adding it in and re-training?

[2020-09-01 22:44] MajaRolevski commented on #6522
@b-quachtran It was just my mistake when copying the pipeline of the config file. Rasa throws an error in case ```-``` is missing and doesn't even start with training.

[2020-09-01 22:49] kearnsw opened #6545 "Dynamo Tracker Store Documentation Error"
The documentation at docs/docs/tracker-stores.mdx contains a typo.

[code]

Should be

[code]

The `table_name` argument to the DynamoTrackerStore is snake case.

[2020-09-01 23:56] b-quachtran commented on #6522
@MajaRolevski I'm not able to reproduce the issue on my end with that config file. Is the server running into any memory limitations with the GPU?

[2020-09-02 04:54] Akhil-YS commented on #5383
Hi @tabergma .
I am trying to extract any person's name from a sentence using `oov` and  `CountVectorFeaturizer` by following Sara bot.  I see that it's not working as expected i.e. some names are not getting extracted even if the sentence is given as it is in the training data and I'm getting the following logs. Is it because of what you have mentioned above?

![image](https://user-images.githubu

[2020-09-02 06:00] sara-tagger commented on #6545
Thanks for the issue, @degiz will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-02 06:00] sara-tagger commented on #6544
Thanks for submitting this feature request 🚀 @TyDunn will get back to you about it soon! ✨

[2020-09-02 06:00] sara-tagger commented on #6543
Thanks for the issue, @JustinaPetr will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-02 06:00] sara-tagger commented on #6539
Thanks for the issue, @koaning will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-02 06:34] tabergma commented on #5383
@Akhil-YS Thanks for raising the issue. Please ask your question next time in the [forum](https://forum.rasa.com/). Thanks. From the logs it looks like that you are not using the latest version of Rasa. I recommend to update to the latest version and try again. We already fixed some issues that might cause this on your version.

[2020-09-02 07:48] wochinge commented on #6267
So you'd introduce a new event a la `UnfeaturizedActionExecuted`?

[2020-09-02 08:02] tczekajlo commented on #5368
I'm ok with that, not sure If I'm the best person to do this if it's time-critical task though 😄

[2020-09-02 08:19] Ghostvv commented on #6267
I'd call it `SlotFillingAction` directly (or smth else related to slot filling)

[2020-09-02 08:20] Ghostvv commented on #6267
depends, do we want it to be general? then yes `SilentActionExecuted` or smth

[2020-09-02 08:21] Ghostvv commented on #6267
it'll be a breaking change? then it should go in 2.0rc1

[2020-09-02 08:58] tabergma commented on #6536
As soon as we add an option to the `CountVectorFeaturizer` to use the lemma or not, we are decoupling the lemmatisation from the `CountVectorFeaturizer`, aren't we? I think if users want to add another component to the pipeline that does lemmatisation, that is fine as they would need to reuse our interface, e.g. updating the `lemma` attribute of the tokens.

[2020-09-02 09:11] chiragsingh1711 commented on #5051
Bro , How to download that git????

[2020-09-02 09:25] Akhil-YS commented on #5383
Hi @tabergma. Thank you for your reply. I updated rasa to 1.10.11 as you suggested and tried again. I got the same output again. I will stop extending this here and tag you on the forum post. Could you please help me out with this? Thank you.

[2020-09-02 10:07] degiz commented on #6545
Hey @kearnsw

Thanks for finding this! Would you consider opening a PR fixing that?

[2020-09-02 10:13] TyDunn commented on #6544
Hi @NavinAsokan. Can you please add a description of your problem?

[2020-09-02 11:52] venkatesh-chinni opened #6548 "Error while adding a lookup table as text file in windows"
**Rasa version**: 1.10.10

**Rasa SDK version** (if used & relevant): NA

**Rasa X version** (if used & relevant): NA

**Python version**: 3.7

**Operating system** (windows, osx, ...): Windows

**Issue**:
Error while training a nlu model when a look up table is  created as textfile in data file and its path is given in nlu.md

**Error (including full traceback)**:
[code]

**Command or request tha

[2020-09-02 12:00] sara-tagger commented on #6548
Thanks for the issue, @koaning will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-02 12:05] koaning commented on #6548
Hi @venkatesh-chinni, could you add the command that let to this error? It might also help if you could list the file/folder structure of the relevant files as well as the `config.yml` file. It might just be a typo that went wrong here.

[2020-09-02 12:17] MajaRolevski commented on #6522
@b-quachtran It doesn't, it has lots of free memory.

It is interesting that everything works fine when using BERT model and DIET classifier for both intents and entitites, but when I include CRFEntityExtractor as in the pipeline above, it crashes. Also when I exclude DIET and make the pipeline very simple by using only BERT and CRFEntityExtractor, the same thing happens...

[2020-09-02 12:20] venkatesh-chinni commented on #6548
HI @koaning , already added the command.  It is when I try to train using `rasa train nlu`
`

[2020-09-02 12:23] venkatesh-chinni commented on #6548
My folder structure
![image](https://user-images.githubusercontent.com/23174924/91980529-09227180-ed45-11ea-8046-39fae60364a3.png)
![image](https://user-images.githubusercontent.com/23174924/91980651-3707b600-ed45-11ea-8308-60509ed48ab4.png)

[2020-09-02 12:50] JustinaPetr commented on #6543
Hi @tatianafrank. Are you saving your models in a custom directory somewhere or are you going with the default `./models` directory?

[2020-09-02 13:13] koaning commented on #6548
This might be a windows path issue.

I might be wrong, but I recall window paths being `"folder\folder\file.txt"` as opposed to `"folder/folder/file.txt"`. Could you try that?

[2020-09-02 13:23] Ghostvv opened #6550 "set `--augmentation 0` by default in `rasa train` and `rasa train core`"

[2020-09-02 14:26] tatianafrank commented on #6543
@JustinaPetr  Default ./models directory

[2020-09-02 14:30] venkatesh-chinni commented on #6548
I was also expecting it to be a path issue. I tried with

- data/location.txt

- data\location.txt

- ChatBot/data/location.txt

- ChatBot\data\location.txt.

I get the same error for all the paths I tried

[2020-09-02 15:27] tomasis98 commented on #6543
Same problem here. Looks like categorical slots aren't correctly assigned to `self.input_states`.

[2020-09-02 16:24] NavinAsokan commented on #6544
Hi,
We need to change the context path in our Rasa framework. As of now the
default path is webhooks/slack/webhook
<http://ma1-edwdbad-ldb02.corp.apple.com:5005/iris/webhooks/slack/webhook> .
We are unable to use this context path as one of the other team using this
framework used this for slack integration.
So we need to customize this context path .For example we need the
following path for slac

[2020-09-02 18:29] TyDunn commented on #6544
@NavinAsokan Since you have plan to make the change yourself, would you be willing to [contribute it to Rasa Open Source](https://forum.rasa.com/t/how-to-make-a-code-contribution-to-rasa/11291)? Tobias mentioned he would be willing to review the pull request

[2020-09-02 19:17] NavinAsokan commented on #6544
Hi,

I am in the process of testing the same. Will update if it goes through.
Kind regards
Navin

On Wed, Sep 2, 2020 at 11:29 AM Ty Dunn <notifications@github.com> wrote:

[2020-09-03 01:07] #6440 closed

[2020-09-03 04:15] 3vts commented on #5722
Can confirm the same error is happening rn

[2020-09-03 07:46] koaning commented on #6536
@tabergma is the `lemma` attribute the only attribute that we want to "countvectorize"? The reason I'm asking is related to (yet another) [feature request](https://github.com/RasaHQ/rasa-nlu-examples/issues/29). In spaCy there are many attributes that could be interesting to featurize. There's flags for stopwords, sentiment and out-of-vocabulary terms. There are all interesting but there's two pat

[2020-09-03 07:56] Ghostvv commented on #6536
I think CVF should only featuring tokens/words. The rest is the job of `LexicalSyntacticFeaturizer`

[2020-09-03 08:00] erohmensing commented on #6519
@tatianafrank is the indentation as above? `channel` should be on the same level as `text`. YAML is finnicky -- if you copy paste what you provided into a yaml to json converter, you can see that the channel param disappears: https://www.convertjson.com/yaml-to-json.htm

If you remove the one space before it so that they are indented the same, channel is another parameter in the response dict.

[2020-09-03 08:34] wochinge commented on #6535
@federicotdn Do you want to keep it in the loop? ProdSquad worked on this as part of rules.

[2020-09-03 08:35] federicotdn commented on #6535
Not necessary! Feel free to move it.

[2020-09-03 09:09] Ghostvv opened #6555 "Dense dimension of a sparse input shouldn't be set to a dimension of a dense input"
for historical reasons, we set dense dimension of a sparse input to a dimension of a dense input.

since we concatenate instead of sum, there is no reason to do it, I think it should be removed and dense dim should be reduced to smth like a `100` if doesn't hinder performance, but it should reduce train time

Some experiments are required to test performance

[2020-09-03 09:28] erohmensing opened #6556 "Update rasa codebase links to docs to reflect new structure"
In our codebase, we reference docs pages, both via constants (https://github.com/RasaHQ/rasa/blob/master/rasa/constants.py#L37-L52) and directly. We need to update these before the release candidate to make sure they reflect the current state of the docs.

[2020-09-03 09:38] erohmensing opened #6557 "Restrict length of rules to one user turn"
**Description of Problem**:

The RulePolicy is meant to replace the Form, Mapping, and Fallback policies. It's not meant to hardcode a state machine. We want to make sure that users understand this and provide ample training data to their machine learning policy to make predictions incase of unseen conversation paths.

**Overview of the Solution**:

We restrict the length of rules to one _user_ tu

[2020-09-03 09:42] evgeniiaraz opened #6558 "rasa test core not working for stories in a folder"
**Rasa version**:
Current ```master```
**Rasa SDK version** (if used & relevant):
N/A
**Rasa X version** (if used & relevant):
N/A
**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:
`rasa test core` doesn't work when the stories are in a subfolder, e.g., `rasa test core --stories data/core` on `rasa-demo`
In this case, it finds 0 test stories.

(My suspicion is that it come

[2020-09-03 09:52] wochinge opened #6559 "Communicate `rasa.shared` to team"
After the introduction of the `rasa.shared` package we have to communicate its usage and purpose to the team.

This could involve:
- [ ] Short session in squad sync
- [ ] Updating the code conventions
- [ ] Notion page
- [ ] Updating the Readme

[2020-09-03 09:56] wochinge commented on #6557
How about a warning which can explicitly be disabled in the `RulePolicy` config? (should be `enabled: True` by default)

[2020-09-03 10:10] Ghostvv commented on #6557
in my opinion warning is not enough

[2020-09-03 10:27] ganesh3 opened #6560 "The path 'config.yml' does not exist. Please make sure to use the default location ('config.yml') or specify it with '--config'"
**Rasa version**:

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant): 1.10.11

**Python version**: 3.8.5

**Operating system** (windows, osx, ...): Windows

**Issue**:
Installed RasaX from the website - https://rasa.com/docs/rasa-x/installation-and-setup/install/local-mode/

Executed following command:
pip install rasa-x --extra-index-url https://pypi.rasa.com/sim

[2020-09-03 10:33] tmbo commented on #6557
we shouldn't add undocumented options, either we think there is a use case for an option and describe that or there shouldn't be an option

[2020-09-03 10:41] Ghostvv commented on #6557
we'll add an option to docs, just not advertise it

[2020-09-03 11:50] tabergma commented on #6555
@Ghostvv Just to be clear, we should remove this line https://github.com/RasaHQ/rasa/blob/master/rasa/nlu/classifiers/diet_classifier.py#L1349 and the output dimension of the `sparse_to_dense` should be set to `100`? Do we really want to fix this dimension? If we have a sparse feature dimension < 100, it might not be the best choice. Can't we set it to half of the sparse feature dimension size?

[2020-09-03 12:00] sara-tagger commented on #6560
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-03 14:42] melindaloubser1 commented on #6516
@NetBKarine  Do you still see this on the latest alpha (released today)?

[2020-09-03 14:49] m-vdb commented on #6473
Moving this to Future for now 👍

[2020-09-03 15:57] degiz opened #6566 "Enable storing NLU, Strories, Rules in the same file"
Part of #6475

- Make it possible to store `nlu`,`stories`, `rules` keys within one `YAML` file.
- Domain stays out of the picture at the moment, because of `responses` key it shares with `RasaYAMLReader`, this should be implemented separately later.

[2020-09-03 16:13] wochinge commented on #6516
perfect issue description @NetBKarine ! The problem is that we are not persisting the config and also not loading the entries. We have to override `persist` and `load`. Do you want to do a PR? Otherwise we'll handle it

[2020-09-03 16:16] wochinge commented on #5368
It's time critical in a sense that it should be done until next week. I'll add it to our board.

[2020-09-03 17:09] ortsaCniveK commented on #5722
@Arpit12gupta @3vts what python version are you currently on?

3.8 support wasn't added until the 2.0 pre-release, so what you could do for now is:

[code]

to install the latest pre-release version of Rasa.  Just tested with Python 3.8 and was able to install successfully.

[2020-09-03 17:24] ortsaCniveK commented on #6389
Could we add a sub-task to this that exposes the TrainingDataImporter interface from the `rasa.importers` module?  It's cleaner to do:
`from rasa.importers import TrainingDataImporter`
compared with:
`from rasa.importers.importer import TrainingDataImporter`

Also, found some other locations:

* `rasa data convert` [(code)](https://github.com/RasaHQ/rasa/blob/06494203b6c722052bb7f5c7696408ac3c87da

[2020-09-03 17:28] 3vts commented on #5722
Thanks! It works now

[2020-09-03 17:57] NetBKarine commented on #6516
@melindaloubser1 Still there. @wochinge since it's high priority and I don't have a lot of time, it might be a better idea that I leave it to you.

[2020-09-03 18:50] Ghostvv commented on #6555
yes, I think we should simply remove this line. I think we should set `128` or smth here:
https://github.com/RasaHQ/rasa/blob/0cbd88335ac465140437b2d69c544ba80925a20a/rasa/nlu/classifiers/diet_classifier.py#L176
or `256`, but `512` is definitely too much

[2020-09-03 18:51] Ghostvv commented on #6555
half of sparse is huge. With all our sparse features, like char, it can be 10000

[2020-09-03 20:27] JustinaPetr commented on #6560
Hi @ganesh3. To run run rasa x, you need a Rasa project in your working directory. Do you have an assistant you have built with Rasa? If not, you can run `rasa init` which will create an example rasa assistant for you called `moodbot`. Make sure you are in the directory which contains the files of the assistant and then once you run `rasa x` your assistant should be launched using Rasa X.

[2020-09-03 20:50] gioppoluca commented on #6450
Any news on this?

[2020-09-03 21:52] adityac07 opened #6568 "No response in slack when custom action runs for longer than 3 seconds"
**Rasa version**: 1.10.12

**Rasa SDK version** (if used & relevant): 1.10.2

**Rasa X version** (if used & relevant):

**Python version**: 3.7

**Operating system** (windows, osx, ...): macOS

**Issue**: I have a custom action which runs fine as long as it finishes below 3 seconds. As soon as I put in time.sleep(4), no response is returned to slack.

This can be reproduced as follows:

1.  create

[2020-09-03 21:57] NetBKarine opened #6569 "Forms: domain slot mappings + ending form in validation asks extra question"
**Rasa version**: 2.0.0a4

**Rasa SDK version** (if used & relevant): 2.0.0a4

**Rasa X version** (if used & relevant):

**Python version**: 3.7.8

**Operating system** (windows, osx, ...): Ubuntu 18.04

**Issue**:
When the slot mappings are defined in the domain file, ending a form "in advance" inside the validation action by setting "requested_slot" to `None` does end the form, but only after as

[2020-09-04 02:37] captionthis opened #6570 "rasa run actions error"
**Rasa version**: 1.5.1

**Rasa SDK version** (if used & relevant): Latest

**Rasa X version** (if used & relevant): N/A

**Python version**: 3.7.5

**Operating system** (windows, osx, ...): Windows

**Issue**:
When I run "rasa run actions" in my terminal, it throws up an error. I have been doing some editing in the "actions.py" file to see if I could add speech recognition to it but it can't seem

[2020-09-04 04:41] adityac07 commented on #6570
I may be wrong but  the error looks like an import  error.  Did you  install the speech recognition  package in python?

[2020-09-04 05:39] Akhil-YS opened #6571 "Add model name to the logs in CLI"
**Description of Problem**:
It would be more informative if the name of the model which is currently being loaded is displayed in the logs for CLI commands like
```rasa shell```
```rasa shell nlu```
```rasa run ```

**Overview of the Solution**:
[code]

[2020-09-04 06:00] sara-tagger commented on #6571
Thanks for submitting this feature request 🚀 @tabergma will get back to you about it soon! ✨

[2020-09-04 06:00] sara-tagger commented on #6570
Thanks for raising this issue, @TyDunn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-04 06:15] tabergma commented on #6571
@Akhil-YS Thanks for creating this issue. Should the model name only be visible during debug mode or in general? Do you think we need the full path or does the relative path is sufficient?

If you like you can also take this over and try to solve it. Would you be interested?

[2020-09-04 06:26] tabergma commented on #6450
@gioppoluca Thanks for you input!

@federicotdn Should we add this to the production squad board?

[2020-09-04 07:16] wochinge commented on #6516
Ok! 🏃 Thanks for testing out the alpha and describing the issue so well! 💯

[2020-09-04 07:33] ganesh3 commented on #6560
Thanks. This worked. Can this also be updated on the docs at below URL?
https://rasa.com/docs/rasa-x/installation-and-setup/install/local-mode/

Regards
Ganesh Bhat

[2020-09-04 07:55] Akhil-YS commented on #6571
Hi, @tabergma  I think the general mode would be good unless someone feels too many logs. As we would be running those commands from inside of the project path, I feel that the relative path would suffice.

Thank you for the invite. I would like to but currently, I'm occupied with other works too. I'll let u know if I could find some time.

[2020-09-04 08:07] tmbo commented on #6558
This is intentional, it was designed that way (I am not sure why but the conversation tests required a `test/` folder). In terms of backwards compatibility, I am not sure we should change this.

[2020-09-04 08:11] evgeniiaraz commented on #6558
Previously, you could test your model on the training set but now you can't :(
And in that function which I changed the filters which are used for YAML and MD are different

[2020-09-04 08:12] tabergma commented on #6571
Ok. Thanks for the input.

I think we can solve this by modifying this method: https://github.com/RasaHQ/rasa/blob/master/rasa/model.py#L121
I will add this issue to the contributor board. Feel free to pick it up if you have time. Thanks!

[2020-09-04 08:25] tmbo commented on #6558
mhm interesting, it might be that it worked when specifying the directory and only the auto detection was looking for that specific folder. in that case I think you might be right and we should change it :+1:

[2020-09-04 09:32] Akhil-YS commented on #6571
@tabergma. I will surely work on it as soon as I find the time. Thank you for the pointer.

Could you help me out with another issue regarding oov token in CountVectorsFeaturizer? I think the CountVectorsFeaturizer is not working with oov token. I posted it on the community forum and tagged u. I'm thinking to raise an issue here.

[2020-09-04 09:46] wochinge commented on #6267
The change shouldn't be breaking, so we can do that in 2.1 . Also, we need to focus upon the open tasks for the RC and shouldn't add even more things which aren't strongly related to new 2.0 features which we planned for.

[2020-09-04 09:47] #6560 closed

[2020-09-04 13:42] Ghostvv commented on #6267
I thought it would be braking, that's why I added it, if it's not then fine

[2020-09-04 15:36] evgeniiaraz commented on #6558
I think this issue is actually harder than I thought...
what was the motivation for the test conversations to be only in the `test/` folder? it seems like it was for end-to-end test stories but then we're not checking whether it is in use_e2e mode

[2020-09-04 15:57] captionthis commented on #6570
Yes, thanks for the quick feedback but I seem to still get the same error. I thought it might've been that too in the beginning but after installing, uninstalling it, and reinstalling it, I seem to still get the same issue. Again, thanks for the quick feedback.

[2020-09-04 16:08] melindaloubser1 commented on #6568
Is this action getting triggered by a slash command? If so, the three second timeout is configured on Slack's side - see https://api.slack.com/interactivity/slash-commands#responding_to_a_command. You can get around it by following the advice in this answer: https://stackoverflow.com/questions/34896954/how-to-avoid-slack-command-timeout-error#:~:text=3%20Answers&text=According%20to%20the%20Slack%2

[2020-09-04 17:12] adityac07 commented on #6568
It is not triggered by a slash command. I trigger it through a normal conversation with the bot

[2020-09-04 17:20] adityac07 commented on #6570
have you tried coding a dummy test project with only speech recognition module in python to see if  the module works outside rasa?

[2020-09-04 18:14] captionthis commented on #6570
I have tried that and when I do run the dummy test project, it does **not** throw up an error. It's quite confusing why it throws up an error in the actions.py file but not a dummy test file.

[2020-09-04 19:56] #6222 closed

[2020-09-04 22:02] wavymazy opened #6581 "[TENSORFLOW] Training Out of memory problem"
**Rasa version**: 1.10.0

**Rasa SDK version** (if used & relevant): 1.10.0

**Rasa X version** (if used & relevant): n/a

**Python version**: 3.6.9

**Operating system** (windows, osx, ...): UBUNTU 20.04

**Issue**: When training rasa, the Keras policy or TEDPolicy will use my GPU memory and after core training has finished my GPU memory will still be full, and will trigger an out of memory issue

[2020-09-05 13:08] mellahysf commented on #2353
@akelad
Hi,
Did you implemented this ?

[2020-09-05 19:57] #5852 closed

[2020-09-06 13:05] pranavdurai10 commented on #4552
Hello @tabergma, is this issue still open for working on?

[2020-09-06 15:39] federicotdn commented on #6450
We can add it but I don't think it will be tackled soon due to other existing priorities. @gioppoluca would you be interested in creating a PR for this feature?

[2020-09-06 23:41] #5896 closed

[2020-09-07 04:09] duongkstn opened #6582 "Rasa spliting algorithm does not give precise number of training samples."
**Description of Problem**: Some examples may be missed due to Rasa spliting algorithm.The issues is clearly depicted at [forum thread](https://forum.rasa.com/t/rasa-split-data-nlu-fails-which-algorithm-is-implemented/29259/5)

**Overview of the Solution**:  `rasa data split` does not give precise number of training samples.
Say overall we have X samples (x<sub>1</sub> samples of label l<sub>1</su

[2020-09-07 04:52] atodniAr opened #6583 "bot failed to respond to faq interjection correctly in a form"
**Rasa version**:
Rasa 1.10.11
**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:
3.6.10
**Operating system** (windows, osx, ...):
macOS Catalina 10.15.5
**Issue**:
I followed the official tutorial until the faq interjection section. I got "Failed to extract slot <slot_name> with action sales_form" error. And then the whole form function dies

[2020-09-07 06:00] sara-tagger commented on #6583
Thanks for the issue, @melindaloubser1 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-07 06:00] sara-tagger commented on #6582
Thanks for submitting this feature request 🚀 @JustinaPetr will get back to you about it soon! ✨

[2020-09-07 06:00] sara-tagger commented on #6581
Thanks for the issue, @rctatman will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-07 06:39] tabergma commented on #4552
@pranavdurai10 Sure. Thanks for taking this over 👍

[2020-09-07 06:50] pranavdurai10 commented on #4552
@tabergma Are we talking about just the __init__.py file or the __main__.py file, too?

[2020-09-07 06:52] tabergma commented on #4552
Just about the `__init__.py` files, for example, this one [here](https://github.com/RasaHQ/rasa/blob/master/rasa/core/events/__init__.py).

[2020-09-07 06:58] pranavdurai10 commented on #4552
@tabergma Got it. I'm having a look at it.

[2020-09-07 09:09] #6483 closed

[2020-09-07 09:26] tabergma commented on #6550
We need to test if changing the default value drops performance. To test this we need to wait for Sara and Carbon Bot to update to the latest Rasa 2.0 changes, e.g. they should use rules + TED. Until then the feature is on hold.

[2020-09-07 10:52] akelad commented on #5368
reminder to update the CLI documentation and others on initial project setup

[2020-09-07 11:05] Ghostvv commented on #6550
we can also do experiments on current Sara and carbon-bot, but we need test set formed from real conversations (cc @akelad)

[2020-09-07 11:33] erohmensing commented on #4260
@tmbo i'm trading this again (super late, lol) and IMO an NLG should always return _the_ response, not a list of responses. Doing channel-specific responses would be something you'd implement from the NLG server side, i.e. pick your response based on the `channel` parameter that is already provided in the request format. https://github.com/RasaHQ/rasa/blob/master/rasa/core/nlg/callback.py#L47

WDY

[2020-09-07 11:45] tmbo commented on #4260
yes that sounds right :+1:

[2020-09-07 12:43] Ghostvv commented on #6550
@samsucik this is related to TED + rules

[2020-09-07 12:49] koaning commented on #6481
Just from glancing at it is seems that [padatious](https://mycroft-ai.gitbook.io/docs/mycroft-technologies/padatious#prerequisites) depends on [FANN](https://github.com/libfann/fann), a neural network library that did not receive an update for nearly two years.

[2020-09-07 12:52] koaning commented on #6245
I'll be closing this issue because the cause of the issue seems known now.

[2020-09-07 12:52] #6245 closed

[2020-09-07 12:53] #5705 closed

[2020-09-07 13:11] koaning commented on #5746
I am now running into unrelated installation issues surrounding tensorflow-text. Since @JEM-Mosig was able to confirm the issue is fixed I'm fine with closing this issue.

[2020-09-07 13:14] akelad opened #6588 "`rasa data split nlu` no longer works"
Part of #6475

**Rasa version**: master

Running `rasa data split nlu` creates an empty `train_test_split` directory as of the 2.0 changes to the data format. It's supposed to generate `test_data` and `training_data` files (they used to be .json, but we should probably change that to be .yaml as well)

I tested this on the `formbot` and `responseselectorbot` examples, both with the same result.

P

[2020-09-07 13:20] repodiac commented on #6481
I understand. It does not seem to be the most fancy NN-Toolkit on the planet, but it works really well! What you mention as an alternative is not really a full substitute, you do neither have to come up with a regex yourself (done by padatious) nor to really train on lots of data -- as said, really a few examples suffice and results are really good compared to this.

I didn't benchmark yet, but us

[2020-09-07 13:30] koaning commented on #6481
I'm interested in exploring the tool, but it seems there's too many issues for it to support direct here. The padatious [requirements.txt file](https://github.com/MycroftAI/padatious/blob/dev/requirements.txt) suggests that it using FANN2 as opposed to FANN which is listed on the mycroft docs page. Inspecting the [pypi repo of that project](https://pypi.org/project/fann2/) suggest only python 2.6-

[2020-09-07 13:30] #6481 closed

[2020-09-07 13:37] repodiac commented on #6481
OK, I understand. Fair enough. If I have some news (maybe I once try to reimplement it in TF or similar) I will get back to you.

[2020-09-07 14:07] TyDunn commented on #6570
@captionthis You should be able to add new packages to the `actions.py` file. I thought the suggestion from @adityac07 would solve your issues, so I am surprised to hear it does not. Do you get the same error when you try to import another library or only for `speech_recognition`?

The only odd part of your code that I noticed based on a quick glance is your use of `if __name__ == '__main__':`

[2020-09-07 14:42] tabergma commented on #5147
This issue does not seem to be valid anymore. Running `rasa test nlu --config config1.yml config2.yml --nlu data/nlu.md --runs 3 --percentages 0 25 50 70 90` with different kind of configs that use the `SklearnIntentClassifier` runs fine without any issues.

[2020-09-07 14:42] #5147 closed

[2020-09-07 15:31] auto-nirmit-shell commented on #5666
Had the same issue. Thank you so much @tabergma

[2020-09-07 16:26] wochinge opened #6592 "`ActionDeactivateForm` should be called `ActionDeactivateLoop`"
In line with https://github.com/RasaHQ/rasa/issues/6409 the default action for deactivating forms `ActionDeactivateForm` should be renamed to `ActionDeactivateLoop`

- [x] adapt docs
- [x] rename action class
- [x] rename action name
- [x] make sure that `action_deactivate_fallback` is mapped to new action name + deprecated
- [x] make sure other default action names still make sense

[2020-09-07 17:52] MadPr0grammer commented on #5732
Hi @degiz!
Looking at the code, I think (I may be wrong though) that the core checks if the text starts with "/" then it parses the text to get intent and entities, otherwise it uses whatever the NLU has predicted. In any case the core logs the text to the tracker.

So, by processing I mean it should log the text to the tracker and also use the text to determine if it wants to parse the text for g

[2020-09-08 09:09] akelad opened #6597 "Revisit example bots before RC"
Before the RC, we need to make sure that all the example bots are:
- [x] written as rules/stories according to our docs recommendations
- [x] used as examples in our documentation. if they aren't, we should consider getting rid of them or adapt them to what we describe in the docs

[2020-09-08 09:09] akelad commented on #6597
@melindaloubser1 can you take this one on?

[2020-09-08 09:52] #6555 closed

[2020-09-08 12:54] degiz opened #6602 "Make metadata available in NLU components"
Part of #6475

`2.0` Training data format introduced a new `metadata` field for the NLU training examples:

[code]

The content of metadata is not fixed and is up to the users to decide on. However, we should parse it and make it available from the custom NLU components user might have. One example - sentiments analyzer described [here](https://blog.rasa.com/enhancing-rasa-nlu-with-custom-componen

[2020-09-08 14:07] tabergma opened #6603 "Export data from interactive learning broken on master"
**Rasa version**: Rasa 2.0.0a4

**Issue**:
When running interactive learning exporting the stories and nlu training data as `yml` file does not work. The ending `yml` is not supported.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2020-09-08 19:19] #6566 closed

[2020-09-08 20:19] dakshvar22 opened #6606 "Merging domains is broken if out_of_scope intent is defined by user / make default actions configurable"
**Rasa version**: master

**Issue**: The `out_of_scope` intent is added to the [list of default intents](https://github.com/RasaHQ/rasa/blame/master/rasa/core/constants.py#L46) and hence its omitted when the domain is fetched as a dict because of this [line](https://github.com/RasaHQ/rasa/blob/f62839e5cb0e8ecb8cb7d85ac0f8fb078035c8c8/rasa/core/domain.py#L857)
While merging multiple domains, the do

[2020-09-09 05:24] tosim opened #6609 "Call "Append events to a tracker" api before rest channel issue"
when i call
[code]
before
[code]
when the sessionId is new and the first time i call.
the response of rest channel will always be "[]"
and the next time i call rest channel will be normal. is this a bug or something? can any one help me.
my rasa version is 1.10.10 and i deploy with rasax on a docker-compose way.
[code]

[2020-09-09 05:38] sahinbatmaz opened #6610 "DIET Classifier Custom Validation Dataset"
**Description of Problem**:
DIET Classifier has parameter 'evaluate_on_number_of_examples' which determines the size of validation data where it is obtained from the training data. Training data is splitted into train and validation and examples are obtained from each intent with proper counts (stratified).

However, I would like to use a separate validation data for this purpose.

[2020-09-09 06:00] sara-tagger commented on #6610
Thanks for submitting this feature request 🚀 @tmbo will get back to you about it soon! ✨

[2020-09-09 06:00] sara-tagger commented on #6609
Thanks for raising this issue, @TyDunn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-09 07:31] m-vdb commented on #6588
@akelad do you know why the default format was `json` in the first place?

[2020-09-09 07:37] m-vdb commented on #6389
thanks for jumping in @ortsaCniveK ! would you like to draft a PR for these changes?

[2020-09-09 07:51] akelad commented on #6588
it's archaic functionality from when json was the only format we had :D

[2020-09-09 08:37] #6536 closed

[2020-09-09 09:08] tmbo opened #6613 "Add Telemetry reporting"
- [x]  add new CLI command
    - [x]  `rasa telemetry disable` to disable telemetry
    - [x]  `rasa telemetry enable` to enable telemetry
    - [x]  `rasa telemetry` to print information about the telemetry webpage

- [x]  implement telemetry reporting
    - [x]  implementation warnings in CLI
    - [x] docs message on install
    - [x] environment variable to enable a debug mode which prints the

[2020-09-09 09:51] #6535 closed

[2020-09-09 11:19] wochinge commented on #6606
@melindaloubser1 @erohmensing What do you think of the suggestion for the config? Do you have other ideas?

[2020-09-09 12:43] melindaloubser1 commented on #6583
The form is trying to fill slots from text from the intent `enter_data`, or from entities,  some of which are not in your domain (`email`, `amount-of-money`,`number`, `name`). Therefore the form is getting rejected, since slot validation fails. I'm not sure what your NLU data looks like, but it should include the intent that you are filling slots from, and annotated entities (where applicable). Yo

[2020-09-09 12:44] melindaloubser1 commented on #6597
Yes

[2020-09-09 13:01] melindaloubser1 commented on #6606
If it was configurable, would that solve the problem with a user adding `out_of_scope` to their intent list?

[2020-09-09 13:34] tabergma commented on #6610
duplicate of https://github.com/RasaHQ/rasa/issues/5747

[2020-09-09 13:34] #6610 closed

[2020-09-09 13:42] zmalq commented on #3577
I am getting the error. python not found
![image](https://user-images.githubusercontent.com/11310193/92606252-60d65500-f2d0-11ea-94be-962a5288f2ad.png)

[2020-09-09 13:42] erohmensing commented on #6539
Thanks so much for opening this issue! We just released 0.32.2, which includes this fix (it also fixes the lack of support for `SASL_SSL` due to a similar issue! See changelog: https://rasa.com/docs/rasa-x/changelog/rasa-x-changelog/#id1

[2020-09-09 13:42] #6539 closed

[2020-09-09 13:42] tabergma opened #6616 "Do not interpolate button payload"
**Rasa version**: Rasa 2.0.0a4

**Issue**: If you define buttons with some payload like the following in your domain file, Rasa tries to interpolate the button payload when you are interacting with the assistant. It interprets the part between `{}` as placeholder and tries to fill it. However, in this case it refers to some entities and there is not matching template.

 utter_ask_nearby_pois:

*

[2020-09-09 13:43] dakshvar22 commented on #6606
@melindaloubser1 It would if because of that we can remove `out_of_scope` from the [list of default intents](https://github.com/RasaHQ/rasa/blame/master/rasa/core/constants.py#L46). I am not sure if that would bring a different side effect. 😅

[2020-09-09 14:03] ricwo commented on #6609
@tosim when you say

/conversations/{sessionId}/tracker/events

do you mean a GET on `/conversations/{sessionId}/tracker`? or a PUT to `/conversations/{sessionId}/tracker/events` that appends events to the tracker?

Also, can you share the exact cURL that led to the error message you posted?

[2020-09-09 14:49] akelad commented on #3577
can you try `python3` instead?

[2020-09-09 16:03] 12gabriel3 commented on #5681
Sorry for the late response, I abandoned this personal project for now, but here are the versions I used:

rasa 1.10.0
rasa-sdk 1.10.0
rasa X not used
python 3.7
Ubuntu 16.04.6 LTS

[2020-09-09 16:04] m-vdb opened #6620 "New docs: deployment keeps deleted files"
Because of [the way we deploy](https://github.com/RasaHQ/rasa/blob/c3b5ccb326cbcac325bb4326c9b56ec4cb3a276f/scripts/push_docs_to_branch.sh#L35) the code to the `documentation` branch, we do not cleanup the deleted files. As a result, if we delete files from the `docs/docs/` folder or the `docs/src/` folder in `master`, they will still be present in the `documentation` branch. This leads to weird b

[2020-09-09 16:17] #6505 closed

[2020-09-09 16:53] wochinge commented on #6606
@m-vdb @ricwo It would be awesome if one of you could have a look at this as I think it's relevant for the RC. There is also an out of GitHub [Slack thread ](https://rasa-hq.slack.com/archives/C36SS4N8M/p1599581976115300)about this 😬

[2020-09-09 17:20] ortsaCniveK commented on #6389
Sure, I can pitch in!

[2020-09-09 17:44] tatianafrank commented on #6519
Yes the issue ended up being unrelated to formatting. The issue is that there is not enough documentation on how to create a custom channel. We had to spend a lot of time figuring out that we had to create a custom output channel with the channel name returned by the name method of the output channel.

[2020-09-09 17:44] #6519 closed

[2020-09-09 17:47] tatianafrank commented on #6543
Can we get a fix for this? I have to spend a lot of time re-training the whole model every time I change a response. A workaround would be for us to set up NLG I suppose so that responses dont live in the domain file anymore but we havent had time to set that up yet.

[2020-09-09 17:50] hellonearthis commented on #6156
This is still an issue.
Adding   margin-left: 5px;
To the div.body dd, div.body li, div.body p {}
Corrects the formatting.

If you have greasemonkey or tampermonkey installed on your browser you can run this script to patch the CSS like above.
`// ==UserScript==
// @name         Rasa
// @namespace    http://tampermonkey.net/
// @version      0.1
// @description  try to take over the world!
// @aut

[2020-09-09 17:51] hellonearthis commented on #6141
This is still an issue.
Adding   margin-left: 5px;
To the div.body dd, div.body li, div.body p {}
Corrects the formatting.

If you have greasemonkey or tampermonkey installed on your browser you can run this script to patch the CSS like above.
`// ==UserScript==
// @name         Rasa
// @namespace    http://tampermonkey.net/
// @version      0.1
// @description  try to take over the world!
// @aut

[2020-09-09 18:11] hellonearthis commented on #6141
There seems to be another similar CSS issue with `dl.field-list>dt`
which has  `word-break: break-word;`  on and is making it look nasty.
Should be anything but **break-word** like  `word-break: normal;`
https://rasa.com/docs/rasa/nlu/components/#hftransformersnlp

![image](https://user-images.githubusercontent.com/121805/92636666-da4f6100-f32b-11ea-9b2f-4249c9a0863a.png)

Adding this to the Tampe

[2020-09-09 18:55] HariTeneti commented on #6539
@erohmensing erohmensing
Thank you for updating RasaX to support SASL_PLAINTEXT protocol. **Really appreciate RASA TEAM for fixing this very quickly.**

The RasaX 0.32.2 now supports SASL_SSL and PLAINTEXT protocols but the Rasa Core is not updated to support  SASL_SSL and PLAINTEXT protocols. Is there any plan to update Rasa Core to support these protocols especially SASL_SSL protocol? So both Ra

[2020-09-10 02:19] tosim commented on #6609
@ricwo
POST to /conversations/{sessionId}/tracker
[code]
first POST to /conversations/{sessionId}/tracker/events then POST to /webhooks/rest/webhook, it will response [], then POST to /webhooks/rest/webhook again, it will be normal response.

[2020-09-10 06:25] umangnangal opened #6621 "Migration script from IBM Watson to RASA is absent"
I am seeing that the migration script from IBM Watson to RASA is missing from the RASA project as can be seen in the below documentation link.
https://rasa.com/docs/rasa/migrate-from/ibm-watson-to-rasa/

Recently, I came across such requirement and I am currently working on it.
Please assign this bug to me, I can raise a PR in some time.
Including @melindaloubser1 in the thread.
Related issue link

[2020-09-10 06:39] melindaloubser1 commented on #6621
Thanks for volunteering for this issue @umangnangal. I'm changing it to an enhancement since nothing is broken, only not implemented yet.

[2020-09-10 06:44] umangnangal commented on #6621
Sure @melindaloubser1 . Thanks for the pointers 🙂.

[2020-09-10 07:22] wochinge opened #6623 "Mark default action of `TwoStageFallbackPolicyAction` as deprecated"
Due to the introduction of the `RulePolicy` the `TwoStageFallbackPolicy` is deprecated. The `TwoStageFallbackPolicy` uses a couple of default actions:

- `action_revert_fallback_events`
- ~`action_default_ask_affirmation`~ (can be kept, used by new `TwoStageFallback`)
- ~`action_default_ask_rephrase`~ (can be kept, used by new `TwoStageFallback`)

We don't need them to deprecate them in the code a

[2020-09-10 07:47] akelad commented on #6623
I ticked the documentation part, because that's handled [here](https://github.com/RasaHQ/rasa/pull/6618)

[2020-09-10 07:49] akelad commented on #6623
should the two stage fallback action be called `two_stage_fallback_loop` btw? For forms we usually have `_form` at the end. Like e.g. in [Sara](https://github.com/RasaHQ/rasa-demo/blob/master/domain.yml#L599)

[2020-09-10 07:55] erohmensing commented on #6539
@HariTeneti that's a good point! Yes, please feel free to open a PR to implement that fix, we'd be happy to add it.

[2020-09-10 08:32] Mazyod opened #6625 "RegexFeaturizer Multiprocessing / Multithreading"
**Description of Problem**:

RegexFeaturizer is using a single CPU core, causing slow training instead of leveraging idle CPU cores. In our case, it is taking ~1 hour, which can easily become ~5 mins.

 10:30 AM 2020-09-10 07:30:16,812: Starting to train component RegexFeaturizer
 11:17 AM 2020-09-10 08:17:50,472: Finished training component.

**Overview of the Solution**:

RegexFeaturizer should

[2020-09-10 08:50] erohmensing commented on #6519
Got it -- I'll make an issue for improving the documentation on that.

[2020-09-10 08:52] erohmensing opened #6626 "Improve documentation on writing a custom channel"
Inspired by this issue: https://github.com/RasaHQ/rasa/issues/6519

We should improve the custom connector page to make it clearer what your custom channel needs to implement and how to reference it from other things, e.g. channel-specific response variations, the `?output_channel` query parameter, etc.

[2020-09-10 11:16] wochinge commented on #6623
I wouldn't do so. Why confuse the users with the `_loop` prefix? They don't need to know that it's a loop - there is no benefit for them in knowing that.

[2020-09-10 12:00] sara-tagger commented on #6625
Thanks for submitting this feature request 🚀 @Ghostvv will get back to you about it soon! ✨

[2020-09-10 12:17] tabergma commented on #4856
@akelad Is this still relevant?

[2020-09-10 12:18] tabergma commented on #5350
@dakshvar22 Is this still relevant?

[2020-09-10 12:19] tabergma commented on #5439
Let's see if we switch to `train_step`

[2020-09-10 12:19] dakshvar22 commented on #5350
Probably yes, we haven't changed it since then.

[2020-09-10 12:33] akelad commented on #6623
but then what is it? a magical unicorn? 😅

[2020-09-10 12:54] joeriess opened #6629 "Custom Lock Store + Multiple Sanic Workers"
**Rasa version**: 1.10.3

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.7

**Operating system** (windows, osx, ...): macOS

**Issue**:

In our application we use a custom lock store since we are using a cloud based Redis instance that communicates over TLS. When trying to run multiple Sanic workers we receive this warning:

[code]

[Dig

[2020-09-10 13:12] erohmensing commented on #4260
cool, closing this then!

[2020-09-10 13:12] #4260 closed

[2020-09-10 13:39] wochinge commented on #6623
It's the TwoStageFallback 😆 Also: in the user tests the whole `active_loop` thing seemed to rather confuse users. So if, I'd rather go with action but I think it's overdoing.

[2020-09-10 13:49] akelad commented on #6623
yeah i can see that re `active_loop` - but i would imagine `active_form` wasn't any less confusing lol. The whole concept of Loop vs Form I think is gonna be a problem.

I just think that if we're making people write a rule for the two stage fallback, it's going to read `action: two_stage_fallback` - so why would it be anything other than an action/loop?

[2020-09-10 14:18] Ghostvv opened #6630 "Post e2e without e2e steps"
add docs for the new components
create migration guide for the new components

[2020-09-10 14:19] erohmensing commented on #6141
Thank you so much for the very specific suggestions!

[2020-09-10 14:27] zmalq commented on #3577
Yes it worked. Thanks!

[2020-09-10 14:39] DanBmh opened #6633 "Spacy Pipeline on Raspberry failing with "[E018] Can't retrieve string for hash""
**Rasa version**: 1.10.12

**Python version**: 3.7.3

**Operating system**: Raspbian Buster

**Issue**:

I'm trying to run spacy pipeline on raspberry pi 4 in raspbian buster container image. My setup works for ubuntu based images on normal computers but on the raspi training the nlu model always fails with (hash number can change):

[code]

I'm not sure this issue is related to spacy or to rasa's

[2020-09-10 14:46] JustinaPetr commented on #6543
@tatianafrank I'd like to replicate this issue. Do you have any categorical slots in your domain too?

One quick think I'd like you to try is to try testing your bot with the latest version of Rasa (1.10.12). Could you try creating a new virtual environment with this version of Rasa and testing your assistant?

[2020-09-10 14:50] tabergma commented on #6625
@Mazyod May I ask how many regexes do you have that training takes that long? Never saw that someone mentioned this before. Or is it rather an issue with the size of your dataset?

We are currently thinking of changing our data pipeline so that we don't load all the data at a time, which would allow us to load bigger datasets. Keeping that in mind, I guess it makes sense to add the multiprocessing

[2020-09-10 14:56] #5368 closed

[2020-09-10 15:11] Mazyod commented on #6625
Thanks for the response @tabergma.

Our dataset contains roughly 30,000 training sentences for English (even more for other languages), and relatively few regexes features. We are currently in the R&D phase still, so perhaps we wouldn't need this many training sentences, or perhaps we need more for our use case. However, after preparing a high end VM to do the training, this was a clear bottleneck

[2020-09-10 15:14] tabergma commented on #6625
@dakshvar22 Tagging you here as you wanted to start on updating our data pipeline. What do you think?

[2020-09-10 17:46] dakshvar22 commented on #5746
Re-opening this as the issue still persists with `tensorflow==2.3.0` `tensorflow-hub==0.8.0` and `tensorflow-text==2.3.0` and rasa master.

[2020-09-10 17:56] dakshvar22 commented on #5746
If the default cache directory has other tfhub modules downloaded in it, the download fails and rasa tries to use another download directory. If it’s the only tfhub module, it is not re-downloaded.

[2020-09-10 18:03] #6503 closed

[2020-09-10 19:51] dakshvar22 opened #6635 "Domain should be made available for `rasa train nlu` command if it's available"
Part of #6638

**Rasa version**: master

**Issue**:

When issuing the command `rasa train nlu`, `train_nlu` is invoked inside `rasa/train.py` which does not have access to the domain. Since `responses` key can be defined in the domain file as well which may be needed for the response selector training, the file importer should get access to the domain as well if its available. Once that's done `re

[2020-09-10 20:00] melindaloubser1 commented on #6621
@umangnangal I see there's actually an existing issue for this, see here:
https://github.com/RasaHQ/rasa/issues/1154
I'll close this issue in favour of that one since significant discussion has already taken place there.

[2020-09-10 20:00] #6621 closed

[2020-09-11 03:19] #3846 closed

[2020-09-11 06:00] sara-tagger commented on #6633
Thanks for raising this issue, @b-quachtran will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-11 06:00] sara-tagger commented on #6629
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-11 06:23] Dobatymo commented on #5921
I changed to pull request to handle all OSErrors to catch other IO errors like full disk for example. I think these kind of errors should be handled need to be handled, as they would be with other text editors.

[2020-09-11 06:53] tabergma commented on #6629
@ricwo Can you please have a look. Thanks.

[2020-09-11 06:57] ricwo commented on #6629
@joeriess thanks for raising this issue. I agree with your suggestion, multiple sanic workers should be safe to use with an in-memory tracker store as well. do you want to create a PR for that?

[2020-09-11 07:08] atodniAr commented on #6583
Hi, I followed the manual to include this slot in `domain.xml`, as
[code]
it works if I just fill in all these slots as the bot asks for them.

For this specific traceback, I was on the unwanted interjection part, i.e. user replied random faq or greet to your bot's information asking question during form filling. According to the traceback,
[code]
rasa.core found there were memoization policy and

[2020-09-11 07:32] kwatog commented on #5768
anyone can guide us on how to subclass the Rest? i'm with @solyarisoftware here.

I'm also trying to avoid the second API call.

[2020-09-11 08:39] degiz opened #6638 "Post-RC1 Training data format items"
- [x] `rasa train nlu` and Domain #6635
- [x] make `StoryReader::read_from_file` synchronous #6641
- [x] Converter tool not working for E2E stories #6716
- [x] Test stories don't work if they aren't in the end-to-end format #6732
- [x] StoryMarkdownToYamlConverter fails to convert entity annotation in e2e story #6867

[2020-09-11 09:51] akelad commented on #4856
i mean it still happens no?

[2020-09-11 09:52] degiz opened #6641 "Make `StoryReader::read_from_file` synchronous"
Part of # #6638

**Description of Problem**:
Currently `StoryReader::read_from_file` is defined to be `async`. However, it doesn't have to be, since it's not doing anything async, but still has to be used inside a loop.

**Overview of the Solution**:
We can change the method (and all of its implementations) to be synchronous instead.

**Definition of Done**:
- [x] Tests are added
- [ ] Feature des

[2020-09-11 11:47] erohmensing commented on #4781
@ortsaCniveK are you interested in working on this still?

[2020-09-11 11:54] Ghostvv commented on #1773
@anrafla did you manage to implement your idea. As I see it, it requires significant changes to Rasa NLU and Core. Especially incremental dialogue manager.

[2020-09-11 13:53] tabergma opened #6647 "Add list of unmodified predicted tags to message for evaluation"
**Description of Problem**: Entity tags are might be updated after the model prediction according to some heuristics. The tags are converted into entity objects and stored in the message object. During testing the entity objects are converted to a list of tags again in order to calculate our testing metrics. As we don't have access to the originally predicted tags in our evaluation methods anymore

[2020-09-11 14:05] #6480 closed

[2020-09-11 14:19] anrafla commented on #1773
@Ghostvv The features was completed back in Q2 2019 and I believe some work has been put into it since I've finished -- the fork of the project is located here - https://github.com/bsu-slim/rasa_nlu

There's a short paper if you want a high level view of the changes we made - https://arxiv.org/pdf/1907.05403v1.pdf

I can reach out to the current maintainer and put him in contact with your team.

[2020-09-11 15:35] dakshvar22 opened #6649 "Add provenance to examples in NLU training data"
**Description of Problem**: Currently, the examples for NLU training data are all added under one head `examples` like this -

 nlu:

*   intent: greet
     examples: |
*   hey
*   hi
*   whats up
*   Hello, how's it going?

This does not indicate which training examples were added by the builder of the assistant and which of them were added through annotations in NLU Inbox and hence coming from r

[2020-09-11 17:01] #6592 closed

[2020-09-11 17:49] tatianafrank commented on #6543
@JustinaPetr I upgraded rasa to 1.10.12 but im still seeing the same behavior. I made a small text change to one of the response templates then I ran rasa train which worked fine but then running rasa start throws the same error still:

[code]

[2020-09-11 20:46] ortsaCniveK opened #6651 "Merging categorical slots across multiple domains overrides values"
**Rasa version**: 1.10.7

**Rasa SDK version** (if used & relevant): 1.10.2 (not relevant)

**Rasa X version** (if used & relevant): N/A

**Python version**: 3.7

**Operating system** (windows, osx, ...): Linux (Ubunutu)

**Issue**:
This may not 100% be an issue, but something I noticed in using the `MultiProjectImporter`.  What I would like to do is have a categorical slot such as `topic` shared

[2020-09-12 03:12] ortsaCniveK commented on #6070
Looks like that behavior might be found under `verify_nlu()`, think this would be an easy fix to rename

[2020-09-12 03:25] ortsaCniveK opened #6652 "Running Validator without ignoring warnings will fail silently"
**Rasa version**: 2.0.0a4

**Rasa SDK version** (if used & relevant): 2.0.0a4

**Rasa X version** (if used & relevant): n/a

**Python version**: 3.8.2

**Operating system** (windows, osx, ...): Linux-5.4.0-45-generic-x86_64-with-glibc2.29

**Issue**:
Running `Validator.verify_nlu(ignore_warnings=False)` ([which I think needs to be renamed to `verify_all()` as I've mentioned here](https://github.co

[2020-09-12 06:48] #6516 closed

[2020-09-12 13:38] saravananselvamohan commented on #5956
Hi @tabergma. I am a newbie & I wish to work on this issue. From the study of description and source code, I came up with a plan of action to resolve this issue.
**Plan of Action**
I am looking at rasa/nlu/extractors/regex_entity_extractor.py where I able to see the warning is raised for the discussed issue(If I am in the right path). Do we need to log the warning message at that place or we need

[2020-09-12 20:41] MusaAtlihan commented on #6581
@wavymazy did have a chance to try with a different TensorFlow version (2.0.0 for example)? TF 2.1.0 had memory leakage problem as far as I can remember.

[2020-09-12 23:11] #5870 closed

[2020-09-13 11:33] sahinbatmaz opened #6654 "Batch Prediction API"
**Description of Problem**:

I am pointing my feature request in NLU part. '/model/parse' api produces results one by one.

To shorten the response time, a batch prediction can be used. Especially, classifier layers take the most of the time and these models are capable of predicting batches of data.

**Overview of the Solution**:

An additional function can be added to 'Component' class as 'proce

[2020-09-13 11:55] sids07 opened #6655 "ValueError: '' is not in list"
**Rasa version**: 1.10.12

**Rasa SDK version** (if used & relevant): 1.10.2

**Rasa X version** (if used & relevant):

**Python version**: 3.6.10

**Operating system** (windows, osx, ...): Linux(Ubuntu)

**Issue**:

I have been trying to resolve this error for a long time and tried all the available solution for this problem but still not able to solve it. Actually it is not cleared like exactly

[2020-09-13 17:54] #5960 closed

[2020-09-14 01:45] sids07 commented on #6655
Here, i found my error. I was missing slot command on stories.md which was giving me this error.
i.e.
slot{"message":"Yes we have the room available"} which I was writing just {"message":"Yes we have the room available"}

[2020-09-14 01:45] #6655 closed

[2020-09-14 06:00] sara-tagger commented on #6654
Thanks for submitting this feature request 🚀 @akelad will get back to you about it soon! ✨

[2020-09-14 06:00] sara-tagger commented on #6652
Thanks for raising this issue, @melindaloubser1 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-14 06:00] sara-tagger commented on #6651
Thanks for raising this issue, @b-quachtran will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-14 07:14] wochinge commented on #5921
Sorry @Dobatymo, the notifications for your previous message somehow slipped through the cracks. Will give your PR a review 👍

[2020-09-14 08:30] iszainab commented on #5377
Hi can I get some guidance please? I'm using the CRFEntityExtractor with BILOU_flag set as True and my model seems to be splitting the entities. I was under the impression that if I needed my compound entities to be treated as a single entity, I need to use BILOU tagging which seemed to be working fine for me till now. I recently switched from SklearnIntentClassifier to DIETClassifier (configured

[2020-09-14 10:16] #6630 closed

[2020-09-14 11:25] hotzenklotz commented on #6222
@dakshvar22 Thanks for fixing this. Will the fix be available for Rasa version `1.10.x` or only Rasa v2?

[2020-09-14 11:46] #4879 closed

[2020-09-14 12:32] wochinge opened #6659 "NLU is re-trained when stories change"
Whenever you change a story, the NLU model will also be re-trained. This is likely caused by [these lines](https://github.com/RasaHQ/rasa/blob/dcb9b5659ab7a2a87417a7b9af603a37ed30888f/rasa/shared/importers/importer.py#L488).

In addition we should de-duplicate the messages which are added to the NLU training data (sorting would also be great to avoid having diffs in the training data just because

[2020-09-14 13:54] #5954 closed

[2020-09-14 15:15] MajaRolevski opened #6662 "Configuration with CRFEntityExtractor after DIET gives zero entity scores"
**Rasa version**: 1.10.7

**Python version**: 3.7

**Operating system**: Ubuntu 18

**Issue**:  I am using DIET for intent classification and CRFEntityExtractor for entity extraction in a way shown in the configuration file - first component is DIET, after which CRFEntityExtractor comes. The training finishes properly, but after testing the model (rasa test nlu) I get all zero scores (precision, r

[2020-09-14 16:53] tocosastalo opened #6664 "The button message is incorrectly interpreted in shell mode if text contains parentheses"
**Rasa version**: 1.10.11

**Python version**: 3.7.9

**Operating system**: Docker (linux)

**Issue**: The button with the text message containing the parentheses with text is incorrectly interpreted in `shell` mode. The text in parentheses is treated as a new message instead of a payload.

**Command or request that led to error**:

 rasa shell --debug

**Content of domain file (domain.yml)** (if

[2020-09-14 18:25] ArjaanBuijk opened #6665 "rasa test no working in 2.0 for tests in 1.0 format"
**Rasa version**: 2.0.0a4

**Python version**: 3.7.9

**Operating system** (windows, osx, ...): osx

**Issue**:
`rasa test` does not work when the tests are in 1.0 format.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2020-09-14 18:30] #6602 closed

[2020-09-14 19:44] #5992 closed

[2020-09-14 20:23] #6363 closed

[2020-09-14 20:23] #6588 closed

[2020-09-14 20:24] #6475 closed

[2020-09-14 23:05] #6613 closed

[2020-09-15 06:00] sara-tagger commented on #6664
Thanks for the issue, @b-quachtran will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-15 06:00] sara-tagger commented on #6662
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-15 08:16] evgeniiaraz opened #6670 "Bring e2e in *for real* left-overs"
**What's left to do?** _Reading in e2e data_

*   <span class="error">[x]</span> Bring back YAML reading for end-to-end data

Research

*   <span class="error">[x]</span> Store in trackers whether intent / text were used to predict next action
*   <span class="error">[x]</span> In prediction, get the tracker history up to the current state depending on what action was predicted from (get the `inte

[2020-09-15 08:16] gh-tk opened #6671 "Rasa NLU model trainer for supervised embeddings pipeline"
Hello,

So I’m trying to train my data using **supervised embeddings** pipeline.
Rasa version: 1.10.12
Tensorflow version: 2.1.1

**config.yml** contains this:

[code]

I’m running this on my notebook, but I keep on getting an error about **tensorflow**:

[code]

Any ideas on how to fix this?

[2020-09-15 08:31] magdalini-anastasiadou commented on #356
I face the same issue with Rasa 1.10.1

[2020-09-15 08:41] JEM-Mosig opened #6672 "`rasa init` fails with `AttributeError: __aexit__`"
**Rasa version**:
Rasa Version     : 2.0.0a5
master: ecba3fafdedf11e874bb436b61105653a31d777d

**Rasa SDK version** (if used & relevant):
Rasa SDK Version : 2.0.0a5

**Rasa X version** (if used & relevant):

**Python version**:
Python Version   : 3.7.9 (default, Aug 31 2020, 07:22:35)

**Operating system** (windows, osx, ...):
Operating System : Darwin-19.5.0-x86_64-i386-64bit

**Issue**:
It looks

[2020-09-15 08:49] genius0182 opened #6673 "Tracker database query statement problems"
**Rasa version**:
Rasa 1.10.9

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:
python 3.7.7

**Operating system** (windows, osx, ...):
windows,centos
**Issue**:
When tracker is stored in the database, the same command is repeatedly asked 50-60 times, which will cause problems. The reason is that the timestamp field has problems after being

[2020-09-15 09:31] tmbo commented on #6672
fixed on master

[2020-09-15 09:31] #6672 closed

[2020-09-15 12:00] sara-tagger commented on #6673
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-15 12:00] sara-tagger commented on #6671
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-15 12:01] #6659 closed

[2020-09-15 13:00] wochinge commented on #6176
Closing this as it's done

[2020-09-15 13:00] #6176 closed

[2020-09-15 13:01] wochinge commented on #6176
i didn't create an issue for it now - I think we should do so when we actually have the need for it.

[2020-09-15 13:03] wochinge commented on #6623
Fair - so rename it to `action_two_stage_fallback`?

[2020-09-15 13:17] HariTeneti opened #6677 "Update Rasa Kafka event broker producer code to support SASL_SSL and PLAINTEXT protocols"
**Rasa version**: 1.10.12

**Rasa SDK version** (if used & relevant): 1.10.2

**Rasa X version** (if used & relevant): 0.32.2

**Python version**: Python 3.6

**Operating system** (windows, osx, ...): CentOS Linux 7

**Issue**:
RasaX supports SASL_SSL and PLAINTEXT protocols but not RASA.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of

[2020-09-15 13:21] HariTeneti commented on #6539
@erohmensing Thank you. I've submitted an issue https://github.com/RasaHQ/rasa/issues/6677 . Hope it will be fixed soon.

[2020-09-15 13:55] #6558 closed

[2020-09-15 14:10] erohmensing commented on #6539
Oh sorry, I thought you meant you wanted to contribute the fix, since it's open source. Are you interested in doing so?

[2020-09-15 14:15] erohmensing commented on #6673
Can you provide more information about your tracker store setup? The processor clearly tracks the timestamp correctly, the issue seems to be (as you've mentioned) upon saving that data to the tracker store, which would be specific to the type of tracker store you are using.

[2020-09-15 14:46] sahinbatmaz opened #6678 "Number of CPU Cores Used In Model API"
**Rasa version**: 1.10.10

**Python version**: 3.7

**Operating system**: Ubuntu 16.04

**Description of Problem**:
I train an nlu-only model and serve the model with 'rasa run' command.
I send requests to the api and monitor the cpu usage.
I have 8 cpu cores but it seems like the usage is limited to 4 cpu cores.
I tried to set environment variables SANIC_WORKERS, TF_INTER_OP_PARALLELISM_THREADS a

[2020-09-15 15:24] aoduru opened #6679 "RASA taking too long to run on Google Colab"
**Rasa version**:

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.7

**Operating system** (windows, osx, ...): MacOS

**Issue**:

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of domain file (domain.yml)** (if

[2020-09-15 15:35] sahinbatmaz commented on #6679
On Google Colab, tensorflow version 2.3.0 or more is already installed.

Rasa 1.10.10 works on tensorflow 2.1.1, and does not work on 2.3.0 .

When you install rasa on Colab, it does not downgrade tensorflow.

You need to downgrade it manually with ` !pip install tensorflow==2.1.1 `.

[2020-09-15 15:39] sahinbatmaz commented on #6679
Additionally, Colab provides GPU but the provided CPU is very low. It only provides 1 or 2 CPUs which is very low. It might slow down operations around 10x times compared to 8-12 CPU cores.

[2020-09-15 15:53] #6557 closed

[2020-09-15 15:56] aoduru commented on #6679
Also; when I run the following command to get rasa core:
`!pip install rasa_core;`

I get the RASA core version 0.14.5. How do I install rasa_core on Colab to get the 1.10.10 version?

[2020-09-15 19:46] rgstephens opened #6681 "Validate Story Structure abort"
**Rasa version**: 2.0.0a4

**Python version**: 3.7

**Operating system** (windows, osx, ...): OSX

**Issue**:
`rasa validate` aborts with `ValueError: max() arg is an empty sequence` if data directory is invalid or has no stories.

**Error (including full traceback)**:
[code]

[2020-09-15 20:47] MarthaDs commented on #4358
It was created a new Issue for this?

[2020-09-16 02:30] genius0182 commented on #6673
The problem is not always appeared, in some extreme cases, the request is failed to reply, the reason is that the mysql timestamp column sorted, because the timestamp of the content is the same, so there is no effect of sorting, just like in the picture above shows the sort of, in fact with ID 66816668 17, according to the record right should be the last but is actually is displayed in the upper p

[2020-09-16 02:39] rabinpoudyal commented on #4749
seems shortage of resources is the issue. It still persists

[2020-09-16 05:51] rabinpoudyal commented on #4231
{version: "0.31.0", status: "failure", message: "Failed to train a Rasa model.",…}
code: 500
details: {}
help: null
message: "Failed to train a Rasa model."
reason: "StackTrainingFailed"
status: "failure"
version: "0.31.0"

And worker container logs:

`/opt/venv/lib/python3.7/site-packages/rasa/core/brokers/pika.py:294: FutureWarning: Your Pika event broker config contains the deprecated `queue` k

[2020-09-16 06:00] sara-tagger commented on #6679
Thanks for the issue, @akelad will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-16 06:00] sara-tagger commented on #6678
Thanks for submitting this feature request 🚀 @degiz will get back to you about it soon! ✨

[2020-09-16 06:00] sara-tagger commented on #6677
Thanks for the issue, @melindaloubser1 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-16 06:45] chikubee commented on #1801
Hi,
does RASA support
1. Identification of multiple intent in the same domain from the utterance (faq/rasax , faq/channels) -> utterance that talked of both.
2. Identification of multiple intent across diff domains from the utterance (greet + faq/channels)

[2020-09-16 08:06] Ghostvv commented on #6176
what do you mean????
We *actually* need it now, but due to that fact that we don't have time for it, it's not urgent

[2020-09-16 08:08] Ghostvv commented on #6176
I'll create an issue for it

[2020-09-16 08:10] akelad commented on #6623
yeah that would be fine

[2020-09-16 08:12] grungert opened #6684 "Memory leak for CRFEntityExtractor"
**Rasa version**: 1.10.7
**Python version**: 3.7
**Operating system**: Ubuntu 18

**Issue**:  I am using the configuration given below. In the first case, I tested it with a 7MB large training dataset (on my thinking is small set). While training BERT(featurizers, and DIETClassifier), the usage of the server's memory is fine:

- GPU: 71MiB/11441MiB, where 60MiB is used by the training process;
- C

[2020-09-16 08:18] #6556 closed

[2020-09-16 08:36] Ghostvv opened #6685 "NLU FallbackClassifier should have some measure of a confidence of fallback"
Right now, FallbackClassifier substitute intent with `nlu_fallback` with confidence `1`, however its confidence value should mimic the fact how confident we are that it is indeed fallback.

[2020-09-16 08:36] Ghostvv commented on #6176
https://github.com/RasaHQ/rasa/issues/6685

[2020-09-16 09:26] victorbai2 opened #6686 "the function: training_states_and_actions under class TrackerFeaturizer, does not return anything."
**Rasa version**: 1.2.9

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:
3.7
**Operating system** (windows, osx, ...):
windows
**Issue**:
When I check the KerasPolicy in the code, and walk through the Class and functions, I found out that the function: training_states_and_actions under class TrackerFeaturizer, does not return anything.

I j

[2020-09-16 09:38] aoduru commented on #6679
I fixed the previous problem by installing rasa instead of rasa_core and got the 1.10 version. The only problem is that I'm not quite sure how to change how I'm training the NLU model. The code I have is as follows:

`from rasa.core.policies.keras_policy import KerasPolicy
from rasa.core.agent import Agent

Agent()
agent = Agent('domain.yml', policies=[KerasPolicy()])
training_data = agent.load_da

[2020-09-16 09:56] erohmensing commented on #6673
Can you please add the `endpoints.yml` with your tracker store configuration? This has important data such as the dialect used.

[2020-09-16 12:00] sara-tagger commented on #6686
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-16 12:00] sara-tagger commented on #6684
Thanks for the issue, @amn41 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-16 13:46] melindaloubser1 opened #6689 "Conversation Patterns Docs Improvements"
**Description of Problem**:
Things that should still be improved on in the conversation pattern docs.

all:
- [x] replace all yaml conversations with chat component conversations

unexpected-input
- [x] Use an example from an example bot e.g. formbot for contextual interjections

contextual-conversations
- [ ] Explain slots before stories
- [ ] Add an example users can build from start to finish

[2020-09-16 14:58] JEM-Mosig opened #6691 "`rasa data validate` shows wrong conflicting action name"
**Rasa version**:
Rasa Version     : 2.0.0a5 (commit 30d2af7847dd97b02fdad4a4abf7ddb64d8115aa)
Rasa SDK Version : 2.0.0a5
Rasa X Version   : 0.32.0

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:
Python Version   : 3.7.0 (default, Oct  9 2018, 10:31:47)

**Operating system** (windows, osx, ...):
Operating System : Linux-4.15.0-117-generic-

[2020-09-16 17:06] JEM-Mosig opened #6692 "Expand custom slot type docs"
**Description of Problem**:
The docs on [custom slot types](https://rasa.com/docs/rasa/core/slots/#custom-slot-types) are somewhat misleading.

**Overview of the Solution**:
It would be great to have
1. And explicit mention of the fact that you have to implement these slots separately, not as code in your custom actions script, and specify their module path in your domain.
2. Add an example of whe

[2020-09-16 17:17] lucasdutraf commented on #6571
Hey there, @tabergma ! Is someone working on this issue?
I'm new to Rasa community and code contribution, so I think this issue could be a nice start for me! Can I work on this?

[2020-09-16 17:53] aizest opened #6693 "Is there a plan to implement early stopping in model training?"
Do we have a plan for that, or it's already there? That will save some training time and avoid overfitting issues.

[2020-09-16 21:57] gh-tk commented on #6671
Solution: I used **!pip install rasa==1.1.4** instead of **!pip install rasa** since **_supervised_embeddings_** pipline has been deprecated on the newer versions of RASA.

[2020-09-16 21:57] #6671 closed

[2020-09-16 23:06] kevinthemself opened #6695 "Story Structure validation should include a check against max number of predictable actions"
**Description of Problem**:

I've run into issues similar to <span class="error">[this| ]</span> whereby I've created stories with more than 10 actions after a given intent. While it was easy to find during runtime, I think that data validation scripts should catch any stories that train the model to queue up more than 10 actions after any given intent.

Perhaps they could give a warning (as they

[2020-09-17 00:38] genius0182 commented on #6673
[code]

[2020-09-17 01:27] mbslet commented on #6232
@shawnbzhang I tried to replicate these steps and uncommented the config.yml lines **ConveRTTokenizer** and **ConveRTFeaturizer**. There was no problem and I managed to run the` rasa train` command. I did all the initial installations of rasa inside a virtual env.

[2020-09-17 02:53] rejae opened #6696 "rasax can not display multi dispatcher in an interactive, but rasa shell can display multi dispatcher result"
**Rasa version**:1.10.9

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):0.32.2 & 0.32.0 both test

**Python version**:3.7.7

**Operating system** (windows, osx, ...): windows

**Issue**:
rasax can not display multi dispatcher in an interactive, but rasa shell can display multi dispatcher result
but my proceduer is going well

**Error (including full traceback)*

[2020-09-17 02:56] rejae commented on #6696
hi, I don't provide config, domain etc, files because I do test in offical examples, I write twice code in an simple action, and do test in rasa x, and get only first dispatcher, can someone help me figure out what happend in rasa x
class ActionGreet(Action):
    def name(self) -> Text:
        return "action_greet"

    def run(self,
            dispatcher: CollectingDispatcher,
            track

[2020-09-17 06:00] sara-tagger commented on #6696
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-17 06:00] sara-tagger commented on #6695
Thanks for submitting this feature request 🚀 @erohmensing will get back to you about it soon! ✨

[2020-09-17 06:00] sara-tagger commented on #6693
Thanks for submitting this feature request 🚀 @melindaloubser1 will get back to you about it soon! ✨

[2020-09-17 07:24] akelad opened #6697 "Reconsider Form description on stories docs page"
Forms are described in the stories page at the moment, but we say people should write those with rules, so not sure whether they should be described there at all.

[2020-09-17 12:18] melindaloubser1 commented on #6677
@HariTeneti It looks like Rasa supports `SSL` and `SASL_PLAINTEXT` -  https://github.com/RasaHQ/rasa/blob/d44f23ef2037c531190cbf653a6f5c15424e7bce/rasa/core/brokers/kafka.py#L51-L61

In your issue description, do you mean Rasa should also support `SASL_SSL` and regular `PLAINTEXT` ? That's what I gottfrom the title, but I wasn't sure based on the description

[2020-09-17 12:21] HariTeneti commented on #6677
Yes, please update Rasa to support SASL_SSL and regular PLAINTEXT. Thank you.

From: Melinda Loubser [mailto:notifications@github.com]
Sent: Thursday, September 17, 2020 8:19 AM
To: RasaHQ/rasa <rasa@noreply.github.com>
Cc: Teneti, Haribabureddy <HTeneti@sscinc.com>; Mention <mention@noreply.github.com>
Subject: Re: [RasaHQ/rasa] Update Rasa Kafka event broker producer code to support SASL_SSL and

[2020-09-17 12:44] tttthomasssss commented on #6693
Hi @aizest, thanks very much for raising this question!

Do you mean early stopping as in stop training if validation performance didn't improve by at least `delta` for `n` number of epochs?

We have merged model checkpointing into master just recently (see the relevant PR [here](https://github.com/RasaHQ/rasa/pull/5985)). If model checkpointing is enabled the best model during training will be sa

[2020-09-17 12:53] wochinge commented on #4749
@rabinpoudyal Can you please create a new issue with a detailed error description? Thanks 🙌

[2020-09-17 12:57] wochinge commented on #6616
@erohmensing Didn't you fix this? Can I move this to CSE board

[2020-09-17 13:09] wochinge commented on #6287
@Saladdin can you please have a look?

[2020-09-17 13:12] wochinge commented on #5768
I'll close this as this should be done via a subclassed channel.
@kwatog Do [these docs](https://rasa.com/docs/rasa/user-guide/connectors/custom-connectors/) help you? Otherwise I'd ask you to please ask the question in the [Rasa Forum](https://forum.rasa.com)

[2020-09-17 13:12] #5768 closed

[2020-09-17 13:16] wochinge commented on #6486
@akelad Why did you add this to the RC milestone? Seems like nice-to-have and something which could go into 2.1

[2020-09-17 13:24] wochinge commented on #6409
Feel free to wrap this up. Otherwise I can do it when I'm back.

[2020-09-17 13:24] #6559 closed

[2020-09-17 13:28] wochinge opened #6703 "Pika event broker connection breaks down"
Rasa Open Source stops sending events via the pika event broker. Note that it works in the beginning and then stops working.

More info in [Slack Thread](https://rasa-hq.slack.com/archives/C36SS4N8M/p1600344241464500)

Rasa Open Source version: 0.28.6

**Stack Trace:**
[code]

**Investigation so far**
* there is an issue https://github.com/pika/pika/issues/1219 which suggest that this is caused by

[2020-09-17 13:34] wochinge commented on #6703
High Prio because this breaks Rasa X usage and involves customers.

[2020-09-17 13:57] nbeuchat commented on #6090
I love it! Very much waiting to have it in Rasa 2.0. I just implemented last week something that would have greatly benefited from the custom auto slot filling. It's also great combined with the new entities groups (for example, to pick or ignore a group for auto-filling a slot).

[2020-09-17 14:22] nbeuchat commented on #6090
No worries at all 😄 In any case, we'll have some work to do to migrate to 2.0 in the first place so I wasn't expecting to have that new feature up and running directly :-) Thanks for the update!

[2020-09-17 15:07] mrcartier opened #6705 "InvalidUsage(“Failed when parsing body as json”) when trying to train"
**Rasa version**: 1.10.11

**Python version**: 3.6.9

**Operating system**: Ubuntu 18.04

**Issue**: unable to train using json data

**Error (including full traceback)**:

 <span class="error">[2020-09-17 14:53:23 +0000]</span> <span class="error">[3651]</span> <span class="error">[ERROR]</span> Exception occurred while handling uri: 'http://localhost:5005/model/train'
 Traceback (most recent cal

[2020-09-17 15:37] aizest commented on #6693
Hi @tttthomasssss ,

Thanks for the quick reply.

Yes. By early stopping, I mean to stop training earlier if the performance doesn't get improved in N epochs.
Here, could we specify a separate validation set to measure the performance of the latest model?
It's better to use a validation set rather than the training set in evaluating the evolving model.
This will ensure the model has better general

[2020-09-18 02:56] howl-anderson opened #6707 "Port back patch "remove bilou tag prefix from role and group labels" to Rasa 1.x"
**Rasa version**: 1.10.12

**Issue**: extract entities with roles and groups failed since there is a bug related to the BILOU tag scheme.

patch "remove bilou tag prefix from role and group labels" (commit id: 3ede6f650cd19c542a0f18291338944d2d41205d) by @tabergma 14 days ago fixed this bug in 2.x, but this bug still exists in 1.x (at least  v1.10.12), so please port back the patch to 1.x

[2020-09-18 06:00] sara-tagger commented on #6705
Thanks for the issue, @tabergma will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-18 06:00] sara-tagger commented on #6707
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-18 07:23] yashrajjain726 opened #6708 "Tutorial Link not working in Readme.md"
The link provided in the rasa readme.md file for the tutorial part is not working.

[2020-09-18 07:55] akelad commented on #6486
why a nice to have?

[2020-09-18 08:13] tttthomasssss commented on #6693
So, at the moment we don't support early stopping (but, alas, we now have an issue for it ;)). For model checkpointing we currently use a random sample of the training set to estimate performance - which as you say is not an ideal situation, however we are working on adding support for specifying a validation set when running e.g. `rasa train ...` (see #5747).

[2020-09-18 08:28] akelad commented on #6679
Hey @aoduru where did you get the code originally for google colab? That is a very old rasa verison. You can take a look at how to train a model [here](https://rasa.com/docs/rasa/jupyter-notebooks#train-a-model) via python code.
I'm going to close this issue as it's more of a usage question. If you need more help, please ask on our community [forum](https://forum.rasa.com)

[2020-09-18 08:28] #6679 closed

[2020-09-18 08:33] #1801 closed

[2020-09-18 10:34] JustinaPetr commented on #6696
Hi @rejae. I can't reproduce the issue. Can you confirm that the custom action server is running and could you check the logs for any errors with your custom action?

[2020-09-18 12:00] sara-tagger commented on #6708
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-18 12:24] borijang opened #6710 "Cannot initiate model"
**Rasa version**:
2.0.0rc1

**Python version**:
3.8.5

**Operating system** (windows, osx, ...):
Windows 10

**Issue**:
I cannot initiate the base model using rasa init. Installed 2.0.0rc1 using a fresh conda environment, with CUDA 10.1 with CUDNN already installed. The 1.x version initialized and trained just fine.

**Error (including full traceback)**:
[code]

**Command or request that led to er

[2020-09-18 16:12] tmbo commented on #6708
Thanks a lot for reporting this - we are currently rolling out our new docs - should be fixed 🙂

[2020-09-18 16:12] #6708 closed

[2020-09-18 21:07] Plurno opened #6712 "Entity detection in End to End testing fails when multiple entity extractors both extract the same entity"
**Rasa version**: 1.10.9 **Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.7.7 **Operating system** (windows, osx, ...): Debian GNU/Linux 10 (buster) **Issue**: Here is an example of an End to End test that I put in my tests/conversation_tests.md file.

1.  1.  Foreign language story

*   greet: hi

*   action_greet
*   rewind

*   ask_book

[2020-09-18 23:02] Henrike100 commented on #3998
Is someone working on this issue?
I'm new to Rasa community and code contribution. Can I work on this?

[2020-09-19 03:58] captionthis commented on #6570
Oh yeah, ignore the if `__name__ == '__main__':`, I was testing something out and just forgot to remove it. But aside from that, it is very strange why `speech_recognition` will not import. I get that with every other library I try to import and it seems to give me the same error. I know it's been a few days from my last response but I've been a little busy and just got back to it today. I ended u

[2020-09-19 08:00] sahinbatmaz commented on #6654
Any updates on this issue?

[2020-09-19 09:32] #5982 closed

[2020-09-19 09:32] #5912 closed

[2020-09-19 11:24] WendyDuong commented on #5579
many thank

[2020-09-19 22:19] #6032 closed

[2020-09-20 03:37] #5810 closed

[2020-09-20 09:15] dakshvar22 commented on #6036
@mishra-atul5001 Can you try with the latest version `1.10.11` and see if the issue persists?

[2020-09-20 10:37] #6022 closed

[2020-09-21 04:21] rejae commented on #6696
I get the first dispatcher message '1111111111111111111', but '222222222222222222' is  not shown.
I  run rasa x --debug, found the two utter_message info  as follow:

`DEBUG:rasax.community.services.event_service:Saving event from origin 'production' to event service:
{"sender_id": "4135613702cb47dbaa92da0973c237cf", "event": "bot", "timestamp": 1600661392.78481, "text": "11111111111111", "data":

[2020-09-21 06:00] sara-tagger commented on #6712
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-21 06:00] sara-tagger commented on #6710
Thanks for raising this issue, @koaning will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-21 06:16] koaning commented on #6710
Hi @borijang could you tell us what tensorflow version your got in your virtualenv at this point?

[2020-09-21 08:57] borijang commented on #6710
Hi @koaning,

Tensorflow version is 2.3.0, automatically installed with the command `pip install rasa[spacy]==2.0.0rc1`.

It is probably helpful to mention that after installing rasa like this, I get the following incompatibility message:

tensorflow-probability 0.10.1 requires cloudpickle==1.3, but you'll have cloudpickle 1.4.1 which is incompatible.
tensorflow 2.3.0 requires gast==0.3.3, but you

[2020-09-21 09:04] tabergma commented on #5956
@sagarvanave Sorry for the late reply, I was out of office.

Thanks for taking over this issue! This issue is related to the `RegexFeaturizer` not the `RegexEntityExractor`. So you should look at [this method](https://github.com/RasaHQ/rasa/blob/master/rasa/nlu/featurizers/sparse_featurizer/regex_featurizer.py#L78). When we do not generate any features for all examples in the training data, we sho

[2020-09-21 09:19] tabergma commented on #5377
@iszainab Thanks for you interest. Can you please ask your question on the [forum](https://forum.rasa.com/) with some more details around how your pipeline looks and an example of an entity that gets split? Thanks.

[2020-09-21 09:22] musa-atlihan commented on #6623
Hey @wochinge , may I try to close this issue? I would like to work on this.

[2020-09-21 09:30] tabergma commented on #6571
@lucasdutraf Sure, feel free to pick it up :rocket:

[2020-09-21 09:35] #6047 closed

[2020-09-21 09:52] erohmensing commented on #6370
closing as duplicate of `https://github.com/RasaHQ/rasa/issues/6370`

[2020-09-21 09:52] #6370 closed

[2020-09-21 10:02] samsucik commented on #4613
I think this can now be closed as the filter-by-intent feature has been added.

[2020-09-21 11:28] degiz opened #6716 "Converter tool not working for E2E stories"
Part of #6638

### The Issue:

The converter script converts this markdown e2e story:

[code]

into this yaml:

[code]

... which doesn't match the E2E format in the docs ([https://rasa.com/docs/rasa/next/testing-your-assistant#end-to-end-testing](https://rasa.com/docs/rasa/next/testing-your-assistant#end-to-end-testing))

The `intent` section should look different:
[code]

### How to reproduce:

[2020-09-21 12:12] TyDunn commented on #6570
@captionthis When you uninstalled and reinstalled, did you start with a brand new virtual environment? If not, I would try that. I would also try it with a later version of Rasa Open Source or maybe even a different environment manager

[2020-09-21 12:52] lunelson commented on #6349
This is already in the current solution

[2020-09-21 12:52] #6349 closed

[2020-09-21 13:54] tabergma commented on #6705
@mrcartier Please take a look at the [API spec](https://rasa.com/docs/rasa/pages/http-api#operation/trainModel). Can you try using the example given there? Is it working?

[2020-09-21 14:55] ricwo opened #6721 "Setting slots before conversation starts leads to empty bot responses"
**Rasa version**: 2.0.0rc1

**Python version**: 3.7.8

**Operating system** (windows, osx, ...): osx

**Issue**: Settings lots via the API for a new conversation ID leads to an empty bot response after the first regular user message. The issue was first reported here: https://forum.rasa.com/t/api-unexpected-behavior-bug/33400

[2020-09-21 17:28] Ierezell opened #6726 "Rasa not added to path"
Rasa Version : 2.0.0rc1
Rasa SDK Version : 2.0.0rc1
Rasa X Version : None
Python Version : 3.8.5 (default, Sep  5 2020, 10:50:12)
Operating System : Linux-5.8.10-zen1-1-zen-x86_64-with-glibc2.2.5
Python Path : /usr/bin/python

**Issue**: Rasa is not added to path, thus all the command rasa xxx are not found
**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[co

[2020-09-21 20:13] lucasdutraf commented on #6571
Amazing! I'm already working on it

[2020-09-21 21:50] mrcartier commented on #6705
Hey @tabergma just tried & It's the same error. At first it kept telling me that false was undefined from `"force": false,
"save_to_default_model_directory": true` but when I changed it to `"force": False,` the error came back. I also made false into a string `"force": "false",` just to see if it would work but the error remains.

[2020-09-21 22:19] b-quachtran opened #6728 "Rasa data validation not updated for new ResponseSelector format"
**Rasa version**: 2.0.0rc1

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

The new ResponseSelector format (#6591) breaks Rasa data validation command since the new format does not require response selector actions (e.g. `utter_chitchat`) to be added to the domain file.

**Error (incl

[2020-09-21 23:55] b-quachtran opened #6729 "Run training fingerprinting via the CLI"
**Description of Problem**:

Request to be able to create `fingerprint.json` file via the CLI without having to run `rasa train`. Feature will make it easier to run CI checks against Rasa assistant code changes.

**Overview of the Solution**:

Exposing a CLI command to generate `fingerprint.json`, something along the lines of `rasa fingerprint` or `rasa train --fingerprint`

**Examples** (if relev

[2020-09-22 00:52] genius0182 commented on #6673
@erohmensing endpoints.yml is in the reply above

[2020-09-22 01:13] MarthaDs commented on #6133
Hi, me and @aleronupe are interesting in this issue and started to wok on it. @melindaloubser1 do you have any example of how you think the logging should look like?

[2020-09-22 04:46] nareshmungpara commented on #4545
I am also facing the same issue and downgrading is not an option as rasa X will not otherwise.

`(rasa_env) E:\Work\AI_And_Iot\CHAT BOTS\RASA\restorent_test_chat_bot>rasa train
2020-09-22 10:12:53 INFO     rasa.model  - Data (messages) for NLU model section changed.
Core stories/configuration did not change. No need to retrain Core model.
Training NLU model...
Traceback (most recent call last):

[2020-09-22 06:00] sara-tagger commented on #6726
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-22 07:32] TyDunn commented on #6729
@tmbo Is this something we could include in 2.0? [NIB has been asking for this for a while](https://rasa-hq.slack.com/archives/C0148JNFXLG/p1592267651000100), and I think something like it makes sense. The workflow for checking if a model needs to be trained is cumbersome right now because you have to diff check the config, training data, domain file, and Rasa version today

[2020-09-22 07:40] tmbo commented on #6729
yes I think this should be easy enough to add and I'd agree this does seem useful.

[2020-09-22 07:54] TyDunn commented on #6474
@akelad The @RasaHQ/production-engineers were asking if your team has bandwidth to take this on. Maybe it could be a joint effort? For example, someone on your team could handle investigate the changes to to other platforms and update the documentation, while someone on the production squad updates the converters

[2020-09-22 08:01] saravananselvamohan commented on #5956
@tabergma. Thanks for the reply. In `RegexFeaturizer ` I able to see, we are getting `sequence_features, sentence_features`. So if both are none, we may log the warning. Does my understanding is right.

[2020-09-22 08:07] tabergma commented on #5956
If there are no `sequence_features`, `sentence_features` for all training examples, only then we should log the warning. So I would change the method to return a boolean value indicating whether features could be extracted or not. And then you could check in `train` if we could find any features. If not, you should log the warning.

[2020-09-22 08:16] degiz opened #6732 "Test stories don't work if they aren't in the end-to-end format"
Part of #6638

**Rasa version**: 2.0.0rc1

Test stories don't work if they aren't in the end-to-end format, even if they are still valid story files e.g.

[code]

This story will fail because the intent `get_started_step1` gets interpreted as a message instead of an intent. The output file `failed_test_stories.yml` shows this:

[code]

[2020-09-22 08:26] dakshvar22 commented on #6654
@sahinbatmaz Thanks for suggesting this. Although, this makes sense from a technical perspective as it could speed up inference in some cases but not really for use cases Rasa Open Source focusses on.
What's your exact use case for doing batch inferencing in Rasa Open Source?

[2020-09-22 09:23] m-vdb commented on #6620
@tmbo I realised that we can improve the current workflow to simplify the way docs are released. Currently, the docs are released when:
1. there is a push to master
2. a new version tag is pushed

The 1. is great, the 2. not so much. If we were to switch the behaviour to "there is a push on a release branch", then we'd be able to update docs without pushing version tags. I think it'd be easier fro

[2020-09-22 10:03] tmbo commented on #6620
Yes I think that is something we can try :+1:

[2020-09-22 11:21] #6620 closed

[2020-09-22 12:01] abhilasharoy opened #6734 "Multiple users wondered what the | symbol is for in the NLU training data format"
During the Rasa 2.0 user tests, multiple users wondered what the | symbol in the NLU data format is for, and if its necessary

[2020-09-22 12:04] abhilasharoy commented on #6734
@degiz @wochinge what do you think we could do about this?

[2020-09-22 12:06] abhilasharoy opened #6736 "Fallback classifier should be part of the default pipeline"
During the Rasa 2.0 user tests one insight was that Fallback classifier should be part of the default pipeline

[2020-09-22 12:08] abhilasharoy opened #6737 "There are a lot of tensorflow warnings when starting rasa"
A general insight from the Rasa 2.0 user tests

Tobias wrote in the user feedback doc:

[2020-09-22 13:09] m-vdb commented on #6435
@lunelson I don't think it's possible to cleanup the legacy docs for v0 because they rely on archived repositories. The deployment is handled in [the `RasaHQ/legacy-docs-deployment` repo](https://github.com/RasaHQ/legacy-docs-deployment), and connects to other archived repo (rasa_core, rasa_nlu, and others). I don't think it's worth the trouble (and I don't even know it's possible to do properly).

[2020-09-22 13:16] melindaloubser1 commented on #6133
Not sold on a specific format, but it should represent a human-readable version of the state. It'll be important to keep in mind what the state really means: Each item in the list is the last action + last intent (which was not necessarily the previous step, there could be multiple actions). If the action is `action_listen`, then that intent was the previous step.  The example shown in the issue d

[2020-09-22 14:22] #6435 closed

[2020-09-22 14:34] degiz commented on #6734
I think we need to clarify that somewhere in the docs. Not sure if there's a better solution, since we don't want to change that.

[2020-09-22 14:39] tabergma commented on #6662
@MajaRolevski Thanks for raising the issue. I have some problems reproducing the issue. I trained the `formbot` example (`examples/formbot`), which has some entities, with the config you shared via `rasa train nlu` and tested it afterwards with `rasa test nlu`. The `results/CRFEntityExtractor_report.json` file contains proper values for all metrics.
Can you maybe share a minimal example whic his n

[2020-09-22 14:53] connorbrinton opened #6741 "ConveRT model fails to load due to updated TensorFlow Hub module URL"
**Rasa version**:

**Python version**:

3.7.7

**Operating system** (windows, osx, ...):

Tested on OS X, Linux, probably occurs on Windows too

**Issue**:

The hosting location of the ConveRT Tensorflow Hub module has been updated. It now is available from the following URL:
[code]

The [old hosting location](http://models.poly-ai.com/convert/v1/model.tar.gz) has been taken down. This means that

[2020-09-22 15:03] connorbrinton commented on #6741
I've created a PR updating the model URL: https://github.com/RasaHQ/rasa/pull/6742

I've also opened [an issue](https://github.com/PolyAI-LDN/polyai-models/issues/44) on the [PolyAI models repository](https://github.com/PolyAI-LDN/polyai-models) asking them to 301 redirect the old model URLs to the new model URLs 🙂

[2020-09-22 18:33] #6741 closed

[2020-09-23 00:25] aleronupe commented on #6133
Thank you for your answer @melindaloubser1. We will proceed to work on this issue targeting the 2.x version currently on master.
We noticed that there are a few differences on tracker state between the two versions of rasa, hence the new format is as follows:

[code]

Is it okay if we follow the same approach of human-readable logs of your previous answer?

[2020-09-23 03:32] RomuloSouza commented on #6603
Hi, @aleronupe and I are interested in taking this issue and will start working on it

[2020-09-23 06:00] sara-tagger commented on #6737
Thanks for raising this issue, @tttthomasssss will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-23 06:00] sara-tagger commented on #6736
Thanks for raising this issue, @koaning will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-23 06:28] ridhimagarg commented on #6741
@connorbrinton Still the error persists.

Any updates on this?

[2020-09-23 06:43] tabergma commented on #6705
Can you please take a look at [this froum thread](https://forum.rasa.com/t/error-in-http-post-requests-restfulapi/12625/7) and check if it helps?

[2020-09-23 07:32] Mina-Fsh commented on #6741
I am having the same error.

[2020-09-23 08:27] degiz commented on #6649
Hey @dakshvar22
What about using the `matadata` field to distinguish training examples from each other? That's the main purpose of it.

[2020-09-23 08:29] dakshvar22 commented on #6649
@degiz Correct me if I am wrong but isn't `metadata` attached to each training example and not to a group of them. As Tom mentioned in the slack thread, it's not the best use case for it I think.

[2020-09-23 08:32] degiz commented on #6649
There are two `metadata` - one is on the training example level, another is on the intent level.
But I see that it might not be the perfect solution.

[2020-09-23 08:33] dakshvar22 commented on #6649
@degiz Can you show with an example please, how those would look?

[2020-09-23 09:25] degiz commented on #6649
@dakshvar22 your example would look like this:
[code]

This will not work now, because intent-level metadata will be overwritten every time. But we can change the implementation keeping the same syntax, and apply intent-level metadata to the training examples in belongs to.

I also don't understand one thing - should this "source of data" influence the training in any way? Or it's just the visual

[2020-09-23 09:28] dakshvar22 commented on #6649
Thanks @degiz . The idea is to use this "source of data" to influence the training going forward. I see this as a pre-requisite for it.

[2020-09-23 09:31] erohmensing opened #6750 "make intent names, response names, and action names case-insensitive"
**Description of Problem**:

When developing in Rasa Open Source or Rasa X, its a very common occurrence that a user might, when writing a story, accidentally mistype the casing of an intent or action.

When using Rasa Open Source, you'll get a log when the training fails thaat says `<mistyped action>` is not a registered action for this domain. However in rasa x, your training fails and you're no

[2020-09-23 10:34] howl-anderson opened #6752 "Bug of Chinese tokenization in 2.0.0rc1"
**Rasa version**: 2.0.0rc1

**Python version**: 3.8.2

**Operating system** (windows, osx, ...): ubuntu 20.04

**Command or request that led to error**: rasa train

**Issue**:
Every Chinese train example is split as one and only one token by mistake, all Chinese character without whitespace inside will treated as one token with each character as subtoken. when the example comes with entities, it w

[2020-09-23 11:15] howl-anderson opened #6754 "Bug of Chinese tokenization in 1.10.12"
**Rasa version**: 1.10.12

**Python version**: 3.7.4

**Operating system** (windows, osx, ...): ubuntu 20.04

**Command or request that led to error**: rasa train

**Issue**:
When Chinese training example contains an OOV character, it will be converted to `[UNK]` as token string, when rasa tries to align tokens with entities it will count the token's length, it treat `[UNK]` as 5 length string whi

[2020-09-23 12:00] sara-tagger commented on #6754
Thanks for raising this issue, @koaning will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-23 12:00] sara-tagger commented on #6752
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-23 12:20] gbax commented on #6741
Please update to 1.10.14. Bug fixed there.

[2020-09-23 13:27] koaning opened #6758 "Deleting `~/.config/rasa/global.yml`adds too many messages"
**Rasa version**:

[code]

**Issue**:

When I delete `~/.config/rasa/global.yml` there's an overflow of messages when I run `rasa init` afterwards.

[code]

It feels like a single warning should be enough. I'm mentioning this because it feels like there's something internally going awry.

[2020-09-23 13:33] koaning opened #6759 "Mention the State of Telemetry during `rasa init`."
**Description of Problem**:

Users should be well aware of the new telemetry. In particular when a user runs `rasa init` it feels like they need to be, at the very least, reminded.

## Current Flow

Currently there is no mention of telemetry.

 (venv) ➜ rasa init
 Welcome to Rasa! 🤖
 To get started quickly, an initial project will be created.
 If you need some help, check out the documentation at

[2020-09-23 13:42] koaning commented on #6758
I just ran it again and it also seems like I do not get a telemetry notification. @tmbo suggested on slack that this was expected behavior so I'm mentioning it here since it may be related.

[code]

[2020-09-23 13:52] m-vdb commented on #6623
thanks for taking this on @musa-atlihan 🙏  We'll review your PR in the coming days

@wochinge just a sanity check: do we rase a deprecation warning saying that `TwoStageFallbackPolicy` will be removed in 3.0?

[2020-09-23 14:32] lunelson commented on #6330
@m-vdb @fullpoint update:

After my last email with Sylvain Pace I've had no response. He last suggested a single index using different tags (as noted above) instead of three different indexes, but as far as I can tell this is an under-documented scenario.

Otherwise [the normal process of applying for an index is explained here](https://docsearch.algolia.com/docs/how-does-it-work), and I think we

[2020-09-23 14:33] m-vdb commented on #5573
removing milestone because we have kept support for all of these hacks (confirmed by @degiz ) and we haven't found better alternative yet.

[2020-09-23 14:39] m-vdb commented on #6378
Fixed by @tmbo in https://github.com/RasaHQ/rasa/pull/6457

[2020-09-23 14:39] #6378 closed

[2020-09-23 14:46] m-vdb opened #6762 "Docs for GET /conversations/<conversation_id>/story endpoint shows markdown example instead of yaml"
Relates to https://github.com/RasaHQ/rasa/issues/6378

We might want to change this part of the API spec (and maybe other parts):

https://github.com/RasaHQ/rasa/blob/a754bd9eb1a14af384189a342d16afa3aeaff51f/docs/static/spec/rasa.yml#L869-L881

cc @wochinge @degiz

[2020-09-23 14:50] gibrano commented on #6376
I solved it downgrading tensorflow_hub ---> pip install tensorflow_hub==0.8

[2020-09-23 15:00] Mina-Fsh commented on #6741
@gbax Sorry but I'm confused, what should be updated to 1.10.14?

[2020-09-23 15:14] m-vdb commented on #6736
@Ghostvv @wochinge do you have any insights on this? Is this something that we want to do? Or is it something we should document better? (it comes from a user feedback)

[2020-09-23 15:25] m-vdb commented on #6729
decided to add this to 2.1 milestone, as it's a new feature and shouldn't be release blocking for 2.0

[2020-09-23 15:30] #6758 closed

[2020-09-23 15:33] akelad commented on #6474
@RasaHQ/cseteam thoughts? I'm not so sure about bandwidth, there's a lot of docs stuff going on still as well.

[2020-09-23 16:23] erohmensing opened #6763 "external- and anchor- linkchecking for docs"
On our previous docs, we did more linkchecking than we now do:
- external links are currently not checked (this most commonly previously caused issues linking from rasa to rasa x and vice versa, but also there are some links that if they go dead, we won't catch it for a long time)
- anchors for internal links are not checked (previously these were done with explicit, movable references). This mean

[2020-09-23 16:36] erohmensing opened #6764 "improve SEO in docs"
- [ ] make sure every page has a `description` and that it is up to date (does not reference old product names)
- [ ] check header heirarchy -- each page should start with h2 (`##`) as the h1 is taken care of by the title. from there, headers underneath should be sequential with no skipping.
- [ ] remove references to old product names (rasa core, rasa nlu) where possible

[2020-09-23 16:38] erohmensing opened #6765 "improve accessibility in docs"
- [x] make sure that every image has a descriptive caption and descriptive alt text
- [x] check for non-descriptive link texts, like `here` and `this page` and replace with the name of what is being linked to
- [ ] check for pages where lists/bullets are being used where headers would be more appropriate

[2020-09-23 16:40] erohmensing opened #6766 "docs wishlist: add titles to included sources"
Currently you can include a source file via a reference, but you can't add a title to the code snippet that it renders, like you can with a code snippet you've written. Ideally, you could!

[2020-09-23 16:48] erohmensing opened #6767 "incorporate removed content from the docs"
A few pieces of the old docs were removed because they didn't have a natural place in the new docs. We should consider where this information should go, if it still needs to be available. This includes:

- the [core](https://github.com/RasaHQ/rasa/blob/1.10.14/docs/core/about.rst) and [nlu](https://github.com/RasaHQ/rasa/blob/1.10.14/docs/nlu/about.rst) "about" pages --> incorporate into rasa open

[2020-09-23 17:01] m-vdb opened #6768 "Filter more information from Sentry error reporting"
Current Sentry errors are sent to the [#product-engineering-alerts](https://rasa-hq.slack.com/archives/C01585AN2NP) channel. By checking some of the error reports:

- stacktraces include full disk path (for example, clicking on "Full" in [this issue](https://sentry.io/organizations/rasahq/issues/1909338082/?project=2801673&query=is%3Aunresolved&statsPeriod=14d)). We might want to only include stac

[2020-09-23 17:05] m-vdb commented on #6763
A quick search yielded two plugins that could be helpful for us: [remark-validate-links](https://github.com/remarkjs/remark-validate-links) (validate links to headers) and [remark-lint-no-dead-urls](https://github.com/davidtheclark/remark-lint-no-dead-urls). They will definitely need some tweaking.

[2020-09-23 17:14] erohmensing opened #6769 "resolve TODOs in docs"
there are still some lingering TODOs in the docs which we should address before the 2.0 release. This should probably wait until the docs workshop prs are merged though, as its possible that content will address some of the TODOs.

[2020-09-23 19:29] silvasara commented on #4341
Hi, @Henrike100 and I are interested in taking this issue and will start working on it

[2020-09-23 21:34] andrew-mcmaster opened #6771 "Change tag color in Rasa X"
**Description of Problem**: Would like to be able to choose tag color from Rasa X during creation and change after creation.

**Overview of the Solution**: If there was an edit button/icon beside each tag in the tags list on Rasa X it could trigger the tag name to be an input field or popup with another field to include a simple field with hex code with optional small box to show color.

**Example

[2020-09-23 22:15] chaneyjd commented on #6721
I think the tracker is under the mistaken assumption that because it is not empty (but with only SlotSet events) it has interacted with the user (incorrect assumption).

I am assuming also that there might be other events (API) that should be ignored here (or at least not assumed to be user interaction events).

**I am able to "correct" the issue by the following:**
In the applied_events method in

[2020-09-23 22:18] chaneyjd commented on #6721
and the diff:

--- a/rasa/shared/core/trackers.py
+++ b/rasa/shared/core/trackers.py
@@ -425,7 +425,10 @@ class DialogueStateTracker:
                     event.action_name, applied_events
                 )
             else:
-                applied_events.append(event)
+                if not isinstance(event, (SlotSet)):
+                    applied_events.append(event)
+                else:

[2020-09-23 23:46] askushwah opened #6773 "Response containing buttons sent on Whatsapp shows both text and payload together"
**Description of Problem**:

The response looks clumsy and the payload should not be visible to the end user.

**Overview of the Solution**:

When the Twilio connector sends the response, check if the response contains "(/" and if it does, trim the response from the position where "(/" started till the end. This is safe to do because the payload is always attached at the end of the string after th

[2020-09-24 00:41] lucasdutraf commented on #6571
Hey @tabergma ! @mbslet and I are working together and we've got some progress, but also some questions about this issue.

First, we wanted to know if the expected output is something like that, to assure that we are on the right path for solving this issue:
[code]
Second, we didn't understand if all the mentioned commands like `rasa shell` , `rasa shell nlu` and `rasa run` should have the model r

[2020-09-24 05:14] captionthis commented on #6570
After hours of uninstalling and reinstalling everything... it finally works. It does not throw up an error if I run my code. Thank you for all your help @TyDunn! It was very much appreciated.

I listened to what you said and I uninstalled my virtual environment and installed a brand new one. That seemed to do the trick because it no longer gives me any errors! Thanks again for all your help and I'

[2020-09-24 05:14] #6570 closed

[2020-09-24 05:44] rohitnairtech commented on #6741
I think he's talking about rasa 1.10.14
`
pip install rasa==1.10.14`

[2020-09-24 05:59] tabergma commented on #6571
As far as I understood the request of @Akhil-YS the model path should appear in all kind of commands and not only in debug mode but in also if you run, for example, `rasa shell` without the `--debug` flag.
Regarding the expected output, I would log something like `Loading model <relative model path>...`.
As mentioned above I think you should be able to add a log statement in this [line](https://gi

[2020-09-24 06:00] sara-tagger commented on #6773
Thanks for submitting this feature request 🚀 @TyDunn will get back to you about it soon! ✨

[2020-09-24 06:00] sara-tagger commented on #6771
Thanks for submitting this feature request 🚀 @akelad will get back to you about it soon! ✨

[2020-09-24 06:03] ricwo commented on #6721
thanks @chaneyjd for looking into this. do you want to open a PR and we can discuss your solution there?

[2020-09-24 06:14] venu239 commented on #1363
Unable to Train NLU 0.15.1 with end point POST/Train
 I am created config file config/config_spacy.json
[code]

Command used to Run
curl -XPOST -H "Content-Type: application/x-yml" localhost:5000/train?project=1234 -d @config/config_spacy.json

Error I am Receiving as follows
{
  "error": "while scanning for the next token\nfound character that cannot start any token\n  in \"
<unicode string>\", l

[2020-09-24 06:48] xkungfu commented on #6752
@howl-anderson
你好，借楼请教一个问题，我在试用rc1时也遇到了问题，但是因为我是新手，我不能确定是源码的问题，还是我自己使用不当造成的。网上查到的资料都是关于旧版的rasa的，2.0版还没有见到中文方面的资料，rasa执行时又没有报错，所以对于我来说我无法确定问题。正好您在使用中文的配置，可否帮助我看一下我的配置是不是有问题？谢谢！

Rasa version: 2.0.0rc1
Python version: 3.6.9
OS: ubuntu 18.04

config.yml
[code]

the dict.txt format like below:

rasa train successfully. but parse intent by rasa shell nlu, the result is null.

[2020-09-24 07:06] rohitnairtech commented on #6741
1.10.14 doens't work, not able to train NLU model. @gbax

[2020-09-24 07:07] fpfuetsch opened #6774 "Legacy Documentation: Search functionality is broken"
**Rasa version**: 1.10.14

**Issue**:
The search bar in the legacy documentation is broken. When I search e.g. for "Slots" or "Forms" I don't get any results. The search recommendations that are available neither do work, since the links are broken.
https://legacy-docs-v1.rasa.com/

**Error (including full traceback)**:
/

**Command or request that led to error**:
use search bar

[2020-09-24 07:19] erohmensing commented on #6695
@ortsaCniveK thanks for bringing this up, it sounds like a valuable addition. Would you like to contribute it?

[2020-09-24 07:22] m-vdb commented on #6330
@lunelson thanks for updating, I'm taking this on 👍

[2020-09-24 07:47] m-vdb commented on #6330
I've submitted a [PR to DocSearch](https://github.com/algolia/docsearch-configs/pull/2420) (already approved, that went fast 🤔 )

[2020-09-24 07:56] howl-anderson commented on #6752
Hi @xkungfu, this PR thread is setup for discuss PR related topic, you are asking for help about the usage of Rasa 2.0 for Chinese. This PR thread is not the place to discuss your usage problems. please send me an email (my email address: u1mail2me@gmail.com) so I can help you with all the details.

[2020-09-24 07:58] lunelson commented on #6330
@m-vdb yeah I'm slightly disappointed that they didn't comment at all...

As for the config:

1. I'm not sure if we're going to be able to use the custom-tags with the API that's exposed by Docusaurus 🤔 and I was hoping to avoid having to dig further in to Algolia's library 😬
2. if you check [Docusaurus' own config here](https://github.com/algolia/docsearch-configs/blob/master/configs/docusaurus-2

[2020-09-24 08:00] m-vdb commented on #6330
ok thanks for pointing me towards it. I assume that the tags won't be an issue (modulo some tweaks). I'll continue on these

[2020-09-24 09:11] erohmensing opened #6775 "finish old content check in docs"
- [x] Nlu data format
- [x] responses?
- [x] domain.mdx (There are outstanding TODOs here, and the unfeaturized_slot PR also updates this page)
- [x] event-brokers.mdx
- [x] fallback-handoff.mdx
- [x] forms.mdx (have looked through it, changes also coming in from unfeaturized_slot PR)
- [x] generating-nlu-data.mdx
- [x] glossary.mdx (maybe check the notes entered next to Rasa NLU and Rasa Core)
-

[2020-09-24 09:34] HatuneMiku commented on #6752
https://github.com/RasaHQ/rasa/blob/b80395b8632e5dd06d63aee7d6e804732c3bc704/rasa/nlu/utils/hugging_face/hf_transformers.py#L258-L278

@howl-anderson Hi. I get the same error, In no whitespace chinese char, `tokens_out` just has one element, `token_ids_out` is right length.

https://github.com/RasaHQ/rasa/blob/b80395b8632e5dd06d63aee7d6e804732c3bc704/rasa/nlu/utils/hugging_face/hf_transformers.py#

[2020-09-24 09:35] m-vdb commented on #6330
@lunelson
1. Yes I think it will work, cf. the 3 draft PRs I prepared ⬆️ ⬆️ ⬆️
2. I've updated our config with [this second PR](https://github.com/algolia/docsearch-configs/pull/2422).

[2020-09-24 09:59] howl-anderson commented on #6752
Hi, @HatuneMiku #6753 will fix this bug since it treats a character as a token for Chinese and other languages that whitespace tokenizer do not support.

[2020-09-24 10:39] JustinaPetr commented on #6696
I think this might be a windows related problem @rejae . To confirm that, would you be able to run your assistant in a VM?

[2020-09-24 10:42] JustinaPetr commented on #6686
Hi @victorbai2. Looks like you are using a very old version of Rasa. Is there a reason for that?

[2020-09-24 10:46] JustinaPetr commented on #6543
Hi @tatianafrank Are you still having this issue? Also, just to double check - you start your assistant with `rasa shell` or a different command?

[2020-09-24 10:53] JustinaPetr commented on #4341
That's great @silvasara. Please let us know if you need any help with this.

[2020-09-24 12:00] sara-tagger commented on #6774
Thanks for the issue, @tttthomasssss will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-24 12:46] mprazz opened #6781 "Pre-2.0 release TODOs"
This issue aggregates all TODOs pre-2.0 release, so we're sure everything is in order before the release.

**TODO**:
- [x] remove the mentions of `2.0.0rc2` in the docs
- [x] double-check / find any remaining `TODO`s in the docs / code

**Sanity checks**:
- [x] pip installation
- [x] build from source + poetry installation
- [x] rasa init completes without errors
- [x] train a model
- [x] check ba

[2020-09-24 12:49] Ghostvv commented on #6736
I'd say it should be a part of default pipeline, but we need to find a more or less general threshold for it

[2020-09-24 13:29] melindaloubser1 commented on #6133
Cool! As I mentioned, I'm really not particular about how it's done, as long as it makes sense from the human-readability standpoint. If you have questions about the implementation or the new format and what it means, feel free to tag me in your PR and either I or someone else will get back to you.

[2020-09-24 14:15] chaneyjd commented on #6721
sure, let me get a PR today and I'll get with you there

[2020-09-24 15:02] gck25 opened #6784 "Rasa X domain path"
At the moment, within the rasa X CLI, it is possible to define the paths for the model, data and configuration file using `~~m`, `~~-data` and `-c`, respectively. There is no such option for the domain file. The only option is to create a domain.yml in the directory where the `rasa x` command is called. Otherwise, the following error is thrown:

 This directory is not a valid Rasa project.
 Use 'r

[2020-09-24 15:07] lunelson commented on #6764
@erohmensing a couple of additions:

- `description` right now is AFAIK only used for content of the `<meta name="description" content="...">` tag, and should be not much longer than a tweet: 140 characters is safe; max is considered to be between 150 and 170. It should add useful semantic information but not be stuffed with keywords (this will be penalized).
- `title` right now populates both the

[2020-09-24 15:32] chaneyjd commented on #6721
issue #6721 fix #6785 PR created ...

[2020-09-24 16:01] laurencejennings opened #6786 "the pip package for rasa=2.0.0rc1 points to the wrong tfmodule"
**Rasa version**:
rasa2.0.0rc1
**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:
3.8
**Operating system** (windows, osx, ...):
linux
**Issue**:
When installing rasa with ```pip install rasa==2.0.0rc1``` the `nlu/tokenizers/convert_tokenizer.py` file contains the wrong path for tf-hub-module: http://models.poly-ai.com/convert/v1/model.tar.gz'`

[2020-09-24 17:57] laurencejennings opened #6787 "error in the documentation for chitchat-faqs.mdx"
**Rasa version**: 2.0.0rc1

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.8

**Operating system** (windows, osx, ...): linux

**Issue**: following the code on `chitchat-faqs.mdx`, `respond_chitchat` results in a missing action when training the model

**Error (including full traceback)**:
[code]

**Command or request that led to error**

[2020-09-24 22:35] kmcmearty opened #6788 "Local Rasa X - Twilio | improperly formatted XML response?"
**Rasa version**: 1.10.14

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant): 0.32.2

**Python version**: 3.7.6

**Operating system** (windows, osx, ...): Ubuntu 18.04

**Issue**:
Running Rasa X in local mode and using Ngrok to expose to twilio. Using twilio to text Rasa. I believe the XML response back from Rasa is being improperly formatted so Twilio will not re

[2020-09-24 23:41] mrcartier commented on #6705
The response I got was `{"version":"1.10.12","status":"failure","message":"The training request is missing the required key `config`.","reason":"BadRequest","details":{"parameter":"config","in":"body"},"help":null,"code":400}`.

I guess they were using an earlier rasa version because that forum [links to an article](https://towardsdatascience.com/a-beginners-guide-to-rasa-nlu-for-intent-classifica

[2020-09-24 23:55] b-quachtran opened #6790 "Update Domain doc to include snippet on splitting up domain into multiple files"
**Description of Problem**:

Update Domain doc to include snippet on splitting up domain into multiple files

**Definition of Done**:
- [ ] Update the Domain docs page on how this works

[2020-09-25 00:46] b-quachtran opened #6791 "NLU converter not supporting external synonym files"
NLU converter tool not working for externally defined synonym files

**Rasa version**: 2.0.0rc2
**Issue**:

NLU converter doesn't work for externally defined synonym files, e.g.:
`## synonym:plates`
`data/nlu/synonyms/plates.txt`

[2020-09-25 06:00] sara-tagger commented on #6788
Thanks for raising this issue, @rgstephens will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-25 06:00] sara-tagger commented on #6786
Thanks for the issue, @JustinaPetr will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-25 06:00] sara-tagger commented on #6787
Thanks for raising this issue, @b-quachtran will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-25 06:00] sara-tagger commented on #6784
Thanks for raising this issue, @melindaloubser1 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-09-25 06:45] akelad commented on #6771
@abhilasharoy @TyDunn thoughts?

[2020-09-25 06:46] akelad commented on #6376
@garchaaman19 did you end up resolving this?

[2020-09-25 07:12] akelad commented on #5573
hm, there's definitely a lot of open points in that google doc - we're discussing this with Tom/Tobi on Monday morning

[2020-09-25 07:47] TyDunn commented on #6771
@edmacovaz is thinking through similar things at the moment

[2020-09-25 07:54] melindaloubser1 commented on #6474
I'm not so sure about bandwidth either tbh

[2020-09-25 11:02] ridhimagarg opened #6795 "CRFEntityExtractor or DIETClassifier is splitting a entity into multiple if contains punctuation"
**Rasa 1.10.14**:

**Python 3.7.5**:

**Ubuntu 19.10** :

**Issue**:

CRFEntityextractor or DIETClassiifer is splitting an entity into multiple words.
I was using RASA 1.10.2 initially and it was working fine but the ConveRTFeaturizer issue reported in RASA 1.10.2 for the POLY-AI model URL changed. Hence I have updated to RASA 1.x latest version i.e, RASA 1.10.14

Now these CRFEntityextractor or D

[2020-09-25 11:34] erohmensing commented on #6773
You're right, the twilio connector doesn't have a `send_buttons` response, which is why it prints the same way as in `rasa shell`.

Does whatsapp support buttons natively? If so, I'm not sure how twilio sends them through to Whatsapp. Anything we can send needs to be sendable through [twilio-python](https://github.com/twilio/twilio-python). As far as i can see from their documentation, they only s

[2020-09-25 11:36] erohmensing commented on #6773
If you would just like the payloads removed, then you probably shouldn't be using buttons, Especially because users might try to respond with `1` or `2`. Consider rephrasing your response to "Would you like to dine inside or outside?"

[2020-09-25 11:58] ArjaanBuijk commented on #4212
What if `rasa test` would include the action server during testing of e2e stories.

Then debugging actions would become very easy.

Just start up the action server in your favorite IDE, and in a separate terminal run rasa test with a story that triggers the action you want to debug.

[2020-09-25 12:00] sara-tagger commented on #6795
Thanks for the issue, @koaning will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-25 12:09] ridhimagarg commented on #6795
Thanks, Waiting for the solution.

Required an urgent action on the same. I am using RASA in production and it stuck!

Thanks in advance!

[2020-09-25 13:30] erohmensing commented on #6786
Thanks for reporting, this was fixed [here](https://github.com/RasaHQ/rasa/pull/6743). If you download `2.0.0rc2` that should fix it!

[2020-09-25 13:31] erohmensing commented on #6786
PS this is definitely the place for issues with the pip package

[2020-09-25 13:41] erohmensing commented on #6764
Very interesting, i think before this was specifically keyword stuffed!

[2020-09-25 14:04] ArjaanBuijk opened #6796 "`rasa test` to include action server"
**Description of Problem**: How do I test that my bot is working?

Currently, `rasa test` :

*   Fully tests NLU, including external entity extractors like duckling
*   Does **not** fully test e2e stories, because it does not actually call the action server.

This means that even when `rasa test` shows that all the e2e stories pass, it is not a guarantee that the bot is functional. One has to test

[2020-09-25 14:06] TyDunn commented on #6796
Anything you would add @akelad? We have discussed this in the past

[2020-09-25 14:22] melindaloubser1 commented on #6784
Since in server mode, git integration requires a set repository structure, localmode reflects that. Could you describe the use case for this/why you need the domain to be at a different path?

[2020-09-25 14:58] aminekechaou commented on #6437
For anyone looking for this feature if you're using DIETClassifier, you can set the evaluate_every_number_of_epochs and evaluate_on_number_of_examples  parameters under the DIETClassifier component in config.yml

[2020-09-25 15:39] edmacovaz commented on #6771
I'm just learning about how colors for tags work at the moment.

I could see this being useful but I'm not sure how soon we would get to it. And I'm also unsure whether we would go straight to custom colours from the Rasa X UI or maybe just give people a list to choose from—hex colors seem straight forward to some people, but most people don't get them. So I'd like to avoid building a color picker

[2020-09-25 15:40] edmacovaz commented on #6771
Also, from what I understand the color codes are set from the front end and saved in the backend at the moment, so apparently you can define custom colors throgh the API already.

[2020-09-25 16:15] workaya-samarth commented on #6773
You are right but when we deploy the same bot to different platforms (like slack and WhatsApp) where the buttons work fine on slack but because WhatsApp does not support buttons, it just shows the payload attached to the text which is aesthetically not appealing and should not be visible to the end-user.

[2020-09-25 16:16] askushwah commented on #6773
You are right but when we deploy the same bot to different platforms (like slack and WhatsApp) where the buttons work fine on slack but because WhatsApp does not support buttons, it just shows the payload attached to the text which is aesthetically not appealing and should not be visible to the end-user.

[2020-09-25 17:02] dakshvar22 commented on #5746
It's not reproducible on master anymore. Possible reason is that the new ConveRT model is saved in TF2 format and hence [this problem](https://www.tensorflow.org/hub/common_issues#typeerror_autotrackable_object_is_not_callable) is not applicable any more. It was because of this problem that [try exception block](https://github.com/RasaHQ/rasa/blob/master/rasa/utils/train_utils.py#L141) was added i

[2020-09-25 17:49] andrew-mcmaster commented on #6771
The [api docs](https://rasa.com/docs/rasa-x/pages/http-api#operation/postTags) did not seem to straightforwardly say you could update just the color of  an existing tag (at least my interpretation).

currently it also requires a conversation id in the params of the request. I was just thinking a PUT request to /tags instead of /conversations/{conversation_id}/tags would make sense. Even for creati

[2020-09-25 21:55] #6393 closed

[2020-09-25 22:23] sta-cee commented on #6764
@lunelson @erohmensing Best practices from our SEO agency:

**H1**
Each page have only one H1 header tag, placed high in the page’s content and populated with content relevant to the page’s content including a targeted key phrase. The H1 header should not match the Page title too closely

**Page titles**
Limit the page title to no more than 55 characters. Ideally, page titles will be no more than

[2020-09-26 00:21] TyDunn commented on #6771
@edmacovaz I have noticed this unequal distribution of the color of tags too. I think it is something worth investigating

[2020-09-26 06:18] DavidKohav commented on #6228
Hi @b-quachtran,

If you need more info, let me know.

[2020-09-26 06:26] nirajmalpani commented on #5822
Does rasa support tensorflow 2.2??

[2020-09-26 10:24] #6689 closed

[2020-09-26 10:41] #5661 closed

[2020-09-26 15:34] kubhaniri commented on #5582
I'm facing the same issue with identical output. I use the latest images and had the same setup as described by the author.
These are the version i used:
RASA_X_VERSION=0.32.2
RASA_X_DEMO_VERSION=0.32.2
RASA_VERSION=1.10.12

[2020-09-26 17:00] saurav2608 opened #6801 "Unable to start register a function in action server"
**Rasa version**: 2.0.0rc2

**Rasa SDK version** (if used & relevant): 2.0.0rc1

**Rasa X version** (if used & relevant): NA

**Python version**: 3.7.6

**Operating system** (windows, osx, ...):OSX Catalina

**Issue**: I am facing this issue with multiple versions of Rasa / Rasa-sdk. I have a very simple action file. When I run the action file it runs without complaint. But calling the said action

[2020-09-26 17:41] #6801 closed

[2020-09-26 17:42] saurav2608 commented on #6801
I placed the .py file in the wrong place.

[2020-09-27 08:04] howl-anderson opened #6802 "A bug with language supporting detection function of component"
**Rasa version**: 2.0.0rc1

**Issue**:

If a new component has such language supporting settings:

[code]
it will not work correctly since the `can_handle_language` function not implemented incorrectly:

[code]

since `not_supported_language_list` will be `[]` in our example, so `language not in not_supported_language_list` will always be true no matter what's the value of `language`. Finally when

[2020-09-27 11:41] #6400 closed

[2020-09-28 04:10] RedTint opened #6806 "PolyAI Models - model.tar.gz - No Longer Available?"
**Rasa version**: 2.0.0rc2
**Python version**: 3.6.12

**Operating system** (windows, osx, ...): OSX

**Issue**: Failed to run `rasa init`. Upon checking the model source, it is no longer available. It was taken down `2 hours ago` upon posting this.

Edited to include the message from https://github.com/PolyAI-LDN/polyai-models:

**Error (including full traceback)**:
[code]

**Command or request t

[2020-09-28 04:30] domsammut commented on #6806
We're also getting this error.

**Rasa version:** 1.10.14
**Python version:** 3.6

[2020-09-28 04:36] kitlun commented on #6806
https://github.com/PolyAI-LDN/polyai-models

[2020-09-28 05:41] keepWalking commented on #6741
https://github.com/PolyAI-LDN/polyai-models/releases/download/v1.0/model.tar.gz
also not available any more.

PloyAI just decided to take down the ConveRT models from the public domain:
https://github.com/PolyAI-LDN/polyai-models

Do we have any workaround?

[2020-09-28 05:45] ricwo opened #6807 "/status endpoint does not report correct model"
**Issue**:

1.  When the server is initialised with a local model, the Agent's attribute `path_to_model_archive` will have a value. This attribute is not updated if the server is configured to pull models from other servers, meaning even if the model changes, the server continues to report an outdated `path_to_model_archive`.

1.  The `/status` endpoint has `"model_file": app.agent.path_to_model_a

[2020-09-28 06:00] sara-tagger commented on #6806
Thanks for the issue, @tabergma will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-28 06:00] sara-tagger commented on #6802
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-28 06:24] tabergma commented on #6806
@dakshvar22

[2020-09-28 06:43] wochinge commented on #6736
@Ghostvv ? What threshold would you suggest? I'd opt to keep the same one as we had in Rasa 1.x (`0.3`)

[2020-09-28 06:58] wochinge commented on #6737
@erohmensing Can you please add @abhilasharoy to the Rasa team so sara-tagger remains silent?

[2020-09-28 07:20] madanmeena commented on #4317
Yes that works, thanks

If i run
docker run -v $(pwd):/app rasa/rasa:1.10.12-full shell
i get the following error
2020-09-28 07:15:32 INFO     root  - Rasa server is up and running.
Warning: Output is not to a terminal (fd=1).
Warning: Input is not to a terminal (fd=0).
2020-09-28 07:15:33 ERROR    asyncio  - Task exception was never retrieved
future: <Task finished coro=<configure_app.<locals>.ru

[2020-09-28 07:29] wochinge commented on #6463
So, what's the state on this? Happy to jump on a 5 minute call to resolve this.

yes,  but it might be used in other cases in the future and that's why a general solution makes more sense imo.

[2020-09-28 07:50] tabergma commented on #6625
@Mazyod It will take some more time on our end until we get to changing the data pipeline. It is definetly planned, but we just cannot say when we will start working on it. Your ideas around parallelization within components sounds interesting. However, I am not sure whether we would like to add it to Rasa Open Source as a intermediate solution. Did you already start working on it?

[2020-09-28 07:54] akelad commented on #5561
@wochinge

[2020-09-28 08:01] gioppoluca commented on #6806
same error here, using the docker version, URL does not exist anymore.

[2020-09-28 08:05] tabergma commented on #6705
Does it work if you run the following steps?

1. `rasa init --no-prompt`
2. `rasa run --enable-api --cors *`
3. in a separate terminal window: `curl localhost:5005/model/parse -d "{\"text\":\"hello\"}"`

[2020-09-28 08:09] wochinge opened #6809 "Add `unfeaturized` flag to slots"
# Motivation

Slots themselves cause confusion in another way -- users may define the type based on what they hold (e.g. “text”) but not include them in their stories because they shouldn’t affect the flow -- it’s common that users don’t understand that setting the type to text will actually featurize the slot, leading to unpredictable behavior.

# Suggested Solution

1. Add a flag `unfeaturized:

[2020-09-28 08:11] wochinge commented on #6809
@akelad @tmbo Please double check

We currently don't touch the slot values for `Unfeaturized`. Means if you feed a dictionary (e.g. as part of a custom action), then it will stay a dictionary

[2020-09-28 08:12] wochinge commented on #6734
Removing this from the production squad board

[2020-09-28 08:13] wochinge commented on #6623
yes of course!

[2020-09-28 08:14] wochinge commented on #6474
@TyDunn I think this is a @RasaHQ/loop-squad topic as it's related to the training data.

[2020-09-28 08:30] TyDunn commented on #6474
@wochinge The loop squad has a lot going on right now to make Rasa X compatible. If the production squad has bandwidth, then I think we should pick it up

[2020-09-28 08:47] edmacovaz commented on #6771
@TyDunn That behaviour sounds like I bug, I would expect we would want to continue cycling through to have an even distribution among the colours. I'll investigate.

[2020-09-28 08:53] Mazyod commented on #6625
Thanks for the reply!

I didn't start working on it yet. If it's not something of interest to be merged in rasa OSS, I'll implement something quick just for our needs then, that's fine for us.

[2020-09-28 08:55] tabergma commented on #6625
@tmbo Do you think this is something that we want to maintain in Rasa Open Source?

[2020-09-28 09:12] wochinge opened #6810 "Use only count vectorizers in default config"
**Motivation**
- the convert model we are using just broke
- it can take ages do download the trained model when running `rasa train` or `rasa run` which is annoying when getting started with rasa for the first time (based [on user feedback here](https://docs.google.com/spreadsheets/d/162K9J4Ro_S67j94v2KisGS2NHKx504nT7Abx01jCVwg/edit#gid=0&range=B22))

**Solution**
* use only count vectorizers to

[2020-09-28 09:12] wochinge commented on #6736
do https://github.com/RasaHQ/rasa/issues/6810 as part of this

[2020-09-28 09:16] wochinge commented on #6474
We moved this to 2.1 as no squad has the bandwidth for it. Do you have strong objections @akelad ? I know it's not ideal but the only alternative would be to push the release.

[2020-09-28 09:20] TyDunn commented on #6474
@wochinge [We agreed to this on Slack](https://rasa-hq.slack.com/archives/C7B08Q5FX/p1601283529042500)

[2020-09-28 09:27] wochinge commented on #6474
Ok, let's discuss these things on issues 👍

[2020-09-28 09:36] erohmensing commented on #6802
Thanks for the initiative toward fixing this!

[2020-09-28 09:38] wochinge commented on #6486
@akelad I think it's useful but as Maxime said I don't think it's critical for the release. Plus I think some user feedback on this would be great before starting to implement a solution.

[2020-09-28 09:45] #4613 closed

[2020-09-28 09:48] degiz commented on #6791
Hey @b-quachtran

That was fixed even before `2.0.0rc1` and still seems working fine for me.
The only problem I can think of is that user has to run `rasa data convert` from a dir that can still access external synonym file using the relative path.

[2020-09-28 09:49] degiz commented on #6791
Oh wait no, that were lookup tables fixed.

[2020-09-28 10:21] howl-anderson opened #6811 "Remove the ConveRT component"
News from https://github.com/PolyAI-LDN/polyai-models#convert.

Since PolyAI team removed all the model files, no one can download models anymore, ConveRT component will be not useable for the user,  so we need to remove the ConveRT component from Rasa too.

[2020-09-28 11:16] #6763 closed

[2020-09-28 11:21] erohmensing commented on #6773
If one of your channels supports buttons and another does not, I would recommend using [Channel-specific response variations](https://rasa.com/docs/rasa/responses#channel-specific-response-variations).

[2020-09-28 11:38] connorbrinton commented on #6741
The previously publicly available ConveRT models appear to have [been licensed under the Apache 2.0 license](https://github.com/PolyAI-LDN/polyai-models/blob/master/LICENSE), making redistribution permissible. If anyone has the official files for the ConveRT models, it would be great to have them redistributed under the same license here.

I've repackaged the loaded model I have running in product

[2020-09-28 12:00] sara-tagger commented on #6811
Thanks for the issue, @melindaloubser1 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-09-28 12:46] wochinge commented on #6463
Ok @Ghostvv @akelad .
Sorry to push but this blocks Rasa Open Source and Rasa X:

Candidates:
- `LoopUnhappyPath`
- `LoopValidation`

Candidates I could also imagine:
- `LoopBreak`
- `LoopExemption`

I'll move forward implementing it using the name `LoopUnhappyPath` tomorrow in case we can't agree on another name by then.

[2020-09-28 12:49] melindaloubser1 commented on #6811
Hi @howl-anderson, we're aware of this issue and looking at options. Please see this issue: https://github.com/RasaHQ/rasa/issues/6810

Closing as a duplicate for now.

[2020-09-28 12:49] #6811 closed

[2020-09-28 12:56] akelad commented on #6463
What about `LoopInterruption`? but then I guess the event would be `LoopInterruption(True)` rather than `LoopInterruption(False)`? Otherwise it sounds wrong. If we don't wanna switch around the True/False parameters though I would prob just stick with `Validation`?

[2020-09-28 13:00] wochinge commented on #6606
I think I need to complicate this further 🙈
When we configure the `action_two_stage_fallback` below the `forms:` key in the domain, then we are configuring something as `form` which actually isn't a form but a `loop`. That's not great from a UX perspective 😬

[2020-09-28 13:03] wochinge commented on #6463
I like `LoopInterruption`. Gonna use that  then. I can swap the `true/false` stuff when deprecating the `FormValidation` event. Let's hear if Vova has strong feelings against this tomorrow and then we use `LoopInterruption`

[2020-09-28 13:18] tabergma commented on #6806
Unfortunately, the ConveRT model was taken offline. We are working on a long-term solution and will keep you updated. In the mean time we recommend to remove ConverRT from your pipeline and just use supervised embeddings, such as `CountVectorsFeaturizer`.
For example, you could change the default `config.yml` created by `rasa init` to the following to train your model.
[code]

We are sorry for any

[2020-09-28 13:42] RedTint commented on #6806
No worries and thank you! `rasa init` worked afterwards, though, I still get the warning ` Could not load model due to HTTP Error 404: Not Found` when running `rasa run`:

[code]

[2020-09-28 13:46] connorbrinton commented on #6806
The previously publicly available ConveRT models appear to have [been licensed under the Apache 2.0 license](https://github.com/PolyAI-LDN/polyai-models/blob/master/LICENSE), making redistribution permissible. If anyone has the official files for the ConveRT models, it would be great to have them redistributed under the same license here.

I've repackaged the loaded model I have running in product

[2020-09-28 14:13] #6707 closed

[2020-09-28 14:31] akelad opened #6814 "Rewrite Telegram channel with a different library"
**Description of Problem**:
The current package `python-telegram-bot` uses a vendored package of urllib3, which hasn't been updated since 2017 and therefore has some security vulnerabilities. See issue for details: https://github.com/python-telegram-bot/python-telegram-bot/issues/2097

**Overview of the Solution**:
We should rewrite the telegram channel to use this package instead: https://github.

[2020-09-28 14:39] lunelson opened #6815 "New docs: make all URLs in MDX (markdown or JSX) root relative"
Currently, the links to "prototype an assistant" from the Installation page at `https://rasa.com/docs/rasa/installation` are written relatively, which means that
if you are on the trailing slash version of the URL (`https://rasa.com/docs/rasa/installation/`, which Netlify treats equally to the non-trailing-slash URL), and you follow a link to `prototype-an-assistant` it is broken, because the brow

[2020-09-28 14:43] wochinge commented on #6809
Ok, let's featurize all slots by default (except the old `UnfeaturizedSlot` as we will break all existing bots otherwise.

[2020-09-28 14:59] tmbo commented on #6809
Yes this sounds reasonable.

I'd agree. The unfeaturized slot type should stay and throw a deprecation warning.

Regarding the naming of the flag:
- I think it is easier to understand if a flags name is not negated, so `featurized` instead of `unfeaturized`
- Maybe we can come up with a better naming, e.g. `influences_conversation` or `influences_prediction` or something that is slightly less ml h

[2020-09-28 15:09] ricwo commented on #6606
Can we just check whether `action_two_stage_fallback` is listed as a key under `forms`, and if that's the case, we don't skip it in this line? https://github.com/RasaHQ/rasa/blob/master/rasa/shared/core/domain.py#L839

[2020-09-28 15:28] wochinge commented on #6809
Both valid points 👍 I'd personally prefer imperative style and `affect` (e.g. `affect_conversation`) but maybe @erohmensing or @melindaloubser1 can help us out as native speakers.

[2020-09-28 15:28] b-quachtran commented on #6791
Technically no, but it worked with 1.X and a customer is asking about it with 2.0.

[2020-09-28 15:30] akelad commented on #6775
@akelad update this

[2020-09-28 15:54] wochinge opened #6819 "Custom action class for validating slots with one custom action"
**This is actually an SDK issue but I added it here so we can add it to the milestone.**

**Description of Problem**:
Docs specify that all slot validations for a given form is happening as a single function, which is confusing because validation is always unique for each slot. Users will still have to define separate validation functions, but they'll also have to write the logic inside run() for

[2020-09-28 15:55] wochinge commented on #6819
Please find a better name for `AbstractFormValidatorAction`. That's just a placeholder 😂

[2020-09-28 15:57] degiz commented on #6791
Not sure if we want to support migration from a feature that we never officially supported 😄
@akelad wdyt?

[2020-09-28 16:00] m-vdb commented on #6728
I'll take a look at this one this week

[2020-09-28 16:03] wochinge opened #6820 "Automatically migrate MappingPolicy + FallbackPolicies"
**This issue may be split in three parts**

**Motivation**
* [this feedback](https://www.notion.so/rasa/Feedback-on-2-0-4574eaacc0764967ac0b8b82fbc72904#e17d53c4dbb44ba1844b412b8ebaa782)
* there is actually no need to manually migrate `FallbackPolicy`, `TwoStageFallbackPolicy` or `MappingPolicy`. We can migrate all of them automatically.

**Ideas**
* check out the migration guide and automate it a

[2020-09-28 16:04] wochinge commented on #6820
@degiz Do you think we integrate it into `rasa data convert`? There is no `rasa migrate`, right?

[2020-09-28 17:13] rgstephens commented on #6767
Ben & I met. Will:

- Consolidate arch, core & nlu and put in the Intro page (but could move to a new Architecture > Intro if more detailed
- NLU only under Architecture
- Language Support add as a page under Config. Add a link to this page under Config > Overview

[2020-09-28 20:24] aizest commented on #6806
Thanks a lot.
But where to set that model_url configuration parameter?
I added this "model_url" property under ConveRTTokenizer in the config.yml, but it seems still tries to download from "http://models.poly-ai.com/convert/v1/model.tar.gz".

[2020-09-28 20:31] connorbrinton commented on #6806
@aizest Have you upgraded to Rasa 1.10.14? [The changes](https://github.com/RasaHQ/rasa/pull/6743) making the model URL configurable are very recent, so you may need to upgrade to a version of Rasa that includes those changes in order for the `model_url` property to work 🙂

[2020-09-28 20:47] aizest commented on #6806
@connorbrinton Got it. Have to make some changes in the code, as we're using a lower version.
Really appreciate the quick feedback!

[2020-09-29 00:57] askushwah commented on #6773
Seems like a viable alternative. Will close the discussion,

[2020-09-29 00:57] #6773 closed

[2020-09-29 05:56] #6048 closed

[2020-09-29 05:56] #6040 closed

[2020-09-29 07:26] m-vdb commented on #6767
I found out some pages to which we link to but are not in the sidebar. I would assume we want to add them to the sidebar? Also, if this is something deemed important, we could add a unit test (under `tests/docs/`) that checks for this, so that we can detect such issues.

In https://rasa.com/docs/rasa/how-to-deploy#rasa-open-source-only-deployment ⬇️
<img width="688" alt="Screenshot 2020-09-29 at 0

[2020-09-29 07:52] wochinge commented on #6820
It might not be possible to migrate the `TwoStageFallbackPolicy` automatically as users might have customized the `deny_suggestion_intent_name` intent and we can't migrate custom actions of theirs which are using this intent.

[2020-09-29 07:53] 1535966643 commented on #5909
谁解决了   麻烦说一下

[2020-09-29 08:00] bawra11 commented on #6741
@connorbrinton I tried using your repackaged model:
 2020-09-29 13:11:05 INFO     root  - Starting Rasa server on http://localhost:3003
 2020-09-29 13:11:10 INFO     absl  - Using /var/tmp/tfhub_modules to cache modules.
 2020-09-29 13:11:10 INFO     absl  - Downloading TF-Hub Module 'https://github.com/PolyAI-LDN/polyai-models/releases/download/v1.0/model.tar.gz'.
 2020-09-29 13:11:12 ERROR    ra

[2020-09-29 08:06] N-Olbert commented on #6062
I dont think this should be marked as stale as it is still true

[2020-09-29 08:13] melindaloubser1 commented on #6809
I like "influence_conversation"; English speakers can never get their affects and effects sorted out anyway.

[2020-09-29 08:15] wochinge commented on #6809
Sounds good. Gonna go with that one then 👍

[2020-09-29 08:41] #6039 closed

[2020-09-29 08:55] Ghostvv commented on #6463
this event is added before returning to the loop, and is used to notify the loop that it is called after interruption. maybe `LoopInterrupted(true)` then?

[2020-09-29 08:57] akelad commented on #6463
Yes that’s even better!

[2020-09-29 09:32] TyDunn commented on #6796
Context behind past decision to not execute actions in test stories: https://forum.rasa.com/t/snapshot-based-testing-with-rasa/13318

[2020-09-29 10:04] ridhimagarg commented on #6741
You need to change https://github.com/PolyAI-LDN/polyai-models/releases/download/v1.0/model.tar.gz URL to https://github.com/connorbrinton/polyai-models/releases/download/v1.0/model.tar.gz  in your pipeline.

[2020-09-29 10:15] Ghostvv commented on #6486
how would we get user feedback for a feature that is not implemented?

[2020-09-29 10:16] Ghostvv commented on #6736
yes, default from 1.x sounds good

[2020-09-29 14:15] tabergma commented on #5746
I guess we can close this issue as the ConveRT model is not available anymore (https://github.com/RasaHQ/rasa/issues/6806).

[2020-09-29 14:20] #5746 closed

[2020-09-29 14:29] dakshvar22 opened #6834 "Remove ConveRT models from model regression tests"
Since, the ConveRT model was taken offline(#6806), we should remove all pipelines using components based on ConveRT from our model regression tests.

[2020-09-29 14:47] tabergma opened #6836 "Partial dataset loading"
**Description of Problem**:
If you want to train your assistant on a large dataset, it might happen that you run into memory issues as the complete dataset is loaded into memory and featurized.

related to https://github.com/RasaHQ/rasa/issues/1621

**Overview of the Solution**:
No concrete solution yet. But ideally we would not load all the data at once but load them partly, so that not all data

[2020-09-29 15:25] akelad commented on #6796
not much to add to this, but we have had customers bring this up a few times in the past year.

Having a mock action server for testing I believe is common in the enterprise anyways -otherwise you would be modifying "real world things" with your manual tests as well. So I feel like allowing `rasa test` to include the action server again could make sense

[2020-09-29 15:26] akelad commented on #6791
wow i did not know this was a thing haha. I mean, if we allowed this to work (intentionally or not) in 1.x then the migration script should cover it.

[2020-09-29 15:36] #6736 closed

[2020-09-29 15:36] #6810 closed

[2020-09-29 15:44] dakshvar22 commented on #6380
Update: It looks like performance for intent classification and entity recognition have also varied by a very small margin in the [last few runs](https://metabase.rasa.com/dashboard/166)

[2020-09-29 16:19] melindaloubser1 commented on #6347
Adding one - Look for outdated references to Core

[2020-09-29 17:24] tatianafrank commented on #6543
rasa shell or rasa run @JustinaPetr

[2020-09-29 17:43] b-quachtran commented on #6767
@erohmensing With the supervised_embeddings pipeline deprecated, do we have any recommendations on what pipeline to use for training a model in any language?

[2020-09-29 18:30] #6606 closed

[2020-09-29 19:35] lucasdutraf commented on #6571
Hey @tabergma !
We've opened a pull request for this issue at #6840 . Please let us know if you see anything that we can improve! :smile:

[2020-09-29 20:24] tatianafrank opened #6842 "ConveRT model removed from public domain"
According to this https://github.com/PolyAI-LDN/polyai-models the model has been removed. Due to this our model has been failing to train since the TF HUB MODULE URL no longer exists.

[2020-09-29 21:18] #6834 closed

[2020-09-30 01:37] hendrik-skubch opened #6843 "Form slot filling does not fill slots other than the requested one if they are of a different type than the requested slots."
**Rasa version**:2.0.0rc2

**Rasa SDK version** (if used & relevant): not used

**Rasa X version** (if used & relevant): not used

**Python version**: Python 3.6.9

**Operating system** (windows, osx, ...): Ubuntu 18.04 (dockerized)

**Issue**:
When a form tries to fill other slots via `extract_other_slots(...)` it is using the entity type of the requested slot, not the slot in question. In partic