[2019-07-21 13:12] akelad opened #4061 "rasa shell doesn't throw any errors"
Last week I was demonstrating something with `rasa shell` and it just got stuck on the first message without replying anything. Upon further investigation, I noticed that when using `rasa run` with the same data, it threw an error when I sent a message. So I believe errors are somehow being suppressed with `rasa shell`

To reproduce: add `TwoStageFallbackPolicy` to your config and make sure you do

[2019-07-21 17:22] bhavaniravi commented on #4058
I can work on this if we think this feature is important.

[2019-07-22 06:17] ricwo commented on #4037
Hi @creadoit, thanks for pointing this out. Triggers are not yet supported in the Rasa X domain. We'll be sure to add support soon 🙂

[2019-07-22 06:20] ricwo commented on #3802
Hi @cyrilthank, you could try installing in non-editable mode, so just `pip install https://pypi.rasa.com/api/package/rasa-x/rasa-x-0.19.5.tar.gz`. In that case the version should be fetched correctly

[2019-07-22 06:56] TQuy commented on #3294
I also face the same issue, I have deleted the `price_form` from every file in the project directory, and I also change the data\nlu.md file. Howeverm when I run `rasa train nlu`, it shows the warning about the old data, and when I run `rasa train `, it keep referring to the old price_form that I have all deleted

[2019-07-22 07:09] cyrilthank commented on #4048
I execute the following
 rasa init
 which brings in the mood example

I run the below post against the http end points
add intent example: http://localhost:5008/api/projects/default/data
add stories : http://localhost:5008/api/stories
train model : http://localhost:5007/model/train
All respond with success messages
but the newly added intent/story is not picked up in the message responses

can you

[2019-07-22 07:56] akelad opened #4063 "Rework the NLU training data page"
We should rewrite that to use markdown examples for most of the features -- right now it uses json, which is very strange.
I think ideally we could have an element where you can switch from markdown to json, but the primary one should be markdown
https://rasa.com/docs/rasa/nlu/training-data-format/

[2019-07-22 07:57] msamogh commented on #4006
I did pass a timezone and still got the same error.

[2019-07-22 08:01] akelad opened #4064 "Rework the Core (stories) training data page"
The format right now is a bit unintuitive, we should come up with a way to make it more clear which part of the stories do what

[2019-07-22 08:04] federicotdn commented on #4047
Hey @tormath1, could you provide some more details on how to reproduce this issue? Did you use any specific configuration? I would also need to know what command you ran exactly. Thanks.

[2019-07-22 08:22] tormath1 commented on #4047
Hey @federicotdn , thanks for your time.

To reproduce this issue,

1. Create a custom action with a "long" action, in my case it's a HTTP post request:

[code]

2. My action server (`action-server`) is running into a container (inside a kubernetes cluster) with this command:

[code]

3. Chatbot is running inside another container, with this command:
[code]

and this config

[code]

4. Configure S

[2019-07-22 08:26] erohmensing opened #4066 "add something to the html page of running rasa server"
From the forum, it seems there are some people that when seeing
[code]
are confused when you try to go to that page, you get a "this site can't be reached, localhost refused to connect" error.

Might be nice to add something to that page so that when people check if the connection is working they get some response.

It doesn't have to be anything fancy, e.g. if you have a duckling server running a

[2019-07-22 08:27] erohmensing commented on #3294
Hi @TQuy, i believe this should have been fixed in 1.1.5. which version are you running?

[2019-07-22 08:29] GaoQ1 commented on #4030
@akelad yes, i use mapping policy

[2019-07-22 08:35] TQuy commented on #3294
mine is rasa 1.1.6

[2019-07-22 08:45] amnesia15 commented on #4041
The last week that I posted this issue, I had two written cases (sentences that I send to bot) of one that works and one that doesn't. This week I have changed nlu data (only nlu.md file) and the nlu model is changed and with that the probabilities for intents. Now the cases that worked last week, doesn't work and the case that didn't work last week, now works. What do you think would be the most

[2019-07-22 08:49] TQuy commented on #3294
It temporarily disapper whenever I copy all the file to new directory

[2019-07-22 09:10] cyrilthank commented on #3802
Thank you @ricwo

[2019-07-22 09:48] TQuy commented on #3294
my domain.yml file:
[code]
my data\nlu.md file:

[code]
When I run `rasa data validate`, it keeps telling me this

Which was the error I have fixed

[2019-07-22 10:24] erohmensing commented on #4047
Hey there @tormath1, with regards to

Do you know if your whole kubernetes set up works on another channel other than slack? If so, I think the error is coming from the Slack issue you've already commented on -- although your `DEFAULT_REQUEST_TIMEOUT` is 5 minutes, we've already noticed that there's currently a slack timeout issue that a community member is working on fixing (and if that fix doesn

[2019-07-22 10:26] erohmensing commented on #4041
Oh jeez haha 😅 that's super strange. In any case an example of what works and what doesn't at the moment should hopefully help.

[2019-07-22 10:37] seif-s3 opened #4068 "Rasa X does not start (timeout fetching model)"
**Rasa version**: 1.0.9

**Rasa X version** (if used & relevant): 1.0.9

**Python version**: 3.6

**Operating system** (windows, osx, ...): OSX 10.14.5

**Issue**:
I cannot start Rasa X in an already existing project. I tried also starting it in a new project but I get the same error.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of conf

[2019-07-22 10:41] akelad commented on #4063
@msamogh this also covers any general improvements that you think could be made to the page

[2019-07-22 11:04] akelad commented on #4031
No, this is not something we're going to be implementing. Custom actions should be written in python/whichever other language you're comfortable with. We think creating a UI for that will complicate things if anything, as this part is written in actual code

[2019-07-22 11:04] #4031 closed

[2019-07-22 11:04] akelad commented on #4055
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-22 11:04] #4055 closed

[2019-07-22 11:04] akelad commented on #4056
Thanks for raising this issue, @Ghostvv  will get back to you about it soon.

[2019-07-22 11:07] akelad commented on #4021
cool, we'll look into updating the docs with these kinds of examples. I'll close this particular issue for now

[2019-07-22 11:07] #4021 closed

[2019-07-22 11:09] akelad commented on #4058
Thanks for the suggestion! what does the implementation for that look like? cc @wochinge

[2019-07-22 11:10] akelad commented on #4048
@tabergma will get back to you about this

[2019-07-22 11:11] akelad commented on #4030
Ah ok yeah then this is a duplicate of #4037, we'll add this functionality soon

[2019-07-22 11:11] #4030 closed

[2019-07-22 11:12] akelad commented on #4068
Thanks for raising this issue, @ricwo  will get back to you about it soon.

[2019-07-22 11:55] journey1986 opened #4069 "In RegexFeaturizer the regex_string seems not suitable for chinese?"
**Rasa version**:
"1.1.2"
**Rasa X version** (if used & relevant):

**Python version**:
3.7.3
**Operating system** (windows, osx, ...):
windows
**Issue**:
In RegexFeaturizer the regex_string seems not suitable for chinese?

In the RegexFeaturizer

[code]

It seems the above code not suitable for chinese.
[code]
test code:
[code]

**Error (including full traceback)**:
[code]

**Command or request t

[2019-07-22 12:05] tormath1 commented on #4047
Hi @erohmensing ,

If you mention this: https://github.com/RasaHQ/rasa/issues/3882#issuecomment-510117975, my container is running with this fix (from my fork: https://github.com/tormath1/rasa/commit/7b68556233667fe96c9be0671436563d3ac20ec1).

Good point, I'm going to try it.

[2019-07-22 12:05] akelad commented on #4064
These are some notes i made on that page btw:
* explain each step better, tell people they need to add entities to stories
* slot set events are important
* action_ vs utter_
* discourage more from checkpoints?

[2019-07-22 12:14] akelad opened #4070 "Rework Language support page"
It should be obvious that we support any language, it currently isn't. Here are some thoughts I had:

* “We want to make the process of adding new languages as simple as possible to increase the number of supported languages. Nevertheless, to use a language you either need trained word representations or you need to train your own representations using a large corpus of text data in that language.

[2019-07-22 12:39] tormath1 commented on #4047
@erohmensing, I've tried with `RestInput` connector and it works like a charm. No errors and expected behavior.

[2019-07-22 13:04] msamogh commented on #4069
Thanks for raising this issue, @ricwo will get back to you about it soon.

[2019-07-22 13:17] erohmensing commented on #4047
Hahaha. I will make sure that slack bug gets sorted, it's been causing lots of problems 😅If that's it, then I say we close this one

[2019-07-22 13:18] erohmensing commented on #3882
Hey @cuongnda, how is the PR going? Would really like to get this fix in ASAP, and am willing to take it over if you don't have the time to work on it.

[2019-07-22 13:21] tormath1 commented on #4047
Well, I don't know. As I said, my current rasa version has this fix https://github.com/RasaHQ/rasa/issues/3882#issuecomment-510117975 and it does not seem to work any better. I mean, yes: Rasa is ignoring Slack retry so we do not have duplicate messages. But we have this error on the other hand :disappointed_relieved:

[2019-07-22 13:22] amnesia15 commented on #4041
Yeah, it's a miracle 😄
First case that doesn't work is when I send the following message:

The message is interpreted and the following is stored at the tracker store:

`{
	"event": "user",
	"timestamp": 1563798338.76677,
	"text": "Bot I want to know something about some person",
	"parse_data": {
		"intent": {
			"name": "ask_information_about_expertise",
			"confidence": 0.649138212203979
		},

[2019-07-22 13:25] imLew commented on #3294
@dptelecom are you still experiencing this issue?
@TQuy can you please provide more details on how you issue may be reproduced?

[2019-07-22 13:26] erohmensing commented on #4047
What's your credentials file look like? do you have an `errors_ignore_retry`?

[2019-07-22 13:27] tabergma commented on #4048
If you want to train a model via the [HTTP API](https://rasa.com/docs/rasa/api/http-api/#tag/Model/paths/~1model~1train/post) you need to provide all data in the request itself. The server will not load any data from files or data storages. It just uses the data you provide via the API to train the model. So, adding intents and stories via a different API does not influences the train endpoint at

[2019-07-22 13:37] tormath1 commented on #4047
This is my `credentials.yaml`

[code]

And I don't have an `errors_ignore_retry` because I'm using the default [one](https://github.com/RasaHQ/rasa/blob/master/rasa/core/channels/slack.py#L156).

[2019-07-22 13:50] erohmensing commented on #4047
I see. And do you run into any `DEFAULT_REQUEST_TIMEOUT` issues when running your fork locally, or does this just happen when deployed in kubernetes?

[2019-07-22 13:55] tormath1 commented on #4047
Thanks for your precious time too.
* fork locally: it works
* fork remotely (kubernetes):
  * it works by using `RestInput` connector
  * it does not work with Slack connect (`DEFAULT_REQUEST_TIMEOUT`)

To me, the `DEFAULT_REQUEST_TIMEOUT` is present between the chatbot and the action server. This is why I do not undestand the differents behavior between `RestInput` and `slack`.

[2019-07-22 14:58] rgstephens commented on #4021
@akelad It's not just a matter of adding examples, there's a bug in the documentation for the API that needs to be fixed. The API docs state that `POST` for stories (and other calls) takes a string containing markdown which is incorrect.

[2019-07-22 14:59] SallemiDorsaf opened #4073 "2019-07-23 03:29:19 ERROR rasa.core.actions.action - Failed to run custom action 'action_get_answer'. Action server responded with a non 200 status code of None. Make sure your action server properly runs actions and returns a 200 once the action is executed. Error: url:'http://localhost:5055/webhook' 2019-07-23 03:29:19 ERROR rasa.core.processor - Encountered an exception while running action 'action_get_answer'. Bot will continue, but the actions events are lost. Make sure to fix the exception in your custom code."
Rasa  version : 1.1.7
Operating system (windows, osx, ...): windows 10
Issue:
I am trying to use "rasa shell" it gives some error :
Your input ->  How do I create a new git repository?
2019-07-23 03:29:19 ERROR    rasa.core.actions.action  - Failed to run custom action 'action_get_answer'. Action server responded with a non 200 status code of None. Make sure your action server properly runs action

[2019-07-22 16:20] Ghostvv commented on #4056
I doubt you use rasa version `0.11.1` could you please check what version of `rasa` and `rasa x` are you using

[2019-07-22 16:34] erohmensing commented on #4073
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-22 16:34] #4073 closed

[2019-07-22 16:41] cyrilthank commented on #4048
Thank you for the reply
But the post request for the model/train (rasa endpoint) completes successfully and generated the new model
But the conversation in rasa x is not recognizing the new changes
Instead if we run the train from command line (rasa train) it works
Can you please advice 
Thank you again for all your support
Cyril
    On Monday, July 22, 2019, 6:58:12 PM GMT+5:30, Tanja <notificati

[2019-07-22 17:35] emover commented on #4056
How can I install the correct one?
I followed the instructions on the Rasa site but many links are dead not
and its confusing

On Mon, Jul 22, 2019 at 12:20 PM Vladimir Vlasov <notifications@github.com>
wrote:

--
Thank You,
George Freed
Software and web architect
eMoverSoftware.com
Phone: 2 <917-628-7030>12-537-6759

[2019-07-22 17:55] rgstephens opened #4076 "Rasa X's NLU Post API Should Support Markdown"
**Description of Problem**: The stated direction of Rasa is to use Markdown not JSON but the http `POST` [API](https://rasa.com/docs/rasa-x/api/rasa-x-http-api/#operation/addData) for training data supports only JSON. This API call also lacks symmetry with the adding of stories via it's `POST` call which takes a [markdown file](https://rasa.com/docs/rasa-x/api/rasa-x-http-api/#operation/uploadStor

[2019-07-22 17:56] emover commented on #4056
I little bit confused here.
I have a folder RasaHQ that has rasa_core folder and the version there is
__version__ = "1.1.4"

Now, in my folder C:\Python36\Lib\site-packages\rasa version is __version__
= "1.1.3"
In the folder C:\Python36\Lib\site-packages\rasa_sdk
__version__ = "1.1.0" but I changed it in the file because I always got a
warning that version of SDK is not compatible and I need to ch

[2019-07-22 20:11] erohmensing commented on #4058
@bhavaniravi just my 2 cents, I think as we have `--debug` already mostly for increased logs, I wouldn't like this implementation to go under that flag, as it would be surprise new changed functionality. I'd prefer a new descriptive flag, for example `--hot-reload` or something like that. not sure what @wochinge thinks though

[2019-07-22 20:19] RanaMostafaAbdElMohsen commented on #3763
Hi @erohmensing ,
I have made a PR initially for filling slot utterance templates for` image`. Can you please advise me if I am on right track to support other fields ?

[2019-07-22 20:46] Ghostvv commented on #4056
try to run `pip install -U rasa-sdk` instead of changing the folder

[2019-07-22 23:41] emover commented on #4056
It tells that requirement already satisfied, didn't upgrade

On Mon, Jul 22, 2019 at 4:46 PM Vladimir Vlasov <notifications@github.com>
wrote:

--
Thank You,
George Freed
Software and web architect
eMoverSoftware.com
Phone: 2 <917-628-7030>12-537-6759

[2019-07-23 00:01] emover commented on #4056
Basically what happens that the system fills slot with entity and with the
form action. I have in my NLU similar values for origin and destination,
such as similar cities etc. And I have slots and entities *dwellingType_origin
*and *dwellingType_destination *that should have same values like *Walkup
building, elevator Building, Private house*. So if form actions asked
for a *dwellingType_origin
*a

[2019-07-23 01:12] journey1986 opened #4078 "Can not config token_pattern for CountVectorsFeaturizer in config.yml?"
**Rasa version**:
1.1.2
**Rasa X version** (if used & relevant):

**Python version**:
3.7.3
**Operating system** (windows, osx, ...):

**Issue**:
In the config.yml I want to config token_pattern: r’(?u)\b\w+\b’ for chinese under CountVectorsFeaturizer Component. But it doesn’t work.

CountVectorsFeaturizer reads my configuration r’(?u)\b\w+\b’ as a normal string not a regex. and failed in train me

[2019-07-23 02:30] rgstephens opened #4080 "API Domain Call Issues"
The Rasa X domain related API calls have some issues:

* There should be a `DELETE` call as there is for the Stories & NLU Training data API calls
* The `PUT` appears to do nothing unless you specify the `store_templates=true` param. It should update the domain like the Stories & NLU calls do as it's default (without requiring a query param).
* The `PUT` call with `store_templates=true` updated `i

[2019-07-23 02:52] cuongnda commented on #3882
Hi, I've created PR here, please take a look: https://github.com/RasaHQ/rasa/pull/4081

[2019-07-23 04:26] cyrilthank commented on #4039
Thank you i have asked here
https://forum.rasa.com/t/rasax-enterprise-have-any-additional-http-endpoints-to-support-ongoing-maintenance/13056

[2019-07-23 04:57] TQuy commented on #3294
I try to run the formbot several times but it always shows the error when I answer the question "How many people"

I have already run the command` rasa run actions` on different cm window , which point to the formbot directory

[2019-07-23 05:23] ricwo commented on #4068
Hi @seif-s3, which version of rasa X are you running?

[2019-07-23 05:36] ricwo commented on #4069
Hi @journey1986, I don't know if I understand you correctly, but it seems that for Chinese characters word boundaries are not defined by spaces? Is this always true?

[2019-07-23 05:39] journey1986 commented on #4069
Hi @ricwo , yes, you are right.

[2019-07-23 06:03] msamogh commented on #4080
Thanks for raising this issue, @wochinge will get back to you about it soon.

[2019-07-23 06:13] msamogh commented on #4078
Thanks for raising this issue, @erohmensing will get back to you about it soon.

[2019-07-23 06:15] msamogh commented on #4076
Thanks for raising this issue, @MetcalfeTom will get back to you about it soon.

[2019-07-23 07:00] bhavaniravi commented on #4058
I am not hooked to what it's called. I think this feature would help developing actions much easier

[2019-07-23 07:05] MounaGowdaH commented on #3973
@erohmensing , Please help me out for install rasa,
 I am getting below error,

 WARNING: The script f2py.exe is installed in 'c:\users\mouna.h\appdata\local\programs\python\python37\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  Running setup.py install for pycparser ... done
  Running setup.py i

[2019-07-23 07:15] ashish1471 commented on #3649
@tabergma
I am a beginner. Will you please help me?
My code:
from rasa_core.policies import FallbackPolicy, KerasPolicy, MemoizationPolicy
from rasa_core.agent import Agent

import asyncio
agent = Agent('domain.yml', policies=[MemoizationPolicy(), KerasPolicy(epochs=200)])

# loading our neatly defined training dialogues
loop = asyncio.get_event_loop()
training_data =loop.run_until_complete(agent.

[2019-07-23 07:17] harshitazilen opened #4082 "Unable to install rasa"
**Rasa X version** (if used & relevant):

**Python version**: python 3.5.2

**Operating system** (windows, osx, ...): Ubuntu 16.04

**Issue**: Unable to install rasa in my system

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2019-07-23 07:27] tabergma commented on #3649
@ashish1471 Please ask your question in our forum (https://forum.rasa.com/). Also use ``` around your code so that it is more readable. Thanks.

[2019-07-23 07:51] DavidForlen commented on #3674
Did you find a solution to this problem ?

[2019-07-23 08:12] tormath1 commented on #4082
Hi @harshitazilen , did you try with this command:
[code]

As mentioned [there](https://rasa.com/docs/rasa-x/installation-and-setup/).

[2019-07-23 08:14] harshitazilen commented on #4082
@tormath1  yes that also doesn't work

[2019-07-23 08:16] harshitazilen commented on #4082
@tormath1  , I got the answer.   according to documentation of  [aiohttp](https://aiohttp.readthedocs.io/en/stable/),   the latest version needs python 3.5.3. . I believe RASA should strict bind to minimal version of python being 3.5.3  in order to avoid this error.

[2019-07-23 08:22] ashish1471 commented on #3649
same problem. Did you able to solve it?

[2019-07-23 08:31] erohmensing commented on #3294
Duckling is used to extract numbers, you will always get that error as well as `Failed to extract slot num_people ` if you don't install it

[2019-07-23 08:51] TQuy commented on #3294
thanks for your help, it seems like the problem about referring old data has stopped appearing

[2019-07-23 08:59] wochinge commented on #4080
What do you need the `DELETE` for? We didn't have the use case yet that we have to delete a domain.

It does so, means `entities`, `intents` and so on should be updated. Do you have an example where this wasn't the case?

Mhm, how did your domain body look like? seems sth is wrong here.

By the way:
We are also adding new endpoints to manipulate actions in a domain in the next release 🎉

[2019-07-23 09:02] wochinge commented on #4058
I agree with @erohmensing . We shouldn't do this with `--debug`. How about using `--auto-reload` or `--hot-reload` and then setting `auto_reload=True` ( https://sanic.readthedocs.io/en/latest/sanic/debug_mode.html#manually-setting-auto-reload).

[2019-07-23 09:03] sonakshisaxena1 opened #4083 "Uttering a message while Form Filling"
I want to utter an output message depending on the last form slot that is filled, and then continue filling the form slots once the message is uttered to the user.

I tried using `dispatcher.utter_message()` but the message only pops up once all the form slots are filled.
Is there a solution to this?

[2019-07-23 09:04] wochinge commented on #4058
@bhavaniravi Did you try out whether this actually works when you change the `actions.py`?

[2019-07-23 09:05] harshitazilen commented on #4082
I upgraded my python version to python 3.6 and it worked :)

Reason of this issue is Rasa's dependency over aiohttp~=3.5.  And "aiohttp" requires minimum python 3.5.3.

So it results into above error.

[2019-07-23 09:05] #4082 closed

[2019-07-23 09:05] #3957 closed

[2019-07-23 09:16] #3937 closed

[2019-07-23 09:20] MetcalfeTom commented on #4076
Hi @rgstephens,

Is this for Rasa X?  The Rasa NLU HTTP API should already support both file types.

[2019-07-23 09:22] wochinge commented on #3702
@federicotdn Please update the ticket status

[2019-07-23 10:13] selphe commented on #3922
After clean setup, seems it fixed... but I still haven't column 'last_input_channel', like it was in mongodb

[2019-07-23 10:48] ktoetotam opened #4085 "Cannot import functions from rasa_nlu.test after update"
Hi,

I have updated to the latest version of rasa and now I cannot run the evaluation code:

[code]

I understood that rasa_nlu.evaluate moved to rasa_nlu.test but this functions do not seem to be there.

[code]

How do I get this code back running?

[2019-07-23 10:59] ktoetotam commented on #4085
So after some searching I found that:

The combine_intent_result, combine_entity_result are now one function combine_result and changed the code as follows:

[code]

I still get:

`ImportError: cannot import name 'get_intent_predictions'`

[2019-07-23 11:05] #4085 closed

[2019-07-23 11:29] wochinge commented on #4061
fixed by https://github.com/RasaHQ/rasa/pull/4071

[2019-07-23 11:29] #4061 closed

[2019-07-23 12:24] erohmensing commented on #4053
the most likely relevant method:
https://github.com/RasaHQ/rasa/blob/master/rasa/core/training/dsl.py#L294

[2019-07-23 12:36] wochinge commented on #3798
@Saladdin

[2019-07-23 12:58] #3860 closed

[2019-07-23 13:00] SallemiDorsaf commented on #4073
okay sure. I am waiting on someone to respond in the forum

[2019-07-23 13:12] JEM-Mosig opened #4086 "Automatically set a backend if no default backend is configured for matplotlib"
**Description of Problem**:
On Mac OS X, when running
[code]
testing fails because of an issue with `matplotlib`, iff `matplotlib` has not been used before. In particular, on Mac OS X, `matplotlib` requires a different backend setting, and presently it does not find that setting by itself. The issue is [explained on stack overflow](https://stackoverflow.com/a/21789908).

**Overview of the Solution

[2019-07-23 13:23] amn41 commented on #4086
might also make sense to add a `--no-plot` option or some other way to configure not running matplotlib at all

[2019-07-23 13:34] psds01 commented on #4078
This is probably because of the `r` at the beginning of r'(?u)\b\w+\b'. Can you try without the `r` and see if the tokenization is correct. YAML might be parsing the "raw flag" `r` as a part the string.

[2019-07-23 13:41] journey1986 commented on #4078
Hi @psds01, I have tried '(?u)\b\w+\b' and it is also not working.
Bcz, YAML will  read  '(?u)\b\w+\b' as string,and rasa will pass the string to CountVectorsFeaturizer.
So I think rasa need convert the configuration from string to Regex and pass the regex to CountVectorsFeaturizer .

[2019-07-23 13:55] wochinge commented on #3199
I think we should add this to the `UserUttered` event data as well (and make sure the `message_id` is also considered in the `as_dict` )

[2019-07-23 14:02] psds01 commented on #4078
If it is string and not a _raw_ string, you could add escape chars like `'(?u)\\b\\w+\\b'`. Not sure if it is a string.

Related question: Is this also true for the `regex_features` that we write in `nlu.md`? Do I need to manually escape there as well or adding the raw flag will do the job? @erohmensing

[2019-07-23 14:05] wochinge commented on #3199
@arthurTemporim To make sure that the event actually goes to the action server you have to include in the `UserUttered` event data

[2019-07-23 14:20] JEM-Mosig commented on #4086
@amn41 That is already another issue: https://github.com/RasaHQ/rasa/issues/3549

[2019-07-23 15:24] DavidForlen commented on #1754
@akelad Is your branch still usable ? I have the same issue as https://github.com/RasaHQ/rasa/issues/3674. The import of `create_features` from `bert.extract_features` doesn't work, as it doesn't find it.
The package to install is only `bert-tensorflow`, isn't it ?

[2019-07-23 15:33] rgstephens commented on #4080
As discussed in this forum [thread](https://forum.rasa.com/t/reseting-stories-using-rasa-x-server-deployment-with-docker/12719), the use case is where we want to reset the content of an existing Rasa X instance.

If I start with a new Rasa X instance and I want to import existing NLU, Stories and domain.

For the domain, there's no `POST` like there is for NLU & Stories. I use the `PUT` method on

[2019-07-23 15:41] rgstephens commented on #4076
Yes, for Rasa X.

[2019-07-23 15:53] wochinge commented on #4060
Nope, I guess this would have to be double checked

[2019-07-23 15:57] rgstephens commented on #4080
I've done some more testing with **templates**. I'm using `store_templates=true` and an updated domain from the one above. I've (1) replaced `utter_greet` with `utter_greet_greg`; and (2) removed `utter_goodbye` and get a status 200 from the `PUT`.

[code]

As you can see from this screenshot of Responses, I see the following issues:

* Now two copies of `utter_happy` & `utter_did_that_help`
* `ut

[2019-07-23 16:10] JEM-Mosig opened #4088 "Story structure analysis"
**Description of Problem**:
Stories might be inconsistent with one another. E.g. when story 1 is A > B > C, and story 2 is A > B > X, and C and X are bot actions, then rasa core would now know what to learn. Presently, it is hard to identify such history branches in large story files.

**Overview of the Solution**:
I wrote the `story_tree.py` script that solves this problem: https://github.com/Ras

[2019-07-23 16:16] wochinge opened #4089 "Update tensorflow to 1.14.x"
- [ ] update requirements + setup.py
- [ ] check if the new release breaks anything

[2019-07-23 17:01] MetcalfeTom commented on #4076
Seems valuable, I'll add it to our maintenance

[2019-07-23 17:04] erohmensing commented on #4078
Hey there @journey1986. I'm looking into some tests for this `token_pattern`, specifically [this one](https://github.com/RasaHQ/rasa/blob/master/tests/nlu/base/test_featurizers.py#L268) that tests this exact pattern on Chinese data, and it doesn't look like there's an issue. Can you perhaps test what happens if you don't have a try/except and it throws the whole error? (or alternatively accept the

[2019-07-23 17:27] erohmensing commented on #4041
Ok. Hm. There are a lot of potential things that could go wrong here, although from a first look I can't see anything that screams that it would be an issue. Any chance you could play around with your code to try to create a minimal reproducible example? E.g. does this same thing happen in a regular action, can you pull out any extra buttons that don't affect the response 1 by 1, etc?

Sorry to as

[2019-07-23 18:44] msamogh commented on #4085
Thanks for raising this issue, @MetcalfeTom will get back to you about it soon.

[2019-07-23 18:45] msamogh commented on #4083
Thanks for raising this issue, @federicotdn will get back to you about it soon.

[2019-07-23 18:46] msamogh commented on #3674
Thanks for raising this issue, @Ghostvv will get back to you about it soon.

[2019-07-23 19:54] ZeroAngel76 opened #4090 "Two stage fallback policy slots"
**Rasa version**: 1.1.7

**Rasa X version** (if used & relevant): NA

**Python version**: 3.6.5

**Operating system** (windows, osx, ...): macOS Mojave v10.14.5

**Issue**: Two Stage Fallback policy does not fill slots from user affirmed payload.

**Output of running rasa shell**
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of actions.py**:
[code]

**Debu

[2019-07-24 01:33] ghostHBL opened #4091 "threadsafe issue when create and delete conversations_in_processing lock"
**Rasa version**:
1.1.3

**Python version**:
3.6.8

**Operating system** (windows, osx, ...):
windows

**Issue**:
[code]
When Agent call handle_message method to process a message it will create a lock for the sender_id. I meet a situation that there are two meassge with same sender_id run in to handle_message method almost at the same time, then, they both crate a lock for the same sender_id, ius

[2019-07-24 01:41] journey1986 commented on #4078
Hi @erohmensing @psds01 . when I use '(?u)\\b\\w+\\b' or  '(?u)\b\w+\b' in my config,yml。There is no error. But rasa can not predict **single  chinese character intent**.
I will show you all of my configuration:

config.yaml:
[code]

nlu.md:
[code]
Then I trained rasa nlu model and test nlu. Below is my test results:
[code]

but if I use r"(?u)\b\w+\b" directly in CountVectorsFeaturizer  instead o

[2019-07-24 03:36] TatianaParshina commented on #4068
I have the same error.
Rasa X version: 0.19.5
OS: Windows 8

[2019-07-24 05:36] MounaGowdaH commented on #3973
@erohmensing,
again facing below error,

 WARNING: The script rasa.exe is installed in 'c:\users\mouna.h\appdata\local\programs\python\python37\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed ConfigArgParse-0.14.0 Jinja2-2.10.1 Mako-1.0.14 MarkupSafe-1.1.1 PyYAML-5.1.1 SQLAlche

[2019-07-24 06:38] erohmensing commented on #3973
This error appeared when installing a package not hosted by us:
[code]

why do you want to use MITIE?

[2019-07-24 06:43] erohmensing commented on #4047
Okay yeah, this is pretty perplexing. I think the best route here is to get that guy’s fix merged in, and then I’ll go in and check if everything works with the timeout stuff. Once we know that slack is working again, then we can correctly debug this issue

That’s what I understand too. Very weird.

[2019-07-24 06:45] lahsuk commented on #4083
Hi @sonakshisaxena1 ,

Are you using `dispatcher.utter_message()` in `run`? If so, it'll only appear once all form slots are filled. This is **not** a bug.

If you want the message to appear as slots get filled, you can do that by putting `dispatcher.utter_message()` inside the `validate_{slot}` method.
e.g>
If you have a slot of type user then you can do it like:
[code]
Hope that helps. :smile:

[2019-07-24 07:08] msamogh commented on #4090
Thanks for raising this issue, @wochinge will get back to you about it soon.

[2019-07-24 07:15] msamogh commented on #4091
Thanks for raising this issue, @gausie will get back to you about it soon.

[2019-07-24 07:37] bhavaniravi commented on #4058
I checked out `rasa_sdk` codebase and `executor` is written in such a way that the function references are held in a dict and called accordingly, which means the edit on those references will not reload the `Flask` or `WsgiServer` used.

[2019-07-24 07:39] RogersNtr opened #4093 "Sending messenger-like bot message in Rasa X generate error"
**Rasa version**: 1.1.4

**Rasa X version** (if used & relevant):1.0

**Python version**: 3.7

**Operating system** (windows, osx, ...): Linux Ubuntu

**Issue**:

[code]

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of domain file (domain.yml)** (if relevant):
[code]

[2019-07-24 07:55] #3983 closed

[2019-07-24 08:18] psds01 commented on #4078
Please include the regex string in double quotes: `token_pattern: "(?u)\\b\\w+\\b"`.

I guess there's still limitation on YAML parsing text with `raw` flag. So, that means we need to always "escape" in `config.yml`.

Now what about `nlu.md`? Do we need to "escape"  there as well?

[2019-07-24 08:19] Ghostvv commented on #4056
`from_text` is weaker requirement then `from_entity`, so it should go in the list afterwards.
did you set `auto_fill: false` in your domain for slots that are part of the form?

[2019-07-24 08:20] Ghostvv commented on #3674
what problem?

[2019-07-24 08:22] imLew commented on #4037
@creadoit @ricwo there was a very similar issue that caused intent properties, most noticeably `triggers` not to be saved when a domain was exported from interactive learning. This fix is in version 1.1.5 and up but was not in 1.1.4 yet.

[2019-07-24 08:30] journey1986 commented on #4078
@psds01   After changed token_pattern: "(?u)\\b\\w+\\b"  in config.yml. It seems ok now.

Thank you very much:)

[2019-07-24 08:58] wochinge commented on #3975
- for `rasa shell` I would add this configuration to the `credentials.yml`
- for `rasa interactive` we can add a cli parameter as you suggested. An environment variables is probably to hidden

[2019-07-24 09:14] DavidForlen commented on #3674
In order to replace `intent_featurizer_spacy` component by `rasa_components.featurizers.bert_featurizer.BertFeaturizer` in my pipeline, I took theses files from the `bert_embeddings` branch (https://github.com/RasaHQ/rasa/tree/bert_embeddings) :
- rasa_nlu/featurizers/bert_featurizer.py
- rasa_nlu/utils/bert_utils.py

I have installed the `bert-tensorflow` package on docker.
The packages that may

[2019-07-24 09:19] Ghostvv commented on #3674
you should use this fork: https://github.com/RasaHQ/bert

[2019-07-24 09:28] tormath1 commented on #4047
Hi @erohmensing,

If you check my logs:
[code]

You can see that I'm using https://github.com/RasaHQ/rasa/pull/4081 patch. IMO the error is deeper, around `aiohttp`, but I still can't figure out why there is no errors with `RestInput`.

[2019-07-24 12:23] nikhilcss97 opened #4096 "Error while executing FormAction"
I am facing this error when I try to execute my ActionForm

This is my error message:

ERROR    rasa_sdk.endpoint  - Exception on /webhook [POST]

Traceback (most recent call last):
  File "/home/vphrase/Desktop/chatbot/chat_bot/lib/python3.6/site-packages/flask/app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/vphrase/Desktop/chatbot/chat_bot/lib/python3.6/

[2019-07-24 12:47] emover commented on #4056
Hi, thank you for your response.
Yes, I tried that but in this case slots won't fill from free text, only
from form. So if user uttered:
I want to move from NYC to Brooklyn slots will be empty and bot will ask:
Where you are moving from?

On Wed, Jul 24, 2019, 4:19 AM Vladimir Vlasov <notifications@github.com>
wrote:

[2019-07-24 13:10] emover commented on #4056
Is there a way to limit entity extraction only from certain intend, so it
won't extracted from intend *Inform ? *In my nlu files entities
*location_origin*, *location_destination*, *dwellingtype_origin*,
*dwellingtype_destination* etc all have intend *moving_quote*, not intend
*Inform*, but still extracted in both intend. How to avoid it?

On Wed, Jul 24, 2019, 8:46 AM George Freed <georgefreed@gm

[2019-07-24 13:48] imLew commented on #4096
`required_slots` should be a `@staticmethod`.

[2019-07-24 13:49] #4096 closed

[2019-07-24 14:25] kronos-cm commented on #3995
Hi guys, I have already built an alpine version and the estimated size is a bit under 2G decompressed as opposed to the 2.7G from rasa/rasa:latest-full. I think it's not a huge reduction and definitely not worth the build time if it's just for space optimization, however, there are other arguments in favor of alpine based images, particularly for enterprises. In our case, our private registry vuln

[2019-07-24 15:01] mahdimor commented on #3323
sudo apt-get install build-essential python3 python-dev python3-dev
then
pip install --no-cache-dir ujson
and rerun
pip install rasa-x --extra-index-url https://pypi.rasa.com/simple
solved the problem for me ; ubuntu 16.04 and python 3.6 on conda environment installing the version with rasa-x

[2019-07-24 15:21] DavidForlen commented on #3674
Thanks a lot ! It run correctly now (even if it takes time on CPUs, I will try on GPUs).

But I couldn't install the bert package from this branch neatly. How should I install it without having to take the bert directory from the branch and putting it directly in my working directory ?
I tried `docker-compose exec medibot pip install git+https://github.com/RasaHQ/bert`, and pip tells me `Successfu

[2019-07-24 16:29] wochinge commented on #3995
@kronos-cm seems about the space reduction I got in https://github.com/RasaHQ/rasa/pull/3332

[2019-07-24 16:34] ricwo commented on #4069
@journey1986 I believe you should be able to use the `JiebaTokenizer` (see [here](https://rasa.com/docs/rasa/nlu/components/#jiebatokenizer)). You'll have to make sure to define a pipeline with `- name: "JiebaTokenizer"` followed by `- name: "RegexFeaturizer"`. Let me know if that works!

[2019-07-24 16:48] wochinge commented on #4080
I just tried the endpoint myself and it's working as expected. Do you have an idea what could be going wrong here @ricwo ?

[2019-07-24 16:51] wochinge commented on #4090
@ZeroAngel76 I assume that's based on this one? https://forum.rasa.com/t/two-stage-fallback-policy-slot-reset/13133/2

[2019-07-24 17:14] wochinge commented on #4058
that's what I thought 😞

[2019-07-24 19:35] ZeroAngel76 commented on #4090
Modified my code as follows (copying your example), I am still getting the exact error. I even use the r'' tag when formatting the string. Perhaps the debugging output is just from my terminals formatting? Notice that the debugger catches the new name initially and then reverts it.

[code]

[2019-07-24 20:18] #3945 closed

[2019-07-25 00:45] ghostHBL opened #4101 "There is not a proper method to pass a parameter of max_event_history to DialogueStateTracker"
**Description of Problem**:

When pass a message to Agent, Agent pass the message to MessageProcessor, MessageProcessor will get or create a tracker for the sender id first.
[code]
But it doesn't pass a parameter of max_event_history to the tracker store, tracker store will always pass  max_event_history  as None to DialogueStateTracker. The deque of events in DialogueStateTracker will be very lar

[2019-07-25 00:54] journey1986 commented on #4069
@ricwo   I used JiebaTokenizer and it is also not working.
Below is my config.yml

[code]

[2019-07-25 01:00] journey1986 commented on #4069
@ricwo  I have checked RegexFeaturizer features_for_patterns method source code:
[code]
you can see that it will first try to use regex_string to match the message.text.
if we use **regex_string = "(?i)(\\b" + "\\b|\\b".join(elements_sanitized) + "\\b)"**, then will not match the chinese sentence.

And then below code will not run:
[code]

[2019-07-25 01:15] ghostHBL opened #4102 "custom subclass of Domain get something wrong when call classmethod of load"
**Description of Problem**:

I create a custom subclass of Domain (we call it CustomDomain here), but we I load it from domain by method of load, I get somthing wrong.
[code]
**Overview of the Solution**:

 I check the code of load, as you can see, it create a empty Domain object by `domain = Domain.empty()`, I think here should be `domain = cls.empty()`, do you think so?

[2019-07-25 04:00] saurabh-m523 commented on #2013
Thank you so much, this worked!

[2019-07-25 04:12] royhuang9 commented on #3575
I encountered this same issue today. After two hour struggling, I even wrote a long comment here before I realised my mistake. The root cause of my problem was I named my own file as rasa_nlu.py. When I changed my file to another name, it worked fine.

[2019-07-25 05:06] ricwo commented on #4080
Hi @rgstephens, I haven't been able to reproduce the issues you mentioned. Would you mind sharing exact steps to reproduce the problem? Here's what I did:
1. `PUT` your first domain from https://github.com/RasaHQ/rasa/issues/4080#issuecomment-514263352 with `?store_templates=true`
2. `PUT` your first second from https://github.com/RasaHQ/rasa/issues/4080#issuecomment-514273172 with `?store_templat

[2019-07-25 05:17] ricwo commented on #4069
Thanks! I've just tried to tokenize your sentence using jieba _without_ a custom dictionary. Here's what I get:
![image](https://user-images.githubusercontent.com/20581300/61847807-4bc01c00-aeac-11e9-895f-a98d491408a4.png)

It seems that both character pairs were tokenized correctly, so these should be correctly picked up by your `RegexFeaturizer`. Would you mind trying again without a custom dict

[2019-07-25 05:47] rgstephens commented on #4080
ok, so before I start, I'm going to remove my domain. Here's what it looks like before I start testing:

<img width="359" alt="Screen Shot 2019-07-24 at 10 12 22 PM" src="https://user-images.githubusercontent.com/846052/61847875-13dfb700-ae61-11e9-9098-3743aa972183.png">

I make the `domain` `PUT` call without the store_templates option and *nothing* is deleted. I make the call again with the opti

[2019-07-25 06:21] msamogh commented on #4102
Thanks for raising this issue, @wochinge will get back to you about it soon.

[2019-07-25 06:22] sibbsnb commented on #2725
embedding policy uses tensorflow and way more complicated than the Keras policy. Do you think the policy will be better by adding the validation split?

[2019-07-25 06:48] msamogh commented on #4101
Thanks for raising this issue, @wochinge will get back to you about it soon.

[2019-07-25 07:06] pudasainishushant opened #4103 "Problem connecting rasa chatbot with facebook messenger"
Rasa Core version: Rasa 1.1.6
Python version: Python 3.6.8 :: Anaconda, Inc.

Operating system (windows, osx, ...): Ubuntu

Issue:  The rasa chatbot works perfectly in rasa shell.
![Screenshot from 2019-07-25 12-18-07](https://user-images.githubusercontent.com/47980452/61852145-70ca8400-aed8-11e9-9a01-c461e3d9539f.png)

 I am trying to integrate this rasa chatbot to facebook messenger. I have crea

[2019-07-25 07:44] pradeepd80 commented on #1863
Hi All ,
Could you please help me any one I am facing issue on chatbot conversation . My UI in angular and Now i want to access rasa core + nlu as rest from my angular services.

my python complete code as follows:
I am new in python and rasa:

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals

impor

[2019-07-25 07:50] pradeepd80 commented on #1863
I am facing mainly two issue
1. In postman is ok. but  when I am calling "http://127.0.0.1:5004/chat/status" from angular then showing error:
Access to XMLHttpRequest at 'http://127.0.0.1:5004/chat/status' from origin 'http://localhost:4200' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the re

[2019-07-25 08:16] cyrilthank commented on #4048
can you please confirm
if the below means that if we add/modify using rasa http api the updates are not available to rasa-x http api and vice versa?
" So, adding intents and stories via a different API does not influences the train endpoint at all. Does that help?"

[2019-07-25 08:19] tabergma opened #4104 "Improve CI/CD setup"

[2019-07-25 08:23] tabergma commented on #4104
deleted

[2019-07-25 08:23] #4104 closed

[2019-07-25 08:29] tabergma commented on #4048
Can you paste the complete post request for `model/train` you used?

The endpoint `model/train` does not read any files from disk. It just takes the data you are providing in the request itself. If you execute `rasa train` on the command line training data, config and domain will be read from files. If you update stories or intents in Rasa X, they are stored in files on disk. So `rasa train` will

[2019-07-25 08:44] wochinge commented on #4102
Please ask questions in the forum https://forum.rasa.com

[2019-07-25 08:44] #4102 closed

[2019-07-25 09:03] mpbalshetwar commented on #783
@akelad - the sad part is the urls you have specified seems to be not working now. We keep getting "Oops… this page doesn't exist." error when we navigate.

[2019-07-25 09:16] wochinge commented on #4101
@ghostHBL Thanks for proposing this solution. However, I close it since it's a duplicate of https://github.com/RasaHQ/rasa/issues/3011 . Could you add your comments there?

[2019-07-25 09:16] #4101 closed

[2019-07-25 09:24] wochinge commented on #4090
I found a problem related to that yesterday. fixing it in https://github.com/RasaHQ/rasa/pull/4100. Hope this fixes your problem :-)

[2019-07-25 09:54] federicotdn commented on #4083
Hey @sonakshisaxena1, did @lahsuk's answer help you solve your problem?

[2019-07-25 10:20] journey1986 commented on #4069
Hi @ricwo, jieba  is ok.But I means that,for example:
[code]
Then matches is emtpy actually。

[2019-07-25 10:24] cyrilthank commented on #4048
Thank you @tabergma for explaining this clearly

below is the json payload i am using for model/train (the rasa http api)
please note the training completes fine without errors

[2019-07-25 10:31] cyrilthank commented on #4048
also please advise on the rasa-x api to train model since i gather model/train is http api for rasa server

[2019-07-25 11:00] selphe commented on #3922
Hi @MetcalfeTom
I've did a deeper research with clean setup, but problem reproduced... :(

**First case:**
endpoint.yml:
[code]
log:
[code]
Result: FormAction ended wrong

**Second case:**
At next try, i've just commented tracker_store in endpoints.yml:
[code]
Logs:
[code]
Result: FormAction ended successfull

Strange part from log, when pgdb is used as tracker_store:
[code]
What could be wrong?

[2019-07-25 11:07] tabergma commented on #4048
I guess you forgot to share the json payload.

Rasa X calls the Rasa API (`/model/train`) for training a model internally. Rasa X itself does not offer an endpoint for training a model.

[2019-07-25 11:10] Ghostvv commented on #4056
yes, please see the documentation for `slot_mapping`: https://rasa.com/docs/rasa/core/forms/#custom-slot-mappings

[2019-07-25 11:31] sonakshisaxena1 commented on #4083
Yes @federicotdn.
Thankyou @lahsuk :)

[2019-07-25 11:55] #3956 closed

[2019-07-25 12:06] #4083 closed

[2019-07-25 12:30] skumagai opened #4105 "Make affirm and rephrase actions configurable in TwoStageFallbackPolicy"
**Description of Problem**: For two stage fallback policy, actions for affirmation and rephrase are not configurable from `config.yml`. Please make them configurable like `fallback_core_action_name` is.

**Overview of the Solution**: Add `affirmation_action_name` and `rephrase_action_name` in `TwoStageFallbackPolicy.__init__` with default arguments `ACTION_DEFAULT_ASK_AFFIRMATION_NAME` and `ACTION

[2019-07-25 12:36] emover commented on #4056
Thank you for your response.
However, this approach only works when the value of the answer can belong
to 1 slot, such as cuisine, number_of_people etc.
When value can belong to different slots, like in my case origin and
destination, or in any other bot that has locations or time such as from
and to, it doesn't work
In NLU it extracted based on context such as I'm going FROM nyc TO
brooklyn. When

[2019-07-25 12:42] djwessel commented on #3975
@wochinge I should be able to set up a pull request in the next few days.

[2019-07-25 12:47] Ghostvv commented on #4056
the content of requested slot is a context, so you can customize for each slot how it can be filled in the order of importance, please see how form action uses `slot_mapping`: https://github.com/RasaHQ/rasa-sdk/blob/c6668354cee2a3ef2142cc257fa469911b182008/rasa_sdk/forms.py#L268

Since it is becoming a usage discussion I'll close this issue. If you have more questions please check our forum: https

[2019-07-25 12:47] #4056 closed

[2019-07-25 13:04] cyrilthank commented on #4048
Thank you for your clear and prompt response

considering the update on "..Rasa X calls the Rasa API for training.."
can you please help with the new intent not being picked up

sorry i did miss the below json earlier

{
  "config": "language: en\npipeline:\n  - name: \"WhitespaceTokenizer\"\n  - name: \"RegexFeaturizer\"\n  - name: \"CRFEntityExtractor\"\n  - name: \"EntitySynonymMapper\"\n  - na

[2019-07-25 13:19] psds01 opened #4107 "Rasa X does not restart after `/restart` when the tracker is paused"
**Rasa version**:1.0.1

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:
If I return `ConversationPaused()` from my `custom_action`'s `run` method, the bot does not restart if I enter `/restart` but instead predicts `action_listen` as the next action. But If I `/restart` again, it works alright.

![Screenshot from 2019-07-25 18-30

[2019-07-25 13:43] msamogh commented on #4107
Thanks for raising this issue, @gausie will get back to you about it soon.

[2019-07-25 14:00] tabergma commented on #4048
The JSON you provided is not working. It had some formatting issues. I created a demo bot with `rasa init` and started the Rasa server with `rasa run --enable-api`. I could train a new model with
[code]
I just updated the json a little bit.

What do you mean by `can you please help with the new intent not being picked up`? If you are using Rasa X, you can simple click the button in the UI after yo

[2019-07-25 14:06] federicotdn opened #4108 "Exception raised on 'rasa init' when trying to speak to assistant"
**Rasa version**: `master` branch

**Rasa X version** (if used & relevant): -

**Python version**: 3.7.4

**Operating system** (windows, osx, ...): macOS

**Issue**:
After running `rasa init` and after the model is trained for the first time, the user is prompted with:
[code]
If the user answers 'Yes', the script crashes with an exception.

**Error (including full traceback)**:
[code]

**Command o

[2019-07-25 14:10] TayyibahR commented on #3803
I had this same issue yesterday. in interactive mode i was getting an error while trying to set entities and slot(my domain file had entities and slots correctly defined):
error:  rasa.core.trackers - Tries to set non existent slot

At first i thought i needed trackers.py update but when i looked into nlu.md data that interactive mode generated i found some inconsistencies in entity extraction(the

[2019-07-25 14:11] wochinge commented on #3975
@djwessel That's amazing! Thanks for proposing this, discussing and contributing 💯 Let me know if you need any help on the way (you can also tag me here and I can have a look at an early draft 👍 )

[2019-07-25 14:21] #4090 closed

[2019-07-25 14:37] ZeroAngel76 commented on #4090
Thank you. It worked beautifully. Appreciate the fast response.

[2019-07-25 16:27] #4108 closed

[2019-07-25 16:55] wochinge commented on #4090
Always 😄

[2019-07-25 19:18] mjspeck commented on #4105
Can't you just overwrite the actions as demonstrated in [this](https://blog.rasa.com/failing-gracefully-with-rasa-core/) blog post? I've written my own custom rephrase action. Not quite as simple as configuring the yaml, but those actions would probably need custom code anyway.

[2019-07-25 21:27] skumagai commented on #4105
Thanks for your reply.

I can. And in fact I do now. The thing is I need to add another bot while sharing the same action server between them. These bots need to have different implementation of affirmation and rephrase actions. Because only one custom action can take the name "action_default_ask_affirmation," I can't achieve my goal easily.

As you said these actions oftentimes need to be overwri

[2019-07-25 23:47] saucepleez opened #4110 "HTTP Training in legacy Rasa_Core"
**Rasa version**: 0.8.2

**Python version**: 3.6.3

**Operating system** (windows, osx, ...): Windows using Anaconda Prompt

**Issue**: I am using the HTTP API and training does not always seem to finish in 0.8.2 and return the 200 result with the model info.  It seems like the process hangs.  I understand this is an older version of Rasa, but I was wondering if this is a known issue that has been

[2019-07-26 00:52] ghostHBL commented on #4102
I don't think it is a question, I have fix the problem I had met, and, I found something wrong in rasa code, as what I point out that it should be `domain = cls.empty()` but not `domain = Domain.empty()`, since `domain = Domain.empty()` would make method of load in custom domain class still return a object of original Domain but not custom Domain or maybe rasie some exception when `domain = domain

[2019-07-26 06:38] msamogh commented on #4110
Is it possible for you to update to the latest version and see if the issue persists?

[2019-07-26 06:39] msamogh commented on #4105
Thanks for raising this issue, @wochinge will get back to you about it soon.

[2019-07-26 08:27] #3993 closed

[2019-07-26 11:11] #4016 closed

[2019-07-26 12:25] #4066 closed

[2019-07-26 12:27] #3882 closed

[2019-07-26 12:27] #3992 closed

[2019-07-26 12:42] MetcalfeTom commented on #4103
Thanks for raising this issue, @GhostVV will get back to you about it soon!

[2019-07-26 12:43] MetcalfeTom commented on #4093
Thanks for raising this issue, @MetcalfeTom will get back to you about it soon!

[2019-07-26 12:46] MetcalfeTom commented on #4093
Hi @RogersNtr,

Can you please post your `domain.yml`?

[2019-07-26 13:05] MetcalfeTom commented on #4103
@pudasainishushant Hi, thanks for the screenshots!

Can you communicate with the Facebook graph API through POSTMAN?  e.g. with the [`/me` endpoint?](https://developers.facebook.com/docs/graph-api/using-graph-api/)

[2019-07-26 13:50] #4053 closed

[2019-07-26 13:56] JEM-Mosig opened #4113 "Duplicate output in log file"
**Rasa version**:
1.1.8, commit e3ae94995d

**Python version**:
3.7 (I have to check once I get home)

**Operating system** (windows, osx, ...):
Observed on Ubuntu and Mac OS X

**Issue**:
Both `rasa train` and `rasa test` tend to write output twice for no reason. This happens on my Ubuntu desktop and on Vova's MacBook, but not on my MacBook.

**Error (including full traceback)**:
There is no erro

[2019-07-26 14:26] amaurymercier opened #4114 "MappingPolicy is not usable in Rasa X"
Hello !
It seems I can't get the MappingPolicy to work in Rasa X.

**Rasa version**:  1.1.8

**Rasa X version** (if used & relevant):  0.19.5

**Python version**:  3.6.7

**Operating system** (windows, osx, ...): Ubuntu

**Issue**: `MappingPolicy` configuration in `domain.yml` (e.g. setting `triggers: action_name` in the domain) is ignored by rasa-x (the attribute doesn't show up when looking up t

[2019-07-26 15:48] Ghostvv commented on #4113
I have the same on my Mac:
[code]

[2019-07-27 03:48] kiwinesian opened #4115 "Rasa X: result: List[Dict[Text, Any]]"
Hello Rasa,

First of all, thank you so much to the developers who made Rasa to be open-source! really appreciate all the hard work that went to it! :)

Just having a slight difficulty in running rasa.

I do know that perhaps Rasa X is not compatible with python3.5 as mentioned on another thread.
I upgraded and re-pointed the python to read from python3.6, but yet still having the issue as below.

[2019-07-27 14:19] RanaMostafaAbdElMohsen commented on #850
Hi @akelad
Can I work on this issue?

[2019-07-27 15:50] leonore commented on #2938
your rasa_core_sdk is most likely looking for an actions.py file in an actions/ directory within the main directory

[2019-07-27 20:57] hsm207 commented on #3548
I have the same issue as @anoop2503 except that I am running rasa inside a docker container. The image is based on `continuumio/miniconda3:4.6.14`. I have no problems running on my windows machine.

@sumeendranath  solution did not work for me. I got this message:

[code]
i guess it must be a docker thing since I am already root when I ran that command.

[2019-07-28 02:03] hsm207 commented on #3647
I want to work on this

[2019-07-28 05:05] pudasainishushant commented on #4103
![Screenshot from 2019-07-28 10-47-23](https://user-images.githubusercontent.com/47980452/62002509-533e2a00-b125-11e9-89f4-6f9fef169fba.png)
This is the screenshot when i try to check it from Postman. It says not validated and wrong facebook secret but I have provided exact secret token and page access token and verify token in the credentials.yml file

[2019-07-29 03:25] xuexiaoao opened #4116 "Garbled when I use rasax to add Chinese templates"
**Rasa version**:
1.1.6
**Rasa X version** (if used & relevant):
0.19.5
**Python version**:
3.6.8
**Operating system** (windows, osx, ...):
windows
**Issue**:

Garbled when I use rasax to add Chinese templates,Unable to start when I restart rasax, prompt coding problem

**Error (including full traceback)**:
[code]
![image](https://user-images.githubusercontent.com/18185523/62019796-0a54a700-b1f3-1

[2019-07-29 05:01] lahsuk commented on #4103
Hi @pudasainishushant ,

You need to add your secret to the credentails.yml file too. Here is the link https://rasa.com/docs/rasa/user-guide/connectors/facebook-messenger/ . You need to add all verify, secret and page-access-token to the credentials file.

And only after that should you verify the webhook after forwarding port through ngrok.

Hope that helps.

[2019-07-29 06:07] psds01 commented on #4114
retrain the bot after any changes to the config.

[code]

[2019-07-29 07:38] HatuneMiku opened #4118 "Can not interrupt rasa run server by Ctrl+C on winodws"
**Rasa version**:
1.1.8

**Python version**:
Python 3.6
**Operating system** (windows, osx, ...):
Windows 10 1903
**Issue**:

Can not interrupt rasa run server by Ctrl+C on winodws immediately, after I send something to the server, it raise KeyboardInterrupt. can it be Interrupt immediately by Ctrl+C ?

Maybe we need something like :
[code]
https://stackoverflow.com/questions/17101502/how-to-stop-

[2019-07-29 07:48] RogersNtr commented on #4093
Herei is the subset which generate the error

[2019-07-29 08:54] spockmang commented on #3708
This issue is resolved for me. I got the same errors as above when i was using ubuntu16.04 and pip3. But for latest rasa or rasa x to work you may need to have the
   - latest version of linux kernel
   - Python 3.5.3+
   - pip3 latest version

The installation is a success for me in Ubuntu 18.04 and using pip3.

`root@spock-02-VirtualBox:~# pip3 install rasa-x --extra-index-url https://pypi.rasa.

[2019-07-29 09:24] #3789 closed

[2019-07-29 10:47] imLew commented on #3803
@TayyibahR Please create a seperate issue for this, as it sounds like the underlying problem is different. Or, if you could turn your fix into a PR that would be even better :D!

[2019-07-29 10:54] pudasainishushant commented on #4103
Hello @MetcalfeTom , thanks for reminding me that. However, I have already added verify token, secret and page_access_token to the credentials file. Here, is the screenshot of that.
![Screenshot from 2019-07-29 16-37-35](https://user-images.githubusercontent.com/47980452/62043181-72b97d80-b21f-11e9-8af5-ea73172328f9.png)

[2019-07-29 11:28] wochinge commented on #4105
@skumagai The names for these actions are hardcoded, because they are used by the internal action `action_revert_fallback_events` 🤔 Why not using two different action servers for different bots? The rasa-sdk image is pretty lightweight.

[2019-07-29 11:34] lahsuk commented on #4103
Hi @pudasainishushant ,

Did you verify your webhook? And if you did, you should test it through messenger not from postman.

[2019-07-29 11:43] msamogh commented on #4118
Thanks for raising this issue, @tabergma will get back to you about it soon.

[2019-07-29 11:49] msamogh commented on #4116
Thanks for raising this issue, @Saladdin will get back to you about it soon.

[2019-07-29 11:58] #3903 closed

[2019-07-29 11:58] #3950 closed

[2019-07-29 12:00] MetcalfeTom commented on #4115
Hi @kiwinesian,

Thanks for the praise 😊we love the open source community and wouldn't want to host Rasa anywhere else

To me, the above error looks like `pip` installed `rasa` into the `python3.5` directory.  Try re-installing with `python -m pip install rasa` and see if that solves the problem 👍

[2019-07-29 12:04] erohmensing opened #4119 "Log a warning if NLU picks up intents/entities that aren't in the domain"
If we log a warning, this could be helpful in debugging, e.g. if you misspelled an entity while using the regex format, because it will end up featurized differently (or not at all? really not sure). The idea is something like
[code]

[2019-07-29 12:07] erohmensing commented on #3763
closed in https://github.com/RasaHQ/rasa/pull/4077 and https://github.com/RasaHQ/rasa/pull/4079 -- thanks guys!

[2019-07-29 12:07] #3763 closed

[2019-07-29 12:49] TatianaParshina opened #4120 "NameError: Cannot access action 'utter_....', as that name is not a registered action for this domain"
**Rasa version**:
Rasa 1.1.4

**Rasa X version** (if used & relevant):
Rasa X 0.19.5

**Python version**:
Python 3.6.8

**Operating system** (windows, osx, ...):
Windows 8.1

**Issue**:
Rasa X domain is not in sync with domain.yml file.
Rasa X domain contains 'utter_zoo' that I have added manually from UI and saved to domain.yml.  Then I removed it manually from all local files -  domain.yml, nlu.

[2019-07-29 13:01] federicotdn commented on #4091
Hey @ghostHBL, would you mind sharing some more details on how you got the error exactly? I'm interested in knowing the exact command you used to run Rasa, and from where did the two requests originate. Thanks.

[2019-07-29 13:58] ValeriuOlar commented on #3801
I got the same issue on Win 10 machine when run command: rasa init

Traceback (most recent call last):
  File "C:\Users\valeriu.olariu\AppData\Local\Programs\Python\Python36\Scripts\rasa-script.py", line 11, in <module>
    load_entry_point('rasa', 'console_scripts', 'rasa')()
  File "c:\users\valeriu.olariu\openjaw\rasa t\rasa\rasa\__main__.py", line 69, in main
    set_log_level(log_level)
  Fil

[2019-07-29 15:06] msamogh commented on #4120
As of now, the `domain.yml` file on your filesystem reflects the _latest_ change that you made from Rasa X. So it might be possible that the `domain.yml` file that you're seeing on your local filesystem is different from that of your `Active` model on Rasa X.

[2019-07-29 15:06] AllBecomesGood opened #4123 "Two Stage Fallback not working as described"
**Rasa version**: 1.1.8

**Rasa X version** (if used & relevant):

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): win 10

**Issue**:
https://github.com/RasaHQ/rasa/blob/master/rasa/core/policies/two_stage_fallback.py

It simply does not ask the user to rephrase as promised.
[code]
**Command or request that led to error**:
rasa shell
[code]

Now obviously I should say yes, but

[2019-07-29 15:25] ValeriuOlar opened #4124 "rasa init not working"
**Rasa version**:

**Rasa X version** (if used & relevant):
Last -v
**Python version 3.6.0

**Operating system** (windows, ):

**Issue**:

After installing RASA on my win10 machine, i have tried to start a new project, from cmd: rasa init

Is giving me the below error, if anyone can help it would be great. thanks

**Error (including full traceback)**:
[code]

**Command or request that led to error

[2019-07-29 15:54] AllBecomesGood commented on #4124
What does
rasa --version
return?

[2019-07-29 16:01] msamogh commented on #4123
Thanks for raising this issue, @federicotdn will get back to you about it soon.

[2019-07-29 16:33] kiwinesian commented on #4115
thanks @MetcalfeTom for the response! :)

I think there is definitely something wrong with the `pip`
I did re-map the `pip` and the `pip3` to the python3.6 by updating the respective file at /usr/bin, but still did not work.

So what I ended up doing was install python 3.7.4 and use the pip3.7 that came with the installation to run the rasa install; works great now! :)

Might be some incompatibili

[2019-07-29 16:57] ralphg6 commented on #1154
@akelad I am interested in implementing ...

I actually implemented it in Node.js, but in a slightly different way. I saw that the design approach is to code a loader that parses to TrainingData ... I'm moving to this architecture ...

But I've been thinking ... Who think that create a command in CLI to perform the migration already to the RASA NLU format definitively ...

Because what I realized

[2019-07-29 18:32] erohmensing commented on #1154
Awesome!

Are you saying that in addition to being able to load Watson data directly, you'd like a CLI command to convert Watson to Rasa, similar to how we have one that converts json to md?

[2019-07-29 18:35] AllBecomesGood commented on #4123
I found how to get it to ask for the rephrase after running rasa shell --debug which showed that rephrase ran, but returned [] nothing. In domain.yml I had to add:
[code]
And then in rasa shell testing the bot it worked:
[code]

As you can see it works (it breaks because there's hardly any story data i think, so it just doesn't know what to do when you tell it you're sad several times in a row).

[2019-07-29 18:38] MetcalfeTom opened #4126 "Checking for data files is prone to decoding errors"
Especially `True` in the case of the `SkillSelector`, where we check every file in `imports` for nlu/story data

[code]

[2019-07-29 18:48] ValeriuOlar commented on #4124
Is  rasa==1.1.8

[2019-07-29 18:52] AllBecomesGood commented on #4123
Ok i'm an idiot it is in the docs

[2019-07-29 18:52] #4123 closed

[2019-07-29 19:09] AllBecomesGood commented on #4124
That means at least something's working! I don't know what the problem is, but while waiting for someone you should try Anaconda & make a virtual environment rather than using it in a system wide fashion, as this has the high chance of different versions of different things all messing with each other. That's what I do on win10 and it works like a charm, and I can have all different python version

[2019-07-29 22:27] ralphg6 commented on #1154
Exactly! What CLI command is this?

I thought of something like:
`rasa migrate --input-format watson --target-data-folder <data_folder>`

Using Loaders seems pretty simple!

[2019-07-30 01:44] hsm207 commented on #3647
@merwok what are the changes that should be made? I don't see how the exception raised by [validate_requirements](https://github.com/RasaHQ/rasa/blob/f3480aa384740c58d4b98f6498938faecf39bbe1/rasa/nlu/components.py#L28) can be unclear.

[2019-07-30 02:54] merwok commented on #3647
I don’t know how to explain the same idea differently!

To repeat my initial message:  if `import sklearn` fails, it is not correct to say `you need to run pip install sklearn`, because the (importable) module name is not the same as the (installable) package name (here: scikit-learn).

[2019-07-30 03:10] sekarpdkt opened #4127 "Getting issue while importing agent from rasa_core.agent"
If I try to use it in Google Colab, while importing agent it give error as mentioned in  #3001. Work around provided is to use rasa==0.9.6. What is the permanent fix for the same? Any idea or clue?

[code]

and error is

[code]

[2019-07-30 04:31] selphe opened #4128 "Telegram channel broken in latest update"
**Rasa version**:
rasa/rasa:latest-full from docker-hub
https://hub.docker.com/r/rasa/rasa/builds
(https://github.com/RasaHQ/rasa/tree/f3480aa384740c58d4b98f6498938faecf39bbe1)

**Python version**:
3.6

**Operating system** (windows, osx, ...):
docker

**Issue**:
After latest update rasa can't start up with telegram connector.

**Error (including full traceback)**:
[code]

I guess, problem ocurred

[2019-07-30 04:32] selphe commented on #4128
@wochinge could you please look at this issue?

[2019-07-30 05:33] pingyuan2016 opened #4129 "Exception occurred while handling uri: 'http://localhost:5005/favicon.ico"
hello, I install rasa X new version,run "rasa shell",It's error, I get this inspecting the core logs:
[code]

[2019-07-30 06:05] erohmensing commented on #1154
So first thing's first, we would want to be able to load and use watson data directly as well, since we already support that for the other migrations.

However I think this is an interesting idea for a separate enhancement -- @amn41 what do you think? Something like
[code]
that would use the current guess_format to figure out the current format of the data out of the supported formats and then cal

[2019-07-30 07:30] jianjunchang opened #4130 "i found it will crash when using interactive learning, if my input sequence too long to print the history."
**Rasa version**:1.1.4

**Rasa X version** (if used & relevant):

**Python version**:3.6.9

**Operating system** (windows, osx, ...):osx

**Issue**:

i found it will crash when using interactive learning, if my input sequence too long to print the history. if the sequence is not too long ,the crash will not appear.

**Error (including full traceback)**:
[code]

**Command or request that led to err

[2019-07-30 07:38] msamogh commented on #4130
Can you paste your input here?

[2019-07-30 07:39] msamogh commented on #4129
Thanks for raising this issue, @erohmensing will get back to you about it soon.

[2019-07-30 07:44] msamogh commented on #4127
Okay that's a pretty old issue, could you update your Rasa to the latest version and see if the issue still persists?

[2019-07-30 07:47] jianjunchang commented on #4130
@msamogh what's the content i input is not the matter, but the printing of the history table is the cause of the crash when the input sequence is too long. if the screen's resolution is high enough to display a long sequence, there will no crash again. so this is not a serious bug.

[2019-07-30 07:48] msamogh commented on #4124
Thanks for raising this issue, @tabergma will get back to you about it soon.

[2019-07-30 08:08] msamogh commented on #4130
By sequence, do you mean a single input line or the history length?

[2019-07-30 08:19] jianjunchang commented on #4130
i mean a single input line, i think the reason of crash is the input line can't be display properly.(sorry, my english is bad, i hope you can understand me)

[2019-07-30 08:23] TatianaParshina commented on #4120
@msamogh thank you for your reply!

I still have the question:
1. Where does Rasa X save information about domain if it doesn't use domain.yml?
2. How to update the Rasa X domain from domain.yml file? I have the actual information in domain.yml file.
Use case: different team members are working on domain.yml and commit changes to the Github project. Then these changes should be reflected from doma

[2019-07-30 08:25] MetcalfeTom commented on #4107
Hi @psds01,

Interesting, I checked the logs and seems like this is a bug with the `MappingPolicy`, we'll take a look

The logs below show
`2019-07-30 10:20:16 DEBUG    rasa.core.policies.mapping_policy  - There is no mapped action for the predicted intent, 'restart'.`
which is not correct behaviour
[code]

[2019-07-30 08:44] psds01 commented on #4107
I will take it up.
Thanks @MetcalfeTom  for the source of error.

[2019-07-30 09:08] gausie commented on #3685
This has since become stale and been fixed. Future unexpected visualization failures now do not require the page to be refreshed.

[2019-07-30 09:08] #3685 closed

[2019-07-30 09:19] true1337 commented on #3685
This issue is not about rendering but the impossibility to render the story.
Upgraded to rasa 1.1.8 and rasa-x 0.20.0 still have this problem.

![image](https://user-images.githubusercontent.com/26603018/62117242-3db33680-b2c4-11e9-857e-dd6b50dc961b.png)

[2019-07-30 09:22] tmbo commented on #3685
I think the error is slightly different. Can you please create a new issue, attaching the screenshot as well as the whole story you are trying to render?

[2019-07-30 09:23] true1337 commented on #3685
Sure

[2019-07-30 09:23] gausie commented on #3685
Yes, we should open a separate issue on that specific bug. It occurs because the backend currently generates malformed DOT for any visualization with an intent + entity like `* choose{"topic":"domain"}`. I think it might also only be for certain python versions.

I closed this issue because we stopped the exception from crashing the page though.

[2019-07-30 09:24] Polarisation opened #4131 "Docs: HTTP API - reloading after training?"
**Rasa version**: 1.1.8

**Issue**:
In the docs for the HTTP API, the [Train a Rasa Model](https://rasa.com/docs/rasa/api/http-api/#tag/Model/paths/~1model~1train/post) call states that "The trained model is not loaded by default."

What happens if the model being trained is already loaded? Is it necessary to reload with "[Replace the currently loaded model](https://rasa.com/docs/rasa/api/http-api

[2019-07-30 09:35] true1337 opened #4132 "Exception: This visualization cannot be rendered."
**Rasa version**: 1.1.8

**Rasa X version** (if used & relevant): 0.20.0

**Python version**: 3.6.7

**Operating system** (windows, osx, ...): Ubuntu, Centos

**Issue**:
The story constructor can't render following story:
[code]

We know that line below causes the error.
[code]
Connected issue [3685](https://github.com/RasaHQ/rasa/issues/3685)

**Error (including full traceback)**:
I don't see any

[2019-07-30 11:11] skumagai commented on #4105
@wochinge Thanks for the response.
I didn't realize `action_revert_fallback_events` uses the hard-coded names. I guess that makes making the names of affirmation and rephrase actions very difficult to configurable.

As for your suggestion of separate action servers, I'll take it back to my team if it's feasible.

[2019-07-30 11:16] federicotdn commented on #3702
GH closed the issue but the changes on Rasa X have not yet been merged in.

[2019-07-30 11:37] psds01 commented on #4120
`1. Where does Rasa X save information about domain if it doesn't use domain.yml?`
-> /model/xxxx.tar.gz/core/domain.yml
2. You should train the bot again after any changes to `domain` or `config` or `nlu` or `stories`.

FYI : you can find _all_ the info about the "trained" bot in `/model/xxxx.tar.gz/`. `/core/` has core related info and `/nlu/` has nlu related info.

[2019-07-30 12:03] TatianaParshina commented on #4120
@psds01  thank you for your reply!
I can't train the model because of the error that I mentioned in the body. Rasa X domain is not in sync with `domain.yml` file and doesn't use the data from the local filesystem (but I need to use data from the local `domain.yml`).
I have found that `rasa.db` stores information about Rasa X domain (it is different from `domain.yml`). I have deleted `rasa.db` , `t

[2019-07-30 12:15] psds01 commented on #4120
There's no cache, per se. There's tmp storage: https://github.com/RasaHQ/rasa/issues/3851

But it looks like not all `utter_zoo`s are deleted from either `nlu` or from `stories` file. Could you please double check?

[2019-07-30 12:50] hsm207 commented on #3647
But `pip install sklearn`  will run and will actually install scikit-learn.

Do you have any other examples?

What do you think of updating the exception message in [validate_requirements](https://github.com/RasaHQ/rasa/blob/f3480aa384740c58d4b98f6498938faecf39bbe1/rasa/nlu/components.py#L28) to something like:

`Please install the package that contains the module sklearn`

?

[2019-07-30 13:06] thepurpleowl commented on #3788
I found the root cause. This was happening because of a custom code written which was borrowed from line 90 in rasa_core-0.10.4\rasa_core\policies\ensemble.py.

Instead of having
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`return max_index`
in the next line(line no 93), I had changed it to
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`return {"max_index":max_index,"score":"{:.2f}".format(probability_scores[max_in

[2019-07-30 13:20] merwok commented on #3647
Maybe that particular example is not valid anymore :slightly_smiling_face: but the general idea still stands.

[2019-07-30 13:30] Saladdin commented on #3798
Hey @nkane2898, this has been solved in the last release.

Templates are still uneditable from the online editor for user experience related reasons, but what you can do now is upload the whole domain file from the button on top-right corner. This will replace your templates also.

![image](https://user-images.githubusercontent.com/5629443/62132994-5b8d9500-b2de-11e9-84cf-a373a9d09799.png)

[2019-07-30 13:30] #3798 closed

[2019-07-30 13:33] hsm207 commented on #3647
So just update the exception message from `validate_requirements` is sufficient for now?

[2019-07-30 13:36] merwok commented on #3647
The exception message and also the doc I linked from my first message.

[2019-07-30 14:22] ValeriuOlar commented on #4124
Thanks @msamogh, would be great if you can point me in the right direction as i have seen that there were other users with this bug.

[2019-07-30 15:19] saucepleez commented on #4110
@msamogh  The problem with updating is that the latest version does not support multiple projects (correct?).  We are using the HTTP API to train and score models which are used by our application.  Implementing this new version of Rasa will require architecture changes. Today:

- We bring up services using Anaconda on localhost:5006 (start python -m rasa_nlu.server)
- We support an array of proje

[2019-07-30 15:55] #3185 closed

[2019-07-30 16:45] RanaMostafaAbdElMohsen commented on #4119
I can work on this @erohmensing

[2019-07-30 17:54] sekarpdkt commented on #4127
Hi I tried it in the morning today. And it works if I change it to 0.9.6 like

`!{python} -m pip install  rasa_core==0.9.6 rasa_nlu`

[2019-07-30 17:56] erohmensing commented on #4119
Awesome @RanaMostafaAbdElMohsen, thanks!

[2019-07-30 18:25] ricwo commented on #4069
Okay, thanks for clarifying that. It seems to me that instead of introducing the language config flag, wouldn't the simpler solution be to replace `message.text` in the line
[code]
with the whitespace-joined message tokens, i.e.
[code]
Would you mind checking if this approach works for you, with of course the jieba tokeniser in the pipeline?

[2019-07-30 18:44] moaazsidat opened #4139 "Unable to use TemplatedNaturalLanguageGenerator in NLG due to Sanic/uvicorn conflict"
Does it make more sense to put TemplatedNaturalLanguageGenerator as part of `rasa_sdk` instead of `rasa.core.nlg`, since we're using it like so:
https://github.com/RasaHQ/rasa/blob/master/examples/nlg_server/nlg_server.py#L57

The reason being that we're using something other than `Sanic` for our NLG server and are running into conflicting dependencies when trying to install `rasa` with the latest

[2019-07-30 18:45] moaazsidat commented on #4139
Closing because not a question

[2019-07-30 18:45] #4139 closed

[2019-07-30 18:45] moaazsidat opened #4140 "Unable to use TemplatedNaturalLanguageGenerator in NLG due to Sanic/uvicorn conflict"
Does it make more sense to put TemplatedNaturalLanguageGenerator as part of rasa_sdk instead of rasa.core.nlg, since it is used like so:
https://github.com/RasaHQ/rasa/blob/master/examples/nlg_server/nlg_server.py#L57

The reason being that we're using something other than Sanic for our NLG server and are running into conflicting dependencies when trying to install rasa with the latest uvicorn ins

[2019-07-30 23:12] egiglio opened #4141 "CLI No longer accepts "num_threads" as a parameter for the sklearn intent classifier"
Rasa does not support num_threads as the parameter anymore. This is a parameter that gets picked up from kwargs by the sklearn intent classifier as seen here https://github.com/RasaHQ/rasa/blob/master/rasa/nlu/classifiers/sklearn_intent_classifier.py#L83

When passing in the num_threads parameter in the CLI it now returns the following error.

"rasa: error: unrecognized arguments: --num_threads 8"

[2019-07-31 01:14] journey1986 commented on #4069
@ricwo  I have checked the solution, it is right. But there is a mistake, we can not use message.tokens.
The right code is as below:
[code]
Thank you for your reply :)

[2019-07-31 01:22] grapecitycarlzhang opened #4142 "Interactive learning has Server Error Hosting on Docker"
Hi,
I am trying the latest rasa in docker, and trapped by the error.

the cmds (running in powershell on win10) as follows:
[code]

and the error shows here:
[code]

[2019-07-31 01:42] grapecitycarlzhang opened #4143 "Interactive learning throw an exception while export & quit sometimes"
Hi,

I use rasa hosting by docker(iin powershell on win10) to interactive learning,
when I finish the interactive learning and choose export & quit option, the error occurs sometimes.
[code]
[code]

[2019-07-31 05:43] pudasainishushant commented on #4103
Hello @lahsuk Yes i verfied my webhooks on facebook developers app
![Screenshot from 2019-07-25 12-43-41](https://user-images.githubusercontent.com/47980452/62186514-40766000-b386-11e9-8fa8-30d270dd1d7e.png)

[2019-07-31 06:59] msamogh commented on #4131
Thanks for raising this issue, @erohmensing will get back to you about it soon.

[2019-07-31 06:59] msamogh commented on #4143
Thanks for raising this issue, @MetcalfeTom will get back to you about it soon.

[2019-07-31 07:02] msamogh commented on #4142
Thanks for raising this issue, @wochinge will get back to you about it soon.

[2019-07-31 07:15] msamogh commented on #4140
Thanks for raising this issue, @ricwo will get back to you about it soon.

[2019-07-31 07:16] #4127 closed

[2019-07-31 07:21] msamogh commented on #4132
Thanks for raising this issue, @gausie will get back to you about it soon.

[2019-07-31 09:23] TatianaParshina commented on #4120
I still have the error.

- I have removed 'rasa.db' and 'tracker.db' files.
- I have removed all models in the 'models' folder
- I have removed almost all intents. Remaining only 'greet' and 'goodbye' intents in 'nlu.md', 'domain.yml', 'stories.md'.

[2019-07-31 10:23] mohankumargx commented on #4118
@HatuneMiku  You can use Ctrl+Pause to interrupt

[2019-07-31 10:50] 1tupac commented on #3557
Hi there! Are you using templates or actions? Rasa recently introduced some changes to the dispatcher and depreciated some methods that don't work with BotFramework connector.

[2019-07-31 10:58] ice2tricky commented on #3557
ofcourse I am using templates and actions

[2019-07-31 11:01] erohmensing opened #4144 "output NLU results to results folder by default"
The core evaluation, by default, outputs all of its files to a results folder. the NLU evaluation doesn't. It would be nice if they were in the same spot so that you can easily find all of the files, as well as read them more programmatically (e.g. here: https://rasa.com/docs/rasa/api/jupyter-notebooks/)

[2019-07-31 11:04] 1tupac commented on #3557
None of them work are working? I'm working with Rasa 1.1.8 and everything works fine. Did you try to update Rasa?

[2019-07-31 11:12] federicotdn commented on #3010
Are we interested in moving this into the Maintenance board?

[2019-07-31 11:20] ice2tricky commented on #3557
have to check again, it's been a while since I tested the botframework connector

[2019-07-31 11:37] tmbo commented on #4143
@grapecitycarlzhang Can you please attach the initial training data as well as the whole log file? (so we can see what you entered and selected) this would make it a lot easier to reproduce

[2019-07-31 11:41] MetcalfeTom commented on #4143
Hi @grapecitycarlzhang,

This issue was [fixed in 1.1.8](https://github.com/RasaHQ/rasa/pull/3976) so please update and let us know if the error persists.

[2019-07-31 11:45] msamogh commented on #2899
@alan Doesn't simply checking if the top 2 confidences are close enough remove the need to look at the predictions at positions >2? I'm not sure I understand why the third highest confidence would be relevant here.

[2019-07-31 11:51] msamogh commented on #2899
Also, won't the output from the intent classifiers always sum up to 1?

[2019-07-31 12:24] msamogh commented on #4037
@ricwo But are we still considering this as a bug or will this only be addressed only after support for triggers is added to Rasa X?

[2019-07-31 13:00] vigneshp826 opened #4145 "utter_attachment throwing AttributeError: 'list' object has no attribute 'get'"
**Rasa version**: 1.1.8

**Rasa X version** (if used & relevant):

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): osx - Ubuntu

**Issue**:

Recently migrated to Rasa 1.1.8. In my actions.py, am using utter_attachment to send html color bar along with string to Slack channel. In previous version it worked fine.

**Error (including full traceback)**:
[code]

**Command or reques

[2019-07-31 13:03] #4063 closed

[2019-07-31 13:58] harunkelesoglu opened #4146 "Client for conversation_id ‘me’ could not be found”"
**Rasa version**:

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

Hi, I deployed rasa x on server.I get the following error when I try to test in the talk section
[code]
Screenshot:
![Screen Shot 2019-07-31 at 16 50 05](https://user-images.githubusercontent.com/9349762/62218086-77fc0100-b3b4-11e9-880c-06026294f894.png)

my endp

[2019-07-31 15:55] rgstephens commented on #3580
I just ran across the import issue #1 in @psds01 original post.  I was surprised to find all my data removed when an imported new data.

My request is that the UI change and have options to allow the user to choose to either `replace` or `add` to the existing training data.

[2019-07-31 17:30] ralphg6 commented on #1154
I found the:
`rasa data convert`
Apparently I can already achieve this result!

[2019-07-31 17:38] erohmensing commented on #850
@Ghostvv  this has been taken care of, right?

[2019-07-31 17:55] gabibguedes commented on #4011
Hi @MetcalfeTom I've opened a PR for this issue.

[2019-07-31 18:52] alvisGTJ commented on #3879
The issue continues to persist in 0.20.0. Not helpful when in the process of demoing the solution to prospective customers. Any updates on fix timeline?

[2019-07-31 19:27] ralphg6 commented on #1154
Now on this issue, I already built the Watson Loader. In branch [migrate_watson](https://github.com/ralphg6/rasa/tree/migrate_watson).

However, as the process of Tokenization and Entity Extraction is very closely coupled with examples of intent, and in Watson it is not usual to mention entities in the examples, including entities not linked to examples.
Thus by converting Watson data to TrainingD

[2019-08-01 04:33] lahsuk commented on #4103
Hi @pudasainishushant ,

You need to verify the webhook every time your webhook changes. It's not a one-time thing. (From what I can see, your url from ngrok changes every time)
And like I said before, try checking if it works from messenger rather than from postman.

[2019-08-01 06:37] xinghalo commented on #4069
[code]

[2019-08-01 06:44] journey1986 commented on #4069
@xinghalo  是的，我一开始也是用同样的方法规避的。 不过 @ricwo  提供了另一个不错的解决方案。

[2019-08-01 07:47] melaniab opened #4150 "Issue with dererministic policies and payloads"
I have an issue with Rasa deterministic policies and payloads. I am bulinding a simple (and stupid) deterministic bot that tries to guess your job based on few questions. Questions are answered only by buttons and checkboxes, so there is no natural language processing and I'm using  only the following policies:

[code]

I have a question with a button, then one with a checkbox, and then one with a

[2019-08-01 08:56] msamogh commented on #4150
Hi @melaniab, thanks for your question. It seems like this is more of a question related to your specific example. Please ask this question in our [forum](https://forum.rasa.com).

[2019-08-01 08:56] #4150 closed

[2019-08-01 09:02] msamogh commented on #4146
Thanks for raising this issue, @wochinge will get back to you about it soon.

[2019-08-01 09:03] msamogh commented on #4145
Thanks for raising this issue, @ricwo will get back to you about it soon.

[2019-08-01 09:35] kristiankolthoff opened #4151 "Rasa X Decoding error with German umlauts"
**Rasa version**: 1.1.7

**Rasa X version** (if used & relevant): 0.19.5

**Python version**: 3.7.0

**Operating system** (windows, osx, ...): windows

**Issue**:

I am getting a decoding error when I want to start rasa x with German umlauts in the domain.yml.  If I remove the special characters, I can start rasa x without problems. Same issue has been reported already on a rasa-x-demo repository

[2019-08-01 10:24] msamogh commented on #4151
Thanks for raising this issue, @gausie will get back to you about it soon.

[2019-08-01 10:47] pudasainishushant commented on #4103
Hi, @lahsuk , I highly appreciate you trying to help me out. But, this doesn't work. When I sent GET request to my server, it works fine through ngrok. But, when I send POST request to my server, through any other facebook to the messenger bot in the developed page I get SSL POST request OK in ngrok but, I get SSL certification error on localhost:5005 where I ran rasa run .
I get this error "Excep

[2019-08-01 11:35] msamogh opened #4153 "Define a Rasa command that bundles all the relevant files for a bot in an archive file"
**Description of Problem**:
Have a CLI command to package all the relevant files for a bot (NLU + Stories training data, configuration, domain, endpoints, credentials, and anything else I might have missed) into an archive (like a tar.gz)

**Definition of Done**:
- [ ] Tests are added
- [ ] Feature is documented
- [ ] Update changelog

[2019-08-01 12:15] deenaik opened #4154 "Dependancies missing in requirements-dev.txt for running 'make types'"
**Rasa version**: Rasa 1.1.8

**Rasa X version** (if used & relevant):

**Python version**: Python 3.7.3

**Operating system** (windows, osx, ...): osx 10.14.6

**Issue**: Dependancies missing in requirements-dev.txt for running 'make types'

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):

[2019-08-01 13:14] #4154 closed

[2019-08-01 13:44] ruiconti opened #4156 "Training in compare mode with wrong params"
**Rasa version**: 1.1.8

**Rasa X version** (if used & relevant):

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): macOs

**Issue**:

When training in compare mode, I noticed that exclusion percentages weren't being applied. Shouldn't this line https://github.com/RasaHQ/rasa/blob/73336bf9b522b3aeafb3e88eea71c667de349e09/rasa/core/train.py#L121 reference `percentage` instead of

[2019-08-01 14:08] #3199 closed

[2019-08-01 16:17] hsm207 commented on #3647
I guess we can close this issue now since the pull request has been merged.

[2019-08-01 16:22] hsm207 commented on #1513
I want to work on this

[2019-08-01 16:34] wochinge commented on #1513
Awesome @hsm207 . Let us know if you need feedback / help 🚀

[2019-08-01 16:36] merwok commented on #3647
Thanks for improving the docs! :slightly_smiling_face:

[2019-08-01 16:36] #3647 closed

[2019-08-01 16:37] wochinge commented on #4146
@harunkelesoglu Did you use the install script or follow the manual steps guide?

[2019-08-01 16:38] msamogh commented on #3011
Related #3648

[2019-08-01 16:38] wochinge commented on #3010
done @federicotdn

[2019-08-01 16:39] msamogh commented on #3648
Seems to be a case of #3011.

[2019-08-01 16:48] wochinge commented on #4142
@grapecitycarlzhang Fixing it in the next release 🙈

[2019-08-01 18:24] kiwinesian commented on #4115
closing the issue for now

[2019-08-01 18:24] #4115 closed

[2019-08-01 18:33] #4142 closed

[2019-08-01 18:43] kiwinesian opened #4158 "asyncio - Task exception was never retrieved"
Hi everyone,

It's me again and it seems like I'm having a much challenge in getting Rasa up and running on the GCP Compute Engine - vanilla Debian 9. This is also from fresh install of Rasa.

I was able to get `rasa shell` running on a localhost VM running Debian 9 as well - except that it will _stop_ talking after saying Carry on - then i have to restart the shell again to get it up and runing

[2019-08-01 19:00] GraphGrailAi commented on #3482
@akelad i have the same issue, tried to reimplement component from https://blog.rasa.com/enhancing-rasa-nlu-with-custom-components
[code]
but this change still produce an error. I removed def persist and training was completed

[2019-08-01 19:20] #3843 closed

[2019-08-01 20:49] MetcalfeTom commented on #3870
I am also for dropping it, does having the `ENTRYPOINT` allow for any benefit over putting the full `rasa` command in `CMD`?  If anything, separating `rasa` from the invocation (as it is now) may just lead to more confusion.

[2019-08-02 00:42] ralphg6 commented on #1154
@erohmensing or @amn41 help me with this?

[2019-08-02 01:12] grapecitycarlzhang commented on #4143
Thanks,
I have never see the issue when upgrade to 1.1.8.

[2019-08-02 01:12] #4143 closed

[2019-08-02 01:15] grapecitycarlzhang commented on #4142
Thank you for your hard work

[2019-08-02 04:18] selphe commented on #4128
1.2.0-latest - problem still exists

[code]

[2019-08-02 05:16] selphe commented on #4128
I've check locally to fix `setWebhook`, and it works for me.
I hope my PR is correct (i'm not a developer, sorry)

[2019-08-02 05:20] harunkelesoglu commented on #4146
I used install script https://rasa.com/docs/rasa-x/deploy/#id3 @wochinge

[2019-08-02 05:32] ricwo commented on #4145
Hi @vigneshp826, what exactly does your `response` look like in `run()` you posted above?

[2019-08-02 05:33] ricwo commented on #4069
@xinghalo @journey1986 would you mind adding some explanation to your two last comments?

[2019-08-02 05:35] ricwo commented on #4037
it's not a bug as it's expected behaviour until we add support for triggers

[2019-08-02 06:00] sara-from-rasa commented on #4158
Thanks for raising this issue, @MetcalfeTom will get back to you about it soon!

[2019-08-02 06:00] sara-from-rasa commented on #4156
Thanks for raising this issue, @imLew will get back to you about it soon!

[2019-08-02 06:00] sara-from-rasa commented on #4141
Thanks for raising this issue, @amn41 will get back to you about it soon!

[2019-08-02 06:19] ricwo commented on #4140
Hi @moaazsidat,

I'm confused about this issue, since the built-in NLG server in `rasa-sdk` uses flask. Where are you running into the issue? Isn't simply running `python -m rasa_sdk --actions actions.py` an option for you, which would not require a sanic installation?

The NLG module is used extensively in the `rasa.core` module, and `rasa-sdk` is in general not a dependency of `rasa` (an install

[2019-08-02 06:45] ymehta18 commented on #1658
then the giving error that RasaNLUConfig is not defined

[2019-08-02 06:55] zengande opened #4161 "Request /model/parse: when the value of text starts from / , confidence is always 1"
**Rasa version**: 1.2.0

**Python version**: 3.6.8

**Operating system** (windows, osx, ...):  Ubuntu 18.04.2 LTS

**Issue**:
When I request `/model/parse` and the `text` value is start with `/`, I get an amazing result.

Request: `curl http://localhost:5005/model/parse -X POST --data '{"text":"/everything"}'  `
Response:
[code]

[2019-08-02 06:56] zengande commented on #4161
Please forgive my poor English. You can try it.

[2019-08-02 07:15] erohmensing commented on #4161
HI there! This is actually intended. We use this format to bypass the NLU to test out the dialogue management, and for direct intent payloads for e.g. initial payloads from the front end, buttons, etc. So your buttons might have payloads like
[code]
using the intent format (this is what we call it) makes it so that the success of these buttons in driving your dialogue flow has nothing to do with h

[2019-08-02 07:21] zengande commented on #4161
@erohmensing  Thank you for your reply, I understand. ☺

[2019-08-02 07:21] #4161 closed

[2019-08-02 07:25] #3997 closed

[2019-08-02 08:52] JulianGerhard21 commented on #1754
Hi @GaoQ1

I have seen your implementation of an EmbeddingBERTClassifier. Am I able to use it with rasa version >= 1.0 ? What if I want to use a pretrained BERT model?

Any help in which version is currently working would be appreciated since I am going to start some experiments into the direction of domain specific fine-tuning on a german BERT.

Regards

[2019-08-02 08:59] vigneshp826 commented on #4145
HI @ricwo , response = format_text_color("Sure, pls give me 2 minutes. Inspecting health of {} application".format(appname), INFO)  ----> this line calls below function.

[code]
So ``` response = [{'color': '#5bc0de', 'attachment_type': 'default', 'text': 'Sure, pls give me 2 minutes. Inspecting health of Abuseapp application'}]```

[2019-08-02 09:09] journey1986 commented on #4069
@ricwo
translation：
@xinghalo Yes, I used the same method to circumvent it at first. However, @ricwo offers another great solution.

[2019-08-02 10:01] imLew commented on #4156
Yes, it should be. This has already been fixed in the master branch and will be in the next release.

[2019-08-02 10:01] #4156 closed

[2019-08-02 11:33] erohmensing commented on #4131
Hi @Polarisation, yes, training a model will just train it and store it, you would actually have to replace the model for it to be used in e.g. the /model/parse endpoint. What could we say that would make it more clear? You can open a PR to edit the description in the spec here: https://github.com/RasaHQ/rasa/blob/master/docs/_static/spec/rasa.yml

[2019-08-02 12:00] #3702 closed

[2019-08-02 12:01] Polarisation commented on #4131
Hi, thanks for the reply. But that's still not quite clear to me.

There's two different scenarios:

**First scenario: training a model that is not currently loaded.**
I currently have **ModelA** loaded, but I want to train **ModelB**.
In this scenario it's clear that **ModelB** will not be loaded, unless I replace the model.

**Second scenario: re-training a model that is currently loaded**
I cur

[2019-08-02 13:20] jamesmf commented on #3259
Any update on this? It would be great to be able to use `rasa 1.0+` and `rasa x`

I can confirm that it works to deploy an agent with `rasa 1.0+` that has no `nlu` component and pair it with `rasa-nlu 0.15.x` for `nlu` so you can use projects. Whatever would normally hit the `rasa` endpoint just instead hits the `rasa-nlu` `/parse` endpoint first, posts the result to the `/messages` endpoint of th

[2019-08-02 13:35] hsm207 commented on #1513
@wochinge There is no unit test to this functionality of [get_component_class](https://github.com/RasaHQ/rasa/blob/master/rasa/nlu/registry.py#L135), is there?

[2019-08-02 15:21] wochinge commented on #1513
Check out `test_components`. There are tests (e.g. `test_builder_create_by_module_path`) which test `create_component` with custom modules, which then should call the `get_component_class`

[2019-08-02 15:43] erohmensing commented on #4131
You don't _train_ a specific model, you take a bunch of data and create a model out of it. If you "retrain a loaded model", you're actually just creating a duplicate model with the same data. Does that make sense?

[2019-08-02 16:11] wochinge commented on #4128
@selphe Are you sure this is not caused by wrong credentials? So it actually sends messages correctly to Telegram if you comment line `247`?

[2019-08-02 16:14] wochinge commented on #4146
Ok, and which version are you exactly using? `latest` can you please try to installed a pinned version of `rasa-x`, e.g. using the install script for `0.20.0`?

[2019-08-02 16:33] Polarisation commented on #4131
I see. Yes, you're right, I've just checked and the legacy docs say "By default the latest trained model for the project will be loaded".

With the old API it felt like I was "re-training a model", but in fact I was training a new model for a specific project, which was loaded automatically. Sorry for the confusion.

I think the docs would be clearer if the API description said "Trains a **new** R

[2019-08-02 16:41] Polarisation commented on #3259
I'll miss this when upgrading to v1.x. In 0.14.x

I have been using projects to track different models for different environments (development / staging / production). Now I'd have to run a different Rasa server for each environment, which is frustrating because the RAM requirements for Rasa are fairly heavy (4 / 8 GB).

[2019-08-02 16:48] Polarisation opened #4163 "HTTP API - option to load a model after training"
**Description of Problem**: Prior to v1.0 a model would be loaded after training it, and automatically used for parsing unless otherwise specified. Now I would have to: `POST /model/train` `PUT /model` It would be nice to be able to do this with one API call as before.

**Overview of the Solution**: I suggest adding an request body parameter to `POST /model/train` which would load the new model af

[2019-08-02 16:49] moaazsidat opened #4164 "Ability to compose domain files"
**Description of Problem**:
Currently there's no opinions that Rasa enforces about being able to split the domain file into multiple files (unlike stories e.g.).

We ran into this issue when trying to model a rule based system within a chatbot where we ended up with 3000+ slots and 1000+ actions for that functionality within the chatbot. This main the domain file increasingly frustrating to add to

[2019-08-02 16:49] Polarisation commented on #3259
Also opened #4163 which is a related feature request

[2019-08-02 16:50] Polarisation commented on #4131
Also opened #4163 which is a related feature request

[2019-08-02 16:55] moaazsidat commented on #4140
We're using our own NLG service that's built using FastAPI and Uvicorn. It's just a web service that given an utterance, returns the template as json.

We want to return `TemplatedNaturalLanguageGenerator` as the response so that the templates returned by this NLG service can be filled in with slot values as they're being returned (since TemplatedNaturalLanguageGenerator let's us do that)

The lim

[2019-08-02 18:30] kiwinesian commented on #4158
figured it out!

Rasa **requires** 2-core VM.
As soon as I tested it with 2-cores VM, it resolved the issue.

It works well with 2GB for running plain Rasa - but as per Rasa X documentation (not sure why it is on Rasa X, I suggest to also put it on Rasa documentation), best is to use minimum of 4GB.

Hope this helps other people out there! :)

[2019-08-02 18:30] #4158 closed

[2019-08-02 18:40] ismaeelBM commented on #4144
If no one started working on this issue, may I pick it up as my first issue?

[2019-08-03 04:44] selphe commented on #4128
Hi @wochinge
I didn't change the credentials.yml before update.
Yes, when this line commented, tg channel is up, messages is sent correctly.

[2019-08-03 07:23] PrakashRaj37 opened #4165 "“TypeError: ‘NoneType’ object is not iterable” error comes when form submit execution"
Following error come when form class execute submit function.

[2019-08-03 12:37:24,493] ERROR in app: Exception on /webhook [POST] Traceback (most recent call last): File “/home/aarbor_01/anaconda3/lib/python3.6/site-packages/flask/app.py”, line 2292, in wsgi_app response = self.full_dispatch_request() File “/home/aarbor_01/anaconda3/lib/python3.6/site-packages/flask/app.py”, line 1815, in full_d

[2019-08-03 10:33] hsm207 commented on #1513
@wochinge I've made PR #4166. Please let me know if I should change something.

[2019-08-03 11:34] krasi0 opened #4167 "rasa-sdk is behind in versioning when compared to rasa-1.2.0"
I observe the following warning once having updated to rasa 1.2.0

` WARNING  rasa_sdk.endpoint  - Your versions of rasa and rasa_sdk might not be compatible. You are currently running rasa version 1.2.0 and rasa_sdk version 1.1.1.`

Additionally, there is a new exception that I had never seen using 1.1.x:
`Exception occurred while handling uri: unknown
NoneType: None`
I am not sure what's causing

[2019-08-04 13:34] ricwo commented on #4145
Hi @vigneshp826, the response you're feeding into `utter_attachment` needs to be a dictionary. You're supplying  list instead. Please change your `format_text_color()` method to instead return

[code]

[2019-08-04 13:36] ricwo commented on #4069
@journey1986 thanks!

@erohmensing could we implement something like https://github.com/RasaHQ/rasa/issues/4069#issuecomment-516536896 into `RegexInterpreter` to avoid these things? In theory that should make it work with any language for which we have a tokeniser right?

[2019-08-04 14:00] ricwo commented on #4140
You'd still require an installation of rasa, even if `rasa.core.nlg` were its own package (it needs the `Domain` and `EndpointConfig` for example).

As a temporary solution until Sanic fixes the issue, can you just install rasa without Sanic for your Uvicorn webservice? I mean just cloning the repository and removing `Sanic` from `setup.py` and `requirements.txt`

[2019-08-04 16:04] rgstephens opened #4168 "RASA-X API - PUT stories does add instead of replace"
**Rasa version**: 1.1.4

**Rasa X version**: 0.20.0

**Issue**:

With the `stories.md` file below, and with no stories loaded in my Rasa X instances I do the following:

1. call [PUT](https://rasa.com/docs/rasa-x/api/rasa-x-http-api/#operation/replaceStories) and the stories are added.  Since the stories don't exist, shouldn't this report an eror and do nothing instead of adding the stories?
2. I

[2019-08-04 18:02] moaazsidat commented on #4140
hmm, fair enough, yeah, had a feeling that it may be less trivial to extract it into a lib.

[2019-08-05 00:03] MetcalfeTom opened #4169 "NLU test comparison mode doesn't accept a folder"
With `all_configs` as a folder:
[code]
Seems the config folder name is dropped somewhere (the path should be `/Users/tom/Documents/RASA/wordpieces/all_configs/pretrained_spacy.yml`)

[2019-08-05 04:47] wochinge commented on #4153
Can't they just use `zip`?

[2019-08-05 06:00] sara-tagger commented on #4168
Thanks for the issue, @JustinaPetr will get back to you about it soon!

You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-05 06:00] sara-tagger commented on #4167
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤓

[2019-08-05 06:00] sara-tagger commented on #4165
Thanks for raising this question, @akelad will get back to you about it soon!✨

The [forum](https://forum.rasa.com/) might also be a good place for this discussion

[2019-08-05 06:00] sara-tagger commented on #4164
Thanks for submitting this feature request 🚀@MetcalfeTom will get back to you about it soon!✨

[2019-08-05 06:00] sara-tagger commented on #4163
Thanks for submitting this feature request 🚀@tyd will get back to you about it soon!✨

[2019-08-05 06:05] harunkelesoglu opened #4170 "TypeError: t.find is not a function"
**Rasa version**:
1.0.8
**Rasa X version** (if used & relevant):
stable version
**Python version**:
3.6.8
**Operating system** (windows, osx, ...):
Ubuntu 16.04.6 LTS
**Issue**:
When i tried access the rasa x page, i got the following error.

ScreenShot:
![Screen Shot 2019-08-05 at 09 04 44](https://user-images.githubusercontent.com/9349762/62442262-18a94280-b760-11e9-86aa-1e66e5e76044.png)

[2019-08-05 06:16] harunkelesoglu commented on #4146
Rasa version: 1.0.8
When i look at the install script rasa x version= stable.

[2019-08-05 08:05] msamogh commented on #4153
Yes, but the target demography for this that I had in mind (people new to Rasa) might not know what files to include.

[2019-08-05 09:42] tabergma commented on #4131
@erohmensing You explained everything correctly 😄

@Polarisation I like the idea you proposed in the feature request. Thanks for creating the issue. I guess we can close this issue, can't we?

[2019-08-05 09:55] imane6 commented on #3305
@erohmensing  hey! can you please help me with this  error:
![error](https://user-images.githubusercontent.com/50795847/62455967-b78d6900-b777-11e9-9af5-46b325ce0026.PNG)
this is my custom action:
from __future__ import absolute_import
from __future__ import division
from __future__ import unicode_literals

from rasa_sdk import Action
from rasa.core.actions.action import Action

from rasa_sdk.even

[2019-08-05 09:57] tabergma commented on #4124
@ValeriuOlar Sorry, for the late reply. Did you managed to get it working? Did you try to update to the latest rasa version?

[2019-08-05 09:57] Ghostvv commented on #850
yes, there are options in several components to make them case insensitive

[2019-08-05 09:57] #850 closed

[2019-08-05 10:17] imane6 commented on #3305
when i run rasa shell --debug i get that:
![error2](https://user-images.githubusercontent.com/50795847/62457393-0a1c5480-b77b-11e9-8d94-950fab6bf9dc.PNG)

[2019-08-05 11:43] erohmensing commented on #1154
Hey @ralphg6 super cool that you're already working on this! I'll take a look at your branch -- can you clarify what you mean by

And is it possible for you to share an excerpt of Watson data so that we can see what it looks like and what exactly you mean?

[2019-08-05 12:20] erohmensing commented on #3305
@imane6 this is irrelevant to this (already closed) issue, and is a usage question. Please make a post on the [forum](http://forum.rasa.com)

[2019-08-05 12:21] erohmensing commented on #4144
I'd love that @ismaeelBM! Let me know if you have any questions :)

[2019-08-05 12:23] ralphg6 commented on #1154
[skill-Teste-com-Rasa.json.txt](https://github.com/RasaHQ/rasa/files/3467529/skill-Teste-com-Rasa.json.txt)

[2019-08-05 12:26] ralphg6 commented on #1154
In Watson, the conventional is to register the entities and intentions separately.
It is not common to create examples of intentions using entities, but clear text.
That is, there is no relationship between entities and intentions!

[2019-08-05 12:34] wochinge commented on #4153
Mhm, so this would pack everything except logs and `models`?

[2019-08-05 12:36] erohmensing commented on #4069
@ricwo can you tl;dr how this is different from what we currently do? (I did read, but still don't quite understand)

[2019-08-05 12:38] ralphg6 commented on #1154
I will attach from file generated since JSON so you can see how it looks. Thus entities need to be converted as synonyms or LookupTables. But since they are not intentional, they are not in the training dataset.

[2019-08-05 12:38] erohmensing commented on #4163
I'd almost prefer these to be two separate options, i.e. you could `POST model/train` to create a new model and `PUT model/train` to create a new model _and_ load it. Thoughts? (also i'm not the best at what should be puts vs posts)

[2019-08-05 12:48] sagardawda7 commented on #1621
Since Vectorizer tries to create a vector with all words as features, you can restrict the max_features. I modified my config file as follows and the issue was resolved:

[code]

[2019-08-05 12:50] ralphg6 commented on #1154
I am uploading the files again what I had uploaded, I had modified it for a test.
[skill-Teste-com-Rasa.json.txt](https://github.com/RasaHQ/rasa/files/3467604/skill-Teste-com-Rasa.json.txt)
[generated.nlu.md.txt](https://github.com/RasaHQ/rasa/files/3467607/generated.nlu.md.txt)

[2019-08-05 12:56] ralphg6 commented on #1154
I made three branches:

[migrate_watson](https://github.com/ralphg6/rasa/tree/migrate_watson): This has Watson migration implementation

[found_others_entities](https://github.com/ralphg6/rasa/tree/found_others_entities): This includes the synonym entities in the training dataset.

[watson_and_entities](https://github.com/ralphg6/rasa/tree/watson_and_entities): It's the union of the previous two,

[2019-08-05 13:05] erohmensing commented on #4167
You've got a very good point on the first one -- we'll release an sdk release to match!

Regarding the second issue, is there  more of a traceback to that error that might help me figure out what's causing it?

[2019-08-05 13:23] wochinge commented on #4128
@selphe I am fixing this issue in https://github.com/RasaHQ/rasa/pull/4171 . Sorry for not using your pr, but I had to remove the `setWebhook` at another location (the one you removed is actually needed for another feature)

[2019-08-05 13:28] vigneshp826 commented on #4145
hi @ricwo , thanks 👍 . That works.

[2019-08-05 13:28] #4145 closed

[2019-08-05 13:43] krasi0 commented on #4167
Great! Thanks!

With regards to the second issue, I believe that it was because of some
misconfiguration on my side so no worries

On Mon, Aug 5, 2019, 16:06 Ella Rohm-Ensing <notifications@github.com>
wrote:

[2019-08-05 13:43] erohmensing commented on #4167
Ok, no prob. Yeah i've seen that issue a few times, but it seems to always be cleaned up in peoples' custom action code :) Will close this when we release sdk

[2019-08-05 14:12] stefandi94 opened #4174 "Restart action is not working"
**Rasa version**:
1.1.8(sdk - 1.1.1)

**Rasa X version** (if used & relevant):
0.19.0

**Python version**:
3.6.8

**Operating system** (windows, osx, ...):
Linux Mint 18.3

**Issue**:
Restart action is not working. When I want to restart a conversation with "/restart" I get the following error:
"W0805 15:59:15.651196 140599820920576 featurizers.py:239] Feature 'intent_restart' could not be found i

[2019-08-05 14:13] msamogh commented on #2899
cc @tmbo

[2019-08-05 14:26] msamogh commented on #4174
Do you have `MappingPolicy` included in your `config.yml`?

[2019-08-05 14:39] stefandi94 commented on #4174
No, is it necessary in order to use restart action?

[2019-08-05 16:47] rgstephens opened #4175 "Rasa X Entity synonyms not deleted"
**Rasa version**: 1.1.4

**Rasa X version**: 0.20.0

**Issue**:

I have a running Rasa X instance where I imported NLU data, a domain and stories. I then removed all of the data.

The Rasa X UI shows no NLU, Stories or domain data.

When I call get JSON [API](https://rasa.com/docs/rasa-x/api/rasa-x-http-api/#operation/getDataJson) there are no training examples but it shows that my entity synonyms

[2019-08-05 17:06] rgstephens commented on #4076
I just realized that the `GET` call also only returns json. It would be nice to support markdown there also.  Probably applies `PUT` too.

[2019-08-05 17:18] rgstephens opened #4176 "Rasa X Domain & NLU Data Sync"
**Description of Problem**: The Rasa X UI has separate Domain and NLU data. If you remove an intent from the domain, you will naturally get an inconsistency error until you remove the associated training data and visa versa.

**Overview of the Solution**: It would be nice to have the UI manage this for the user. Maybe remove the intents from that domain section and make an improved training (and s

[2019-08-05 22:44] MetcalfeTom commented on #4168
Hi @rgstephens,

Thanks for letting us know about this bug, I tested it on my end with the same result so I'll add it to the backlog.
Checking through the source code, seems like the stories aren't deleted with the query we execute upon receiving the `PUT` request.

[2019-08-06 05:24] #4068 closed

[2019-08-06 05:43] harunkelesoglu commented on #4146
@wochinge Also i tried 0.20.0 version and got same error again.

[2019-08-06 06:53] tabergma commented on #4118
@HatuneMiku Does Ctrl+Pause work for you? We are using a Sanic server. There seems to be an ongoing discussion around that topic (https://github.com/huge-success/sanic/issues/108).

[2019-08-06 07:29] sara-tagger commented on #4175
Thanks for raising this issue, @gausie will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-06 07:29] sara-tagger commented on #4176
Thanks for submitting this feature request 🚀@tmbo will get back to you about it soon!✨

[2019-08-06 07:29] sara-tagger commented on #4170
Thanks for raising this issue, @Saladdin will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-06 07:42] msamogh commented on #4153
Yeah

[2019-08-06 07:51] msamogh commented on #4076
I believe you can upload NLU data in bulk using Markdown to Rasa X as of now. Only single examples should be restricted to JSON.

[2019-08-06 07:52] msamogh commented on #4076
I agree about the `GET` call, though.

[2019-08-06 07:53] HatuneMiku commented on #4118
@tabergma Ctrl+Pause not work for me at 1.1.8 just like   Ctrl+C .

[2019-08-06 07:55] alvipranandha commented on #1621
Well, I just followed your config on CountVectorsFeaturizer but still got a memory error

[2019-08-06 08:36] sagardawda7 commented on #1621
@alvipranandha Can you make one small change mentioned below and check?
[code]
Let me know how it goes

[2019-08-06 08:40] wochinge commented on #4153
@msamogh I put it in discussion since I am not convinced by the use case behind that and would like to hear the opinion of the others.

@MetcalfeTom You reacted with a thumbs up, what's your take on this?

[2019-08-06 09:06] thusithaC commented on #3609
Same problem here! I have been trying to update from 0.14, but with the amount of breakage and non availability of python api documentation it is not remotely possible.

Also, a general question to the audience - We should be able to use Rasa 1.2+ in the same way as before ? My workflow has been train using python api, and inference of intent+entity through the trained model. Is it mandatory to ru

[2019-08-06 09:27] tabergma commented on #4118
@HatuneMiku Are you willing to invest some time and check how the problem could be solved? The server is started here: https://github.com/RasaHQ/rasa/blob/master/rasa/core/run.py#L186

[2019-08-06 09:29] tmbo commented on #3609
you don't need to run a server, it is still possible to load and use models directly from code. e.g. here is an example in the agent interface documentation: https://rasa.com/docs/rasa/api/agent/#rasa.core.agent.Agent.handle_text

[2019-08-06 09:31] tmbo commented on #4176
I think that is a great idea and should make removing intents / entities easier :+1: cc @abhilasharoy

[2019-08-06 09:41] swamat opened #4179 "Rest api throws 404 error while running custom actions"
**Rasa version**:1.2.0

**Rasa X version** (if used & relevant):

**Python version**:3.7

**Operating system** (windows, osx, ...):windows 10

**Issue**: Rest api throws 404 error while running custom actions
While running the custom actions server using **rasa run actions**
I am getting below error

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**

[2019-08-06 11:41] lenpetlyak opened #4181 "Rasa X Deploy to a Server"
I'm running this example https://rasa.com/docs/rasa-x/deploy/ on Ubuntu 19.04 on localhost.
But it doesn't run the app, so I didn't see UI in my localhost.
To reproduce the error, the following commands can be run:
curl -sSL -o install.sh https://storage.googleapis.com/rasa-x-releases/stable/install.sh
sudo bash ./install.s
cd /etc/rasa
sudo docker-compose up -d

As the app I used https://github.c

[2019-08-06 12:03] ankan97dutta commented on #3294
Hi there, it seems that this error is occurring due to inconsistency in your database .db file.

[2019-08-06 12:29] TatianaParshina opened #4183 "Custom component is not working after uploading model via Rasa X"
**Rasa X version** (if used & relevant):
0.19.5 Installed using docker:
https://storage.googleapis.com/rasa-x-releases/0.19.5/install.sh

**Python version**:
3.6

**Operating system** (windows, osx, ...):
Debian 4.9.168

**Issue**:
I have uploaded the model on my Google Cloud VM instance with Rasa X by using the command:
[code]
I have run `docker down` and `docker up` command after it and changed

[2019-08-06 13:26] TQuy commented on #3294
thank you, I realized that

[2019-08-06 13:32] harunkelesoglu commented on #4146
@wochinge my .env file as the following. I  thought it might have been:
[code]

[2019-08-06 13:41] dakshvar22 commented on #4089
@Ghostvv is planning to do this with the TEDP policy merge.
What's the best way to perform 'check if the new release breaks anything' ? I mean any particular tests?

[2019-08-06 13:55] imLew commented on #4153
When would people use this? Assembled everything on their laptop and want to send it somewhere else to train?
Also, this command would be something someone new to rasa doesn't know either; they'd have to either look up what files are required or how to run this command. So basically if this is neccessary it'd be better to clarify what's needed in the docs rather than add this command.

[2019-08-06 14:07] wochinge commented on #4089
Good question 😄 I would to a couple of manual checks with tensorflow components / policies to check if there are now any warnings which we have to fix + travis should pass.

[2019-08-06 14:13] msamogh commented on #4153
Yes, that's one of the use cases in mind.

Agreed. But it's also just a matter of convenience. It's simpler to, say, do a `rasa bundle` rather than handpicking the files.

[2019-08-06 14:20] tmbo commented on #4153
mhm atm I'd say we rather go and add the command to do this to the documentation. I am not sure we have figured out this workflow of sharing the bot. Initially, I thought this is meant to provide insights and help if there is an issue and that this should be attached to a created gh issue.

[2019-08-06 14:25] tmbo commented on #4037
mhm, but if the triggers are in the domain, shouldn't they just stay there instead of being removed?

[2019-08-06 14:50] MetcalfeTom commented on #4164
Hi @moaazsidat, like the idea :+1:

How exactly does the training data importing work here?  Does your `stories.md` contain stories from all three of the domains in your example?

Seems like your solution deals implements two features here:

1. I like the domain-splitting for larger projects.  Seems like an intuitive way of making large projects digestible.

2. The other feature you're proposing i

[2019-08-06 14:51] rgstephens commented on #4076
@msamogh I assume you're referring to the Rasa X UI import button which does allow you to import markdown. I'm referring to the API [POST](https://rasa.com/docs/rasa-x/api/rasa-x-http-api/#operation/addData) call which supports a json payload only.

[2019-08-06 15:16] ihtisham0331 commented on #1721
Traceback
File "nlu_model.py",line 1,
from rasa_nlu.converters import
moduleNOTFoundError: no module name `rasa_nlu.converters`
please help on this error.How resolve it

[2019-08-06 15:51] rgstephens opened #4185 "Rasa X Template API call design issues"
**Description of Problem**: The template related API calls seem inconsistent and not completely thought out. This is related to the domain issue raised in #4176.

For example, if I call the update domain [PUT](https://rasa.com/docs/rasa-x/api/rasa-x-http-api/#operation/updateDomain) call it will update intents and actions and leave response templates alone. However, this call has a `store_template

[2019-08-06 17:05] rgstephens commented on #4076
@MetcalfeTom can you give an estimate on where this feature is?  I'm working on one of my bots that has NLU data in six markdown files with 300 intents.

I'd like to import this with the API and the Rasa X NLU Import has issues described in #3580. The workaround I'm using is to merge my markdown files and use the UI but both this API issue and the UI import issue need to be addressed.

[2019-08-07 01:52] HatuneMiku commented on #4118
I've tried again using `Ctrl+Pause`,  which actually works fine in cmd, but doesn't work in the cmd of the terminal of vscode. And it looks like this is a bug in vscode-python https://github.com/microsoft/vscode-python/issues/4100.

@mohankumargx @tabergma Thanks!

[2019-08-07 01:52] #4118 closed

[2019-08-07 05:55] psds01 commented on #4183
Does this custom component work on your local system local?
Was is "registered"?
After pushing the new model with custom component, did you restart `rasa x`? If not, it might be using the old configs and all.

[2019-08-07 06:00] sara-tagger commented on #4185
Thanks for submitting this feature request 🚀@wochinge will get back to you about it soon!✨

[2019-08-07 06:00] sara-tagger commented on #4179
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-07 06:00] sara-tagger commented on #4181
Thanks for raising this question, @Saladdin will get back to you about it soon!✨

###### The [forum](https://forum.rasa.com/) might also be a good place for this discussion 🙂

[2019-08-07 06:25] wochinge commented on #4146
@harunkelesoglu And you have a trained and tagged model? You should also remove the comment from the `models` part in the endpoint config. It's quite an essential part 😄

[2019-08-07 06:34] TatianaParshina commented on #4183
@psds01 thank you for your reply! I have updated the issue with stack trace from the docker with the error.
Yes, my custom component works on the local system. Yes, I restarted docker using `docker-compose down` and `docker-compose up -d` commands.
How can I find config.yml if I uploaded model via UI?

[2019-08-07 06:49] psds01 commented on #4183
**Component**:
Sorry, little confused. Are these components not written _inside_ the rasa library?
If not, it will not work. These components have to be written in `/rasa/nlu/xxx` where `xxx` is the relevant component `module` like `classifiers` or `extractors`. After that, "register" that component class in `/rasa/nlu/registry.py` manually or add it as a part of the pipeline.
Check this out: http

[2019-08-07 06:54] psds01 commented on #4183
Check this out for adding custom components to rasa: https://github.com/psds01/rasa_custom

[2019-08-07 06:54] ymehta18 commented on #2431
I want to know how u made UI of the rasa bot can you please help me i want to make the UI using Javascript and html I ma not getting any aclue can you please help me?

[2019-08-07 06:55] ymehta18 commented on #2431
Can you help me in making the UI for rasa bot using html and javascript?
I am out of clues.

[2019-08-07 07:25] TatianaParshina commented on #4183
@psds01 thank you for the proposed package. But I am not going to replace rasa code.
I want to use the official rasa code. I want to know how to run a custom component on Google Cloud if I installed rasa x using docker and uploaded model via UI.

[2019-08-07 07:31] yingrui commented on #453
Is it possible that the rasa defines the HTTP API? like the HttpComponent which will call other http server to implement the tokenizer and entity extractor. I guess this will not have the license issue, even if the Http API is similar to the Stanford NLP, and this will make rasa more open to other developers to integrate with their own NLP tools.

[2019-08-07 08:13] psds01 commented on #4183
In that case, check this out: https://blog.rasa.com/enhancing-rasa-nlu-with-custom-components/

1) Write the components in the bot folder and add bot folder path to PYTHONPATH
2) then
[code]

[2019-08-07 09:36] ihtisham0331 commented on #720
I use the command following command to install rasa nlu
pip install rasa-nlu
and showing same error

[2019-08-07 09:39] ihtisham0331 commented on #720
I installed it but not showing result of training

[2019-08-07 10:28] illi88 commented on #3770
Hello, @mmalhotra I have the same issue, if you solved it, can you guide me please !!

[2019-08-07 11:06] wochinge opened #4193 "Fast rabbit publishing"
based on https://github.com/RasaHQ/rasa-x/issues/1065#issue-476191091

- [ ] keep rabbitmq message open and don't create a new one for every message
- [ ] check whether to use `SelectionConnection` from pika instead of the synchronous one

[2019-08-07 12:49] harunkelesoglu commented on #3669
Thanks @tabergma it solved

[2019-08-07 13:19] federicotdn commented on #3010
An interesting visualization of import times using [tuna](https://github.com/nschloe/tuna):
[code]

[2019-08-07 13:56] mmalhotra commented on #3770
@illi88 this is fixed in the latest docker image:
I can confirm it in the following sha:
"Id": "sha256:a4e11142877cd6f14361f1ba27c4e2dffa7746526f17435f1f54a04e575a62a3"

[2019-08-07 14:30] wochinge commented on #3010
Wow, that looks cool! Weird that `rasa.nlu.test` takes so much time / is loaded at all. I put the issue in the backlog, if you you want to work on it 🙂

[2019-08-07 14:41] wochinge commented on #4185
Regarding the domain endpoint issues you are having:
I think this is mostly a duplicate of https://github.com/RasaHQ/rasa/issues/4080, isn't it?

That's actually there, but not documented 🙈Thanks for pointing that out! Will do a pr for this asap.

Regarding the compatibility with yaml: I think the domain endpoint actually covers that already and json is basically yaml. However, I'll share it for d

[2019-08-07 14:59] msamogh commented on #4153
So, shall I remove the discussion tag, then?

[2019-08-07 15:02] msamogh commented on #4076
@rgstephens I was referring to this https://rasa.com/docs/rasa-x/api/rasa-x-http-api/#operation/replaceBulkData

[2019-08-07 15:21] ValeriuOlar commented on #4124
Hi @tabergma,

I have not manage to get it work on my local win10 env or on docker container, It was the latest version. I am now using an AWS vm is working. Thanks.

[2019-08-07 15:21] #4124 closed

[2019-08-07 16:02] rgstephens opened #4200 "Rasa X custom action found in domain but not in training data"
**Rasa version**: 1.1.4

**Rasa X version**: 0.20.0

**Issue**:

I'm migrating existing bots to Rasa X and I'm receiving warnings under the Domain section of the UI for response templates/utterances associated with custom actions. The warning is:

`The action utter_xyzzy was found in the domain but is missing in the training data`

*training data* in this case is referring to the bot stories and t

[2019-08-07 16:15] jahirfiquitiva opened #4201 "Multiple projects for a single rasa instance"
**Description of Problem**:
In pre-1.x versions of rasa, one could train different projects with different models and of course different training data.

When one initialized rasa, one could specify the models folders containing each one of those projects.

Then the HTTP API also allowed specifying which project to run actions against to ... for example, the `parse` endpoint could be used like:
[c

[2019-08-07 16:21] rgstephens opened #4202 "Rasa X Response template display issues"
**Rasa version**: 1.1.4

**Rasa X version**: 0.20.0

I've imported a domain file that is 3,000 lines long and 2,100 of those lines are associated with 280 response templates. The domain page of the UI only shows the first 13 lines of the templates. The remaining ~2,080 lines are displayed as blank lines (the UI essentially display 2,080 new lines or <p>).

I think the real issue here is best addre

[2019-08-08 06:00] sara-tagger commented on #4202
Thanks for the issue, @MetcalfeTom will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-08 06:00] sara-tagger commented on #4200
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-08 06:00] sara-tagger commented on #4201
Thanks for submitting this feature request 🚀@Ghostvv will get back to you about it soon!✨

[2019-08-08 06:31] tmbo commented on #4200
I think the warning is correct, it is referring to the actions section, not the templates:
* you need to list all your utterance in the `templates` section
* **only if** you are using the template directly as an action, you need to list it in `actions`

So in your case, you only need to list the templates in the templates section and remove them from the actions list (it has always been like that,

[2019-08-08 06:37] prathap9000 opened #4203 "RASA NLU not extracting entities"
rasa-core                 0.13.8
rasa-core-sdk             0.12.2
rasa-nlu                  0.14.6

i have created training data and trained my model using spacy_sklearn pipeline .
entity extraction is working for keywords mentioned in training data , but for other keywords it is not
attached my training data file

below is the sample conversation

[code]

below is config file i have used

[code]

[2019-08-08 06:51] EmannuelRoque opened #4204 "Fatal error - engineio.server - https://mysite.com is not an accepted origin. after upgrade"
**Rasa version**:
Rasa 1.2.2

**Rasa X version** (if used & relevant):

**Python version**:
Python 3.6.8

**Operating system** (windows, osx, ...):
ubuntu server

**Issue**:

After run
pip3 install rasa --upgrade

I started to get the message:
engineio.server  - https://mysite.com is not an accepted origin.

Now my webchat is broken and I'm stuck !!!

It seems to be related to cors but I tried the

[2019-08-08 07:53] amn41 commented on #4201
hi @jahirfiquitiva ! discussion is here https://github.com/RasaHQ/rasa/issues/3259

[2019-08-08 07:53] #4201 closed

[2019-08-08 08:18] erohmensing commented on #4179
Can you run both `rasa shell` and your action server in `--debug` mode? That might give us some more information about what's going on. Are you running rasa on a different port than usual?

What is the request you are sending via the rest API when this happens?

[2019-08-08 09:50] wangjin2000 opened #4206 "rasa test nlu -u option doesn't handle exception correctly"
**Rasa version**: 1.1.8

**Rasa X version** (if used & relevant):

**Python version**: 3.73

**Operating system** (windows, osx, ...): Linux version 4.4.0-139-generic (buildd@lcy01-amd64-006) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.10) ) #165-Ubuntu SMP Wed Oct 24 10:58:50 UTC 2018

**Issue**:
When run command:
 rasa test nlu -u ./train_test_split/test_file,
if the test_file doesn

[2019-08-08 10:07] swamat commented on #4179
@erohmensing  PFB output in debug mode

2019-08-08 15:31:03 DEBUG    rasa.model  - Extracted model to 'C:\Users\GA049E~1.MAH\AppData\Local\Temp\tmphvvpxefh'.
2019-08-08 15:31:03 DEBUG    rasa.model  - Extracted model to 'C:\Users\GA049E~1.MAH\AppData\Local\Temp\tmpjnx5aet0'.
2019-08-08 15:31:05 DEBUG    sanic.root  - CORS: Configuring CORS with resources: {'/*': {'origins': [''], 'methods': 'DELET

[2019-08-08 11:00] sara-tagger commented on #4206
Thanks for raising this issue, @Ghostvv will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-08 11:00] sara-tagger commented on #4204
Thanks for the issue, @wochinge will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-08 11:00] sara-tagger commented on #4203
Thanks for raising this question, @tabergma will get back to you about it soon!✨

###### The [forum](https://forum.rasa.com/) might also be a good place for this discussion 🙂

[2019-08-08 11:05] wochinge commented on #4153
This sounds more like adding the `zip` command to the docs for me?

[2019-08-08 11:13] tabergma commented on #4203
@prathap9000 You should ask questions in our [forum](https://forum.rasa.com/). GitHub is only for bugs and feature requests.
I'll close this issue. Please ask the question in the forum. Thanks.

[2019-08-08 11:13] #4203 closed

[2019-08-08 11:19] glaulom commented on #3935
I'm starting to do it and I have opened a discussion on the forum to get some advice.
https://forum.rasa.com/t/using-microsoft-teams-reaction-as-feedback/14096

[2019-08-08 11:21] kbirkbr commented on #1190
@pwierzgala , could you post your custom action function to set from_tim and to_time?

[2019-08-08 11:27] erohmensing commented on #4179
And the debug logs of your action server?

[2019-08-08 11:29] erohmensing commented on #4179
Looking at the debug log this could also _maybe_ be the culprit :
[code]
our docs suggest
[code]

[2019-08-08 11:41] wochinge commented on #4204
@EmannuelRoque On which machine is your Rasa server running and on which machine is the socketio input running?

[2019-08-08 11:48] akasha1618 opened #4207 "Rasa exception whentrying to handle webhook for facebook messenger"
Hello ! I got an error when I message my bot on facebook and it's not working.Secret,Callback,verify everything is set ok. I used ngrok for public callback url so i replaced http://localhost:5005/webhooks/facebook/webhook with http://8d78102e/webhooks/facebook/webhook .

this is what I got on the ngrok terminal:
[code]

**Rasa version**: Rasa 1.1.5

**Python version**:3.7

**Operating system** (wi

[2019-08-08 13:29] wochinge commented on #2689
I can understand you, but that would be quite against the way we have done it for the other customizable components which is why I'd like to keep it consistent.

[2019-08-08 13:55] IgNoRaNt23 opened #4209 "Rasa X UI shuts down when TwoStageFallbackPolicy becomes active"
**Rasa version**:
rasa==1.1.8

**Rasa X version** (if used & relevant):
rasa-x==0.20.0

**Python version**:
Python 3.6.8

**Operating system** (windows, osx, ...):
Ubuntu 18.04.2

**Issue**:
Rasa X UI shuts down whenever the TwoStageFallbackPolicy becomes actives and wants to display a button message. The same conversation works fine in the CLI.

some information (and a maybe related bug) is alrea

[2019-08-08 14:21] ismaeelBM opened #4211 "Rasa test config Folder Argument error"
**Rasa version**: 1.2.2

**Python version**: 3.6.7

**Operating system**: ubuntu

**Issue**:
Unable to parse a folder as an argument when running rasa test. Below are the error and the command that I ran. The configFolder only consists of two files 'config2.yml' and 'config.yml'.

**Error**:
[code]

**Command that led to error**:
[code]

[2019-08-08 14:23] rgstephens commented on #4185
Yes, there's overlap. I think this issue covers more than #4080 and that #4080 could be close.

[2019-08-08 14:26] rgstephens commented on #4076
@msamogh The payload for the PUT call you referenced is also json. This is a request to support the markdown format that has been recommended by Rasa for the past 9 months or so.

[2019-08-08 15:00] #4037 closed

[2019-08-08 15:23] TyDunn opened #4212 "making it easier to debug custom action code"
It is very difficult to debug custom action code because each time you test, you have to start the action server, start rasa shell, chat with your bot until you get to the point were the custom action is triggered, and then see if it works.

It would be great if you could create a derivative of the UnitTest class that loads an exported conversation state and calls the action that you want to test.

[2019-08-08 15:51] EmannuelRoque commented on #4204
I have the following structure:
- webchat (hosted on site)
- nginx proxy server (to generate https)
- server running core (proxy redirects from internal board)
- server running actions (internal card)

The chrome console shows this message:

chatb-ibegi.php?c=1041100906&p=363&t=bBsul:1 Access to XMLHttpRequest at 'https://bot.ctips.biz/ibegi/socket.io/?EIO=3&transport=polling&t=MnnxFS0' from origi

[2019-08-08 16:10] EmannuelRoque commented on #4204
Work around:
pip3 uninstall python-engineio
pip3 install python-socketio==4.2.0

[2019-08-08 16:19] rgstephens commented on #4200
Thanks, I think my confusion is in the use of the term `training data` in the message.

It would be more helpful to the user if the message said:

`The action utter_xyzzy was found in the **actions** but is missing in the **templates**`

I also have instances where my data is in the template but missing in actions so it would be more clear if that message said:

`The action utter_xyzzy was found i

[2019-08-08 17:47] msamogh opened #4213 "`rasa shell` does not allow free text input when template has buttons in it"
**Rasa version**: 1.1.8

**Issue**:
The bot should accept both free text alongside the choice of one of the buttons (since that'd be possible in Rasa X and presumably other channels as well), but currently there's no way to do that in `rasa shell`.

[2019-08-08 21:48] msamogh commented on #4076
@rgstephens You just have to set the `Content-Type` to `text/markdown`.

[2019-08-08 22:34] #4064 closed

[2019-08-09 00:27] rgstephens commented on #4076
Thanks, I didn't notice the `text/markdown` option. That's a good workaround for me until `POST` with markdown is available.

[2019-08-09 05:17] jamesmf opened #4214 "Add custom features to NER"
**Description of Problem**:
Right now custom entities can only use `pos` features from `spacy` and a handful of simple features. This seems to be in contrast to the flexibility and power of the other pipeline components which can take advantage of any combination of built-in and custom `featurizers`. Ideally, there would be a way to pass `ner_features` to the `CRFEntityExtractor`. In particular, t

[2019-08-09 06:00] sara-tagger commented on #4214
Thanks for submitting this feature request 🚀@MetcalfeTom will get back to you about it soon!✨
###### Caw! 🐧

[2019-08-09 06:00] sara-tagger commented on #4212
Thanks for submitting this feature request 🚀@tyd will get back to you about it soon!✨

[2019-08-09 06:00] sara-tagger commented on #4211
Thanks for raising this issue, @akelad will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-09 06:00] sara-tagger commented on #4209
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-09 06:00] sara-tagger commented on #4207
Thanks for raising this issue, @Ghostvv will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-09 06:05] swamat commented on #4179
@erohmensing I removed the '/' after webhook in endpoints.yml
action_endpoint:
  url: "http://localhost:5055/webhook"

After the change i am getting below error from actions:
(base) C:\Users\g.a.mahalingam\Documents\weather>rasa run actions --debug
2019-08-09 11:27:26 INFO     rasa_sdk.endpoint  - Starting action endpoint server...
c:\programdata\anaconda3\lib\site-packages\rasa_core_sdk\__init__.

[2019-08-09 06:13] swamat commented on #4179
@erohmensing Changed actions.py to use client.current instead of client.getcurrent. It is working fine now. Thanks

[2019-08-09 06:15] #4179 closed

[2019-08-09 06:30] harunkelesoglu commented on #4146
Jesus 😱 how did i not notice. Thanks @wochinge .
And yes i have trained model but i dont understand what you mean by tagged model.

[2019-08-09 07:25] msamogh opened #4216 "The whole Core model is retrained even if only the templates section is changed"
**Description of Problem**:
Having to retrain the Core ML model every time templates are changed is unnecessary and can be very expensive for a large project with lots of stories.

**Overview of the Solution**:
Create a separate, more granular fingerprint for the templates section in the domain and if only that has changed, simply replace that section in the new model and not retrain Core.

**Exam

[2019-08-09 07:42] amn41 commented on #4214
thanks @jamesmf ! I really like the general idea + its flexibility, very cool proposal. Regarding your "still necessary" list, I agree an important step is showing that this improves performance on 1-2 example datasets.

[2019-08-09 09:31] jianjunchang opened #4217 "action_listen action following the chitchat utterance"
**Rasa version**:
1.1.4
**Rasa X version** (if used & relevant):

**Python version**:
3.6.9
**Operating system** (windows, osx, ...):
osx
**Issue**:
There is a action_listen action following the chitchat utterance when i'm working with interactive learning, but i think it should not be there, see the screenshot bellow.(i have post a thread [here](https://forum.rasa.com/t/why-is-there-a-action-list

[2019-08-09 10:49] tabergma commented on #4206
@wangjin2000 This is actually the behaviour for almost all rasa commands. So, I would not necessarily throw an exception. But we should at least print a warning, informing the user about that the provided file was not found and the default location was used instead.

Do you want to tackle this yourself and submit a PR for this?

[2019-08-09 11:00] sara-tagger commented on #4217
Thanks for the issue, @imLew will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-08-09 11:07] imLew commented on #4217
Hi @jianjunchang, that is indeed a strange place for action_listen.
Could you please run it again with `--debug` enable to find out which policy is predicting what here?

[2019-08-09 11:52] wangjin2000 commented on #4206
Thanks for your response. In my point of view, the default value only be used is the parameter is not specified.  If the parameter is used but not correct, we should report it as an error, other than a warning and continue running.Anyway, I would like let you handle this issue.Thanks again!
Jin
    On Friday, August 9, 2019, 06:49:34 PM GMT+8, Tanja <notifications@github.com> wrote:

@wangjin2000

[2019-08-09 12:50] rakesh4osdd opened #4219 "Provide custom Library path to RASA"
What to do, if "asa init --no-prompt" fails?
If the custom ld_library_path is provided then segment fault comes.
Please help.

(base) [rakesh@localhost rasax]$ rasa init --no-prompt
Traceback (most recent call last):
  File "/home/rakesh/anaconda3/lib/python3.7/site-packages/tensorflow/python/pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *

[2019-08-09 13:35] Ghostvv commented on #4113
@dakshvar22 welcome to the club

[2019-08-09 13:57] akelad commented on #1154
Hi @ralphg6, taking over from ella - so if I understand correctly with Watson you simply provide a list of entities separately (not in sentences) to your intent examples?
That causes a small problem, because while we could use lookup tables, you would still need to add some sort of annotations to your training data in Rasa since it won't recognise the entities otherwise.
One option would be to har

[2019-08-09 14:21] Ghostvv commented on #4113
@tmbo any ideas about this problem?

[2019-08-09 14:55] msamogh opened #4220 "Incompatibility error doesn't show minimum version"
**Rasa version**: 1.1.7

**Rasa X version** (if used & relevant): 0.19.1

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:
This warning is displayed every time Rasa X is started.
[code]

**Command or request that led to error**:
[code]

[2019-08-09 16:16] visopsys commented on #4047
I got this error too. This is creating headache for our Twilio & Slack integration :(

[2019-08-09 16:26] erohmensing commented on #4047
@visopsys this happens with twilio too? Or just slack?

[2019-08-09 16:27] visopsys commented on #4047
@erohmensing it happens with both.

[2019-08-09 16:29] cuongnda commented on #4047
Hi, I got this issue with slack too. This is the log
`rasa-production_1  | 2019-08-07 15:58:38 ERROR    rasa.core.channels.twilio  - Exception when trying to handle message.
rasa-production_1  | 2019-08-07 15:58:38 DEBUG    rasa.core.channels.twilio  -
rasa-production_1  | Traceback (most recent call last):
rasa-production_1  |   File "/usr/local/lib/python3.6/site-packages/rasa/core/channels/twil

[2019-08-09 22:56] ortsaCniveK commented on #4216
This is the default behavior;  the way to avoid retraining with template changes is to use an [External CMS](https://rasa.com/docs/rasa/core/responses/#managing-assistant-utterances-using-an-external-cms).

If there are no changes to the domain or the training data Rasa already prevents redundant training.

[2019-08-09 23:00] ortsaCniveK commented on #4114
:+1: I'm also having this issue.

[2019-08-09 23:29] ortsaCniveK opened #4223 "Allow config path to be passed to Rasa X"
**Description of Problem**:

Because users are able to pass custom `config` paths to `rasa train`, there should be CLI parity for the same.

**Overview of the Solution**:

Accept custom config path to override default config path, unless none is passed, then use default.

That, or allow for a `config/` folder to be passed for all configuration-related files.

**Examples** (if relevant):

Mainly wo

[2019-08-10 07:08] msamogh commented on #4114
Thanks for raising this issue, @wochinge will get back to you about it soon.

[2019-08-10 07:46] jwjuven commented on #4204
I had same issues in ubuntu 18.0.4. It worked fine in windows platform.
My environment is as follows:
Rasa version: Rasa 1.2.1
Rasa X version (if used & relevant):
Python version: Python 3.6.8
Operating system (windows, osx, ...): ubuntu server 18.0.4
Chat: webchat
I started rasa in ubuntu 18.0.4 to get the message:
engineio.server - http://jw.ngrok2.xiaomiqiu..cn is not an accepted origin.(http:/

[2019-08-10 10:58] jwjuven commented on #4204
I have solved the issues. Because the version of python-engineio is 3.9.2 in ubuntu, it will work fine after I downgraded python-engineio from 3.9.2 to 3.8.1.

[2019-08-10 11:21] cyrilthank commented on #2023
does this work on rasa-x ui?

[2019-08-10 12:40] anubhavpnp commented on #1754
Hi @winstarwang ..Your repo was quite useful..Do you have any plans of modifying it so that it is compatible with rasa x ?Your code was working for me with old RASA versions. But not with rasax anymore.PLease do make the modification..That would be really great

[2019-08-10 14:01] pratikh07 opened #4224 "rasa core and rasa nlu"
AttributeError: 'ApixuClient' object has no attribute 'getcurrent'

im facing this error please help me

[2019-08-10 15:15] pratikh07 commented on #3307
AttributeError: 'ApixuClient' object has no attribute 'getcurrent'

please help me mam

[2019-08-10 15:18] pratikh07 commented on #4070
AttributeError: 'ApixuClient' object has no attribute 'getcurrent'

im facing this issue help me mam

[2019-08-10 19:55] Polarisation commented on #4131
I submitted a small PR to clarify the documentation. If that is accepted I'd then consider this issue fixed 🙂

[2019-08-10 20:04] Polarisation commented on #4163
I don't think PUT would be correct, because [the spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.6) says:

In this case, it's not a modified version of the previous model, but a new model (the old one still remains on the server, as I understand). So strictly speaking I think POST is more correct.

[2019-08-11 08:53] pudasainishushant commented on #4103
Hello, @MetcalfeTom , @lahsuk , @JustinaPetr , @sheldon , @fungiboletus , @tmbo , @amn41 , @ghostHBL , @ricwo . Can you please help me out in this issue?

[2019-08-11 15:56] msamogh commented on #2899
@amn41 Since changing the metrics won't change the fact that you would still need some downstream logic to resolve it, I can't think of a good reason to include it as part of the NLU output.

[2019-08-11 21:58] jamesmf commented on #4214
Here's the experiment I ran.

Config.yml looks like this:
[code]

Config_orig.yml only uses the default features before adding `ner_features`
[code]

I then ran a `rasa test nlu --config config.yml config_orig.yml --nlu data/nlu.md  --runs 5 --percentages 25 50` inside `restaurantbot`.

These are the (mean) results from each `CRFEntityExtractor.json` in the result.
[code]

You can see the new (`co

[2019-08-12 00:00] Zylatis commented on #4214
I've been considering a similar thing and one particular feature I am hoping to implement, and would be great to see in this implementation, is 'distance to keyword'. For example, I am trying to extract destination and origin addresses and a feature which may be important is the distance of a given token/word to a 'from' or 'to' word (from a list) in that sentence.

In terms of this PR would the i

[2019-08-12 01:43] jianjunchang commented on #4217
Hi @imLew, sorry for the late reply, i have try as your said, and the logs is attached below.
[interactive.log](https://github.com/RasaHQ/rasa/files/3490656/interactive.log)
The most relevant part i think is the screenshot below:
![image](https://user-images.githubusercontent.com/6183488/62842478-26714180-bce5-11e9-8f57-5c48a97ec831.png)

[2019-08-12 02:13] jamesmf commented on #4214
@Zylatis yes, if you wanted to add that as a component compatible with this, I would imagine you'd create something like this:

[code]

[2019-08-12 03:12] sukgithub1 commented on #3852
you can try something like:
pip install rasa-x --extra-index-url https://pypi.rasa.com/simple

[2019-08-12 05:45] IKhushi opened #4227 "rasa chatbot duckling implementation issue"
I'm currently working on rasa chatbot , I can install duckling but can not implement it in for time and date entity so pls help me if any one had already use it.
thank you

[2019-08-12 06:00] sara-tagger commented on #4227
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-12 06:52] #4131 closed

[2019-08-12 07:07] wochinge commented on #4114
Thanks for bringing up this issue. We already implemented a fix and it will be shipped with the next Rasa X version which will probably be released early this week.

[2019-08-12 07:07] #4114 closed

[2019-08-12 07:20] wochinge commented on #4146
So it's working now?

In the UI there is a `models` tab where you can see all the available models. You can then click on the three dots and `mark a model as active`.

[2019-08-12 07:33] wochinge commented on #4193
@ricwo Are you tackling this issue this week or should I?

[2019-08-12 07:37] amn41 commented on #2899
my point was that instead of using the raw score produced by the model, we could have NLU report a confidence value that already takes this into account. But letting Core handle it is probably better  because otherwise the logic is a bit obscured.

[2019-08-12 07:46] wochinge commented on #4209
Do you have an `out-of-scope` intent in your domain?

[2019-08-12 08:06] #4227 closed

[2019-08-12 08:22] wochinge commented on #4220
it's a timing problem since the Rasa server is not ready yet.

[2019-08-12 08:23] ricwo commented on #4193
I can do it this week 👍

[2019-08-12 08:26] ricwo commented on #4069
@erohmensing right now, we're matching on

[code]
and the question is can we simply switch to
[code]

this shouldn't make a difference for whitespace-tokenised sentences, but would mean Jieba-tokenised regex matching works

[2019-08-12 08:51] akelad commented on #4063
@msamogh we talked about having examples of *both* json and markdown - and being able to switch between them, what happened to that?

[2019-08-12 09:02] IKhushi opened #4228 "Duckling is not working for entity extraction"
**Rasa version**: Rasa 1.1.8

**Rasa X version** (if used & relevant):

**Python version**: python3.6.7

**Operating system** (windows, osx, ...): linux

**Issue**: Duckling is not working for entity extraction
I've done testing is done using
curl -XPOST http://0.0.0.0:8000/parse --data 'locale=en_GB&text="the first Tuesday of October"'
it will give o/p:
[{"body":"the first Tuesday of October","st

[2019-08-12 09:04] sara-tagger commented on #4228
Thanks for raising this issue, @akelad will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-12 09:13] imLew commented on #4217
According to this the action is predicted by the memoization policy, which would mean that it is based on your training data. Could you post your `stories.md`?

Also, you can get rid of these slot-errors by upgrading to rasa >=1.1.5 (afaik they work in 1.1.4 but the error message if simply printed incorrectly).

[2019-08-12 09:22] sara-tagger commented on #4224
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-12 09:22] sara-tagger commented on #4223
Thanks for submitting this feature request 🚀@wochinge will get back to you about it soon!✨

[2019-08-12 09:22] sara-tagger commented on #4219
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-12 09:23] #4224 closed

[2019-08-12 09:31] MetcalfeTom commented on #4219
Try upgrading your 'libc6' package

[code]

[2019-08-12 09:59] alvipranandha commented on #1621
Thank you for your config, now I can run it without memory error with around 95k rows then around 144 intents and around 28 entities. But the result is still not good, need the best tune hyperparameters for a custom dataset.

[2019-08-12 10:33] sagardawda7 commented on #1621
Thats awesome. You can try changing the `max_features` size and look for results. I have 8 core system with 16 GB RAM and my value for `max_features` was `5000`

Alternatively you can develop a custom featurizer using TFIDF Vectorizer. And set max features to whatever fits in your memory. TFIDF may help boost the results.

[2019-08-12 10:34] IgNoRaNt23 commented on #4209
Yes, i do.

TwoStageFallbackPolicy in config.yml:
- name: TwoStageFallbackPolicy
    nlu_threshold: 0.4
    core_threshold: 0.4
    fallback_core_action_name: "action_default_fallback"
    fallback_nlu_action_name: "action_default_ask_affirmation"
    deny_suggestion_intent_name: "out_of_scope"

and
- out_of_scope
under intents in domain.yml

[2019-08-12 11:18] erohmensing commented on #4163
Okay, that's fair! Then yeah, i think a request body parameter sounds fine! Go for it 🚀

[2019-08-12 11:43] wochinge commented on #4223
@ortsaCniveK Thanks for bringing this. I agree, that this could be useful 👍

[2019-08-12 11:44] alvipranandha commented on #1621
Well, thank you for your suggestion @sagardawda7. I have a quad-core system with 16 GB RAM and still searching for the best config for our dataset. How do I know to test or check the condition for max_features, in order not in a memory error condition? Is it check one by one? or there are other methods?

[2019-08-12 11:47] wochinge commented on #4204
@jwjuven Did you get any insights why `python-engineio` does not support this?

[2019-08-12 13:39] #4220 closed

[2019-08-12 14:08] MetcalfeTom commented on #4169
OK now it's completely broken:
[code]

[2019-08-12 14:32] rgstephens commented on #3580
Is this getting any attention?  I'm sorry to see #4067 getting resolved without addressing this related issue.

[2019-08-12 14:50] #2899 closed

[2019-08-12 14:55] msamogh commented on #2899
@alan Yeah, the metric would need to take into account both the absolute and the relative difference, and the only way to do that I can think of is to have them side-by-side, which would be messy.

[2019-08-12 15:54] rgstephens opened #4231 "Show training errors of Rasa models in Rasa X"
**Rasa version**: 1.1.4

**Rasa X version**: 0.20.0

**Issue**:

If the user clicks on the Train button and the training fails, there is no indication that the training failed nor any error message to help the user track down what went wrong. The only indication that there was a problem is that the model doesn't show up.

Running under the docker setup, I spent some [time](http://gstephens.org/ras

[2019-08-12 18:11] wochinge commented on #4209
Any logs? Could you please run rasa x with `rasa x --debug` and check if there is anything insightful in the logs?

[2019-08-12 19:34] wochinge commented on #4168
@erohmensing I overlooked that you already assigned yourself. Did you already fix it? Otherwise I found the error 🙈 The username doesn't get passed as `username` to `replace_stories`, but as `filename`

[2019-08-12 19:50] Collen-Roller commented on #2093
I wrote a solution for this if anyone is interested in automatically generating these files

https://github.com/Collen-Roller/Rasa-Denerator

The script will update a domain file when new actions are created within an actions module, new entities / intents are created within a training data fike, and automatically place templates within the actions section of the domain file to avoid copy/pasting

[2019-08-12 19:59] wochinge commented on #3944
I think we still have to do this for interactive learning. `train` should be fixed

[2019-08-12 20:34] wochinge commented on #4126
@MetcalfeTom I believe this is fixed now with  this approach https://github.com/RasaHQ/rasa/blob/3a60b930c4af46fe768c2ea495cadb0afa82a578/rasa/data.py#L137

[2019-08-12 20:43] mangeshshinde commented on #1721
Traceback (most recent call last):
  File "nlu_model.py", line 1, in <module>
    from rasa_nlu.converters import load_data
ModuleNotFoundError: No module named 'rasa_nlu.converters'

[2019-08-13 00:52] visopsys commented on #4047
Any update on this issue? Any estimate on when it will be fixed or any workaround in the meantime?

[2019-08-13 03:47] Zylatis commented on #4214
Cool, would definitely be handy. I'm definitely keen to do as much custom feature engineering with this CRF as possible, so if you'd like help on this PR let me know (not an expert by any means but i'd like to contribute if i can). @jamesmf

[2019-08-13 03:56] #4128 closed

[2019-08-13 04:22] alvipranandha commented on #1621
Well, thank you for your suggestion @sagardawda7 it looks like I have a quad-core system with 16 GB RAM and my value for `max_features` was `1000`. How do you know what is the best `max_features` to fit into our memory? Is it try one by one? or there is another way to know and help my TFIDF Vectorizer?

[2019-08-13 04:41] lahsuk commented on #4103
@pudasainishushant
Well, I don't know what you've done so, here is a list that you should do:
- [ ] You need to add the page in the apps in developers for fb (under messenger > settings) and additionally edit subscription to include at least messages, messaing_postbacks, messaing_read, messaging_handovers and message_delivers
- [ ] create new page access tokens and secret and add it to credentials

[2019-08-13 06:00] sara-tagger commented on #4231
Thanks for raising this issue, @gausie will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-13 06:34] msamogh commented on #4063
For now, I've just replaced them with Markdown. I'm guessing the switching component would need a separate extension, so I didn't look at it right away. But I found some examples here that we could try out - https://sublime-and-sphinx-guide.readthedocs.io/en/latest/code_blocks.html.

[2019-08-13 07:14] MetcalfeTom commented on #4202
Also added to the backlog.  Thanks for your continued reporting @rgstephens

[2019-08-13 07:48] IgNoRaNt23 commented on #4209
Here's the log

2019-08-13 09:43:17 DEBUG    rasa.core.processor  - Current slot values:
	address: None
	house_number: None
	requested_slot: None
	residence: None
	street: None
	taxid: None
	time: None
	zipcode: None
2019-08-13 09:43:17 DEBUG    rasa.core.processor  - Logged UserUtterance - tracker now has 178 events
2019-08-13 09:43:17 DEBUG    rasa.core.tracker_store  - Tracker with sender_id 'm

[2019-08-13 07:56] IgNoRaNt23 commented on #4209
And here, whats the UI looks like when this happens
https://postimg.cc/F1BDLdwj

As I said, the bot works fine in CLI.

[2019-08-13 08:00] IgNoRaNt23 commented on #4209
Installed Rasa X 0.20.0 and Rasa 1.1.8 in the meantime. Same problem

[2019-08-13 08:19] wochinge commented on #4209
@IanRogers-LShift

If you refresh the page, the problem consists?

[2019-08-13 08:22] indranil180 commented on #3922
i am also facing the same issue.

[2019-08-13 08:31] wochinge commented on #4169
@MetcalfeTom I can't reproduce it 🙈 Works fine for me. maybe some wrong permissions or so?

[2019-08-13 08:34] wochinge commented on #4169
@MetcalfeTom Now I can reproduce it. Thanks!

[2019-08-13 08:54] erohmensing commented on #4063
@msamogh good find -- would be cool if you could try it out, doesn't look like it'll even need any updates to rasabaster. but feel free to ask me if you run into trouble with sphinx

[2019-08-13 09:31] erohmensing commented on #4168
Hahaha i just picked it as my maintenance task for the week but if you already have the solution, go for it 😋 just let me know and i'll switch the assignment

[2019-08-13 10:01] wochinge commented on #4168
phew 👍

Ok, will ask for your review then :-)

[2019-08-13 11:44] #4228 closed

[2019-08-13 12:20] #4167 closed

[2019-08-13 13:52] bambootran89 commented on #4041
I met a similar problem. I recognized that telegram limit payload size so we can not attach data with long text.

[2019-08-13 14:11] #4168 closed

[2019-08-13 14:13] wochinge commented on #4168
@rgstephens I fixed the problem that stories are added when they should be updated.

The endpoint deletes all the old stories and adds the new ones (means it there stories are replaced). How could we make this behaviour more obvious? The API spec describes the endpoint by saying it `Replace stories`

[2019-08-13 14:20] erohmensing commented on #3865
Hey @evgeniiaraz are you still working on this? Anything I can do to help?

[2019-08-13 14:21] erohmensing commented on #4119
Hey @RanaMostafaAbdElMohsen how is this going? Anything I can help you with?

[2019-08-13 14:23] erohmensing commented on #3419
Hey @lmaczulajtys, are you still working on this? Let me know if you need any pointers :)

[2019-08-13 14:24] erohmensing commented on #4144
Thanks for your work on this issue, @ismaeelBM! We'd love to see more contributions from you in the future 🚀

[2019-08-13 14:24] #4144 closed

[2019-08-13 14:49] TyDunn commented on #3946
Will this still be the case when support for synonyms has been added to Rasa X?

[2019-08-13 19:10] akelad commented on #4021
@rgstephens sorry for getting back to you so late, i've been away - we're gonna be reworking the API page in general, so will incorporate that. Thanks for letting us know.

[2019-08-13 19:23] akelad commented on #4063
Ok I'm not really sure having only markdown is that great, we should look into fully reworking the page, not just making a quick fix

[2019-08-13 19:25] akelad commented on #4063
so let's look into adding this kind of component

[2019-08-13 19:26] akelad commented on #3922
@MetcalfeTom any chance you could look into this again?

[2019-08-13 19:26] akelad commented on #4202
@gausie you may have some input on what's going on there?

[2019-08-13 19:28] akelad commented on #4047
@erohmensing any more ideas about this?

[2019-08-13 19:31] akelad commented on #3580
@rgstephens could you clarify what you mean? That PR is related to addressing the NLU training data page, not related to Rasa X

[2019-08-13 19:37] akelad commented on #4211
Hi @ismaeelBM, sorry for getting back to you so late. Are you trying to do the model comparison mode? If yes, then please try passing the config like this `-c configFolder/config.yml configFolder/config2.yml`

[2019-08-13 19:37] akelad commented on #4165
@PrakashRaj37 please ask these questions in our forum

[2019-08-13 19:37] #4165 closed

[2019-08-13 19:43] Yep-Was-Taken opened #4236 "Core training skipped, no valid domain files found."
**Rasa version**:
1.1.8

**Rasa X version** (if used & relevant):

**Python version**:
3.7

**Operating system** (windows, osx, ...):
Windows

**Issue**:
Core training skipped, no valid domain files found. I have attached my stories.md and nlu.md
I am running a rasa train command but the core training is being skipped. My stories include a menu path that loops the main line stories as well.

**Err

[2019-08-13 19:47] ismaeelBM commented on #4211
@akelad Oh ok. Was it a change made in an update? Because I remember being able to use it by just passing in a folder in Rasa 1.0.9 I think.

[2019-08-13 19:49] Yep-Was-Taken commented on #4236
[code]

[code]

[2019-08-13 19:51] ismaeelBM commented on #4144
@erohmensing Not a problem! I look forward to making more contributions! 😊

[2019-08-13 20:47] amn41 commented on #3946
yes this will still be the case.

I see this could be an issue in theory but has this ever actually happened?

[2019-08-13 20:53] rgstephens commented on #3580
Sounds like I mis-read that issue.  Nevermind.

[2019-08-14 05:37] pudasainishushant commented on #4103
![Screenshot from 2019-08-14 11-17-55](https://user-images.githubusercontent.com/47980452/62996735-63743a00-be85-11e9-878a-5af9b3301f88.png)
Hello @lahsuk , I am extremely happy that you reached me to help me with this issue. I have completed all the procedures mentioned above and tried testing on messenger. But, following SSL certification error was received.
![Screenshot from 2019-08-14 11-09-47

[2019-08-14 06:00] sara-tagger commented on #4236
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-14 06:33] tabergma commented on #4236
Hi! Can you please share a directory tree of your bot? And can you run `rasa train --debug` and check if there is any warning/error that helps us find the problem? Thanks.

[2019-08-14 06:55] nbeuchat opened #4237 "Interactive learning crashes when correcting the next action"
**Rasa version**: 1.1.8

**Rasa X version** (if used & relevant): Not used

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu (Ubuntu subsystem for windows)

**Issue**: I am trying to create unhappy paths for a form using interactive learning. I have an active form `form_apartment_interest`. Interactive learning crashes when correcting the action that the bot chose when the

[2019-08-14 07:04] lahsuk commented on #4103
@pudasainishushant

I cloned and tried it and it works fine on my side. You could try re-creating the virtual environment. Maybe the problem is on ngrok's side (I noticed that you're using free tier, while I used pro tier; so maybe...). I can't say anything for certain...

[2019-08-14 07:21] jianjunchang commented on #4217
Yes, the stories is attached below, and i will upgrade the rasa and try it again.

[stories.zip](https://github.com/RasaHQ/rasa/files/3500225/stories.zip)

[2019-08-14 07:47] akasha1618 commented on #4207
@sara-tagger  @Ghostvv  any answer??

[2019-08-14 08:20] TyDunn commented on #3946
My guess is that it very rarely, if ever, happens. Have you come across this @msamogh?

The current designs for synonyms in Rasa X will make it appear like synonyms are defined for each entity though

[2019-08-14 08:27] lmobot opened #4238 "how can i chat with bot on command line?"
when i run the def run(), i found  the agent.handle_channel is deprecated, and i can't find the new function to solve it,  i  don't want to use 'rasa shell',  so what can i do?

def run(serve_forever=True):
    agent = Agent.load("models/dialogue",
                       interpreter=RasaNLUInterpreter("models/demo"))

    if serve_forever:
        agent.handle_channel(ConsoleInputChannel())
    re

[2019-08-14 08:52] jianjunchang commented on #4217
Hi @imLew, i have upgrated the rasa from 1.1.4 to 1.2.2, and retrained the model, but nothing changed, the "action_listen" action is still there between "utter_weather_good" and "utter_weather_good".Hopefully your help again.

[2019-08-14 09:14] liyunrui opened #4240 "TypeError: Object of type 'MaxHistoryTrackerFeaturizer' is not JSON serializable"
Rasa version:
1.2.2
Rasa X version (if used & relevant):

Python version:
3.6.6

While running the below command line :
rasa train core -c nlu_model_config.yaml -s stories.md -d domain.yml --out models/dialogue

Error log:
  File "/ldap_home/yunrui.li/.pyenv/versions/3.6.7/envs/rasa_weather_v2/lib/python3.6/site-packages/rasa/core/utils.py", line 357, in get_dict_hash
    return md5(json.dumps(dat

[2019-08-14 10:16] sameerasukh opened #4241 "customs action not working"
**Rasa version**:  Rasa 1.1.4

**Python version**: Python 3.7.3 (anaconda)

**Operating system** : windows

**Issue**: customs action not working

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of domain file (domain.yml)** (if relevant):
[code]

content of endpoints.yml

[2019-08-14 10:22] sameerasukh opened #4242 "customs action not working"
**Rasa version**:

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of domain file (domain.yml)** (if relevant):
[code]

[2019-08-14 10:46] psds01 commented on #4107
@MetcalfeTom Please check out the above PR.

[2019-08-14 11:15] erohmensing commented on #4047
I've tried to replicate it on slack with no luck (the timeout ignoring itself is working fine with an action of a 30s sleep). Since it seems to be a cancelled async thing (or maybe another request coming in while one is still processing), maybe @tmbo has an idea?

[2019-08-14 11:16] erohmensing commented on #4041
Aha @bambootran89 thanks for the information! Where did you find that and what's the limit? We should throw a warning in the telegram file if the user tries to attach a too-long payload then

[2019-08-14 11:18] erohmensing commented on #4069
Sounds good to me! @journey1986 would you like to contribute a PR to include it?

[2019-08-14 11:21] erohmensing commented on #4078
Thanks for the help on this @psds01!

[2019-08-14 11:21] #4078 closed

[2019-08-14 11:25] erohmensing commented on #3569
No response received and multiple responses should be fixed now, tested with a 30s sleep action. @anoop2503 please let me know if you are still running into issues

[2019-08-14 11:25] #3569 closed

[2019-08-14 11:57] erohmensing commented on #4237
Hi @nbeuchat, I think this bug is already fixed, can you update to 1.2.2 and try again?

[2019-08-14 12:00] Ghostvv commented on #4207
@akasha1618 sorry for late reply. Is this discussion relevant: https://github.com/RasaHQ/rasa/issues/4103?

[2019-08-14 12:00] erohmensing commented on #4241
Hi @sameerasukh, this is not a bug but rather probably an error in your actions.py.

This means that you should check the terminal that is running your actions (the one where you ran `rasa run actions`). Please write on our [forum](http://forum.rasa.com) about questions like these. I'd suggest including the logs from `rasa interactive --debug` and `rasa run actions --debug`.

[2019-08-14 12:00] #4241 closed

[2019-08-14 12:00] #4242 closed

[2019-08-14 12:11] MetcalfeTom commented on #4207
@akasha1618 can you try updating to the latest rasa release?

Also what version of `fbmessenger` is installed?

[2019-08-14 12:28] erohmensing commented on #4207
That callback url doesn't look quite right either, I think it should be
`http://8d78102e.ngrok.io/webhooks/facebook/webhook`

[2019-08-14 13:29] Yep-Was-Taken commented on #4236
![image](https://user-images.githubusercontent.com/54069867/63024760-e2fa0d00-be75-11e9-99d2-10efba8c7e21.png)
[code]

[2019-08-14 15:03] dakshvar22 opened #4247 "Mapping Policy always predicts `action_listen` after finishing"
**Rasa version**: 1.2.2

**Python version**: 3.6

**Operating system** (windows, osx, ...): osx

**Issue**: Mapping Policy always predicts `action_listen` after it has executed the mapped action. This should be relaxed and a next action should be picked if predicted by any other policy.
Corresponding line - https://github.com/RasaHQ/rasa/blob/master/rasa/core/policies/mapping_policy.py#L112

Docum

[2019-08-14 15:48] wochinge commented on #4126
@MetcalfeTom

[2019-08-14 17:52] Polarisation opened #4250 "HTTP API - Cannot fetch /status for NLU-only model"
**Rasa version**:
1.2.2
(via Docker container: rasa/rasa:1.2.2-spacy-en)

**Issue**:
There is an endpoint /status as part of the HTTP API.
https://rasa.com/docs/rasa/api/http-api/#tag/Server-Information/paths/~1status/get

This returns some metadata about the currently loaded model, including the model file, trained date, Rasa version used for training, and more. (I'm mostly interested in obtainin

[2019-08-14 20:51] #4206 closed

[2019-08-14 21:21] arthurTemporim commented on #3924
@wochinge I guess these steps are needed to solve this issue:
- [ ] Update endpoints file adding `sentinel.config` file-path, and a flag about `sentinel` usage.
- [ ] Update `RedisTrackerStore` class to handle both `redis` and `redis-sentinel` configurations [here](https://github.com/RasaHQ/rasa/blob/b18e7cb596599867c04119fb70fcf42cdd546355/rasa/core/tracker_store.py#L160)
- [ ] Update documentati

[2019-08-14 21:23] alexissmirnov commented on #3015
Closing this issue since PR is merged.

[2019-08-14 21:23] #3015 closed

[2019-08-15 01:12] journey1986 commented on #4069
@erohmensing   I am sorry . I can not commit code to github from my company computer.

[2019-08-15 03:41] nbeuchat commented on #4216
I don't think the choice of using an external CMS or not should penalize you with unnecessary training time. A change in the text or triggers of the template does not change the outcome of the core model training and is therefore unnecessary, don't you think?

[2019-08-15 05:55] #3368 closed

[2019-08-15 05:55] #3070 closed

[2019-08-15 06:00] sara-tagger commented on #4250
Thanks for raising this issue, @dakshvar22 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-15 06:00] sara-tagger commented on #4240
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-15 06:00] sara-tagger commented on #4238
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-08-15 06:00] #4238 closed

[2019-08-15 07:29] #4169 closed

[2019-08-15 08:10] tabergma commented on #4236
Your domain file is incorrect. You had some duplicated actions and a missing utterance. Here the correct file:

[code]

You should will in the text for `utter_redirect_ENT_CareManagement`.

I'll update the code so that the correct error is logged and user see why their domain file is incorrect.

[2019-08-15 08:25] erohmensing commented on #4069
No worries, just wanted to offer the opportunity to contribute. Happy to take it on.

[2019-08-15 09:29] Polarisation commented on #4163
To be clear, I'm not currently planning to work on this. I'm not so familiar with Python development, that's why I'm using the HTTP API 😊

So if someone wants to tackle this, please go ahead!

[2019-08-15 11:15] #4017 closed

[2019-08-15 11:21] erohmensing commented on #4163
Got it. Thanks for the heads up!

[2019-08-15 11:38] wochinge commented on #3924
@arthurTemporim Sounds good. Why an extra `sentinel.config` file? Could you not configure that in the tracker store configuration in `endpoints.yml`?

[2019-08-15 11:45] tabergma opened #4254 "Postgres tracker store breaks formbot"
**Rasa version**: current master branch
**Python version**: 3.6
**Operating system** (windows, osx, ...): MacOS

**Issue**:
Using the example `formbot` with an sqlite tracker store works perfectly fine. However, using a Postgres tracker store breaks the bot. The bot is no longer able to make proper predictions. Events are correctly stored into the tracker store, but somehow the bot cannot predict

[2019-08-15 12:20] #4213 closed

[2019-08-15 12:21] ErikTromp opened #4255 "Allow for wildcard intents"
**Description of Problem**:
I have a use case where in some point in the dialogue flow, I do not care about the intent expressed by a user (nor NER). See: https://forum.rasa.com/t/wildcard-intent-without-form/14039/3.

**Overview of the Solution**:
A solution I am using now is to exhaustively list ALL known intents in my dialogue so it will always continue. This blows up training time and makes ma

[2019-08-15 12:41] #3575 closed

[2019-08-15 12:42] akelad commented on #4093
@MetcalfeTom

[2019-08-15 12:43] #4091 closed

[2019-08-15 12:45] erohmensing commented on #4129
Hi there @pingyuan2016, sorry I seem to have missed this message. Can you post exactly what commands you're running and the full output (not just the error?)

[2019-08-15 12:48] akelad commented on #3879
@gausie any updates?

[2019-08-15 12:57] akelad commented on #4140
@ricwo can this be closed?

[2019-08-15 13:12] msamogh commented on #4120
@TatianaParshina Sorry for the late response, but could you try moving all your bot-related files into a new directory (just the config, endpoints, credentials, domain, stories and nlu data) and launch Rasa X from there? And could you maybe just describe the exact steps to reproduce it from there?

[2019-08-15 13:19] msamogh commented on #4110
Supporting multiple projects again is currently under discussion.

But reading the description of your workflow, it seems like for now, you could just use multiple instances of Rasa to achieve the same result (with a bit of tweaking on your side, of course).

[2019-08-15 13:24] gausie commented on #4132
This is because of an issue we're having rendering slots with entities. We're aware of the issue and working on it.

[2019-08-15 13:29] #4140 closed

[2019-08-15 13:30] saucepleez commented on #4110
@msamogh Thanks for your feedback.  The challenge for us now is regarding how to dynamically spawn more Rasa instances automatically (if we add more projects) as we do not have direct access to controlled environments or ready access to containers.

[2019-08-15 13:30] #4110 closed

[2019-08-15 14:17] wochinge commented on #4151
@kristiankolthoff Which encoding is your file in? Can you please save it as `utf-8`?

[2019-08-15 15:11] Polarisation commented on #4250
See fix in the above pull request. I've tried the fix out with an NLU-only model and it now returns a 200 success response with all the expected fields. The bug was just a case of extra validation where it wasn't wanted.

[2019-08-15 16:03] arthurTemporim commented on #3924
@wochinge After further study, I guess it is not needed, this file is important to run the `sentinel` not for using it. You're right :+1:

[2019-08-15 16:23] Yep-Was-Taken commented on #4236
THANK YOU! I just updated my code, I was near exhausted working on this project I couldn't think well enough to troubleshoot and find the error. The NLU is trained and working as intended thank you!

[2019-08-15 16:24] #4236 closed

[2019-08-15 20:44] jasonkuhrt opened #4260 "Allow nlg to return channel specific utterances"
It is possible to setup [channel-specific utterances in the domain file](https://rasa.com/docs/rasa/core/domains/#channel-specific-utterances). But it is not possible to return channel specific utterances from an NLG server. For example, this error is logged when returning an array of utterances from our NLG server:

[code]

The JSON schema enforced on data being returned from NLG makes clear that

[2019-08-15 21:00] anubhavpnp commented on #1754
Hi @GaoQ1 ..Couple of questions:
1. I only need to use entity extraction feature as my intent classification after integrating with bert is working fine. As I see in you repo, https://github.com/GaoQ1/rasa_nlu_gq/blob/master/rasa_nlu_gao/extractors/bilstm_crf_entity_extractor.py is the file that is doing the entity extraction.
2. Will the above file require whitespace delimited tokens.In that case

[2019-08-15 21:23] rgstephens opened #4261 "Rasa X Install Script"
**Description of Problem**:
The docker install script cannot but run from RASA_HOME. There also seems to be an assumption that you might be running it from the home directory of an existing Rasa bot. Is that right?

In step two of the docker install instructions, the user is told to run install.sh. That script will copy a credentials file to the RASA_HOME/credentials directory. If you're RASA_HOME

[2019-08-16 05:23] vonSchweetz opened #4262 "Adding support for running rasa in a single process"
Follow up on (https://github.com/RasaHQ/rasa/issues/1601)

Hello! We are currently attempting to deploy our chatbot that uses RASA NLU (the latest version 1.2.3) on a VPS machine that does not support multi-processing. The issue and errors are exactly the same as the thread linked above since it is the same project.

Are there any updates on support for allowing running RASA in a single process? W

[2019-08-16 05:29] richie312 opened #4263 "AttributeError: 'NoneType' object has no attribute 'get' in latest RASA Version"
**Rasa version**: rasa_core==0.14.5

**Rasa X version** (if used & relevant):

**Python version**: 3.6.1

**Operating system** (windows, osx, ...): Windows 10

**Issue**:

Does not have the get module in slot class

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of domai

[2019-08-16 05:30] sameerasukh commented on #4241
Thank you for replying @erohmensing , I will post it on the rasa forum.

[2019-08-16 05:39] richie312 commented on #4263
I am following the tutorial on weatherbot. https://jpboost.com/2018/02/06/creating-a-chatbot-with-rasa-nlu-and-rasa-core/

Code: https://github.com/JustinaPetr/Weatherbot_Tutorial/tree/master/Full%20Code

this has train_init.py file and required yaml file.

[2019-08-16 07:33] tmbo commented on #4113
@Ghostvv I couldn't reproduce this locally when I tried to yesterday. I used the master branch and py 3.6

So the only difference is the python version I guess. @JEM-Mosig can you try this on your machine with a python 3.6 please?

[2019-08-16 07:36] tmbo commented on #4153
yes, that was my intention: do not change code but describe how to achieve the result using standard tools like zip or tar

[2019-08-16 07:37] tmbo commented on #720
this is a closed issue. please open new issues with your problem description.

[2019-08-16 07:38] tmbo commented on #453
yes . Ithink that is possible, but the discussion should take place on #4232

[2019-08-16 08:42] akelad commented on #4211
@ismaeelBM i don't think so... although i think i saw a similar issue about this recently, @Ghostvv were you working on that?

[2019-08-16 08:55] akelad commented on #4183
@TatianaParshina sorry about not getting back to you sooner, have you tried with a newer Rasa X version? 0.20.1 for example. There was a bug with loading custom components before. You also need to mount the custom component to your container

[2019-08-16 09:00] akelad commented on #4255
@ErikTromp thanks for the feature request, have you considered using forms for this?

[2019-08-16 09:02] msamogh commented on #4174
Sorry, I didn't realize you were having `action_restart` included by yourself in the domain file. That is not necessary as this is a built-in action. Please remove it and retry.

[2019-08-16 09:11] msamogh opened #4265 "Example request payload in HTTP API is invalid for training a model"
The example API endpoint to train a model (`/model/train`) (https://rasa.com/docs/rasa/api/http-api/#tag/Model/paths/~1model~1train/post) has an invalid request payload.

It fails with the following error:
[code]

[2019-08-16 09:12] akelad commented on #1154
so I think we can do hard tagging of the entities. @ralphg6 any progress so far?

[2019-08-16 09:50] dakshvar22 opened #4266 "Improving integration of open domain utterances"
**Description of Problem**:
Currently open domain utterances like chitchat can be integrated but in a slightly cumbersome manner. Each such open domain utterance needs to be classified under a separate intent and one action needs to be predicted based on a complex OR construct.

For example -

NLU
[code]

Story
[code]

Template
[code]

Can we do away with the complex OR constructs and micro intent

[2019-08-16 09:50] Ghostvv commented on #4113
@tmbo I think it appears on `refactor-tf` branch

[2019-08-16 10:51] dakshvar22 commented on #4266
Some open design questions -

1. Should the name of action corresponding to an open domain utterance type be self-generated based on a template, since it is always of type `utter_` and is tightly coupled to its own response selector? The template could be `utter_<intent>`, for e.g. - `utter_chitchat`,`utter_faq`. We could also do away with the need of developer specifying a mapping between the int

[2019-08-16 11:43] sara-tagger commented on #4263
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-08-16 11:43] sara-tagger commented on #4262
Thanks for submitting this feature request 🚀@dakshvar22 will get back to you about it soon!✨

[2019-08-16 11:43] sara-tagger commented on #4261
Thanks for submitting this feature request 🚀@gausie will get back to you about it soon!✨

[2019-08-16 11:43] sara-tagger commented on #4260
Thanks for submitting this feature request 🚀@tmbo will get back to you about it soon!✨

[2019-08-16 12:26] laxmikantG commented on #3606
I am also facing same issue, but  did not find any solution yet.
@fallik - Did you get any solution?

[2019-08-16 12:28] ErikTromp commented on #4255
Yes I have considered it but correct me if I am wrong here - that would require me to make a unique field for every question I ask to store the response in, right? I would be against that for the same reason of exhaustively specifying all intents I have in my model: it's error-prone and hard to maintain.

[2019-08-16 12:35] fallik commented on #3606
Hi @laxmikantG,
I set up an all new conda env and reinstalled rasa x. Now I am running rasa version 1.1.3 and it works fine.
However, it does not work in Safari. Also have an eye on the fact, that some browsers try to use https.

[2019-08-16 12:39] Ghostvv commented on #4211
I'm not sure, I understand what do you want to do. You can pass several configs to `train` script or a folder with several trained models to `test`. Passing configs to test doesn't make sense

[2019-08-16 12:43] laxmikantG commented on #3606
@fallik -Ok, thank you.
What commands do you use to run the app end to end. For me it runs without `rasa run actions`. but if I use action server it breaks with above error. (obviously for me it does not work for custom actions, so started `run actions` and got in to this issue.)

[2019-08-16 12:46] fallik commented on #3606
I am running `rasa x` and `rasa run actions` (from within my actions dir). Do you get the sanic error from above from the action server?

[2019-08-16 12:50] dakshvar22 commented on #4250
@Polarisation thanks for reporting this and sending a fix. The PR is under review internally. Thanks

[2019-08-16 13:30] laxmikantG commented on #3606
Yes. Facing exactly similar issue.

[2019-08-16 13:31] fallik commented on #3606
I did not get the error running `rasa run actions` but I got it from `rasa x` startup.

[2019-08-16 15:30] wegamekinglc opened #4268 "Using liblinear instead of libsvm when kernal is `linear`"
**Description of Problem**:
Currently no matter which kernal is used,  `SklearnIntentClassifier` will always `SVC` from the `libsvm` . However `LinearSVC` from `liblinear` will scale better to a large number of training samples

[2019-08-16 16:50] ismaeelBM commented on #4211
@Ghostvv, Oh I thought this was there to be able to do quick model comparisons instead of having to train them first and test them.
Also when I was working on an issue, I found that in the rasa/core/cli/test.py file, there is specific lines that checks on whether the argument passed is a directory or not, in order to handle them #

From rasa/core/cli/test.py (lines 101 - 107):
[code]

Which is why

[2019-08-16 16:50] #4211 closed

[2019-08-17 02:41] saideep-g opened #4270 "Rasa ignoring the username and password provided in endpoints.yml for MySQL"
**Rasa version**:
version": "1.2.2
**Rasa X version** (if used & relevant):
NA
**Python version**:
python 3.6 (using the docker image: rasa/rasa:latest)

**Operating system** (windows, osx, ...):
Docker image: rasa/rasa:latest
host: windows 10

**Issue**:
When connecting to the MySQL tracker store, the user name and password provided in endpoints.yml is not used.

**Error (including full traceback

[2019-08-17 11:39] nischal-sanil commented on #4236
hello @tabergma

I am facing a similar issue and I was curious about how you found the error. Did you manually check all the lines or was there a simpler way?
(Very difficult to debug when there is a lot of intents and actions, loved to know is there are any tips for it.)

[2019-08-17 15:25] RanaMostafaAbdElMohsen commented on #4119
Thanks @erohmensing. I am investigating the issue and will let you know if there any updates.
Many Thanks

[2019-08-17 17:55] RanaMostafaAbdElMohsen commented on #4119
Hello @erohmensing ,

I believe the issue is that when `RegexInterpreter` parse entities, the entities must be checked that it is defined in the **domain**. I believe we need to load domain to check on entities in `extract_intent_and_entities` function in `interpreter.py` .

 Am I on the right track?

[2019-08-17 20:57] Dark-Coder-018 commented on #2703
first you should run python script  in which you have specified the slack Access token and port number of ngrok for eg: 5004,
and try to add Request URL in Event Subscription on slack.
then you won't get "502 Bad Gateway"

[2019-08-18 08:08] PanderBoy18 opened #4272 "Starting a custom action server"
How can I start my custom actions server?

My actions.py file is in /home/me/chatbot/actions.py
But when I run: `rasa run --actions /home/me/chatbot/actions.py` it says:

What am I doing wrong?

[2019-08-18 08:42] dsmackie commented on #4272
`rasa run actions`

[2019-08-18 08:49] PanderBoy18 commented on #4272
That gives me this error:

[2019-08-18 08:51] dsmackie commented on #4272
Where are you running the `rasa run actions` command from?

Can you verify that you are in the `/home/me/chatbot/` folder.

[2019-08-18 13:31] whiteyhat commented on #4204
No Idea why is this happening, but I got the same issue..

[2019-08-18 18:48] PanderBoy18 opened #4273 "How to start interactive training?"
Hi all, I have a problem. I want to run an interactive training with my model. So I use these lines:
`rasa run actions`
and:
`rasa interactive -m models/chatbot.tar.gz --endpoints endpoints.yml`

But that gave me this error

So I started a server with this command:
`rasa run -m models/chatbot.tar.gz --enable-api`

Then I tried to run this command again:
`rasa interactive -m models/chatbot.tar.gz -

[2019-08-18 19:47] #4193 closed

[2019-08-18 22:32] #4273 closed

[2019-08-18 22:33] PanderBoy18 commented on #4272
Thank you, I thought by giving the full path rasa had enough data... Didn't use cd /home/me/chatbot

[2019-08-18 22:33] #4272 closed

[2019-08-18 22:44] PanderBoy18 opened #4274 "Custom actions won't run"
Hi there, I have a problem.
I am running my interactive training using these 2 commands:
`rasa run actions`
and
`rasa interactive`

But when it wants to do an action from the actions.py file it gives this error:

Here is my actions.py:
[code]

And here is my domain.yml:
[code]

What am I doing wrong?

[2019-08-19 02:34] hungph-dev-ict opened #4275 "Rasa X HTTP API Payload Schema is invalid"
**Rasa version**:
1.2.3
**Rasa X version** (if used & relevant):
0.20.1
**Python version**:
3.7
**Operating system** (windows, osx, ...):
Ubuntu
**Issue**:
Error on call API /api/chat on port 5002 with Rasa X.
The payload schema is invalid.Please check the API specification.
With previous version, I don't got this error. Call chat API successful and return response text.
![image](https://user-imag

[2019-08-19 06:00] sara-tagger commented on #4275
Thanks for the issue, @Saladdin will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗