[2020-11-10 19:50] prathameshThakur commented on #7237
Hey,
I would like to contribute to fixing these issues!
Can I get assigned for this?

[2020-11-10 23:00] aleronupe commented on #7022
@wochinge We tried to develop a solution where we wouldn't have to retrieve the tracker twice from the database but, as each server endpoint uses a different processor function, we had to retrieve the tracker at the decorator in a more generic way.

[2020-11-10 23:56] melindaloubser1 commented on #7197
Is your git repository still functionally connected when you see this message, or does it get disconnected every time?

[2020-11-11 00:30] Henrike100 commented on #6927
@petasis are you still getting the same error?

I analyzed this function: https://github.com/RasaHQ/rasa/blob/d610aecdf9a6cbda3700b994b8c9bc6466c0ffb3/rasa/shared/core/domain.py#L147 and found nothing that could cause the error.

Could the problem be the python version?

[2020-11-11 02:03] silvasara commented on #5657
I am interested in working on this issue, is it still valid?

[2020-11-11 04:13] mghadam commented on #7197
It is fully functional, i.e. it restored all my data when I connected Rasa X to git using `curl --request POST --url  "https://MYDOMAIN/api/projects/default/git_repositories?api_token=AUTHKEY" --header 'content-type: application/json' --data-binary @repository.json` and it publishes changes to git whenever I click on `Apply Changes to Git Server` button:

![image](https://user-images.githubusercon

[2020-11-11 07:00] sara-tagger commented on #7237
Thanks for raising this issue, @melindaloubser1 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-11-11 07:00] sara-tagger commented on #7228
Thanks for submitting this feature request 🚀 @Ghostvv will get back to you about it soon! ✨

[2020-11-11 07:16] tabergma commented on #5657
@silvasara I think it is. Feel free to pick it up 🚀

[2020-11-11 07:44] kiranbeethoju commented on #5658
it is still an existing issue, action_restart is not working

[2020-11-11 09:13] wochinge commented on #6670
@Ghostvv I guess bot utterances have the highest priority as a next step?

[2020-11-11 09:22] wochinge commented on #2811
@MarthaDs There is currently nobody working on it so it would be a great help if you could support us 🎉  One thing: I think it would be great if we could do this in small iterations, e.g. one PR per module split. This makes it easier to review and to give feedback on the changes.

[2020-11-11 09:29] Ghostvv commented on #6670
yes, then, we can actually run e2e bots

[2020-11-11 09:30] mprazz commented on #7224
I'm available if you need any help anyway 😊

[2020-11-11 10:15] tmbo commented on #5658
hey, is there any reason for `action_restart` to be in your actions list? (it might be causing this)

[2020-11-11 10:16] tmbo commented on #5658
oh, just saw that you are not the issue author. @kiranbeethoju do you mind sharing your configuration & domain?

[2020-11-11 10:53] wochinge commented on #4545
Are you using any custom components classes which you're loading by module path?

[2020-11-11 10:55] wochinge commented on #4545
I think it would best create a new GitHub issue as this seems to be a different issue @nareshmungpara @najimali

[2020-11-11 11:16] najimali commented on #4545
Now i am not getting this problem,
I deleted my %temp% folder & started from the scratch,

Running fine in python 3.6.8 & rasa 2.0 & using freshly create virtual environment.

[2020-11-11 12:37] degiz commented on #6734
@wochinge Opened a PR for that!

[2020-11-11 13:27] kiranbeethoju commented on #5658
### Config.yml data

`language: en
pipeline:
- name: "WhitespaceTokenizer"
  intent_tokenization_flag: True
  intent_split_symbol: "_"
- name: "RegexFeaturizer"
- name: "CountVectorsFeaturizer"
- name: "DIETClassifier"
  epochs: 10
- name: "EntitySynonymMapper"
policies:
- name: MemoizationPolicy
  max_history: 3
- name: FormPolicy
- name: KerasPolicy
  epochs: 100
- name: MappingPolicy
- name: "F

[2020-11-11 13:30] tmbo commented on #5658
is there a reason `action_restart` is part of your actions list, did you customize it? would you mind removing it and checking if you are still experiencing the issue (just to check if it is related to it)

[2020-11-11 13:32] kiranbeethoju commented on #5658
If I remove action_restart from the domain.yml also I observed an error as action_restart is now found in actions.py! should I add something in actions.py file related to action_restart ?, let me check now and come back here :)

[2020-11-11 13:38] wesleyhutchinson commented on #7124
current work-around for Rasa >2.0 install:
'''
regex = "==2020.9.27"
sanic = "<19.12.3"
scikit-learn ="<0.24.0"
rasa = "*"
'''
in pipfile.

[2020-11-11 13:45] wochinge commented on #7063
@degiz @kalkbrennerei Could it be that the issue is that [this](https://github.com/RasaHQ/rasa/blob/aec8e57425dae174c401f2add3f7dd428f6c5977/rasa/server.py#L1150) stores the file as `.md` while we send a `json`?

[2020-11-11 14:02] degiz commented on #7032
@samsucik Doesn't seem I can reproduce that anymore 🤔

[2020-11-11 14:21] degiz commented on #7032
@samsucik So from what I can see:
- We've fixed the problem with YAML, and it doesn't split the retrieval intent
- There's still a problem with MD stories and this empty line

We've agreed not to fix non-critical bugs for the `MD` format (let's not forget that we've switched from `MD` to `YAML` also because of difficulties with regexes), also the `retrieval intents` were an experimental feature in

[2020-11-11 14:29] #6865 closed

[2020-11-11 14:43] samsucik commented on #7032
@degiz I agree that having it fixed for YAML is the most important bit. For MD, though, we say in the 2.0.0 changelog:

which I read as "we currently support both". And since retrieval intents are no longer an experimental feature, not being able to use MD test stories with such intents might be close to critical? It's just my personal opinion though; and I know quite little about the decisions ta

[2020-11-11 15:09] nbeuchat opened #7244 "Invalid rule when training when setting a slot of type float"
**Rasa version**: 2.0.3

**Python version**: 3.7.9

**Operating system**: Ubuntu 18.04

**Issue**:
I have two rules which start with the same action but have different behaviors depending on the value of the slot that has been set. The slot (`matches_found`) is of type `float` with a min of 0 and a max of 1. The rules fail to be validated with the following error (full error below): `the action 'a

[2020-11-11 15:25] degiz commented on #7032
You are right, it's a wrong phrasing. `MD` is in legacy mode, we're vocal that we don't add features/fix non-critical bugs for it and encourage users to convert their existing projects to the `YAML`.

[2020-11-11 15:30] degiz commented on #7032
@m-vdb what's your opinion on that?

[2020-11-11 15:32] samsucik commented on #7032
Right, if you say it like this, then it makes complete sense to me to not fix this :-) Since test stories with retrieval intents previously didn't work for any format, it's unlikely that users will now have MD stories with retrieval intents that they'd like to convert to YAML.

[2020-11-11 15:50] m-vdb commented on #7032
I agree with your recommendation @degiz 👍 I'd move this to "wont't fix"

[2020-11-11 16:39] #6734 closed

[2020-11-11 16:41] #7032 closed

[2020-11-11 19:14] MarthaDs commented on #2811
Alright :)

[2020-11-11 19:15] MarthaDs commented on #2811
Alright :)

[2020-11-11 19:28] pbuszka opened #7248 "Api call at /conversation/{conv-id}/tracker fails when custom action_session_start generates some messages"
**Rasa version**: 2.0.6

**Rasa SDK version** (if used & relevant): not used

**Rasa X version** (if used & relevant): not used

**Python version**: 3.6

**Operating system** (windows, osx, ...): linux (ubuntu 18.04)

**Issue**: failed call for conversations/

 {conv-id}

/tracker endpoint ([http://localhost:5005/conversations/test/tracker](http://localhost:5005/conversations/test/tracker)) happen

[2020-11-11 19:58] martinbe1io commented on #7109
hi @amn41

to ensure that my training files have no further problems I used the sample from your docu here https://rasa.com/docs/rasa/pages/http-api#operation/trainModel

created a json file
[code]

sent to the server
[code]

same error as in my example after fixing the error in the documentation (version idenitifier missing in domain.yml)
log output in container is pretty the same as in my exampl

[2020-11-11 23:56] davidhsv commented on #7244
Same problem with type text

[2020-11-12 06:42] kiranbeethoju commented on #5658
`2020-11-12 12:11:53 ERROR    rasa_sdk.endpoint  - No registered action found for name 'action_restart'.
`

[2020-11-12 07:00] sara-tagger commented on #7248
Thanks for the issue, @tabergma will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-12 07:00] sara-tagger commented on #7244
Thanks for the issue, @koernerfelicia will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-12 08:46] koaning opened #7250 "Add __repr__ to Token object"
When I'm debugging what is happening in a pipeline I usually have a look and print the `Message`.

It might look something like;

<pre>> message.as_dict_nlu()
 {'entities': [],
 'intent':

 {'confidence': 0.8422146439552307, 'id': 5464168520135895892, 'name': 'are_you_real'}

,
 'intent_ranking': [

 {'confidence': 0.8422146439552307, 'id': 5464168520135895892, 'name': 'are_you_real'}

,

 {'confi

[2020-11-12 08:58] koaning commented on #7250
I might want to do something similar to `rasa.shared.nlu.training_data.features.Features`. It might make sense to share the information on the shape of the underlying numpy arrays.

![image](https://user-images.githubusercontent.com/1019791/98918176-97e20600-24cd-11eb-9cb9-e8c391cf5565.png)

[2020-11-12 09:25] Devocado opened #7251 "Two-stage fallback always asks "Did you mean 'nlu_fallback'?" instead of the highest confidence user-defined intent"
**Rasa version**: 2.0.0 — 2.0.3

**Python version**: 3.8.2

**Operating system**: Ubuntu 20.04

**Issue**: Two-stage fallback always asks "Did you mean 'nlu_fallback'?" instead of the highest confidence user-defined intent

[2020-11-12 10:05] govertbuijs opened #7252 "Allow 'host' definition"
**Description of Problem**: In the default setup, Rasa (both server and actions) uses to 0.0.0.0 as host. It would be better to let this be user-defined, akin to the 'port' argument. The underlying Sanic server already accepts this, its just that Rasa always passes '0.0.0.0'.

This is needed because in our setup, the server and actions are only accessed from localhost. Port scanning software from

[2020-11-12 10:49] tabergma commented on #7250
Good idea 💯

[2020-11-12 10:49] degiz opened #7253 "Rule with `slot_was_set` doesn't work as expected"
**Rasa version**: 2.0.6

**Issue**:

`slot_was_set` condition doesn't work with a Rule below:
[code]

**Expected behavior**: Rule is applied when the `some_text_slot` was set to a not-null value.

**Actual behavior**: Rule is applied when the slot is not filled.

[2020-11-12 11:37] faisalbashir383 commented on #4545
@najimali can you please tell me how can I do this

[2020-11-12 11:42] faisalbashir383 commented on #4545
rasa2.0.2 how can i integrate telegram

(rasaenv) C:\Users\HCL\PycharmProjects\rasa>rasa run
Traceback (most recent call last):
  File "C:\Users\HCL\AppData\Local\Programs\Python\Python37\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\HCL\AppData\Local\Programs\Python\Python37\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Us

[2020-11-12 12:09] davidhsv commented on #7253
Ideas for testing this issue:

**Test1:**
[code]
**Test2:**
[code]

[2020-11-12 12:12] tmbo opened #7254 "Revisit channel pages & authentication"
**Description of Problem**: Some of the current channel documentation pages are hard to follow and setting them up isn't exactly easy:

In addition to that, we should verify we are using security best practices for all of these channels, e.g. validating signatures to ensure the caller is who we expect they are (or e.g. using random webhook URLs as suggested by Telegram).

**Examples** (if relevant

[2020-11-12 12:14] tmbo opened #7255 "Automatic ngrok (or similar service) setup for local channel testing"
**Description of Problem**: It is an additional step to setup ngrok locally to test channels. Furthermore, one needs to remind ngrok needs to be started for the channel to work. In addition to that, ngrok URLs change for non-paying users making testing with channels quite annoying (one needs to update the webhook on ngrok restart).

**Overview of the Solution**: Provide an out of the box tunnel so

[2020-11-12 12:16] #3412 closed

[2020-11-12 12:18] tmbo opened #7256 "Slack commands get in the way of Rasa / commands"
It is not directly possible to use Rasa Open Source intents directly using `/`, .eg. `/restart`. Slack will try to interpreter these as slack commands, not passing them to the bot.

We should find a way to make this work.

[2020-11-12 12:18] najimali commented on #4545
I have not done it yet, you can refer Youtube channel - **innovate yourself**

this problem is occuring because of some logic error in your domain or stories file.

[2020-11-12 12:18] amn41 opened #7257 "Make confidence histograms easier to read"
**Description of Problem**:

`rasa test` currently produces a histogram of confidence values for both correct and incorrect predictions.

![image](https://user-images.githubusercontent.com/5114084/98939168-eea50b00-24e0-11eb-9cb3-6e66236bf837.png)

IMO something like this would be easier to read, e.g.:

<img width="394" alt="image" src="https://user-images.githubusercontent.com/5114084/98939257-0d

[2020-11-12 12:20] faisalbashir383 commented on #4545
@najimali which video bro there are lot of videos

[2020-11-12 12:21] tmbo opened #7258 "Exceptions for failed action executions in rasa sdk lead to stacktrace in rasa open source"
If an action fails to execute in the sdk (`rasa run sdk`)because an exception gets raised, this leads to a confusing output and stacktrace in the rasa open source server (`rasa run`).

e.g.

 2020-11-09 22:21:32 ERROR rasa.core.processor - Encountered an exception while running action 'action_create_contact'.Bot will continue, but the actions events are lost. Please check the logs of your action s

[2020-11-12 12:24] tmbo opened #7259 "Warn if the domain is out of sync with the latest trained model"
**Description of Problem**: If you make a change to the domain, that is a setting change, e.g. adding `action_session_start` to the list of actions (to customize it as a custom action in the sdk), it is very easy to miss retraining the model. Otherwise, this change will not take effect and the user is left wondering why his change is not working.

**Overview of the Solution**: alert the user if th

[2020-11-12 12:26] tmbo opened #7260 ""Loading model" is logged twice on rasa run"
When starting a rasa server using `rasa run`, the first few lines of the server read
[code]
The "loading model" message shouldn't be there multiple times. Either the message is duplicated, or even worse, the model actually does get loaded twice.

[2020-11-12 12:28] tmbo opened #7261 "Add documentation on how to deploy an action server"
Currently, there is no documentation explaining how to deploy an action server using docker. The only documentation we have focuses on `rasa run actions`.

[2020-11-12 12:42] tabergma commented on #7120
One observation:

During `rasa train` the first thing that happens is
[code]
This ends up checking if the files match the expected format. E.g. it reads
the actual file content to then checks if the given content matches one of the
valid Rasa formats.
The problem: The function `guess_format` reads the content of a file multiple times in case
it is yaml. This takes forever!

[2020-11-12 12:50] tabergma commented on #7120
I used the library [guppy](https://github.com/zhuyifei1999/guppy3/) to print out the memory consumption at different points in the code.

Observations from doing `rasa train` with the Advising dataset:
After reading the domain and the config file ~400 MB are used.
After loading all the training data ~ xxx MB are used.

[2020-11-12 12:57] tabergma commented on #7120
File sizes of `train.yml` file of the different large datasets:
Advising - 16 MB
Ubuntu - xx MB
MultiWOZ - 15 MB

[2020-11-12 13:00] sara-tagger commented on #7251
Thanks for raising this issue, @degiz will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-11-12 13:00] sara-tagger commented on #7252
Thanks for submitting this feature request 🚀 @Ghostvv will get back to you about it soon! ✨

[2020-11-12 13:23] melindaloubser1 commented on #7197
If you had to make that post request for it to restore your data, then it means it isn't remaining connected to git, you're having to re-connect it each time. When is this happening? Is it after you do a `docker-compose down && docker-compose up -d` or is it happening each time you log in to Rasa X?

[2020-11-12 13:31] mghadam commented on #7197
Sorry I didn't explain it well. I used the curl command to connect my Rasa X to GIT only one time, just after installing Rasa X for the first time on my server.

It happens each time I refresh the page, not only after login to Rasa X, but also on each page refresh.

My Rasa X is connected to GIT and it works pretty well, I don't need to reconnect it, it is connected and I can publish changes to th

[2020-11-12 13:52] nbeuchat commented on #7253
Maybe related to this issue that I was facing with rules validation for `float` slots? https://github.com/RasaHQ/rasa/issues/7244

[2020-11-12 13:54] nbeuchat commented on #7253
By the way, I don't think your rules are expected to work for a `text` slot. A `text` slot value does not matter, it only matters if the text is filled or not. If the value should matter (see: https://rasa.com/docs/rasa/domain#slot-types). You should use a categorical slot for that: https://rasa.com/docs/rasa/domain#categorical-slot

[2020-11-12 13:57] #7122 closed

[2020-11-12 14:25] davidhsv commented on #7244
Did you tried to set the matched_found to influence_conversation: true ?

The default value is false, and without this attribute the code below will return the same value '[]' for the 2 values (0 and 1):

[code]

[2020-11-12 14:26] davidhsv commented on #7253
@nbeuchat I don't agree. I think you should be able to make a rule with a condition for a specific string. That why the rules exists, to make a very specific **programmatic** rule before any NLP policy.

I'm making a pull request with a suggestion of solution for this case. It is basically assigning a float hash [0,1] for the text.

I think categorical slots is when you want a one hot encoding fea

[2020-11-12 14:34] nbeuchat commented on #7244
@davidhsv I hadn't but by default, the `influence_conversation` is `true` for all slots type except `any`

I just tried in any case and I still have the same issue.

Did that work for you in the end for your `text` type?

[2020-11-12 14:42] davidhsv commented on #7244
Yes, it's working :)

I can now differentiate between slot: null, slot: 'text1' and slot: 'text2'.

But I still can't differentiate - slot_was_set -slot_name (without any value)

And yeah, you are right the default is true for influence_conversation, sorry.

Going to debug your problem now.

[2020-11-12 14:48] nbeuchat commented on #7253
@davidhsv It depends a bit on the use case, I feel both are valid.

For example, the example they have in the documentation with the name being set or not. How would you differentiate a `text` slot which should influence predictions/rules for different values and one for which it shouldn't? My feeling is that the slots should behave in the rules in the same way they behave in normal stories.

What

[2020-11-12 14:51] nbeuchat commented on #7244
Great! Did you change something specific to make it work?

I'm wondering if the problem is not somewhere else for me. I have a similar error for a boolean slot with a single rule setting that slot.

The following rule is the only rule (and story) that uses `action_submit_form_preferences`.
[code]

It then gives me the following error:
[code]

and my config for this slot:
[code]

Thanks for your he

[2020-11-12 14:52] koernerfelicia commented on #7244
@nbeuchat I suspect that this is a bug, and not related to #7253.
What happens if you set matches_found to some non-zero value like so:
[code]
?

[2020-11-12 14:57] nbeuchat commented on #7244
@koernerfelicia I tried setting the slots to `0.01` and `1.3` (instead of `0` and `1`) and I still get the same error. I also tried to upgrade to version 2.0.5 but I still have the same errors.

[2020-11-12 14:58] davidhsv commented on #7244
I changed the slots.py in the rasa library (not optimal at all hahahahah).

I'm making the pull request with the related tests for that issue.

[2020-11-12 14:59] nbeuchat commented on #7244
Eheheh I see! I'll wait for the merge if that works :-)

[2020-11-12 15:02] koernerfelicia commented on #7244
@nbeuchat that's odd, I was able to reproduce your original error, and it goes away when I set the first slot to `0.01`. @davidhsv can you summarize your approach?

[2020-11-12 15:03] #7159 closed

[2020-11-12 15:04] davidhsv commented on #7244
The approach is for the problem here https://github.com/RasaHQ/rasa/issues/7253#issuecomment-726110835

I think this one is a different issue. I'm reproducing it too, trying to debug to learn the cause...

[2020-11-12 15:07] davidhsv commented on #7244
@nbeuchat
I was able to workaround that issue with this rule:

[code]

[2020-11-12 15:07] melindaloubser1 commented on #7237
Hey  @prathameshThakur thanks for pointing this out! You're right, it should be `action_two_stage_fallback`. Feel free to open a PR to fix it and tag me in it.

[2020-11-12 15:08] davidhsv commented on #7244
But I'm still confused about the semantics of this condition in the rules file...

[2020-11-12 15:12] davidhsv commented on #7253
@nbeuchat That is a nice idea. By the actual docs I got that slot_was_set: null = slot is not set, and slot_was_set without value = slot is set. I asked this question on the live yesterday and they confirmed that this is the desired behavior.

But is, ultimately it's very confusing and buggy.

[2020-11-12 16:07] wochinge commented on #6971
Next steps based on the call with @dakshvar22 @joejuzl
1. Create engineering issues from this (should be around 2-3 issues 🤔 )
2. Get started with the engineering issues in the week of November 23rd

Other things to keep in mind:
* Can we branch off `master` or does it make more sense to branch off the `e2e` branch?

[2020-11-12 16:46] tabergma commented on #6836
According to my test runs in https://github.com/RasaHQ/rasa/issues/7120, we should be at least able to load the Advising and the MultiWOZ training dataset into memory and perform tokenization. As the Ubuntu corpus is not yet converted we cannot make any statement on this kind of dataset.

Things we would need to do:
- [ ] Create a new interface for the NLU components, e.g. `prepare_training`, `tra

[2020-11-12 16:46] nbeuchat opened #7265 "Rules without conditions are ignored when featurized slot is set in the conversation"
**Rasa version**: 2.0.5

**Rasa SDK version**: 2.0.0

**Python version**: 3.7.9

**Operating system**: Ubuntu

**Issue**:
When a featurized slot is set within a conversation and some rules have a condition to check for this slot (in this case, the boolean slot `preferences_filled`), rules that do not have a condition to check for this slot are not executed.

To illustrate this, I have a simple rul

[2020-11-12 16:55] nbeuchat commented on #7244
Thanks @davidhsv, I wanted to try that but got stuck on another issue. Hopefully I can get to it a bit later

In any case, I agree that the syntax is strange (or at least, hard to read). The `action_search` itself sets the slots so it is hard to reason about the condition being the slot that the action within the rule is actually setting.

[2020-11-12 18:06] gmeisinger commented on #2854
@NavdhaJindal did you import SlotSet?

[code]

[2020-11-12 18:41] prathameshThakur commented on #7237
Hey @melindaloubser1, I have made a pull request.
Can you please review it!

[2020-11-12 19:09] erohmensing commented on #7201
Hi @Dinesh-gowdam-2610 , this sounds like a question around implementation, not a bug. Please reach out on our [forum](forum.rasa.com) for implementation help, and if you think there is a bug, please fill out the template with information to reproduce the behavior. Thanks!

[2020-11-12 19:09] #7201 closed

[2020-11-12 19:11] erohmensing commented on #7207
Hi @colinsongf, could you please provide a full traceback and information about what you were trying to accomplish when you hit this error?

[2020-11-12 20:02] patricebechard commented on #6307
Hi @dakshvar22,

We were interested in looking into french models (FlauBERT, CamemBERT) for our project. Pretrained weights for these models are not available through the normal `BertModel` provided by HuggingFace, which was the main blocker on our side. We did some experimentation with the multilingual models, but they tend not to perform really well compared to french-only models. Instead of ena

[2020-11-12 21:09] melindaloubser1 commented on #7189
Hey @solyarisoftware , based on this and your comments on other issues, it sounds like you have a lot of specific things in mind that could make the docs on the API's clearer. Since a docs rework is quite broad and hard to define (what would qualify as "done"? e.g. there was a rework for Rasa 2.0, but this didn't address all the enhancements you're suggesting), can I ask that you rather open issue

[2020-11-12 21:24] dakshvar22 commented on #6307
Thanks for the info @patricebechard . Are you looking at them for intent classification and entity recognition or some other tasks?
We recently changed the default model weights that `HFTransformersNLP` uses. We now use a [language agnostic model](https://tfhub.dev/google/LaBSE/1) which gives much better sentence representations. This change will be part of the upcoming 2.1 release. I'll encourage

[2020-11-12 22:33] rgstephens commented on #7194
You can workaround this issue with double curly braces:

[code]

[2020-11-13 03:45] chupachupbum commented on #5425
I tried your method: I deleted db-volume and db container but it didn't help. Is there any extra steps? Or maybe can you explain with more details so I can see what did I do wrong?

[2020-11-13 07:00] sara-tagger commented on #7265
Thanks for raising this issue, @tttthomasssss will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-11-13 08:29] tabergma opened #7270 "Create a new interface for components to be able to train in chunks"
related to https://github.com/RasaHQ/rasa/issues/6836

In order to do partial dataset loading we need to implement a new interface for the NLU components. The following methods/classes need to be added:

- The method `prepare_partial_training(training_data: TrainingData)` needs to be added to the component. This method should be used to "initialize" the components. E.g. the `CountVectorsFeaturizer

[2020-11-13 08:58] tabergma opened #7271 "Pass domain as optional argument when creating a component"
related to #6836

For partial dataset loading it would be beneficial to have the domain file next to the config file when creating the NLU components. The components don't have to rely on the intents/entities listed in the training data itself, but can take the information directly from the domain instead. This ensures that we have just one source of "true" intents and entities.

To not break the

[2020-11-13 09:52] nbeuchat commented on #7265
The only way I managed to make it work is to add two rules such that both conditions `preferences_filled: false` and `preferences_filled: true` are covered:

[code]

Obviously, that will not work as I have a few slots that I will use in the conditions so I cannot make all combinations to ensure a rule is applied. My expectation is that if a slot is not in a condition, the rule is applied whatever

[2020-11-13 10:14] tabergma opened #7272 "Loading training data takes too long"
related to #6836

During `rasa train` the first thing that happens is
[code]
This ends up checking if the files match the expected format. E.g. it reads the actual file content to then checks if the given content matches one of the valid Rasa formats.
The problem: The function `guess_format` reads the content of a file multiple times in case it is yaml. This can take up quite some time if the data

[2020-11-13 10:22] tabergma opened #7273 "Divide TrainingData into smaller chunks"
related to #6836

In order to do partial dataset training, we need to divide the provided training data into smaller chunks. We need to make sure that one featurized chunk fits into memory.

Idea: One chunk should have a fixed size, e.g. 1 MB. This value should be configurable. Add a method to `TrainingData`, called `divide_into_chunks(size_in_mb: int)` that returns a list of `TrainingDataChunks`.

[2020-11-13 10:30] tabergma opened #7274 "Implement prepare_partial_training on NLU components"
related to #6836

Before the NLU components can be trained in chunks some of them need to be prepared. Each component should extract all information from the `TrainingData` needed inside the `prepare_partial_training` method, so that it can be used for partial training later on.

For example:
- `CountVectorsFeaturizer` needs to build up a vocabulary from the complete training data. The training da

[2020-11-13 11:55] dakshvar22 commented on #6649
@TyDunn Did we decide something on this yet?

[2020-11-13 12:01] TyDunn commented on #6649
@dakshvar22 We did not. Let's put it into production inbox / 2.2 to start the discussion again

[2020-11-13 13:49] wochinge commented on #5425
@chupachupbum Can you please create a new issue or ask in the [forum](https://forum.rasa.com)?

[2020-11-13 14:00] akelad opened #7275 "Change DucklingEntityExtractor to use async"
**Description of Problem**: DucklingEntityExtractor still uses the requests package, instead of asyncio. This means that part of the NLU pipeline might slow things down a bit, especially when dealing with a lot of requests.

**Overview of the Solution**: We should switch it to asyncio instead, @wochinge said that that would mean a change to the `Component` interface as well.

[2020-11-13 14:07] robynbitner commented on #5878
Any updates?

[2020-11-13 14:45] wochinge commented on #7275
@tabergma Any thoughts about this? I stumbled across multiple interfaces recently which are currently not `async` but might be worth adapting.

[2020-11-13 14:57] nbeuchat commented on #7244
@davidhsv I tried your approach of having the `slot_was_set` in the `condition` and it works well!

Here is the updated rule I tried:
[code]

Note that the `preferences_filled` is here because of [another bug](https://github.com/RasaHQ/rasa/issues/7265) (at least I have the impression it's a bug).

@koernerfelicia Thanks for opening up a fix! I'm a bit confused as to why it should fix the problem.

[2020-11-13 15:01] tabergma commented on #7275
@wochinge Why would we need to change the interface of `Component`?

[2020-11-13 15:13] davidhsv commented on #7244
Nice to hear it worked! 😁

I tested disabling the conflict check and it worked too.

Em sex, 13 de nov de 2020 11:58, Nicolas Beuchat <notifications@github.com>
escreveu:

[2020-11-13 15:14] wochinge commented on #7275
Currently `DucklingEntityExtractor` uses `requests` to send requests (see [here](https://github.com/RasaHQ/rasa/blob/34ee64572af4ba89e764cde46911242292addab8/rasa/nlu/extractors/duckling_entity_extractor.py#L132)). To make use of the event loop and `asyncio` we'd replace this with `aio-http`. This would mean that `def _duckling_parse` would become `async def _duckling_parse`. This in turn would ma

[2020-11-13 15:38] #5974 closed

[2020-11-13 15:39] tabergma opened #7276 "Implement 'persist_chunk' in TrainingDataChunk"
related to #6836

In order to do partial dataset training we need to write down the featurized chunks. Implement the method `persist_chunk` in `TrainingDataChunk`. The method should write all examples, e.g. labels and features, of the chunk to a [TFRecord](https://www.tensorflow.org/tutorials/load_data/tfrecord#writing_a_tfrecord_file) file. You need to convert each `Message` to a [tf.train.Exampl

[2020-11-13 15:48] wochinge commented on #7218
@JEM-Mosig Do I understand it right that you expected that you can use `rasa train nlu` first, then `rasa train core` and that this is the same as doing `rasa train`?

[2020-11-13 15:49] tabergma opened #7277 "Implement `train_chunk` for all nlu featurizers"
related to #6836

For partial dataset loading we want to featurize only a part of the data at a time. Implement the method `train_chunk` for all featurizers. The method will get a `TrainingDataChunk` that contains a list of messages, a subset of all training data.

Most likely you can just call the normal `train` method for the given examples.

**Note**: This feature should branch off from `partia

[2020-11-13 15:55] wochinge commented on #7129
@Ghostvv Somebody mentioned that training on `e2e` is currently broken - does that block implementing a solution or can we move forward with it?

[2020-11-13 16:04] tabergma commented on #7275
As long as we make sure that the order of the components processing the messages is the same and that we actually wait for one component to finish before the next one can start processing, we should be fine.

[2020-11-13 16:05] wochinge commented on #6482
Closing this as we now have one config for all OSes which doesn't user convert.

[2020-11-13 16:05] #6482 closed

[2020-11-13 16:59] koernerfelicia commented on #7244
@nbeuchat I'm afraid the PR only addresses part of your problem..

I was only able to reproduce part of your error:
`the action 'action_search' in rule 'Search without results' does not set all the slots, that it sets in other rules: 'matches_found'.`

This was caused because you have two paths, one in which `action_search` sets the slot to `1`. However, the validation fails to see that `action_se

[2020-11-13 17:14] #7237 closed

[2020-11-13 21:26] dakshvar22 commented on #6971
I ran some initial experiments using the working version on this [branch](https://github.com/RasaHQ/rasa/tree/incremental_training) -

**Setup**

Data: Financial Bot [NLU data](https://github.com/RasaHQ/financial-demo/blob/rasa-2-0/data/nlu/nlu.yml) split into 80:20 train test split. The train split is further divided into 2 sets - split 80:20. The first set is used for training an initial model f

[2020-11-14 00:34] github-actions[bot] opened #7281 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-11-14 04:17] saikiran2603 commented on #301
@mbslet Are you working on this change ? or is it okay if i pick it up ?

[2020-11-14 06:30] najimali commented on #5666
@tabergma I had the same issue, Thank you for helpng!!

[2020-11-14 10:04] #7211 closed

[2020-11-14 10:43] nmelche commented on #3389
This problem still exists and is very uninituitv. Every endpoint can be configured in the endpoints.yml except the duckling part. Makes the automate deployment e.g. via helm very messy.

[2020-11-14 11:12] wj-Mcat commented on #7277
This is not been linked with any pull request, can I have a try to implement it?

[2020-11-15 00:37] github-actions[bot] opened #7282 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-11-15 21:15] dakshvar22 commented on #6971
Experiments on Sara data -

Size of Set 1: 3166
Size of Set 2: 792
Size of held-out test set: 990

Results:

**Initial Model**|**Training data**|**Number of epochs**|**Intent F1**|**Entity F1**|**Response F1**|**Time for training**
:-----:|:-----:|:-----:|:-----:|:-----:|:-----:|:-----:
Randomly initialized| Set 1| 40| 0.789| 0.832| 0.927| 4m 10s
Model trained on set 1| Set 1 + Set 2| 10| 0.823| 0

[2020-11-16 02:25] colinsongf commented on #7207
2020-11-16 10:04:19 ERROR    rasax.community.services.event_consumers.event_consumer  - 'str' object has no attribute 'update'
2020-11-16 10:04:24 WARNING  rasax.community.telemetry  - An error occured when trying to send the telemetry event: HTTPSConnectionPool(host='api.segment.io', port=443): Read timed out. (read timeout=2)
2020-11-16 10:04:31 ERROR    rasax.community.services.event_consumers.

[2020-11-16 03:32] #4060 closed

[2020-11-16 03:32] #6348 closed

[2020-11-16 03:32] #6216 closed

[2020-11-16 03:32] #6224 closed

[2020-11-16 03:32] #6302 closed

[2020-11-16 03:32] #5381 closed

[2020-11-16 03:32] #5801 closed

[2020-11-16 07:25] tabergma commented on #7277
@wj-Mcat Thanks for your interest in this! As this is part of a larger project that we are still defining, we cannot open up this issue to the community. Sorry. Take a look at https://github.com/orgs/RasaHQ/projects/23 for open issues that you can work on.

[2020-11-16 08:35] wochinge commented on #6971
@dakshvar22 Do I understand it correctly that the incremental training is in total faster than training everything at once? This seems somewhat counterintuitive for me as I'd expect overhead from loading training data / pipelines etc.

[2020-11-16 09:00] Ghostvv commented on #7129
the training on e2e should work now

[2020-11-16 09:22] JEM-Mosig commented on #7218
@wochinge I expected the bot to work if I do `rasa train` and then `rasa train core`. But unrelated to that, I'd also expect it to work with `rasa train nlu` and then `rasa train core`. Is that a wrong assumption?

[2020-11-16 09:27] wochinge commented on #7272
@tabergma We actually cache all calls (e.g. [here](https://github.com/RasaHQ/rasa/blob/2cc922060f24371be5bb5b2aa5a5239cb5b961b6/rasa/shared/importers/importer.py#L253)) so I don't think this should be too much of an issue anymore 🤔

[2020-11-16 09:28] #7180 closed

[2020-11-16 09:33] tabergma commented on #7272
mmhh... 🤔 do you have any idea why loading, for example, [this dataset](https://github.com/RasaHQ/training-data/tree/master/public/MultiWOZ) took roughly an hour? Just loading, the training did not even start (I added some print statements).

[2020-11-16 09:37] dakshvar22 commented on #6371
@ClaudioVictorSpinelli Do you still see the same problem with newer versions of Rasa Open Source?

[2020-11-16 09:40] dakshvar22 commented on #6971
@wochinge The time mentioned above are the time to train `DIETClassifier` alone and does not include the pipeline and training data loading time. We should measure that too, but it would be much smaller in comparison to the amount of time required to train `DIETClassifier` for an additional 40/70 epochs as shown in the examples above.

[2020-11-16 09:58] nbeuchat commented on #7244
@koernerfelicia thanks for your answer! So, I do have another rule actually which cannot know how to set that slot. The idea was to delegate the slot setting to the other two rules using `wait_for_user_input: false`

[code]

However, even if I remove this rule (and all the other rules except the two mentioned in the original question), I still get:

[code]

I'd love to if you have some time! :-)

[2020-11-16 10:02] nbeuchat commented on #7265
@koernerfelicia I would love your insights on this one! Am I misunderstanding how conditions should be set?

[2020-11-16 10:06] nbeuchat commented on #7244
By the way, I just tried to use:

[code]

with:

[code]

And I still get the same error (both of them). I removed all the other rules and stories from my data.

[2020-11-16 10:11] wochinge commented on #6971
Thanks for clarifying! Even if we measure the `DIETClassier` on its own - shouldn't the total time of the incremental timing be greater than when training everything in one go?

[2020-11-16 10:20] dakshvar22 commented on #6971
@wochinge The small overhead(11s) that you see when trained in one go is because of the increase in input feature vector size and hence bigger matrix multiplications. The first two experiments on Sara data have an input feature vector of size 11752(actual vocabulary size + buffer added). The third experiment has an input feature vector of size 12752(actual vocabulary size + buffer added). The addi

[2020-11-16 10:43] nbeuchat commented on #7244
That, unfortunately, did not work either.  I have tried every single combination of `null`, `0`, `0.0`, `1.0`,  `0.1` and it always throws the same error. Could you share your rules and config?

Even with only these two rules (where I would expect a validation error as they are conflicting, I still get the same two `does not set all the slots, that it sets in other rules: 'matches_found'` errors.

[2020-11-16 10:43] tabergma commented on #7272
I added a print statement to the `RasaFileImporter` to check how often the individual files are read. Seems like that the domain file and the NLU data are read twice.

[code]

[2020-11-16 10:54] nbeuchat commented on #7244
Unfortunately, that does not work either for me. I have the following rules (these are the only rules):

[code]

And I still get the error:

[code]

[2020-11-16 10:58] #6685 closed

[2020-11-16 13:26] wochinge commented on #7253
@degiz Would you rather forbid using the name only for `featurized` slots or would you rather fill it up with an arbitrary value? I think I'd rather forbid this syntax for featurized slots.

[2020-11-16 13:41] alwx commented on #7197
Hey @mghadam!

Thanks for your detailed report. I was able to reproduce this issue locally but it's hard to say yet what's the reason for that. We will try to check it later this week and prioritize it higher because it seems to be a pretty important issue that might prevent users from finishing the onboarding flow.

[2020-11-16 14:10] Xwaler opened #7286 "checkpoint_model ignores best model if just one metric stays the same"
This issue concerns the checkpoint_model parameter in every trainable component (DietClassifier, ResponseSelector, RulePolicy, etc...)
In order to save a model that has improved in every metric except one that has staled (can even stale at 1.00 accuracy !), the _does_model_improve function could compare with a superior or equal sign rather than superior strict.

https://github.com/RasaHQ/rasa/blob

[2020-11-16 14:23] #7270 closed

[2020-11-16 14:33] digitalWestie commented on #7094
Here we go: https://github.com/RasaHQ/rasa/pull/7287

[2020-11-16 16:26] Ghostvv opened #7289 "check if training entities in DIET is still working on e2e"
On e2e, we updated tf methods for TED, since these methods are reused in DIET, DIET performance on e2e branch should be benchmarked against DIET in master

[2020-11-16 16:41] nbeuchat opened #7290 "Rasa train retrains both NLU and Core even if only the rules are changed"
**Rasa version**: 2.0.6

**Python version**: 3.7.9

**Operating system** (windows, osx, ...): Ubuntu

**Issue**:
`rasa train` retrains both the NLU and Core when I only modify rules and the NLU training data has not changed at all. The domain and config have not changed either.

**Command or request that led to error**:
[code]

[2020-11-16 16:48] Ghostvv commented on #7277
@tabergma is it core or nlu featurizers? or both?

[2020-11-16 17:56] tatianafrank commented on #7194
@rgstephens thanks for your response! Is this the permanent solution or are you guys working on a fix to the rasa code? Just wondering if we should hold off on using this workaround if a proper fix is coming in the next release.

[2020-11-16 18:36] wochinge commented on #7078
fixed by https://github.com/RasaHQ/rasa-sdk/pull/339

[2020-11-16 18:36] #7078 closed

[2020-11-16 20:26] mghadam commented on #7197
I have a similar problem with "Rasa swag" window. I have already filled the form once, however, it appears several times a day. Shall I open a new issue for it?

![screenshot-aifastnet uk nf-2020 11 16-23_53_31](https://user-images.githubusercontent.com/10244293/99304221-52c02a00-2867-11eb-815c-40992cdf59f6.png)

[2020-11-16 22:37] b-quachtran commented on #6729
@TyDunn Is there any update on this? The same customer is asking about this feature again, but it looks like it's been pushed to the 2.2 milestone.

[2020-11-17 03:00] rgstephens commented on #7194
The PR you see above your post shows the code change to fix this.

[2020-11-17 07:00] sara-tagger commented on #7290
Thanks for raising this issue, @ArjaanBuijk will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-11-17 07:00] sara-tagger commented on #7286
Thanks for the issue, @alopez will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-17 07:15] tabergma commented on #7277
we should have a separate issue for core, so just NLU.

[2020-11-17 08:28] Faysal92 commented on #5547
kjgkjk

[2020-11-17 09:26] wochinge commented on #6971
Thanks a lot for digging into and clarifying this! 🙌

[2020-11-17 09:28] #7253 closed

[2020-11-17 09:35] tabergma opened #7294 "Create command line interface for training in chunks"
part of https://github.com/RasaHQ/rasa/issues/6836

In order to train in chunks, we need a new command line interface. Create a new command called `rasa train-in-chunks` with two subcommands `rasa train-in-chunks nlu` and `rasa train-in-chunks core`. The new command should call the new methods for training in chunks as defined in https://github.com/RasaHQ/rasa/issues/6836.

[2020-11-17 09:39] wochinge commented on #7218
Yes, I'd actually would rather see this as a new feature than a bug. What is your use case to train them independently? `rasa train` will automatically skip training NLU if there were no changes (there are currently some hiccups with that 😬 )

[2020-11-17 10:58] wochinge commented on #7253
@Ghostvv I was wondering about @davidhsv 's comment [here](https://github.com/RasaHQ/rasa/issues/7253#issuecomment-726110835). Making a `text` slot influence a conversation based on its actual value seems difficult for me as the underlying models wouldn't know how to deal with new unseen values. You'd basically have to add a ton of different examples for this slot so that the model could learn a b

[2020-11-17 11:44] #7002 closed

[2020-11-17 12:01] TyDunn commented on #6729
@b-quachtran There wre quite a bit of improvements we need to make smoothen out friction caused by 2.0, so we decided to do that in 2.1 before we adding new functionality in 2.2

[2020-11-17 12:05] tmbo opened #7295 "Consistent usage of log levels"
**Description of Problem**: It is unclear which log level should be used for which purpose when building a bot. More often than not, one will notice that either there is to much information in an output log or to little while developing a bot.

The python guidelines on log levels ([https://docs.python.org/3/howto/logging.html#when-to-use-logging](https://docs.python.org/3/howto/logging.html#when-t

[2020-11-17 12:18] wochinge opened #7296 "Remove deprecations for 2.2.0"
**Todo:**
Remove deprecations in the code which target `2.2.0`, e.g.
- https://github.com/RasaHQ/rasa/blob/78beb6f1b7e9ce951e92c53f15b2584fe87437ee/rasa/core/run.py#L314
- https://github.com/RasaHQ/rasa/blob/fe5c6319dcde393f45d6284e3903bc3deacfb410/rasa/core/exporter.py#L95

[2020-11-17 12:19] Ghostvv commented on #7253
@wochinge, I agree it is a categorical slot to me. Otherwise, it a perfect case for custom slot, where you can provide any featurization you want

[2020-11-17 13:06] DanBmh commented on #6633
Was a spacy issue, which is not supported for 32bit python. See linked issue for a workaround.

[2020-11-17 13:06] #6633 closed

[2020-11-17 14:16] Novaal opened #7299 "NER: all confidences per Token with DIETClassifier"
**Description of Problem**:
Thanks for introducing the confidences for NER with https://github.com/RasaHQ/rasa/pull/6038.
Currently only the labels for the best matching entity is given. I would like to have an option to get all confidences including the confidences for labels with `NO_ENTITY_TAG` on a per token basis. This would allow me for example to choose the second best entity for specific t

[2020-11-17 14:27] tabergma commented on #7274
@Ghostvv As we spoke about this issue this morning. I guess it might make sense to tackle this together with the implementation of `trian_chunk` for the featurizers. I'll take over one of the other issues instead. Let me know if you think otherwise.

[2020-11-17 14:34] tatianafrank commented on #7194
Thanks

[2020-11-17 14:51] #7224 closed

[2020-11-17 16:24] samsucik commented on #7265
Hi @nbeuchat, this seems rather complex, let's try to unpack it :-) First of all, I wanted to ask about the problematic `preferences_filled: true` line in this rule:
[code]

First, let's make sure we both understand it the same way: Rules describe which `action(s)` should happen next, but they cannot trigger any `SlotSet` events. So, the problematic line in the rule above _describes_ that the prec

[2020-11-17 16:53] JEM-Mosig commented on #7218
Ah, ok. Then I'll just use `rasa train`. I think I just ran into those "hiccups" there when building my bots, so it keeps re-training NLU even though I didn't change anything on that side, which is why I tried `rasa train core`.

[2020-11-17 17:17] sparklie3 opened #7300 "Rasa x saves stories into rules.yml file"
Rasa Version     : 2.0.2
Rasa SDK Version : 2.0.0
Rasa X Version   : 0.33.2
Python Version   : 3.8.5
Operating System : Linux-4.19.128-microsoft-standard-x86_64-with-glibc2.29

**Issue**: Rasa x saves stores into rules.yml file.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Co

[2020-11-17 17:36] wochinge commented on #6729
@b-quachtran How about something like `rasa train --dry-run` which would give you a different status code in case the model needs re-training?

[2020-11-17 17:42] solyarisoftware commented on #7189
Hi Melinda,
yes, honestly it's a vast topic, and yes I proposed some minor improvements here and there.

In my opinion what is really missing is the "big picture" overall architecture and API entrypoints. Thinked for non pythoners (who want to integrate RASA "backend" engine inside a bigger system made in Nodejs, Java or .NET (arghh) application.

1. I propose to share the architecture in MACRO co

[2020-11-17 17:49] #7077 closed

[2020-11-17 17:56] coderunite commented on #6721
I see 2.1 was released and I don't see a mention of 7020. I also just tested the issue and it still exists.

[2020-11-17 18:47] samsucik commented on #7265
@nbeuchat I now realised I was wrong in my previous comment. Sorry for that! I'm looking into it again.

[2020-11-17 19:04] pheel opened #7301 "Contradicting rules or stories found"
Sending the following e2e file off to regular training

[code]

causes a **Contradicting rules or stories found** error. Using the same files for training and testing is a convenience. I suggest to ignore the `user` key when e2e mode if off.

**Rasa version**: 2.0.x

[2020-11-17 19:18] samsucik commented on #7244
@nbeuchat having read through this, it's a very interesting bug and good luck to @koernerfelicia fixing it!

I though I'd just add my piece of understanding of the syntax for rules: I think the name `slot_was_set` should ideally communicate that the slot is not _being set_ by the rule, but that it _was set by the action_ that comes before in the rule.

Second: By including `slot_was_set` as a step

[2020-11-17 19:31] pheel opened #7303 "ML policies with missing models causing ensemble not to load"
[code]

[code]

Since no stories are used, training results in log entry **Can not train 'TEDPolicy'. No data was provided. Skipping training of the policy**.

However, trying to load Core model after training is prevented by exception: **Failed to load TED policy model. Path '/var/folders/80/5x0m20sn0bb_r7bg28b6lvt40000gn/T/tmp96oslq6_/core/policy_0_TEDPolicy' doesn't exist**.

Ensemble could be

[2020-11-17 19:37] nbeuchat commented on #7265
Hi @samsucik ! Thanks for your messages and for taking the time to look into it!

I like your approach of making it more explicit with the `slot_was_set` in the condition instead of within the steps. In the example above, I could easily break it into two rules. It might not always be possible to split the rules like that but I like it as a general approach.

However, I still have the issue that ot

[2020-11-17 19:39] nbeuchat commented on #7244
Shouldn't it be that the slot has a specific value at that point in the story? So, if the slot was set five turns before, it still matches the condition, no? Otherwise, the first name example from the doc would not work I think

[2020-11-17 19:42] b-quachtran commented on #6729
@wochinge Yes, that would be exactly what they're looking for 😄

[2020-11-17 20:00] wochinge commented on #6729
Ok, so they have access to previously trained models when running `rasa train --dry-run`?

[2020-11-17 20:04] b-quachtran commented on #6729
Yeah, they have previously trained models stored in S3 and are able to download that for dry runs.

[2020-11-17 20:48] Yattus commented on #1536
The output of grep commande:
**grep --color 'load_data' ./env/lib/python3.8/site-packages/rasa/nlu/***

grep: ./env/lib/python3.8/site-packages/rasa/nlu/classifiers: est un dossier
./env/lib/python3.8/site-packages/rasa/nlu/convert.py:        td = rasa.shared.nlu.training_data.loading.load_data(data_file, language)
./env/lib/python3.8/site-packages/rasa/nlu/convert.py:        td = rasa.shared.nlu.

[2020-11-17 21:37] TyDunn commented on #7300
@sparklie3 Thanks for submitting this bug report! The original forum thread can be found [here](https://forum.rasa.com/t/is-it-normal-for-rasa-x-to-save-stories-to-go-into-rules-yml-file-instead-of-stories-yml/37062/3)

[2020-11-18 00:36] github-actions[bot] opened #7305 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-11-18 03:01] b-quachtran commented on #6555
@Ghostvv Just a note, the change to the default dense & concat dimensions from 512 to 128 ended up causing issues with a customer's NLU model when they upgraded to Rasa 2.0.

Specifically, they were seeing problems where messages that should've triggered `nlu_fallback` were classified as an existing unrelated intent with relatively high confidence.

For example, the message "feed the cat" was clas

[2020-11-18 03:12] thanhphi0401 commented on #6222
any news on it? i'm facing with this problem

[2020-11-18 07:00] sara-tagger commented on #7303
Thanks for raising this issue, @tttthomasssss will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-11-18 07:00] sara-tagger commented on #7299
Thanks for submitting this feature request 🚀 @erohmensing will get back to you about it soon! ✨

[2020-11-18 07:00] sara-tagger commented on #7301
Thanks for the issue, @TyDunn will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-18 09:24] ducminh-phan opened #7306 "'RedisTrackerStore' object has no attribute 'prefix'"
**Rasa version**: 2.1.0

**Python version**: 3.7.9

**Operating system** (windows, osx, ...):

**Issue**:

An error occurred when using `tracker_store` of type `redis`.

**Error (including full traceback)**:
[code]

Looks like the issue comes from this line: https://github.com/RasaHQ/rasa/blob/384b078b74e7f365f9262d80977a30615d6ecb3f/rasa/core/tracker_store.py#L349

It should be `self.key_prefix`

[2020-11-18 09:36] anapaulagomes commented on #5909
Same here:

[code]

Rasa version: 2.0.6

Rasa SDK version (if used & relevant):

Rasa X version (if used & relevant):

Python version: 3.8.2

Operating system (windows, osx, ...): Ubuntu 20 + Windows 10 (WSL)

[2020-11-18 09:48] koaning commented on #6906
So it seems like spaCy will have transformer support for a lot of Non-English languages. The thing though is that the vectors are retrieved differently.

[code]

For transformer based models you can't fetch the tensors directly via `vector` anymore but via `._.trf_data`.

Also note that the `token_emb` do not match the shape of the tokens that spaCy finds. More likely these tokens correspond tot h

[2020-11-18 10:12] Ghostvv commented on #7226
I just understood, you cannot do it in `tracker.applied_events`, because rule policy should see this events. Rather, you should create a temporary tracker inside predict ted, and rule policy should "learn" whether this predicted action should be unfeaturized or not. This information (rather logical not) can be extracted from checking rule predictions on stories. Then `RulePolicy` can release optio

[2020-11-18 11:10] koernerfelicia commented on #7244
@nbeuchat I think I was a little unclear in my response, let me try and clarify and also get to your questions!

1.

This should be fine. The key thing is if you have the **action** that sets a slot in one rule, if that **same** action is in another rule you must either also set the slot or explicitly say that the action does not set the slot (by setting the slot to `null`)

2.

Unfortunately this

[2020-11-18 12:41] amn41 opened #7307 "Don't warn users about slots not seen during training if they don't influence the conversation"
**Description of Problem**: In the `MessageProcessor` class' `warn_about_new_slots` method, we warn the user about slots being set at inference time which weren't present in training stories.

[https://github.com/RasaHQ/rasa/blob/master/rasa/core/processor.py#L779](https://github.com/RasaHQ/rasa/blob/master/rasa/core/processor.py#L779)

This is unnecessary if the slot has `influence_conversation`

[2020-11-18 12:50] Novaal commented on #7299
It seems to be, that `_predict_entities()` is also inconsistent to `_predict_label()` in the way, that if i have multiple classifiers for intents+entities, the last classifier will overwrite the `intents` and `intent_rankings`, but will add the entities to the list of the previous classifiers. Then its not necessarily distinguishable anymore, which classifier provided, which entity.

https://githu

[2020-11-18 13:00] sara-tagger commented on #7306
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-18 13:43] nbeuchat commented on #7244
Thanks so much for the detailed explanation @koernerfelicia ! It's a bit clearer now.

What I personally find confusing is: how do you differentiate between not setting a slot and setting a slot to `None`? Might not make sense for the `float` type but for a `text` slot, how do I know what the action is actually doing if I write this step in a story:

[code]
In my mind, I would have read that as "t

[2020-11-18 14:44] robynbitner commented on #5582
I'm having the same issue. Any updates on how to fix it?

[2020-11-18 15:02] pranavdurai10 commented on #4969
@degiz is this still open for contribution? Would like to take it up and contribute.

[2020-11-18 15:20] hotzenklotz opened #7309 "BotFramework Channel uses shared authentication cache"
**Rasa version**: master

**Python version**: 3.7

**Operating system** (windows, osx, ...): all

**Issue**: The MS BotFramework channel uses one shared OAuth key cache for all instances: [https://github.com/RasaHQ/rasa/blob/master/rasa/core/channels/botframework.py#L50](https://github.com/RasaHQ/rasa/blob/master/rasa/core/channels/botframework.py#L50)

This fails if you create several instances o

[2020-11-18 15:43] rabinpoudyal commented on #1597
Similar issue here:
![image](https://user-images.githubusercontent.com/20385396/99552237-de12fa00-29e4-11eb-9a47-25387352c2c6.png)

Solution:
Duckling gives the outer bounds for interval extraction. You can subtract the grain value from the bound. For example, from custom action you can do (to-grain)

[2020-11-18 16:04] samsucik commented on #7301
@pheel have you checked that there are actually no contradicting rule or story parts in your training data? What exactly does the error say and what do your training stories/rules look like?

I should also mention that there have been some bugs uncovered recently in `RulePolicy` that were causing this kind of error to be raised when using a slot with `initial_value` set while also using a rule wit

[2020-11-18 17:07] samsucik commented on #7244
@nbeuchat while looking into #7265 I found a bug that leads to an `incomplete rule` training error like the ones reported above **if** there's a slot with `initial_value` set in the domain **and** that slot is different from the one set by the action in the rules, e.g.:
[code]
I am not 100% sure that this was the cause of any of your error messages, but I strongly suggest that you try installing R

[2020-11-18 17:20] pheel commented on #7301
@samsucik Thanks for getting back to me! Yes I did come upon that PR when researching, but it doesn't seem related. Here's the config and error. Removing the `user` key in the intent step makes it train fine.

**data.yml**
[code]

**domain.yml**
[code]

**config.yml**
[code]

**error**
[code]

[2020-11-18 17:20] samsucik commented on #7265
@nbeuchat I have some good news and some bad news 😉

Good news: I found out why the rule that seemingly doesn't condition on any slots still gets triggered depending on specific slot values. Bad news: It's quite a peculiar issue that leads us back to the basics of what's the purpose of `initial_value`. Let's see how exactly it will be fixed.

As soon as you define `initial_value` for some slot in

[2020-11-18 17:29] samsucik commented on #7301
Thanks a lot @pheel! I've managed to reproduce it. Will dig deeper into it. While the `user` key looks weird to be included in a rule, it's also true that rules and stories shouldn't really differ -- and in this case including the key breaks things when in a rule but doesn't when in a training story...

[2020-11-18 18:20] nbeuchat commented on #7265
@samsucik That's great news!! I removed all `initial_value` for slots that influence the conversation and it works fine now 🥳 Thanks so much!

To be honest, the `initial_value` is not really necessary for our use cases. I was using it because I was using boolean slots and I didn't really care about the `null` case. My logic for a slot like `preferences_filled` was that it can either be `True` or `

[2020-11-18 18:20] nbeuchat commented on #7244
Oh, that is very likely the case of the bug with the two error messages then. When I retried this afternoon, I removed every single slot except `matches_found` and removed every rules except the ones around the apartment search and I did not have the bug again.

I didn't have time to install Rasa from the PR #7235 to see if that fixes all the issues.

[2020-11-18 18:34] b-quachtran commented on #6555
It gets classified as a "talk_to_human" intent with low confidence with their 1.10.14 model:

[code]

[2020-11-18 19:00] Ghostvv commented on #6555
but since we changed the default architecture, the effect of a random seed also changed. How's overall performance of the model, did it drop?

[2020-11-18 19:03] b-quachtran commented on #6555
They're running evals on the models at the moment. I'll get back to you once they have real performance metrics to share

[2020-11-19 07:00] sara-tagger commented on #7309
Thanks for raising this issue, @samsucik will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-11-19 10:55] Ghostvv opened #7310 "Try adding mask loss later in the training after some epoch, say 50"
Our mask loss might be too destructive initially. It might be a good idea to turn it on later after the attention is more or less trained to attempt to break a little bit the overfitting to particular tokens

[2020-11-19 11:16] kiranbeethoju opened #7311 "missing lookup data in NLU after migration from 1.X to 2.0"
**Rasa version**:
rasa==1.10.8
rasa-core==0.14.5
rasa-nlu==0.15.1

**Rasa SDK version** (if used & relevant):
rasa-core-sdk==0.14.0
rasa-sdk==1.10.3

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):
Linux Ubuntu 16.04 LTS
**Issue**:

Lookup data missing after migration !!

**Error (including full traceback)**:
[code]

**Command or request tha

[2020-11-19 11:27] akelad commented on #6629
addressed by https://github.com/RasaHQ/rasa/pull/7223/files

[2020-11-19 11:27] #6629 closed

[2020-11-19 12:30] nbeuchat opened #7338 "tracker.sender_id always returns `default` in custom actions"
**Rasa version**: 2.1.0

**Rasa SDK version**: 2.1.1

**Python version**: 3.7.9

**Operating system**: Ubuntu

**Issue**:
In all of my custom actions, `tracker.sender_id` now always returns `default` instead of the actual sender id. We are heavily using this sender id as user identifiers in our database which currently fails as a result.

Note that I am using Facebook Messenger and in the Rasa cor

[2020-11-19 12:36] susajsnair opened #7312 "ERROR: No matching distribution found for tensorflow~=1.13.0 (from rasa_core)"
I am trying to install `pip3 install rasa_core` in virtual environment and getting following error.

`ERROR: Could not find a version that satisfies the requirement tensorflow~=1.13.0 (from rasa_core) (from versions: 2.2.0rc1, 2.2.0rc2, 2.2.0rc3, 2.2.0rc4, 2.2.0, 2.2.1, 2.3.0rc0, 2.3.0rc1, 2.3.0rc2, 2.3.0, 2.3.1, 2.4.0rc0, 2.4.0rc1, 2.4.0rc2)
ERROR: No matching distribution found for tensorflow~=1

[2020-11-19 13:00] sara-tagger commented on #7312
Thanks for raising this issue, @alopez will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-11-19 13:00] sara-tagger commented on #7311
Thanks for raising this issue, @samsucik will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-11-19 13:36] kiranbeethoju commented on #7312
You can fix by using virtualenv.
create new virtualenv using virtualenv lib in Linux, or `conda create -n newEnvName`
then activate your virtualenv
then install only below two files with pip3 rest all will be taken care by system..

[code]

[2020-11-19 13:45] joejuzl commented on #7129
Is the `e2ebot` example bot meant to be in a working state?
I get this error when using it:
[code]

Do bot responses in e2e stories have to still be defined in the domain?

[2020-11-19 13:50] Ghostvv commented on #7129
predicting e2e bot utterances in `rasa shell` doesn't work yet: there is a separate issue for it: https://github.com/RasaHQ/rasa/issues/6410

[2020-11-19 13:52] joejuzl commented on #7129
This was from the rest api - but I guess it has the same problem.

[2020-11-19 13:53] joejuzl commented on #7129
Ok so the scope of this issue is purely to check for bugs in the training process?

[2020-11-19 16:28] NetBKarine opened #7318 "Rules: false contradiction with active_loop: null condition"
**Rasa version**: 2.1.0

**Rasa SDK version** (if used & relevant):2.0.0

**Rasa X version** (if used & relevant): not used

**Python version**: 3.7.9

**Operating system** (windows, osx, ...): Ubuntu 18.04

**Issue**: Training fails when there is both a rule with one condition on `active_loop: null` and a rule with similar steps but no conditions.

I want to have a different behaviour for a simpl

[2020-11-19 16:44] Ghostvv commented on #7129
the scope of this issue to check that `rasa train core` fails gracefully and that `rasa train` correctly retrains various models depending on the changed data (nlu data now influence core model and core data influence nlu model)

[2020-11-19 17:03] Ghostvv commented on #7129
also, during loading for prediction core should be able to check that loaded nlu model is the same as during training

[2020-11-19 18:32] DC1991Lau commented on #4083
Hello,

For me it's not working! On the last validation, the message only appear after the submit method is finished.

Can you please help me.

Thank you

[2020-11-19 20:43] sparklie3 opened #7319 "models created by rasa train in cmdline doesn't show up in Rasa X local machine"
Rasa Version : 2.0.2 Rasa SDK Version : 2.0.0 Rasa X Version : 0.33.2 Python Version : 3.8.5 Operating System : Linux-4.19.128-microsoft-standard-x86_64-with-glibc2.29

**Issue**: models created by rasa train in cmdline doesn't show up in Rasa X local machine If you run `rasa train` and create a model, that model is saved in the /models folder but doesn't appear in the Rasa X UI in models. You hav

[2020-11-20 03:23] huseyin01 opened #7320 "NotImplementedError: typ "['safe', 'rt']"not recognised (need to install plug-in?)"
**Rasa version**:
rasa==2.0.2

**Rasa SDK version** (if used & relevant):
rasa-sdk==2.1.2

**Rasa X version** (if used & relevant):
rasa-x==0.33.2

**Python version**:
Python 3.7.6

**Operating system** (windows, osx, ...):
mac os

**Issue**:

I tried to train my package (which I had no issue with training with the previous version) with rasa 2, but I am receiving below error.

**Error (including

[2020-11-20 07:00] sara-tagger commented on #7320
Thanks for the issue, @TyDunn will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-20 07:00] sara-tagger commented on #7319
Thanks for raising this issue, @koaning will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-11-20 07:00] sara-tagger commented on #7318
Thanks for the issue, @degiz will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-20 07:08] susajsnair commented on #7312
@kiranbeethoju please read it again, i have already `rasa` and `rasa sdk` in my env, but i am unable to intall `rasa_core`.

All i want to access `from rasa_core.interpreter import RasaNLUInterpreter` in my actions.py

[2020-11-20 07:58] wochinge commented on #7295
Great push! 👍

I think we should also considering [structlog](https://www.structlog.org/en/stable/index.html) when running in production. That makes it easier to monitor Rasa (X) deployments via ELK etc. In local mode plain text logs might be more user friendly. However, `structlog` could also be interesting in this case as it would allow for quick filtering for certain things (e.g. output of ML c

[2020-11-20 09:27] samsucik commented on #7311
Hi @kiranbeethoju, references to lookup files are deprecated in Rasa 2.x with the yaml format. If you look at [the data of the Rasa demo bot](https://github.com/RasaHQ/rasa-demo/tree/master/data), you'll see that NLU data are split into multiple files and  none of these files is explicitly referenced anywhere. Rasa automatically combines all of that file content and it figures out what the data ar

[2020-11-20 09:30] samsucik commented on #7265
Alright, @nbeuchat it's great to hear that things are working now! And thanks for describing the use cases; looks like `initial_value` isn't really needed here 🙂

[2020-11-20 09:30] #7265 closed

[2020-11-20 09:32] samsucik commented on #7301
Hmmm, right, thanks a lot for providing the details @pheel. I was able to reproduce it and will take a closer look. While it could be fixed the way you've proposed in your PR, I want to look into `RulePolicy` as well to see why this triggers such an unrelated error at all.

[2020-11-20 09:33] koernerfelicia commented on #7244
Hi @nbeuchat, does this mean we can close this issue? It sounds like between this and the other issue we've managed to resolve the errors/bugs

[2020-11-20 09:41] BShaq commented on #6927
Is this issue already solved? I'm still getting this error..

[2020-11-20 09:50] anandhperumal opened #7321 "Failed to find component class"
**Rasa version**:
rasa                    2.0.0
rasa-nlu                0.15.0
rasa-sdk                2.1.2

**Python version**: 3.6.12

**Operating system** (windows, osx, ...): osx

**Issue**:

Failed to find a component class even though it is present in the latest code.

When I was looking at the site-packages the class components are missing from the one which is present in the latest [code]

[2020-11-20 10:03] kiranbeethoju commented on #7311
So, you are saying as Rasa will automatically consider everything in NLU folder no matter whether I write multiple lookups inside of subfolders in NLU folder?

[2020-11-20 10:19] samsucik commented on #7311
Yes. You can try it yourself -- if there are any issues, let me know.

[2020-11-20 10:21] #7311 closed

[2020-11-20 12:08] akelad commented on #7189
about your request for a diagram: are you thinking something along the lines of this?

[2020-11-20 12:58] Ghostvv opened #7322 "Domain doesn't get updated if ml training wasn't needed"
I changed response text in domain, when I call `rasa train`, it say no training is required, but apparently it didn’t update old models with new domain and I get error in `rasa shell`:
[code]

**Rasa version**: 2.0.x

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

**Error (including f

[2020-11-20 13:00] sara-tagger commented on #7321
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-20 13:35] erohmensing commented on #7306
Thanks @ducminh-phan for pointing this out. Do you want to open a PR against `2.1.x` to contibute this fix?

[2020-11-20 14:04] joejuzl commented on #7129
## Findings so far

1. > `rasa train` was called, nlu data didn't change but e2e stories did and added e2e examples -> need to retrain nlu model

Seems to work.

2. > `rasa train core` was called, but core stories contain e2e examples -> the command should raise an error that rasa train with appropriate nlu pipeline should be called

Throws this error:
[code]

3. > when nlu config changes, `rasa t

[2020-11-20 14:18] XiaoLiuAI opened #7324 "core training failed with data converted from rasa-demo"
**Rasa version**:
2.1.0

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:
3.7

**Operating system** (windows, osx, ...):
osx

**Issue**:
core training failed

training data is converted from project rasa-demo

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (conf

[2020-11-20 14:47] wochinge commented on #6410
close in favor of https://github.com/RasaHQ/rasa/pull/7325

[2020-11-20 15:06] mbukovy opened #7326 "Feature Request - upload model to S3 after training is done"
**Description of Problem**: According to this [https://rasa.com/docs/rasa/model-storage](https://rasa.com/docs/rasa/model-storage) it is possible to use AWS S3 as a model storage. Loading from S3 bucket works fine, but we're missing upload right after training.

**Overview of the Solution**: There should be a possibility to upload the model to S3 (or other clouds eventually) instead of saving it i

[2020-11-20 15:41] anandhperumal commented on #7321
Also, it works fine when I run cmi using the following command rasa train

[2020-11-20 15:42] solyarisoftware commented on #7189
Hi Akela,

the updated doc https://rasa.com/docs/rasa/arch-overview is a good start.
From the **HTTP API interface** point of view, that split makes sense to me (quoting from the above page):

So, focusing by example on the run-time phase, I'd propose something super clear with the help of some box-diagrams like:

[code]

where I'd emphasis 3 componente pointed out in the diagram:

(1) Intents cla

[2020-11-20 15:46] tabergma commented on #7120
Add some finding [here](https://docs.google.com/spreadsheets/d/1pMHvIz9gibHmmG8Kfp9PzKHw6liOpPRNUH_Rl5X0-eY/edit?usp=sharing).

[2020-11-20 17:22] nbeuchat opened #7327 "Using version: "2.1" in domain.yml raises an warning and skips the file"
**Rasa version**: 2.1.1

**Python version**: 3.7.9

**Operating system**: Ubuntu

**Issue**:
When using `version: "2.0"` at the start of my domain files, I get a warning that the version of Rasa is higher than the version specified and the file is skipped. However, I am using rasa 2.1.1 (checked with `pip freeze`)

**Error (including full traceback)**:
[code]

**Command or request that led to erro

[2020-11-20 17:34] nbeuchat commented on #7318
My understanding of your second rule is that it should apply _anytime_, not just when there is an active form.

I have not tried it but maybe that works? I saw in another issue someone doing something like that for a slot.

[code]

[2020-11-20 17:54] wochinge commented on #6971
I had a short look on the `e2e` branch and at least for the engineering changes we don't need to branch off [e2e](https://github.com/RasaHQ/rasa/compare/e2e). However, `DietClassifier` has huge changes @dakshvar22  so you want to probably branch off from `e2e` for your changes, what do you think?

[2020-11-20 17:54] wochinge opened #7328 "Implement Command-Line interface for finetuning models"
Implement the command-line interface for https://github.com/RasaHQ/rasa/issues/6971.

- [x] Implement parsing of `rasa train --finetune --model <path to model to finetune>`
  * `--finetune` is `False` by default
  * `--model` is optional. In case it's not given, Rasa Open Source will try to use the latest model from the `models` directory
- [x] track in telemetry event if `--finetune` was used
- [

[2020-11-20 17:56] wochinge commented on #7328
@dakshvar22 Two ideas
* How about using something like `rasa train --finetune <model path>`? Not sure if we can make it work if users don't specify `model path` (e.g. if they want to use the latest model), but we can at least try?
* Do we need a parameter to quickly override the epochs? E.g. something like `--epoch-fraction`? It seems annoying to me to require two equal configs or change it in bet

[2020-11-20 17:58] NetBKarine commented on #7318
@nbeuchat What you saw was for text slots, since the actual value doesn't matter. I did try it even so (you never know), but it doesn't work, `active_loop` has to have a value:
[code]
It could be useful though... In my use case the precedence of the first rule causes the second one to apply only when there is a form, and it works because I only have two scenarios: in a form or not, with one differ

[2020-11-20 17:58] wochinge opened #7329 "Load models in finetune mode based on command line parameters."
[Load models for incremental training.](https://github.com/RasaHQ/rasa/issues/6971)

Depends on https://github.com/RasaHQ/rasa/issues/7328.

- [ ] load NLU pipeline in fine-tune mode as shown here
- [ ] load Core policies in fine-tune mode as show here
- [ ] pass in new number of epochs

[2020-11-20 18:02] wochinge opened #7330 "Check if model is fine-tunable"
Before we can [finetune a model](https://github.com/RasaHQ/rasa/issues/6971), we need to make sure that this is actually possible.

This is the list of constraints defined [here](https://docs.google.com/document/d/1B7iVPRQONPoFssJfxhLMm5o23KWTPYNPQw_7XRc38Ao/edit):
- Model config of the previous checkpoint should be exactly the same as the new config, except for the number of epochs of ML componen

[2020-11-20 18:17] nbeuchat commented on #7318
Arf, that's too bad! I have the same use case as you have, hope there is or will be a way to have a condition for the active loop being anything but null

[2020-11-20 19:41] NikhilSrihari opened #7331 "RASA Execution fails while running "rasa run -m models --enable-api --log-file out.log --endpoints endpoints.yml", after "rasa train"'s successful execution"
**Rasa version**: 1.10.14

**Rasa SDK version** (if used & relevant): 1.10.3

**Rasa X version** (if used & relevant): NA

**Python version**: 3.6.9

**Operating system** (windows, osx, ...): Ubuntu 18.04.2 LTS

**Issue**:
RASA Execution fails while running "rasa run -m models --enable-api --log-file out.log --endpoints endpoints.yml", after "rasa train"'s successful execution
"rasa train" created

[2020-11-20 20:32] kearnsw commented on #7191
I've been able to reproduce this issue in both Python 3.8 (latest) and Python 3.7 (latest) on Mac OS 10.15.6.

[2020-11-21 00:12] gaucidaniel opened #7332 "Manually sync with version control repository"
**Description of Problem**:

While the integrated version control in Rasa X is great step forward in our workflow, I would like to suggest adding a manual button in the Rasa X dashboard to sync with the connected repository. From what I understood from the Rasa X logs, the repository is automatically synced in the background periodically. Unfortunately, this means that I cannot be sure that the da

[2020-11-21 00:37] github-actions[bot] opened #7333 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-11-21 11:00] ducminh-phan commented on #7306
Sure, I will try to fix the issue and open a PR then.

[2020-11-22 00:39] github-actions[bot] opened #7335 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-11-22 15:07] #7244 closed

[2020-11-23 07:00] sara-tagger commented on #7331
Thanks for the issue, @rctatman will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-23 07:00] sara-tagger commented on #7332
Thanks for submitting this feature request 🚀 @koernerfelicia will get back to you about it soon! ✨

[2020-11-23 07:00] sara-tagger commented on #7327
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-23 07:00] sara-tagger commented on #7326
Thanks for submitting this feature request 🚀 @kalkbrennerei will get back to you about it soon! ✨

[2020-11-23 07:00] sara-tagger commented on #7324
Thanks for the issue, @akelad will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-11-23 08:23] akelad commented on #7324
Hi @XiaoLiuAI, what do you mean by `training data is converted from project rasa-demo`? Did you manually run the conversion commands? master of https://github.com/RasaHQ/rasa-demo is already converted to 2.0

[2020-11-23 08:30] koernerfelicia commented on #7332
Hi @gaucidaniel, this is a great idea, thank you for the suggestion! I've added it to the relevant inbox.

[2020-11-23 09:08] wochinge commented on #6948
closed by https://github.com/RasaHQ/rasa/pull/6952

[2020-11-23 09:08] #6948 closed

[2020-11-23 09:11] wochinge commented on #7218
I think that's related due to the issue which Tom brought up. The hashes we calculate aren't stable across multiple runs. We will revisit this logic for end-to-end as well 👍 Closing this one then.

[2020-11-23 09:15] wochinge commented on #7218
Btw, the issues with the hashs should be fixed in Rasa Open Source 2.1: https://github.com/RasaHQ/rasa/pull/7246/files

[2020-11-23 09:15] #7218 closed

[2020-11-23 09:16] wochinge commented on #7272
Thanks for investigating! Did you figure out what the reason for the loading times was?

[2020-11-23 09:18] wochinge commented on #7335
duplicate of https://github.com/RasaHQ/rasa/issues/7333

[2020-11-23 09:18] #7335 closed

[2020-11-23 09:24] Ghostvv commented on #7129
in point 2. it should fail gracefully, by giving a user helpful error message
in point 6.

yes

[2020-11-23 09:24] wochinge commented on #7332
@alwx Should we move this to the loop squad's inbox as they are currently mostly working with Integrated Version Control ?

[2020-11-23 09:29] tabergma commented on #7272
@wochinge I did some more investigation [here](https://docs.google.com/spreadsheets/d/1pMHvIz9gibHmmG8Kfp9PzKHw6liOpPRNUH_Rl5X0-eY/edit?usp=sharing). The datasets I used for this are [Advising](https://github.com/RasaHQ/training-data/tree/master/public/Advising) and [MultiWOZ](https://github.com/RasaHQ/training-data/tree/master/public/MultiWOZ). Especially for MultiWOZ the loading time is quite hi

[2020-11-23 10:35] Yattus commented on #2717
hope it help:
**remove**
[code]
**Replace by this**
[code]

[2020-11-23 10:54] dakshvar22 commented on #7328
@wochinge
1. I like the idea if we are able to make it work without users having to specify the model path as well.
2. I like that idea from a UX perspective but I am not sure if a single `epoch-fraction` works well for all components(`DIET`, `ResponseSelector` etc.). I would still say let's add it, if it works it is very useful indeed.

[2020-11-23 11:12] wochinge commented on #7328
Ok 👍 What should we choose as default for the epoch fraction? We can always add a third argument for the entity epoch fraction in case we see that users are running into issues. We could e.g. have a logic like this then:
[code]

[2020-11-23 12:13] anandhperumal commented on #7321
Closing this issue, the module is working as expected. I was comparing the wrong files.

[2020-11-23 12:13] #7321 closed

[2020-11-23 12:35] erohmensing commented on #7306
Awesome 🚀

[2020-11-23 13:06] nbeuchat commented on #7338
Hi @joejuzl thanks for checking! I see where the issue lies now. Happy to provide a fix, looking into this now.

[2020-11-23 13:10] nbeuchat commented on #7338
@wochinge I am looking at the `_run_action` from the `MessageProcessor`. I see that you added the temporary tracker that copies from the original one. However, `tracker.copy()` does not copy the `sender_id` because of how `init_copy` initializes the sender id:

[code]

In order to fix this, I see two options:

- Set the `sender_id` on the `temporary_tracker`
- Modify the behavior of `DialogueState

[2020-11-23 13:15] MinaBeirami commented on #4858
Does anybody else have this problem? I am still facing this error for  "EmbeddingIntentClassifier".

[2020-11-23 13:25] wochinge commented on #7338
That sounds perfect! 👍 I checked the code base and it should actually fix a couple of other locations which use `init_copy` 🙈  Feel free to request review from me then 👍

[2020-11-23 13:38] nbeuchat commented on #7338
Perfect, will work on it today!

[2020-11-23 13:39] wochinge commented on #7338
Please target `2.1.x` for your PR. Then we can ship a patch release asap.

[2020-11-23 13:48] dakshvar22 commented on #6971
@wochinge The only change that we need for incremental training inside `DIETClassifier` is a change in the `load` method which isn't touched on `e2e`. So, we should be fine branching off master. Would like to decouple it from e2e as much as possible.

[2020-11-23 14:42] dakshvar22 commented on #7328
Setting a default here is tricky since we don't know how much amount of data got added. Do we currently/ Should we store the number of data points a particular component was trained on? If yes, then we would know how much extra data each component received and set a default for the epoch fraction inside the component.

Otherwise, we should only use this parameter if the user defined a value for it

[2020-11-23 14:47] #7120 closed

[2020-11-23 14:48] TyDunn commented on #7320
Hi @huseyin01. Can you share your config.yml file please?

[2020-11-23 14:51] tabergma commented on #7272
Things that I noted and should be checked:
- Why does creating the training data importer so much time? Are we sure that we do not read the data multiple times?
- Is reading a yaml file slower then reading some other kind of file format?
- Why do we read the NLU data and the config file twice?

[2020-11-23 15:29] Ghostvv commented on #7274
@tabergma it seems to me that `Component.prepare_partial_training` is not called anywhere. As part of this issue, should I only implement this method in all subclasses, or also call it in appropriate place?

[2020-11-23 15:33] tabergma commented on #7274
it will be called once [this PR](https://github.com/RasaHQ/rasa/pull/7298) gets approved, unfortunately still waiting for a review

[2020-11-23 15:48] huseyin01 commented on #7320
Hi @TyDunn,
Sure, here is my config.yml

[code]

[2020-11-23 15:51] TyDunn commented on #7320
@huseyin01 Thanks. That looks okay to me. Can you share your domain.yml file?

[2020-11-23 15:56] ftarlaci opened #7343 "Rasa X (local mode) removes version data in domain.yml when launched"
**Rasa version**: 2.0.2

**Rasa SDK version** 2.0.0

**Rasa X version** : 0.33.2

**Python version**: 3.7.9

**Operating system** Mac OS

**Issue**: When launching Rasa X from the terminal, `domain.yml` file changes, and the version data `version: "2.0"` from the domain file is removed.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of co

[2020-11-23 16:01] huseyin01 commented on #7320
Here it is,

[code]

[2020-11-23 16:09] santteegt opened #7344 "Empty message response when using custom payloads for socketio channel"
**Rasa version**: 2.0.2

**Rasa SDK version** (if used & relevant): 2.0.0

**Rasa X version** (if used & relevant): 0.33.2

**Python version**: 3.8.6

**Operating system** (windows, osx, ...): MacOSX

**Issue**:

I’m currently migrating my bot from Rasa 1.x to Rasa 2.x. However, sending custom payloads to a socketio channel seems to not work. The [rasa-webchat](https://github.com/botfront/rasa-web

[2020-11-24 00:15] Chariskall commented on #5052
Same problem here.

[2020-11-24 02:15] NikhilSrihari commented on #7331
@rctatman - Any updates on this?

[2020-11-24 03:53] cr33dx opened #7350 "Training a new rasa model from http-api using example provided fails."
**Rasa version**:2.0.6

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:3.8.5

**Operating system** (windows, osx, ...):osx

**Issue**: Using the [http-api](https://rasa.com/docs/rasa/pages/http-api#operation/trainModel) & example provided unable to train the model

**Error (including full traceback)**:
[code]

**Command or request that led

[2020-11-24 04:10] cr33dx commented on #7350
i guess this is causing to fail the training

https://github.com/RasaHQ/rasa/blob/c3e91670c2ae68762108560ea0b388edfbef116d/rasa/server.py#L1171

the file when saved as yaml succeeds training.

can i make a pr for it?

[2020-11-24 10:28] kalkbrennerei commented on #7320
Hi @huseyin01! Can you share your `ruamel.yaml` version please?
You can check the `ruamel` version by `pip show ruamel.yaml`

I think this is related to [#7047](https://github.com/RasaHQ/rasa/issues/7047) which was actually supposed to be fixed in `rasa 2.0.2` by increasing the minimum `ruamel` version.

[2020-11-24 11:08] wochinge commented on #7129
@Ghostvv

For clarification: You mean that one step can't contain both, `user` and `intent` key, don't you? Because mixing e2e stories with labeled stories should be fine.

I don't see the problem here. `E2EImporter` will automatically add NLU examples from the stories to the NLU training data which means we will automatically end up with the necessary NLU data (I'd argue that it's probably too le

[2020-11-24 11:22] joejuzl commented on #7129
This currently doesn't work, it throws the error in my reply above.

[2020-11-24 11:31] Batalex commented on #4341
Thanks @silvasara and @Henrike100, it works like a charm 👍
I am closing the issue.

[2020-11-24 11:31] #4341 closed

[2020-11-24 12:20] wochinge commented on #7129
Mhm, interesting that it fails for the entity encoding 🤔

[2020-11-24 12:51] alwx commented on #7333
Tensortflow 2.4.0 is still in RC (https://pypi.org/project/tensorflow/#history). Gonna update it once it's released.

[2020-11-24 13:02] Ghostvv commented on #7129
in this case you wouldn't train DIET, but we still need to call Rasa NLU training to train all the featurizers

[2020-11-24 13:37] nbeuchat opened #7355 "Checking rules validity ignores the conversation_start flag"
**Rasa version**: 2.1.0

**Python version**: 3.7.9

**Operating system**: Ubuntu

**Issue**:
I have two rules that deal with the same intent but one at the start of a conversation and one at any time in the conversation except at the start. When training, I receive a contradiction error.

Is the `conversation_start` flag checked when checking rules contradictions? Am I misunderstanding the `conver

[2020-11-24 13:44] tmbo commented on #7295
oh interesting, I do see the appeal for automated monitoring but as you said not quite practical for local debugging - at least not everywhere.

would love to hear @tczekajlo opinion on the structured logging + elk part

[2020-11-24 14:19] tczekajlo commented on #7295
I'd love to see structured logging for rasa running in a container. Current logging basically is useless without additional configuration/parser for ELK.

Also, I think it would be great if rasa has `auto` mode for logging - if `tty` is available display logging that is more user-friendly.

[2020-11-24 14:30] dakshvar22 opened #7357 "Checkout a custom branch of training data repo for model regression tests"
**Description of Problem**:
Currently, the model regression tests checks out the `master` branch of the training data [repo](https://github.com/RasaHQ/training-data/). This is sometimes limiting if we want to try running a custom configuration on a dataset as that custom configuration is not present on the `master` branch and we wouldn't want to place it there as well because the scheduled model r

[2020-11-24 14:30] dakshvar22 commented on #7357
@tczekajlo Is this feasible?

[2020-11-24 14:46] huseyin01 commented on #7320
Hi @kalkbrennerei ,
here are the versions;

[code]

[2020-11-24 16:23] kalkbrennerei commented on #7320
@huseyin01 okay, seems like you're having some issues with your dependencies. Maybe you can create a new virtual environment and install rasa from scratch. Doing that should automatically install a compatible version of `ruamel.yaml`

Please let me know if that helps!

[2020-11-24 19:47] huseyin01 commented on #7320
Hi @kalkbrennerei ,
I already installed rasa in a brand new virtual environment on the day that I opened this issue, and I didn't specify any version name for rasa. the installed version for RASA was 2, and all its dependencies were installed automatically. So, do you mean after installation rasa, should I reinstall "ruamel.yaml" with a specific version name?

[2020-11-24 22:13] martinbe1io commented on #7109
Ping any Hunt what i can do ?

[2020-11-25 00:39] github-actions[bot] opened #7359 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-11-25 02:06] XiaoLiuAI commented on #7324
@akelad I tried to train the model from the data from rasa-demo directly but got lots of error messages, then I converted them manually with the conversion commands. The conversion commands ignored the `responses` directory under data/nlu. Another possibility could be that I cloned rasa-demo too early and did not get the latest version.

By the way, could you figure out the problem from the error

[2020-11-25 06:04] buzzf commented on #7331
got the same issue,

[2020-11-25 06:22] buzzf commented on #7331
I just got this issue, and then I changed my h5py version from 3.1.0 to 2.8.0, fixed it.

[2020-11-25 07:54] akelad commented on #7324
yeah i think you need to pull the latest on master, since that's already converted to 2.0.

I am unfortunately not sure where this error is coming from, does it occur every time? And did you try running `rasa data validate` before training?

[2020-11-25 08:47] XiaoLiuAI commented on #7324
@akelad I ran `rasa data validate` before converting the data. And I once succeed in running rasa training during last week, and failed (3 times) after updating rasa to the latest version in this week. Which is quite confusing.

[2020-11-25 09:07] samsucik opened #7360 "Core featurisers should pick appropriate features for training vs testing"
**Rasa version**: 2.1

**Python version**: any

**Operating system** (windows, osx, ...): any

**Issue**:
Currently, Core tracker featurisers treat stories with both `text` and `intent` features in a wrong way. For instance, in training they allow both features to be present at the same time (only one should be present) while during prediction they throw away `text`. One unexpected way in which th

[2020-11-25 09:10] samsucik commented on #7301
Leaving this open as it should be addressed in #7360.

[2020-11-25 09:59] nbeuchat opened #7361 "Allow metadata key for nlu data other than intents (synonyms, regexes, etc.)"
**Description of Problem**: In Rasa 2.x, we can now add `metadata` to intents for custom NLU pipeline components. It would be great to have this flexibility for other NLU data such as synonyms.

I am currently building a custom synonym mapper that allows you to specify for which entity a synonym should be applied (which greatly helps for normalization). Think about having a synonym for "manchester

[2020-11-25 10:06] kaiogu opened #7362 "Optional arguments to rasa data convert are not optional"
**Rasa version**:
2.0.6
**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:
3.8.0
**Operating system** (windows, osx, ...):
ubuntu 18.04
**Issue**:
Arguments stated to be optional by the `rasa data convert xxx` help are not actually optional.

**Error (including full traceback)**:
[code]
Contrast this with the help of the same command in which

[2020-11-25 12:11] nbeuchat opened #7363 "Rasa x does not run when domain is split in multiple files in a folder"
**Rasa version**: 2.1.1

**Rasa X version**: 0.33.2 (local deployment)

**Python version**: 3.7.9

**Operating system**: Ubuntu

**Issue**:
I have my domain set up in a folder as:

[code]

Running `rasa x` gives me an error that the project is not a valid Rasa project and I do not have the option to specify my domain as I can do in `rasa train` for example.

**Error (including full traceback)**:
[

[2020-11-25 12:31] koszta5 opened #7366 "Slack Welcome message"
**Description of Problem**:
It is a generally accepted chatbot design pattern that chatbot should greet its users / give some options when the user first accesses it
https://botmywork.com/blog/chatbot-welcome-message/

**Overview of the Solution**:
When a user switches a slack window to direct messaging with the bot, bot would be informed about it and can react if it chooses so

**Examples** (if r

[2020-11-25 13:07] tttthomasssss commented on #7289
@Ghostvv do you have any datasets in mind? Otherwise I would have gone for `carbon-bot` as a start, and then potentially some of the ones we've used in the DIET paper.

[2020-11-25 14:08] Ghostvv commented on #7289
@tttthomasssss I'd start by running all our dataset through GitHub as we do it for PRs

[2020-11-25 14:43] Ghostvv commented on #7318
you can put `active_loop: some_form` in condition

[2020-11-25 14:44] degiz commented on #4969
@pranavdurai10 seems like we've already resolved this. Thanks for bringing this up! Closing the issue.

[2020-11-25 14:44] #4969 closed

[2020-11-25 14:44] Ghostvv commented on #7318
@NetBKarine why do you think the contradiction is false? Your rules are indeed contradicting

[2020-11-25 14:46] Ghostvv commented on #7318
the problem is that RulePolicy wouldn't know what to predict after `action_list_merchants` if no active_loop is set

[2020-11-25 14:50] #7273 closed

[2020-11-25 14:55] degiz commented on #7251
Hey @Devocado

Could you please elaborate on the issue? What does your training data look like?

[2020-11-25 14:57] nbeuchat commented on #7318
I think the point is that it would be great if it could be arbitrary (ie: the rule should apply if there is _any_ active loop set). For example, you could have an intent that would always do the same thing and deactivate the form if you are within a form (irrespective of which form we are talking about); if you have five forms, you need to write five times the same rules just to do that. It doesn'

[2020-11-25 14:58] degiz commented on #6293
@mjaycub added the `low` one for now, doesn't seem to be burning.

[2020-11-25 15:06] degiz commented on #7190
Hey @amardeep2006

Do you still experience the issue with Rasa Open Source `2.1.x` ?

[2020-11-25 15:11] NetBKarine commented on #7318
@Ghostvv They are not in contradiction as the first one is more precise than the second and will only match if there is no active loop, whereas the second one could match anytime (if the first one was not there). Of course, the second rule alone makes no sense, but that doesn't mean they are contradictory.

And again, it would be cleaner to have a way to make a rule matching any active loop as men

[2020-11-25 15:20] amardeep2006 commented on #7190
hi @degiz This issue is solved with RASA X 2.1.x and RASA X 0.33.1 onwards .
I can confirm docker compose works with both 0.33.1 and 0.33.2 without problem.

[2020-11-25 15:20] #7190 closed

[2020-11-25 15:33] amardeep2006 opened #7370 "Rasa X Token with plus (+) symbol causes authorization error Docker Compose method"
**Rasa version**:
RASA version 2.0.3
**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):
0.32.2
**Python version**:
3.6.8
**Operating system** (windows, osx, ...):
Windows 10 via Docker Compose method
**Issue**:
Rasa X server cannot reach rasa worker and rasa worker cannot fetch config from rasa x.

This issue is cause if there was + symbol is token generated by op

[2020-11-25 15:55] Ghostvv commented on #7318
the problem is that theoretically the second one will also match if there is no active loop, it works only due to the fact that we pick a longer rule.
I agree that in practice they are not contradicting, however from looking at them they're contradicting (because they're both applied in the same situations). For these rule snippets, the goal is to be as explicit as possible to avoid standard confu

[2020-11-25 16:07] kaiogu opened #7372 "Command given in migration guide does not exist"
**Rasa version**:
2.0.6
**Python version**:
3.8
**Operating system** (windows, osx, ...):
ubuntu 18.04
**Issue**:
Command given in Migration Guide (1.10 to 2.0, Response selectors section) does not work.
[code]

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]
This is probably only an error in the docs :)

[2020-11-25 16:24] wochinge commented on #7372
@kaiogu Could you please try with Rasa 2.1? This command was just added then (cc @m-vdb )

[2020-11-25 18:41] kaiogu commented on #7372
@wochinge Yeah I just figured that out myself and came here to close the issue 😅

I was looking in the 2.1 docs and hadn't realized that there would be changes in the migration to an older version.

[2020-11-25 18:41] #7372 closed

[2020-11-25 19:57] Devocado commented on #7251
Hi @degiz
This repo which I created to reproduce another bug will do: https://github.com/Devocado/rasa-two-stage-fallback-test

## Steps to reproduce:
- Train the assistant and start the interactive shell
- Type the first message as `hey, you`
The intent confidence should fail to reach the threshold, causing a fallback. The assistant will respond with
[code]
You will notice that I don't have an nl

[2020-11-25 20:51] roebius commented on #7350
I am using **Rasa version 2.1.1** and was able to temporarily solve the issue in my local environment thanks to @cr33dx's suggestion (waiting for an official fix of course :)
However, it seems the example provided in the[ http-api doc](https://rasa.com/docs/rasa/pages/http-api#operation/trainModel) is not working anymore, so in order to perform a complete training (NLU + Core) I had to modify the

[2020-11-26 03:29] roarnes commented on #4958
Found a work-around for when you're still serving rasa x locally and only using it for **testing/demo** purposes.

Serve your local folder that contains the image using ngrok:

    `ngrok http file://<absolute_path_to_folder>`

Copy the forwarding URL from ngrok.

Then in actions.py:

    `image = 'https://1b6ddff8651c.ngrok.io/bmc.png'
     dispatcher.utter_message(text = "Here is the image that

[2020-11-26 03:38] liniribeiro commented on #5582
I'm having the same issue.

[2020-11-26 03:59] Dobatymo commented on #7344
This one's related https://github.com/RasaHQ/rasa/issues/7083

[2020-11-26 06:38] susajsnair commented on #5239
**Key 'quick_replies' was not defined**

when i try to do
`utter_something:
  - text: "hi!"
    quick_replies:
    - title: "button 1"
      payload: "/payload1"
    - title: "button 2
      payload: `"/payload2"``

[2020-11-26 08:03] tczekajlo commented on #7357
@dakshvar22 Yes, it should be feasible 😄

[2020-11-26 08:07] #7338 closed

[2020-11-26 09:04] wochinge opened #7376 "document how to connect to external NLU"
While it's still supported by the code, [this](https://legacy-docs.rasa.com/docs/core/server/#connecting-rasa-nlu) is currently not documented.
This came up in [this forum post](https://forum.rasa.com/t/using-custom-nlu-with-rasa-x/21100/4).

[2020-11-26 09:15] kaiogu opened #7377 "Ignore comments in YAML files"
**Rasa version**: 2.1.1 **Python version**: 3.8.0 **Operating system** (windows, osx, ...): ubuntu **Issue**: Comments in yaml training files raise UserWarning. According to the error message the commented out training examples are skipped, but if yaml is the new supported training data format, valid yaml comments should be safely ignored, without a warning.

**Error (including full traceback)**:

[2020-11-26 09:53] kaiogu opened #7379 "Make error message about too few training examples more informative"
**Description of Problem**:

The message about too few **core** training examples doesn't inform of what kind of training example is needed (i.e. more intent phrasings or more stories containing the intent). It also doesn't help that the message appears right after `Training NLU model...` giving the impression that this is about nlu data.

[code]
**Overview of the Solution**:

One way to make this

[2020-11-26 10:12] tttthomasssss commented on #7289
* #7371 is benchmarking DIET from `master`
* #7375 is benchmarking DIET from `e2e`

[2020-11-26 13:37] kaiogu commented on #7379
So I tried to reproduce this on a fresh rasa init and didn't manage at first. It doesn't matter if you reduce either Core or NLU examples to 1.

What has to happen here is that there has to be either 1 Core example and 0 NLU or 1 NLU examples and no Core examples.

If you remove both completely (but keep them in your domain) the warning is gone again.

[2020-11-26 13:37] wesleyhutchinson commented on #7124
Yes. Limiting sanic as outlined above is the current work around

[2020-11-26 14:55] lilidol opened #7384 "Channel-specific responses for REST channel with using input_channel in post request"
**Description of Problem**: Our problem is simular to the [topic ](https://forum.rasa.com/t/channel-specific-utterances-not-working-using-rest-channel-and-set-the-input-channel-in-post-request/31648/1) **Overview of the Solution**: We would like to use one channel like Rest and have possibilities set other input_channel in body of user-message for getting channel-specific utterances.

**Examples**

[2020-11-26 15:50] joejuzl commented on #7322
I'm having trouble replicating this bug...
When I try it on `master` with `examples/moodbot` it seems to work correctly:

- I train with `rasa train`.
- Then I change one of the responses in `domain.yml` (e.g. the text for `utter_goodbye`)
- Then I run `rasa train` and get this:
[code]
- Then when I run `rasa shell` it works as expected, with the new response.

[2020-11-26 16:02] tttthomasssss commented on #7289
@Ghostvv results look pretty similar, the ones from `e2e` seem to be a tiny bit lower than from `master` (on `carbon-bot` and `HERMIT`), though I'd regard them within range still. The stuff from `e2e` also seems to be a bit slower (e.g. up to 2mins for `carbon-bot` and up to 5mins for `HERMIT`). But this might also due to `github`.

[2020-11-26 16:21] Ghostvv commented on #7322
oh maybe it is fixed on `master` than. I just tried on `2.0.x`, the bug is their. But if it is fixed on `master`, I guess we can close the issue

[2020-11-26 16:23] Ghostvv commented on #7322
log on `2.0.x`:
[code]

[2020-11-26 16:56] nbeuchat opened #7386 ""Save all" option in Rasa X when annotating NLU data"
**Description of Problem**:
When annotating training data using Rasa X (local mode) in the _Training data_ tab, I often find myself (ie: every time 😉) forgetting to save every individual intent/entites and having to scroll up and down to find each example I forgot to save.

**Overview of the Solution**:
I would propose two possible solutions:

- A _Save All_ button (only possible to click if there

[2020-11-26 17:19] nbeuchat opened #7387 "Rasa X story flow chart currently shows None instead of the intent name if responses are not defined in the domain"
**Description of Problem**:
When responses are not defined in the domain (because they are defined in an NLG server for example), Rasa X displays `None` which makes it hard to read.

![image](https://user-images.githubusercontent.com/8236283/100378643-c30f3e00-3013-11eb-8331-522f42d81989.png)

**Overview of the Solution**:
If no responses are found, it would be better to display the intent name in

[2020-11-26 18:15] wochinge commented on #7130
seems @tabergma fixed large parts of the printing already. However, I didn't find any tests and a couple of edge cases weren't covered. There are also weird things regarding end-to-end **test** stories in the YAML writer which confuse me. My current assumption is that the implementation for end-to-end tests on master is buggy / broken.

[2020-11-26 19:28] UTkzhang commented on #7257
Hey, our team would like to take a look at this task and work on getting a PR up. We are university students looking to contribute as part of a course.

[2020-11-26 19:28] eanile commented on #7257
+1

[2020-11-26 19:29] lymburn commented on #7257
+1

[2020-11-26 19:29] shadow-blade-X commented on #7257
+1

[2020-11-26 19:29] UTkzhang commented on #7257
@amn41

[2020-11-26 20:38] earroyoh opened #7391 "Installation process fails with dependencies errors"
https://rasa.com/docs/rasa/installation/ step-by-step installation procedure fails with dependencies errors if you just copy the pip3 command and you don't add "--use-feature=2020-resolver" to pip3 command. After adding "--use-feature=2020-resolver" to pip3 command installation finishes correctly:

debian@debian:~$ cat /etc/os-release
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Lin

[2020-11-26 20:39] earroyoh commented on #7391
Adding the recommedation "--use-feature=2020-resolver" to pip3 command solves the issue:

pip3 install rasa --use-feature=2020-resolver

[2020-11-27 06:20] amn41 commented on #7257
sounds great! thanks for getting involved, this would be a great contribution :)

[2020-11-27 08:51] #7271 closed

[2020-11-27 09:06] joejuzl commented on #7322
Hmm I can't seem to replicate it on `2.0.x` either - maybe I'm missing something. Does the bug exist for you on `master`?

[2020-11-27 09:26] TyDunn commented on #7300
@federicotdn Can we close this issue since the fix was merged?

[2020-11-27 10:35] kalkbrennerei commented on #7320
Hi @huseyin01, `pip3 install ruamel.yaml==0.16.10` should also get it to work, but it's still weird that the dependencies were not installed correctly when you installed rasa.

I am unfortunately also unable to reproduce this locally and still curious why this happens. So can you please check your version of rasa again?

[2020-11-27 10:36] federicotdn commented on #7300
Yes :+1:

[2020-11-27 10:36] #7300 closed

[2020-11-27 10:57] Ghostvv commented on #7322
same on `master`:
[code]

[2020-11-27 10:57] Ghostvv commented on #7322
my config is
[code]

[2020-11-27 11:56] tabergma opened #7393 "Update TrainingData and TrainingDataChunk"
related to #6836

Reorganize `TrainingData` and `TrainingDataChunk`. Currently `TrainingDataChunk` is a subclass of `TrainingData`. However, `TrainingDataChunk` should not make use of all the functionality available in `TrainingData`. Also `TrainingDataChunk` should not have responses set. It should just have `training_examples`.

Switch the inheritance (e.g. `TrainingDataChunk` is subclass of `Tr

[2020-11-27 11:59] tabergma opened #7394 "Implement train_in_chunks on classifiers"
related to #6836

Implement the method `train_chunk` on all classifiers and entity extractors.

Make sure to raise an error when `train_chunk` on components is called that cannot handle training in chunks, e.g. `CRFEntityExtractor`. This happened already for most components, but should be double checked.

Most likely we also need to update the `RasaModel` interface for training as we don't want to

[2020-11-27 13:04] #7274 closed

[2020-11-27 13:04] #7277 closed

[2020-11-27 13:10] tabergma opened #7395 "Store and load DialogueStateTrackers"
related to #6836

When we create `DialogueStateTrackers` from stories, we need to resolve checkpoints and augment stories. This can potentially lead to out of memory issues.
We should make sure to write `DialogueStateTrackers` to disk as soon as they are complete/finished. We would also need a method that allows us to load a `DialogueStateTracker` from disk again given a file name.

This should on

[2020-11-27 13:16] tabergma opened #7396 "Implement train in chunks for Core"
related to #6836

If we train in chunks we need to train the policies one by one.
For every policy, read x number of stored `DialogueStateTrackers` from disk. We know how many `DialogueStateTrackers` we have and how much chunks we want to use, so we can calculate x.
Train the policy using the current data chunk.
After training is finished, save the policy to disk (if needed).

[2020-11-27 14:37] joejuzl commented on #7322
Just to confirm you are changing a response text in `domain.yml` right?

e.g:

[code]

to

[code]

Because even with the config above it does not break for me...

[2020-11-27 15:47] Ghostvv commented on #7322
I don't have quakes though:
[code]
[code]

[2020-11-27 15:59] Ghostvv commented on #7289
Great! then I think we can close the issue, @tabergma do you have any other tests in mind?

[2020-11-27 16:01] #7276 closed

[2020-11-27 16:03] tabergma commented on #7289
Great, no, I think that should be sufficient.

[2020-11-27 16:20] #7289 closed

[2020-11-27 18:20] huseyin01 commented on #7320
Hi @kalkbrennerei ,

My rasa version is  **rasa==2.0.2**

[2020-11-28 09:30] koszta5 opened #7401 "Add support for JSON to YML nlu conversion"
**Description of Problem**: Currently by looking into rasa.nlu -> convert.py only 2 supported formats are JSON and MD; but YML format seems to be the new default for everything in newer versions. Since some tools like chatito ([https://rodrigopivi.github.io/Chatito/](https://rodrigopivi.github.io/Chatito/)) generate JSON; it is beneficial to have support for 2YML conversion in rasa

**Overview of

[2020-11-28 11:24] gaushh opened #7403 "Docker image of Rasa X not getting pulled which installing via One Line Deploy Script"
**Rasa version**:

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant): 0.33.2

**Python version**:

**Operating system** (windows, osx, ...): ubuntu 18.04

**Issue**:

in ec2 instance, all pods except rasa-app pod get created successfully.

**Error (including full traceback)**:
[code]
![imagepullbackoff](https://user-images.githubusercontent.com/52091771/100514367-

[2020-11-28 19:24] UTkzhang commented on #7257
@amn41  could you assign it to us under doing in the contributor board please :)

[2020-11-28 23:24] konandavy commented on #3577
It worked for me but when i click on the external link and enter the code it says wrong credentials

[2020-11-29 00:43] github-actions[bot] opened #7405 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-11-30 07:12] howl-anderson opened #7406 "LM tokenizer can't handle whitespace token"
**Rasa version**: 2.1.1

**Python version**: 3.7.6

**Operating system** (windows, osx, ...):  Ubuntu 18.04.5 LTS

**Issue**:
when the training sample has " " (whitespace char) inside, e.g. '你好，我是 Silly，一个专注天气预报的对话机器人。'.
`rasa train` will raise  ValueError: not enough values to unpack (expected 2, got 0)

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code

[2020-11-30 08:40] wochinge commented on #3577
@konandavy Can you please create a new issue and provide some information about your deployment like OS and Rasa X version?

[2020-11-30 08:48] wochinge opened #7408 "Create endpoint for cross-validation"
Create an endpoint for running a cross-validation as described in the implementation proposal for intent insights [here](https://www.notion.so/rasa/Implementation-Proposal-ff4f5cb9c37e43edac4552647af7dbc2#c060672e87cd4fd891cb1643b76b96a1).

**Todos**:
- [ ] Update API spec
- [ ] add endpoint to run cross-validation
   - by default it's a synchronous call and the response / error is returned in the

[2020-11-30 09:18] joejuzl commented on #7322
Could you put the whole bot on a git branch for me? There must be something else in the domain causing this that isn't in the example bot I'm using.

[2020-11-30 09:44] howl-anderson opened #7409 "Improve the warning message when entity misaligned"
**Description of Problem**:
When entity misaligned, the warning message such like below:

[code]

is not helpful.

**Overview of the Solution**:

Warning message such like below:

[code]

will be very helpful.

---

I will submit a PR for this feature later.

[2020-11-30 10:19] dakshvar22 opened #7411 "`rasa test` uses predictions of `IntentTEDPolicy`"
**Description of Problem**:
Part of https://github.com/RasaHQ/research/issues/122.

Currently, `rasa test` outputs a file with all stories where the policies failed to predict the correct action. The wrongly predicted action is annotated as -

[code]
`IntentTEDPolicy` if present in the pipeline flags unlikely user turns by predicting the action `action_unlikely_intent`. `rasa test` should factor i

[2020-11-30 10:37] dakshvar22 opened #7412 "IntentTEDPolicy: Add a parameter `tolerance` to configuration"
**Description of Problem**:

If we look at the distribution of similarity values predicted by `IntentTED` for a single intent, it would look something like this -

![distribution_plot](https://user-images.githubusercontent.com/8708249/100598446-bc8b0a00-3324-11eb-8546-ae8b49faa8a5.png)

The blue bars show similarity values predicted for all input trackers where the intent `install_rasa` was the po

[2020-11-30 11:01] dakshvar22 opened #7413 "Refactor CountVectorizer and ML components to support incremental training"
Part of https://github.com/RasaHQ/rasa/issues/6971

- [x] Add buffer tokens to vocabulary of `CountVectorsFeaturizer` and `RegexFeaturizer` which can be used during incremental training.
- [x] Load `DIET`, `ResponseSelector` and `TED` from previously trained checkpoints so get them ready for further fine-tuning.
- [x] Add tests for the above.

The logic for first two are already implemented in thi

[2020-11-30 11:48] #7306 closed

[2020-11-30 12:09] akelad commented on #7318
I think we should allow for this option, but we should maybe phrase these conditions differently. E.g. `active_loops: any`, `active_loops: loop_1`, `active_loops: loop_1, loop_2`. Something like that?

[2020-11-30 12:18] nbeuchat commented on #7318
It would be great to have the same syntax for slots too (especially for non-text slots like float, boolean, etc.)!

[2020-11-30 12:23] #7294 closed

[2020-11-30 14:52] akelad commented on #7318
@nbeuchat can I ask what you mean by that? The condition already supports slot set events I believe

[2020-11-30 15:01] konandavy commented on #3577
ok no problem

[2020-11-30 15:02] nbeuchat commented on #7318
What I'm referring to is the syntax with the `any` keyword. If my understanding is correct, you cannot have a condition "the slot was set to any value except null" for slots like `float`, `bool`, custom, etc. Isn't it? It might be a misunderstanding on my side but my feeling is that if you could have:

[code]

It would be very explicit that this slot is set to something but the value does not matt

[2020-11-30 15:05] konandavy opened #7414 "Wrong credentials after installing RASA X (Docker-Compose)"
**Rasa X version**: 0.33.2

**Python version**: 3.6

**Operating system** (windows, osx, ...): Windows but im using ubunto 16.04 on a Google cloud P. Virtual machine

**Issue**: I did everything from the masterclass 9 about setting up rasa X using docker. When I go launch rasa x and put the password it says wrong credentials. I updated my password still the same issue.

**Error (including full tra

[2020-11-30 15:27] akelad commented on #7318
ah right, you are correct, thanks for explaining!

[2020-11-30 15:38] dakshvar22 commented on #7329
@wochinge @joejuzl Do you folks know how the `load` method for each ML component will be called during finetuning? For example, would there be an extra parameter passed to `load` function of the components to load them in "finetune" mode and also pass other configurations parameters like number of epochs? [Here's](https://github.com/RasaHQ/rasa/blob/incremental_training/rasa/nlu/model.py#L176) how

[2020-11-30 16:17] Ghostvv commented on #7318
@nbeuchat we cannot do it for slots like `categorical`, `bool`, etc. Because the value of these slots affect their features, so we need the value to create training data

[2020-11-30 16:21] Horizon733 opened #7416 "Rasa x domain section tab and space bug"
***Also like to tag along @koaning he was the one to whom I showed this when we where in workshop for Rasa chatbot organized by Me in India. *Rasa version**: 2.0.2

**Rasa SDK version** (if used & relevant): 2.1.2

**Rasa X version** (if used & relevant): 0.33.2

**Python version**: 3.8.5

**Operating system** (windows, osx, ...): Windows

**Issue**: When used spaces in domain section rasa x recog

[2020-11-30 17:29] dakshvar22 commented on #6971
@wochinge @joejuzl Created a shared branch named [`continuous_training`](https://github.com/RasaHQ/rasa/tree/continuous_training) for us to merge our respective PRs into.

[2020-11-30 23:03] nys99 opened #7420 "custom action_session_start can't access user message metadata"
**Rasa version**: 2.1.1

**Rasa SDK version** (if used & relevant): 2.1.2

**Rasa X version** (if used & relevant): n/a

**Python version**: 3.7.9

**Operating system** (windows, osx, ...): ubuntu 20.04

**Issue**:
Same issue as: https://github.com/RasaHQ/rasa/issues/6348

"Trying to pass metadata to slots using action_session_start; the events key on the tracker data, on the action server request

[2020-12-01 03:05] h4de5 commented on #4602
@ThWoywod can you explain how you did this?

[2020-12-01 04:37] UTkzhang commented on #7257
our pr is also up: https://github.com/RasaHQ/rasa/pull/7404

[2020-12-01 07:36] howl-anderson opened #7421 "Lookup table doesn't support Chinese and other un-whitespace-splittable languages correctly"
**Rasa version**: 2.1.1

**Python version**: 3.7.6

**Operating system** (windows, osx, ...): Ubuntu 18.04.5 LTS

**Issue**:
When the user provides a lookup table, such as:

[code]

It will turn to the regex expression `(\\b上海\\b|\\b北京\\b)` eventually.

Unfortunately, Chinese and other un-whitespace-splittable languages usually don't have whitespace inside the text, so `\\b` usually doesn't match.

[2020-12-01 08:49] sara-tagger commented on #7350
Thanks for raising this issue, @dakshvar22 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-01 08:49] sara-tagger commented on #7355
Thanks for raising this issue, @koernerfelicia will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-01 08:49] sara-tagger commented on #7344
Thanks for raising this issue, @joejuzl will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-01 08:49] sara-tagger commented on #7343
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-01 08:51] sara-tagger commented on #7421
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-01 08:51] sara-tagger commented on #7420
Thanks for the issue, @amn41 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-01 08:51] sara-tagger commented on #7416
Thanks for the issue, @joejuzl will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-01 08:51] sara-tagger commented on #7414
Thanks for the issue, @ArjaanBuijk will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-01 08:51] sara-tagger commented on #7409
Thanks for submitting this feature request 🚀 @erohmensing will get back to you about it soon! ✨

[2020-12-01 08:51] sara-tagger commented on #7406
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-01 08:51] sara-tagger commented on #7403
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-01 08:51] sara-tagger commented on #7401
Thanks for submitting this feature request 🚀 @alopez will get back to you about it soon! ✨

[2020-12-01 08:51] sara-tagger commented on #7391
Thanks for raising this issue, @samsucik will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-01 08:51] sara-tagger commented on #7387
Thanks for submitting this feature request 🚀 @TyDunn will get back to you about it soon! ✨

[2020-12-01 08:51] sara-tagger commented on #7386
Thanks for submitting this feature request 🚀 @Tawakalt will get back to you about it soon! ✨

[2020-12-01 08:51] sara-tagger commented on #7384
Thanks for submitting this feature request 🚀 @dakshvar22 will get back to you about it soon! ✨

[2020-12-01 08:51] sara-tagger commented on #7377
Thanks for raising this issue, @koaning will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-01 08:51] sara-tagger commented on #7379
Thanks for submitting this feature request 🚀 @Ghostvv will get back to you about it soon! ✨

[2020-12-01 08:51] sara-tagger commented on #7370
Thanks for raising this issue, @tttthomasssss will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-01 08:51] sara-tagger commented on #7363
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-01 08:51] sara-tagger commented on #7366
Thanks for submitting this feature request 🚀 @akelad will get back to you about it soon! ✨

[2020-12-01 08:51] sara-tagger commented on #7362
Thanks for the issue, @amn41 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-01 08:51] sara-tagger commented on #7361
Thanks for submitting this feature request 🚀 @joejuzl will get back to you about it soon! ✨

[2020-12-01 09:02] koaning commented on #7377
Ah yeah. This is where yaml syntax gets tricky. Technically you've not provided a comment.

![image](https://user-images.githubusercontent.com/1019791/100718585-cf9ce900-33bb-11eb-943f-6b9d137ff8c1.png)

The bar character is telling yaml to accept the following lines as if it is a text blob. More info [here](https://stackoverflow.com/questions/15540635/what-is-the-use-of-the-pipe-symbol-in-yaml).

[2020-12-01 09:23] joejuzl commented on #7329
@dakshvar22 I haven' started looking at this area of the code yet (working on https://github.com/RasaHQ/rasa/issues/7330 first) so it's hard for me to say. @wochinge Any opinions/thoughts?

[2020-12-01 09:48] #3998 closed

[2020-12-01 09:49] joejuzl commented on #7330
labels:

Is there anything in `domain.yml` that we _are_ able to change?

[2020-12-01 10:04] kaiogu commented on #7377
Good ol' It's a feature got me again :)

So you are parsing the contents of `examples` as a big string separately. What is confusing is that the contents of the string look just like valid yaml.

 I would also be interested in knowing the reason for not just using regular lists.

[2020-12-01 10:11] tmbo commented on #7343
mhm I don't think that is intended. @degiz do you know why this might be happening?

[2020-12-01 10:48] dakshvar22 commented on #7384
@degiz Can you please take a look at this?

[2020-12-01 10:49] dakshvar22 commented on #7350
@federicotdn Could you please review this issue?

[2020-12-01 10:51] TyDunn commented on #7387
Hi @nbeuchat. This is a good point. I added it to the backlog of one of our engineering squads 👍

[2020-12-01 11:16] tmbo commented on #7295
what information would we log if we'd use something like the mentioned `structlog` to work with ELK? e.g. are there default attributes we should log or is it completely up to us?

[2020-12-01 11:23] erohmensing commented on #7409
Thanks for the PR, sounds like a good enhancement!

[2020-12-01 11:25] Ghostvv commented on #7379
this message comes from nlu, it means that you have only one nlu example for intent `out_of_scope`. Core stories don't influence it

[2020-12-01 11:32] tczekajlo commented on #7295
It's up to us. If we would use JSON format as well there are `ts` and `msg` fields. Here is a short blogpost about structured logs in the Kubernetes https://kubernetes.io/blog/2020/09/04/kubernetes-1-19-introducing-structured-logs/ (might brings some ideas)

[2020-12-01 11:35] nbeuchat commented on #7355
Forgot to close this issue, I oversimplified the example here! The problem was with a slot somewhere.

[2020-12-01 11:35] #7355 closed

[2020-12-01 11:58] #7094 closed

[2020-12-01 12:39] vanshkapil commented on #7251
Facing the exact same issue

[2020-12-01 12:47] kaiogu commented on #7379
@Ghostvv
To reproduce:

1. fresh `rasa init`
2. remove all but one examples from a particular intent in data/nlu.yml
3. `rasa train`-> no warning raised
4. remove all usages of the intent in data/stories.yml
5. `rasa train` -> gives the warning

[2020-12-01 13:20] edmacovaz commented on #7386
@nbeuchat Thanks for the suggestions! We're currently looking at some improvements to the NLU Inbox workflows, so I'll add this to the list of things for the team to consider.

One small clarification: by "examples that are not saved yet" do you mean examples in the NLU inbox where the predicted entities or intents have been changed, but not saved to your training data?

[2020-12-01 13:28] RickyvdBerg commented on #7251
Same issue occurred on version 2.1.2. Everything is default from the "normal" example except for the language. I'm using a SpacyNLP Dutch model.

[2020-12-01 14:27] #6410 closed

[2020-12-01 14:52] nbeuchat commented on #7386
Hi @edmacovaz! In this case, I was talking about the _NLU Training Data_ (not the NLU inbox as I was reannotating old training data). I suppose something similar would work for the NLU Inbox.

Exactly, the intent and/or entities have been changed but I haven't clicked yet on the "save" icon next to the example.

[2020-12-01 14:52] nbeuchat commented on #7387
Hi @TyDunn! Sweet, thanks!

[2020-12-01 18:21] wochinge commented on #7391
I just installed `rasa==2.1.2` using `pip==20.3` in a clean venv using Python 3.8.6, and I'm not getting any error.

[code]

@earroyoh This issue arises as `pip` is not able to resolve conflicts properly when not using the new dependency resolver (`--use-feature=2020-resolve`). This is caused by the existing dependencies on your machine. I'd recommend to install `rasa` in a clean virtual env (e.g.

[2020-12-01 18:21] #7391 closed

[2020-12-01 18:31] rgstephens commented on #5817
NLU test json output:

`DIETClassifier_errors.json` - entity classification errors
`DIETClassifier_report.json` - entity extraction f1, precision, recall summary
`intent_errors.json` - intent error details
`intent_report.json` - intent precision
`RegexEntityExtractor_errors.json` - errors
`RegexEntityExtractor_report.json` - details

Story json output:

`story_report.json` - precision

[2020-12-01 18:33] rgstephens commented on #5783
Closing this as duplicate of #5817

[2020-12-01 18:33] #5783 closed

[2020-12-01 23:55] UTkzhang commented on #7257
@amn41 sorry, could any maintainer help us add this issue to the board and assign it to us ? Thanks!

[2020-12-02 00:42] github-actions[bot] opened #7428 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-12-02 01:33] eanile commented on #4487
Since this issue has been inactive for some time, may I work on it?

[2020-12-02 05:19] kishanmaharaj opened #7431 "can't install rasa-nlu on ubuntu 20.04"
**Rasa version**: 2.0.6

**Rasa SDK version** (if used & relevant): 2.0.0

**Rasa X version** (if used & relevant):None

**Python version**:3.8.5

**Operating system** : Ubuntu 20.04

**Issue**:
I can't install rasa-nlu

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]
**Already attempted**:
[code]

**Content of configuration file (config.yml)** (if re

[2020-12-02 07:00] sara-tagger commented on #7431
Thanks for raising this issue, @koaning will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-02 09:30] amn41 opened #7432 "Prepare for Messenger API updates on December 16 2020"
**Description of Problem**:

Received the following information from Facebook:

Documentation is [here](https://developers.facebook.com/docs/messenger-platform/europe-updates)

**Overview of the Solution**: TBD, but we'll definitely have to update docs and potentially defaults.

**Definition of Done**:

*   [ ] Feature described the docs
*   [ ] Feature mentioned in the changlog

[2020-12-02 09:53] Yattus opened #7433 "KeyError: 'e2e' for SAVE_IN_E2E = server_args["e2e"] || File python3.7/site-packages/rasa/core/training/interactive.py", line 1691, in run_interactive_learning"
When I run: `python train_online.py`, I get this error:

Traceback (most recent call last):
  File "train_online.py", line 44, in <module>
    interactive.run_interactive_learning(agent)
  File "/home/alassane/Code/JimBot/chatbot-app/env/lib/python3.7/site-packages/rasa/core/training/interactive.py", line 1691, in run_interactive_learning
    SAVE_IN_E2E = server_args["e2e"]
KeyError: 'e2e'

**Fil

[2020-12-02 11:25] wochinge commented on #6971
@dakshvar22 cc @joejuzl Can we finetune a core model when NLU was finetuned previously? Or do we have to train Core from scratch as the featurization of messages will change?

[2020-12-02 11:28] dakshvar22 commented on #6971
Not sure if I understand the case completely. Do you mean that `rasa train nlu finetune` was run and then `rasa train core finetune` was run?

[2020-12-02 12:10] wochinge commented on #6971
1. We run `rasa train --finetune`
2. NLU model is finetuned
3. Do we now finetune the core model or do we train it from scratch?

[2020-12-02 12:18] dakshvar22 commented on #6971
Ohh, we can finetune the core model as long as we are inside our current constraints, i.e. no change to labels(intents, actions, slots, entities, etc.). Why do you think we would need to train it from scratch?

[2020-12-02 12:31] joejuzl commented on #7416
Hi @Horizon733 technically tabs are actually forbidden in yaml, see: https://yaml.org/faq.html.

[2020-12-02 12:34] dakshvar22 commented on #7329
@joejuzl @wochinge Making a proposal to see if we can reach to a consensus quickly on the above question:

1. New number of epochs get changed inside the `meta` parameter that is passed to the `load` method of all components.
2. Add a boolean parameter to `load` method - `finetune_mode` which is set to `True` if the component is loaded in finetune mode.

What do you folks think?

[2020-12-02 12:35] pawarashmitha opened #7437 "asyncio - Task exception was never retrieved"
im using python 3.7

 ERROR    asyncio  - Task exception was never retrieved
future: <Task finished coro=<configure_app.<locals>.run_cmdline_io() done, defined at d:\rasa\example\rasa\lib\site-packages\rasa\core\run.py:132> exception=ClientResponseError(RequestInfo(url=URL('http://localhost:5005/webhooks/rest/webhook?stream=true&token='), method='POST', headers=<CIMultiDictProxy('Host': 'localhost

[2020-12-02 13:00] sara-tagger commented on #7437
Thanks for the issue, @TyDunn will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-02 13:00] sara-tagger commented on #7433
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-02 13:01] Horizon733 commented on #7416
But in Domain file it doesn't so that's why. If we keep just spaces or both(tabs and spaces) in both places then there won't be this error.

[2020-12-02 13:15] vanshkapil commented on #4479
@tangochris  Did you manage to fix implementation of Dashbot with RASA X ? if yes, could you please help with some sample code. Thanks

[2020-12-02 14:40] tmbo commented on #7431
@tczekajlo you were looking into ubuntu 20 the other day, any chance it was due to this error?

[2020-12-02 14:53] degiz commented on #7343
That's a bug inside `RasaX` indeed. Thanks for reporting that @ftarlaci !!

[2020-12-02 14:55] tmbo commented on #7350
@roebius @cr33dx out of curiosity, why do you want to train through the HTTP API?

[2020-12-02 14:59] tmbo commented on #7327
Wait so your rasa version is 2.1.1 and in your file you added `version: "2.0"`? just to double check as that means something is wrong with the check in the code

[2020-12-02 15:06] akelad commented on #7318
i need github to add a 🙃 reaction please

[2020-12-02 15:25] roebius commented on #7350
@tmbo I am prototyping a chatbot generator able to create/update a chatbot from a Python script. NLU data are scraped by the script from a web site. The Python script is preparing the training data and activating training through the HTTP API, in order to replace the active model of the deployed Rasa chatbot with the newly generated model.
I understand this can be entirely accomplished using CI/CD

[2020-12-02 15:32] joejuzl commented on #7416
Are you sure that your tabs are not being converted to spaces by your editor?

I get this error when I run `rasa train` with a domain file containing tabs:
[code]

[2020-12-02 15:33] joejuzl commented on #7416
Although I do agree that it's a bit weird that the yaml editor in rasa x allows tabs but then fails like that.

[2020-12-02 15:33] Horizon733 commented on #7416
Yes Because when I and Vincent Checked the editor showed us Tabs and not spaces

[2020-12-02 15:39] joejuzl commented on #7416
Try with this:
[code]

[2020-12-02 16:25] Horizon733 commented on #7416
This provides more than 2 spaces

[2020-12-02 18:41] nbeuchat commented on #7327
@tmbo that's right. I resorted to just using `"2.0"` for now

[2020-12-03 07:11] amn41 opened #7441 "make it easier to find supported python versions"
**Description of Problem**:
The place I know to find our supported versions is in our [CI setup](https://github.com/RasaHQ/rasa/blob/master/.github/workflows/continous-integration.yml#L191). This should be mentioned in the installation page of the docs.

**Definition of Done**:
- [ ] Docs updated, ideally with supported versions read dynamically from the codebase

[2020-12-03 07:29] billydevyt commented on #3606
the  issue is fixed [here](https://github.com/aio-libs/aiohttp/issues/3672)

[2020-12-03 09:46] joejuzl commented on #7416
Try loading it in python and see what characters you can find.

[2020-12-03 09:58] Horizon733 commented on #7416
2 tabs thats equal to 4 spaces in python 3.7 IDE

[2020-12-03 10:10] tczekajlo commented on #7431
It looks like `matplotlib` in the 2.2.5 version uses the `platform.linux_distribution` function, Python 3.7 onwards have no longer `platform.linux_distribution()` (https://bugs.python.org/issue1322). The `matplotlib` removed the `platform.linux_distribution` function.

The only solution here that I see is to use python 3.6 if you wanna run the rasa-nlu on Ubuntu 20.

[2020-12-03 10:11] joejuzl commented on #7416
[code]

The `\t` character represents a tab. It is a special character, different from a space. See how I can use `expandtabs` to replace it with any number of spaces?

[code]

And if I try to parse it using yaml:
[code]

I get an error.

[2020-12-03 10:16] Horizon733 commented on #7416
oh I see so what if we remove the tab option everywhere so, this issue won't arrive

[2020-12-03 10:17] Horizon733 commented on #7416
Whenever the domain orany yml is ran it needs to be checked for tabs. For example, when running rasa train

[2020-12-03 10:18] joejuzl commented on #7416
Yeah I think what makes it confusing is that it lets you input tabs in the rasa x UI. And then it doesn't highlight it as an error until you save it.

Do you think it would be clearer if it showed a warning as soon as you entered a tab character?

[2020-12-03 10:22] Horizon733 commented on #7416
Yep that too is great idea. This will work, also some might say like tab works with Rasa and not in Rasa x GUI. So, tab checking needs to be there in Rasa.
What do you think?

[2020-12-03 10:24] joejuzl commented on #7416
I think that the reason the tabs seem to work for you with rasa is that your IDE is converting them to spaces when you save. And if you were to load the raw text you would see that it actually contains spaces.

[2020-12-03 10:25] Horizon733 commented on #7416
Yeah that might be the case. So, better idea just to show up warning in Rasa x GUI.

[2020-12-03 10:28] Horizon733 commented on #7228
Hi, its been a while, Can anyone follow up on adding this doc

[2020-12-03 10:51] joejuzl commented on #7379
I think the problem here is that we are using `TrainingData.training_examples` to determine the number of examples per intent (`number_of_examples_per_intent`).

However `training_examples` also includes data from `core` - this is where the inconsistent behaviour comes from.
Having at least one story with an intent increases the number by one, thus often pushing it over the min of 1 when running `

[2020-12-03 11:07] Ghostvv commented on #7379
why? it shouldn't affect number of examples for this intent, the examples with only intent label (without text) is not used in training of the classifier for this intent

[2020-12-03 11:21] joejuzl commented on #7379
It comes from `E2EImporter._additional_training_data_from_stories`. Although I am not entirely sure why.

[2020-12-03 11:44] dakshvar22 commented on #7357
@tczekajlo Awesome, looking forward to being able to use it. I think that would help the research team automate a lot of custom pipeline tests without having to even bring up any GCP instances manually!

[2020-12-03 14:56] kaiogu opened #7444 "Default action leads to error"
**Rasa version**:
[code]

**Issue**:
I'm trying to implement Two-Stage-Fallback on rasa x local mode. I followed the [instructions in the docs](https://rasa.com/docs/rasa/fallback-handoff#two-stage-fallback) but they are not enough to get the two stage fallback to work.

I get the following error on the actions server
[code]

And the next one in rasa x:
[code]

**Command or request that led to err

[2020-12-03 14:58] kaiogu opened #7445 "rasa x --help: wrong information"
**Rasa version**:
[code]
**Issue**:
Starting rasa x with no `--endpoints` option still makes rasa talk to my action server.
rasa x --help informs me that the default for '--endpoints' is None.

So the default seems to actually be a 'endpoints.yml' file

[2020-12-03 15:57] joejuzl commented on #7329
@dakshvar22 So the solution we have come up with (today!) is as follows:

For NLU:
- In `Interpreter.load` we pass in the new config along with the old model.
- `Interpreter.load` updates the old metadata with the new epochs and calls `Interpreter.create` with a flag `should_finetune`.
- ` Interpreter.create` sets `should_finetune` in the context which gets passed to each component.

[2020-12-03 16:04] dakshvar22 commented on #7329
@joejuzl Perfect! Small clarification:

The context dictionary is what will be passed as part of the `kwargs` argument of `load()` methods of each component?

[2020-12-03 16:06] joejuzl commented on #7329
Yes exactly, via `component_builder.load_component`

[2020-12-03 16:37] joejuzl commented on #7329
For Core:
- The new config is passed from `Agent.load` -> `PolicyEnsemble.load`.
- Then the part of the new config for each policy is passed into its respective `load` which passes the new epochs into its constructor.
- Still not clear exactly how the `should_finetune` flag will be passed around. I guess through the same path @wochinge ?

[2020-12-03 17:26] amardeep2006 commented on #7191
Tested today with new release. The issue is still present with RASA X 0.34.0 and RASA 2.1.2 combination.

[2020-12-03 17:56] nbeuchat commented on #7432
If you need an unhappy Messenger API user to discuss that topic, ping me! 😂

[2020-12-03 18:08] wochinge commented on #7329
@dakshvar22 Our current approach would be to provide `should_finetune` through the constructor. The alternative would be to do so when calling `train`. Do you have preferences?

[2020-12-03 18:16] dakshvar22 commented on #7329
@wochinge Do you mean for Core specifically or NLU components also?
Either ways, we don't need it when calling `train`. It definitely has to be passed to the `load()` method of the ML components(`DIETClassifier`, `TEDPolicy`) so that the model weights can be instantiated in "training" mode and then `load()` would pass this parameter to the constructor anyways. If you want to see an example of what

[2020-12-04 02:31] gstaxy commented on #7437
I am running into the exact same issue with the same message, even on a brand new project launched with rasa init and trained once using Python 3.7.9 / Rasa  2.1.2.

[2020-12-04 03:43] gstaxy commented on #7437
I had the exact same error. After trying a few solutions, it ended up being a problem with Docker starting up automatically when I was booting my computer. Turned it off, rebooted, and problem fixed.

[2020-12-04 07:00] sara-tagger commented on #7444
Thanks for the issue, @amn41 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-04 07:00] sara-tagger commented on #7445
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-04 09:06] samsucik opened #7450 "Rule applicability depends on slot values when initial_value is used"
**Rasa version**: 2.1.2

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.8.5

**Operating system** (windows, osx, ...): Mac

**Issue**:
When using `initial_value` for some slot `s` whose value influences the conversation, rules that aren't written as depending on a specific value of `s` are still constructed such that they are conditioned

[2020-12-04 09:38] EmmaWightman commented on #7228
Hey @Horizon733

These tutorials are awesome, and I believe they are very useful for the community! However, the docs is probably not the best place for them to live, since they reference specific software, libraries and experience.

I would still like to establish a centralized space for this to live, so that the community can still easily find and use them. This means we would still need to work

[2020-12-04 09:40] Horizon733 commented on #7228
Yeah sure thanks ☺️

[2020-12-04 09:41] TyDunn commented on #7437
@pawarashmitha Does what @gstaxy describes also resolve your issue?

[2020-12-04 10:00] #6260 closed

[2020-12-04 10:18] erohmensing commented on #7445
Good point @kaiogu! Would you like to contribute a PR to fix this?

[2020-12-04 10:25] joejuzl commented on #6670
Added this to 2.2 milestone, I think this issue provides enough of an overview that we don't need the e2e milestone.

[2020-12-04 10:31] tabergma commented on #7167
related to https://github.com/RasaHQ/rasa/issues/7421

[2020-12-04 11:58] kaiogu commented on #7445
@erohmensing Sure, I'll give it a try after the weekend.

[2020-12-04 11:59] ericZYZ opened #7454 "Cross validation results inconsistency"
**Rasa version**: 2.0.2

**Rasa SDK version** (if used & relevant): 2.0.0

**Rasa X version** (if used & relevant): 0.33.2

**Python version**: 3.6.10

**Operating system** (windows, osx, ...): Linux

**Issue**:
Rasa cross validation test results inconsistency.

**Error (including full traceback)**:
I can't seem to fully understand the test reports generated by rasa cross-validation test. For exam

[2020-12-04 12:00] kaiogu commented on #7444
I tried it on a fresh init and I think I found the culprit: Two-Stage-Fallback seems to only be available in English.

I might have a go at fixing this after the weekend.

[2020-12-04 12:22] amn41 commented on #7444
thanks for the heads up! would be an awesome contribution :)

[2020-12-04 13:00] sara-tagger commented on #7454
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-04 13:24] Ghostvv commented on #7129
@joejuzl can we close this issue?

[2020-12-04 13:47] #7129 closed

[2020-12-04 15:39] erohmensing commented on #7377
I believe there was a conscious decision not to accept yaml lists, but I'm not sure -- @degiz is the 2.0 yaml expert 🤓

[2020-12-04 18:51] koernerfelicia commented on #7454
Hello @ericZYZ!
I don't **think** this is an error, but let me try to explain what's going on!

The different types of `avg` you see in the `intent_report.json` come from `sklearn.metrics`. You can read more about them in the documentation linked in the [method](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html)  that produces them [here](https://scikit-l

[2020-12-04 21:27] nbeuchat opened #7460 "Rasa X changes the order of the form slots mapping"
**Rasa version**: 2.1.1

**Rasa SDK version**: 2.1.1

**Rasa X version**: 0.34.0

**Python version**: 3.7.9

**Operating system**: Ubuntu

**Issue**:
When starting Rasa X, the order of the slot mappings defined for forms in the domain file is automatically changed so that they are sorted alphabetically. Given that the order of the mapping changes the order in which the questions are asked by the b

[2020-12-04 22:19] #6360 closed

[2020-12-04 22:19] #6356 closed

[2020-12-04 22:19] #6379 closed

[2020-12-04 22:19] #6387 closed

[2020-12-04 22:19] #6241 closed

[2020-12-04 22:19] #6425 closed

[2020-12-04 22:19] #6332 closed

[2020-12-04 22:19] #4737 closed

[2020-12-04 22:19] #6217 closed

[2020-12-05 00:43] github-actions[bot] opened #7461 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-12-05 03:55] Ahmed7fathi commented on #5052
wow don't say this is a DeadEnd

[2020-12-05 19:45] aleronupe opened #7462 "Interactive story counter doesn't update"
**Rasa version**: 2.1.1

**Python version**: Python 3.7.9

**Operating system** (windows, osx, ...): Linux

**Issue**: The number of each interactive story generated does not update between executions of the `rasa interactive ` command, because the counter used at ` _write_stories_to_file` function at `rasa/training/interactive.py` does not recognize previous interactive stories generated.

**Erro

[2020-12-06 00:45] github-actions[bot] opened #7463 "Security Alert"
## app/poetry.lock
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|Segfault in `tf.quantization.quantize_and_dequantize`|HIGH|CVE-2020-15265|tensorflow|2.3.1|2.4.0|https://github.com/advisories/GHSA-rrfp-j2mp-hq9c<br>https://github.com/tensorflow/tensorflow/commit/eccb7ec454e6617738554a255d77f08e60ee0808<br>https://github.com/tensor

[2020-12-06 09:57] metal3d opened #7464 "Dependency not satisfied using pipenv and pip"
**Rasa version**: 1.10.2

**Python version**: 3.9.0

**Operating system** (windows, osx, ...): Linux Fedora 33

**Issue**:
`pipenv` uses `pip` to install rasa and dependencies. But it fails with tensorflow-addons and/or tensorflow.

**Error (including full traceback)**:
[code]
With pip:

[code]

**Command or request that led to error**:
[code]

[2020-12-06 10:13] metal3d commented on #7464
It seems that the problem is the Python version, using python 3.7 seems to be better excepting the same problem than #7124 issue.

[2020-12-07 07:00] sara-tagger commented on #7464
Thanks for the issue, @b-quachtran will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-07 07:00] sara-tagger commented on #7462
Thanks for raising this issue, @kalkbrennerei will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-07 07:00] sara-tagger commented on #7460
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-07 08:35] metal3d commented on #7464
Actually, with Python 3.8 it works better, one more time the pipenv lock problem is here. Maybe the latest version of rasa is not compatible with Python 3.7 (training crashes,, maybe TF is not compatible)

[2020-12-07 09:19] wochinge commented on #7322
@joejuzl Unfortunately moving issues to `done` doesn't automatically close them.

[2020-12-07 09:19] #7322 closed

[2020-12-07 09:29] #7395 closed

[2020-12-07 09:43] akelad commented on #7109
@martinbe1io do you have logs from the container you sent the request to? btw training requests should be sent to the `rasa-worker` pod

[2020-12-07 09:57] akelad commented on #7376
@erohmensing I know we were discussing this recently, I can't remember the details of the conversation though. Does it make sense for @melindaloubser1 to look into whether this still works properly and add some docs on it?

[2020-12-07 10:02] mmmiitr commented on #5610
@akelad currently is there a way to see augmented stories?
I am currently using rasa:1.10.18-full with augmentation and would like to see what stories were added due to the augmentation flag, as my model is definitely behaving weird, I have requested help for the same [here](https://forum.rasa.com/t/wrong-utterance-story-predicted-second-time/37612)

[2020-12-07 11:09] ericZYZ commented on #7454
Hi thank you for the detailed explanation. I will take a look at the methods from sklearn. However I'm not able to find a `report.json` file. I'm using Rasa 2.0.2

[2020-12-07 11:25] Ghostvv commented on #7460
What version are you using? Can you try updating to the latest version? It should be fixed there: https://github.com/RasaHQ/rasa-x/issues/3900

[2020-12-07 11:58] nbeuchat commented on #7460
@Ghostvv Thanks for your answer! I'm using 2.1.1, hadn't seen 2.1.2 and 2.1.3 were up (I'm monitoring the CHANGELOG file on master but I guess that's not enough for bug fixes)

Will try updating to 2.1.3

[2020-12-07 12:07] Ghostvv commented on #7460
oh, sorry, the fix is in rasa OSS, but the new version of rasa x is not released yet

[2020-12-07 12:16] nbeuchat opened #7467 "Form extracts other slots for entities that were already "used up" by the requested slot"
**Rasa version**: 2.1.1

**Rasa SDK version**: 2.1.1

**Python version**: 3.7.9

**Operating system**: Ubuntu

**Issue**: When two slots use the same entity in their slot mapping, both are extracted because of the `extract_other_slots` method of the `FormAction`. The problem I am encountering is that a single entity can lead to two slots being filled with the same value. This is problematic for ge

[2020-12-07 13:00] sara-tagger commented on #7467
Thanks for the issue, @joejuzl will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-07 15:11] koernerfelicia commented on #7454
Oh, my bad, I'm sorry! I didn't type out the full name, I meant `intent_report.json` (will edit). Does this mean we can close the issue? Or do you have any other concerns regarding this?

[2020-12-07 15:23] ericZYZ commented on #7454
Hi I just checked `intent_report.json` and there is no `'accuracy'` metric. If you are referring to `precision`, they don't match the results printed in the terminal either. Am I missing something here?

[2020-12-07 15:58] melindaloubser1 commented on #7376
Sure I can do that, I remember using that some time ago

[2020-12-07 16:42] koernerfelicia commented on #7454
`accuracy` is only included if `micro-avg` isn't included, you should have one or the other (see the [docs](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html?highlight=classification_report) for `classification_report`).

[2020-12-07 18:05] Ghostvv commented on #7393
@tabergma do you have an idea to figure out which methods are shared and which are not? E.g. which should go into super class and which should stay in `FullTrainingData`?

[2020-12-07 18:10] nbeuchat opened #7470 "Rasa train fails when slot of type `any` contains a dictionary"
**Rasa version**: 2.1.3

**Rasa SDK version**: 2.1.2

**Rasa X version**: 0.34.0

**Python version**: 3.7.9

**Operating system**: Ubuntu

**Issue**:
I created stories using interactive learning with Rasa X. Some actions fill a few slots of type `any` with a dictionary.

In the story steps, I have something like:
[code]

When training, I get a validation error for this story although the slot is o

[2020-12-07 19:01] nbeuchat opened #7472 "Rule contradicts with story although slots infulencing conversations should disambiguate them"
**Rasa version**: 2.1.3

**Rasa SDK version**: 2.1.2

**Python version**: 3.7.9

**Operating system**: Ubuntu

**Issue**:
I have a rule with a condition that a text slot (which influence conversation) is set. I have a story which has this slot set to `null` very early in the conversation. The validation fails stating that the story and rule contradicts each other but this slot makes them different

[2020-12-07 19:48] WickedTree commented on #6140
Is there any intent (pun intended 😃 ) to implement this into rasa? Or should I just use regex.

[2020-12-07 20:32] staticdev opened #7473 "Support for Python 3.9"
**Description of Problem**: Python 3.9 is the current stable version of Python.

**Overview of the Solution**: add official support.

**Examples** (if relevant): -

**Blockers** (if relevant): -

**Definition of Done**:
- [ ] Run current tests on 3.9
- [ ] Feature described the docs
- [ ] Feature mentioned in the changelog

[2020-12-07 22:08] #7257 closed

[2020-12-08 00:40] b-quachtran commented on #6140
@WickedTree I'd recommend using regex for this

[2020-12-08 00:40] #6140 closed

[2020-12-08 02:51] thanhnv15119 commented on #7338
I try to update rasa 2.1.3 and also my rasa sdk 2.1.2 but still get this bug. This happens in rasa docker hub images also. Did this release? I'm so stuck at here :(

[2020-12-08 04:26] dabonde commented on #7338
I also tried doing this the day it appeared to have released. Same problem. I spent a while trying to figure out if I was somehow using an old version, or if I was reading the git commits wrong and it had not yet released. Came up empty. Thought I'd shelve that part of my work for a bit and come back to re-test.

So yes, has this fix been released? And in what version?

[2020-12-08 06:30] premchopra1098 commented on #3737
could any one please share solution of above error?please

[2020-12-08 07:00] sara-tagger commented on #7473
Thanks for submitting this feature request 🚀 @melindaloubser1 will get back to you about it soon! ✨

[2020-12-08 07:00] sara-tagger commented on #7472
Thanks for raising this issue, @joejuzl will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-08 07:00] sara-tagger commented on #7470
Thanks for raising this issue, @tttthomasssss will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-08 07:13] metal3d opened #7476 "interactive mode makes repetitions with form and slots"
**Rasa version**: 2.1.4

**Rasa SDK version** (if used & relevant): 2.1.2

**Python version**: 3.8

**Operating system** (windows, osx, ...): Fedora Linux 33

**Issue**:
When starting interactive mode, using forms, there are a lot of repeted `slot_was_set` in the stories.

**Error (including full traceback)**:
[code]
Look at the last ones to see what I mean.

In this one, you can see `food_type` t

[2020-12-08 07:27] metal3d commented on #7212
Have the same issue #7476

[2020-12-08 07:44] tabergma commented on #7393
Actually not sure about that. I guess I would go with trail and error.

[2020-12-08 08:10] wochinge commented on #7338
The fix was released released in Rasa Open Source 2.1.1 (cc @nbeuchat )

[2020-12-08 08:51] dakshvar22 opened #7477 "Expose MINIMUM_COMPATIBLE_VERSION in `rasa version's` output"
**Description of Problem**:
`MINIMUM_COMPATIBLE_VERSION` of the installed Rasa Open Source version is not visible to a user easily.
Having this information exposed will be helpful for users making use of the [incremental training](https://github.com/RasaHQ/rasa/issues/6971) feature.

**Overview of the Solution**:
`rasa --version` can include this information in its output.

[2020-12-08 09:41] Ghostvv commented on #7393
@dakshvar22 maybe you remember? 🙏

[2020-12-08 10:15] dakshvar22 commented on #7393
@Ghostvv I mainly used them in this [PR](https://github.com/RasaHQ/rasa/pull/7352/files). Ones that I can remember and were useful were lazy properties like `intents`, etc. and utility methods like `filter_training_examples` and `split_nlu_examples`.

[2020-12-08 13:00] sara-tagger commented on #7476
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-08 15:03] koaning opened #7481 "Investigate NLU Interpreters with Regards to spaCy"
A bug on [rasalit](https://github.com/RasaHQ/rasalit/issues/28) prompted me to investigate how our interpreters work.

It seems there are two methods of retrieving an interpreter.

[code]

It seems that we have an `Interpreter` and a `RasaNLUInterpreter`. It's not 100% clear to me what the difference is but after trying it out I noticed that the former will cause an error if a SpacyEntityExtractor

[2020-12-08 15:12] tabergma commented on #7481
Related Slack thread: https://rasa-hq.slack.com/archives/C8LEHMTAM/p1607430725036700

[2020-12-08 20:02] kearnsw opened #7487 "Add Team ID to Metadata for Slack Channel"
**Description of Problem**: The current slack channel does not extract the team id from the slack event into the UserMessage metadata.

First, it is currently not possible to know from which workspace a request is coming. This is an issue when it is required by any custom code in the action server.

Second, I think this also raises a larger issue that the sender_id as currently defined may not be

[2020-12-08 20:52] martinbe1io commented on #7109
changed the config to send it to the worker pod with the same result

[code]

result is
[code]

pod logs only show minimal output
[code]

[2020-12-08 21:07] b-quachtran opened #7489 "Add note in documentation that JWT authentication is only for the HTTP API"
**Description of Problem**:

Add note in documentation that JWT authentication is only for the HTTP API and not for any of the channel connectors

**Definition of Done**:

- [ ] Feature described the docs

[2020-12-08 22:11] desmarchris opened #7490 "Double entity extraction"
**Rasa version**: 2.1.2

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.8.6

**Operating system** (windows, osx, ...): ubuntu

**Issue**: After adding `RegexEntityExtractor` to my pipeline and using a regex to collect email, a detected email is returned twice (once from DIET, once from regex?). In this case, I think the DIET entity detec

[2020-12-08 23:52] UTkzhang commented on #4487
@erohmensing @tmbo can I take a look at this issue since it’s probably not actively worked on?

[2020-12-09 06:43] jnoelvictorino opened #7492 "How to add Spacy Japanese model into Rasa Docker"
**Description of Problem**:
I want to add the Spacy Japanese pre-trained model into Rasa Docker.
I already posted in the [forum](https://forum.rasa.com/t/how-to-add-spacy-ja-model-into-rasa-docker/37637) a few days ago.
I also followed the suggestion on how to extend the Rasa Docker image from this [thread](https://forum.rasa.com/t/extending-rasa-docker-for-a-new-spacy-language-model/34350). But t

[2020-12-09 07:00] sara-tagger commented on #7492
Thanks for submitting this feature request 🚀 @tabergma will get back to you about it soon! ✨

[2020-12-09 07:00] sara-tagger commented on #7490
Thanks for the issue, @m-vdb will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-09 07:00] sara-tagger commented on #7487
Thanks for submitting this feature request 🚀 @joejuzl will get back to you about it soon! ✨

[2020-12-09 10:29] erohmensing commented on #5769
@m-vdb our helm charts contain support for arbitrary env vars and volume mounts, so i suppose we can close this?

[2020-12-09 13:50] koep commented on #7326
Great idea, would love to see this!

[2020-12-09 14:21] tczekajlo opened #7501 "[Windows unit-tests] Investigate why the rasa executable isn't in the search path on windows"
For some reason, the unit tests for Windows fail due to the rasa executable isn't in the search path.

https://github.com/RasaHQ/rasa/pull/7480/checks?check_run_id=1522792530

The https://github.com/RasaHQ/rasa/pull/7500 fixed it but still is something that should be investigated to have a clear picture of what has changed.

[2020-12-09 15:49] #7296 closed

[2020-12-10 02:59] cr33dx commented on #7350
@tmbo we have a faq maker ui where user can enter the question utterance and answer and using that we are training the nlu and core.
i asked question in [forum](https://forum.rasa.com/t/training-rasa-on-fly/37211) about what should be the right way to train model on fly and did not get any response so i tried with http-api.

[2020-12-10 05:24] madanmeena opened #7506 "tracker state contains both false and true value for the boolean flag at the same time"
**Rasa version**:1.10.18

**Rasa SDK version** (if used & relevant):1.10.2

**Rasa X version** (if used & relevant):0.32.2

**Python version**:3.7

**Operating system** (windows, osx, ...): ubuntu

**Issue**: tracker state contains both false and true value for the boolean flag at the same time
[code]
The above state should not have **slot_is_registered_0** and **slot_is_registered_1** at the same

[2020-12-10 07:00] sara-tagger commented on #7506
Thanks for raising this issue, @Ghostvv will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-10 09:24] JEM-Mosig commented on #7481
Should this really be classified as a bug?

[2020-12-10 09:31] Ghostvv commented on #7506
the first feature of boolean slot is always `1` if it is set to smth, see featurization https://github.com/RasaHQ/rasa/blob/60e2684ec96fc6dc296110c55e4eec8d62cf21b1/rasa/shared/core/slots.py#L186

[2020-12-10 09:31] #7506 closed

[2020-12-10 09:36] tabergma commented on #7481
@JEM-Mosig As far as I understood @koaning the `SpacyEntityExtractor` does not work during prediction in some scenarios. In that case it would be a bug. @koaning can you maybe describe in more detail in what kind of situations the `SpacyEntityExtractor` does not work and maybe give a minimal example to reproduce the error? Thanks.

[2020-12-10 09:51] m-vdb opened #7507 "[Windows unit-test] Windows installation times out after 5 hours"
It happened [here](https://github.com/RasaHQ/rasa/pull/7268/checks?check_run_id=1525103814) and [here](https://github.com/RasaHQ/rasa/pull/7471/checks?check_run_id=1525006234) and also [here](https://github.com/RasaHQ/rasa/pull/7284/checks?check_run_id=1529366468).

It times out at the step `poetry run python -m pip install -U pip`

cc @koernerfelicia @tczekajlo

[2020-12-10 09:53] gijswobben opened #7508 "Docs are not clear about SocketIO connection"
**Description of Problem**: The docs are not very clear on how to use SocketIO. They state:

However, you should connect the SocketIO client on `http://<host>:<port>/` (without `socketio`). Furthermore there is no description in the docs for how to use the events to create a session.

**Overview of the Solution**: Fix the error in the docs (as mentioned above) and add information about the events

[2020-12-10 10:37] madanmeena commented on #7506
How does this explain that I have both true and false at the same time, does that make sense to you?

[2020-12-10 10:42] Ghostvv commented on #7506
when the slot is set to `True` you have the following features:
[code]

when the slot is set to `False`, you have:
[code]

and if it is set `None` (not set), you don't have any features.

the `1.0` in the code snippet above means that `slot_{slot_name}_0` has the value `1.0`
the `float(bool_from_any(self.value))` in the code snippet above means that `slot_{slot_name}_1` will be either `1.0` (featu

[2020-12-10 11:44] kaustuk opened #7510 "Two stage fallback silently gets terminated"
**Description of Problem**:
So basically if we get 2 consecutive times user intent classification less then threshold it will terminated two stage fallback with uttering or trigger any action/utterances. Here is the following example:
User: gibberish(classified less then threshold)
Bot: calls action_default_ask_affirmation
User:  gibberish(classified less then threshold)
Bot: < does nothing silent

[2020-12-10 11:46] kaustuk commented on #7510
Also if we agree to have this feature I would like to work on this.

[2020-12-10 11:50] #7510 closed

[2020-12-10 11:52] kaustuk commented on #7510
Sorry my bad this is not the case I haven't gone through the code properly. This is already handled. My bad :)

[2020-12-10 11:55] JEM-Mosig opened #7511 "Rasa `make install` fails"
**Rasa version**:
Latest master (I cannot install), commit fb09c6b13d386a3805f4b385a63995127dec961e

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:
3.7.0

**Operating system** (windows, osx, ...):
Operating System : Linux-4.15.0-126-generic-x86_64-with-glibc2.10 (Ubuntu)

**Issue**:
Rasa installation fails.

**Error (including full traceba

[2020-12-10 12:00] samsucik commented on #7511
I also get this error (using Python 3.8.5).

[2020-12-10 13:00] sara-tagger commented on #7508
Thanks for submitting this feature request 🚀 @rctatman will get back to you about it soon! ✨

[2020-12-10 13:44] tabergma commented on #7394
Implementation is done and can be found on `file-loader-data-generator`. NLU training works. However, the implementation depends on https://github.com/RasaHQ/rasa/pull/7438. Will open a PR once https://github.com/RasaHQ/rasa/pull/7438 is merged.

[2020-12-10 14:28] JEM-Mosig commented on #7511
@samsucik It looks like we have to upgrade poetry now. So `pip install -U poetry`. After that, I still get the error above with python 3.8.5, but not with 3.8.0. In the latter case the installation fails due to SSL or connection errors.

[2020-12-10 14:36] JEM-Mosig commented on #7511
Now it's also there for 3.8.0 :exploding_head:

[2020-12-10 14:42] JEM-Mosig commented on #7511
Ah, actually something reset my poetry version to the outdated one. So its just the ConnectionError now.

[2020-12-10 16:08] joejuzl opened #7513 "Enforce type annotations in the CI"
Type annotations on method definitions are part of our code conventions.
We are seeing lots of PR review comments suggesting adding type annotations.
We should add it to the CI so it is automated.
This will reduce PR review burden, and help maintain our code quality.

Thoughts:
- Could be done either using `mypy` or `pylint`
- Should only be run on code diffs so we can incorporate it incrementally

[2020-12-10 16:30] humcasma opened #7514 "Inconsistent prediction of next action"
**Rasa version**: 2.1.3

**Rasa SDK version** (if used & relevant): 2.1.2

**Rasa X version** (if used & relevant): None

**Python version**:3.6.9

**Operating system** (windows, osx, ...): Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic

**Issue**:
I have created a form to fill in two slots (one of the slots is extracted with help of a custom FormValidationAction). Once the form action is over, a

[2020-12-10 16:31] #7167 closed

[2020-12-10 18:13] #7408 closed

[2020-12-10 19:44] #7130 closed

[2020-12-10 19:45] #7328 closed

[2020-12-10 23:27] alexyuwen opened #7516 "Improved error handling for misspellings in domain file"
I recently ran into a lengthy and cryptic error message only to find out it was caused by misspelling a word in my domain file. You can find the full error message here: https://forum.rasa.com/t/rasa-train-gives-a-cryptic-typeerror/37873/2

It would be nice if such misspellings of keywords (e.g. "type", "value", "entity") could be detected and relayed in a more understandable way.  For example the

[2020-12-11 07:00] sara-tagger commented on #7514
Thanks for raising this issue, @tttthomasssss will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-11 07:00] sara-tagger commented on #7516
Thanks for submitting this feature request 🚀 @rctatman will get back to you about it soon! ✨

[2020-12-11 09:41] joejuzl opened #7518 "Give more detailed explanation of why mode cannot be finetuned."
**Description of Problem**: Currently we rely on the output from `did_section_fingerprint_change` for any indication of why the model cannot be finetuned. However this is not particularly insightful, especially when running the combined `rasa train` command.

**Overview of the Solution**: We should return the sections of the fingerprint that did not pass to enable us to return a more detailed reas

[2020-12-11 09:42] joejuzl opened #7519 "Don't allow finetuning core with previously unseen labels that were in the domain."
**Rasa version**: 2.2

**Issue**:

**Steps to reproduce:**

*   We have labels that are in the domain but not in any stories.
*   We run `rasa train core`
*   We add a story with one of the aforementioned labels.
*   We run `rasa train core --finetune`

**Expected result:** Exit gracefully.

**Actual result:** Allows the model to be finetuned.

[2020-12-11 10:46] erohmensing commented on #4487
Totally @UTkzhang. You're right, I haven't seen any PRs around it so should be safe to take up!

[2020-12-11 10:49] erohmensing commented on #7476
Hi @metal3d, do you have any validation functions in your bot? Those could cause output like this. So long as the slots used in your form are set to not influence the conversation, it should not be a problem.

If your bot is not responding as expected, can you provide logs of a conversation that does not go correctly along with what you expect it to answer with?

[2020-12-11 11:41] wochinge commented on #7295
An idea would be to log similar things as @rgstephens is logging in his OpenTelemetry changes 🤔

[2020-12-11 13:09] kaiogu commented on #7445
This is most probably not the solution you want for issue #7445 , I opened just to start a discussion.
Even though the default _is_ `None`, the `endpoints.yml` file gets loaded by default in a number of occasions.
In my case, it was in `_get_credentials_and_endpoints_paths()` in `rasa/cli/x.py` which got called by` start_rasa_for_local_rasa_x()` in the same file. There are a number of occurences l

[2020-12-11 14:41] #6729 closed

[2020-12-11 14:42] #7330 closed

[2020-12-11 15:19] wochinge commented on #7363
@degiz This will be fixed in Rasa X 0.35, right?

[2020-12-11 15:59] nathan-chappell opened #7525 "Slack channel silently dropping long-running custom actions."
**Rasa version**: 2.2.0a1

**Rasa SDK version** (if used & relevant): Not relevant

**Rasa X version** (if used & relevant): Not used

**Python version**: 3.8.6

**Operating system** (windows, osx, ...): Linux-4.15.0-47-generic-x86_64-with-glibc2.2.5

**Issue**: I have a custom action that takes some time to complete. It takes long enough that slack will close its connection with the rasa server,

[2020-12-11 16:05] wochinge commented on #7421
fixed by https://github.com/RasaHQ/rasa/pull/7422

Thanks @howl-anderson 🚀

[2020-12-11 16:05] #7421 closed

[2020-12-11 17:25] #5769 closed

[2020-12-11 17:37] b-quachtran opened #7527 "Update Kafka Event Broker to use Confluent-Kafka Library"
**Description of Problem**:

Update Kafka Event Broker to use Confluent-Kafka Library, which adds SASL Kerberos/GSSAPI support.

**Overview of the Solution**:

Update `/rasa/core/brokers/kafka.py` to use this library: [https://github.com/confluentinc/confluent-kafka-python](https://github.com/confluentinc/confluent-kafka-python)

**Examples** (if relevant):

**Blockers** (if relevant):

**Definiti

[2020-12-11 18:59] rgstephens commented on #7295
Wouldn't we replace all existing std logger module calls with structlog?

The trace level would also be useful for troubleshooting lock store, event broker and any other areas that could generate a large number of log messages. I currently hesitate to add logging to these areas but a trace level would be useful for this.

Switching to structured logging would fit well with tracing. The structured

[2020-12-12 01:12] wj-Mcat opened #7530 "data schema linting enhancement"
**Description of Problem**: After reading the source code, I find that many data schema in rasa is `Dict`, which is not familier with developer also in developing. So, that there is a lot of `constants` defination. Eg:

<pre>return {
 "sender_id": self.sender_id,
 "slots": self.current_slot_values(),
 "latest_message": self.latest_message.parse_data,
 "latest_event_time": latest_event_time,
 FOLLO

[2020-12-12 01:19] wj-Mcat commented on #7530
There are a lot of `type-less` definition in rasa, I wonder it will be harder when the rasa is stronger.

[2020-12-12 02:20] LEAGUEDORA opened #7531 "Rasa always falling back"
**Rasa version**: 2.1.3

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.7.9

**Operating system** (windows, osx, ...): WIN 10

**Issue**:
I didn't why my rasa bot always fall back. Intent classification is good but the replying ones is not correct

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[c

[2020-12-12 12:13] slesinger opened #7533 "Interactive mode doubles entity"
**Rasa version**:
2.1.2
**Rasa SDK version** (if used & relevant):
2.1.2
**Rasa X version** (if used & relevant):
0.33.2
**Python version**:
3.8.5
**Operating system** (windows, osx, ...):
Ubuntu 20.04 Linux-5.4.0-54-generic-x86_64-with-glibc2.29
**Issue**:
During interactive mode, Rasa correctly recognizes entity in users input however enity is doubled:
[code]
Saved output to nlu.yaml reflects th

[2020-12-12 14:14] vanshkapil commented on #7531
You should either add more stories or in Rasa V2 you can add it as a rule.

On Sat, 12 Dec, 2020, 7:51 am Boyinapalli Sandeep Dora, <
notifications@github.com> wrote:

[2020-12-13 06:55] madhav-nividata opened #7534 "Rasa x - In talk to your bot, buttons show “New Button” instead of provided text in domain.yml. Also stories flow chat shows "None" instead of intent name."
**Rasa version**: 2.1.3

**Rasa SDK version**: 2.1.2

**Rasa X version**: 0.34.0

**Python version**: 3.7

**Operating system** (windows, osx, ...): Ubuntu 16.04

**Issue**: Rasa x - In talk to your bot, buttons show “New Button” instead of provided text in domain.yml. Also stories flow chat shows "None" instead of intent name.

**Error (including full traceback)**:
[code]

**Command or request th

[2020-12-13 12:51] vanshkapil commented on #7251
I solved it by fetching the last_intent_name = tracker.latest_message.get('intent_ranking')[1].get('name')

[2020-12-13 14:33] LEAGUEDORA opened #7537 "Rasa warning me to add slots under actions for forms"
**Rasa version**: 2.1.3

**Rasa SDK version** (if used & relevant): 2.1.2

**Rasa X version** (if used & relevant):

**Python version**:3.7.9

**Operating system** (windows, osx, ...): Windows 10 Home

**Issue**:

Rasa warning me to add slot under actions

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)**

[2020-12-13 19:50] tttthomasssss commented on #7514
Hi @humcasma, thanks very much for submitting this issue. We're going to look into this. Could you also add the contents of your config to the issue?

[2020-12-13 22:35] alwx commented on #7333
Lowered the priority because it's still not released.

[2020-12-14 03:27] chenwei182729 opened #7538 "docs build error"
**Rasa version**: 2.1.3
when i build docs in docs directory,some error happen

[code]

[2020-12-14 06:34] #7538 closed

[2020-12-14 06:36] chenwei182729 commented on #7538
sidebars.js not exits in rasa 2.1.3 ,and pydoc-markdown poetry command not install

[2020-12-14 07:00] sara-tagger commented on #7537
Thanks for the issue, @degiz will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-14 07:00] sara-tagger commented on #7534
Thanks for raising this issue, @tttthomasssss will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-14 07:00] sara-tagger commented on #7533
Thanks for raising this issue, @dakshvar22 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-14 07:00] sara-tagger commented on #7530
Thanks for submitting this feature request 🚀 @tabergma will get back to you about it soon! ✨

[2020-12-14 07:00] sara-tagger commented on #7531
Thanks for the issue, @melindaloubser1 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-14 07:00] sara-tagger commented on #7525
Thanks for the issue, @samsucik will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-12-14 07:16] Rmsharks4 commented on #7470
Facing an error thats kind of like this - instead of 'str', i'm getting the error of type **_dict_** - I use a program to construct our training data from the database, and it looks the same as RASA's so idk what this error is about.

Command: rasa train

[code]

[2020-12-14 08:20] madhav-nividata commented on #7534
@tttthomasssss @sara-tagger
The issue of "New Button" text instead of button text was a mistake in the domain file - its fixed.
The key is `title` and I had entered `text`. And thus, the button names didn't appear as per the domain file.

**However, the issue of stories flow chat shows "None" instead of intent name remains.**

[2020-12-14 08:53] #7357 closed

[2020-12-14 09:37] JEM-Mosig commented on #7511
Now it works. No idea why. I installed poetry with conda this time, but also pulled master.

[2020-12-14 09:37] #7511 closed

[2020-12-14 10:12] #7343 closed

[2020-12-14 10:50] humcasma commented on #7514
Thanks @tttthomasssss. I have now updated the issue with the content of the _config.yml_ file.

[2020-12-14 14:04] JBrettas opened #7541 "Encoding issues on entity values when parsing nlu json data to md using rasa cli"
**Rasa version**: 2.1.2

**Python version**: 3.8.5

**Operating system** (windows, osx, ...): Windows 10

**Issue**: I am currently working on brazilian portuguese data that presents instances as this:

 {
 "text": "qto custa o cartao de vcs?",
 "intent": "cartao_valor",
 "attention_case": false,
 "entities": [

 { "raw": "cartao", "value": "Cartão", "entity": "payment_method", "start": 12, "end":

[2020-12-14 15:23] melindaloubser1 commented on #7531
Hi @LEAGUEDORA I don't think this is a bug, I'd recommend posting your question on the [forum](https://forum.rasa.com/) with the screenshots that aren't displaying here.

[2020-12-14 15:45] joejuzl commented on #7467
Hi @nbeuchat

Just to clarify, you have:

- a form with two slots filled from the same entity
- a custom `FormValidationAction` with `validate_` methods for each slot
- and when one of the slots is requested by the form, and the user provides input, both validate methods get called?

I can't seem to replicate this.

Also the [docs](https://rasa.com/docs/rasa/forms#validating-form-input) say:

So t

[2020-12-14 19:59] xinru1414 commented on #7251
@vanshkapil I'm really new to Rasa and facing the same issue. From my understanding the workaround happens in the action.py. Could you provide more details on how to set the intent?

[2020-12-15 07:00] sara-tagger commented on #7541
Thanks for raising this issue, @tmbo will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-15 08:21] melindaloubser1 commented on #7473
Python 3.9 support will only be added once [tensorflow](https://github.com/tensorflow/tensorflow/issues/44485) and other libraries support it in a standard release.

[2020-12-15 08:22] #7473 closed

[2020-12-15 08:23] melindaloubser1 commented on #7473
I'm closing it for now because it will go stale after a while; feel free to reopen once dependencies support 3.9

[2020-12-15 08:43] #6971 closed

[2020-12-15 10:18] nbeuchat commented on #7531
Hey @LEAGUEDORA, I'm not 100% sure about the details of the `MemoizationPolicy` but I think that the story you have in your training data does not exactly match the story you have in Rasa X because of the entity `supported`

If you look at the log:

2020-12-12 09:21:56 DEBUG rasa.core.policies.memoization - Current tracker state:
[state 1] user intent: what_is_supported | **user entities: ('suppor

[2020-12-15 10:31] metal3d commented on #7476
No, no action in Python, only yaml files and using the shell mode for now.
I will provide the logs in a couple of hours.

Thanks

[2020-12-15 10:38] nbeuchat opened #7552 "Provide an option to ignore rules with conversation_start: true when checking conflicting stories"
**Description of Problem**:
When training Rasa Core, we can check rules and stories for conflicts. In addition, the recommended way of writing stories is writing short conversational blocks.

For our bot, responding to any intent at the start of a conversation is always slightly different than responding during an on-going conversation as we want to greet the user and send some information on how

[2020-12-15 11:54] #7413 closed

[2020-12-15 12:31] joejuzl commented on #7472
@Ghostvv is it expected behaviour that we flag a rule and story as contradicting even if they have different slot conditions?

[2020-12-15 13:00] sara-tagger commented on #7552
Thanks for submitting this feature request 🚀 @rgstephens will get back to you about it soon! ✨

[2020-12-15 15:57] dakshvar22 opened #7556 "Profile TF Graph"
Training TED on end to end stories increases the training time of TED quite considerably. Things to try -

*   [ ] We should use TF Profiler to investigate which layers are exactly the bottleneck layers.
*   [ ] Check if setting number of transformer layers to 0 for `TEXT` and `ACTION_TEXT` helps to speed it up.

[2020-12-15 16:19] kaustuk opened #7557 "Fallback and rules does not works in case of dynamic form implementation if form is active"
**Rasa version**: 2.1.3

**Rasa SDK version** (if used & relevant): 2.1.2

**Rasa X version** (if used & relevant): 0.34.0

**Python version**: 3.7.9

**Operating system** (windows, osx, ...): Darwin-19.6.0-x86_64-i386-64bit

**Issue**:

So basically the issue is if we have Fallback and rules for some intent in bot and we have implemented the a dynamic form (i.e overwrite `required_slots` method a

[2020-12-15 16:24] kaustuk commented on #7557
Once we figure up this is the bug. I would like to work on this. I have figured out the solution for it we can discuss it once bug is confirm

[2020-12-15 16:26] Ghostvv commented on #7472
It feels like a bug. Strange, I thought I tested for this case

[2020-12-15 17:28] Ghostvv commented on #7552
it was a recommended way before the rules were introduced. I wouldn't recommend that anymore. If you can provide a short story block, why not use a rule?

[2020-12-15 17:30] Ghostvv commented on #7552
the problem is that recently we found out that `TEDPolicy` actually get quite confused with stories without conversation histories, so I don't think it is a good approach to remove this contradiction check, because it does what it is intended to do - write the stories that resemble the stories during prediction

[2020-12-15 17:31] Ghostvv commented on #7552
I don't see how this is different from removing all the checks

[2020-12-15 18:46] ripperdoc opened #7559 "Rules example bot broken"
**Rasa version**: master

**Issue**:

When I download and attempt to train the bot in [https://github.com/RasaHQ/rasa/tree/master/examples/rules](https://github.com/RasaHQ/rasa/tree/master/examples/rules) it looks faulty/incomplete to me. Most of the intents used in the `rules.yml` are not present in the `nlu.yml`. Is the correct nlu file somewhere else?

[2020-12-15 19:40] JBrettas opened #7561 "Problems starting Rasa X on Windows 10 when using special characters"
**Rasa version**: 2.1.3

**Rasa SDK version** (if used & relevant): 2.1.2

**Rasa X version** (if used & relevant): 0.34.0

**Python version**: 3.8.5

**Operating system** (windows, osx, ...): Windows 10

**Issue**: Can't start rasa x from Windows while using the upgraded rasa stack, even after just starting a dummy project with `rasa init` (it seems that this issue was already been reported). But

[2020-12-16 07:00] sara-tagger commented on #7561
Thanks for raising this issue, @rctatman will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-16 07:00] sara-tagger commented on #7559
Thanks for raising this issue, @m-vdb will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-16 07:00] sara-tagger commented on #7557
Thanks for raising this issue, @kalkbrennerei will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-12-16 08:07] mlkorra commented on #6626
HI any update,regarding the documentation? I am having trouble as a beginner to understand the custom connectors.

[2020-12-16 08:56] tczekajlo commented on #7507
Poetry since >= 1.1.0b switched to `vritualenv` (https://github.com/python-poetry/poetry/releases/tag/1.1.0b1). The default version of `vritualenv` used by poetry is 20.0.31, update virtualenv to the latest version helps only partially (I assume this fixed some things https://github.com/pypa/virtualenv/pull/1976), there is still a problem with python 3.6 though.

In the https://github.com/RasaHQ/r

[2020-12-16 09:28] nbeuchat commented on #7552
For the small story shown above, the `has_question` should _in general_ triggers the action `utter_what_want_to_know` but not in every instance so I cannot use a rule.

Interesting, I was aware of that! I haven't used enough the `TEDPolicy` yet to judge but from my early tests, I found that it worked quite okay.

The difference is that the rules with `conversation_start: true` have a very short "l

[2020-12-16 10:16] Ghostvv commented on #7552
but your story actually says otherwise, you rely ML policy to figure this `in general but not always` on its own, which is not very scalable way, because the successful "learning" depends on many factors including random initial conditions

in our experience with developing Sara, writing correct stories is crucial in long run because this little inconsistencies pile up, and at some point you might

[2020-12-16 10:17] Ghostvv commented on #7552
do you already have real stories? I'd recommend manually fixing conversations that your users had with your bot and adding them to your stories, instead of writing them manually

[2020-12-16 11:01] nbeuchat commented on #7557
@kaustuk We have the same issue and I have opened a bug report on Rasa SDK: https://github.com/RasaHQ/rasa-sdk/issues/370
@wochinge is already on it :muscle: :rocket:

[2020-12-16 12:18] luis-f-lins commented on #7331
Thank you, @buzzf! This also worked for me.

[2020-12-16 14:00] nbeuchat commented on #7552
I did a few more experiments and you're right, these short story blocks tend to confuse the bot. I like having them as it gives a good understanding of how the bot should behave by simply looking at the manually crafted stories.

Yes, I do :-) As mentioned just above, I liked having both for clarity (and I thought for generalization too) but I see it can hurt performance.