[2019-05-28 14:11] zenhaust commented on #3597
Same error in MacOS Sierra.
Rasa X not work.

2019-05-28 16:10:11 INFO     root  - Starting Rasa Core server on http://localhost:5005
[2019-05-28 16:10:12 +0200] [32965] [ERROR] Unable to start server
Traceback (most recent call last):
  File "uvloop/loop.pyx", line 1112, in uvloop.loop.Loop._create_server
  File "uvloop/handles/streamserver.pyx", line 58, in uvloop.loop.UVStreamServer.listen
  Fi

[2019-05-28 14:32] carlostse opened #3622 "Lookup table file failed to load if the file name or directory name contains hyphen ("-")"
**Rasa version**: 0.14 - current

**Python version**:  Python 3.6

**Operating system** (windows, osx, ...): Any

**Issue**:
Fail to load the lookup table file if the file name or directory name contains hyphen ("-"),
e.g. exception will be thrown during training for the example below
[code]
PR for the fix: https://github.com/RasaHQ/rasa/pull/3623

**Content of configuration file (config.yml)**:
[

[2019-05-28 15:05] jiwitesh commented on #3578
@akelad I have deployed this app on slack and telegram. That's where i am stuck. On Console it's working fine for me

[2019-05-28 17:11] kirtisynap19 commented on #301
@Ghostvv thanks for your response. And what goes in the training data? Is it '👍' or 'U+1F44D' or 'u"\U0001F44D"'?

[2019-05-28 17:50] tiwo19 opened #3627 "AttributeError: 'function' object has no attribute 'train_dialogue_model'"
**Python version**: = python3.7

rasa-core                         0.14.4
rasa-core-sdk                  0.14.0
rasa-nlu                           0.15.0

Windows 10
**Issue**:
I get this error when i run python train_online.py
WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\training\saver.py:1266: checkpoint_exists (from tensorflow.python.training.checkpoint_m

[2019-05-28 21:03] amn41 commented on #3579
yes this is a very good point. added to docs issue

[2019-05-28 21:10] karpagaganesh commented on #2505
pos = graphviz_layout(G)
  File "/lib/python2.7/site-packages/networkx/drawing/nx_agraph.py", line 243, in graphviz_layout
    return pygraphviz_layout(G, prog=prog, root=root, args=args)
  File "/lib/python2.7/site-packages/networkx/drawing/nx_agraph.py", line 286, in pygraphviz_layout
    'http://pygraphviz.github.io/')
ImportError: ('requires pygraphviz ', 'http://pygraphviz.github.io/')

[2019-05-28 23:59] anthonymfowler15 commented on #3609
I am also looking forward to the Python API guide. Just a heads up, the links here: http://legacy-docs.rasa.com/docs/ all point to the new Rasa 1.0 docs, not the legacy Python docs. Additionally, the links to documentation for rasa-nlu on PyPi are all redirecting to the root directory of the new documentation: https://pypi.org/project/rasa-nlu/.
Please keep us up to date when the Python API docs f

[2019-05-29 02:53] leonardocustodio opened #3628 "ImportError: cannot import name 'Activation'"
**Rasa version**: 1.0.1
**Python version**: 3.6
**Operating system**: macOS Mojave 10.14.15

**Issue**:
I installed rasa using: "pip install rasa-x --extra-index-url https://pypi.rasa.com/simple" and used "rasa init" to start a default project. But when the project starts to train and also when using "rasa train" command. I'm getting the following error:
[code]

**Content of configuration file (co

[2019-05-29 04:02] jeffzhengye commented on #2158
@karthikbalu  clofus claims to support multi-domain, but I didn't see any code about it.
Could you show me where the code about multi-domain is ?

[2019-05-29 04:15] karthikbalu opened #3629 "Rasa 1.0 ImportError: cannot import name 'EndpointConfig' from 'rasa_core.utils'"
**Rasa version**:
rasa                    1.0.1

**Python version**:
Python 3.7.3

**Operating system** (windows, osx, ...):
OSX

**Issue**:
ImportError: cannot import name 'EndpointConfig' from 'rasa_core.utils'

After upgrading to rasa version 1.0,
How can we train using python agent

[code]

**Content of configuration file (config.yml)**:
[code]

**Content of domain file (domain.yml)** (if used

[2019-05-29 04:48] saikiran2603 commented on #3302
Thanks for the link :) i am trying it out ! will get back on this !

[2019-05-29 04:48] anoop2503 commented on #3629
@karthikbalu please try with
from rasa.utils.endpoints import EndpointConfig

[2019-05-29 05:34] karthikbalu commented on #3629
Solved that import endpointconfig error now

But cannot train the agent the same way like before upgrade

[code]

[code]

[2019-05-29 06:23] swagat-panda commented on #1435
while creating a custom component pipeline an exception is creating in config.py for index.
can you resolve it

[2019-05-29 06:25] swagat-panda opened #3630 "custom component for nlu"
while creating a custom component pipeline an exception is creating in config.py for index.
can you resolve it

[2019-05-29 06:43] tabergma commented on #3629
[code]

[2019-05-29 06:53] oldmonkABA opened #3631 "rasa interactive training is failing"
**Rasa version**:1.0.1

**Python version**: 3.6.7

**Operating system** (windows, osx, ...): ubuntu 16.04

**Issue**:
I am trying to run the interactive training on the latest version of rasa. I

(rasa_15) sfrplindia1@sfrplindia1-OptiPlex-7020:~/chatbot$ rasa interactive -d domain.yml -m models -c config.yml --data data --verbose --endpoints endpoints.yml
[code]

**Content of configuration file (c

[2019-05-29 07:07] karthikbalu commented on #3629
now im getting this error
    training_data = await agent.load_data("/data/stories.md")
                   ^
SyntaxError: 'await' outside async function

so i added async to my traindialogue function and now im getting

RuntimeWarning: coroutine 'train_dialogue' was never awaited
  bot.train_dialogue(project)
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

Please help, T

[2019-05-29 07:08] tiwo19 commented on #3627
@rasa  any help please

[2019-05-29 07:10] harsh204016 opened #3632 "Getting error while installing Rasa x"
**Rasa version**:

**Python version**: 3.6.5

**Operating system** (windows, osx, ...):Windows 10

**Issue**: I am getting while running the command for installing

pip install rasa-x --extra-index-url https://pypi.rasa.com/simple

**ERROR**:
 Failed building wheel for httptools
  Running setup.py clean for httptools
Failed to build httptools
rasa-core 0.14.4 has requirement fakeredis~=0.10.0, but

[2019-05-29 07:14] wochinge opened #3633 "Multi Domain loading not importing data directory of root project"
Currently the experimental multi bot feature does only load data specified in imported bots or in the root project directory. It should also load data in the data directory of the root project (project in which the command is executed).

[2019-05-29 07:21] Ghostvv commented on #301
@kirtisynap19 I'm not sure, try both. You can print vocabulary of CounntVectorizer to check

[2019-05-29 07:51] akelad commented on #3621
Hi @weiczhu this is a duplicate of #3610. We're looking into getting it fixed, we'll have the UI for editing the domain in an upcoming release.

Thanks for trying out Rasa X, would you be up for giving us some feedback with this [survey](https://rasahq.typeform.com/to/NSJvZM)?

[2019-05-29 07:51] #3621 closed

[2019-05-29 07:56] akelad commented on #3581
by "should be added to this screen as well" we mean it'll be part of an upcoming release

[2019-05-29 07:57] akelad commented on #3582
looks like it is, will close this

[2019-05-29 07:57] #3582 closed

[2019-05-29 07:58] akelad commented on #3622
Thanks for spotting + fixing this!

[2019-05-29 08:02] akelad commented on #3578
but you can start it up with the command line by doing `python -m rasa_core.run ... --enable_api`
If you want to use your script you'll have to load the endpoint configurations properly:
https://github.com/RasaHQ/rasa/blob/master/rasa/run.py#L48

I'm gonna close this issue as it's more of a usage question, please post those in our [forum](https://forum.rasa.com)

[2019-05-29 08:02] #3578 closed

[2019-05-29 08:07] akelad commented on #3628
Can you check which version of tensorflow you have installed by running `pip show tensorflow`? I believe you have the wrong version installed -- the correct one to use is `tensorflow==1.13.1`

[2019-05-29 08:08] akelad commented on #3630
Please ask these kind of questions in our [forum](https://forum.rasa.com) with a little more information

[2019-05-29 08:08] #3630 closed

[2019-05-29 08:10] akelad commented on #3631
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-05-29 08:11] erohmensing commented on #3631
Ironic, I just ran into this issue a minute before I was tagged in it 😅

[2019-05-29 08:14] akelad commented on #3627
What does your `train_online.py` file contain?

[2019-05-29 08:19] erohmensing commented on #3609
Thanks for catching this! I've already implemented these fixes, they just haven't been built yet 🙂should hopefully be live by the end of the week

[2019-05-29 08:23] akelad commented on #3632
Hi @harsh204016 the solution is in the error message, you need to install Microsoft Visual C++ Build Tools

[2019-05-29 08:23] #3632 closed

[2019-05-29 08:29] tdzienniak opened #3634 "Endpoints configuration is cleared when loading new model with PUT request"
**Rasa version**:
1.0.1
**Python version**:
3.7
**Operating system** (windows, osx, ...):
Ubuntu 19.04
**Issue**:

When I load new model with `PUT /models` the model is replaced correctly, but endpoints configuration loaded during server setup is cleared. This has an effect, that custom actions server URL becomes blank and I get this error:
[code]

[2019-05-29 08:30] erohmensing commented on #3631
@oldmonkABA looks like a parenthesis mistake. If you change line 467 in visualize_neighborhood from
[code]
to
[code]

I believe it should fix your problem. I'll take care of it in a current PR i'm doing that affects the same functions.

[2019-05-29 08:35] #3586 closed

[2019-05-29 08:43] erohmensing commented on #3631
PS just so you know, with the new cli, since all of your stuff is in the default locations, instead of
[code]
simply
[code]
should do 🙂

[2019-05-29 09:08] oldmonkABA commented on #3631
Thanks.. works fine now

[2019-05-29 09:12] jiyikong opened #3636 "UnicodeDecodeError: 'gbk' codec can't decode byte 0xae in position 75: illegal multibyte sequence"
i don't know why add emoticons to  code. So that the command can‘t run。 like this 🤖 . I'm so sad!

result error:  UnicodeEncodeError: 'gbk' codec can't encode character '\U0001f916' in position 196: illegal multibyte sequence

**Rasa version**:
1.0.1
**Python version**:
3.5
**Operating system** (windows, osx, ...):
windows

[2019-05-29 10:01] #3622 closed

[2019-05-29 10:04] fakesecret opened #3637 "Does rasa core keras policy training change? It seems less good than rasa_core before"
**Rasa version**: Rasa 1.0
**Python version**: 3.7
**Operating system** (windows, osx, ...): Linux
**Issue**: (question) Does rasa core keras policy training change? It seems less good than rasa_core before.

While using the same training data (i.e. stories) and policy config as rasa_core before (Keras + Memoization), the action taken by my chatbot changed dramatically. Saying that I only have 3 s

[2019-05-29 10:10] oldmonkABA opened #3638 "Action server returning 404"
**Rasa version**:1.0.1

**Python version**: 3.6.7

**Operating system** (windows, osx, ...):ubuntu 16.04

**Issue**:
I start the action_end point server .. the log is as follows:

``
rasa run actions --cors "*"
2019-05-29 14:53:05 INFO     rasa_sdk.endpoint  - Starting action endpoint server...
/home/sfrplindia1/Work/SantaFe/Raghuram/chatbots/rasa_15/lib/python3.6/site-packages/rasa_core_sdk/__ini

[2019-05-29 10:36] akshayrana1139 commented on #3616
Even if I try rasa-x server with  /api/conversation/<conversation_id>/messages , it always comes back with a  recipient_id for "me" and uses the tracker for "me". It does not uses the latest tracker for new conversation id.

[2019-05-29 10:39] akshayrana1139 opened #3639 "The tracker does not change for new conversation-id in rasa-x"
**Rasa version**:1.0

**Python version**: 3.5

**Operating system** (windows, osx, ...):Windows

**Issue**: The tracker in rasa-x does not get refreshed, instead it always return "me" in recipient ID.  When I hit **/api/conversations/ < conversation - id > /messages,** the tracker and the recipient ID used here works only for "me" instead of the new conversation-id.

**Content of configuration fil

[2019-05-29 10:48] karthikbalu commented on #3629
I went past that hurdle using async and await syntax

but now this is not working

asyncio.run(serve_application(agent,channel='cmdline'))

was never awaited
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

[2019-05-29 11:47] #3560 closed

[2019-05-29 11:51] AlvaroMonteagudo commented on #3604
Any new thoughts? I can't figure out why this is happenning.
I will try to create a project without IDE to see if PyCharm is causing the problem

[2019-05-29 12:16] akelad commented on #3637
Nothing has changed between versions about how the KerasPolicy was implemented. The only thing that has changed is that the augmentation doesn't get applied to the MemoizationPolicy and also it's a bit reduced for KerasPolicy. So by default it will train on `50` stories that are created from your training data. You could probably increase the augmentation factor, but i'm not sure that's really nec

[2019-05-29 12:56] akelad commented on #3636
Hi this is a windows specific issue -- I believe @erohmensing has look into this?

[2019-05-29 12:59] erohmensing commented on #3636
@jiyikong which command are you using when you hit this error?

[2019-05-29 13:17] jiyikong commented on #3636
Any. This is a problem with the system environment.

[2019-05-29 13:23] erohmensing commented on #3636
Right, i realize that -- was just looking for an example to give you with the temporary fix.
Can you set the environment variable `PYTHONIOENCODING='utf8'`, does that work?
If not, do the commands work when you include that var in the command, e.g.
[code]
We are already aware and looking into a full fix for printing in non-utf-8 encoded terminals.

[2019-05-29 14:11] danielhomsa opened #3643 "Entity extraction (using Duckling) not working when changing the order of the sentence"
**Rasa version**: 0.13.5

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): macOS Mojave

**Issue**:
I am trying to extract some entity of the 'time' type using duckling, it is working with sentences like:
"Find me 2 artists born in Vienna between 1700 and 1800"
But if I change the sentence to:
"Find me 2 artists born between 1700 and 1800 in Vienna"
the duckling extractor won't

[2019-05-29 14:14] leonardocustodio commented on #3628
Hi @akelad ,
In the beginning I thought the same thing but I'm using the correct one, it was installed on the "pip install rasa-x" this is my "pip list | grep tensorflow" output:

[code]

[2019-05-29 14:25] leonardocustodio commented on #3628
Although as I said I had the right version installed of tensorflow. I was able to fix the issue right now by running:
[code]
I think what happened is that maybe some file was not replaced/updated or was left behind when pip updated tensorflow from version 1.10.0 (that I was using before) to version 1.13.1

Regards,

[2019-05-29 14:26] #3628 closed

[2019-05-29 14:49] erohmensing opened #3644 "facebook messenger buttons don't seem to work"
Payloads that come from clicking buttons in facebook messenger channel don't seem to hit the input channel. Someone ran into this on core 0.13.4, so it can be it's been an issue for a while.

https://forum.rasa.com/t/facebook-messenger-to-rasa-postback-from-button-click-not-working/10152 (https://forum.rasa.com/t/rasa-click-on-button-postback-in-facebook-problem/10440)

[2019-05-29 15:03] hypernote commented on #3468
That would be great!

[2019-05-29 15:05] erohmensing commented on #3468
@hypernote if you're looking for a workaround until this is implemented, check out this [forum post](https://forum.rasa.com/t/how-to-create-a-partially-rule-based-conversation-within-a-chat-dialogue/6418/13?u=erohmensing)

[2019-05-29 15:09] fakesecret commented on #3637
@akelad Thanks for the info. I did many tries just now. Now I know why. This is not because of Keras Policy change.

It is because the "rasa init" example has KerasPolicy by default. These default options are not enough for the core model to converge. So runs can result in very differernt models, randomly.

With the same config (all by default as "rasa init"), I have Run 1:
[code]
Run 2:
[code]

W

[2019-05-29 17:10] hypernote commented on #3468
Looks good, even with a lot more code =). Thanks so much, @erohmensing and have a great one!

[2019-05-29 17:17] arjunsr1 commented on #3481
@meghnasmhs, can you please post the code from your working Weatherbot tutorial? Getting the same error as you, and my dialogue_management_model.py file causes the bot to only use greetings.

[2019-05-29 17:20] arjunsr1 commented on #3481
Hi- I've seen you reply with this link on several pages, but it simply brings me to the rasa docs main page. Is the Migration guide the page you intend to be linking?

[2019-05-29 19:08] naj44692 opened #3646 "HTTP 404 in versioned environment"
**Rasa version**: 1.0

**Python version**: 3.6.1

**Operating system** (windows, osx, ...): Windows 10

**Issue**:
Hi,

I was able to run Rasa great locally. There is a requirement for me to deploy to a versioned environment (i.e. example.com/virtualassistantserver/v1), and when I have the additional route (/virtualassistantserver/v1) I get 404 responses.

i.e. Error: Requested URL /virtualassista

[2019-05-29 20:19] merwok opened #3647 "Clarify if component method required_packages returns module names or requirements"
**Rasa version**: 1.0.2

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): Debian testing

**Issue**: The doc at http://rasa.com/docs/rasa/api/custom-nlu-components/#rasa.nlu.components.Component.required_packages doesn’t make clear whether the strings returned should be module names (i.e. importable, like sklearn) or requirements (i.e. checked using packaging introspection meth

[2019-05-29 20:36] tahamr83 opened #3648 "Training data generator hangs in Interactive Learning"
**Rasa version**:
1.0.2
**Python version**:
3.6.6
**Operating system** (windows, osx, ...):
MacOS
**Issue**:
So the issue I am facing while migrating to Rasa 1.0.x is that during interactive learning
`training.load_data()` runs indefinitely. This was seemingly not an issue in previous rasa version, since I have been using the interactive learning feature a lot (RASA 0.14.x and 0.15.x). My stories

[2019-05-29 22:21] arjunsr1 opened #3649 "TypeError: 'coroutine' object is not iterable"
**Rasa version**:
rasa                          1.0.2
rasa-core-sdk                 0.14.0
rasa-sdk                      1.0.0

**Python version**:
Python 3.7.3

**Operating system** (windows, osx, ...):
Mac osx Mojave

**Issue**:
When I run the below command:
python dialogue_management_model.py

The error that pops up is this frame below:

WARNING: The TensorFlow contrib module will not be includ

[2019-05-30 01:01] jiyikong commented on #3636
windows cmd and chcp 65001, Still have errors.  In the end, I removed all the emojs then work correctly.
But there is still a problem with training Chinese.

`#all error
Traceback (most recent call last):
  File "d:\users\xxx\appdata\local\continuum\anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "d:\users\xxx\appdata\local\continuum\anaconda3\lib\runpy.p

[2019-05-30 02:04] fakekphan commented on #3481
lets uninstall version existing and install new version for rasa_core or rasa_nlu

[2019-05-30 02:46] HatuneMiku opened #3650 "rasa story visualize WARNING"
**Rasa version**:
`Rasa 1.0.2`
**Python version**:
`Python 3.6.8`
**Operating system** (windows, osx, ...):
`Windows 10 Pro 1903`
**Issue**:
I run this code to visualize my story, but I get a WARNING, json parse error, but my story has the quotes.
[code]
this is my story file:

[code]

and I get this WARNING message:
[code]
Is this a bug?

(By the way, the chinese char shows `��Ҫ����` in graph, I

[2019-05-30 03:11] Aliyss commented on #3049
Is this still open?

[2019-05-30 05:38] pnandhini11 opened #3651 "OS requirement for RASA Installation."
**Rasa version**:

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

This is not about an issue. But we are trying to understand RASA OS requirement. We are in the process of setting up our new server and want to install RASA application for our business.  Will you provide tech support for Debian 9.7 or Ubuntu 18.04 LS or 19.04 ? Pls confirm.

**Content of configuration f

[2019-05-30 05:55] pnandhini11 opened #3652 "Error while running rasa nlu train."
**Rasa version**: 0.13.3

**Python version**: 3.6

**Operating system** (windows, osx, ...): centOS 6.1

**Issue**:
Getting below error while running rasa nlu train.py . When the code tf.session() gets executed, getting below error.

2019-05-30 05:43:06.487464: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: A

[2019-05-30 06:43] tdzienniak commented on #2506
This was already solved long time aga. Thx! Closing. :)

[2019-05-30 06:43] #2506 closed

[2019-05-30 07:21] harunkelesoglu opened #3653 "ERROR! Syntax Error while loading YAML."
I'm trying install the rasa x community according to this  http://rasa.com/docs/rasa-x/deploy/#quick-installation
But  ı getting the following error after run <code>sudo bash ./install.sh</code> command
**Python version**:
python 3.6.7
**Operating system** (windows, osx, ...):
linux  ubuntu 4.15.0-42-generic
**Issue**:
[code]

[2019-05-30 07:38] #3564 closed

[2019-05-30 07:38] #3631 closed

[2019-05-30 08:13] erohmensing commented on #3590
Hey @RogersNtr, do regular postback buttons work for you? We're also trying to get down to fixing a problem [here](https://github.com/RasaHQ/rasa/issues/3644)

[2019-05-30 08:22] erohmensing commented on #3650
Yes, this warning had to do with the fact that it sanitized (i.e. removed the quotes) and then tried to parse again later. I fixed this while fixing the other issue you submitted, which is now merged into master 🙂

I'm not 100 percent sure about this, because I'v'e never run into this -- it may be OS-specific. But I made sure to also utf-8 that output in the line you described. Let me know if this

[2019-05-30 08:22] #3650 closed

[2019-05-30 08:25] erohmensing commented on #3636
Hmm okay, we will look into this in https://github.com/RasaHQ/rasa/issues/3408

[2019-05-30 08:27] erohmensing commented on #3408
We also need to make sure input (e.g. reading NLU files) is read correctly

[2019-05-30 09:11] akshayrana1139 commented on #3639
I think it is intentionally restricted as seen in the code.  There are multiple methods for "/conversations/<conversation_id>/messages"
1. The one with GET and HEAD request uses the conversation id to fetch tracker details from the conversation_id.
[code]

2. But in the POST message, the conversation_id is clearly ignored and the request is passed to the /chat api
[code]

Is this intentional to bl

[2019-05-30 09:40] #3461 closed

[2019-05-30 09:58] anoop2503 commented on #3569
@tmbo Not sure, if that is so easy to respond to slack as you mentioned, at least for some cases. For example, if you are planning to create a FormAction to collect some inputs from the user and  call an external API with these user inputs and then finally respond back to slack with the result of API execution. In this case, we may not be able to send a response back to slack in between the form u

[2019-05-30 10:22] harunkelesoglu opened #3657 "I can't set the password on rasa x"
**Rasa version**:
Rasa 1.0.0
**Python version**:
3.6.8
**Operating system** (windows, osx, ...):
Linux Ubuntu
**Issue**:
I'm trying install the rasa x community according to this http://rasa.com/docs/rasa-x/deploy/#quick-installation

I cant set password on 4.step. When i run the following command
[code]
got this error :
[code]

[2019-05-30 10:26] harunkelesoglu commented on #3653
I solved.The problem is incorrect syntax of the yaml file. I fixed it for now.
https://github.com/harunkelesoglu/rasa-x-release/blob/master/rasa_x_playbook.yml

[2019-05-30 11:31] AlvaroMonteagudo commented on #3604
Got it working in PyCharm, I don't know what I did, I just created another project, did the very same steps then in the other one but now it worked.
I will close this

[2019-05-30 11:31] #3604 closed

[2019-05-30 11:36] RogersNtr commented on #3590
Hey @erohmensing
Yes, regular postback buttons like  with "Buttons" key work fine. The ones which  bug was the persistent Menu and QuickReplies (even when tried with custom). I just do a pull request with the bug fix.

[2019-05-30 12:07] kellymestre opened #3659 "'Server' object has no attribute 'attach' in rasa 1.0.2"
Hello,

I've a custom connector,

[code]

and after upgrading to rasa 1.0.2, I'm getting the following error:

[code]

I've checked the socketio.py under rasa.core.channels.socketio and now on the SocketBlueprint register there is in fact the line `self.sio.attach(app, self.socketio_path)`. And the AsyncServer has the attach function but the Server does not have.

Is there any solution for that?

[2019-05-30 12:10] AlvaroMonteagudo opened #3660 "Rasa X Debug mode output and GUI issues"
**Rasa version**: 1.0.2

**Python version**: 3.6.4

**Operating system** (windows, osx, ...): Windows

**Issue**: When I got rasa x --debug running I got this output repeatedly:
[code]

I don't know why conversations are not getting updated, I talk to my bot but I got nothing in conversations tab.
I can't reset conversation UI, i mean, i clicked on restart but I want the talk to your bot chat to e

[2019-05-30 13:20] harunkelesoglu opened #3661 "Internal Server Error"
**Rasa version**:
Rasa 1.0.0
**Python version**:
Python 3.6.8
**Operating system** (windows, osx, ...):
Ubuntu Linux
**Issue**:
I installed rasa x to server. when I click on the training button or try to upload the model, I get this error
[code]
my command for upload the trained model
[code]

[2019-05-30 14:13] amn41 commented on #3049
you can use [Rasa X](https://rasa.com/docs/rasa-x/) to do interactive learning via a GUI. If you want to implement your own version, the API endpoints are all documented [here](http://rasa.com/docs/rasa-x/api/rasa-x-http-api/)

[2019-05-30 14:13] #3049 closed

[2019-05-30 15:32] TheGlobalist opened #3662 "Failed to find component class for 'supervised_embeddings'. Unknown component name."
**Rasa version**: 1.0

**Python version**:  3.6

**Operating system** (windows, osx, ...): Windows

**Issue**: I'd like to test SpacyNLP pipeline combined with the supervised_embeddings. If I try to launch it, though, I'm getting this stack trace. This does not happen if, in the config.yml, I just keep supervised_embeddings only.
If I try to leave the SpacyNLP pipeline only, though, I get this err

[2019-05-30 15:53] ayushmaang opened #3663 "Rasa-X Is not able to find conversations"
**Rasa version**: 1.0.2

**Rasa-X Version**: 0.19

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): Mac OS 10.14.5

**Issue**:
When I try to use rasa-x, it seems that it doesn't detect any of my conversations or the database itself. I'm getting the pop up that says: "It seems you're new here! ..."

The rasa.db file is in the same directory as my other files. I have tried to do

[2019-05-30 18:38] ayushmaang commented on #3663
I'd like to update this, so when I went to the importing conversations document, it says a migration script should be run in order to create two files rasa.db and tracker.db.

1) The link to the github repository seems to be no longer valid.

2) I have a rasa.db and tracker.db file in the same directory where I am running rasa. None of these conversations are loading though.

[2019-05-30 18:53] LucasLLC opened #3664 "Configuring the value of `max_number_of_predictions` in `rasa_core.processor`"
**Rasa version**:
0.13.8
**Python version**:
3.6.8
**Operating system** (windows, osx, ...):
Mac OsX
**Issue**:

I have a use case which requires more then 10 actions to be predicted in a row, and because of the default value of `max_number_of_predictions` in `rasa_core.processor`, I'm tripping the `circuit_breaker`. Is there any way to set this value from a configuration file?

**Content of confi

[2019-05-30 20:29] amn41 commented on #3662
Couple of things which aren’t quite right here. The name of the spacy-based pipeline is “pretrained_embeddings_spacy”.

There is a single component called “SpacyNLP”, which is there to load the spacy language model.

I think what you want is to combine the spacy word vectors with the classifier from supervised embeddings, is that right?

language: "en"

pipeline:
- name: "CountVectorsFeaturizer"
-

[2019-05-30 20:36] ruiconti commented on #2571
Hey @jasonkuhrt, I've had the same doubt and figured it out.  You can use environment variables as of `${USER_NAME}`, `{MODEL_NAME}`, etc.

I'm not sure on which issue this was merged but by analyzing [https://github.com/RasaHQ/rasa/blob/master/rasa/utils/io.py#L64](io.py), it is clear that it [adds a constructor](https://github.com/RasaHQ/rasa/blob/master/rasa/utils/io.py#L86) to parse environmen

[2019-05-31 01:11] narenmk opened #3665 "Rasa installation on Windows 2016"
**Rasa version**: 1.0.3

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): Windows 2016

**Issue**:

While installing rasa using pip install rasa facing below issue.

**Content of configuration file (config.yml)**:
[code]

**Content of domain file (domain.yml)** (if used & relevant):
[code]
Building wheels for collected packages: httptools
  Building wheel for httptools (setup.p

[2019-05-31 02:26] HatuneMiku commented on #3650
@erohmensing I have tested this in rasa 1.0.3, everything is going right. THANKS!

[2019-05-31 06:15] erohmensing commented on #3059
I believe this has been taken care of here https://github.com/RasaHQ/rasa/blob/master/rasa/core/interpreter.py#L39

[2019-05-31 06:15] #3059 closed

[2019-05-31 06:16] erohmensing commented on #3650
Perfect! Glad to hear it!

[2019-05-31 06:26] #1708 closed

[2019-05-31 07:51] harunkelesoglu opened #3667 "Building wheel for httptools , ujson"
I'm trying install the rasa x to ubuntu server by this [doc](http://rasa.com/docs/rasa-x/installation-and-setup/)
ı getting the following error when i run the this command
` pip install rasa-x --extra-index-url https://pypi.rasa.com/simple `

**pip version**:
pip 19.1.1 from /home/argedor/env/lib/python3.6/site-packages/pip (python 3.6)

**Python version**:
Python 3.6.8

**Operating system** (wind

[2019-05-31 08:56] fakesecret commented on #3637
@akelad Hello again. You were right. I did more tests.

Two reasons make this happen. First reason is the default options (epochs, batches, etc.) are trying to underfit like I explained above in the example of "rasa init". Because I didn't set random seed, the results varied a lot. The other reason is that the augmentaion is reduced. That means "intent_A -> utter_A -> intent_B -> utter_B -> intent

[2019-05-31 09:33] karthikbalu opened #3668 "Rasa init as well as model not running in centos with docker"
Please help

**Rasa version**:
using docker-full-latest

**Operating system** (windows, osx, ...):
CentOS Linux 7 (Core)

**Issue**:
Im trying to deploy my locally trained model to remote server using docker to run the pretrained model from local machine

1) Not able to run with just loading the tar file
[code]

2) also tried creating new project using init and fails
[code]

**Error (including ful

[2019-05-31 09:39] anilpankaj commented on #3323
how to downgrade pip which command should I used for downgrade pip versions 19.1 and above in anaconda or pycharm.

[2019-05-31 10:16] harunkelesoglu opened #3669 "How to run rasa x without docker as background process on Linux?"
I installed it on rasa x server. I can run it on background with following command.But ı can not see login password on nohup output.
[code]
nohup.out
[code]
**Rasa version**:
Rasa 1.0.3

**Rasa X version** (if used & relevant):
Rasa 1.0.3

**Python version**:
Python 3.6.8

**Operating system** (windows, osx, ...):
Linux Ubuntu

[2019-05-31 10:23] tabergma opened #3670 "CLI: --log-file not working"
**Rasa version**: 1.0

**Issue**:
According to the CLI you can specify a log file via `--log-file` for the commands `rasa run` and `rasa shell`. The logs should be stored in that file. However, after running, for example, `rasa run --log-file rasa.log` there is no log file at all.

Looking at the code, it seems like that the command line argument `log_file` is never used.

[2019-05-31 10:33] harunkelesoglu opened #3671 "How do I run rasa x docker image?"
I took a look deploy on server. You said  "The Docker images for Rasa X Community Edition are freely available via Docker Hub". I got image from docker hub. Can you explain how it should be run? What is the What are the environments variable rasa x needs?
**Rasa version**:
1.0.13

**Rasa X version** (if used & relevant):
1.0.13

**Python version**:
3.6.5

**Operating system** (windows, osx, ...):

[2019-05-31 10:46] Sekhar-jami opened #3672 "Unable to use nlu http interpreter with core model loaded in 1.0.2"
**Rasa version**: 1.0.2

**Python version**: 3.6.3

**Operating system**: osx

**Issue**: I have a core model trained & running in the 1.0.1 rasa version. And I need it to use a NLU endpoint over http (RasaNLUHttpInterpreter). I have added the endpoint in my endpoints.yml file, but the core model still keeps defaulted to regexinterpreter. The issue seems to be because the new rasa model appends 'c

[2019-05-31 11:04] SalAlba opened #3673 "Custom NLU Components Failed to find component class"
**Rasa version**: ``` 0.14```

**Rasa X version** (if used & relevant):

**Python version**: ``` 3.6```

**Operating system**: ``` Ubuntu ```

**Issue**:
I'm trying to make own Custom NLU Components, but rasa_nlu can't find my component, probably I miss something

[code]

**My Custom component sentiment.py :**
[code]

**registry.py :**

[code]

**Error (including full traceback)**:
[code]

**Comma

[2019-05-31 12:05] sekhar14 opened #3674 "ImportError: cannot import name 'create_features'"
**Rasa version**: 0.14.1

**Rasa X version** (if used & relevant):

**Python version**: 3.6

**Operating system** (windows, osx, ...): ubuntu 16.04

**Issue**:
create_features not found in bert extract_features.py

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of domain

[2019-05-31 13:40] illi88 opened #3675 "Apply Context in RASA"
Hello  guys !!
I'm working with RASA, and I need to keep track of what has already happened in the conversation, like , user asks : **"what's the color of the house "** ,after he asks: **"and its price ?"** , I want to know that he meant the price of the house
I know that dialogflow uses the notion of **context** to solve this type of problem,I**s there any solution to solve that in RASA?**
Please

[2019-05-31 17:30] jamallij commented on #3572
not resolved yet

[2019-05-31 18:05] jshapiro1 commented on #3561
Wait so how do you get rid of the notification itself?

[2019-05-31 18:37] tmbo commented on #3572
This is resolved, but not released yet.

[2019-05-31 21:14] claudio-7lieues opened #3676 "Duplicate event in SQLTracker"
**Rasa version**: 1.0

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): osx / postgreSQL

**Issue**: Duplicate event in SQLTracker. It seems the FLOAT precision can't handle the timestamp correctly. Actually, the field has a 5 digits precision, it needs at least 7.

The column type should be change to numeric.

[2019-06-01 08:21] therahulkumar commented on #3338
@MetcalfeTom I am working on this issue, what do you think a good way to remove the above bug.
if you have a \n in json file the escaping it with \\\n while converting to md file works as follows.

original training_data.json
`{
  "rasa_nlu_data": {
    "common_examples": [
      {
        "intent": "affirm",
        "text": "ye\ns"
      }
]
  }
}
`

converted to md file

Now when you convert the

[2019-06-01 10:58] therahulkumar commented on #3673
@SalAlba I faced similar issue when I was working with a custom component, I solved it using exporting the custom component path as PYTHON_PATH.

[2019-06-02 00:29] lingvisa opened #3679 "rasa command line train tool doesn't work as expected"
**Rasa version**: 1.0.1

**Rasa X version** (if used & relevant):

**Python version**: 3.6

**Operating system** (windows, osx, ...): Mac

**Issue**:

I am using the command line to train a NLU model. If I use use "rasa train" or "rasa train nlu", it works fine. However, I always ran into problem if I want to specify my own training data file/directory. For example, if I run the following command:

[2019-06-02 02:15] #3679 closed

[2019-06-02 10:39] NomanSaleem4 opened #3680 "Rasa_core.processor - Circuit breaker tripped. Stopped predicting more actions for sender ‘default’"
**Rasa version**: 0.1.1

**Rasa X version** (if used & relevant):

**Python version**: 3.6.7

**Operating system** (windows, osx, ...): UBUNTU

Why am i getting this error, and how can i resolve it. As two actions get predicted one after each other without action_listen. I have attached the logs for clarification. Help would be much appreciated. I have tried to solve it through stories but no use.

[2019-06-02 17:01] tiwo19 commented on #3627
this is what it contains
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals

import logging

from rasa_core import utils, train, run
from rasa_core.training import interactive
from rasa_core.interpreter import NaturalLanguageInterpreter

logger = logging.getLogger(__name__)

def train_agent(interprete

[2019-06-02 17:03] tiwo19 commented on #3627
@akelad sorry for my late respond i need help please

[2019-06-02 17:40] xames3 commented on #3334
By adding await, I'm always getting syntax error.

 await training_data =  agent.load_data("../data/stories.md")
    ^
SyntaxError: can't assign to await expression

 training_data =  await agent.load_data("../data/stories.md")
                              ^
SyntaxError: can't assign to await expression

Please help and thanks in advance.

[2019-06-02 17:54] xames3 commented on #3334
@Nomiluks  -

Add the following in imports
**import asyncio**

Modify your code while using load_data
training_data = **asyncio.run**(agent.load_data('./data/stories.md'))

This has worked for me. Please let me know if this works for you too.

[2019-06-02 18:21] alexissmirnov commented on #3015
As discussed with @amn41 this issue is still relevant.

I've put together a PR https://github.com/RasaHQ/rasa/pull/3681 that implements
- passing the tracker into the interpreter
- using the tracker in `RasaNLUHttpInterpreter` to lookup a slot and modify the domain name of the NLU endpoint
- extending the configuration to specify the slot name that RasaNLUHttpInterpreter should be looking at
- a u

[2019-06-02 19:13] Sonia2016 opened #3682 "rasa_core.train. train_dialog_model"
**Rasa version**:
rasa-core==0.11.1
rasa-core-sdk==0.11.0
rasa-nlu==0.13.8
rasa-sdk==1.0.0

**Python version**:
Python 3.6.5 :: Anaconda, Inc.

**Operating system** (windows, osx, ...):
Mac OS 10.14.0
**Issue**:
I am trying to work on realtime learning of chatbot so I was using _rasa-core.train.train_dialog_model_ but it shows me ` module 'rasa_core.train' has no attribute 'train_dialog_model'`

*

[2019-06-02 21:06] alexissmirnov commented on #3675
Sorry I don't think it's a quick answer or solution but please see the discussion and a PR here: https://github.com/RasaHQ/rasa/issues/3015

What you're describing can be implemented as an extension to what I did in that PR. The NLU server would need to receive the tracker state. In your example, you would need to resolve the co-reference "its" in "and its price?" based on the previously-collected

[2019-06-03 01:02] Alexeijn commented on #3136
Thanks.
I can't remember the suggested for replacing /conversations behavior.
Actually, is dificult to deal with RASA vanilla, forcing me to use other soaftware like RASA UI, Articulate or RASA Talk. Both of them are incomplete or ugly (UX speaking).

[2019-06-03 04:54] meghnasmhs commented on #3481
@arjunsr1 What code are you looking for?

[2019-06-03 07:31] #3674 closed

[2019-06-03 08:13] akelad commented on #3675
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-03 08:13] #3675 closed

[2019-06-03 08:20] sushilr007 opened #3683 "Unable to pause conversation."
**Rasa version**:

**Rasa X version** (if used & relevant): 0.13.7

**Python version**: 3.6.5

**Operating system**: Win 10

**Issue**: I am trying to achieve user to a human agent but it is not pausing the conversation. for pausing the conversation I am using  **ConversationPaused()**.
I hope I am importing correct packages.

**Content of domain file (action.py)** :
[code]

[2019-06-03 08:20] akelad commented on #3682
This is because rasa_core.train does indeed not have a function called `train_dialog_model`. Please take a look at our [documentation](https://rasa.com/docs/rasa/) iIf you want to stick to your current versions, then the appropriate link is [here](http://legacy-docs.rasa.com/docs/)) on how to train a core model -- it looks like you're using an old format of the configuration as well.
Please ask an

[2019-06-03 08:20] #3682 closed

[2019-06-03 08:23] akelad commented on #3627
Can I ask where you got this code from? The function `train_dialogue_model` does not exist. Please take a look at our [documentation](https://rasa.com/docs/rasa/) on how to train a model.
Please ask any further questions you have in our [forum](https://forum.rasa.com)

[2019-06-03 08:23] #3627 closed

[2019-06-03 08:24] akelad commented on #3680
Not sure what version 0.1.1 is -- do you mean 1.1.1? In any case, please post these kinds of questions in our [forum](https://forum.rasa.com). Something is likely wrong with your stories

[2019-06-03 08:24] #3680 closed

[2019-06-03 08:25] akelad commented on #3673
@SalAlba does that suggestion help?

[2019-06-03 08:27] akelad commented on #3676
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-06-03 08:29] akelad commented on #3672
Thanks for raising this issue, @tmbo  will get back to you about it soon.

[2019-06-03 08:30] akelad commented on #3671
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-03 08:30] #3671 closed

[2019-06-03 08:31] akelad commented on #3669
Thanks for raising this issue, @tabergma  will get back to you about it soon.

[2019-06-03 08:32] akelad commented on #3668
Have you tried running those commands with sudo?

[2019-06-03 08:32] akelad commented on #3637
Awesome glad you managed to make this work

[2019-06-03 08:32] #3637 closed

[2019-06-03 08:35] akelad commented on #3667
@harunkelesoglu have you since resolved this? If no, can you try running `sudo apt-get install build-essential` and then rerun the installation command?

[2019-06-03 08:36] akelad commented on #3665
Could you take a look at this and see if that helps: https://stackoverflow.com/questions/40018405/cython-cannot-open-include-file-io-h-no-such-file-or-directory ?

[2019-06-03 08:38] akelad commented on #3664
Thanks for raising this issue, @tabergma  will get back to you about it soon.

[2019-06-03 08:38] akelad commented on #3663
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-06-03 08:39] akelad commented on #3661
Is there any other messages in your logs? And also how was the zip file created?

[2019-06-03 08:40] akelad commented on #3660
Those logs are intended. It's just polling the model server to see if any new models have been trained.

As for your own conversations -- those live in the "Talk to your bot" screen, they will never go into your conversations. Is the `restart` event that's pictured in your conversation not enough to show that you've stared a new conversation?

[2019-06-03 08:41] akelad commented on #3659
Thanks for raising this issue, @tabergma  will get back to you about it soon.

[2019-06-03 08:41] tmbo commented on #3672
What command are you using to start the core server and what command are you using to start the nlu server?

[2019-06-03 08:43] akelad commented on #3683
@sushilr007 you should put the `ConversationPaused()` event in your return statement, like this:

`return [ConversationPaused()]`

For further questions, please post them in our [forum](https://forum.rasa.com)

[2019-06-03 08:43] #3683 closed

[2019-06-03 08:43] akelad commented on #3604
@tmbo is this still something we need to fix though?

[2019-06-03 08:44] akelad commented on #3590
@RogersNtr have you had a chance to submit a PR yet?

[2019-06-03 08:44] akelad commented on #3653
That should be part of the latest release by now, right @wochinge?

[2019-06-03 08:45] akelad commented on #3657
Should also be fixed in the latest release (1.0.3) -- @wochinge please confirm

[2019-06-03 08:45] akelad commented on #3639
Thanks for raising this issue, @tabergma  will get back to you about it soon.

[2019-06-03 08:46] wochinge commented on #3334
@wassimseif Thanks for catching this error, corrected my example 👍
@Nomiluks Sorry, the weatherbot is not an offical Rasa repository and hence I cannot say when / whether it will be updated.

[2019-06-03 08:47] akelad commented on #3636
i'll close this since it's covered in #3408

[2019-06-03 08:47] #3636 closed

[2019-06-03 08:47] wochinge commented on #3136
Did you have a look at Rasa X? https://rasa.com/docs/rasa-x/

[2019-06-03 08:50] akelad commented on #3652
Thanks for raising this issue, @Ghostvv  will get back to you about it soon.

[2019-06-03 08:50] akelad commented on #3651
Yes these are supported

[2019-06-03 08:50] #3651 closed

[2019-06-03 08:51] akelad commented on #3649
Thanks for raising this issue, @tabergma  will get back to you about it soon.

[2019-06-03 08:51] akelad commented on #3648
@tahamr83 is there any chance you could share your stories?

[2019-06-03 08:53] akelad commented on #3647
could you clarify what you mean? it specifies the names of python packages

[2019-06-03 08:54] akelad commented on #3646
What does your setup look like wrt routing and how are you starting rasa?

[2019-06-03 08:59] akelad commented on #3643
I'm afraid not, Facebook maintains duckling and it's a rule based system which doesn't rely on any training data. I'd suggest you open an issue [here](https://github.com/facebook/duckling).
Can I ask which docker image you're using for duckling?

[2019-06-03 09:00] tmbo commented on #3604
There is a fix for some part of it in #3678 - there is nothing else to fix atm.

[2019-06-03 09:00] akelad commented on #3616
@wochinge could you take a look at that?

[2019-06-03 09:01] akelad commented on #3638
which version of the sdk are you using?

[2019-06-03 09:02] akelad commented on #3609
@amn41 is this fixed now?

[2019-06-03 09:16] tmbo commented on #3606
@wochinge can you please try to reproduce this using the mongo db?

[2019-06-03 09:19] SalAlba commented on #3673
@therahulkumar Thank for advice, I do this

I add to ~/.bashrc

[code]

then I check in in small python script

[code]

**Outputs :**

[code]

@akelad  Still I'm facing this problem with rasa can't find my component

**Error**:
[code]

[2019-06-03 09:33] wochinge commented on #3657
Related to https://github.com/RasaHQ/rasa/issues/3577 but is actually an error in the docs. Thanks for catching this. Will be fixed in the next release.

[2019-06-03 09:35] Ghostvv commented on #3652
[code]
this is a warning, you can ignore it

[code]
this looks like memory issue, could you please print full debug log?

[2019-06-03 09:44] wochinge commented on #3653
Yes, this will be part of the next release (0.19.1)

[2019-06-03 09:48] oldmonkABA commented on #3638
rasa==1.0.1
rasa-sdk==1.0.0
rasa-x==0.19.0

[2019-06-03 11:28] xames3 commented on #3334
@wochinge - Does Rasa 1.0+ expects the users to use CLI only? Can't we program the code from scratch like previous versions?

[2019-06-03 12:12] true1337 opened #3685 "Exception: Visualization has failed. Please refresh the page."
**Rasa version**: 1.0.3

**Rasa X version**: 0.19.0

**Python version**: 3.6

**Operating system**: Ubuntu

**Issue**:

Can't visualize story tree

**Error (including full traceback)**:

![image](https://user-images.githubusercontent.com/26603018/58800826-97271e00-8611-11e9-8f1c-18f12aab6e34.png)

tell me what else I have to provide

[2019-06-03 12:19] amn41 commented on #3669
fyi you can also set the password with the `RASAX_PASSWORD` env var, so:
[code]
should work. Then you can log in at `hostname/login?username=me&password=mypassword`

[2019-06-03 12:31] tmbo commented on #3670
Server actually uses it here https://github.com/RasaHQ/rasa/blob/master/rasa/server.py#L279 but probably gets lost somewhere on the way

[2019-06-03 12:45] tmbo commented on #3619
I think if you correct something in interactive learning, it should be added to the training data and shouldn't be shown in the inbox at all.

[2019-06-03 12:52] tmbo commented on #3577
will be fixed by https://github.com/RasaHQ/rasa-x/issues/746

[2019-06-03 13:10] naj44692 commented on #3646
/virtualassistantserver/v1/ just routes to the main application, which is just the rasa server.

The command used to start rasa is being run upon application startup.
`python -m rasa run --endpoints endpoints.yml --credentials credentials.yml --enable-api --port $PORT    `

[2019-06-03 13:32] fallik opened #3686 "Can not build with docker"
**Rasa version**:
1.0.4
**Python version**:
Tried 3.6 and 3.7
**Operating system** (windows, osx, ...):
macOS 10.14.5
**Issue**:

Hey there!

I just followed the [Running Rasa with Docker Guide](http://www.rasa.com/docs/rasa/user-guide/running-rasa-with-docker/).
In the _Setup_ Section it says I there should be a models directory, after the command `docker run -v $(pwd):/app rasa/rasa init --no-pr

[2019-06-03 13:42] IsaacEllum opened #3687 "RASA X removing my Entity Synonyms"
**Rasa version**: 1.0.1

**Rasa X version** (if used & relevant):0.19.0

**Python version**:3.7.3

**Operating system** (windows, osx, ...):Windows

**Issue**:My original model was train using a JSON file. However, when using RASA X it generates a MarkDown file with any new conversational data, then when I retrain it only looks at this new .MD file.

I got around this by just uploading my JSON fil

[2019-06-03 13:46] hemsush commented on #1992
How we can use the sender id in the conversation

[2019-06-03 14:13] tiwo19 commented on #3627
i got the code from a book please is there a new method to do this

[2019-06-03 14:13] basque21 commented on #3649
same issue here

[2019-06-03 14:27] merwok commented on #3647
«package» is ambiguous: is it something you install (requirement, e.g. scikit-learn, maybe with a version specifier) or something you import (Python module, e.g. sklearn)

[2019-06-03 15:19] alexissmirnov commented on #3633
Great work Tobias. What would happen in case of name conflicts between skills? Should skills be namespaced eg. action would be called `GreetBot.bye`, same with slots.

[2019-06-03 16:04] wochinge commented on #3633
At the moment, everything is merged. But we plan to add some support to scope the imports.

[2019-06-03 16:08] wochinge commented on #3334
No ❗️ Rasa is open-source and will always stay hackable / customizable. However, we will try to make it as easy usable as possible and to make everything important configurable without having to write custom code. This also makes it easier for you to upgrade and so on.

[2019-06-03 16:16] amn41 commented on #3686
hi @fallik  - we provide a number of different docker images (of different sizes) for optional dependencies like spaCy.

If you want to use a spaCy based pipeline, you need to use an image tag like `rasa/rasa:1.0.4-spacy-en`  -  see the full list here https://hub.docker.com/r/rasa/rasa/tags  . You could also use one of the `full` tags, which has everything installed

[2019-06-03 16:20] Sekhar-jami commented on #3672
@tmbo  Here's the command I am using to start the core server (in 1.0.2):
rasa run --model ../path_to_model --endpoints ../path_to_endpoints_file --credentials ../path_to_credentials_file --enable-api

And I am running a separately hosted NLU server which is on an older version of rasa. And it is available over http at http://localhost:8080/

[2019-06-03 16:39] Sekhar-jami commented on #3672
There are also 2 interesting things in the code at rasa/core/interpreter.py:
1.  The Exception still suggests you to use the --nlu flag to specify the model to be used. But I believe this flag is no longer supported in 1.0 & above versions.

2. I also tried starting the core server with a rasa model that has both core & nlu models (in 1.0.2). But I also added the nlu endpoint in my endpoints.yml f

[2019-06-03 16:45] ynouri opened #3689 "How to serve multiple NLU models from an NLU-only server in 1.0.x?"
**Rasa version**: 1.0.4

**Issue**:

Hi,

Thanks for the awesome work you guys are doing. We really appreciate the effort put in the recent releases of Rasa 1.0 and Rasa X.

I'm trying out 1.0.4 (upgrading from 0.14.4) and I am realizing that an important feature our deployments are relying on seems to have changed in 1.0.x: the ability for the NLU server to load and serve multiple models simultan

[2019-06-03 18:10] tdzienniak commented on #3686
@amn41 I think that this is bug was itroduced 4 days ago:

https://github.com/RasaHQ/rasa/blame/master/rasa/nlu/utils/spacy_utils.py#L9

I'm not using any Spacy components in my pipeline, but now I have to have it installed.

[2019-06-03 18:41] amn41 commented on #3686
yes that import should probably be scoped. @tmbo can you please double check since tomm is away?

[2019-06-03 18:44] tmbo commented on #3686
Yes it is, thanks for catching this - I'll fix it and create a patch.

[2019-06-03 18:44] amn41 commented on #3689
correct, we took that functionality out, please see this issue https://github.com/RasaHQ/rasa/issues/3259 for a discussion, would love to hear your thoughts

[2019-06-03 18:44] #3689 closed

[2019-06-03 18:51] tmbo commented on #3686
Just tagged a new 1.0.5 release which should be available once travis finishes building the package.

[2019-06-03 18:51] #3686 closed

[2019-06-03 19:19] ynouri commented on #3259
Hi,

We are also using Rasa NLU server multiple model serving functionality in version 0.14.4. This is a critical feature for us for many reasons:
* our continuous deployment process is a bit heavy and managing only one or a few deployments of the NLU server per environment (dev -> test -> prod) is much simpler than managing N per environment (where N is a large number of models)
* it allows more

[2019-06-04 00:09] tiwo19 opened #3690 "Request URL Your URL didn't respond with the value of the challenge parameter."
**Rasa version**:
rasa-core                          0.14.4
rasa-core-sdk                      0.14.0
rasa-nlu                           0.15.0

**Python version**:
python 3.7

**Operating system** (windows, osx, ...):
windows10
**Issue**:
When i try to integrate my rasa bot to slack , I try to do Event Subscriptions  it does not work.
so i try to view the log using  heroku logs --tail
i get this

[2019-06-04 00:21] tiwo19 commented on #3690
pls help @akelad @rasa

[2019-06-04 06:59] anoop2503 opened #3691 "Error on interactive learning on rasa version 1.0.6"
**Rasa version**: rasa==1.0.6

**Python version**: Python 3.6.7

**Operating system** (windows, osx, ...):
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.2 LTS
Release:        18.04
Codename:       bionic

**Issue**:
Getting error on interactive learning. Please find the interactive learning logs below to see the error details.

**Error (including full traceback)**:
[code]

**Command or reque

[2019-06-04 07:00] anoop2503 commented on #3691
Kindly note that the same model version is working fine on the previous version of rasa (rasa==1.0.1)

[2019-06-04 07:04] fallik commented on #3686
Thank you all guys :)
For the record: I still could not use `docker run -v $(pwd):/app rasa/rasa init --no-prompt`, I got the same error then. Needed to set the 1.0.6-full tag: `docker run -v $(pwd):/app rasa/rasa:1.0.6-full init --no-prompt. Works like a charm now.

[2019-06-04 07:27] tabergma commented on #3659
Hi @kellymestre, I guess you need to use `AsyncServer` instead of `Server`. Can you try the following code snippet?
[code]

[2019-06-04 07:46] wochinge commented on #3639
@akshayrana1139 Rasa X CE only supports one Rasa X user (`me`). Users who want to use your chatbot should use the regular Rasa channels (http://rasa.com/docs/rasa/user-guide/messaging-and-voice-channels/) to connect to the chatbot and send messages.

[2019-06-04 07:51] akelad commented on #3673
Can I ask why you're using the json format for configuration? Also if you've added that dir to the python path, maybe try using just `sentiment.MySentimentAnalyzer` instead?

[2019-06-04 07:52] akelad commented on #3653
i'll close this then

[2019-06-04 07:52] #3653 closed

[2019-06-04 07:52] akelad commented on #3638
Strange, @wochinge any ideas?

[2019-06-04 07:53] akelad commented on #3685
Thanks for raising this issue, @gausie  will get back to you about it soon.

[2019-06-04 07:56] #3338 closed

[2019-06-04 07:56] akelad commented on #3646
just btw `rasa run --enable-api --port $PORT` should be enough to run with the location of your files.
Could you post the contents of your endpoints.yml and also the full traceback from when you startup the rasa server?

[2019-06-04 07:57] akelad commented on #3687
Thanks for raising this issue, @ricwo  will get back to you about it soon.

[2019-06-04 08:09] akelad commented on #3627
Can I ask which book?
If you take a look at the documentation you can find the commands to train a new model. With rasa 1.0, running `rasa train` should suffice. Otherwise `python -m rasa_core.train ...`

[2019-06-04 08:10] ricwo commented on #3687
Thanks for spotting this @IsaacEllum - I can confirm that uploaded entity synonyms aren't persisted to markdown. We'll be looking into this

[2019-06-04 08:15] akelad commented on #3647
We'd be happy to accept a PR phrasing this in a clearer way. This is the method that tries to import them fyi: https://github.com/RasaHQ/rasa/blob/master/rasa/nlu/components.py#L14

[2019-06-04 08:21] akelad commented on #3691
Thanks for raising this issue -- @tabergma this change seems to have come from Paulas PR (#3487) could you take a look?

[2019-06-04 08:23] akelad commented on #3690
what does your `credentials.yml` look like?

[2019-06-04 08:51] kellymestre commented on #3659
Hi @tabergma , thanks for helping me with this issue!
Yes in the mean time I changed to that approach and it works. But I still get an error, which I do not know if it is related or not with this:

`[2019-06-04 09:42:10 +0100] [1631] [ERROR] Exception occurred in one of response middleware handlers
Traceback (most recent call last):
  File “…/lib/python3.7/site-packages/sanic/app.py", line 958, in

[2019-06-04 08:55] danielhomsa commented on #3643
I'm running the rasa/duckling latest image. Ok, when I send the same phrase to the duckling container directly it recognizes the entity, as a dimension of distance, which is not what I expect, but it gets recognized. While when going through rasa it doesn't extracts anything.

[2019-06-04 09:17] LKiera opened #3693 "Iterative answering"
**Rasa version**:
rasa-core                     0.14.3
rasa-core-sdk                 1.0.0rc2
rasa-nlu                      0.15.

**Rasa X version** (if used & relevant):

**Python version**:
Python 3.6.7
**Operating system** (windows, osx, ...):
Ubuntu 18.04
**Issue**:
Is there any way we can get an answer by the question sent by the back end function?

**Error (including full traceback)**:
[cod

[2019-06-04 09:41] saniko commented on #2937
ERROR: rasa-sdk 1.0.0 has requirement ConfigArgParse~=0.14, but you'll have configargparse 0.13.0 which is incompatible.

[2019-06-04 09:50] tabergma commented on #3649
We use [asyncio](https://docs.python.org/3/library/asyncio.html) internally. `agent.load_data` is a coroutine that needs to be run and waited for. Please try out the following code:

[code]

As you are using python3.7 you should be able to replace
[code]
by
[code]

[2019-06-04 10:06] tiwo19 commented on #3690
facebook:
  verify: "horoscope-bot"
  secret: "28651269458eef5dd17d6460b506b6d2"
  page-access-token:
"EAAJiUznmFTcBAJCx99XQc3UZBFvpaMGWYzq50p6yp8uXapRF2jJs9sSGMEMCYicrnXNhIDGmCfMMWnMN6FG3CzPNiPs53jDVqGfLgJ3Py7tWYaAzLBZC8Qip4Hr5jM4ohh63TiCaVukNGHo8XYjv3HvYZCUQLKeFY8EC8HF8gZDZD"

am new am using a book i got online to do this please this is
credentials.yml please correct me please

On Tue, Jun 4, 2

[2019-06-04 10:09] tiwo19 commented on #3627
Building Chatbots with Python.pdf

On Tue, Jun 4, 2019 at 9:09 AM Akela Drissner-Schmid <
notifications@github.com> wrote:

[2019-06-04 10:10] tiwo19 commented on #3627
Building Chatbots with Python.pdf

[2019-06-04 10:23] fallik commented on #3606
Hi there,

I think I am facing the same issue. I just installed rasa, initialized it and wanted to check out the all new rasa x.

**Rasa version:** 1.0.6
**Python version:** 3.6.8
**Operating system:** macOS

As I just wanted to see how it works, I did not set up any database for persistance.
Here is what I get when trying to start rasa x:

[code]
(BTW I noticed that there is no /login server rout

[2019-06-04 10:45] epiicme opened #3695 "Messages list in CollectingOutputChannel always empty"
**Rasa version**: 1.0.6

**Rasa X version** (if used & relevant): 0.19.0

**Python version**: 3.7.3

**Operating system** : Windows 10 1709 Build 16299.1146

**Issue**: Messages list in CollectingOutputChannel always empty.
I have attempted to modify the Google Assistant connector example from this [link](https://medium.com/rasa-blog/going-beyond-hey-google-building-a-rasa-powered-google-assistant

[2019-06-04 10:58] #3561 closed

[2019-06-04 10:58] #3562 closed

[2019-06-04 10:58] #3565 closed

[2019-06-04 10:59] agarwalmridul09 commented on #3662
`KeyError                                  Traceback (most recent call last)
/usr/local/lib/python3.6/dist-packages/rasa_nlu/registry.py in get_component_class(component_name)
    106         try:
--> 107             return utils.class_from_module_path(component_name)
    108         except Exception:

/usr/local/lib/python3.6/dist-packages/rasa_nlu/utils/__init__.py in class_from_module_path(modu

[2019-06-04 11:00] agarwalmridul09 commented on #3662
KeyError Traceback (most recent call last)
/usr/local/lib/python3.6/dist-packages/rasa_nlu/registry.py in get_component_class(component_name)
106 try:
--> 107 return utils.class_from_module_path(component_name)
108 except Exception:

/usr/local/lib/python3.6/dist-packages/rasa_nlu/utils/init.py in class_from_module_path(module_path)
175 else:
--> 176 return globals()[module_path]
177

KeyError: 'S

[2019-06-04 11:07] rabeenj007 commented on #2689
I am facing the same issue. Any update regarding the issue? Any alternatives to sort out the issues

[2019-06-04 11:23] ravisurapati opened #3696 "how to use numeric values in rasa"
**Rasa version**: rasa x

**Rasa X version** (if used & relevant):

**Python version**: 3.6

**Operating system** (windows, osx, ...): linux

**Issue**:
when i am trying to use numbers for two different intents, it only accepts first one only, i want to build a application that only accept numbers instead of strings, i am facing issues and , if i want to mention numbers from 1 to 1000  in an inten

[2019-06-04 12:43] Haffi112 commented on #3610
Any update on when this will be fixed?

[2019-06-04 12:59] wochinge commented on #3606
@harunkelesoglu
1) Rasa X does not support other tracker stores then SQL in local mode. If you want to use other tracker stores you have to deploy it (https://rasa.com/docs/rasa-x/deploy/). I think we should have a check at the startup to give a better error message here.
2) How did you start mongo? If Rasa cannot connect to mongo (e.g. if the mongo server was started without SSL support), it will

[2019-06-04 13:05] fallik commented on #3606
Hi @wochinge
i ran it from inside a fresh directory after `rasa init`. Wouldn't that work?

[2019-06-04 13:20] mjspeck commented on #3673
I've had a similar problem. The path to my sentiment analyzer is this: `nlu.custom_components.sentiment.SentimentAnalyzer`, but when I run `rasa train` I get this error:

[code]

I haven't added the directory to my Python path, but I shouldn't need to do that, right?

[2019-06-04 13:39] wochinge commented on #3606
@fallik Did you do any changes to the endpoint config? Can you check if you have sqlite installed?

[2019-06-04 13:47] fallik commented on #3606
@wochinge no, I left everything as it is. And no, I do not have sqlite installed. Do I need that?

[2019-06-04 13:50] #3536 closed

[2019-06-04 17:09] naoko commented on #3649
@tabergma, thank you! that solved the problem!

[2019-06-04 17:21] ayushmaang commented on #3663
Hi! Any update for this? Thank you!

[2019-06-04 17:55] wochinge commented on #3606
It should be installed by default on a Mac. What happens if you type `sqlite` or `sqlite3` in your command line? You can also try installing it via https://brewinstall.org/Install-sqlite-on-Mac-with-Brew/

[2019-06-04 18:07] ricwo commented on #3610
@Haffi112 this will be part of the next rasa X minor release, which will be out in the next few days

[2019-06-04 18:27] naj44692 commented on #3646
endpoints.yml:
`action_endpoint:
  url: http://localhost:3009/webhook`

trace:
`2019-06-04 18:25:23 DEBUG rasa.model - Extracted model to '/home/vcap/tmp/tmp8u63n187'.
2019-06-04 18:25:23 DEBUG rasa.core.utils - Available web server routes:
/conversations/<conversation_id>/messages POST add_message
/conversations/<conversation_id>/tracker/events POST append_event
/webhooks/rest GET custom_webhook_

[2019-06-04 19:29] #3687 closed

[2019-06-04 21:26] feynmanliang commented on #3676
This issue is also arising during interactive training since https://github.com/RasaHQ/rasa/blob/master/rasa/core/training/interactive.py#L235 expects the entire event history to be replaced (as done in the `InMemoryTrackerStore` https://github.com/RasaHQ/rasa/blob/master/rasa/core/tracker_store.py#L131) but the `SQLTrackerStore` only appends events that are after the greatest timestamp (https://g

[2019-06-04 22:33] Sonia2016 commented on #3553
I have kind of the same issue:

d-172-25-16-132:chatbot soniabaee$ rasa init
Welcome to Rasa! 🤖

To get started quickly, an initial project will be created.
If you need some help, check out the documentation at https://rasa.com/docs/rasa.
Now let's start! 👇🏽

Traceback (most recent call last):
  File "/Users/sonia/anaconda3/bin/rasa", line 10, in <module>
    sys.exit(main())
  File "/Users/sonia/

[2019-06-04 22:50] Sonia2016 opened #3700 "rasa init error"
**Rasa version**:
rasa                               1.0.6
rasa-core                          0.14.5
rasa-core-sdk                      0.14.0
rasa-nlu                           0.15.1
rasa-sdk                           1.0.0
**Python version**:
Python 3.6.5 :: Anaconda, Inc.
**Operating system** (windows, osx, ...):
osx
**Issue**:

Traceback (most recent call last):
  File "/Users/soniabaee/anaco

[2019-06-05 05:43] #3649 closed

[2019-06-05 06:03] tabergma commented on #3659
Glad it works now. Regarding the error: It seems like there is something wrong with the response. Can you please share the code that is leading to that error? What are you trying to do?

[2019-06-05 07:00] fallik commented on #3606
`sqlite3` it is. Version 3.26.0 is installed.

[2019-06-05 07:06] wochinge commented on #3606
@fallik Could you please share the content of your `endpoints.yml` file?

[2019-06-05 07:10] fallik commented on #3606
Sure:
[code]

Only thing I uncommented is the action_endpoint. What else do I need for rasa x?

[2019-06-05 07:27] tabergma commented on #3600
@Ghostvv This was actually a feature request from @erohmensing (see https://github.com/RasaHQ/rasa/issues/3272).

Currently,
1) if you train without any config a default config is used
2) if you train an NLU model and your config misses the parameter pipeline, the config gets enriched with the default pipeline
3) if you train a Core model and your config misses the parameter policies, the config g

[2019-06-05 07:37] AlvaroMonteagudo commented on #3660
Oh okay, so that info is meant to be there.
If Talk to your bot does not go to the conversations, what does?
Sorry that I don't fully understand conversations funcionality.
I guess that restart is enough

[2019-06-05 08:00] akelad commented on #3643
I assume that's because you don't have `distance` listed in the dimensions you want to extract in your config?

[2019-06-05 08:04] akelad commented on #3693
Not sure I understand the question, but these types of usage questions should be posted in the [forum](https://forum.rasa.com)

[2019-06-05 08:04] #3693 closed

[2019-06-05 08:06] akelad commented on #3690
This is a facebook access token, that's not the configuration for the slack channel. Please take a look here about how to set it up: http://rasa.com/docs/rasa/user-guide/connectors/slack/
And please post any future usage questions you have in the [forum](https://forum.rasa.com)

[2019-06-05 08:06] #3690 closed

[2019-06-05 08:07] akelad commented on #3695
Thanks for raising this issue, @tmbo  will get back to you about it soon.

[2019-06-05 08:08] wochinge commented on #3606
Hm 😕 Do you have anything else running on port `5005` or `5002`?

[2019-06-05 08:13] fallik commented on #3606
I am pretty sure that I don't. Do I need to run with some flag? I just tried `--cors "*"`, but it did not do the trick :/
Would it help to set up a database like mongoDB?

[2019-06-05 08:14] akelad commented on #3662
@agarwalmridul09 what training command are you running? Looks like it's using the `rasa_nlu` package as opposed to the `rasa` package

[2019-06-05 08:15] akelad commented on #3662
Actually sorry, you're not the original poster -- I assume you still have an old version of `rasa_nlu` installed -- it's likely the component names are different there

[2019-06-05 08:15] akelad commented on #2689
@tmbo ?

[2019-06-05 08:15] akelad commented on #3696
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-05 08:15] #3696 closed

[2019-06-05 08:16] imLew commented on #3700
Hi Sonia,

Based on the trace it seems like you are missing the `python-socketio` package, try installing it with pip and see if this fixes your problem.

Also, it seems like you have `rasa-core` and `rasa-nlu` installed alongside `rasa`. This is not necessary, core and nlu were are our previous packages, they have now been merged into just `rasa` (i.e. it contains both nlu and core).

[2019-06-05 08:16] akelad commented on #3673
@mjspeck can I ask you to post your directory structure as well, and also where you're running the command from?

[2019-06-05 08:17] akelad commented on #3647
Yeah I know, are you willing to create a PR for this to make it clearer in the docs?

[2019-06-05 08:22] akelad commented on #3646
and when you start up the action server?

[2019-06-05 08:24] amn41 commented on #1768
this is sorted right? can we close?

[2019-06-05 08:25] kellymestre commented on #3659
Hi @tabergma , sorry just an update regarding my previous comment, so I was using ` sio = AsyncServer(async_mode="sanic")` and this way it works, but  I get that error ('list' object has no attribute 'headers') when refreshing the page where I have the rasa-webchat connection. I limited the messages to have the structure {"text": "text"} but even this way I'm getting the error.

If is use `sio = A

[2019-06-05 08:26] wochinge commented on #1768
👍

[2019-06-05 08:26] #1768 closed

[2019-06-05 08:29] amn41 commented on #2811
@wochinge what's the status?

[2019-06-05 08:29] wochinge commented on #3638
Could you please try removing the slash at the end, so that it looks like:
[code]

Also it would be great if you could share the whole actions file (or at least the imports).

[2019-06-05 08:30] wochinge commented on #2811
Still has to be done. We made some progress for the `utils`, but not for the rest.

[2019-06-05 08:32] #3610 closed

[2019-06-05 08:34] wochinge commented on #3663
@ayushmaang Could you please try commenting out the `tracker_store` section in your endpoints.yml or replace `rasa.db` with `tracker.db`?

I just tried, and the link worked for me (https://gist.github.com/wochinge/547a844f9851bb031c129e0416489068) ?

[2019-06-05 08:34] amn41 commented on #3166
now covered in the docs see e.g. https://rasa.com/docs/rasa/user-guide/command-line-interface/#train-a-model

[2019-06-05 08:34] #3166 closed

[2019-06-05 08:47] tmbo opened #3702 "SQLite event stream"
Currently we are using the sqlite tracker store to stream events from Rasa to Rasa X. This has the downside, that Rasa X locally only works with the sqlite db.

Instread of using the sqlite tracker store to access the events, there should be a separate `EventChannel` implementation which dumps these events. Rasa X should then read the events and after processing them delete them from the table. Th

[2019-06-05 08:48] akelad commented on #3660
The conversations are a list of conversations other people have had with your bot, so for example ones that stem from any channels you've connected your bot to, or from when someone has a conversation through the [share your bot](https://rasa.com/docs/rasa-x/get-feedback-from-test-users/) feature.
Does that answer your question?

I'll close this issue since this is all intended behaviour -- @abhil

[2019-06-05 08:56] wochinge commented on #3676
@claudio-7lieues In which setting did you see this problem?
@feynmanliang Thanks for the digging into this problem and providing the fix.
I have a look at your pr immediately.

[2019-06-05 09:03] wochinge commented on #3584
@LoganDungeon What exactly do you mean?
Docker by default runs as `root` user, which means all files created by containers will be created by `root`. What you can do is not running the containers as `root` users, e.g. as described here https://medium.com/redbubble/running-a-docker-container-as-a-non-root-user-7d2e00f8ee15 .

[2019-06-05 09:11] wochinge commented on #3584
@tmbo Why did you label this as bug? For me it would only be a bug, if rasa fails if not running as `root`. In the draft which I started a while ago, I changed to not run as `root` by default. Could also continue that https://github.com/RasaHQ/rasa/pull/3332/files (files might still be owned by a different user (e.g`1001`) then)

[2019-06-05 09:13] tmbo commented on #3584
Ok, sounded like a bug on first sight, feel free to change it. Is there anything we can do to fix this? (e.g. change docs)

[2019-06-05 09:15] JulienBrochier commented on #3038
Could you explain how to do this ?
"So basically all those configs (apart from augmentation_factor), should go either in the individual policies, or you can specify them in the policy configuration yaml file"

I've tried to modify default_config.yml  in rasa_core :
![image](https://user-images.githubusercontent.com/34643041/58944481-3834e680-8782-11e9-8eae-9914f555b0fb.png)

My train_init.py file

[2019-06-05 09:20] wochinge commented on #3584
@LoganDungeon What do you think? Is there a point in the docs where we should make this more obvious?

In my opinion we shouldn't complicate the tutorial by including settings / configurations for Docker users. However, we could add a note or so.

[2019-06-05 09:24] oldmonkABA commented on #3638
seems like
``
url :"http://localhost:5055/webhook/"

[code]
custom actions are getting executed. Thanks :+1:

[2019-06-05 09:30] wochinge commented on #3638
@oldmonkABA Glad it's fixed . I reopened this issue cause it's definitely not the desired behavior 😄 If you want to fix it, I am also happy to assist you. Otherwise we tackle this in some of the next sprints.

[2019-06-05 09:33] selphe commented on #2440
@loveJasmine
You could also check `config.yml`, mine was not valid:

[code]

Changed to this:
[code]

[2019-06-05 09:38] oldmonkABA commented on #3638
i will let the experts fix it :-)

[2019-06-05 10:18] Amagali opened #3704 "Docker error : Container is restarting"
**Rasa version**:
Rasa 1.0.6
**Rasa X version**:
I can't see the version anywhere
**Python version**:
Python 2.7.15rc1
**Operating system**:
Ubuntu 18.04.2 LTS
**Issue**:
Error response from daemon: Container is restarting, wait until the container is running

**Error (including full traceback)**:
Error response from daemon: Container is restarting, wait until the container is running
ERROR:__main

[2019-06-05 11:18] claudio-7lieues commented on #3676
During normal usage.

[2019-06-05 11:36] ricwo opened #3706 "Make warning about missing templates optional"
We should make `warn_missing_templates()` in `domain.py` optional, and not print them out of rasa X (since warnings are displayed in the UI)

[2019-06-05 12:03] neumann-d commented on #3588
@akelad done

[2019-06-05 12:47] JulienBrochier commented on #3038
Ok, I've found it. I just needed to use agent

[2019-06-05 12:49] #3588 closed

[2019-06-05 13:19] tabergma commented on #3259
@ynouri Thanks for your feedback.

Rasa NLU and Rasa Core are not separated anymore, they are both located inside one package, called Rasa. So, if you update to Rasa 1.0.x both modules (Core and NLU) are on version 1.0.x. Also the interface changed quite a bit, so Rasa 1.0.x is not compatible with Rasa NLU 0.14.x. Sorry, don't think what you are asking for is possible.

[2019-06-05 13:30] Sonia2016 commented on #3700
Hi Lew,
Thanks for responding! I uninstall all my rasa component (rasa, nlu, core) and install rasa (`pip install rasa`). and it check my pip list and apperantly I have
`python-socketio 4.1.0   `! and still I have the same error!

[2019-06-05 13:35] AlvaroMonteagudo commented on #3660
Yes, that solved all my doubts
Thanks

[2019-06-05 13:35] #3660 closed

[2019-06-05 13:38] danielhomsa commented on #3643
Oh, that's right, I added the distance dimension and now it's working, but still not as expected. I will create an issue for this in the duckling site. Thank you.

[2019-06-05 13:44] merwok commented on #3647
I found the source of the docs (https://github.com/RasaHQ/rasa/blob/master/rasa/nlu/components.py#L200-L204) but I think more work may be needed to avoid ambiguity here.  For example, the method that checks these required modules may produce an error message that is super unclear about modules vs requirements: https://github.com/RasaHQ/rasa/blob/master/rasa/nlu/components.py#L28

[2019-06-05 13:56] naj44692 commented on #3646
Not currently using custom actions, so not starting the action server at this point.

[2019-06-05 14:16] eloukas opened #3708 "No matching distribution found for aiohttp~=3.5 (from rasa-x)"
**Rasa version**:
1.0.6
**Rasa X version** (if used & relevant):
0.19.0
**Python version**:
Python 2.7.15rc1

**Operating system** (windows, osx, ...):
Linux Ubuntu
**Issue**:
I am trying to install RASA as the [User Guide ](http://rasa.com/docs/rasa/user-guide/installation/) says. The following error occurs about the distributions of  aiohttp.

**Error (including full traceback)**:
[code]

**Comm

[2019-06-05 14:24] ynouri commented on #3259
Thanks @tabergma your quick reply. We are currently deploying two services separately: a NLU service (running Rasa NLU server) and a Dialog Manager service (running Rasa Core).  We could theoretically upgrade only the Dialog Manager service while leaving the NLU deployment untouched. But as you mention, if breaking API changes happened from 0.x to 1.x, our upgraded Dialog Manager service won't be

[2019-06-05 15:38] Ghostvv commented on #3600
I think if `-c` is specified, but there is smth wrong, we should raise, otherwise use default with a warning maybe

[2019-06-05 15:51] lomarceau opened #3710 "Buttons are not displayed in Rasa X UI if followed by another message in custom action"
**Rasa version**: 1.0.1

**Rasa X version** (if used & relevant): 0.19

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Centos 7

**Issue**:
When running a custom action with following code :
[code]
The buttons from utter_button_message are not displayed in Rasa X UI. The text from utter_button_message followed directly by utter_message will be displayed. When removing the tra

[2019-06-05 16:02] wochinge commented on #3606
@fallik

Unfortunately not since Rasa X uses SQLite.

Do any more logs show up if let Rasa X running for 5 minutes? Like an exception or so?

[2019-06-05 16:04] wochinge commented on #3614
@jgarber Good point!

[2019-06-05 16:08] wochinge commented on #3308
@anoop2503 Can you please retry with the latest stable version `1.0.6`?

[2019-06-05 16:09] wochinge commented on #2801
@akshay2000

Yes, but that also would not work with Duckling. I mean, how should it now the timezone of the user? Only option is to ask the user I guess.

[2019-06-05 16:15] akshay2000 commented on #2801
Hence the option to send timezone with every request. As the bot sits on the client device, it can send timezone along with sender id and message. That is what I ended up doing. Had to override a bunch of methods on a bunch of core and NLU classes though.

[2019-06-05 16:22] wochinge commented on #2801
That highly depends on the input channel, doesn't it?

[2019-06-05 18:58] DiegoProtec opened #3711 "CollectingOutputChannel - IndexError: list index out of range"
**Rasa version**: 1.0.6

**Python version**: 3.6.8

**Operating system**: Windows 10 Pro

**Issue**: Messages list in CollectingOutputChannel always empty. After update version Rasa, the service channels broken. What I do? Help me pls!!!

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2019-06-05 20:05] DiegoProtec commented on #3695
Did you solve the problem?

[2019-06-05 21:54] tweety101 commented on #3661
Hi, I have the same problem. The logs show:

File "/usr/local/lib/python3.6/shutil.py", line 550, in move
rasa-x_1           |     os.rename(src, real_dst)
rasa-x_1           | OSError: [Errno 18] Invalid cross-device link: '/tmp/tmpd67k3i7w/20190604-221048.tar.gz' -> '/app/models/20190604-221048.tar.gz'
rasa-x_1           |
rasa-x_1           | During handling of the above exception, another exce

[2019-06-06 03:38] gautamnair06 opened #3712 "I am in the final phase of executing my weather chatbot but i am stuck with a issue. I am unabl to run the blow cod for dialogu_management_model.py.Please find below the code:"

[2019-06-06 03:38] gautamnair06 opened #3713 "I am in the final phase of executing my weather chatbot but i am stuck with an issue. I am unable to run the cod for dialogue_management_model.py."

[2019-06-06 03:41] gautamnair06 commented on #3713
Code in dialogue_management_model.py

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals

import logging
import asyncio
import rasa.core
from rasa.core.agent import Agent
from rasa.core.policies.keras_policy import KerasPolicy
from rasa.core.policies.memoization import MemoizationPolicy
from rasa.core

[2019-06-06 03:42] gautamnair06 commented on #3713
Error when running the code:

dialogue_management_model.py:44: RuntimeWarning: coroutine 'train_dialogue' was never awaited
  train_dialogue()
RuntimeWarning: Enable tracemalloc to get the object allocation traceback
2019-06-06 08:49:54.740803: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2
WARNING:tenso

[2019-06-06 05:49] GaoQ1 commented on #1754
@anubhavpnp https://github.com/GaoQ1/rasa_nlu_gq/blob/master/rasa_nlu_gao/featurizers/bert_vectors_featurizer.py  I already added it.

[2019-06-06 07:15] anubhavpnp commented on #1754
Thanks a lot @GaoQ1 ! ..I will try it

[2019-06-06 07:32] epiicme commented on #3695
@DiegoProtec, unfortunately, no, I'm still waiting to hear from @tmbo. Hopefully, he'll update us soon.

[2019-06-06 07:33] LoganDungeon commented on #3584
Alright, i did not know docker runs as root, so i was confused. I guess you could maybe add a warning to the tutorial, that the files created by docker have root permissions, so users, that that could lead to problems.

[2019-06-06 08:50] tmbo commented on #3695
Do you get a complete stacktrace @epiicme, that would help a lot (or at least the complete log)

[2019-06-06 09:14] akelad commented on #3704
This sounds like the container isn't running properly. What commands did you use to start the container? And can you post the logs of whichever container is restarting?

[2019-06-06 09:15] akelad commented on #3643
cool, will close this then :)

[2019-06-06 09:15] #3643 closed

[2019-06-06 09:18] akelad commented on #3647
ok before we look into this ourselves would you be willing to submit a PR for that as well? we're always happy about community contributions

[2019-06-06 09:25] akelad commented on #3647
ok before we start looking into this, would you be up for working on this as well? We're always happy to accept community contributions

[2019-06-06 09:27] akelad commented on #3646
Ok I'm unsure of where the 404s are happening then? You also don't need the endpoints file then, if you're not running an action server.
Can you post the logs of when the 404 error is happening?

[2019-06-06 09:28] akelad commented on #3708
@eloukas python 2.7 is not supported, please upgrade to 3.x instead

[2019-06-06 09:28] #3708 closed

[2019-06-06 09:32] akelad commented on #3710
This is intended, they usually disappear in different platforms such as facebook messenger or telegram as well. Because you don't want the user pressing buttons that are no longer relevant to the conversation.
Does that make sense?

[2019-06-06 09:36] akelad commented on #3711
Thanks for raising this issue, @ricwo will get back to you about it soon.

[2019-06-06 09:37] akelad commented on #3661
@ricwo any ideas? I think training on the server not working is intentional right now (obviously a bug, which we're working on fixing), but uploading a model should work.

[2019-06-06 09:37] akelad commented on #3712
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-06 09:37] #3712 closed

[2019-06-06 09:37] akelad commented on #3713
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-06 09:37] #3713 closed

[2019-06-06 09:38] akelad commented on #3695
@DiegoProtec could you link the issue you created here?

[2019-06-06 09:48] wochinge commented on #3584
ok, will do :+1: Thanks for the suggestion!

[2019-06-06 09:48] Amagali commented on #3704
I've just cleaned my installation and proceed to reinstall again but I got the same error again when trying to run
`sudo python rasa_x_commands.py admin username password`

Thre previously command was:
`sudo docker-compose up -d`

Which did this:
`Creating network "rasa_default" with the default driver
Pulling duckling (rasa/duckling:latest)...
latest: Pulling from rasa/duckling
c5e155d5a1d1: Pull

[2019-06-06 10:52] fallik commented on #3606
Hi @wochinge
I attached a log.txt. I let it run by `rasa x -vv`. The logs after "Available web server routes" seem like I may have to set up some things?
[logs.txt](https://github.com/RasaHQ/rasa/files/3261208/logs.txt)

[2019-06-06 11:08] bamba518 commented on #836
@r-wheeler do you have your code training a custom spacy ner based on rasa data?

[2019-06-06 11:09] #3572 closed

[2019-06-06 11:16] DiegoProtec commented on #3695
#3711

[2019-06-06 11:24] DiegoProtec commented on #3711
`
import ga_connector as ga
from rasa.core.agent import Agent
from rasa.utils.endpoints import EndpointConfig

action_endpoint = EndpointConfig(url="http://localhost:5055/webhook")

agent = Agent.load(
    unpacked_model_path='models/',
    # error interpreter
    action_endpoint=action_endpoint
)

input_channel = ga.CustomAction()
agent.handle_channels(channels=[input_channel], http_port=8877)
`

[2019-06-06 11:28] DiegoProtec commented on #3695
I do not know how Agent.load loads the interpreter. When using RasaNLUInterpreter class, occurs error: not found models / metadata.json. How to set interpreter if needed for Agent's lib: from rasa.core.interpreter.NaturalLanguageInterpreter?

[code]

[2019-06-06 12:06] tabergma commented on #3597
Feature will be included in the next minor release.

[2019-06-06 12:06] #3597 closed

[2019-06-06 12:07] tabergma commented on #3670
closed via https://github.com/RasaHQ/rasa/pull/3688

[2019-06-06 12:07] #3670 closed

[2019-06-06 12:09] rohitiec commented on #1082
Hi @Ghostvv , I am using supervised_embeddings for training my data, How can i achieve the same? i did't find anything related to this on rasa docs.

[2019-06-06 12:31] naj44692 commented on #3646
The error I get in the logs was in my original message.

Error: Requested URL /virtualassistantserver/v1/webhooks/rest/webhook not found

Even though  `/virtualassistantserver/v1` resolves to my application, when attempting to hit the rasa endpoint `webhooks/rest/webhook`, it looks like the app/version path is confusing the router.

[2019-06-06 12:31] naj44692 commented on #3646
Has there been an attempt to reproduce this issue?

[2019-06-06 13:06] lomarceau commented on #3710
Fair enough, on the downside it prevents the use of transition messages after buttons like "if the answer you are looking for is not in the options, please rephrase" but I understand the logic and they can always be added to text coming before the buttons even though it's not as clean. Thank you, I will close the issue.

[2019-06-06 13:06] #3710 closed

[2019-06-06 13:07] psds01 opened #3720 "Unable to `/restart` Rasa X UI conversations when trained with EmbeddingPolicy"
**Rasa version**:1.0.1

**Rasa X version** (if used & relevant):

**Python version**: Python 3.6.8 |Anaconda

**Operating system** (windows, osx, ...): Ubuntu

**Issue**:
When I train the core+nlu with `rasa train` and start rasa X with `rasa x`. I am unable to restart the conversation with `/restart`. The error message says :
```rasa.core.featurizers  - Feature 'intent_restart' could not be found

[2019-06-06 13:47] wochinge commented on #3614
closed by #3715

[2019-06-06 13:47] #3614 closed

[2019-06-06 14:09] merwok commented on #3647
Sure, but maybe not before a few weeks.

[2019-06-06 14:39] tabergma commented on #3664
@LucasLLC It seems like that this value is fix. It is always set to 10. There is no way to set it from outside the code.
I'll add a way to update this value for Rasa 1.0. Are you considering updating your Rasa version?

[2019-06-06 14:50] tabergma commented on #3259
We definitely consider implementing a similar logic in the future again. However, I cannot give you any timeline. The feedback here is very helpful as we did not know if and how the project logic was used before. We started this thread to get a better overview and to collect requirements. We will let you know, once we decide to implement something again.

[2019-06-06 14:53] tabergma commented on #3259
We also started a forum thread about this topic. Feel free to also give feedback over there: https://forum.rasa.com/t/removing-projects-for-rasa-nlu-server/8962

[2019-06-06 15:05] ottonemo commented on #3672
I can confirm this bug - we stumbled over this as well.

There does not seem to be a way to use the `RasaNLUHttpInterpreter`. We tried creating a dummy `nlu-%Y%m%d-%h%M%S.tar.gz` to satisfy the obscure creation logic in `NaturalLanguageInterpreter.create` but this fails as well since the unpacked dummy model path will be `/tmp/tmpABCD/nlu` which has three parts after split which in turn always lea

[2019-06-06 15:09] LucasLLC commented on #3664
Absolutely! Thanks!

[2019-06-06 15:45] wochinge opened #3722 "don't require model if model server is given"
If Rasa uses a model server endpoint it should not require a model path when running even if `--enable-api` is `False` (or not specified).

[2019-06-06 15:54] AnkitSingh21 commented on #2478
Hi All,

I am new to rasa and we are working on rasa x. I have just added a few intents and a story to work. Post adding I have done the train the bot and no error is there. But every time I am putting the intent bot takes it as action_listen instead of utter action. Can anyone help me with this? do we need to wait post train our bot?

[2019-06-06 17:49] DiegoProtec commented on #3695
Did the test with Postman passing the body:

[code]

But the stetament:

[code]
**return error: list index out of range
The list is empty**

My service:
[code]

[2019-06-06 18:06] epiicme commented on #3695
This is the extent of the log that I'm getting, @tmbo . Let me know if I can help you with more info.
[code]

[2019-06-06 18:16] #3706 closed

[2019-06-06 19:32] ddombrowsky commented on #3708
`pip3
`pip3`  results in the same error.

[code]

[2019-06-06 19:42] ddombrowsky commented on #3708
Is 3.5 not supported either?

[code]

[2019-06-06 20:04] ddombrowsky opened #3723 "Template could not be saved since domain id is None."
**Rasa version**:

rasa --version
Rasa 1.0.0
 (from docker)

**Rasa X version** (if used & relevant):

Installed `rasa/rasa-x:stable` from docker.

**Python version**:

python3 --version
Python 3.6.8

**Operating system** (windows, osx, ...):

linux 64 bit
Linux 154c7240445c 4.4.0-1083-aws #93-Ubuntu SMP Wed May 8 16:08:41 UTC 2019 x86_64 GNU/Linux

**Issue**:

1. Open web UI
2. Go to "responses"

[2019-06-06 20:15] ricardopieper opened #3724 "Multiple issues regarding Jupyter notebooks"
**Rasa version**: 1.0.7

**Rasa X version** (if used & relevant):

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): osx

**Issue**: This is not related to #3579. I can't fit this issue in the format you asked, but I'll try to picture what I'm going through. I'm not very proficient with python but here are my findings:

### Case 1: Rasa is not found

The setup is as follows:

-

[2019-06-06 21:11] ddombrowsky opened #3726 "Attempt to decode JSON with unexpected mimetype: text/html"
**Rasa version**:

rasa --version
Rasa 1.0.0

**Rasa X version** (if used & relevant):

`rasa/rasa-x:stable` from docker

**Python version**:
python3 --version
Python 3.6.8

**Operating system** (windows, osx, ...):

Linux 7e5eb7ff3f80 4.4.0-1083-aws #93-Ubuntu SMP Wed May 8 16:08:41 UTC 2019 x86_64 GNU/Linux

**Issue**:

1. Run rasa-x, login
2. select an model that has already been trained
3. cli

[2019-06-06 22:34] majjihari opened #3727 "ERROR:rasa.core.channels.facebook:Exception when trying to handle webhook for facebook message."
**Rasa version**:
1.0.7

**Rasa X version** (if used & relevant):
0.19.0

**Python version**:
3.6.8

**Operating system** (windows, osx, ...):
ubuntu 19.04

**Issue**:
Can able to receive messages from FB Messenger. But bot could not respond. In fact unable to find next action. There is no memorised next action (debug) and also facebook exception (error).

**Error (including full traceback)**:
[co

[2019-06-06 22:43] Ghostvv commented on #1082
it is not supported, you'd need to modify it yourself. See above for a hint on how to do it

[2019-06-06 23:09] mishushakov opened #3728 "Rasa as a Service?"
Hi, thanks for building Rasa!
I have some questions.
So, let's say, I want to make a PaaS like Dialogflow with Rasa NLU as a backend

1. How can I have multiple Agents on a single instance? I can't afford to run a new Rasa server for each Agent. Your documentation does not say anything about running multiple Agent on a singe port/process
2. How can I route the NLU to a custom fulfilment (webhook)

[2019-06-07 06:27] amn41 commented on #3728
1. In versions <1.0, your Rasa NLU server can have multiple projects, see https://github.com/RasaHQ/rasa/issues/3259
2. if you goal is to reproduce dialogflow, you may want to look at [this project](https://github.com/paschmann/rasa-ui) for inspiration, since I think it aims for something similar (though not as a service as fast as I understand). Another source of inspiration might be [myNLU](http

[2019-06-07 07:27] akelad commented on #3704
the command for creating a password is broken, we're aware of that and it'll be fixed in the next release.
Can you post the output of `sudo docker-compose logs rasa-x`? Because that seems like a separate issue to the password creation. I wouldn't advise using latest, that's likely to contain bugs as well

[2019-06-07 07:35] akelad commented on #3646
I'm asking for the full logs though, an isolated error isn't enough to debug this. And I guess how are you calling the webhook? Are you chatting to the bot somewhere? I can't really reproduce this as I'm not sure what your routing setup is. In all honesty though since rasa works without the routing, it sounds to me that it's more of an issue with how the routing is set up.

[2019-06-07 07:36] akelad commented on #3720
Hm, this wouldn't really be `EmbeddingPolicy` specific. Can you please fill out the issue template?

[2019-06-07 07:38] Amagali commented on #3704
Here you have:

[code]

Again, which version should I try? Because stable doesn't work either.

[2019-06-07 07:51] akelad commented on #3672
we'll look into it :)

[2019-06-07 07:52] akelad commented on #2478
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-07 07:59] akelad commented on #3708
it seems aiohttp requires python >=3.5.3... we'll look into updating our docs with that information

[2019-06-07 08:01] akelad commented on #3723
Hmm, did you provide a domain file?

[2019-06-07 08:02] akelad commented on #3724
Thanks for raising this issue, @amn41  will get back to you about it soon.

[2019-06-07 08:02] #3573 closed

[2019-06-07 08:02] #3566 closed

[2019-06-07 08:06] akelad opened #3730 "Add info that python >= 3.5.3 is required"
aiohttp has a requirement of >= 3.5.3, therefore we also do. We should update this in our docs, the README and on pypi

[2019-06-07 08:07] akelad commented on #3726
@ricwo i remember seeing this bug, not sure what caused it though, do you know?

[2019-06-07 08:14] #3728 closed

[2019-06-07 08:17] akelad commented on #3727
I don't think this is related to facebook messenger, but rather how you're training/loading your bot. I assume you've trained your bot with `rasa train` and the config file you specified? Can I ask why you're not just starting it with `rasa run` instead of with the custom code?

[2019-06-07 08:27] #3633 closed

[2019-06-07 09:23] majjihari commented on #3727
Thank you akelad for your response. Yes trained with rasa train and also tested with "rasa run --credentials credentials.yml -c facebook" as well. Still the result is same. Credentials.yml contains the correct credentials of facebook as well.

[2019-06-07 09:54] #3664 closed

[2019-06-07 10:03] psds01 commented on #3720
@akelad updated. Any help will be appreciated.

[2019-06-07 10:08] ice2tricky commented on #3662
supervised_embedings is a template from several components bundled together to make it easier to use
here is the overview from the components of this template
"WhitespaceTokenizer",
        "RegexFeaturizer",
        "CRFEntityExtractor",
        "EntitySynonymMapper",
        "CountVectorsFeaturizer",
        "EmbeddingIntentClassifier"

if you would like to change this flow, I think you will nee

[2019-06-07 11:13] #3691 closed

[2019-06-07 11:46] a461925358 opened #3733 "ValueError: Dimensions must be equal"
ValueError: Dimensions must be equal, but are 14 and 13 for 'position__embedding_1/add' (op: 'Add') with input shapes: [?,5,14], [?,5,13].

[2019-06-07 12:22] ddombrowsky commented on #3726
@akelad This is a clean setup, using an amazon EC2 instance, and using the docker-based instructions in http://rasa.com/docs/rasa-x/deploy/ (making use of the `install.sh` script).  Is there a way I can test the API call to the server, to see if it is actually responding with the wrong mime type?

[2019-06-07 12:24] naj44692 commented on #3646
I am calling via the REST api, testing the chat using Postman.
The application is just hosting the rasa server which is handling the routing.
/virtualassistantserver/v1 is just the url that resolves to the application.

In regards to reproducing it, I was just hoping to find out if it was an issue of the router that rasa is using when the base url of an application has a versioned path. If that is

[2019-06-07 12:27] #3646 closed

[2019-06-07 12:30] ddombrowsky commented on #3723
@akelad There is no `domain.md` file:
[code]
I can't see where in the instructions it tells me where to place this file (I do have a `domain.md` in my local instance).
I have tried placing it in various locations in the `rasa_rasa-production_1` container, but the result is the same.  I'm just guessing as to where it should be.

[2019-06-07 12:30] ricwo commented on #3726
@ddombrowsky It's probably due to a wrong entry in `credentials.yml` - this will be fixed in the next release. in the meantime, can you change the contents of the file to

[code]

and try again?

[2019-06-07 12:47] imLew commented on #3700
The `skip_if` method was added to the `questionary` module in April this year, so it seems as though you have an old version of `questionary` with which rasa is no longer compatible.
Please let me know which version you have and if it is `<1.1.1` try whether upgrading to the latest version fixes the issue.

[2019-06-07 12:58] amn41 commented on #3724
I suspect in case 2 python is trying to load the `rasa` package from the path `rasa`.
I would recommend the following:
- create a new virtualenv
- install rasa in it
- make sure you have a jupyter kernel for your virtualenv, see [here](https://ipython.readthedocs.io/en/stable/install/kernel_install.html)
- run `jupyter notebook` in a dir where there isn't anything called `rasa`
- select the correc

[2019-06-07 13:11] ddombrowsky commented on #3726
@ricwo
Thank you very much.  Updating `credentials.yml` seems to have brought the bot back to life.
I will check to see if https://github.com/RasaHQ/rasa/issues/3723 was caused by the same issue.

[2019-06-07 13:13] ddombrowsky commented on #3726
@ricwo
Out of curiosity, is the root cause the fact that the worker was hitting the wrong url, and the server was responding with some 404 HTML page, which the worker was then trying to interpret as JSON, and failing?  Is that the theory?

[2019-06-07 13:16] ddombrowsky commented on #3723
It appears (not surprisingly) that the bad url in #3726 was causing this issue also.

[2019-06-07 13:24] RogersNtr commented on #3590
Yes @akelad I just resubmit a PR. I get some stuffs that I need to do for the certificate on my local repo; I did itand now it is pending.

[2019-06-07 13:27] ice2tricky opened #3734 "Lookup tables"
**Rasa version**:
v1.06
**Rasa X version** (if used & relevant):

**Python version**:
3.7.3
**Operating system** (windows, osx, ...):
Windows
**Issue**:

Lookup tables don't work with big entities. Only when my training examples are simple, it will recognize the simple entities. I don't want to overfit my model with 500 times the same sentence but with a different entity. So I'm guessing that the

[2019-06-07 13:49] DiegoProtec commented on #3695
I found the problem, but I don't know fixed it, here is the UserMessage's assinatur:

[code]
**`output_channel: Optional["OutputChannel"] = None,`**

Here is how I call it:

[code]

**`collector = CollectingOutputChannel()`**

Incompative types

[2019-06-07 13:53] DiegoProtec commented on #3695
Got I help u?

[2019-06-07 13:57] DiegoProtec commented on #3695
Would that I need to implements the CollectingOutputChannel???

[2019-06-07 14:56] ice2tricky commented on #3734
I will close this one, because the problem was that my training examples didn't provide enough variation for the regex pattern to include all combinations.
For people who run into this, just add more examples, especially from the strange cases, so the regex pattern has more options to extract the right entity.

[2019-06-07 14:56] #3734 closed

[2019-06-07 14:57] ricardopieper commented on #3724
Yes, it was all my fault. Renaming the `rasa` folder to `rasa_test` solved the issue.

Thanks @amn41

[2019-06-07 14:57] #3724 closed

[2019-06-07 16:05] #3727 closed

[2019-06-07 16:17] Sonia2016 commented on #3700
I upgraded `questionary` package and now is `1.1.1` after that I ran `rasa init` and it still gave me the same error so I created a virtual environment and activate the `.env`, ran `rasa init` and  is running! Thanks!

[2019-06-07 19:31] mohit-sym commented on #3323
Hi @MetcalfeTom , I tried with pip 19.0.0 and 10.0.0, the error did not change. Thanks.

[2019-06-07 19:52] ddombrowsky opened #3735 "Training form the rasa-x UI fails with TrainingError"
**Rasa version**:

rasa --version
Rasa 1.0.0

**Rasa X version** (if used & relevant):

rasa/rasa-x:stable (docker)

**Python version**:

python3 --version
Python 3.6.8

**Operating system** (windows, osx, ...):
Linux 143c6802c949 4.4.0-1083-aws #93-Ubuntu SMP Wed May 8 16:08:41 UTC 2019 x86_64 GNU/Linux

**Issue**:

The training button does nothing.  Error in the logs is:
[code]
No idea what path

[2019-06-07 19:58] Robertjbc opened #3736 "oracle connection don´t work"
hello rasa friend i need to connect my rasa bot to a oracle data for save the conversation, but when i write a message to my bot this send me a error..

`2019-06-07 15:51:36 ERROR    rasa.core.channels.channel  - An exception occured while handling user message 'hello'.
Traceback (most recent call last):
  File "c:\users\capitalminds\appdata\local\programs\python\python36\lib\site-packages\sqlalch

[2019-06-07 23:14] #3638 closed

[2019-06-08 01:06] agrawal-mohit opened #3737 "Encountered an exception while running action 'action_get_answer'. Bot will continue, but the actions events are lost. Make sure to fix the exception in your custom code."
I'm trying to implement custom actions and have added `action_get_answer` to **`domain.yml`**.
[code]

Added the action in **`actions.py`** :

[code]
Ran the action server:
`$ rasa run actions`

Upon running rasa server :
`$ rasa x`

 i get this error and `GetAnswer` is not triggered -

How do I make this work?

Thanks

[2019-06-08 03:23] honabim commented on #3281
i use rasa_core 0.13.2
can you tell me more details about where in ActionRevertFallbackEvents action would be added that two lines?
this is my ActionRevertFallbackEvents:
`class ActionRevertFallbackEvents(Action):
    """Reverts events which were done during the `TwoStageFallbackPolicy`.

       This reverts user messages and bot utterances done during a fallback
       of the `TwoStageFallbackPol

[2019-06-08 06:13] ricwo commented on #3711
@DiegoProtec your `_extract_intent()` doesn't have to be a coroutine. you can either `await` it, or just change it to
[code]
I hope that helps!

[2019-06-08 06:13] #3711 closed

[2019-06-08 06:26] #3657 closed

[2019-06-08 09:38] amn41 commented on #3737
can you please show the logs of your action server? that should show what the exception is

[2019-06-08 09:52] ricwo opened #3738 "Update Pika and Kafka queue name defaults"
**Rasa version**: `1.x`

**Issue**: Pika and Kafka queue reflect old package name

[2019-06-08 11:22] ricwo commented on #3661
This is odd, because `shutil.move()` as of python 3.6 should handle different file systems correctly.
we'll look into this further

@tweety101 are you also running Ubuntu? If so, which version?
@harunkelesoglu what version of Ubuntu are you running?

[2019-06-08 11:23] ricwo commented on #3726
@ddombrowsky yes, that's correct 🙂

[2019-06-08 13:10] agrawal-mohit commented on #3737
Hi @amn41 , the `rasa_core.log` file is empty. Could you help me locate the log you are asking about ?

[2019-06-08 15:02] jp8042 commented on #3730
I would like to work on it. If the issue is open.

[2019-06-08 15:20] elyase commented on #3673
The error message can be misleading. You will see the same error if your component fails to import for any reason i.e. missing dependencies or any syntax or other error you might have in your custom component. To debug try:

[code]
Also check that you can import any dependencies you declared in `required_packages` . For example if your `required_packages` looks like:
[code]

check that you can imp

[2019-06-08 17:59] amn41 commented on #3737
I mean the output of the process which you started by running `rasa run actions`

[2019-06-08 18:10] pnandhini11 opened #3740 "Rocket.Chat connector"
There is a RocketChat connector with Rasa core. How does this connector work to integrate with Rocketchat to perform bot activity? How do we make the connection with Rocketchat?

[2019-06-08 18:36] achrafBenHamou commented on #3028
same problem

[2019-06-08 19:52] ghostrider303 commented on #3207
I am facing the Same problem and the solution here is not working

[2019-06-09 06:50] studiocardo opened #3741 "--data option fails."
**Rasa version**: 1.0.1

**Rasa X version** (if used & relevant):

**Python version**: 3.6.7

**Operating system** (windows, osx, ...): Ubuntu 16.04

**Issue**:
1. --data option does not work in "rasa train"
2. err msg misleading: No NLU data given. Please provide NLU data in order to train a Rasa NLU model using the '--nlu' argument.

Per http://rasa.com/docs/rasa/user-guide/command-line-interfac

[2019-06-09 08:28] nitinjain9282 commented on #2023
How to do it with rocket.chat

[2019-06-09 09:30] ricwo opened #3742 "UnfeaturizedSlots appear in domain warnings"
**Rasa version**: `master`

**Issue**: `UnfeaturizedSlots` should not be part of domain warnings, as they're not required to be in stories

[2019-06-09 09:53] bastbnl commented on #3322
Thanks, @tmbo. I'm trying to install `rasa` as per the [manual](http://rasa.com/docs/rasa/user-guide/installation/#great-for-getting-started-pretrained-embeddings-from-spacy) on a VM running Debian 9.9 with `Python 3.7.3`.

From the manual I'm assuming I should run this:
`pip install rasa[spacy]`

This fails:
[code]

It seems like the [setup.py](https://github.com/RasaHQ/rasa/blob/1.0.7/setup.py#L

[2019-06-09 10:43] harunkelesoglu commented on #3669
@amn41  Unfortunately. 'export RASAX_PASSWORD=mypassword' command did not work.

[2019-06-09 18:34] tweety101 commented on #3661
Hi, Ricwo. I am using Ubuntu 18.04 from a fresh Digitalocean install.

Uploading the model using scp did make it available in rasa x. However I keep running into errors when trying the talk to bot.

The logs show:

ERROR] Exception occurred while handling uri: 'http://rasa-production:5005/webhooks/rasa/webhook'
rasa-production_1  | Traceback (most recent call last):
rasa-production_1  |   File "/u

[2019-06-10 03:25] bamba518 commented on #2881
I don't understand the solution @Ghostvv,  not sure the meaning of this " As a solution, I recommend for the first utterance create utterance template in domain.yml and put it in the stories before your action,"

[2019-06-10 06:15] ravikrcs opened #3744 "There was an error loading messages and polling has been stopped in rasa x."
**Rasa version**: 1.0.1

**Rasa X version** (if used & relevant):

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): windows

**Issue**:
There was an error loading messages and polling has been stopped in rasa x.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

*

[2019-06-10 06:35] harunkelesoglu commented on #3661
Hi @ricwo I am using Ubuntu 16.04.6 LTS

[2019-06-10 07:23] harunkelesoglu commented on #3661
When I load the trained data and click Train, I get the following error in the logs:

Error:
[code]

Logs:
[code]

[2019-06-10 08:27] #3742 closed

[2019-06-10 09:07] agrawal-mohit opened #3745 "Datepicker template gives error"
Rasa 1.0.2
Using the custom datepicker component like this :

[code]

I get this error :

![Screenshot 2019-06-09 at 8 51 06 PM](https://user-images.githubusercontent.com/1859165/59185112-42455380-8b8d-11e9-8195-37e88f9323f0.png)

How do i make this work?

Thanks!

[2019-06-10 09:37] #3738 closed

[2019-06-10 12:09] harunkelesoglu commented on #3667
I created a virtual env.I solved the problem. I think when I run this code line solved. Thanks @akelad

[2019-06-10 12:19] shazadmaved commented on #1195
Hi Mukund

Did you have any luck on Arabic Entity Extraction? Did you get it working ? If yes, could you please reply how?

[2019-06-10 12:37] TestCandidate opened #3747 "Unicode Encode Error When Training"
When I try to train arabic text with entities, I get the following error:
UnicodeEncodeError: 'ascii' codec can't encode characters in position 2-5: ordinal not in range(128)

**Using version 1.0.6**

**My data file:**
`{
  "rasa_nlu_data": {
    "common_examples": [
      {
        "text": "مرحبا",
        "intent": "greet",
        "entities": []
      },
      {
        "text": "صباح الخير",

[2019-06-10 13:36] ayushmaang commented on #3663
Hi. This is what I'm getting when I click link.

![error](https://user-images.githubusercontent.com/9752535/59198033-c6cdad00-8b60-11e9-9d6e-d8b2a1fecfd4.PNG)

However, when I tried to load the repo on another laptop it seemed to work. I also changed to tracker.db and now it works.

Thank you!

[2019-06-10 15:06] BrunoRoth95 opened #3748 "Cannot load custom component / custom IO channel by class name"
I have a custom tokenizer and synonym mapper. It works fine on rasa core 0.14x and rasa nlu 0.15x.

I upgraded to rasa 1.0.8 and its not working anymore. It gives the followring error:

Here is the pipeline that i'm using:

I've already tried adding the custom component folder with PYTHONPATH in ~/.bashrc, as suggested in [https://github.com/RasaHQ/rasa/issues/3673](url)

But still no sucess.

[2019-06-10 16:45] ddombrowsky commented on #3735
Any clues on how to track this one down?

[2019-06-10 17:58] erohmensing commented on #3207
@ghostrider303 please create a new issue and fill out the issue template with your information

[2019-06-11 04:10] selphe opened #3750 "Telegram channel markdown syntax problem"
**Rasa version**:
rasa                    1.0.9
rasa-core               0.13.7
rasa-core-sdk           0.13.0
rasa-sdk                1.0.0

**Rasa X version** (if used & relevant):
rasa-x                  0.19.0

**Python version**:
Python 3.6.8

**Operating system** (windows, osx, ...):
Windows 10

**Issue**:
Seems default telegram connector doesn't support markdown syntax

**Command OR request

[2019-06-11 04:56] lahsuk commented on #3748
You can check out [this issue](https://github.com/RasaHQ/rasa/issues/3552) for more details.

Or you can simply run it with `python -m rasa train/run`.

[2019-06-11 05:28] lahsuk commented on #3741
The argument has changed from `--data` to `-u | --nlu`. So, in your case, it should be
`rasa train -v --config ./nlu_config.yml --nlu ./NLU_train_data --out ./models`

[2019-06-11 06:56] studiocardo commented on #3741
Thx Iahsuk, I'll give it a try.  In the meantime, hopefully Rasa can update

http://rasa.com/docs/rasa/user-guide/command-line-interface/

as well as the command line err msg with the new options.

Best,
J

[2019-06-11 07:55] Ghostvv commented on #2881
treat the first utterance as a different `utter`-action

[2019-06-11 07:59] ghostHBL opened #3751 "create multi tempfile without clear up after exit"
**Rasa version**:
1.0.1

**Python version**:
3.6.8

**Operating system** (windows, osx, ...):
centos 7

**Issue**:
When I use rasa run --enable-api -m xxx.tar.gz to start a server, it create multi tempfiles in /tmp, usually three, but when I exit it, these tempfiles have not been auto clear up. I check the code, I found that in in rasa/run.py,
[code]
the function run use  get_model(model) to get l

[2019-06-11 08:07] andrewrobertday opened #3752 "Unable to scroll where large story is displayed"
**Rasa version**:1.0.1

**Rasa X version** (if used & relevant):

**Python version**3.6.7

**Operating system** (windows, osx, ...):ubuntu

**Issue**:
When using Rasa-x and the story exceeds the height of the display, there is no ability to scroll down to see the later part of the story.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of c

[2019-06-11 08:07] #3700 closed

[2019-06-11 08:08] andrewrobertday opened #3753 "Rasa-X UI - Interactive Training"
**Rasa version**:1.0.1

**Rasa X version** (if used & relevant):1

**Python version**:3.6.7

**Operating system** (windows, osx, ...):Ubuntu

**Issue**:
When using interactive trainng, after selecting a next action and clicking to continue, the display jumps back to the top of the conversation and the user has to scroll back to the bottom of the conversation to continue.

**Error (including full t

[2019-06-11 08:22] #3380 closed

[2019-06-11 08:36] #3676 closed

[2019-06-11 09:35] #3584 closed

[2019-06-11 09:38] tmbo commented on #3322
There is nothing about the tensorflow support - the only thing for py 3.7 you can do is to install the release candidate (1.14.0rc1) - as soon as this is released as a stable version we can properly support python 3.7

The additional dependencies are really just to make the setup easier as it would be hard to explain which dependencies need to be installed - are there any issues with having pymong

[2019-06-11 09:44] akelad commented on #3322
@tmbo what do you mean with tensorflow support? 1.13.1 exists and it supports py3.7

[2019-06-11 09:46] tmbo commented on #3322
looking at https://pypi.org/project/tensorflow/1.13.1/ it doesn't (left-hand side under "Programming Language")

[2019-06-11 09:47] akelad commented on #3322
but at least me and @Ghostvv are running py3.7 and it works :D
Also their release notes say they do: https://github.com/tensorflow/tensorflow/releases/tag/v1.13.1
I think they just forgot to update the supported languages on pypi?

[2019-06-11 09:48] akelad commented on #3753
we're working on getting this fixed in an upcoming release, thanks for letting us know though!

[2019-06-11 09:49] akelad commented on #3753
will leave it open for now until the release is out

[2019-06-11 09:49] akelad commented on #3752
Thanks for raising this issue -- @gausie are we aware of this bug?

[2019-06-11 09:50] akelad commented on #3751
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-06-11 09:51] akelad commented on #3741
`rasa train` works with the `--data` flag, are you sure your training file is in the correct format? the `--nlu` flag only works with the `rasa train nlu` command

[2019-06-11 09:52] akelad commented on #3748
@BrunoRoth95 did that help?

[2019-06-11 09:53] wochinge commented on #3606
@fallik Which sanic version are you running?
@ricwo Could this be connected to the missing `HEAD` annotations which you recently added?

[2019-06-11 09:56] wochinge commented on #3663
Awesome. We also added a better warning in case of wrong tracker store configs, so that should be easier discoverable now 🙂
Regarding the `The site can't be reached`. Seems like a vpn / proxy issue to me.

[2019-06-11 09:56] #3663 closed

[2019-06-11 10:00] tmbo commented on #3322
do you know if they added it to 1.13.1 or 1.13.0 - in any case it is unclear why installation fails if it is supported (I am not what pip is looking at to check if a python version is supported, if it is the labels then they missed to add them for 1.13.1). did you have any issues installing on py 3.7?

[2019-06-11 10:40] psds01 opened #3754 "`unfeaturized` slot not actually working"
**Rasa version**: 1.0.1

**Rasa X version** (if used & relevant):

**Python version**: Python 3.6.8 |Anaconda

**Operating system** (windows, osx, ...): Ubuntu

**Issue**:
I have created a custom NLU component following [this](https://blog.rasa.com/enhancing-rasa-nlu-with-custom-components/). It detects language of the text, adds that language as an extra entity.
1. I have not included this extra

[2019-06-11 10:45] sushilr007 opened #3755 "image tag is not working properly in domain file"
**rasa-core**:                          0.14.5
**rasa-core-sdk**:                      0.14.0
**rasa-nlu**:                           0.15.1

**Python version**:

**Operating system** (windows, osx, ...): win 10

**Issue**:  It is giving me output as URL only in postman and on my website not showing image
**Output:** ```
[
    {
        "recipient_id": "385",
        "text": "Image here:"
    },

[2019-06-11 10:56] psds01 commented on #3754
Related issue: https://github.com/RasaHQ/rasa/issues/2428

[2019-06-11 10:57] psds01 commented on #3754
@amn41 @akelad
https://github.com/RasaHQ/rasa/issues/2428#issuecomment-414091761

[2019-06-11 11:45] erohmensing commented on #3747
Hi @TestCandidate! Unfortunately, the tensorflow module that we use to train the CRFEntityExtractor doesn't allow you to have an entity type that uses non-ascii characters. Everything else (the text, intent name, value of entity, etc.) can all be in arabic, but the actual name of the entity (i.e. `"entity": "مطبخ"`) will cause training errors if not within that ascii range. Let me know if you run

[2019-06-11 11:47] akelad commented on #3735
Thanks for raising this issue, @ricwo  will get back to you about it soon.

[2019-06-11 12:00] LKiera opened #3756 "Response to Rasa BOT via Custom Actions comes in every 3 iteration of conversation"
**Rasa version**:
rasa-core 0.14.3
rasa-core-sdk 1.0.0rc2
rasa-nlu 0.15.

**Rasa X version** (if used & relevant):

**Python version**:
python 3.6.7
**Operating system** (windows, osx, ...):
Ubuntu 18.04
**Issue**:
Custom Actions reply after every three iteration of conversation of chatbot

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of

[2019-06-11 12:07] BrunoRoth95 commented on #3748
Not really actually. I had read that issue before, and i've tried the `python -m rasa train/run` command as well as using `conda develop <custom component directory>`

Still the same error:

[2019-06-11 12:12] akelad commented on #3750
That's something telegrams frontend would need to handle so i'm afraid there's nothing we can do about this

[2019-06-11 12:12] #3750 closed

[2019-06-11 12:13] #3667 closed

[2019-06-11 12:14] akelad commented on #3745
As stated in the issue description, please ask these kinds of questions in our [forum](https://forum.rasa.com)

[2019-06-11 12:14] #3745 closed

[2019-06-11 12:16] akelad commented on #3744
Please post the full error trace and fill out the rest of the fields in the issue template

[2019-06-11 12:17] akelad commented on #3740
Please ask these kind of questions in our [forum](https://forum.rasa.com), as stated in the issue template

[2019-06-11 12:17] #3740 closed

[2019-06-11 12:18] wochinge commented on #3281
@honabim Thanks for bringing that up again. This issue is actually covered and solved by https://github.com/RasaHQ/rasa/pull/3555 .

[2019-06-11 12:18] #3281 closed

[2019-06-11 12:20] akelad commented on #3730
Not sure this is the best issue to work on for a community member -- you can check out issues labelled with `help wanted` or `good first issue` though, we'd love a community contribution from you!

[2019-06-11 12:23] akelad commented on #3704
@wochinge any idea what's going wrong there?

[2019-06-11 12:24] akelad commented on #3720
what's in your domain file?

[2019-06-11 12:25] akelad commented on #3733
Please fill out the issue template, or your issue will be closed

[2019-06-11 12:27] akelad commented on #3723
it's `domain.yml` not `domain.md` -- is this on a server version of rasa x then I guess? Yeah so i'm afraid there's no way to upload a domain file to that yet, but we're adding functionality for that soon

[2019-06-11 12:28] Ghostvv commented on #3322
[code]

[2019-06-11 12:29] akelad commented on #3736
If this is a potential bug, then please fill out the bug issue template. If it's not a bug from rasa, please post the question on our [forum](https://forum.rasa.com) instead

[2019-06-11 12:29] #3736 closed

[2019-06-11 12:29] Ghostvv commented on #3322
I think they added with `1.13.0`

[2019-06-11 12:29] akelad commented on #3322
nah i had no issues, it all worked fine

[2019-06-11 12:30] akelad commented on #3755
It's up to you to write your frontend so that it renders this image correctly -- are you using a custom built UI on the frontend?

[2019-06-11 12:54] wochinge commented on #3619
@TyDunn Why is this reopened?

[2019-06-11 12:58] #3619 closed

[2019-06-11 12:59] TyDunn commented on #3619
My apologies. I was adding it to a ZenHub milestone board and did not realize moving it to the done column would reopen it. Just closed it. Sorry for the noise @wochinge

[2019-06-11 13:00] wochinge commented on #3619
No worries 😄

[2019-06-11 13:00] #3672 closed

[2019-06-11 13:18] ravikrcs commented on #3744
i got it.solved

[2019-06-11 13:20] #3744 closed

[2019-06-11 13:20] sushilr007 commented on #3755
ok, I will look into it.
Yes, I had built my custom UI in HTML/CSS and Javascript.

[2019-06-11 13:25] psds01 commented on #3720
Essentially this :
[code]

[2019-06-11 13:35] ddombrowsky commented on #3723
Closing this one, as the root cause was addressed in #3726

[2019-06-11 13:35] #3723 closed

[2019-06-11 13:35] wochinge commented on #3704
Please use version`0.19.0` instead of the `latest` tag. For me it seems sth is wrong with your endpoints config. Can you share it with us?

[2019-06-11 13:55] fallik commented on #3606
@wochinge I found those:
[code]
I did not install them manually. I guess those came with `pip install rasa-x --extra-index-url https://pypi.rasa.com/simple`.

[2019-06-11 14:05] ddombrowsky commented on #3723
@akelad regarding `domain.yml`, can you point me to where this is supposed to go in the server system?

[2019-06-11 14:40] bastbnl commented on #3322
Thanks for getting back to me @tmbo Much appreciated!

I'm installing using `pip --no-binary :all: install ...`, so maybe it's caused by that. Surely hope not.

I do think I understand, but it opens a box of questions. For instance: I need to inspect the licenses for each of these products. I need to keep these packages up to date, as additional packages increase the attack vector. The system I'm

[2019-06-11 16:26] PYGR opened #3758 "Error While training model"
Hello All,

I am newbie to Rasa. Exploring some existing stuff and got stuck with below error.

Please help to resolve.

ValueError: Action 'utter_did_that_help' doesn't correspond to a template / action

[2019-06-11 19:20] ArupMukherjee opened #3760 "Rasa Init Error after Rasa installed correctly"

[2019-06-11 19:21] ArupMukherjee commented on #3760
(nlp_env1) C:\>rasa init --no-prompt
Welcome to Rasa! 🤖

To get started quickly, an initial project will be created.
If you need some help, check out the documentation at https://rasa.com/docs/rasa.

Created project directory at 'C:\'.
Finished creating project structure.
Training an initial model...
Training Core model...
Traceback (most recent call last):
  File "c:\python_anaconda\lib\runpy.py"

[2019-06-11 20:49] ddombrowsky commented on #3735
Maybe I'm misunderstanding something fundamental.  What about these points is not true?
* models trained using the "local" version can be used in the server version.
* there is on `domain.yml` or `domain.md` file on the server.  It's in the postgres database and there is no way to edit it through the UI.  This means new intents need to be added manually.
* These intents are not automatically impor

[2019-06-12 05:47] amn41 commented on #3735
hi @ddombrowsky - there's a new release of rasa x that brings in first-class support for the domain file. It'll be ready very soon, will post back here when it is.

[2019-06-12 06:47] ricwo commented on #3606
@wochinge I don't see how - but it's possible. let's check if this problem persists with `rasa@master` and the latest development version of X

[2019-06-12 06:53] ricwo commented on #3661
@harunkelesoglu can you please try
[code]
and restarting rasa X with `sudo docker-compose down && sudo docker-compose up -d`?

[2019-06-12 07:44] akelad commented on #3754
I think this is more of a usage question, and not a bug, so please post this question on the [forum](https://forum.rasa.com) instead

[2019-06-12 07:44] #3754 closed

[2019-06-12 07:44] akelad commented on #3756
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-12 07:44] #3756 closed

[2019-06-12 07:45] akelad commented on #3748
@erohmensing can you look into this please?

[2019-06-12 07:46] akelad commented on #3755
i'll close this then, if you have more questions about this please post in the [forum](https://forum.rasa.com) instead

[2019-06-12 07:46] #3755 closed

[2019-06-12 07:47] akelad commented on #3720
i would need to see the actual contents of your domain file to be able to tell you if there's anything wrong there. I'd suggest you try retraining the model first to see if that fixes it. And then also try with a different policy to see if the same error occurs

[2019-06-12 07:48] akelad commented on #3723
No where right now 😬 there's a release coming very soon where it'll be loaded though :)

[2019-06-12 07:49] akelad commented on #3322
i'm afraid that's not really feasible, because rasa_core requires tensorflow

[2019-06-12 07:49] erohmensing commented on #3748
Hey @BrunoRoth95, a couple questions. Are you running rasa locally or in docker? Is this issue just a rasa issue, not a rasa x one?

To me, this looks like the `custom_components` folder isn't in your rasa project directory (but i'm not sure) -- what is your project dir, and have you tried putting the `custom_components > synonym` in there?

[2019-06-12 07:51] akelad commented on #3758
If you think this is a bug, please submit a new issue from the "Bug report" template and fill out the fields. Though this sounds more like a usage question, my guess is that you don't have `utter_did_that_help` listed in your domain file. If that doesn't fix it, please post a question on our [forum](https://forum.rasa.com)

[2019-06-12 07:51] #3758 closed

[2019-06-12 07:52] akelad commented on #3760
Please open a new issue from the "Bug report" template and fill out the fields

[2019-06-12 07:52] #3760 closed

[2019-06-12 08:44] PrithviRakshak commented on #2703
am facing a similar issue when I try to link my rasa bot to slack. I followed all steps and here am attaching the screenshots of error am getting.
![Screenshot (6)](https://user-images.githubusercontent.com/50570830/59336390-1a382a80-8d1c-11e9-9349-5f3e0627b861.png)
![Screenshot (5)](https://user-images.githubusercontent.com/50570830/59336411-20c6a200-8d1c-11e9-8616-5a1b311c8a00.png)
First  I got

[2019-06-12 08:55] erohmensing commented on #3544
@tabergma this can be closed right?

[2019-06-12 08:58] tabergma commented on #3544
closed via https://github.com/RasaHQ/rasa/pull/3601

[2019-06-12 08:58] #3544 closed

[2019-06-12 09:23] #3600 closed

[2019-06-12 09:24] TestCandidate commented on #3747
That solved the issue.

Thank you!

[2019-06-12 09:24] #3747 closed

[2019-06-12 09:32] ricwo opened #3761 "Include forms and exclude default actions in domain action warnings"

[2019-06-12 11:07] #3761 closed

[2019-06-12 11:41] erohmensing commented on #3304
no longer an issue

[2019-06-12 11:41] #3304 closed

[2019-06-12 12:08] erohmensing opened #3763 "Fill slots in other parts of utterance templates than text"
Right now, we only fill the {slot} format of utterance templates in the `- text` attribute of utterance templates. We could extend this to also fill keywords in other templates, e.g. "image" and "buttons", so that someone can use kwargs to fill them dynamically from their actions code.

Example use case:
https://forum.rasa.com/t/how-to-send-image-url-to-templates-dynamically/11074

[2019-06-12 12:23] BrunoRoth95 commented on #3748
Hi @erohmensing! Thank you for your message. So, answering your first question, I'm running rasa locally, and this issue is just a rasa issue.

My `custom_components` folder contain 2 custom components, one tokenizer and one synonym mapper (sligthly modified version of the one available on rasa). This folder is located in my project directory (where the domain, actions, config files are).

I was a

[2019-06-12 14:49] alexissmirnov opened #3764 "Support AWS Kinesis as event broker"
**Description of Problem**: RabbitMQ, Kafra are good choices, but some architectures already rely on Kinesis.

**Overview of the Solution**: Implement the support for Kinesis, use Kafka as the template for the implementation

**Definition of Done**:

*   [ ] Tests are added
*   [ ] Feature is documented

[2019-06-12 14:52] BeWe11 opened #3765 "Composite Entities as part of Rasa NLU"
**Description of Problem**:
Rasa currently has no native support for composite entities (entities that consist of multiple sub-entities). This feature is available in competitors like [wit.ai](https://medium.com/wit-ai/reintroducing-composite-entities-c361797ca202) and [dialogflow](https://dialogflow.com/docs/entities/developer-entities#developer_composite).

**Overview of the Solution**:
A while

[2019-06-12 14:58] erohmensing opened #3766 "triggers keyword lost in IL domain export"
before IL:
[code]

after IL:
[code]

[2019-06-12 15:57] imLew commented on #3766
haven't figured out what causes this yet but will hopefully do so on friday
btw, `use_entites: true` also gets lost

[2019-06-12 16:00] alinazhanguwo commented on #3582
In the doc http://rasa.com/docs/rasa/api/jupyter-notebooks/ , it does not mention about "Agent (from rasa.core.agent import Agent)".
I have the same issue with ravikrcs.
Can you update above doc page? Just run
from rasa.jupyter import chat
chat(model_path)
will cause the agent error.

[2019-06-12 16:02] erohmensing commented on #3766
Did you actually spell entities correctly? 😉

[2019-06-12 18:44] mmalhotra opened #3770 "PUT /model with model_server fails: 'dict' object has no attribute 'url'"
**Rasa version**: Rasa 1.1.0a1

**Python version**: Python 3.6.8

**Operating system** (windows, osx, ...): Docker image rasa/rasa:latest-full
Linux 6f5ab25d1c4d 4.15.0-47-generic #50-Ubuntu SMP Wed Mar 13 10:44:52 UTC 2019 x86_64 GNU/Linux

**Issue**: using model_server endpoint for https://rasa.com/docs/rasa/api/http-api/#tag/Model/paths/~1model/put leads to error
AttributeError: 'dict' object h

[2019-06-12 21:21] ArupMukherjee opened #3771 "Rasa init error after successful installation"
**Rasa version**:
1.0.9
**Rasa X version** (if used & relevant):

**Python version**:
Anaconda Python 3.7

**Operating system** (windows, osx, ...):
Windows
**Issue**:
After successful installation of Rasa on trying to iniitialize using rasa init --no-prompt an error is thrown.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configurati

[2019-06-12 23:44] narenmk commented on #3665
I tied the options mentioned in the above url but didn't work however I was able install on Win10 successfully but no tin WS2K16. Can you please help?

[2019-06-13 03:03] selphe commented on #3750
Thank you for reply.
may be parameter `parse_mode = markdown` is missed?
https://core.telegram.org/bots/api#sendmessage

Not sure, how can I send it through domain.yml?
(https://github.com/RasaHQ/rasa/blob/master/rasa/core/channels/telegram.py#L98)

[2019-06-13 04:14] anilpankaj commented on #3212
Traceback (most recent call last):
  File "dialogue_management_model.py", line 15, in <module>
    from rasa_core.train import interactive
ImportError: cannot import name 'interactive'

When i run this code that's i mention below, i sow that's error what i do? please help

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ i

[2019-06-13 07:10] harunkelesoglu commented on #3661
Thanks @ricwo. solved it.

[2019-06-13 07:11] harunkelesoglu commented on #3726
I got same error. Thanks @ricwo your solutions solved it

[2019-06-13 07:44] erohmensing commented on #3212
@anilpankaj please create a post on the [forum](http://forum.rasa.com) with this question.

[2019-06-13 09:01] harunkelesoglu opened #3774 "When use interactive learning"
**Rasa version**:
Rasa 1.0.8
**Rasa X version** (if used & relevant):
Rasa 1.0.8
**Python version**:
Python 3.6.8
**Operating system** (windows, osx, ...):
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.6 LTS
Release:	16.04
Codename:	xenial
**Issue**:
I trained the model in local and upload to server. I am using docker-compose on server. When i use interactive learning I noticed this error.
![Sc

[2019-06-13 09:48] dmlapteacru opened #3775 "Rasa X - Couldn't get conversations from tracker store"
Hello Rasa Team,

I have configured the tracker store (pgsql), but when I run Rasa X the conversations do not populate, even if I use API to chat (prod).

Tracker store (endpoints.yml):
![image](https://user-images.githubusercontent.com/33374107/59422368-f25acc80-8dd8-11e9-8ab0-602c3ad6c07f.png)

Sending message (postman):
![image](https://user-images.githubusercontent.com/33374107/59422432-0a3250

[2019-06-13 10:17] wenig opened #3776 "Removing trailing slash results in weird behavior"
**Description of Problem**:
That change https://github.com/RasaHQ/rasa/commit/7fbc08b504b51976f8e5299113ad283c9e1a87ed#diff-c66e6bc1dfd15c342f53b163376f7270R48 results in weird behavior. If I define an url in endpoints.yml (for example the nlg endpoint) which is required to end with a slash, the slash is removed and a request without a slash is sent. This shouldn't be a problem as my nlg server re

[2019-06-13 11:52] akelad commented on #3764
Thanks for the suggestion @alexissmirnov! @ricwo you know more about this, could you comment on whether this makes sense?

[2019-06-13 11:59] akelad commented on #3765
Hi @BeWe11 thanks for the suggestion! We actually decided against merging a feature like this a while ago: https://github.com/RasaHQ/rasa/pull/1475
That's not to say we won't consider merging yours -- could you provide some more details to your approach?

[2019-06-13 12:05] akelad commented on #3770
Thanks for raising this and providing a great level of detail! As mentioned in the PR, we'll review it asap :)

[2019-06-13 12:06] akelad commented on #3771
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-06-13 12:07] akelad commented on #3665
i'm honestly not sure, and i don't think this is a Rasa specific issue to be honest. I'd suggest you raise this issue with `httptools` instead, or on stackoverflow

[2019-06-13 12:07] #3665 closed

[2019-06-13 12:08] akelad commented on #3750
oh i didn't realise that was a parameter! @erohmensing could you look into that actually?

[2019-06-13 12:09] #3661 closed

[2019-06-13 12:09] akelad commented on #3726
i'm gonna close this issue now, a fix will be part of an upcoming release

[2019-06-13 12:09] #3726 closed

[2019-06-13 12:14] akelad commented on #3774
Thanks for raising this. We're aware of these issues and are working on getting them fixed. I'll leave this open in case anyone else comes across it

[2019-06-13 12:19] akelad commented on #3775
Please use the correct issue template when submitting a bug report in future.

@wochinge can you take a look at this?

[2019-06-13 12:20] akelad commented on #3776
this sounds more like a bug report than an enhancement right?

@wochinge since you merged that PR, can you take a look at it?

[2019-06-13 12:57] neerajb1 commented on #3649
Hi @tabergma i had tried same but again getting same error. Please let me know what change required

async def train_dialogue(domain_file = 'domain.yml',
				model_path = 'models/dialogue',
				training_data_file = 'data/stories.md'):

    agent = Agent(domain_file, policies = [MemoizationPolicy(),
            KerasPolicy(max_history=3, epochs=200, batch_size=50)])
    loop = asyncio.get_event_loo

[2019-06-13 13:24] harunkelesoglu opened #3777 "How can i run actions on docker-compose?"
Hi,
I deployed rasa with docker-compose by http://rasa.com/docs/rasa-x/deploy/.
But I did not see a mounted actions file.

[2019-06-13 15:35] tahamr83 commented on #3648
Here it is

[stories.md.zip](https://github.com/RasaHQ/rasa/files/3286943/stories.md.zip)

Also another thing I noticed on our other bot is that the loading does not hang but the action execution in the interactive command shell is quite slow. These stories are simpler than the one above.I think it's somehow related to the trackers generated for visualization since if I change the `interactive.py`

[2019-06-13 16:07] amn41 commented on #2025
For anyone finding this via google - you can use Rasa X to do interactive learning with a GUI.

Check out the docs [here](http://rasa.com/docs/rasa-x)
A video tutorial [here](https://youtu.be/VXvWdrr2yw8?t=681)

[2019-06-13 16:22] gthb opened #3778 "metadata.json changed to contain absolute path to training_data.json"
**Rasa version**: 1.0.9

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): osx

**Issue**:

After training, `metadata.json` has an absolute path to `training_data.json` in the `training_data` attribute, e.g. `/Users/gthb/git/rasaproject/.../training_data.json`.

This path used to be relative to the model directory, matching what's described in https://github.com/RasaHQ/rasa/blob

[2019-06-13 16:28] erohmensing commented on #3752
This also applies to interactive learning, if the story is too long you cannot scroll and lose the "Save" button

[2019-06-13 17:07] erohmensing commented on #3750
@selphe I believe if you change
[code]
to
[code]

you should be able to do it in your domain.yml (so just add `parse_mode = markdown` to the utterance). Same with actions.py, just add it as a keyword argument.

I'd suggest making that utterance with the `parse_mode` key channel-specific though, as the reason we don't currently pass the kwargs to e.g. `send_message` is because if we did this in all

[2019-06-13 17:09] erohmensing commented on #3771
Hi @ArupMukherjee, do you have the [Windows requirements](https://rasa.com/docs/rasa/user-guide/installation/#windows-prerequisites) installed?

[2019-06-13 19:25] anilpankaj commented on #2917
Traceback (most recent call last):
  File "run.py", line 6, in <module>
    interpreter = NaturalLanguageInterpreter.create('/home/anil/Documents/slackbot/models/dialogue')
  File "/home/anil/.local/lib/python3.6/site-packages/rasa_core/interpreter.py", line 34, in create
    return RasaNLUInterpreter(model_directory=obj)
  File "/home/anil/.local/lib/python3.6/site-packages/rasa_core/interpreter.

[2019-06-14 05:30] tmbo commented on #3778
Do you mind creating a PR changing the path before we add it to the metadata?

[2019-06-14 06:03] tabergma commented on #3649
@neerajb1 As soon as you put the keyword `async` to the function definition, it becomes a coroutine. If you not `await` the coroutine, the error you mentioned will show up.

In your case you can simply remove the keyword `async` from `train_dialogue` as it is not needed. Please have a look at https://docs.python.org/3/library/asyncio-task.html#coroutine for more information.

Try the following:
[c

[2019-06-14 07:54] akelad commented on #3777
The docker-compose file contains an `app` service, which is where you reference an image that runs your actions.
Please ask usage questions in the [forum](https://forum.rasa.com), as mentioned in the issue template

[2019-06-14 07:54] #3777 closed

[2019-06-14 07:57] harunkelesoglu commented on #3777
i asked in the forum. https://forum.rasa.com/t/how-can-i-run-actions-on-docker-compose/11477

[2019-06-14 11:02] vrachieru opened #3784 "Include agent readiness check in /status resource"
**Description of Problem**:
In older versions of RASA, the `/status` resource contained a check for whether the system is ready to receive traffic.
This check was used as a k8s readiness probe which became useless in 1.0.x.

**Overview of the Solution**:
Add the `@ensure_loaded_agent` on the `/status` resource so that it returns a 409 in the case that the agent is not initialized.

**Definition of

[2019-06-14 11:23] BeWe11 commented on #3765
Hey @akelad, thank you for your response and the link, I'm aware of the previous pull request.

The approach of the closed pull request had various assumptions about the training data built in, e.g. about time and date entities, it used lookup tables to find entities etc.

My approach is a simple regex check and it only kicks in after all other entity extractors have been applied. It just checks w

[2019-06-14 11:50] wochinge opened #3786 "Implement support for external triggers / asynchronous actions"
https://github.com/RasaHQ/customers/issues/48

@tmbo We should do this in one of the next sprints. Several customers need that and we have been delaying them for way too long.

[2019-06-14 11:57] wochinge opened #3787 "check at which endpoint a model is required"
When an endpoint uses `ensure_loaded_agent`, the decorator checks in `agent.is_ready` if the model is loaded`. We don't need that for some endpoints, e.g.

- retrieve tracker (only tracker story is needed)
- ...

[2019-06-14 12:08] #3786 closed

[2019-06-14 12:10] thepurpleowl opened #3788 "Always getting next action with probability=1 when the next action request is sent with a little change from what's there in training data"
**Rasa Core version**:
rasa-core (0.10.4)
rasa-nlu (not used)

**Python version**:
2.7.12

**Operating system (windows, osx, ...)**:
Linux

**Issue**:
I am using memoization and keras policy. Next action is predicted with memoization if the current action is there in training file and with keras policy if the current action is not found with exact match.
My stories have no checkpoint and max histo

[2019-06-14 12:36] TyDunn commented on #3577
@WR1171 @ftsamis This was fixed in the latest version of Rasa X: `Release 0.19.1`

[2019-06-14 12:40] TyDunn commented on #3687
@IsaacEllum This was fixed in the latest version of Rasa X: `Release 0.19.1`. You should upgrade to this new version!

[2019-06-14 12:43] TyDunn commented on #3610
@Haffi112 @intranetchris @PhilippeBaert @weiczhu You can now edit the domain in the UI in the latest version of Rasa X: `Release 0.19.1`. You should upgrade to this new version!

[2019-06-14 13:20] wochinge opened #3789 "Support for external triggers / asynchronous actions"
## Motivation
There is currently no way to send a bot message to the user via an external API call.
This is e.g. useful
- if an external sensor should trigger sth like an alert, which should result in a message to the user
- if you have asynchronous action which should notify the user when they are finished.

## Proposed Solution

When calling [this endpoint](http://rasa.com/docs/rasa/api/http-api

[2019-06-14 14:26] #3784 closed

[2019-06-14 15:40] tmbo commented on #3787
I think retrieve tracker needs it because the tracker store needs a domain to properly instantiate a tracker with slots.

[2019-06-14 15:44] wochinge opened #3790 "deprecate `handle_channels` on agent class"
This function (https://github.com/RasaHQ/rasa/blob/ad66510dbebf7888602a87f2be2428b7090ae878/rasa/core/agent.py#L668)  is currently only used in tests.
We should either
- remove it and rewrite the tests
- move it to `tests`

[2019-06-14 15:57] wochinge commented on #3787
OK, that applies also to all the other ones 👍

[2019-06-14 15:57] #3787 closed

[2019-06-14 16:32] imLew commented on #3766
I found the problem and largely fixed it, tests are not working right now so the PR will come next week. There is one cosmetic issue though: The `cleaned_domain` method basically filters out the property `use_entities: True` because this is the default setting and if it was not filtered out the exported domain would contain this even if the user did not specify it. However the information of wheth

[2019-06-14 16:41] erohmensing commented on #3766
Thank you @imLew! 😍

I think we should just not filter out the keywords `use_entities` or `triggers` and their values. We do already assume it's true if not set, however, it would be good if the user defined it that it would stay in the export.

[2019-06-14 18:03] #3590 closed

[2019-06-14 18:04] #3644 closed

[2019-06-14 19:24] rgstephens opened #3793 "Migration Guide config.yml information"
The migration guide should tell us that the config.yml for NLU and Core has been merged. See [post](https://forum.rasa.com/t/migrating-to-1-0/11489)

**Rasa version**: 1.0

[2019-06-14 20:09] ArupMukherjee commented on #3771
Thanks @erohmensing , @akelad  for your responses. I was able to navigate past the errors by creating a virtual python environment using python = 3.6, My anaconda python = 3.7 was giving me issues.

[2019-06-15 00:58] rgstephens opened #3794 "rasa train command error message"
**Rasa version**: 1.1.13

**Issue**:

If you run the `rasa train` command and don't provide a `--domain` option, a python stack trace results instead of an error message message that the domain file was a required option.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2019-06-15 01:17] rgstephens opened #3795 "1.0 Migration Guide use_entities deprecated"
**Rasa version**: 1.1.13

**Issue**:

The 1.0 migration guide needs to point out that this syntax for `use_entities` is no longer supported:

[code]

[2019-06-15 01:19] rgstephens opened #3796 "use_entities in domain raises TypeError Exception"
**Rasa version**: 1.1.13

If you use the now deprecated `use_entities` syntax in the `domain.yml` rasa command produces a stack trace. It should issue a Deprecation error message.

[code]
Here's the stack trace you get when you use the now deprecated syntax.

[code]

[2019-06-15 09:28] chenxf0619 commented on #3323
Hi @MetcalfeTom , I tried with pip 10.0.0, the error did not change. Thanks. And error change into :

Collecting httptools
  Using cached https://files.pythonhosted.org/packages/1b/03/215969db11abe8741e9c266a4cbe803a372bd86dd35fa0084c4df6d4bd00/httptools-0.0.13.tar.gz
Building wheels for collected packages: httptools
  Running setup.py bdist_wheel for httptools ... error
  Complete output from com

[2019-06-15 09:28] chenxf0619 commented on #3323
Hi @MetcalfeTom , I tried with pip 10.0.0, the error did not change. Thanks. And error change into :

Collecting httptools
  Using cached https://files.pythonhosted.org/packages/1b/03/215969db11abe8741e9c266a4cbe803a372bd86dd35fa0084c4df6d4bd00/httptools-0.0.13.tar.gz
Building wheels for collected packages: httptools
  Running setup.py bdist_wheel for httptools ... error
  Complete output from com

[2019-06-15 11:31] Aswinprabhakaran opened #3797 "Entity Not recognized"
Attached my training data json files where all the intents and entities are labelled.
[training-data-json.txt](https://github.com/RasaHQ/rasa/files/3293051/training-data-json.txt)

My Question for that chatbot that i made is "What is the average ratings of movies produced by Karan JOhar in last 10 years ?"

In this case "Karan Johar" should be recognizd as "producer" entity .

In many cases i have

[2019-06-15 17:37] erohmensing commented on #3771
Hm that's strange, 3.7 should be supported, but we can look into making sure it is supported as expected on windows. Glad you were able to get past the errors.

[2019-06-15 17:37] #3771 closed

[2019-06-16 01:22] anilpankaj commented on #2104
ValueError: Action '__main__.ApiAction' doesn't correspond to a template / action. Module doesn't contain a class with this name. Remember to prefix actions that should utter a template with `utter_`. Error: module '__main__' has no attribute 'ApiAction'

i got this error what can i do?

[2019-06-16 05:45] nkane2898 opened #3798 "Rasa X Docker Domain Templates"
**Rasa version**:

1.1.1

**Rasa X version** (if used & relevant):

0.19.1

**Python version**:

3.6.8

**Operating system** (windows, osx, ...):

Ubuntu 18.04.2 running docker 18.09.6, build 481bc77

**Issue**:

When trying to save the domain.yml file to my rasa x server deployment after following the Quick Installation section of this guide http://rasa.com/docs/rasa-x/deploy/, the templates sect

[2019-06-16 07:55] vickywar opened #3799 "error installing rasa in cli"
**Rasa version**:
rasa 1.1.3
**Rasa X version** (if used & relevant):

**Python version**:
3.6.8
**Operating system** (windows, osx, ...):
windows 10 64 bit
**Issue**:

error in setup.py file during installaton

**Error (including full traceback)**:
[code]
error occured during the command pip install rasa

[2019-06-16 08:05] #3611 closed

[2019-06-16 21:03] Arthurgoujon commented on #1174
@vaatsalya thanks a lot! that did work

[2019-06-17 05:56] GauravGaikwad94 opened #3800 "How to add custom payload in request to webhook"
Hi,

I want to add custom payload in webhook request, so that I can pass some information to the bot and that information will be used in the actions.
I want to add something like this to [http://localhost:5005/webhooks/rest/webhook](http://localhost:5005/webhooks/rest/webhook)
`{
  "sender": "1234",
  "message": "Hi there!",
  "payload":{
  	"key":"value"
  }
}`
I want to use this key value pair

[2019-06-17 05:58] psds01 commented on #3611
@ricwo Can you please mention the PR?
Also, if you could lmk the file the code you changed, it will be helpful. For "diff" analysis.

[2019-06-17 06:08] tmbo commented on #2689
@VasaviGunnam  @rabeenj007 can you explain your use case a bit more detailed please? (this is not a bug but a new feature) I agree with you though that we need some sort of authentication for the webhook endpoints (the ones for the input channels). Which channel are you using and how are you connecting to the channel (e.g. from the browser, another server, ...)?

[2019-06-17 07:48] wochinge commented on #3775
@dmlapteacru Which version of Rasa X are you using? In the latest versions there should already be a warning if you are using another tracker store then the sqlite one with Rasa X CE locally since Rasa X installed with pypi currently only works with the Sqlite tracker store (https://github.com/RasaHQ/rasa/issues/3702). We will be working on this soon. However, you can deploy Rasa X on a server and

[2019-06-17 08:19] wochinge commented on #3751
@ghostHBL Thanks for digging into this. That's indeed sth we should take care of. If you want to, you can also do a PR for this 🙂

[2019-06-17 08:26] tmbo commented on #3790
It needs to be deprecated first though as the Agent class should be considered a public API.

In addition to deprecation, we should add instructions on how to migrate away from using the function.

[2019-06-17 08:32] tmbo commented on #3751
We should use a proper context to ensure the files are deleted after usage (or where not possible, close the file properly and delete on close)

[2019-06-17 08:43] tmbo commented on #3695
What do you mean with `Incompatible types`, do you get an exception or an error that says that? Because from what I can see the types should be fine.

[2019-06-17 08:46] tmbo commented on #3795
This is a duplicate of #3796

[2019-06-17 08:46] #3795 closed

[2019-06-17 08:52] tmbo commented on #3774
I think this is referring to the duplicated messages. This is fixed as part of #sql

[2019-06-17 08:52] #3662 closed

[2019-06-17 08:52] #3668 closed

[2019-06-17 08:52] #3774 closed

[2019-06-17 09:08] tmbo commented on #3735
This is released and part of the 0.19.1 release. Please let us know if there are still issues with your workflow.

[2019-06-17 09:08] #3735 closed

[2019-06-17 09:27] wochinge commented on #3439
Mhm, but on this level we would end up with hundreds of tiny preprocesser components 🤔

[2019-06-17 09:59] imLew commented on #3766
@erohmensing Yes, the problem was that you would get a domain full of "use_entities: true" even if you had not specified it, but its fixed now

[2019-06-17 10:52] #3652 closed

[2019-06-17 12:38] erohmensing opened #3801 "Compatibility with Windows and python 3.7"
People on windows seem to have issues running spacy in python 3.7

https://github.com/RasaHQ/rasa/issues/3771#event-2415515719
We should go though and test the installation of both rasa and rasa x with 3.7 on windows

[2019-06-17 12:57] PhilippeBaert opened #3802 "Rasa X 0.19.1 -- interactive learning broken?"
**Rasa version**: 1.1.3

**Rasa X version**: 0.19.1

**Python version**: 3.6.7

**Operating system** (windows, osx, ...): Windows 10

**Issue**:

Hello,

I updated Rasa X to 0.19.1. It has a lot of new cool features (automatically updating domain file is very nice!) but unfortunately I ran into a new problem:

When I talk to the bot in **interactive learning** mode, Core is not suggesting me any a

[2019-06-17 13:15] tmbo commented on #3557
@erohmensing did you already get around fixing this?

[2019-06-17 13:18] erohmensing commented on #3557
@tmbo I havent, as I haven't had time to set up a botframework bot to test

[2019-06-17 13:21] tmbo commented on #3748
This also seems to happen for custom input / output channels according to @JustinaPetr

Might also be related to https://github.com/RasaHQ/rasa/issues/3673

[2019-06-17 13:28] erohmensing commented on #3748
I've also seen the same with custom policies. @tmbo any idea what may have changed such that this stuff can't be found? Maybe the fact that we're now training in temporary folders, so the paths don't work?

[2019-06-17 14:10] lahsuk commented on #3800
Hi, @GauravGaikwad94
One of the ways you could do this is by creating a custom slot. The slot could be set by pressing a button or just sending another request altogether.
The message to set the slot will be in the format `/{"slot_type": "value"}`.
The slot value would then be passed to the action server too. Oh, and you probably should set the `slot_type` to `unfeturized` if you don't want it to

[2019-06-17 14:30] mohankumargx opened #3803 "Tried to set non existent slot 'count_list'. Make sure you added all your slots to your domain file."
**Rasa version**: 1.1.3

**Rasa X version** (if used & relevant):Not using

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Windows 10

**Issue**: When i tried to use interactive learning getting this error though i mentioned all the slots in domain file.. It was working well earlier in rasa==1.0.7 version.

**Error (including full traceback)**:
[code]

**Command or request th

[2019-06-17 16:03] erohmensing opened #3805 "Incorrect sdk image in docker instructions"
Right now, the [docs](https://rasa.com/docs/rasa/user-guide/running-rasa-with-docker/#adding-the-action-server) for running rasa in docker say to grab the sdk image `rasa/rasa_sdk:latest`. This will lead to
[code]

The image should be changed to the correct name, `rasa-sdk:latest`.

[2019-06-17 16:42] ricwo commented on #3611
@psds01 I won't be able to share the diff or PR unfortunately, as rasa-x is not a public repo. The change was related to the frequency of SQL commits.

We'll be releasing a new patch this evening (`0.19.2`) which improves the data injection speed further

[2019-06-17 17:13] akelad commented on #3793
Thanks for the feedback, would you mind submitting a PR for this?

[2019-06-17 17:14] #3805 closed

[2019-06-17 17:14] akelad commented on #3765
Ok cool, thanks for the detailed info! We'll discuss and let you know

[2019-06-17 17:16] akelad commented on #3788
This seems more like a usage question to me, please post these kinds of questions in the [forum](https://forum.rasa.com) instead

[2019-06-17 17:16] akelad commented on #3577
will close this then, let us know if you do encounter it again though

[2019-06-17 17:16] #3577 closed

[2019-06-17 17:23] akelad commented on #3794
Thanks for raising this issue, @ricwo  will get back to you about it soon.

[2019-06-17 17:23] akelad commented on #3796
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-06-17 17:24] akelad commented on #3797
Please ask these kind of questions in our [forum](https://forum.rasa.com), as mentioned in the issue template

[2019-06-17 17:24] #3797 closed

[2019-06-17 17:27] akelad commented on #3798
yeah the problem here is that we've made templates uneditable in this screen since editing templates in the responses tab and in the domain file isn't a good user experience. We realised that causes a problem of uploading the domain file, we're working on fixing it -- @abhilasharoy fyi.
In the meantime you'll have to use the `/responses` endpoint to upload your templates

[2019-06-17 17:28] akelad commented on #3799
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-06-17 17:56] erohmensing commented on #3796
Hi @rgstephens, where did you find that syntax? Perhaps you just missed the yaml indentation?
[code]
Should work.

[2019-06-17 18:12] erohmensing opened #3806 "outdated screenshot/info for share your bot"
the [rasa x docs](http://rasa.com/docs/rasa-x/get-feedback-from-test-users/) currently have share your bot in the wrong place.

[2019-06-17 19:08] jasonkuhrt commented on #2689
For people in a position to easily put up small microservices quickly, the following might be an option whilst this issue gets hashed out:

We're in a situation where our custom channel connector (rest webhook) needs to receive data over a public network, but otherwise our Rasa API does not need to be public. In this scenario we're going to be putting up a microservice proxy ingesting this traffic

[2019-06-18 01:20] rgstephens commented on #3796
I can't find an example now with "null" added so I don't know where I got it.

However, the issue syntax as you display it does not work.

Take off the "null" and I still get the stack trace instead of a Depreciation error message.

[2019-06-18 01:22] rgstephens commented on #3795
#3796 is a report of an issue with the code. This issue is a problem with the documentation.

[2019-06-18 03:05] selphe commented on #3750
Hello @erohmensing , thanks for workaround :)
Any chance you add the ```parse_mode``` parameter as default to telegram channel?
Just to minimise channel specific settings in domain.yml...

[2019-06-18 06:02] ricwo commented on #3794
Hi @rgstephens, we should indeed throw a more useful warning and not just fail. Thanks for pointing this out!

[2019-06-18 06:08] ricwo commented on #3764
Hi @alexissmirnov, thanks for your suggestion. Yes, I think Kinesis as an additional event broker would be a worthwhile addition. Would you be interested in making a contribution?

[2019-06-18 06:53] akelad commented on #3753
@tmbo that's not fixed, it's a separate issue

[2019-06-18 06:54] akelad commented on #3801
how 🤔

[2019-06-18 06:55] akelad commented on #3802
@PhilippeBaert can you try installing 0.19.2?

[2019-06-18 06:57] tmbo commented on #3753
this sounded like it is fixed?

[2019-06-18 06:57] akelad commented on #3800
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-18 06:57] #3800 closed

[2019-06-18 07:00] tmbo commented on #3685
@true1337 do you mind adding the story that led to the error?

[2019-06-18 07:02] akelad commented on #3803
Please post your domain file as well

[2019-06-18 07:06] akelad commented on #3753
yeah but this fix didn't end up going in the release, it'll be in the next one

[2019-06-18 07:23] tmbo commented on #3753
the issue should be closed when it is merged, not when it is released

[2019-06-18 07:48] true1337 commented on #3685
@tmbo Sure, i'm getting this error even in [rasa-demo](https://github.com/RasaHQ/rasa-demo) repository.

Seems to me this line causes the error

[code]
Full story:
[code]

[2019-06-18 07:48] mohankumargx commented on #3803
@akelad Please find the domain file

"""
slots:
  item_value:
    type: text
  item_text:
    type: text
  open_close:
    type: text
  count_list:
    type: text
  impa_noimpa:
    type: text
  filter1:
    type: text

intents:
  - greet
  - farewell
  - how_doing
  - out_of_scope
  - thank
  - item_info
  - count_list_info
  - ci_info
  - ticket_ci
  - development

entities:
  - open_close
  - i

[2019-06-18 07:56] #3673 closed

[2019-06-18 07:56] #3639 closed

[2019-06-18 08:18] msamogh opened #3807 "Allow passing the model tar.gz file directly to Agent.load and RasaNLUInterpreter's constructor"
Currently, the model has to be extracted in a separate step before and the extracted path has to be fed to these methods.

If the frequency of usage doesn't warrant it, perhaps at least an error message might be helpful.

[2019-06-18 08:27] sumyatthitsar commented on #3807
Did you mean the model created your own from spacy?

[2019-06-18 08:37] tabergma commented on #3669
The environment variable is called `RASA_X_PASSWORD`. Can you try again?

[2019-06-18 08:53] tabergma commented on #3659
@kellymestre Thanks for pointing out that you should use `AsyncServer(async_mode="sanic")`.
Regarding the `AttributeError: 'list' object has no attribute 'headers'`: Is that still a problem? If yes, can you please share the request you are doing? Otherwise I would close the issue.

[2019-06-18 09:56] GianMariaPandolfi commented on #3803
I got this error too

[2019-06-18 10:15] psds01 commented on #3788
Honestly, nobody answers questions in the forum. I have put many of my queries there, but still no response.

@thepurpleowl  you need to remove `slot` from stories, don't set them manually, rasa does that for you:
[code]
Enjoy.

[2019-06-18 10:18] adhikariastha5 commented on #3790
@wochinge i did not understand what do you mean by remove and tests. And also I could not find any link how train_init, dialogue management and train_online has been migrated in the new rasa version? So many issues and not a single solution. Please help me.

[2019-06-18 10:24] adhikariastha5 commented on #3793
@akelad I could not find any link how to train_init, dialogue management and train_online has been migrated in the new rasa version? So many issues and not a single solution. Please help me.

[2019-06-18 10:42] abhiyushshrestha commented on #3201
Rasa version = 1.1.3
Python version = 3.6.5
ubuntu version = 16.04

Hi @erohmensing

I tried a solution that you commented to solve the issue but it didn't work out for me. It still throws an exception
Exception: Passing policy configuration parameters to `agent.train(...)` is not supported anymore. Specify parameters directly in the policy configuration instead. More info http://legacy-docs.rasa.

[2019-06-18 10:45] abhiyushshrestha opened #3809 "Exception: Passing policy configuration parameters to agent.train(...) is not supported anymore. Specify parameters directly in the policy configuration instead. More info http://legacy-docs.rasa.com/core/migrations.html"
Rasa version = 1.1.3
Python version = 3.6.5
ubuntu version = 16.04

Issue: I have tried to configure the rasa policy to resolve this but no effect so far I keep on getting this error, please help.

Exception: Passing policy configuration parameters to agent.train(...) is not supported anymore. Specify parameters directly in the policy configuration instead. More info http://legacy-docs.rasa.com/co

[2019-06-18 10:55] mohankumargx commented on #3803
@GianMariaPandolfi  agree with you.. It works

[2019-06-18 11:07] erohmensing commented on #3201
@abhiyushshrestha in your code you are still passing policy configuration parameters to agent.train(), you just have to get rid of them. Where did you find this code? It must be over a year old and very out of date with your Rasa version. I recommend following the tutorial in our docs for instructions on how to use Rasa.

[2019-06-18 11:08] mohankumargx commented on #3803
@GianMariaPandolfi  yeah it works.. I didn't proceed and check as i was getting the error

[2019-06-18 11:09] mohankumargx commented on #3803
@GianMariaPandolfi  yeah it works.. Thank you...

[2019-06-18 11:21] psds01 opened #3810 "Why does Rasa X make two different types of API calls to the RASA core servers?"
I am wondering why is Rasa X (UI) making two different kinds of calls to rasa core servers? I can see that all it whatever `BotUtterance`s it needs, it can get those as response to the POST itself. Then why GET? What does UI "get" from CORE/GET that it can't "get" from CORE/POST?

I would love a broader perspective on "architectural design" behind this or any such systems.

[2019-06-18 11:33] akelad commented on #3648
@imLew can you take a  look at this?

[2019-06-18 11:45] tmbo commented on #3685
I think this is a backend issue, might be that the visualisation code doesn't escape something properly when dumping the dot file.

[2019-06-18 11:45] erohmensing commented on #3796
Hm, I'm really not sure what you're talking about, I can't replicate it. With my domain file intents like so, Core training works perfectly for me.
[code]
As far as I know, we haven't deprecated this syntax.

[2019-06-18 11:50] erohmensing commented on #3801
@akelad how do we test, or how is it happening? I think some of our new guys have windows computers no?

It might be a 64 vs 32 bit thing though https://stackoverflow.com/questions/39020361/python-scipy-module-import-error-due-to-missing-ufuncs-dll

[2019-06-18 12:01] erohmensing commented on #3809
I have already answered your question in your comment here https://github.com/RasaHQ/rasa/issues/3201#issuecomment-503057474. You are using very old code that does not correspond to your rasa version. I recommend you check out our [docs](rasa.com/docs) and ask the [forum](forum.rasa.com) for advice on any other "how do I?" questions.

[2019-06-18 12:01] #3809 closed

[2019-06-18 12:18] erohmensing opened #3812 "interactive learning throws error with no output file"
[code]
"If this file exists, this will append the stories" -- if I don't pass anything (i.e. ''), it shouldn't throw an error, it just shouldn't append my stories files

[2019-06-18 12:26] wochinge commented on #3790
@adhikariastha5 Can you please ask this question in our forum (https://forum.rasa.com) including what you want to achieve, what's not working for you currently?

[2019-06-18 13:11] gausie commented on #3603
Sorry for taking a while to get to this @psds01! I haven't been able to replicate your issue - is it still a problem? Do you have any more information that might help me make it happen on my machine?

[2019-06-18 14:22] gthb commented on #3778
Done ⬆️  (and just got the go-ahead for the CLA, so we're good.)

[2019-06-18 14:27] JustinaPetr commented on #3748
@erohmensing So what i think is happening is that importlib looks for the packages within PYTHONPATH. If my custom connector is somewhere else, it throws an error that the module doesn't exist. Adding the project dir to PYTHONPATH, for example:
[code]
seems to solve the issue at least for my case, but it's a bit tedious approach

[2019-06-18 14:29] erohmensing commented on #3748
Yeah, that was @wochinge 's suggested approach, but it seems to work for some people and not others 🤔the question is, what changed, since this wasn't a problem before?

[2019-06-18 14:36] wochinge commented on #3748
@BrunoRoth95 Can you try running `PYTHONPATH="/home/bruno.roth/Documents/duka-data/nlu-data/custom_components" rasa train` ?

[2019-06-18 14:43] kellymestre commented on #3659
@tabergma yes I still get that exception. The information that I was able to retrieve regarding the request where this exception is being triggered is the following:

**Request Headers:** <CIMultiDict('host': 'localhost:5002', 'connection': 'Upgrade', 'pragma': 'no-cache', 'cache-control': 'no-cache', 'upgrade': 'websocket', 'origin': 'http://localhost', 'sec-websocket-version': '13', 'user-agent'

[2019-06-18 15:37] rgstephens commented on #3796
You're right, if I indent `use_entities` it works.  Still wonder where I got that `null` syntax that had been working for me the past year.

Thanks for your help.

[2019-06-18 15:37] #3796 closed

[2019-06-18 16:57] EdouM opened #3819 "Message_id not passed in _rasa_http_parse in RasaNLUHttpInterpreter"
**Description of Problem**:
message_id is not passed in the _rasa_http_parse method of the RasaNLUHttpInterpreter. It used to be passed in rasa_core but isn't anymore.

**Overview of the Solution**:
Simply pass the message_id from the parse method to _rasa_http_parse

**Examples** (if relevant):

**Blockers** (if relevant):

**Definition of Done**:

[2019-06-18 18:10] Lucioric2000 commented on #3803
I also got this issue, that is driving my and my employer crazy

[2019-06-19 04:17] OwaisRaza1 commented on #3616
I am facing issue when I run rasa UI with nlu server, when I start rasa UI and it hits to the nlu server at port 5000 it throws following exception:

[5860] [ERROR] Exception occurred while handling uri: 'http://localhost:5000/config'
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/sanic/app.py", line 893, in handle_request
    handler, args, kwargs, uri = self.ro

[2019-06-19 04:18] OwaisRaza1 opened #3821 "Config file error"
I am facing issue when I run rasa UI with nlu server, when I start rasa UI and it hits to the nlu server at port 5000 it throws following exception:

[5860] [ERROR] Exception occurred while handling uri: 'http://localhost:5000/config'
Traceback (most recent call last):
File "/usr/local/lib/python3.6/dist-packages/sanic/app.py", line 893, in handle_request
handler, args, kwargs, uri = self.router.g

[2019-06-19 04:34] nguyennhunai commented on #3695
@DiegoProtec Did you fixed this bug ?

[2019-06-19 04:43] GauravGaikwad94 commented on #3800
Thanks @lahsuk for the alternative solution.
 @akelad I'll keep in mind :)

[2019-06-19 05:13] anubhavpnp commented on #1754
hi @GaoQ1 ...Couple of questions:
1. I suppose bilstm_crf_entity_extractor.py is the file that does entity extraction utilizing google bert.But  I could not find any parameter in defaults section which specifies the fine tuned google bert model that we want to utilize.
2. I already have intent classification working for google bert. I only want to utilize entity extraction. Can I just copy this fi

[2019-06-19 06:49] thepurpleowl commented on #3788
@akelad I already had asked the question in forum, only after not getting any response I reached here. Completely agree with @psds01 with this; many others will also do.

[2019-06-19 07:10] PhilippeBaert commented on #3802
@akelad Hi, I updated to 0.19.2 but I'm still experiencing the same issues...

Really strange!

[2019-06-19 08:04] msamogh commented on #3807
@sumyatthitsar Any model in general

[2019-06-19 08:25] akelad commented on #3753
it's not merged in any case, bad communication on my part with my earlier comment. However, I think Rasa X issues should stay open until there's a release out with the fix, since the fix isn't accessible to the community until there's a tagged release

[2019-06-19 08:32] akelad commented on #3801
i think they all have linux installed. But i'm not really sure this is an issue specific to rasa, but rather to spacy/tensorflow?

Also the forum question you posted is someting different no? That's about running a docker image on windows (which is another problem...)

[2019-06-19 08:37] akelad commented on #3685
ok to whoever fixes this: i can reproduce it on our deployed instance of Rasa X with Sara, please ping me on Slack so I can give you more details if you need them

[2019-06-19 08:38] akelad commented on #3810
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-19 08:38] #3810 closed

[2019-06-19 08:40] akelad commented on #3793
@adhikariastha5 could you clarify what you mean? are you talking about calling functions from python code? https://rasa.com/docs/rasa/migration-guide/

[2019-06-19 08:41] akelad commented on #3790
@adhikariastha5 please don't put duplicates of your question on different issues which aren't relevant to your question

[2019-06-19 08:49] akelad commented on #3748
yeah this worked without the python path thing before...

[2019-06-19 08:53] akelad commented on #3803
Ok this is strange, just to clarify so we can try and reproduce this, you're running the command `rasa interactive` right? with a newly trained model?

[2019-06-19 08:54] akelad commented on #3616
@OwaisRaza1 this is not related to this issue, please create a new one

[2019-06-19 08:54] akelad commented on #3821
@OwaisRaza1 if this is a potential bug, then please open an issue with the "Bug Report" template and fill out all the necessary information

[2019-06-19 08:54] #3821 closed

[2019-06-19 08:57] Elysium13 opened #3823 "Socket channel does not return json messages"
**Rasa version**: 1.1.3

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): WSL Ubuntu 16.04

**Issue**: Attempting to send custom json response over socket channel returns null instead.

**Steps to recreate**:
1. Initialize a new rasa project.
2. Update the templates in domain with custom json.
3. Update the credentials file allowing socket channel.
4. Send message 'hi' over soc

[2019-06-19 08:57] akelad commented on #3788
Could you link your forum questions? we're working on answering more questions on there

[2019-06-19 08:59] akelad commented on #3802
that's strange, i'm running 0.19.2 on a server and interactive learning works fine. @imLew do you think you could try and reproduce this behaviour locally with rasa-x 0.19.2?

[2019-06-19 08:59] akelad commented on #3807
we're talking about the model generated from `rasa train`

[2019-06-19 09:01] akelad commented on #3819
i think i'd classify this as a bug for future reference 😉but awesome, thanks!

[2019-06-19 09:03] mohankumargx commented on #3803
Yes @akelad

[2019-06-19 09:08] wochinge commented on #3799
@vickywar Mingw is not supported as compiler for python versions > 3.4.
Please use the Microsoft Visual ++ Compiler: https://wiki.python.org/moin/WindowsCompilers and see whether it works then.

[2019-06-19 09:18] PhilippeBaert commented on #3802
@akelad, @imLew

Thanks again for your reply.

What I did (you can maybe reproduce this behavior more easily):

1. create a new directory
2. do a "rasa init" and train the models
3. launch Rasa x with "rasa x"
4. go to "Talk to your bot" => "Mode: interactive learning"
5. say "hello" and press enter
6. intent "greet" gets detected, I press enter again, no action gets proposed, the bot listens agai

[2019-06-19 09:34] wochinge commented on #3776
@wenig Thanks for this detailed bug report! I'm reverting the stripping here and replacing it with a debug message: https://github.com/RasaHQ/rasa/pull/3824

[2019-06-19 09:58] a461925358 commented on #3737
解决没,我也有这样的问题

[2019-06-19 10:13] OwaisRaza1 opened #3825 "Config file error"
**Rasa version**:1.0.9

**Rasa X version** (if used & relevant): not used

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu 18.4

**Issue**: I am facing issue when I run rasa UI with nlu server, when I start rasa UI and it hits to the nlu server at port 5000 it throws following exception:

[5860] [ERROR] Exception occurred while handling uri: 'http://localhost:5000/config'

[2019-06-19 11:17] amn41 commented on #3737
Hi @a461925358 - please post your question in english.

[2019-06-19 12:01] psds01 commented on #3788
https://forum.rasa.com/u/psds01

[2019-06-19 12:06] HatuneMiku commented on #1621
I have the same issue, could we get this update in a few recent minor releases?

@akelad Thanks!

[2019-06-19 12:16] imLew commented on #3802
Hi @PhilippeBaert,

unfortunately I cannot reproduce your problem. Using the the same versions of rasa and rasa-x on Ubuntu the interactive learning correctly predicts actions.
Have you tried reproducing it in a completely new environment with just rasa-x installed?

[2019-06-19 12:28] PhilippeBaert commented on #3802
Hi @imLew,

Thank you for looking into my issue.

I retried with a fresh environment, I still have the same issue.
When I try again with v 0.19.0, no issues.

I'm using Anaconda on Windows 10, I install Rasa X from the tar.gz file I download from https://pypi.rasa.com/simple/rasa-x/

Cheers,
Philippe

[2019-06-19 13:21] hassanrafay commented on #3084
could you please a link to the documentation?

[2019-06-19 13:30] imLew commented on #3802
Just to check: did you retrain the bot at all? Is the model tagged as production in the models tab?

[2019-06-19 13:39] PhilippeBaert commented on #3802
@imLew, I tried re-training the bot (and tagging the new model as production) but it still doesn't work.

Really strange ... "rasa interactive" (in command line) works like a charm...

[2019-06-19 14:07] wochinge commented on #2927
@erohmensing You didn't do this, right?

[2019-06-19 14:17] wochinge commented on #3801
We could test it using a windows server vm on gcloud?

[2019-06-19 14:18] wochinge commented on #3801
@JEM-Mosig Has Windows 🙂

[2019-06-19 14:37] BrunoRoth95 commented on #3748
Still not working...
Let me sum up what I did for you guys to see if I'm doing something wrong:

1 - My project files (domain.yml, actions.py, config.yml, etc.) are now located at `/home/bruno.roth/Documents/duka-data/duka-new`

2 - Inside the `duka-new` folder I created a `custom_components` folder, where my two custom components are located (one tokenizer and one synonym mapper).

3 - I added th

[2019-06-19 14:39] erohmensing commented on #2927
no, not two channels at once. i think this would go into that question how the bot handles multiple users at once. as of my changes the slack channel posted to can be dynamic though, it's not restricted to that defined in credentials

[2019-06-19 14:54] JEM-Mosig commented on #3802
Ok, I can reproduce this on my Windows 10 laptop, having installed rasa from `rasa-x-0-19-2.tar.gz` with Anaconda. Looking into it...

[2019-06-19 15:00] erohmensing commented on #3823
what do you mean by returns null?

The point of custom json payloads is to be able to send json API calls to your output channel, so it's channel specific. Therefore your json payload has to be in a format that socket will accept. In the case of socketio, it sends your paylod to the [emit function](https://github.com/miguelgrinberg/python-socketio/blob/master/socketio/asyncio_server.py#L78) of the

[2019-06-19 16:03] nlhkh opened #3826 "Relax the "requests" library version requirement"
**Description of Problem**:
I cannot install rasa into most projects due to "requests" version conflict.

**Overview of the Solution**:
Relax the version requirement in requirements.txt instead of strict requests==2.22.0.

**Definition of Done**:
rasa can be installed along with other libraries like "sagemaker"

[2019-06-19 16:17] akelad commented on #3803
alright, @imLew would be great if you could try and reproduce this

[2019-06-19 17:02] #3308 closed

[2019-06-19 17:53] wochinge commented on #3748
Do you also have `__init__.py` files in these directiories?

[2019-06-19 18:00] JustinaPetr commented on #3748
I think you also have to source the bashrc for the changes to take affect on your system:

[code]

You can also just quickly test it by simply running the following in your command line:

[code]

Can try it and let me know if that works?

[2019-06-19 18:34] tahamr83 commented on #3056
Any fix for this issue for Rasa 1.1.x ?
@akelad @tmbo

[2019-06-19 21:27] rgstephens commented on #3793
I assume you're referring to my proposed addition concerning the HTTP API?  I've come across several API endpoints so far that have changed.  I think there should be a complete list of the endpoints that have changed but here are the ones that I have come across:

| API    | Old         | New            |
| ------ | ----------- | -------------- |
| POST   | `/parse`    | `/model/parse` |
| POST

[2019-06-19 22:26] dmlapteacru commented on #3775
@wochinge I am using Rasa 1.0.6.
Alright, got it. So other stores wont work locally, only on deploy.
Is it necessary to deploy all of the components in docker-compose?

[2019-06-20 02:54] CathyWang53 commented on #3823
Hi, I met a similar problem to you.
I am trying to use HTTP API with Java language from my computer to call my Rasa server. However, for the GET request, it seems to work well, **but for the POST request, rasa response with nothing**.
I also used the rasa initial project. I am pretty sure that my JSON is in the correct format and URL is also correct.
Waiting for a solution...

[2019-06-20 03:05] erohmensing commented on #3823
Hi @CathyWang53, that is a very different issue from this one about the socket connector. Please create a post on our [forum](forum.rasa.com) about your question.

[2019-06-20 04:49] ccelotto opened #3827 "Add case_sensitive option to WhitespaceTokenizer"
**Description of Problem**:
WhitespaceTokenizer does not have the `case_sensitive` option. This is in reference to a discussion on the Rasa Community Forum https://forum.rasa.com/t/case-sensitivity/2541/8 with @Ghostvv

**Overview of the Solution**:
Add the `case_sensitive` option to WhitespaceTokenizer to allow models using this tokenizer to be case insensitive.

**Examples** (if relevant):
If a

[2019-06-20 06:59] Highwall2016 opened #3828 "Could I only use MappingPolicy in my config ?"
in my config.yml just like:

# Configuration for Rasa NLU.
language: "zh"

pipeline:
- name: "MitieNLP"
  model: "total_word_feature_extractor.dat"
- name: "MitieTokenizer"
- name: "MitieEntityExtractor"
- name: "EntitySynonymMapper"
- name: "RegexFeaturizer"
- name: "MitieFeaturizer"
- name: "SklearnIntentClassifier"
- name: "MitieIntentClassifier"

# Configuration for Rasa Core.
policies:
  - na

[2019-06-20 08:46] Elysium13 commented on #3823
Hi @erohmensing ,
Thanks for your response.

By seeing the image attached for the shell output in the OP. Could you point out what is wrong with json being returned.

Correct me if I am wrong. My understanding for a custom json response for a socket connection is that I can send any data as long as it is in proper json format and it is upto the chat interface on the frontend to handle how to inter

[2019-06-20 09:04] Elysium13 commented on #3823
I also went ahead and did a bit of debugging on my own.

Reference: [/rasa/core/channels/socketio.py line 99](https://github.com/RasaHQ/rasa/blob/master/rasa/core/channels/socketio.py)

I can confirm that the socketio channel method for custom json contains my intended output in ```json_message``` however the AsyncServer emit does not receive any data.

However, changing :
[code]
 to
[code]
solves

[2019-06-20 09:11] JEM-Mosig commented on #3802
* 0.19.0 also works fine on my machine
* running `rasa x --debug` and looking into devtools/network/requests shows an error 500 (Failed to load resource: `{"reasons":["Authorization header not present."],"exception":"Unauthorized"}`)
* On the Anaconda Console, `rasa x --debug` gives the following output when I repeat the procedure:

[code]

The last statements keep repeating as long as the applica

[2019-06-20 11:46] Elysium13 commented on #3823
I did a bit of debugging on my own and following are my findings:

1. The json output as shown in the shell response is available under ```json_message``` for rasa's socketio channel method for sending custom json. Reference: [socketio.py line-92](https://github.com/RasaHQ/rasa/blob/master/rasa/core/channels/socketio.py)
2. This however does not get transferred to asyncio server's emit method. Ref

[2019-06-20 11:58] erohmensing commented on #3823
This is not true, the `**json_message` sent corresponds to the `**kwargs` argument in the emit method. This double star notation means that any keywords within the `json_message` dict will fill the other parameters of the method (e.g. `data` or `room`) and any unused args will be carried on into the next function call [here](https://github.com/miguelgrinberg/python-socketio/blob/master/socketio/as

[2019-06-20 11:58] #3823 closed

[2019-06-20 12:09] #3776 closed

[2019-06-20 12:46] wochinge commented on #3801
This forum post was not connected to the issue, they were just using the wrong image: https://forum.rasa.com/t/run-rasa-x-using-public-docker-image/11472

[2019-06-20 12:49] wochinge commented on #3771
@ArupMukherjee Could you please try uninstalling / installing `scipy` in your 3.7 environmet?

[2019-06-20 13:29] Elysium13 commented on #3823
Makes sense. Thanks for the clarification and help.

[2019-06-20 14:16] erohmensing commented on #3801
@wochinge I know, I let him know that. I was referring to his comment:

His response was:

So I guess you're right, seems like his issue was when we had the python 3.7, tensorflow 1.10.0 compatibility issue.

[2019-06-20 15:26] erohmensing opened #3832 "Remove/deprecate AgentUttered event class"
The [AgentUttered class](https://github.com/RasaHQ/rasa/blob/master/rasa/core/events/__init__.py#L889) is not used anymore anywhere but tests. @tmbo do we need to deprecate it rather than remove it, as the Events API is public? I'm not sure if we actually support it anymore, it's no longer in the docs

To do:
- [ ] also remove/deprecate same class in sdk

[2019-06-20 15:57] erohmensing commented on #3806
closed as PR was closed

[2019-06-20 15:57] #3806 closed

[2019-06-20 16:25] #2558 closed

[2019-06-20 16:26] #2544 closed

[2019-06-20 16:27] #2471 closed

[2019-06-20 16:27] akelad commented on #3095
@tabergma still relevant right?

[2019-06-20 16:28] #2965 closed

[2019-06-20 16:29] akelad commented on #2962
@wochinge is that not more a user success thing?

[2019-06-20 16:30] #2906 closed

[2019-06-20 16:32] #2760 closed

[2019-06-20 16:33] akelad commented on #2927
so what happens with this issue? Maintenance?

[2019-06-20 16:34] akelad commented on #3825
Thanks for raising this issue, @tabergma  will get back to you about it soon.

[2019-06-20 16:36] akelad commented on #3788
looks like they've pretty much all been answered now :)

[2019-06-20 16:37] akelad commented on #1621
Still no update on this, sorry!

[2019-06-20 16:37] #2679 closed

[2019-06-20 16:38] #2541 closed

[2019-06-20 16:39] erohmensing commented on #2927
@wochinge do you remember who was asking for this? the slack token isn't per channel so I don't think that would be the implementation to handle this, but i guess this is how we could handle multiple workspaces, not sure if we want to do that

[2019-06-20 16:39] akelad commented on #2618
@Ghostvv we merged  this right?

[2019-06-20 16:40] akelad commented on #3088
@erohmensing what's the status here?

[2019-06-20 16:41] akelad commented on #3826
Thanks for raising this issue, @tmbo  will get back to you about it soon.

[2019-06-20 16:41] akelad commented on #2983
@ricwo still relevant?

[2019-06-20 16:42] akelad commented on #3056
not sure -- @tmbo ?

[2019-06-20 16:43] akelad commented on #3793
i was asking the other person that commented :) but would you be willing to submit a PR with your suggested changes?

[2019-06-20 16:43] #3090 closed

[2019-06-20 16:43] akelad commented on #3827
Thanks for raising this issue, @Ghostvv  will get back to you about it soon.

[2019-06-20 16:44] akelad commented on #3828
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-20 16:44] #3828 closed

[2019-06-20 16:44] akelad commented on #3121
@ricwo still relevant?

[2019-06-20 16:47] erohmensing commented on #3088
Looks like the issue might be with `.format()` which we use... in all of our logging: https://stackoverflow.com/questions/27150858/print-succeeds-but-logging-module-throws-exception
not sure how to handle it in this case

[2019-06-20 16:55] #3790 closed

[2019-06-20 17:04] erohmensing commented on #3088
Update, intent name isn't the issue, in an ascii codec environment I got the following with no error:
[code]

[2019-06-20 17:32] #2983 closed

[2019-06-20 17:33] #3121 closed

[2019-06-20 19:11] tabergma commented on #3825
@OwaisRaza1 What do you mean by `run rasa UI with nlu server`? What command do you execute?

If you start the rasa server via `rasa run --enable-api`, the endpoints listed [here](https://rasa.com/docs/rasa/api/http-api/) are exposed. We don't have an endpoint `/config`. So not sure what exactly you mean.

[2019-06-20 19:19] tabergma commented on #3095
Just tried it again: It took me roughly 3 minutes to clone. The number of objects was reduced to 288133. Before it was taking up to 30 minutes. If you agree, I guess we can close this.

[2019-06-20 19:37] Robertjbc opened #3834 "RASA SDK ISSUE"
hello rasa friend i have a issue about the custom actions in rasa and  when i try to use the dispatcher for send the result of my code and send me that error

`C:\Users\capitalminds\Desktop\Empresa Risco>rasa run actions --cors "*"  --debug
2019-06-20 15:21:52 INFO     rasa_sdk.endpoint  - Starting action endpoint server...
2019-06-20 15:21:52 INFO     rasa_sdk.executor  - Registered function for

[2019-06-20 19:40] rgstephens commented on #3793
I would have done that but I don't think my list is complete.  I haven't gone thru every endpoint and tried to compare.  I just noted two of them that I use.

It would be best to have the person that made the API changes give us a complete list of the endpoints that changed.

[2019-06-20 20:26] erohmensing commented on #3834
@Robertjbc as this is a usage question, you should post it on our [forum](forum.rasa.com). Post the error and the action `run.py` method there, are we will be able to help you.

[2019-06-20 20:26] #3834 closed

[2019-06-20 20:30] erohmensing opened #3835 "debug logs should tell you what tracker store is connected"
We should add a debug message when the tracker store is instantiated that tells which one is being used.

This will help debug issues if the wrong tracker store is instantiated, e.g. if you use the wrong key `store_type` vs `type`, depending on rasa (core) version, type will return none and an InMemoryTrackerStore will be instantiated instead of another one.

[2019-06-20 20:37] fz-29 opened #3836 "RasaNLUHttpInterpreter makes call to wrong URL for parsing intent"
**Rasa version**: 1.1.3

**Rasa X version** (if used & relevant):

**Python version**: 3.6

**Operating system** (windows, osx, ...): OSX

**Issue**:

RASA allows a custom URL for NLU endpoint, by specifying the NLU endpoint in endpoints.yml. But currently, at the time of making HTTP call to the NLU endpoint, the URL constructed is not right.
If one aims to set up an NLU endpoint at ``` http://loc

[2019-06-20 21:44] ricwo commented on #3802
Hey @PhilippeBaert I just published a debug version of `rasa-x` which should print the exact exception occurring in the `/domainActions` endpoint. Would you mind installing `0.19.3.dev1+g2bde944` from https://pypi.rasa.com/simple/rasa-x/ and posting the command line output when performing interactive learning?

Here's a direct link to the `.tar.gz`: https://pypi.rasa.com/api/package/rasa-x/rasa-x-

[2019-06-20 23:15] tpacker opened #3839 "Rasa X not loading conversations"
**Rasa version**:  Rasa 1.0.7

**Rasa X version** (if used & relevant):  0.19.0

**Python version**:  3.7.3

**Operating system** (windows, osx, ...):  Windows 10 Enterprise

**Issue**:

I have a recently installed rasa 1.0.  It has the "cheer-up" demo bot with very little modification except that I used Rasa X to add a couple more stories for training.  When I start Rasa X and switch to Conversat

[2019-06-20 23:20] tpacker commented on #3839
Forgot to mention that I also get the "It seems like its your first time here!  What would you like to use Rasa X for?" every time I start it.  In the "Talk to your bot" screen, it does show my last conversation with my bot.

[2019-06-21 01:11] sjtilney commented on #3803
Same issue. initially happened with Rasa 1.1.1
I upgraded to Rasa 1.1.3, retrained my models, but the issue still persists.
I'm not noticing any issues with performance, everything still seems to be working as expected, just getting the errors
![Screen Shot 2019-06-20 at 6 07 18 PM](https://user-images.githubusercontent.com/9960124/59890610-8d7a1600-9386-11e9-813b-3e0858c74638.png)

Domain file:
[

[2019-06-21 01:56] erohmensing commented on #2927
well someone literally just asked for this: https://forum.rasa.com/t/setting-up-multiple-facebook-chatbots-pages/11844

[2019-06-21 03:09] HatuneMiku opened #3840 "About the function of the FAQ"
In the current situation, rasa is better able to solve task-oriented conversations, just like the example restaurant robot.

However, in practical applications, there are a large number of conversation scenarios that are not well accomplished using task-oriented ideas. These conversations may be just some inquiries about the information. A simple and independent information inquiry.

For example,

[2019-06-21 03:57] aaronshieh opened #3841 "Command line interactive learning session erased all my intent triggers during export"
**Rasa version**: 1.1.3

**Rasa X version** (if used & relevant): n/a

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Win10

**Issue**: After using interactive session to generate new stories and exporting, all my intent triggers were lost (domain.yml file). Everything else seems to be fine during the export overwrite.

For example, before using interactive session
[code]
aft

[2019-06-21 06:45] OwaisRaza1 commented on #3825
I am using '''https://github.com/paschmann/rasa-ui''' rasa UI  when I start it by npm start command it throws an above mentioned error exception to NLU server which I run by command ''' rasa run --enable-api -m nlu-20190618-170731.tar.gz -p 5000'''.  Can't understand why ??? cause in previous version of rasa core and nlu(0.14) it didn't give any error when I updated it on rasa 1.0 it starts to giv

[2019-06-21 07:00] wochinge commented on #2927
I put in maintenance. Could be a bit tricky if the same user is speaking to multiple bots. Probably some sender_id prefix would be required.

[2019-06-21 07:11] justinclare commented on #610
May I know if currently the config is now refreshed every time the server starts? Say if I specify duckling url to http://duckling:1234, will it be able to call the corresponding port number without retraining the model?

[2019-06-21 08:01] Ghostvv commented on #2618
yes

[2019-06-21 08:01] #2618 closed

[2019-06-21 08:02] Ghostvv commented on #3827
Thanks for creating the issue. Would you like to make a PR for it?

[2019-06-21 08:47] wochinge opened #3842 "domain entity featurization dump format"
Reading a domain with
[code]

currently leads to a dump format (if domain is persisted) which is a bit confusing

[code]

Ric also said:

We should check if we adapt the docs / code.

[2019-06-21 09:23] wochinge commented on #2962
You're right. Still getting used to processes 💥

[2019-06-21 10:09] wochinge opened #3843 "Scoping skills"
# Motivation

After doing https://github.com/RasaHQ/rasa/issues/3302, the next step is to be able to scope intents. Currently intents, entities, actions and so on are merged by default. With this enhancement we want to make it possible to add a scope / namespace to a skill import so that you can avoid overlapping.

Example:

Consider imports like:
[code]

If both `Skill A` and `Skill B` have an in

[2019-06-21 10:13] tarunbhavnani commented on #2129
slack supports 5.