[2019-09-26 21:27] wochinge commented on #4381
@msamogh What's the state on this? Could you reproduce it?

[2019-09-27 06:00] sara-tagger commented on #4526
Thanks for submitting this feature request 🚀@tmbo will get back to you about it soon!✨

[2019-09-27 06:29] nullphantom commented on #972
Hi. Where you can get `mitie/total_word_feature_extractor_ja.dat` ?

[2019-09-27 06:43] chrisbangun commented on #4119
hi @erohmensing
thanks for the pointer, I now can execute the testing!

btw, I noticed you suggested that we log a warning for both intent and entities. does it mean we need to have two separate warnings? I am wondering if you have "design" recommendation in mind.

thanks !

[2019-09-27 06:51] erohmensing commented on #4119
I think two separate warnings is fine since they'll be two loops of checking intents and then entities. As for design, i think something simple like a
[code]
which would render like
[code]
and then the same for entities!

Also, make sure you check for each entity that is picked up :)

[2019-09-27 08:37] msamogh commented on #4381
@wochinge No, I was not able to reproduce this with this example, but I remember experiencing it when using PDB to debug my Rasa code, and if I lingered for too long in the middle of the code responsible for communicating with the action server, I would get this `TimeoutError`.

[2019-09-27 08:54] tmbo commented on #4526
I like the idea of that :+1: its something I had in the back of my mind for a while, but we just didn't get to it yet.

[2019-09-27 08:56] akshay2000 commented on #4526
@tmbo Does that mean I can start working on this now?

[2019-09-27 09:01] ngochuyenluu commented on #4129
Hello, I face the same error. The command that I used:
[code]
And all output with error:
[code]

Is there anyone have idea to fix this? Thank you

[2019-09-27 09:02] tmbo commented on #4526
Yes, that would be perfect :rocket:

I'd suggest we should
- remove the dependencies from install requires in setup.py
- move the dependencies to extra sections in setup.py (this depends a bit on the use case, we could either have one extra per channel or one extra for all the channels - up for discussion)
- add checks and errors to the channels to make sure the needed packages are available

[2019-09-27 09:17] chrisbangun commented on #4119
hi @erohmensing
I've tested the new implementation and it worked fine. But since this is my first time in contributing to open source, I still have some confusion on how should I proceed before I can submit a PR. I've pushed my changes on my forked-version.

Btw, after reading the documentation https://github.com/RasaHQ/rasa#how-to-contribute, I have two questions:
1. which branch should I submit

[2019-09-27 12:26] imLew commented on #4409
@tdzienniak thanks for reporting that bug, please reopen it as a new issue though, as it is not related to the original issue.
This issue should have been closed when the PR fixing it was merged.

[2019-09-27 12:26] #4409 closed

[2019-09-27 13:17] ngochuyenluu opened #4528 "sqlalchemy.exc.NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:http when using SQLTrackerStore"
**Rasa version**: 1.2.5

**Rasa X version** (if used & relevant): 0.20.1

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Linux

**Issue**: sqlalchemy.exc.NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:http

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[c

[2019-09-27 13:50] erohmensing commented on #4129
What are you sending when you receive the error?

[2019-09-27 13:53] erohmensing commented on #4119
Great question! Since this is an addition (albeit a small logging one) and not a bug fix, open it against master. For future reference if you push a bug fix, please open it against the `.x` branch -- e.g. in this case `1.3.x`.

Don't change the version.py, that only gets updated when we push out the releases. However you should add a changelog entry to the `Added` portion of the `Unreleased 1.4.0`

[2019-09-27 14:13] ngochuyenluu commented on #4129
Hello, I tried to open it in a browser, with address http://localhost:5005, it returned 'hello from Rasa 1.2.5' but http://localhost:5005/favicon.ico, it returned the error above.
But if I don't open the browser, and test in another terminal, for example I sent:
[code]
It worked.

[2019-09-27 14:18] erohmensing commented on #4129
Right, it's not a browser application, so that'l be why

[2019-09-27 14:21] #4437 closed

[2019-09-27 15:49] #4528 closed

[2019-09-27 15:56] wochinge commented on #4381
well, that also makes sense right? 😄

[2019-09-27 16:26] msamogh commented on #4381
Okay I wasn't sure if that was expected behavior. If it is, then no, I was not able to reproduce this.

[2019-09-27 16:56] wochinge commented on #4381
@tocosastalo Any updates on that? I'd close it for now otherwise.

[2019-09-27 16:59] wochinge commented on #4381
Ah, I think it found the problem. @tocosastalo Could it be that these 5 actions run for longer than 10 seconds? Then there is indeed a timeout which is triggered. We could set that higher, but not sure how relevant that is since a bot should respond in < 10 seconds?

[2019-09-27 19:55] SanthoshKumarKatta opened #4531 "Failed building wheel for httptools - pyconfig.h(222): fatal error C1083: Cannot open include file: 'basetsd.h': No such file or directory error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\BIN\\x86_amd64\\cl.exe' failed with exit status 2"
Hi, Tried most of the solutions and failed to get ride of this issue. Please find the following console logs help me on this.

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Building wheels for collected packages: httptools
  Running setup.py bdist_wheel for httptools ... error
  Complete output from command c:\users\katta\appdata\local\programs\python\python36\python.exe -u -c "i

[2019-09-27 20:07] wochinge commented on #4430
the quotes for `cors` part in the docker-compose seem wrong to me.  Can you try using `"`? I can't see any way how the sdk can be connected to the issue.

[2019-09-27 21:23] firewater334 commented on #4430
@wochinge I owe you an apology!  You were correct about the quotes!  Thank you very much!

[2019-09-27 21:24] wochinge commented on #4430
Awesome! Glad it works now 🚀

[2019-09-27 21:24] #4430 closed

[2019-09-27 21:43] wochinge commented on #4358
I propose a component `TrainingDataExporter` which mirrors the `TrainingDataImporter`.

[code]

Goals:
- have the option to change the export behavior globally
- users should be able to implement their own module for exporting data
- we should move out the persistence stuff out of our domain objects

Implementations:
- one which exports markdown / yaml
- one which overwrites the last one and expor

[2019-09-27 21:47] andrew-tangowork opened #4533 "Can't add channel to Rasa X responses"
**Rasa version**:
1.3.6

**Rasa X version** (if used & relevant):
0.21.1

**Python version**:
3.7.3

**Operating system** (windows, osx, ...):
Pop!_OS 19.04

**Issue**:
When editing a response template in Rasa X 0.21.1 the channel option does not save.

Example of text added
[code]
I can confirm that the rest of the template saves correctly. I tried placing channel below buttons too, as well as no

[2019-09-28 10:31] ricwo opened #4536 "Python 3.8 support"
**Description of Problem**: Python 3.8 is expected to be released on October 21, 2019. We should ensure compatibility by then.

**Definition of Done**: Passing `python: 3.8-dev` test stage in `.travis.yml`

[2019-09-28 17:17] erohmensing commented on #4459
closed in https://github.com/RasaHQ/rasa/pull/4521

[2019-09-28 17:17] #4459 closed

[2019-09-28 17:17] #4463 closed

[2019-09-30 00:54] tmbo commented on #4294
I think this is a larger issue of handling conversation-long state and should be handled as such finding a general solution.

[2019-09-30 00:57] tmbo commented on #4058
I am not sure iti s relevant how the functions are stored as long as the modules are loaded.

[2019-09-30 00:58] tmbo commented on #4058
The only thing we should need to do is "reload" the function in debug mode

[2019-09-30 01:01] tmbo commented on #3839
I think this should be fixed in the latest release.

[2019-09-30 04:02] chrisbangun commented on #4119
thanks for the input @erohmensing . I modified the logic and run the tests. I think I am ready to submit the pr now.

[2019-09-30 06:00] sara-tagger commented on #4533
Thanks for the issue, @akelad will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗
###### Caw! 🐧

[2019-09-30 06:00] sara-tagger commented on #4531
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-09-30 06:00] #4531 closed

[2019-09-30 07:11] akelad commented on #4294
not sure i understand what you mean?

[2019-09-30 07:12] akelad commented on #4533
hm, that's strange. @federicotdn not sure you're the right person - any idea what's going on there?

[2019-09-30 07:33] tabergma commented on #4358
@wochinge I think this issue is more about saving the model not the training data files. However, the `TrainingDataExporter` idea sounds great.

[2019-09-30 07:50] erohmensing commented on #4533
I think it is a front end thing @Saladdin
[code]

[2019-09-30 08:36] imLew commented on #4358
@wochinge exactly what @tabergma said, this issue is only a small refactoring suggestion for current features (saving the model components), but having an easy flexible way to export training data would be awesome!

[2019-09-30 09:13] prasannaonchip commented on #3839
No

[2019-09-30 09:22] erohmensing commented on #4119
Yes, I think our tests run on ubuntu vms, that shouldn't be the issue. Your pull request will be assigned to someone (maybe me, maybe someone else), and then we can sort it out. Looks like you have linter errors that you can check with `make lint`, check the test output:
[code]
which i reckon is on [this line](https://github.com/RasaHQ/rasa/pull/4538/files#diff-5e0c14efd7be6a60a537d8bced5952cfR332

[2019-09-30 12:07] gausie commented on #4425
The reason we're getting `dev` being reported as the version is because I think `REACT_APP_GIT_SHA` is no longer being set in Travis - it should be reporting the git commit hash that gets read by the frontend.

[2019-09-30 12:24] tocosastalo commented on #4381
@wochinge yes you are right. Timeout is triggered after 10 seconds.
![chatbot](https://user-images.githubusercontent.com/17258993/65878210-c49c9200-e38d-11e9-8432-2488cb8a3b13.gif)

I am using several actions in a sequence in specific cases (for example, if I need to differentiate whether the user has done this intent before (and ask whether use previous result) or whether slots in action have bee

[2019-09-30 12:25] tmbo commented on #3839
@JEM-Mosig were you able to reproduce the issue?

[2019-09-30 14:08] chrisbangun commented on #4119
hi @erohmensing
thanks for the pointer. finally get the code formatting passed. Yet, still failed on Test3.6 and Test 3.7. below is the error msg:
`ERROR    sanic.error:app.py:966 Exception occurred in one of response middleware handlers
Traceback (most recent call last):
  File "/home/travis/virtualenv/python3.6.7/lib/python3.6/site-packages/sanic/app.py", line 958, in handle_request
    request,

[2019-09-30 14:42] rgstephens commented on #4425
I think it would be good to display the output of /api/version. In troubleshooting conversations on the forum, this is one of the more common requests, for users to go to this endpoint and report the versions.

[2019-09-30 15:10] nicolasfarina opened #4539 "Custom pipeline for spell correction"
Hi i need create a Custom pipeline for spell correction, is there any implemented for example fuzzywuzzy python library or is necessary write a new Custom pipeline. I listen opinions.

[2019-09-30 17:12] boristhescot opened #4540 "Memory explosion from 1.2 to 1.3"
**Rasa version**: 1.2.4 and 1.3.3

**Rasa X version** (if used & relevant): Not used

**Python version**: 3.6

**Operating system** (windows, osx, ...): Windows and Linux

**Issue**:
@wochinge We spoke of this at the developer summit.

Here is the pipeline:

language: en
pipeline:
  - name: "WhitespaceTokenizer"
  - name: "RegexFeaturizer"
  - name: "CRFEntityExtractor"
  - name: "CountVectorsFeat

[2019-09-30 17:51] hsm207 commented on #2865
@akelad @tmbo can I work on this?

[2019-09-30 18:21] firewater334 opened #4541 "Setting up a Reverse Proxy using Nginx with Webchat Widget"
Hi,

I am attempting to set up a reverse proxy using Nginx for my Kubernetes Deployment.  However, regardless of my debugging attempts, I am still stuck on the issue of sanic.exceptions.NotFound: Requested URL /nova/socket.io/ not found if I set up a reverse proxy using /nova in my nginx.conf.  My question is, is it even possible to set up a reverse proxy with the webchat widget and rasa?  I have

[2019-09-30 18:27] znat commented on #4541
Yes, we do it all the time.
I guess you're using nginx-ingress, can you share an ingress?

[2019-09-30 21:54] dasxx179 commented on #4541
@znat

Thanks for the reply.  I have attached my ingress/egress policies, as well as my conf for my chatbot that is used by my nginx and conf for nginx.
**Novabot Conf (used by Nginx)**
![image](https://user-images.githubusercontent.com/54422044/65919657-9ecdb800-e3a2-11e9-9743-f00ae82c46c2.png)

**Nginx Conf**
![image](https://user-images.githubusercontent.com/54422044/65919687-b442e200-e3a2-11e9

[2019-10-01 03:27] chrisbangun commented on #4119
btw @erohmensing
I encountered this error while trying to do `pip3 install -r requirements-dev.txt`:
![image](https://user-images.githubusercontent.com/13383608/65931992-73001000-e43e-11e9-8835-e79ee4f7279d.png)
do you think this might be the root cause?

[2019-10-01 06:00] sara-tagger commented on #4540
Thanks for raising this issue, @msamogh will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-01 06:00] sara-tagger commented on #4539
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-01 06:02] IzidoroBaltazar opened #4543 "`rasa data validate` returns 0 code even if error in data was found"
**Description of Problem**:

`rasa data validate` returns 0 code even if error was found.
This behavior is problematic when rasa is part of CI/CD pipeline and it is necessary to have consistent data. Current situation requires parsing of rasa output (custom script).

**Overview of the Solution**:

Handle `rasa data validate` so that it returns non 0 code when problem with data found.
I can impleme

[2019-10-01 06:06] JEM-Mosig commented on #3839
@tmbo I have to try it on my Windows laptop tonight.

[2019-10-01 07:22] prasannaonchip commented on #3839
i tried this in ubuntu linux platform

[2019-10-01 07:26] #4320 closed

[2019-10-01 07:42] akelad commented on #2865
sure - @tmbo is this still valid?

[2019-10-01 07:48] sara-tagger commented on #4543
Thanks for submitting this feature request 🚀@wochinge will get back to you about it soon!✨

[2019-10-01 07:50] Ghostvv commented on #4540
This is because we added `balanced` batching strategy: https://rasa.com/docs/rasa/nlu/choosing-a-pipeline/#class-imbalance

Please follow the docs to see how it can be turned off

[2019-10-01 07:51] sara-tagger commented on #4541
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-01 07:51] #4541 closed

[2019-10-01 07:52] Ghostvv commented on #4539
Currently, we don't have spell corrector component in rasa. For now, you need to create your custom component.

[2019-10-01 08:00] tmbo commented on #2865
Yes still very relevant, would love to see a PR ⭐️

[2019-10-01 08:18] #3832 closed

[2019-10-01 10:01] erohmensing commented on #4113
@dakshvar22 fixed this in 1.3 🚀

[2019-10-01 10:01] #4113 closed

[2019-10-01 10:08] osvald0 opened #4545 "Rasa shell error: TypeError: argument of type 'NoneType' is not iterable"
**Rasa version**:
1.3.6

**Python version**:
3.6.9

**Operating system** (windows, osx, ...):
rsa/rasa docker image

**Issue**:
When I'm using the shell and send a message, the following error is displayed.
The correct response is displayed after the error but I get the exception.

**Error (including full traceback)**:
[code]

Thanks!

[2019-10-01 10:17] TatianaParshina commented on #4312
@dakshvar22 were you able to reproduce the issue or should I provide more information?

[2019-10-01 11:57] federicotdn commented on #4312
Hi @TatianaParshina, I noticed this issue was created in August, are you still using the same Rasa and Rasa X versions? If not, would it be possible to update them to the newest one? (Rasa X 0.21.1)

[2019-10-01 12:00] sara-tagger commented on #4545
Thanks for the issue, @akelad will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-01 12:05] erohmensing commented on #4312
@TatianaParshina looks like you have end-to-end stories in the same data directory that you are passing to `rasa train`. As of now, e2e format is only supported for testing, not training, but it's interpreting the end-to-end format as a new intent. I think this is something we should pick up on and warn/error on our part, but in the mean time, probably best if you keep your test data in a differen

[2019-10-01 12:49] dasxx179 opened #4547 "Reverse Proxy Setup Issue Path not Found"
Hi,
I am attempting to set up a reverse proxy using Nginx for my Kubernetes Deployment. However, regardless of my debugging attempts, I am still stuck on the issue of
**sanic.exceptions.NotFound: Requested URL /nova/socket.io/** if I set up a reverse proxy using /nova in my nginx.conf.  I have attached my conf for my chatbot that is used by my nginx, conf for nginx, my services file for k8s, my in

[2019-10-01 14:14] tahamr83 commented on #4545
I am having the same problem too
It's also on the forms

[2019-10-01 14:14] jwheat commented on #4545
Rasa: 1.2.5
Python: 3.6.7
Windows 10 / running from Powershell
Docker version 17.03.1-ce-rc1, build 3476dbf
Docker image: rasa/rasa:latest-full

I just setup Rasa for docker yesterday (9/30) and when running

`docker run -it -v ${PWD}:/app rasa/rasa shell`

Whenever I type something and hit enter, I see what @osvald0 reports, followed by the correct utterances.

Then it gets a bit crazy. I setup a

[2019-10-01 14:19] jwheat commented on #4545
As a followup, I have a bot I've been working on that is a couple weeks older

I get the following from http://localhost:5005/version when I just run it without docker, which is my older version of Rasa

[code]

[2019-10-01 14:27] erohmensing commented on #4547
Please open questions about implementation on the forum, we will try our best to help you out there. We reserve the github for bug reports in the rasa or rasa x libraries or feature requests.

[2019-10-01 14:27] #4547 closed

[2019-10-01 14:59] teresalazar13 commented on #4545
I also have the same problem

[2019-10-01 15:32] teresalazar13 commented on #4545
Where can I download a previous version of RASA?

[2019-10-01 18:40] ricwo commented on #4379
This should probably also apply to socketio

[2019-10-02 01:30] remotejob commented on #4545
As well I have the same problem :( after upgrade.

[2019-10-02 03:34] chrisbangun opened #4548 "error pip3 install -r requirements-dev.txt"
**Rasa version**:

**Rasa X version** (if used & relevant):

**Python version**: 3.7

**Operating system** (windows, osx, ...): osx

**Issue**: encountered some errors with dependencies compatibility issues while using pip3 in conda virtual environment. Apparently the pip3 doesn't refer to the pip in the virtualenv.

**Error (including full traceback)**:
[code]

**Command or request that led to er

[2019-10-02 06:00] sara-tagger commented on #4548
Thanks for the issue, @ricwo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-02 07:59] chrisbangun commented on #4119
hi @erohmensing
I keep failing this test: https://travis-ci.com/RasaHQ/rasa/jobs/241008215, would it be possible if you give me some directions?

thanks a lot.

[2019-10-02 08:22] ricwo commented on #4548
Hi @chrisbangun, this seems to be tensorflow issue. Can you please try if the following works:

[code]

(from https://github.com/tensorflow/tensorflow/issues/30191#issuecomment-516192882)

I can see you're trying to install rasa x 0.20.2 with rasa 1.3.6 - I'd recommend you upgrade to `rasa-x==0.21.2` and `rasa==1.3.7`. I hope that helps!

[2019-10-02 08:34] chrisbangun commented on #4548
hi @ricwo , thanks for the response. As for the rasa-x, I didn't install it explicitly (manually). I just execute the `pip3 install -r requirements-dev.txt` after creating my conda environment.

I'll try the suggestion above, however, I would like to point out that if I changed it to `pip`, it works just fine.

[2019-10-02 08:39] akelad commented on #4545
I just tried to reproduce this but couldn't  - what versions of sanic are you on @osvald0 ? Would be good to see a `pip list`. And for all of you does this happen locally or on docker?

[2019-10-02 09:24] erohmensing commented on #4119
@chrisbangun that looks like a valid failed test, because there is no domain passed to the model in the test -- i believe it should be something we can get around but best to bring that up on the PR.

[2019-10-02 09:38] tabergma opened #4549 "Refactoring Tests"
**Description of Problem**:
Currently tests are not structured at all. There is no clear mapping/way of finding a tests for a specific class/function.
We have multiple `conftest.py` files that define the same things.

**Overview of the Solution**:
Tests should be structured in the same way as the python classes. There should be one test file per python file.
We should restructure our `conftest.py`

[2019-10-02 09:42] pbouda opened #4550 "Error in interpolate_text when value contains 0["
**Rasa version**:

1.3.4

**Rasa X version** (if used & relevant):

**Python version**:

3.7

**Operating system** (windows, osx, ...):

Windows

**Issue**:

Rasa fails to interpolate a template when one of the values contains a `0[`. The code that triggers the error is here:

https://github.com/RasaHQ/rasa/blob/master/rasa/core/nlg/interpolator.py#L19

My response contains an a string `np0[0...n]

[2019-10-02 09:43] teresalazar13 commented on #4545
locally

[2019-10-02 09:44] tabergma opened #4551 "Tackle leftovers from merge"
**Description of Problem**:
After the merge of Rasa NLU and Rasa Core we did not had time to clean up. We still have some duplicated code in the `core` and `nlu` packages. Also some code is used in both packages, but is defined in one of them.

**Overview of the Solution**:
* Find duplicated code in `core` and `nlu` packages and move it up to a proper location.
* Move code that is used in both pac

[2019-10-02 09:47] tabergma opened #4552 "Move code out of __init__.py"
Some `__init__.py` files contain quite a lot of code. We should move the code to proper files.

[2019-10-02 09:59] dakshvar22 opened #4553 "Suggested improvements to Response Selector"
**Description of Problem**:
Collect suggestions for improvement and making sure we keep a track of them.

Collecting the feedback in this [doc](https://docs.google.com/document/d/1-3AZHOaqEG35k9XtkJJm-gXFHmg5iuO92E2J2lY5Hns/edit?usp=sharing)

[2019-10-02 10:02] Anwarvic commented on #4545
I also have the same issue using:

- python 3.6.5
- Rasa 1.3.6

And here is my `pip list` created in a virtual environment
[code]

[2019-10-02 10:06] Anwarvic commented on #4545
This problem disappears when I use Rasa `1.3.3`. Here is exactly what I did to install Rasa 1.3.3:

- Created a new virtual environment using `virtualenv` with `python 3.6.5`.
- Downloaded the Rasa 1.3.3 source code from the official release [here](https://github.com/RasaHQ/rasa/releases/tag/1.3.3).
- Followed the installation steps described [here](https://rasa.com/docs/rasa/user-guide/installati

[2019-10-02 10:14] chrisbangun commented on #4119
i see. could you please raise the issue @erohmensing ? I can do it as well.

[2019-10-02 10:54] #4402 closed

[2019-10-02 11:12] Sarvin92 opened #4554 "Couldn't train rasa core with custom model_architecture in keras policy"
I have to use a custom keras policy for dialog management using rasa core. I have tried to implement it using a sequential model in as per documentation in keras. I have trained the model using my custom dataset externally without using rasa. But when I have tried to integrate this architecture in model_architecture method of KerasPolicy of rasa. I have attached the code below,

    from __future_

[2019-10-02 11:38] JEM-Mosig commented on #4545
Same problem here with Python 3.7.4 and rasa from master branch (commit e11643ea7786dec5efeceb2f0a788cc34443df64)

[2019-10-02 12:00] sara-tagger commented on #4554
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-02 12:00] #4554 closed

[2019-10-02 12:00] sara-tagger commented on #4550
Thanks for raising this issue, @msamogh will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-02 12:45] SalAlba opened #4555 "leaked semaphores to clean up at shutdown"
**Rasa version**:

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of domain file (domain.yml)** (if relevant):
[code]

[2019-10-02 12:45] #4555 closed

[2019-10-02 13:52] chamecall commented on #4545
I just downgraded rasa from 1.3.7 to 1.3.3 and the error had disappeared.

[2019-10-02 14:10] teresalazar13 commented on #4545
Thank you @Anwarvic ! I ended up downgrading from 1.3.7 to 1.3.3 and it worked.

[2019-10-02 15:55] Phirefly9 commented on #4545
adding `--cors '*'` to your arguments should fix it, it does for me

[2019-10-02 18:14] jwheat commented on #4545
@akelad

I'm using docker.  I explained above that it happens with

`docker run -it -v ${PWD}:/app rasa/rasa shell`  <--- happens after I hit enter to send my response

as well as

`docker-compose up`    <--- way worse and scrolls the error over and over, does not stop

[2019-10-02 19:13] lhr0909 opened #4558 "DucklingHTTPExtractor is not properly piping in dimensions into requests"
**Rasa version**: Rasa 1.3.2

**Rasa X version** (if used & relevant): N/A

**Python version**: Python 3.7.3

**Operating system** (windows, osx, ...): MacOS

**Issue**:

Relevant issue from duckling - https://github.com/facebook/duckling/issues/88

The problem is that the duckling HTTP extractor is merely filtering results rather than actually applying the dimensions into the request, causing rec

[2019-10-02 21:36] #4465 closed

[2019-10-03 05:02] #2688 closed

[2019-10-03 06:00] sara-tagger commented on #4558
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-03 07:04] remotejob commented on #4545
adding --cors '*'  definitely Help! :)

[2019-10-03 08:00] cyrilthank commented on #3765
Hi @tmbo can my organization leverage our existing partnership with rasa to work together on this?

[2019-10-03 09:42] #4119 closed

[2019-10-03 11:40] Mormukut11 commented on #1936
Hi, how can we integrate Cortana and Siri with RASA?

[2019-10-03 12:12] joaorobson opened #4560 "No matching distribution found for aiohttp"
**Rasa version**: 1.3.7

**Rasa X version** (if used & relevant):  0.21.2

**Python version**: 3.6.5

**Operating system** (windows, osx, ...): Ubuntu 16.04

**Issue**: When installing rasa-x via the command `pip3 install rasa-x --extra-index-url https://pypi.rasa.com/simple`, I've got the error "ERROR: No matching distribution found for aiohttp~=3.5 (from rasa-x)"

**Error (including full traceba

[2019-10-03 12:22] joaorobson commented on #4560
My bad here : ) The env that I created was using Python 3.5. Using Python 3.6, the installation was successful.

[2019-10-03 13:48] #3060 closed

[2019-10-03 14:49] amaurymercier opened #4561 "Rasa X does not use forms: prefix when doing interactive learning with forms"
Hi, I'm trying out Rasa X for interactive learning and it turns out integration with Forms is not done yet from a stories point of view ?

**Rasa version**: 1.1.8

**Rasa X version** (if used & relevant): 0.19.5

**Python version**: 3.6.7

**Operating system** (windows, osx, ...): Ubuntu 18.04

**Issue**: When doing interactive learning with a form-powered chatbot, resulting stories do not have th

[2019-10-03 15:04] amn41 commented on #4561
the `form:` prefix should definitely be in there. Can you please share a minimal reproducible example ?

[2019-10-03 15:42] KabaninArtem commented on #2501
Any updates about it?

[2019-10-03 15:48] #3408 closed

[2019-10-03 16:50] amaurymercier commented on #4561
I upgraded to rasa==1.3.7 and rasa-x==0.21.3, and I still have the bug. The whole app is much better in this version though, thanks!

I'll check how it goes with FormBot for the minimal reproducible example, and hopefully post it tomorrow.

[2019-10-04 06:00] sara-tagger commented on #4560
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-04 06:57] amn41 commented on #4561
awesome, thanks!

[2019-10-04 07:07] msamogh commented on #4539
@nicolasfarina

Fuzzywuzzy could work. You can also try out https://pypi.org/project/autocorrect/. Nevertheless, please ask these kinds of questions in our [forum](https://forum.rasa.com) going forward.

[2019-10-04 07:07] #4539 closed

[2019-10-04 11:22] #4560 closed

[2019-10-04 14:48] firewater334 opened #4563 "Cannot connect to Action server with K8s deployment"
**Rasa version**:
rasa                     1.4.0a1
rasa-sdk                 1.3.2
**Operating system** (windows, osx, ...):
MacOs
**Issue**:
Hi,

So I am trying to execute my Custom Actions in my Kubernetes Deployment.  However, I get the error of "cannot connect to host action-service:5055".  I have specified my action endpoint in my endpoints.yml file.  Perhaps I am incorrectly specifying my end

[2019-10-04 15:10] taguhiM commented on #3638
@wochinge  I'm getting the same error now, though you have reverted the stripping of the slash ([1.1.5] - 2019-07-10 in changelog, right?). However, it works fine without it.
![image](https://user-images.githubusercontent.com/39036391/66218404-29cbec80-e6da-11e9-9d04-09dbab63df94.png)
I'm using Rasa 1.2.9 version.

[2019-10-04 15:25] aminkan commented on #3323
I have this issue on windows 10 and python 3.6.4. What should I do?

[2019-10-04 15:25] Asma-droid opened #4564 "Error when launch MongoDB as Tracker Store"
Hello,

I use rasa 1.2.7 and i would like to use MongoDB Tracker Store. I have followed the same instuction given in the doc but i have this error.

 pymongo.errors.ServerSelectionTimeoutError: mongo:27017: [Errno -2] Name or service not known

My endpoint file is as follows:

tracker_store:
  store_type: mongod
  url: mongo
  username: rasa
  password: example

My mongo db image is

  mongo:

[2019-10-04 15:38] akshay2000 commented on #4526
@tmbo I have started work on this. Here's a simple way I can think of to address this:

[code]

Is this alright? Or do we need some sort of "channel loader" that validates dependencies before loading the modules? I personally think that's an overkill.

[2019-10-04 16:23] serdarbozoglan opened #4566 "Utterance Replication Checker"
**Description of Problem**:
I just wonder, if Rasa would have an feature which checks if an utterances added before to the training set before. If so, it may warn the developer. This enables utterance duplication/replication in the training set. Otherwise same utterance may be added to different intents accidentally, particularly if the intents are similar to each other and if you have a large tra

[2019-10-04 18:52] jwheat commented on #4545
That worked for me as well with both `shell` and `run` commands with docker.

**Rasa shell**
`docker run -it -v ${PWD}:/app rasa/rasa shell --cors "*"`

and for running the entire server:

**Rasa run**
`docker run -it -v ${PWD}:/app rasa/rasa run --enable-api --log-file out.log --cors "*"`

[2019-10-05 20:35] #4564 closed

[2019-10-06 06:48] vishnupriyavr commented on #1695
Hi @akelad ,
This is fixed and merged by @imLew under PR #4535 .Can you please push this LIVE and mark it closed?Thanks!

[2019-10-06 16:40] hsm207 commented on #2865
@tmbo

I have a couple of questions:

1. Is the package name really `py-redis` or is it `redis-py` ([website](https://github.com/andymccurdy/redis-py))?
2. The [requirements.txt](https://github.com/RasaHQ/rasa/blob/25abb47abb4e126f015f0dbba81ce9a4f0daf355/requirements.txt#L7) file on master has `redis==3.3.5`. Doesn't this fix this issue?

[2019-10-06 18:41] amn41 commented on #4566
this would be a nice addition to the `rasa data validate` command https://rasa.com/docs/rasa/user-guide/validate-files/#validate-files - would you be up for contributing this ?

[2019-10-07 06:00] sara-tagger commented on #4563
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-07 08:57] anushkmittal commented on #4006
bump same issue. I believe this is why it's giving me UTC -7 co-ordinates even though I am using "America/New_York" under time zone

[2019-10-07 09:31] harisibrahimkv opened #4568 "Server sends response once and doesn't respond on subsequent calls."
**Rasa version**:
Rasa 1.3.7

**Rasa X version** (if used & relevant):

**Python version**:
Python 3.6.8

**Operating system** (windows, osx, ...):
Ubuntu 18.04.3 LTS

**Issue**:
1. I run the Rasa server like so `rasa run -m models/20191007-115129.tar.gz --enable-api --log-file out.log`
2. I receive the following output:
[code]
3. I do a curl like so: `curl -H "Content-Type:application/json" -X PO

[2019-10-07 10:51] GuillaumeKoenigTncy opened #4570 "RASA API /model/parse and /conversations/<id>/messages get bad messages."
**Rasa version**: 1.3.6

**Python version**: 3.7

**Operating system** (windows, osx, ...): Ubuntu 18.04

**Issue**:
For the needs of my project I have to create a bridge between the RASA API and the outside world. For this purpose I use a Flask server that uses the RASA API if necessary.

During the tests I used the resource /model/parse as shown below:
[code]
My API print :
[code]
It seems the m

[2019-10-07 12:00] sara-tagger commented on #4570
Thanks for the issue, @akelad will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-07 12:00] sara-tagger commented on #4568
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-07 12:25] amn41 commented on #4176
I don't think this is something we should do in the UI. Consider some of the possible scenarios:
1. you want split an intent up into two intents, and you need to update the relevant stories and NLU data, and domain.
2. you want to merge half of the utterances of intent A into intent B, and discard the other half.
3. you actually want to remove an intent altogether and update all of the stories tha

[2019-10-07 13:53] akshay-1993 commented on #3323
I have this issue on windows 10 and python 3.7.
Can anyone revert as soon as possible?

[2019-10-07 14:48] harishruparel commented on #3090
Ran into exactly same issue. No solution.
Dear Rasa team, Please suggest a solution... ASAP. unable to use the custom action.

[2019-10-07 15:53] imLew commented on #4356
@tmbo for the messages from the `warnings` module the plan was to hide the ones we currently have and make the tests fail on any new ones.
Warnings that are supposed to be printed should then be captured, presumably this would be done by adding `pytest.mark.filterwarnings("irgnore")` to the test in question. However, that is also the way we would hide those warnings that we want to get rid of late

[2019-10-07 16:21] #3629 closed

[2019-10-08 00:52] harisibrahimkv commented on #4568
Update:

Just in case there is curiosity about executing the `rest/webhook` call twice with different messages, I've tried:

[code]

I also tried `parse`-ing the same message multiple times to see if there were any difference in the `confidence` levels or `intent` classification and I couldn't find any:

[code]

[2019-10-08 08:28] tmbo commented on #4356
@imLew I'd add a more specific filter to the ones we want to really ignore because we expect them to happen (I think you can provide a regex or something for the `filterwarnings`).

For all other ones adding `ignore` and a TODO sounds good :+1:

[2019-10-08 08:54] msamogh commented on #4550
I ran this and didn't get any errors.
[code]

Could you also post the values of the others slots?

[2019-10-08 09:36] akelad commented on #3765
Hey @cyrilthank which organization are you with?

[2019-10-08 09:37] akelad commented on #4545
@msamogh i believe you also ran into this? Did you find a workaround for it other than the `--cors` command?

[2019-10-08 09:39] akelad commented on #1695
I'm afraid it's been merged to master and so would be part of the next major release. @imLew any reason it wasn't merged to 1.3.x?

[2019-10-08 09:41] akelad commented on #4570
Hi @GuillaumeKoenigTncy this looks like a custom response you defined:
[code]
Can you share the code of what you're trying to implement?

[2019-10-08 10:25] GuillaumeKoenigTncy commented on #4570
In my API I have only that :
[code]

Or this one for testing :
[code]

The problem is for with every message I sent using /parse or /webhook (with curl or with my python script previously presented), something add a / at the beginning of if. This is between my API call and the RASA API because when I print the content of data (in my script presented upper) I get the correct data without /. But whe

[2019-10-08 11:06] HackyRoot commented on #1114
@akelad I started on this issue but can't figure out where to start. Can you please provide a bit more information?

[2019-10-08 12:07] JEM-Mosig commented on #4545
Adding `--cors '*'` does not work for `rasa interactive`, where the same problem occurs.

[2019-10-08 13:23] wochinge commented on #4545
`rasa interactive` is also broken

[2019-10-08 13:26] wochinge commented on #4545
fixing it now

[2019-10-08 13:57] cyrilthank commented on #3765
Hi @akelad  I am with http://aiware.ai/ and rasa partnership with http://cleareye.ai/

[2019-10-08 14:23] Lambik opened #4573 "NLU difference between 1.2.x and 1.3.x"
**Rasa version**: 1.2.9 and 1.3.6

**Rasa X version** (if used & relevant): -

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): ubuntu 18

**Issue**:

When training an NLU in 1.2.9, I can use it as expected. When training in 1.3.6 with the same .md file, I always get the same intent as output.

My training markdown file is [here on pastebin](https://pastebin.com/TKzfVj3U).

**C

[2019-10-08 18:21] ihtisham0331 opened #4574 "When I run the file train_init.py it shows the following error.Please help me to resolve this.Thanks"
C:\Users\syed shah Shah\Desktop\Weatherbot>python train_init.py Using TensorFlow backend. Traceback (most recent call last):   File "train_init.py", line 17, in <module>     agent = Agent('weather_domain.yml', policies = [MemoizationPolicy(), KerasPo licy()])   File "C:\Users\syed shah Shah\Anaconda3\lib\site-packages\rasa_core\policies\k eras_policy.py", line 26, in __init__     import keras   Fi

[2019-10-08 19:59] jaaambee commented on #1503
the solution is add "--l [lang_code]" to the "rasa data convert nlu --data data/place_finder --out data/nlu.md --format md", for example, if you have spanish training data, you need to write:

"rasa data convert nlu --data data/place_finder --out data/nlu.md --format md --l es"

[2019-10-08 21:22] AppliedSoul opened #4577 "Custom tracker store should be passed with optional event_broker instance"
**Description of Problem**:
Currently event_broker instance is not passed to custom tracker store when creating it:
https://github.com/RasaHQ/rasa/blob/master/rasa/core/tracker_store.py#L75

It would be desirable like others , if optional event_broker instance be passed to it.

**Overview of the Solution**:
pass optional event_broker instance when initializing custom tracker

**Examples** (if rele

[2019-10-08 21:24] AppliedSoul commented on #4577
If needed I would be happy to submit pull request for this change

[2019-10-09 06:00] sara-tagger commented on #4577
Thanks for submitting this feature request 🚀@akelad will get back to you about it soon!✨

[2019-10-09 06:00] sara-tagger commented on #4574
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-09 06:00] sara-tagger commented on #4573
Thanks for the issue, @dakshvar22 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-09 06:52] dakshvar22 commented on #4573
@Lambik Thanks for pointing this out.
Seems like a bug. Will release a patch fix soon.

[2019-10-09 07:11] #4038 closed

[2019-10-09 07:24] akelad commented on #4570
i mean the reason i ask about custom code is because "confidentiality" is not the syntax we have in our requests. The only thing I can think of here is that the model you have loaded up is a core only model. What's the name of the model you're passing ?

[2019-10-09 07:25] akelad commented on #1114
this is about providing a progress bar for training the sklearn intent classifier. Not sure what other information you need? This is quite a difficult issue I think, so you may be better off trying out a different issue if you're not sure how to do this one?

[2019-10-09 07:26] akelad commented on #4545
@wochinge has this whole issue been fixed now or just the `interactive`?

[2019-10-09 07:27] wochinge commented on #4545
the whole thing

[2019-10-09 07:27] #4545 closed

[2019-10-09 08:55] GuillaumeKoenigTncy commented on #4570
I have trained the NLU using this command in my Docker container :
``` rasa train nlu --config ${CONFIG_FILE} --out models/${PROJECT} --nlu ${TRAIN_DATA} --fixed-model-name nlu --verbose  ```

The variable CONFIG_FILE point to a file with that configuration :
[code]

The variable project is used to store the trained model in a particular folder (we use many pipelines, so we have different models t

[2019-10-09 09:05] #2429 closed

[2019-10-09 09:30] akelad commented on #4577
i believe that does make sense, we'd be happy to accept a PR from you!

[2019-10-09 09:33] JEM-Mosig commented on #3839
@tmbo I just tried it with a fresh rasa-x install on my windows laptop. Eveything is exactly as described before ([here](https://github.com/RasaHQ/rasa/issues/3839#issuecomment-510981126) and [here](https://github.com/RasaHQ/rasa/issues/3839#issuecomment-510982258)), except for the following change:

It now shows correctly "No conversations yet!"

[2019-10-09 09:52] akelad commented on #3765
@cyrilthank as far as I'm aware we don't have any partnerships with either of those companies. In any case though, the next step at the moment is still to evaluate alans approach to this - @amn41 do we have any updates on that?

[2019-10-09 09:58] imLew commented on #1695
@vishnupriyavr it has just been merged into 1.3.x and will be out with the next patch

[2019-10-09 10:00] #1695 closed

[2019-10-09 10:04] nbeuchat opened #4583 "Flattened stories are not exported when training with dump-stories flag"
**Rasa version**: 1.3.3

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu

**Issue**:
When training using the `--dump-stories` flag, I cannot find the flattened stories anywhere. I tried looking in the final models zip folder (also in the all of the subfolders) and in the /tmp folder during and after the training.

**Error (including full traceback)**:
[code]

**Command or

[2019-10-09 10:21] cyrilthank commented on #3765
Thank you @akelad for your reply

Can you please advise the mail id i can send the partnership credentials/documentation to confirm that we do have a rasa partnership

my mail id is cyril.thankappan@aiware.ai

[2019-10-09 10:34] soundaraj commented on #4487
@erohmensing you can disconnect the socket client during the `rasa interactive` in progress, because socket client was retrying every seconds so this error was raised.

[2019-10-09 11:02] GuillaumeKoenigTncy commented on #4570
Ok, I did some other tests this morning and I might have found the problem. When I train nlu and core separately the training produce 2 tar.gz (located in the same folder) with 2 DIFFERENT fingerprints so 2 DIFFERENT trained_at date.

When I run rasa and say use a folder for model (withe -m) it seems that the system browse the folder and look each tar.gz independently of his name or content. It ta

[2019-10-09 11:08] wochinge commented on #3865
@@evgeniiaraz I unassign you for now. Just re-assign yourself in case you start doing it :-)

[2019-10-09 11:22] Lambik commented on #4573
@dakshvar22 I looked at your fix, was it because my intents are numbers only?

I have them as numbers, because they correspond to the IDs of answers in my database, that's why...

[2019-10-09 11:22] wochinge commented on #4358
Ah, sorry! Will create a new issue then for it :-)

[2019-10-09 11:23] wochinge opened #4584 "TrainingDataExporter"
I propose a component `TrainingDataExporter` which mirrors the `TrainingDataImporter`.

[code]

Goals:
- have the option to change the export behavior globally
- users should be able to implement their own module for exporting data
- we should move out the persistence stuff out of our domain objects (improves encapsulation)

Implementations:
- one which exports markdown / yaml
- one which overwrit

[2019-10-09 11:24] #4295 closed

[2019-10-09 11:25] dakshvar22 commented on #4573
@Lambik Yes, there was a bug which wrongly processes intent labels. It got surfaced by your example where intents contained only numbers. It should work fine now.

[2019-10-09 11:25] #4573 closed

[2019-10-09 11:26] wochinge commented on #4543
@IzidoroBaltazar Sorry for my delayed answer! Which version of Rasa are you running? We implemented your suggested behavior in Rasa 1.3.0 :-)

[2019-10-09 11:27] #4543 closed

[2019-10-09 11:27] wochinge commented on #4540
Is there anything we can do to make the `balanced` strategy more efficient @Ghostvv ?

[2019-10-09 11:31] wochinge commented on #3638
@taguhiM Is the `POST` coming from rasa? How does your endpoints.yml look like?

[2019-10-09 11:32] cristianmtr commented on #4583
I debugged this and the flag `dump-stories` is not passed correctly down to the `rasa.core.policies.ensemble.PolicyEnsemble._persist_metadata`. It seems at some point the `kwargs` of `dump_stories` is ignored and a new parameter `dump_flattened_stories` is set. This parameter has the default value of `False`

[2019-10-09 11:43] akelad commented on #4570
@GuillaumeKoenigTncy yes you are correct in assuming that it takes the latest trained model if you pass a folder. You can also directly pass the name of the model to the flag if you want to load a specific one.
I'll close this issue for now - if you have any more usage questions please post them in the [forum](https://forum.rasa.com)

[2019-10-09 11:43] #4570 closed

[2019-10-09 11:45] akelad commented on #4568
@harisibrahimkv actually we just released a version yesterday that fixes it - please try out 1.3.8

[2019-10-09 11:47] wochinge commented on #4514
@IgNoRaNt23 Sorry for my delayed answer, I was away for a while. Seems to me that we have to make this part https://github.com/RasaHQ/rasa/blob/a61810706002076ed8f7ed8380fbae6e9bb1b262/rasa/core/run.py#L125 more robust. Would you be interested in fixing this?

[2019-10-09 11:49] wochinge commented on #4381
@tocosastalo But did you check the runtime of your actions? If 5 actions take 10 seconds, then it's also quite bad for the users with the other channels and I'd suggest checking if you can make that somehow more efficient.

[2019-10-09 11:50] Lambik commented on #4573
@dakshvar22 thanks for fixing it <3
When will I be able to use it? (just did `pip3 install --upgrade rasa`, got 1.3.8, still the same issue after retraining the model)

[2019-10-09 11:51] wochinge commented on #4209
@IgNoRaNt23 Do you get any logs in the action server? Can you please share them with us?

[2019-10-09 11:51] dakshvar22 commented on #4573
@Lambik Should be out with 1.3.9, in a day at the most.

[2019-10-09 12:10] glaulom opened #4585 "Synchronizing Rasa message ID with Teams/BotFramework ID"
**Description of Problem**: Actually, messages IDs stored in the database by the tracker store are different from the one generated by Microsoft Teams (through BotFramework). It would be very nice to synchronize both IDs.

**Overview of the Solution**: Just re-use Teams IDs rather than creating new ones.

**Blockers** (if relevant): Is BotFramework getting messages ID ?

**Definition of Done**:

*

[2019-10-09 12:17] tocosastalo commented on #4381
I would say that generally `run` mode takes the same action less time than in `shell` mode in my environment. So users of other channels are not very affected.

Returning to the beginning of the issue, the action was as simple as it could have been - it utters one text-only template:
[code]

Story was also very simple:
[code]

And it hit the timeout limit in `shell` mode. In `run` mode it is done

[2019-10-09 12:34] msamogh opened #4586 "Status endpoint doesn't return the name of the actual model"
The `/status` currently returns the name of the deserialised model stored in the tmp folder rather than the name of the actual original model

- [x] implementation done
- [ ] adding tests

[2019-10-09 12:40] GuillaumeKoenigTncy commented on #4570
Thanks for your help !

[2019-10-09 12:44] ihtisham0331 opened #4587 "When i Run train_init.py it show error : Module not found : No module named '_pywrap_tensorflow_internal'"

[2019-10-09 13:20] #4381 closed

[2019-10-09 13:29] rgstephens opened #4588 "Support plain yaml in Rasa X config settings API"
**Description of Problem**:
As discussed in this series of [forum posts](https://forum.rasa.com/t/nlu-config-put-api-call-400-error/19362), the existing settings call requires the yaml to be embedded in json.

Both the domain and config put calls pass yaml data. Unfortunately, the format of the data in those calls is not consistent. I think the domain call passing the yaml directly is better becau

[2019-10-09 14:29] Ghostvv commented on #4540
as usual, it's a trade off between computational efficiency (training time) and memory efficiency. Right now, it is optimized for lower training times

[2019-10-09 14:41] amaurymercier commented on #4561
I used the formbot example chat from the master branch in the rasa repository, and the stories issued from interactive training look the same :

[code]

So likewise, there is no `form:` prefix :)

[2019-10-09 15:31] pbouda commented on #4550
Oh interesting... I have to check on another computer, I have no access atm, will get back to you next week.

[2019-10-09 15:31] alessandrarequena opened #4589 "Problem using forms"
**Rasa version**:
1.2.7

**Rasa X version** (if used & relevant):

**Python version**:
3.6

**Operating system** (windows, osx, ...):
Windows 10

**Issue**:
The form executes extract_other_slots, it does not extract slots that maps to entities with different name from the slot.
For example, the scenario is a service that give answers about a person. The user enter the name of the person and the ch

[2019-10-09 18:08] sushrutt12 commented on #4568
I have rasa version 1.3.8:
![image](https://user-images.githubusercontent.com/28575217/66507906-1b951c00-ea9e-11e9-8bbd-ca6dec7a04b3.png)

It still isn't resolved for me
![image](https://user-images.githubusercontent.com/28575217/66507873-03bd9800-ea9e-11e9-88d6-f2f9dadc7bb4.png)

[2019-10-09 20:13] #3925 closed

[2019-10-09 22:58] shayan09 commented on #746
@tmbo What if we want just need one intent and check if the user input is that or something else? Do we need to have another dummy intent  in this case. I just need the confidence level for this one intent.

I'm using the latest rasa_nlu

[2019-10-10 00:28] harisibrahimkv commented on #4568
@akelad Just tried it with `1.3.8` and the issue still persists. If you need any more specific information to help you debug other than what I have already given in the issue, please do ask.

[2019-10-10 06:00] sara-tagger commented on #4589
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-10 06:00] sara-tagger commented on #4588
Thanks for submitting this feature request 🚀@ricwo will get back to you about it soon!✨

[2019-10-10 06:00] sara-tagger commented on #4587
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-10 06:00] #4587 closed

[2019-10-10 06:00] sara-tagger commented on #4585
Thanks for submitting this feature request 🚀@dakshvar22 will get back to you about it soon!✨

[2019-10-10 07:07] TheCedarPrince opened #4590 "Trouble Installing Rasa on ARM Device (Raspberry Pi 4)"
**Rasa version**: 1.3.8

**Rasa X version**: N/A

**Python version**: 3.6

**Operating system** (windows, osx, ...): Raspbian Buster

**Issue**:

Since the Raspberry Pi 4 just came out, I have started working with the 4GB RAM version of the RPi4 to get Rasa (only rasa and **not** rasa x) to work on the device. I am running the latest version of Raspbian (Raspbian Buster) on the device.

I created

[2019-10-10 07:20] parvbhullar opened #4592 "Issue - You have defined a form action, but haven't added the FormPolicy to your policy ensemble."
Adding form in domain file showing an issue.
"You have defined a form action, but haven't added the FormPolicy to your policy ensemble."
Rasa 1.2.9
Am I doing anything wrong??

config.yml
`language: en

pipeline:
  - name: "SpacyNLP"
  - name: "SpacyTokenizer"
  - name: "SpacyFeaturizer"
  - name: "SklearnIntentClassifier"
  - name: "CRFEntityExtractor"
    features: [ ["low", "title", "upper"],

[2019-10-10 07:28] TheCedarPrince commented on #4590
Update! To get everything to install properly, I had to rollback Python to 3.5 as opencv does not have an ARM wheel set-up for 3.6 or 3.7 yet! Once I did that, everything installs properly!

[2019-10-10 07:28] #4590 closed

[2019-10-10 09:54] marcoruizrueda commented on #1463
I solved this issue by installing a more recent version in python3:

`pip3 install scikit-learn==0.20.4`

[2019-10-10 11:16] Ghostvv commented on #4589
because when you try to extract additional information not related to currently `requested_slot` from some entity that doesn't have the same name as any slot, how do you which slot this entity should fill?

[2019-10-10 12:00] sara-tagger commented on #4592
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-10 12:00] #4592 closed

[2019-10-10 13:36] ihtisham0331 opened #4594 "Tensorflow issue in rasa"
When i run training file Train_init.py  it failed and show error "Failed to run native tensorflow runtime".Please help me how resolve this issue.Thanks in advance

[2019-10-10 15:46] SpyrosKptanopulos opened #4595 "Rasa Docker - Adding Custom Dependencies Problems"
Hello everyone,

I have a question about Rasa in Docker, I have to install the pymssql to connect Rasa to SQL Server, which without Docker works perfectly, but when trying to put everything in Docker I get the following error:

[code]

and the Dockerfile is like that

[code]

As shown in the Rasa with Docker Documentation:

[](https://rasa.com/docs/rasa/user-guide/running-rasa-with-docker/#adding-

[2019-10-10 18:47] TheCedarPrince commented on #4590
Hey @Truemedia , I would suggest opening this as a new issue. I will comment on your new issue as I am having some more problems as well. Take care!

[2019-10-10 21:07] lsgome opened #4596 "Enable kwargs for service post("/model/train")"
**Description of Problem**:
Currently the http / model / train service does not allow you to define extra parameters that exist on the command line, for example the augmentation_factor.

**Overview of the Solution**:
Change the / model / train service to include in the request body a dictionary where the kwargs parameter can be set. Pass the parameter to train_async.

**Examples** (if relevant):
R

[2019-10-10 21:09] rgstephens commented on #4231
I've encountered this same issue in the Stories UI where an API error response is not reported. I add a new story, click Save and nothing happens.  The Save & Cancel options are still available.

I open the network tab in the browser and see that the `/api/stories` endpoint returned an error 500.

I then go to the server log and find this message:

[code]

There are really two issues going on here

[2019-10-11 00:50] LucasPenido commented on #1790
@imLew, recently Microsoft released version 5 of Luis. It seems that versions are periodicaly released, althought the new version, there is no diference in the JSONs files, so I think that is important to find another approach to this. Since the latest version is always exported.

[2019-10-11 01:34] rgstephens opened #4597 "Rasa X API Incomplete Error Response"
**Rasa version**: 1.3.9

**Rasa X version**: 0.21.3

**Issue**:
I call the `POST /api/stories` endpoint to add a new story and it returns a status 500 with no other information. The server side log shows the trace shown below.

The API response should include the message `rasa.core.domain.InvalidDomain Duplicate actions in domain. These actions occur more than once in the domain: 'dynamic_form'`

[2019-10-11 04:40] #3947 closed

[2019-10-11 06:00] sara-tagger commented on #4597
Thanks for the issue, @wochinge will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-11 06:00] sara-tagger commented on #4596
Thanks for submitting this feature request 🚀@msamogh will get back to you about it soon!✨

[2019-10-11 06:00] sara-tagger commented on #4595
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-11 06:00] #4595 closed

[2019-10-11 06:00] sara-tagger commented on #4594
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-11 06:00] #4594 closed

[2019-10-11 06:12] ricwo commented on #4588
Thanks a lot for your suggestion - makes sense 👍

[2019-10-11 06:38] akelad commented on #4568
@wochinge are you sure this was actually fixed?

[2019-10-11 06:40] akelad opened #4599 "Add flag to CLI to persist NLU data"
With this PR https://github.com/RasaHQ/rasa/pull/4388 the feature of optionally persisting NLU training data was introduced. However, there is currently no flag you can use in the CLI to enable this, so it would be good to add that.

[2019-10-11 06:40] akelad commented on #4599
@ronancummins

[2019-10-11 06:42] akelad commented on #3765
Hi @cyrilthank yes my bad, there was some miscommunication about that. Please contact us via email if you want to discuss anything regarding our partnership, as we would prefer not to do this in the community

[2019-10-11 07:01] cyrilthank commented on #3765
Thank you @akelad  for patiently checking this. I understand completely 'multiple entities' causing......

Appreciate it if you could drop me a mail at cyril.thankappan@aiware.ai on how i may contact rasa-partnership team by email

Thank you for all your help

cyril

[2019-10-11 08:02] chris-aeviator commented on #3548
Im experiencing this with the `0.21.3` helm chart for rasa-x

[2019-10-11 08:29] Ghostvv commented on #4589
the code snippet above, is from `extract_other_slots` method that is responsible to extracting information not related to requested slot. In order to extract requested slot there is `extract_requested_slot` method

[2019-10-11 08:36] imLew commented on #1790
@LucasPenido going up two versions since march is quite fast, do you know they plan to continue incrementing versions so quickly?
Do you have suggestions how we should handle this?
I would suggest adding a list of versions for which `LuisReader` is known to work and maybe replacing the exception with a warning and trying to load any unknown version with the version reader that is closest to it.

[2019-10-11 11:35] akelad commented on #3886
@msamogh is this complete?

[2019-10-11 12:22] HackyRoot commented on #1114
Give me a week or two. I like solving challenging issues!

[2019-10-11 12:46] msamogh commented on #3886
No, `Perform checking for NLU pipeline features` is still remaining in the checklist.

[2019-10-12 00:13] jeromemassot commented on #3323
Same problem here : Win10, brand new venv for rasa. After pip install rasa, I had several issues but basically fixed by running several time the install and upgrading pip... And now this issue with the httptools.parser.errors.
Please need help here :) Thanks

[2019-10-12 09:03] Pratiksha1312 opened #4601 "Restart button not working in two-stage fallback policy"
For a question for which it is falling under 2-stage fallback and showing buttons, but if without selecting from those options I am again posting a question then it is giving Restart option. The conversation is getting hanged after this **Restart** button even though if I am clicking on the **Restart** button.

Rasa Version : 1.3.7

Below is my Action file code :

class ActionDefaultFallback(Actio

[2019-10-12 13:12] kahekahe opened #4602 "docker image failing (exited with code 132)"
**Rasa version**: 1.3.9

**Python version**: 3.6

**Operating system** (windows, osx, …): Ubuntu 18.04 (Docker version: 19.03.3 / linux/amd64) Docker-compose version 3.0

**Issue**:

trying to run the latest docker image `rasa/rasa:latest` on a linux machine (using docker-compose), but I'm getting `rasa-test_rasa-svc_1 exited with code 132`

**Error (including full traceback)**:

[code]

**Command

[2019-10-12 18:00] joeytrevino commented on #3609
Any updates on publishing an API Guide?  It would make the developer community an order of magnitude faster and successful with on-boarding to Rasa.  I spend my days reading Rasa code to infer how to use the APIs, which is an incredible waste of time, and extremely error prone and unproductive.  A single API Guide would lift the entire Rasa development community, which is seriously needed as that

[2019-10-13 01:13] TheCedarPrince opened #4603 "Getting RASA to Work on the Raspberry Pi 4 (Buster)"
**Rasa version:** 1.3.8

**Rasa X version:** N/A

**Python version:** 3.5

**Operating system (windows, osx, ...):** Raspbian Buster

**Issue:**

I am in the process of trying to install Rasa on my Raspberry Pi 4 (4GB RAM edition) and I continue running into an error with installing or-tools stating:

[code]

<br>

**Any suggestions on any potential work-arounds?**

Here is what I tried so far:

-

[2019-10-13 06:51] Hansagupta27 opened #4604 "Encountered an exception while running action 'action_get_links'. Bot will continue, but the actions events are lost."
**I'm trying to implement custom actions and have added action_get_links to domain.yml. In this action, I want to read a csv file and fetch the details based upon the specific category.**
actions:
- utter_greet
- utter_reply
- utter_help
- utter_did_that_help
- utter_anything_else
- utter_ofc
- utter_happy
- utter_happy_happy
- utter_goodbye
- utter_default
- utter_iamabot
- action_restart
- actio

[2019-10-13 10:35] #3029 closed

[2019-10-14 06:00] sara-tagger commented on #4603
Thanks for the issue, @wochinge will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-14 06:00] sara-tagger commented on #4604
Thanks for raising this issue, @dakshvar22 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-14 06:00] sara-tagger commented on #4602
Thanks for the issue, @imLew will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-14 06:00] sara-tagger commented on #4601
Thanks for raising this issue, @btotharye will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-14 07:40] tabergma opened #4605 "Incorrect warning about WhitespaceTokenizer"
The warning in https://rasa.com/docs/rasa/user-guide/evaluating-models/#intent-classification is not true anymore. Our `WhitespaceTokenizer` splits `Brian's` into multiple tokens.

We should update or remove the warning.

[2019-10-14 08:21] akelad commented on #3548
It seems like your rasa-production server is not properly up? Since it can't connect to it

[2019-10-14 08:22] tabergma opened #4606 "Timeout error on rasa shell"
**Rasa version**: 1.3.9

**Python version**: 3.6

**Issue**:
https://forum.rasa.com/t/timeout-error-on-rasa-shell/19638

Error can be reproduced on `examples/restaurantbot`. Add a `time.sleep(15)` to any action and run the bot.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2019-10-14 08:23] akelad commented on #1114
alright, let us know how it goes!

[2019-10-14 08:23] akelad commented on #3886
ok next time i think it's better to have two separate issues if two separate PRs are going to fix it :)

[2019-10-14 08:24] akelad commented on #3323
Could you create a new issue please, with details of your error messages, versions used etc?

[2019-10-14 08:27] akelad commented on #3609
exploding? 😄 I agree this is very important, and it is among the docs issues we're working on tackling. Thanks for letting us know

[2019-10-14 10:25] soundaraj opened #4607 "memory usage"
**simple rasa chatbot was take too much memory, how to reduce it?**

[2019-10-14 10:56] dakshvar22 commented on #4604
@Hansagupta27 Please mention what Rasa version are you trying?
Also, as the document mentions, please run your custom action server with `python -m rasa_sdk --actions action`
https://rasa.com/docs/rasa/core/actions/#custom-actions-written-in-python

[2019-10-14 11:37] Hansagupta27 commented on #4604
Thanks @dakshvar22 for looking into it. I am using Rasa 1.3.8.
I used the command as suggested by you- python -m rasa_sdk --actions action and still I am getting the same issue.
Below are the error description:
[2019-10-14 16:55:14,860] ERROR in app: Exception on /webhook [POST]
Traceback (most recent call last):
  File "C:\Users\hgupta22\AppData\Local\Continuum\anaconda3\envs\chatbotenv\lib\site-

[2019-10-14 12:00] sara-tagger commented on #4607
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-14 12:00] #4607 closed

[2019-10-14 13:32] sushrutt12 commented on #4568
Its fixed in rasa 1.3.9 thank you!

[2019-10-14 13:47] alessandrarequena commented on #4589
But that's the problem. The method is about extracting other slots, rather than the requested slot.
In validate method, when rasa validates the value of the requested slot, there are these lines (348-350):

# extract other slots that were not requested
# but set by corresponding entity or trigger intent mapping
slot_values = self.extract_other_slots(dispatcher, tracker, domain)

So, as I understan

[2019-10-14 16:31] ihtisham0331 opened #4608 "When i train chatbot it show following error.plz help me"
(base) C:\Users\syed shah Shah>cd desktop

(base) C:\Users\syed shah Shah\Desktop>cd weatherbot

(base) C:\Users\syed shah Shah\Desktop\Weatherbot>pyhon train_init.py
'pyhon' is not recognized as an internal or external command,
operable program or batch file.

(base) C:\Users\syed shah Shah\Desktop\Weatherbot>python
Python 3.7.3 (default, Mar 28 2019, 10:38:38) [MSC v.1915 32 bit (Intel)] :: Ana

[2019-10-14 18:45] wochinge commented on #4603
Hi @TheCedarPrince ,

thanks for your detailed description. However, I'm afraid we can't really do anything to help you with this problem. I know that @JulianGerhard21 managed to run it on a Raspberry PI, maybe he can help us out?

[2019-10-14 20:05] JulianGerhard21 commented on #4603
Hi,

indeed Rasa works properly on my Raspi 3 and 4 (Debian 9 and 10). However, I have not updated to 1.3.9 - I will do that tomorrow and give you some Feedback on it.
I can for now say that I have built most of the main-dependencies like tf from source because these times compatibility is a Mess.

Sorry that I cant tell you more maybe I can tomorrow.

Regards
Julian

[2019-10-14 23:07] sanchit892 opened #4609 "Error in config_spacy.json file"
while training a model there is an issue with config_spacy.json file

error
ValueError: unknown training file format : unk for file config_spacy.json

inside the json file
{
 "pipeline":"spacy_sklearn",
 "path":".models/nlu",
 "data":".data/data.json"
}

please help

[2019-10-14 23:45] JECasillas opened #4610 "Bot stops repying per intent on RASA Shell"
**Rasa version**: Rasa 1.2.9

**Python version**: 3.6.9

**Operating system** : Ubuntu 16.04

I've just recently began exploring Rasa after having used Dialogflow for a long while. Once I get a better understanding of it's more intimate components, I may customize the models on the pipeline with my own embeddings or of the sort for better classification in Spanish.

However, having tested it on di

[2019-10-15 06:00] sara-tagger commented on #4609
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-15 06:00] sara-tagger commented on #4610
Thanks for the issue, @btotharye will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-15 06:00] #4609 closed

[2019-10-15 06:00] sara-tagger commented on #4608
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-15 06:00] #4608 closed

[2019-10-15 06:46] RajithaFernando commented on #3224
i am a newbie to rasa but i may have few suggestions for you. you can use [Chatito ](https://rodrigopivi.github.io/Chatito/) https://rodrigopivi.github.io/Chatito/ to generate more data. and also, i think you can reduce number of intents using slots. for example, there may be questions like _Where can I open an account ? How can I open an account?_. both of these intents can be taken into one inte

[2019-10-15 07:27] vivekanon commented on #1272
Hi @twhughes , any update on this please?

[2019-10-15 07:57] Ghostvv commented on #4589
there is exactly the reason why other slots are extracted

yes

that is exactly the reason why entity name should correspond to slot name, because there is no way to know which slot to populate with recognized entity (e.g. entity `number` could correspond to several slots)

This is a discussion now, so please post this question on our [forum](https://forum.rasa.com) if you want to continue discuss

[2019-10-15 07:57] #4589 closed

[2019-10-15 09:30] #4588 closed

[2019-10-15 09:41] imLew commented on #4602
Could you please post the contents of your `docker-compose.yml`?

[2019-10-15 09:58] imLew commented on #4584
How would this be used? Since the data is already very accessible I imagine this would mainly be a tool that converts between different formats. I definitely like the idea of allowing users to have their own format!

Why put it in the `config.yml` though? My understanding is that that is config for the actual bot. If we have more tools like this that are project specific but not bot specific we sh

[2019-10-15 09:59] mlcode-jeevan opened #4611 "rest api error"
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals

import logging

from rasa_core.channels.channel import InputChannel
from rasa_core import utils
from rasa_core.agent import Agent
from rasa_core.interpreter import RasaNLUInterpreter
from rasa_core.channels.channel import UserMessage
from rasa_core.c

[2019-10-15 11:29] twhughes commented on #1272
@vivekanon No update, sorry.

[2019-10-15 12:00] sara-tagger commented on #4611
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-15 12:00] #4611 closed

[2019-10-15 12:56] btotharye commented on #4610
hello @JECasillas this is actually not a bug but more how the product and stories work.  Rasa uses stories to train the bot the type of conversation flow.  So if it already answered a flow or such it wouldn't respond back again.  You can read more about this at https://rasa.com/docs/rasa/core/stories/

If you have further questions about this I would open up a post on the https://forum.rasa.com/ a

[2019-10-15 12:56] #4610 closed

[2019-10-15 13:59] #3981 closed

[2019-10-15 14:44] imLew commented on #4356
Just to document and keep this up to date:
We have decided not to fail on `logger.warning` messages as these are defined as messages that should be printed in case the user cannot do anything about it, which would mean we cannot do anything about it either.
The status is now that I will somehow have to go through all the warnings currently being printed and add `@filterwarnings` to them. And I wil

[2019-10-15 14:51] TheCedarPrince commented on #4603
Hi @sara-tagger, @wochinge, and @JulianGerhard21.

First off, thanks all for the assistance and thoughts! @wochinge, I am glad you found the bug sufficiently documented - I'll keep it in that format for the future if I find more bugs!

@JulianGerhard21, interesting! I had no problem installing TF actually through a normal pip installation. It was just the or-tools that was giving me issues. If you

[2019-10-15 15:06] JEM-Mosig opened #4612 "model is retrained everytime due to dynamic checkpoint names"
**Rasa version**:
Rasa 1.3.8
Commit 39300da9a5de7a3c7fd285519f9577466bfda8d5

**Python version**:
3.6.9

**Operating system** (windows, osx, ...):
osx

**Issue**:
I trained my model, and running `rasa shell` everything works fine. But once I start `rasa interactive`, it starts training a model, even though I didn’t change anything. After `Your Rasa model is trained and saved at ...` and `Type a me

[2019-10-15 15:17] btotharye commented on #4586
I'll look at this soon, should be around https://github.com/RasaHQ/rasa/blob/master/rasa/server.py#L395 just making notes for myself

[2019-10-15 15:38] rgstephens commented on #4588
@ricwo, Has this featured been added as part of a PR or is it being dropped?

[2019-10-15 15:43] Ghostvv commented on #4612
you forgot to kill previous action server, so it cannot start the new one

[2019-10-15 16:38] rgstephens opened #4613 "Rasa X NLU Training Search by Intent"
**Description of Problem**:
It can be hard to find an intent as the size of the bot content grows.

**Overview of the Solution**:
It would be nice to if the NLU Training Data page, `/data/training-data`, would search the intent name in addition to the example utterance. I thought this request had been discussed in another issue but I could not find it.

[2019-10-15 16:58] JulianGerhard21 commented on #4603
Hi @TheCedarPrince ,

I updated Rasa on my Raspi 4 with Debian 10 to version 1.3.9 including ortools. To achieve that, follow these steps:

1. Clone [this repo](https://github.com/tensorflow/mesh),
2. Remove the dependency ortools (since it is not necessary for the usage of mesh in Rasa as far as I have seen) in setup.py
3. Do a pip3 install --user . in the directory
4. Update Rasa.

I think the m

[2019-10-15 17:36] JulianGerhard21 commented on #4603
Small update: Installing SpaCy on a Raspi could be achieved by doing:

1. Following [these](https://github.com/explosion/cython-blis/issues/9#issuecomment-534876436) steps
2. Clone the spaCy Repo
3. Following [these](https://spacy.io/usage#source) steps

and done!

Regards

[2019-10-15 18:30] rgstephens opened #4616 "1.3.x EmbeddingIntentClassifier Failure"
**Rasa version**: 1.3.9

**Python version**: 3.6.9

**Operating system**: Docker image `rasa/rasa:1.3.9-full`

**Issue**:
Model training is crashing on under 1.3.9 during `EmbeddingIntentClassifier` phase. The last few lines before the abort are below.

I have no problems using the 1.3.9 version with a smaller bot (19 unique intents) but with this larger (279 intents) bot it is failing. The traini

[2019-10-15 19:01] rgstephens commented on #4540
I suspect the issue I just opened, #4616, is also related to changes in the `EmbeddingIntentClassifier` between 1.2 & 1.3. I cannot train larger data sets under 1.3.

I have tried turning off the `balanced` strategy and it still fails. Are there other changes in the hyper parameters passed to `EmbeddingIntentClassifier` between 1.2 & 1.3?

[2019-10-15 19:38] LucasPenido commented on #1790
@imLew Thanks for the suggestion! Together with this warning we could check if the JSON that LUIS exports is compatible that LuisReader supports, if so, only a warning is thrown, if not, we throw a exception.

[2019-10-15 19:59] #3962 closed

[2019-10-15 20:23] JulianGerhard21 commented on #3765
Hi @cyrilthank, @akelad, @amn41,

actually I would be interested in solving this too. If additional ressources are needed, you might want to consider me/us in - in case you dont want to do it internally.

Regards
Julian

[2019-10-15 20:43] TheCedarPrince commented on #4603
Hey @JulianGerhard21,

Thanks for the help! I shall attempt this sometime soon so - then, per your input, we can close the issue provided I can replicate everything. Which I think I will be able to!

With regards to spacy, I actually determined an easier way of doing that by using these steps:

3. Install system packages:

    `sudo apt-get install libatlas-base-dev python3-dev python3-pip libhdf5

[2019-10-16 03:35] cyrilthank commented on #3765
Hi @akelad please share the partnership related engagement information to cyril.thankappan@aiware.ai
since we want to explore other use-cases too where we can collaborate

[2019-10-16 06:00] sara-tagger commented on #4616
Thanks for the issue, @dakshvar22 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-16 06:00] sara-tagger commented on #4613
Thanks for submitting this feature request 🚀@wochinge will get back to you about it soon!✨

[2019-10-16 06:28] ilqxa opened #4617 "Full docummentation Jupyter"
Please help me find the full API documentation for Jupiter Notebook. Does it even exist?

[2019-10-16 07:14] ricwo commented on #4588
@rgstephens it's been implemented and will be part of our next minor release (rasa X 0.22.0)

[2019-10-16 07:44] learnerzhang commented on #4408
got same logs

[2019-10-16 09:04] ice2tricky commented on #4408
still not fixed. If I see in the code file

I'm guessing this piece of code in /rasa/core/channels/socketio.py is destroying the connection.

        # Workaround so that socketio works with requests from other origins.
        # https://github.com/miguelgrinberg/python-socketio/issues/205#issuecomment-493769183
        sio = AsyncServer(async_mode="sanic", cors_allowed_origins=[])
        socketi

[2019-10-16 09:06] wochinge commented on #4603
@JulianGerhard21 Thanks for your fast and competent help! I have seen the question regarding running `rasa` on a raspberry PI a couple of times in the forum as well. Would you be up for writing a blog post with instructions? We could feature that in the community newsletter / forum / social media and so on, to give it visibility in the whole community.

[2019-10-16 09:06] Ghostvv commented on #4616
could you please post the error here

[2019-10-16 09:08] Ghostvv commented on #4540
we also added char level count vectorizer, that could create rather large feature space, causing memory issues

[2019-10-16 09:34] msamogh opened #4618 ""entities" section missing in the docs page for domains"

[2019-10-16 09:42] kahekahe commented on #4602
[code]

[2019-10-16 09:46] amn41 opened #4619 "rasa data validate should fail early if domain cannot be read"
**Description of Problem**:
Currently, if there is a syntax error in your domain, `rasa data validate` will load an empty domain and return a whole bunch of errors. Not super user friendly because you have to scroll through a bunch of errors to get to the top and see that yaml parsing failed.

**Overview of the Solution**:
It would be nice if this command exited early if the domain can't be loaded

[2019-10-16 12:00] sara-tagger commented on #4617
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-16 12:00] #4617 closed

[2019-10-16 12:25] wochinge commented on #4612
The problem are the `OR` statements. They get different names:

[code]

[2019-10-16 12:31] wochinge commented on #3648
this might be related to https://github.com/RasaHQ/rasa/issues/4612

[2019-10-16 12:35] wochinge commented on #2725
@Ghostvv is this done for the new embedding policy?

[2019-10-16 12:35] imLew commented on #1790
I don't understand what you mean. If the version of the schema file is compatible (and we know it is) there should be no warning.
However as you described the situation can arise where the version is unknown to LuisReader but compatible. A priori thi is indistinguishable from the situation of an unknown version that isn't compatible. So I would cover the whole "unkown version" case with a warning.

[2019-10-16 13:31] Ghostvv commented on #2725
yes that's actually implemented in `1.3` `EmbeddingPolicy`

[2019-10-16 13:31] #2725 closed

[2019-10-16 15:21] ju-sh opened #4620 "Docs: a table and a list are ill formatted"
**Rasa version**: 1.3.9

**Python version**: 3.7

**Operating system** (windows, osx, ...): linux

**Issue**:
A table and a list in the docs for policies at https://rasa.com/docs/rasa/core/policies/ is not being rendered properly.
![ill formatted table](https://i.imgur.com/nmspSzD.png)

and

![ill formatted list](https://imgur.com/rqwvP5R.png)

---

We can make it

![good table](https://imgur.com/

[2019-10-16 16:16] JulianGerhard21 commented on #4603
Hi @wochinge ,

of course, I would be happy to do that. I am not quite sure if you are in the community@rasa.com dispatcher but Emma already asked the same about my SmartSpeaker project on the Raspi. Is there any template for a tutorial / blog entry that I should respect?

I should add that I won't be able to start this week but next week - is that okay?

Regards
Julian

[2019-10-16 17:25] tangochris opened #4622 "Buttons in Rasa X messages launch new browser tab"
**Rasa version**: 1.3.9

**Rasa X version**: 0.21.4

**Operating system**: Rasa X on OSX (Chrome)

**Issue**: Clicking buttons in messages launches a new browser tab.

**Error**: See screencast: https://www.dropbox.com/s/oibcw15hfuu2g1o/screen%20recording%202019-10-16%20at%2010.23.53%20am.mov?dl=0

In the source HTML, I see a `target="_blank"` on the button link. I believe that is the wrong target

[2019-10-16 17:37] sanchit892 commented on #2274
hey I think I am also getting that same error:

C:\Users\sanchit\PycharmProjects\chatbots\venv\Scripts\python.exe C:/Users/sanchit/PycharmProjects/chatbots/train_init.py
C:\Users\sanchit\PycharmProjects\chatbots\venv\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be u

[2019-10-16 18:14] rgstephens commented on #4616
It was a memory issue as noted in the [forum discussion](https://forum.rasa.com/t/1-3-training-crash-during-embeddingintentclassifier/19775).

There was no error message, the train stop without a message.

I have 12Gb of memory and my docker engine has a default memory allocation of 2Gb. I increased that to 6Gb and restarted the docker engine and ran the training and it worked. Thanks!

[2019-10-16 18:14] #4616 closed

[2019-10-16 20:31] DeepakTiwari84 opened #4623 "Exception occurred while handling uri: /api/projects/default/models/jobs"
**Rasa version**: rasa/rasa:1.3.9-full

**Rasa X version** (if used & relevant):  rasa/rasa-x:stable

**Python version**: 3.6

**Operating system** (windows, osx, ...): ubuntu 18.04

**Issue**:  Exception occurred while handling uri : /api/projects/default/models/jobs

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (c

[2019-10-16 21:15] DeepakTiwari84 commented on #4623
Here is the response I got:
![image](https://user-images.githubusercontent.com/42840642/66959499-22b4bf00-f088-11e9-9ab4-b8caa7d0ad7a.png)

[2019-10-17 04:13] TheCedarPrince commented on #4603
Hey @JulianGerhard21, I can partially confirm your solution that you offered earlier.

Following your instructions for installing mesh, I am now past the or-tools issue! :tada: :tada: :tada:

However, I am still having issues with spaCy. As it would turn out, I was installing a very old version of spaCy onto my Raspberry Pi 4 using `pip install rasa-nlu[spacy]`. So this did work, but I am not up t

[2019-10-17 04:15] TheCedarPrince commented on #4603
https://github.com/explosion/cython-blis/issues/9#issuecomment-534876436

[2019-10-17 05:44] JulianGerhard21 commented on #4603
Hi @TheCedarPrince ,

thanks for your feedback. Unfortunately I am a bit busy today. I have cloned my SDCard and tomorrow I am going to reinstall Rasa 1.3.9 alongside with tensorflow 1.14.0 and Spacy with its newest version and document the whole process.

A keypoint is the fact that the most compatible python version at the moment is 3.6.8 which is *not* installed per default on Debian 10. After

[2019-10-17 06:00] sara-tagger commented on #4623
Thanks for raising this issue, @gausie will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-17 06:00] sara-tagger commented on #4622
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-17 06:00] sara-tagger commented on #4620
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-17 07:38] wochinge opened #4624 "Jupyter notebook docs should be updated to use RasaFileImporter"
The docs [https://rasa.com/docs/rasa/api/jupyter-notebooks/](https://rasa.com/docs/rasa/api/jupyter-notebooks/) should be updated to use [https://rasa.com/docs/rasa/api/training-data-importers/](https://rasa.com/docs/rasa/api/training-data-importers/).

[2019-10-17 07:45] wochinge commented on #4603
@JulianGerhard21

Good question 😄I saw your video of the smart speaker project because it was shared internally and that was so cool!

I sent Emma a link to our conversation here, so she can get in touch with you. Not sure, how much sense it makes to combine both blog posts, I guess this would be up to you. Also, there is no template you have to respect.

Sorry, I didn't mean to rush you. Just the

[2019-10-17 07:56] wochinge commented on #4597
Hi @rgstephens

You mean `/api/stories` right? How does the uploaded story look and how does the domain look like?

[2019-10-17 08:03] wochinge commented on #4622
Hi @tangochris ,

thanks for bringing up. One of our researchers ran into the same problem yesterday 😄 I linked both issues (the other one is internal cause it was directly opened for Rasa X, and will keep that one open until it's fixed 🎉

[2019-10-17 08:06] btotharye commented on #4601
Hey @Pratiksha1312 sorry for the late response was pretty busy the past few days.  I'm going to look into this now and see if I can reproduce it.

Thanks

[2019-10-17 08:54] kahekahe commented on #3548
Getting the same issue here. I was trying to run rasa x initially, but the Rasa server on 5005 wouldn't start.

In troubleshooting, I went back to shell and found that I was getting this error.

Any ideas on how to fix?

[code]

[2019-10-17 08:54] btotharye commented on #4586
@msamogh any suggestions on what we might should call this other status object since this model_file is used quite a bit in the code as the actual file for training and such, so I think we should still show that filename but also give something like `original_model` or something maybe to give the original filename.

Thoughts?

I'm still digging through to figure out the best place to add this beca

[2019-10-17 09:06] btotharye commented on #4586
https://github.com/RasaHQ/rasa/tree/fix_model_status is the code for this so far, mainly just need feedback on the name of `latest_model`

[2019-10-17 09:11] msamogh commented on #4586
I'm actually wondering if there's any reason to output the temporary path at all. We should just be able to replace it with the output of `model.get_latest_model()`. Of course, in that case, we'd have to wait for the next minor release (as it'd be a breaking change).

[2019-10-17 09:14] btotharye commented on #4586
yea the only reason I can think to keep it around would be for troubleshooting purposes in case we wanted a easy way to know where the actual tmp model file is, do you think that would be useful at all?

If not I can just update this and do a PR for it to replace model_file

[2019-10-17 09:27] btotharye commented on #4620
![](https://github.trello.services/images/mini-trello-icon.png) [Work on github issue #4586 status response doesn't show original model file](https://trello.com/c/pJr9lom4/13-work-on-github-issue-4586-status-response-doesnt-show-original-model-file)

[2019-10-17 09:27] btotharye commented on #4601
![](https://github.trello.services/images/mini-trello-icon.png) [Github Issue #4601 Restart Button two-stage fallback](https://trello.com/c/JDcq4ftV/12-github-issue-4601-restart-button-two-stage-fallback)

[2019-10-17 09:43] KarthikMgk commented on #3282
I read both #3292 and #3282. Still, I'm not able to figure out the solution. I tried passing data using both --nlu and -u.

[2019-10-17 09:45] msamogh commented on #4586
I mean you can always look at the identical file in the `models/` directory to perform any inspection. @wochinge Thoughts?

[2019-10-17 10:38] akelad commented on #3548
that seems to be a slightly different issue since it's in a different environment. But again it doesn't seem to want to start up the rasa service properly. Do you have any restrictions on which ports you can use on your machine?

[2019-10-17 10:41] akelad commented on #3765
@cyrilthank you can get in touch with us via: hi@rasa.com

@amn41 what's the update with your PR? Would be good to see if it makes sense for a community member to work on this :)

[2019-10-17 10:42] akelad commented on #4568
was a changelog mistake... we since moved the fix to the 1.3.9 changelog :)

[2019-10-17 10:53] amn41 commented on #3765
sorry - I have an idea for a simpler way to achieve this but need to work out the details. Will discuss with @tabergma @Ghostvv

[2019-10-17 11:44] Arvind-Kumar-Agrawal commented on #1621
@akelad As mentioned above, team is trying to replace numpy with something else. Do we have any update? what is the branch name where i can find the fix? I would like to see the solution if it is yet to be merged. please let me know.

[2019-10-17 12:36] ronancummins commented on #4599
@akelad Awaiting review..

[2019-10-17 12:44] cyrilthank commented on #3765
Thanks @akelad i have reached out to hi@rasa.com

[2019-10-17 13:37] Hansagupta27 commented on #4604
Thanks @dakshvar22 for looking into it. I am using Rasa 1.3.8.
I used the command as suggested by you- python -m rasa_sdk --actions action and still I am getting the same issue.
Below are the error description:
[2019-10-14 16:55:14,860] ERROR in app: Exception on /webhook [POST]
Traceback (most recent call last):
File "C:\Users\hgupta22\AppData\Local\Continuum\anaconda3\envs\chatbotenv\lib\site-pa

[2019-10-17 15:45] rgstephens commented on #4597
Oops, yes.

[2019-10-17 15:56] gausie commented on #4622
This is fixed in the 0.21.x branch

[2019-10-17 15:56] #4622 closed

[2019-10-17 16:06] wochinge commented on #4586
I think there is no reason to keep the `tmp` one around 👍 If the unpacking fails, there should be enough other errors.

[2019-10-17 18:54] kkbrat9 opened #4629 "rasa_core.processor - Failed to execute custom action."
[code]

Custom Action file action.py, having following

[code]

domain.yaml has following

[code]

stories.md has following

[code]

Getting following error

[code]
Used example from here

[code]

[2019-10-17 19:48] icaropires opened #4630 "Rasa shell hangs forever on `/stop`"
**Rasa version**: 1.3.8

**Rasa X version** (if used & relevant):

**Python version**: 3.7.4

**Operating system** (windows, osx, ...): Fedora 30

**Issue**: The rasa shell hangs forever with the message `Killing Sanic server now`.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
Inside the rasa shell
[code]

**Content of configuration file (config.yml)** (i

[2019-10-17 19:51] joaorobson commented on #4619
I would like to work on this. Are you already assigned to this?

[2019-10-17 19:52] sanchit892 opened #4631 "hey i am trying to run this train_online.py(https://github.com/RasaHQ/rasa-workshop-pydata-berlin/blob/master/train_online.py) but I am getting error I am using rasa nlu - 0.15.1 rasa_core - 0.14.5 python 3.6."

[2019-10-17 19:59] icaropires opened #4632 "Rasa shell panics on CTRL + D"
**Rasa version**: 1.3.8

**Rasa X version** (if used & relevant):

**Python version**:  3.7.4

**Operating system** (windows, osx, ...): Fedora 30

**Issue**: The rasa shell panics and hangs forever when pressing CTRL+D, which is a default command for leaving shells sessions. I believe it has the same behaviour as `/stop`

**Error (including full traceback)**:
[code]

**Command or request that led

[2019-10-18 02:59] weathon opened #4633 "Error during install"
ERROR: Could not find a version that satisfies the requirement ortools (from mesh-tensorflow->tensor2tensor~=1.14.0->rasa==1.3.9->rasa-x) (from versions: none)
ERROR: No matching distribution found for ortools (from mesh-tensorflow->tensor2tensor~=1.14.0->rasa==1.3.9->rasa-x)

I am using ```bash
sudo pip3 install rasa-x --extra-index-url https://pypi.rasa.com/simple``` to install and I am using ra

[2019-10-18 05:59] amn41 commented on #4619
certainly not! would be awesome if you could work on it :)

[2019-10-18 06:00] sara-tagger commented on #4633
Thanks for raising this issue, @akelad will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-18 06:00] sara-tagger commented on #4631
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-18 06:00] sara-tagger commented on #4632
Thanks for the issue, @amn41 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-18 06:00] #4631 closed

[2019-10-18 06:00] sara-tagger commented on #4630
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-18 06:00] sara-tagger commented on #4629
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-18 06:00] #4629 closed

[2019-10-18 06:55] DPgg999 commented on #4408
2019-10-18 13:39:29 INFO     engineio.server  - 450c83abd81d4e2a99e942ccef52a4c0: Sending packet OPEN data {'sid': '450c83abd81d4e2a99e942ccef52a4c0', 'upgrades': ['websocket'], 'pingTimeout': 60000, 'pingInterval': 25000}
2019-10-18 13:39:29 INFO     engineio.server  - 450c83abd81d4e2a99e942ccef52a4c0: Sending packet MESSAGE data 0
2019-10-18 13:39:38 INFO     engineio.server  - 2bf7714a8e1e4cc3a

[2019-10-18 07:02] btotharye commented on #4524
I was going to start looking at this, any idea where in the code this all starts so I have a decent jumping off point?  If not I'll start looking for it just thought I'd ask first.

[2019-10-18 07:32] btotharye commented on #4524
Starting to work on this, I figured out where the code was.

[2019-10-18 08:52] lohithpro commented on #2063
The command should be auth-token  and not auth_token

[2019-10-18 10:29] Arvind-Kumar-Agrawal commented on #1114
hi @akelad
The progress bar is not supported for GridSearchCV by sklearn but we can get dots for iterations as shown below-
![image](https://user-images.githubusercontent.com/28316665/67087295-4418c680-f1c0-11e9-8306-764db54f33ba.png)
Please let me know if i can make the changes to the code and and raise a PR.

Thanks

[2019-10-18 10:41] DeepakTiwari84 commented on #4623
I checked with large volume of training data and examples it fails to train the model. But with smaller data set there is no problem.

Is there a way we can just log in the server and train the data and use the UI to do the stories, NLU training , view conversation tracker etc?

[2019-10-18 11:00] koaning opened #4637 "rasa lint might be a good idea"
**Description of Problem**: I am playing with rasa, let's say for the first time. The basics worked and I got a new intent working. This worked fine and now I want to add a form. I change a yml/md file here and there and I get this error:

 During handling of the above exception, another exception occurred:

 Traceback (most recent call last):
 File "/Users/vincent/Development/koaning-rasa/venv/bi

[2019-10-18 11:06] koaning opened #4639 "tensorflow warnings"
**Rasa version**:
Rasa 1.3.9

**Python version**:
 3.6.6

**Operating system** (windows, osx, ...):
osx

**Issue**:
I am aware of [this](https://github.com/RasaHQ/rasa/issues/3359) issue but the current version of rasa is giving me

![image](https://user-images.githubusercontent.com/1019791/67089402-c5179400-f1a7-11e9-8497-c7f30df12d39.png)

[code]

**Error (including full traceback)**:
[code]

**

[2019-10-18 11:07] btotharye opened #4640 "Add API submenu selection"
**Description of Problem**:
I think we should update the API docs to allow for a submenu to switch between the Rasa and Rasa X API documentation easier.

**Overview of the Solution**:
Not sure exact solution but basically if we had a sub menu on the API doc page that allowed to move between the Rasa and Rasa X api spec docs.

**Examples** (if relevant):
Maybe put a tab under the existing, menu not

[2019-10-18 11:36] #4558 closed

[2019-10-18 12:00] sara-tagger commented on #4637
Thanks for submitting this feature request 🚀@Ghostvv will get back to you about it soon!✨

[2019-10-18 12:00] sara-tagger commented on #4639
Thanks for the issue, @akelad will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-18 12:30] Ghostvv commented on #4637
Good point, I agree that the error is not clear at all, even for experience user. @wochinge @tabergma what do you think?

[2019-10-18 13:16] koaning opened #4643 "rasa interactive flow is not a happy path"
**Rasa version**:
Rasa 1.3.9

**Python version**:
3.6.6

**Operating system** (windows, osx, ...):
osx

**Issue**:
Besides the warning messages mentioned [here]() it is a bit daunting to get started with rasa. My plan was to read through the docs, trying out the commands one by one but the command line is showing errors with little context. In particular I ran these today:

[code]

The experience

[2019-10-18 13:23] melindaloubser1 commented on #4520
I ran into this too. It looks like the problem is that if a e2e story specifies intents as `/intent` (or actually if the intent line contains a forward slash `/` anywhere), they will match the regex for NLG format (see `rasa.nlu.training_data.loading.guess_format` ), and therefore `rasa.data.is_nlu_file` will return `True`, since the format is not `UNK`. In the function `rasa.data._find_core_nlu_f

[2019-10-18 13:27] akelad opened #4644 "Forms: allow slots to be filled from entities present in the trigger intent"
Currently, slots only get filled from entities that are present in the trigger intent if they have the same name as the slot. We should add an option that allows the user to fill a slot from any entity that is present in the trigger intent. This is similar to the `from_trigger_intent` option in `slot_mappings`: [https://rasa.com/docs/rasa/core/forms/#custom-slot-mappings](https://rasa.com/docs/ras

[2019-10-18 15:46] melindaloubser1 commented on #4520
If I understand the expected NLG format correctly, modifying `_nlg_markdown_marker_regex` to exclude the pattern `: /` should solve the problem without affecting the loading of other data formats i.e. `_nlg_markdown_marker_regex = re.compile(r"##\s*.*\n\*.*(?<!\: )\/.*\n\s*\t*\-.*")`

[2019-10-18 16:21] #4566 closed

[2019-10-18 20:46] epicalyx commented on #4643
Hey! @koaning
It works for Networkx==2.2
Please try and let us know!

[2019-10-19 08:44] koaning commented on #4643
Ah yes, that does seem to work. I suppose for now it makes sense to limit the version number then.

[2019-10-19 10:13] lokeshharad opened #4645 "I can see the button's text in interactive leaning but unable to displayed on the custom UI"

[2019-10-19 12:05] pgavda commented on #4633
Looks like it works fine now, thanks!

[2019-10-19 14:56] DeepakTiwari84 commented on #4604
@Hansagupta27  when you start your action server does it says started server with  action registered action? something like this with port

![image](https://user-images.githubusercontent.com/42840642/67147038-a2bc6e00-f2ae-11e9-935c-053de1b7472c.png)

[2019-10-19 22:11] abhi99bh commented on #4103
@pudasainishushant Hi, were you able to figure out the issue? I am facing the exact same issue. I get the proper response in Postman however in the debug for messenger i get "rasa.core.channels.facebook  - Wrong fb secret! Make sure this matches the secret in your facebook app settings"

[2019-10-20 15:00] JulianGerhard21 commented on #4603
Hi guys,

this is one adventure.... I am nearly finished with a stable Installation guide. Last step is to compile python 3.6.8 with bz2 Support.
I will give you Feedback / the guide as soon as I finished that step.

Some of the major problems are the dependencies of tensor2tensor which mostly are not arm7 compatible per default and the fact that tensorflow currently has problems with python 3.7.x

[2019-10-20 17:23] JulianGerhard21 commented on #4603
Hi guys,

I was now able to set everything up properly. I had the following setup, but tried to make everything as flexible as possible so at least **Raspian 9** should be supported aswell:

**Device**: Raspberry Pi 4
**OS**: Raspbian 10
**Python**: 3.6.8
**Frameworks** to install: [Tensorflow](https://www.tensorflow.org/install/pip), [SpaCy](https://spacy.io/usage), [Rasa](https://rasa.com/docs/g

[2019-10-20 18:38] TheCedarPrince commented on #4603
This is a fantastic write-up @JulianGerhard21 ! I will work on this over the next couple days to see if I can replicate things (am a bit busy right now but should have time to get things all set by Wednesday). Much thanks to you (and your wife!) for all the hard work; in short:

![](https://media.giphy.com/media/hv4TC2Ide8rDoXy0iK/giphy.gif)

When I get time, I will let you know how things go!

On

[2019-10-20 19:09] JulianGerhard21 commented on #4603
Hi @TheCedarKing,

thanks for your kind words. With every iteration we can make the guide more stable! Most likely you will have questions! :)

Let me know whenever I can be of help!

Regards
Julian

[2019-10-20 22:43] darkblueorange commented on #3789
Hello guys
Thanks for this really cool feature, triggering `/conversations/{conversation_id}/execute` is a very nice hack for asynchronous notifications.

TLDR => go to **[TLDR bug]** and **[TLDR solution]**
In our use case though, we seem to have some kind of issue (but we finally managed in some way to get around). I'll try to explain as clearly as I can :
 1- User discuss with RASA bot, asking

[2019-10-21 04:52] TheCedarPrince commented on #4603
Ok, here is where I got to for tonight @JulianGerhard21,

I am currently stuck on Step 3. In Step 2 I was not able to run the command `tar xJF Python-3.6.8.tar.xz` as it kept giving this error:

[code]

I proceeded on and instead used `tar -xvf Python-3.6.8.tar.xz`.

Once I got to Step 3, I ran the command `python3.6 -m pip install --upgrade pip` and got the following traceback:

[code]

Any thoug

[2019-10-21 05:05] nikhilkapavarapu opened #4646 "Deactivate Forms after Timeout"
My Complete functionality is based on FormActions.
My Requirement is whenever a form is in active state, if user doesn't respond within 10 minutes, then **automatically** bot should say "Session Timeout Happened" and form should be deactivated.
Lets suppose think, if I enter "update case", bot will respond as "Please enter Case Number". If user doesnt enter any value within 10 minutes, in that cas

[2019-10-21 05:24] JulianGerhard21 commented on #4603
Hi @TheCedarPrince ,

please do:

`sudo apt-get install libreadline-gplv2-dev libncursesw5-dev libssl-dev libsqlite3-dev tk-dev libgdbm-dev libc6-dev libbz2-dev`

and then repeat step 2.3 and `build/configure/make/install` Python again. I think the `libssl ` was missing. If you can confirm that it works, I will update the guide accordingly.

Regards
Julian

[2019-10-21 05:58] TheCedarPrince commented on #4603
@JulianGerhard21 - that worked!

I would suggest editing the guide on Step 2 to this:

**2. Install the system dependencies with `sudo apt-get install libreadline-gplv2-dev libncursesw5-dev libssl-dev libsqlite3-dev tk-dev libgdbm-dev libc6-dev libbz2-dev`**

Also, I like to keep my installs as light as possible and was curious, do we need all the other system dependencies aside from libbz2-dev an

[2019-10-21 06:00] sara-tagger commented on #4646
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-21 06:00] sara-tagger commented on #4645
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template

[2019-10-21 06:00] #4646 closed

[2019-10-21 06:00] #4645 closed

[2019-10-21 06:05] JulianGerhard21 commented on #4603
Hi @TheCedarPrince ,

this depends mainly on what you want to be able to do later - because of that it was not part of the guide. I myself need most of those packages, but you are right: the minimal requirement are those two. **I changed [the guide](#issuecomment-544272695) accordingly.**

Jeah - this might be a bit annoying but I think to keep things clean, it makes sense. **I changed [the guide]

[2019-10-21 07:06] amn41 commented on #3789
thanks for the super thoughtful write up!

@JEM-Mosig was proposing to change the notification functionality to look more like sending an intent, rather than triggering an action remotely. I suspect that will solve your problem.

Also I'd love to talk about your experiences with multiprojectimporter. Could you please shoot me an email? (firstname at company domain)

[2019-10-21 07:46] tabergma commented on #4047
Seems to be still an issue: https://forum.rasa.com/t/cancellederror-in-random-calls-throughout-the-day/19966

[2019-10-21 08:01] wochinge commented on #4069
@erohmensing That's not actually `in progress` right?

[2019-10-21 08:19] wochinge commented on #3581
@gausie That's sth we are still working on, right?

[2019-10-21 08:22] wochinge commented on #3870
I close that for now. If there any further arguments which should be heard, feel free to re-open the issue :-)

[2019-10-21 08:22] #3870 closed

[2019-10-21 08:24] wochinge commented on #4520
Hi @melindaloubser1 , is this something you would like to work on? I'd also help you with the implementation, just tag me in the PR 🙂

[2019-10-21 08:25] wochinge commented on #4474
@indranil180 Do you have any more input on that? Otherwise I'd close this.

[2019-10-21 08:39] wochinge commented on #3975
@DiegoProtec What's your current state? can I help you?

[2019-10-21 08:46] wochinge commented on #3946
So that's a `won't do` for now @TyDunn @amn41 @tabergma  ?

[2019-10-21 08:48] neelkes commented on #4141
@chidauri just wanted to check if there are any progress on adding num_threads back to CLI?

[2019-10-21 09:01] wochinge commented on #4585
@glaulom Is this something you want to work on?

[2019-10-21 09:02] wochinge commented on #4596
Hi @lsgome , sounds like a great idea! Do you want to work on it?

[2019-10-21 09:33] JEM-Mosig commented on #3789
The issue is here: https://github.com/RasaHQ/rasa/issues/4464

[2019-10-21 09:42] glaulom commented on #4585
@wochinge I actually don't have any time to work on this, so it's a proposition to the community.

[2019-10-21 12:50] erohmensing commented on #4637
`rasa lint` could also act to sort/dump the config and domain to avoid unnecessary git diffs. We could also create a pre-commit hook to implement this functionality automatically if users opt-in by activating the hook

[2019-10-21 13:20] neelkes opened #4647 "Add set.seed ability to CLI when splitting NLU data"
**Description of Problem**:
The user is not able to set a seed when using the CLI to split NLU data into test and training data sets (_rasa split data nlu_ command). This feature will enhance reproducibility when required.

**Overview of the Solution**:
Add set.seed() to split_nlu_data.py or train_test_split.py

**Definition of Done**:
- [ ] Tests are added
- [ ] Feature described the docs
- [ ] F

[2019-10-21 13:57] erohmensing commented on #4069
@wochinge mm i did actually start working on it, seemed to fix but there was also weird behavior i wanted to ask rick about. sorry i let it get stale! will tackle this week

[2019-10-21 13:58] erohmensing commented on #4487
@soundaraj I know you can, but it would be nice if it didn't raise the error since it shouldn't matter whether or not the client is connected while you're using interactive mode via the CLI

[2019-10-21 15:32] nich02 commented on #3048
Hello friends, i am a bit frastrated I want to import tensor flow in my anaconda but i keep getting the error (ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow)

I have tried multiple options online. please help

[2019-10-21 15:45] koaning commented on #4637
pre-commit is a very useful feature. albeit advanced. i can imagine the
typical scientist not using it. so i would def do this in an opt-in
fashion.

sort/dump is behavior like ‘black’ which can certainly be useful. but also
here it might be good to opt in. tools that automatically change files can
be scary.

On Mon 21. Oct 2019 at 14:50, Ella Rohm-Ensing <notifications@github.com>
wrote:

--

*-

[2019-10-21 15:46] erohmensing commented on #3282
@KarthikMgk pretty sure this works now, can you create a post on our [forum](http://forum.rasa.com) to ask how to do it correctly? along with the commands you are running, the output, and the directory structure of your project

[2019-10-21 15:47] erohmensing commented on #4637
yes, black was the inspiration for that idea :)

[2019-10-21 18:04] akelad commented on #1621
@Ghostvv could you update everyone on the latest status of this?

[2019-10-21 18:04] akelad commented on #4599
merged 🚀

[2019-10-21 18:04] #4599 closed

[2019-10-21 18:07] akelad commented on #1114
hmm that may make things a little messy, so i would say no

[2019-10-21 18:08] akelad commented on #4639
yeah we noticed this happening, and has briefly fixed it. @wochinge have you looked into it further?

[2019-10-21 18:09] akelad commented on #4633
hm, raspberry pi install... have you taken a look at this issue yet? https://github.com/RasaHQ/rasa/issues/4603

[2019-10-21 18:10] akelad commented on #4047
i would guess we reopen this then?

[2019-10-21 18:12] akelad commented on #2934
hm, if this has been in the backlog since 25 june shouldn't someone have implemented it by now 😂it's not super urgent imo, so let's close it

[2019-10-21 18:21] #2934 closed

[2019-10-21 18:35] Ghostvv commented on #1621
we have a branch, where we're using sparse matrices instead of dense numpy arrays, but it is implemented for the new architecture that we're working on. @tabergma could you please link the branch here

[2019-10-21 19:59] jimbudarz opened #4650 "Spacy Model Linkage Error when launching Rasa X"
**Rasa version**: Rasa 1.2.7

**Rasa X version** (if used & relevant): 0.20.2

**Python version**: Python 3.7.3

**Operating system** (windows, osx, ...): OSX

**Issue**:

When launching rasa x I get the following error on Mac OS X:

    rasa.core.agent  - Could not load model due to Model 'en_core_web_md' is not a linked spaCy model.  Please download and/or link a spaCy model, e.g. by running:

[2019-10-21 20:09] amn41 commented on #4650
thanks for raising @jimbudarz - can you please share your config file? Can you try changing the `language` param from `en` to `en_core_web_md` ?

[2019-10-21 20:17] jimbudarz commented on #4650
Thanks @amn41 . Heres are the contents of the config file:

[code]

[2019-10-21 20:24] amn41 commented on #4650
and still same error I guess? Just to check, you definitely ran those spacy commands in the same python env where you have rasa x installed ?

[2019-10-21 20:27] visopsys commented on #4047
Agreed. This should be opened. The bug is not fixed yet

[2019-10-21 21:02] jimbudarz commented on #4650
Yes, I'm still getting the same error and I only have a single python environment set up (through Anaconda).

[2019-10-21 21:17] jimbudarz commented on #4650
I've checked- it seems to be the same environment.
Python is installed in `anaconda3/bin/python` and Rasa is in `anaconda3/lib/python3.7/site-packages`

[2019-10-22 05:24] TheCedarPrince commented on #4603
Hey @JulianGerhard21,

Doing a small update/check-in right now that I want your opinion on. I will provide more info later but am running into an error on Step 16. Once I follow your instructions up to that point, I am still getting errors about the program shouting about `opencv` as well as `dopamine-rl`.

Here is the traceback I am getting:

[code]

Here is also the output of my pip list (I do h

[2019-10-22 05:41] JulianGerhard21 commented on #4603
Hi @TheCedarPrince,

are you sure that you haven't accidently skipped this part:

`python3.6 -m pip install dopamine-rl --user --no-deps` (steps 10 and 11) ?

I'd suggest to repeat those steps first: `10 - 12` and `15`, after that, you should be able to do `16`.

Keep the following in mind:
If you install something via pip, pip checks the dependencies of the package and those dependencies normally

[2019-10-22 06:00] sara-tagger commented on #4647
Thanks for submitting this feature request 🚀@Ghostvv will get back to you about it soon!✨
###### Caw! 🐧

[2019-10-22 06:20] tabergma commented on #1621
We have two branches:
1. The following branch uses sparse matrices in the `CountVectorsFeaturizer`. The features are then used in the `EmbeddingIntentClassifier`. However, the code is not cleaned up. https://github.com/RasaHQ/rasa/tree/entity-recognition
2. We are currently cleaning up the above branch and moving everything to
https://github.com/RasaHQ/rasa/tree/combined-entity-intent-model. (It m

[2019-10-22 07:10] btotharye commented on #4586
Still leaving this open a little longer since I need to write tests for this, so general FYI

[2019-10-22 08:24] akelad commented on #4216
@btotharye additionally to what it says in the issue description here, someone mentioned recently that sometimes NLU retrains if some parts of the domain are changed as well. So we should look into what's going on there

[2019-10-22 08:25] cclaudine opened #4651 "ERROR: Could not find a version that satisfies the requirement rasa-sdk~=1.4.0"
Python version: 3.5.2

Operating system: Linux (Ubuntu 16.4)

Issue: Running "pip3 install -r requirements-dev.txt" command gives error:

ERROR: Could not find a version that satisfies the requirement rasa-sdk~=1.4.0 (from -r alt_requirements/../requirements.txt (line 39)) (from versions: 1.0.0rc3, 1.0.0rc4, 1.0.0, 1.1.0, 1.1.1, 1.2.0, 1.3.0a1, 1.3.0, 1.3.1, 1.3.2, 1.3.3)
ERROR: No matching distri

[2019-10-22 08:28] tabergma commented on #4647
Great idea 👍 We could add an argument like `--random-seed` to `rasa split data nlu` to set the seed. Needs to be added here: https://github.com/RasaHQ/rasa/blob/master/rasa/cli/data.py. And the seed should be forwarded to https://github.com/RasaHQ/rasa/blob/master/rasa/nlu/training_data/training_data.py#L400 in order to set it.

@neelkes Do you want to work on this feature yourself and submit a PR

[2019-10-22 08:46] btotharye commented on #3886
maybe too much for this issue but from reading our docs it appears we have some recommendations on certain pipelines to use based on your training data set.

Do you think it would make sense to also maybe give a message in the console if there is a better pipeline configuration they could use?

Wasn't sure if we could really make any determination on how much training data they have but seemed lik

[2019-10-22 09:42] wochinge commented on #4540
@rgstephens Did you try changing the settings for the count vectorizer to count words instead of chars? Does this help?

[2019-10-22 09:49] wochinge commented on #4639
@akelad Hope so todo today!

[2019-10-22 10:19] TyDunn commented on #3946
@wochinge I think we have leave it as `unplanned` for now until we get some more feedback on this problem

[2019-10-22 11:21] #4024 closed

[2019-10-22 11:21] btotharye commented on #3886
@msamogh do you have any examples on the NLU pipeline config?  I'm reading through our docs on the pipeline stuff and I don't see a ton of real config options other than setting what you are using.

I'm trying to figure out how this relates to what I should be checking against, anything you could point me to even in code or docs to help me out?

[2019-10-22 11:39] wochinge commented on #4586
if you don't have time to tackle it this week, I'd actually create a separate issue for that.

[2019-10-22 11:41] wochinge commented on #4216
So @btotharye is gonna finish up https://github.com/RasaHQ/rasa/pull/4251 ?

[2019-10-22 11:42] btotharye commented on #4216
Hrm didn't know that was already out there, should I start with that PR code?

[2019-10-22 11:47] wochinge commented on #4216
Why isn't @msamogh finishing this up and you @btotharye tackle the NLU part from @akelad 's comment?

[2019-10-22 11:49] btotharye commented on #4216
I'm good with that if everyone agrees

[2019-10-22 12:00] sara-tagger commented on #4651
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-22 12:00] btotharye commented on #3919
yea @wochinge agreed I'll take it and add it to my backlog

[2019-10-22 12:04] btotharye commented on #4612
@JEM-Mosig I think I know what I might have missed, gimme a few and I'll test fixing this

[2019-10-22 12:09] btotharye commented on #4612
@wochinge I don't see anything obvious yet with the change I made I'll look into this further but I didn't even think about testing the interactive piece with this before

[2019-10-22 12:26] btotharye commented on #4612
so I feel pretty confident this is not related to my commit if someone wants to double check my work I only changed the info the `/status` route gives back so not sure how that broke this

[2019-10-22 12:29] btotharye commented on #4586
Actually I don't need to write tests they are already there since I only updated the name https://github.com/RasaHQ/rasa/blob/master/tests/test_server.py#L110 right? @wochinge

[2019-10-22 12:31] wochinge commented on #4612
I'm . tackling it 👍

[2019-10-22 12:32] DivyashaAgrawal opened #4652 "Unfeaturized slot type convert type of value to Single value."
**Rasa version**: 0.14.3

**Rasa X version** (if used & relevant):

**Python version**: 3.6

**Operating system** (windows, osx, ...):Windows

**Issue**: I have slots which are supposed to take list as value and are unfeaturized. But during story they get converted to one single value.

Example:
domain.yml:

entities:
   - airline // this takes list value ["vistara", "indigo"]
slots:
 airline:

[2019-10-22 12:51] tbx0912 opened #4653 "[Docker] - Rasa init error"
**Rasa version**:
Latest (1.4.1) - [See on Docker Hub](https://hub.docker.com/layers/rasa/rasa/latest/images/sha256-f38f9619c5e8a3ab762b630e1828d5e8004c35e769fcd22d9ab15c3fb23f0e8a)

**Docker & docker-compose versions**:
Docker version 19.03.4, build 9013bf583a
docker-compose version 1.24.1, build 4667896b

**Operating system** (windows, osx, ...):
Ubuntu 18.04.3 LTS

**Issue**:
With a brand new i

[2019-10-22 13:30] Hansagupta27 commented on #4604
Yes, I keep another terminal open and run the action server in that. I also keep it running. From there itself, I copied the logs details.

[2019-10-22 14:15] wochinge commented on #4586
True, but shouldn't we test that this actually a valid file + not in `tmp`?

[2019-10-22 14:23] wochinge commented on #4584
Good point. Currently that's slowly diverging from a bot-config to a general config (DataImporter is also using that). I'm personally not a huge fan of having even more files in a rasa project than we have now, but I see your point.

That's what I wrote in the `goals`.
- converting between the data
- making our entity objects / modules leaner

I imagine to configure that in a config and when I use

[2019-10-22 15:33] elyase commented on #4086
Can someone reproduce this issue on the latest matplotlib? I think the referred stackoverflow issue is not present anymore on newer matplotlib + OSX versions.

Also I am not sure doing:
[code]

is the best way to go about this because it would fail in headless environments (ex: docker) where tk is not installed. In fact I can't run the tests on a new ubuntu install because of this reason but I gue

[2019-10-22 15:46] elyase opened #4657 "Rasa setting a platform specific matplotlib backend fails"
**Rasa version**:
1.4.0

**Python version**:
3.7.4

**Operating system** (windows, osx, ...):
Linux Ubuntu 18.04.3 LTS

**Issue**:
Rasa tries to set a matplotlib backend which is environment specific (and IMO also unnecessary) and fails in headless environments. According to [matplotlib docs](https://matplotlib.org/3.1.1/faq/virtualenv_faq.html):

 I think this line is the culprit and would be bes

[2019-10-22 16:11] nicolasfarina opened #4658 "rasa interactive doesnt work"
![a](https://user-images.githubusercontent.com/52745496/67306435-54d18100-f4cd-11e9-9db2-ef244d38a198.png)

**Rasa version**:1.4.1

**Python version**: 2.7.4

**Operating system** (windows, osx, ...): Ubuntu

[2019-10-22 16:53] rgstephens commented on #4540
Yes, I should have posted that info.  Here are some stats on 1.3.9 with 278 unique intents. The config files for the two train/test runs are below. **The default settings are not working well for this data set.  The training time, memory requirements and test results are all significantly worse.**

| Vers   | Config        | Time  | Mem  | errors | Model Size                            |
| ------

[2019-10-22 17:04] lsgome commented on #4596
Yes, I can do.

[2019-10-22 19:30] icaropires commented on #4630
I found out that it just happen if you try to exit the shell without sending any messages :thinking:

[2019-10-22 20:37] DiegoProtec opened #4659 "KafkaBroker - Hosts"
**Rasa version**:1.4.1

**Rasa X version** (if used & relevant):

**Python version**:3.6

**Operating system** (windows, osx, ...):windows

**Issue**:
AttributeError: 'list' object has no attribute 'strip'

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of domain file (d

[2019-10-22 21:43] msamogh commented on #3886
Definitely out-of-scope for this issue.

[2019-10-22 21:44] msamogh commented on #3886
What sort of examples?

[2019-10-22 21:50] darkblueorange commented on #3789
Really nice, thanks to both of you. We're eager to have this intent-trigering feature now :-)
 @amn41 , I've sent you a mail from "7lieues" domain :-)

[2019-10-23 00:03] TheCedarPrince commented on #4603
Hey @JulianGerhard21,

I am so so close!

![image](https://user-images.githubusercontent.com/29561456/67344287-a564d080-f505-11e9-8dcc-5bd4641cf6d1.png)

I can boot up RASA, it pops me into the prompt, and when it starts to do its magic, it fails with the following traceback:

[code]

I am definitely executing through Steps 10 - 12 to install `tensor2tensor` but for some reason it keeps failing. H

[2019-10-23 01:24] TheCedarPrince commented on #4603
@JulianGerhard21 ,

Ok, I tried tracking down my bug but still could not find it. Any thoughts?

Yours,
TheCedarPrince

[2019-10-23 04:47] JulianGerhard21 commented on #4603
Hi @TheCedarPrince,

ok - let's try something:

Do a `pip show dopamine-rl` and if version `2.0.5` is shown (which is the correct one),
move into `tensor2tensor` directory and use `python3.6 -m pip install . --user` **without** the `--force-reinstall`. This should prevent pip from digging too deep into the dependencies tree.

The error shown by rasa is "only" a consecutive error produced by the br

[2019-10-23 06:00] sara-tagger commented on #4657
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-23 06:00] sara-tagger commented on #4658
Thanks for the issue, @federicotdn will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗
###### Caw! 🐧

[2019-10-23 06:00] sara-tagger commented on #4653
Thanks for raising this issue, @dakshvar22 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-23 06:00] sara-tagger commented on #4652
Thanks for the issue, @msamogh will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-23 06:30] TheCedarPrince commented on #4603
@JulianGerhard21 ,

I tried it again and still no luck; here is the return on `python3.6 -m pip show dopamine-rl`:

[code]

And here is the output from when I execute `python3.6 -m pip install . --user`:

[code]

I have a theory that I am going to try based on the output from the `pip show` of `dopamine-rl`. The source code of dopamine in their setup.py file has open-cv as a requirement; I am goin

[2019-10-23 06:44] JulianGerhard21 commented on #4603
Hi @TheCedarPrince,

hm - strange. I never had this problem. However we are going to solve it. Try your idea and give feedback - thats good. Another idea would be:

Remove `dopamine` from `tensor2tensor`'s dependencies and install it again. Confirm with `pip show tensor2tensor` that it is installed and try Rasa.

Regards
Julian

[2019-10-23 06:58] amn41 commented on #3789
haven't seen your email, just fyi.

[2019-10-23 07:16] TheCedarPrince commented on #4603
# VICTORY!!! :tada: :tada: :tada:

Julian. Julian. JULIAN!!!!

![image](https://user-images.githubusercontent.com/29561456/67365683-0c9f7680-f540-11e9-8a27-8e8b187bd374.png)

WE DID IT!!! @JulianGerhard21 !!! THIS IS HUGE!!!

All I did was the following:

[code]

And now the bot WORKS!!! I haven't tested out all the functionality to see if everything is working completely, but it finished training

[2019-10-23 07:21] TheCedarPrince commented on #4603
So, what now @JulianGerhard21 , @wochinge , @akelad ?

I was thinking @wochinge and @akelad , perhaps the RASA team could make a separate, community-supported repo for the Raspberry Pi now that things are working? I could imagine things will become incompatible in the future and it would be a shame to see this support fall away as I think this opens RASA to a whole new community of makers, researc

[2019-10-23 08:14] JulianGerhard21 commented on #4603
Hi @TheCedarPrince ,

glad it worked - thanks for the kind words and thanks for the script - good idea - that makes life much easier.

I am up to everything that makes sense. I confirm that there definitely will be incompatibilites in the future and we need to keep track of them. A feature-branch or own repo needs to be updated/maintained and I am not quite sure if the Rasa team wants to provide t

[2019-10-23 08:27] akelad commented on #4603
@JulianGerhard21 @TheCedarPrince awesome that you got it working! it's really great to see the community working together like this :)
We will certainly discuss internally how we can best support you with the Raspberry Pi setup and will get back to you

[2019-10-23 08:47] wochinge commented on #4596
Amazing @lsgome ! Let me know if you need any help! I assign you for now so that nobody starts working on it at the same time, but feel free to un-assign you in case you change your mind.

[2019-10-23 08:56] sunqiang25 commented on #4632
please check your actions.py, maybe it'll report error when you run "rasa run actions"

[2019-10-23 09:23] DivyashaAgrawal opened #4660 "Except list slot type all the slots are converted to a single value"
**Rasa version**: latest

**Python version**: 3.6

**Operating system** (windows, osx, ...): windows

**Issue**:

All the slot types apart from list type slot get converted to a single value

**Content of domain file (domain.yml)** (if relevant):
[code]
Input: `/inform{"cities": ["new york", "paris"]}`
Current Output: `slot{"cities": "paris"}`
Expected Output: `slot{"cities": ["new york", "paris"]

[2019-10-23 09:26] DivyashaAgrawal commented on #4660
I found the reason which led to this. In domain,py, we update the slot values in function slots_for_entities

[2019-10-23 10:25] dsmackie commented on #4658
This issue appears to stem from the requirement that the argument `persist_nlu_data` exists when calling the training function, but it is not being set to None when calling training via interactive mode.

https://github.com/RasaHQ/rasa/blob/33daa89648222fec73c276eda8f1d4b61e985619/rasa/cli/interactive.py#L54-L64

Can be corrected by adding `args.persist_nlu_data = None` to the top of the interacti

[2019-10-23 10:32] dsmackie commented on #4658
Adding to my last, making the above change does allow interactive mode to proceed but results in further errors as shown below. I can not confirm if they are related or due to a previous commit.

[code]

[2019-10-23 10:36] cowjen01 commented on #4047
Hello, we have got the same problem:

**Rasa 1.4.0**

Tested with [WRK](https://github.com/wg/wrk) utility:
`./wrk --latency -t2 -c10 -d20s  -s ./scripts/post.lua http://localhost:5005/webhooks/rest/webhook`

Lua script:
[code]

Results:
[code]

Rasa server log:
[code]

[2019-10-23 12:00] sara-tagger commented on #4660
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-23 12:11] federicotdn commented on #4658
Hi @nicolasfarina, thanks for bringing this up. This issue has been fixed in https://github.com/RasaHQ/rasa/commit/525a2443ec6863081ec7774a1a707272f687c944, but the fixed hasn't been released yet. It will be included in 1.4.2. I'll leave this issue open until that's released.

[2019-10-23 12:12] msamogh commented on #4652
Yes, this shouldn't happen.

[2019-10-23 13:12] Ghostvv commented on #4630
@wochinge @tabergma could you please comment on this

[2019-10-23 13:47] #4658 closed

[2019-10-23 13:58] #4652 closed

[2019-10-23 13:58] DivyashaAgrawal commented on #4652
Transferred this [https://github.com/RasaHQ/rasa/issues/4660](url)

[2019-10-23 14:00] DivyashaAgrawal commented on #4652
Transferred this here: [https://github.com/RasaHQ/rasa/issues/](4660)

[2019-10-23 14:08] tabergma commented on #4660
You are right, a slot can just be a `list` or `unfeaturized`. Not both. We should change that.

It seems like you are already into the topic, do you want to fix it yourself and create a PR?

[2019-10-23 14:25] tjpalmer commented on #3865
In testing on 1.4.x, I don't see the described behavior. To explore, I created a folder called `actions` with `actions/__init__.py` that imports actions from `actions/custom.py`. These all work:

- `rasa run actions --actions actions`
- `rasa run actions --actions actions.custom`
- `rasa run actions -v`

This fails (with the "No model found" error):

- `rasa run actions`

I don't see anything in g

[2019-10-23 14:43] Ghostvv commented on #3439
@tabergma what do you think about it in the light of the new pipeline?

[2019-10-23 14:49] tabergma commented on #3439
I would say it is not needed. We don't have a component that depends on the plain token text as far as I know, all components depend on the features.

[2019-10-23 15:40] erohmensing opened #4664 "Some async tests are not properly run"
5 asynchronous test methods are currently never awaited, so the tests pass pytest regardless of if the method itself should actually pass. Example: https://travis-ci.com/RasaHQ/rasa/jobs/248702574#L4028

In the case of slack, this might have been introduced during the change from `httpretty` to `responses`.

[2019-10-23 15:44] erohmensing commented on #4651
Thanks @cclaudine, you must have tried to download in between when we released rasa 1.4.0 and rasa-sdk 1.4.0. Should be fixed now, could you try again?

[2019-10-23 15:50] erohmensing commented on #4643
I just tried, and didn't have any problems with the pinned networkx version, 2.3. Do you happen to know which version of networkx you experienced that on and how you ended up with it @koaning ?

[2019-10-23 19:22] melindaloubser1 commented on #4520
@wochinge sure, I can work on it. Haven't contributed to an open source project before though, just fyi, but I'd like to get started.

[2019-10-23 19:56] oma0256 commented on #3048
How did you solve that?

[2019-10-23 20:48] koaning commented on #4643
i think it was 2.4? can’t recall exactly.

On Wed 23. Oct 2019 at 17:50, Ella Rohm-Ensing <notifications@github.com>
wrote:

--

*- Vincent*

[2019-10-24 03:47] nich02 commented on #3048
Myself I don't know how to do it in Python 3.5, I tried it Python 3.7.4.
and it was a challenge, how did you do it.? Please help

On Wed, Oct 23, 2019, 22:56 Omarwoth Jonathan <notifications@github.com>
wrote:

[2019-10-24 04:56] dakshvar22 commented on #4653
Hi @tbx0912, I tried pulling the latest docker image on macOS and running the commands work as expected. Did you just switch to Ubuntu 18.04, or were you always testing on this platform for previous versions of Rasa too?

[2019-10-24 07:31] tabergma commented on #3439
Should we close the issue?

[2019-10-24 07:48] tabergma commented on #4657
@elyase Thanks for raising the issue. In general we are open to making matplotlib optional.

I added the lines back then in `rasa/core/test`, but cannot remember the exact reason. I just tried to run `rasa test nlu` (which plots some graphs) without those lines and it was working fine for me. So, I guess we can do as you suggested.

Do you want to clean it up by yourself and create a PR for it?

[2019-10-24 07:53] wochinge commented on #3439
How about the case when you want to strip accents from a word before it's passed to the featurizer @tabergma ? The `CountVectorizer` can do this itself, but not sure about the other ones?

[2019-10-24 08:34] wochinge commented on #3439
For me it's
- adding it to the tokenizer, means applying the same change to every tokenizer
- adding a new component could result in too many components

I think I'd prefer the first option + finding a scalable way to add things to multiple components at once

[2019-10-24 08:40] tabergma commented on #3439
Agree.

We could add it to the main class `Tokenizer` and reuse the function in every tokenizer. I just did a similar thing on a branch (see https://github.com/RasaHQ/rasa/blob/combined-entity-intent-model/rasa/nlu/tokenizers/tokenizer.py#L36).

[2019-10-24 09:11] wochinge commented on #3439
That was just one specific case 😄 It's more about the general topic.

[2019-10-24 09:12] wochinge commented on #4630
@icaropires Thanks for the detailed error description. Would be down for tackling this issue yourself or should we add it our backlog?

[2019-10-24 09:34] erohmensing commented on #4643
Hm okay. 2.3 is the pinned one, so if it was 2.4, it must have been something else that you installed that updated the version. I'll close this.

[2019-10-24 09:42] koaning commented on #4643
I'll try it again now. It was a clean install that got me 2.4.

[code]

I think one of rasa's dependencies requires networkx to be 2.4.

[2019-10-24 09:45] koaning commented on #4643
@erohmensing I just ran this today. It seems like the networkx version is still a bug.

It should be said that there's a different bug now.

[code]

Would this be a new bug?

[2019-10-24 11:35] elyase commented on #4086
@wochinge  May be there a confusion. I can't reproduce the current issue (in OSX) and I was asking if somebody else had the issue because I think it is fixed in recent matplotlib versions.
There is a second somewhat related issue I created [here](https://github.com/RasaHQ/rasa/issues/4657)

[2019-10-24 12:14] icaropires commented on #4630
@wochinge I'll tackle it

[2019-10-24 12:21] icaropires commented on #4632
@sunqiang25 I had just run `rasa init` without changing any configuration files. CTRL + C work as expected, the problem is CTRL + D

[2019-10-24 13:33] tjpalmer commented on #3865
The problem I've described above is due to `parse_last_positional_argument_as_model_path()`.

[2019-10-24 13:58] wochinge commented on #4630
Great news @icaropires ! Thanks a lot! Please let me know if you need any feedback / help 🙂

[2019-10-24 14:50] erohmensing commented on #4643
My apoligies, didn't realize that it was pinned correctly in `requirements.txt`, but not `setup.py`. the most recent release on `networkx` last week broke this. reopening until it is correctly pinned

[2019-10-24 15:22] koaning commented on #4643
No worries. I had a hunch something was up. Glad to this issue gettin' fixed tho :)

[2019-10-24 15:34] Pratiksha1312 opened #4666 "Rasa is not able to pick up the correct intent even though NLU threshold is met"

[2019-10-24 16:22] wochinge commented on #3865
Thanks for digging into this!

Which ones do you see? I would just adapt `parse_last_positional_argument_as_model_path` to not apply to the `rasa run actions` case.

[2019-10-25 08:27] Nomiluks opened #4667 "Getting KeyError when I convert json training samples to .md format"
**Rasa version**: rasa  1.4.1

**Python version**: Python 3.6.7

**Operating system** (Ubuntu):

**Issue**: I want to convert my json training data into .md format. My data doesn't contain any intent, because I only want to extract entities.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:

[code]
**Content of configuration file (config.yml)** (if relevant):

[2019-10-25 08:34] Nomiluks opened #4668 "Unable to train NLU/NER model <IndexError: list index out of range>"
**Rasa version**: rasa 1.4.1

**Python version**: Python 3.6.7

**Operating system** : Ubuntu 18.04

**Issue**:
Unable to train nlu/ner model afte upgrading the rasa to 1.4.1 version. My data doesn't contain any intent, because I only want to extract entitie

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)

[2019-10-25 09:13] erohmensing opened #4669 "test issue"

[2019-10-25 09:14] erohmensing opened #4670 "test issue 2"
help!

[2019-10-25 09:14] #4670 closed

[2019-10-25 09:14] #4669 closed

[2019-10-25 09:23] akelad commented on #3048
@nich02 which version of rasa are you installing and in which environment are you getting what errors? Would be good if you can post all this information here

[2019-10-25 09:24] imLew commented on #4602
@kahekahe sorry for not getting back to you soon. Do you still have this problem?

[2019-10-25 09:25] akelad commented on #4216
haha my bad - i assumed this wasn't being tackled since @msamogh had unassigned himself

[2019-10-25 10:46] tabergma commented on #4660
👍 Great, thanks! Let me know if I you need feedback/help.

[2019-10-25 12:00] sara-tagger commented on #4668
Thanks for raising this issue, @akelad will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-25 12:00] sara-tagger commented on #4667
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-25 13:27] Nomiluks commented on #4668
okay looking forward.

[2019-10-25 13:27] Nomiluks commented on #4667
okay looking forward.

[2019-10-25 13:53] erohmensing commented on #4667
Hm, the standard markdown output in Rasa format is sorted by intent:
[code]

which is the format it looks for upon reading. I'm not sure I would think we would want to support reading from a markdown file without any intents. Can you group all of your data into one intent (by adding an "intent": "all" to each message), so that it will output in a format we are used to?

[code]

[2019-10-25 14:09] tjpalmer commented on #3865
If that's your preferred solution, I'll try to fit some time in on it this weekend. The simple solution is a one liner, of course, but I'd want to be sure to update tests properly, too, etc.

[2019-10-25 15:47] vsraptor opened #4674 "rasa visualize and interactive fail"
**Rasa version**:
1.3.9
**Rasa X version** (if used & relevant):

**Python version**:
3.6
**Operating system** (windows, osx, ...):
linux
**Issue**:

rasa visualize and interactive fail

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of domain file (domain.yml)** (if rel

[2019-10-25 20:16] TheCedarPrince commented on #4603
Hey @wochinge , @akelad , @JulianGerhard21 ,

I am reopening this issue as I want to see if the script Julian and I wrote can be independently verified. To test it, here is what you do:

1. Download the latest version of Raspbian Lite onto a Raspberry Pi 4
2. Copy this script onto the Raspberry Pi into `install.sh`:

[code]

3. Make the script executable by running `sudo chmod +x install.sh`
4. Ex

[2019-10-26 04:55] tjpalmer commented on #3865
For my pull request, I added a bit of documentation on using an `actions` subdir, though this support already existed. It might be good to add an explicit example or test sometime on using an actions dir, too.

[2019-10-26 09:41] Raja2siva commented on #3048
any one using tensorflow in windows
please tell me that python version and tensorflow version
and windows version

[2019-10-27 08:26] cintahofmann opened #4676 "Rasa 1.3.9 ImportError: cannot import name 'EndpointConfig' from 'rasa.core.utils'"
**Rasa version:** 1.3.9

**Python version:** 3.7.4

**Operating system:** Windows 10 (VM)

**Issue:** ImportError: cannot import name 'EndpointConfig' from 'rasa.core.utils'

After finding that this issue was already raised [here](https://github.com/RasaHQ/rasa/issues/3629), I  added

`from rasa.utils.endpoints import EndpointConfig`

to my dialogue_management_model.py, but I am still getting the

[2019-10-27 18:57] icaropires commented on #4630
@wochinge the PR is ready for review :wink:

[2019-10-27 19:28] cintahofmann opened #4678 "ModelNotFound Exception: No NLU or Core data for unpacked model"
**Rasa version:** 1.3.9

**Python version:** 3.7.4

**Operating system:** Windows 10 (VM)

**Issue:** ModelNotFound Exception: No NLU or Core data for unpacked model at: './models/

So I'm trying to update my model from pre-1.0 Rasa to the up-to-date package, and I'm finding myself utterly lacking in the competence to do this? Before, I had my model in a subfolder under /models/dialogue and now it

[2019-10-27 19:29] #4676 closed

[2019-10-27 20:56] icaropires commented on #4632
I believe the expected behaviour would be the same as CTRL + C:
[code]

With further investigation, I'm afraid that to gracefully exit on `SIGTERM` (CTRL + D) without big changes, the modifications should be done at [questionary](https://github.com/tmbo/questionary) which is handling only `SIGINT` through `KeyboardInterrupt` exception.

[2019-10-28 01:20] vsraptor commented on #4674
I added this :

[code]

[2019-10-28 06:02] Nomiluks commented on #4668
@akelad any update on this ?

[2019-10-28 06:03] Nomiluks commented on #4667
Okay. let me try this hack.

[2019-10-28 07:00] sara-tagger commented on #4678
Thanks for the issue, @dakshvar22 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-28 07:00] sara-tagger commented on #4674
Thanks for raising this issue, @federicotdn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-28 09:24] erohmensing commented on #4667
Sure, it's just the json equivalent. Wouldn't say it's a hack, as it's rather the official rasa format to have `intent` as part of your example 😃

[2019-10-28 09:32] erohmensing commented on #4678
Hi @cintahofmann, in the latest version you don't need/want to extract the file, rather the models will live in the models/ directory as tar.gz files. Is that helpful? If not, can you please post the output of the commands you are running?

[2019-10-28 09:34] erohmensing commented on #4674
Hi there @vsraptor, thanks for the bug report. This has already been fixed on our dev branch (https://github.com/RasaHQ/rasa/pull/4665) and is awaiting release :) in the meantime,
[code]
should fix the issue. (though I believe there may be another IL bug fix that is awaiting release as well 😅)

[2019-10-28 09:46] erohmensing commented on #4563
Sorry to have missed this, I got tagged just when going on vacation. Is this still a relevant issue? However, as far as I'm concerned this is a usage issue, which should be on the forum.

However I think the issue is likely that you're missing the `/webhook` on the endpoint url.

[2019-10-28 10:04] erohmensing commented on #4651
Closing as rasa-sdk 1.4.0 is released

Also, just to let you know, python 3.5 support was dropped in rasa 1.4.0: https://rasa.com/docs/rasa/changelog/#removed

[2019-10-28 10:04] #4651 closed

[2019-10-28 10:12] erohmensing commented on #4612
@wochinge to be clear you tackled the comment https://github.com/RasaHQ/rasa/issues/4612#issuecomment-543770679

but not the overall issue of this thread right? cause i just had a customer run into it as well

[2019-10-28 11:08] btotharye opened #4681 "Add Tests for closed issue #4586"
**Issue**:
Write tests for issue https://github.com/RasaHQ/rasa/issues/4586, tests should check for valid file response from the `/status` endpoint and not show a tmp location

[2019-10-28 11:08] btotharye commented on #4586
created new issue https://github.com/RasaHQ/rasa/issues/4681 to track the tests @wochinge so can we close this one out now?

[2019-10-28 12:03] Ghostvv commented on #4612
it'll happen as well if they have cycles due to checkpoints

[2019-10-28 12:16] cintahofmann commented on #4678
Hi @erohmensing, thanks for your response! :) When I try to just leave the unzipped file in the folder structure, I get the same error. This is what my dialogue management model looks like with the subfolder structure:

[code]

[2019-10-28 12:22] wochinge commented on #4612
Yes, I only tackled the comment https://github.com/RasaHQ/rasa/issues/4612#issuecomment-543770679 .

[2019-10-28 12:23] #4586 closed

[2019-10-28 12:24] Nomiluks commented on #4667
thank. yeah

[2019-10-28 12:27] btotharye opened #4682 "Twilio Connector Doesn't Use media_url option"
**Rasa version**: 1.4.x

**Python version**: 3.7.4

**Issue**:
The twilio connector doesn't use the new media_url options for sending the images as actual images instead of url links to click.

Payload example:
[code]

Example Screenshot:
![image](https://user-images.githubusercontent.com/1426587/67678405-e3765000-f95c-11e9-9742-0343200cbdf8.png)

We should be able to use the image payload from ra

[2019-10-28 12:30] cintahofmann commented on #4678
So, this is what happens when I delete the subfolder structure and just leave the unextracted tar.gz files (and take out the reference to the subfolders from the dialogue management model.py):

(aka it seems to be looking for the json that's inside the zipped model file)

[code]

[2019-10-28 12:32] wochinge opened #4683 "consolidate `sender_id` and `conversation_id`"
Currently we are both using `sender_id` and `conversation_id` in our code. This should be consolidated to `conversation_id`.

Based on this forum comment [https://forum.rasa.com/t/how-can-i-get-a-conversation-id-so-i-run-an-action-via-post-from-an-app/19987/5?u=tobias_wochinger](https://forum.rasa.com/t/how-can-i-get-a-conversation-id-so-i-run-an-action-via-post-from-an-app/19987/5?u=tobias_wochin

[2019-10-28 12:32] cintahofmann commented on #4678
And then, if I just copy over the metadata.json from the previously extracted model file, this happens - which makes no sense, as I trained the model literally yesterday using Rasa 1.3.9 (which is reflected in the file name of course):

[code]

[2019-10-28 12:33] tahamr83 opened #4684 "Train command crashes"
**Rasa version**:
1.4.1
**Rasa X version** (if used & relevant):

**Python version**:
3.7.3
**Operating system** (windows, osx, ...):
MacOs 10.14.6
**Issue**:
The train command crashes when trying to build the docker image for a bot.

**Command or request that led to error**:
[code]
**Error (including full traceback)**:
[code]
The same kind of error also occurs when trying to run the command local

[2019-10-28 13:00] wochinge commented on #4682
that's more an enhancement isn't it?

[2019-10-28 13:26] wochinge commented on #267
@tabergma Is there a board for the research team?

[2019-10-28 13:29] wochinge commented on #1031
@tmbo Is this still a todo?

[2019-10-28 13:30] #2816 closed

[2019-10-28 13:32] tmbo commented on #1031
yes that's fixed

[2019-10-28 13:32] #1031 closed

[2019-10-28 13:33] wochinge commented on #2971
@tmbo

[2019-10-28 13:33] tabergma commented on #267
Yes, https://github.com/orgs/RasaHQ/projects/21

[2019-10-28 13:34] #3064 closed

[2019-10-28 13:41] ftyers commented on #267
I get a 404 on that.

[2019-10-28 13:42] tmbo commented on #2971
Well, it is technically possible, you can use a persisted jobstore (https://apscheduler.readthedocs.io/en/latest/userguide.html#configuring-the-scheduler). The downside is, that for the reminder itself, even after a restart, the reminder will use the old agent.

[2019-10-28 13:47] wochinge commented on #267
Sorry, that's a link to an internal project board @ftyers . That's why you get the 404 :-)

[2019-10-28 15:03] akelad commented on #4216
@btotharye have you looked into the other part yet?

[2019-10-28 16:43] erohmensing commented on #4682
does this require upgrading the twilio wrapper?

[2019-10-28 16:44] erohmensing commented on #4674
Fixed in 1.4.2

[2019-10-28 16:44] #4674 closed

[2019-10-28 16:44] erohmensing commented on #4643
Fixed in 1.4.2. Thanks for pointing it out!

[2019-10-28 16:44] #4643 closed

[2019-10-28 16:46] erohmensing commented on #4639
@wochinge fixed and merged, oder?

[2019-10-28 16:47] #4639 closed

[2019-10-28 16:47] wochinge commented on #4639
github does not close the issues if you don't merge into master

[2019-10-28 16:50] erohmensing commented on #4639
Even if you do sometimes! (that's why i tried to add 2 issues to your release PR -- didn't work 😕

[2019-10-28 17:25] btotharye commented on #4682
not sure I need to look at the wrapper and see what it currently has but I'm hoping it already has this and just the connector needs to be updated

[2019-10-28 17:54] #4668 closed

[2019-10-28 17:55] jimbudarz commented on #4650
Thanks for your help, Alan. It turns out this error can be attributed to SpaCy issues, so it does not appear to be a RASA bug.

For anyone experiencing the same, please follow the SpaCy one instead: https://github.com/explosion/spaCy/issues/4545

[2019-10-28 18:24] jimbudarz commented on #4650
SpaCy recognizes that the model is installed and linked (see below), but Rasa X still gives the error `InvalidModelError: Model 'en_core_web_md' is not a linked spaCy model.  Please download and/or link a spaCy model, e.g. by running:
python -m spacy download en_core_web_md
python -m spacy link en_core_web_md en`

Verification that SpaCy recognizes the linked model:

$ python -m spacy info

    In

[2019-10-28 20:26] #4630 closed

[2019-10-28 23:20] jimbudarz commented on #4650
Turns out this model isn't compatible with spaCy 2.2.1. Issue is resolved by upgrading.

[2019-10-28 23:20] #4650 closed

[2019-10-29 08:16] wochinge commented on #4639
Mhm, will have to close things manually then 😢

[2019-10-29 08:25] wochinge commented on #4603
Hi @TheCedarPrince , @JulianGerhard21 ,

our team discussed how we can best add this to Rasa, and we think it would be best if you would set up a separate repository which includes the script and maybe some tests which verify that new releases didn't break things. If you need any help in setting this up, we are happy to support you there. We can then link to it from the docs so that it's visible t

[2019-10-29 09:44] akelad commented on #4668
@Nomiluks i guess you resolved it?

[2019-10-29 10:52] yulkes opened #4690 "Failed parsing Markdown training section header with colon (:)"
**Rasa version**: 1.4.2

**Rasa X version** (if used & relevant):

**Python version**: 3.7

**Operating system** (windows, osx, ...):
OS X
**Issue**:
A recently introduced regex parses Markdown section headers in the wrong way in training files.
This seems related to recently introduced code in
[code]
Which performs a greedy lookup.
For a section header such as `## synonym:10:00 am`, the section a

[2019-10-29 11:07] richie312 commented on #3632
I have MS VC 2019, yet i am facing lot of issues installing rasa simple

[2019-10-29 11:14] sara-tagger commented on #4690
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-29 11:14] sara-tagger commented on #4684
Thanks for the issue, @wochinge will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-10-29 11:32] erohmensing commented on #4690
I think this seems reasonable, I don't believe there is any reason why the synonym value couldn't contain a colon. Would you like to make a PR to fix it?

[2019-10-29 12:10] btotharye opened #4691 "Sometimes NLU requires retraining when domain file is changed"
**Issue**:
Branching off #4216 it has been brought up that changes to the domain file can lead to un-necessary retraining of the NLU data so need to investigate why changes to the domain file require retraining

Examples are changing of just the utterance leads to a retrain which should not occur

[2019-10-29 14:48] DiegoProtec commented on #4691
Something about #4659?

[2019-10-29 16:28] Nomiluks commented on #4668
yes thanks :)

[2019-10-29 18:15] btotharye commented on #4691
so @wochinge it appears if there is a syntax issue in the domain file that the code at https://github.com/RasaHQ/rasa/blob/master/rasa/importers/rasa.py#L63 keeps the domain in an empty state and so this then at https://github.com/RasaHQ/rasa/blob/master/rasa/train.py#L84 which I believe causes the NLU training to be kicked off still investigating but this is what I'm seeing so far

[2019-10-29 20:31] jplpereira opened #4694 "Rasa init shows traceback error on CTRL + C"
**Rasa version**: 1.4.0

**Rasa X version** (if used & relevant):

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Ubuntu 18.04.3 LTS

**Issue**:

Rasa init shows traceback error on CTRL + C

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of domain f

[2019-10-29 22:13] rgstephens commented on #3883
@wochinge I'm trying to get my custom tracker working again. Haven't touched it since June and I'm still running into the issue described in [#3867](https://github.com/RasaHQ/rasa/issues/3867). I'm running under 1.3.9.

Normally, I'd map the volume as I do with my actions file, but this is not working:

[code]

I've tried setting `PYTHONPATH` in the docker-compose but this also does not work.

[co

[2019-10-30 00:55] vsraptor opened #4695 "Inspecting data from the shell!"
**Description of Problem**:

https://forum.rasa.com/t/inspecting-data-from-the-shell/20607

**Overview of the Solution**:

**Examples** (if relevant):

Would it be very hard to inspect original data from the shell. Let me give example :

 hi
 hello
 howdy
 ....

#pipe is grep

hello

look in the forum for more ...
**Blockers** (if relevant):

**Definition of Done**:

[2019-10-30 07:00] sara-tagger commented on #4695
Thanks for submitting this feature request 🚀@amn41 will get back to you about it soon!✨

[2019-10-30 07:00] sara-tagger commented on #4694
Thanks for raising this issue, @federicotdn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-10-30 07:36] amn41 commented on #4695
It sounds like you are suggesting to extend the `cli` command to add functionality for exploring training data. I'm not sure what this would add beyond opening a text editor and running control+F ?

[2019-10-30 10:05] wochinge commented on #4691
@btotharye In case the domain is empty (e.g. due to a syntax error as you pointed out) it runs into https://github.com/RasaHQ/rasa/blob/f472c195e06ee8c2db9f104f047f97eda77364b7/rasa/train.py#L100 and it's not checked if the nlu part changed. We have to add / reuse a check whether the nlu sections changed.

[2019-10-30 10:07] wochinge commented on #4216
I close this issue now since the nlu part is covered in #4691

[2019-10-30 10:07] #4216 closed

[2019-10-30 10:43] wochinge commented on #3883
@rgstephens What about setting `PYTHONPATH=/app/trackerArango`?

[2019-10-30 10:51] akelad commented on #4691
as we discussed, this is kind of expected. but @wochinge if there's a syntax error imo training should fail, and not just continue with training an NLU model instead.

[2019-10-30 13:01] wochinge commented on #3243
@akelad Should we just do this at the initial connection attempt or also when the tracker store crashes somewhere in between? As far as I remember this should also handle the second case.

[2019-10-30 13:35] wochinge commented on #3243
Never mind, nearly through with the production code impl

[2019-10-30 13:47] DiegoProtec opened #4697 "KafkaEventConsumer"
**Description of Problem**:
I need to consume the kafka streaming, but don't exist this implementation in Rasa X, only RabbitMQ.
[Rasa X Deploy a Server](https://rasa.com/docs/rasa-x/deploy/)

**Overview of the Solution**:
Just add this code in rasa.x.community.services.event_service.py:
[code]
To call it, add a condition to the continuously_consume method, making sure event_broker's type equals k

[2019-10-30 14:45] DiegoProtec opened #4698 "Rasa - not has param event_broker for CustomTrackerStore"
**Description of Problem**:
Im using the Rasa X 0.21.4, your default version Rasa is 1.3.9 that not has event_broker param.
I can't set event_brocker using Raxa X version 0.21.4.

**Overview of the Solution**:
Update version Rasa 1.4.1 to Rasa X 0.21.4.

**Examples** (if relevant):
I need to pass the param event_broker for CustromTrackerStore like [there](https://github.com/RasaHQ/rasa/blob/master

[2019-10-30 16:53] akelad commented on #3886
I would say: `RegexFeaturizer` for both regex and lookup table definitions. `EntitySynonymMapper` for synonyms. `ResponseSelector` (i think that one might already throw warnings if you don't include it, but not sure). `CRFEntityExtractor` for any sort of entities that are present maybe too.
I think that's all, but may be worth double checking here: https://rasa.com/docs/rasa/nlu/components/#compon

[2019-10-30 17:25] akelad commented on #4612
@btotharye i just figured out what tobias meant - he fixed only the part in the comment here: https://github.com/RasaHQ/rasa/issues/4612#issuecomment-543770679
The original issue is still remaining, which you can work on (even if it's not necessarily to do with your original change)

[2019-10-30 17:32] erohmensing commented on #3883
@rgstephens based on the file structure in the container, I think you might be missing a step in how you define it: `trackerArango.ArangoTrackerStore`

It should be the path to the class in the module (from the working directory). So I think it should be `trackerArango.trackerArango.ArangoTrackerStore`, right?

Looking at
[code]

[2019-10-30 18:47] DiegoProtec commented on #4698
Im using the Rasa X 0.21.4, your default version Rasa is 1.3.9 that not has event_broker param.

[2019-10-30 22:57] rgstephens commented on #3883
Thanks, @erohmensing but that didn't work.

[code]

The customer is happy about the switch from Mongo to Postgres so I think we'll forget Arango. Let me know if you have other ideas for me to try but I'm moving on to other issues.

[2019-10-31 02:54] TheCedarPrince commented on #4603
Hey @wochinge - that sounds good.

Unfortunately, I am going to have to say no about creating the separate repository right now as I do not have the bandwidth to take it on. @JulianGerhard21 - do you?

The forum is a good idea! I will pop over soon and make a post. :smile:

Yours,
TheCedarPrince

[2019-10-31 07:00] sara-tagger commented on #4698
Thanks for submitting this feature request 🚀@erohmensing will get back to you about it soon!✨

[2019-10-31 07:00] sara-tagger commented on #4697
Thanks for submitting this feature request 🚀@Ghostvv will get back to you about it soon!✨

[2019-10-31 07:24] bishtamit commented on #2583
Thanks this works for me

[2019-10-31 08:24] kapoorh opened #4703 "Run Rasa X on HTTPS"
Hi,

I enable https of rasa core with the below command and rasa core is now running on HTTPS.

rasa run --ssl-certificate <.crt> --ssl-keyfile <.key> --enable-api -m models/

https://localhost:5005

But when I am trying to do the same stuff with rasa X
rasa x --ssl-certificate <.crt> --ssl-keyfile <.key>

then still its showing running on http://localhost:5002 not on HTTPS.

[2019-10-31 08:26] kapoorh opened #4704 "Run RASA X on HTTPS"
Hi,

I enable https of rasa core with the below command and rasa core is now running on HTTPS.

rasa run --ssl-certificate <.crt> --ssl-keyfile <.key> --enable-api -m models/

https://localhost:5005

But when I am trying to do the same stuff with rasa X
rasa x --ssl-certificate <.crt> --ssl-keyfile <.key>

then still its showing running on http://localhost:5002 not on HTTPS.

[2019-10-31 08:28] erohmensing commented on #4703
hi @kapoorh, running rasa x on SSL is currently only supported on Rasa X EE. https://rasa.com/docs/rasa-x/rasa-x-changelog/#id28

[2019-10-31 08:29] #4703 closed

[2019-10-31 08:29] erohmensing commented on #4704
duplicate of #4703

[2019-10-31 08:29] #4704 closed

[2019-10-31 08:31] erohmensing commented on #4698
Hi @DiegoProtec, If you want to use rasa >=1.4.0, you should update to Rasa X >= 0.22.0. The rasa dependency of Rasa X 0.21.4 will not get updated.

[2019-10-31 08:52] amn41 commented on #4703
@kapoorh  check out step 9 here for how to put everything behind https https://rasa.com/docs/rasa-x/deploy/ - you just need to provide some certs. What @erohmensing says is right but that's only if you want SSL termination inside the container. In a normal Rasa X setup you have nginx acting as a proxy and that can hold your ssl certs

[2019-10-31 10:05] btotharye commented on #4612
ok makes sense now so the original issue that this was filed for is what actually needs to be looked at by me then, gotcha.

[2019-10-31 10:10] kapoorh commented on #4703
Hi @amn41 , @erohmensing ,
Thanks for the quick reply. And got your point to raise the same such type of questions on rasa forum and I did the same. https://forum.rasa.com/t/run-rasa-x-on-https/20680

I want to run rasa x on https without docker.

[2019-10-31 10:19] ricwo commented on #4697
@DiegoProtec , thanks for your suggestion! a Kafka consumer would definitely be a useful addition to the existing Kafka producer. Would you like to contribute your suggestion and open a PR? We can discuss implementation details there

[2019-10-31 10:23] naveen-bot opened #4705 "switch config backup script"
Hi All,

I am running python script for configuration backup of Cisco switch. But I am getting below error. Kindly someone help me what i am doing wrong

Error

root@NetworkAutomation-1:~# ./getconfigs.py
Enter your telnet username: naveen
Password:
get run-config of 192.168.122.121

Traceback (most recent call last):
  File "./getconfigs.py", line 31, in <module>
    saveouput.write(readoutput)
N

[2019-10-31 10:57] btotharye commented on #3886
@akelad I guess it does a warning for the `ResponseSelector` if its missing in the config.yml but your training data includes response selector data.  So I can just use this as an example for the others I guess.

[code]

[2019-10-31 11:28] DiegoProtec commented on #4697
@ricwo Thank you so much!!!

[2019-10-31 11:34] DiegoProtec commented on #4698
Hi @erohmensing, the version 0.21.4 is installed when I dont especific it, where can I see the Rasa X latest version?

[2019-10-31 11:34] btotharye commented on #3886
I'm going to work on the `RegexFeaturizer` first does anyone know if it also requires `CRFEntityExtractor` as well?  It seems like from the doc's you would need both but from testing with a basic zipcode I can get either to work by only supplying one or the other in the config.  Just wanted to verify so I ensure what warnings to specifically check for.  I'll start with both being required for now

[2019-10-31 12:06] btotharye commented on #3886
So looks like from the initial testing for the object it only gives `text_features` when it finds things related to text including the regex so that will be hard to verify in current state.

I am however able to get the regex pattern info out of the training data if we can just find an easy way to update this `components.provides` object to have a regex specific option, I'm looking into this part

[2019-10-31 12:16] erohmensing commented on #4698
Ah no problem, the issue is that you have to pass the ``--upgrade`` flag to pip. e.g.
[code]

[2019-10-31 12:18] DiegoProtec commented on #4698
@erohmensing Thank you so much!!!

[2019-10-31 12:18] #4698 closed

[2019-10-31 12:24] erohmensing commented on #4698
Sure thing!

[2019-10-31 12:34] btotharye commented on #3886
I was able to get around the issue and for now found one of the objects was for `RegexFeaturizer` so I have that working now.

[2019-10-31 13:00] sara-tagger commented on #4705
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2019-10-31 13:00] #4705 closed

[2019-10-31 13:17] amn41 commented on #4703
you can do this without docker, but you will still have to run a proxy server in front of rasa x to do the ssl termination. Rasa X CE doesn't handle SSL certs

[2019-10-31 13:27] kapoorh commented on #4703
Thanks Alan!!
I think this feature should be in Rasa X CE version as well :)

[2019-10-31 14:48] btotharye commented on #4612
Looks like it happens to me with a basic setup without any `OR` or `checkpoints` it just processes super fast so I never noticed it before:

[code]

[2019-10-31 17:02] karthikpirati commented on #3323
I got this issue when i try to install rasa.
I resolved this issue by installing anaconda.
Go to Anaconda prompt and execute below command

[2019-10-31 17:41] yulkes commented on #4690
Sure. Any special permissions I need?

[2019-10-31 18:56] erohmensing commented on #4690
Nope, just fork the repo, create a branch for your fix, and open a PR! 😃

[2019-10-31 21:25] eric-bonfadini commented on #4512
I had a look at the requirements + requirements_dev in current master, and installing version 3.0.2 should be fine:
[code]
It looks like it's the only conflicting the requirement, as far as I can see.

Compatibility scores from dependabot (e.g [this for 3.0.1](https://dependabot.com/compatibility-score/?dependency-name=jsonschema&package-manager=pip&previous-version=2.6.0&new-version=3.0.1) and [t

[2019-11-01 01:57] pnandhini11 commented on #3865
Hi Rasa Team, I would like to take up this issue and work on this to solve it.  This is the first time I am trying to contribute to Rasa Application.

[2019-11-01 06:26] janani950 commented on #3189
hi,am trying to validate start_date and end_date :
code:
______________________________________
def validate_start_date(
        self,
        value: Text,
        dispatcher: CollectingDispatcher,
        tracker: Tracker,
        domain: Dict[Text, Any],
    ) -> Dict[Text, Any]:

        if  parse(value) and value>start_date:
            return {"start_date": value}

    def validate_end_date(

[2019-11-01 08:43] erohmensing commented on #3189
@janani950 open up this question on the [forum](http://forum.rasa.com) and we will be able to help you out :)

[2019-11-01 09:37] erohmensing commented on #3865
Hi there @pnandhini11, sorry this issue is a little out of date! This one was actually closed in https://github.com/RasaHQ/rasa/pull/4675, so I will close this issue. However, we'd still love for you to contribute -- check out the other open issues, or perhaps something like [this](https://forum.rasa.com/t/how-to-run-rasa-interactive-in-a-different-port/10517/6) would be another option.

[2019-11-01 09:37] #3865 closed

[2019-11-01 09:39] erohmensing commented on #4550
@pbouda were you able to get past this issue?

[2019-11-01 09:54] erohmensing opened #4709 "add port argument for rasa interactive"
**Description of Problem**:
We can currently run a rasa server and a rasa x server on a specified port instead of the default, but there is no option to do this for `rasa interactive`. https://forum.rasa.com/t/how-to-run-rasa-interactive-in-a-different-port/10517/6

**Overview of the Solution**:
* Add a `-p, --port` argument to `rasa interactive`
* Serve the application on the port if given, or on

[2019-11-01 09:59] erohmensing commented on #4487
This also happens if you are using a different connector, e.g. If you normally run with socket and then are testing in `rasa shell`. So we should only show the exception if the `socketio` channel is active.

[2019-11-01 10:56] erohmensing opened #4710 "default intents should not raise undefined parsing error"
these aren't defined in the domain, but they are valid intents, and should not log an error. In addition, I think if you add default intents to your domain it might actually break things... (unconfirmed)
[code]

[2019-11-01 11:40] jplpereira commented on #4694
I already solved the bug. I'll send the PR for review soon.

[2019-11-01 11:52] btotharye commented on #3886
ok I have a PR now for all the checks mentioned and awaiting review at https://github.com/RasaHQ/rasa/pull/4706

[2019-11-01 12:29] btotharye commented on #4612
Looking into why this happens I've been able to reproduce this with the rasa-demo code as well and you can see the issue there since it has more data and takes a few with the story blocks before you can talk to it.

Should have updates shortly on it.  Thanks

[2019-11-01 13:08] wochinge commented on #4623
This will be fixed in the next release. I increased the Sanic response timeout.

[2019-11-01 13:41] tschnoelzer opened #4712 "template processing for facebook channel"
**Rasa version**: Rasa 1.4.0

**Python version**: Python 3.7.3

**Operating system** (windows, osx, ...): MacOS

**Issue**: template generator in facebook.py is not taking into account, that field "buttons" in list of "elements" is optional.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

The cause is identified in facebook.py as the iterator tries

[2019-11-01 14:02] pnandhini11 commented on #4709
Hi, I am interested to take up this issue and work on it.  Pls let me know.

[2019-11-01 14:04] erohmensing commented on #4709
Awesome @pnandhini11! I'll assign you to the issue. Let me know if you need any help :) Do you know how to open a PR against our repository in general?

[2019-11-01 14:09] erohmensing commented on #3999
@PierreFG could you clarify the description of the problem and if it persists?

[2019-11-01 14:10] erohmensing commented on #4163
Hey @samzer, how is it going? Are you still working on this issue, and if so, anything we can do to help?

[2019-11-01 15:37] eibhleag commented on #4479
Hi Chris - we've been trying to reproduce this issue and it doesn't seem to appear with any particular pattern. It'll happen on one machine and then not another with identical configuration.

One thing we have noticed is that the same configuration can start / stop exhibiting this behaviour when Rasa X is restarted. Are you running Rasa X continuously between changes to your model?

[2019-11-01 18:09] tangochris commented on #4479
@eibhleag Yes, we are usually running Rasa X continuously between model changes. It's not natural to restart it, as the people working on the model do not have access to the server command line.

[2019-11-01 20:14] Polarisation commented on #3999
@erohmensing
The issue is with the [/model/train API endpoint](https://rasa.com/docs/rasa/api/http-api/#operation/trainModel).

In 1.x it requires the NLU training data (in the `nlu` property) to be specified as a Markdown-formatted string.

The [equivalent 0.x API endpoint](https://legacy-docs.rasa.com/docs/nlu/http/#post-train) allowed NLU training data to be provided in JSON format. Anyone upgr

[2019-11-01 21:11] tangochris opened #4713 "Rasa sends entire conversation history to NLG server, causing "Request Entity Too Large" errors"
**Rasa version**: 1.4.3
**Rasa X version**: 0.22.0

**Issue**: In request to NLG server, Rasa sends entire event history. If a conversation is long, the API request to NLG server gets very large and causes errors.

Please provide a method to limit the amount of history sent to the NLG server. This may be tangentially related to #3011.

**Error**:

Python warning from logs:
[code]

Error from our N

[2019-11-02 08:04] JulianGerhard21 commented on #4603
Hi @wochinge, @TheCedarPrince

Sorry for the late reply. I had some private incidents pro manage. I think this is a good idea/approach and I would be willing to work on this. However this cant be done in a few days IMHO so I need some time to think about the things to prepare.

I would come back to you with feedback asap!

Thanks for the support!

Regards
Julian

[2019-11-02 09:05] erohmensing commented on #3999
@Polarisation that was my interpretation as well, but @Archish27 said that providing it in json format seems to have worked fine. I haven't had time to try it out myself but that's why I wanted to ask @PierreFG if the problem still persisted.

[2019-11-02 09:24] ricwo opened #4714 "Assign app ID header in RabbitMQ"
The origin of RabbitMQ messages should be transmitted for published messages using the `App ID` message property

[2019-11-02 11:48] samzer commented on #4163
Hey Ella,

Sorry, for not completing this. Yes, I'm working on this. I figured out the part of the code to make the updates.

So I'll do the following:-
- Update the code
- Update the documentation corresponding to this

Anything else that I should take care of?

[2019-11-02 12:49] Polarisation commented on #3999
@erohmensing It might be that passing JSON does already work as reported by @Archish27 (I haven't tried myself), but even still I think it should be documented [here](https://rasa.com/docs/rasa/api/http-api/#operation/trainModel) before the issue is closed.

[2019-11-02 12:54] erohmensing commented on #4163
No worries! Just wanted to make sure you still wanted to tackle it, or I would have opened it up to someone else. Those steps look good, just a few things to add
* update API spec (https://github.com/RasaHQ/rasa/blob/master/docs/_static/spec/rasa.yml) though this is probably where all of the documentation corresponding to this issue will be anyway
* add a changelog entry

[2019-11-02 14:58] cyberdroidmann commented on #3606
I am currently having same issue runnig ```rasa x``` , it does not seem to listen on port 5002 and 5005

[2019-11-02 15:00] llermaly opened #4716 "Support for withLatent duckling option"
**Description of Problem**:

withLatent option in duckling (search for latent dates) comes disabled by default

**Overview of the Solution**:

Add withLatent option to duckling pipeline configuration

**Examples** (if relevant):

search for '2019' doesnt work search for 'in 2019' grabs the date duckling website grabs the date without the "in" because uses the old version of duckling

Thanks

[2019-11-02 15:43] OliverWalter commented on #4653
I have the same issue with Ubuntu 18.04. What I found suspicious is that when running
`docker run -it --entrypoint /bin/bash -v $(pwd):/app rasa/rasa`
The user id shows up as 1001 and even a simple `touch` leads to a permission denied.
[code]
Yet interestingly an empty folder models is created with root:root permissions on `rasa init` (but crashing with the same error as in the original post)

[2019-11-02 15:51] OliverWalter commented on #4653
Changing permissions of $(pwd) used for the volume to 1001:root fixes the issue since my own user has a different id to 1001. Presumably this bug can only be reproduced if you are non running as the "first created user" on the system.

[2019-11-03 00:34] TheCedarPrince commented on #4603
Hey @wochinge and @JulianGerhard21,

I added the news to the [Rasa Forum](https://forum.rasa.com/t/running-rasa-on-the-rpi-4-with-raspbian-buster/20805) and am now waiting to hear from the community about the script.

Sounds good @JulianGerhard21 - hope all is well! Chat later.

Yours,
TheCedarPrince

[2019-11-03 05:39] samzer commented on #4163
Sure.

[2019-11-03 16:31] dimitriosp commented on #1398
Hello there,
any update on this topic?
Best

[2019-11-03 23:47] vsraptor opened #4719 "Flatten my .md file !!"
**Rasa version**: 1.3.9

**Rasa X version** (if used & relevant):
how do I get it ?

**Python version**:
3.6
**Operating system** (windows, osx, ...):
linux
**Issue**:

Let say I have  retrevial-response .md intent file :

[code]

It seems that when I do something (dont know exactly what ) in RasaX it flattens my .md file !!?
It also reorders my nlu.md file !?!? makes it harder finding stuff
[code

[2019-11-04 05:39] sarmilaupadhyaya opened #4720 "Mattermost request not being parsed. Error: raise InvalidUsage("Failed when parsing body as json")"
I am trying to add matter most as the bot platform for RASA. Meanwhile, my request from matter most is

b'channel_id=channelid&channel_name=channelname&file_ids=&post_id=postid&team_domain=name&team_id=team-id&text=%40testbot++hello&timestamp=1572845451&token=token-id&trigger_word=&user_id=user-id&user_name=username'

And Iam getting error:

![image](https://user-images.githubusercontent.com/84649

[2019-11-04 07:00] sara-tagger commented on #4720
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2019-11-04 07:00] #4720 closed

[2019-11-04 07:00] sara-tagger commented on #4719
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-11-04 07:00] sara-tagger commented on #4716
Thanks for submitting this feature request 🚀@btotharye will get back to you about it soon!✨

[2019-11-04 07:00] sara-tagger commented on #4713
Thanks for the issue, @tabergma will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-11-04 07:00] sara-tagger commented on #4712
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-11-04 08:27] #4474 closed

[2019-11-04 08:38] murtuzamdahod commented on #4674
Thanks alot

[2019-11-04 09:16] tabergma commented on #4713
@tangochris Thanks for the issue and the detailed description.

Do you want to fix the bug yourself and create a PR for it? Otherwise, I'll add it to our backlog and we will fix this as soon as possible.

[2019-11-04 09:49] erohmensing commented on #4674
@murtuzamdahod this was officially fixed as well, so instead of pinning it yourself, you can also
[code]

:)

[2019-11-04 09:55] himanshuteotia commented on #2234
I am also getting the same error
`Traceback (most recent call last):
  File "/home/himnashu/anaconda3/envs/RASA_NEW/bin/rasa", line 8, in <module>
    sys.exit(main())
  File "/home/himnashu/anaconda3/envs/RASA_NEW/lib/python3.6/site-packages/rasa/__main__.py", line 76, in main
    cmdline_arguments.func(cmdline_arguments)
  File "/home/himnashu/anaconda3/envs/RASA_NEW/lib/python3.6/site-packages/

[2019-11-04 10:02] amn41 commented on #4713
its not quite so straightfoward, because for example in the default NLG implementation you can use slots to fill in data. So at the very least slots need to be passed along as well. So maybe we can send the tracker but give the user the option to exclude the list of events?

[2019-11-04 10:13] akelad opened #4721 "Don't show OOV warnings for intents/responses"
currently there's a warning shown that NLU can't find the OOV token whenever you train a model with this configured:
[code]

I suspect these warnings come during intent featurization, and response selector featurization. This warning shouldn't be shown during the intent stage at all, and for response selector only when it's not empty. We should maybe also specify for which part the warning is thro

[2019-11-04 11:29] Ghostvv commented on #1398
@dimitriosp `tf.data.Dataset` are implemented in the current version of rasa

[2019-11-04 11:31] Ghostvv commented on #4719
Thank you for raising the issue, unfortunately response selector format is not yet supported by rasa-x

[2019-11-04 11:33] dimitriosp commented on #1398
@Ghostvv

Can you elaborate how to activate this?
When I try to update to tensorflow-gpu, with the newest rasa, the versions mismatch (which one should I use? could not find a tutorial with gpu & rasa).

And do you have a comparison for the performance gain?

best

[2019-11-04 12:36] wochinge commented on #4512
Thanks for checking that! Would you be willing to submit a PR for the required changes? (Means changing that in `requirements.txt` + `setup.py`?

[2019-11-04 12:53] wochinge commented on #4712
Thanks for the detailed error description! `element.get("buttons")`  should also fix it. Would you mind doing a PR with a fix? That would be great 🎉

[2019-11-04 17:12] tangochris commented on #4713
@tabergma @amn41 As Alan inferred, I think this might be better for you to do as there are a lot of implications.

As a near-term fix, an option to exclude or limit the list of events would solve our problem.

I would imagine that longer-term, you may want to limit the events as the default. Oftentimes this issue won't surface during development because there won't be enough turns in test conversa

[2019-11-04 18:03] harini1191 opened #4723 "Cannot train initial Rasa model. Please provide NLU and Core data using the '--data' argument."
hi
my rasa model is not working and throwing the error
Cannot train initial Rasa model. Please provide NLU and Core data using the '--data' argument

[2019-11-04 18:37] #4633 closed

[2019-11-04 21:01] eric-bonfadini commented on #4512
Here you go!

I don't have access to the URL mentioned in the original ticket (RasaHQ/roadmap#695), therefore if this PR won't close the issue and some work is still missing, please modify the PR's description accordingly.

[2019-11-04 21:33] vsraptor commented on #4719
i see ... but the nlu file for response selector have the same format ... it looks like a problem with the complex intent on the surface !!

`## intent: faq/basic_syntax+identifier_format`

[2019-11-05 07:00] sara-tagger commented on #4723
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2019-11-05 07:00] #4723 closed

[2019-11-05 08:13] Ghostvv commented on #1398
it is activated by default. Which versions mismatch? The training time will be about the same

[2019-11-05 08:14] Ghostvv commented on #4719
the problem is with response selector id after intent, rasa-x doesn't support printing it yet

[2019-11-05 09:14] wochinge commented on #3606
@cyberdroidmann Same as @laxmikantG ,

could you please provide us some more information so that we can reproduce the error?

[2019-11-05 09:20] wochinge commented on #4603
@JulianGerhard21 Sure, take all the time you need!

@TheCedarPrince Thanks for creating the post!

[2019-11-05 12:03] btotharye commented on #4716
hey @llermaly do you mind sharing more info around how you have your training data setup for this as well so I can confirm a few things before I add this to our list.

I just mainly want to reproduce this and have some information to supply with the issue.

Thanks

[2019-11-05 12:22] llermaly commented on #4716
Hello @btotharye , this are the files I'm using :

https://gist.github.com/llermaly/2593545187b6478694be54aad1d579d3

What I did was to download and compile duckling and change the withLatent value to True in the Time/Types.hs file :

https://github.com/facebook/duckling/blob/master/Duckling/Time/Types.hs

Would be nice to have this option in the pipeline or duckling container itself.

Regards

[2019-11-05 12:48] btotharye commented on #4716
ok thanks yea I'm testing out a few things and seeing what we can do for that.

[2019-11-05 13:36] FlorianWeigang commented on #1398
@Ghostvv "The training time will be about the same" so this means no performance gain on training?

[2019-11-05 13:39] btotharye commented on #4716
so @llermaly this would require us updating our fork we use which I'm working on and after that would then require the customization you are talking about.  Would you be up for tackling that after we get the repo updated to support the `withLatent` option?

[2019-11-05 13:57] aejaex opened #4728 ""Received an action call without an action" - Custom Actions, POST Request"
**Rasa version**: 1.4.3

**Python version**: 3.7

**Operating system** (windows, osx, ...): Mac OS X High Sierra

**Issue**: Custom Action via POST Request not working

**Error (including full traceback)**: I have set up a custom action and defined it in my domain.yml, and also set up the endpoint in endpoint.yml at "http://localhost:5055/webhook", however, when I call the post request I get a 200

[2019-11-05 14:28] llermaly commented on #4716
@btotharye sure, I'm glad to help in all I can. This project is finishing soon so I hope to hear news from you before it finishes

[2019-11-05 14:46] nishant-roambee commented on #3880
Exactly what was bothering me. What comes with RASA by default doens't cut it for our use case. We needed to detect UUID v4 and IMEI numbers and some other internal hardware specific identity patterns and I expected it to simply work, but even after providing couple of examples, it detects match to match and fails to generalize.
The custom class you provided was just the thing I was thinking of im

[2019-11-05 15:38] mihai-satmarean commented on #3919
some kind of workaround would be beneficial, I got inspired by the new videos masterclass but I cannot continue. thanks!

[2019-11-05 20:01] #3243 closed

[2019-11-06 04:21] arunabh09 opened #4729 "Add X-XSS-Protection HTTP Header for RASA Core server request- http://<hostname>:5005"
**Description of Problem**:

This feature is needed to address cross site scripting security vulnerabilities and other headers as per need.
https://forum.rasa.com/t/add-x-xss-protection-http-header-for-rasa-core-server-request-http-hostname-5005/20741?u=arunabh09

**Overview of the Solution**:

 A possible solution which I have implemented is to modify the run.py file which uses sanic server imple

[2019-11-06 07:00] sara-tagger commented on #4729
Thanks for submitting this feature request 🚀@wochinge will get back to you about it soon!✨

[2019-11-06 07:00] sara-tagger commented on #4728
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-11-06 08:21] JEM-Mosig commented on #4340
Same issue on `rasa init` bot with minimal modifications. This feature is critical for Carbon Bot. I'll look into it today, but any help is welcome.

[2019-11-06 08:28] mroyce1 opened #4730 "Spacy model won't train. Freezes at "[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.""
Hi,

when using spacy, rasa won't train the NLU model. It preoceeds until `[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.` and then just stays like this forever.
I tried several operating systems and python versions, but the problem persists. I don't think it's an issue of "giving it more time". I think it just freezes.

While I do have a lot of training data, sup

[2019-11-06 09:17] IzidoroBaltazar opened #4731 "nlu/story file detection (regex)"
**Rasa version**:
1.4.3

**Rasa X version** (if used & relevant):

**Python version**:
3.6
**Operating system** (windows, osx, ...):
linux

**Issue**:
When rasa decides whether given file is NLU or story file, it uses newly introduced regex.
file: `rasa/nlu/training_data/loading.py`
[code]
This regex incorrectly detects some files as NLU instead of story.

This behavior is unfortunate. I would pre

[2019-11-06 09:18] erohmensing commented on #4728
Hi there @aejaex. From your code, it looks like you're posting to `/webhook`, not `/conversations/default/execute`. The latter is the correct endpoint for the external actions, can you confirm which you're using when you're getting the "received an action... " warning?

Also, what channel are you using to test this functionality?

[2019-11-06 10:57] aejaex commented on #4728
Hello @erohmensing, I tried using "/conversations/default/execute", however I get a 404 error in my terminal when I post to it. My full URL for POST requests is:

http://localhost:5055/conversations/default/execute

and I have defined the same in my endpoints.yml file as well....

This is my POST request code:

/////////////////////////////
import requests
import json

url = "http://localhost:5055

[2019-11-06 11:43] ensarsolutions commented on #4668
How Did you resolve the issue

[2019-11-06 12:22] JEM-Mosig commented on #4340
When I add the logger to the `__scheduler`, I get
[code]
and then nothing happens. As Tanja pointed out, there is probably something blocking the event loop.

[2019-11-06 12:29] erohmensing commented on #4728
What command are you using to run your server? In order to use the /conversations/default/execute endpoint, you have to enable the api with the `--enable-api` flag.

[2019-11-06 12:56] DiegoProtec opened #4733 "Rasa X - Migration database error"
**Rasa version**:1.4.3

**Rasa X version**:0.22.1

**Python version**:3.6

**Operating system**:windows

**Issue**:
The Rasa X can't finish the database migration to oracle.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2019-11-06 13:00] sara-tagger commented on #4733
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-11-06 13:00] sara-tagger commented on #4731
Thanks for raising this issue, @btotharye will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-11-06 13:00] sara-tagger commented on #4730
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗