[2019-12-19 13:01] samscudder commented on #4995
Actually... looks like this is the problem. The default value for use_cls_token was changed from False to True.

https://github.com/RasaHQ/rasa/commit/3b51563dc49830f4e5f9a09ebd823c5f7eb563ef

[2019-12-19 13:05] tmbo commented on #4995
@samscudder thanks a lot for the report.

@tabergma in the previous implementation, we actually checked if the `use_cls_token` config key is actually set, is there a reason why we don't do that anymore? https://github.com/RasaHQ/rasa/commit/3b51563dc49830f4e5f9a09ebd823c5f7eb563ef#diff-647f9ebc7a8ac8043482039acae61395R29

(e.g. why not go with something like `self.component_config.get("use_cls_tok

[2019-12-19 13:12] tabergma commented on #4995
The default value should be set to `False` for now. We wanted to make users aware that something changed and that they should update their custom components. Thus, we added the error.
We will remove the option `use_cls_token` soon again. Then, every tokenizer should set it by default. This change is needed for the new NLU model we want to release beginning of next year.

[2019-12-19 13:19] samscudder commented on #4995
Shouldn't this be a warning instead of an error then?

[2019-12-19 13:34] juanmariareina opened #4997 "Cannot disable CORS protection"
Hi, all!

We just trying to connect from our web portal (in our development enviroment) to our RASA (also in our development enviroment, not the same server)

Rasa is started as following:

rasa run -m models --enable-api --cors ["*"]

So, when we try to connect from our portal, the following error is shown:

Access to fetch at 'http://172.23.0.47:5005/conversations/0a6cf190-26a2-46b7-9f2c-ca00ba0

[2019-12-19 13:38] samscudder commented on #4995
To help anybody else that has this problem while you decide what needs to be done...,  the recommended course or action for < 2.0 would be to add ```use_cls_token: false``` to the config.yml for my component then?

[2019-12-19 13:41] tabergma commented on #4995
For custom tokenizer you should add
[code]
to your default dict in your custom components.

For custom featurizers you should add
[code]
to your default dict in your custom components.

Will update the docs and print warning instead of the error.

[2019-12-19 13:51] wochinge commented on #1035
Ok, then I close this issue for now.

[2019-12-19 13:51] #1035 closed

[2019-12-19 13:53] wochinge commented on #4713
Yes! I'll this issue then.

[2019-12-19 13:53] #4713 closed

[2019-12-19 13:54] federicotdn commented on #4775
I think this is a question @TyDunn could answer better, but it definitely sounds like a useful features to have (we would need to update the `/model/train` endpoint of Rasa so that it accepts an `augmentation` parameter).

[2019-12-19 14:16] erohmensing commented on #4997
Hi @juanmariareina, does it work if you remove the brackets?
[code]

[2019-12-19 14:22] Jason-2020 opened #4999 "Is https://rasa.com/docs/ available to edit?"
**Description of Problem**:
Is https://rasa.com/docs/ docs available to edit? I assume https://github.com/RasaHQ/rasa/tree/master/docs is not the one on the website.
 I just wasted couple of days trying to setup Rasa on Windows 10 machine. Everytime I hit some error, I've found some workarounds here and there but I believe this should be documented on official docs. For example, Rasa requires Nvid

[2019-12-19 14:26] kapoorh commented on #4768
That's cool @eibhleag !! Thanks for an update.

[2019-12-19 14:31] erohmensing commented on #4999
why do you assume that? That is where all the suggest edit links go, and indeed is what goes on the website. (well technically those docs go to the https://rasa.com/docs/rasa/master/ docs and the branch of the latest tag is the main page documentation, but you get the point)

[2019-12-19 14:38] juanmariareina commented on #4997
Honestly, I don't understand what is happening. I did what you suggested, and it worked, but...
I had to restart server and now what I'm seeing is this:

rasa run -m models --enable-api --cors "*"
No chat connector configured, falling back to the REST input channel. To connect your bot to another channel, read the docs here: https://rasa.com/docs/rasa/user-guide/messaging-and-voice-channels

[2019-12-19 14:40] Jason-2020 commented on #4999
Okay. Is it possible to add "Edit this page on Github" button? It would be much easier to find relevant pages.

[2019-12-19 14:47] testphys opened #5000 "Rasa x HTTP API /conversations/{conversation_id}/events ~/debug-dump.md ~/debug-dump.json throwing errors"
**Rasa version**: 1.3.9

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant): 0.21.6

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:  I get a 405 error on /conversations/{conversation_id}/events and 404 errors on ~/debug-dump.md and ~/debug-dump.json. I used the helm chart to deploy rasa-x.

**Error (including full traceback)**:
[code]
[c

[2019-12-19 14:47] juanmariareina commented on #4997
Well, it works!

I'd swear I've tried with and without brackets, before open this issue. I've only have to fix the redis connection... Does it have something to do with my problem?

[2019-12-19 14:48] erohmensing commented on #4999
At the top of that page, there is a `Suggest Edits` button under the header.

[2019-12-19 14:58] Jason-2020 commented on #4999
Oh I see. I'm blind :angry:

[2019-12-19 14:58] #4999 closed

[2019-12-19 15:16] wochinge commented on #3153
How is it going @icaropires ?

[2019-12-19 15:17] erohmensing commented on #4999
No problem 😄maybe we should make it bigger

[2019-12-19 16:20] rgstephens commented on #4958
Thanks for reporting this. Marking this as a bug.

[2019-12-19 16:57] erohmensing commented on #4390
not stale, in discussion atm

[2019-12-19 17:04] juanmariareina opened #5002 "Error when using SSL"
I'm trying to start RASA with SSL, since our portal is accesed via https:

`rasa run -m models --ssl-certificate /home/jmreina/rasa_cert/rasa.crt --ssl-keyfile /home/jmreina/rasa_cert/rasa.key --enable-api --cors "*"&`

But there is an error:

`jmreina@rasa-chatbot:~/project$ 2019-12-19 17:08:53 INFO     engineio.server  - Server initialized for sanic.
Enter PEM pass phrase:
Traceback (most recent

[2019-12-19 17:05] #4997 closed

[2019-12-19 17:16] juanmariareina commented on #5002
Well, I managed to fix this. The point is to use a no-password key. My apologies!

Hope this experience helps the other users!

[2019-12-19 17:16] #5002 closed

[2019-12-19 17:47] erohmensing commented on #5002
Thanks for posting the solution!

[2019-12-19 18:08] erohmensing commented on #4997
No idea, i don't think redis should interact with it at all 😄

[2019-12-19 18:14] ArjaanBuijk opened #5003 "Explain in documentation that lookup table names do not need to match entity name"
For clarity, it is good to repeat in the lookup table description the same explanation as is given for the regex description:

[code]

[2019-12-19 21:08] samscudder opened #5004 "Loss of confidence in Rasa > 1.6.0 nlu (compared to 1.4.6)"
**Rasa version**: 1.4.6 / 1.6.0

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.6.9 (anaconda)

**Operating system** (windows, osx, ...): RHEL 7 (Centos)

**Issue**: After upgrading from Rasa 1.4.6 to 1.6.0, the latest version trains a lot faster (05:23.830 against 12:48.062 for 1.4.6). The speed gain is in the EmbeddingIntentClassifier,

[2019-12-19 21:58] ricwo commented on #5000
Hi @testphys, thanks for raising this issue! Rasa X doesn't actually have the `GET /events` endpoint - this is a mistake in the API spec and we'll be sure to update it. The debug dumps are not accessible via dedicated endpoints anymore - you can get either of them from the `GET /conversations/id` endpoint by specifying the `Accept` header as either `application/json` (to get the NLU data json dump

[2019-12-20 03:54] icaropires commented on #3153
@wochinge Sorry, I've been busy but I'll be working on this on the next week!

[2019-12-20 07:00] sara-tagger commented on #5004
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-12-20 07:16] ravikrcs commented on #4606
This is my action file that gives timeout error

![human_action](https://user-images.githubusercontent.com/31586794/71237096-9ee8ae80-2326-11ea-8a57-8f380092ee0d.PNG)

[2019-12-20 07:22] ravikrcs commented on #4606
Here is my action file that gives timeout error:

![gitaction](https://user-images.githubusercontent.com/31586794/71237455-8f1d9a00-2327-11ea-89d7-4a15db487a2f.PNG)

[2019-12-20 12:07] tahamr83 opened #5005 "FormActions `run` is not async"
**Rasa version**:
rasa==1.6.0
**Rasa SDK version** (if used & relevant):
rasa-sdk==1.6.0
**Rasa X version** (if used & relevant):

**Python version**:
3.6.6
**Operating system** (windows, osx, ...):

**Issue**:
Apparently the FormAction's run is not defined as an async function. Is that left out deliberately?

**Error (including full traceback)**:
[code]

**Command or request that led to error**:

[2019-12-20 12:18] ihtisham0331 commented on #2942
can you explain how we can resolve this issue

[2019-12-20 12:21] sushilr007 commented on #4986
Hello did you find anything about this?

[2019-12-20 13:00] sara-tagger commented on #5005
Thanks for the issue, @amn41 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-12-20 13:09] muelerma opened #5006 "Google Hangouts Chat connector"
**Description of Problem**:
Currently Rasa is lacking an out-of-the-box Google Hangouts Chat integration. A few requests have been made in the forum for this (see [here](https://forum.rasa.com/t/is-it-possible-for-rasa-to-integrate-with-facebook-workplace-and-google-hangouts/4766) and [here](https://forum.rasa.com/t/google-hangouts/11653)), and in general Hangouts Chat is quite popular for interna

[2019-12-20 13:12] Arjunsankarlal opened #5007 "SpacyTokenizer load time is too high"
**Rasa version**: 1.6.0 (latest)

**Rasa SDK version** (if used & relevant): Not relevant

**Rasa X version** (if used & relevant): Not relevant

**Python version**: 3.7.1

**Operating system** (windows, osx, ...): MacOS

**Issue**: I am using custom SpacyPipeline with the following components,

name: SpacyTokenizer
name: SpacyFeaturizer
name: EmbeddingIntentClassifier

after debugging I found tha

[2019-12-20 13:14] ihtisham0331 opened #5008 "Warning rasa_core:Found unknown intent 'degree_Info"
I am using rasa==1.60...
.I am getting error of unknown intent when train rasa.Could you plz help me to resolve this issue.
intents:
  - greet
  - goodbye
  - affirm
  - deny
  - mood_great
  - mood_unhappy
  - bot_challenge
  - degree_Info
  - admission_Info

actions:
- utter_greet
- utter_cheer_up
- utter_did_that_help
- utter_happy
- utter_goodbye
- utter_iamabot
- utter_degree_Info
- utter_adm

[2019-12-20 13:31] Arjunsankarlal commented on #5007
I tried training and loading with the same set of data and code listed about with Python 3.6, now it is loading in 6 seconds! 😍 But I would be nice if I could minimise the time taken for loading. If there is some way I can do this let me know! Thanks

[2019-12-20 14:26] DiegoProtec opened #5010 "Rasa Convert - Permission Denied"
**Rasa version**:1.5.3

**Python version**: 3.6.9

**Operating system**: Windows

**Issue**: Permission denied to access out path, on convert files to json.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2019-12-20 14:33] samscudder opened #5011 "Slot filling not working if slot already has same value"
**Rasa version**: 1.4.6

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.6.9 (anaconda)

**Operating system** (windows, osx, ...): RHEL 7 (CentOS)

**Issue**: If you try and set a slot with the same value that's already in the slot, the results are unpredictable. Sometime I get a fallback action, sometimes I get a different value or no va

[2019-12-20 14:48] amn41 commented on #5011
the problem might be a mismatch between your stories and button payloads. In your stories you have
[code]
but your button payloads look lik `/show_profile{"profile": "vip"}`. I see you have the slots there in the stories, but in your button payload you are setting the slot via an entity (entities are also used to predict the next action).

can you try changing your domain to:

[code]

see https://

[2019-12-20 15:03] samscudder commented on #5011
Learned something new there, but.... this throws an error when I try and train it:

[code]
domain.py line 211 in 1.4.6 and line 256 in 1.6.0

I also tried

[code]

With the same result. I also tried setting an initial_value.

[2019-12-20 15:04] JulianGerhard21 commented on #5004
Hi @samscudder,

I smell that this has something to do with a [change in version 1.5.0](https://rasa.com/docs/rasa/changelog/#id52).

If you want to test if I am correct, simply rewrite line `191` in "`nlu/featurizers/sparse_featurizer/count_vectors_featurizer.py`" of rasa core to:

[code]

and then evaluate again - the results might be better then. I observed something similar but unfortunately d

[2019-12-20 15:08] erohmensing commented on #5004
In order to also check if it was a change in 1.5.0, could you run 1.5.0 to see what the confidence level of that is? Ideally also set the same `random_seed` in your configuration when testing confidences across the different versions.

[2019-12-20 15:13] samscudder commented on #5004
I'm setting up a machine with Rasa 1.5.0 right now

[2019-12-20 15:52] samscudder commented on #5004
With rasa 1.5.0 - 04m32s to train. Confidence of the intents I was comparing is 0.646 and 0.644, so I think it's safe to say it was a change in 1.5.0.

@erohmensing Good call on the random_seed, and we will be using that in the future, but typically the difference we noticed is something like 1-2%.

[2019-12-20 16:14] samscudder commented on #5004
@JulianGerhard21 Hit the nail on the head. With the patch, confidence went up to 0.94 / 0.97 again.

[2019-12-21 11:01] Keerlsm commented on #1913
I have meet the same issue in rasa 1.1.8, soooo which version should I use?

[code]

[2019-12-21 17:32] #4426 closed

[2019-12-22 05:15] Talhag958 opened #5013 "How to add urdu fasttext vec to rasa with spacy backend????"

[2019-12-22 14:50] #4286 closed

[2019-12-22 18:38] JulianGerhard21 commented on #5013
Hi @Talhag958 ,

I am not quite sure what you want to achieve - I assume you want to build a bot for the Urdu language. Training a model in spacy using custom word vectors like the fasttext ones is pretty easy and can be seen [here](https://spacy.io/usage/vectors-similarity#converting).

Please note that you need to start with a **blank** model since there is no pretrained one for Urdu. If you pla

[2019-12-23 02:58] Talhag958 commented on #5013
Julian, thanks very much. I have found this blog [build Urdu language model in SpaCy](https://www.urdunlp.com/2019/08/how-to-build-urdu-language-model-in.html). How much i furter need to train this model for rasa........

[2019-12-23 07:00] sara-tagger commented on #5013
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2019-12-23 07:00] sara-tagger commented on #5010
Thanks for the issue, @TyDunn will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-12-23 07:00] #5013 closed

[2019-12-23 07:00] sara-tagger commented on #5008
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2019-12-23 07:00] #5008 closed

[2019-12-23 07:00] sara-tagger commented on #5007
Thanks for raising this issue, @dakshvar22 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-12-23 07:00] sara-tagger commented on #5006
Thanks for submitting this feature request 🚀@akelad will get back to you about it soon!✨

[2019-12-23 07:34] Arjunsankarlal commented on #5007
Hey @sara-tagger, thanks for the quick response. While debugging I found that this is not specific to Spacy Tokenizer! But this happens for every other configuration.

I have trained a RASA NLU model with the following config

[code]
This configuration defaults to the list of components,
[code]

Also I have tried all the other readily available configs like ```supervised_embeddings and pretrained_

[2019-12-23 07:54] #4240 closed

[2019-12-23 09:42] snbuchholz commented on #3846
This shouldn't be closed, it's a bug that has not been resolved. There seems to be a PR, the contributor has signed the CLA, what needs to happen now?

[2019-12-23 12:10] mehdiHadji commented on #4042
is there a way to expose rasa server (in the picture above, the server is running on localhst of the vm)...
in my case, am using traefik, an i exposed to "https://rasa.dev.x-hub.io" so when i try:
**https://rasa.dev.x-hub.io/webhooks/slack/webhook**
i get no response

[2019-12-23 15:30] harisbitsakou commented on #4965
Hello! I am trying to install the package following the instructions and using the following command:

pip install rasa-x --extra-index-url https://pypi.rasa.com/simple

, but I keep errors while installing which prohibit the package to be installed. The errors are the following :
 Building wheel for httptools (setup.py) ... error ERROR: Command errored out with exit status 1:...
ERROR: Failed bui

[2019-12-24 10:31] mlpypiter commented on #2994
I have a same issue using jupyter notebook.
During:         import rasa
Help me.

[2019-12-24 18:13] ArthurPieri opened #5014 "Rasa and Rasa-x not installing on ubuntu"
## System
Ubuntu 19.10
Processor Intel Core 15-3337U

## Command
Runing the command:
[code]
After runing normaly from some time, it gives the following error:

## Error
[code]

[2019-12-24 18:14] erohmensing commented on #5014
Please upgrade pip: `pip install -U pip`

[2019-12-25 01:32] pingyuan2016 opened #5015 "docker run fail:distutils.errors.DistutilsFileError: could not create './endpoints.yml': Permission denied"
![image](https://user-images.githubusercontent.com/25808622/71428049-2b191e00-26f9-11ea-8464-c53c392b760b.png)

![image](https://user-images.githubusercontent.com/25808622/71427625-9f51c280-26f5-11ea-93fb-cf27ae117ef3.png)

[2019-12-25 01:34] pingyuan2016 commented on #5015
`ubuntu@VM-0-6-ubuntu:~$ docker -v && docker-compose -v
Docker version 19.03.5, build 633a0ea838
docker-compose version 1.22.0, build f46880fe
`
`ubuntu@VM-0-6-ubuntu:/opt/project/rasa_test$ sudo docker run -v $(pwd):/app rasa/rasa init --no-prompt
Welcome to Rasa! 烙

To get started quickly, an initial project will be created.
If you need some help, check out the documentation at https://rasa.com/

[2019-12-25 01:42] #3793 closed

[2019-12-25 07:00] sara-tagger commented on #5015
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2019-12-25 07:00] #5015 closed

[2019-12-25 11:11] harisbitsakou opened #5016 "error while installing rasa-x"
**Rasa version**:

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):0.02

**Python version**:3.7.5

**Operating system** (windows, osx, ...): osx ( using anaconda)

**Issue**:  I am trying to install rasa-x in different operating systems ( windows 10 , osx and with or without using anaconda), but I keep getting the following error.

**Error (including full traceb

[2019-12-25 13:00] sara-tagger commented on #5016
Thanks for raising this issue, @rgstephens will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-12-25 19:42] hknajjar0 commented on #4650
Thanks! Ran into the same issue and upgrading fixed it!

[2019-12-26 02:00] pingyuan2016 opened #5017 "docker run fail:distutils.errors.DistutilsFileError: could not create './endpoints.yml': Permission denied"
![image](https://user-images.githubusercontent.com/25808622/71453422-1c4c6d00-27c6-11ea-9c6f-e4323756760a.png)
![image](https://user-images.githubusercontent.com/25808622/71453429-240c1180-27c6-11ea-9c86-7d76972bf568.png)
this is docker version:
`ubuntu@VM-0-6-ubuntu:~$ docker -v && docker-compose -v Docker version 19.03.5, build 633a0ea838 docker-compose version 1.22.0, build f46880fe`
I rasa ini

[2019-12-26 06:34] khaleelp commented on #5004
@sara-tagger  Will be any fix for this from Rasa or should we go ahead with fix which @JulianGerhard21 suggested?

[2019-12-26 07:00] sara-tagger commented on #5017
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-12-26 08:08] GTroxx55 opened #5018 "Wrong Mapping: Right intent but wrong entities"
Hey Guys,
So I am only using rasa_nlu, I have enough training examples approx 20 for each intent and entities. These examples are primarily the output of linux shell commands. My issue is that my model classifies the correct intent say "intent1" but maps it with different entity name though the entity value is correct.
For example:
suppose there are 2 intents "intent1" and "intent2" with respectiv

[2019-12-26 11:37] samscudder commented on #5004
Patch suggested by @JulianGerhard is temporary. This bug only affects people using CountVectorFeaturizer with char_wb analysis.

[2019-12-26 12:52] #4344 closed

[2019-12-26 13:00] sara-tagger commented on #5018
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2019-12-26 13:00] #5018 closed

[2019-12-26 14:12] rgstephens commented on #5016
Please submit questions in the Rasa [forums](https://forum.rasa.com/c/rasa-x).

[2019-12-26 14:12] #5016 closed

[2019-12-26 16:00] erohmensing commented on #5014
@ArthurPieri did that fix it?

[2019-12-26 22:52] #4496 closed

[2019-12-27 03:53] alex-ubitec commented on #5005
Any updates on this?

[2019-12-27 12:41] quest4next commented on #2689
@tmbo Hello Tom, could you suggest a good open source webchat implementation, if there are existing ones?

[2019-12-27 17:28] anbasile commented on #4797
Same issue here

[2019-12-27 18:35] DiegoProtec commented on #4788
Hello @wochinge, something new?

[2019-12-27 20:13] ArthurPieri commented on #5014
No, after upgrading pip it broke python on my computer, so I had to reinstall Ubuntu. Trying again in a few hours.

[2019-12-27 22:02] erohmensing commented on #5014
Okay. the pip version should be >= 19.0

[2019-12-28 05:25] shajeeck opened #5019 "Rasa Shell error following tutorial"
### Rasa Shell gives following error on input

`Exception occurred while handling uri: 'http://localhost:5005/webhooks/rest/webhook?stream=true&token='
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/sanic/app.py", line 946, in handle_request
    request, request_name=name
TypeError: _run_request_middleware() got an unexpected keyword argument 'request_name'
Excep

[2019-12-28 07:38] apt-x4869 opened #5020 "Experienced exception while trying to serve"
After running my train_online.py file , I get the following Error

/usr/local/lib/python3.7/dist-packages/rasa_core/__init__.py:12: UserWarning: The 'rasa_core' package has been renamed. You should change your imports to use 'rasa.core' instead.
  UserWarning,
INFO:rasa.nlu.components:Added 'SpacyNLP' to component cache. Key 'SpacyNLP-en'.
WARNING:rasa.core.domain:Deprecated: Templates should not

[2019-12-28 08:52] ZeweiChu commented on #5019
I got the same error. Looking for an answer.

[2019-12-28 09:30] jxf1002 commented on #5019
I found a reason which is the version of sanic doesn't match requirements, and try to install  sonic 19.9.0 fix this error.
`pip install sanic==19.9.0`

[2019-12-28 11:01] JulianGerhard21 commented on #5020
Hi @apt-x4869 ,

can you provide more information about the version of `rasa`, `rasa sdk` and your `OS` please?

Regards
Julian

[2019-12-28 15:13] apt-x4869 commented on #5020
rasa==1.6
rasa_sdk=0.12.1
os== kali linux 2019.4
bot is not loading even when server is running
![Screenshot from 2019-12-28 20-26-16](https://user-images.githubusercontent.com/55894766/71545535-27fc8700-29b2-11ea-933b-a88287c88ed4.png)
train_online.py code:
![Screenshot from 2019-12-28 20-42-46](https://user-images.githubusercontent.com/55894766/71545564-99d4d080-29b2-11ea-8bbc-d480097631c5.png)

[2019-12-28 17:34] utterworks opened #5021 "sanic 19.12.0 breaks rest api"
**Rasa version**: Rasa 1.6.0a1

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.6

**Operating system** (windows, osx, ...): ubuntu

**Issue**:

The latest version of Sanic v19.12.0 has introduced breaking changes and has broken the rest input channel.  Please change the dependency for sanic back to 19.9.0.

**Error (including full traceb

[2019-12-28 19:57] sarthak-sriw opened #5022 "asyncio error"
hey while executing train_init.py i got following error

  from ._conv import register_converters as _register_converters
Processed Story Blocks: 100%|██████████████████████████████████████████| 10/10 [00:00<00:00, 1986.13it/s, # trackers=1]
Processed Story Blocks: 100%|██████████████████████████████████████████| 10/10 [00:00<00:00, 1004.21it/s, # trackers=3]
Processed Story Blocks: 100%|█████████

[2019-12-28 21:09] ArthurPieri commented on #5014
So, I installed a VM with ubuntu 18.04, and now I think the problem is with pip, as the following images show:

![IMG_20191228_180554_948](https://user-images.githubusercontent.com/19278543/71549480-eca38d80-299c-11ea-8602-e3cc6b52cf99.jpg)
![IMG_20191228_180559_023](https://user-images.githubusercontent.com/19278543/71549481-eca38d80-299c-11ea-8f99-bddc03986ed5.jpg)

I tried running:
[code]
And p

[2019-12-29 03:28] MinuhaFire opened #5023 "Rasa command returns error"
**Rasa version**: *Cannot access 'rasa' command

**Rasa SDK version** (if used & relevant): 1.5.2

**Rasa X version**(if used & relevant):
0.23.5

**Python version**: v3.6.0

**Operating system** (windows, osx, ...): Windows

**Issue**: When I use the command 'rasa', it returns an error:
[code]

**Command or request that led to error**:
`rasa`

[2019-12-29 07:51] AkshatJoshi2000 commented on #5022
The "async" function will notify python that it is a coroutine, which at the moment is missing from your code.

**Try this:**

`from __future__ import absolute_import, division, unicode_literals
import logging
import asyncio
from rasa_core.agent import Agent
from rasa_core.policies.keras_policy import KerasPolicy
from rasa_core.policies.memoization import MemoizationPolicy

training_data_file = '.

[2019-12-29 10:41] Naktibalda commented on #5021
I got the same error by following [Rasa Tutorial](https://rasa.com/docs/rasa/user-guide/rasa-tutorial/#talk-to-your-assistant).

[code]

Rasa version: Rasa 1.6.0

[2019-12-29 10:44] Naktibalda commented on #5019
@jxf1002 thanks for instructions how to fix it.

[2019-12-29 10:45] Naktibalda commented on #5021
Duplicate of #5019

[2019-12-30 07:00] sara-tagger commented on #5023
Thanks for the issue, @rgstephens will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-12-30 07:00] sara-tagger commented on #5022
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2019-12-30 07:00] #5022 closed

[2019-12-30 07:00] sara-tagger commented on #5021
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2019-12-30 07:00] sara-tagger commented on #5020
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2019-12-30 07:00] #5020 closed

[2019-12-30 07:00] sara-tagger commented on #5019
Thanks for raising this issue, @akelad will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2019-12-30 11:15] kbirkbr commented on #4207
Any solution to this? I am also facing this issue.

[2019-12-30 20:29] #5021 closed

[2019-12-30 20:30] erohmensing commented on #5019
From duplicate issue:
[code]

[2019-12-30 20:32] erohmensing commented on #5019
@Naktibalda can you confirm that it was v19.12.0 that introduced the breaking changes? does `pip install sanic==19.11.0` work okay?

[2019-12-30 22:03] gittar commented on #4783
@amn41: how can issue 4783 be closed bc duplicate of 4783? Then it is gone, or? Rgds.

[2019-12-31 04:37] rabinpoudyal commented on #5019
ya for me too sanic worked but the regular setup did not work.

[2019-12-31 04:49] YesayaSoftware commented on #5019
Thanks worked for me after a week of searching.

[2019-12-31 06:16] jxf1002 commented on #5019
@erohmensing  sanic doesn't have v19.11.0.
https://sanic.readthedocs.io/en/latest/sanic/changelog.html#
[code]

[2019-12-31 09:43] 1000sprites commented on #2030
if set max_history longer than story length, what is the max_history value?

[2019-12-31 09:50] AnuragSinghChaudhary commented on #5019
Is it possible to check sanic configuration? i.e. to which port it is referring

[2019-12-31 09:55] AnuragSinghChaudhary commented on #5019
currently I'm receiving these errors

File "/var/www/html/bot/new_env/lib/python3.7/site-packages/sanic/app.py", line 918, in handle_request
    handler, args, kwargs, uri = self.router.get(request)
  File "/var/www/html/bot/new_env/lib/python3.7/site-packages/sanic/router.py", line 407, in get
    return self._get(request.path, request.method, "")
  File "/var/www/html/bot/new_env/lib/python3.7/s

[2019-12-31 11:20] MohammadYosifSharaf commented on #1950
Hi @Kaijiro   , we have the same issue and we want to call multi API at run time, we need to pass these APIs as parameters through the tracker, to use it in the custom action, what is the idea of your final solution for this issue?

any help will be appreciated

Thanks

[2019-12-31 12:59] #4516 closed

[2020-01-01 07:10] Saurbh060 commented on #2672
HI @stalinsabu
I have a pincode file and want to make action in action.py that read from pincode.txt file and search user's input pincode and utter actions according to pincode found or not.

[2020-01-01 17:00] Maadhav commented on #1621
Were you able to solve it?

[2020-01-02 07:31] igormis commented on #1621
No, unfortunately, I did not. Any suggestions?

[2020-01-02 08:22] Traeyee commented on #3929
Useless staff, copy forever, resolution never

[2020-01-02 08:33] tabergma commented on #1621
@igormis Did you used the latest Rasa version? I assume `--config pretrained_embeddings_spacy.yml` corresponds to `pipeline: "pretrained_embeddings_spacy"`? Is the model training if you do just a single training run with `rasa train nlu`? When exactly is the memory error occurring, when loading the data, during training, during evaluation?

[2020-01-02 09:29] Maadhav commented on #1621
I was able to solve my problem. Actually I was running both, Rasa x and Rasa run simultaneously which was creating memory problem. So I closed rasa x then rasa run started like a charm.

[2020-01-02 11:28] mehtajinesh opened #5025 "rasa.nlu.featurizers packages missing in rasa-x"
**Rasa version**: 1.5.3

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:3.7

**Operating system** (windows, osx, ...): Windows

**Issue**:

Goal - I am trying to setup rasa x on my local system.
Steps followed -
1. First I installed rasa using $ pip3 install rasa which installed 1.6 version
2. I did the initial bot setup using rasa init
3.

[2020-01-02 12:23] Dhiraj240 opened #5026 "Error in rasa installation in windows 8.1"
While installing rasa in my windows i am getting this below error.
[code]

[2020-01-02 12:24] Dhiraj240 commented on #5026
Need urgent solution as i searched on stackoverflow and other related issues on ```rasa``` github project repo but nothing seems working for me.

[2020-01-02 12:35] erohmensing commented on #5014
Have you looked up this import error?  https://github.com/pypa/pip/issues/5599

[2020-01-02 12:36] erohmensing commented on #5019
Oh, weird 🤔 perfect, we'll pinn 19.9.0, thanks for the help 👍

[2020-01-02 12:45] erohmensing commented on #5011
@samscudder can you post the full traceback for the `'NoneType' object has no attribute 'setdefault'` error?

[2020-01-02 12:59] erohmensing commented on #4986
@sushilr007 this is a usage question, please ask it in our [forum](forum.rasa.com). If the NLU confidence is over the threshold, the issue is most likely that your action confidence is too low, due to missing or conflicting stories. I would recommend testing with `--debug` mode to see more of what is going on.

[2020-01-02 12:59] #4986 closed

[2020-01-02 13:00] sara-tagger commented on #5026
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-01-02 13:00] #5026 closed

[2020-01-02 13:00] sara-tagger commented on #5025
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-02 13:01] erohmensing commented on #5010
@DiegoProtec what are the permissions on your data directory? Have you tried running the command as an administrator?

[2020-01-02 13:01] mehtajinesh commented on #5025
sure. I am trying to figure out the issue. I think the constants.py file is to be updated.

[2020-01-02 13:30] samscudder commented on #5011
Here's what happens when I add ```use_entities: []``` to the intent in domain.yml

[code]

[2020-01-02 13:40] erohmensing commented on #5004
@samscudder thanks for pointing this out. The idea is that the names of intents are not necessarily composed of meaningful words, so character level featurization might not make sense. We're considering making that featurization optional, though. Are you able to share your list of intents so I can look at the format and how it might be affecting the confidence?

[2020-01-02 13:48] Dhiraj240 opened #5028 "rasa init --no-prompt gives the following error in windows 8.1"
[code]
python version : 3.6.0
OS: windows 8.1
rasa version: latest one installed using pip yesterday.

[2020-01-02 13:50] Dhiraj240 commented on #5026
@sara-tagger Anways i am leaving a note for visitors that installating latest visual studio build tools solves the problem

[2020-01-02 13:54] erohmensing commented on #5028
Please read the template:
`THIS INFORMATION IS MANDATORY - YOUR ISSUE WILL BE CLOSED IF IT IS MISSING`

version information seems quite pertinent to this issue.

**Rasa version**:

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

[2020-01-02 13:56] erohmensing commented on #5011
Can you post the whole relevant section please

[2020-01-02 14:07] erohmensing commented on #5025
@mehtajinesh thanks for pointing this out. 0.23.5 is compatible with rasa 1.6, it isn't reflected in the setup.py, however. I'll add that to the next patch (0.23.6), and in the meantime you should be safe to re-install `rasa==1.6.0`

[2020-01-02 14:38] samscudder commented on #5011
It's what @amn41 suggested... Adding use_entities: [] to the intent definition in domain.yml.

[code]

[2020-01-02 15:11] samscudder commented on #5004
@erohmensing we are recognizing in portuguese (brazilian). We tried the other analysis options (word and char), and the confidence was lower than char_wb (in version 1.4.6). If you want, I can email you a spreadsheet with a list of phrases and the expected intent, and results using models trained with the different analysis options.

[2020-01-02 15:22] #4995 closed

[2020-01-02 15:28] tabergma opened #5029 "Add requries_one_of to custom NLU components"
**Description of Problem**:
The `EmbeddingIntentClassifier` requires either `text_sparse_features` or `text_dense_features`. As long as one of them is present the classifier can be trained. However, if none is present, training will fail.
Currently, we only have the field `requires` to check if specific attributes are set on a message. However, all of them need to be set. It is not possible to say

[2020-01-02 16:32] ttlekich opened #5030 "'Tracker' object has no attribute 'update'"
**Rasa version**: 1.4.4

**Rasa SDK version** (if used & relevant): 1.4.0

**Rasa X version** (if used & relevant): N/A

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Ubuntu 18.04

**Issue**:
The [rasa documentation](https://rasa.com/docs/rasa/api/tracker/#rasa.core.trackers.DialogueStateTracker.update) lists an `update` method on the Tracker class, though I cannot seem to a

[2020-01-02 16:34] erohmensing commented on #5030
Sorry about that! understandably confusing -- that tracker is the rasa core tracker (tbh probably doesn't need its own autoclass documentation anymore). The tracker object you're looking for are in the SDK docs: https://rasa.com/docs/rasa/api/rasa-sdk/

[2020-01-02 16:38] ttlekich commented on #5030
Wow that was fast! Great, that all makes sense thank you!

[2020-01-02 16:42] erohmensing commented on #5030
Haha, no problem!

[2020-01-02 16:42] #5030 closed

[2020-01-02 16:48] ArthurPieri commented on #5014
No, I have not looked helped me fixing it, what I had to do was:
1. Uninstall python-pip
[code]
2. Install Python3-pip
[code]
3. Upgrade pip using python3 -m
[code]
4. Install rasa using python3-m
[code]

Thank you very much. I can use Rasa now!

[2020-01-02 16:48] #5014 closed

[2020-01-02 16:50] erohmensing commented on #5014
Wow, a bit of a complicated road! I'm glad you got it working 😄 good work!

[2020-01-02 16:56] erohmensing commented on #5004
for that line of code the phrases are not important, just the intent names themselves. do you have different words of your intents separated, e.g. `in_snake_case`? or do you have them `concatenatedlikethis`?

I think the issue is that you actually want one more CountVectorsFeaturizer in your pipeline. Right now you're only using char_wb, and not word at all -- then you're losing not only on intent

[2020-01-02 16:58] mehtajinesh commented on #5025
sure. thanks 👍

[2020-01-02 17:00] erohmensing commented on #5011
Thanks for posting your exact code, as i expected, this is a YAML formatting issue. add 2 spaces before `use_entities:` like in his example:
[code]

[2020-01-02 17:01] erohmensing commented on #5011
You can check the difference using https://onlineyamltools.com/convert-yaml-to-json:

<img width="766" alt="Screenshot 2020-01-02 at 18 01 06" src="https://user-images.githubusercontent.com/22333512/71680270-ee4cc700-2d89-11ea-91f5-19267d44a899.png">

<img width="757" alt="Screenshot 2020-01-02 at 18 00 58" src="https://user-images.githubusercontent.com/22333512/71680286-f442a800-2d89-11ea-8aeb-70

[2020-01-02 19:52] samscudder opened #5032 "API missing tracker return data if first event isn't a post to webhook"
**Rasa version**: 1.6.0

**Rasa SDK version** (if used & relevant): 1.6.0

**Rasa X version** (if used & relevant):

**Python version**: Python 3.6.9 (Anaconda)

**Operating system** (windows, osx, ...): RHEL 7 (CentOS)

**Issue**: The tracker API isn't returning all the data if the first event isn't a post to webhook.

**Error (including full traceback)**:

Missing information in return data (see

[2020-01-03 01:38] rookiebird commented on #4047
I meet the same problem.I write my custom channel for wechat and the wechat client will disconnect me if it  doesn't receive message after 5 seconds.If my action takes longer than 5s,I got the problem above.

[2020-01-03 07:00] sara-tagger commented on #5032
Thanks for the issue, @wochinge will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-03 09:02] wochinge commented on #5032
Hi @samscudder ,

thanks for bringing this up. I can reproduce it with mongo (not with the `InmemoryTrackerStore` though.

[2020-01-03 10:05] dakshvar22 commented on #3846
@obarbier Are you interested in resuming your work fixing this issue through your PR?

[2020-01-03 10:09] dakshvar22 commented on #5007
@Arjunsankarlal `SpacyNLP` loads the language model provided by spacy for your specified language. I am guessing that should take up most of the time of the first component.
For `pretrained_embeddings_convert`, `ConveRTFeaturizer` would take some time because it loads up a large tensorflow based model.

When you say you want to serve these models on demand, do you mean training them or making infe

[2020-01-03 11:03] wochinge commented on #5017
Hi @pingyuan2016 ,

it seems like your mounted directory has the wrong file permissions. Note that rasa containers not run as `root`. You can either
- change the owning user to `1001`
- make the files accessible to group `0` (aka `root`)
- use the `docker run --user` flag

Does that help you?

[2020-01-03 11:17] Arjunsankarlal commented on #5007
Hey @dakshvar22 , I also doubted the same. I am loading spacy `en` model here. When I load the same model with
```spacy.load('en')``` for normal use, the time taken is ~ 0.6s, it is same model loaded here in rasa which is taking upto 6~9 seconds. So if you could give me any heads up for reducing the time it would be helpful.

Also when I say I want to serve these models on demand, I mean making in

[2020-01-03 13:14] wochinge commented on #4788
@DiegoProtec Sorry, I was on christmas vacation. I wish you a happy new year!

@Saladdin Could it be that the frontend sends a request to `PUT /conversations/<conversation_id>/events` before `POST http://localhost/api/conversations` was completed?

[2020-01-03 13:56] samscudder commented on #5004
All our intent names are in snake_case.

I ran our current test suite (104 phrases, of which 25 are expected to fail due to mispelling or slang) with three different config files on Rasa 1.4.6:

- With one featurizer (previous config), we had a score of 73 correct classifications.
- With two featurizers (using your suggested config), the score increased to 77 correct.
- With two featurizers (and "

[2020-01-03 14:05] Dhiraj240 commented on #5028
python version : 3.6.0
OS: windows 8.1
rasa version: latest one installed using pip yesterday.

[2020-01-03 14:07] erohmensing commented on #5004
Ah sure, sorry, forgot about adding stripping of constants to the other one, that makes plenty of sense.

Gotcha. Really awesome that you caught that and were able to describe so well the behavior that was happening -- theres already a PR for a fix :)

[2020-01-03 16:03] #5029 closed

[2020-01-03 16:44] wochinge commented on #4606
@ravikrcs Can you mock the human handoff server for the `rasa shell` tests so it returns sth immediately?

[2020-01-04 06:24] abhishekborse opened #5034 "error while running rasa x"
**Rasa version**:    1.5.3
**Rasa SDK version** (if used & relevant): 1.5.2

**Rasa X version** (if used & relevant):   0.23.5

**Python version**:  3.7.1
**Operating system** (windows, osx, ...): Ubuntu  18.04.1 LTS

**Issue**:
![Screenshot from 2020-01-04 11-50-59](https://user-images.githubusercontent.com/40940696/71760766-ce7fe500-2ee8-11ea-9f1e-a3dc0b29d1c8.png)

[2020-01-04 06:27] erohmensing commented on #5034
Hi there, this is a duplicate of another issue that we are currently in the midst of fixing.

As a workaround, please install `sanic==19.9.0`.

[2020-01-04 06:29] abhishekborse opened #5035 "Runtime exception for rasa run/rasa shell"
**Rasa version**: 1.5.3

**Rasa SDK version** (if used & relevant): 1.5.2

**Rasa X version** (if used & relevant): 0.23.5

**Python version**: 3.7.1

**Operating system** (windows, osx, ...): Ubuntu 18.04.1 LTS

**Issue**:
abhishek@abhishek-laptop:~/Projects/python/rasa/chatbot$ rasa run
2020-01-04 11:55:48 INFO     root  - Starting Rasa server on http://localhost:5005
2020-01-04 11:55:51 INFO

[2020-01-04 06:44] erohmensing commented on #5028
You can find your rasa version with `rasa --version`.

[2020-01-04 06:45] TQuy commented on #4118
I have exactly the same issue, I even tried to reset my window but it doesn't solve the problem

[2020-01-04 06:49] abhishekborse opened #5036 "Error while running command pip3 install rasa"
Rasa version: 1.5.3

Rasa SDK version (if used & relevant): 1.5.2

Rasa X version (if used & relevant): 0.23.5

Python version: 3.8.1

Operating system (windows, osx, ...): Ubuntu 18.04.1 LTS

Issue:
![Screenshot from 2020-01-04 12-15-50](https://user-images.githubusercontent.com/40940696/71761042-4996ca80-2eec-11ea-83ed-0b8fa97759c4.png)

[2020-01-04 08:03] persisty commented on #5019
Yes, this works. Thank you

[2020-01-04 08:09] eprabhakar commented on #4653
Thanks to @AndiLeni  for posting the link of the rasa forum where the issue is posted,  and @ArjaanBuijk  for giving a simple solution in the forum, that worked excellent for me. I am just posting it here for the convenience,

[code]

[2020-01-04 09:32] aman-17 opened #5037 "I followed the provided tutorial of RASA, but now I'm struck here while training nlu.md file. Please help me."
File "/usr/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/aman17/.local/lib/python3.7/site-packages/rasa_nlu/train.py", line 173, in <module>
    num_threads=cmdline_args.num_threads)
  File "/home/aman17/.local/lib/python3.7/site-packages/rasa_nlu/train.py", l

[2020-01-04 13:56] bSratUoH commented on #888
How did you resolve it?

[2020-01-05 08:43] mohocp commented on #3789
Why it's not support sockotio channel ?

[2020-01-05 08:51] michiboo commented on #4605
Hi Can I have a go at this issue?

[2020-01-05 12:05] abhishekborse opened #5039 "cuda_driver error while running command rasa run error on Ubuntu"
**Rasa version**: 1.5.3

**Rasa SDK version** (if used & relevant): 1.5.2

**Rasa X version** (if used & relevant):  0.23.5

**Python version**: 3.7.1

**Operating system** (windows, osx, ...): Ubuntu 18.04.1 LTS

**Error (including full traceback)**:

(ml-venv) abhishek@abhishek-laptop:~/Projects/python/rasa/chatbot$ rasa run -p 5008
2020-01-05 17:27:51 INFO     root  - Starting Rasa server on ht

[2020-01-05 12:14] staticdev opened #5040 "Inconsistent requirements in Rasa 1.6.0"
**Rasa version**: 1.6.0

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: Python 3.7.5

**Operating system** (windows, osx, ...): Ubuntu 19.10

**Issue**: When I try to train my models I was getting a warning:
`/usr/lib/python3/dist-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.25.7) or chardet (3.0.4) doesn't match

[2020-01-05 14:34] staticdev commented on #5040
Pull request #5041.

[2020-01-06 02:15] abhishekborse commented on #5034
Thanks, It's working for now

[2020-01-06 02:15] #5034 closed

[2020-01-06 07:00] sara-tagger commented on #5040
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-06 07:00] sara-tagger commented on #5039
Thanks for raising this issue, @rgstephens will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-06 07:00] sara-tagger commented on #5037
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-01-06 07:00] #5037 closed

[2020-01-06 07:00] sara-tagger commented on #5036
Thanks for raising this issue, @Ghostvv will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-06 07:00] sara-tagger commented on #5035
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-06 07:15] MrRace opened #5042 "When Perform an intent evaluation Not support markdown format"
When doing the test of `http://localhost:5005/model/test/intents`  according to the [testModelIntent](https://rasa.com/docs/rasa/api/http-api/#operation/testModelIntent)：
![image](https://user-images.githubusercontent.com/10300313/71801399-c913cd80-3095-11ea-8f40-3d06a46f8ca1.png)
However,  it seems do  not support the  markdown format!
My request is：
`curl -XPOST http://localhost:5005/model/test/

[2020-01-06 07:57] tabergma commented on #4605
@michiboo Sure, go ahead 🚀 Thanks!

[2020-01-06 08:22] MrRace opened #5043 "How to evaluate stories"
**Rasa version**:
Rasa 1.5.3
**Python version**:
Python 3.6.8

**Operating system** (windows, osx, ...):
Centos

**Issue**:
I want to Evaluate stories according to the [instruction](https://rasa.com/docs/rasa/api/http-api/#operation/testModelStories).
I use the `stories.md` to do the testing, my request is:
[code]
the `stories.md`  is the same file used to train Rasa model.

**Error (including ful

[2020-01-06 10:53] johnfelipe opened #5044 "Spanish supported?"
I want to know if Spanish supported?

[2020-01-06 12:16] grootstebozewolf commented on #5019
Still does not work with sanic version 19.12.2, work around fixed it.

[2020-01-06 12:52] #4312 closed

[2020-01-06 13:00] sara-tagger commented on #5044
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-01-06 13:00] #5044 closed

[2020-01-06 13:00] sara-tagger commented on #5043
Thanks for raising this issue, @ArjaanBuijk will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-06 13:00] sara-tagger commented on #5042
Thanks for the issue, @rgstephens will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-06 14:50] rajnish-kumar-76 commented on #5028
I tried on Mac. I am also getting same error.
I pulled from github and built it just now. Pulled from master (Tree: 89e5a4c878)

Python version: 3.6.1
OS: mac 10.13.6
rasa version: rasa -V command fails with "ImportError: cannot import name 'NoReturn'"

[2020-01-06 16:12] Dhiraj240 commented on #5028
@erohmensing Ahhh, even doing ```rasa --version``` shows the same above error.

[2020-01-06 23:21] Abdelkrim commented on #3137
to be precise :

0. setup the credentials for slack (you did it already)

1. run ngrok and copy/paste the URL of the tunnel inside `credentials.yml`

1. save the file `credentials.yml`

1. run `rasa run actions -vv` to handle the actions

2. run `rasa run -vv` to start rasa and ALL the connectors

1. eventually set the URLs from ngrok inside the slack admin console : <https://api.slack.com/apps/YO

[2020-01-07 08:17] mehtajinesh commented on #5025
@erohmensing please close this up once you deploy `rasax 0.23.5`

[2020-01-07 08:17] #5025 closed

[2020-01-07 09:28] #4548 closed

[2020-01-07 10:26] rajnish-kumar-76 commented on #5028
Go with Python 3.7 to overcome this issue.
python -V : Python 3.7.6
rasa --version : Rasa 1.6.0

** Don't try Python 3.8 because tensorflow if needed in your pipeline doesn't support Python 3.8 as of now.

@Dhiraj240  - Hope this helps you.

[2020-01-07 11:00] rgstephens commented on #5039
Questions should be asked in the [forum](https://forum.rasa.com) and the case will be closed. There's a specific discussion on this issue [here](https://forum.rasa.com/t/tensorflow-driver-unknown-error-303/21661)

[2020-01-07 11:00] #5039 closed

[2020-01-07 12:26] nbeuchat opened #5050 ""ValueError: Sequence dimensions for sparse and dense features don't coincide" when training with return_sequence: true in Rasa 1.6.0"
**Rasa version**: 1.6.0

**Rasa SDK version** (if used & relevant): 1.6.1

**Rasa X version** (if used & relevant): N/A

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu

**Issue**:
When training the NLU model in Rasa 1.6.0 using the `return_sequence: true` flag on the `SpacyFeaturizer`, I get a `ValueError: Sequence dimensions for sparse and dense features don't coincide

[2020-01-07 12:37] IgNoRaNt23 commented on #4884
I still like to implement this, so what is the next step? @amn41 @tmbo

[2020-01-07 13:00] sara-tagger commented on #5050
Thanks for raising this issue, @ArjaanBuijk will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-08 04:13] mohanbabubb commented on #1950
Where you able to find any way ?. i see some suggesting to use the slots to store and retrieve on the custom actions function.!

[2020-01-08 06:50] amn41 commented on #4561
cc @gausie is this still relevant?

[2020-01-08 09:17] tmbo commented on #4884
I think this could fit into the `domain.yml` as part of the `config` key:
[code]
(this is how this key currently looks like) should be fine to add another key there which disables the errors for unknown slots

[2020-01-08 13:25] nanduri1998 commented on #5028
Windows 10 doesn't support tensorflow on python 3.7. We are forced to use python 3.6. Any corrections for the same issue.

[2020-01-08 13:33] rajnish-kumar-76 commented on #5028
Is Windows your prod environment or just the dev environment ?

[2020-01-08 13:34] nanduri1998 commented on #5028
Dev environment

[2020-01-08 13:35] rajnish-kumar-76 commented on #5028
Then I guess it wouldn't be much of a problem to ask the developers to develop on Linux based VMs. This should resolve your issue by using Python 3.7

[2020-01-08 13:49] nanduri1998 commented on #5028
I don't have a linux based system at my disposal. Is there any workaround for windows

[2020-01-08 14:06] rajnish-kumar-76 commented on #5028
Well. I don't work on windows so I can't help you on windows. What I can tell you is running a linux VM on windows doesn't take much effort. You can contact me separately in case you want to know how to.

[2020-01-08 15:30] erohmensing commented on #5019
This version should be correctly pineed in rasa 1.6.1. 👍

[2020-01-08 15:30] #5019 closed

[2020-01-08 17:52] ankitsinghmyself opened #5051 "Rasa x not run"
**I installed rasa x on my anaconda now when I am trying to run `rasa x` for creating a new project it throwing an errror**<br>
 `Traceback (most recent call last):
  File "c:\anaconda3\envs\rasa\lib\site-packages\git\__init__.py", line 83, in <module>
    refresh()
  File "c:\anaconda3\envs\rasa\lib\site-packages\git\__init__.py", line 73, in refresh
    if not Git.refresh(path=path):
  File "c:\

[2020-01-08 18:16] ankitsinghmyself commented on #5051
I found the solution for that
- [download git for that and
add the path in which the git executable is located (in this case maybe C:\Programs\Git\bin) to the Path variable' ]

[2020-01-09 06:26] IgNoRaNt23 commented on #4884
So, can I start to work on this?

@amn41

[2020-01-09 07:00] sara-tagger commented on #5051
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-09 10:37] Dhiraj240 commented on #5028
@rajnish-kumar-76 using python 3.7 shows tensorflow error in windows 8.1. Which os you are using?
@erohmensing any solution ?

[2020-01-09 11:34] #5051 closed

[2020-01-09 11:44] Aashaybane commented on #3438
can you please share the format @shammy45  for how to write in domain file

[2020-01-09 12:00] Aashaybane commented on #2441
Th link dosnt work @akelad

[2020-01-09 18:03] canerbaran opened #5052 "Heroku Deploy Error: No matching distribution found for tensorflow~=1.15.0"
**Rasa version**: 1.16.0

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.7.5

**Operating system** (windows, osx, ...): OSx & Heroku

**Issue**: When I tried to deploy my RASA-chatbot on Heroku, I am getting an error during push due to TensorFlow version inconsistency.

**Error (including full traceback)**:
[code]

**Command or request t

[2020-01-10 01:38] stevenev opened #5054 "Spacy installation issue"
Rasa 1.6.1
Windows 10
Python 3.7.4

$ git clone https://github.com/RasaHQ/rasa.git
$ cd rasa
$ pip install rasa[spacy]

ERROR: en-core-web-md 2.2.5 has requirement spacy>=2.2.2, but you'll have spacy 2.1.9 which is incompatible.

[2020-01-10 06:00] suryavamsi1563 commented on #1621
Hi @tabergma , is the sparse arrays branch 'https://github.com/RasaHQ/rasa/tree/entity-recognition' ready for use...I am facing a  memory error and desperately need a work around or a solution.

[2020-01-10 07:00] sara-tagger commented on #5054
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-10 07:00] sara-tagger commented on #5052
Thanks for the issue, @JustinaPetr will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-10 10:12] MrRace opened #5055 "POST to webhooks/callback/webhook error"
**Rasa version**:
1.6.1

**Rasa SDK version** :
1.6.0

**Python version**:
3.7.3

**Operating system** (windows, osx, ...):
Centos

**Issue**:
I just  test the CallbackInput according to  [user-guide](https://rasa.com/docs/rasa/user-guide/connectors/your-own-website/), after `rasa run`, my request is：
[code]
the response is：
[code]

![image](https://user-images.githubusercontent.com/10300313/72145

[2020-01-10 12:50] Vinay141194 commented on #1459
Hello, I am still facing the same issue, I have even not used any virtual environment, @JustinaPetr, Could you please suggest.

[2020-01-10 13:00] sara-tagger commented on #5055
Thanks for raising this issue, @Ghostvv will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-10 13:41] justinas-b opened #5056 "Microsoft Bot Framework Emulator unable to connect"
**Rasa version**: Rasa 1.6.1

**Python version**: Python 3.7.5

**Operating system** (windows, osx, ...): OsX

**Issue**:
When testing chat bot with Microsoft Bot Framework Emulator [Version 4.7.0-96660 (4.7.0-96660.96660)], Rasa throws below error:

[code]

Please note that part saying to `Failed to parse : http://localhost:54380v3/conversations....`. I believe this occurs due to fact that Bot Fr

[2020-01-10 13:45] justinas-b commented on #5056
Related to https://github.com/RasaHQ/rasa/issues/2760

[2020-01-10 13:52] testforpepper commented on #4782
@AmalM7 did you manage to solve it? I have the same problem. I'm running pip 19.3.1 with python 3.7 and still have that issue.

[2020-01-10 14:25] Ghostvv commented on #5036
it looks like there was some problem during downloading tf probability

[2020-01-10 14:33] tabergma commented on #5050
@nbeuchat Can you please also set `return_sequence: True` in the `RegexFeaturizer`? That should fix the problem. If you use `return_sequence: True` on one featurizer you need to use it in all.

[2020-01-10 15:16] tabergma commented on #1621
@suryavamsi1563 We merged sparse features into master and released it with Rasa 1.6.0. So, just use the latest Rasa version. Let me know if you are still running into issues.

[2020-01-10 15:53] nbeuchat opened #5058 "Cannot run docker-compose up or deploy to AWS EB - Permission denied at pip install stage"
**Rasa version**: `rasa:1.6.1-spacy-en`

**Rasa SDK version** (if used & relevant): `1.6.1`

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu /

**Issue**:
I am updating from Rasa 1.3.3 to Rasa 1.6.1. When trying to run `docker-compose up` locally or when deploying to AWS Elastic Beanstalk (on multi-container instances), I get permission errors when packages are installed

[2020-01-10 15:54] nbeuchat commented on #5058
Here is my docker-compose file:

[code]

[2020-01-10 16:49] mrjazz commented on #4782
@testforpepper did you upgrade your pip?

[2020-01-11 07:36] abhishekborse commented on #5036
it's working now thanks

[2020-01-11 07:36] #5036 closed

[2020-01-11 19:50] WahabBhatti opened #5061 "agent.persist(), TypeError: 'NoneType' object is not iterable."
if __name__ == '__main__':
    logging.basicConfig(level='INFO')

    training_data_file = './data/stories.md'
    model_path = './models/dialogue'

    agent = Agent('desktop/therapy/therapy_domain.yml',  policies=[MemoizationPolicy(max_history=5), KerasPolicy( epochs=500, batch_size=10)])

    agent.persist(model_path)

TypeError                                 Traceback (most recent call last)

[2020-01-11 23:07] WahabBhatti commented on #2441
Try this link:
https://github.com/RasaHQ/rasa_core/blob/master/rasa/run.py

[2020-01-12 11:44] testforpepper commented on #4782
@mrjazz yes, it's pip 19.3.1

[2020-01-12 17:19] UmerMIB commented on #4782
Can you please tell me for windows10?

[2020-01-12 17:49] AmalM7 commented on #4782
@testforpepper I am using windows 10, even with upgrading pip it doesn't work. However, it works fine with Ubuntu.

[2020-01-13 04:39] Pavucsan commented on #3885
did you found the solution for this...

[2020-01-13 07:00] sara-tagger commented on #5061
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-01-13 07:00] #5061 closed

[2020-01-13 07:00] sara-tagger commented on #5058
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-13 07:00] sara-tagger commented on #5056
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-13 08:43] nbeuchat commented on #5050
Great, that works! Thanks @tabergma

[2020-01-13 08:43] #5050 closed

[2020-01-13 08:46] ricwo commented on #5055
Hi @MrRace, do you have a server running at `http://localhost:5034/bot`? Can you `curl` it to make sure it's reachable?

[2020-01-13 08:59] MrRace commented on #5055
Oh，It does not have a server running at `http://localhost:5034/bot`. How to run the sever `http://localhost:5034/bot` ?  Could you provide a complete example？ Thanks a lot!

[2020-01-13 09:32] rgstephens commented on #5042
the `-d` option should be a filename with the markdown: `-d @intents.md`.

Please post questions in our forums at https://forum.rasa.com.

[2020-01-13 09:32] #5042 closed

[2020-01-13 10:16] koaning opened #5062 "deploy documentation is missing"
This might be more of a seo-thing, but it seems search engines are pointing to the wrong docs. It's that, or part of the docs seem missing.

<img width="797" alt="image" src="https://user-images.githubusercontent.com/1019791/72247785-f90f2380-35f5-11ea-934c-367d98eb4959.png">

[2020-01-13 10:16] koaning commented on #5062
<img width="1485" alt="image" src="https://user-images.githubusercontent.com/1019791/72247887-278cfe80-35f6-11ea-84a7-3b904bf86693.png">

[2020-01-13 10:31] erohmensing commented on #5062
Thanks for pointing this out, I just changed the structure of this section and now none of them live at that website, will ask for a redirect 👍

[2020-01-13 10:48] erohmensing commented on #5054
Hi @stevenev, if you want to install the source code, you should install from source, not pip. Can I ask why you want to install from source?

[2020-01-13 11:02] erohmensing commented on #5052
Hi @canerbaran , what's your pip version? Have you already done `pip install -U pip`?

[2020-01-13 11:15] testforpepper commented on #4782
@AmalM7 Thank you very much for your repIy! tried it on Raspbian and it still doesn't work

[2020-01-13 12:44] sharms3d commented on #3638
Hi, I am unable to start the server. It gets hung on this. What should I do?
![error_server](https://user-images.githubusercontent.com/48517458/72256979-7fe0f200-3630-11ea-81c8-95f7810bf12f.JPG)

[2020-01-13 13:13] koaning commented on #5062
This link: https://rasa.com/docs/rasa-x/deploy/ still gives an error. Just checked in private mode so it isn't cached. It takes time for a new deploy?

[2020-01-13 14:08] tabergma opened #5065 "Extract featurization from CRFEntityExtractor"
**Description of Problem**:
The `CRFEntityExtractor` creates features on his own. The features cannot be reused.

**Overview of the Solution**:
Create a new featurizer that does the exact same featurization as the `CRFEntityExtractor`. Do not yet substitute the featurization part of the `CRFEntityExtractor` with the new component.

(Needed as preparation for the new NLU architecture.)

**Definitio

[2020-01-13 14:15] mtrworld opened #5066 "Getting error: UserWarning: Interpreter parsed an intent 'hey' that is not defined in the domain. f"Interpreter parsed an intent '{intent}' ""
I am getting following error while I am trying to test out a conversation.

UserWarning: Interpreter parsed an intent 'hey' that is not defined in the domain.
  f"Interpreter parsed an intent '{intent}' "

Here is the content of the nlu.md file

## intent:greet
- hey
- howdy
- hey there
- hello
- hi
- good morning
- good evening
- dear sir

As you can clearly see hey is defined under the intent gr

[2020-01-13 14:20] erohmensing commented on #5062
Fixed now right? Went live 41 mins ago

[2020-01-13 14:25] mehtajinesh commented on #3581
any updates on this issue? resolved yet?

[2020-01-13 15:18] UmerMIB commented on #4782
Its work fine by creating a virtual environment of python 3.6.10 by command ```conda create -n myenv python=3.6```  then ``` conda activate myenv```

[2020-01-13 15:23] erohmensing commented on #5011
Closing as this should have fixed the issue, feel free to reopen if you still are having issues.

[2020-01-13 15:23] #5011 closed

[2020-01-13 15:45] nbeuchat commented on #5058
There was nothing wrong with the Rasa image, it was just me doing something wrong in the `entrypoint.sh` that I overwrote.

[2020-01-13 15:45] #5058 closed

[2020-01-13 16:30] canerbaran commented on #5052
My pip version on local machine is 19.2.3.
On the other hand I am receiving this error during push to Heroku. I think it is not related to my local pip version

[2020-01-13 16:31] canerbaran commented on #5052
My pip version on local machine is 19.2.3.
On the other hand I am receiving this error during push to Heroku. I think it is not related to my local pip version

[2020-01-13 18:31] erohmensing commented on #5052
Yes, I think you're right, it is most likely the pip version on heroku. Maybe something like this would help? https://stackoverflow.com/questions/52706769/pipenv-trouble-on-macos-typeerror-module-object-is-not-callable/52821649#52821649

You want to make sure that whatever version heroku has running, it is > 19.0.

[2020-01-13 19:22] stevenev commented on #5054
Hi Ella, I tried both ways.  The following does not work either:
pip install rasa[spacy]
above is from: https://rasa.com/docs/rasa/1.1.8/user-guide/installation/

Basically I want to start up RestaurantBot example Bot, but ran into spacy problem, which appears to be related to spacy version.

Thanks, steve

[2020-01-13 19:38] #4978 closed

[2020-01-13 20:35] kristiankolthoff commented on #4797
It seems to be a problem of writing permission for the `$(pwd)` directory. If I give permissions to write contents to `$(pwd)` or any directory you want to use than `sudo docker run -v $(pwd):/app rasa/rasa init --no-prompt` works fine and can create the corresponding files in the `$(pwd)`.

[2020-01-13 21:01] ncoder opened #5067 "examples/restaurantbot Circuit breaker tripped"
**Rasa version**:
Rasa 1.6.1

Example is from git commit: 64f3927cf91f538c6e4cfd5f40debf6bb5c5d295

**Python version**:
Python 3.7.3

**Operating system** (windows, osx, ...):
osx

**Issue**:

simple demo restaurant bot trips the circuit breaker with a simple input:
"hello"
"hello"

There is a relevant closed issue here: https://github.com/RasaHQ/rasa/issues/2157

Please fix the example code and e

[2020-01-14 00:15] stevenev commented on #5054
I also observed the error when I ran this as noted in the documentation:

$ pip install -r alt_requirements/requirements_full.txt

[2020-01-14 06:17] ravikrcs commented on #4606
could you rephrase?

This is my api.py file

![api](https://user-images.githubusercontent.com/31586794/72318811-59b86200-36c3-11ea-8959-07cbdd56a7a6.PNG)

i am testing through Postman. But
It doesn't return any response.

[2020-01-14 06:20] stevenev commented on #5054
In related errors, I cloned RestaurantBot and when I run "rasa train", I get:

rasa.nlu.model.InvalidModelError: Model 'en' is not a linked spaCy model.  Please download and/or link a spaCy model, e.g. by running:
python -m spacy download en_core_web_md
python -m spacy link en_core_web_md en

Please help. It has been 4 days since I asked for help.

[2020-01-14 06:26] ravikrcs commented on #4606
getting this error on rasa shell:
![error01](https://user-images.githubusercontent.com/31586794/72319319-e1eb3700-36c4-11ea-9f5b-84aa31a55fcd.PNG)

[2020-01-14 06:36] stevenev commented on #5054
My problem is similar to
https://forum.rasa.com/t/oserror-e050-cant-find-model-en-it-doesnt-seem-to-be-a-shortcut-link-a-python-package-or-a-valid-path-to-a-data-directory/19707

which is unresolved.  At this point, I don't know what I can do since a very basic Rasa command, below, gives error, and I hope developers can take a quick look:
$ pip install -r alt_requirements/requirements_full.txt

[2020-01-14 07:00] sara-tagger commented on #5067
Thanks for raising this issue, @TyDunn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-14 07:00] sara-tagger commented on #5066
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-01-14 07:00] #5066 closed

[2020-01-14 07:30] stevenev commented on #5054
My previous post references an error that is also on Windows.  So my best guess at this point is that this is a Windows-related issue.

[2020-01-14 07:37] ricwo commented on #5055
The callback channel is designed to be used when running your own webchat, for example on your own website (see https://rasa.com/docs/rasa/user-guide/connectors/your-own-website/#id2). Please check out the docs for an overview of other supported channels: https://rasa.com/docs/rasa/user-guide/messaging-and-voice-channels/

If you have any more questions, please ask them in the [forum](https://foru

[2020-01-14 07:37] #5055 closed

[2020-01-14 07:46] testforpepper commented on #4782
Should I use the virtual environment for the whole rasa installation or just upgrading pip?

[2020-01-14 08:17] RaminParker commented on #5066
I have the same problem. I am searching for at least 1 week to find a solution. I think it is a bug!!! Never had this warning in the previous rasa versions. Now I am working on RASA 1.6.1

[2020-01-14 08:17] UmerMIB commented on #4782
I am new to RASA I can't guide well , well this creating environment is effective for me this time

[2020-01-14 08:27] tmbo commented on #4664
mhm that is odd, usually this should be done through the https://github.com/yunstanford/pytest-sanic#quick-start plugin

[2020-01-14 09:01] tdzienniak opened #5068 "When adding first user message Rasa is incorrectly pushing two `action_listen` events to tracker"
**Rasa version**:
1.6.1
**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:
3.6.9
**Operating system** (windows, osx, ...):
Ubuntu 19.10
**Issue**:
When adding first user message Rasa is incorrectly pushing two `action_listen` event to tracker, which results in predicting ActionDefaultFallback instead of proper action defined in conversation. E

[2020-01-14 09:15] tdzienniak commented on #5068
There is also another bug connected with this one, that Rasa is falling into infinite loop of ActionDefaultFallback predictions. In Rasa code there is safety limit of action execution and predictions, but in our bot we are manualy calling endpoints for adding message, predicting action and executing predicted action and we have to implement check, that ActionDefaultFallback is not predicted two or

[2020-01-14 09:29] akelad commented on #1621
I am going to close this as it should be fixed with 1.6. If there are still issues, please create a new issue

[2020-01-14 09:29] #1621 closed

[2020-01-14 09:42] akelad commented on #3551
@xueyongg i don't think projects is related to this issue. And I'm not sure what you mean about creating custom pipelines? Please create a new issue in any case, as this one is old and related to rasa 0.15

[2020-01-14 09:42] #3551 closed

[2020-01-14 10:16] alwx opened #5070 "Update sanic and sanic-cors"
**Description of Problem**:

`sanic-cors` depends on `sanic-plugins-framework`, and the older version of it was pinned in this specific PR as a workaround: https://github.com/RasaHQ/rasa/pull/5064

**Overview of the Solution**:

However, we can instead upgrade to the latest versions of `sanic` and `sanic-cors` (`19.12.0` and `0.10.0b1` at the moment of writing) in order to be able to not only get

[2020-01-14 10:59] JulianGerhard21 commented on #5054
Hi @stevenev ,

could you please open a Windows Terminal with **Administrator privileges** and use:

`python -m spacy download en`

after downloading, please use:

`python -m spacy validate`

and then please post the output of the downloading process and the validation here. It might be the case, that there is something like "Download was succesfull but could'nt link model" printed - if that'S the

[2020-01-14 12:59] melindaloubser1 commented on #2674
should there be any warning for values mapped to other? and what should happen if someone puts a literal "other" as a value in the domain?

[2020-01-14 13:00] sara-tagger commented on #5068
Thanks for the issue, @tabergma will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-14 13:02] #4583 closed

[2020-01-14 13:02] #4209 closed

[2020-01-14 13:37] melindaloubser1 commented on #2674
@Ghostvv

[2020-01-14 15:08] cristianmtr commented on #4583
Unless this was explicitly fixed, it's most likely still a problem

[2020-01-14 16:07] stevenev commented on #5054
Thank you @JulianGerhard21 for the detailed instructions.

Actually first I had to do (using CMD Admin):
pip install spacy

and then I did:

python -m spacy download en
python -m spacy validate

I got:
====================== Installed models (spaCy v2.2.3) ======================
ℹ spaCy installation: C:\Users\steve\Anaconda3\lib\site-packages\spacy

TYPE      NAME             MODEL            VERS

[2020-01-14 16:22] stevenev commented on #5054
After some digging, looks like symlinking of spacy in Windows is a known issue:  https://stackoverflow.com/questions/53505068/couldn-t-link-model-to-en-core-web-md-on-a-windows-10

I will test the approach shown in stackoverflow and report back here.

[2020-01-14 17:09] JulianGerhard21 commented on #5054
Hi @stevenev ,

first of all, [this documentation](https://rasa.com/docs/rasa/1.1.8/user-guide/installation/) is for an old version of Rasa. I'd recommend to use the [latest version](https://rasa.com/docs/rasa/) since you mentioned that you are actually using version **1.6.1**.

I tried to reproduce the error but everything worked pretty well including the training. What I did:

1. I used [this tu

[2020-01-14 18:18] stevenev commented on #5054
Hi Julian@JulianGerhard21, PROBLEM SOLVED!!!   THANKS!!

The problem related to me running:
pip install rasa[spacy]

from Anaconda Powershell, NOT from CMD with Admin Privileges.

So my process with conda installed:
1. Create virtual environment in conda
C:\> python -m venv --system-site-packages ./venv

2. go to CMD with Admin and:
.\venv\Scripts\activate
pip install rasa[spacy]
python -m spacy d

[2020-01-14 18:27] JulianGerhard21 commented on #5054
Hi @stevenev ,

glad that I could help!

Regards
Julian

[2020-01-14 20:45] staticdev commented on #5040
@JustinaPetr I had a problem with my first fork but I recreated the pull request (#5071). Can you get a reviewer for that? Thanks.

[2020-01-14 23:44] srinathgnath opened #5073 "Installation issue"
I got below error while trying to install it. Any help would be greatly appreciated

 _**ERROR: Command errored out with exit status 1:
     command: 'c:\users\srina\appdata\local\programs\python\python38-32\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\srina\\AppData\\Local\\Temp\\pip-install-eepnzm15\\matplotlib\\setup.py'"'"'; __file__='"'"'C:\\Users\\srina\\Ap

[2020-01-15 07:00] sara-tagger commented on #5073
Thanks for the issue, @amn41 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-15 07:57] amn41 commented on #5073
hi @srinathgnath - for help with installation please try the [forum](https://forum.rasa.com/t/rasa-installation-on-windows-10/20258) - there is also a youtube tutorial for windows installation linked there

[2020-01-15 07:57] #5073 closed

[2020-01-15 10:30] RaminParker opened #5074 "UserWarning: Interpreter parsed an intent ‘name:’ that is not defined in the domain"
**Rasa version**: 1.6.1

**Rasa SDK version** (if used & relevant):1.6.0

**Rasa X version** (if used & relevant):

**Python version**: 3.6

**Operating system** (windows, osx, ...): Windows

**Issue**:

Since I am not 100% sure if this is a bug or not, I apologize if I'm wrong.

Although I have clearly defined my intents in the domain file, I get the following user warnings:

[code]

The full det

[2020-01-15 10:30] Saurbh060 commented on #1332
why this /affirm(intent) is shown when we select 1: New to bot ?
and how to remove this intent from conversation

[2020-01-15 11:21] nbeuchat opened #5075 "User input starting with a slash is interpreted as an intent"
**Rasa version**: 1.6.1

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu

**Issue**:
When a user enters an input with a slash such as `/start`, Rasa NLU recognizes this input as the intent `start` with 100% confidence even though the intent does not exist in the domain file.

I tried adding `/start` in the NLU training data for another intent (`greeting`) but it still rec

[2020-01-15 12:20] wochinge commented on #4132
fixed by https://github.com/RasaHQ/rasa/pull/4600

[2020-01-15 12:20] #4132 closed

[2020-01-15 12:24] tabergma commented on #5068
@tdzienniak Thanks for raising this issue. Did you used `rasa shell` or did you use the Rasa API for submitting the first user message?

[2020-01-15 12:25] wochinge commented on #4606
I meant if you can replace the handoff interaction for testing the bot with something which returns an answer immediately? As a workaround you could also use the `rest` input channel for testing (in case you want to manually answer to the handoff requests)

[2020-01-15 12:26] tdzienniak commented on #5068
@tabergma I used Rasa API.

[2020-01-15 12:41] wochinge commented on #3581
@mehtajinesh This is not yet done. @eibhleag @gausie Can you please give some feedback if / when we are tackling this?

[2020-01-15 12:43] wochinge commented on #3638
@sharms3d Seems it does not find your actions file or there are no actions in the file. Could you please ask the question on the [forum](https://forum.rasa.com/)?

[2020-01-15 12:57] #5056 closed

[2020-01-15 13:00] sara-tagger commented on #5075
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-15 13:00] sara-tagger commented on #5074
Thanks for the issue, @btotharye will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-15 13:07] alwx commented on #4805
It's actually not the case any longer.
I tried overriding restart_action for the default `formbot` and modified stories accordingly. I also made several test stories and got the following:

```> rasa test --fail-on-prediction-errors --stories test_stories/stories.md```

[code]

In this case, rasa correctly predicts that `action_listen` follows `action_restart`. Here are the modifications I made to

[2020-01-15 13:31] ravikrcs commented on #4606
Yes @wochinge ,
other action class are working fine. only problem in human-handoff class that gives timeout error that means i am not getting response from api which i mentioned above.

[2020-01-15 14:03] alwx opened #5077 "Transform `additional_arguments` (ex-`kwargs`) to a custom class instance"
**Description of Problem**:

[https://github.com/RasaHQ/rasa/pull/5063](https://github.com/RasaHQ/rasa/pull/5063) renames `kwargs` to `additional_arguments`. However, there is still one issue intentionally left unresolved: `dump_stories` argument in rasa.train seems redundant — it can easily be moved to `additional_arguments`, and there is no need to keep it separately. However, the better option

[2020-01-15 15:27] melindaloubser1 commented on #4601
@erohmensing when trying to reproduce, I am presented with a /restart option twice in a row, but it works the second time it is selected. Is that the same behaviour you were seeing?

[2020-01-15 15:31] wochinge commented on #5077
Perfect thanks!

[2020-01-15 15:47] erohmensing commented on #4601
Hm, I don't think so. I've also seen the regular restart button from `action_default_fallback` not work as well. Can you post the debug logs from a conversation? We have noticed it specifically in Sara

[2020-01-15 15:48] tabergma commented on #5068
@tdzienniak I have some trouble reproducing your error. Can you tell me the exact steps you did?

I started rasa with `rasa run -m models --endpoints endpoints.yml  --enable-api` and configured an SQL tracker store in the `endpoints.yml` file. After the server started I sent a message to the server via `http://localhost:5005/conversations/default/messages`.  The respond looked fine.

[2020-01-15 16:11] melindaloubser1 commented on #4601
I don't see an intent `confirm` in the domain of Sara (incl. the version of master on 5 Nov) - should I be on some other branch?

[2020-01-15 16:24] melindaloubser1 commented on #4601
[code]

[2020-01-15 21:06] zoka123 commented on #5003
Yeah, this could be clarified a little bit in the docs, since the name itself doesn't really make Rasa realize these are lookup values for that specific entity

[2020-01-15 21:17] zoka123 commented on #4859
Also, when committing changes back to the Git server, RasaX removes previous references to these lookup tables:

![image](https://user-images.githubusercontent.com/3052111/72472345-ad6e9c80-37e4-11ea-97fe-270efb7f1eeb.png)

What's the right way to handle bigger lookup datasets if we want to work with Rasa X for bots in production?

[2020-01-16 05:57] ravikrcs commented on #4606
i got this issue in human - handoff implementation. Below i attached screenshots.....

actions.py
![actions](https://user-images.githubusercontent.com/31586794/72497550-cd3ca980-3852-11ea-9bc4-940552f3788a.PNG)

api.py
![api](https://user-images.githubusercontent.com/31586794/72497594-e2193d00-3852-11ea-9f94-6bfa708ff2c1.PNG)

action server:
![action_server](https://user-images.githubusercontent.c

[2020-01-16 07:18] amn41 commented on #4884
For sure! Let us know if you need some help

[2020-01-16 08:09] zhfneu commented on #3667
you can try this comand to Install ujson separately.
conda install -c anaconda ujson

[2020-01-16 08:31] #5040 closed

[2020-01-16 09:19] Saurbh060 commented on #2891
Can you provide link of this issue on forum

[2020-01-16 10:09] akelad commented on #5067
Hey @ncoder this isn't a bug, there's no stories written designed to handle multiple `greet` intents in a row, so that flow may not work. This can be resolved by adding more stories where this happens, or changing the policy that handles this intent, or reducing the max history value

[2020-01-16 10:09] #5067 closed

[2020-01-16 10:11] #4458 closed

[2020-01-16 12:13] JEM-Mosig opened #5082 "Story structure conflict resolution on command line"
**Description of Problem**: The `rasa data validate stories` function identifies story conflicts, but they still have to be fixed manually. It would be handy if the tool could guide the user through the conflict resolution process.

**Overview of the Solution**: Started to implement things, but deleted for PR. See validator.py in 3fdc08a030dbd85c15b4f5d7e8b5ad6a254eefb4

**Definition of Done**:

*

[2020-01-16 15:26] testforpepper commented on #3213
Hi @karthikbalu, did you manage to make it work? :)

[2020-01-16 16:45] eibhleag commented on #3581
This specific workflow isn't in our immediate backlog, but the Conversations view in Rasa X will soon allow you to filter for Interactive Learning conversations (currently they're hidden), so it'll be possible to annotate entities that way 🙂

[2020-01-17 10:05] #1988 closed

[2020-01-17 11:29] #5017 closed

[2020-01-17 12:10] #4664 closed

[2020-01-17 14:48] alwx opened #5088 "Use only one pytest plugin for async operations"
**Description of Problem**:

I introduced `pytest-asyncio` to fix the issue with some tests being not asynchronous ([https://github.com/RasaHQ/rasa/pull/5080](https://github.com/RasaHQ/rasa/pull/5080)). It does it job pretty well, but it partially duplicates the behavior of `pytest-sanic`, and we don't really need two libraries for async operations.

The reason why `pytest-asyncio` is needed in th

[2020-01-17 15:32] tomasis98 opened #5089 "Response before message is handled on facebook channel"
**Rasa version**: 1.6.1
**Rasa SDK version**: 1.6.1
**Python version**: 3.6
**Operating system**: Mac OS
**Issue**:
We're facing the problem with sending response to Facebook on post webhook. In general, response on webhook should be send asap because Facebook starts sending requests repeatedly in case of not getting response in time.

The problem is in Sanic webhook architecture. In default, it d

[2020-01-17 15:51] cowjen01 commented on #5089
I would like to add that for now we've came up with a backup solution - simple Node.js server working as a gateway for all incoming requests. Right after the request is handled we response with ok status and forward the request to the Rasa Server API.

[2020-01-17 17:03] John-Nagle commented on #5052
I got that error under a fresh Python 3.8.1  virtual environment. Ubuntu 16.04 LTS desktop.  Do I need to go back to Python 3.7? Rasu seems to use an older version of Tensorflow.

[code]

[2020-01-17 18:06] John-Nagle commented on #5052
Went back to Python 3.7. Tensorflow installed successfully. So this is a versioning problem.
On Python 3.7, I got the install error:

`ERROR: sanic-plugins-framework 0.8.2.post1 has requirement sanic<=19.6.3,>=0.8.3, but you'll have sanic 19.9.0 which is incompatible.`

Another versioning problem. Fortunately I don't need sanic.

[2020-01-19 04:03] mystic-cg commented on #4129
I have the same problem.
Python: 3.8.1
Sanic: 19.12.2
Here is the code.
`
#!/usr/bin/env python
# -*- coding: utf-8 -*-

from sanic import Sanic
from sanic.response import json

app = Sanic("blog")

@app.route("/")
async def test(request):
    return json({"hello": "world"})

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=8000)
`

[2020-01-19 12:03] koaning commented on #5062
Yep. Confirmed :)

[2020-01-19 12:03] #5062 closed

[2020-01-19 15:02] greatsharma opened #5090 "Multi-Intent and Login"
4 months ago I asked [this](https://forum.rasa.com/t/why-seperate-data-for-multi-intent/15667) question at rasa forums regarding `multi-intent` and in reply I was told that the feature I am looking for is currently not available in rasa. I just want to know is it supported now?

Also I am posting this question here but not in the forums because I am unable to login. On trying to login it says `You

[2020-01-20 07:00] sara-tagger commented on #5090
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-20 07:00] sara-tagger commented on #5089
Thanks for the issue, @JustinaPetr will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-20 08:36] wochinge commented on #4223
I think
- it makes sense for `--domain` and `--out`
- it doesn't make sense for `--fixed-model-name`, `--force`,`--dump-stories` and `--debug-plots`
- it would make sense to allow `--augmentation`,  `--persist-nlu-data` to be specified in the `config,yml` file

What do you think?

[2020-01-20 09:01] mexophantes opened #5091 "Rasa restarts session while filling slots with a form and deletes slots"
**Rasa version**:
1.6.1

**Rasa SDK version** (if used & relevant):
1.6.1

**Rasa X version** (if used & relevant):
0.24.1

**Python version**:
Python 3.6.10 :: Anaconda, Inc.
Tested also with Python 3.7 --> same result

**Operating system** (windows, osx, ...):
windows

**Issue**:
Rasa restarts session (calls action_session_start) while filling slots with a form and deletes slots.
See also forum:

[2020-01-20 10:12] tabergma commented on #5090
@greatsharma We still not support multi-intents. Our intent classifier predicts just one intent at a time.

I'll close this issue as it is question. You can still add a comment. Not sure how to help you with the login, if we come across a solution, we will let you know.

[2020-01-20 10:12] #5090 closed

[2020-01-20 13:00] sara-tagger commented on #5091
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-20 15:01] mhost39 opened #5096 "are there any automated way to migrate Dialogflow to RASA included ( Domain and stories ) please ??"
are there any automated way to migrate Dialogflow to RASA included ( Domain and stories ) please ??

[2020-01-20 17:42] abhishekborse opened #5097 "Can I use my database table as look-up table?"

[2020-01-20 20:03] wochinge commented on #4540
@Ghostvv Any input on Greg's response?

[2020-01-20 21:39] rgstephens commented on #4540
I think we can close this.  In the future, we should document changes that can cause significant changes in resource requirements for the pre-conifgured pipelines.

[2020-01-21 05:14] ahtesham12 opened #5098 "Training Data Issue"
I have training data error, , kindly give solution.
![training-data](https://user-images.githubusercontent.com/36069404/72777237-cce13d00-3bc9-11ea-89db-ff5a5d400c01.PNG)

[2020-01-21 07:00] sara-tagger commented on #5098
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-01-21 07:00] sara-tagger commented on #5097
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-01-21 07:00] #5098 closed

[2020-01-21 07:00] #5097 closed

[2020-01-21 07:00] sara-tagger commented on #5096
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-01-21 07:00] #5096 closed

[2020-01-21 07:51] rahulsattar commented on #4782
Looks like the problem is with Python 3.8. Use Python 3.7 instead. Steps I took to solve this.

Created a python 3.7 environment with conda
Installed rasa using pip install rasa within the environment.
Worked for me.

[2020-01-21 08:50] wochinge opened #5099 "Identify model testing blockers"
To make it easier to integrate model testing and validation as part of a CI pipeline, we need to identify current blockers / things which are not smooth.

Suggested setup:

1. Rasa project including action server

Things to do:

1. Validating training data
2. Testing NLU
3. Testing Core
4. e2e testing of the model

The docs should help on the single steps: https://rasa.com/docs/rasa/user-guide/eva

[2020-01-21 10:09] #4618 closed

[2020-01-21 10:56] alwx commented on #5099
I used several different rasa bots (newly created project initiated with `rasa init`, `examples/formbot` and `examples/restaurantbot`) for testing. Everything went smooth, except for one very small thing:

When I tried validating `restaurantbot`, it showed me a stack trace and the following error:
[code]
I understand that the error is expected and it can be fixed in a minute, but maybe we should e

[2020-01-21 11:14] btotharye commented on #5074
Sorry for the late reply @RaminParker I'll take a look at this today and get back to you

[2020-01-21 12:30] JSchuurmans opened #5101 "link to local test with ngrok in docs is broken"
link:  `ngrok <https://rasa.com/docs/rasa-x/get-feedback-from-test-users/#use-ngrok-for-local-testing>`

in file: [docs/user-guide/messaging-and-voice-channels.rst](https://github.com/RasaHQ/rasa/blob/master/docs/user-guide/messaging-and-voice-channels.rst)

is broken.

[2020-01-21 13:00] sara-tagger commented on #5101
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-21 14:18] melindaloubser1 commented on #4601
figured out how to replicate - when running in shell I get the `/restart` option twice as mentioned, but on the docs it just presents the button once and I have to manually `/restart` to get it to actually restart. will start working on it.

[2020-01-21 17:17] HarshRangwala commented on #3534
Did anyone solved the issue??? @bijiaxing , @oladap ??? Please respond asap.

[2020-01-21 18:07] John-Nagle opened #5104 "Rasa's install of old Tensorflow breaks "curl""
Rasa 1.6.1

**Python version**:
3.7.6.

**Operating system** (windows, osx, ...):
Ubuntu 18.04 LTS

**Issue**:
Rasa's install of old Tensorflow breaks "curl", which breaks iDrive backups

Installing current Rasa installs obsolete Tensorflow 1.15. Tensorflow installs its own modded version of libcurl, turning on Google Cloud support. This messes up dependencies and means "curl", the command line pr

[2020-01-22 03:59] #4214 closed

[2020-01-22 04:05] mtrworld commented on #5066
Hi RaminParker,

I was able to resolve this issue . Try using
rasa train -vv -dump-stories --force

[2020-01-22 04:05] mtrworld commented on #5066
Hi RaminParker,

I was able to resolve this issue . Try using
rasa train -vv -dump-stories --force

[2020-01-22 05:30] pudasainishushant opened #5105 "Hello, I am facing an issue with deprication of utter_attatchment function from the collecting dispatcher. I searched for the alternatives for this function. I could not find any alternative to this. Please suggest me any new update to this."

[2020-01-22 06:35] #4464 closed

[2020-01-22 07:00] sara-tagger commented on #5105
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-01-22 07:00] #5105 closed

[2020-01-22 07:00] sara-tagger commented on #5104
Thanks for the issue, @JustinaPetr will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-22 09:29] wochinge commented on #5099
How was writing the end-to-end tests for you? Did you find enough documentation? How did end-to-end testing go with the action server? Did you start it before and then executed things?

[2020-01-22 10:25] jehnes opened #5106 "Potential bug in rasa/data.py"
Hello Rasa team,

I have the following problem running Rasa and in consequence Rasa-X on my setup. I was able to fix it in the rasa code, but in rasa-X it is not so straight forward as it involves some some fidelling with docker files.

### My setup:

I use a linux workstation (Ubuntu 18.04.3 LTS (GNU/Linux 5.0.0-37-generic x86_64)) with python3.6 as my rasa server as well as the docker host for r

[2020-01-22 11:37] #3548 closed

[2020-01-22 13:00] sara-tagger commented on #5106
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-22 14:24] federicotdn opened #5108 "Fix rasa-sdk issues for 1.7 milestone"
For the [Rasa OSS 1.7 milestone](https://github.com/RasaHQ/rasa/milestone/19), the following [Rasa SDK](https://github.com/RasaHQ/rasa-sdk) issues should be fixed and merged into the `master` branch *(add more issues to this list if necessary)*:
- [x] https://github.com/RasaHQ/rasa-sdk/issues/134 - Unable to use async code in forms

[2020-01-22 15:04] RaminParker commented on #5066
Hey mtrworld

No, I am sorry to say that this doesn't work. Still have the same warnigns.

This is what I did:

Terminal 1:
`rasa train -vv -dump-stories --force`

Terminal 2:
`rasa run --endpoints endpoints.yml --credentials credentials.yml --cors "*"`

Terminal 3:
`rasa run actions --actions actions`

Terminal 4:
`livereload`

[2020-01-22 18:13] koaning opened #5111 "uvloop is stuck on rasa init"
**Rasa version**:

[code]

**Python version**:

[code]

**Operating system** (windows, osx, ...):

mac

**Issue**:

When I run `rasa init` I get a huge dump of this in the terminal;

[code]

**Error (including full traceback)**:

Eventually when I ctrl-c out I get this;

[code]

[2020-01-22 18:18] koaning commented on #5111
seems relevant to mention;

[code]

[2020-01-22 18:24] koaning commented on #5111
It also deserves mentioning that this works fine;

[code]

[2020-01-22 19:26] codeabiswas commented on #5111
I actually did the same thing to get around it. However, when I run `rasa shell`, I get the same error as the one you are describing above.

[2020-01-22 21:28] codeabiswas commented on #5111
I figured out the issue for `rasa shell` and `rasa init`. The problem is that some of the packages that Rasa depends on got updated. You want to make sure that your packages are the versions below to make this work:
* `google-auth==1.10.1`
* `prompt-toolkit==2.0.10`
* `questionary==1.4.0`
* `SQLAlchemy==1.3.12`
* `urllib3==1.25.7`
Hope this helps!

[2020-01-22 21:34] wochinge commented on #4294
@tmbo What did you mean? :-D

[2020-01-22 21:46] wochinge commented on #4876
fixed by https://github.com/RasaHQ/rasa/pull/4964

[2020-01-22 21:46] #4876 closed

[2020-01-22 21:48] koaning commented on #5111
Mhm... it seems that a version update messes things up often. See a [previous bug of mine](https://github.com/RasaHQ/rasa/issues/4643). Is this something that can be prevented?

[2020-01-22 22:04] wochinge commented on #4721
@akelad Why should this warning not be shown for the intent stage? It's important for the featurization, isn't it?

[2020-01-22 22:06] codeabiswas commented on #5111
There should probably be a `requirements.txt`-based setup. That would be tried and tested with the version numbers for packages so that there is less build breaking.

[2020-01-22 22:23] tmbo commented on #4294
exactly what @elyase mentioned. There might be a use case for conversation wide metadata. But that is something different to the metadata of a single user message.

The code akela posted basically treats the latest messages metadata as the conversation wide metadata.

[2020-01-23 07:00] sara-tagger commented on #5111
Thanks for the issue, @rgstephens will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-23 07:20] Gurdershan opened #5114 "example/knowledgebasebot. There is no credential.yml, running on web socket is giving exception"
**Rasa version**:

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of domain file (domain.yml)** (if relevant)

[2020-01-23 07:27] Gurdershan opened #5115 "Error running example/knowledgebasebot"
**Rasa version**:23.1.0

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:3.6

**Operating system** (windows, osx, ...):windows

**Issue**: Unable to riun knowledgebasedbot

[code]

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[cod

[2020-01-23 08:11] IgNoRaNt23 commented on #4884
Found a bug:
It is not possible to change the value of 'store_entities_as_slots'. If I set it to true, it always gets overwritten with the default value. Observed this when trying to pass my new key.
When I train with a domain file, where 'store_entities_as_slots' is set to false, the domain file in the model tar, will show 'true' again.

Need to fix this in order to make my change work (not as de

[2020-01-23 08:31] akelad commented on #4721
i should have phrased that better: i meant during intent label featurization (so e.g. `mood_great` has two tokens if the `split` flag is set to true). Of course it should be thrown during  intent example featurization :D does that make sense?

[2020-01-23 08:39] wochinge commented on #3975
@DiegoProtec How is it going? If you don't have time, I'd assign it to one of my colleagues

[2020-01-23 08:41] wochinge commented on #4721
Ok, so the problem is that it's currently thrown twice? What was your pipeline like?

[2020-01-23 08:54] wochinge commented on #4294
Ok, but what speaks against handling it the way Akela suggested? It's important to know which message the metadata is describing and making that state of the conversation doesn't make sense to me. Users should set conversation metadata using slots imo.

[2020-01-23 09:07] tmbo commented on #4294
Don't get me wrong, I am not saying we should not implement something like `tracker.latest_message.metadata`, I just wanted to mention there might be some underlying need to be able to store metadata on a conversation.

To some extent, this is what slots are for, so might make sense to make it easier to store unfeaturized metadata in slots.

[2020-01-23 09:13] wochinge commented on #3153
@icaropires How is it going?

[2020-01-23 09:14] wochinge commented on #3886
@btotharye Is this the stale pr you wanted to talk about?

[2020-01-23 09:14] wochinge commented on #4805
@JEM-Mosig

[2020-01-23 09:18] wochinge commented on #4340
I think the problem is that reminders don't work for certain channels (same as for the external actions / intents)

[2020-01-23 09:18] wochinge commented on #4340
Changing this to a docs issue then.

[2020-01-23 09:19] akelad commented on #4294
yeah as far as i've seen most people use metadata per message, rather than something that's global

[2020-01-23 09:20] akelad commented on #4721
it's thrown for things it shouldn't be throwing - intent label featurization and response selector. My pipeline was standard supervised embeddings + response selector i think

[2020-01-23 09:22] wochinge commented on #4821
@federicotdn is this already done?

[2020-01-23 09:23] wochinge commented on #4790
@erohmensing Could you please elaborate on what you and Nikolai discussed?

[2020-01-23 09:24] federicotdn commented on #4821
Yes, forgot to close this (see https://github.com/RasaHQ/rasa/pull/4840)

[2020-01-23 09:30] wochinge commented on #4606
mhm, ok, then let's
- check if there is a better way to communicate errors in Rasa to the `console` connector than the timeout
- if not: make the timeout configurable

[2020-01-23 09:30] #4821 closed

[2020-01-23 09:37] tmbo commented on #4294
interesting, can you add a couple of examples of things you have seen them store in there?

[2020-01-23 09:46] federicotdn commented on #5032
@wochinge should we close this issue?

[2020-01-23 09:56] wochinge commented on #5032
Omh, github should really close this when I do a `fix ...` comment

[2020-01-23 09:56] #5032 closed

[2020-01-23 10:02] IgNoRaNt23 commented on #4884
Thought the problem is the call of the merge function in Domain's load

https://github.com/RasaHQ/rasa/blob/4bbf78bedc7ee229693d65c172f49226e59142e0/rasa/core/domain.py#L90

since the config settings are just overwritten with defaults from the empty Domain. But setting 'override=True' in the merge-call doesnt solve it. (Even though the resulting domain now got the correct settings, its not the use

[2020-01-23 10:04] tmbo commented on #4294
prob https://github.com/RasaHQ/rasa/issues/4884#issuecomment-577610744 is also indicating that people want a way to have an easier way to attach data to a conversation that does not influence the prediction

[2020-01-23 12:06] btotharye commented on #3886
@wochinge yep!

[2020-01-23 12:56] giladpn opened #5118 "FORMBOT example contains bugs"
**Rasa version**: 1.6.1
**Python version**: 3.7.6
**Operating system** (windows, osx, ...): Windows 10 (stable)
**Also:** Powershell 5.x

Hi. I am new to rasa and have been trying to get the formbot example working. I think the example code in the repository is not so up to date any more, though I cannot be sure. I had several problems.

I pulled the latest repo with the most updated code of the e

[2020-01-23 13:00] sara-tagger commented on #5118
Thanks for the issue, @wochinge will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-23 13:00] sara-tagger commented on #5115
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-23 13:00] sara-tagger commented on #5114
Thanks for raising this issue, @tmbo will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-23 14:12] VarunNatraaj opened #5121 "Contribution for Elmo Featurizer"
**Description of Problem**:

Rasa is extremely powerful and comes packed with lots of features. Primarily the types of NLU training pipelines it has are wonderful. However, when I was training for a particular use case, I found that the available pipelines have some drawbacks.

1) **Supervised** -
  Trains embeddings from scratch using a modified version of Starspace
  However this has a hard time

[2020-01-23 15:00] dakshvar22 commented on #5121
Hi @VarunNatraaj , thanks for posting your observations.
ConveRT embeddings are definitely contextual and more suited for dialog related tasks. Can you share the actual numbers from your tests for different pipelines you tried? A few details(language, spelling errors, domain, etc.) about the dataset you have trained your assistant on will also be helpful.

Thanks

[2020-01-23 15:21] tabergma commented on #5115
@Gurdershan I assume you took the Knowledgebot example from the current master branch? The example on master was recently updated. With the next release it will not be needed anymore to add the templates to actions in your `domain.yml`. However, as the feature is not yet released, the current Rasa version will fail.
Please update the `actions` sections in your `domain.yml` with
[code]

[2020-01-23 17:08] mtrworld commented on #4606
Is there any update or workaround for this issue?

[2020-01-23 17:42] VarunNatraaj commented on #5121
Hello @dakshvar22 , thanks for replying. Let me check my stash for the data you asked for and get back :)

[2020-01-23 17:51] akelad commented on #4294
i'll ask.

[2020-01-23 18:48] devdeca commented on #4975
Hello,
Before adding it to docs I'd like to know how it changes the model or training behavior(or if it doesn't).

[2020-01-23 20:21] Archetype90 commented on #3609
I was looking for a DialogFlow alternative, but I make extensive use of their APIs. I had been concerned that there will be a decent amount of development time required to get to the state that I currently have DialogFlow in. After looking for Python documentation, that concern grew exponentially.

As @joeytrevino said, it seems like the primary way to deduce API calls is to look at other existing

[2020-01-23 22:39] rgstephens commented on #5111
@koaning and @codeabiswas thanks for noting these dependency issues.

[2020-01-24 00:45] staticdev commented on #4526
I think it is a good idea for not having a bloated package. One common workaround is removing from requirements and putting it as optional in the setup.py. Eg: https://github.com/slackapi/python-slackclient/pull/440/files

[2020-01-24 02:32] #4408 closed

[2020-01-24 02:32] #4640 closed

[2020-01-24 05:37] tettoffensive commented on #5111
I'm seeing the same issue. I'm new to the python ecosystem. How do I make sure those dependencies get the proper versions?

[2020-01-24 06:24] VarunNatraaj commented on #5121
Caught up in other experiments. Will probably be a while until I collect quantitative data. Closing this until then. Thanks!

[2020-01-24 06:24] #5121 closed

[2020-01-24 09:14] wochinge commented on #4721
Sorry, I'm a bit slow here 🙈 How do you know what it's thrown for? The warning only tells you that the `CountVectorizer` component is throwing it, isn't it?

[2020-01-24 09:28] akelad commented on #4721
i mean, i don't know with 100% certainty because i didn't check. But i know it can't be from the intent example featurization because i have an oov token in there and it works as expected. And I talked about this with someone as well, they mentioned some stuff had been changed with the featurizer which is causing this. It's been happening since version 1.3 or something

[2020-01-24 09:40] wochinge commented on #5118
Hi @giladpn ,

That's because you cloned  the repository and `master` already contains new features while your `rasa` version `1.6.1` isn't able to deal with them yet. Best to check out the `1.6.x` branch after cloning!

Can you please try putting a `__init__` file in the directory of your actions file and try again?

[2020-01-24 11:51] giladpn commented on #5118
OK I added an

file but that by itself did not solve it. Still getting the same errors such as
[code]

However I experimented and here is a fix. Instead of running a background job for
[code]
I just started a separate Powershell terminal and ran
[code]
(with no & at the end!). Now the example works!

So this is a solution that works and maybe other people want to know about it.

However this solut

[2020-01-24 12:09] Ghostvv commented on #663
@tabergma can you implement it in the calculation of `cls` vector?

[2020-01-24 12:13] tabergma commented on #663
Yeah, we need to replace/adapt the following line: https://github.com/RasaHQ/rasa/blob/master/rasa/nlu/featurizers/dense_featurizer/spacy_featurizer.py#L62

[2020-01-24 12:13] Ghostvv commented on #3854
Isn't NER prints the errors in the file?

[2020-01-24 12:14] Ghostvv commented on #5065
@tabergma that's done? Can we close it?

[2020-01-24 12:36] Ghostvv commented on #663
let's do it as part of tf2 refactor, while it is still hot

[2020-01-24 12:37] Ghostvv commented on #663
and because it is quite a braking change, so might as well brake all at once

[2020-01-24 12:55] tabergma commented on #3854
Yes, added that at some point. Still no ranking, but nor sure if we want to add it.

[2020-01-24 12:56] #5065 closed

[2020-01-24 13:05] Ghostvv commented on #3854
adding scores in in the new architecture is fairly straightforward. I say let's add scores while we're on it

[2020-01-24 13:21] #1709 closed

[2020-01-24 14:43] wochinge commented on #4721
Ok cool, thanks, getting it now 🎉

[2020-01-24 15:18] #3074 closed

[2020-01-24 15:20] #3389 closed

[2020-01-24 15:41] wochinge commented on #3900
check if this is still the case

[2020-01-24 15:41] codeabiswas commented on #5111
@tettoffensive You can do a few things to make sure of this:

1. Look into `virtualenv` to create virtual environments for this project. This will sandbox your project so that it does not affect the global dependencies that some of your other projects may run on.

2. After you install Rasa and all of its dependencies have also been installed, before running `rasa init` to initialize the project, m

[2020-01-24 15:46] wochinge commented on #4612
@btotharye I unassigned it since you haven't started yet. Feel free to pick it up again :-)

[2020-01-24 16:05] wochinge opened #5128 "Clean up issues which are not in a project board"
- [ ] move issues which are not in board to board or close
- [ ] automatize issue assignment to boards

`no:project is:issue is:open`

[2020-01-24 16:20] wochinge commented on #4606
A workaround for now would be to not use `rasa shell` but e.g. Rasa X or the rest api

[2020-01-24 19:53] ortsaCniveK commented on #4223
@wochinge I agree with above, it would be really nice to just run `rasa train` and specify training-related parameters in the config file and let the CLI just handle where output is sent or where input is found.  It would make a bot more portable if the training-related parameters are specified in the config.

[2020-01-25 06:18] icaropires commented on #3153
Hi @wochinge , I'm very sorry for the delay, I ended up getting busier than I expected and that's why I couldn't finish this issue yet. And unfortunately, I will be very busy for at least another month.

As this issue requires a massive amount of changes, I will share how far I did (through a PR draft) and I hope it will be useful for someone.

I expect to be able to contribute again soon. Sorry a

[2020-01-25 06:29] icaropires commented on #4552
Hi @tabergma  , I'm very sorry for the delay, I ended up getting busier than I expected and that's why I couldn't finish this issue yet. And unfortunately, I will be very busy for at least another month.

No problem if you unassign this issue from me but I expect to be able to contribute again soon.
Sorry again for the delay.

[2020-01-25 09:41] koszta5 opened #5130 "Bug in analytics service after rasa x upgrade"
After upgrading to current version of rasa x (0.24.2) I experienced the followning exception when startin rasa:
[code]

I fixed it like this...
line 343 in analytics_service.py
if (

            or event_name == Restarted.type_name
            or event_timestamp - latest_session.latest_event_time > SESSION_TIMEOUT
        ):

[2020-01-25 20:19] Chronosms commented on #4784
I have the same problem too
Debian 10
Python 3.7, latest pip version

[2020-01-25 21:00] ngould commented on #5111
I fixed this following @codeabiswas's suggestion, although I only had to bump down the version for prompt-toolkit and questionary.

[2020-01-27 07:00] sara-tagger commented on #5130
Thanks for the issue, @TyDunn will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-27 07:47] tabergma commented on #4552
@icaropires No problem. Thanks for the heads up!

[2020-01-27 09:39] akelad commented on #3389
@wochinge why are we not fixing that?

[2020-01-27 10:58] chkoss opened #5132 "Rasa Tutorial includes commands that don't work on Windows"
**Operating system** (windows, osx, ...):
Windows

**Issue**:
Some code snippets that are shown in the Tutorial (https://rasa.com/docs/rasa/user-guide/rasa-tutorial/) do not work in the Windows command line.

**Proposed solution**:
Wherever it says `cat`, e.g. `cat data/nlu.md`, mention that on Windows you should instead use `type`.

[2020-01-27 11:01] rmiaouh opened #5133 "Production Rasa Resource temporarily unavailable"
**Rasa version**:
1.5.1

**Python version**:
3.6.9

**Operating system** (windows, osx, ...):
Linux (ubuntu)

**Issue**:
In a production server, when i try to enable the api with this command line

```rasa run --enable-api```

i got a rasa/tensorflow a ''Resource temporarily unavailable - Aborted''

**Error (including full traceback)**:
[code]
Here you can see the error :  https://prnt.sc/qtf65k

[2020-01-27 11:03] wochinge commented on #3389
Because
- it's messy in the code
- it's only a tiny tiny advancement if we don't retrain in case the duckling url is changed (how often are you changing your duckling url?)

So basically the relation between benefit and effort is very bad.

[2020-01-27 11:11] alwx commented on #5099
I will check it out one more time and update you with more information later today/tomorrow.

[2020-01-27 13:00] sara-tagger commented on #5133
Thanks for the issue, @btotharye will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-27 13:00] sara-tagger commented on #5132
Thanks for raising this issue, @akelad will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-27 13:39] juanmariareina opened #5134 "rasa.core.agent - Could not load model due to not a gzip file."
**Rasa version**: 1.5.1

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.7

**Operating system** (windows, osx, ...): Ubuntu

**Issue**: Cannot start rasa server due to error shown above.
I'm trying to start rasa server with:  rasa run -m models --enable-api --cors *

When I launch the above  I'm sure that my current path contains a folde

[2020-01-27 14:43] #4604 closed

[2020-01-27 15:42] juanmariareina commented on #5134
Well, I've just seen what is happening.

I have to use "*" instead of *... But, anyway the error shown is weird as it was addressing another issue. What enlighted me was the idea of the "*" character could be parsed and interpreted as if it is the wildcard character used to refer to "any file"

Perhaps, some fix could arise from this error. At least some warning about configuration parameter error

[2020-01-27 18:40] ArjaanBuijk commented on #5111
To be more specific in case you install Rasa Open Source using the [Quick Installation Approach](https://rasa.com/docs/rasa/user-guide/installation/#quick-installation), you have to follow it by a step pointed out by @ngould, to downgrade prompt-toolkit:

[code]

Now you should be able to run `rasa init`

[2020-01-27 19:01] #3241 closed

[2020-01-27 21:25] cmcc13 commented on #3389
We have to change the duckling url regularly because dev and prod environments are different.  So frequency of needing to change this is daily.
for docker-compose "url": "http://duckling:8000",
for k8s "url": "http://localhost:8000"

[2020-01-28 06:50] #4659 closed

[2020-01-28 07:00] sara-tagger commented on #5134
Thanks for the issue, @amn41 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-28 08:56] wochinge commented on #3389
@Yoomtah

As far as I understand it, you have two setups, correct? One docker-compose and one K8s? And are they completely separate or are you sharing the trained models between them? Because if you are not sharing the models between these two deployments, then you have to retrain either way.

[2020-01-28 10:40] SaiSatwik commented on #5111
The uvloop doesn't have _ready. We can just remove or comment that in utils.py.
[code]

[2020-01-28 12:29] btotharye commented on #5074
Haven't forgotten about you will get you something on this shortly, just been swamped

[2020-01-28 12:37] btotharye commented on #5074
just responded to the forum thread @RaminParker

[2020-01-28 12:46] wochinge commented on #5130
How did you install Rasa X @koszta5 ?

[2020-01-28 13:48] btotharye commented on #5133
@rmiaouh do you have anything else custom here or installed?  For me this worked fine, I just tested in a venv installed `rasa==1.5.1` and ran the `rasa run --enable-api` and did not see this issue.

[2020-01-28 14:59] dependabot-preview[bot] opened #5136 "Dependabot couldn't find a requirements.txt for this project"
Dependabot couldn't find a requirements.txt for this project.

Dependabot requires a requirements.txt to evaluate your project's current Python dependencies. It had expected to find one at the path: `/requirements.txt`.

If this isn't a Python project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/RasaHQ).

[View the upda

[2020-01-28 15:00] #5136 closed

[2020-01-28 16:11] dependabot-preview[bot] opened #5138 "Dependabot couldn't find a requirements-dev.txt for this project"
Dependabot couldn't find a requirements-dev.txt for this project.

Dependabot requires a requirements-dev.txt to evaluate your project's current Python dependencies. It had expected to find one at the path: `/requirements-dev.txt`.

If this isn't a Python project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/RasaHQ).

[V

[2020-01-28 16:24] #5138 closed

[2020-01-28 17:08] wochinge commented on #5111
just reproduced this in a clean env

[2020-01-28 21:31] #4896 closed

[2020-01-28 21:54] koszta5 commented on #5130
Here is my dockerfile:

FROM ubuntu:18.04
RUN echo "root:docker" | chpasswd
RUN apt-get --yes --force-yes update
RUN apt-get --yes --force-yes install sudo
RUN useradd -ms /bin/bash rasa
RUN echo "rasa:rasa" | chpasswd
RUN usermod -aG sudo rasa
RUN apt-get --yes --force-yes install net-tools
RUN apt-get --yes --force-yes install lsof
RUN apt-get --yes --force-yes install python3
RUN apt-get --yes

[2020-01-28 21:55] koszta5 commented on #5130
I think the whole problem was just about mounting an older version of rasa model to this newly created container. Can you confirm that this would make sense?

[2020-01-29 02:10] Yoomtah commented on #3389
For each chatbot that we have (I believe its 5), we have two model files: model-dev and model-prod. These models are identical except that they were trained with different duckling URLs. Depending on our environment we then build a Rasa docker container with one of these files.

The duckling URL is the only thing necessitating two training runs and managing two model files for each bot. We have a

[2020-01-29 07:31] rabinpoudyal commented on #2501
Did anyone solve this?

[2020-01-29 07:51] labeebee commented on #3609
Any update on the docs?

[2020-01-29 08:20] kappa90 opened #5146 "Shell/Interactive Learning throws 'This event loop is already running'"
Trying to install Rasa Open Source, this happens just after clean installation, if I try to use the "shell" or "interactive" command:

2020-01-29 09:06:40 INFO     root  - Connecting to channel 'cmdline' which was specified by the '--connector' argument. Any other channels will be ignored. To connect to all given channels, omit the '--connector' argument.
2020-01-29 09:06:40 INFO     root  - Start

[2020-01-29 10:45] IgNoRaNt23 commented on #4884
So, how should I go on with this?

[2020-01-29 10:53] #4657 closed

[2020-01-29 12:53] tiz-lab opened #5147 "ValueError: X.shape[1] = 256 should be equal to 128, the number of features at training time"
**Rasa version**: 1.6.0

**Python version**: 3.7.4

**Operating system**: windows

**Issue**: error while running `rasa test`

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (supervised.yml)**:
[code]

**Content of configuration file (spacy.yml)**:
[code]

**Content of configuration file (convert.yml)**:
[code]

[2020-01-29 12:59] federicotdn commented on #5146
Hey @kappa90, could you try that again but using 1.6.2?

[2020-01-29 13:00] sara-tagger commented on #5147
Thanks for the issue, @dakshvar22 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-29 13:14] #5108 closed

[2020-01-29 13:26] wochinge commented on #5111
Fixed in Rasa 1.6.2 🎉 Thanks for bringing this up! One of our dependencies broke, so it wasn't a bug in rasa itself but somewhere in the upstream dependencies.

[2020-01-29 13:26] #5111 closed

[2020-01-29 14:26] #4805 closed

[2020-01-29 14:39] srinathgnath opened #5149 "Slack Integration"
Hello,

I'm working on a project where I need to integrate Slack with RASA chatbot. I did follow the steps as  "https://rasa.com/docs/rasa/user-guide/connectors/slack/".

I do see messages reaching ngrok, But don't see anything at RASA server and also no response has been sent. Please let me know if I'm missing something.

Thanks

[2020-01-29 15:09] koaning commented on #5111
Danke Schon.

[2020-01-29 16:24] kappa90 commented on #5146
Seems to be fixed with 1.6.2, thanks!

[2020-01-29 16:24] #5146 closed

[2020-01-29 17:51] Ayusha22 commented on #3323
This is really helpful. Thanks a lottt!!! @bschoenhe

[2020-01-29 20:39] samscudder commented on #5004
I just ran a reduced test suite against 1.4.6 and 1.6.2, 102 test phrases. I used the same random seed. rasa database was dropped between tests.

Our config file:
Keras policy is batch=128 epochs=600
EmbeddingIntentClassifier with 200 epochs

**Rasa 1.4.6**
Training time:  - Between 2 and 3 hours*
Model file size: 27.5MB
Correct intents (threshold 0.6): 58/102
Average accuracy of correct intents:

[2020-01-29 23:55] Ben-Mark commented on #4518
Any updates on this feature request?

[2020-01-30 07:00] sara-tagger commented on #5149
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-01-30 07:00] #5149 closed

[2020-01-30 07:57] ChaitanyaBhole opened #5153 "tensorflow-cpu version dependency problem during initial installation of rasa"
I had problem installing rasa as per the instructions on this page:-
https://rasa.com/docs/rasa/user-guide/installation

Am I missing something?

[2020-01-30 08:37] JulianGerhard21 commented on #5004
Hi @samscudder

I am currently investigating this with Rasa 1.7.0. Ill come back with some stats asap.

Regards

[2020-01-30 08:40] alwx opened #5156 "Start testing against the latest dependency versions"
**Rasa version**: 1.7.0

**Issue**:
When users install `rasa` we allow a range of versions of dependencies to be installed (which is necessary and best practice) but we are not testing against the latest ones. So we are missing some essential alerting there.

We could also keep it like it is and run the setup.py version as a regular cron job in travis. This way we don't block development and still

[2020-01-30 09:57] wochinge commented on #3975
@ChristinaKoss When you start with it, I'd split in two PRs
- add sender id to `rasa interactive`
- add sender id to `rasa shell`

[2020-01-30 10:03] SaiSatwik opened #5158 "Terminate called after throwing an instance of 'Xbyak::Error'"
I tried to install rasa in my ubuntu vm. Rasa installation was successful. But I was not able to execute rasa init or rasa train command. I am getting the following error.
[code]
I tried running rasa using docker too. There also after executing "docker run -v $(pwd):/app rasa/rasa init --no-prompt" command I am getting the same error.

[2020-01-30 10:34] akelad commented on #4857
as of release 1.7.0 probabilities can be normalised across the top n intents: https://rasa.com/docs/rasa/migration-guide/#rasa-1-6-to-rasa-1-7

[2020-01-30 10:34] #4857 closed

[2020-01-30 12:22] JEM-Mosig commented on #4742
@aejaex FYI: Intent triggering external events and reminders are released now: https://github.com/RasaHQ/rasa/releases

[2020-01-30 12:24] JEM-Mosig commented on #4876
@nbeuchat Intent-triggering external events (and reminders) are released now! See https://github.com/RasaHQ/rasa/releases

[2020-01-30 13:00] sara-tagger commented on #5158
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-01-30 13:00] #5158 closed

[2020-01-30 13:00] sara-tagger commented on #5153
Thanks for the issue, @ArjaanBuijk will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-30 13:14] samscudder commented on #5004
Here's the results for Rasa 1.7.0 with the same training parameters and test cases as above:

**Stock rasa 1.7.0**
Training time: 7m40.55
Model file size: 51.9MB
Correct intents (threshold 0.6): 32/102
Average accuracy of correct intents: 0,69

**Rasa 1.7.0 with count_vector_featurizer patch**
Training time: 8:12.96
Model file size: 53.5MB
Correct intents (threshold 0.6): 29/102
Average accuracy o

[2020-01-30 13:46] #663 closed

[2020-01-30 13:50] wochinge commented on #3153
Thanks @icaropires the draft is super helpful !

[2020-01-30 14:11] JulianGerhard21 commented on #5004
Hi @samscudder ,

I am wondering about those results. With version 1.7, the patch is no longer necessary due to [this issue](https://github.com/rasahq/rasa/issues/4978).

I tested a comparison between different sized datasets and configs over version 1.6.1 with patch and 1.7.0 without and the results were mostly better than expected, generally way over 90% F1 score since my sets are almost always

[2020-01-30 14:56] kr-sundaram commented on #4854
@arbazkhan971 & @tabergma  - Hi Both, I would like to work on this issue if any progress has not been made so far.

Thanks.

[2020-01-30 15:04] tabergma commented on #4854
@kr-sundaram Great 🎉  The issue is still open, feel free to work on it. Let me know if you need any help.

[2020-01-30 15:05] giladpn opened #5161 ""Tutorial Tensorflow Pipeline" contains bugs - how to get it working"
**Rasa version**: 1.6.1
**Python version**: 3.7.6
**Operating system** (windows, osx, ...): Windows 10 with Powershell 5.x
**Issue**: "Tutorial Tensorflow Pipeline" contains bugs - how to get it working

Hi there

I am learning to use rasa. I read the blog post on how to handle multiple intents
https://blog.rasa.com/how-to-handle-multiple-intents-per-input-using-rasa-nlu-tensorflow-pipeline/

and

[2020-01-30 15:20] nataliiao commented on #4006
This warning occurs because (as you can see) `fc976cc217934115b1f4b5d44b236d80` is not a timestamp.
In rasa/core/processor.py:

`parse_data = await self.interpreter.parse(message.text, message.message_id, tracker)`

Where `self.interpreter` is an instance of the class RasaNLUInterpreter (in rasa/core/interpreter.py), and its `parse` method runs the following command:

`self.interpreter.parse(text,

[2020-01-30 16:44] wochinge commented on #3389
Ah, I think I'm getting it now.
1) You train a model in the dev environment and decide it's worth to promote it to the prod environment
2) You can't promote it to the prod environment, because the duckling url is diferent and then you have to retrain it, right?

Would a easy workaround to add an alias for `duckling` to your hosts file? (https://en.wikipedia.org/wiki/Hosts_(file))

[2020-01-30 17:32] ArjaanBuijk commented on #5153
@ChaitanyaBhole ,
Please post your question to the [forum,](https://forum.rasa.com/) with more details on the steps you took, the OS you are using, and ideally the output that shows your issue.

[2020-01-30 17:32] #5153 closed

[2020-01-30 18:12] JulianGerhard21 opened #5162 "Problem with Multi-Intents Rasa 1.7.0: Can not squeeze dim[1]..."
**Rasa version**: 1.7.0

**Rasa SDK version** (if used & relevant): 1.7.0

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Windows 10

**Issue**:
After updating to Rasa 1.7.0 I observed the below error and started to investigate the issue. After a couple of hours I narrowed the problem down to intents like:

`## intent:greet+ask_weather`

in combination with `CountVectorsFeatu

[2020-01-31 00:17] kr-sundaram commented on #4854
Thanks, @tabergma for responding. :)

I would like to know if I understand this issue correctly or not.
Issue: Currently, once rasa-x runs, comments of entries like- dialogue server talking to a Chatbot or vice versa, are not being printed in the log file or so. Kindly let me know me if I missed somewhere.

Cheers!

[2020-01-31 05:55] #4602 closed

[2020-01-31 07:00] sara-tagger commented on #5162
Thanks for raising this issue, @tmbo will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-01-31 07:00] sara-tagger commented on #5161
Thanks for the issue, @tabergma will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-31 12:47] kapoorh opened #5163 "Confidence level down after upgrading the Rasa version from 1.4.3 to 1.6.2"
Hi,

Previously I was using Rasa 1.4.3 and it was giving good confidence level for the trained questions. But it was taking more than 1 hr  to train a model for approx 250 intents.

Now I created different environment with version 1.6.2, now the training time has been improved but the confidence level of trained question has been down and because of this Rasa is not responding with the proper answ

[2020-01-31 13:00] sara-tagger commented on #5163
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-01-31 13:46] #5000 closed

[2020-01-31 13:48] wochinge commented on #4754
@ricwo Can we close this?

[2020-01-31 15:37] AndiLeni opened #5167 "Allow spaces in response messages"
**Description of Problem**:
Spaces in the response templates are ignored.
If multiple responses are sent from the actions.py script, they contain no space to separate the sentences.

Why is this feature needed?
https://forum.rasa.com/t/response-message-should-contain-space/24029

**Overview of the Solution**:
F.e. make this work inside the domain.yml:
[code]

[2020-01-31 17:16] erohmensing commented on #5101
Correctly links to ngrok now, thanks for pointing out

[2020-01-31 17:16] #5101 closed

[2020-01-31 22:27] MichaelMarien commented on #4969
I can take this up if no one has.

[2020-02-01 13:33] mrcsilverfox opened #5169 "Rasa shell --debug RuntimeError"
**Rasa version**: 1.7.0

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): MacOS Catalina 10.15.3

**Issue**:
After updating to Rasa 1.7.0 whatever I run the command `rasa shell --debug` the console return this output

**Error (including full traceback)**:
[code]

[2020-02-01 19:00] erohmensing commented on #5005
Fixed in https://github.com/RasaHQ/rasa-sdk/pull/142

[2020-02-01 19:00] #5005 closed

[2020-02-01 19:02] #4836 closed

[2020-02-01 21:59] #4632 closed

[2020-02-02 11:59] matthyk opened #5170 "Google Cloud Firestore as Trackerstore"
**Description of Problem**:

If you want to deploy Rasa in the Google Cloud and want to use a NoSQL database as trackerstore, there is no database to use. Already requested in the [forum](https://forum.rasa.com/t/when-developing-a-mobile-app-with-a-rasa-framework-can-use-firebase-as-a-nosql-database/24007).

**Overview of the Solution**:

Implement a Trackerstore, that uses the Firestore. This is

[2020-02-02 13:18] #4667 closed

[2020-02-02 13:18] #4678 closed

[2020-02-03 07:00] sara-tagger commented on #5170
Thanks for submitting this feature request 🚀@dakshvar22 will get back to you about it soon!✨

[2020-02-03 07:00] sara-tagger commented on #5169
Thanks for raising this issue, @TyDunn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-02-03 07:00] sara-tagger commented on #5167
Thanks for submitting this feature request 🚀@amn41 will get back to you about it soon!✨

[2020-02-03 08:35] tabergma opened #5171 "ValueError: Cannot concatenate sparse features as sequence dimension does not match"
**Rasa version**: 1.7.0
**Python version**: 3.6

**Issue**:
Training with `rasa train nlu` using intent and responses does not work. Removing the responses from the training data, solves the issue.

https://forum.rasa.com/t/valueerror-sequence-dimensions-for-sparse-and-dense-features-dont-coincide/22844

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2020-02-03 09:29] tabergma commented on #5161
@giladpn Thanks for pointing this out! The pipeline in the `config.yml` is missing a tokenizer. Can you  change the config file to
[code]
and try again?

[2020-02-03 09:29] Ghostvv commented on #5163
This known behavior due to the fact that softmax confidences saturate with number of classes. We implemented renormalization in `rasa 1.7` version: https://github.com/RasaHQ/rasa/pull/4902

[2020-02-03 09:33] tabergma commented on #4854
When you create a project using `rasa init` an example `creadentials.yml` file (besides a lot of other files) is created. It can be found here: https://github.com/RasaHQ/rasa/blob/master/rasa/cli/initial_project/credentials.yml
As it is unclear what the entry `rasa` is doing, we want to add comment over there. The comment should clarify when this entry is used and what it is for.

[2020-02-03 10:04] tmbo commented on #5114
Please provide an issue description as well as a proper stacktrace if there is an error. I am sorry, but I need to close this as it is missing essential information.

[2020-02-03 10:04] #5114 closed

[2020-02-03 11:35] kapoorh commented on #5163
Thanks for the reply @Ghostvv !!

Do you mean that this issue has been resolved in rasa 1.7 version?

Thanks and Regards
Harsh

[2020-02-03 12:22] Ghostvv commented on #5163
Yes, it should be resolved. Could you please try `1.7` version

[2020-02-03 12:26] tmbo opened #5174 "Update documentation regarding utterance actions"
In https://github.com/RasaHQ/rasa/pull/5083 we removed the necessity to include utterance templates in the actions list. But we didn't update the documentation, there are still a lot of places where we still include and mention utterance actions, e.g.
https://rasa.com/docs/rasa/user-guide/building-assistants/
https://rasa.com/docs/rasa/core/responses/

This needs to be updated to avoid confusing u

[2020-02-03 12:52] wochinge commented on #4379
@tmbo You mean that Rasa should generate the jwt tokens since Rasa already values existing tokens?

[2020-02-03 14:35] #5171 closed

[2020-02-03 14:57] wochinge commented on #3975
@tmbo Should we use `conversation-id` or `sender-id` as parameter (in relation to this issue https://github.com/RasaHQ/rasa/issues/4683) ? I'd opt for sender-id since it's shorter

[2020-02-03 15:04] kapoorh commented on #5163
Hi,

I upgraded rasa with the below command:
 **pip install -U rasa --extra-index-url https://pypi.rasa.com/simple**

It installed successfully but below error came:
**ERROR: rasa-x 0.24.6 has requirement rasa~=1.6.1, but you'll have rasa 1.7.0 which is incompatible.**

So, I updated rasa-x with:
 pip install -U rasa-x --extra-index-url https://pypi.rasa.com/simple

It uninstalled 1.7 version and

[2020-02-03 15:43] tmbo commented on #3975
as far as I know we always expose it as `sender id` in our storage formats / events / apis, so should stick with that (even though nowadays conversation-id is probably the more descriptive name...)

[2020-02-03 16:03] tmbo commented on #4379
mhm I am not sure what is missing in our current implementation, because we already support JWT authentication in the Rasa OSS server API. I mean we could check and make sure that in Rasa X we are using jwt instead of tokens when communicating with Rasa - but all in all I think we are good and this can be closed.

[2020-02-03 16:19] tabergma opened #5178 "Remove deprecated model and pipeline options"
(Valid after Rasa 1.8.0 or Rasa 1.9.0 is out)

`EmbeddingIntentClassifier`, `KerasPolicy`, `EmbeddingPolicy` should not be used anymore. As they are already deprecated, remove them from the code base.
Also we updated the model options. So far we were still replacing old options with new ones. Do not replace old options anymore and print an error instead.
We also deprecated the pipeline templates f

[2020-02-03 17:49] wochinge commented on #5118
@giladpn Seems `Start-Job -ScriptBlock` is not executed in the same directory as you run the command in (see https://stackoverflow.com/a/11372785/3429596 ) . So best to fully specify all paths (using the `--actions` param).
Closing this now since it's an issue with `Start-Job -ScriptBlock`

[2020-02-03 17:49] #5118 closed

[2020-02-03 18:00] erohmensing opened #5179 "improve docker docs for action server"
We should make it very clear how to build a custom image for the action server, and encourage people to do this instead of mounting the actions folder to an SDK image. This way, we are encouraging versioning of the actions file, and more easily setting people up to use rasa x by pulling their app image from dockerhub or wherever they decide to host it.

[2020-02-03 18:24] giladpn commented on #5161
Yup, adding the `WhitespaceTokenizer` was the answer. Thanks.

[2020-02-03 18:28] #5161 closed

[2020-02-03 18:28] giladpn commented on #5118
Thank you

[2020-02-03 18:52] giladpn commented on #5118
Just for the benefit of others the following does work:
[code]

[2020-02-03 19:19] TyDunn commented on #5169
Hi @mrcsilverfox! I tried to reproduce this with a clean install on my own machine and did not run into this issue. Does it also happen if you run `rasa init --no-prompt` and then `rasa shell debug`.

There was [this issue](https://github.com/RasaHQ/rasa/issues/5111) reported last week that also had to do with `uvloop`, but it was fixed in `Rasa 1.6.2`

[2020-02-03 19:33] erohmensing commented on #5179
closing in favor of https://github.com/RasaHQ/rasa-x/issues/1947

[2020-02-03 19:33] #5179 closed

[2020-02-03 19:51] MichaelMarien commented on #5178
I'd be happy to look at this.

[2020-02-03 21:38] tmbo commented on #4103
I'll close this as this does not seem related to Rasa, but rather the used SSL certificate (e.g. double check that the root certificate works properly, e.g. using requests in a python shell sending a GET request to facebook's HTTPS URLs should work fine).

In any case, this is more a question than a reproducible bug.

[2020-02-03 21:38] #4103 closed

[2020-02-03 21:48] mrcsilverfox commented on #5169
Hi @TyDunn! I have some issue to install rasa from scratch. I executed this step
[code]
Whenever I run `rasa --version` the console returns this error:
[code]

In relation to the initial problem, after updating rasa from version 1.4.3 to 1.7.0 I have this requirements:
[code]

[2020-02-03 21:54] #4719 closed

[2020-02-03 21:54] tmbo commented on #4719
It's not a bug, will be implemented when supporting response selector as a feature in Rasa X

[2020-02-03 22:26] tmbo commented on #4637
I think as a first step towards this, the error message should be improved to help the user better. even if there is a lint command, users will run into this.

[2020-02-03 22:33] #4553 closed

[2020-02-03 22:35] #5169 closed

[2020-02-03 22:48] tmbo commented on #4417
This should be fixed as far as I know, the domain should emit warnings for duplicated intents, entities and actions as soon as it gets loaded (which happens during validation).

[2020-02-03 22:48] #4417 closed

[2020-02-03 22:54] #4290 closed

[2020-02-03 22:56] tmbo commented on #4260
@erohmensing did you end up doing this?

[2020-02-03 22:59] tmbo commented on #4255
without a new use case, this gets resolved by https://github.com/RasaHQ/rasa/issues/1800

[2020-02-03 22:59] #4255 closed

[2020-02-03 23:24] tmbo commented on #5163
we will release a compatible rasa x version in the next days

[2020-02-04 04:09] rgstephens commented on #4379
There's related request for the action server to validate a token that is passed around other [microservices](https://livebook.manning.com/book/microservices-security-in-action/chapter-7/v-4/6). Could we add an optional `jwt` value to the rest channel.

[2020-02-04 06:29] IgNoRaNt23 opened #5182 "Setting config flags in domain is ignored"
There's the option to set flags in the domain via
`config:
  store_entities_as_slots: true`

where `store_entites_as_slots = True` is the default value used, when no option is entered.  See https://github.com/RasaHQ/rasa/blob/80ab6e894f1240813fa082adbb2cb18ef38224d1/rasa/core/domain.py#L344

Now, if a domain is created and the value is manually set to false. The setting will be ignored and be set

[2020-02-04 06:39] kapoorh commented on #5163
And I hope with the new release the below open issue will also get resolved.
[#4768](https://github.com/RasaHQ/rasa/issues/4768)

[2020-02-04 06:54] kapoorh commented on #4768
Hi @eibhleag ,

Any update on this? Has this issue been resolved?

Thanks and Regards
Harsh

[2020-02-04 07:00] sara-tagger commented on #5182
Thanks for the issue, @ArjaanBuijk will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-02-04 08:00] #585 closed

[2020-02-04 08:00] #513 closed

[2020-02-04 08:01] #875 closed

[2020-02-04 08:03] #387 closed

[2020-02-04 08:05] #1626 closed

[2020-02-04 08:06] tmbo commented on #1601
should be fixed https://github.com/RasaHQ/rasa/issues/4262

[2020-02-04 08:06] #1601 closed

[2020-02-04 08:07] tmbo commented on #501
we now have support and examples around knowledgebases - I'll close this for now

[2020-02-04 08:07] #501 closed

[2020-02-04 08:08] #445 closed

[2020-02-04 08:23] tmbo commented on #5167
This seems to be more an issue of the output channel than our trimming. The channel should make sure that messages are properly separated (e.g. facebook does this by displaying them in separate speech bubbles).

I don't think this is something that should be handled internally. If this is an issue with the commandline input / output channel, we should fix it there.

[2020-02-04 08:23] #5167 closed

[2020-02-04 08:26] koaning commented on #4637
This is something that I hope to pick up once I start at rasa.

Better error message are always a good thing, but a linter might help there as well. It gives the user something to fall back to. Linters can also check things in order. Sometimes the spot where you misconfigured something and the spot where the error happens are not the same.

[2020-02-04 08:27] tmbo commented on #5162
@tabergma any clue where this might be coming from?

[2020-02-04 08:28] tmbo commented on #5156
I think we should revisit after switching to poetry, if we add additional tests for different dependency versions they should probably be nightly builds instead of PR based, otherwise we will get even worse build turnaround times.

[2020-02-04 08:29] tmbo commented on #5147
@dakshvar22 do you mind taking a look at this?

[2020-02-04 08:45] wochinge commented on #5118
Thanks for sharing your solution @giladpn !

[2020-02-04 08:46] wochinge commented on #5130
Mhm, actually that does not make sense 🤔 Which database are you using and are you using the default Rasa X image?

[2020-02-04 08:54] tabergma commented on #5162
Could reproduce the problem, it is definitely a bug. Thanks for reporting it 👍Will take a closer look and work on a fix.

[2020-02-04 08:58] dakshvar22 commented on #5147
@tiz-lab I tested the set of commands and configuration files with sample data that `rasa init` command produces and everything worked as expected for `rasa==1.6.0` and `rasa==1.6.2`.
Can you try the same on your end and see if the problem persists? If it doesn't persist then we should look a bit closer into the dataset on which you are running this command.

[2020-02-04 08:59] #4533 closed

[2020-02-04 09:09] tmbo commented on #5106
Thanks a lot for the suggestion, I've made the file loading more robust :+1:

[2020-02-04 09:11] tmbo commented on #5104
we are working on upgrading to TF 2.0 #5127 #5087

This will be closed as soon as that is released. until then I don't think there is anything we can do.

[2020-02-04 09:11] #5104 closed

[2020-02-04 09:12] jageshmaharjan commented on #3534
+1

[2020-02-04 09:13] tmbo commented on #5091
@ricwo probably best if you take a look at this

[2020-02-04 09:18] tmbo commented on #5088
I don't think there is anything more we can do right now, we need the sanic test library but also the asyncio one for some of the async tests right?

[2020-02-04 09:22] tmbo commented on #5075
This is expected and we need this special treatment of these kind of messages. It is possible to modify the used character `/` to something else though (constant `INTENT_MESSAGE_PREFIX`).

[2020-02-04 09:22] #5075 closed

[2020-02-04 09:37] eibhleag commented on #4768
Hi @kapoorh

As of 0.24 (2020/01/07) long conversations should be smoother to interact with (quicker initial layout, smoother scrolling, etc) due to a couple of rendering changes.

In 0.25 (landing shortly) the initial load time of those conversations (and collections of conversations containing them) should also be reduced - this will include the load time when filters are applied.

Hope those up

[2020-02-04 09:39] wochinge commented on #4975
@akelad  This is important, no?

[2020-02-04 09:57] #4682 closed

[2020-02-04 11:26] kapoorh commented on #4768
Thanks @eibhleag

I will update you once you release 0.25 version which should be compatible with rasa 1.7.

Thanks and Regards
Harsh

[2020-02-04 16:02] staticdev opened #5188 "Support for tensorflow/keras OR pytorch policies"
**Description of Problem**: current rasa version is tightly coupled with tensorflow and is not practical for the use of pytorch. Pytorch is growing very fast and is ofter considered as an option for ML solutions.

**Overview of the Solution**:
A possible solution is the creation of PytorchPolicy as it exists with KerasPolicy. Transformer embedding policies should also choose if it uses Tensorflow

[2020-02-04 17:02] erohmensing commented on #3464
@tmbo do i just add this to a project? or assign tobi to pick one?

[2020-02-04 19:56] rodrigoslino opened #5190 "Error on train model with prop NLU with format in json"
**Rasa version**: 1.7.0

**Operating system** (windows, osx, ...): Docker version 18.09.7, build 2d0083d (image in docker hub)

**Issue**:

In the version 1.7.0 is not posible to train a model with format json in the prop nlu.
![image](https://user-images.githubusercontent.com/24231369/73781002-49e5e800-476e-11ea-92f6-e8497920c2ac.png)

The docker container stoped and don't log anything and the re

[2020-02-05 06:00] #4495 closed

[2020-02-05 07:00] sara-tagger commented on #5190
Thanks for raising this issue, @amn41 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-02-05 07:00] sara-tagger commented on #5188
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-02-05 08:30] tmbo commented on #3464
you can directly assign this to a project - if you are unsure where to put it you can alternatively assign tobias

[2020-02-05 08:30] tmbo commented on #3464
Removed the future label as we dropped py 3.5 support, so it should be possible now to update the dependency

[2020-02-05 09:46] tmbo commented on #4379
yes I think securing the action server in some way is a good push :+1:

[2020-02-05 12:13] wochinge commented on #5099
@alwx Any news on this?

[2020-02-05 13:19] erohmensing commented on #3464
Removed enhancement bc the one we're on isn't supported anymore so it really should be updated. Also is the `dependency` tag really only for PRs? Seems like it would be helpful for issues as well.

[2020-02-05 13:33] tmbo commented on #3464
we shouldn't use that, it is a relict from depandabot. I don't see a reason why we need to differentiate between maintenance and dependency right now.

[2020-02-05 15:12] erohmensing commented on #4058
@tmbo so it is possible then? In that case @bhavaniravi are you still interested in implementing this functionality?

[2020-02-05 15:19] tmbo commented on #4058
yes, `sanic` already has this build in, so we should reuse it's hot reload functionality. not sure if we run into issues though, e.g. https://github.com/huge-success/sanic/issues/1248

[2020-02-05 16:49] alwx commented on #5099
@wochinge not really, because I am currently busy with other issues.
But I will find the time, check it tomorrow, and update you.

Sorry for the delay.

[2020-02-05 16:53] wochinge commented on #5099
Cool, thanks. Just important so that we can decide what to do here for our okr

[2020-02-05 17:49] eibhleag commented on #4768
@kapoorh 0.25 was just released - per #5163 it's compatible with Rasa 1.7 as well 🙂

[2020-02-05 21:14] rgstephens opened #5192 "Allow use of slots as variables in stories"
**Description of Problem**:
Would like to use slot values as variables in a story.

**Examples** (if relevant):
For example:

[code]

[2020-02-06 03:36] KStephenyang commented on #4517
Hi，have this feature in development? Which version will release this feature?
Thank you!

[2020-02-06 06:15] amn41 commented on #5192
Why not use a custom action that uses the slot name?

[2020-02-06 08:22] IgNoRaNt23 opened #5193 "FormAction: Less restrictive slot mapping for not-requested-slot"
**Description of Problem**:
Relevant thread:
https://forum.rasa.com/t/extract-other-slots-neglects-custom-slot-mappings/14788

Filling slots from entites, that don't have the exact same as the corresponding entity is currently restricted to situations, where we specifically ask for this slot (the slot is the current 'requested_slot') within a FormAction. While this prevents any ambiguity, it seems

[2020-02-06 09:14] wochinge commented on #4517
Unfortunately this is not yet in development @KStephenyang . So you have to go with the `curl` command for now.

[2020-02-06 12:57] btotharye commented on #4716
@llermaly this should be ready for you to look at now

[2020-02-06 12:58] btotharye commented on #4731
@IzidoroBaltazar we have made quite a few improvements since the version you found this in, do you mind testing this on the newer releases?

[2020-02-06 13:00] sara-tagger commented on #5193
Thanks for raising this issue, @akelad will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-02-06 13:57] erohmensing commented on #5004
@samscudder i'm trying to understand how you're presenting your results.
`Correct intents (threshold 0.6): 32/102`  -- does this mean you are only including those intents that were classified correctly and above the threshold here?

Going from 1.4.6 to 1.6.2 stock [here](https://github.com/RasaHQ/rasa/issues/5004#issuecomment-579948544), is the decrease in correct intents due to new misclassificat

[2020-02-06 14:41] kapoorh commented on #5163
Hi,

I have updated with the latest versions for both rasa and rasa-x. Now training time is good and conf has been improved but not that great. In most of the question its running TwoStageFallbackPolicy. Now for the straight forward questions its giving conf level around .78 and i have set 0.80 threshold. In the earlier version it was working perfectly with 0.99 or 0.98 conf level.

Thanks and Reg

[2020-02-06 15:56] samscudder commented on #5004
@erohmensing I just trained in 1.4.6 and 1.7.0. The results are slightly different from above as I'm using only 220 epochs for the EmbeddingIntentClassifier, and 200 epochs for Keras. Here is a detailed report.

Using this `config.yaml`:
[code]
The dataset has 273 intents, 356 actions, 551 stories, and 2694 phrases in the nlu.

Training time in 1.4.6 (8 i7 cores + rtx1050):  5m17.948s

I'll post a

[2020-02-06 15:59] samscudder commented on #5004
Abridged training output for above:

**Rasa 1.4.6**
[code]

**Rasa 1.7.0**
[code]

[2020-02-06 16:31] codepie3 commented on #784
## Facing issue with pipline while training bots
**Rasa version**: Rasa 1.6.0

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:python3.6.9

**Operating system** (windows, osx, ...):ubuntu 18.04 LTS

**Issue**:  Failed load nlu model while starting rasa shell to test my bot:
[code]
**Error (including full traceback)**:
[code]

**Command or re

[2020-02-06 16:42] erohmensing commented on #5004
@samscudder thanks for the detailed write up, it's really helpful. Looking into any changes that have been made to these components that could cause decreases in accuracy. A few follow up questions:

* What does your custom lemmatization do? Does it provide input to the intent classifier?
* Why do you have test input that is expected to fail? Why is it expected to fail, and is it part of the train

[2020-02-06 16:48] alwx commented on #5099
@wochinge
So I spent some time today checking it again and remembering my previous experience.

Again, everything was relatively easy and straightforward, but maybe that's because I already know that the action server needs to be running and how some of the things work.

Honestly, the `examples/formbot/tests/end-to-end-stories.md` helped me more than the documentation: https://rasa.com/docs/rasa/u

[2020-02-06 16:54] samscudder commented on #5004
I didn't write this , but the lemmatization script uses spacy training data to de-conjugate verbs (does that word exist?).

[code]

Of the 102 phrases, I have 28 that are in the training data, 49 are close to  the training data, but can have a word mistyped or slightly rephrased and 25 that are grossly misspelled or don't make much sense grammatically..

The 25 expected to fail *are* failing (22 o

[2020-02-06 17:00] erohmensing commented on #5004
Right, but why do you expect them to fail? Shouldn't your model handle these cases by either incorporating those misspellings/grammar errors into your model, or handle them in e.g. an out-of-scope intent?

[2020-02-06 17:13] samscudder commented on #5004
Some of the grammar errors are expected to trigger the fallback, asking the user to rephrase his query. Phrases expected to fail are phrases a human operator wouldn't understand and would ask for clarification.

I'm sorry I can't post much about the dataset until our customer's site goes live. I've sent you the spreadsheet in the hope it demonstrates better.

[2020-02-06 17:42] rgstephens commented on #4379
@tmbo Is there any reason why the JWT couldn't be stored in the sender id for now?

[2020-02-06 17:59] raskin-soft commented on #1714
Anyone, please help me on below issue.. I'm stuck...

(venv) C:\>python -V
Python 3.8.1

(venv) C:\>pip -V
pip 20.0.2 from c:\venv\lib\site-packages\pip (python 3.8)

(venv) C:\>rasa --version
Traceback (most recent call last):
  File "C:\Users\mdraskinur.rashid\AppData\Local\Programs\Python\Python38\lib\runpy.py", line 193, in _run_module_as_main
    return _run_code(code, main_globals, None,
  F

[2020-02-06 18:14] rgstephens commented on #5192
The customer would prefer not to have to write a python function.

[2020-02-06 18:47] Ghostvv commented on #5163
The algorithm have changed. Would it work for you if you change threshold levels?

[2020-02-06 19:52] tsturdivant opened #5195 "TwoStageFallbackActions not Working"
**Rasa version**: 1.6.1

**Rasa SDK version** (if used & relevant): 1.6.0

**Rasa X version** (if used & relevant): not used

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): osx

**Issue**:
When I try to use two stage fallback policy, denying will lead to the bot getting stuck in a loop where it doesn't understand intents that it would understand before.
Working Output:
[code]

[2020-02-06 20:02] amn41 commented on #5192
It doesn’t make sense to do this.

1. There is a perfectly good way of achieving the same result.
2. Introducing this would require adding a whole new concept to the training data format, which is a huge cost
3.  Stories are training data, not a programming language

[2020-02-06 21:21] #2674 closed

[2020-02-07 07:00] sara-tagger commented on #5195
Thanks for the issue, @amn41 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-02-07 07:54] IzidoroBaltazar commented on #4731
It works now. Story files is correctly identified.

[2020-02-07 07:54] #4731 closed

[2020-02-07 08:37] Xiao-Chong opened #5196 "Rasa shell segmentation fault"
**Rasa version**: 1.7

**Rasa SDK version** (if used & relevant): 1.7

**Rasa X version** (if used & relevant):

**Python version**: 3.6.10/3.6.5

**Operating system** (windows, osx, ...): Ubuntu 16/18 server TLS

**Issue**:

I used clean ubuntu 16 and ubuntu 18 server in wmware/virtualbox (8GB RAM) with python 3.6 and pip 20 in virtualenv to install rasa by github source. It built without errors.

[2020-02-07 10:34] wochinge commented on #4379
Would probably break the SQLTrackerStore because that would make the sender id field insanely long

[2020-02-07 11:37] mpbalshetwar commented on #1875
We have handled this using fallback mechanism but I have little different issue.

My intent is  - I want to book table for tomorrow evening dinner?

Model is trained and it worked absolutely like gem.

But What if user says - "I don't want to book table for tomorrow evening dinner"

Except word "don't" - everything matches and so confidence is also high and so above intent is picked. How one shoul

[2020-02-07 12:12] tabergma commented on #5004
@samscudder Your `CustomLemmatization` is currently not used. It should be located before the featurizers. Also in Rasa 1.7 you just need to implement the `tokenize` method. `train` and `predict` is covered by the super class. However, as this is the case for both pipelines you used, it should not be the cause of error.

Could you train Rasa 1.7 with the following pipeline:
[code]
Just want to ver

[2020-02-07 12:34] wochinge commented on #5099
cc @TyDunn

[2020-02-07 12:57] TyDunn commented on #5099
@wochinge Thanks for the nudge. I have been thinking about and am now writing my thoughts down here: https://docs.google.com/document/d/1PNavef4M3WyA6drAT9KPStSx8FuUPvWcFICpKS0epZU/edit

[2020-02-07 12:58] TyDunn commented on #5099
@wochinge I have been thinking about this and will now record my thoughts. I will polish this scope and then ask for feedback from the squad later today: https://docs.google.com/document/d/1PNavef4M3WyA6drAT9KPStSx8FuUPvWcFICpKS0epZU/edit

[2020-02-07 13:00] sara-tagger commented on #5196
Thanks for the issue, @rctatman will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-02-07 13:42] tabergma opened #5199 "Check if text features are present"
Some users are getting intent predictions with high confidence for words that aren’t in their training data (e.g askdjflksjdf) since they upgraded to 1.6.1. They’re using word level featurization, it should be assigning the intent `None`.

They noticed that this check here : https://github.com/RasaHQ/rasa/blob/1.6.x/rasa/nlu/classifiers/embedding_intent_classifier.py#L825
doesn’t check whether the

[2020-02-07 14:38] melindaloubser1 opened #5201 "NLG responses not found during NLU pipeline comparison"
**Rasa version**: 1.7.0

**Python version**: 3.7

**Operating system** (windows, osx, ...): MacOS

**Issue**: When running NLU pipeline comparison with a pipeline including the ResponseSelector, NLG responses are not found and training fails. Encountered using rasa-demo repo. This happens because NLG responses are not persisted along with NLU training data after data percentage split.

**Error (in

[2020-02-07 17:13] smar10 commented on #5066
Same bug here !
Besides the warning, the model works perfectly.

[2020-02-07 17:15] smar10 commented on #5074
Same bug here.
Besides the warning, the model works perfectly.

[2020-02-07 18:49] erohmensing commented on #3910
Closing as the original issue, requests being blocked during model training, is now fixed via #4774

[2020-02-07 19:03] samscudder commented on #5004
Hi! Sorry for the delay.

With the above pipeline, training in 1.7 I get the following results:

The same 102 phrases, where 25 are purposely expected to fallback.
22 phrases classified wrong, 3 with confidence > 0.6
57 phrases were correctly classified, with a confidence > 0.6
Average overall confidence was 0.6362
Average confidence of the 57 phrases above 0.6 was 0,81

Overall it looks slightly

[2020-02-07 22:21] horeapopa commented on #2801
Hi guys, we had the same issue in 2018 where we needed to pass the timezone as we knew the timezone of the user, we implemented this for version 0.14.x and it works fine in our case.

https://github.com/horeapopa/rasa_nlu/commit/278fb2356739846f6547e78fcb1aed0dd8688808

The issue is that we are stuck with the old version of Rasa at the moment and looking into updating it; is there any plan of doin

[2020-02-08 10:41] mpbalshetwar commented on #745
I am using tensorflow and I have exact same issue. does anyone has any solution for this?

[2020-02-08 14:45] badri-thinker commented on #5147
I am getting the same error

[2020-02-08 14:45] badri-thinker commented on #5147
X.shape[1] = 256 should be equal to 128, the number of features at training time

[2020-02-08 16:15] badri-thinker commented on #5147
i even downgraded to rasa 1.6 and still getting the same error

[2020-02-08 17:08] badri-thinker commented on #5147
the error occurs only with en_core_web_sm and not with en_core_web_md.    I replaced spacy sm with md and it works

[2020-02-08 17:39] govertbuijs opened #5204 "Symlinks for training data"
**Rasa version**: 1.7.0

**Rasa SDK version** (if used & relevant): 1.7.0

**Rasa X version** (if used & relevant):

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): Linux

**Error (including full traceback)**:``` ```

**Command or request that led to error**:``` ```

**Issue**: Rasa doesn't follow symlinks while importing training data.
I need to make agents for multiple langu

[2020-02-08 19:46] zaidalvi commented on #2219
I am the same issue with my bot. I execute the commands in the following order:
1. rasa run (by default this goes to 5005)
2. ngrok http 5005
3. copy the first link in my endpoints file (http:-ngroklink-:5055/webook
4. rasa run on port 5002
5. ngrok http 5002
6. copy that link in event subscriptions
7. URL gets validated

When I try talking to my bot the terminal shows that the intents have been p

[2020-02-09 04:54] Xiao-Chong commented on #5196
Thank you.

Today, I tried the **fresh** ubuntu 19.10 server to install the rasa, The same errors and all indicated to ld-xxxx.so error with seg fault and core dump.

I used vmware/vitrualbox software to install the ubuntu as guest OS from **different computers** and got the same errors.  I am wondering such scenario cannot be reproduced or no one encounter such issue.

No errors occurred during i

[2020-02-09 09:39] AsfiaKawnine opened #5205 "Issue with /restart and slot"
Hello. I have developed a bot and created a custom action, where I will take input from the users and store their input in slots, later the input is used for authentication. The problem is when the action against slot is triggered, the /restart action doesn’t work. I want to clear the log when /restart action is called. How can I solve this problem?

![Capture](https://user-images.githubuserconten

[2020-02-09 12:13] zaidalvi opened #5206 "Slack integration not working with Moodbot"
Hi guys. I have been trying to integrate Rasa moodbot with slack using tutorial the problem arises when the moodbot has to respond on slack. The bot works perfectly fine on socket.io and Rasa X but for some reason it does not respond on slack. This is my process:

rasa run (by default this goes to 5005)
ngrok http 5005
copy the first link in my endpoints file (http:-ngroklink-:5055/webook
rasa run

[2020-02-09 13:19] Terrpsycore commented on #5196
I have similar issue on Amazon EC-2 and Digital Ocean Ubuntu 16\18 droplets, and also on Digital Ocean Debian 10.2 version.

Installation of rasa package goes well, but after that I encounter this issue:

(venv) ubuntu@ip-172-31-61-207:~/expo-bot/bot_rasa$ rasa shell
2020-02-09 13:16:42 INFO     root  - Connecting to channel 'cmdline' which was specified by the '--connector' argument. Any other ch

[2020-02-09 16:15] giladpn opened #5207 "Rasa returning an empty response in "masterclass episode 8""
**Rasa version**: 1.6.1
**Python version**: 3.7.6
**Operating system**: Windows 10
**Issue**:
I have come across this issue many times but now I have an example which seems repeatable. Note I think its more serious than this one example, it happens often.

I am new to rasa and learning by doing the examples. I am using the masterclass episode 8 example, **without any changes**.
I ran `rasa run act

[2020-02-09 18:50] zaidalvi commented on #4811
Hi guys. I too am facing this issue. Rasa is receiving my message through but is unable to display the message that is sent back from Rasa. Any update on this issue?

[2020-02-09 19:17] zaidalvi commented on #2219
@Uttam1982 any ideas on how can solve this problem?

[2020-02-09 19:19] zaidalvi commented on #3288
Hi. I am having the same problem with my moodbot. My messages are being sent but no messages are received on slack. @erohmensing  @akelad

[2020-02-09 19:28] kearnsw commented on #4811
@zaidalvi  are you triyng to send as a direct message or using the @ symbol? Can you share your config? There is a fix that is under review, but I should be able to help you get it running in the short-term.

[2020-02-09 19:34] zaidalvi commented on #4811
I am sending a direct message.
In my terminal it says 200 ok but I can't see a response on slack.

<img width="734" alt="Screen Shot 2020-02-10 at 12 31 11 AM" src="https://user-images.githubusercontent.com/36755611/74108511-fbd14a00-4b9c-11ea-971f-1d6b8d75b1f9.png">
<img width="559" alt="Screen Shot 2020-02-10 at 12 31 52 AM" src="https://user-images.githubusercontent.com/36755611/74108513-01c72b

[2020-02-09 20:12] kearnsw commented on #4811
Thanks! This is most likely the same issue that I experienced. Try using this build with an updated slack connector that should resolve the issue (with no changes on your part): https://github.com/kearnsw/rasa
It should be merged with the main project soon, so please let me know if you run into any issues with it.

[2020-02-09 20:18] zaidalvi commented on #4811
Thank you for your fast reply @kearnsw. I'm sorry I am really new to rasa and slack. Can you please tell me what I have to do to use the new connector or if there's a some sort of a tutorial?

[2020-02-10 07:00] sara-tagger commented on #5206
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-02-10 07:00] sara-tagger commented on #5207
Thanks for the issue, @rctatman will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-02-10 07:00] sara-tagger commented on #5205
Thanks for raising this issue, @Ghostvv will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-02-10 07:00] sara-tagger commented on #5204
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-02-10 07:11] iamadhihere opened #5208 "libprotobuf issue occurs will creates a new project using cli"
I have also  installed the protobuf-3.8.0 but it still throwing the same error

**`pip show protobuf`**

**Name: protobuf
Version: 3.8.0
Summary: Protocol Buffers
Home-page: https://developers.google.com/protocol-buffers/
Author: None
Author-email: None
License: 3-Clause BSD License
Location: /home/alertnet/Desktop/alertServer/lib/python3.6/site-packages
Requires: setuptools, six
Required-by: tens

[2020-02-10 07:38] tanveerahmed668 commented on #1721
ModuleNotFoundError: No module named 'rasa_nlu.converters'
I am facing with this problem please help me how to solve this error.

[2020-02-10 07:55] iamadhihere commented on #5208
After a long struggle, I got it by downgrade the rasa version: 1.5.0 uninstalling the tensorboard

[2020-02-10 08:19] IgNoRaNt23 commented on #5205
The problem here is the action prediction. There are at least two policies in play, the MappingPolicy, which handles the restart action and the FormPolicy for any FormAction. Both policies predict their action with a confidence of 1.0 in your case, but the FormPolicy has a higher priority than the MappingPolicy, which means that the FormPolicy always wins. So no restart may be triggered, if the fo

[2020-02-10 08:22] tabergma commented on #5162
closed via #5184

[2020-02-10 08:22] #5162 closed

[2020-02-10 08:23] wochinge commented on #5206
Please ask questions in the [Rasa Forum](https://forum.rasa.com) @zaidalvi .

[2020-02-10 08:23] #5206 closed

[2020-02-10 09:45] RaminParker commented on #5074
In my case, it seems like I solved the problem. The mistake was in the frontend. Please see here: [Link to forum post](https://forum.rasa.com/t/intent-not-defined-in-the-domain/23270/14)

[2020-02-10 09:45] #5074 closed

[2020-02-10 11:00] tabergma commented on #5004
Thanks for the numbers. We need to investigate this further. We will come back to you as soon as possible.

[2020-02-10 12:16] #3910 closed

[2020-02-10 12:42] akelad commented on #5193
Hi @IgNoRaNt23 thanks for the feature request - this is covered by https://github.com/RasaHQ/rasa/issues/4644 as far as I can tell (please correct me if i'm wrong).

[2020-02-10 12:42] #5193 closed

[2020-02-10 13:00] sara-tagger commented on #5208
Thanks for the issue, @akelad will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-02-10 13:01] JustinaPetr commented on #5188
Hi @staticdev. Thanks for your suggestion. At the moment we don't have plans to implement pytorch policies. This is based on our approach that we implement new policies if they benefit a new method instead of just supporting new underlying libraries.

Nonetheless, thank you for your suggestion! 😊

I will close this for now.

[2020-02-10 13:01] #5188 closed

[2020-02-10 13:01] IgNoRaNt23 commented on #5193
#4644 covers only a part of this. It should not only be possible with the trigger message but always. As explained this is only problematic when we map the same entity to different slots. Additionaly I suggest an additional slot-mapping in the solution above. Something like 'for_requested_slot', where one can specify entities for a slot that only get mapped, when a specific other slot is requested

[2020-02-10 13:17] #4754 closed

[2020-02-10 13:41] alebeta90 commented on #4979
Hi,

problem still persist, in the lates version of Rasa and Rasa X. Conversation had been tested using  Socket.io and it is working properly.

It seems to be isolated to Slack Channel how it handle the tracker?

[2020-02-10 13:51] wochinge commented on #3910
Updating and training is a different thing, isn't it @erohmensing ?

[2020-02-10 15:53] erohmensing commented on #3910
@wochinge I understood the issue as `When configuring automatic model pulling, the /model/parse endpoint becomes unresponsible for a few seconds while the model is training.`

[2020-02-10 16:38] tdzienniak commented on #5068
@tabergma hi, I have more details about this bug. It is also present in Rasa 1.7.0. I have created repository that can be used to reproduce this bug: https://github.com/tdzienniak/rasa-bug-with-mongo-tracker-store .

[2020-02-10 18:59] rgstephens opened #5215 "Tracker Serialization of Decimal Value"
**Rasa version**: 1.5.1

**Issue**:
There are Decimal values associated with slots in our DynamoDB tracker store. When an action is run and the tracker store is json encoded it fails when attempting to serialize the Decimal value. This is similar to issue #2265

**Error (including full traceback)**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

[2020-02-11 06:59] tabergma opened #5216 "Resolve ContextualVersionConflict cloudpickle"
Travis is failing due to
[code]

[2020-02-11 07:30] AsfiaKawnine commented on #5205
Thanks for your reply. Is there any documentation for custom-mapping policy? I am new to rasa, so it would be great if I could look into any example or documentation. Also is there any way to call action_restart while checking slot validation inside a form?

[2020-02-11 07:34] IgNoRaNt23 commented on #5205
Well, you could fix this in a really ugly way. Since youre overwriting the 'required_slots' method anyway, you could check there, if the current intent is 'restart' and raise an ActionExecutionRejection there, which will get you out of the form action.

[2020-02-11 07:42] Suniron commented on #4603
Hi,

I got this problem with the install.sh:
[code]

[2020-02-11 08:02] zgordan-vv commented on #5196
Same thing. DigitalOcean Ubuntu 18.04

appt update && apt upgrade -y && apt dist-upgrade -y && apt install -y build-essential software-properties-common python3-distutils python3-dev
curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
python3 get-pip.py
pip3 install rasa
rasa init
rasa shell
2020-02-11 07:59:08 INFO     root  - Generating grammar tables from /usr/lib/python3.6/lib2to3/Grammar.

[2020-02-11 09:04] at-a-run opened #5219 "Rasa http api not working as expected"
On Fresh ec2 ubuntu 18.04 host:
Following (last) command fails:

[code]
in fact none of /domain /status /version seems to be working (https://rasa.com/docs/rasa/api/http-api/)
[code]
Am I missing something (first time user)

[2020-02-11 09:15] wochinge commented on #3910
I understood this part 😀

[2020-02-11 09:18] sara-tagger commented on #5219
Thanks for raising this issue, @ArjaanBuijk will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-02-11 09:32] erohmensing commented on #3900
I havent been able to get the earlier warning because it only happens after you remove an action from everywhere. However for example in 1.7.0, if you remove a categorical slot that is in your stories from your domain:
[code]

[2020-02-11 09:43] akelad commented on #5208
@iamadhihere which rasa version were you on before?

[2020-02-11 09:45] akelad commented on #5193
We've thought about that a lot and it gets quite complicated. E.g. if you have a "mobile_number" and a "home_number" slot, both of which are filled by the entity `number`, how would you know which one to fill unless that slot is currently being requested?

[2020-02-11 09:54] erohmensing commented on #4790
Hm, i'm not quite sure. I imagine we talked about the logic of the `send_response` function, which I think should be implemented by the channels themselves, not the base class: https://github.com/RasaHQ/rasa/blob/master/rasa/core/channels/channel.py#L171

Because in the shell, buttons would have to come last in order to provide the user input options (or they would respond and never see the image)

[2020-02-11 10:14] akelad opened #5220 "Add entry to channels on "Speech""
Alan mentioned when searching for "speech" our docs return no results - we should fix that, and add some info around how to do voice with Rasa

[2020-02-11 10:19] wochinge commented on #3975
The `rasa shell` part is handled by https://github.com/RasaHQ/rasa/pull/5117

[2020-02-11 10:35] iamadhihere commented on #5208
@akelad I have used 1.7.0

[2020-02-11 12:48] simonsavoca commented on #5196
Hi,

I'm facing the same issue following the installation doc on a fresh Ubuntu 18.04.4 LTS.
Stable or dev version ends same.

Only he first shell talk after an init is working, all next rasa shell terminates after loading.

Any workaround ?

Thanks for your answer.

[2020-02-11 12:48] Xiao-Chong commented on #5196
Thanks Terrpsycore took time to confirm the issue and encourage me to believe it must be somewhere wrong.

After testing with several computers and VM, finally I got the root cause:
It's the dependency issue, please just

pip uninstall gym
pip install gym==0.15.4

then everything goes well.
BTW, gym version was changed to 0.15.6 from 3th Feb, 2020. So, It's the hot issue, isn't it? ha ha

[2020-02-11 12:57] Xiao-Chong commented on #5196
If you guys install from pip, that is
pip install rasa

please also do the following:
pip uninstall sanic-plugins-framework
pip install sanic-plugins-framework==0.8.2

[2020-02-11 13:13] erohmensing commented on #5219
Hi @at-a-run, the API is not enabled by default. Can you do
[code]

[2020-02-11 13:27] #5196 closed

[2020-02-11 13:33] vaibhavgupta0786 commented on #5169
I have been facing the same issue when I run the command for rasa-demo bot Sarah

[2020-02-11 14:41] wochinge commented on #4839
idea: run pytest as module, (`python -m pytest`)

[2020-02-11 15:04] tsturdivant commented on #5195
After spending some time to play around with this I have found a solution for this.
In config.yml I have added the fallback_nlu_action_name to the policy:
[code]
And in my actions.py I have added code for my own ultimate fallback:
[code]

This is allowing me to trigger the ultimate fallback whenever I deny twice in a row. However if I am understanding correctly the default TwoStageFallback policy

[2020-02-11 15:58] bvandijkman commented on #5066
Same issue here.

[2020-02-11 16:34] Suniron opened #5224 "Can't install rasa on Raspberry Pi 4 4Gb Ubuntu 19.10 server 64 bits"
**Rasa version**:
The last which installed with pip

**Python version**:
3.6.5, 3.6.8, 3.6.9, 3.7

**Operating system** (windows, osx, ...):
Ubuntu 19.10 server 64 bits - Raspberry Pi 4 4Gb (arm64)

**Issue**:
Install fail rasa on my raspberry. Same with follow the issue #4603

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2020-02-11 17:30] zgordan-vv commented on #5196
Works, thank you!

[2020-02-11 19:52] #5216 closed

[2020-02-11 20:01] TyDunn commented on #5169
Hi @vaibhavgupta0786. Can you please create a new issue filling out the information like above?

[2020-02-11 20:28] ricwo opened #5225 "CLI command to export trackers using an event broker"
**Description of Problem**: It should be possible to export existing conversations
**Overview of the Solution**: CLI command `rasa export` to stream existing trackers using an event broker

[2020-02-11 21:03] rgstephens commented on #5224
As far as I know, Rasa is not supported on ARM processors and there are no plans for this. There is a forum [discussion](https://forum.rasa.com/t/running-rasa-on-the-rpi-4-with-raspbian-buster/20805) and script that worked for me in the past.

[2020-02-12 01:25] igormiranda001 opened #5227 "Problem with self.validate_slots in def validate after updating rasa to version 1.7.0"
**Rasa version**: 1.7.0

**Rasa SDK version** (if used & relevant): 1.7.0

**Rasa X version** (if used & relevant):

**Python version**: 3.7.6

**Operating system** (windows, osx, ...): Manjaro

**Issue**: FormAction stopped working in the new version 1.7.0 of rasa

Hello everyone!

After updating the version of rasa from 1.6.1 to version 1.7.0, a FormAction stopped working. The function of this F

[2020-02-12 04:40] RajkamalMishra commented on #2852
Please check your config.yml file. You might have forgot to comment/remove "pipeline: supervised_embeddings" while addig other components there. If you are using default/customized components of supervised_embeddings, it is advisable to remove supervised_embeddings line. or you can use this command only and remove others.

[2020-02-12 06:56] at-a-run commented on #5219
That fixed it for me!

[2020-02-12 06:56] #5219 closed

[2020-02-12 07:00] sara-tagger commented on #5227
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-02-12 07:50] #5199 closed

[2020-02-12 09:50] gitpranjal opened #5228 "Rasa1.7.1 segmentation fault(core dumped)"
**Rasa version**:

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):
1.7.1

**Python version**:
3.6.8

**Operating system** (windows, osx, ...):
Ubuntu18.04LTS

**Issue**:
Segmentation fault(core dumped) upon attempting to training the rasa core model

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of con

[2020-02-12 11:10] alwx opened #5229 "Simplify Dockerfiles by using the same base image"
We have several Dockerfiles in `docker` directory, but all of them just duplicate the main one (`./Dockerfile`) and add something small to it.
The idea is to make one base image and use it for all the additional images.

It'll help to keep all Dockerfiles in sync, and will make the process of updating them much easier.

[2020-02-12 11:39] ahlam1234 commented on #1074
I tried to classify intent in Arabic language and worked fine ,but now I want to extract entities in Arabic  what pipeline should i write ?

[2020-02-12 13:00] sara-tagger commented on #5228
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-02-12 15:15] erohmensing commented on #5228
@gitpranjal is this thread helpful at all? https://github.com/RasaHQ/rasa/issues/5196

[2020-02-12 15:36] JapanNeinpan commented on #5196
Also worked for my issue. Thanks a lot !

[2020-02-12 17:21] erohmensing opened #5231 "dependency seems to cause segmentation fault"
I'm collecting issues where users have started recently seeing `segmentation fault`s here. For multiple it seems that installing `gym 0.15.3` or `0.15.4` fixed the issue, but some of them seemed to have needed to change the `sanic-plugins-framework` as well. It's worth noting that [this thread](https://forum.rasa.com/t/rasa-shell-segmentation-fault/24485/4?u=erohmensing) seems to indicate that the

[2020-02-12 19:49] erohmensing commented on #4624
Oh boy. Still need to update the binder. Thanks stalebot 😅

[2020-02-13 05:15] gitpranjal commented on #5228
Yes, that worked. Uninstalling gym and reinstalling a previous version solved the issue.
pip uninstall gym
pip install gym==0.15.4

And then it worked. Thanks!

[2020-02-13 05:39] gitpranjal commented on #5196
Uninstalling gym and reinstalling a previous version solved the sementation fault.
pip uninstall gym
pip install gym==0.15.4

But it started giving Memory error. Hence the training worldn't start.
![image](https://user-images.githubusercontent.com/27146126/74404720-4975dd00-4e51-11ea-9cb6-58679e9a0eb8.png)

B/W, my OS is Ubuntu18.04 and rasa version is 1.7.1. Both the segmentation fault and Memory

[2020-02-13 05:57] Xiao-Chong commented on #5196
I think the below information may help you.

[stackoverflow article unable-to-allocate-array-with-shape-and-data-type](https://stackoverflow.com/questions/57507832/unable-to-allocate-array-with-shape-and-data-type)

[2020-02-13 06:29] mhmohona opened #5235 "Requesting to make a video tutorial for integrating voice in Rasa"
I was following this [tutorial](https://blog.rasa.com/how-to-build-a-voice-assistant-with-open-source-rasa-and-mozilla-tools/) and found in some places it is hard for me to understand what has been told to do. It is not only me, in Stackoverflow and forum I found many are struggling about this topic too.
It would be great if there were a tutorial particularly focusing on integrating voice using th

[2020-02-13 07:00] sara-tagger commented on #5235
Thanks for the issue, @dakshvar22 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-02-13 09:06] erohmensing commented on #5228
Got it. Yeah, the segmentation fault seems to only happen on Ubuntu based on the issues i've seen.

The rest seems like just a general memory error how much memory does your machine have?

[2020-02-13 10:53] goyalrahul31 commented on #4797
I am facing the same Issue even after  i give the permissions to the folder.
`docker run -v $(pwd):/app rasa/rasa init --no-prompt`
The create Commands works but it does not seem to create the Models folder due to which i am not able to run the Shell Command:-
`docker run -it -v $(pwd):/app rasa/rasa shell`
Please Rectify the Issue if anyone has resolved the specific problem.

[2020-02-13 13:17] erohmensing commented on #5227
Hi @igormiranda001 , if you look at the code for how the form action has changed between 1.6.1 and 1.7.0, you will see that the code has become async. E.g. the default `validate` function that you have overwritten is now async: https://github.com/RasaHQ/rasa-sdk/blob/master/rasa_sdk/forms.py#L326

In your code, you need to define your function with `async def validate()`. Then because `validate_sl

[2020-02-13 13:21] erohmensing commented on #4778
Still think this is valid. After trying it out, still need to figure out better how to avoid duplicating code as a result.

[2020-02-13 13:38] erohmensing opened #5239 "deprecate quick replies in favor of using `custom`"
**Description of Problem**: We currently support `quick_replies` in the domain file, though they are only supported on the facebook channel. This leads to a lot of extra code for something that is a pretty specific use case. I thought about this after reconsidering [adding them to the SDK](https://github.com/RasaHQ/rasa-sdk/issues/83), where the support for them never made it in.

**Overview of th

[2020-02-13 13:43] gambhirpulkit commented on #400
@devashishmamgain Hey Devashish. Did you find a solution for this?

[2020-02-13 15:36] Suniron commented on #5224
It doesnt work..
Other idee ? 😅

[2020-02-13 15:57] devashishmamgain commented on #400
@vinayver198 @gambhirpulkit no, couldn't find a reliable and scalable solution.

[2020-02-13 16:58] erohmensing commented on #3900
[code]

[2020-02-13 22:51] Suniron commented on #5231
Hello! Your post falls well because not able to install Rasa on my raspberry 4 4gb with Ubuntu (I created an exit for this problem), I tried to install it on a mini small laptop PC and the installation ended without error!
Only at launch I had an error:  `(core dumped) `. I can't launch.

[2020-02-13 23:07] Suniron commented on #5196
Hi, i got same problem with m'y fresh Ubuntu install

[2020-02-14 01:46] Xiao-Chong commented on #5196
So @ Suniron , do you already use my workaround ?

[2020-02-14 03:48] co-learning-lounge commented on #4811
@zaidalvi Check [this](https://github.com/kearnsw/rasa/blob/3ffd78dc7b4c4a19a399558c6eebe6b291f69152/docs/user-guide/connectors/slack.rst).

[2020-02-14 12:12] erohmensing commented on #5231
@Suniron will you please create a forum post on the topic? It seems like it could be a different issue. Feel free to tag me in it there.

[2020-02-14 13:57] Suniron commented on #5231
I'm going to create a subject right now. Thanks for the advice.

[2020-02-14 14:10] Suniron commented on #5231
https://forum.rasa.com/t/ubuntu-18-04-64-bits-core-dumped-error-on-launch/24798 :1st_place_medal:

[2020-02-14 14:47] igormiranda001 commented on #5227
It's work! Thanks @erohmensing

[2020-02-14 14:48] #5227 closed

[2020-02-14 15:01] #289 closed

[2020-02-14 15:15] facureyes opened #5244 "Executing core from a systemd service make it crash"
**Rasa version**:1.7.0

**Python version**:3.7

**Operating system** :Ubuntu 18.04

**Issue**: Core service crashes when I try to talk to bot.
I have to services running on my server, as [this post](https://forum.rasa.com/t/how-to-run-rasa-as-service-in-linux/22588/4?) suggest.
The core service works fine, but as soon as I talk to the bot the core service crashes.
If I execute the core from a regu

[2020-02-14 16:56] koszta5 commented on #5130
well not using the default image; as shown above I install rasa x in docker. By "database" you mean the backend? That would be just files - as that is the default

[2020-02-15 08:45] koszta5 opened #5245 "Pika connection to RabbitMq stops working after a while"
**Rasa version**: 1.7.0
**Rasa X version** (if used & relevant):
0.25.2
**Operating system** (windows, osx, ...):
Ubuntu 18.04.3 (native docker images)

This has been a re-occuring issue in RASA X (official images even). As described in multiple posts:
- it works at first, it gets broken after some time (likely continuing conversation after a long time, action server replying late..

Symptoms:
- m

[2020-02-15 11:35] koszta5 commented on #4859
Even when uploading lookup tables separately they are dont have a reference added to nlu.md. This means that they are essentially completely ignored :( :(
Please please fix this or provide workaround

[2020-02-15 16:08] simonsavoca commented on #5196
Works well for me.

Thanks a lot !

[2020-02-16 14:44] KStephenyang opened #5246 "RasaX Install Error when execute task [backwards compatible credentials]"
**Rasa version**: 1.7.0

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu 18.04

**Issue**:

When I install RasaX with below command code as Docker-Compose Quick Install tutorial, when execute task [backwards compatible credentials]，I met error "mv: cannot move 'credentials' to a subdirectory of itself, '/etc/rasa/credentials/credentials'".

**Error (including full traceba

[2020-02-16 15:07] kellog5 commented on #5246
I had the same issue ... believe it is a small bug in the rasa_x_playbook.yml file

I think the first reference to credentials is supposed to be the credentials.yml file and not the credentials directory.

In the rasa_x_playbook.yml file I replaced

 command: mv credentials {{RASA_HOME }} / credentials

with

command: mv credentials.yml {{RASA_HOME }} / credentials

and it seemed to work.