[2019-06-21 10:42] yuxuan2015 opened #3844 "Predict the next action"
![Screenshot from 2019-06-21 18-40-28](https://user-images.githubusercontent.com/15645056/59917269-1a3ed580-9454-11e9-9329-377b51426079.png)

How to set the correct parameters?

[2019-06-21 11:44] #3835 closed

[2019-06-21 11:55] PhilippeBaert commented on #3802
Hi @ricwo ,

I'm getting the following output:

[code]

Cheers,
Philippe

[2019-06-21 11:58] snbuchholz opened #3845 "Rasa X: Annotate - Correct intent: intents missing from dropdown"
**Rasa version**: 1.1.3

**Rasa X version** (if used & relevant): 0.19.2

**Python version**: 3.6.0

**Operating system** (windows, osx, ...): macOS

**Issue**:

It seems that the "Correct intent" dropdown in Rasa X's "Talk to your bot" and "Conversations" tab is not populated from domain.yml but from the conversations in Rasa X so far. I noticed this with the conversations migrated from my tracke

[2019-06-21 12:36] BrunoRoth95 commented on #3748
It worked!!

Thank you very much guys! Apparently everything is working correctly now.

[2019-06-21 12:52] erohmensing commented on #3841
Hi @aaronshieh, thanks for pointing this out. This issue has already been reported and a [PR](https://github.com/RasaHQ/rasa/pull/3792) is awaiting merge to fix it!

[2019-06-21 13:03] ricwo commented on #3802
Thanks @PhilippeBaert - this was very helpful. The endpoint tries to serialise a set which it shouldn't. This serialisation seems to work in some `json.dumps()`, but fails on Windows. We'll fix this asap - I'll get back to you once it's released

[2019-06-21 14:14] #3807 closed

[2019-06-21 15:38] cyrilthank commented on #1528
Hi
i am facing this same issue
Also please help since as per below comment we dont have to give 1 example per entity value in the lookup file

  https://forum.rasa.com/t/how-does-the-lookup-table-in-rasa-nlu-work-is-there-something-similar-to-keyword-intent-classifier-for-entity-extractors/2102/2

[2019-06-21 15:41] cyrilthank commented on #1528
@akelad @MetcalfeTom  Please advise

[2019-06-21 20:18] obarbier opened #3846 "Webexteam issue when no room is provided"
**Rasa version**: Rasa 1.1.3

**Python version**: Python 3.7.3

**Operating system** :windows

**Issue**:

**Error (including full traceback)**:
[code]

**Command or request that led to error**: Provided secret with no room
[code]
According to [Webexteam Documentation](http://rasa.com/docs/rasa/user-guide/connectors/cisco-webex-teams/). **If you do not set the room keyword argument, messages will

[2019-06-21 21:08] ccelotto commented on #3827
I'll give it a go, but I'm more of a conversational designer, so I may not know how to fix this 😩 I'll update you on this post within the next day or two if I figure it out, and if not, maybe someone else can pick it up!

[2019-06-22 17:33] kostaskat commented on #2543
Are there any follow-up discussions or considerations to re-open this request? Currently, all major NLU/bot platforms (e.g. Dialogflow, LUIS etc.) do support either getting (exporting) a model (agent) or importing (putting) a model (agent), via REST endpoints.

Are there considerations to include that in the merged Rasa Core server and the HTTP endpoints it exposes?Would relevant PRs be prioritize

[2019-06-23 02:43] xjh12345 opened #3848 "In the latest version of rasa's API, how to enter the intent to get the answer？？"

[2019-06-23 03:24] stacks13 commented on #3680
This happens when there is an active form and there's a new intent to start another form. FormPolicy and KerasPolicy get stuck in a loop.

Solution:
1) Create stories to deactivate the ongoing form using `action_deactivate_form` when there's an intent for another form
2) Modify the code of rasa.core.processor to handle this. There is a part where `on_circuit_break` is called. You can modify it so

[2019-06-23 04:19] duvaragan opened #3849 "Getting error while training using below python code"
I am a beginner to this forum and i am trying to run my train_init.py code to train my BOT. But i get the below error. can someone please help? i am not able to identify which function is giving a none response. I compared the agent.py and domain.py in github and looks like they are recent .

train_init.p
************
from __future__ import absolute_import
from __future__ import division
from __fu

[2019-06-23 06:55] NomanSaleem4 commented on #3680
Great. This is what I was looking for.
So do I also need to handle it with stories by deactivating form if I am
also changing code in rasa. Core. Processor? Or I can skip step 1 in that
case?

On Sun, Jun 23, 2019, 8:24 AM Sahil Nirkhe <notifications@github.com> wrote:

[2019-06-23 07:56] stacks13 commented on #3680
Actually, they are both separate solutions and not steps.
The first solution is for avoiding the error. The second is to handle it if at all it occurs. I'd recommend doing both, if there are many forms. If there's only a couple or so forms with less intents, you can make do with adding more stories.

[2019-06-23 07:57] NomanSaleem4 commented on #3680
Great. Than you so so much.

On Sun, Jun 23, 2019, 12:56 PM Sahil Nirkhe <notifications@github.com>
wrote:

[2019-06-23 12:55] amn41 commented on #2543
Hi @kostaskat - these functions are all supported via the [Rasa X API](https://rasa.com/docs/rasa-x/api/rasa-x-http-api/#tag/Models)

[2019-06-23 12:57] jainkrunal commented on #3052
how, could you provide the solution as I am facing same issue.

[2019-06-23 17:27] josue7 commented on #2266
I don’t think this is really Rasa-related since you can use pymysql (for MySQL obviously :smiley:) & others, or an ORM such as SQLAlchemy to do this. For example, for returning the first name of a person in a database from an “ID” entity, things could look like this:

def read(id_person: int) -> Person:
    db = pymysql.connect(SERVER, USER, PASSWORD, DB)
    cursor = db.cursor()
    sql = "SELECT

[2019-06-24 03:21] OwaisRaza1 commented on #3825
@tabergma any update???

[2019-06-24 06:07] psds01 opened #3851 "Automatically deleting trained models and nlu files from `/tmp/` folder"
**Description of Problem**:

I see a lot of trained models and old nlu files in the folder `/tmp/`, which I believe is the default tmp location for storing models. Is there a way to delete these automatically? This might use disk space and I don't want to burden my VM.

I understand that this is caused by : "interrupting" the `rasa train` but if there was a way...

**Overview of the Solution**:

*

[2019-06-24 06:45] Vyshnavi-R opened #3852 "How to fix "rasa' is not recognized as an internal or external command, operable program or batch file." Im trying to create a new project ."

[2019-06-24 06:50] tabergma commented on #3825
We don't have a `/config` endpoint anymore. You can find all available endpoints [here](https://rasa.com/docs/rasa/api/http-api/). You cannot retrieve the config file via the API. The endpoint was removed in version 0.15.0.

[2019-06-24 06:56] Vyshnavi-R commented on #3852
i have executed the following commands :

      *  pip install rasa[spacy]
      *  python -m spacy download en_core_web_md (linking successful)

and got an error : Failed building wheel for httptools

when i run "rasa init " to create a new project , i get
""rasa' is not recognized as an internal or external command, operable program or batch file.""

[2019-06-24 07:52] wochinge opened #3853 "LUIS training data not found"
Based on: https://stackoverflow.com/questions/56726192/unable-to-train-luis-model-in-rasa-nlu

**Problem:**
When Rasa is trained it uses the function `rasa/data.py::_is_nlu_file` to check whether a file in the directory is actually a NLU file. The function `_is_nlu_file` currently only works for rasa data, but not for other formats (such das LUIS).

[2019-06-24 07:53] thepurpleowl commented on #3788
[Forum question link - for this question](https://forum.rasa.com/t/probability-of-next-action-in-rasa-core-for-sequence-prediction-always-coming-1/11365)

[2019-06-24 08:02] thepurpleowl commented on #3788
@psds01 Removing slots doesn't solve the problem.

[2019-06-24 08:06] JustinaPetr commented on #3748
Closing this for now, but we should update the docs with this too.

[2019-06-24 08:06] #3748 closed

[2019-06-24 08:23] tabergma opened #3854 "Entity ranking"
**Description of Problem**:
related to https://forum.rasa.com/t/entity-not-recogised-properly/11700/4

You trained your NLU pipeline and you wonder why a specific entity is not picked up by the NER. You can test your model, however, there is no file showing you the errors your NER made. Also you don't see any kind of entity ranking. So, overall it is hard to figure out, why the NER misses a specif

[2019-06-24 08:40] federicotdn commented on #3151
I've thought of some ways we could solve this problem:
- Add, to README.md, specific instructions of what needs to be installed in order to run all tests. This list would need to be kept up-to-date as the project's dependencies change.
- Add a new recipe to Makefile, e.g. `install_dev_dependencies` that installs all necessary dependencies. This would more or less run the same things that .travis.y

[2019-06-24 09:11] federicotdn commented on #3151
Also: add `black==X.Y.Z` and `pytype==X.Y.Z` to requirements-dev.txt and remove `pip install black` and `pip install pytype` from .travis.yml.

[2019-06-24 09:12] ngduyanhece opened #3855 "Rasa X version 0.19.2 get error in interactive mode"
**Rasa version**: 1.13

**Rasa X version** (if used & relevant): 0.19.2

**Python version**: 3.7

**Operating system** (windows, osx, ...): osx

**Issue**: cannot use interactive learning in rasa x
<img width="1040" alt="Screen Shot 2019-06-24 at 16 09 38" src="https://user-images.githubusercontent.com/10491651/60006533-d5f14680-969a-11e9-80c5-e33c06d0d210.png">
when i start rasa x and change to i

[2019-06-24 09:40] cowjen01 opened #3856 "RASA shell stuck on incoming quick reply"
**Rasa version**:
Rasa 1.1.3
**Python version**:
Python 3.7.3
**Operating system** (windows, osx, ...):
osx Mojave
**Issue**:
I use external NLG app to generate response based on tracker store data. On greeting intent I return quick replies buttons in http response. After that RASA shell stuck and stopped responding.

I suggest to create same functionality both for quick replies and classic button

[2019-06-24 09:54] psds01 commented on #3852
Please try this and install rasa (x) again: https://askubuntu.com/questions/398489/how-to-install-build-essential

[2019-06-24 10:01] imLew commented on #3803
@akelad Yes, this happens even on the latest master, I will see if I can figure out why

[2019-06-24 10:22] psds01 commented on #3836
Maybe instead of specifying your endpoint as
[code]
You might want to specify it as
[code]
Without the slash after `c`.
That's what rasa demo bots have : https://github.com/RasaHQ/rasa/blob/master/examples/restaurantbot/endpoints.yml#L2
https://github.com/RasaHQ/rasa/blob/master/examples/formbot/endpoints.yml#L2
https://github.com/RasaHQ/rasa/blob/master/examples/concertbot/endpoints.yml#L5

[2019-06-24 15:11] wochinge commented on #3852
Thanks for raising this issue, @erohmensing will get back to you about it soon.

[2019-06-24 15:11] wochinge commented on #3851
Thanks for raising this issue, @federicotdn  will get back to you about it soon.

[2019-06-24 15:12] wochinge commented on #3849
Please ask questions at the [forum](https://forum.rasa.com) @duvaragan

[2019-06-24 15:12] #3849 closed

[2019-06-24 15:14] wochinge commented on #3848
@xjh12345 By Rasa API you mean the CLI or the actual HTTP API?

[2019-06-24 15:15] wochinge commented on #3855
Thanks for raising this issue, @tabergma  will get back to you about it soon.

[2019-06-24 15:25] wochinge commented on #3846
Thanks for raising this issue, @dakshvar22  will get back to you about it soon.

[2019-06-24 15:27] wochinge commented on #3845
@snbuchholz Thanks for raising this issue. We already working on this for the next release 👍

[2019-06-24 15:29] wochinge commented on #3844
Thanks for raising this issue, @Saladdin  will get back to you about it soon.

[2019-06-24 15:30] erohmensing commented on #3852
@Vyshnavi-R Can you post the full error you get for ` Failed building wheel for httptools`?

[2019-06-24 16:12] wochinge commented on #3840
Thanks for raising this issue, @Ghostvv  will get back to you about it soon.

[2019-06-24 16:45] Vyshnavi-R commented on #3852
Thanks! The issue is now resolved.
I ran the following command to resolve `Failed building wheel for httptools`.
`conda install -c conda-forge httptools `  in anaconda prompt.
resource : [https://anaconda.org/conda-forge/httptools](https://anaconda.org/conda-forge/httptools)

[2019-06-24 16:47] wochinge commented on #3775
@dmlapteacru Yes except
* the `logger` component
* `duckling` (if you are not using it)

[2019-06-24 17:03] wochinge commented on #3606
Yes, these are by Rasa x

@fallik Could you please try using Rasa X version `0.19.2`?

[2019-06-24 17:15] erohmensing commented on #3852
Awesome, glad you got it fixed 🚀

[2019-06-24 17:15] #3852 closed

[2019-06-24 19:30] jamesmf commented on #3259
Agreed that `projects` were a vital feature. It is very helpful to be able to create focused, conversation-independent `nlu` models for different domains (and to re-use them across projects). It lets you keep your NER/NLU modular and reusable

[2019-06-24 22:13] adu013 opened #3858 "NameError: Cannot access action 'utter_default', as that name is not a registered action for this domain."
I've followed tutorial http://www.rasa.com/docs/rasa/user-guide/rasa-tutorial/

Issue:

[code]
domain.yml

[code]

[2019-06-25 06:02] bruxe0000 opened #3859 "About MappingPolicy"
**Rasa version**:
1.1.3
**Rasa X version** (if used & relevant):

**Python version**:
Python 3.6.8
**Operating system** (windows, osx, ...):
Windows 10 Home
**Issue**:
We are using rasa and we found that Mapping Policy does not work. And, we fixed it.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if

[2019-06-25 06:37] tmbo commented on #3056
We did not test this yet it might work but I suspect there is still an issue with this. @tahamr83 did you try it out, were there any issues?

[2019-06-25 06:43] tmbo commented on #3826
The requirements.txt is intended to pin exact versions. Do you run into the same issue if you install using `pip install rasa` or (after cloning) `pip install -e .`?

[2019-06-25 07:43] federicotdn opened #3860 "Update pytype version"
With pytype version `2019.6.21`, the Travis build fails with the following error message:
[code]

With `2019.5.31`, however, it works correctly. The pytype version should be updated to `2019.6.21`, pinned, and all type checks should pass correctly.

[2019-06-25 07:44] wochinge opened #3861 "don't require local model if remote storage is given"
If a remote storage for models is specified, it should not be required to have a local model.

[code]

[2019-06-25 07:48] tabergma commented on #3855
@ngduyanhece Did you start rasa x on a new rasa project, e.g. `rasa init`? If not, can you please try it on a new rasa project? Does the error still occur?

[2019-06-25 07:54] HatuneMiku opened #3862 "rasa shell nlu ouput shows unicode code not character string"
**Rasa version**:
1.1.4

**Python version**:
Python 3.6

**Operating system** (windows, osx, ...):
Windows 10 1903

**Issue**:

[code]
The output show unicode like #3564.

[2019-06-25 08:03] stacks13 commented on #3858
You have to manually add `utter_default` in actions in domain.yml

You also have to make a template for that.

[code]

[code]

[2019-06-25 08:04] wochinge commented on #3862
Thanks for raising this issue, @samwill get back to you about it soon.

[2019-06-25 08:04] wochinge commented on #3859
Thanks for raising this issue, @imLew will get back to you about it soon.

[2019-06-25 08:05] federicotdn commented on #3151
Related: https://github.com/RasaHQ/rasa/issues/3860

[2019-06-25 08:07] wochinge commented on #3856
Thanks for raising this issue, @tabergma will get back to you about it soon.

[2019-06-25 08:08] wochinge commented on #3858
Thanks for raising this issue, @tabergma will get back to you about it soon.

[2019-06-25 09:04] #3751 closed

[2019-06-25 09:06] federicotdn commented on #3751
Hey @ghostHBL, the issue should be fixed by the next release. Thanks for taking the time to report the problem!

[2019-06-25 09:54] anilpankaj commented on #2711
i got same error
Traceback (most recent call last):
  File "train_online.py", line 8, in <module>
    from rasa_core.training.interactive import interactive
ModuleNotFoundError: No module named 'rasa_core.training.interactive'

[2019-06-25 09:55] mechko opened #3863 "socketio channel should also support attachments"
**Description of Problem**:
Socketio channel cannot handle attachments. Because of this, attachments are handled as text messages, which cannot be parsed by Webchat JS clients.

**Overview of the Solution**:
add send_attachment method to socketio.py, like so:

[code]

I can create a pull request if needed.

**Definition of Done**:
- [ ] Tested with webchat JS clients
- [ ] Feature is documented

[2019-06-25 09:57] anilpankaj commented on #2717
i got same error after use it
Traceback (most recent call last):
  File "train_online.py", line 8, in <module>
    from rasa_core.training import interactive
ImportError: cannot import name 'interactive'

[2019-06-25 10:24] #3741 closed

[2019-06-25 11:47] vinodindia commented on #160
try breaking down your large trainingset into small trainingsets and give that folder path(where broken down trainignsets are present) to the RASA nlu like
"python -m rasa train nlu -c config.yml --out models -u data\NCDomainData"
where NCDomainData folder contains the broken down datasets

[2019-06-25 11:48] Ghostvv commented on #3840
We're currently experimenting with possible solutions to treat faq and chitchat as sequence2sequence without context.

Regarding many intents of faq, there is not too much that can be done right now, since you still need to come up with limited number of template answers

[2019-06-25 12:57] tabergma commented on #3858
AS @stacks13 mentioned, you have to create the template `utter_default`, there is no default template. If you are using a template in your stories, you should make sure, that you also have a template defined for that in your domain file.

[2019-06-25 13:01] tabergma commented on #3856
@cowjen01 Thanks. As you already looked into the code, do you want to fix the issue yourself and submit a PR?

[2019-06-25 13:24] #3733 closed

[2019-06-25 13:59] msamogh commented on #3685
I tried installing the versions of Rasa and Rasa X specified by @true1337, but wasn't able to reproduce it with the story in the image.

I also tried using this story https://github.com/RasaHQ/rasa/issues/3685#issuecomment-502989201 on the deployed instance of Sara as @akelad mentioned, but I couldn't reproduce it there either.

[2019-06-25 14:22] #3778 closed

[2019-06-25 14:29] tmbo commented on #3842
But as far as I can see there is no issue with the `[]` for the value of `use_entities` right? I think we should change the documentation to use `[]` instead of `false`

[2019-06-25 15:53] erohmensing opened #3865 "misleading error message with `actions` folder"
if you run `rasa run actions` with no `actions.py` file, you get a helpful:
[code]
However, if your actions files are in an `actions` folder, you get this confusing message:
[code]

Either this should be fixed, or we should just support loading files from an `actions` directory as well as from `actions.py`.

[2019-06-25 16:09] rgstephens opened #3867 "Custom tracker store not found"
**Rasa version**: 1.1.3

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Docker on OSX

**Issue**:

I and another user cannot get custom tracker store working as reported on the forum [here](https://forum.rasa.com/t/tracker-store-not-found/11408). My custom tracker has been working fine in prior versions of Rasa but not under 1.0.

**Error (including full traceback)**:
[code]

[2019-06-25 16:30] dakshvar22 commented on #3846
@obarbier Thanks for bringing this up. Are you up for sending a quick PR with a fix?

[2019-06-25 18:27] rgstephens opened #3870 "Dockerfile drop ENTRYPOINT"
**Description of Problem**:
The current Dockerfile uses the `ENTRYPOINT` command to invoke rasa and then the `CMD` to invoke the `--help` option in case the user doesn't pass rasa command options. Using `ENTRYPOINT` reduces the flexibility of using the standard rasa container because it means the developer can only use this container when they want to invoke `rasa`.

I'm running into lots of issue

[2019-06-26 01:04] ghostHBL commented on #3751
@federicotdn I have check it in the master branch, this issue has been fixed, thanks for your hard working.

[2019-06-26 03:56] ccelotto commented on #3827
Hi @Ghostvv - unfortunately no luck fixing this. Hopefully someone else can pick it up! Thank you for your help in raising this issue.

[2019-06-26 05:44] #3862 closed

[2019-06-26 06:34] ruchiawasthi63 opened #3873 "How do I do interactive training while creating conversational chatbot"
I've successfully run the training procedure for creating the chat bot  but I want to train my bot using interactive learning. I tried understanding https://rasa.com/docs/rasa/core/interactive-learning/ but the command prompt is giving the error that rasa is not recognized as an internal or external command.

When i do pip install rasa and pip install rasa-x, it shows that it has successfully inst

[2019-06-26 07:07] akelad commented on #3685
@msamogh just try clicking on some stories that already exist on that instance, it should happen eventually

[2019-06-26 07:10] tmbo commented on #3832
Should be deprecated, once we remove it we also need to make sure we can still properly load trackers that have this event in their history.

[2019-06-26 07:36] akelad commented on #3648
@tabergma could you take a look at this instead?

[2019-06-26 07:51] federicotdn commented on #3851
Hi @psds01, thanks for reporting this problem. Just to be sure, the temp files you mentioned are created after running `rasa train`, is this correct?

[2019-06-26 07:55] wochinge commented on #3863
@mechko Thanks for this enhancement proposition. A pr would be great and highly appreciated! 🚀

[2019-06-26 07:56] wochinge commented on #3867
Thanks for raising this issue, @samwill get back to you about it soon.

[2019-06-26 08:00] wochinge commented on #3870
Hi @rgstephens . You can also overwriter the entrypoint when running a docker container using `--entrypoint=bash`. I put your issue out for discussion since I agree that overwriting the command might be more intuitive. I could even reflect this in https://github.com/RasaHQ/rasa/pull/3332

[2019-06-26 08:01] wochinge commented on #3873
Thanks for raising this issue. @msamogh will come back to you soon.

[2019-06-26 08:26] #3720 closed

[2019-06-26 08:30] psds01 commented on #3851
Rasa is really awesome! Keep up the good work!
You are welcome, @federicotdn

I am not sure. But the logger for `rasa train` says :
```2019-06-26 12:34:47 INFO     rasa.nlu.model  - Successfully saved model into '/tmp/tmp21z6d3p3/nlu'```

That's why I _guessed_ that it was by `rasa train`

[2019-06-26 08:34] wochinge commented on #2689
@jasonkuhrt Could you also put Rasa behind a Nginx which does the jwt validation and then forwards the requests?

[2019-06-26 08:37] psds01 commented on #3851
@federicotdn , I would love to see the solution or maybe the approach for this. Because the only way I can see this being handled is through
[code]

[2019-06-26 08:42] msamogh commented on #3873
Ok that's weird. Could you try creating a [virtualenv](https://docs.python-guide.org/dev/virtualenvs/), install Rasa inside it, and then try running your command again?

[2019-06-26 09:40] ruchiawasthi63 commented on #3649
@tabergma
TypeError: 'coroutine' object is not callable
![image](https://user-images.githubusercontent.com/42084784/60169555-8a6aa400-9824-11e9-90a2-a1a919740815.png)

[2019-06-26 09:42] ruchiawasthi63 commented on #3649
@tabergma
TypeError: 'coroutine' object is not callable
`domain_file = 'C:/Users/user/Downloads/tutorial-tf-pipeline-master/tutorial-tf-pipeline-master/My_bot/domain_bot.txt'
policy_config = 'C:/Users/user/Downloads/tutorial-tf-pipeline-master/tutorial-tf-pipeline-master/My_bot/policies_bot.txt'
training_data_file = 'C:/Users/user/Downloads/tutorial-tf-pipeline-master/tutorial-tf-pipeline-master/M

[2019-06-26 09:43] tabergma commented on #3649
Can you please share your code, otherwise it is hard to figure out what is going wrong. Thanks.

[2019-06-26 09:45] ruchiawasthi63 commented on #3649
@tabergma here is the code
     domain_file` = 'C:/Users/user/Downloads/tutorial-tf-pipeline-master/tutorial-tf-pipeline-
     master/My_bot/domain_bot.txt'
     policy_config = 'C:/Users/user/Downloads/tutorial-tf-pipeline-master/tutorial-tf-pipeline-
     master/My_bot/policies_bot.txt'
     training_data_file = 'C:/Users/user/Downloads/tutorial-tf-pipeline-master/tutorial-tf-pipeline-
     mast

[2019-06-26 10:12] ruchiawasthi63 commented on #3873
Is there any other way of doing interactive learning other than writing "
   `rasa interactive \ -m models/20190515-135859.tar.gz \ --endpoints endpoints.yml `
in command prompt? Can we do it somehow in jupyter notebook?

[2019-06-26 10:31] #1797 closed

[2019-06-26 12:31] #2569 closed

[2019-06-26 12:31] #2659 closed

[2019-06-26 12:31] #2705 closed

[2019-06-26 12:39] IbtihajT opened #3878 "No name 'run_evaluation' in module 'rasa_nlu.evaluate'"
I'm trying to import run_evaluation but seems like this in not available in rasa_nlu.evaluate anymore.

[2019-06-26 12:46] IbtihajT commented on #3878
Okay i found the solution. Turned out it was available in rasa_nlu.test.
So

from rasa_nlu.test import rasa_nlu.evaluate

[2019-06-26 12:46] IbtihajT commented on #3878
Okay i found the solution. Turned out it was available in rasa_nlu.test.
So
`from rasa_nlu.test import rasa_nlu.evaluate`

[2019-06-26 12:46] #3878 closed

[2019-06-26 12:59] jasonkuhrt commented on #2689
@wochinge we certainly could but we're in k8s environment and the easiest thing to get going for us was a new microservice.

[2019-06-26 13:31] #2871 closed

[2019-06-26 13:31] #3075 closed

[2019-06-26 13:46] #3858 closed

[2019-06-26 13:46] akelad commented on #3060
@Ghostvv still relevant?

[2019-06-26 13:48] akelad commented on #3840
I'll close this as it's something we're working on and more of a question

[2019-06-26 13:48] #3840 closed

[2019-06-26 14:00] tmbo commented on #3468
I don't think we should do this. There is a way to do this with a custom action, I think we should keep it that way for now and avoid introducing new properties to the domain.

[2019-06-26 14:34] #1064 closed

[2019-06-26 17:26] cowjen01 commented on #3856
@tabergma I've tried to fixed it but I wasn't lucky. I found out there is a problem on this [line](https://github.com/RasaHQ/rasa/blob/ad66510dbebf7888602a87f2be2428b7090ae878/rasa/core/channels/console.py#L131) because when quick replies are sent by NLG, function `send_message_receive_stream` never returns any response. I've also tried to add quick replies key validation on this [line](https://gi

[2019-06-26 17:55] ErikTromp commented on #3606
Exact same issue here except that it works fine for me on my local Windows brick with Anaconda but fails on my Ubuntu server. Googling around hasn't brought an answer yet but hints point towards IPv6 settings.

[2019-06-26 18:54] TatianaParshina opened #3879 "Rasa X UI problems"
**Rasa version**:
rasa==1.1.4

**Rasa X version** (if used & relevant):
rasa-x==0.19.2

**Python version**:
Python 3.6.8

**Operating system** (windows, osx, ...):
Windows 8

**Issue**:
Rasa X UI doesn't display response if it has more then 2 lines in the Google Chrome browser using Talk Mode

![rasa_x_ui](https://user-images.githubusercontent.com/42603622/60206946-798a5480-985d-11e9-8ad2-5861a611

[2019-06-26 18:57] naoko opened #3880 "Regex Entity Extractor"
**Description of Problem**:
I think I hear often enough in a forum that people need Regex Entity Extractor (featurizer often doesn't help when u need reliable exact match extraction) and I'm not an exception here.

example: https://forum.rasa.com/t/unable-to-use-regex-feature/11976/2

**Overview of the Solution**:
I created a custom component to do this and seems to be working good.
I wanted to ge

[2019-06-26 19:17] #2876 closed

[2019-06-26 19:24] erohmensing commented on #2984
closed in #3655

[2019-06-26 19:24] #2984 closed

[2019-06-26 20:23] erohmensing opened #3881 "wrong error message with no action_endpoint"
if your `endpoints.yml` exists, but you don't define an `action_endpoint`, you get:
[code]
You should instead get a different error when you call remote actions without an `action_endpoint` defined.

[2019-06-27 03:56] iamrajatroy commented on #2695
ImportError: cannot import name 'EndpointConfig' from 'rasa_core.utils'. I am getting same kind of error. I am using Rasa 1.1.3. Can anyone tell me which package to use for EndpointConfig?

[2019-06-27 04:25] erohmensing commented on #2695
@iamrajatroy if you are using `rasa`, you should not be importing anything from `rasa_core`, you should be importing from `rasa.core`.

[2019-06-27 07:42] akelad commented on #3867
Not sure who you meant to tag there tobias :D
@rgstephens is it possible this issue is related to your problem? https://github.com/RasaHQ/rasa/issues/3748

[2019-06-27 07:45] akelad commented on #3088
closing then

[2019-06-27 07:45] #3088 closed

[2019-06-27 07:45] akelad commented on #3095
ok then closing

[2019-06-27 07:45] #3095 closed

[2019-06-27 08:35] wochinge commented on #3867
Updated it :-D

[2019-06-27 08:39] akelad commented on #3839
@tpacker are there any conversations that should show up though? As in has anyone had a conversation with your bot through the "share your bot" screen for example?

[2019-06-27 09:44] l2009312042 commented on #3629
have any update？ i have the same question

[2019-06-27 10:14] akelad commented on #3825
The Rasa UI is a contributor project, so we're not sure what version that runs on etc -- I assume it's still on an old version. You might be better off opening an issue on that repo?
Rasa X is the tool we maintain, that'll work with Rasa 1.0

I'll close this issue now as it's not related to Rasa or Rasa X

[2019-06-27 10:14] #3825 closed

[2019-06-27 10:15] akelad commented on #3788
let's keep the discussion on the forum

[2019-06-27 10:19] akelad commented on #3844
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-27 10:19] #3844 closed

[2019-06-27 10:20] akelad commented on #3848
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-27 10:20] #3848 closed

[2019-06-27 10:23] akelad commented on #3873
@ruchiawasthi63 please reopen your issue as a bug report and fill out the corresponding template to help us resolve this

[2019-06-27 10:23] #3873 closed

[2019-06-27 10:25] akelad commented on #3468
@tmbo what about if you don't want to have to write a custom action every time you just want to send a simple message to the user?

[2019-06-27 10:27] akelad commented on #3879
Thanks for raising this issue, @gausie @Saladdin we're already aware of this and it's being fixed right?

[2019-06-27 10:27] akelad commented on #3880
@naoko can I ask why you're not using the existing regex features?

[2019-06-27 10:29] akelad commented on #2429
how about now @Ghostvv ?

[2019-06-27 10:30] amn41 commented on #3789
Thanks tobi- for the synchronous case can’t we assume the client will be polling for messages and will find the messages “sent” to the user?

[2019-06-27 10:32] amn41 commented on #3843
This seems like a lot of code complexity. Can you give an example of where this is needed and it’s not simpler to just write a shell script that prepends the skill name in the nlu & stories files?

[2019-06-27 10:47] selphe opened #3882 "Duplicate messages in Slack channel"
**Rasa version**: 1.1.4

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Windows + ngrok

**Issue**:
When I send message to Slack channel, bot answering to me multiple times:
Here was an issue with same problem: https://github.com/RasaHQ/rasa/issues/2120

At ngrok logs I see, what `User-Agent: Slackbot 1.0` keeps `POST` me messages with headers:
[code]
[code]

As I see in `sla

[2019-06-27 10:56] akelad opened #3883 "Add current workdir to pythonpath automatically"
**Description of Problem**:
Using the new `rasa` commands doesn't automatically load the current workdir as a potential module directory anymore, which means peoples custom components don't work (https://github.com/RasaHQ/rasa/issues/3748). They have to manually add them to their PYTHONPATH, which with the old `python -m` way wasn't necessary

**Overview of the Solution**:
We should consider addin

[2019-06-27 11:07] MoAbd opened #3884 "dialog fails when an input from user not recognised"
when a fallback happens , the dialog fails .
here is my sotries file

## fallback
- utter_unclear

## Story 1
* appointment
    - utter_ID
* inform{"id": "9290942"}
    - action_save_id
    - slot{"id": "9290942"}
* inform{"PERSON": "rahiman khori"}
    - action_save_name
    - slot{"with": "rahiman khori"}
    - utter_date
* inform{"date": "20-01-2019"}
    - action_save_date
    - slot{"date": "

[2019-06-27 11:21] MoAbd commented on #3884
also my fallback policy is

fallback = FallbackPolicy(fallback_action_name="utter_unclear",core_threshold=0.2, nlu_threshold=0.4)

[2019-06-27 11:22] ruchiawasthi63 opened #3885 "Not able to connect to ACTION SERVER"
I have created actions.py file in the same folder where all my other files - domain.yml, policies.yml etc are located. But while running the bot I'm encountering the following error:
    `2019-06-27 16:38:33 ERROR    rasa_core.actions.action  - Failed to run custom action
    'Repayment_form'. Couldn't connect to the server at 'http://0.0.0.0:5055'. Is the
    server running? Error: HTTPConnection

[2019-06-27 11:54] wochinge commented on #3843
That's true, but due to the used interface the implementation would be strictly separated from how the current file loading works. Also we could reduce some code debt, since currently the file loading is distributed all over the code and we could use the proposed interface to centralize it.

A shell script would permanently do these changes to the NLU & story files. However, we just need these cha

[2019-06-27 11:56] MoAbd commented on #3884
I solved the issue.
in the fallback_action I changed utter_unclear with action_unclear which do utter_unclear + revert the utterance to the user

`class ActionUnclear(Action):
	def name(self):
		return 'action_unclear'
	def run(self, dispatcher, tracker, domain):
		dispatcher.utter_message("I am not sure what you are aiming for.Kindly try again")
		return[UserUtteranceReverted()]`

[2019-06-27 12:02] #3884 closed

[2019-06-27 12:02] msamogh opened #3886 "Display warning about missing component/policy in config whenever possible"
**Description of Problem**:
In most instances, it is straightforward to infer from the domain file or the training data that the user is trying to use a feature that is conditional on a component/policy being included in the `config.yml` file.

Identifying these situations while training and displaying preemptive warnings could potentially save the user effort/time by avoiding unnecessary retraini

[2019-06-27 12:21] wochinge commented on #3789
where would the user find them? They could only poll the tracker and see whether there are unknown events. Or we store the "not yet found" messages somewhere.

[2019-06-27 12:37] tpacker commented on #3839
I have not "shared" my bot, so there would be no conversations with other people.  I assumed it would save my own conversations, or at the very least stop acting like it is trying to load conversations.

[2019-06-27 12:40] cyrilthank commented on #3882
I am encountering this exact same issue.
This works fine on rasa shell

[2019-06-27 13:10] fz-29 commented on #3836
@psds01 Thanks, but it does not work.

[2019-06-27 13:29] federicotdn commented on #3851
@psds01 I ended up using context managers to automatically delete all temp directories created in `train_async`, even when an exception is raised. The change can be seen [here](https://github.com/RasaHQ/rasa/pull/3887/commits/2f59ba868c5dc0763e7ac3735627605c7d7eab9f#diff-53db653e77f57384324b9f48c9e3cdfaR85).

[2019-06-27 13:52] naoko commented on #3880
This is different from featurizer. The regex featurized feature will be learned from NER CRF right?
So if you want let it learn exactly 7 digits using Regex featurizer and NER CRF, without a lot of example with some words before/after entity (e.g. my account number is 1234567), it won't work well correct?

So for instance, I have flight confimration number that always generates [A-Z}{3}-\d{7}
You

[2019-06-27 13:54] psds01 commented on #3851
@federicotdn  Awesome! Thanks!

[2019-06-27 15:19] SamuelJaulin commented on #3865
I have a similar error when I try to custom action server on a specific folder.

The path 'data/actions.py' does not exist. Please make sure to use the default location ('actions') or specify it with '--action'.

On rasa 1.1.4, in file **rasa/cli/run.py**, line 54 (function run_actions), removing `+ ".py"` solves my error and loads my custom action.

2019-06-27 17:12:09 INFO     rasa_sdk.endpoint

[2019-06-27 15:40] rgstephens commented on #3867
I reviewed #3748. Maybe it's possible that PYTHONPATH now needs to be set in for 1.0 that was not a requirement before?  I will give this a try.

[2019-06-27 15:58] amn41 commented on #3843
The fact that it’s hard to come up with a good example is, I think, the point. I’m not sure I see the need for this. It’s a lot of logic to add to the codebase and I don’t see the benefit being big enough

[2019-06-27 16:02] amn41 commented on #3789
We might not be understanding each other.
In the rasa x UI the client polls the backend for new messages. There is no concept of “new” or “unseen” messages.  Messages sent by an outside trigger would show up in exactly the same way

[2019-06-27 16:05] amn41 commented on #3886
This is a cool suggestion !

[2019-06-27 16:58] MahmoudNasr95 commented on #3885
What about your endpoints.yml?
Make sure that you uncomment the following lines:
[code]

Also, you did not mention if you made sure to run the action server by
`rasa run actions`

[2019-06-27 17:20] ruchiawasthi63 commented on #3885
This is my endpoints file
[endpoints_bot.txt](https://github.com/RasaHQ/rasa/files/3335918/endpoints_bot.txt)

Also, according to the documentation  https://rasa.com/docs/rasa/core/actions/
![image](https://user-images.githubusercontent.com/42084784/60286741-c50c3380-992d-11e9-827e-3c5ec7b7907e.png)
I'm running `python -m rasa_sdk --actions actions` this command so I dont see why will I be require

[2019-06-28 00:04] mgcostaParedes opened #3888 "Rasa NLU run not generating logs on parse"
Hi,
I am trying to generate a log file with the user parse on a trained model, but once i make the request to localhost:5005/model/parse , there´s no log fixe with the intent results.

I am using this to run the server
`python3 -m rasa run --model models/${LAST_MODEL_FILE} --enable-api --log-file logs`

already tried with logs.log, still the same.

I am using the latest rasa.

[2019-06-28 01:36] sdu-2044 commented on #483
I am facing same issue with rasa 1.1.4.my config is
 `language: "zh"

pipeline:
- name: "tokenizer_jieba"
- name: "intent_entity_featurizer_regex"
- name: "ner_crf"
- name: "ner_duckling_http"
  language: "zh$core"
  dimensions: ["time","number","duration","phone-number"]
- name: "intent_featurizer_count_vectors"
  OOV_token: oov
  token_pattern: '(?u)\b\w+\b'
- name: "intent_classifier_tensorflow

[2019-06-28 01:55] selphe commented on #3750
@akelad any chance `parse_mode` parameter will be default in future?

[2019-06-28 02:45] erohmensing commented on #3750
@selphe it's possible that the change to `self.send_message(recipient_id, message_part, **kwargs)` will be default, we'll have to think about how this would affect the channels we already have. If we did change that then we could set the default to markdown because you could still pass HTML by declaring it.

However, as I said, i'm wary about doing that because of other channels ending up failing

[2019-06-28 04:46] selphe commented on #3750
@erohmensing thanks!
I misunderstood previous message, sorry.
I thought what i need to change source files to use this, but this workaround above, solves my case.

One remark, your example works when payload inside `{}`:
[code]

[2019-06-28 06:52] lahsuk commented on #3885
It doesn't look like it is finding your custom actions.
It should have said something like `Registered function for 'Repayment_form'.`

When you start the actions server, it should point to either the `actions` module or the `actions.py` file.
e.g> If you have just single custom action, you could do something like `rasa run actions --actions repayment_form.py`

[2019-06-28 07:12] ruchiawasthi63 commented on #3885
@lahsuk  On doing so i encounter the following error

    `C:\Users\user\Downloads\tutorial-tf-pipeline-master\tutorial-tf-pipeline-master\My_bot>python` -m
    rasa_sdk.endpoint --actions actions.py -p 5055
    2019-06-28 12:35:28 INFO     rasa_sdk.endpoint  - Starting action endpoint server...
    2019-06-28 12:35:28 ERROR    rasa_sdk.executor  - Failed to register package 'actions.py'.
    Trac

[2019-06-28 07:18] ruchiawasthi63 commented on #3885
The same error comes when i try `python -m rasa_sdk.endpoint --actions Repaymentform.py -p 5055`
Error:  `No module named 'Repaymentform'`

[2019-06-28 08:01] lahsuk commented on #3885
@ruchiawasthi63 Sorry, that was my mistake.
You need to run it this way:
`python -m rasa run actions --actions Repaymentform` # no need for the `.py` part.

[2019-06-28 08:20] Truemedia commented on #3595
Just an update on this Raspberry PI 4 has been released.

This model has RAM ranging from 1gb to 4gb, so eventually when I purchase the 4gb model will attempt again and hopefully will be fine.

[2019-06-28 08:34] akelad commented on #3839
Your own conversations are saved in the talk to your bot screen. If you haven't shared your bot yet then it's expected that there's no conversations in the conversations screen. We are working on making that more clear.
I'll leave this issue open for now until a release is out for that

[2019-06-28 08:35] akelad commented on #3882
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-06-28 08:35] ruchiawasthi63 commented on #3885
The same error @lahsuk
![image](https://user-images.githubusercontent.com/42084784/60329304-ba917e80-99ad-11e9-9cf8-95904a5927a0.png)

[2019-06-28 08:37] akelad commented on #3836
we'll look into this -- thanks for the PR!

[2019-06-28 08:39] akelad commented on #3880
Could you not use duckling to extract things like numbers though? Thanks for the suggestion, we'll discuss this internally and get back to you

[2019-06-28 08:41] ruchiawasthi63 commented on #3885
I don't understand where is my endpoints.yml file getting used if Action endpoint is running on the port that is given to me while running `python -m rasa run actions --actions Repaymentform`  i.e. `0.0.0.0 , 5055`
My endpoints file instead contains `"http://localhost:5055/webhook"

[2019-06-28 08:42] akelad commented on #3867
yeah your assumption is correct there, we're looking into avoiding having to set the PYTHONPATH.

Do you have an __init__.py in your directory?

[2019-06-28 08:44] akelad commented on #3888
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-28 08:44] #3888 closed

[2019-06-28 08:46] akelad commented on #3885
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-06-28 08:46] #3885 closed

[2019-06-28 08:46] akelad commented on #3595
cool! i'm gonna close this issue for now, feel free to let us know how the 4gb version goes though :D

[2019-06-28 08:46] #3595 closed

[2019-06-28 08:59] NerdJain commented on #3350
Not running rasa_nlu using docker, but getting the same issue on windows.

**Here is the error:**
C:\Users\DELL\iplbot\practice_version>python -m rasa_nlu.train -c nlu_config.yml --data data/nlu_data.md -o models --fixed_model_name nlu --project current --verbose
C:\Users\DELL\AppData\Local\Programs\Python\Python37\lib\site-packages\rasa_nlu\__init__.py:12: UserWarning: The 'rasa_nlu' package has

[2019-06-28 09:02] lahsuk commented on #3885
The endpoints.yml file is used by your rasa server. You need to run both instance of rasa and rasa_sdk server.
`python -m rasa run actions --actions Repaymentform`
The Repayment form is the name of your python file. Not the class name. (I should have elaborated more here). Do you have a file name `Repaymetform.py` from where you're running your action server?

[2019-06-28 09:32] ruchiawasthi63 commented on #3885
@lahsuk  So the server in my endpoints file and the server generated on running `python -m rasa run actions --actions Repaymentform` should be on same port?
Also, is my actions.py file correct because I'm not able to find anything wrong it. I'm unable to understand if there's a problem in getting the appropriate data once the rasa server sends my server a POST request or are the two servers not ab

[2019-06-28 10:09] lahsuk commented on #3885
I'm running your code with `python -m rasa_sdk.endpoint --actions actions` and it runs correctly.
![image](https://user-images.githubusercontent.com/29747785/60335131-cafd2580-99bc-11e9-95cd-4a1ac47db6d7.png)

The code is here: https://gist.github.com/lahsuk/1f73454b3edf424aba4c7231ce6ccd64

Maybe it's a windows only problem...

[2019-06-28 10:14] wochinge commented on #3789
But in this case the UI polls the tracker und checks if there are any new messages. That's not really elegant in my opinion.

[2019-06-28 10:17] wochinge commented on #3843
I see your point now. Maybe the point of this issue should then be to make the file loading in Rasa more modular, which means
- the logic is centralized in a component
- it can be easily exchanged by a different component (similar to how we can exchange policies, custom components now).

By having this alternative / experimental file loading approaches could be implemented / maintained as separate

[2019-06-28 11:02] amn41 commented on #3789
yes it's not v elegant, but this is also how the rasa x ui works currently

[2019-06-28 11:28] upirlot opened #3892 "How do I deploy my bot with Cloud Foundry ?"
How can I deploy my rasa bot on CloudFoundry ? I have set up the requirements to install rasa 1.0.9 on my app and put a command in my app manifest as : “rasa run” however the command does’nt work and during the staging I get an error like “app has no start command”. From the logs I got I saw that install directory of rasa was not on the PATH so I ran the command from that directory but I still hav

[2019-06-28 12:06] Ghostvv commented on #2429
I think it is still relevant, but we can probably close the issue, @tmbo?

[2019-06-28 12:10] erohmensing commented on #3882
Which responses are getting duplicated? Are they dispatched from within a custom action?

[2019-06-28 12:12] Ghostvv commented on #3060
ye, the interactive learning may contain a bug

[2019-06-28 12:13] erohmensing commented on #3750
Sorry, of course, thanks for the fix! Yes it's a json payload so it definitely needs to be everything inside the curly braces as you have it. 🙂 was a little late for me 😅 glad you are able to customize the message without changing the source code. That's why we added the custom functionality in the first place! :)

[2019-06-28 12:16] imLew commented on #3859
Hi @bruxe0000, the message you are seeing is a debug message not a warning or exception. When the MappingPolicy is in use this message is expected to show up whenever an intent is detected that is not mapped to an action.

Also, the call is to `tracker.latest_message.**intent**`, which is a dictionary with the name of the intent stored under the key "name". I tried the change you proposed and it d

[2019-06-28 12:16] #3859 closed

[2019-06-28 12:35] tpacker commented on #3839
Sounds good.  It just doesn't act right on my windows machine, as it looks like it tries to load conversations and also every time I open that page it gives me the "It seems like its your first time here!" page first.  I do not have these issues on my macbook.  Thanks.

[2019-06-28 12:43] erohmensing commented on #3883
Oops I assigned before noticing the discussion label. Also I noticed it's enhancement, but something doesn't work that did before -- I'd call that a bug.

We already handle this for `rasa run actions` here: https://github.com/RasaHQ/rasa/blob/master/rasa/cli/run.py#L52

I've tried the same thing for `rasa train` and it works. We'd need to do the same with most of the other cli commands (`shell`, `

[2019-06-28 12:45] lgrinberg opened #3894 "Unable to run standalone NLU HTTP server"
**Rasa version**: 1.1.4

**Rasa X version** (if used & relevant):

**Python version**:  3.6

**Operating system** (windows, osx, ...):  Windows 10

**Issue**:
Trying to run a standalone Rasa NLU HTTP server by runnng "rasa run --enable-api -m models/nlu-20190627-164514.tar.gz" as described in the "Running NLU Server" section here http://rasa.com/docs/rasa/nlu/using-nlu-only/

Instead the core serv

[2019-06-28 12:49] TatianaParshina opened #3895 "Rasa X doesn't have 'Share with guest testers' button"
**Rasa version**:
rasa==1.1.4
**Rasa X version** (if used & relevant):
rasa-x==0.19.2
**Python version**:
Python 3.6.8
**Operating system** (windows, osx, ...):
Windows 8.1
**Issue**:
Rasa X UI doesn't display 'Share with guest testers' button in the models table (Google Chrome browser).

![share_with_tester](https://user-images.githubusercontent.com/42603622/60343245-3266a580-99bc-11e9-8344-04755

[2019-06-28 12:56] erohmensing commented on #3895
Hey @TatianaParshina, soryr, this screenshot is out of date. Find the fix here: https://forum.rasa.com/t/share-button-in-models-table/11618/4

[2019-06-28 13:17] TatianaParshina commented on #3895
Hi @erohmensing , thank you a lot for the information! I found the button in the Conversations tab now.
I will close the issue

[2019-06-28 13:17] #3895 closed

[2019-06-28 14:45] tmbo commented on #2689
I don't think we should implement the authentication in Rasa directly - at least I don't see a general enough way to do it atm. I'd rather go for good documentation on a solution like the one suggested by @jasonkuhrt

[2019-06-28 14:47] tmbo commented on #2927
I don't think this is a very common scenario and I doubt we should implement this right now. But if someone wants to do it, I'd rather use an array:
[code]

[2019-06-28 15:40] cyrilthank commented on #3882
Thank yo for your attention to this

The bot’s responses are repeate

For example:

Expected:

User : hi
Bot : are you human

===============

Observed

User: hi
Bot : are you human
Bot : are you human
Bot : are you human

Cyril

--------------------------------------------
On Fri, 6/28/19, Ella Rohm-Ensing <notifications@github.com> wrote:

 Subject: Re: [RasaHQ/rasa] Duplicate messages in Slack

[2019-06-28 15:43] erohmensing commented on #3882
@cyrilthank yes i realize this. can you show me a story for when this happens?

[2019-06-28 16:04] cyrilthank commented on #3882
Thank you for your reply

This happens only when the action server is up even while doing utter but within actions.py

Doesn’t happen in shell or when the action types are utter*

Can you please share if there is anything particular I need to check in the stories

Requesting since I will be back only after a couple of days so appreciate if you could share some sort of steps to execute to debug/dia

[2019-06-28 16:11] wochinge commented on #2689
A general way would be to have different `Authenticator` implementations which could be specified in the `credentials.yml`. In each channel we could do sth like

[code]

We could load the authenticator from strings as we do it with custom components. Users could then quickly plug in their own authenticator implementations

[2019-06-28 16:18] erohmensing commented on #3882
Okay thats very helpful actually! If it only happens when using the utter within actions.py, then it is a duplicate of https://github.com/RasaHQ/rasa/issues/3569. Slack expects some sort of response within 3 seconds and if it doesn't get it will re-send the request. As for

Looks like it should be a tuple as of here: https://github.com/RasaHQ/rasa/blob/master/rasa/core/channels/slack.py#L156
But t

[2019-06-28 16:25] jasonkuhrt commented on #2689
I personally am not a fan of configuration-driven application development. Feedback (e.g. field typo) is generally non-existent (JSON Schema+vscode plugin can help with that) and developer dev tooling stack isn't leveraged (e.g. mypy).

I would expect to be able to simply register my own http middleware into rasa api using whatever framework its in play (sanic in this case I guess).

[2019-06-28 16:29] wochinge commented on #3789
Ok. So you would not offer a webhook which they could specify?

[2019-06-28 17:50] rgstephens commented on #3867
No, it's worked before with no `__init__.py`.  Tried adding one and it made no difference.

We have two of us that can't get this to work.  @thom in the [post](https://forum.rasa.com/t/tracker-store-not-found/11408) had a nice short example. Can we get a 3rd person to try this out real quick?

[code]

f.py:
[code]

[2019-06-28 18:23] cyrilthank commented on #3882
ThNk you for your reply

Can you please advice if there is a way to increase the 3 secs and/or ignore/reset this limit

Also can you please advice for diagnostics which integration (telegram /Facebook/....)is recommended

Thank you

Cyril
--------------------------------------------
On Fri, 6/28/19, Ella Rohm-Ensing <notifications@github.com> wrote:

 Subject: Re: [RasaHQ/rasa] Duplicate messages

[2019-06-28 19:58] erohmensing commented on #2821
Just ran into this issue, still relevant -- looks like we handled this by asking the user for the intent, but it still allows you not to input anything, which leads to the fail.
[code]
leads to same error traceback above.

[2019-06-28 20:02] arthurTemporim opened #3899 "Error in Microsoft LUIS nlu format version"
**Rasa version**: Rasa 1.1.4

**Rasa X version** (if used & relevant): Not used.

**Python version**: 3.6.6

**Operating system** (windows, osx, ...): Arch Linux

**Issue**: When you create a Microsoft Luis bot and export the .json file nlu data it cames with version 3.2.0 but Rasa only understands version 2.x.x.

**Error (including full traceback)**:
[code]

**Command or request that led to error

[2019-06-28 20:07] arthurTemporim commented on #3899
[Here](https://github.com/RasaHQ/rasa/blob/6cbcd1732e9c9d62665347119af0a5bb0f1fcb6e/rasa/nlu/training_data/formats/luis.py#L22) the version of the Microsoft LUIS is checked, it is needed to handle version 3 too and update the `LuisReader` with the new version changes.
[code]

[2019-06-28 21:53] erohmensing opened #3900 "clean up duplicated errors during training"
There are certain errors while training that get processed per line, and the repeat a ton when the error shows up a lot:
[code]
It would be good if we, for example in this case, stored a set of actions for which this error occurs, and then after training dumped all of the warnings (but only one for each action). This also applies to other warnings like "tried to set non-existent slot XXX"

[2019-06-29 01:45] naoko commented on #3880
Mostly yes but not like unique pattern like [a-z]{3}a-\d{5} etc. Okay sounds good. Feel free to close if team decided not to proceed. I can continue use as custom component.

[2019-06-30 07:53] anilpankaj commented on #3110
thank you so much it's work for me you save my time thanks again

[2019-06-30 07:54] v-rao commented on #1721
@Kumarmahesh02 Did you find any solution to this issue?

[2019-06-30 07:56] anilpankaj commented on #3110
you should add in domain file into the actions 'custom_action_hello'. and run it i hope it's work for you

[2019-06-30 08:22] anilpankaj commented on #2875
Traceback (most recent call last):
  File "run.py", line 7, in <module>
    interpreter = NaturalLanguageInterpreter.create('/home/anil/Documents/slackbot/models/dialogue')
  File "/home/anil/.local/lib/python3.6/site-packages/rasa_core/interpreter.py", line 34, in create
    return RasaNLUInterpreter(model_directory=obj)
  File "/home/anil/.local/lib/python3.6/site-packages/rasa_core/interpreter.

[2019-06-30 09:14] a4arjun commented on #3708
I got the same error. My python version is 3.7.3

pip install rasa-x --extra-index-url https://pypi.rasa.com/simple
Collecting rasa-x
  Downloading https://pypi.rasa.com/api/package/rasa-x/rasa-x-0.19.2.tar.gz (1.8MB)
    100% |████████████████████████████████| 1.8MB 104kB/s
Collecting SQLAlchemy~=1.3.0 (from rasa-x)
  Using cached https://files.pythonhosted.org/packages/62/3c/9dda60fd99dbdcbc6312

[2019-07-01 01:12] rgstephens commented on #3867
@akelad could you please remove the `more-information-needed` label.  No other information is required to duplicate this problem.

[2019-07-01 06:43] ravikrcs opened #3902 "Encountered an exception while running action 'action_retrieve_bank'. Bot will continue, but the actions events are lost. Make sure to fix the exception in your custom code."
**Rasa version**: 1.1.4

**Rasa X version** (if used & relevant):

**Python version**:3.6.8

**Operating system** (windows, osx, ...):windows

**Issue**:

Encountered an exception while running action 'action_retrieve_bank'. Bot will continue, but the actions events are lost. Make sure to fix the exception in your custom code.

**Error (including full traceback)**:
[code]

**Command or request tha

[2019-07-01 06:46] ravikrcs commented on #3902
it is working in jupyter notebook or rasa x. but not on cmdline or interactive shell

[2019-07-01 06:51] ravikrcs commented on #3902
this is my actions:

class ApiActionBank(Action):
    def name(self):
        return "action_retrieve_bank"

    def output_string(bnk):
        return article_df[my_dict.get(bnk)][0]

    def run(self, dispatcher, tracker, domain):

        my_dict = {'motorbike_':'automotive', 'car_':'automotive', 'ai_':'it_digital', \
               'saas_':'it_digital', 'retail_':'business', 'consumer_':'busin

[2019-07-01 06:53] ravikrcs commented on #3902
domain file and config file is perfect according to rasa documents.

[2019-07-01 09:05] anilpankaj commented on #3115
how to retrain model
i am stuck on that problem that's i mention below

Traceback (most recent call last):
  File "testing.py", line 5, in <module>
    agent = Agent.load('models/dialogue', interpreter='/home/anil/Documents/slackbot/models/dialogue')
  File "/home/anil/.local/lib/python3.6/site-packages/rasa_core/agent.py", line 291, in load
    action_endpoint=action_endpoint)
  File "/home/anil/

[2019-07-01 09:12] #3737 closed

[2019-07-01 09:12] #3695 closed

[2019-07-01 09:12] #3704 closed

[2019-07-01 09:32] imLew commented on #3892
Hi @upirlot, we only use Github issues for bugs and feature requests.
Please ask your question in the forum (https://forum.rasa.com).

[2019-07-01 09:32] #3892 closed

[2019-07-01 09:37] imLew commented on #3899
This is a known issue, it's in the maintenance inbox as #1790.

[2019-07-01 09:37] #3899 closed

[2019-07-01 09:42] imLew commented on #3902
Hi @ravikrcs,

the command you are running is `rasa shell`? Please try adding the `--debug` flag and posting the output.

[2019-07-01 10:08] imLew commented on #3894
@lgrinberg is it actually not working for you?
I just tried it with our moodbot example and I indeed also get the log message `Starting Rasa Core server` but it nonetheless works when I query the server.

[2019-07-01 10:29] Bennie-higuru opened #3903 "Inserting slots into template uses regex and not string.format"
**Rasa version**: 1.0.7

**Rasa X version** (if used & relevant): None

**Python version**: 3.6

**Operating system** (windows, osx, ...): Linux / Ubuntu

**Issue**: Rasa does not handle string formatting anymore. Instead it was changed to regex which is less resilient then string.format

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of d

[2019-07-01 11:24] utkalsinha opened #3905 "Missing 'Azure Storage' support in the introduction sentence of Rasa model cloud storage user guide doc"
**Rasa version**:

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**: Missing 'Azure Storage' support in the introduction sentence of Rasa model cloud storage user guide doc. Page reference link: https://rasa.com/docs/rasa/user-guide/cloud-storage/. Missing statement in that page:

**Error (including full traceback)**:
[code]

**Com

[2019-07-01 12:15] utkalsinha commented on #3905
Created a pull request for the same: https://github.com/RasaHQ/rasa/pull/3904

[2019-07-01 13:54] co-learning-lounge commented on #3708
I am getting the same error with Python 3.6.8.

Collecting aiohttp~=3.5 (from rasa==1.0.1->-r requirements.txt (line 54))
  Could not find a version that satisfies the requirement aiohttp~=3.5 (from rasa==1.0.1->-r requirements.txt (line 54)) (from versions: 0.1, 0.2, 0.3, 0.4, 0.4.1, 0.4.2, 0.4.3, 0.4.4, 0.5.0, 0.6.0, 0.6.1, 0.6.2, 0.6.3, 0.6.4, 0.6.5, 0.7.0, 0.7.1, 0.7.2, 0.7.3, 0.8.0, 0.8.1, 0.

[2019-07-01 22:24] RanaMostafaAbdElMohsen commented on #3794
Hello @ricwo ,
I am currently working on the issue.
I just have one question :
- Should it fires just a warning and continues execution? or it should throw a warning and then terminates program ?

[2019-07-01 23:15] lgrinberg commented on #3894
Yes, thank you for that  tip.   I tried it again and it is actually going to the NLU server.  So the documentation is correct, but the output is wrong.  Should say "Rasa NLU Server"

[2019-07-02 05:19] ruchiawasthi63 commented on #3885
Yes, even I'm able to run your file properly :/
Anyways, thanks for helping out!
@lahsuk

[2019-07-02 06:26] rajeshborra8 opened #3907 "How to reduce the training time?"
- I am using rasa with the pipeline spacy_sklearn.

- ner is the main motto of my project everything is going good but training for only two son files its taking around 1hr

- The size of two json files are 15mb each

- How to reduce the training time pls anyone help me out

and how to increase parallel jobs = 1 to 10

[2019-07-02 06:34] cyrilthank commented on #3882
@erohmensing can you please share some workaround on this?
requesting since while rasa-x is good for feedback from restricted audience, this is handy to deploy on mobile platforms

@selphe  i am sorry for hijacking your issue. Can you please share the workaround you are using?

[2019-07-02 06:35] cyrilthank commented on #3569
@anoop2503  can you please share the workaround you are using
please feel free to email me at cyril_thank@yahoo.com

[2019-07-02 06:47] selphe commented on #3882
@cyrilthank no problem, but i haven't workaround for this. I thought, this error could be bypassed somehow via settings in `credentials.yml`

@erohmensing sorry for delay.
You're right, the problem occurs when utter comes from action server (both: utter_message and utter_template).

[2019-07-02 07:13] ravikrcs opened #3908 "Getting UnicodeDecodeError while loading the nlu training examples"
**Rasa version**:1.1.4

**Rasa X version** (if used & relevant):

**Python version**:3.6

**Operating system** (windows, osx, ...):windows

**Issue**:
while loading the nlu training examples on jupyter notebook, it gives the UnicodeDecodeError

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant

[2019-07-02 08:18] JanThiel opened #3909 "Webhooks broken in 0.19.2 nginx Docker Images"
**Rasa version**:
1.1.3

**Rasa X version** (if used & relevant):
0.19.2

**Python version**:
3.6

**Operating system** (windows, osx, ...):
RHEL 8.6

**Issue**:
The rasa/nginx Docker image contains proxy_pass rules to allow a connection of **[OUR-RASA-X-HOST]/core/(.... webhooks/rest/webhook)** to **rasa-production:5005**. This is configured in /opt/bitnami/nginx/conf/conf.d/rasax.nginx
The nginx

[2019-07-02 08:44] AnkitSingh21 commented on #3879
@akelad could you please let us know the fix of this issue.

[2019-07-02 08:47] ricwo commented on #3794
Hi @RanaMostafaAbdElMohsen, thanks for working on this! Training can continue in that case, but only for NLU. The warning should explicitly state that Core training is skipped because no domain was found.

[2019-07-02 09:13] cyrilthank commented on #3882
@erohmensing @selphe can you please confirm if this happens only if we call utter_message and/or utter_template from actions.py

Also can you please share the setting in credentials.yml  to be used as workaround

[2019-07-02 11:34] akelad commented on #3794
@RanaMostafaAbdElMohsen thanks a lot for taking this on, let us know if you have any questions in the process

[2019-07-02 11:35] ravikrcs commented on #3902
same thing happen

[2019-07-02 11:36] akelad commented on #3909
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-07-02 11:36] akelad commented on #3908
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-07-02 11:36] akelad commented on #3907
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-02 11:36] #3907 closed

[2019-07-02 11:40] akelad commented on #3894
Cool, could you reopen an issue or a PR describing that issue? Since the original issue is resolved.

[2019-07-02 11:40] #3894 closed

[2019-07-02 11:40] akelad commented on #3836
update: contributor can't sign CLA so we have to look into this

[2019-07-02 11:41] akelad commented on #3905
Awesome, thanks!

[2019-07-02 11:42] akelad commented on #3903
Thanks for raising this issue, @imLew  will get back to you about it soon.

[2019-07-02 11:44] akelad commented on #3867
@rgstephens that label is for when we're waiting for an update :) But in any case, yeah we're looking into this issue in the other issue. So i'll close this one and reference it from the other one

[2019-07-02 11:44] #3867 closed

[2019-07-02 11:44] akelad commented on #3883
https://github.com/RasaHQ/rasa/issues/3867

[2019-07-02 11:45] akelad commented on #2916
@wochinge this is still somewhat relevant right?

[2019-07-02 11:48] akelad commented on #3839
Interesting, @ricwo @JEM-Mosig could this be another window specific thing?

[2019-07-02 11:50] akelad commented on #2429
he's on holiday, so you'll need to decide :D

[2019-07-02 12:07] snbuchholz commented on #3839
I also get the "It seems like its your first time here!" page and I'm on a Mac. I think I also get "loading conversations"

[2019-07-02 13:42] erohmensing commented on #3908
Hey there @ravikrcs, can you post the nlu data you're trying to load?

[2019-07-02 14:03] Birne94 opened #3910 "http endpoints become unresponsive while nlu model is updating"
**Rasa version**:
Rasa 1.1.4

**Python version**:
Python 3.7.2

**Operating system**:
macOS 10.13.5

**Issue**:
I am using rasa as an nlu service only. When configuring [automatic model pulling](https://rasa.com/docs/rasa/user-guide/running-the-server/#fetching-models-from-a-server), the `/model/parse` endpoint becomes unresponsible for a few seconds while the model is training.

From glancing at

[2019-07-02 14:16] DiegoProtec commented on #3695
Not yet... but on this [issue](https://forum.rasa.com/t/google-assistant-rasa-1-0/10958/2), Juste promised that will update the tutorial.

[2019-07-02 14:52] tormath1 opened #3911 "readme: `installation` broken link"
**Rasa version**: N/A

**Rasa X version** (if used & relevant): N/A

**Python version**: N/A

**Operating system** (windows, osx, ...): N/A

**Issue**: broken link for installation.
[code]
It should be: https://rasa.com/docs/rasa/user-guide/installation/

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (

[2019-07-02 15:11] tabergma commented on #3629
What python version are you using? `asyncio.run` is only supported in 3.7. If you are using python 3.6 you need to use
[code]
link to documentation: https://docs.python.org/3.6/library/asyncio.html

[2019-07-02 16:33] illi88 opened #3912 "Set a slot with HTTP"
Hello guys,
I use HTTP API to excute requests, can I set slot with HTTP API requests ?
Thank you for your answers

[2019-07-02 17:28] amit91116 opened #3913 "AttributeError: 'RasaNLUModelConfig' object has no attribute 'load_component'"
Code >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

from rasa_nlu.training_data import load_data
from rasa_nlu.model import Trainer
from rasa_nlu import config
from rasa_nlu.model import Metadata, Interpreter

def train_nlu(data,config_spacy,model_dir):
    training_data = load_data(data)
    trainer = Trainer(config.load(config_spacy))
    trainer.train(training_data)
    model_directory = trainer.persist(mod

[2019-07-02 17:31] bschoenhe commented on #3323
In case anyone faces the same issue, I was able to bypass this by installing httptools with conda first:
`conda install -c conda-forge httptools `

[2019-07-02 18:43] #2152 closed

[2019-07-02 20:50] rgstephens commented on #3867
@akled why is this being folded into a python path issue?  I tested setting the path and it does not address this problem.

From my perspective, this is a critical issue.  Is there any sense of priority with this issue?

[2019-07-02 23:11] RanaMostafaAbdElMohsen commented on #3794
@akelad @ricwo
Would you please help me  in test coverage ?
I think a new test case should be added to `rasa/tests/cli/test_rasa_train.py` as below:
[code]
Am I on the right track ? Please advise

[2019-07-03 06:19] ricwo commented on #3794
@RanaMostafaAbdElMohsen, this test is indeed necessary! It would be great if we could also check for `domain.yml` is not present. To do this, we'll have to unpack the existing model first:

[code]

we should probably also check that NLU training worked, by checking for the presence of, for example, `nlu/metadata.json`.

[2019-07-03 06:26] ruchiawasthi63 opened #3915 "Read Dataframe in custom action"
I'm trying to read values stored in a dataframe in my system. I've created a custom action for the same in my actions.py file but it doesn't return the values extracted from the dataframe when i use `utter_message`
My domain file
[domain_bot_final.txt](https://github.com/RasaHQ/rasa/files/3353519/domain_bot_final.txt)
my actions.py file
   `from typing import Any, Dict, List, Optional, Text, Union

[2019-07-03 06:39] #3915 closed

[2019-07-03 06:54] sumeendranath commented on #3548
I got a similar issue and I was able to fix it with
sudo ufw allow 443/tcp

[2019-07-03 07:54] ricwo commented on #3839
@snbuchholz @tpacker you mentioned you're on version `0.19.0`. Would you mind upgrading to `0.19.2` and seeing if the problem persists?

[2019-07-03 08:59] ankepand opened #3916 "Rasa-core story graph is changing on every run"
To my understanding the story graph being used to train rasa-core model is changing on every train run for the same input data. While trying to see the graph as_story_string the GENR_CYCL_CONN, GENR_CYCL_SINK and GENR_CYCL_SRC tags appear to be changing every time i run the train command. These changes are taking place in with_cycles_removed function. If these tags signify source, connection and s

[2019-07-03 09:02] ghostHBL opened #3917 "rasie error of domain specification has changed when load agent"
**Rasa version**:
rasa 1.1.3

**Rasa X version** (if used & relevant):

**Python version**:
3.6.8

**Operating system** (windows, osx, ...):
windows

**Issue**:
I get error when load agent, the log is

[code]
The removed and added is empty, it seems the  domain specification hasn't changed, I check the code in domain.py and focus on the code in function compare_with_specification:
[code]
In my cas

[2019-07-03 09:13] ruchiawasthi63 opened #3918 "Interactive Learning not happening"
**rasa_core:**
VERSION
    0.14.5
**rasa_nlu:**
VERSION
    0.15.1
**python**
VERSION
   3.7.3
I want to do interactive training of my bot. I already have my dialogue model and nlu model trained. When i type the following command in cmd prompt, I get nothing
`python -m rasa_core.training.interactive --core model/dialogue_final  --nlu model/nlu_final/default/nlu_final --endpoints endpoints_bot.txt`

[2019-07-03 09:25] #3799 closed

[2019-07-03 09:25] #3669 closed

[2019-07-03 10:32] mihai-satmarean opened #3919 "mattermost connector ssl certificate failed"
**Rasa version**:
Rasa 1.1.4
**Rasa X version** (if used & relevant):

**Python version**:
3.6
**Operating system** (windows, osx, ...):
linux
**Issue**:
we are using it from a docker container and passing the root cacerts in the container

[code]
when trying to use the mattermost connector with an ssl enable mattermost server we get an error about the certificate

**Error (including full tracebac

[2019-07-03 11:14] illi88 opened #3920 "Wrong action predicted with RASA HTTP API"
Hello, I’m working with RASA HTTP API, when I set slot by API the next action predicted was wrong, but in my local the next action predicted was correct. How can I fixe the order of my conversation **(input user --> predict action --> execute action --> …)** ?

[2019-07-03 11:23] ravikrcs commented on #3908
thanks for responding, but i got it

[2019-07-03 11:26] ravikrcs opened #3921 "ERR_NGROK_108"
![ngrok_error](https://user-images.githubusercontent.com/31586794/60587987-71796a00-9db3-11e9-889c-9532e703febb.PNG)

[2019-07-03 11:26] imLew commented on #3902
Yes, adding the `--debug` option is not a solution but a way to obtain more information. Rasa should print a lot more messages when run with this option. Please copy the relevant parts and post them here.

[2019-07-03 11:28] ravikrcs commented on #3921
How can i expose two ports using ngrok, like...
ngrok http 5055   and
ngrok http 5002

[2019-07-03 11:30] selphe opened #3922 "Problem with FormAction when sql tracker used"
**Rasa version**: 1.1.4

**Python version**: 3.6

**Operating system** (windows, osx, ...): docker (db - bitnami postgresql)

**Issue**: When Rasa running with sql tracker - formaction requesting same slot, which was requested before user answer

**Log with tracker_store (sql)**:
Connection to db successfull
[code]
I've already provided slot `email`
Action server generated `secret_code` and send i

[2019-07-03 12:56] mihai-satmarean commented on #3919
I have to mention that running the container and executing openssl inside it results in correct SSL connection

[2019-07-03 14:19] snbuchholz commented on #3839
I'm already on 0.19.2

[2019-07-03 14:38] wochinge commented on #3069
We can close that, the goal of this issue was to iterate on the CLI before we publish Rasa 1.0, what's what happened

[2019-07-03 14:38] #3069 closed

[2019-07-03 14:47] MetcalfeTom commented on #3439
What other kinds of preprocessing would you include?  So far only these two come to mind as important

[2019-07-03 14:58] imLew opened #3923 "refactor `use_entities` and `ignore_entities`"
**Description of Problem**:
In `domain.py` intents are dictionaries which store dictionaries of their properties. There are currently three properties: `use_entities`, `ignore_entities` and `triggers`. The first was originally a boolean which decided whether or not to use entities. This was changed recently and at the same time `ignore_entities` was introduced, which is basically the complement, i

[2019-07-03 15:46] wochinge commented on #2916
That's done in the experimental multi skill feature

[2019-07-03 15:46] #2916 closed

[2019-07-03 16:17] wochinge opened #3924 "Support for Redis sentinel"
We should provide for Redis sentinel ([https://redis.io/topics/sentinel](https://redis.io/topics/sentinel)) for high availability tracker stores.

This one is a good resource how to implement it: [https://github.com/andymccurdy/redis-py#sentinel-support](https://github.com/andymccurdy/redis-py#sentinel-support)

[2019-07-03 16:59] wochinge opened #3925 "RedisTrackerStore save data in non-binary format"
The redis tracker store currently stores the conversation in a binary format since the tracker object is pickled. Storing this in a human readable format (json) would make the data

* easier reusable (for analyzing, extracting data)
* less error prone

[2019-07-03 17:02] tpacker commented on #3839
Short answer:  it doesn't seem to help after upgrading to 0.19.2.

Long answer:

I tried to upgrade using the following (one at a time):

-  pip install rasa-x --extra-index-url https://pypi.rasa.com/simple
-  easy_install --upgrade rasa-x
-  easy_install --upgrade rasa
-  conda update --all

But the version remained the same in `conda list`.  So I uninstalled and reinstalled rasa-x, which success

[2019-07-03 17:05] ypk46 opened #3926 "Remote storage not working because of initial model validation"
**Rasa version**: 1.1.4

**Rasa X version** (if used & relevant): Not installed

**Python version**: 3.6

**Operating system** (windows, osx, ...): Windows

**Issue**: Remote storage is not working on rasa cli. It seems like a model validation done on the `run` command is breaking the further validation which triggers both model server and remote storage. The method `_validate_model_path` creates

[2019-07-03 17:42] erohmensing commented on #3908
Cool, then i'll close this

[2019-07-03 17:42] #3908 closed

[2019-07-03 18:13] amn41 commented on #3911
thanks for spotting this! could you please create a PR to fix the link?

[2019-07-03 18:14] amn41 commented on #3912
hi @illi88 - you can do so, but please ask usage questions on the [forum](https://forum.rasa.com)

[2019-07-04 01:47] memberAres commented on #2201
How can i train my bot for law?

[2019-07-04 02:47] mahbubcseju commented on #2688
I have added a custom component using Mecab tokenizer. It works fine for me for Japanese text.

Link: [https://github.com/mahbubcseju/Rasa_Japanese](url)

[2019-07-04 04:54] sonakshisaxena1 commented on #3294
Hi @erohmensing
I am facing a similar issue.
I have no slots that are undefined in the domain.yml and I have ensured that the action server is restarted.
Furthermore, the form action was working smoothly earlier, and suddenly these errors started showing up despite of making no changes to the code.

[2019-07-04 04:59] bhaskar001 opened #3927 "No module named 'rasa_nlu.test'"

[2019-07-04 07:13] ferozewaris opened #3928 "Issue with docker-compose.yml"
Hi,

I am have downloaded the Rasa-1.1.4 and using its docker-compose.yml file to deploy Rasa on ubuntu machine. The content on docker-compose is as follows.

![Screen Shot 2019-07-04 at 12 14 04 PM](https://user-images.githubusercontent.com/22313397/60646638-48111a80-9e55-11e9-8f26-3af6b655ed61.png)

When i start the images with docker-compose up -d my rasa container does not start and giving me

[2019-07-04 07:23] RanaMostafaAbdElMohsen commented on #3794
@ricwo @akelad
I have followed documentation steps so I can run tests locally using `make tests` command
and a large number of test cases fail locally. However, when test cases execute on Travis, they run successfully.

Can you please advise what am I missing here so tests execute correctly, so I can validate my own test cases.
Thanks a lot.

[2019-07-04 07:26] vinayak-sg opened #3929 "coroutine was never awaited"
train_interactive.py:41: RuntimeWarning: coroutine 'run_weather_online' was never awaited
  run_weather_online(nlu_interpreter)

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals

import logging
import asyncio

from rasa.core.agent import Agent
from rasa.core.policies.keras_policy import KerasPolicy

[2019-07-04 07:33] msamogh commented on #3685
@akelad I wasn't able to reproduce this in the latest version of Rasa X (after performing a native installation). Could this be a 0.19.0 specific issue?

[2019-07-04 07:36] tormath1 commented on #3911
Sure: https://github.com/RasaHQ/rasa/pull/3930 :wave:

[2019-07-04 08:29] Ghostvv commented on #2429
just leave it open for now

[2019-07-04 08:30] erohmensing commented on #3294
Hi @sonakshisaxena1, Yes, we've discovered that on the latest version too. The relevant issue is here: https://github.com/RasaHQ/rasa/issues/3803
Someone is already working on a fix.

[2019-07-04 08:48] sonakshisaxena1 commented on #3294
Thanks for the information! @erohmensing
Do you happen to know a workaround for this (for the time being)? Actually, I had a project up and running when this suddenly popped up. And I have to submit it by the end of the week.

[2019-07-04 09:03] sdu-2044 opened #3931 "use endpoints.yml to fetch model from server"
**Rasa version**:1.1.4

**Rasa X version** (if used & relevant):

**Python version**:3.6.8

**Operating system** (windows, osx, ...):centos 7

**Issue**:I recently use the endpoints.yml to fetch model from server just as what the  [https://rasa.com/docs/rasa/user-guide/running-the-server/](document) says.Here is my endpoints.yml
 `models:
    url: http://127.0.0.1:8088/download
    wait_time_betwe

[2019-07-04 09:29] PhilippeBaert commented on #3802
Hello @ricwo , without wanting to sound pushy, do you have any idea on when a fix will be implemented? :-)

Thanks!

Cheers,
Philippe

[2019-07-04 09:40] sdu-2044 commented on #3928
I think you should replace "start" with "run"

[2019-07-04 09:41] ravikrcs commented on #3902
i got it.
it is solved by exposing the port on which the action server is running. i.e., 5055
i am using NGROK for exposing port.
ngrok http 5055

[2019-07-04 09:42] sdu-2044 commented on #3926
same as my @3931

[2019-07-04 09:44] imLew commented on #3902
Glad you could solve it!

[2019-07-04 09:44] #3902 closed

[2019-07-04 09:54] imLew commented on #3903
I'm looking into it. @Bennie-higuru you are right that your use case is broken by the regex, however it seems that this change was made in order to allow for names that did not get through with `.format`.

I will try to find something that addresses both problem soon, until then I recommend you implement the fix that was suggested on the forum. Or if you know a robust solution already you can of c

[2019-07-04 10:02] ricwo commented on #3802
@PhilippeBaert the fix has already been implemented, and will be part of the next release. We're working on it and it should be out in the next few days

[2019-07-04 10:37] ravikrcs commented on #3921
answer please

[2019-07-04 11:37] parthsharma1996 commented on #3609
I too need this. I think my [issue](https://forum.rasa.com/t/training-models-from-a-python-script-python-api-in-the-new-rasa-1-0/12482) will probably be resolved with this

[2019-07-04 11:42] erohmensing commented on #3294
Hm, did you change your rasa version at all? There shouldn't be a reason why it showed up with no change to the code, since everything is local and doesn't pull any changes from us

[2019-07-04 11:50] sonakshisaxena1 commented on #3294
I didn’t change the rasa version at all. I had made a copy of the main project and tried adding a slot to the copied project. The errors initially showed up only on the copied project and not on running the main project. After a day or two, I changed the location of my main project. On running it, the same errors started showing up.

[2019-07-04 11:57] erohmensing commented on #3294
Did you retrain the model with the copy after moving it?

[2019-07-04 12:01] sonakshisaxena1 commented on #3294
No, I didn’t retrain it with copy.
Infact I tried running the previously trained models too in the interactive (the ones which were working fine earlier) still the errors are there

[2019-07-04 13:12] monkeypants opened #3934 "user guide > rasa tutorial > unable to run examples"
**Rasa version**:
unknown - whatever the web site is using

**Python version**:
unknown - whatever the web site is using

**Operating system** (windows, osx, ...):
I am using ubuntu, with chromium browser.

**Issue**:
This page https://rasa.com/docs/rasa/user-guide/rasa-tutorial/ has 6 code blocks with a **run** button. When I click the run button, I expect to the output of the code's execution to

[2019-07-04 13:14] erohmensing commented on #3882
@cyrilthank I do believe it only happens via actions.py, because it is taking too long to get to the actions server, process, and come back.

As @selphe has said, we assumed there was a workaround, but that workaround doesn't seem to work correctly. This is a bug that doesn't seem to have a workaround at the moment. We will work to get this fixed soon.

[2019-07-04 13:19] erohmensing commented on #3294
Hm okay. At this point I think the only thing to try is patching your local version with the fix that's not merged yet: https://github.com/RasaHQ/rasa/pull/3897/files

In this case you'd only have to update your `rasa/core/trackers.py` file. See if that helps

[2019-07-04 13:24] tabergma commented on #3649
Can you try
[code]

[2019-07-04 13:56] glaulom opened #3935 "Using Microsoft Teams Reaction - Not received message type"
**Rasa version**: 0.14.0

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu

**Issue**:
I have a Rasa Bot connected to Microsoft Teams, when a user try to use the "reaction" feature from Teams (see image below), I've got the following issue : rasa_core.channels.botframework  - Not received message type

Is it possible to use this Teams feature or is it not yet implemented ?

[2019-07-04 14:51] TatianaParshina opened #3936 "Rasa X UI issues after deploy to Google Cloud"
**Rasa X version** (if used & relevant):
From:
https://storage.googleapis.com/rasa-x-releases/stable/install.sh

**Python version**:
Python 2.7.13

**Operating system** (windows, osx, ...):
Debian 4.9.168

**Issue**:
I have downloaded and run the Rasa X install the script on the Google Cloud VM.
I was able to open the Rasa X UI.

However, I have issues:
1. When I type the message, the bot is not r

[2019-07-04 15:14] #3766 closed

[2019-07-04 15:14] #3841 closed

[2019-07-04 15:48] mloetscher commented on #3704
I have the same problem, my endpoints config is:

models:
   url: ${RASA_MODEL_SERVER}
   token: ${RASA_X_TOKEN}
   wait_time_between_pulls: ${RASA_MODEL_PULL_INTERVAL}
tracker_store:
   type: sql
   dialect: "postgresql"
   url: ${DB_HOST}
   port: ${DB_PORT}
   username: ${DB_USER}
   password: ${DB_PASSWORD}
   db: ${DB_DATABASE}
   login_db: ${DB_LOGIN_DB}
event_broker:
   type: "pika"
   url:

[2019-07-04 21:08] ricwo commented on #3794
@RanaMostafaAbdElMohsen did you install all requirements in `requirements-dev.txt`? If that doesn't help, you might have to try with a fresh python virtual / conda environment.

would running only your newly added tests instead of the whole suite be an option?

[2019-07-04 21:32] wochinge opened #3937 "Customizable file import component"
## Motivation

In order to do https://github.com/RasaHQ/rasa/issues/3843 and also to make Rasa more customizable we should centralize all file loading in Rasa (training files, config, domain) in a component which can be easily swapped out without affecting the other code.

### `TrainingFileImporter`

A interface for different ways to import training data:

[code]

This interface will come in two i

[2019-07-04 21:39] wochinge commented on #3843
I made a new issue for the interface to centralize the import behavior so that these are not longer glued together: https://github.com/RasaHQ/rasa/issues/3937

[2019-07-05 05:00] a461925358 opened #3938 "How to modify parameters for Part II: train segment classifier"

[2019-07-05 05:18] ruchiawasthi63 commented on #3649
@tabergma
Here's another error
   `---------------------------------------------------------------------------
    TypeError                                 Traceback (most recent call last)
    <ipython-input-247-3e0aab6c7acc> in <module>
          5 agent = Agent(domain_file, policies=[MemoizationPolicy(), KerasPolicy(), fallback])
          6 loop = asyncio.get_event_loop()
    ----> 7 data = l

[2019-07-05 05:31] ruchiawasthi63 commented on #3649
@tabergma
Although running this alone trains the model;
    `agent = Agent(domain_file, policies=[MemoizationPolicy(max_history = 5), KerasPolicy(epochs = 100,
    max_history = 5, batch_size = 50),fallback])
    # loop = asyncio.get_event_loop()
    training_data = agent.load_data(training_data_file)
    # data = loop.run_until_complete(training_data())
    agent.train(training_data)
    # model_

[2019-07-05 06:00] ruchiawasthi63 commented on #3178
@anoop2503  Hi. Can you share the code through which you started interactive learning. I'm not able to get any command line command to start interactive learning except `rasa interactive \
  -m models/20190515-135859.tar.gz \
  --endpoints endpoints.yml`
This doesn't seem to be working for me
I tried this code as well but seems like this doesn't work with my rasa_core version. My rasa_core version

[2019-07-05 06:06] cyrilthank commented on #3882
Thank you @erohmensing for your response
can you please confirm if this situation is likely to be encountered any time any of the intent in actions.py fires utter_*

Requesting since we are trying to ascertain this before we go too far with the slack integration

Thank you

Cyril

[2019-07-05 07:08] #3918 closed

[2019-07-05 07:29] tabergma commented on #3931
@sdu-2044 Thanks for reporting this. This issue is indeed a bug. I'll have a look at it.

[2019-07-05 09:45] wochinge commented on #3801
@erohmensing Did you read of any more issues? Otherwise I think we can close it.

[2019-07-05 09:48] erohmensing commented on #3801
Yeah, I think that’s fine for now

[2019-07-05 09:48] #3801 closed

[2019-07-05 10:00] raysaswat commented on #3137
Any resolution of this issue

[2019-07-05 12:13] akelad commented on #3839
@ricwo any ideas?

[2019-07-05 12:13] #3912 closed

[2019-07-05 12:15] #3927 closed

[2019-07-05 12:15] akelad commented on #3929
Please fill out the correct issue template

[2019-07-05 12:15] #3929 closed

[2019-07-05 12:20] akelad commented on #3928
Where did you get this docker-compose.yml from? Also please don't delete the issue template, and fill it out to give us more information on what your issues are

[2019-07-05 12:21] akelad commented on #3926
Closing this because it seems to be a duplicate of #3931, let me know if that's not the case

[2019-07-05 12:21] #3926 closed

[2019-07-05 12:22] akelad commented on #3921
Closing because this is unrelated to Rasa, please ask this on the appropriate ngrok forums

[2019-07-05 12:22] #3921 closed

[2019-07-05 12:24] akelad commented on #3609
I have no exact timeline yet, but we'll be working on a bunch of additions to the docs in the next few months

[2019-07-05 12:24] akelad commented on #3934
Thanks for raising this issue, @amn41  will get back to you about it soon.

[2019-07-05 12:25] akelad commented on #3935
Thanks for raising this issue, @erohmensing will get back to you about it soon.

[2019-07-05 12:26] akelad commented on #3936
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-07-05 12:30] amn41 commented on #3934
related to https://github.com/RasaHQ/rasa/pull/3850

[2019-07-05 12:32] akelad commented on #3916
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-05 12:32] #3916 closed

[2019-07-05 12:32] akelad commented on #3917
Thanks for raising this issue, @tabergma  will get back to you about it soon.

[2019-07-05 12:33] akelad commented on #3920
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-05 12:33] #3920 closed

[2019-07-05 12:33] akelad commented on #3922
Thanks for raising this issue, @Ghostvv  will get back to you about it soon.

[2019-07-05 12:33] akelad commented on #3919
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-07-05 12:39] #3938 closed

[2019-07-05 12:45] selphe commented on #3922
If it helpful, inside pgdb i see only 'events' table.
No info about `last_input_channel` or `sender_id`, like it inside mondodb...could it be wrong set up on my side?

[2019-07-05 12:54] #3911 closed

[2019-07-05 12:57] wochinge commented on #3909
@JanThiel Thanks for digging into this, will change it in Rasa X so that it's fixed in the next version (not sure whether I'll be able to get it into the next though)

[2019-07-05 13:07] MetcalfeTom commented on #3922
Hi @selphe,

Thanks for the detailed logs and everything describing your problem.  The error is odd, but since the form was called I'm led to believe the validation fails due to some error when communicating with the action endpoint.  I also notice there are no logs for the `action_server_1` when you are using the `InMemoryTrackerStore` - did your action endpoint configuration change?

[2019-07-05 13:08] wochinge commented on #3936
@TatianaParshina Could please try to install using a pinned version, e.g. `https://storage.googleapis.com/rasa-x-releases/0.19.2/install.sh`?

[2019-07-05 13:32] JanThiel commented on #3909
@wochinge Great to hear! Would be great if this could be shipped asap as currently we have to manually patch the container after each and every docker-compose.. You can imagine this is hell of no fun and lots of work...

[2019-07-05 13:38] akelad commented on #3910
Thanks for raising this issue, @tabergma  will get back to you about it soon.

[2019-07-05 13:58] wochinge commented on #3909
Already did the pr for it :-)

[2019-07-05 13:59] #3909 closed

[2019-07-05 13:59] gdet opened #3939 "Rasa train with stories not working"
Hello I have created a bot that asks 30 questions. Until I had around 10 questions the bot was working perfectly. After I added more questions it stopped working. I deleted all models from the folder models and all the stories and created new stories through interactive mode. When I add max_history number 10 it is working (through a webpage) until some point after that I get that log:

       2019

[2019-07-05 14:00] wochinge commented on #3909
PR is merged and this will be fixed in the next version 👍 You can also use `rasa/nginx:latest` if you want to have it asap (might take a few more minutes until the container is built)

[2019-07-05 14:40] erohmensing commented on #3935
I don’t think it’s implemented, as we only receive messages `if request.json["type"] == "message":` — what information could you get from this reaction that you would use in your bot?

[2019-07-05 14:43] erohmensing commented on #3882
Hi @cyrilthank, it doesn’t depend on whether the action does an utterance, just how long that action takes. I believe even an action with no utterance that takes long will lead to this message, and a short action that only utters something will probably be fine.

[2019-07-05 14:57] erohmensing opened #3944 "refactor _copy_files_to_new_dir to always delete tmp directories"
We currently avoid temp directories in `rasa train` commands by making sure that each of the different functions in training delete all temporary files upon exiting. However this isn’t super scalable, as we would also have to do the same for `rasa data`, `rasa interactive`, `rata test`, etc. commands. Instead we should refactor the method that actually creates these directories.

From @federicotdn

[2019-07-05 15:07] federicotdn commented on #3944
A valid way to do this would be changing `_copy_files_to_new_dir` to return a `TempDirectoryPath` (once https://github.com/RasaHQ/rasa/pull/3887 is merged), and then slowly change the rest of the codebase to use the return value as a context manager. `TempDirectoryPath` can also be used as a regular string, so nothing should break after changing this.

[2019-07-05 15:13] andrewrobertday opened #3945 "utter_attachement causing rasa interactive learning to crash"
**Rasa version**:1.1.3

**Rasa X version** (if used & relevant):

**Python version**: 3.6.7

**Operating system** (windows, osx, ...): ubuntu 18.04

**Issue**:
Whenever a utter_attachement is dispatched as the out put of an action, interactive learing crashes/.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.y

[2019-07-05 15:18] tabergma commented on #3648
Thanks for pointing this out. I was able to reproduce the error. I will have a closer look at it and come back to you if I find anything.

[2019-07-05 16:36] #3931 closed

[2019-07-05 17:05] ricwo commented on #3802
@PhilippeBaert `0.19.3` has been released today 🙂

[2019-07-05 17:05] ricwo commented on #3802
closing this as it's fixed as of `0.19.3`

[2019-07-05 17:05] #3802 closed

[2019-07-05 17:32] ricwo commented on #3839
It sounds a bit like sqlite operations don't work (both the lack of conversations and the repeated greeting message). @tpacker are you able to make changes to your NLU training data and save them? Are they persisted when you restart? `0.19.3` has been released today, fixing one known issue on Windows (doesn't sound like this one though). Can you try upgrading in any case to see if that helps?

@JE

[2019-07-05 17:54] tpacker commented on #3839
Change NLU training data, like confirm/change annotations in the NLU Training section of Rasa X?  Yes.  When I restart Rasa X, the training seems to have been saved.

Btw, what is the right way to stop rasa x on the Windows command line?  I am used to using Ctr+C, but on Windows the command throws and exception and then freezes my Command Prompt window so I cannot do anything with it except comple

[2019-07-05 18:00] tpacker commented on #3839
I upgraded rasa x to
```rasa-x                    0.19.3                   pypi_0    pypi```
but no change to "Loading messages" and splash screen.

[2019-07-05 21:44] #3853 closed

[2019-07-05 22:54] msamogh opened #3946 "Restrict the scope of a synonym to a specific entity"
**Description of Problem**:

When a word's synonyms are defined in the NLU training data, any occurrence of the synonyms are replaced by that word with no regard to what entity it has been recognized as. Essentially, two words that are synonyms in the context of one entity need not necessarily be synonyms in the context of another entity. This can *especially* be a problem when the volume of NLU t

[2019-07-05 23:33] dptelecom commented on #3294
Hi i have the same issue i renamed a slot and did it every where.
also search the whole project folder nowhere a trace find of the slot name and i get this now every time

![Screen Shot 2019-07-06 at 01 32 12](https://user-images.githubusercontent.com/42352742/60748418-020ba200-9f8e-11e9-90bf-480bf129362f.jpg)

[2019-07-05 23:37] dptelecom commented on #3803
Hi i have the same issue i renamed a slot and did it every where.
also search the whole project folder nowhere a trace find of the slot name and i get this now every time
![Screen Shot 2019-07-06 at 01 32 12](https://user-images.githubusercontent.com/42352742/60748458-78a89f80-9f8e-11e9-978c-925d482e70a2.jpg)

[2019-07-06 01:34] evgeniiaraz commented on #3865
I would like to take up on the issue. I have started looking into it.

[2019-07-06 04:17] rgstephens opened #3947 "Migration Guide Recommended Structure"
The migration guide should recommend that the bot directory and file locations conform to the convention used by `rasa init`.

**Rasa version**: 1.1.4

[2019-07-06 10:25] TatianaParshina commented on #3936
@wochinge thank you for information!
I have tried to install the proposed version but I still have the same issues.

I ran the commands:
[code]
I had info in logs:
[code]

Should I delete something before the update?

[2019-07-06 11:26] erohmensing commented on #3294
@dptelecom have you
1. made sure to also re-start your action server
2. Tried using the local patch I mentioned above?

[2019-07-06 11:28] erohmensing commented on #3865
Awesome @evgeniiaraz! I will assign it to you. Let me know if you have any questions!

[2019-07-06 11:37] amn41 commented on #3946
cc @tabergma

[2019-07-06 17:26] ortsaCniveK opened #3949 "Soft reset while maintaining slot values"
**Description of Problem**:

For [projects](https://forum.rasa.com/t/any-way-to-set-a-story-at-the-beginning-of-every-training-story-or-soft-reset-a-user-message/12567?u=nivek) that require starting actions that set slots on page load and is used for slot-based conditional utterances down the line, this would be useful as it would improve detection by removing a utility custom action that shouldn'

[2019-07-06 18:07] dptelecom commented on #3294
@erohmensing
Hi i did a re-start of action server,
i also deleted the old trained model.

i can just download that file and replace my local one with that?

[2019-07-06 20:33] naoko opened #3950 "Leave curly braces in template"
**Rasa version**:
master

**Issue**:
Recently on the forum, this question was raised or issue was reported.

https://forum.rasa.com/t/how-to-print-curly-braces/12043

When template value has curly braces `{{"variable":"{value}"}}` it failed to replace slot.

proposed solution https://github.com/RasaHQ/rasa/pull/3951

[2019-07-07 00:25] Paul3MK commented on #3609
Same thoughts here. I've been "hacking" away at the code to try and get Rasa to do what I need without using the CLI. It's been frustrating at times, but I'm not too annoyed because I'm learning a whole lot.

[2019-07-07 02:45] nohumandotin commented on #1498
![image](https://user-images.githubusercontent.com/48850523/60763302-76524e00-a03f-11e9-94fd-43c99a33451e.png)
If I try to run python flask_app.py, I get following error:
Please help me to solve this issue, Thanks for help.

[2019-07-07 02:47] nohumandotin commented on #1721
from rasa_nlu.training_data import load_data
ModuleNotFoundError: No module named 'rasa_nlu'

kindly help that

[2019-07-07 02:57] nohumandotin commented on #1745
![image](https://user-images.githubusercontent.com/48850523/60763387-781d1100-a041-11e9-9fa0-1c016d284503.png)

[2019-07-07 02:58] nohumandotin commented on #1745
Please help me to solve this

[2019-07-07 04:30] nohumandotin commented on #1536
![image](https://user-images.githubusercontent.com/48850523/60763964-81ac7600-a04d-11e9-9c9d-faec5adbd2f0.png)
version: 0.15.1

[2019-07-07 04:31] nohumandotin commented on #1536
Please help me to solve this issue.

[2019-07-07 12:23] njaradat commented on #3858
I'm following the same tutorial and it seems there is a step missing in it. You need to run `rasa train` from inside the `examples/restaurantbot` and then it works

[2019-07-07 19:13] erohmensing commented on #3919
Hm, this is something I haven't seen before... to be clear, have you been able to connect to the mattermost connector from within docker without the ssl enabled? Perhaps it's a general issue with the connection that's stopping the request from being received?

[2019-07-07 19:13] boqnognqnov opened #3952 "Broken links in your documentation"
Hello,
Today I found some broken links in your documentation. I think everything was fine yesterday.
1. https://rasa.com/docs/rasa/rasa-x/  -> 404

2. I attached links to the issue:
https://prnt.sc/obsfen
https://prnt.sc/obsfw2

3. starter-pack-rasa-nlu -> 404
https://github.com/RasaHQ/starter-pack-rasa-nlu

[2019-07-07 19:33] erohmensing commented on #3952
Hey @boqnognqnov! Thanks for pointing these out. Number 3 is indeed newly broken, as we've deprecated that repo, so we should remove that from the documentation. Number 1 looks like a bad link, the correct should be https://rasa.com/docs/rasa-x. As for number 2, that seems to be an issue connecting to the server on which we host the interactive tutorials.

Could you please let me know what pages y

[2019-07-07 19:45] erohmensing commented on #3722
@tabergma your PR handled this right?

[2019-07-07 19:48] erohmensing commented on #2821
@wochinge can we use the new validation method to make sure the user enters *anything* for the intent name?

[2019-07-07 22:26] boqnognqnov commented on #3952
I attached a file related to #1.
About #3, obviously it is not a real issue because I tried to open one of
my stored bookmarks in my browser.
Thank you!

On Sun, 7 Jul 2019 at 22:33, Ella Rohm-Ensing <notifications@github.com>
wrote:

[2019-07-08 05:42] erohmensing commented on #3952
Hi, I don't think attachments to emails make it into the github threads unfortunately -- just a link to the docs page in the reply, or even the name of the page in the docs would be fine :) thanks!

[2019-07-08 06:54] tabergma commented on #3722
closed by https://github.com/RasaHQ/rasa/pull/3942

[2019-07-08 07:32] mihai-satmarean commented on #3919
Hi, thanks for looking into it.
Our mattermost instance is ssl only, so no possible to connect without ssl.
As stated, the openssl utility from within he container can read and match the certificate.

[2019-07-08 08:12] imLew commented on #3803
@dptelecom the PR addressing the problem should be merged today, please try again using the master branch once this issue is closed.

[2019-07-08 08:13] boqnognqnov commented on #3952
Oh, yes. I'm sorry
This is the screenshot url: https://prnt.sc/obzki1

This is on page: https://rasa.com/docs/rasa/user-guide/rasa-tutorial/
The button "Try Rasa X" bellow on the page

On Mon, 8 Jul 2019 at 08:42, Ella Rohm-Ensing <notifications@github.com>
wrote:

[2019-07-08 08:38] wochinge commented on #3722
Mhm, but rasa run with no model in models/ would still fail right? Cause we have the check in cli/run whether a model is present.

[2019-07-08 08:43] tabergma commented on #3722
If you start `rasa run` without `--enable-api` you still need to have a valid model in the models directory. That is correct. You need to have a local model in that case.

[2019-07-08 09:06] wochinge commented on #3722
But then we should reopen this issue since specifying `--enable-api` in order to run with a remote model is quite weird.

[2019-07-08 09:09] tabergma commented on #3722
Agree. Should we update the description/title to make clear it is only about the case when `rasa run` is executed without `--enable-api`?

[2019-07-08 09:15] wochinge commented on #3944
I am probably tackling this here https://github.com/orgs/RasaHQ/projects/25. So please wait with this issue @federicotdn

[2019-07-08 09:24] #3190 closed

[2019-07-08 09:29] #3803 closed

[2019-07-08 09:34] wochinge commented on #3789
@tabergma Please check if that's somewhat understandable:

No. So you have three participants
- a `user` chatting to the bot
- the `bot`
- some external event (let's call it `trigger`): this could e.g. be a sensor, some event ("your pizza is ready now")

Currently it's not possible to model the following case:
1. User speaks to the bot (E.g. ordering a pizza)
2. [something going on in between] (e.

[2019-07-08 09:38] msamogh opened #3954 "Include favicon for Rasa docs pages"
We can include the favicon that's used for the homepage.

[2019-07-08 09:47] wochinge commented on #1536
Can you please ask the question in the forum? Seems like it's an issue in your custom code.

[2019-07-08 09:49] wochinge commented on #1498
@nohumandotin Please ask questions in the [forum](https://forum.rasa.com) and don't ask them in multiple different issues here.

[2019-07-08 09:55] wochinge commented on #3936
A `docker-compose pull` would be great to make sure all images are the right ones.
Which logs do you get when you do `docker-compose logs -f` after starting Rasa X with `docker-compose up`?

[2019-07-08 10:01] akelad commented on #1721
please stop cross posting your issues

[2019-07-08 10:05] akelad commented on #3949
Hi @ortsaCniveK thanks for the suggestion. I'm not 100% clear in what kind of situations you would want this to happen, could you provide a more detailed example? The example with UserUtteranceReverted -- there I don't understand why you would want to keep the slots that were set by the user

[2019-07-08 10:09] akelad commented on #3945
Could you please add the code of your action that's causing this?

[2019-07-08 10:11] erohmensing commented on #3952
Awesome, thanks! Would you be interested in contributing a PR to fix that broken link? Here’s the file you’d have to change (the button path at the bottom): https://github.com/RasaHQ/rasa/blob/master/docs/user-guide/rasa-tutorial.rst

[2019-07-08 10:23] v-rao commented on #1721
Could you please redirect us to this particular issue.

[2019-07-08 10:24] psds01 opened #3955 "Run a story end-to-end in *Talk* mode in Rasa x"
**Description of Problem**:

I would like to run a story end-to-end in either `Talk` mode or `Interactive Learning`. I am currently testing out my bot and some of the features I want to test for are at the very end of the story. I would like to run a story or part of a story end-to-end.

**Overview of the Solution**:

1.  Select a story or part of the story
2.  Show a button which says "run select

[2019-07-08 10:31] andrewrobertday commented on #3945
class SearchProperty(BootstrapAction):

	def name(self):
		return "action_search_property"

	def execute(self, dispatcher, tracker, domain):

		# User credentials
		session_id = self.session.session_id
		client_id = self.session.client_id
		channel = self.session.channel

		try:

			# Search property
			response = {
                        "text":get_response.get_response(channel,'prompt_for_bedro

[2019-07-08 10:58] MetcalfeTom opened #3956 "Interactive learning fails when the intent name and entity type are the same"
When dumping NLU data at the end, if there is an entity type that is the same as an intent name, the following error is thrown up:

[code]

An example of what would cause this error:
[code]

[2019-07-08 11:22] #3905 closed

[2019-07-08 11:23] utkalsinha commented on #3905
PR is [approved ](https://github.com/RasaHQ/rasa/pull/3904) and merged to master, so closing this bug.

[2019-07-08 11:44] akelad commented on #3939
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-08 11:44] #3939 closed

[2019-07-08 11:45] akelad commented on #3954
what do you mean?

[2019-07-08 11:53] glaulom commented on #3935
The reaction would be a way for user to give feedback on bot's responses, helping to catch when the bot didn't answer properly (with an angry emoji). This would give great feedback to the people in charge of the bot's capabilities.

[2019-07-08 12:06] arbazkhan971 opened #3957 "Encountered an exception while running action 'action_hello_world'. Bot will continue, but the actions events are lost. Make sure to fix the exception in your custom code."
**Rasa version*Rasa 1.1.4*:

**Rasa X version** (if used & relevant):0.19.2

**Python version**:3.7.3

**Operating system** (windows, osx, ...):UBUNTU 19.04

**Issue**:
Traceback (most recent call last):
  File "/home/arbaz/anaconda3/lib/python3.7/site-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/arbaz/anaconda3/lib/python3.7/site-package

[2019-07-08 12:15] erohmensing commented on #3954
@samsucik pointed this out too, the little icon in your tab:
<img width="475" alt="Screenshot 2019-07-08 at 14 14 44" src="https://user-images.githubusercontent.com/22333512/60809364-c984e780-a18a-11e9-86cb-154d7aa50681.png">

[2019-07-08 12:19] erohmensing commented on #3935
Hm, it's quite specific through, as there's no explicit way of deciding whether that is user input or not (for most other people, this would totally interrupt their bot with unexpected input and screw it up). I think it makes more sense for you to extend the MSteams channel as a custom connector that supports this.

It wouldn't be hard, essentially you have to add functionality to the webhook that

[2019-07-08 13:35] tabergma commented on #3917
@ghostHBL Thanks for pointing this out. Seems to be a valid addition. Are you up for fixing this yourself? Thanks.

[2019-07-08 13:37] erohmensing commented on #3919
I’ve been looking into different places people have run into this error with no real insights. I understand the utility checks whether the certificate matches the private key, but does it also check whether the cert is valid yet? It may be a “dumb check”, but at least 2 people I’ve seen have run into the problem because the machine they’re running on (e.g. vm) has the clock or date wrong and the c

[2019-07-08 14:02] akelad commented on #3883
wait i'm confused are we even discussing this anymore or just doing it ? :D @wochinge I think you suggested we discuss it right? Any arguments against doing this?

[2019-07-08 14:20] erohmensing opened #3959 "IL doesn't have a default endpoints path `endpoints.yml`"
If I use `rasa shell` with my action server running and duckling server running, everything works as expected. If I use `rasa interactive`, the form action doesn't work .
[code]
There is no information in the action server on debug mode, no `received request to run restaurant_form`, so something is happening so the request doesn't hit the action server.

[2019-07-08 14:24] erohmensing commented on #3959
Update: from `rasa interactive debug`:
[code]

So maybe interactive doesn't have an auto-path for endpoints.yml?

[2019-07-08 14:29] tabergma commented on #3910
@Birne94 Yes, that is true. But not sure if that is really an issue as the server has just one model at a time loaded. If that model gets updated, there is no model to answer any requests. However, you could use the "old" model until the "new" model is loaded. But that would be an improvement in my opinion and not a bug.

[2019-07-08 14:32] mihai-satmarean commented on #3919
Hi, no dumb check here, certificate valid until 2026. self signed certificate you can call it,
we have our own certificate authority running.

This we ran from inside the container
`echo | openssl s_client -servername redactedserver.com -connect redactedserver.com:443 2>/dev/null | openssl x509 -noout -dates

notBefore=Nov  8 14:47:51 2018 GMT
notAfter=Nov  7 14:47:51 2020 GMT`

[2019-07-08 14:56] wochinge commented on #3883
@erohmensing Unless something is exploding, we should take things only from the backlog.

I think that's the most dangerous thing which I could think off what could happen
http://python-notes.curiousefficiency.org/en/latest/python_concepts/import_traps.html#the-name-shadowing-trap

Ellas implementation could also lead to very weird behavior if you are running rasa in the cloned `rasa` repository (

[2019-07-08 15:03] glaulom commented on #3935
Thank you for the answer, I'll probably implement this !

[2019-07-08 15:17] akelad commented on #3883
yeah i already told ella that :D

[2019-07-08 15:19] MetcalfeTom commented on #3765
Hi @BeWe11,

I think your `composite_patterns` definition is a very intuitive implementation, however does it generalise?  i.e. in this example does every composite entity need to contain the `with` token in order to be recognised?

[2019-07-08 15:21] wochinge commented on #3879
@gausie @Saladdin

[2019-07-08 15:32] akelad commented on #3955
Thanks for submitting this feature request, we'll discuss this and get back to you

[2019-07-08 15:35] erohmensing commented on #3935
Awesome! If you open source it, maybe others will be interested too. If you have any questions during implementation, ask on the forum and we'll help out!

[2019-07-08 15:35] #3935 closed

[2019-07-08 15:49] gausie commented on #3879
Yup this is known, and being worked on

[2019-07-08 16:21] wochinge commented on #3789
I wouldn't. Users can either use Alan's suggestion from https://github.com/RasaHQ/rasa/issues/3789#issuecomment-506408405 or we add some webhook channel. A webhook channel would be:
- A channel which has no implementation for the input, but only for the output channel
- it would use sth like `request.post(message)` to call a endpoint of choice which then the user's could use to forward messages to

[2019-07-08 16:24] ortsaCniveK commented on #3949
Essentially, I'd like to have a soft-reset that maintains slots.  My bot has conditional utterances that are triggered based on slots, but I'd like to remove the welcome action I have set up to fill those slots from the tracker history as it shouldn't affect conversation prediction.

Let me know if that clarifies :)

[2019-07-08 17:23] TatianaParshina commented on #3936
Now remaining only 1 issue (2 others were solved after update):

1. When I type the message, the bot is not replying (only showing loading picture). I have to refresh the page and then I can see the correct reply.

I ran commands to stop, remove containers and pull image:
[code]

Logs `docker-compose logs -f` don't show errors. It shows that received user message and predicted correct next action:

[2019-07-08 17:49] #3606 closed

[2019-07-08 18:39] TayyibahR commented on #2104
@anilpankaj i am facing the same issue. did you find a way to resolve this issue?

[2019-07-08 18:55] BrianYing commented on #3765
Hi @MetcalfeTom ,

I have been using @BeWe11 's composite_entity_extractor for a while and everything works great for me. From my understanding and experience, I think the `with` token is not necessary for every composite entity. The `patterns` is the list of all combinations of entities that you want to be recognized as the `name` (that includes both entity and text string). In this example
[code

[2019-07-08 19:32] erohmensing commented on #3936
Looks like maybe a little more error msg about that `bf1eb599.chunk.js.map` [here](https://forum.rasa.com/t/rasa-x-error/12633) -- its JS so probably a @gausie thing

[2019-07-08 19:42] gausie commented on #3936
The .js.map issue is not a terminal error

[2019-07-08 21:25] #3794 closed

[2019-07-09 07:31] weizhenzhao opened #3962 "_GenericHTTPChannelProtocol,3,192.168.50.26 error in twisted defer.py"
**Rasa version**:Rasa NLU 0.13.8

**Rasa X version** (if used & relevant):

**Python version**:Python 3.5

**Operating system** (windows, osx, ...):windows

**Issue**:
![image](https://user-images.githubusercontent.com/13706689/60867337-2f41a400-a25d-11e9-9ac1-ab4483e29913.png)
![image](https://user-images.githubusercontent.com/13706689/60867527-a840fb80-a25d-11e9-9bf0-defc8cae1fe1.png)

I met an

[2019-07-09 07:32] #3770 closed

[2019-07-09 08:06] msamogh commented on #3685
@akelad I checked the network logs when this happens and the dot file content in the response seems to be valid (checked it on an online visualizer). So does that mean it's a frontend issue?

[2019-07-09 08:07] #3819 closed

[2019-07-09 08:33] erohmensing commented on #3883
We all work in a cloned repo for development, do we think it'll affect us there?

If not, I say we throw this into my patch and see if we get complaints

[2019-07-09 08:34] psds01 commented on #3957
Weird, can you try renaming your file to `actions.py`?

[2019-07-09 08:44] wochinge commented on #3883
Well, I usually dont run Rasa in the cloned repo, so should be fine (don't know though how others use it)

:+1:

[2019-07-09 08:50] nikhilcss97 commented on #3913
I am getting the same error.

[2019-07-09 08:55] akelad commented on #3945
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-07-09 08:56] akelad commented on #3956
@MetcalfeTom please always add issues to the maintenance board

[2019-07-09 08:57] akelad commented on #3957
yeah or specify the module when running the action server -- what command did you use to start it?

[2019-07-09 08:59] akelad commented on #3954
ah ok! not sure how one goes about this, is that a docs thing or something more fancy?

[2019-07-09 09:12] erohmensing commented on #3954
my guess is this is something @eliseboyd might know more about

[2019-07-09 09:13] erohmensing commented on #3883
I just mean when i'm testing commands and stuff. I'll add it to mine while I work on a PR today that involves testing commands and see if anything funky happens

[2019-07-09 09:15] erohmensing commented on #3945
Hey @andrewrobertday, thanks for pointing this out. Looks like we should probably json dump the attachment instead of assuming its a string here
[code]

Would you be interested in making a contribution to fix it?

[2019-07-09 09:24] akelad commented on #3917
to clarify: "fixing this yourself" means submitting a PR with the fix :)

[2019-07-09 09:28] akelad commented on #3949
i'm still not sure i understand. For me this feature doesn't really make sense, what exactly are you trying to do by resetting the tracker history but not the slots? Maybe an example of an interaction would help

[2019-07-09 09:39] nlhkh commented on #3826
Hi @tmbo , sorry for the late reply.
I ran into the issue when installing rasa on SageMaker. The latest SageMaker, and some of its dependencies also pin the version of `requests` to be 2.21 and before.

[2019-07-09 10:01] akelad commented on #3962
@weizhenzhao any chance you can try this with the newer version of Rasa 1.0? Or even Rasa NLU 0.15.x, I'm afraid this old version may have some bugs

[2019-07-09 10:39] #3959 closed

[2019-07-09 11:14] weizhenzhao commented on #3962
dear @akelad

sorry, I correct my version , my rasa version is 3.1

thanks
weizhen

[2019-07-09 11:48] erohmensing commented on #3919
Hm, then I'm not sure if its the connector or the CA that's making it not work. You could maybe try a Let's Encrypt certificate (that's what we usually use) and see if you have better luck with that...

[2019-07-09 12:01] imLew commented on #3903
Looks like this will be solved by https://github.com/RasaHQ/rasa/pull/3951.

[2019-07-09 12:12] #3812 closed

[2019-07-09 12:29] mihai-satmarean commented on #3919
hi,
letsencrypt is not an option for us,
as seen here
http://blog.pengyifan.com/how-to-fix-python-ssl-certificate_verify_failed/ the
problem is the way you call the connection with python, so is the connector
that needs to learn about self signed certificates.
I can help testing
Thanks!

În mar., 9 iul. 2019 la 13:48, Ella Rohm-Ensing <notifications@github.com>
a scris:

[2019-07-09 12:43] eliseboyd commented on #3954
ah, I'm surprised it's not set up already. yes, it looks like there's a theme setting. I just opened this which should fix it https://github.com/RasaHQ/rasabaster/pull/43

[2019-07-09 12:51] wochinge commented on #3798
@Saladdin

[2019-07-09 12:55] #3954 closed

[2019-07-09 13:20] msamogh commented on #3842
@akelad Do we also change the schema definitions for `use_entities`?

[2019-07-09 13:35] abhi2652254 opened #3964 "ValueError: bad input shape (1, 89)"
Rasa NLU version: 0.13.0
Python version: 3.6.7

Operating system: Ubuntu:18.04.2 LTS

Content of model configuration file:

pipeline:
- name: "nlp_spacy"
#  case_sensitive: false
- name: "tokenizer_spacy"

- name: "ner_crf"
  BILOU_flag: true
  features:
    # features for word before token
    - ["low", "title", "upper", "pos", "pos2"]
    # features of token itself
    - ["bias", "low", "word3",

[2019-07-09 13:39] BeWe11 commented on #3765
Hey @MetcalfeTom,

with patterns being regexes, the composites generalize to everything that can be expressed as a regex. For example, the `with` could be made optional by using
[code]

Alternatively, you could just define multiple patterns for the same composite entity as in @BrianYing's example.

Using raw regexes for pattern definitions provides a lot of flexibility. The downside is that defini

[2019-07-09 14:01] ggdupont commented on #3843
If I may add an example of use that may justify the need: question/answering skill is quite common scheme that is used in many different domains. For our own internal work, we are developing multiple Q/A approaches which relies either on backend knowledge base or more search engine model (answer provided as a part of doc). Both are adapted to a specific of information types and for both w can trai

[2019-07-09 14:10] erohmensing commented on #3919
Hm okay. You seem to know much more about this than I do -- would you be interested in looking into this and PRing a fix?

[2019-07-09 15:02] ghostHBL commented on #3917
@tabergma I create a PR for this issues, please help to follow up.

[2019-07-09 16:25] amn41 commented on #3765
hey @BeWe11 - thanks for that. I  created a draft PR with an alternative approach where  we train a second CRF. This might be more flexible because it could allow for entity roles as well as compound entities.  Very much WIP though https://github.com/RasaHQ/rasa/pull/3889

[2019-07-09 17:16] RanaMostafaAbdElMohsen commented on #3836
Hi, @akelad ,
Can I work on this issue ?

[2019-07-09 17:33] miliaxy opened #3969 "Getting Invalid Syntax Error with rasa_nlu.train"
Hi,
I have been trying to use Rasa to build my first bot on Windows. and I am getting the following error :
[code]

Here are my configurations :

[code]

Here is my stories.md

[code]

Here is my nlu_data.md

[code]

And here is domain.yml

[code]

[2019-07-09 17:59] Lucioric2000 commented on #3969
Try enclosing in quotes "data/nlu/"

[2019-07-09 18:11] miliaxy commented on #3969
I tried that : Same issue :

[code]

[2019-07-09 18:12] miliaxy commented on #3969
Just an FYI - I am getting the same error whenever I run any of the rasa commands :

[code]

[2019-07-09 18:26] miliaxy commented on #3969
I just realized I was running the commands from inside the Python Shell and not from Windows command line and hence was getting this error. Sorry!
Closing the issue.

[2019-07-09 18:26] #3969 closed

[2019-07-09 19:45] ortsaCniveK commented on #2968
Just wanted to leave a comment here for those that might run into similar issues (mine personally were messages about needing to have `dnspython` installed; while mLab might work since they don't provide the protocol, I built my own custom docker image to install `pymongo[srv]` to be able to use the Atlas  `mongo+srv://` URIs.

This might be worth an additional PR but it was pretty simple with a d

[2019-07-09 20:23] msamogh opened #3970 ""Expected string or bytes-like object" during interactive learning"
**Rasa version**: 1.0.2

**Rasa X version** (if used & relevant):

**Python version**: 3.7.2

**Operating system** (windows, osx, ...): OSX

**Issue**:
I created a bot using `rasa init`, and ran `rasa interactive`, during which I entered the following messages (all the while confirming the predictions).
- Hi
- I'm doing great
- I'm not doing great

**Error (including full traceback)**:
At this poi

[2019-07-09 20:37] ruiconti commented on #3604
I've had the same issue and the exception raised isn't that clarifying. The problem was solved by fixing permissions on sensible directories and files:
- `config.yml`, `domain.yml`, `actions.py`
- `data/`, `actions/`, `models/` and every subfolder

[2019-07-09 21:17] ortsaCniveK commented on #3949
Sure.

## Basic user story

`Bot: Welcome! I can help with all your booking needs 😄`

`User: Hello, can you help me book a flight from SFO to BER?`

[2019-07-09 21:20] psds01 commented on #3970
Can't reproduce the error, works normally for me for `rasa==1.1.4`.
![Screenshot from 2019-07-10 02-47-07](https://user-images.githubusercontent.com/49634935/60923800-4fa14b00-a2bd-11e9-81d2-bf35bc075e86.png)

[2019-07-10 04:21] argideritzalpea opened #3971 "Using using pyMongo srv tracker with latest Rasa docker image"
Using latest rasa/rasa:latest-full docker image and getting the following error. Shouldn't the dnspython module come standard in the docker image? Or is this due to something else?:
[code]
**Content of endpoints file (endpoints.yml)**
[code]

relevant part of Docker-compose.yml:
[code]

[2019-07-10 07:03] tabergma commented on #3861
@wochinge The description of the issue is missing a not, isn't it? E.g.:
If a remote storage for models is specified, it should **not** be required to have a local model.

[2019-07-10 07:11] #3917 closed

[2019-07-10 07:38] prasannaonchip commented on #3708
i am also getting the same error
i used  python version is 3.5.2
pip uninstall rasa-x --extra-index-url https://pypi.rasa.com/simple

Error is

Collecting rasa-x
  Downloading https://pypi.rasa.com/api/package/rasa-x/rasa-x-0.19.5.tar.gz (1.8MB)
     |████████████████████████████████| 1.8MB 1.7MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparin

[2019-07-10 08:16] msamogh commented on #3970
Yes, this seems to be specific to `1.0.2`.

[2019-07-10 08:16] #3970 closed

[2019-07-10 08:47] #3883 closed

[2019-07-10 09:13] msamogh commented on #3648
@tabergma Did you reproduce it on @tahamr83's stories or something simpler?

[2019-07-10 09:23] MounaGowdaH opened #3973 "No matching distribution found for tensorflow==1.12.0"
@erohmensing,

Rasa Core version: pip install rasa_core

Python version: 2.7

Operating system : windows 10

Issue:
facing error like,
 **ERROR: Could not find a version that satisfies the requirement tensorflow~=1.13.0 (from rasa_core) (from versions: none)
ERROR: No matching distribution found for tensorflow~=1.13.0 (from rasa_core)**

[2019-07-10 09:27] erohmensing commented on #3973
Hi there @MounaGowdaH, which version of rasa core are you trying to install? Can I ask why you're interested in installing the old packages and not the new `rasa`?

[2019-07-10 09:48] MounaGowdaH commented on #3973
I am trying to install lasting of RASA Core, using the command: pip install rasa_core

I am getting this error:
ERROR: Could not find a version that satisfies the requirement tensorflow~=1.13.0 (from rasa_core) (from versions: none)
ERROR: No matching distribution found for tensorflow~=1.13.0 (from rasa_core)

[2019-07-10 09:50] MounaGowdaH commented on #3973
@erohmensing

[2019-07-10 09:52] erohmensing commented on #3973
Right, my question is, why are you installing `rasa_core` and not `rasa`? As of May, `rasa_nlu` and `rasa_core` were merged into the `rasa` package. The old packages are no longer maintained.

[2019-07-10 09:55] MounaGowdaH commented on #3973
@erohmensing, I used both "pip install rasa" and "pip install rasa_core" also,

I am getting same issue,
  ERROR: Could not find a version that satisfies the requirement tensorflow~=1.13.0 (from rasa) (from versions: none)
ERROR: No matching distribution found for tensorflow~=1.13.0 (from rasa)

[2019-07-10 10:04] capgos17 opened #3974 "Passing policy configuration parameters to `agent.train(...)` is not supported anymore"
I have the code from [rasa  pyData conference](https://www.youtube.com/watch?v=S2LO08QRPSI&t=2757s)

from rasa_core.policies import KerasPolicy, MemoizationPolicy
from rasa.core.agent import Agent

agent = Agent('domain.yml',
              policies=[MemoizationPolicy(max_history=5),
                        KerasPolicy()])
training_data = agent.load_data('stories.md')

agent.train(
    training_dat

[2019-07-10 10:08] djwessel opened #3975 "Add `sender_id` argument shell and interactive command line tools"
**Description of Problem**:

Both `rasa shell` and `rasa interactive` do not support the ability to set the `sender_id` field. Instead for shell, the `sender_id` is just set to the default value of `default`, where as for interactive, the field is set to a uuid. To test stories/run interactive learning with custom actions that rely on the `sender_id` field value, the current tools lack the ability

[2019-07-10 10:10] tabergma commented on #3648
@msamogh I took his stories.

[2019-07-10 10:57] erohmensing commented on #3973
Okay, so you're trying to install `rasa`. Got it. Neither of those packages support python 2.7 -- You will need python >= 3.5.4. You can do this in a virtual environment. Then you can install with `pip install rasa`.

[2019-07-10 10:59] MounaGowdaH commented on #3973
@erohmensing,
Can u please tell me the steps to download the RASA chatbots

[2019-07-10 11:05] ravikrcs opened #3978 "train.py: error: one of the arguements -d/--data -u/url is required"
**Rasa version**:0.9.6    rasa nlu-0.12.3

**Rasa X version** (if used & relevant):

**Python version**:3.6

**Operating system** (windows, osx, ...):windows
![err1](https://user-images.githubusercontent.com/31586794/60963990-d727a200-a32f-11e9-90e3-121eebd46e4b.PNG)

**Issue**:

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configurat

[2019-07-10 11:08] erohmensing commented on #3973
Check them out here: https://rasa.com/docs/rasa/user-guide/installation/

You will need a virtual environment, which is easiest to do with anaconda (explained in the docs). Then it is easy to install with the command.

[2019-07-10 11:10] ravikrcs commented on #3978
while training this command it gives trai.py:error
python -m rasa_nlu.train -c config.json

[2019-07-10 11:10] RanaMostafaAbdElMohsen commented on #3978
Hi @ravikrcs ,
You propose to fix it by displaying a warning message instead of error, correct?

[2019-07-10 11:24] MounaGowdaH commented on #3973
@erohmensing ,

Again facing same issue,

C:\BotPress\Python>pip install rasa-x --extra-index-url https://pypi.rasa.com/simple
Looking in indexes: https://pypi.org/simple, https://pypi.rasa.com/simple
Collecting rasa-x
  Downloading https://pypi.rasa.com/api/package/rasa-x/rasa-x-0.19.5.tar.gz (1.8MB)
     |████████████████████████████████| 1.8MB 819kB/s
  Installing build dependencies ... done

[2019-07-10 11:25] MounaGowdaH commented on #3973
@erohmensing ,
I tried this,
Again same issue:

C:\BotPress\Python>git clone https://github.com/RasaHQ/rasa.git
Cloning into 'rasa'...
remote: Enumerating objects: 1078, done.
remote: Counting objects: 100% (1078/1078), done.
remote: Compressing objects: 100% (296/296), done.
remote: Total 388181 (delta 882), reused 913 (delta 781), pack-reused 387103
Receiving objects: 100% (388181/388181), 264.9

[2019-07-10 12:03] erohmensing commented on #3973
Did you update your python version to a compatible one?

[2019-07-10 12:15] BeWe11 commented on #3765
Hey @amn41,

from skimming over your code, I'm not quite sure what these entity roles are and how they are implemented. Would roles be given in the training examples, i.e. one would have to tag individual entities as well as groups of entities per example sentence?

[2019-07-10 12:25] MounaGowdaH commented on #3973
@erohmensing, previously i was using 3.7, now am using 3.6

[2019-07-10 12:32] erohmensing commented on #3973
Ah i see that you are on windows 32 bit, is that correct?
According to [here](https://github.com/tensorflow/tensorflow/issues/20362):

[2019-07-10 12:39] msamogh commented on #3648
@tahamr83 Are you sure you mean line 1335 in `interactive.py`? It is a very small file.

[2019-07-10 13:18] RaufJavid opened #3980 "RuntimeError: Calling `rasa.core.train` directly is no longer supported."
Hi, I am facing the following issue... May you please check it.

**RuntimeError: Calling `rasa.core.train` directly is no longer supported. Please use `rasa train` to train a combined Core and NLU model or `rasa train core` to train a Core model.**

PFA.
![Pakerror](https://user-images.githubusercontent.com/21277031/60972148-1e695f00-a33f-11e9-8636-a0864bcc6262.png)

[2019-07-10 13:23] gausie opened #3981 "Error when running `rasa init` in Travis"
**Rasa version**: 1.1.3

**Rasa X version** (if used & relevant): 0.19.3

**Python version**: 3.6

**Operating system** (windows, osx, ...): Ubuntu 14.04.5 LTS (on Travis)

**Issue**:

There's an error with Rasa/Rasa x when its run in certain non-interactive execution environments. At some point during running the BinarySingleStateFeaturizer it writes to stdout in a way that crashes Travis (I thin

[2019-07-10 13:54] wochinge commented on #3861
yes, you are totally right 🙈

[2019-07-10 14:08] RanaMostafaAbdElMohsen commented on #3763
Hey @erohmensing ,
I began investigating the issue.
What I concluded so far from slots.py there are slot formats for type names below :
[code]

I believe what is required here to extend for `- images` and `- buttons` as well, correct?

[2019-07-10 14:53] erohmensing commented on #3763
Hi @RanaMostafaAbdElMohsen! This isn't about slot types, but rather about which utterance fields get filled. The logic happens here: https://github.com/RasaHQ/rasa/blob/ea76c3de8dd714c41e11f122f49f5dbde804b9de/rasa/core/nlg/template.py#L114

As you can see, only the `text` field of the template is getting updated with slot values. However, templates can also have `images`, `buttons`, `quick_replie

[2019-07-10 14:59] tabergma commented on #3861
was fixed by https://github.com/RasaHQ/rasa/pull/3942

[2019-07-10 14:59] #3861 closed

[2019-07-10 15:14] amn41 commented on #3765
haven't thought too much about the data format yet, but added some notes about the general idea to the PR description

[2019-07-10 15:42] guillecarc opened #3983 "Rasa Core train command in comparison mode not creating models in the format "model.tar.gz""
**Rasa version**: 1.1.4

**Python version**: 3.6

**Operating system**: macOS Mojave 10.14.5
**Issue**: the comparison mode for rasa core using `train` command does not create compressed models in the file extension "tar.gz".

**Error (including full traceback)**:
This is essentially the output stored in `core_comparison_results/` folder
<img width="1058" alt="Screen Shot 2019-07-10 at 11 06 39" s

[2019-07-10 15:46] cuongnda commented on #3882
Hi, I'm facing very similar issue. After checking the source code, there is code for handle retry case but I spot this:
https://github.com/RasaHQ/rasa/blob/e002d095134d52afbd4474a77738739957263db6/rasa/core/channels/slack.py#L256
[code]
When I read the request from slack, it turn out that slack sending the request with different headers ("x-slack-retry-reason" and "x-slack-retry-num") so I changed

[2019-07-10 16:50] RanaMostafaAbdElMohsen commented on #3763
Yes it helped :) Thanks @erohmensing

[2019-07-10 18:57] federicotdn opened #3985 "Broken link for "license scan" shield on README.md"
When I click on [![FOSSA Status](https://app.fossa.com/api/projects/custom%2B8141%2Fgit%40github.com%3ARasaHQ%2Frasa.git.svg?type=shield)](https://app.fossa.com/projects/custom%2B8141%2Fgit%40github.com%3ARasaHQ%2Frasa.git?ref=badge_shield) in README.md, I get a "404 Project not found" page.

[2019-07-10 19:06] akelad commented on #3842
what do you mean?

[2019-07-10 19:07] akelad commented on #3964
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-10 19:07] #3964 closed

[2019-07-10 19:09] akelad commented on #3836
Sure! we'd love your contribution

[2019-07-10 19:14] akelad commented on #3949
Ok so the underlying issue is about action prediction -- I think the `AugmentedMemoizationPolicy` may help you here, along with separating your stories out into shorter blocks, so e.g. having a short one turn story for welcome, and then another one for booking

I'm gonna close this issue as I don't think we'll be implementing something like what was described in the original issue

[2019-07-10 19:14] #3949 closed

[2019-07-10 19:14] akelad commented on #3971
Thanks for raising this issue, @imLew  will get back to you about it soon.

[2019-07-10 19:16] akelad commented on #3974
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-10 19:16] #3974 closed

[2019-07-10 19:18] akelad commented on #3975
Can I ask why you would need this though? What would you need to test with respect to the sender id in interactive learning or when just chatting to the bot?

[2019-07-10 19:19] akelad commented on #3978
This is not a bug, you need to pass a training data file to your command

[2019-07-10 19:19] #3978 closed

[2019-07-10 19:20] akelad commented on #3980
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-10 19:20] #3980 closed

[2019-07-10 19:24] akelad commented on #3983
Thanks for spotting this bug! We'll look into fixing this

[2019-07-10 19:28] akelad commented on #3913
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-10 19:28] #3913 closed

[2019-07-10 19:28] akelad commented on #3227
@wochinge we have most of these covered now right?

[2019-07-10 19:33] akelad commented on #3962
what version is 3.1? that version doesn't exist

[2019-07-10 20:01] ortsaCniveK commented on #3971
I ran into this issue, it's missing the optional dependency PyMongo[srv], and I think the dockerfile installs just PyMongo;  you can use the below dockerfile:

[code]

[2019-07-10 20:34] ortsaCniveK commented on #3949
Sorry, can't find information about the `AugmentedMemoizationPolicy` anywhere in the docs; is that related to [data augmentation](https://rasa.com/docs/rasa/core/policies/#data-augmentation) in general?

[2019-07-10 20:57] msamogh commented on #3842
@akelad https://github.com/RasaHQ/rasa/pull/3967/files#diff-68352a6853acfb9f05dab723a52d6046

[2019-07-10 21:39] wochinge commented on #3227
Mhm, but not for Rasa. Only for Rasa X

[2019-07-10 22:00] argideritzalpea commented on #2968
@ortsaCniveK Thanks for the tip, however, I can't seem to figure out how to get rasa to build installing the pymongo dependency upon starting the container. I tried add a few lines in my docker-compose.yml that refer to the Dockerfile that you mention above, but I still get the error.
Additionally, I can't seem to start rasa in a detached state in order to install it and tag it as a new image. The

[2019-07-11 00:12] ortsaCniveK commented on #2968
You would need to run `docker build Dockerfile-rasa -t <image name>:<tag>` in the same directory as your `Dockerfile-rasa`.  Then, once you have the name for your image, you include that in your `docker-compose.yml`, you're still using the base rasa image without the Pymongo[srv] dependency installed.  It's best to have the complete image to work with then just run the default start command as opp

[2019-07-11 01:15] GaoQ1 commented on #3839
I also have the same problem, "Loading messages"

[2019-07-11 03:18] JorkeMooN commented on #2993
oh,thanks.

[2019-07-11 05:52] nisanth456 opened #3986 "Failed to run pip3 install -r requirements-docs.txt"
Running command git clone -q https://github.com/RasaHQ/sphinxcontrib-versioning.git /tmp/pip-install-ivtrfrus/sphinxcontrib-versioning
    ERROR: Complete output from command python setup.py egg_info:
    ERROR: Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/data/RasaChatBot/myenv/lib/python3.6/site-packages/setuptools/__init__.py", line 18, in <module>

[2019-07-11 06:36] prasannaonchip opened #3987 "No matching distribution found for aiohttp~=3.5 (from rasa-x)"
i am also getting the same error
i used python version is 3.5.2
pip uninstall rasa-x --extra-index-url https://pypi.rasa.com/simple

Error is

Collecting rasa-x
Downloading https://pypi.rasa.com/api/package/rasa-x/rasa-x-0.19.5.tar.gz (1.8MB)
|████████████████████████████████| 1.8MB 1.7MB/s
Installing build dependencies ... done
Getting requirements to build wheel ... done
Preparing wheel metadata

[2019-07-11 07:25] mihai-satmarean commented on #3919
Hi, the project is very interesting, if not a bit chaotic :), the skill level I might have. I lack the time. All I can offer now is testing.

[2019-07-11 08:06] #3603 closed

[2019-07-11 08:33] djwessel commented on #3975
Hey, similar to the custom `FetchProfileAction` action in the docs [here](https://rasa.com/docs/rasa/core/slots/#slots-set-by-actions), we use the `sender_id` to fetch information about the user, which then sets a slot which is used to inform the following actions to take. In order to use interactive learning, or even just chat with the bot using the shell, we need to be able to customize the `sen

[2019-07-11 08:36] msamogh commented on #3923
What if you want to include all but one entity? With `ignore_entities`, you can just list that one entity, whereas this would require you to go through the domain and list all the other ones.

[2019-07-11 09:09] kushan-gunasekera commented on #2482
this solution worked for me --> https://github.com/pygraphviz/pygraphviz/issues/163#issuecomment-486059479

[2019-07-11 10:34] erohmensing commented on #3882
@cuongnda awesome debugging! It seems that maybe that name was changed or something, and we didn't catch it.

I'm all for making hardcoded values more noticable by making them variables, but in any case, we have to check for a certain value that slack names. What do you have in mind for this?

Did you configure anything in your credentials to get this to work?

We'd love to accept a PR if you have

[2019-07-11 10:45] mohocp opened #3990 "Handling repeated scenario"
I am working in follow up bot, each user has many tasks, when user ask about his/her tasks, the Bot will fetch tasks using API then the bot will displayed the tasks one by one and going to ask the user if he/she able to finish it today. if user said yes the the the task will marked as completed if no the bot will ask the user about finished date.

I tired many solution in Action by iterate over ta

[2019-07-11 11:06] #3855 closed

[2019-07-11 11:06] #3056 closed

[2019-07-11 11:06] #3775 closed

[2019-07-11 12:57] zahidirfan commented on #910
Can RASA use multiple cores? using tensorflow settings like op_inter_threads ? op_intra_threads?

[2019-07-11 14:10] Sarvin92 commented on #3987
I am also getting the same error @prasannaonchip
I am using python version == 3.7.4
I have tried to install 'aiohttp' separately using pip install aiohttp, but it has been failed to install. In the official installation website of aiohttp, it has shown that the latest version is aiohttp == 3.5.4, in the error it shows the distribution version of aiohttp only upto 3.0.0b0

[2019-07-11 16:50] guilherme-mendes opened #3992 "Feature enhancement: Inclusion of max_connection setter in rasa core"
Rasa NLU version: 0.13.4

When the construction of rasa is made the max connection is automatically set to 40 connections with webhook with this it is necessary to set in the webhook the number of maximum connections manually in the webhook url (using Telegram).

[2019-07-11 17:15] sudjoao opened #3993 "The buttons are all in the same line"
**Description of Problem**:
When I create buttons using Rasa and send them to the user within Telegram all the buttons are put on the same line. This is something that sometimes poses a problem since depending on the size of the text that is in the button or the quantity of buttons that are sent, their content can end up being impossible to read.
![02c34612dda124bb015e924394728a73dfb67b7e_2_690x15

[2019-07-11 18:22] guilherme-mendes commented on #3992
For instance:

``https://api.telegram.org/bot123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11/setWebhook?url=https://www.example.com/my-telegram-bot``

You should see something like this:

``{
 "ok":true,
 "result":
 {
   "url":"
https://www.example.com/my-telegram-bot/",
   "has_custom_certificate":false,
   "pending_update_count":0,
   "max_connections":40
 }
}``

Setting the number of connections prev

[2019-07-12 05:27] prasannaonchip commented on #3987
but it is installed in python version == 3.6.8

[2019-07-12 07:52] tormath1 opened #3995 "weightless docker image"
**Description of Problem**: `rasa/rasa` image is big (~1.3GB). I'm trying to shrink the image, would you be interested if the weight difference is important ?

**Overview of the Solution**: build requirements from scratch on an alpine image and remove non-necessary runtime system dependencies

**Examples** (if relevant):

**Blockers** (if relevant):

**Definition of Done**:

- [ ] install scipy /

[2019-07-12 07:55] federicotdn commented on #3986
Hi @nisanth456, have you tried upgrading `setuptools` first?
[code]

[2019-07-12 07:56] erohmensing commented on #3993
Hey there @sudjoao. As you mentioned, the implementation of this happens in the output channel -- therefore we have no one way of implementing a parameter overall for all of the different output channels.

You can already use the different types of buttons (inline, vertical, reply) in the Telegram connector natively. For you, I would suggest changing from the default (inline) to vertical, by addin

[2019-07-12 08:01] #3934 closed

[2019-07-12 08:01] #3952 closed

[2019-07-12 08:06] #3579 closed

[2019-07-12 08:28] akelad commented on #3975
You could probably use some dummy information for the default sender id for testing. I'll discuss this enhancement with our team though and let you know whether we think it makes sense to add

[2019-07-12 08:40] erohmensing commented on #3919
Okay. I'll add it to our maintenance inbox we'll get around to this eventually. Let us know if you find more time in the meantime to work on it :)

[2019-07-12 08:50] wochinge commented on #3860
@federicotdn that's covered by https://github.com/RasaHQ/rasa/pull/3994 , isn't it?

[2019-07-12 08:58] federicotdn commented on #3860
https://github.com/RasaHQ/rasa/pull/3994 pins the pytype version, but does not update it.

[2019-07-12 09:28] #3842 closed

[2019-07-12 10:42] tushar-semwal opened #3996 "Dialogue shows warning and freezes after adding the Duckling pipeline."
**Rasa version**: Rasa 1.1.5

**Rasa X version** (if used & relevant):

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): Ubuntu 18.04.2 LTS (Windows Subsystem for Linux)

**Issue**: After a `rasa init`, I just changed my config file and added the Duckling pipeline. Now when I run `rasa shell`, a warning message is popped and the dialogue freezes. Note: My Duckling server is run

[2019-07-12 10:44] IgNoRaNt23 opened #3997 "Template returns different slot values depending on required_slots order"
**Rasa version**:
Rasa 1.1.5
**Python version**:
Python 3.6.8
**Operating system** (windows, osx, ...):
Ubuntu 18.04
**Issue**:
Similar to this issue
https://github.com/RasaHQ/rasa/issues/2868

Encountered this bug and made a minimal example for convenience. I want to run a form and output the slot values at the end in the form's submit function. One of the slots is mapped from another entity (and

[2019-07-12 10:52] #3996 closed

[2019-07-12 11:20] Sarvin92 commented on #3987
This problem has solved for me by installing python == 3.7.4 (64-bit), which has suggested in the provided link (https://stackoverflow.com/questions/38896424/tensorflow-not-found-using-pip?page=1&tab=votes#tab-top)
Though it meant for the installation problems for tensorflow, it worked for me @prasannaonchip

[2019-07-12 11:40] wochinge commented on #3011
Also community members are facing this issue: https://forum.rasa.com/t/rasa-performance-for-increasingly-large-trackers/11126/2

Think we should deal with this in near future.

[2019-07-12 11:54] msamogh opened #3998 "Print out "Failed stories written to results/failed_stories.md" at the end of running rasa test core"
There's no message indicating if/where the `failed_stories.md` has been saved.

[2019-07-12 12:01] akelad commented on #3842
ah so you already fixed it. I assume this issue can be closed now then?

[2019-07-12 12:02] akelad commented on #3949
yeah sorry we're gonna be adding that to the documentation soon. In the meantime you can take a look at this forum post: https://forum.rasa.com/t/policies-and-stories-problem/12779/2
In other words, no it doesn't relate to data augmentation

[2019-07-12 12:05] akelad commented on #3990
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-12 12:05] #3990 closed

[2019-07-12 12:05] #3722 closed

[2019-07-12 12:08] akelad commented on #3992
hi @guilherme-mendes thanks for bringing this up -- rasa nlu is unmaintaned right now, so do you think you could try with the latest rasa==1.1.5 and let me know if this is still an issue?

[2019-07-12 12:09] akelad commented on #3987
yeah python versions below 3.5.3 are unsupported i'm afraid

[2019-07-12 12:09] #3987 closed

[2019-07-12 12:10] akelad commented on #3995
@tormath1 sure, that would be interesting to see. Not sure how many of the requirements you can actually get rid of. Is this something you want to test out yourself?

[2019-07-12 12:12] akelad commented on #3986
@nisanth456 please either open an issue with the correct template if you think this is a bug, otherwise please ask usage questions in the [forum](https://forum.rasa.com)

[2019-07-12 12:12] #3986 closed

[2019-07-12 12:18] tormath1 commented on #3995
Yes, totally. I would be glad to share the result with you !

[2019-07-12 12:20] msamogh commented on #3842
Wait, isn't it already closed?

[2019-07-12 12:24] cyrilthank commented on #3597
i give
rasa x --debug --enable-api --cors "*" --port 5007 --rasa-x-port 5008

and  get
Starting Rasa Core server on http://localhost:5007
Error: Cannot connect to host localhost:5008 ssl:None [Connect call failed ('127.0.0.1', 5008)]
 (http://localhost:5008/api/health is not responding)

The server is running at http://localhost:5002/login?

can you please share what i am breaking while changing t

[2019-07-12 12:27] cyrilthank commented on #3597
Rasa version:
1.1.4
Python version:
3.7
Operating system (windows, osx, ...):
Windows

[2019-07-12 12:37] cyrilthank commented on #3597
rasa-x : 0.19.0

[2019-07-12 12:39] PierreFG opened #3999 "Json formatted data for NLU training using http API"
**Description of Problem**:
The current default api (--enable-api) doesn't allow json as an input (only markdown) for training data (NLU) when the old one (0.x) did.

[2019-07-12 12:41] Sarvin92 commented on #3973
This issue has solved for me by installing python version == 3.7.4 (64-bit), which has mentioned in the link (https://stackoverflow.com/questions/38896424/tensorflow-not-found-using-pip?page=1&tab=votes#tab-top).
I hope that it helps@MounaGowdaH @erohmensing

[2019-07-12 12:43] federicotdn commented on #3151
Related: https://github.com/RasaHQ/rasa/pull/3994

[2019-07-12 13:01] cyrilthank commented on #3802
can you please share where i may download 0.19.5 (or the latest recommended version) from
requesting since
 pip install rasa-x --extra-index-url https://pypi.rasa.com/simple
still installed 0.19.0

[2019-07-12 13:12] MichaelMarien opened #4000 "Cannot overwrite ActionRevertFallbackEvents"
**Rasa version**:  0.14.5
**Rasa SDK**:  0.14.0

**Python version**: 3.6

**Operating system**: RHEL7 (CentOs)

**Issue**: To overcome the issue described in https://forum.rasa.com/t/two-stage-fallback-policy-sms-voice/9880/2 we were considering to overwrite the ActionRevertFallbackEvents  action. However, due to incompatibility between the DialogueStateTracker and the Tracker class of the SDK thi

[2019-07-12 15:33] lmaczulajtys commented on #3419
Hi @erohmensing
I can't self assigin this issue but I'm working on it so it can be moved do "Doing".

[2019-07-12 15:38] erohmensing commented on #3419
Cool, I will assign you! Awesome that you're taking this on :) just ping me if you have questions.

[2019-07-12 15:42] erohmensing commented on #2929
closed in #3901, thanks @lmaczulajtys! Next time claim it on this board, just like you already did for the next one. 🙂

[2019-07-12 15:42] #2929 closed

[2019-07-12 16:26] #2821 closed

[2019-07-12 16:34] imLew commented on #3923
Yes, I think they should be merged internally only, i.e. we still have both options in the domain config but after the `collect_intent_properties` function (or w/e it's called now) it should be one. Currently both `use_entities` and `ignore_entities` are passed on to other functions.

[2019-07-12 16:52] imLew commented on #3971
@argideritzalpea did this resolve your issue?

[2019-07-12 17:00] argideritzalpea commented on #3971
It did resolve the issue. I would recommend that this is included in the rasa/rasa:latest-full image to obviate the need to create a custom image.

[2019-07-12 17:11] ortsaCniveK commented on #3971
I'll see if I can get a PR whipped up.

[2019-07-12 18:09] JEM-Mosig commented on #3839
I installed miniconda and Rasa on Windows 10 with (in the Anaconda prompt):

    conda create -n iss3839 python=3.7.3
    conda activate iss3839
    pip install rasa-x --extra-index-url https://pypi.rasa.com/simple

This leads to a long installation process which ends in an error because Visua C++ is not installed, so I installed the VC++ 2019 and did the `pip install` again after restarting the p

[2019-07-12 18:13] JEM-Mosig commented on #3839
If I go to the `stories` tab everything seems fine. When I go back to `conversations`, the `What would you like to use Rasa X for?` screen shows up. Clicking on `Creating new assistants from scratch` opens a new tab and jumps to the `Talk to your bot` tab. Clicking on `Maintain and improve existing assistants` opens a new tab and shows `Loading messages` in the `conversations` tab forever. But now

[2019-07-12 18:18] JEM-Mosig commented on #3839
I quit `rasa x` with `ctrl` + `c`
`rasa --version` gives "Rasa 1.1.5"

[2019-07-12 20:49] BtLutz commented on #2952
@akelad @Husamx Thanks, I just ran into this problem.

[2019-07-12 23:17] shotamakino opened #4005 "Webhooks in endpoints.yml"
**Description of Problem**:
Currently rabbitmq and kafka are supported for consuming events. These are configurable through the endpoints.yml. For simple integrations such as sending events off to an endpoint directly, setting up rabbitmq/kafka and consuming those events can be overkill.

**Overview of the Solution**:
I am hoping to add a new configuration to endpoints.yml under a property 'webhoo

[2019-07-13 05:55] JEM-Mosig commented on #3802
You can download all versions from https://pypi.rasa.com/simple/rasa-x/

[2019-07-13 10:44] PratyushTripathy commented on #3048
Hey all, I got the same error on Python 3.5. I found the way out by using Python 3.7.4.

[2019-07-13 12:29] erohmensing opened #4006 "duckling suddenly can’t parse local timestamp"
This happens when ~you don’t pass a timezone to the~ duckling ~configuration and it~ tries to get your time using [reference time](https://github.com/RasaHQ/rasa/pull/395/files#diff-32a523d525344ac72297ce3a019dadfeR88).

I thought this was my new computer sending weird timestamps, but it’s happened on both old and new and was recently reported by a [community member](https://forum.rasa.com/t/tutor

[2019-07-13 13:34] atianchen commented on #3839
i have same problem when i switch to conversations, always show "  What would you like to use Rasa X for? screen shows up" . have anyone solve it?

[2019-07-13 13:56] wochinge commented on #3995
@tormath1 Thanks for your offer! Could you please also check with https://github.com/RasaHQ/rasa/pull/3332 ? In this pr I'm trying to achieve the same :-) Let me know if you have suggestions!

[2019-07-13 15:28] wochinge commented on #3995
@tormath1 One more question:
Building tensorflow from scratch in an alpine image is quite tedious. Don't you think the resulting image definition would be quite complex / hard to maintain?

[2019-07-13 17:43] akelad commented on #3997
Thanks for raising this issue, @Ghostvv  will get back to you about it soon.

[2019-07-13 17:45] akelad commented on #3999
Thanks for raising this issue, we'll look into it!

[2019-07-13 17:45] akelad commented on #4000
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-07-13 18:40] sibbsnb commented on #3827
@Ghostvv should the train part also change in the WhiteSpaceTokenizer or just the process part? Is this tokenizer used during training?

[2019-07-14 10:29] tormath1 commented on #3995
@wochinge, well I guess I won't be harder than any dependencies. Actually, tf should release an Alpine wheel. :sweat_smile:
Building dependencies from sources could optimize built wheels as we are compiling through GCC. I'll let you know how's going.
Good work for your slim image. :+1:

[2019-07-14 13:06] akelad commented on #4005
@shotamakino could you clarify what you mean? what kind of webhooks would you like?

[2019-07-14 13:07] #3217 closed

[2019-07-14 20:19] RanaMostafaAbdElMohsen commented on #3836
@akelad ,
Can you please provide assistance on how to reproduce same issue, I have trouble finding documentation that references custom url for nlu endpoint

[2019-07-14 21:12] msamogh commented on #3923
Got it.

[2019-07-14 21:58] Hemantr05 commented on #3708
I got the same error

Collecting rasa
  Using cached https://files.pythonhosted.org/packages/c4/ed/a61a738a10cff0e4d5d696c85231d7a226e3563fde0911bd5d7fa2f0514e/rasa-1.1.6-py3-none-any.whl
Requirement already satisfied: jsonschema~=2.6 in c:\users\basketballlife6000\appdata\local\programs\python\python35\lib\site-packages (from rasa) (2.6.0)
Collecting fakeredis~=1.0 (from rasa)
  Using cached http

[2019-07-15 04:56] DivyaWadehra commented on #1082
is it working?

[2019-07-15 07:40] wochinge commented on #3995
Do you have some estimates regarding the image size?

[2019-07-15 08:06] KarthiAru commented on #2820
In the latest version v1.1.4 , this needs to be added to config.yml

[2019-07-15 08:10] wochinge commented on #4000
@MichaelMarien I replied to you in the forum regarding the issue with the TwoStageFallbackPolicy. I think it's best if we continue the discussion about the usage of the policy there.

Regarding the different `Tracker` implementations in `rasa` and `rasa-sdk`:
1) I totally understand that this is confusing. We are currently discussing it in the team, how can make the difference more obvious. I will

[2019-07-15 08:11] #4000 closed

[2019-07-15 08:23] nikhilkapavarapu opened #4007 "I need to implement Bot Thinking Indicator"
In my chatbot, I want to have "thinking indicator" (similar to typing animation we see while messaging)  so that user knows Bot is actually functioning if it is taking more time to respond.

I want that indicator to be displayed just above the input text box.
If the bot returns with response, then i want that indicator animation to be cleared off from the chat window.

How do we implement this fun

[2019-07-15 08:35] Ghostvv commented on #3827
@sibbsnb both parts

[2019-07-15 08:43] Ghostvv commented on #3997
could you please post the logs from action server here

[2019-07-15 09:01] prasannaonchip commented on #3839
I also have the same problem, by clicking on the conversation it showing conversations(0)
"Loading Conversations"
i used rasa version is 1.1.5
please reply fast
thanks in advance

[2019-07-15 09:27] erohmensing commented on #4007
Hi @nikhilkapavarapu, this is completely dependent on whether your output channel supports this, so there is no built-in function for this. This is something you would e.g. configure in a custom output channel. Please ask questions like this on the [forum](http://forum.rasa.com).

[2019-07-15 09:27] #4007 closed

[2019-07-15 09:41] tormath1 opened #4008 "unable to fetch model from GCS"
**Rasa version**: 1.1.5-full (docker image)

**Rasa X version** (if used & relevant):

**Python version**: ?

**Operating system** (windows, osx, ...): linux

**Issue**: not able to fetch model from GCS through kubernetes. I've deployed a chatbot with kubernetes on GCP and rasa is trying to fetch `models.tar.gz` (obviously it is not found) `GOOGLE_APPLICATION_CREDENTIALS` and `BUCKET_NAME` (let's

[2019-07-15 09:46] tormath1 commented on #4008
FYI, the same command on my linux machine through virtualenv:

[code]

It seems that there is something broken between 1.1.4 and 1.1.5 ?

[2019-07-15 10:06] RanaMostafaAbdElMohsen commented on #3836
Hi @akelad ,

I investigated this issue. The problem is indeed with urljoin function.
The problem urljoin function just take domain and ignores if anything written after slash

Examples:

`>>> urljoin(https://localhost:8080/a, "/model/parse") `
`https://localhost:8080/model/parse`

`>>> urljoin(https://localhost:8080/a/b/c/, "/model/parse") `
`https://localhost:8080/model/parse`

In both cases it

[2019-07-15 11:03] psds01 commented on #3836
Tests for both of these PRs:
[code]

[2019-07-15 11:04] psds01 commented on #3836
Solution [to the problem](https://github.com/RasaHQ/rasa/blob/3b578879479b52aac43ed0e43d887e60464d156d/rasa/core/interpreter.py#L214) might look something like:

From
[code]
to
[code]

[2019-07-15 11:17] RanaMostafaAbdElMohsen commented on #3836
Yes, I checked your answer and it is also a possible solution. Thanks @psds01 for your assistance.

[2019-07-15 11:53] baudzhou commented on #2013
maybe you should try
`export PYTHONPATH=/path/to/your/project/:$PYTHONPATH`

[2019-07-15 11:59] erohmensing commented on #4008
Hey @tormath1, we did indeed see some breaking there between 1.1.4 and 1.1.5 -- if all goes well it was fixed in 1.1.6. Can you try updating and see if the issue persists?

[2019-07-15 12:21] IgNoRaNt23 commented on #3997
That fix works fine, but doesnt feel very intuitive,
thanks anyway

[2019-07-15 12:25] tormath1 commented on #4008
Hey @erohmensing, no more luck with 1.16 :confused:

[code]

[2019-07-15 12:35] federicotdn commented on #3151
Hey @tabergma, with https://github.com/RasaHQ/rasa/pull/3994 merged would you consider this issue done? Is there anything else important that we could be missing?

[2019-07-15 12:44] tabergma commented on #3151
Thanks for tackling this! 🚀 I consider this issue as close. If we discover something else, we can open a new issue. Great work!

[2019-07-15 12:44] #3151 closed

[2019-07-15 12:55] erohmensing commented on #4008
Hm okay, in 1.1.4 it looks like it may not have actually pulled the model from gcloud but rather pulled from a local models (since it didn't show the `google.auth.transport.requests` making request log (this is why we changed it, as it was defaulting to pulling models from local before checking the other options).

Have you been able to load it successfully from gcloud at all?

What I think might

[2019-07-15 13:17] tabergma commented on #4008
@tormath1 Thanks for raising this issue. It is indeed a bug. Are you up for fixing this yourself and open a PR for it?

In case of `--enable-api` we validate that the model path exists (https://github.com/RasaHQ/rasa/blob/master/rasa/cli/run.py#L86). If not we override the argument ?`model` with the default location `models`. However, if you want to load the model from the remote storage the model

[2019-07-15 13:19] sibbsnb commented on #3827
Thanks @Ghostvv. I don’t see where I can put the tests for training for this tokenizer. Any pointers?

[2019-07-15 13:45] MetcalfeTom opened #4011 "Have the validator dump data errors to file"
**Description of Problem**:
`rasa data validate` only prints data errors to shell

**Overview of the Solution**:
Would be nice to dump to a file so users can begin iterating on their data.  Or append them to the current data files somehow.

**Definition of Done**:
- [x] Tests are added
- [x] Feature is documented

[2019-07-15 14:11] tormath1 commented on #4008
Yes, with a great pleasure !

[2019-07-15 14:20] Ghostvv commented on #3827
what do you mean?

[2019-07-15 15:03] federicotdn opened #4012 ""No model found" error message when model was loaded correctly"
**Rasa version**: `1.1.6`

**Python version**: `3.7.4`

**Operating system** (windows, osx, ...): macOS Mojave

**Issue**:
After creating a new project using `rasa init --no-prompt`, and running `rasa shell`, the bot is loaded correctly and it can respond correctly to my messages. However, after I use the `/stop` command to quit, an error message appears saying that no model could be loaded.

**Er

[2019-07-15 15:05] federicotdn commented on #4012
Initial fix: in function `run()` in `rasa/cli/run.py`, add a `return` statement after each call to `rasa.run(**vars(args))`.

[2019-07-15 16:51] alvisGTJ commented on #3936
@erohmensing, can we expect any updates on this issue soon?

[2019-07-15 17:10] gausie commented on #3936
Hey! We are aware of the issue where sometimes you have to refresh the conversation to see new messages. We have a fix waiting for a few extra parts to slot in place and will be releasing it soon.

My quick message about a terminal error before was partly because I misunderstood the issue!

[2019-07-15 17:10] alvisGTJ commented on #3936
@gausie - thank you!

[2019-07-15 17:23] sibbsnb commented on #3827
I see a test file for the process part of whitespace tokenizer but not for how training method is invoked

[2019-07-15 18:09] sihsob opened #4015 "Rasa v1.0 missing detailed logs like previous versions"
**Rasa version**: 1.1.3

**Rasa X version** (if used & relevant): N/A

**Python version**: 3.6.6

**Operating system** (windows, osx, ...): Windows 10

**Issue**:
After upgrading to Rasa v1.0.x, logs outputted to `rasa_core.log` are missing any additional output that appears in the shell/server.

**Error (including full traceback)**:
Currently the log only ever displays:
[code]

When before, they'

[2019-07-15 18:52] shotamakino commented on #4005
So exploring some more, I've been able to accomplish what I required through a custom EventChannel by publishing a package and specifying this class through the endpoints.yml.

What I was originally seeking for was a new EventChannel type with a url arg that specifies where to post the event to as a body parameter.

An alternative could be to allow the user to create a new module in the directory

[2019-07-15 19:42] VenkiKonduri commented on #2960
Links reference in the comments don't have any information?
Can anyone direct me where can i get info?

[2019-07-15 20:43] wochinge opened #4016 "Rasa Core comparison mode does not work with tar models"
`rasa test core -m models/20190715-223529.tar.gz models/20190715-223529.tar.gz` does not work because

- the agent get's a domain which is `None` which in turn leads to an error
- `compare` expects a uncompressed models

[2019-07-15 20:43] wochinge commented on #3983
also testing does not work properly https://github.com/RasaHQ/rasa/issues/4016

[2019-07-15 20:52] ppounder commented on #3839
Hi,

Just to add my name to the list, I am having the same issue, same standard set up on a MacOs.

Python version 3.7.4
Rasa version 1.1.6
Pip 19.1.1

Updating training data is fine, just can't see conversations. Can seem my conversation though in the 'Talk to your bot' though. As you're first post says, sounds like this is how it should be. Although I do see the pop up appear everytime I open th

[2019-07-15 21:26] btburton42 opened #4017 "Errors using `rasa test`"
**Rasa version**:
1.1.4

**Python version**:
3.7.3

**Operating system** (windows, osx, ...):
Mac OS 10.14.5

**Issue**:
Attempting to run e2e evaluation fails on stories that aren't explicitly replicated in the NLU.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

**Content of dom

[2019-07-16 04:08] sibbsnb commented on #3827
Never mind, figured it out. Raised the PR: https://github.com/RasaHQ/rasa/pull/4020

[2019-07-16 05:07] prasannaonchip commented on #3839
i installed the rasa x on ubuntu 16.04LTS

[2019-07-16 05:16] Mayankgbrc commented on #4012
Hi, I'm getting the same error, Where to find the folder rasa/cli/ ?

[2019-07-16 05:23] webgem-jpl opened #4021 "RASA-X API - replace stories"
**Rasa version**: 1.1.4

**Rasa X version** (if used & relevant): 0.19.5

**Python version**: 3.6.9

**Operating system** (windows, osx, ...): official docker containers

**Issue**:
Replacing Stories, using `PUT /api/stories`
doesnt replace the stories and return an `Error: Invalid response type`

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2019-07-16 05:38] prasannaonchip opened #4022 "need a help to how add data for realconversation"
## intent:current_matches
- which cricket match is happening right now
- which ipl match is next
- which teams are playing next in ipl
- tell me some ipl news
- i want ipl updates
- what are the latest match updates
- who won the last ipl match
- how is ipl going
- what was the result of the last match
- when is the next match

i am giving this data in the file names as data/nlu.md

## news path 1

[2019-07-16 06:57] #4008 closed

[2019-07-16 07:08] federicotdn commented on #4012
Hey @Mayankgbrc I was referring to the file in the library, not in users' projects (https://github.com/RasaHQ/rasa/blob/master/rasa/cli/run.py).

[2019-07-16 07:28] Mayankgbrc commented on #4012
My run.py file in the rasa/cli/ directory looks like this.

`import argparse
import logging
import os
from typing import List, Text
from rasa.cli.arguments import run as arguments
from rasa.cli.utils import get_validated_path, print_error
from rasa.constants import (
    DEFAULT_ACTIONS_PATH,
    DEFAULT_CREDENTIALS_PATH,
    DEFAULT_ENDPOINTS_PATH,
    DEFAULT_MODELS_PATH,
    DOCS_BASE_URL,
)
fr

[2019-07-16 07:38] Mayankgbrc commented on #4012
Hi @federicotdn , thanks for the reply.
Once go through this link - mayankgbrc.com/run.py to check my code.
Still I'm getting this error.
![Screenshot from 2019-07-16 13-08-07](https://user-images.githubusercontent.com/25427732/61275101-ca40fd80-a7ca-11e9-8ec3-6217792f9a8b.png)

[2019-07-16 07:50] federicotdn commented on #4012
@Mayankgbrc thanks for trying that out. I'll be working today to see if I can solve this issue.

[2019-07-16 08:42] tbx0912 opened #4024 "NLU server - ParsingError"
**Rasa version**: Rasa 1.1.4

**Python version**: Python 3.6.9

**Operating system**: Ubuntu Bionic (18.04)

**Docker version**: 18.09.7, build 2d0083d

**Issue**:
I want to use the NLU only with the latest Rasa version in a Docker container. I followed the instructions given in the [Rasa docs](https://rasa.com/docs/rasa/nlu/using-nlu-only/).
The training is OK, running the server without error to

[2019-07-16 09:10] #4012 closed

[2019-07-16 10:56] cuongnda commented on #3882
I think I will add these 2 header name as variable in the credentials configuration, then getting these value from credentials in the source code. If you think it is reasonable approach too, I'll create like that

[2019-07-16 10:57] akelad commented on #4015
Thanks for raising this issue, @federicotdn  will get back to you about it soon.

[2019-07-16 10:59] akelad commented on #4005
So is your original issue solved? i'm still not sure which URL you'd be posting events to

[2019-07-16 11:16] akelad commented on #4017
Thanks for raising this issue, @MetcalfeTom  will get back to you about it soon.

[2019-07-16 11:18] akelad commented on #4021
I tried it recently and it worked, you should be using a stories md file for that endpoint - have you tried that?

[2019-07-16 11:20] akelad commented on #4022
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-16 11:20] #4022 closed

[2019-07-16 11:21] akelad commented on #4024
Thanks for raising this issue, @msamogh  will get back to you about it soon.

[2019-07-16 12:15] iainelder commented on #3826
This appears to be preventing me from using rasa in Amazon Sagemaker.

Repro:

* Create a new notebook in the Sagemaker console
* Create a new terminal in the notebook
* In the terminal activate conda's Python 3 environment:

[code]

* Attempt to install rasa. This fails with version conflicts:

[code]

[2019-07-16 13:42] tabergma commented on #3597
I guess, you need to use at least rasa-x version 0.19.1. Can you use that version and try again?

[2019-07-16 13:51] ricwo opened #4025 "Duplicate values in CORS header when using socket.io"
**Rasa version**: 1.1.6

**Python version**: 3.6

**Operating system** (windows, osx, ...): osx

**Issue**:
- the http server creates duplicate values in the CORS header `Access-Control-Allow-Origin` when used with socket.io as an input channel
- issue seems to be related to using sanic in combination with python-socketio, and is known: https://github.com/miguelgrinberg/python-socketio/issues/205

[2019-07-16 14:21] msamogh commented on #4024
@tbx0912 I'm unable to reproduce this. I ran the same commands as you did on both the local and remote settings.

[2019-07-16 15:42] #3836 closed

[2019-07-16 16:27] shotamakino commented on #4005
Yes my original issue is resolved - I will close this enhancement request!

[2019-07-16 16:27] #4005 closed

[2019-07-16 16:37] manojrustagi79 opened #4026 "NameError: Cannot access action 'action_restaurant'"
Hi All,

Need help in resolving the error NameError: Cannot access action 'action_restaurant'.

My Domain File is:
slots:
  location:
    type: text
  cuisine:
    type: text
  budget:
    type: text

entities:
- location
- cuisine
- budget

intents:
 - greet
 - affirm
 - deny
 - goodbye
 - thankyou
 - restaurant_search

templates:
  utter_greet:
    - hey there! How may i help you
    - Hi, How c

[2019-07-16 17:28] TQuy opened #4027 "Form_bot and restaurant_bot require many dependencies"
**Description of Problem**:
I want to run the example bots to get a better understanding of rasa. However, it seems like they require duckling, docker container to run. Those two don't support my language well so I really don't want to install them.

**Overview of the Solution**:
Can you remove those dependencies so that the example bots can run easier

[2019-07-16 18:50] wochinge commented on #3262
Should be clear now with the new Rasa 1.0 docs

[2019-07-16 18:50] #3262 closed

[2019-07-16 23:14] sjtilney commented on #3975
Not having the ability to set the sender_id at run time has also caused a lot of headache for our team.
Our Rasa actions interact with many different REST services. Many of those services require a valid user id (sender_id) in order to get a successful response.
Furthermore, we expect different responses depending on the region that the user is in or preferences they may have set. It's impossible

[2019-07-17 02:03] jahirfiquitiva opened #4028 "Are legacy docs actually legacy?"
I was checking the legacy docs and noticed [the legacy "Choosing a pipeline" site](https://legacy-docs.rasa.com/docs/nlu/choosing_pipeline/) is showing basically the same information as [the new "Choosing a pipeline" site](https://rasa.com/docs/rasa/nlu/choosing-a-pipeline/#choosing-a-pipeline)

I don't remember having certain pipelines in the previous versions

🤔

[2019-07-17 02:10] jahirfiquitiva opened #4029 "Not all intents are returned when doing parse"
Hello

When doing a call to `http://localhost:5000/parse`, I'm not getting more than 10 intents in the response, but there are actually 18.

Is this the expected behavior? or is there something wrong?

Additionally, I wanted to ask, how many phrases would you say make an intent gain enough confidence?

[2019-07-17 02:30] sibbsnb commented on #3827
Closed the PR comments

[2019-07-17 03:08] jahirfiquitiva commented on #4028
Nevermind, I noticed they were introduced in v 0.15

[2019-07-17 03:08] #4028 closed

[2019-07-17 04:03] cyrilthank commented on #3802
Thank you
but now on http://localhost:5008/api/version
i get the below can you please advise
{
    "rasa": {
        "production": "1.1.4",
        "worker": "1.1.4"
    },
    "rasa-x": "UNDEFINED - this package is not installed"
}

[2019-07-17 04:03] cyrilthank commented on #3597
indeed you are right

but now i am getting the below output on http://localhost:5008/api/version
after i installed from https://pypi.rasa.com/simple/rasa-x/

{
    "rasa": {
        "production": "1.1.4",
        "worker": "1.1.4"
    },
    "rasa-x": "UNDEFINED - this package is not installed"
}

[2019-07-17 06:11] #3971 closed

[2019-07-17 08:23] psds01 commented on #4029
This is actually an expected behaviour. You can find it [here](https://github.com/RasaHQ/rasa/blob/737484a36bc4a1c0fb1584232f79d978f6fdb592/rasa/nlu/classifiers/__init__.py#L3)
If you want all of them, set the above to `None` : `INTENT_RANKING_LENGTH = None`.

There's no rule of thumb, start with 2 which is `rasa`'s default min count of examples per intent then start adding more to gain good perfo

[2019-07-17 08:25] psds01 commented on #4026
replace `actions.ActionSearchRestaurants` with `action_restaurant`

[2019-07-17 09:15] Mohini1205630 commented on #888
I am getting the same issue in my nlu_model.py

How to solve this issue?
cannot import name 'load_data' from 'rasa_nlu.training_data' (C:\python\lib\site-packages\rasa_nlu\training_data.py)

[2019-07-17 10:02] akelad commented on #4026
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-17 10:02] #4026 closed

[2019-07-17 10:04] akelad commented on #4027
Hi, estaurant bot doesn't require it as far as i can tell. I don't think we'll be removing it from formbot, but you can still test out those bots without it. Also consider checking out the rasa_demo repo: https://github.com/RasaHQ/rasa-demo

[2019-07-17 10:04] #4027 closed

[2019-07-17 10:06] akelad commented on #4029
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-17 10:06] #4029 closed

[2019-07-17 10:24] GaoQ1 opened #4030 "rasa x train model is different of rasa cmdline train model"
**Rasa version**:
1.1.3

**Rasa X version** (if used & relevant):
0.19.4

**Python version**:
3.6.5

**Operating system** (windows, osx, ...):
osx

**Issue**:
why i use rasax front-end interface train model is different with cmdline train model?

[2019-07-17 10:34] #3752 closed

[2019-07-17 11:58] cyrilthank opened #4031 "Expose a http end point in rasa-x or rasa to add/modify/delete action"
**Description of Problem**:

 https://forum.rasa.com/t/rasax-enterprise-have-any-additional-http-endpoints-to-support-ongoing-maintenance/13056
**Overview of the Solution**:

 Expose a http end point in rasa-x or rasa to add/modify/delete action

**Examples** (if relevant):

Currently we have the below to upload new intents
http://localhost:5008/api/projects/default/data
to upload new stories
http

[2019-07-17 12:23] federicotdn commented on #4015
Hey @sihsob, thanks for the detailed report. I have been able to reproduce the problem and will try to see what's causing it.

[2019-07-17 13:33] psds01 commented on #4030
`cmdline` model is probably using the latest model. But for `rasa x`, you need to manually change the `production` model to latest. Go to `http://{localhost-our-what-ever-your-ip}:5002/models` and assign the `production` tag to latest model. Like this:
![test](https://user-images.githubusercontent.com/49634935/61379584-723af180-a8c5-11e9-92e4-1cd89d2ae8a8.png)

[2019-07-17 13:59] GaoQ1 commented on #4030
i know that, and rasax i also make the latest model  as `production`. i doubt that maybe the two type train funciton use different parameters.

[2019-07-17 14:16] erohmensing commented on #3882
I think know what you mean. Let's try it and I will review the PR :) thanks for working on this!

[2019-07-17 15:16] MetcalfeTom commented on #4017
Thanks for bringing this to our attention, I've begun working on a fix [here](https://github.com/RasaHQ/rasa/pull/4033)

[2019-07-17 15:19] Jesjf commented on #2313
I have the same problem as Naoko. I want to handle all actions in a generic way using only one Python class.
Has the contribution she offered been accepted?
Has this issue been solved somehow?
Is there another way to achieve my goal?

[2019-07-17 15:26] tormath1 commented on #3882
Hi @erohmensing,

As you said

In my action server I have a long (~20s.) process, the action was triggered multiple times. With @cuongnda fix, the action is not triggered multiple times. However, my form seems to stay active and each new message send to the bot will trigger the form.

[2019-07-17 16:20] lingvisa commented on #3011
I want to added my exactly same issue here:

https://forum.rasa.com/t/my-bot-is-running-slow-very-quickly/13018

Rasa Team: it would be great if a solution can be implemented sooner for this and thanks.

[2019-07-17 16:31] erohmensing commented on #3882
Why is there more user input happening without any response from the bot? IMO this is probably a UX problem -- if you have an action that is going to take a long time, you should let the user know (e.g. "Sure, let me get that for you, this might take a few seconds..."

[2019-07-17 17:21] creadoit opened #4037 "rasa x removes "triggers" from intents in domain.yml"
Rasa version: 1.1.4

Rasa X version (docker): 0.19.5

Python version: Python 3.6.9

Operating system (windows, osx, ...): Linux/Docker

**Issue**:

Hi, working with Rasa X the intent "triggers" are removed in the `domain.yml`

**Content of domain file before opening/saving with rasa x**:

[code]

**Content of domain file after opening/saving with rasa x**:

[code]

Even if I try to add the trigger

[2019-07-17 19:07] erohmensing commented on #4006
This is a different warning, but may be related, when running `rasa x`, i got
[code]

[2019-07-17 19:43] arthurTemporim opened #4038 "Interactive Learning stores intent payload input messages"
**Rasa version**: 1.1.6

**Python version**: 3.7.3

**Operating system** (windows, osx, ...): 5.2.1-arch1-1-ARCH - ArchLinux

**Issue**:
Rasa is saving intent payload input on markdown. After sending `/greet`:

[code]

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2019-07-17 20:32] ricwo commented on #3802
@cyrilthank the undefined rasa X version is a bug that occurs when rasa X has been installed in editable mode (`pip install -e`). It's already been fixed and will be part of the next release

[2019-07-18 06:50] cyrilthank commented on #3802
Thanks @ricwo can you please advise in this situation how i may confirm/check the version, please do let me know if there is another(maybe the fixed) version to install along with the command

[2019-07-18 07:45] cyrilthank opened #4039 "Rasa x enterprise expose additional http end points"
follow up to
https://forum.rasa.com/t/rasax-enterprise-have-any-additional-http-endpoints-to-support-ongoing-maintenance/13056

what additional http apis does rasax enterprise have
  for example for monitoring failed conversations
posting here to translate it as feature request if not available

[2019-07-18 08:01] #3827 closed

[2019-07-18 09:11] nisanth456 commented on #3280
2019-07-18 14:39:25 ERROR    rasa_core.actions.action  - Failed to run custom action 'action_match_news'. Action server responded with a non 200 status code of 404. Make sure your action server properly runs actions and returns a 200 once the action is executed. Error: 404 Client Error: NOT FOUND for url: http://localhost:5055/
2019-07-18 14:39:25 ERROR    rasa_core.processor  - Encountered an exc

[2019-07-18 10:07] neumann-d commented on #4037
observed the same issue when using Rasa X

[2019-07-18 11:27] akelad commented on #3763
@RanaMostafaAbdElMohsen any progress on this yet?

[2019-07-18 11:50] olenasch commented on #4030
I had the same issue, and as it came out later, my domain.yml file got edited by rasa x and used for the training. In my case the {triggers} directives were missing.
Maybe it is similar in your case? Check your domain.yml and see if it got changed.

[2019-07-18 11:58] psds01 commented on #4030
Interesting. Related issue: https://github.com/RasaHQ/rasa/issues/4037

[2019-07-18 14:12] amnesia15 opened #4041 "Telegram buttons problem"
**Rasa version**: Rasa 1.1.4

**Python version**: Python 3.6.8

**Operating system** (windows, osx, ...): Windows (host)

**Issue**:
Just to further clarify, I'm using Docker instance of the Rasa's image rasa/rasa:1.1.4-full. And I'm also using Rasa's implemented connector for Telegram. The Rasa raises the error when it tries to send request to the Telegram to display the buttons. I'm using custom

[2019-07-18 14:31] gausie commented on #3581
A little late, but yes this is coming soon.

[2019-07-18 17:12] talhashaikh5 opened #4042 "Cannot tun Custom actions while deploying with docker"
## rasa.core.actions.action  - Failed to run custom action 'action_hello_world'.
Couldn't connect to the server at 'http://localhost:5055/webhook'. Is the server running? Error: Cannot connect to host localhost:5055 ssl:None [Cannot assign requested address]

i am gaving above error while deploying my bot with docker. i coudnt understand what is happing please help me

## docker-compose.yml
[code]

[2019-07-18 19:37] emover opened #4043 "Requested slot is filling in shell mode but not in SDK or X Mode"
I've got very strange issue. I have a form that contains among other slots dwellingType_origin and dwellingType_destination. Either of them accept values like Elevator Building, Walkup Building and Private House. When requested slot is dwellingType_origin and a user puts Walkup Building this would fill dwellingType_destination and ask again for dwellingType_origin
If user puts Elevator Building it

[2019-07-18 21:05] dmlapteacru opened #4044 "Credentials.yml can't find my custom RestInput"
**Rasa version:** 1.0.6

**Python version:** Python 3.6.8

**Operating system (windows, osx, ...):** Windows

**Issue:**
Hello Team.
Created the custom RestInput channel, but got the error 'module not found'.
What am I doing wrong?

**credentials.yml** - added the raw
`channel.RestInput:
`

**channel.py** - the same as original one from rasa.core.channels

**Project structure:**
![image](https://u

[2019-07-19 04:31] PrakashRaj37 commented on #3233
hey @sushilr007 I'm also having same problem. which version  of numpy and prompt-toolkit did you install.

[2019-07-19 04:44] arthurTemporim commented on #3881
Hi, @erohmensing after running Rasa and testing this behavior I've got this logs:

[code]

The first log tells about `endpoints` configuration "[...] you didn't configure an endpoint to run this custom action.". This log is from [here](https://github.com/RasaHQ/rasa/blob/daebc2627f5af5534f5a63dfcbec9daf8b4c234d/rasa/core/actions/action.py#L384).

After further tests, I realized that this log appea

[2019-07-19 04:48] sushilr007 commented on #3233
@PrakashRaj37
prompt-toolkit    2.0.9
numpy      1.13.0+mkl

[2019-07-19 05:12] jainkrunal commented on #2578
Hey @akelad,

rasa_core.log doesn't contain the conversation, it has only errors or warning thrown!..
Is there a file that contains which intents are classified by the bot or conversation??

[2019-07-19 06:43] erohmensing commented on #3881
@arthurTemporim you make a very good point! I'm looking back and if you git blame what you linked, I think I was the one who actually fixed that 😅here https://github.com/RasaHQ/rasa/pull/3960 -- the helpful error used to be hidden in debug mode, and you'd only see the one i posed at the top.

I think I'd actually feel comfortable closing this. Regardless of whether your `endpoints.yml` exists or w

[2019-07-19 06:44] cyrilthank opened #4046 "rasa/rasa-x end point to display predicted entities"

[2019-07-19 06:45] cyrilthank commented on #4046
can you please share the http api end point to use to display predicted entities
along with the rasa/rasa-x version to use for this

followup to
https://github.com/RasaHQ/rasa/pull/3128

[2019-07-19 07:44] olenasch commented on #4042
do you have endpoints.yml?
if not, create the file endpoints.yml with
[code]

[2019-07-19 08:06] erohmensing commented on #4046
@cyrilthank as described in the issue template, please do not ask questions on the Github. Questions like these belong in the forum (if you choose `question` rather than `enhancement` or `bug`, it likely does not belong here). The [HTTP API](https://rasa.com/docs/rasa/api/http-api/) is well documented, you are looking for https://rasa.com/docs/rasa/api/http-api/#tag/Model/paths/~1model~1parse/post

[2019-07-19 08:06] #4046 closed

[2019-07-19 08:31] PrakashRaj37 commented on #3233
what does it means?

[2019-07-19 09:00] tormath1 opened #4047 "got concurrent.futures._base.CancelledError"
**Rasa version**: 1.1.6-full (docker image)

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...): docker

**Issue**: seems to timeout between rasa and action server. My action takes around 10sec. I don't know why it's timeout, because `DEFAULT_REQUEST_TIMEOUT` is around 5 minutes.

My action is well executed from the actions server.

**Error (inc

[2019-07-19 10:52] cyrilthank opened #4048 "rasa http end point train model breaks the prior conversations"
Rasa version: 1.1.4

Rasa X version: 0.19.5

Python version: 3.7

Operating system (windows, osx, ...): Windows 10

**Issue**:

training the model using the http api breaks the system
http://localhost:5007/model/train?Content type=application/json

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if rele

[2019-07-19 11:03] arthurTemporim commented on #3881
@erohmensing , Yes I agree :smile:

[2019-07-19 11:03] #3881 closed

[2019-07-19 12:28] msamogh commented on #4006
Just encountered the first error myself. By "need to change something in rasa/duckling", do you mean the Docker image `rasa/duckling` or "rasa or duckling"?

[2019-07-19 12:46] #3928 closed

[2019-07-19 13:19] erohmensing commented on #4006
i meant `rasa/duckling`, but I get the error even when docker isn't running. I was wrong, the error gets thrown [here](https://github.com/RasaHQ/rasa/blob/master/rasa/nlu/extractors/duckling_http_extractor.py#L140) (why the hell as root though?)

[2019-07-19 13:45] arthurTemporim commented on #3860
@federicotdn I have updated the pytype version to `2019.7.11` and the error is the same. But I just added `result = None` [here](https://github.com/RasaHQ/rasa/blob/2d7092536aaadc130a33374c515b8529505b8b81/rasa/core/channels/channel.py#L414) and the error has gone locally. I created the brach [improve_pytype](https://github.com/RasaHQ/rasa/tree/improve_pytype) to verify if this error still exists

[2019-07-19 14:44] jainkrunal commented on #2578
Hey @akelad,

rasa_core.log doesn't contain the conversation, it has only errors or warning thrown!..
Is there a file that contains which intents are classified by the bot or conversation??

[2019-07-19 17:15] rgstephens commented on #4021
@aklad the documentation for this endpoint states that the request body is a **string** containing **text/markdown**.  It does not state that it is a string containing a **filename**.

All of these fail for me. Some return 200 with a response of `[]`.

[code]

I've tried the same with Postman and it returns `[]` with status 200.

This is a guessing game based on the API docs. I've tried innumerabl

[2019-07-19 17:24] msamogh opened #4053 "Training fails when story file has multi-line comment"
**Rasa version**:
1.1.6

**Rasa X version** (if used & relevant):

**Python version**:
3.7

**Operating system** (windows, osx, ...):
OSX

**Issue**:
Training (parsing) fails with
[code]

[2019-07-19 20:23] akelad commented on #4038
it's also saving duplicate data, for both stories + nlu -- I think we can probably tackle that in one issue

[2019-07-19 20:28] akelad commented on #4039
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-19 20:28] #4039 closed

[2019-07-19 20:34] akelad commented on #4037
Thanks for raising this issue, @ricwo  will get back to you about it soon.

[2019-07-19 20:36] akelad commented on #4030
@GaoQ1 what kind of different behaviour are you experiencing? Is it from using the mapping policy or something else?

[2019-07-19 20:36] akelad commented on #4041
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-07-19 20:38] akelad commented on #4043
please fill out the bug report template if you think it's a bug, otherwise please ask your question in our [forum](https://forum.rasa.com)

[2019-07-19 20:38] #4043 closed

[2019-07-19 20:38] akelad commented on #4044
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-19 20:38] #4044 closed

[2019-07-19 20:39] akelad commented on #4042
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-07-19 20:39] #4042 closed

[2019-07-19 20:39] akelad commented on #4047
Thanks for raising this issue, @federicotdn  will get back to you about it soon.

[2019-07-19 20:40] akelad commented on #4048
could you provide some more details on what you mean, ideally with examples? I'm not sure I understand your issue

[2019-07-19 20:41] emover commented on #4043
I did

On Fri, Jul 19, 2019 at 4:38 PM Akela Drissner-Schmid <
notifications@github.com> wrote:

--
Thank You,
George Freed
Software and web architect
eMoverSoftware.com
Phone: 2 <917-628-7030>12-537-6759

[2019-07-19 20:43] akelad commented on #4031
you mean custom actions? how would this work? actions are written in a custom actions file and aren't configurable in rasa-x, so that's not something that's possible

[2019-07-19 20:53] akelad commented on #4021
the `PUT` command with the flag `--data-binary @filename.md` should work

[2019-07-20 01:49] cyrilthank commented on #4031
Thank you for your response
Understood the need for this question to go the forum route 
Appreciate your replying as I haven’t seen any response to my queries on forum
I was hoping the enterprise edition may have an UI to expose/upload a new actionsx.py
Is this feasible as a potential feature in future version atleast ?
Asking since I am not completely familiar with the code which powers this piec

[2019-07-20 05:15] im-singh opened #4055 ""online" Import error from rasa_core.training"
My train_online.py file is :
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals
import logging
from rasa_core import utils, train
from rasa_core.training import online
from rasa_core.interpreter import NaturalLanguageInterpreter
logger = logging.getLogger(__name__)

def train_agent(interpreter):
    r

[2019-07-20 14:07] emover opened #4056 "Requested Slot is filling with wrong values in X or SDK mode but its correct in Shell mode"
**Rasa version**:0.11.1

**Rasa X version** (if used & relevant):

**Python version**:36

**Operating system** (windows, osx, ...):windows server 2012

**Issue**:
I've got very strange issue. I have a form that contains among other slots dwellingType_origin and dwellingType_destination. Either of them accept values like Elevator Building, Walkup Building and Private House. When requested slot is d

[2019-07-20 14:21] erohmensing commented on #4041
Can you pin down anything that is different about what works and what doesn't?

[2019-07-20 16:04] RanaMostafaAbdElMohsen commented on #3763
I was working on resolving an issue and was recently resolved. Currently, I am investigating this issue and hopefully there will be a progress in it soon.

[2019-07-20 23:16] rgstephens commented on #4021
Thanks for the quick response.  That was it.

[2019-07-21 05:51] bhavaniravi opened #4058 "Auto Reload actions on editing"
**Auto reloading actions server on edit**:
Currently, every time I edit the actions file I have to stop the `rasa actions` server and restart it. It is kind of overkill since you already built your model and just tweaking with actions.

**Overview of the Solution**:
Sanic server comes with a `DEBUG` mode. We can incorporate it into `rasa run actions` command as an option to enable reloading server

[2019-07-21 06:55] ccelotto commented on #3827
Thank you everyone! I have tested this functionality and it is working as intended.

[2019-07-21 07:34] shahad-bit commented on #2938
I am new to docker and I am facing the same issue, can you please elaborate how did you fix it. I have all my chatbot files along with docker-compose file in one directory where i call docker-compose up, yet i am still getting the same error.

[2019-07-21 13:07] akelad opened #4060 "socket.io channel keeps connections open"
Despite having a persistent tracker store configured, both we (with Sara) and a user experienced increasing memory usage as more users were talking to the bot. It's very likely a bug in the socket.io channel where it keeps connections open for longer than necessary

[2019-07-21 13:07] akelad commented on #4060
@wochinge not sure if you had any other comments