[2020-04-05 19:08] Asma-droid opened #5581 "ModuleNotFoundError: Cannot find class 'LexicalSyntacticFeaturizer' from global namespace. Please check that there is no typo in the class name and that you have imported the class into the global namespace."
Hi all,

I have traied to use the latest rasa version (1.9.5) and i have obtained this error.

ModuleNotFoundError: Cannot find class 'LexicalSyntacticFeaturizer' from global namespace. Please check that there is no typo in the class name and that you have imported the class into the global namespace.

my config file is as follows

language: fr

pipeline:
  - name: WhitespaceTokenizer
  - name: Re

[2020-04-05 19:50] Sekhar-jami commented on #4047
Facing the same issue through the RestInput channel as well. Was anyone able to solve this?

[2020-04-06 01:55] mandaarp opened #5582 "rasa-production_1 | Could not fetch runtime config from server at 'http://rasa-x:5002/api/config?token=token_string'. Exiting."
**Rasa version**: 1.9.5

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant): 0.27.4

**Python version**: 3.7

**Operating system** (windows, osx, ...): osx

**Issue**:
1. Follow steps on https://rasa.com/docs/rasa-x/installation-and-setup/docker-compose-manual/
2. Launch Rasa X web page
3. Click on 'Models'
4. Observe following errors in docker-compse logs:
[code]

[2020-04-06 07:34] wochinge commented on #5462
Makes sense 👍 I'll close this then

[2020-04-06 07:35] #5462 closed

[2020-04-06 07:50] wochinge commented on #5287
@tpinju00 We revisited our Docker image since then. Can you please try if it works now? Since our regular CI builds work I assume this is solved by now.

[2020-04-06 08:23] sara-tagger commented on #5582
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-06 08:23] sara-tagger commented on #5580
Thanks for submitting this feature request 🚀 @tttthomasssss will get back to you about it soon! ✨

[2020-04-06 08:23] sara-tagger commented on #5581
Thanks for raising this issue, @rgstephens will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-06 08:23] sara-tagger commented on #5582
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-06 08:23] sara-tagger commented on #5579
Thanks for the issue, @TyDunn will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-06 08:23] sara-tagger commented on #5580
Thanks for submitting this feature request 🚀 @tmbo will get back to you about it soon! ✨

[2020-04-06 08:23] sara-tagger commented on #5581
Thanks for the issue, @dakshvar22 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-06 08:23] sara-tagger commented on #5579
Thanks for the issue, @rgstephens will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-06 08:23] sara-tagger commented on #5577
Thanks for raising this issue, @chkoss will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-06 08:23] sara-tagger commented on #5576
Thanks for submitting this feature request 🚀 @melindaloubser1 will get back to you about it soon! ✨

[2020-04-06 08:23] sara-tagger commented on #5577
Thanks for the issue, @rctatman will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-06 08:23] sara-tagger commented on #5576
Thanks for submitting this feature request 🚀 @TyDunn will get back to you about it soon! ✨

[2020-04-06 08:34] dakshvar22 commented on #5581
@Asma-droid I can't replicate the error on my side with the same version of Rasa you mentioned. Can you try in a clean virtual environment and see if the issue persists?

[2020-04-06 09:08] wochinge commented on #4606
Rasa X communicates with Rasa Open Source in a different way, so you should be good

No, we haven't done it yet.

[2020-04-06 09:14] degiz commented on #5577
Hey @Naktibalda,

 File "/usr/local/lib/python3.6/site-packages/rasax/community/services/event_service.py", line 359, in _update_conversation_metadata

The stack trace belongs to 0.26.x release of Rasa X. Are you sure you have 0.27? You can check that with `/api/version` endpoint.

If no, please try to upgrade to 0.27, the mentioned error shouldn't exist there. If that still doesn't work, I'll be

[2020-04-06 10:14] tabergma opened #5583 "Update release script to support pre-releases"
**Description of Problem**:
If you want to tag a pre-release the release script does not accept, for example, the version number `1.10.0a1`. It just supports `1.10.0-alpha1`. Also the release script deletes all changelog files and update the `CHANGELOG.rst` file. This should not happen on a pre-release. We want to keep those updates for the next minor release.

**Overview of the Solution**:
Add su

[2020-04-06 10:16] Naktibalda commented on #5577
Response of `/api/version`:
[code]

Fresh stacktraces:
[code]

I used `0.27.3` initially, but I upgraded to `0.27.4` on Friday, 3rd of April by setting `tag: "0.27.4"` in values.yml and running `helm upgrade rasa-x-1585756598 rasa-x/rasa-x --namespace rasa-koronavirusas --values values.yml`

Before raising this issue, I asked in the forum and there is a record about upgrade: https://forum.rasa.com

[2020-04-06 10:54] JEM-Mosig commented on #5454
We could also have `rasa init` ask the user a few things ("setup wizard"). E.g. "what language is your data in?".

[2020-04-06 12:17] dakshvar22 commented on #5548
@tttthomasssss The current results above don't give a lot of motivation to include LSTM as a configurable option IMO. Do you have any results with pipelines that don't have ConveRT featurizer in them? Curious if LSTM is better for other feature combination.

[2020-04-06 12:18] degiz commented on #5577
hey @Naktibalda

ok, thanks for the logs! I see the issue now.

The error come from `event-service` app from `values.yaml`. It should have the same tag `0.27.4` as the `rasax`.
Actually, that should have happened automatically after you've updated tag for `rasax`, but we'll fix that later.

Also, to be on the safe side, please update the tag for `nginx` as well, it should be `0.27.4`.

[2020-04-06 13:09] tttthomasssss commented on #5548
Results with sparse feature have been substantially worse. I haven't run many experiments with GloVe, though I can certainly give it a go.

[2020-04-06 14:34] wochinge commented on #5582
@mandaarp Mhm, that seems some tokens weren't set correctly. Did you specify `RASA_TOKEN` and `RASA_X_TOKEN` and configure the `environments.yml` correctly?

[2020-04-06 14:37] wochinge commented on #5425
mhm, could be 🤔
Does this guide help? https://forum.rasa.com/t/tool-guide-unofficial-rasax-quick-install-script-for-a-pure-windows-machine/25938

[2020-04-06 15:32] Wing-e7 commented on #5551
@sara-tagger Any update on this ?

[2020-04-06 15:46] Naktibalda commented on #5577
Thank you, upgrading eventService fixed the issue.

I added these lines to values.yaml:
[code]

[2020-04-06 15:46] #5577 closed

[2020-04-06 16:29] tabergma commented on #3765
@nbeuchat @BeWe11 We have a first working version of the composite entity feature ready. If you are still interested, I can share the feature with you so that you can test it before the actual release. Just let me know. Thanks.

[2020-04-06 16:42] jamesmf commented on #4909
https://rasa.com/docs/rasa/user-guide/command-line-interface/#evaluating-a-model-on-test-data

vs

https://rasa.com/docs/rasa/user-guide/testing-your-assistant/#evaluating-an-nlu-model

one says `rasa test nlu [options]` the other says `rasa test [options] nlu` and the latter is wrong I think.

[2020-04-06 16:48] nbeuchat commented on #3765
Thanks for the update @tabergma ! I'd love to check it out :-)

[2020-04-06 17:11] mandaarp commented on #5582
Here is my environments.yml file (per the posted documentation)...
[code]

[2020-04-06 20:03] ortsaCniveK commented on #5579
Add spaces between `-` and `text` for `utter_how_can_i_help` and `utter_ask_location`.  You can check any errors in your yaml with the provided links in the error message, or found [here](http://www.yamllint.com/).

This looks like it might be an older example bot -- I'd recommend using the examples in the [repo itself](https://github.com/RasaHQ/rasa/tree/master/examples).

Just as well -- I don't

[2020-04-07 06:11] zucher opened #5585 "Rasa can't recover an old model version and have to ignore it"
**Rasa version**:
1.9.5

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:
3.6
**Operating system** (windows, osx, ...):
rasa docker image

**Issue**:
With an older install model version created with 1.7.4, Rasa 1.9.5 try to load model already present into the existing volume and failed definitively, instead of ignoring the incompatible model

[2020-04-07 06:39] Nitkap commented on #5579
Thanks a lot for solving my issue and providing me with training examples .

On Tue, Apr 7, 2020 at 1:34 AM Kevin Castro <notifications@github.com>
wrote:

[2020-04-07 09:01] #5426 closed

[2020-04-07 10:07] scd10 commented on #5381
I have the same problem here. Editor has no response when inputing Chinese, but copy and paste Chinese characters still work.
Server OS: Centos 7
Rasa: 1.9.5
Rasa-x: 0.27.2
Client browser: Chrome and Safari

[2020-04-07 10:24] BeWe11 commented on #3765
I am interested as well, @tabergma !

[2020-04-07 11:39] federicotdn commented on #5257
That looks great, I like the idea of reworking the `Agent` and `Processor` classes into `Assistant`, while at the same time making the boundaries between all classes better defined. Currently `Agent` and `Processor` are very tightly related and sometimes it's difficult to see what each of them individually is meant to do. I think these changes also give us the opportunity to improve our public Pyt

[2020-04-07 11:46] dakshvar22 commented on #5555
@lomarceau Can you give some details about your training data? How big is it in terms of total number of examples and intents.

Additionally can you try the following config -
[code]
You may change `weight_sparsity` to `0` in the above configuration and try that as well.

[2020-04-07 12:00] sara-tagger commented on #5585
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-07 13:08] melindaloubser1 commented on #5576
This doesn't address everything you've mentioned, but the full retrieval intent name was made available in the tracker in 1.9 - see https://github.com/RasaHQ/rasa/pull/5432.

[2020-04-07 13:59] pixpack commented on #5576
I'm working on this issue right now in my own bot. For now I've found a workaround solution to make both fallabacks work, but unfortunately you can't use buttons with / - prefixed intents. I'm slowly working towards a complete solution so I might share the code soon.

[2020-04-07 14:26] avinash9008 commented on #400
@pvagare ---> multi models and multi agent support for rasa in single deployment

Sorry for this issue. I haven't gone through all documentation.
I got the solution : https://rasa-nlu.readthedocs.io/en/stable/http.html#section-http-config
I am closing issue.

hi ... pvagare i am also facing same issue  can you please give solution link the
above link i am not able to open that you have mentioned

[2020-04-07 18:02] melindaloubser1 opened #5587 "invalid file specified via `--nlu` gives misleading error message"
**Rasa version**: 1.9.5

**Python version**: 3.7

**Operating system** (windows, osx, ...): macOS

**Issue**:

If the file passed to `rasa train nlu --nlu nlu_data.md` is not in the right format, Rasa returns a misleading error message, `No NLU data given. Please provide NLU data in order to train a Rasa NLU model using the '--nlu' argument.` It should give an error about the format of the file in

[2020-04-07 18:52] #5579 closed

[2020-04-07 20:42] tttthomasssss commented on #5580
Hi @tomgun132, thanks very much for submitting this issue as multilingual support is very important to us.

Let me know if you have the time to create a PR yourself for this as it would be a really cool feature to add.

[2020-04-08 04:13] guneet999 commented on #2714
### ### while installing rasa_core using pip install rasa_core getting the error.

ERROR: tensorflow-cpu 1.15.0 has requirement tensorboard<1.16.0,>=1.15.0, but you'll have tensorboard 1.13.1 which is incompatible.
ERROR: rasa 1.7.4 has requirement cloudpickle~=1.2.0, but you'll have cloudpickle 0.6.1 which is incompatible.
ERROR: rasa 1.7.4 has requirement fbmessenger~=6.0, but you'll have fbmess

[2020-04-08 05:10] IgNoRaNt23 opened #5588 "Default message if action server throws an exception"
Hi, when a custom action crashes unexpectedly the user is usually left alone with no response from the bot. While it is of course best to have a specific behaviour for every exception, some exceptions even surprise us the developers from time to time. It would be nice to have a general error text, that can be displayed to the user.

**Overview of the Solution**: Option 1: Add it somewhere here [ht

[2020-04-08 06:00] sara-tagger commented on #5588
Thanks for submitting this feature request 🚀 @tmbo will get back to you about it soon! ✨

[2020-04-08 08:31] chkoss commented on #5551
Hi @Wing-e7, sorry for the late reply. Can you post the content of your `endpoints.yml` file please? This seems to be the file that cannot be parsed properly.

[2020-04-08 08:46] jianqianzhou commented on #4397
There have any docs or examples to start bert pruning？

[2020-04-08 14:22] #5010 closed

[2020-04-09 01:54] ortsaCniveK commented on #5576
@melindaloubser1 That should allow for me to use the `tracker.last_message` property for the fallback policy, though it would still be nice to be able to use the full `intent/response` name in some way

[2020-04-09 02:49] tomgun132 commented on #5580
Hi @tttthomasssss, Thanks for replying.

I've seen the code of `RegexFeaturizer` on how it process the lookup tables into regex patterns and how it matches the patterns to create feature vector out of the regex patterns. I one line that affect the process for Japanese language.

On `regex_featurizer.py`: https://github.com/RasaHQ/rasa/blob/master/rasa/nlu/featurizers/sparse_featurizer/regex_featur

[2020-04-09 03:59] roniemartinez opened #5602 "`rasa train` cannot detect changes on lookup tables"
**Rasa version**: Rasa 1.9.5

**Python version**: Python 3.7.7

**Operating system** (windows, osx, ...): OSX

**Issue**:
When adding entries in the contents of the lookup table which is located on a separate file, as per the new standards, running `rasa train` will not detect these changes and outputs that you can reuse the existing model, instead. After verifying it through the `rasa shell nlu`,

[2020-04-09 06:00] sara-tagger commented on #5602
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-09 06:17] parikshit-ai commented on #5373
@dakshvar22  I have tried `pip install rasa[convert]` but I am getting following error ` ERROR: Could not find a version that satisfies the requirement tensorflow_text==2.1.0rc0; extra == "convert" or extra == "full" (from rasa[convert]) (from versions: none)
ERROR: No matching distribution found for tensorflow_text==2.1.0rc0; extra == "convert" or extra == "full" (from rasa[convert])`

[2020-04-09 08:42] Wing-e7 commented on #5551
action_endpoint:
  url: "http://localhost:5805/webhook"

Everything else commented out

[2020-04-09 09:19] wochinge commented on #5582
Are `credentials` and `endpoints.yml` present and readable by Rasa X? 🤔  Best post the output of `ls -al` in the your Rasa X installation directory.

[2020-04-09 09:34] akelad opened #5604 "Throw a warning for ResponseSelector if intent classifier isn't present"
Right now you can train a model with just a ResponseSelector present in your pipeline, e.g.:

 pipeline:

*   name: WhitespaceTokenizer
*   name: RegexFeaturizer
*   name: LexicalSyntacticFeaturizer
*   name: CountVectorsFeaturizer
*   name: CountVectorsFeaturizer
     analyzer: char_wb
     min_ngram: 1
     max_ngram: 4
*   name: EntitySynonymMapper
*   name: ResponseSelector
     epochs: 100

b

[2020-04-09 12:53] #5007 closed

[2020-04-09 14:10] amirva commented on #4479
@erohmensing , any update on this bug? I are facing same issue and we have to shot down bot for users. We have also reported it in Rasa community:

https://forum.rasa.com/t/problem-with-dispatcher-utter-message/22396/9

[2020-04-09 14:32] TyDunn commented on #4518
Hi @Ben-Mark. As long as I upload a model with a unique name to Rasa X, I am able to upload it with any name. Is that not the case for you?

Why would you want to override an existing model with the same name?

[2020-04-09 17:02] rgstephens opened #5610 "ease debugging of augmented stories"
**Description of Problem**: There is a `-~~persist-nlu-data` option which saves the NLU data with the model. This request is for a `~~-persist-core-data` or similar option to save the core stories with the model. This would be useful for build workflows that store a release in a separate release artifacts store.

**Definition of Done**:

[2020-04-09 22:14] guardcolombia commented on #5398
same error

[2020-04-10 00:34] mandaarp commented on #5582
Here is the output of rasa x installation directory:
[code]

[2020-04-10 09:50] #4653 closed

[2020-04-10 13:18] Wing-e7 commented on #3638
Removing the / didnt solve the issue for me. help urgent !!

[2020-04-10 13:51] somumu opened #5613 "Bot is generating same output multiple times"
Hello,
I am working on a multi lingual bot. I made english, hindi bot in older version of rasa. I am training the same bot for bengali and arabic language but on newer version(Rasa 1.9.5).

For bengali and arabic bot I am facing an issue under which when I give an input to bot it prints same output multiple times. For resolving this issue I tried to make changes in stories.md file and also tried t

[2020-04-10 15:31] nbeuchat commented on #4606
Just bumped into the same issue with `rasa==1.9.5`. I just wanted to use the console locally for testing (we usually only use the Facebook channel).

I had to override `DEFAULT_STREAM_READING_TIMEOUT_IN_SECONDS` in the rasa code itself (which is ok locally but obviously not good).

It would be fantastic to be able to set `DEFAULT_STREAM_READING_TIMEOUT_IN_SECONDS` (or any other constant for that m

[2020-04-11 02:02] liorskaler opened #5615 "Not syncing with Rasa X"
**Rasa version**: 1.9.5

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant): Lastest version

**Python version**:

**Operating system** (windows, osx, ...): OS Catalina Mac

**Issue**:

My NLU file is not updating in Rasa X properly.  I have an intent with many values in the file on github and in Rasa X this intent has zero values.  Why is it not updating? Thanks.

[2020-04-11 11:04] babaralishah commented on #157
Hi All!
Getting this error since a week, please help...
from . import __check_build  # noqa: F401
ImportError: cannot import name '__check_build' from 'sklearn'

[2020-04-11 17:22] Wing-e7 commented on #5551
@chkoss Help now..!!

[2020-04-12 07:34] #5035 closed

[2020-04-12 13:34] #5043 closed

[2020-04-12 21:40] welkin91 commented on #4202
the issue still exist!

[2020-04-13 06:03] HsGaurav commented on #4782
okay, guys here is the simple solution that I found out with it.
In Windows, your TensorFlow version would be installed on the python that you have available for all users (ie. which is in system variable PATH not in user variable PATH in environment variable section). So make a new environment with something like virtualenv venv which will use your system variable PATH python, and then try instal

[2020-04-13 12:44] neumann-d commented on #4518
Hi @TyDunn. Overriding an existing model would allow easier interaction with Rasa X and other services (plain Rasa servers etc.) via Rasa X API.

Example for override: You have a running Rasa instance with a model `myAwesomeModel` loaded. Then you want to make some improvements to that model in Rasa X. You could just upload `myAwesomeModel` to Rasa X, improve it (train it in Rasa X) and fetch `myA

[2020-04-13 13:56] dakshvar22 opened #5617 "Tensorboard log files are created during prediction as well"
**Rasa version**: 1.9.5

**Python version**: 3.6.5

**Operating system** (windows, osx, ...): MacOS

**Issue**: Since the call to `self._set_up_tensorboard_writer(tensorboard_log_level, tensorboard_log_dir)` is made in the constructor of `RasaModel` class, these files are created during prediction time as well, for example when `rasa test` is run.

**Command or request that led to error**: `rasa t

[2020-04-13 14:34] 3NFBAGDU opened #5618 "Cannot train DIET classifier with Bert '"
**Rasa version**: 1.9.1

**Rasa SDK version**  not used

**Rasa X version** not used

**Python version**: 3.6.9

**Operating system** ubuntu 18.04

**Issue**: I followed this instruction (link: https://rasa.com/docs/rasa/master/nlu/components/#hftransformersnlp) to fed rasa's DIET classifier with BERT features and i got  the following error.

**Error (including full traceback)**:
[code]

**Command

[2020-04-13 18:50] tatianafrank opened #5624 "Rasa X can't find files in subdirectory"
**Rasa version**:
1.9.5
**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):
0.27.4
**Python version**:
3.7.0
**Operating system** (windows, osx, ...):
osx
**Issue**:
Ive got Rasa X running locally on Kuberneted and Ive hooked it up to my GIthub repo containing my rasa open source bot code but the data is not being downloaded to Rasa X. I think the issue is that the

[2020-04-14 05:12] azizHakim opened #5625 "AttributeError: 'NoneType' object has no attribute 'event_broker'"
**Rasa version**: 1.9.5, 1.8.1

**Python version**:3.7.6

**Operating system** : windows 10

**Issue**:I am trying to run my bot on cmdline but getting this error:

`AttributeError: 'NoneType' object has no attribute 'event_broker'`

I tried both rasa 1.9.5 and 1.8.1, same error occured

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2020-04-14 06:00] sara-tagger commented on #5625
Thanks for raising this issue, @dakshvar22 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-14 06:00] sara-tagger commented on #5624
Thanks for raising this issue, @TyDunn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-14 06:00] sara-tagger commented on #5618
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-14 06:00] sara-tagger commented on #5615
Thanks for the issue, @tabergma will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-14 06:00] sara-tagger commented on #5613
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-14 07:26] krtrimaiq commented on #2308
Please check the fall back actions in rasa documentation

[2020-04-14 07:42] degiz commented on #5615
Hey @liorskaler, sorry to hear you have issues.

What's your current setup? How did you deploy Rasa X?

[2020-04-14 08:11] erohmensing commented on #5613
Hi @somumu, this sounds less like a bug and more of a usage error. Please open a thread on the [forum](forum.rasa.com) and we'll be happy to help. In cases like this, its usually helpful to give the output of `rasa shell --debug` where the repetitive behavior is happening.

[2020-04-14 08:11] #5613 closed

[2020-04-14 08:25] #4561 closed

[2020-04-14 09:05] TyDunn commented on #5624
Hi @tatianafrank. What are you intending to use Rasa X for given that you have deploy it on your Mac?

Yeah, in order to use Rasa X, your files need to conform to the default Rasa project layout: https://rasa.com/docs/rasa-x/installation-and-setup/integrated-version-control/#project-layout

[2020-04-14 09:40] #5587 closed

[2020-04-14 10:33] TyDunn commented on #4518
Hi @neumann-d. I have a couple more questions to understand how you are using Rasa X 😄

Override: what advantages do you see in training a model in Rasa X instead of training it in a CI/CD pipeline (e.g. improve `myAwesomeModel` in Rasa X --> push changes in Rasa X UI to remote Git repo --> triggers a CI/CD pipeline that trains the model, naming it `myAwesomeModel`, and automatically uploads `myAw

[2020-04-14 10:53] neumann-d commented on #4518
Hi @TyDunn.

Normally when I use Rasa X, then I train it serveral times in Rasa X to directly test the changes. The new Git integration feature would be also a nice way to apply changes to another service, right. But I think not all users want to setup an additional Git Repo and implementing the option to override/renaming should not be that big deal.

Rasa X needs a lot of resources to boot up/ru

[2020-04-14 11:34] Ben-Mark commented on #4518
@TyDunn
Every model I train via rasa-x is saved in s3 (unfortunately with another node service hack that manages the i/o changes on the machine's disk since the s3 storage feature is not working, added a different issue for that.)

The problem is that I need to go all the way to s3 and to rename the models , simply to give them meaningful names.

that's a real pain because all the trained models v

[2020-04-14 11:39] Ben-Mark commented on #5564
@KarthiAru

Have you used the rasa/rasa official image version?
or are you working with a different version.

because clearly in the 1.7.0 version its not working

if you're working with a newer version, please upgrade the rasa/rasa image version so other can enjoy that super important feature.

[2020-04-14 12:53] chkoss commented on #5551
Is this the exact way it is written in your file? Looks like you are missing the indentation, it should be (note the two spaces in front of the url bit):
[code]
If you have indentation in your file and just didn't post it formatted here, make sure you are using spaces to indent and not tabs as YAML does not support tab indentation. Online yaml validation tools don't always pick up on such indentat

[2020-04-14 14:20] kunwarshivam commented on #4962
not stale

[2020-04-14 14:28] dakshvar22 commented on #5528
Don’t think this can be solved right now without implementing https://github.com/RasaHQ/rasa/issues/5510 because
1) It doesn’t make sense to process responses through `LexicalSyntacticFeaturizer`
2) Inside `ResponseSelector` there is no way of finding which feature set corresponds to the ones coming from `LexicalSyntacticFeaturizer` for text, so that they can be left out.

[2020-04-14 17:36] melindaloubser1 commented on #5576
@ortsaCniveK you mean use `intent/response` name in a story?

[2020-04-14 17:43] ortsaCniveK commented on #5576
No, like using the intent/response name as a button payload.  I have some FAQ content I'd like to have available as help menus

[2020-04-14 19:49] dliedke commented on #5567
Exactly same issue happening with Windows 10 and latest Python 3.8.2 (04/14/2020). Only Python 3.7.7 works fine.

[2020-04-14 21:19] #5489 closed

[2020-04-14 21:59] Ghostvv commented on #5528
@dakshvar22 I think it even doesn't make sense to have sentence level features in `LexicalSyntacticFeaturizer`

[2020-04-15 00:53] liorskaler commented on #5615
Hey @degiz, thanks for the reply.

Deployed to an iphone app as a docker through a VPS server using the Kubernetes cluster and deploy script.

[2020-04-15 08:10] IgNoRaNt23 commented on #4606
Got the same problem when I start a bot in rest-mode.

[2020-04-15 08:22] KamyarGhajar opened #5628 "Handle large NLU markdown files"
**Description of Problem**:
Hey,
First of all, thanks for the great Rasa system that you have built. Actually, we have a large dataset to train the NLU model and it seems it doesn't handle a large file especially when it comes to efficiently consume memory as our generated markdown data is about 3GB and my machine has 32GB of memory (plus 32GB swap) and high-end processing power. It consumes so mu

[2020-04-15 08:35] cristianmtr opened #5630 "do not deprecate executeConversationAction in HTTP API"
**Description of Problem**:

I noticed in the documentation on the HTTP API that you are planning to deprecate the `executeConversationAction` endpoint.

[https://rasa.com/docs/rasa/api/http-api/#operation/executeConversationAction](https://rasa.com/docs/rasa/api/http-api/#operation/executeConversationAction)

**Overview of the Solution**:

Please consider maintaining this, as we use in several sc

[2020-04-15 09:09] amn41 commented on #5628
Hi @KamyarGhajar ! I'm curious where this data comes from. How many intents and entities do you have, and how did you get 3Gb of text annotated?

I suspect that you used a script to generate all this training data. I really don't think that generating 3Gb of synthetic examples is a good idea.

[2020-04-15 09:19] KamyarGhajar commented on #5628
Hi, @amn41 and thanks for the response. Yes, I have mentioned that the data is generated. The data is generated from different address representation types on map data for address geocoding (parse address in conversations for map search) so all of the places should have been met in the data as the model should put out the tags such as restaurant, neighborhood, etc.and intents such as highway searc

[2020-04-15 09:58] amn41 commented on #5628
ok, got it. I think it's a much better approach to use [lookup tables](https://rasa.com/docs/rasa/nlu/training-data-format/#id2) than to generate all possible utterances

[2020-04-15 10:35] KamyarGhajar commented on #5628
@amn41 is it okay to use lookup tables when it is possible for instance we may have a particular name in that table for a restaurant that is the same as the name of a square or neighborhood that sometimes the name should be tagged as a restaurant and sometimes a neighborhood or metro station? Does it work that way as I guess lookup tables are not getting part in the training pipeline at all?

[2020-04-15 11:05] erohmensing opened #5632 "make all event types descriptive in debug logs"
Action 'feedback_form' ended with events '[BotUttered('This is my message'),

 {"elements": null, "quick_replies": null, "buttons": null, "attachment": null, "image": null, "custom": null}

, {}, 1586944499.440226), <rasa.core.events.SlotSet object at 0x1a37f2db90>, <rasa.core.events.Form object at 0x1a37f2d9d0>, <rasa.core.events.SlotSet object at 0x1a37f2d310>]'.

The `BotUttered` event here is

[2020-04-15 11:25] federicotdn commented on #5533
Implemented in https://github.com/RasaHQ/rasa/pull/5538

[2020-04-15 11:25] #5533 closed

[2020-04-15 11:47] amn41 commented on #5628
yes that should work, the lookup tables are used as extra information by the model, so you can have entries in your lookup table that could appear in multiple entities

[2020-04-15 12:00] sara-tagger commented on #5630
Thanks for submitting this feature request 🚀 @alwx will get back to you about it soon! ✨

[2020-04-15 12:41] msamogh opened #5634 "Slash command does not work for multiple intents"
**Rasa version**: 1.6.2

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:
For instance, Rasa does not detect the entity mapping `{"city": "X"}` when I type`/greet+inform{"city": "X"}` into the shell. Instead, it asks me to mark the entities using `[value](type)` notation.

[2020-04-15 13:08] erohmensing commented on #5634
This sounds like interactive learning -- does it work as expected in `shell` and/or the REST channel? Also, hi!

[2020-04-15 13:08] erohmensing commented on #5634
and to clarify, does it not work with multiple intents at all, or just with entities attached? 🤔

[2020-04-15 13:58] msamogh commented on #5634
Yes, you're right. It works fine in shell. The problem is only in interactive learning.

Just with entities attached. Once I label the entities once again, for instance, the intent-combination shows up fine in the tracker state.

And, hello there!

[2020-04-15 14:29] koaning opened #5637 "Easier to Post Version Numbers on Github Issues"
**Description of Problem**:

When I write a bug request, I gotta do a whole lot of accounting.

![image](https://user-images.githubusercontent.com/1019791/79348658-918aac00-7f35-11ea-8fa1-f6341e49d8a7.png)

We need this, but this is effort from the user. And techies, they don't like to do manual labor.

**Overview of the Solution**:

I propose that we add a verbose flag to the version command that

[2020-04-15 14:37] koaning opened #5638 "DIET breaks with empty spaCy model"
In spaCy it is possible to create a model to detect entities, without the model outputting any vectors. If the model is then included as a featurizer in the pipeline by accident then it currently breaks the DIET classifier.

[code]

**Issue**:

#### basic-rules.jsonl

[code]

#### mkmodel.py

[code]

### config.yml that does cause the error

[code]

#### config.yml that does not cause error

[code

[2020-04-15 14:38] koaning commented on #5638
It also seems to work fine when using `EmbeddingIntentClassifier`. So the issue seems to be only happening on the `DIETClassifier`.

[2020-04-15 15:50] zembunia commented on #5376
Hello,
I faced a similar problem.
I have trained 2 models: model1.tar.gz and model2.tar.gz
If I start the HTTP server with the following command:
`rasa run --enable-api --model model1.tar.gz --port 5555`
I get the response to the server status request (`requests.get("http://localhost:5555/status").text`) as:
`{"model_file":"model1.tar.gz","fingerprint":{},"num_active_training_jobs":0}`
When I make

[2020-04-15 16:20] vishnunahak commented on #4048
curl -X POST \
  http://localhost:5005/model/train \
  -H 'Accept-Encoding: gzip, deflate' \
  -H 'Content-Type: application/json' \
  -d '{
"config": "language: en\npipeline:\n - name: WhitespaceTokenizer\n - name: RegexFeaturizer\n - name: CRFEntityExtractor\n - name: EntitySynonymMapper\n - name: CountVectorsFeaturizer\n - name: EmbeddingIntentClassifier\npolicies:\n - name: MemoizationPolicy\n

[2020-04-15 17:55] ortsaCniveK opened #5640 "Need docs on Facebook Messenger response template keys"
**Description of Problem**:
Had to add a Facebook messenger channel integration into a bot I spun up and found the Facebook Messenger docs lacking a bit especially on the special response template keys `quick_replies` and `elements`; I had to read through the Facebook channel source to figure out what was allowed/disallowed.

**Overview of the Solution**:
FB Messenger docs updated with additional

[2020-04-15 18:11] kevinthemself opened #5641 "Change automatic session behavior in Rasa shell"
**Description of Problem**:

**Original Problem:** As mentioned [here](https://forum.rasa.com/t/chatroom-let-the-bot-start-the-conversation/2738/13?u=nivek), it can be confusing to start `rasa shell` and not see the typical welcome messages you might see on channels that support simulating the bot starting the conversation.

**Update:** Documentation changes to address original issue above have al

[2020-04-15 18:45] lluchini commented on #5641
I don't think it's necessary if your chat plugin/room sends the payload like 'greet' and you train RASA to respond adequately this feature is innocuous and possibly harmful.

I say harmful because a lot of developers use the session start to bill the use of the bot, and if it automatically starts a session I'll charge the client even if the users didn't use the bot.

At `rasa shell`  you just have

[2020-04-15 19:04] ortsaCniveK commented on #5641
Wouldn't you just handle being in a local/dev/staging environment in your action server to determine if you need to bill usage? If you're developing the bot locally without that check you're still billing you client. It's harmful insofar as you're using the session start to bill clients, which is also not an out-of-the-box use case for the session start action to begin with.

For new users of Rasa

[2020-04-15 19:11] lluchini commented on #5641
The billing was only an example, who knows how many other uses will be broken changing this behavior?

I think this is necessary and implicit before start dealing with defaults actions. Perhaps an improvement in the documentation about the session start event would suffice.

[2020-04-15 19:22] ortsaCniveK commented on #5641
`action_session_start` is still called for the first user message in `rasa shell`; the suggestion simply removes the need to explicitly send the `/session_start` message.

Overriding any default action leaves the onus of side effects on the developers and the default `action_session_start` simply copies over slot values, so I'm still failing to understand how this is suggestion is harmful for anyo

[2020-04-15 22:00] tatianafrank commented on #5624
Thanks for the answer! It's deployed on my mac because I'm still researching if our company wants to use Rasa or not.

[2020-04-15 23:31] pandaxar opened #5642 "Story's Tree Flow Bug"
**Rasa version**: 1.9.5 **Rasa SDK version** (if used & relevant): 1.9.0 **Rasa X version** (if used & relevant): 0.27.4 **Python version**: 3.7.6 **Operating system** (windows, osx, ...): Windows 10 **Issue**: Looks like the longer the entity extracted the more Rasa X UI can't display the tree flow correctly [<span class="image-wrap" style="">![](https://user-images.githubusercontent.com/40818959

[2020-04-16 05:45] michiboo commented on #4605
@erohmensing  Hi yes, sorry for the delay I will open a PR soon

[2020-04-16 06:00] sara-tagger commented on #5641
Thanks for submitting this feature request 🚀 @melindaloubser1 will get back to you about it soon! ✨

[2020-04-16 06:00] sara-tagger commented on #5642
Thanks for raising this issue, @TyDunn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-16 06:00] sara-tagger commented on #5640
Thanks for submitting this feature request 🚀 @degiz will get back to you about it soon! ✨

[2020-04-16 08:20] degiz commented on #5615
Hey @liorskaler

I'd suppose you're trying to use the git integration and something doesn't work.

You need to make sure that you follow all the steps from [this](https://rasa.com/docs/rasa-x/installation-and-setup/integrated-version-control/) doc.

If that doesn't work, then please check the logs from "rasax" container. There must be something about the git integration.

[2020-04-16 09:27] cristianmtr opened #5645 "prediction fails after resuming bot"
**Rasa version**: Rasa 1.9.5

**Rasa SDK version** (if used & relevant): 1.9.0

**Rasa X version** (if used & relevant): n/a

**Python version**: 3.6

**Operating system** (windows, osx, ...): Linux Ubuntu

**Issue**:

1. bot is paused in order for customer support to talk with customer
2. bot is resumed via the execute action HTTP endpoint
3. intent is triggered on behalf of user through custom e

[2020-04-16 10:19] TyDunn commented on #5642
Hi @pandaxar. Thanks for reporting this bug. I am unable to reproduce this in Rasa X 0.27.4. Can you please share an example story that you find does this?

[2020-04-16 10:31] TyDunn commented on #5624
@tatianafrank Gotcha. It's pretty cool that you got it setup on a mac. We usually recommend setting it up in "server mode" (e.g. on a linux machine that is running all the time), so that Rasa X can always capture conversations with your users, and you can turn those conversations into training data

[2020-04-16 11:59] dakshvar22 commented on #5373
@parikshit-ai What OS are you on? `tensorflow-text` is not available for windows yet.

[2020-04-16 12:00] sara-tagger commented on #5645
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-16 13:40] degiz commented on #5640
Hey @ortsaCniveK

Great that you could connect the bot the Facebook Messenger!

Since you've just identified the issues with the current docs, maybe you can propose a PR with all the updated you've mentioned?

[2020-04-16 14:26] pandaxar commented on #5642
Hi @TyDunn , Gladly ! I think this an issue related to the front-end of Rasa X .So this issue is reproducible if you generate a story in Rasa X using form related stories like this one :

## happy story periode_collecte_idees-Idea exist

* greet
  - action_fetch_period
  - slot{"period":"pre"}
  - utter_greet_user_pre
* affirm_idea
  - idea_form
  - form{"name": "idea_form"}
  - form{"name": null}

[2020-04-16 14:44] TyDunn commented on #5642
@pandaxar Thanks for the quick response and the example. I see what you are saying now and was able to reproduce the bug in Rasa X 0.24.7. I am placing it in the inbox of one of our engineering squads to squash 👍

[2020-04-16 14:56] liorskaler commented on #5615
Hey @degiz

There is no errors on git integration in the logs, it has been integrated successfully but it is not automatically pulling the latest source as per the Rasa documentation.

[2020-04-16 15:04] benos opened #5654 "Edited message on telegram creates infinite loop"
**Rasa version**: 1.9.5

**Rasa SDK version** (if used & relevant): n/a

**Rasa X version** (if used & relevant): n/a

**Python version**: unsure. using the Docker image rasa/rasa:1.9.5-full

**Operating system** (windows, osx, ...): Docker on OSX, using rasa/rasa:1.9.5-full

**Issue**:

When a user edits a message on Telegram, this creates a 500 error on rasa, because the payload contains "edited

[2020-04-16 15:14] degiz commented on #5615
@ricwo could you please suggest the best way to debug that?

[2020-04-16 20:49] lluchini commented on #3846
@dakshvar22
I was looking at the changes, they are simple, if you guys want, I can take from where he left.

I just don't know the policies about taking from where someone stoped... Can I just copy his changes, fix and submit a PR?

[2020-04-16 23:43] wavymazy opened #5657 "Type error in facebook.py"
Hi,

I tried deploying the bot with Facebook and one error appears when I start a form:

TypeError: pop() takes at most 1 argument (2 given) (in rasa/core/channels/facebook.py : line 229).

I did a workaround but I thought you guys might want to take a look at this.

Cheers.

[2020-04-17 01:18] #5028 closed

[2020-04-17 02:48] Matthewli623 opened #5658 "action restart is not working"
**Rasa version**:Rasa 1.8.0

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:3.7

**Operating system** (windows, osx, ...):windows

**Issue**:Restart action is not working.when I type /restart ,there is an error .I have already added action_restart in actions.Thank you

**Error (including full traceback)**:
[code]
[code]
**Command or request

[2020-04-17 06:00] sara-tagger commented on #5658
Thanks for the issue, @tmbo will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-17 06:00] sara-tagger commented on #5657
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-17 06:00] sara-tagger commented on #5654
Thanks for raising this issue, @JustinaPetr will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-17 08:19] tommykoctur commented on #5405
Hi, I have tried it in rasa 1.9.5 and 1.9.6 but it is still producing different model hashes .

Please see:

To clean rasa install:
Folder one: rasa init. And added random seed 999 , then rasa train
Folder two: rasa init, And added random seed 999 And split training data into 2 files (nlu and stories each to 2 files) then rasa train.

Model sha1 hashes are different:
Folder1:
528b366df341bf2c15718

[2020-04-17 08:27] akelad commented on #5405
@tommykoctur are you getting consistent results though? Could you share the structure of your data directory?

[2020-04-17 09:20] akelad opened #5661 "Rename DucklingHTTPExtractor to DucklingEntityExtractor"
The duckling component is called `DucklingHTTPExtractor` for legacy reasons - it's hard to remember it's name and the case sensitivity makes it even more confusing. We should rename it to `DucklingEntityExtractor`

[2020-04-17 09:52] tabergma commented on #5657
Thanks for raising the issue @wavymazy. What is your current workaround?

[2020-04-17 09:57] wochinge commented on #5128
@tmbo What's the state of this? Anything we can do to help?

[2020-04-17 10:12] tmbo commented on #5128
no, but I'll block something next week monday - thanks for the reminder :+1:

[2020-04-17 10:55] unltdnetworx opened #5662 "private telegram bot"
**Description of Problem**:
At the moment everbody can find the chatbot and talk to it. This is okay, as long as nothing is controlled by the bot. Think of a voice-/chat-assistant for a smarthome. "Open the door..."

**Overview of the Solution**:
One should optionaly be able to filter the chat-ID of the bot and only give response, if the ID is already known. Maybe hardcoded in the credentials-file

[2020-04-17 10:58] tommykoctur commented on #5405
Hi,
No not consistent results.
Here is my data folder1:
ls -l data/
total 8
-rw-r--r-- 1 tommy tommy 671 Apr 17 10:01 nlu.md
-rw-r--r-- 1 tommy tommy 407 Apr 17 10:01 stories.md

Here is my data folder2:
ls -l data/
total 16
-rw-r--r-- 1 tommy tommy 220 Apr 17 10:03 nlu1.md
-rw-r--r-- 1 tommy tommy 451 Apr 17 10:03 nlu.md
-rw-r--r-- 1 tommy tommy 217 Apr 17 10:03 stories.md
-rw-r--r-- 1 tommy tomm

[2020-04-17 12:00] sara-tagger commented on #5662
Thanks for submitting this feature request 🚀 @Ghostvv will get back to you about it soon! ✨

[2020-04-17 12:26] akelad commented on #5405
oh wait - are you saying that the results on the two separate folders aren't the same? That's to be expected, the data has a different structure and therefore may get read in a different order. Results should only be the same on two separate runs on the same folder.

[2020-04-17 12:46] parikshit-ai commented on #5373
yes I am on windows I got it that is why now I am using wsl now its working fine

[2020-04-17 13:05] degiz commented on #5625
Hey @azizHakim

Few questions:
- What command are you using?
- Are you using clean venv to run Rasa?

[2020-04-17 13:09] wochinge commented on #5521
hey @raktes , not sure if you saw, but we added it to our todo list. Thanks for bringing it up!

[2020-04-17 13:19] wochinge commented on #5610
@rgstephens Interesting idea! I see the goal and the usefulness, but I'm not sure sure if this is within the scope of Rasa Open Source. Whoever trains a model using Rasa X, has the training data themselves and they can store both input and output wherever and however they want.

I do think it's in the scope of Rasa X and e.g. could be handled by Integrated Version Control. @TyDunn thoughts on this

[2020-04-17 13:29] wochinge commented on #5376
Unfortunately this is somewhat expected since Sanic workers are independent processes and Rasa Open Source currently doesn't handle the models in a process safe way at the moment when doing the `PUT` request you described. A potential workaround for this would be to use a [model server](https://rasa.com/docs/rasa/user-guide/configuring-http-api/#fetching-models-from-a-server) which Rasa Open Sourc

[2020-04-17 13:30] wochinge commented on #5257
An issue regarding process safe handling of models. Not necessary part of this issue, but worth thinking about before implementing this https://github.com/RasaHQ/rasa/issues/5376

[2020-04-17 13:47] tatianafrank commented on #5624
I obviously don't think my mac is a production environment.. Im just doing research on the product as I stated in my previous comment...

[2020-04-17 13:53] tatianafrank commented on #5624
The reason my core files are in a subdirectory instead of root is because Im using poetry to package my code. If anyone can address that issue, which is the topic of this ticket, that would be really helpful.

[2020-04-17 14:05] wavymazy commented on #5657
Hello,

Since the issue was that .pop("sender", {}) is expecting the json to be a dict, I just put in place a check to handle the case when it's a list.

    async def send_custom_json(
        self, recipient_id: Text, json_message: Dict[Text, Any], **kwargs: Any
    ) -> None:
        """Sends custom json data to the output."""

        if isinstance(json_message, list):
            if isinstanc

[2020-04-17 14:45] tabergma commented on #5657
Great! As you already have a solution, do you want to contribute and create a PR?

[2020-04-17 15:18] Wing-e7 commented on #2059
Can we get the previous 4-5 user messages as well ?

Using tracker.generate_all_prior_trackers doesn't work as it outputs other variables along with messages. Plus i get a plethora of errors when using the above.

I am trying to read all user messages related to a particular intent and analyse the whole combined text for subjectivity and sentiment. This needs to be done in  a custom action

[2020-04-17 16:07] Wing-e7 commented on #5551
Thanks. Got it.

[2020-04-17 16:46] #4058 closed

[2020-04-17 19:29] ravichaurasia opened #5664 "After successfully running locally i tried to integrate with Telegram but not getting any response at chatting and it not showing any error."

[2020-04-17 19:33] ravichaurasia commented on #5664
![Capture1](https://user-images.githubusercontent.com/25603907/79607010-26490180-8110-11ea-9797-2ba6059790de.PNG)
I was using ngrok for global running and followed every steps.
but still not getting any response in chat

[2020-04-18 00:55] rohanchoudharyy commented on #2619
Error : The model predicted the custom action 'basic_info', but you didn't configure an endpoint to run this custom action. Please take a look at the docs and set an endpoint configuration via the --endpoints flag. https://rasa.com/docs/rasa/core/actions. I have created a basic form in actions.py

[2020-04-18 18:10] luciana742014 commented on #849
he leido recientemente, en mi caso tenia el mismo problema, en lugar del %%bash, solo digite la linea de abajo: pip install scikit-learn , y la libreria se instalo luego en otra linea hize la importacion y fue correcto

[2020-04-18 20:25] Suniron commented on #5224
Nobody ? :(

[2020-04-19 05:52] azizHakim commented on #5625
I am trying `python run.py`
I have created a clean conda environment to run rasa and rasa x.

[2020-04-19 09:45] abhayana24 opened #5665 "URL in documentation page is broken"
Hello,

The link to **external-events-and-reminders** page is broken in the following page: https://rasa.com/docs/rasa/core/responses/#proactively-reaching-out-to-the-user-with-external-events

The **docs page on this topic** hyperlink refers to this page (https://rasa.com/docs/rasa/core/external-events-and-reminders) which is wrong, the correct page is (https://rasa.com/docs/rasa/core/reminders-a

[2020-04-19 10:09] vivekanon opened #5666 "AttributeError: 'NoneType' object has no attribute 'setdefault'"
**Rasa version**: Rasa 1.7.0

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): OSX

**Issue**:
Mapping an action to an intent using `triggers` attribute causes `rasa train` to fail.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of co

[2020-04-19 14:51] tLabruna opened #5667 "Encountered invalid end-to-end format"
**Rasa version**: 1.9.6

**Python version**: 3.6.9

**Operating system** (windows, osx, ...): windows

**Issue**: Cannot test my model because of an error in my stories, but they look good, and I've been using the same stories with no problems.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

stories.md:

[code]

[2020-04-19 17:35] pandaxar commented on #5667
Hi , look at your **e2e stories** file not the stories.md file , and read the doc on how to test the model .

[2020-04-19 20:04] tLabruna commented on #5667
Hi, where do I find my e2e stories? I read the docs, I followed it for testing my model

[2020-04-19 23:48] pandaxar commented on #5667
I believe they reside in the tests folder that comes with rasa init ?

[2020-04-20 05:23] RielKIM commented on #5381
@scd10 It's totally same with my issue. Korean also could be copy and past on editor but, typing is not working.

[2020-04-20 06:39] Mehrasurendra commented on #3027
I have worked on rasa framework. i have developed a chatbot using rasa, when i have trained a rasa show me error message like-
Core training was skipped because no valid domain file was found. Only an nlu-model was created.Please specify a valid domain using '--domain' argument or check if the provided domain file exists.but i have checked my domain.yml file is correct, i attached domain file
---

[2020-04-20 07:14] ortsaCniveK commented on #5640
Currently working on updating docs as well as doing some maintenance on that module.

[2020-04-20 07:19] #4540 closed

[2020-04-20 07:21] kevinthemself opened #5668 "Rasa Data validate should check channel-specific utterance limitations"
**Description of Problem**:

In reference to #5640, there are some limitations for channels like FB Messenger that are not seen until runtime. It would be nice to see those warnings when running `rasa data validate`.

**Overview of the Solution**:

Add response template checks for utterances that specify the `channel` property.

**Examples** (if relevant):

*   Messenger Button Title limit
*   Mes

[2020-04-20 07:21] ortsaCniveK commented on #5668
This is contingent upon some updates I'm working on to improve mention of limitations, at least for FB Messenger specifically.

[2020-04-20 07:44] amn41 commented on #5665
thanks @abhayana24 ! would you be open to creating a pull request to fix this?

[2020-04-20 07:51] abhayana24 commented on #5665
Sure @amn41

[2020-04-20 08:03] #5287 closed

[2020-04-20 08:28] dmw-cola opened #5670 "RuntimeError: This event loop is already running"

[2020-04-20 10:31] Saladdin commented on #4517
Closing because the feature will be released as part of Rasa X `0.28` 👍

[2020-04-20 10:31] #4517 closed

[2020-04-20 12:00] sara-tagger commented on #5670
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-04-20 12:00] #5670 closed

[2020-04-20 12:00] sara-tagger commented on #5670
Thanks for raising this issue, @closed will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-20 12:00] sara-tagger commented on #5668
Thanks for submitting this feature request 🚀 @degiz will get back to you about it soon! ✨

[2020-04-20 12:00] sara-tagger commented on #5667
Thanks for raising this issue, @alwx will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-20 12:00] sara-tagger commented on #5666
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-20 12:00] sara-tagger commented on #5664
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-04-20 12:00] #5664 closed

[2020-04-20 12:00] sara-tagger commented on #5664
Thanks for the issue, @closed will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-20 12:09] #4340 closed

[2020-04-20 12:41] #1591 closed

[2020-04-20 12:48] akelad commented on #5526
@koaning do you still have this issue? If yes, which browser? i can't reproduce it

[2020-04-20 12:52] #5551 closed

[2020-04-20 12:52] wochinge commented on #5645
Hi @cristianmtr ,

thanks for the detailed description.

I assume this triggers a custom action, which then adds a event to resume the bot?

Could you please run the rasa instances with `--debug`, go through the described flow and share the logs? That would be super helpful, thanks 🙏

[2020-04-20 13:09] akelad commented on #5368
@erohmensing are you working on this atm? if not, please unassign

[2020-04-20 13:43] nbeuchat commented on #5645
Hi @wochinge just sharing the code of the action we use to resume the bot. Please note that we use `UserUtteranceReverted` to remove all intents (it surprisingly works) said after the bot was paused just before reactivating it. We have to do this as the user inputs while the bot is paused are still inserted in the tracker and breaks everything upon unpausing.

[code]

@cristianmtr can share more o

[2020-04-20 13:57] akelad commented on #5610
@wochinge we used to have `--dump-flattened-stories` as a flag, but then removed it (https://github.com/RasaHQ/rasa/commit/10b68fec364bdd02847ffae1a30b304d8992194a). As to why, I think it was because we told people to do it separately if they needed it? @tmbo ?

As for a use case, I definitely think there is a few (wherever it lives):
1. knowing what data your model was trained on (to be honest th

[2020-04-20 14:33] tabergma commented on #5666
I think you are missing an indent:
[code]
Does it work with this domain file?

[2020-04-20 15:08] wochinge commented on #5615
@liorskaler
Can you please

1. `exec` into the `rasa-x` pod (e.g. `kubectl exec -it ... `) and then
1. `cd git`
2. `ls git`
3. `cd <directory which has the largest number`
4. And then share the output of `git status` with us?

Thanks! That would be a great help!

[2020-04-20 16:16] #5425 closed

[2020-04-20 17:33] melindaloubser1 opened #5675 "Improve documentation around `SessionStart` event"
**Description of Problem**:

To make sure a new session is started each time `rasa shell` is run, `/session_start` must be sent as the first message manually.
[The docs](https://rasa.com/docs/rasa/core/domains/#session-config) say
[code]
But usually this is sent automatically by the channel, so on starting `rasa shell` the user will not see the same initial greeting/welcome message that they might

[2020-04-20 17:34] melindaloubser1 commented on #5641
I agree with @lluchini  that this would be best handled by updating the documentation. An issue for that is open https://github.com/RasaHQ/rasa/issues/5675

[2020-04-20 19:05] 12gabriel3 opened #5681 "Slack channel sends double images"
In `rasa/core/channels/slack.py`, the method `send_image_url` sends the image link as text and as an image block to slack, which makes the message show two images, like this:

[<span class="image-wrap" style="">![](https://user-images.githubusercontent.com/16885097/79788682-6500d680-831f-11ea-9e21-6300a8f632be.png)</span>](https://user-images.githubusercontent.com/16885097/79788682-6500d680-831f-1

[2020-04-20 20:43] ortsaCniveK commented on #5675
I'd also reiterate that any user message will trigger a new session to start.  It's irrelevant what Rasa gets in the shell because action_session_start will be triggered each time.

[2020-04-20 20:49] ortsaCniveK commented on #5641
What if instead of automatically starting a session, session behavior is disabled unless they specifically send the `/session_start` message?  According to the docs the purpose of the `rasa shell` command is:
To start a chat session with your assistant on the command line.

[2020-04-20 20:53] melindaloubser1 commented on #5675
That's true, will update it

[2020-04-20 20:56] ortsaCniveK commented on #5641
A documentation update is fine, but I still think that a session should be started by default, since the docs on `rasa shell` state:

I think that the mention of a chat session is key, so to avoid confusing new users those docs need to be updated as well.

However, if we wanted to replicate the same behavior as `rasa shell nlu`, which is strictly to test intent detection for specified phrases, we

[2020-04-20 22:34] rgstephens commented on #5610
What is the use case for `--persist-nlu-data`?

[2020-04-20 22:40] lluchini commented on #5641
Hello @ortsaCniveK

This is an example of one more change that will need to be done if we change the behavior, how many others will be needed to make it consistent? (I don't know, and that's the problem to me)

As I mentioned before, many implementations already made would need to be revised. In my specific case, I would change the logic drastically, once I bill the client by session, and the sess

[2020-04-20 23:56] ortsaCniveK commented on #5641
I see your point about sending the payload as being more informative, as long as we're communicating that to new users (already separated to #5675). I have no problem with the current behavior, I'm just trying make `rasa shell` more intuitive.

Let me reiterate to be clear, since I think my suggestion is being misunderstood:

Disable *automatic* session behavior in `rasa shell` **unless `/session_

[2020-04-21 01:01] melindaloubser1 commented on #5641
[code]
I see your point with that. Whether a change is made or not, the docs should definitely note the behaviour.

[2020-04-21 05:23] 1535966643 opened #5682 "rasa在对话时候如何让机器先说话？"
如何让让机器先说话，

[2020-04-21 07:37] wochinge commented on #5398
@guardcolombia Would you mind sharing logs, used versions, etc. ? Thanks 🙏

[2020-04-21 08:05] reactiveframes opened #5683 "rasa run --config"
With rasa-x I can run with a specific configuration for example:
rasa x --no-prompt -m example/models --data example/data --config example/config.yml --enable-api

This allows me to manage dependency injection across different rasa x services

But for some reason, there isn't any option to run rasa (rest) service with --config
for example:
rasa run --config ...  is invalid!

Am I missing something

[2020-04-21 08:29] sara-tagger commented on #5683
Thanks for submitting this feature request 🚀 @chkoss will get back to you about it soon! ✨

[2020-04-21 08:29] sara-tagger commented on #5682
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-04-21 08:29] #5682 closed

[2020-04-21 08:29] sara-tagger commented on #5682
Thanks for the issue, @closed will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-21 08:29] sara-tagger commented on #5681
Thanks for the issue, @tttthomasssss will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-21 08:36] degiz commented on #5668
Thanks for working on this @ortsaCniveK 🚀
Feel free to assign me to the PR once it's there!

[2020-04-21 09:29] cristianmtr commented on #5645
@wochinge I will email the logs to support@rasa.com and reference the issue number.

[2020-04-21 12:03] wochinge commented on #5582
That actually looks 🤔 Can you please also share the `rasa-x` logs?

[2020-04-21 12:05] wochinge commented on #3638
@Wing-e7 Please ask in the [Rasa forum](https://forum.rasa.com) or create a new issue with information about your setup (python version, log messages, Rasa / sdk versions etc.)

[2020-04-21 12:29] degiz commented on #5625
Hey @azizHakim

Is there a reason you want to use `run()` directly?
According to the log you don't have the configuration files in place.

Could you try to first run:
`rasa init --no-prompt`
This will make sure you have proper configs to start working with the bot.

[2020-04-21 12:40] wochinge commented on #4606
I made a PR to fix this: https://github.com/RasaHQ/rasa/pull/5686

[2020-04-21 14:39] chkoss commented on #5683
It is already possible to run Rasa Open Source with a specific configuration. This requires two steps:
- Training a model. `rasa train` can take the arguments `--config`, --data` and `--domain`.
- Running Rasa using a trained model, e.g. with `rasa run`. By default, this uses the latest trained model, but you can specify another one via the `--model` argument.

Does this answer your question?

[2020-04-21 16:30] tangochris opened #5689 "Documentation: Changes to "Securing with SSL" Rasa X docs"
I'd like to suggest two changes to "[Docker-Compose Manual Install: Securing with SSL](https://rasa.com/docs/rasa-x/installation-and-setup/docker-compose-manual/#securing-with-ssl)".

1. Port 80 must be available or `sudo certbot certonly` will not work. Therefore, before that step, instruct user to turn off Rasa, i.e. `sudo docker-compose down`
2. After copying `privkey.pem` to `/etc/rasa/certs`,

[2020-04-21 19:04] kamaldeepoodles opened #5691 "Makefile:43: recipe for target 'install' failed"
While trying to install install dependencies using the make install command, I am getting the following error.

[code]
Seems like there is some issue in the creation of the Virtual environment. Please help with the same.

[2020-04-21 21:13] #5691 closed

[2020-04-21 21:14] kamaldeepoodles opened #5692 "The virtual environment found seems to be broken | python poetry"
I am following the following link to install RASA on my system: [https://github.com/RasaHQ/rasa][1]
But unfortunately while trying to install the dependencies or any of the following poetry commands which are written in Makefile,

    $poetry run
    $poetry install

 I am getting following error:

[![enter image description here][2]][2]

Seems like there is some issue in virtual environment setup

[2020-04-22 06:00] sara-tagger commented on #5692
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-04-22 06:00] sara-tagger commented on #5692
Thanks for the issue, @closed will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-22 06:00] #5692 closed

[2020-04-22 06:00] sara-tagger commented on #5689
Thanks for submitting this feature request 🚀 @dakshvar22 will get back to you about it soon! ✨

[2020-04-22 07:37] sivanandh commented on #4958
is there any solution to use local images?

[2020-04-22 08:37] akelad commented on #5561
sorry this got lost in my notifications. i would lean towards not doing this at the moment - @MichaelMarien could you describe your use case for this?

[2020-04-22 09:49] 1535966643 opened #5695 "关于triggers"
是不是rasa1.7以下的版本都没有"Proactively Reaching Out to the User with External Events"这个功能呢？如果有的话在哪里，我现在使用的是1.3.9
还有请问哪里我可以查看rasa 匹配的TensorFlow版本

[2020-04-22 12:00] sara-tagger commented on #5695
Thanks for the question, our Github issue board is for **bugs and feature requests only,** though 😕
Please ask this question in the [forum✨](https://forum.rasa.com/c/rasa)

###### If you were describing a bug, please create a [report](https://github.com/RasaHQ/rasa/issues/new?labels=bug&template=bug_report.md) and fill out the template.

[2020-04-22 12:00] sara-tagger commented on #5695
Thanks for raising this issue, @closed will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-22 12:00] #5695 closed

[2020-04-22 13:48] 1535966643 commented on #5695
thanks

 ------------------&nbsp;原始邮件&nbsp;------------------
  发件人:&nbsp;"Sara-tagger"<notifications@github.com&gt;;
 发送时间:&nbsp;2020年4月22日(星期三) 晚上8:00
 收件人:&nbsp;"RasaHQ/rasa"<rasa@noreply.github.com&gt;;
 抄送:&nbsp;"不羁的风"<1535966643@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
 主题:&nbsp;Re: [RasaHQ/rasa] 关于triggers (#5695)

Closed #5695.

—
You are receiving this because you authored the t

[2020-04-22 16:21] koaning opened #5699 "ModelVersionWarning"
The bug described [here](https://github.com/RasaHQ/rasa-x/issues/2573) was fixed after removing models that were trained with an old version of rasa. The error message did not at all suggest this. Meantioning @erohmensing because she was also looking at it.

[code]

These were my version numbers:

[code]

It feels like we might be able to catch this is a more friendly way. If a model was trained o

[2020-04-22 16:23] #5526 closed

[2020-04-22 16:24] koaning commented on #5637
I wouldn't mind picking this up but I would like to get a green light before attempting this.

[2020-04-22 16:33] erohmensing commented on #5699
@tabergma so do we need to update the minimum compatible version on 1.9.x then? (@koaning for reference we do have code that does `If a model was trained on a version of rasa that is not currently running then we can warn the user of this explicitly.`)

[2020-04-22 16:57] #5574 closed

[2020-04-22 18:07] MadPr0grammer opened #5700 "Update the the tutorials page of the doc to refer to the latest version of rasa."
Current versions of rasa and python in the docker image of the tutorial page:
**Rasa version**: Rasa 1.1.5
**Python version**: 3.6.7

**Issue**:
The interactive [tutorial page](https://rasa.com/docs/rasa/user-guide/rasa-tutorial/) of the doc, runs an older version of rasa even if you are viewing the doc for the latest version. This is confusing for some people, and someone asked [this](https://for

[2020-04-22 19:12] erohmensing commented on #4479
@amirva from what i'm seeing on the forum, your issue looks like it could be caused by a number of problems in your action server and setup. I'm not convinced that is the same issue; you should continue to debug it with Tobias on the forum.

@tangochris are you still running into this issue on newer versions? If so, perhaps we can do a screenshare debugging.

[2020-04-22 19:31] ArjaanBuijk opened #5702 "The Policies docs page needs an update."
**Description of Problem**:
The Policies docs page needs an update.

Relevant docs page: https://rasa.com/docs/rasa/core/policies/

**Overview of the Solution**:
Update the docs page on Policies:

- List the KerasPolicy as deprecated, because it will be removed in Rasa 2.0.
- In Action Selection, only list TEDPolicy at level 1. Do not mention EmbeddingPolicy, KerasPolicy, SklearnPolicy
- In the Co

[2020-04-22 19:33] sara-tagger commented on #5700
Thanks for the issue, @tabergma will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-22 23:05] tangochris commented on #4479
@erohmensing We still have this issue. As of this moment, webchat does not work in our staging or production environment (1.8.1 / 0.26.0). Happy to do a screenshare.

@amirva We don't have a workaround for this specific issue. Becauses chat works fine in Messenger and via Rasa webchat (socket.io channel), we can live with it.

[2020-04-22 23:20] tangochris commented on #4768
@eibhleag Just an update — as of 0.26.0 and 1.8.0, the Conversations tab is still unusable for us. The scrolling/navigating continues to be very slow, but the larger problem is that new conversations do not record. Although the bot is in production and being used constantly, the last recorded conversation was March 4.

[2020-04-23 00:06] github-actions[bot] opened #5703 "Security Alert"
## rasa/rasa:latest-scanned (debian 10.3)
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|openssl: Segmentation fault in SSL_check_chain causes denial of service|HIGH|CVE-2020-1967|libssl1.1|1.1.1d-0+deb10u2|1.1.1d-0+deb10u3|https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-1967<br>https://git.openssl.org/gitweb/?p=openssl.git

[2020-04-23 00:20] liorskaler commented on #5615
@wochinge It was great speaking with you today and thank you for figuring out the solution.  This issue is now closed.  Have a great day :)

[2020-04-23 00:20] #5615 closed

[2020-04-23 06:31] tabergma commented on #5699
Yes, we updated something I think in 1.9.5 that was actually model breaking. We did not increased the model version back then, because we forgot about it. We should not have merged this PR into 1.9.x but into master. Sorry, about that. We should increase the model version.

[2020-04-23 07:32] JiteshGaikwad opened #5704 "Issue in the Slack connector"
**Rasa version**:  1.9.6

**Python version**: Python 3.7.6

**Operating system** (windows, osx, ...): windows

**Issue**:  The Slack connector is not able to handle the button payload response from the slack.

**Error (including full traceback)**:
[code]
Below is the output of the error in slack:

![issue_1](https://user-images.githubusercontent.com/49223934/80071475-535b4100-8562-11ea-80c1-846ae1

[2020-04-23 07:55] tttthomasssss opened #5705 "Add EmbeddingsFeaturizer"
**Description of Problem**:

At the moment there is no support for plugging any kind of embeddings into our pipeline. For example, while GloVe is supported, the embeddings are currently accessed via spaCy, but there is no native support for using pre-trained [word2vec](https://code.google.com/archive/p/word2vec/), [fastText](https://fasttext.cc/docs/en/crawl-vectors.html), etc embeddings or provid

[2020-04-23 08:09] koaning commented on #5705
It is worth pointing out that [spaCy](https://github.com/explosion/spaCy/issues/3333) is also working on this. If spaCy supports this then that would be the easier route of supporting it here, no?

[2020-04-23 08:45] amn41 commented on #5705
In the past at least, the only way to use fastText or other embeddings was to package them into a custom spaCy model, which is quite a bit of friction. If the spaCy folks make that much easier, then we don't need to do anything imo. Otherwise I think it might be worth adding this component so it's just much easier to use those 150+ languages.

[2020-04-23 08:51] koaning commented on #5705
I haven't tried it, [but it seems pretty easy](https://spacy.io/usage/vectors-similarity#converting). We might still write a helper that wraps around this but it reads as if spaCy has this covered.

[2020-04-23 09:13] wochinge commented on #5615
For others: The problem was that the Rasa project directory wasn't conform with the expected layout which e.g. `rasa init` generates. @TyDunn did you already create an issue that we implement automated checks and show warnings to the users?

[2020-04-23 10:08] TyDunn commented on #5615
@wochinge yes

[2020-04-23 10:12] amn41 commented on #5705
+ doing some experiments with fastText inside DIET

[2020-04-23 11:53] raktes commented on #5521
Ok, thanks for the update.

[2020-04-23 12:00] sara-tagger commented on #5703
Thanks for the issue, @TyDunn will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-23 12:00] sara-tagger commented on #5704
Thanks for the issue, @degiz will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-23 12:13] kamaldeepoodles commented on #5692
In case if you get error of broken virtual environment like

    `The virtual environment found in /home/kamaldeep/.cache/pypoetry/virtualenvs/rasa-LHgLSZoI-py3.7 seems to be broken`

Then install venv in the respective python package like python3.6, python3.5. In my case, I am using python 3.7

    `sudo apt-get install python3.7-venv`

Other way is to disable virtual environment

    `poetry con

[2020-04-23 13:09] koaning opened #5708 "Rasa does not pick up all spaCy entities."
This issue was discovered while writing a guide on how to link a custom spaCy model to Rasa. The git for that guide can be found [here](https://github.com/RasaHQ/spaCy-integration-demo).

I have a custom spaCy model that matches patterns. In particular it matches `python` and `go` to be programming language entities.

Here's the `config.yml`.

[code]

This pipeline is only supposed to detect entit

[2020-04-23 14:01] tttthomasssss commented on #5705
@koaning that would be great yes!

But there are not really that many different formats that pre-trained vectors typically get distributed in. For example, the Glove vectors from the stanford website and the fasttext vectors come in the same (easy to parse) format. The original word2vec ones were binary files from C, but they can also fairly easily be parsed. So I don't think we'd be supporting lo

[2020-04-23 15:15] TyDunn commented on #5662
Hi @unltdnetworx! I am going to close this issue because this is something you can achieve in Rasa Open Source today. You would process the first message you receive as the password, just like what that example you shared does 👍

[2020-04-23 15:15] #5662 closed

[2020-04-23 15:18] TyDunn commented on #5624
Hi @tatianafrank. As I mentioned, at the moment we only support the standard project layout. Maybe you would be interested in hopping on a Zoom call, so I can learn better about how we can improve Rasa Open Source and Rasa X for you?

[2020-04-23 16:25] scott7414 commented on #3561
I am having the same problem....  the message shows up fine in slack but the notification says Can't be displayed or something like that. What's the fix? Thanks.

[2020-04-23 17:06] digitalWestie commented on #5654
I can confirm this is an issue on 1.9.6.

As far as I can see from here: https://github.com/RasaHQ/rasa/blob/1.9.6/rasa/core/channels/telegram.py#L214

Shortly after a check for whether the webhook request was a button message, the rest of the code proceeds assuming there is a "message"  key in the post data.

This won't be the case for a number of different events e.g.

- edited_message
- edited_

[2020-04-23 17:31] wochinge commented on #5645
Thanks for the logs @cristianmtr 🙏
I have to admit that I'm not much wiser after studying them, but I at least have a couple of questions / comments:
- your shared `action_resume_bot` does a `UserUtteranceReverted`. However, in the log file I can't see a `rewind` event (aka `UserUtteranceReverted`) when this action is called (line 264 in the log file) - are you actually running the latest version

[2020-04-23 17:54] nbeuchat commented on #5645
Just to answer regarding the `UserUtteranceReverted`: it will only be triggered if the user sent some messages while the bot was paused, I suppose @cristianmtr didn't do that in the example he sent you.

Eheheh, cool policy name isn't it :D It's basically the `KerasPolicy` with an early stopping mechanism, nothing fancy! (and Alpaca is the name of the company eheheh!)

[2020-04-23 18:17] erohmensing commented on #3561
As described in this thread, not fixable for anything other than text, this is a slack issue

[2020-04-23 19:06] MichaelMarien commented on #5561
Hi @akelad thanks for the response. Use case is the following. We have quite a big bot already running (50-100 intents, 20-30 entities, 1000s of original stories). Now we want to add a new entity with an associated categorical slot to include new functionality.

The entity values of this new slot are very commonly used words (like car, road, etc ...) that we definitely expect users to use in a lot

[2020-04-23 20:33] erohmensing commented on #5699
Just released 1.9.7 reverting the changes, which is compatible with all 1.9 models (except 1.9.6) -- Think this can be closed

[2020-04-24 00:06] github-actions[bot] opened #5714 "Security Alert"
## rasa/rasa:latest-scanned (debian 10.3)
|Title|Severity|CVE|Package Name|Installed Version|Fixed Version|References|
|:--:|:--:|:--:|:--:|:--:|:--:|:--|
|openssl: Segmentation fault in SSL_check_chain causes denial of service|HIGH|CVE-2020-1967|libssl1.1|1.1.1d-0+deb10u2|1.1.1d-0+deb10u3|http://www.openwall.com/lists/oss-security/2020/04/22/2<br>https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE

[2020-04-24 00:17] iicky commented on #5704
I am also having this same exact issue when processing a Slack button. I'll try and test out the workaround as well to see if it works for me.

[2020-04-24 08:14] wochinge commented on #5645
This is interesting! `UserUtteranceReverted` will revert all actions until the last user message, and then the message itself. if you omit the `UserUtteranceReverted` then your tracker will contain the `action_resume_bot` as event in the conversation history. This is unknown state for your story prediction and hence the bot does something wrong.

Options I see:
- revert the action when running `ac

[2020-04-24 09:20] wochinge commented on #5703
duplicate of https://github.com/RasaHQ/rasa/issues/5714

[2020-04-24 09:20] #5703 closed

[2020-04-24 09:43] giorgobiani commented on #5618
Any update on this? I'm also interested

[2020-04-24 10:03] nbeuchat commented on #5645
The problem we've had and that we fixed with the `UserUtteranceReverted` is that we may have dozen of user messages without any action in between (as the bot was paused). We can't put these in the training data otherwise the bot will learn never to answer anything ;-) The idea was to revert every user intents until the resume (which happened to work with a single `UserUtteranceReverted`, it's prob

[2020-04-24 10:06] eibhleag commented on #5637
This feels like a @RasaHQ/production-engineers issue so best to double check with them 🙂

[2020-04-24 10:11] eibhleag commented on #5436
@Saladdin You worked on the original implementation here - is there anything we should know before picking this one up?

[2020-04-24 11:21] koaning commented on #5708
@tabergma does this look familiar/known?

[2020-04-24 11:28] koaning commented on #5705
I've done some digging and here's my findings.

The embeddings are *big* but spaCy can read them in from the commandline no problem it seems. I just downloaded the dutch ones and got a spaCy model on disk via;

[code]

You can get the same effect in python by running;

[code]

Now this merely creates a model on disk. You *could* load it via `spacy.load(/tmp/dutch_vectors_wiki_lg)` but odds are tha

[2020-04-24 11:36] koaning commented on #5705
Ah. I just found a caveat. It seems that fasttext, the python package, has a feature to reduce the dimensions of their vectors internally. This is something that spaCy does not support. For `whatlies` this is a good reason to support it as a seperate language, if that is also the case here then it might make sense to write a custom component for it.

Screenshot from their docs:

![image](https://u

[2020-04-24 12:00] sara-tagger commented on #5714
Thanks for the issue, @chkoss will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-24 13:16] koaning commented on #5708
I can confirm that this error does not occur when I run it with `en_core_web_sm` on a `PERSON` entitiy. With the utterance "This is Vincent and Bob" both "Vincent" and "Bob" are picked up as `PERSON` entities.

[2020-04-24 13:20] koaning commented on #5708
Just tried it again locally and seeing some new weird behavior. At first I thought it was only picking up one entity. This is not true. It seems to skip some though.

### `rasa shell nlu`

[code]

### `python`

[code]

[2020-04-24 13:32] tttthomasssss commented on #5705
I am also just experimenting with the spacy-fasttext bridge. It works and isn't a lot of effort to get working (though I can only speak for the purpose of experimentation, not production).

A few of the caveats I have encountered are:
*  spacy itself relies on third party libraries for low-level processing (e.g. tokenisation) for some languages (e.g. for Thai, spacy requires [`PyThaiNLP`](https://

[2020-04-24 13:44] tabergma opened #5715 "Entity Roles and Groups influencing dialogue predictions"
**Description of Problem**:
If might be useful to allow roles and groups to influence our dialogue predictions. Currently, they are not considered during the dialogue prediction at all.
Example:
[code]

**Overview of the Solution**:
We would need to update the core featurization to also consider entity roles/groups [here](https://github.com/RasaHQ/rasa/blob/master/rasa/core/domain.py#L630).
Things

[2020-04-24 13:57] tabergma opened #5716 "Add roles and groups to entities extracted by duckling"
**Description of Problem**: Entity roles and groups are currently only support by `CRFEntityExtractor` and `DIETClassifier`, e.g. components that extract custom entities. It might be helpful to add support for `SpacyEntityExtractor` and `DucklingHTTPExtractor` as well. If you are building a larger bot, you might have lots of different entities that are "number". Example:

 I need a table for 4 wit

[2020-04-24 17:04] jamesmf opened #5718 "Add types to entity synonyms"
**Description of Problem**: I don't see a way to scope synonyms by type. This is important in making calls to knowledge bases that are typed.

For instance, let's say I know how to recognize two entities types, `date.month` and `finance.term`. To make sure the extracted entity values match the way I need to look those things up in a knowledge base, I use an `EntitySynonymMapper`.

But the followin

[2020-04-24 17:07] jamesmf commented on #5718
I imagine this as being an optional, additional entry. So if you had an entry in your synonyms that didn't have a type on it, it would still work. And if you had a typed entry and an untyped entry in your synonyms, the untyped would catch all the types you didn't have explicit entries for.

[2020-04-24 17:11] jamesmf commented on #5718
Perhaps a more universal example is locations (in the U.S., states) colliding with short utterances
`"OK" + "location.statecode" -> "Oklahoma"`
vs
`"OK" + "confirmation" -> "Okay"`

[2020-04-24 17:39] sara-tagger commented on #5718
Thanks for submitting this feature request 🚀 @degiz will get back to you about it soon! ✨

[2020-04-24 20:31] melindaloubser1 opened #5720 "Add TypoCI to PR workflow to check docs for typos"
**Description of Problem**:
Typos get added to the docs occasionally

**Overview of the Solution**:
Add TypoCI to workflow for pull requests to catch typos. Add files & words that should be ignored (i.e. all files except docs, all false-positives).

**Definition of Done**:
- [ ] configuration for typo CI

[2020-04-24 23:42] Hamza28401214 opened #5721 "How can i get user name from the conversation ?"
Hi,
what i want is to get the user-name during the conversation  ,the user-name is unknown for the model , for example ;
-What's your name?
-my name is Don
here the bot should response by , -hi done.
But this name is not included in the training data, how to deal with that?

[2020-04-25 00:29] ortsaCniveK opened #5722 "pip install failing due to tensorflow"
**Rasa version**: 1.9.3

**Python version**: 3.8.2

**Operating system** (windows, osx, ...): Linux

**Issue**: `pip install rasa` fails with below traceback.  Additionally fails even with tensorflow installation due to `tensorflow-addons` requirement.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

[2020-04-25 20:43] Talhag958 commented on #5722
I faced the same issue
So I run command
pip install tensorflow
and then run command,
pip install rasa
again. this worked for me.

[2020-04-25 23:19] monatis commented on #5721
You need to include some training data with, for example, "## intent:introduce" and "- My name is [xxx](username)", "- I'm [xxx](username)", and "## intent:inform" and "- [xxx](username)". However, in the real world, you need to integrate an authentication mechanism and set user info as slots.

[2020-04-26 00:34] Hamza28401214 commented on #5721
aha thank you so much for your help , i'll try with the authentication mechanism .

[2020-04-26 13:01] saraswathykrk commented on #5641
Can you please let me know if the above solution works for rasa x too?

[2020-04-27 05:14] ShaunHolt commented on #4381
I'm having same issue using shell.  So should I ignore shell and just use run for testing?

[2020-04-27 06:12] sibbsnb commented on #3294
for me same issue is happening when i remove a slot

[2020-04-27 06:52] wochinge commented on #4381
@ShaunHolt This is related to https://github.com/RasaHQ/rasa/issues/4606 . There will be fix in the next release https://github.com/RasaHQ/rasa/pull/5686

[2020-04-27 06:58] wochinge commented on #5637
I think it's a cool idea and you can of course do it 👍 Let's just get on more opinion on it 🙂 @erohmensing What do you think?

[2020-04-27 07:03] wochinge commented on #5645
@nbeuchat I assume that is because the `MappingPolicy` only jumps in, in case we had an `ACTION_LISTEN` event before it.

That shouldn't work. A `UserUtteranceReverted` only reverts 1 user message. so you should actually check how many messages where there since the `ConversationPause` event. Might also make sense to restart the conversation completeley.

[2020-04-27 07:08] akelad commented on #4721
actually i think we can close this, it shows a different warning now

[2020-04-27 07:08] #4721 closed

[2020-04-27 08:14] erohmensing commented on #5637
Yeah seems like a great idea to me! So long as it's making sure to check for things in the right environments and such :)

[2020-04-27 12:00] sara-tagger commented on #5722
Thanks for raising this issue, @dakshvar22 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-27 12:00] sara-tagger commented on #5721
Thanks for the issue, @erohmensing will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-27 12:16] erohmensing commented on #5721
Thanks for the suggestion @monatis. @Hamza28401214 as this is not a bug report or a feature request, if you have further questions on the topic, please ask them on the [forum](forum.rasa.com).

[2020-04-27 12:16] #5721 closed

[2020-04-27 12:40] tabergma opened #5725 "Create script to update minimum compatible model version number"
We should add a script that updates the minimum compatible model version number.

Whenever we merge something into master that is model breaking, we should increase the package version in the PR to an alpha, e.g. 1.10.0a1 and set that as the minimum compatible model version.
To semi-automate this, let's add a script for that. Ideally, we add the script also to our Makefile.

We need to update the

[2020-04-27 13:51] koaning commented on #5637
I need some feedback on design.

# Question One: How to Call it

There's multiple places in the cli where I can add this behavior and I'm not sure where we'd prefer it.

### Behavior One

We could add a `--verbose` flag.

[code]

This means that I have to add a flag to the global `rasa` command that is only valid when `--version` is set. Setting `--verbose` usually has an effect on the logger, whi

[2020-04-27 13:52] koaning commented on #5637
# Question Three

After checking what spaCy does;

[code]

Do we also want to log the directory of the virtualenv? Are there any other things that we might want to automatically add here?

[2020-04-27 14:24] vipuldarkknight commented on #5704
I was also facing the same issue with slack, so when I was looking at where the problem lies, I got to know the same thing which @JiteshGaikwad  pointed out, as the metadata option was an optional one for the functions thereafter so I commented that line and initialized metadata to an empty dictionary and that seems to work for me. Please look into this matter

[2020-04-27 14:37] erohmensing commented on #5637
1. I don't think adding a global flag to rasa only used here sounds like the right approach. Perhaps we could use `--debug` for this purpose instead? As it's a pattern we use a lot in the CLI to give more output, and we're implementing this for better debugging, after all. But maybe you would disagree with that bc of `Setting --verbose usually has an effect on the logger, which isn't the case here

[2020-04-27 18:15] ortsaCniveK commented on #5722
Confirming this is no longer an issue as of today;  I'm guessing it was an issue with the Tensorflow release, which is unrelated to anything in Rasa. Closing.

[2020-04-27 18:15] #5722 closed

[2020-04-27 21:27] ShaunHolt commented on #4381
Thank you. I am enjoying Rasa.  A wonderful learning experience. 

Get Outlook for Android

On Mon, Apr 27, 2020 at 2:52 AM -0400, "Tobias Wochinger" <notifications@github.com> wrote:

@ShaunHolt This is related to #4606 . There will be fix in the next release #5686

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-28 00:26] shixx299 commented on #5666
- out_of_scope:
  triggers: action_outofscope

triggers must be indent

[2020-04-28 01:43] sonupsp3 commented on #2582
Hi Can this be implemented in rasa-sdk?

[2020-04-28 05:39] Akoparna24 commented on #4211
Training an initial model...
Traceback (most recent call last):
  File "c:\users\user\anaconda3\envs\rasa\lib\site-packages\rasa\utils\io.py", line 137, in read_file
    with open(filename, encoding=encoding) as f:
FileNotFoundError: [Errno 2] No such file or directory: '.\\config.yml'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "

[2020-04-28 06:23] imsaurabh50 opened #5732 "Rasa core should use the message text from NLU"
**Description of Problem**:

So when a new message comes it goes through the NLU pipeline for processing. During NLU processing, if I want to change the text of the message due to some reason (say correcting spelling mistakes or anything else.), this corrected text should go to the rasa core for taking further actions. Here is the [forum thread](https://forum.rasa.com/t/alter-user-message-text/263

[2020-04-28 06:31] tabergma commented on #5666
@shixx299 I'm going to close the issue as it is not a bug. Glad it works now 😄

[2020-04-28 06:31] #5666 closed

[2020-04-28 07:52] visvamba opened #5733 "conveRT dependency (tensorflow_text) not installed by default"
**Rasa version**: 1.8.1

**Python version**: 3.7.4

**Operating system** (windows, osx, ...): MacOS Catalina 10.15.3

**Issue**: `tensorflow_text` package necessary for `conveRT`, but is not installed by default.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

[2020-04-28 10:02] wochinge opened #5736 "Update azure model persistor"
- follow up issue for https://github.com/RasaHQ/rasa/pull/5719

Todos:
- [ ] update version of `azure-storage-blob` dependency
- [ ] update & test code of `azure` persistor

[2020-04-28 12:00] sara-tagger commented on #5733
Thanks for raising this issue, @melindaloubser1 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-28 12:00] sara-tagger commented on #5732
Thanks for submitting this feature request 🚀 @degiz will get back to you about it soon! ✨

[2020-04-28 13:08] wochinge opened #5739 "Add validation of changelog files"
**Problem**:
The single changelog files in `changelog/` are currently not validated. They are only validated when creating a new release since this will generate the actual `Changelog.rst` and include it in the documentation. When the documentation is linted, errors in the changelog will surface. However, this is a bit late.

**Potential Solution**
Generate the changelog before linting the documen

[2020-04-28 13:18] wochinge commented on #5714
closed by using latest upstream image (see https://github.com/RasaHQ/rasa/runs/624344416?check_suite_focus=true)

[2020-04-28 13:18] #5714 closed

[2020-04-28 13:20] koaning commented on #5705
I've wrapped up implementing fasttext for whatlies and I have a few impression.

1. The embeddings definately feel more meaningful. Tried with both dutch and english.
2. The `fasttext` project on github feels a big wonky in terms of support. The documentation is not in line with the python project although they *just* released a new version ... that was the first time in a year. The thing just rel

[2020-04-28 15:21] melindaloubser1 commented on #5733
This is the intended behaviour to keep Rasa as lightweight as possible, since not all pipelines require `tensorflow
_text`. To install Rasa with the dependencies for ConveRT, you can do `pip install "rasa[convert]"` or to install all optional dependencies, `pip install "rasa[full]"`

[2020-04-28 15:21] #5733 closed

[2020-04-28 17:53] kearnsw opened #5742 "Support for Custom Data Attributes"
**Description of Problem**:
Although Rasa supports custom components, there is no way to include additional metadata for each utterance. This is necessary for example in the case of sentiment analysis which is the primary use case given by Rasa for custom components.

**Overview of the Solution**:
Message needs to support kwargs and the Rasa JSON data reader needs to include all fields when instan

[2020-04-28 19:17] eduardobrigham commented on #3027
quest4next replied to you correctly. check your Data folder. no other files should be there excep your nlu training file

[2020-04-28 23:07] #5675 closed

[2020-04-29 04:52] benos commented on #5654
@JustinaPetr Was wondering if you had a chance to look into this

[2020-04-29 05:02] harada4atsushi opened #5744 "HFTransformersNLP dose not work with pretrained Japanese BERT models"
**Rasa version**: 1.10.0

**Python version**: Python 3.7.3

**Operating system** (windows, osx, ...): osx

**Issue**: HFTransformersNLP dose not work with pretrained Japanese BERT models.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

[2020-04-29 06:00] sara-tagger commented on #5744
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-29 06:00] sara-tagger commented on #5742
Thanks for submitting this feature request 🚀 @amn41 will get back to you about it soon! ✨

[2020-04-29 07:34] erohmensing commented on #4479
Hey @tangochris, I sent you an email a few days ago -- let me know if you didn't get it. :)

[2020-04-29 07:47] koaning opened #5746 "ConveRT seems to re-download every time"
**Rasa version**:

[code]

**Python version**:

3.6

**Operating system** (windows, osx, ...):

macOS

**Issue**:

ConveRT seems to re-download every time. It takes about 10-15 seconds every time when I call `rasa shell` but this also occurs during `rasa train`.

[code]

[2020-04-29 08:14] dakshvar22 commented on #5746
Tested and this does not seem to happen on Ubuntu OS

[2020-04-29 08:16] dakshvar22 commented on #5746
@koaning Is the path in `2020-04-29 09:01:44 INFO     absl  - Using /var/folders/0v/pj9vtxhd6ml7mb8n94wvcmkr0000gp/T/tfhub_modules to cache modules.` always different?

[2020-04-29 08:29] koaning commented on #5746
Does not seem so. Just ran it again.

[code]

Yeah they're the same.

[code]

[2020-04-29 08:30] koaning commented on #5746
Could it be a permissions thing?

[code]

[2020-04-29 08:40] solyarisoftware commented on #1801
@karthikbalu  what do you mean with

? May you  give us an example?

[2020-04-29 09:09] tabergma opened #5747 "Add possibility to specify validation dataset"
**Description of Problem**: Currently, it is only possible to take a random split from the training data as validation data via the `evaluate_on_number_of_examples` parameter. This is not ideal for research. If we want to train/test our models on public datasets that have a validation dataset given, we cannot use that dataset as validation dataset next to our training dataset. However, this is req

[2020-04-29 09:11] dakshvar22 commented on #5746
Doesn't look like because `T` sub-folder seems to have read-write permission for `Vincent` user and I am assuming you are running the rasa process with that user.

[2020-04-29 09:28] tabergma opened #5748 "Standardize testing output"
**Description of Problem**:
For intents we currently have the following testing output: report, error, successes, confusion matrix, histogram. However, for stories, entities, and responses only some of those outputs exists. We should standardize the testing output so that you have the same tool to evaluate intents, entities, responses, and stories.

**Overview of the Solution**:
- [x] For entities

[2020-04-29 10:43] Ghostvv commented on #5744
there is a discussion in the linked PR

[2020-04-29 10:44] tmbo commented on #5454
we can't really do the language selection, as we currently only have a starter project for `en` (the one you get with rasa init). if we would want to support that for multiple languages we would need to create these for more languages

[2020-04-29 11:03] amn41 commented on #5742
thanks @kearnsw ! will need to think about this a bit. We are reivising our training data format anyway and would have to think about how this fits in.

[2020-04-29 11:09] akelad commented on #5573
doc lives here: https://docs.google.com/document/d/1ytIjcZ09B52Se1Ta4Jk4b6G9k1OpxgYnxu0UfEPma3Y/edit#

[2020-04-29 11:43] govertbuijs commented on #5542
The `timestamp` column of the SQLTrackerStore is defined as a `Float`.
In MySQL / MariaDB, `float` (without precision value) uses 4 bytes, resulting in a resolution of 10 seconds. (PostgreSQL's `real` probably has the same issue).
This makes the `order_by(self.SQLEvent.timestamp)` in `_event_query()` useless, as all the events in a cluster will likely have the same timestamp.

Changing the column

[2020-04-29 12:05] 3NFBAGDU commented on #5705
Hello, i have change rasa’s older version to version 1.9.5.
I have a following issue: I wrote custom featurizer component based on word2vec and sent2vec. Each sentence has a 576 length feature vector (for ex. [0.12, … , 0.2]). In previous version i used to write self._combine_with_existing_text_features to tell the embedding_classifier to classify sentences by word2vec features, but in newer versi

[2020-04-29 12:42] shubhamnatraj commented on #3765
@tabergma I am struggling with a similar use case too! If possible I would love to try using it and test it out

[2020-04-29 13:21] tabergma commented on #3765
@shubhamnatraj We actually released the feature yesterday, see [here](https://forum.rasa.com/t/introducing-entity-roles-and-groups/28156). Would be great if you could share some feedback with us once you tested it. Thanks.

[2020-04-29 15:09] shubhamnatraj commented on #3765
@tabergma Thank you! I will try it out and share my feedback on the thread itself.

[2020-04-29 15:24] koaning commented on #4637
This is a reminder to myself, this feature would have saved me 30 minutes today.

if `domain.yml` is invalid the training loop proceeds and assumes the file does not exist.

[code]

This may be considered bad behavior, but running the linter beforehand would have worked.

[2020-04-29 15:42] solyarisoftware opened #5749 "Documentation "lacks": confused with RASA NLU/Core HTTP (REST) API doc"
Hi all, I'm new with RASA and reading main user guide [https://rasa.com/docs/rasa/](https://rasa.com/docs/rasa/), I'm confused with HTTP APIs documentation.

**1\. RASA NLU API Documentation** Usage is described in page [https://rasa.com/docs/rasa/nlu/using-nlu-only/#running-an-nlu-server](https://rasa.com/docs/rasa/nlu/using-nlu-only/#running-an-nlu-server) That's pretty minimal but ok.

Suggesti

[2020-04-29 15:45] solyarisoftware commented on #5749
BTW, the bug attribute is maybe just related to the lack of webhook endpoint API description in page  https://rasa.com/docs/rasa/api/http-api/

[2020-04-29 16:07] mrcsilverfox opened #5750 "Case insensitive token with WhitespaceTokenizer"
**Rasa version**: 1.9.7

**Python version**: 3.6.10

**Operating system**: osx

**Issue**: When I'd updated the rasa image version from 1.4.6 to 1.9.7, the tokens are not case insensitive. Entities are recognise well, but the value is case sensitive.

I train only the nlu model with both version and I tested in both case with a word: Chef

**Content of configuration file (config.yml)**: This is a

[2020-04-29 16:56] nbeuchat opened #5751 "Provide to option to prevent an entity to ever influence rasa core predictions"
**Description of Problem**: Having an option to completely remove an entity from the rasa core prediction would be very helpful to avoid unexpected behaviors for rarely used entities or entities that should just never change the rasa core prediction.

The current recommendation in the documentation suggests adding or removing certain entities to specific intents which is unsatisfactory for entitie

[2020-04-29 16:59] #5739 closed

[2020-04-29 20:01] MichaelMarien commented on #5751
Should be easy to consolidate such extra attribute in the used_entities property of the intents in domain.py. Would happy to look at this.

[2020-04-29 22:24] tangochris commented on #5564
@Ben-Mark Agreed, our experience is that S3 storage does not work. We have to use EFS, which isn't ideal.

[2020-04-30 00:59] sheggamharshith opened #5753 "AttributeError: 'Question' object has no attribute 'skip_if'"
To get started quickly, an initial project will be created.
If you need some help, check out the documentation at https://rasa.com/docs/rasa.

Traceback (most recent call last):
  File "/Users/harshithsheggam/Desktop/rasa/venv/bin/rasa", line 8, in <module>
    sys.exit(main())
  File "/Users/harshithsheggam/Desktop/rasa/venv/lib/python3.7/site-packages/rasa/__main__.py", line 91, in main
    cmdl

[2020-04-30 01:55] sheggamharshith commented on #5753
can any one help me with this I am using Mac

[2020-04-30 06:00] sara-tagger commented on #5753
Thanks for raising this issue, @TyDunn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-30 06:00] sara-tagger commented on #5751
Thanks for submitting this feature request 🚀 @erohmensing will get back to you about it soon! ✨

[2020-04-30 06:00] sara-tagger commented on #5750
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-30 06:00] sara-tagger commented on #5749
Thanks for the issue, @rgstephens will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-04-30 06:41] tabergma commented on #5750
Actually, this is not a bug. The `case_sensitive` flag in the `WhitespaceTokenizer` still works. If you set `case_sensitive: False` in the config, the tokens will be lower cased. As the tokens are used for further processing, all components will use the lower cased tokens. However, when we extract the entities, the entity extractor gives us the start and end value of the entity in the text. The va

[2020-04-30 07:02] gongshaojie12 opened #5754 "Special character '/' causes intent recognition error"
**Rasa version**:all

**Rasa SDK version** (if used & relevant):all

**Rasa X version** (if used & relevant):all

**Python version**:3.6

**Operating system** (windows, osx, ...):all

**Issue**:
How do I handle the special character ‘/’ in rasa?

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if releva

[2020-04-30 07:06] mrcsilverfox commented on #5750
Thanks for your answer, @tabergma but so, what can I do to achieve the same result?

[2020-04-30 07:07] tabergma commented on #5750
You cannot. Why is it important for you to get the lower cased version in the entity value?

[2020-04-30 07:13] mrcsilverfox commented on #5750
Because in this case, I set `object_type` as a categorical slot, with values in lower case, so when I get it not in lower case, the dialogue fails.

This is an example of story:
[code]
and this is a domain.yml
[code]

[2020-04-30 07:15] akelad commented on #3765
I would close this issue - feel free to still leave any feedback you have here or on the [forum](https://forum.rasa.com). And if there's any issues/enhancement requests with the current feature, please open a new issue

[2020-04-30 07:15] #3765 closed

[2020-04-30 07:24] erohmensing commented on #5753
@sheggamharshith please fill out the template with the versioning info we ask for when you report a bug. can you please report the output of
[code]
and
[code]

[2020-04-30 08:10] tomgun132 opened #5755 "EntityExtractor in v1.10.0 yield wrong entity value for language without spaces"
Rasa version:
v1.10.0
Python version:
3.7
Operating system:
Windows, Linux

I'm not sure if this should be a bug or feature request, but here I go.

**Description of Problem**:
For language that doesn't have space that separate words, any `EntityExtractor` class will return the whole sentence as the `value`. When I see what changes have been made into that class, I see that there are few new funct

[2020-04-30 08:21] tabergma commented on #5750
As some users actually require the text to be in its original form, we will not update the current behaviour. However, you have a couple of options:

(1) You could just add the case sensitive version to the `object_type` values
[code]

(2) Another option would be to create a [custom component](https://rasa.com/docs/rasa/api/custom-nlu-components/#id1) that lower cases the incoming text. You could

[2020-04-30 08:21] #5750 closed

[2020-04-30 08:31] tabergma commented on #5755
Thanks @tomgun132  for raising the issue. I'm already working on a fix. Should hopefully be in the next patch release.

[2020-04-30 08:42] #2268 closed

[2020-04-30 09:06] tabergma commented on #5705
@3NFBAGDU Thanks for the issue description. Please ask your question next time on the [forum](https://forum.rasa.com/) as it does not belong to this issue.
As you already noticed we divided our featurizers into sparse and dense featurizers (see [docs](https://rasa.com/docs/rasa/nlu/components/#text-featurizers)). Your word2vec featurizer falls into the category of dense featurizers. So you should

[2020-04-30 09:33] tabergma opened #5759 "Add option case_sensitive to featurizers"
**Description of Problem**:
Currently, some of our tokenizers support the option `case_sensitive`. If the user decides to set this option to `False` all featurizer will use the lowercased tokens. This might not be ideal. For example, some of the features in the `LexicalSyntacticFeaturizer` do not work if all tokens are lowercased.
It might be better to move the option `case_sensitive` to the featu

[2020-04-30 09:52] tomgun132 commented on #5755
Hello @tabergma,
Thank you very much for the quick response and I really appreciate it that you're already working on it.

[2020-04-30 10:49] sheggamharshith commented on #5753
I have resolved the bug I have re-installed the rasa project file @erohmensing  and when I have tried the grep rasa the screen just freezed for a long Time  so I could not prompt the output of It

[2020-04-30 10:49] #5753 closed

[2020-04-30 12:00] sara-tagger commented on #5754
Thanks for raising this issue, @tabergma will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-04-30 12:10] tabergma commented on #5708
@koaning I just tested it myself. The `SpacyEntityExtractor` is actually working as expected. The problem is, that SpaCy recognizes the first `python` as `ORG`. We are filtering that one out, because you mentioned in the config that you are just interested in `PROLANG`. So I guess you just need to update the SpaCy model.

[2020-04-30 13:20] koaning commented on #5708
d0h! that makes sense. That happened before.

Closing the issue. @tabergma thanks for checking!

[2020-04-30 13:20] #5708 closed

[2020-04-30 14:07] tabergma commented on #5754
I'm not sure I can follow. The `/` is a special character. Whatever comes after the `/` is used as intent. This is intended. A message that should not be treated as intent, should not start with `/`.

[2020-04-30 15:26] jamesmf commented on #5718
Any thoughts on this? If it's desired functionality I could probably get a basic PR for it, but I don't want to implement it if it's unlikely to be supported

[2020-04-30 15:43] VinceD2049 commented on #4317
You can workaround this by running rasa shell is a docker in 2 steps :

1/
[code]

2/
[code]

[2020-04-30 16:20] solyarisoftware opened #5763 "Documentation details about how to run an external Action Server"
I propose this topic as feature request, but it's also a documentation issue, as lack of details in user guide paragraph: [https://rasa.com/docs/rasa/core/actions/#custom-actions](https://rasa.com/docs/rasa/core/actions/#custom-actions).

What specified in paragraph [Execute Actions in Other Code](https://rasa.com/docs/rasa/core/actions/#id8) is obscure to me, and details at the API documentation

[2020-05-01 06:00] sara-tagger commented on #5763
Thanks for submitting this feature request 🚀 @amn41 will get back to you about it soon! ✨

[2020-05-01 09:40] varun-d opened #5765 "Rasa X 0.27.7 crashes on MacOS Mojave with Rasa 1.9.7 and Python 3.7.7"
**Rasa version**: 1.9.7

**Rasa X version**: 0.27.7

Installed using
[code]

**Python version**: 3.7.7 (virtual evn, originally brew install)

**Operating system** (windows, osx, ...): OSX Mojave 10.14.6

**Issue**:

[code]
Rasa X works perfectly first time after playing around with bot

**Second time Rasa X**
Pressing Control C to stop server
[code]
On running rasa x the second time, core Python

[2020-05-01 10:35] K1mz opened #5766 "add missing attachment types to Facebook channel"
**Description of Problem**:
If a user sends a voice message to the bot using Facebook users messages text will be the attachments URL. This is not done for the other attachment types(image, video, and file).

**Solution**:
I have forked and done the same for the missing attachment types(image, video, and file).

Can I create a new PR for this?

[2020-05-01 11:12] solyarisoftware commented on #2298
So I guess the solution to original question (having dialog logs) is to setup rasa run server specifying the `--debug ` flag. That's correct?:

`(venv) $ rasa run --debug --log-file ./rasarun.log --enable-api -m models
`
That way I get the verbose log format:

[code]

Finally I can extract just chat dialogs with a shell script that basically do a grep like in this raugh example:

`(venv) $ cat ras

[2020-05-01 12:00] sara-tagger commented on #5766
Thanks for submitting this feature request 🚀 @tttthomasssss will get back to you about it soon! ✨

[2020-05-01 12:00] sara-tagger commented on #5765
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-05-01 15:50] solyarisoftware opened #5768 "CR: RASA Core REST API /webhook: Add intent/action names attributes to any answer payload"
Hi all!

**Now**

The RASA Core REST API `/webhook` endpoint return just 2 attributes:

- ` recipient_id`
- `text` / other media

as this example shows:

    $ curl -s localhost:5005/webhooks/rest/webhook \
              -d '{ "sender": "Giorgio", "message": "I am a bit sad"}' | json
    [
        {
            "recipient_id": "Giorgio",
            "text": "Here is something to cheer you up:"

[2020-05-01 16:55] marcco411 commented on #3294
same here

[2020-05-01 19:37] tatianafrank opened #5769 "RasaX cert issue connecting to cloud Postgres DB"
**Rasa version**:1.9.5

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):  0.27.4

**Python version**: rasa x docker image

**Operating system** (windows, osx, ...): rasa x docker image

**Issue**:
We’re trying to connect Rasa X to a could instance of postgres DB but getting this error. (The postgres instance is v10) It's asking for a cert but we don’t see a plac

[2020-05-01 23:50] #5744 closed

[2020-05-02 18:14] solyarisoftware commented on #4683
I'd want the issue to be reopened. I think is not "stale"; isn't exactly solved yet; my reasons in this RASA forum post:
https://forum.rasa.com/t/how-can-i-get-a-conversation-id-so-i-run-an-action-via-post-from-an-app/19987/9?u=solyarisoftware

[2020-05-02 22:19] HarshitaSahai opened #5770 "ERROR"
ERROR: rasa-core 0.14.5 has requirement rasa-core-sdk~=0.14, but you'll have rasa-core-sdk 0.13.1 which is incompatible.

I have installed python 3.5
Tried changing requirement with the latest version of rasa-core

Also having   ERROR: Failed building wheel for cytoolz this as well

[2020-05-03 11:51] akashpanwar4411 commented on #1436
thank you very much it work

[2020-05-03 12:56] Mazyod commented on #3807
What about RasaNLUInterpreter's constructor?

[2020-05-03 13:59] degiz commented on #5571
Update: forms (and possibly going away from them), is a part of "The rule to rule them all" discussion.

[2020-05-04 06:00] sara-tagger commented on #5768
Thanks for submitting this feature request 🚀 @tabergma will get back to you about it soon! ✨

[2020-05-04 07:33] tttthomasssss commented on #5681
Thanks very much for the bug report! Could you provide version numbers of the following things so we can locate the issue quickly (omit any if you don't have them installed):

* `rasa`
* `rasa-sdk`
* `rasa X`
* `python version`
* Your OS

[2020-05-04 08:31] tmbo commented on #5572
I think there was already an issue from @wochinge for this one, can we link / replace that one?

[2020-05-04 08:37] akelad commented on #2298
@solyarisoftware have you checked out [Rasa X](https://rasa.com/docs/rasa-x/) yet as well?

[2020-05-04 08:39] tmbo commented on #5573
@akelad is there still something you want to do here or can we unassign you?

[2020-05-04 08:45] akelad commented on #5573
unassigned myself, i'm done with my part :D

[2020-05-04 08:50] wochinge commented on #5572
That's the issue I created a while back: https://github.com/RasaHQ/roadmap/issues/649 . I'll add the relevant parts to this issue and close it

[2020-05-04 09:55] wochinge commented on #5454
@tmbo can you please link your prototype?

[2020-05-04 10:02] solyarisoftware commented on #2298
Hi @Akela,

so far I didn't use yet Rasa X.

BTW, the --debug approach is not a good solution, because  the conversation_id is not in the same line of input/output messages.

To have conversation transcripts logs (a must-to-have for any chatbot app), as far I understand need a Tracker `FileStore`, right? If so, why to not supply ready-made in RASA?

[2020-05-04 10:27] tmbo commented on #4526
I am not sure we should do this. It complicates installation for a minor benefit of fewer libraries during installation. I think all of these libraries are pretty small (just wrappers around HTTP API) - but good to double check. For the project it doesn't make a difference, as they will still stay dependencies we need to maintain, so all in all I don't think it is worth to make the installation ha

[2020-05-04 10:57] akshay2000 commented on #4526
@tmbo While I generally agree, there were specific reasons that led me to do this.

One of the major reasons is transitive dependencies. We have an internal platform SDKs for various stuff. Their dependency versions keep clashing with Rasa and friends' dependency versions. Python does not have a good way of keeping multiple package versions at the same time.

Also, I think (and I may be misremembe

[2020-05-04 11:00] tmbo commented on #4526
I'd be happy to e.g. remove certain libraries and call HTTP APIs directly or replace them with alternatives that have a smaller footprint (esp. if they depend on C code, but not sure which actually do).

To sum it up: I think removing / replacing dependencies, to avoid these conflicts/system dependencies is a great idea - optional dependencies will only solve these issues for some part of the peop

[2020-05-04 11:15] sara-tagger commented on #5770
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-05-04 11:15] sara-tagger commented on #5769
Thanks for raising this issue, @tttthomasssss will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-05-04 11:33] erohmensing commented on #3294
@sibbsnb @marcco411 this issue is from before Rasa 1.0, please open a new issue with all of the relevant information if you still think there is a bug

[2020-05-04 11:50] souvikg10 commented on #4526
@tmbo,
I think some of these channel connector libraries(telegram client for example) are not particularly written with robustness or security in mind. We have a number of flagged libraries in our internal system.I will request our security team to tell me what they have found as vulnerabilities but not much can be done about them except reporting to the package's maintainers. As python is going m

[2020-05-04 12:01] wochinge commented on #5770
@HarshitaSahai `rasa-core` was deprecated about a year ago. I recommend migrating to the `rasa` package which unifies `rasa-core` and `rasa-nlu` and makes a lot of things way easier.

[2020-05-04 12:01] #5770 closed

[2020-05-04 12:52] HarshitaSahai opened #5771 "Requirement.txt"
I'm trying to implement https://github.com/RasaHQ/medicare_locator/blob/master/requirements.txt it shows different issues I was suggested by your team member to install rasa package I have done that now shall I not run the requirement file as the version specified here and one in the package are completely different?

Please help URGENT
Thanks

[2020-05-04 13:05] tmbo commented on #5454
@wochinge here you go, there isn't a lot implemented yet. I tried different approaches and in my experience the best workflow was this:

1. if the configuration does not exist or if it does not contain `pipeline` / `policies` autoconfiguration is used during training. if these properties are available, training is done as it is now
2. once the automatic configuration is created, it should be dumpe

[2020-05-04 13:19] wochinge commented on #5454
cc @alwx @ricwo @chkoss

[2020-05-04 13:30] Prasanthmv opened #5773 "Not getting response from Rasa when chat with FB messenger"
I have done the setup as says in Facebook Messenger. But not getting the response in FB messenger when type Hi, Hello, etc?

Is there anything additional I need to do.please help

[2020-05-04 13:41] wochinge commented on #5454
The `ConfigGenerator` might also be called from within the `TrainingDataImporter` since the training data importer has the whole picture of the other files

Suggested next steps:
1. Set up a short implementation proposal
  - addressing the challenges
  - thinking about further challenges
  - how are configurations moved / how is their deprecation handled
  - ...
2. Implement a first version (discu

[2020-05-04 15:37] tmbo commented on #5454
we also discussed multilanguage earlier and asking the user about the language as part of rasa init. I'd treat that separately, as it requires us to maintain multiple "init projects", the current initial data is only in available in `en`.

[2020-05-04 15:45] cristianmtr opened #5774 "could not retrieve tracker conversation"
**Rasa version**: `Rasa 1.9.5`

**Rasa SDK version** (if used & relevant):

[code]

**Rasa X version** (if used & relevant):

**Python version**: 3.6

**Operating system** (windows, osx, ...):

[code]

**Issue**:

Request to `/conversations/SENDER_ID/story` fails.

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (confi

[2020-05-04 16:39] vishnupriyavr commented on #5773
Hi @Prasanthmv  Can you be more specific about what steps you have followed and which source documentation have you referred to while following the steps?

[2020-05-04 16:45] vishnupriyavr commented on #5771
Hi @HarshitaSahai, Can you please help and provide more details on the below:
1. What were the issues that you were facing initially with requirements.txt?
2. Is it working fine now after installing rasa package, as suggested by the team member?

[2020-05-04 18:05] ganeshviyer opened #5775 "Unable to install rasa on macOS Catalina 10.15.4"
Posted the issue on Rasa forums here - https://forum.rasa.com/t/unable-to-install-rasa-on-a-fresh-installation-of-catalina/28367.

I had a fresh installation of Catalina (10.15.4) and have been struggling to install Rasa on it.

I get the following error upon doing the recommended `pip3 install rasa`:

[code]

I have the following responses from the version commands on pip and pip3 (I have latest

[2020-05-04 21:02] tatianafrank commented on #5769
thanks @tttthomasssss

[2020-05-05 01:11] rgstephens commented on #5749
@solyarisoftware Thanks for the detailed suggestions.

[2020-05-05 02:42] vishnupriyavr commented on #5775
Hi @ganeshviyer , You are trying to install the package to a system folder which you don't have permissions to write to.
You can use the option below:
 - Setup a virtual env to install the package (recommended):
[code]
Please try that and let me know if it works.

[2020-05-05 03:26] Prasanthmv commented on #5773
@vishnupriyavr  I have followed https://rasa.com/docs/rasa/user-guide/connectors/facebook-messenger/

exactly same steps I followed

[2020-05-05 07:01] tabergma commented on #5768
Thanks @solyarisoftware for the feature request.

Just to check can't you receive the information from the endpoint `/conversations/{conversation_id}/tracker`? This should have a list of events and the information about the latest message.

[2020-05-05 07:13] wochinge commented on #5091
This is actually a clear issue. The session expiration was disabled and the action was restarted anyway. That shouldn't happen.

[2020-05-05 07:51] HarshitaSahai commented on #5771
def _load_tf_config(config: Dict[Text, Any]) -> Optional[tf.ConfigProto]:
AttributeError: module 'tensorflow' has no attribute 'ConfigProto'
make: *** [train-core] Error 1

The error is now showing the file which I'm currently using is not having the required attribute aa I think it must be designed using the previous version of TensorFlow.
What should I do now? Please help I have installed the la

[2020-05-05 08:22] solyarisoftware commented on #5768
Thanks a  lot @tabergma,

Yes, calling the endpoint you specified I got the intent of the last user message:

[code]

So the intent of last message is `latest_message.intent.name` of the JSON payload, That solves my problem!

---

Digression: that has to be considered maybe a workaround because I need to call 2 HTTP requests ( before: /`webhook` and afterward `/tracker`) for any message, slowing d

[2020-05-05 08:29] #5755 closed

[2020-05-05 10:12] solyarisoftware commented on #5749
BTW, rethinking again about how to simplify/clarify RASA HTTP API documentation in general, I believe page https://rasa.com/docs/rasa/api/http-api/ is not fully clear (for beginners at least) and it's partially incomplete, as said.

Here the complete list of available endpoints that `rasa run` shows:

[code]

What I propose to improve docs is a https://rasa.com/docs/rasa/api/http-api/ page rescope

[2020-05-05 10:25] solyarisoftware commented on #5774
Hi Christian,

you mention the GET request to endpoint: `/conversations/SENDER_ID/story`

Are you sure you are using an existing SENDER_ID in your story call?

BTW, the SENDER_ID is the attribute `sender `in `webhooks/rest/webhook` enpoint, see:

[code]

[2020-05-05 10:38] cristianmtr commented on #5774
Yes, I am using an existing senderid. I can get the JSON representation
just fine, via the /conversations/senderid/tracker endpoint

On Tue, May 5, 2020, 12:25 PM Giorgio Robino <notifications@github.com>
wrote:

[2020-05-05 10:42] rashmimetri commented on #4749
How was this resolved? @kapoorh

[2020-05-05 11:52] JanMelicharik commented on #3561
Hey, i'm not sure how elegant this solution is, but in case you're using rich message formatting such as blocks and attachments, those cause the issue of the notification which cannot display the contents. You can set the message plain text parameter and his will be shown in the notification body.

My use case:
I was writing a python code for my slack App and i found out that when you try to enter

[2020-05-05 12:33] kapoorh commented on #4749
Hi @rashmimetri ,

Instead of updating the rasa version into the same project, I created new project and trained the model.

Thanks and Regards
Harsh

[2020-05-05 13:13] rashmimetri commented on #4749
Thank you.. Will try it

[2020-05-05 17:03] rgstephens opened #5783 "Option to run nlu test against intents in e2e stories"
**Description of Problem**:
When I run e2e tests and there errors associated with the nlu, I'd like to see the nlu confidence scores but the generated intent related results files (`intent_report.json`, `intent_success.json`, etc) appear to be the results from a cross validation test.

If I want to see the confidence levels for the utternaces in my e2e stories, I have to pull them out into a separ

[2020-05-05 17:10] vishnupriyavr commented on #5771
Hi @HarshitaSahai, the error you are getting is due to the usage of Tensor flow 2.x version, please install the tensorflow version as per requirements.txt, which is as below:
'''
tensorflow==1.12.0
'''

[2020-05-05 18:02] HarshitaSahai commented on #5771
So the problem in doing this is:
1. Python 3.7 : supports rasa but not tensorflow = 1.12.0
2. Python 3.5: supports tensorflow but not some packages in rasa. ( Using cached python_socketio-4.5.1-py2.py3-none-any.whl (51 kB))

Can you recommend the version I should use that will not lead to the error?

[2020-05-05 21:12] tatianafrank commented on #5769
just following up @tttthomasssss

[2020-05-05 22:27] ganeshviyer commented on #5775
Hello @vishnupriyavr - thanks for suggesting using virtualenv.  I seem to have cleared my initial hurdle, but looks like I ran into a new one.

After running the following -
[code]
the installation started and didn't end with an error (I got a warning on the pip version - I get the same warning if I use the third command I wrote above or the one you suggested).  However, upon examining if rasa was

[2020-05-06 02:30] vulauet commented on #5360
I'm having this same issue. Rasa runs into this problem when I try to build tensorflow from source following this guide https://www.tensorflow.org/install/source#docker_linux_builds
I've digged through the diet_classifier.py and indeed can't find the definition for _set_optimizer() method. I'm using rasa 1.9.4 and tensorflow 2.1.0. I'd really appreciate any help.

[2020-05-06 06:26] dakshvar22 commented on #5746
Seems to happen if you use the default cache folder for macOS which is generally located at `/var/folders/...`
If I manually set the cache folder to a persistent location on disk, the model gets cached properly for future use.

[2020-05-06 06:41] vulauet commented on #5360
I've managed to run rasa by commenting out the line `self._set_optimizer(tf.keras.optimizers.Adam(config[LEARNING_RATE]))` and replace it with `self.optimizer = tf.keras.optimizers.Adam(config[LEARNING_RATE])` in diet_classifier.py (and in ted_policy.py). Does rasa depend on additional libraries to auto generate setters?

[2020-05-06 07:11] wochinge commented on #4749
What was your log trace @kapoorh ? Which version of Rasa Open Source were you using?

[2020-05-06 07:20] govertbuijs commented on #5542
Alas, this doesn't resolve the issue.

Unfortunately Rasa still receives the utterances in the reversed order from the (Form) Action.

[2020-05-06 07:22] gongshaojie12 commented on #5754
However, when people chat with rasa, it is inevitable that some people will add '/' at the beginning of the sentence. We cannot tell the user not to start the special character '/' conversation with rasa when the product is released.

I want to implement the following three functions at the same time:
1. When message.text = '/ greet {"people": "tom"}':
The result returned by ‘model / parse’ is as

[2020-05-06 08:44] giorgobiani commented on #5705
Hi,

Dear @tabergma, I represent the company where @3NFBAGDU works, we are heavily depended on RASA and are using it for 2 years now.  I understand that maybe the form of the question or details seemed little bit different, but I believe this issue is the same that we are facing. So far we have built various custom components, one of which was injecting custom trained (with gensim) word2vec & sent

[2020-05-06 09:00] koaning commented on #5746
Interesting. Is this something you can set in `config.yml`? I couldn't see it described in the [docs](https://rasa.com/docs/rasa/nlu/components/#converttokenizer).

[2020-05-06 09:02] m-vdb commented on #4514
Hello @IgNoRaNt23, for the sake of understanding your use case: what's in your lookup tables? They seem really long compared to what we commonly see. Also, is this still an issue with newest Rasa versions? Thanks 🙏

[2020-05-06 09:03] tabergma commented on #5754
This seems like an edge case. I think we can update our code to not parse messages that have a whitespace after the `/` as an intent. So, if the message starts with `/greet` it should get parsed as an intent, but if it starts with `/ greet` then we should treat it as a normal message. Would that help?

[2020-05-06 10:17] kapoorh commented on #4749
Hi @wochinge ,

The issue was with older version of Rasa X 0.22.2. Now I am not facing any issue.

Thanks and Regards
Harsh

[2020-05-06 10:25] Ghostvv commented on #5360
`_set_optimizer()` is present in tensorflow 2.1, maybe they removed it in latest master

[2020-05-06 11:42] tmbo commented on #5454
@tabergma can we come up with a simple schema for the start where we pick decent values for `epochs` and `max_history`? (and any other parameters that we could easily improve)

I think we should start with something simple ala, 100 training samples -> 100 epochs, 1000 training samples -> 20 epochs or something like that.

[2020-05-06 13:57] tabergma commented on #5454
I think the default hyper-parameters we have now for the `DIETClassifier`, `ResponseSelector` and the `EmbeddingIntentClassifier` don't need to be touched. I think in most cases `epochs: 100` should work well. If the user has a lot of data (> 5000) then it might make sense to increase the number to 200. However a better way would be that we automatically stop training if the model is not improving

[2020-05-06 16:04] Ghostvv commented on #5454
automatic training stopping is tricky considering we have random negative sampling in the loss
regarding max_history, I think the default should be infinity (currently implemented by @evgeniiaraz for end-to-end, can be easily implemented in core right now)

[2020-05-06 16:47] akelad commented on #2298
The reason I ask about Rasa X is because you can easily look at the conversation transcripts there.
In any case, to access the conversation of a users history, I would suggest using one of the persistent tracker stores described [here](https://rasa.com/docs/rasa/api/tracker-stores/). Then you can access the history through the [API](https://rasa.com/docs/rasa/api/http-api/#operation/getConversatio

[2020-05-06 17:24] m-vdb commented on #4963
@JEM-Mosig given that #4088 is closed without us ever tackling this ticket, should we simply close this? Or is there another use case that we would like to address?

[2020-05-06 17:29] m-vdb commented on #3900
@erohmensing @wochinge this sounds super low priority to me. How bothering is this? Are the warnings valid?

[2020-05-06 18:38] ortsaCniveK commented on #5564
@Ben-Mark I spun up a basic rasa project on rasa `1.7.0` as well as an S3 bucket with the initial model trained and was able to pull from the S3 bucket and load the model as expected (however without using Docker). What jumps out as a potential issue is adding the environment variables and expecting them in the docker container;  in order for the docker container to see those environment variables

[2020-05-06 19:52] tttthomasssss commented on #5769
Hi @tatianafrank - sorry for the delayed reply. We'll look into this shortly!

[2020-05-06 19:59] tangochris commented on #4479
This issue is resolved for us (thanks for the help @erohmensing!).

The key to resolution was understanding that chat in Rasa X relies on the event broker RabbitMQ (as illustrated in this [architecture diagram](https://rasa.com/docs/rasa-x/installation-and-setup/architecture/#architecture)). We thought the API calls by Rasa X to Rasa OSS were used for chat, but they are a red herring.

With this u

[2020-05-06 21:12] erohmensing commented on #4479
Oh man, how lovely it feels to close an issue from September 😄

[2020-05-06 21:12] #4479 closed

[2020-05-07 02:09] gongshaojie12 commented on #5754
Thank you very much, hope this problem can be solved in the next version.

Note that there is no whitespace after the '/' in the example of my last reply. It may be that I caused spaces during the formatting code. I revised the previous reply. Please be informed, thank you.

[2020-05-07 02:41] gongshaojie12 commented on #5754
![图片](https://user-images.githubusercontent.com/6407116/81248463-f6c25080-904e-11ea-8fc0-249b5b57de98.png)
This is the code I modified in _parse_message() to solve this special character '/' problem (please ignore print, just for debugging). Or you have a better solution.

[2020-05-07 08:02] m-vdb commented on #5769
Hello @tatianafrank , by taking a closer look at your traceback `Permission denied FATAL:  no pg_hba.conf entry for host ...` tells me that it's possible that your cloud database is not properly configured to accept connections from Rasa X host. Is this something that you can double-check?

If this is something you already checked, could you provide details about how you setup the connection to yo

[2020-05-07 09:15] varun-d commented on #5765
Closing issue.

This has been fixed perfectly in the new versions.

Working fine in:
**Rasa version**: 1.10.0
**Rasa X version**: 0.28.0

[2020-05-07 09:15] #5765 closed

[2020-05-07 09:36] akelad opened #5785 "Make configuration of max_history cleared for TED"
The warning described on the [documentation](https://rasa.com/docs/rasa/core/policies/#ted-policy) for TEDPolicy is not super clear about where the `max_history` actually gets set. The parameter itself is also not listed as one of the configuration options for the policy, which makes it even more confusing. We should make that clearer.
See forum post for reference: https://forum.rasa.com/t/running

[2020-05-07 09:41] akelad opened #5786 "Max_history parameter should be carried over to the featurizer definition in TEDPolicy"
If you have your configuration defined like this, with the featurizer defined explicitly:

*   name: TEDPolicy
     max_history: 5
     featurizer:
*   name: MaxHistoryTrackerFeaturizer
     state_featurizer:
*   name: LabelTokenizerSingleStateFeaturizer

The `max_history` parameter won't get carried over to the `MaxHistoryTrackerFeaturizer`. This is kind of strange behaviour, because if you speci

[2020-05-07 09:42] akelad commented on #5783
@rgstephens make sure to put them on a sprint board, otherwise no one will see them (i've done it this time)

[2020-05-07 10:21] erohmensing opened #5787 "rasa export only exports events since latest session_started event"
**Rasa version**:
master (2de28adb36953996e5af7414ed9dd61534441231)

**Rasa X version** (if used & relevant):
0.28.1

**Issue**:
When exporting conversations from the tracker store, only the events since the latest session_started event are pulled. This is because by default, the SQLTrackerStore.retrieve() pulls events since the latest session_started event https://github.com/RasaHQ/rasa/blob/mast

[2020-05-07 10:26] erohmensing commented on #3900
The warnings are valid, it just throws every time it sees the slot/intent which is kind of annoying. I agree that it's very low, definitely a "nice to have". We can put it on the "help wanted" project instead if you like.

[2020-05-07 10:28] tabergma opened #5788 "Set role/group only to existing labels"
If you are using entity roles/groups, the model can predict something like
[code]
The role is set to `O`, but there is no `O` role label in the training data. It basically refers to "no role label detected". Instead of setting the role to `O`, we should remove it from the entity returned by the model.

[2020-05-07 10:30] m-vdb commented on #3900
ok 👍 added the labels. Thanks @erohmensing !

[2020-05-07 10:31] erohmensing commented on #5787
I believe you can use rasa export with any tracker store, so ideally the parameter to retrieve the entire history (versus just the session) would be implemented on all tracker stores/on the base class

[2020-05-07 11:52] erohmensing commented on #3900
I removed it from the project board and the priority label because there's a separate board for contributors, does that make sense?

[2020-05-07 11:56] m-vdb commented on #3900
ahhhh, I thought the label `help wanted` was enough. Yes it does! 🙏

[2020-05-07 11:58] sara-tagger commented on #5775
Thanks for the issue, @tabergma will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-05-07 11:58] sara-tagger commented on #5774
Thanks for raising this issue, @rgstephens will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-05-07 11:58] sara-tagger commented on #5773
Thanks for the issue, @akelad will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-05-07 11:58] sara-tagger commented on #5771
Thanks for the issue, @TyDunn will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-05-07 12:36] TyDunn commented on #5771
@HarshitaSahai The project is set up for `rasa-core-sdk~=0.13.1`, `rasa_core~=0.13.8`, and `rasa_nlu~=0.14.6`. Did you install these versions?

[2020-05-07 12:39] bivas6 commented on #5270
@sushilr007
Did you find a solution? I also experienced this error.

[2020-05-07 12:58] degiz commented on #5270
@sushilr007 @bivas6

Sorry for the delay!

From what I can see you're using `rasa/rasa:1.2.7-full` as a base image for your action server.
Please consider using `rasa-sdk:1.10.0` as described [here](https://rasa.com/docs/rasa/user-guide/how-to-deploy/#deploying-your-action-server).

[2020-05-07 13:45] julienbronner opened #5789 "Error ‘Permission Denied’ using Docker to install custom dependencies"
Hello,

I'm using Rasa and Rasa-X for a bit more than a month.
I want to use Custom Actions, and I need to include some dependencies which are not included in rasa_sdk default image. I followed the guide ([https://hub.docker.com/r/rasa/rasa-sdk](https://hub.docker.com/r/rasa/rasa-sdk?fbclid=IwAR2qOBOXSlwMRWmJnRWk6Mctpq1tTydBQ90yBB5a9Oc6g9j7VEg3evSsK68)) and read about other users that had the same

[2020-05-07 14:31] erohmensing commented on #5751
Hey @nbeuchat, thanks for bringing this up. I think you make a good point about entity featurization causing unexpected behavior in bots. This is something we're aware of and want to fix properly.

Ideally we'd do this by providing better default behavior (e.g. if it were to learn from the stories where entity featurization is actually affecting the prediction, or something of that nature) instead

[2020-05-07 15:44] eziolotta commented on #5355
I have same issue when train a model with latest Rasa version
I have istalled Rasa 1.10 in a virtual env with Python 3.6.5 in Windows

With tensorflow 2.1 I had an exception, documenting I read that a downgrade of tensorflow to 2.0 was needed.
After downgrade I had other exception "InvalidPolicyConfig: Module for policy 'KerasPolicy' could not be loaded"

thanks, help me!!!...

###################

[2020-05-07 16:17] ganeshviyer commented on #5775
@sara-tagger , @tabergma - Spent some time troubleshooting this.  I think I may have a solution, but not sure it's the best one.

This seems exclusive to Catalina.  In linecache.py in your Python folder, you need to replace `sys.modules.values()` in line 48 with `sys.modules.copy()`.

This allowed me to run rasa locally and get unblocked.  Not sure if this is a foolproof solution.

[2020-05-07 16:18] chkoss commented on #5542
@govertbuijs We added this issue to our todo list, thanks for bringing it up!

[2020-05-07 16:20] chkoss commented on #5683
Closing this because the requested feature already exists

[2020-05-07 16:20] #5683 closed

[2020-05-07 16:28] erohmensing opened #5792 "Duckling url with trailing slash leads to parsing failure"
Noticed during rasa workshop setup:

**Error (including full traceback)**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[code]

[2020-05-07 16:51] ThWoywod commented on #4602
Does somebody have any solution for this issue?
I have this problem myself on a server with an a bit old virtualized CPU.

[code]

I run this command: `docker run -p 5005:5005 -ti rasa/rasa:1.9.5 run -m models --enable-api`

[2020-05-07 17:53] HarshitaSahai commented on #5771
I was advised to install rasa package did that and I guess it has installed the above mentioned (have checked they are present).
 Now I'm getting :
python3 -m rasa_core.train -d domain.yml -s data/core -o models/current/dialogue -c core_config.yml
Traceback (most recent call last):
  File "C:\Python35\lib\runpy.py", line 170, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Python35\lib

[2020-05-07 18:27] #5645 closed

[2020-05-08 14:03] sheggamharshith opened #5795 "rasa x command error"
**Rasa version**:

1.10.0
**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):
0.22
**Python version**:
3.6

**Operating system** (windows, osx, ...):
Mac OS

**Issue**:
2020-05-08 19:30:27 ERROR    sanic.root  - Unable to start server
Traceback (most recent call last):
  File "/opt/anaconda3/envs/rasa/lib/python3.6/site-packages/sanic/server.py", line 860, in serve

[2020-05-08 14:10] sheggamharshith commented on #5795
if I restarted  and run  the command

and train a model the error pops up
Training Core model...
2020-05-08 19:39:09 ERROR    rasax.community.api.blueprints.models  - 500, message='Internal Server Error', url=URL('http://localhost:5005/model/train')

is that. a port problem or should I change any code

[2020-05-08 18:29] tglawless commented on #5769
Connectivity to the database works, but a self-signed certificate is required.  For example, from a client machine...

[code]

In this cases, the `cert.crt` file contains a self-signed certificate generated by the cloud provider.  How would be include this certificate in the Rasa X Helm chart?

[2020-05-09 04:56] MukulSharmaGit commented on #2943
@elcolie
Were you able to solve this issue? I am facing the same issue.

[2020-05-10 07:48] rashmimetri commented on #3563
hey all, i checked for duplicate intent names in the domain and NLU, it ain't the issue.

Here is what i get,

WARNING:rasax.community.services.event_consumers.event_consumer:Saving event fai
led due to an 'IntegrityError'. This means that the event is already stored in t
he database. The event data was '{"sender_id": "102891", "event": "action", "tim
estamp": 1589095664.1710122, "name": "action_l

[2020-05-10 10:22] Arya1405 commented on #2478
Hi,
I am trying to run my chatbot in rasax talk to your bit section and I keep getting action_listens as the reply always.

Can anyone help me?

[2020-05-10 12:51] HarshitaSahai commented on #3096
Python 3.6.10 :: Anaconda, Inc.
ERROR
(python3) C:\.....\.....\medicare_locator>make train-core
python3 -m rasa_core.train -d domain.yml -s data/core -o models/current/dialogue -c core_config.yml
make: *** [train-core] Error 9009

[2020-05-10 20:31] #4356 closed

[2020-05-11 07:12] wochinge commented on #3563
@rashmimetri Could you please create an new issue and tag me? I guess you're running on Windows?

[2020-05-11 07:38] wochinge commented on #3563
@rashmimetri My colleague created an issue for this: https://github.com/RasaHQ/rasa-x/issues/2710 Please comment there if this matches the issues which you're experiencing!

[2020-05-11 07:43] akelad commented on #5773
Hi @Prasanthmv please fill out the issue template with the rasa version you're using etc. And can you post your logs from rasa as well?

[2020-05-11 07:43] alwx commented on #3563
@rashmimetri we've seen this error on Windows. So if you use Windows, my suggestion would be to use WSL until we fix it.
Installing WSL is really easy and takes 5 minutes: https://docs.microsoft.com/en-us/windows/wsl/install-win10
Then you can use one-line deploy script to run Rasa X: https://rasa.com/docs/rasa-x/installation-and-setup/one-line-deploy-script/#windows-and-macos-installation

[2020-05-11 08:04] tabergma commented on #5775
@ganeshviyer Glad that you found a solution! I'll close this issue as we don't need to change anything on our side for this. Feel free to open a thread on the [forum](https://forum.rasa.com/) to discuss your solution with others. Thanks!

[2020-05-11 08:04] #5775 closed

[2020-05-11 09:15] sara-tagger commented on #5795
Thanks for raising this issue, @erohmensing will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-05-11 09:17] sara-tagger commented on #5789
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-05-11 09:20] erohmensing commented on #5795
Hey there @sheggamharshith, Rasa 1.10 is incompatible with Rasa X 0.22. Please see the compatiblity matrix here: https://rasa.com/docs/rasa-x/changelog/compatibility-matrix/

Can I ask why you decided to install Rasa X locally instead of via one of our [recommended deployment methods](https://rasa.com/docs/rasa/user-guide/how-to-deploy/#recommended-deployment-methods)?

[2020-05-11 09:49] jjyock opened #5798 "rasa recent bug in mitie ner"
**Rasa version**:Rasa 1.10.0

**Python version**:3.7.0

**Operating system** (windows, osx, ...): linux

**Issue**:
the MitieEntityExtractor can recognize the category but the start and end are always the total sentence.
the training
"entities": [
    {
      "entity": "disease",
      "value": "感冒了该吃什么药",
      "start": 0,
      "end": 8,
      "confidence": null,
      "extractor": "MitieEntityE

[2020-05-11 10:27] sheggamharshith commented on #5795
@erohmensing  thanks for the compatibility matrix i have resolved the issue  mam i was just checking it

[2020-05-11 10:27] #5795 closed

[2020-05-11 10:47] tczekajlo commented on #4797
@erohmensing Can you reproduce the error? If yes can you give me the steps/commands that you executed? Additionally, a version of docker, image, CentOS will be useful.

I've checked the latest docker image (`rasa/rasa`) with `CentOS 7 Core` using docker with `root` permission and I couldn't reproduce the same behavior that you described :)

[2020-05-11 10:54] Ben-Mark opened #5799 "Rasa model versions backwards compatibility"
**Description of Problem**:
After rasa-x / rasa version upgrade , previous models from previous versions are incompatible.
if it was once in a year, could be ok, but after every version (every few days) it's becoming a problem.
look at the tag's release date, its every 3/4 days :
https://hub.docker.com/r/rasa/rasa-x/tags
https://hub.docker.com/r/rasa/rasa/tags

**Overview of the Solution**:
backwa

[2020-05-11 11:00] solyarisoftware opened #5800 "Response Selectors: multiline text as answer"
Hi, that's a Response Selectors change request.

---

I would like to use Response Selector for a FAQ system where **answers are multiline texts**, not just a single lines.

Take this Q/A example, where question is:

and the corresponding answer (real example from twitter.com FAQ):

So far I can not manage well this multiline textual answer with `data/responses.md` Response Selector markdown forma

[2020-05-11 11:35] #5003 closed

[2020-05-11 12:00] sara-tagger commented on #5800
Thanks for submitting this feature request 🚀 @rctatman will get back to you about it soon! ✨

[2020-05-11 12:00] sara-tagger commented on #5799
Thanks for submitting this feature request 🚀 @tttthomasssss will get back to you about it soon! ✨

[2020-05-11 12:00] sara-tagger commented on #5798
Thanks for raising this issue, @wochinge will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-05-11 12:07] chkoss commented on #5542
@govertbuijs I haven't been able to reproduce the problem yet. How often does it roughly happen for you? And can you maybe share the (or a reduced version of the) code for the `FormAction` with which the issue sometimes occurs?
Also, just to confirm: It seems to me like the ordering according to timestamps is fine, but the timestamps themselves are wrong, because the earlier message (`'Thanks for

[2020-05-11 12:56] tttthomasssss commented on #5799
Hi @Ben-Mark, thanks very much for your raising this issue.

We're trying to avoid model breaking changes as much as possible - aiming to keep them at once a month. Can you describe what specifically bothers you? Is it the re-training of the models? Are you auto-pulling on latest?

rasa x is still pre-1.0 and there are lots of improvements happening at the moment.

Let me know if you have any furt

[2020-05-11 13:32] helsingborgsstad commented on #3839
I have the same problem, I am on Mac

[2020-05-11 13:54] m-vdb commented on #5769
I've taken a closer look at our code and the helm chart configuration, and I don't think this is something we support today. Am I right @wochinge ?

[2020-05-11 14:04] Ben-Mark opened #5801 "Rasa-x http api - cant upload model"
**Rasa version**: 1.9.6

**Rasa SDK version** (if used & relevant): none

**Rasa X version** (if used & relevant): 0.27.7

**Python version**: 3.6.10

**Operating system** (windows, osx, ...): ubuntu 18.04

**Issue**: rasa-x upload model api fails

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if rele

[2020-05-11 14:22] Ben-Mark commented on #5799
We're storing the trained models in s3
Trained models from rasa version 1.9.7
are not compatible with  rasa version 1.10.0

But last 2 weeks we've upgraded rasa from 1.8.3 to 1.9.7 and we had to re train everything.
We a large number of different rasa nlu data in separated rasa instances.

on v 1.10.0 it requires us to re train everything again , this is a pain.

I believe when upgrading a rasa ve

[2020-05-11 14:25] wochinge commented on #5769
I assume you specified the paths to the self-signed certificates via the `DB_URL` environment variable @tatianafrank ? Great job in figuring that out! I think at this point it's just a permissions error. The `rasa-x` image doesn't run as `root`. On Kubernetes the user is `1001`, but this depends a bit on your cluster configuration.

In general this is not related to the Helm chart, but rather Rasa

[2020-05-11 15:13] tglawless commented on #5769
@wochinge The path to the certificate is specified using the `PGSSLROOTCERT` environment variable in the example above.

The Helm chart would need to be updated to allow us to mount a secret containing the certificate as well as define an environment variable containing the path of the mounted secret.  The path environment variable could be calculated or hard coded, but I don't see a way around a

[2020-05-11 15:29] tttthomasssss commented on #5799
I see - thanks very much for your feedback. We'll always aim to keep backwards breaking changes to the absolute minimum necessary

[2020-05-11 15:29] #5799 closed

[2020-05-11 15:34] erohmensing commented on #5801
Hi @Ben-Mark. Those are not request body parameters, they're response parameters. Notice that they are listed under `Responses` and `Response samples`.

The only request body is the `application/gzip` -- as in, it's a binary file.

You should be able to simply copy the command shown in the UI here and change the relative path to the model after the `model=@`:
![image](https://user-images.githubuse

[2020-05-11 15:50] lomarceau commented on #5555
Hi @dakshvar22

Really sorry about the late reply, I had to work on other stuff and forgot about this open issue.
I downgraded to rasa 1.9.3 and started from a clean venv and the problematic config is now yielding the expected performance results. Not sure what was causing the original problem, but it's fixed now so I will close this issue.

Thanks!

[2020-05-11 15:50] #5555 closed

[2020-05-11 15:53] Ben-Mark commented on #5801
But how can I acquire the api token?
I tried sending the same request with the api/auth token I got, with no
success

On Mon, 11 May 2020 at 18:34 Ella Rohm-Ensing <notifications@github.com>
wrote:

[2020-05-11 15:56] TyDunn commented on #5771
@HarshitaSahai When you say you installed Rasa Open Source, all you did was follow [these steps](https://github.com/RasaHQ/medicare_locator#-how-to-install-and-setup-medicare-locator)? Running `pip install -r requirements.txt` will install the versions I mentioned above

[2020-05-11 15:58] erohmensing commented on #5801
You do not need to add a bearer auth token. The token goes in the URL as a query parameter, the only thing that should be changed in the copy/paste is the model name (and path if it's not in your working directory)

[2020-05-11 16:01] julienbronner commented on #5789
I used thid solution, and it work !
Thank you

[2020-05-11 16:01] #5789 closed

[2020-05-11 16:08] Ben-Mark commented on #5801
How do I get the api_token ?
Is it the same bearer key?

On Mon, 11 May 2020 at 18:58 Ella Rohm-Ensing <notifications@github.com>
wrote:

[2020-05-11 16:47] HarshitaSahai commented on #5771
Yes then I got the  error that this rasa version doesn't; support the json version and for some other packages as well so I installed the version specified by them

## Setup py requirements
jsonpickle==1.0.0
six==1.11.0
redis==2.10.6
fakeredis==0.10.3
future==0.17.1
numpy~=1.16.0
typing==3.6.6
ruamel.yaml==0.15.85
requests~=2.2
tensorflow==1.12.0
h5py==2.7.1
apscheduler==3.5.1
tqdm==4.29.1
ConfigA

[2020-05-11 17:47] erohmensing commented on #5801
I don't know what you're asking. The API token is there in the UI, and it doesn't change (it's per user), so you just need to copy it from your instance.

[2020-05-11 17:47] Ben-Mark commented on #5801
I'm calling the endpoint from another server
I need to upload different models to different rasa-x services

I can't go to each rasa service and to copy paste that api_token every time I need to send a request.

That is why I'm asking, how do you use this endpoint ?

POST:
/projects/{project_id}/models   ?

where do I add the actual model file?
body: {"model": "/pathToModel.tar.gz" ? }

authentica

[2020-05-11 17:49] erohmensing commented on #5801
This token (unlike the JWT token) doesn't change, so you only have to copy it once.

What library are you using to make the request?

[2020-05-11 17:54] Ben-Mark commented on #5801
nodejs axios ...

But I don't understand the api documentation of rasa-x says precisely that it has the option to upload a zipped model file.

How to use that endpoint?

if your still insisting on the curl command, then , no.. thats ridicules, we have 15 different rasa-x instances.

And we also reboot them some times , we upgrade them sometimes.
That's not a solution to acquire manually that api_t

[2020-05-11 18:27] erohmensing commented on #5801
Ok, then you should use the [`/auth` endpoint](https://rasa.com/docs/rasa-x/api/rasa-x-http-api/#section/Authentication) to get the JWT token and pass that as `authorization: Bearer` token.

The endpoint is `/api/projects/default/models`. You'll need to pass the `Content-Type` as `application/gzip`

As for how to pass the file, unfortunately I can't help with nodejs axios. It'll be however your li

[2020-05-11 18:38] Ben-Mark commented on #5801
that's not a problem I can use nodejs curl library, I'll try that out and update you
would be great if that endpoint documentation would be changed to a standard post request with a body json like {"model_file": "/..." }

[2020-05-11 18:41] Ben-Mark commented on #5801
does the upload model endpoint accepts octet-stream content type?
as in the actual response from rasa train model endpoint?

[2020-05-11 20:30] tttthomasssss commented on #5746
ran into this often enough now that its becoming a nuisance. pinning myself to the thread 👯

[2020-05-12 01:55] ForgetThatNight opened #5804 "Do a reverse engineering for the Rasa visualize"
The "Rasa Visualize " can transform training data into graphs. Now our product manager has given me a requirement that transforms graphs into training data. The existing architecture should be able to meet this requirement, Is there any God who can offer us a plan

[2020-05-12 07:38] sara-tagger commented on #5804
Thanks for submitting this feature request 🚀 @akelad will get back to you about it soon! ✨

[2020-05-12 07:39] erohmensing commented on #5792
Closed in #5790

[2020-05-12 07:39] #5792 closed

[2020-05-12 08:30] akelad commented on #5804
Hi @ForgetThatNight, this is not something that's part of the Rasa Open Source library (or will be in the near future), but there are external tools you can use to do this that integrate with Rasa:
* [Botsociety](https://botsociety.io/)
* [Botmock](https://botmock.com/)

[2020-05-12 08:30] #5804 closed

[2020-05-12 08:32] IgNoRaNt23 commented on #4514
The lookup table was a list of all unique street names in germany from a map database. However, it was just a showcase project at that time and we're currently not working on anything adress related. I may check if the problem is still there. But at least for the shell one can define the timeout now, can't one?

[2020-05-12 09:26] erohmensing commented on #5801
So after digging a little deeper, Rasa X uses sanic's [`files`](https://github.com/huge-success/sanic/blob/master/sanic/request.py#L223) to accept files, which come in as forms.

https://github.com/huge-success/sanic/blob/master/sanic/request.py#L207-L216
That accepts `application/url-form-encoded` and `multipart/form-data`. Our uploads (curl command and the UI) use `multipart/form-data` -- you'll

[2020-05-12 11:56] erohmensing commented on #4637
Thinking about this as well.

Both of these seem like issues that came from an invalid (by rasa but not yaml standards) domain
https://forum.rasa.com/t/i-have-enterd-the-intents-in-domain-but-it-say-entines-are-not-defined-in-domain/28338/3?u=erohmensing
https://forum.rasa.com/t/telegram-not-displaying-bot-messages/28372

We also have a spec, apparently, which i've never seen before. Would be grea

[2020-05-12 12:01] tmbo commented on #4637
I think mainly this should be checked before the training, a separate linting command is cherry on top

[2020-05-12 13:46] jamesmf commented on #5718
@degiz any thoughts?

[2020-05-12 13:51] amn41 commented on #5718
is this what you need? https://forum.rasa.com/t/introducing-entity-roles-and-groups/28156

[2020-05-12 14:23] jamesmf commented on #5718
@amn41 I don't think it quite solves the problem (though it's very cool functionality, I was excited when I saw it in the release notes), but correct me if I'm wrong.

I think that even if I had two separate roles for my entities, the `EntitySynonymMapper` would still synonym-ize them the same way.

[2020-05-12 16:53] m-vdb commented on #4514
yes this is now possible ✅ :
https://github.com/RasaHQ/rasa/blob/81b1cbe9d46f44e8235f5970ae43aab17c06476b/rasa/core/channels/console.py#L112-L119

[2020-05-12 18:56] rgstephens opened #5805 "Obfuscate passwords"
Database passwords are written to the log when verbose logging is enabled.

**Rasa version**: 1.9.5

**Issue**:
Passwords should not be written in clear text to the log.

[2020-05-12 21:19] #5625 closed

[2020-05-12 21:20] tmbo commented on #5581
cant reproduce

[2020-05-12 21:20] #5581 closed

[2020-05-12 21:22] tmbo commented on #5372
@dakshvar22 do you know what might be going on here?

[2020-05-12 21:26] tmbo commented on #2896
@wochinge you can avoid the stale label by assigning a type ;)

[2020-05-12 21:26] tmbo commented on #2896
I think we can close this now that we have the new docs landing page.

[2020-05-12 21:26] #2896 closed

[2020-05-13 04:04] #5134 closed

[2020-05-13 04:04] #5089 closed

[2020-05-13 04:04] #5106 closed

[2020-05-13 04:04] #4390 closed

[2020-05-13 04:04] #5190 closed

[2020-05-13 04:23] jk123vip commented on #5066
Did you just train NLU model?

[2020-05-13 06:13] ricwo commented on #4536
No longer blocked, tf 2.2.0 is available

[2020-05-13 07:44] akelad commented on #5805
@rgstephens do you have details of where the passwords get logged? As in, at which stage of the start up?

[2020-05-13 11:50] HarshitaSahai commented on #5771
Problem solved
If anyone is facing the problem run using administrator as well as run the make command in make file and not the one shown in readme

[2020-05-13 11:50] #5771 closed

[2020-05-13 11:52] HarshitaSahai opened #5807 "Telegram Bot Urgent"
Created the server and bot as explained but bot not responding what to do?
use commands such as /help /start

t.me/med360bot

[2020-05-13 13:09] jk123vip commented on #5798
Got the same problem and don't know how to fix it ...

[2020-05-13 13:49] sara-tagger commented on #5807
Thanks for the issue, @Ghostvv will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-05-13 14:13] degiz commented on #5704
@JiteshGaikwad @vipuldarkknight

thanks a lot for reporting the bug! I can also reproduce the exception. Since you already found a fix, would you consider creating a PR with a fix?

[2020-05-13 14:52] erohmensing opened #5809 "sdk version variable for docs"
rasa-sdk is a dependency of rasa, so it should be installed already during the docs build process. poetry should always install the latest compatible version of rasa-sdk in a new build environment, so i believe we should be able to get a docs variable for this. We can then use it in pages like [these](https://rasa.com/docs/rasa/user-guide/how-to-deploy/) instead of pinning .0 since we know it exis

[2020-05-13 14:57] #5788 closed

[2020-05-13 15:06] Wing-e7 opened #5810 "Unable train in rasa x UI"
**Rasa version**: 1.9.5

**Rasa SDK version** (if used & relevant):

**Rasa X version** : 0.28.0

**Python version**: 3.7

**Operating system** (windows, osx, ...): windows / anaconda virtual env

**Issue**: Unable to train model in rasa x

**Error (including full traceback)**:
[code]

**Command or request that led to error**:
[code]

**Content of configuration file (config.yml)** (if relevant):
[

[2020-05-13 15:10] Wing-e7 commented on #4623
I have the same problem. Anyway i can do the same on my end ?

[2020-05-13 15:50] rgstephens commented on #5805
Here's an example log message (I've replaced the password with asterisks):

[code]

[2020-05-13 15:55] erohmensing commented on #5807
This is not a Rasa bug but a usage question, please ask it on our [forum](forum.rasa.com).

[2020-05-13 15:55] #5807 closed

[2020-05-13 16:24] #4742 closed

[2020-05-13 17:00] m-vdb commented on #5583
@tabergma I'm taking a look at this one and I don't see what you mean by "it just supports 1.10.0-alpha1", because to me, it doesn't even support this:

https://github.com/RasaHQ/rasa/blob/c4d5302e3e9d6d4f442d15b42f1ad585f0d90d88/scripts/release.py#L33-L37

[2020-05-13 17:30] #4962 closed

[2020-05-13 18:06] amn41 commented on #5718
yes, you're quite right that it would. But you could build a custom synonym mapper component to do that part

[2020-05-13 18:07] Ben-Mark commented on #5801
Still unable to load a model to rasa-x

I am however able to load the trained model from the rasa rest API to s3, or to save it as a tar file
and also to open it, tested the model as well, and it's working,
also loaded the model to the rasa rest api, which is also working.

just the last piece of this puzzle which is missing, to just load the model to rasa-x.

this is the nodejs code I'm trying to

[2020-05-13 19:25] behnam354 opened #5813 "Adding support for Redis Cluster mode to store both lock-store and tracker-store"
**Short Description**: Being able to have the lock-store and the tracker-store inside a Redis Cluster in a single conflict-free database.
Typically, if working with AWS ElastiCache for Redis to better scale your need you may want to go with the cluster mode available option and therefore this feature is needed.

**More explanation:** Redis Cluster does not support multiple databases like the stand

[2020-05-13 19:52] HarshitaSahai opened #5814 "How to add feature on own"
Hey! So I have started with medicare_locator used the bot for features mentioned but now I want to add features per my requirement how do I do that where can I get the existing code or how can I start?

Thank you

[2020-05-13 20:04] #5163 closed

[2020-05-14 02:02] melindaloubser1 commented on #5700
For some reason I can't link these PRs, so here they are
https://github.com/RasaHQ/rasa/pull/5815
https://github.com/RasaHQ/docs-binder/pull/8

[2020-05-14 06:32] tabergma commented on #5583
When you execute `make release` it ask you for the next version
[code]
If you type in 1.10.0-alpha1, it will fail.

[2020-05-14 07:27] TyDunn opened #5817 "make it easy to track e2e test performance over time"
**Description of Problem**:

It is challenging to track how end-to-end tests are performing over time

**Overview of the Solution**:

"The ability to generate junit.xml files for some of the nlu / e2e story tests. The nlu test generates a json file which can be consumed by our pipeline, but the results of the e2e tests only show the errors in the failed_stories.md file. I’m not tied to junit.xml f

[2020-05-14 07:48] m-vdb commented on #5583
ok so it doesn't work at all for alpha. I was confused by what you wrote in the desc, because you said that "It just supports 1.10.0-alpha1"

[2020-05-14 08:02] tabergma commented on #5583
Sorry my bad. Yes, the version `1.10.0-alpha1` works, but `1.10.0a1` fails.

[2020-05-14 08:20] #5638 closed

[2020-05-14 08:21] #5617 closed

[2020-05-14 09:03] m-vdb commented on #5583
`1.10.0a1` is not following the [semver spec](https://semver.org/). But `1.10.0-a1` or `1.10.0-alpha1` would.

[2020-05-14 09:43] tabergma commented on #5583
Yes. However, the idea was to nevertheless support it. We could maybe just internally map `1.10.0a1` to `1.10.0-a1` or `1.10.0-alpha1` and print a warning for the user.

[2020-05-14 09:45] Ben-Mark opened #5819 "Rasa-x load model (make active) api is missing?"
**Description of Problem**:
After training a model with rasa api, and loading it via another api to the rest service.
I need to upload/update that trained model in rasa-x.
Assuming I was able to upload that model to the rasa-x api (which isn't working , opened another ticket for it: https://github.com/RasaHQ/rasa/issues/5801)
I still need to make it active, to load it. I can't seem to find any end

[2020-05-14 09:48] m-vdb commented on #5583
but why diverge from semver?

[2020-05-14 09:49] tabergma commented on #5583
@tmbo mentioned we should support it

[2020-05-14 09:51] tabergma commented on #5583
But we should definitely not just fail if a version number is not supported, but rather print a useful error message.

[2020-05-14 09:59] m-vdb commented on #5583
ok on that note we can definitely display what a valid version number looks like

[2020-05-14 10:49] chkoss opened #5820 "Implementation of auto configuration v1"
Step 1 for the auto configuration feature (#5454)

Implement the 1st iteration of the feature according to this proposal: https://docs.google.com/document/d/1bgmgr3tv3-HJ7l2Sl6DUR-pmU6C_PA7ypMs12kSRNig

Further steps to be done afterwards:
- documentation (#5821)
- flesh out the improvements to be done in a 2nd iteration (e.g. smart configuration based on the training data) -> see implementation p

[2020-05-14 10:53] chkoss opened #5821 "Add documentation for the auto configuration feature"
This relies on https://github.com/RasaHQ/rasa/issues/5820 being implemented.

Should probably also wait until we know more about how Rasa 2.0 is gonna look like, since many things are changing at the moment.

[2020-05-14 11:16] sara-tagger commented on #5819
Thanks for submitting this feature request 🚀 @melindaloubser1 will get back to you about it soon! ✨

[2020-05-14 11:16] sara-tagger commented on #5814
Thanks for submitting this feature request 🚀 @amn41 will get back to you about it soon! ✨

[2020-05-14 11:16] sara-tagger commented on #5813
Thanks for submitting this feature request 🚀 @tttthomasssss will get back to you about it soon! ✨

[2020-05-14 11:16] sara-tagger commented on #5810
Thanks for raising this issue, @tmbo will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-05-14 11:54] clungzta opened #5822 "Py3.8+ / TensorFlow 2.2 Support"
**Description of Problem**:
I'm using the default python 3.8.2 on a fresh install of Ubuntu 20.04.

When I proceed to install rasa (`pip3 install rasa`) I get:
[code]
and

[code]

There appears to be a version mismatch between rasa support and available tensorflow releases on py3.8+ (similar to #5722?).

I did made a quick and dirty attempt to manually override the TensorFlow version constraint to

[2020-05-14 12:18] vipuldarkknight commented on #5704
how can we do that?

[2020-05-14 13:11] degiz commented on #5704
@vipuldarkknight standard Github way - you fork the project, commit a change, and open the PR towards Rasa-master 😄

[2020-05-14 14:28] bubjanes commented on #5602
Not sure if this is the same or a different issue, but we could not get our lookup tables to work at all with DIET classifier (  ```entity_recognition: True``` ). It wasn't until we implemented ```CRFEntityExtractor``` that the lookup tables were read during training. This seems like either a bug or, if this is known, maybe this information should be added to the documentation.
----
Rasa version:

[2020-05-14 16:42] melindaloubser1 commented on #5819
I think you're looking for the `tag` endpoint  https://rasa.com/docs/rasa-x/api/rasa-x-http-api/#tag/Models/paths/~1projects~1{project_id}~1models~1{model}~1tags~1{tag}/put

[2020-05-14 16:47] Ben-Mark commented on #5819
Rasa-x tag model endpoint documentation:
[code]

I'm in guessing mode here,
Do I need to send a tag named 'activate'? to load the model in the rasa-x ui?

or how exactly do I use this endpoint?

[2020-05-14 16:49] tatianafrank commented on #5769
@wochinge following up on the comment above (@tglawless and I are working on this together)

[2020-05-14 18:21] dipinsonwani commented on #5061
I am facing the same issue

[2020-05-14 20:34] roniemartinez commented on #5602
@bubjanes I think your issue is unrelated.

[2020-05-15 01:34] melindaloubser1 commented on #5819
Yes, you tag it as "production". Here's an example that would do this:
[code]

[2020-05-15 01:35] #5819 closed

[2020-05-15 03:36] jamesmf commented on #5718
Gotcha yeah. I was just thinking it would be cool to have that as an optional feature of the default `EntitySynonymMapper` instead of writing a custom component.

I think it would be pretty easy to keep the same basic functionality by default, and just let the synonym mapper first check to see if the type of your entity matches the type of the synonym entry. If there's no type on it, it will proce

[2020-05-15 06:09] saxh opened #5826 "some problem with rasa x when using "correct this""
**Rasa version**:

Rasa Version     : 1.11.0a1
Rasa SDK Version : 1.10.0
Rasa X Version   : 0.28.2
Python Version   : 3.6.10

**Rasa SDK version** (if used & relevant):

**Rasa X version** (if used & relevant):

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

before I click "correct this" , the slot  event which is in the red box is normal.
![image](https://user-images.

[2020-05-15 08:46] regel commented on #4294
First use-case: Real example of metadata (slots?) **per conversation**: fetching the user profile from an AD when the conversation starts. For bookeeping, we need to have this metadata inside the conversation: uid, first_name, last_name, other unique identifiers. Right now, we're using hidden slots and a ad-hoc '/bootstrap' actions to set these slots. Some of them influence predictions, others don

[2020-05-15 09:06] sara-tagger commented on #5822
Thanks for submitting this feature request 🚀 @melindaloubser1 will get back to you about it soon! ✨

[2020-05-15 09:06] sara-tagger commented on #5826
Thanks for raising this issue, @TyDunn will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-05-15 10:28] eibhleag commented on #5783
@federicotdn @degiz Would appreciate input on priority / whether this is a loop thing? 🙏

[2020-05-15 10:47] eibhleag commented on #4963
@degiz Does this fit into any of the Rasa 2.0 work we're doing?

[2020-05-15 13:32] dakshvar22 opened #5830 "Model Regression tests"
Aim: Able to track change in performance of our ML algorithms across multiple datasets.

Assumptions:
1. This is only applicable to PRs which can affect the model performance.
2. By model performance we mean the accuracy of the model, irrespective of the metric used.
3. We only measure performance for NLU models right now.

Proposal:
Any PR which affects the model performance in our algorithms sho

[2020-05-15 13:35] dakshvar22 commented on #5830
@wochinge @tczekajlo Assigned you folks so that you can track the issue in the next sprint. Please feel free to re-assign as the squad decides.

[2020-05-15 14:05] wochinge commented on #5830
@tczekajlo I put it to the backlog. Please bring it up when plan the sprint on Monday in case you have capacity and wanna handle this one.

[2020-05-15 14:31] cristianmtr opened #5833 "allow to configure virtual_host parameter for pika connector"
**Rasa version**: 1.9.5

**Rasa SDK version** (if used & relevant): rasa-sdk==1.9.0

**Rasa X version** (if used & relevant):

**Python version**: 3.6

**Operating system** (windows, osx, ...):

**Issue**:

Cannot configure the "virtual_host" parameter of Pika.

We use a RabbitMQ service provided by CloudAMPQ. In order to connect there we need to specify an extra parameter, "virtual_host". Atm, Ra

[2020-05-15 14:31] TyDunn commented on #5826
Hi @saxh. I was able to verify this bug in Rasa 0.28.2. I will route it the engineering team to get it squashed. Thanks for reporting!

[2020-05-15 14:34] edmacovaz commented on #5128
Is this issue still current or can I close it?

[2020-05-15 14:38] tmbo commented on #5128
yes can be closed

[2020-05-15 14:38] #5128 closed

[2020-05-15 14:41] erohmensing commented on #5654
Hey @benos, sorry you haven't gotten a response yet. I'm wondering how you expect a bot to handle edited messages? As soon as you send a message, rasa will receive it and try to respond to it. If you edit it, do you expect Rasa to assume the old message as invalid and forget it, and process the new one? If so, what does that look like on the user side when the bot's invalid response is still in th

[2020-05-15 14:42] erohmensing commented on #5654
I agree that this sounds bad though 😅Ideally we'd just ignore the edit or something here

[2020-05-15 14:48] tmbo opened #5834 "Remove restaurant bot demo"
Remove the restaurant bot demo, it doesn't showcase a good way to build a bot and only confuses people.

[2020-05-15 15:09] benos commented on #5654
Hi @erohmensing ,

Thanks for looking into this. I don't think ignoring the first message would work for reasons you describe, plus the fact that it might already have been passed on from Rasa further down the stack, so that would need cancelling too, which seems really impractical.

So I see two options:

1. Treat the edited message as a new one. It appears this would be a fairly simple change, n

[2020-05-15 15:13] edmacovaz commented on #4425
Looking at this as part of #2768

![Latest version](https://user-images.githubusercontent.com/129265/82066196-5ebc0b00-96cf-11ea-8b52-53c6a4cab067.png)

[2020-05-15 15:20] benos commented on #5654
I suppose you could also do #2 just by checking for the edited_message property

[2020-05-15 16:40] erohmensing commented on #5654
Yeah my original instinct would just be to ignore messages with the `edited_message` property. I'm not sure if treating the edited message as a new one is what people would expect the behavior to look like 🤔

Should we go forward with ignoring the edits causing the infinite loop (and maybe figuring out the button tap thing on the way) and discussed edited message UX further? I think that's a more

[2020-05-15 16:44] benos commented on #5654
Sounds good.

I'm afraid my Python is way to weak to contribute a bug fix (we're only configuring Rasa - the rest of our Stack is on node)

[2020-05-15 16:44] erohmensing commented on #5654
No worries. Let me take a look into it!

[2020-05-15 16:49] melindaloubser1 commented on #5822
@clungzta , as per the [installation requirements], Rasa requires Python 3.6 or 3.7. That might change in the future, but it's really not a mismatch issue since 3.8 is not supported

[2020-05-15 16:49] #5822 closed

[2020-05-16 08:26] sushilr007 opened #5838 "Unable to run action server from Dockerfile"
**Rasa version**: 1.10.0

**Rasa SDK version**: 1.10.0

**Python version**: 3.6.5

**Operating system**: Windows 10

**Issue**:  I have docker-compose file In that I have two container rasa server and action server. but only rasa server is starting not action one.
I have actions.py and __init__.py  in the actions folder.
folder structure:
docker-compose.yml
actions
└───
         actions.py

[2020-05-17 11:39] pranavmakarand commented on #5398
I am facing an issue . I have installed rasa x using the integrated control … I have followed the procedure given in docs. I have synced my git to the rasa x . It shows a green handle meaning sync successful. All the stories , responses, have been updated in rasax uI. when i chat with the bot it doesnt give a reponse. I checked console it is giving 2.76631f6e.chunk.js:2 POST http://206.189.143.250

[2020-05-17 14:35] #5207 closed

[2020-05-17 17:38] Yaminick commented on #5805
This looks pretty simple, I can open a PR as a first contribution. Wondering if/how it makes sense to test for this?

[2020-05-17 17:40] xianjianbo opened #5842 "After connecting to a reposity, Rasa X UI is still empty"
**Rasa version**: 1.8.1

**Rasa SDK version** (if used & relevant):1.8.1

**Rasa X version** (if used & relevant):28.3

**Python version**:3.6

**Operating system** (windows, osx, ...):Ubuntu 16.4

**Issue**: After connecting to my github reposity, Rasa X UI is also empty, no data in NLU data, Stories, Domain, although the Status in UI shows : "You are up to date with the Git server".

**Error (in

[2020-05-18 06:00] sara-tagger commented on #5833
Thanks for the issue, @melindaloubser1 will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-05-18 07:25] wochinge commented on #5798
Thanks, for bringing this up. Seems to be a bug. Do you want to fix it (I'd be available for help / feedback) or should we?

[2020-05-18 07:46] wochinge commented on #5787
@ricwo `medium` or `high`?

[2020-05-18 07:48] degiz commented on #4963
This was not discussed in the scope of 2.0, but sounds like something to keep in mind while working on a training data format!
I'll add this issue to the "Nice to have" section of training data format doc.

[2020-05-18 08:00] wochinge commented on #5817
@RasaHQ/production-squad  can we deprio this?

[2020-05-18 08:17] 402210313 commented on #4881
i have same problem. is this solved?

[2020-05-18 08:27] AlucardNosferatu commented on #4881
Nope

[2020-05-18 08:29] TyDunn commented on #5817
@wochinge I want to talk to the user more first. I think I would make case that this would help enterprises use end-to-end tests more

[2020-05-18 08:35] dakshvar22 commented on #5528
@Ghostvv I agree, they should be excluded. cc @tabergma

[2020-05-18 08:46] JEM-Mosig commented on #4963
@degiz Since the story-structure-tool is a first step towards solving the Q2 blocker of reviewing conversations, I think this should definitely be in Rasa 2.0. Sorry for not pushing for this earlier.

[2020-05-18 09:11] sara-tagger commented on #5842
Thanks for the issue, @rgstephens will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-05-18 09:11] sara-tagger commented on #5838
Thanks for the issue, @degiz will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-05-18 09:48] amn41 opened #5845 "give an indication of test coverage"
**Description of Problem**:
Currently, there is no intuitive way to understand how well your e2e tests cover what your assistant can do.

**Overview of the Solution**:
One idea: let the `cli` report coverage. This could be a separate command, or part of `rasa data validate`. E.g.

Number of appearances in test stories: :

| Intent        | Appearances |
| ------------- |:-------------:|
| greet

[2020-05-18 09:48] amn41 commented on #5845
cc @TyDunn

[2020-05-18 09:51] jjyock commented on #5798
yes, maybe I can help to fix this bug, Do you want me to help?

[2020-05-18 10:03] wochinge commented on #5257
# Refactoring steps
## Simplifications
* no need to dynamically load the factory for the model in the beginning. That can be a later step

## Todos
* what about the `is_ready` checks in `Agent`
* Think about `processor._cancel_reminders`  and `_schedule_reminders`

## Steps
## Part 0: Agree on a `Model` interface
* The current suggestion in the issue is just a quick draft and needs to be discussed

[2020-05-18 10:10] wochinge commented on #5257
@tmbo I split the proposal in single steps. The comment looks a bit daunting due to its size but you can focus on the step headlines and the `rough plan` sections. The image describes the dependencies between the steps (e.g. we can can't do Step 4 without doing Step 0 first). In my opinion every step (besides step 0 & 5) makes sense to do, even if we don't continue with the subsequent steps.

[2020-05-18 11:47] jk123vip commented on #5798
It seems that the problem is in python environment or some dependent packages, because after using anaconda environment reinstalled rasa, this bug went away.

[2020-05-18 12:29] wochinge commented on #5817
@TyDunn ok, just checked. It would be just writing the return dictionary of https://github.com/RasaHQ/rasa/blob/26f78e845507d2e3a6a83ff75edd28687d3e8510/rasa/core/test.py#L557 to disk.

[2020-05-18 13:39] #3856 closed

[2020-05-18 14:31] federicotdn commented on #5833
Hey @cristianmtr, you can try an alternative, setting the `url` key to your complete AMQP URL containing all the information necessary:
[code]

[2020-05-18 17:08] #5244 closed

[2020-05-18 19:33] ganeshviyer opened #5852 "Getting a slew of warnings that a certain form feature is not found in my feature map"
**Rasa version**: 1.10.0

**Rasa SDK version** (if used & relevant): 1.10.0

**Rasa X version** (if used & relevant): (not used)

**Python version**: 3.7.7

**Operating system** (windows, osx, ...): OS X Catalina 10.15.4

**Issue**:
Getting a repeated set of warnings when using the rasa interactive command.  There are more than a hundred (probably touching a 1000) identical lines.

This comes up a

[2020-05-19 00:18] kearnsw commented on #5742
Resolved by #5743

[2020-05-19 00:18] #5742 closed

[2020-05-19 04:18] #4790 closed

[2020-05-19 05:13] Archish27 commented on #5845
I would like to work on this 😄

[2020-05-19 05:56] jjyock commented on #5798
@jk123vip  you also met the same problem? thank you!

[2020-05-19 06:34] #5805 closed

[2020-05-19 06:49] sara-tagger commented on #5852
Thanks for raising this issue, @dakshvar22 will get back to you about it soon✨

###### Please also check out the [docs](https://rasa.com/docs/) and the [forum](https://forum.rasa.com/) in case your issue was raised there too 🤗

[2020-05-19 07:18] #5195 closed

[2020-05-19 07:25] Ghostvv commented on #5852
Do you have `active_form_null` in your stories?

[2020-05-19 09:41] degiz commented on #5732
Hey @MadPr0grammer

Would it make sense to do that before the message reaches the NLU? Since the messages come from a channel, you can intercept the text (and fix) typos before even sending it further.

Changing the text inside NLU to fix typos sounds a little like not-the-NLU task to me.

[2020-05-19 10:58] koaning commented on #4280
During a recording I just noticed 10+ seconds. Now, we need to be careful here because the recording is most likely influencing the timing but it seems like Rasa currently can take an order of magnitude more than the 1.5 seconds mentioned in the issue.

[2020-05-19 11:38] Ghostvv opened #5855 "shorten the information in tqdm during training ML algorithms based on the log level"
**Description of Problem**:
currently DIETClassifier output a lot of info in tqdm:
[code]
which makes it unusable for small sized terminals.
we should consider removing some information like `loss` if log level is info
also consider shortening `entity_loss=0.044, role_loss=0.053` to `e_loss=0.044, r_loss=0.053`

**Overview of the Solution**:

**Examples** (if relevant):

**Blockers** (if relevant)

[2020-05-19 12:24] ganeshviyer commented on #5852
I couldn't find that string in my stories file.  However, if I use rasa interactive to guide the form interaction, then the following two lines get added to that story after all the required slots are filled -
[code]

These are identical with the lines that were added to the previous stories before I upgraded the version to 1.10.0 from 1.7.0.

[2020-05-19 12:26] ganeshviyer commented on #5852
This is my appointment form in the actions.py file as well -
[code]

[2020-05-19 14:37] Ghostvv commented on #5852
these 2 lines are correct

[2020-05-19 14:39] Ghostvv commented on #5852
it looks like `null` is read incorrectly as actual string "null" instead of being converted to `None`

[2020-05-19 14:59] ganeshviyer commented on #5852
Ah, is that because of the new format of the training examples?

[2020-05-19 16:09] wochinge commented on #5798
Which mitie versions did you use and where did you install it from?

[2020-05-19 16:31] degiz commented on #5732
Hey @MadPr0grammer

After thinking about it a little longer I've realised that you've mentioned:

Rasa Core is prediction next action based on the intents/entities, and doesn't have access to the original text.

Continuing about the stories with typos, I think it makes sense to:

- include the training examples with typos to the training data.
- or if you want to actually have a `SpellChecker`, yo

[2020-05-19 17:08] MaveriQ commented on #5722
i am getting this problem again. I have python 3.8.2 and I am using pip to install rasa

[2020-05-19 17:57] MadPr0grammer commented on #5732
Hi @degiz !

The "spell check" was just a simple possible use case. My actual use case is a bit complex:

I want to set some specific slots **along with the user's message**. There is some logic, based on which I'm deciding when to set those slots. This logic-based decision happens at the connector (i.e. before sending it to rasa). But I couldn't use the format: `/intent{"entity1": val1, "entity2"

[2020-05-19 18:51] ortsaCniveK commented on #5722
Based on #5822, it seems that only python 3.6 & 3.7 are supported currently

[2020-05-19 19:53] ortsaCniveK commented on #5822
@melindaloubser1 something I realized might be confusing is that the `README.md` has the 3.8 pin, but it's not fully compatible with that Python version.

Just as well in [`pyproject.toml`](https://github.com/RasaHQ/rasa/blob/563f06da7e5a84546c3e2bec661a28f4a3880fdd/pyproject.toml#L67) we might want to specify the compatible versions of Python (not just `python = ^3.6`, which in `poetry` [would in

[2020-05-19 20:20] Archish27 commented on #5845
Could you elaborate more on this. Also if there are more examples would be helpful. What does appearance depict? Is it duplication count of intents ?

Do we want something like this?
![image](https://user-images.githubusercontent.com/9930610/82374145-43892c80-9a3c-11ea-969a-a6d14d6a1acb.png)

[2020-05-19 21:05] Archish27 commented on #4441
@erohmensing I would like to work can you please assign to me?
Need reviews on PR - https://github.com/RasaHQ/rasa/pull/5857

[2020-05-19 22:10] melindaloubser1 commented on #5822
That's a good point!

[2020-05-20 00:24] Mazyod commented on #4623
Same Issue here, with training examples of about 34,000

[2020-05-20 00:25] robotmentor88 opened #5858 "ConveRTTokenizer and ConveRTFeaturizer not able to train"
**Rasa version**:
1.10.1

**Rasa SDK version** (if used & relevant):
 1.10.1

**Rasa X version** (if used & relevant):

**Python version**:
3.7.3

**Operating system** (windows, osx, ...):
OSX
**Issue**:
Not able to train ConveRTTokenizer and ConveRTFeaturizer recommended pipeline.
It first said that tensorflow_text was missing. Installed tensorflow_text using command:
pip install --no-deps tensor

[2020-05-20 00:44] gonhonoria commented on #5842
i have the same issue
Rasa SDK version (if used & relevant):1.10

Rasa X version (if used & relevant):28.3

Python version:3.6

Operating system (windows, osx, ...):Ubuntu 18.4

[2020-05-20 05:08] Archish27 commented on #5385
@akelad  setting from `kwargs["stacklevel"] = 3` to `kwargs["stacklevel"] = 2` in `rasa/utils/common.py`
Should I raise PR for this ?

[2020-05-20 05:21] robotmentor88 commented on #5858
It was a Mac upgrade issue. Upgraded to latest OS version and it is fine now.

[2020-05-20 05:21] #5858 closed

[2020-05-20 05:54] Archish27 commented on #5385
Please review - https://github.com/RasaHQ/rasa/pull/5861/

[2020-05-20 07:02] TyDunn commented on #5845
@Archish27 I updated the description with more information. I am not sure what the end-to-end test stories for that assistant look like, so it's hard to tell. However, I am guessing you would want to output each intent with its count separately all at once in the end. Before you get too far implementing, maybe you can share a plan with us to make sure we are aligned?

[2020-05-20 07:09] Asma-droid opened #5862 "An error when taraining a model with rasa 1.10.0"
Hi all,

I try to use http API in order to train a rasa model with rasa version 1.10.0.

The training process has given an error. I think that's an error of timeout. Below the given error in the server side and the client side.

******Server**********
rasa             | Your Rasa model is trained and saved at '/app/models/20200519-140657.tar.gz'.
rasa             | Nothing changed. You can use the

[2020-05-20 08:56] Ghostvv commented on #5852
what do you mean about new format? I'm not sure, it could be smth with the encoding of stories files

[2020-05-20 09:22] sara-tagger commented on #5862
Thanks for the issue, @JustinaPetr will get back to you about it soon!

###### You may find help in the [docs](https://rasa.com/docs/) and the [forum,](https://forum.rasa.com/) too 🤗

[2020-05-20 09:26] petasis opened #5864 "Problem with Telegram channel"
**Rasa version**:
Rasa 1.10.0
**Rasa SDK version** (if used & relevant):
rasa-sdk:1.10.0
**Rasa X version** (if used & relevant):

**Python version**:
Python 3.7.7
**Operating system** (windows, osx, ...):
Linux
**Issue**:

I am getting multiple errors like below, and I notice unstable behaviour in the telegram client. Most of the times I get responses, but other times I get no responses, or mixed

[2020-05-20 09:58] manoj2270 commented on #5582
Hi, am also facing the same issue. is there any solution for this?
my rasa-x logs:

rasa-production_1  | Starting Rasa X in production mode... 🚀
rasa-production_1  | Could not fetch runtime config from server at 'http://rasa-x:5002/api/config?token=OIMZ9HoySJ+E0yNxFgjmkw=='. Exiting.
rasa-worker_1      | Starting Rasa X in production mode... 🚀
rasa-worker_1      | Could not fetch runtime config fr